

<style>
    .DetalheCTe {
        margin-bottom: 5px !important;
        width: 95%;
        margin-left: 10px;
        height: 18px;
        overflow: hidden;
    }
</style>
<div id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Documentos</li>
        <li class="breadcrumb-item active"> Controle Documento</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Controle de Documentos
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(1106)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaControleDocumento">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bs-toggle="collapse" data-bs-target="#container-pesquisa-gestao-documento" aria-expanded="true" aria-controls="container-pesquisa-gestao-documento">
                        <i class="fal fa-filter"></i> <span>Pesquisar Documentos</span>
                    </button>

                    <div class="collapse show" id="container-pesquisa-gestao-documento">
                        <div class="mt-3">
                            <form>
                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: NumeroDocumento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Serie.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Serie.text, attr: { for: Serie.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Serie.requiredClass, value: Serie.val, valueUpdate: 'afterkeydown', attr: { maxlength: Serie.maxlength, id : Serie.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Irregularidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Irregularidade.text, attr: { for: Irregularidade.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Irregularidade.requiredClass, value: Irregularidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Irregularidade.maxlength, id : Irregularidade.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Irregularidade.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataGeracaoIrregularidadeInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataGeracaoIrregularidadeInicial.text"></label>
                                            <input type="text" class="form-control" data-bind="class: DataGeracaoIrregularidadeInicial.requiredClass, value: DataGeracaoIrregularidadeInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoIrregularidadeInicial.maxlength, id : DataGeracaoIrregularidadeInicial.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataGeracaoIrregularidadeFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataGeracaoIrregularidadeFinal.text"></label>
                                            <input type="text" class="form-control" data-bind="class: DataGeracaoIrregularidadeFinal.requiredClass, value: DataGeracaoIrregularidadeFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoIrregularidadeFinal.maxlength, id : DataGeracaoIrregularidadeFinal.id}" />
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                    <div class="row">
                                        <div class="col-12 col-md-4" data-bind="visible: ModeloDocumentoFiscal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text, attr: { for: ModeloDocumentoFiscal.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: ModeloDocumentoFiscal.requiredClass, value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumentoFiscal.maxlength, id : ModeloDocumentoFiscal.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: NotaFiscal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NotaFiscal.text"></label>
                                                <input type="text" class="form-control" data-bind="class: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: Portfolio.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Portfolio.text, attr: { for: Portfolio.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Portfolio.requiredClass, value: Portfolio.val, valueUpdate: 'afterkeydown', attr: { maxlength: Portfolio.maxlength, id : Portfolio.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Portfolio.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Setor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Usuario.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}" multiple="multiple"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-end">
                                <button class="btn btn-default ms-2 btnPesquisarFiltroPesquisa" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}, visible: BuscaAvancada.id">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                                <button class="btn btn-primary ms-2 btnPesquisarFiltroPesquisa" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>Documentos</h3>
                </div>
                <div class="panel-content">
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" id="grid-controle-documento" cellspacing="0"></table>
                    <div class="d-flex align-items-center justify-content-end">

                        <button type="button" data-bind="visible: Acoes.visible" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-themed mt-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-bind="text: Acoes.text"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" data-bind="click: Complemento.eventClick, visible: Complemento.visible, attr: { id: Complemento.id}" class="dropdown-item">
                                <i data-bind="css: Complemento.icon"></i>&nbsp;<span data-bind="text: Complemento.text"></span>
                            </a>
                            <a href="javascript:void(0);" data-bind="click: Desacordo.eventClick, visible: Desacordo.visible, attr: { id: Desacordo.id}" class="dropdown-item">
                                <i data-bind="css: Desacordo.icon"></i>&nbsp;<span data-bind="text: Desacordo.text"></span>
                            </a>
                            <a href="javascript:void(0);" data-bind="click: CartaCorrecao.eventClick, visible: CartaCorrecao.visible, attr: { id: CartaCorrecao.id}" class="dropdown-item">
                                <i data-bind="css: CartaCorrecao.icon"></i>&nbsp;<span data-bind="text: CartaCorrecao.text"></span>
                            </a>
                            <a href="javascript:void(0);" data-bind="click: SubstituirNFS.eventClick, visible: SubstituirNFS.visible, attr: { id: SubstituirNFS.id}" class="dropdown-item">
                                <i data-bind="css: SubstituirNFS.icon"></i>&nbsp;<span data-bind="text: SubstituirNFS.text"></span>
                            </a>

                            <a class="dropdown-item" href="#" data-bind="click: PagarConformeFRS.eventClick, visible: PagarConformeFRS.visible, attr: { id: PagarConformeFRS.id }, visible: PagarConformeFRS.visible">
                                <span data-bind="text: PagarConformeFRS.text"></span>
                            </a>

                            <a class="dropdown-item" href="#" data-bind="click: PagarConformeDocumento.eventClick,visible: PagarConformeDocumento.visible, attr: { id: PagarConformeDocumento.id }, visible: PagarConformeDocumento.visible">
                                <span data-bind="text: PagarConformeDocumento.text"></span>
                            </a>

                            <a class="dropdown-item" href="#" data-bind="click: PagarConformeOutroValor.eventClick,visible: PagarConformeOutroValor.visible, attr: { id: PagarConformeOutroValor.id }, visible: PagarConformeOutroValor.visible">
                                <span data-bind="text: PagarConformeOutroValor.text"></span>
                            </a>
                        </div>

                        <button type="button" data-bind="visible: Delegar.visible" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-themed mt-3 ms-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-bind="text: Delegar.text"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" data-bind="click: DelegarManual.eventClick, visible: DelegarManual.visible, attr: { id: DelegarManual.id}" class="dropdown-item">
                                <i data-bind="css: DelegarManual.icon"></i>&nbsp;<span data-bind="text: DelegarManual.text"></span>
                            </a>
                            <a href="javascript:void(0);" data-bind="click: DelegarAutomatico.eventClick, visible: DelegarAutomatico.visible, attr: { id: DelegarAutomatico.id}" class="dropdown-item">
                                <i data-bind="css: DelegarAutomatico.icon"></i>&nbsp;<span data-bind="text: DelegarAutomatico.text"></span>
                            </a>
                        </div>

                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (EnviarAoTransportador.visible())">
                            <button class="btn btn-default ms-2" type="button" data-bind="click: EnviarAoTransportador.eventClick, attr: { id: EnviarAoTransportador.id }, visible: EnviarAoTransportador.visible">
                                <span data-bind="text: EnviarAoTransportador.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (RetornarAoEmbarcador.visible())">
                            <button class="btn btn-default ms-2" type="button" data-bind="click: RetornarAoEmbarcador.eventClick, attr: { id: RetornarAoEmbarcador.id }, visible: RetornarAoEmbarcador.visible">
                                <span data-bind="text: RetornarAoEmbarcador.text"></span>
                            </button>
                        </div>

                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (InformarAnaliseSelecionados.visible())">
                            <button class="btn btn-default ms-2" type="button" data-bind="click: InformarAnaliseSelecionados.eventClick, attr: { id: InformarAnaliseSelecionados.id }, visible: InformarAnaliseSelecionados.visible">
                                <span data-bind="text: InformarAnaliseSelecionados.text"></span>
                            </button>
                        </div>

                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (InformarMotivoSelecionados.visible())">
                            <button class="btn btn-default ms-2" type="button" data-bind="click: InformarMotivoSelecionados.eventClick, attr: { id: InformarMotivoSelecionados.id }, visible: InformarMotivoSelecionados.visible">
                                <span data-bind="text: InformarMotivoSelecionados.text"></span>
                            </button>
                        </div>

                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (ParquearSelecionados.visible())">
                            <button class="btn btn-success ms-2" type="button" data-bind="click: ParquearSelecionados.eventClick, attr: { id: ParquearSelecionados.id }, visible: ParquearSelecionados.visible">
                                <span data-bind="text: ParquearSelecionados.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (DesparquearSelecionados.visible())">
                            <button class="btn btn-default ms-2" type="button" data-bind="click: DesparquearSelecionados.eventClick, attr: { id: DesparquearSelecionados.id }, visible: DesparquearSelecionados.visible">
                                <span data-bind="text: DesparquearSelecionados.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (AprovarSelecionados.visible())">
                            <button class="btn btn-success ms-2" type="button" data-bind="click: AprovarSelecionados.eventClick, attr: { id: AprovarSelecionados.id }, visible: AprovarSelecionados.visible">
                                <span data-bind="text: AprovarSelecionados.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end mt-3" data-bind="visible: (RejeitarSelecionados.visible())">
                            <button class="btn btn-danger ms-2" type="button" data-bind="click: RejeitarSelecionados.eventClick, attr: { id: RejeitarSelecionados.id }, visible: RejeitarSelecionados.visible">
                                <span data-bind="text: RejeitarSelecionados.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalheControleDocumento" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Documento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" id="knoutDetalheCTe">
                    <div data-bind="visible: ValorAReceber.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: ValorAReceber.text"></span></b><span data-bind="text: ValorAReceber.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: AliquotaICMS.text"></span></b><span data-bind="text: AliquotaICMS.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: BaseCalculoICMS.text"></span></b><span data-bind="text: BaseCalculoICMS.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: ValorICMS.text"></span></b><span data-bind="text: ValorICMS.val"></span></label>
                    </div>
                    <div data-bind="visible: (ValorFrete.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: ValorFrete.text"></span></b><span data-bind="text: ValorFrete.val"></span></label>
                    </div>
                    <div data-bind="visible: (CST.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: CST.text"></span></b><span data-bind="text: CST.val"></span></label>
                    </div>
                    <div data-bind="visible: (CFOP.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: CFOP.text"></span></b><span data-bind="text: CFOP.val"></span></label>
                    </div>
                    <div data-bind="visible: (Tomador.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Tomador.text"></span></b><span data-bind="text: Tomador.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Remetente.text"></span></b><span data-bind="text: Remetente.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Destinatario.text"></span></b><span data-bind="text: Destinatario.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Expedidor.text"></span></b><span data-bind="text: Expedidor.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Recebedor.text"></span></b><span data-bind="text: Recebedor.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Origem.text"></span></b><span data-bind="text: Origem.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Documentos.text"></span></b><span data-bind="text: Documentos.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: NumeroCTe.text"></span></b><span data-bind="text: NumeroCTe.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Destino.text"></span></b><span data-bind="text: Destino.val"></span></label>
                    </div>
                    <div data-bind="visible: (Emissor.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Emissor.text"></span></b><span data-bind="text: Emissor.val"></span></label>
                    </div>
                    <div data-bind="visible: (Rota.val() != '')" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                        <label><b><span data-bind="text: Rota.text"></span></b><span data-bind="text: Rota.val"></span></label>
                    </div>
                    <div data-bind="visible: (Complemento.val() != '')" class="col col-xs-12 margin-bottom-5">
                        <label><b><span data-bind="text: Complemento.text"></span></b><span data-bind="text: Complemento.val"></span></label>
                    </div>
                    <div data-bind="visible: (ComponentesFrete.val() != '')" class="col col-xs-12 margin-bottom-5">
                        <label><b><span data-bind="text: ComponentesFrete.text"></span></b><span data-bind="text: ComponentesFrete.val"></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalheParqueamento" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Parqueamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" id="knoutDetalheParqueamento">
                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }, enable: Motivo.enable"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: MotivoTransportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: MotivoTransportador.text, attr: { for: MotivoTransportador.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: MotivoTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoTransportador.maxlength, id : MotivoTransportador.id }, enable: MotivoTransportador.enable"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divModalParqueamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutMotivoParqueamentoControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Motivo do Parqueamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo .visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mb-3">
                    <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: ParquearComMotivo.eventClick, visible: ParquearComMotivo.visible, text: ParquearComMotivo.text, attr: { id : ParquearComMotivo.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalAprovacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutMotivoAprovacaoControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aprovar Documentos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: AprovarDocumentos.eventClick, visible: AprovarDocumentos.visible, text: AprovarDocumentos.text, attr: { id : AprovarDocumentos.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divModalRejeicao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutMotivoRejeicaoControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar Documentos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger" data-loading-text="Aguarde..." data-bind="click: RejeitarDocumentos.eventClick, visible: RejeitarDocumentos.visible, text: RejeitarDocumentos.text, attr: { id : RejeitarDocumentos.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalInformarAnalise" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInformarAnaliseControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Análise dos documentos selecionados</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', enable: Motivo.enable, attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-default" data-loading-text="Aguarde..." data-bind="click: AnalisarDocumentos.eventClick, visible: AnalisarDocumentos.visible, text: AnalisarDocumentos.text, attr: { id : AnalisarDocumentos.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalInformarMotivo" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInformarMotivoControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informar Motivo de Irregularidade</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-default" data-loading-text="Aguarde..." data-bind="click: InformarMotivoDocumentos.eventClick, visible: InformarMotivoDocumentos.visible, text: InformarMotivoDocumentos.text, attr: { id : InformarMotivoDocumentos.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalInformarRejeicaoCCe" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInformarRejeicaoCCe" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Motivo Rejeição Carta de Correção</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', enable: Motivo.enable, attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger" data-loading-text="Aguarde..." data-bind="click: RejeitarCCe.eventClick, visible: RejeitarCCe.visible, text: RejeitarCCe.text, attr: { id : RejeitarCCe.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDelegar" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDelegarControleDocumento" class="modal-dialog modal-mg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Setor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-default" data-loading-text="Aguarde..." data-bind="click: Delegar.eventClick, visible: Delegar.visible, text: Delegar.text, attr: { id : Delegar.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDetalhesCarga" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="fdsCarga"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalAnexosCartaCorrecao" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anexos carta correção</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutAnexosCartaCorrecao">
                <form class="mb-3" data-bind="visible: CartaCorrecaoAnexos.visible">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                            <label class="form-label" data-bind="text: Arquivo.text"></label>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" name="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.pdf,.xls,.xlsx,.doc,.docx" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                                <label data-bind="text: NomeArquivo.val, attr: { for: Arquivo.id }" class="custom-file-label"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                            </div>
                        </div>
                    </div>
                </form>
                <h4>@Localization.Resources.Gerais.Geral.ArquivosAnexados</h4>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : CartaCorrecaoAnexos.idGrid}"></table>
            </div>
        </div>
    </div>
</div>


<div id="divModalVisualizarHistoricoIrregularidade" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Historico Irregularidade</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutHistoricoIrregularidade">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" data-bind="attr: {id: Grid.idGrid}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalObservacaoIrregularidade" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Observação</h4>
            </div>
            <div class="modal-body" id="observacaoIrregularidade">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger" type="button" onclick="fecharModalObservacao()">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>


<div id="divModalLinkarDocumento" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pré-CTes Para Link</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" data-bind="attr: {id: Grid.idGrid}"></table>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Linkar.eventClick, visible: Linkar.visible, text: Linkar.text, attr: { id : Linkar.id}"></button>
            </div>
        </div>
    </div>
</div>

<div id="divModalLinkarDocumento" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pré-CTes Para Link</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="observacaoIrregularidade">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divPaiModalDetalheGestaoDocumentoAprovacao">

</div>

<div id="divModalOcorrencia" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ocorrência</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="divControleSaldo">

                    </div>
                    <div id="conteudoOcorrencia">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModaisCarga"></div>

<div id="modaisOcorrencia"></div>

<div id="divModalOutroValor" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informar Valor a Pagar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row" id="koutModalOutroValorInformar">
                <div class="col-12" data-bind="visible: Valor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Pagar.eventClick,visible: Pagar.visible, text: Pagar.text, attr: { id : Pagar.id}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCienteParqueamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="" class="modal-dialog modal-lg modal-dialog-centered text-justify">
        <div class="modal-content text-align-center">
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="">
                    <div class="form-group">
                        <h5><label class="form-label" data-bind="text: MensagemCabecalho.text, attr: { for: MensagemCabecalho.id }"></label></h5>
                        <label id="idAcoesNFS" class="form-label" ></label>
                    </div>
                </div>

                <div class="">
                    <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Ciente.eventClick, visible: Ciente.visible, text: Ciente.text, attr: { id : Ciente.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/controleDocumento"></script>
<script src="~/scripts/cte"></script>
<script src="~/scripts/cartaCorrecao"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/dropzone"></script>
<script src="~/scripts/ocorrencia"></script>
<script src="~/scripts/controleSaldo"></script>



<script type="text/javascript">
    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);
    _InformacoesUsuario = @Html.Raw(ViewBag.InformacoesUsuario);

    $(document).ready(function () {
        LoadLocalizationResources(["Cargas.ControleEntrega", "Cargas.Carga", "Cargas.MonitoramentoHistorico", "Chamado.ChamadoOcorrencia", "Ocorrencias.Ocorrencia"]).then(loadControleDocumento);
    });
</script>