

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Documentos</li>
        <li class="breadcrumb-item active">Documentação AFRMM</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i> Gerar Documentação AFRMM
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div >
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>Geração de Documentação AFRMM</h2>
                </div>
                <div class="panel-content">
                    <form id="knockoutSelecaoCarga">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroControle.text, attr: { for: NumeroControle.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroControle.requiredClass, value: NumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControle.maxlength, id : NumeroControle.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PedidoViagemDirecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DescargaPODInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DescargaPODInicial.text, attr: { for: DescargaPODInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DescargaPODInicial.requiredClass, value: DescargaPODInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescargaPODInicial.maxlength, id : DescargaPODInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DescargaPODFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DescargaPODFinal.text, attr: { for: DescargaPODFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DescargaPODFinal.requiredClass, value: DescargaPODFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescargaPODFinal.maxlength, id : DescargaPODFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: EnvioDocInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EnvioDocInicial.text, attr: { for: EnvioDocInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: EnvioDocInicial.requiredClass, value: EnvioDocInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: EnvioDocInicial.maxlength, id : EnvioDocInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: EnvioDocFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EnvioDocFinal.text, attr: { for: EnvioDocFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: EnvioDocFinal.requiredClass, value: EnvioDocFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: EnvioDocFinal.maxlength, id : EnvioDocFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PortoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PortoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoEnvioDocumentacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoEnvioDocumentacao.text, attr: { for: SituacaoEnvioDocumentacao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoEnvioDocumentacao.requiredClass, options: SituacaoEnvioDocumentacao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoEnvioDocumentacao.val, attr: { maxlength: SituacaoEnvioDocumentacao.maxlength, id : SituacaoEnvioDocumentacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoServico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                    <select class="form-control" data-bind="class: TipoServico.requiredClass, options: TipoServico.options, optionsText: 'text', optionsValue: 'value', value: TipoServico.val, attr: { maxlength: TipoServico.maxlength, id : TipoServico.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifesto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifesto.text, attr: { for: NumeroManifesto.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroManifesto.requiredClass, value: NumeroManifesto.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifesto.maxlength, id : NumeroManifesto.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifestoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifestoTransbordo.text, attr: { for: NumeroManifestoTransbordo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroManifestoTransbordo.requiredClass, value: NumeroManifestoTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifestoTransbordo.maxlength, id : NumeroManifestoTransbordo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroCEMercante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCEMercante.text, attr: { for: NumeroCEMercante.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCEMercante.requiredClass, value: NumeroCEMercante.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCEMercante.maxlength, id : NumeroCEMercante.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2 mt-5">
                                <button class="btn btn-primary" type="button" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                            <div class="d-flex justify-content-end mb-2">
                                <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: Conhecimentos.enable, attr: { id: Conhecimentos.idGrid}" cellspacing="0"></table>

                            <div class="col-12 col-md-8">
                                <div data-bind="visible: EmailEnvio.visible">
                                    <label class="label"><b data-bind="text: EmailEnvio.text"></b></label>
                                    <div class="input-group mb-3 mt-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" data-bind="attr: { class: InformarEmailEnvio.requiredClass}">
                                                <input type="checkbox" data-bind="checked: InformarEmailEnvio.val, enable: InformarEmailEnvio.enable, attr: { maxlength: InformarEmailEnvio.maxlength, name: InformarEmailEnvio.id, id: InformarEmailEnvio.id }">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" data-bind="class: EmailEnvio.requiredClass, value: EmailEnvio.val, enable: EmailEnvio.enable, attr: { maxlength: EmailEnvio.maxlength, id : EmailEnvio.id} ">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex justify-content-between mt-3" id="knockoutCRUDDocumentacaoAFRMM">
                        <div class="d-flex">

                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-warning  me-2" type="button" data-bind="click: EnviarPorEmail.eventClick, attr: { id: EnviarPorEmail.id }, visible: EnviarPorEmail.visible">
                                <span data-bind="text: EnviarPorEmail.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: EnviarParaFTP.eventClick, attr: { id: EnviarParaFTP.id }, visible: EnviarParaFTP.visible">
                                <span data-bind="text: EnviarParaFTP.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/documentacaoAFRMM"></script>
<script type="text/javascript">
    pageSetUp();
    $(document).ready(function () {
        loadDocumentacaoAFRMM();
    });

</script>

