
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Documentos </li>
    <li class="breadcrumb-item active">Gestão Notas Fiscais</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Gestão de Notas Fiscais
    </h1>
</div>


<div class="panel"  id="knockoutPesquisaGestaoNotasFiscais">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Pesquisar Notas Fiscais
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Numero.requiredClass,value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Serie.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Serie.text, attr: { for: Serie.id }"></label>
                            <input type="text" class="form-control" data-bind="value: Serie.val, valueUpdate: 'afterkeydown', attr: { maxlength: Serie.maxlength, id : Serie.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataEmissaoNotaFiscalInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoNotaFiscalInicial.text, attr: { for: DataEmissaoNotaFiscalInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataEmissaoNotaFiscalInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoNotaFiscalInicial.maxlength, id : DataEmissaoNotaFiscalInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataEmissaoNotaFiscalFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoNotaFiscalFinal.text, attr: { for: DataEmissaoNotaFiscalFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataEmissaoNotaFiscalFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoNotaFiscalFinal.maxlength, id : DataEmissaoNotaFiscalFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Emitente.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Emitente.text, attr: { for: Emitente.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Emitente.requiredClass, value: Emitente.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Emitente.text, maxlength: Emitente.maxlength, id: Emitente.id, name: Emitente.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Emitente.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row" data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoCTeInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoCTeInicial.text, attr: { for: DataEmissaoCTeInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoCTeInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCTeInicial.maxlength, id : DataEmissaoCTeInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoCTeFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoCTeFinal.text, attr: { for: DataEmissaoCTeFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoCTeFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCTeFinal.maxlength, id : DataEmissaoCTeFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoCargaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoCargaInicial.text, attr: { for: DataEmissaoCargaInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoCargaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCargaInicial.maxlength, id : DataEmissaoCargaInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoCargaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoCargaFinal.text, attr: { for: DataEmissaoCargaFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoCargaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCargaFinal.maxlength, id : DataEmissaoCargaFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: CTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CTe.text, attr: { for: CTe.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: CTe.requiredClass, value: CTe.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CTe.text, maxlength: CTe.maxlength, id: CTe.id, name: CTe.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CTe.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Carga.text, maxlength: Carga.maxlength, id: Carga.id, name: Carga.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Carga.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Produto.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Veiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: PossuiCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PossuiCTe.text, attr: { for: PossuiCTe.id }"></label>
                                <select class="form-control" data-bind="options: PossuiCTe.options, optionsText: 'text', optionsValue: 'value', value: PossuiCTe.val, attr: { id : PossuiCTe.id}"></select>
                            </div>
                        </div>
                    </div>

                
            
            <div class="d-flex align-items-center justify-content-end mb-3">
                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa mx-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}, visible: BuscaAvancada.id" type="button">
                    <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                </button>
                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                </button>
            </div>
            </form>
        <table width="100%" class="table table-bordered table-condensed table-hover" style="font-size: 12px;" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
        </div>
    </div>
</div>



<script src="~/scripts/gestaoNotasFiscais"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        LoadGestaoNotasFiscais();
    });
</script>

