@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">{Localize::Relatorios.Veiculos.Veiculo.DescricaoRelatorios}</li>
        <li class="breadcrumb-item">{Localize::Relatorios.Veiculos.Veiculo.Logistica}</li>
        <li class="breadcrumb-item active">{Localize::Relatorios.Veiculos.Veiculo.DescricaoVeiculos}</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-truck"></i> {Localize::Relatorios.Veiculos.Veiculo.DescricaoRelatoriosDeVeiculos}
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    {Localize::Relatorios.Veiculos.Veiculo.DescricaoRelatorios}
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaVeiculo">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Placa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Placa.text, attr: { for: Placa.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Placa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoVeiculo.text, attr: { for: TipoVeiculo.id }"></label>
                                    <select class="form-control" data-bind="options: TipoVeiculo.options, optionsText: 'text', optionsValue: 'value', value: TipoVeiculo.val, attr: { id : TipoVeiculo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Proprietario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Proprietario.text, attr: { for: Proprietario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Proprietario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Proprietario.maxlength, id : Proprietario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Proprietario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Segmento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Segmento.text, attr: { for: Segmento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Segmento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Segmento.maxlength, id : Segmento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Segmento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Chassi.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Chassi.text, attr: { for: Chassi.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Chassi.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chassi.maxlength, id : Chassi.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FuncionarioResponsavel.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioResponsavel.text, attr: { for: FuncionarioResponsavel.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: FuncionarioResponsavel.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioResponsavel.maxlength, id : FuncionarioResponsavel.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioResponsavel.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PossuiVinculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiVinculo.text, attr: { for: PossuiVinculo.id }"></label>
                                    <select class="form-control" data-bind="class: PossuiVinculo.requiredClass, options: PossuiVinculo.options, optionsText: 'text', optionsValue: 'value', value: PossuiVinculo.val, attr: { maxlength: PossuiVinculo.maxlength, id : PossuiVinculo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeicularCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Bloqueado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Bloqueado.text, attr: { for: Bloqueado.id }"></label>
                                    <select class="form-control" data-bind="options: Bloqueado.options, optionsText: 'text', optionsValue: 'value', value: Bloqueado.val, enable: Bloqueado.enable,  attr: { id : Bloqueado.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed botaoBusca2" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: MarcaVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MarcaVeiculo.text, attr: { for: MarcaVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: MarcaVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaVeiculo.maxlength, id : MarcaVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeiculo.text, attr: { for: ModeloVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ModeloVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ContratoFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ContratoFrete.text, attr: { for: ContratoFrete.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ContratoFrete.requiredClass, value: ContratoFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoFrete.maxlength, id : ContratoFrete.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCadastroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCadastroInicial.text, attr: { for: DataCadastroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCadastroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCadastroInicial.maxlength, id : DataCadastroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCadastroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCadastroFinal.text, attr: { for: DataCadastroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCadastroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCadastroFinal.maxlength, id : DataCadastroFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoInicial.text, attr: { for: DataCriacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoInicial.requiredClass, value: DataCriacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoInicial.maxlength, id : DataCriacaoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoFinal.text, attr: { for: DataCriacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoFinal.requiredClass, value: DataCriacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoFinal.maxlength, id : DataCriacaoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: TagSemParar.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TagSemParar.text, attr: { for: TagSemParar.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: TagSemParar.val, valueUpdate: 'afterkeydown', attr: { maxlength: TagSemParar.maxlength, id : TagSemParar.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2 d-flex align-items-center" data-bind="visible: VeiculoPossuiTagValePedagio.visible">
                                <div class="form-group mb-0 mt-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: VeiculoPossuiTagValePedagio.val, valueUpdate: 'afterkeydown', attr: { name: VeiculoPossuiTagValePedagio.id, id : VeiculoPossuiTagValePedagio.id}" />
                                        <label class="custom-control-label" data-bind="text: VeiculoPossuiTagValePedagio.text, attr: { for: VeiculoPossuiTagValePedagio.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Locador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Locador.text, attr: { for: Locador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Locador.requiredClass, value: Locador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Locador.maxlength, id : Locador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Locador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-2">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-6 col-sm mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaVeiculo" class="col-6 col-sm d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary me-2 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaVeiculo" class="d-flex justify-content-center justify-content-md-end mt-2">
                    <button class="btn btn-success me-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/relatorioVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Relatorios.Veiculos.Veiculo").then(LoadVeiculo);
    });

</script>
