
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">PedidosVendas</li>
        <li class="breadcrumb-item active">OrdemServicoVenda</li>
    </ol>
    <div class="subheader">
        <div class="subheader">
            <h1 class="subheader-title">
                Ordem Serviço
            </h1>
            <div class="subheader-help">
                <button type="button" onclick="iniciarAjuda(1831)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="knockoutPesquisaOrdemServicoVenda" class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                            <i class="fal fa-search"></i> Pesquisar Ordens de Serviço
                        </button>
                        <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroInicial.requiredClass, value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroFinal.requiredClass, value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                        <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Funcionario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                    <div class="row">
                                        <div class="col-12 col-md-2" data-bind="visible: NumeroInternoInicial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroInternoInicial.text, attr: { for: NumeroInternoInicial.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroInternoInicial.requiredClass, value: NumeroInternoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInternoInicial.maxlength, id : NumeroInternoInicial.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: NumeroInternoFinal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroInternoFinal.text, attr: { for: NumeroInternoFinal.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroInternoFinal.requiredClass, value: NumeroInternoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInternoFinal.maxlength, id : NumeroInternoFinal.id}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-end mb-3 ">
                                <button class="btn btn-primary ms-2 " type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}, visible: BuscaAvancada.visible">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i>&nbsp;<span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                                <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </footer>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Cadastro de Ordem de Serviço
                    </h3>
                </div>
                <div id="knockoutEtapaOrdemServicoVenda" class="row">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#tab1" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#tab2" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-wrench"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                        <li data-target="#step3" data-bind="visible : Etapa3.visible">
                            <button data-bs-target="#tab3" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-handshake"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa3.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <div class="card mb-3" id="knockoutOrdemServicoVenda">
                            <div class="card-header">
                                <h3 class="card-title"> Ordem de Serviço</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Numero.requiredClass, enable: Numero.enable, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: NumeroInterno.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroInterno.text, attr: { for: NumeroInterno.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroInterno.requiredClass, enable: NumeroInterno.enable, value: NumeroInterno.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInterno.maxlength, id : NumeroInterno.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataEmissao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataEmissao.text, attr: { for: DataEmissao.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataEmissao.requiredClass, enable: DataEmissao.enable, value: DataEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataEntrega.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataEntrega.text, attr: { for: DataEntrega.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataEntrega.requiredClass, enable: DataEntrega.enable, value: DataEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEntrega.maxlength, id : DataEntrega.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                            <select class="form-control" data-bind="class: Status.requiredClass, enable: Status.enable, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Funcionario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Funcionario.enable,css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Funcionario.enable,attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Pessoa.enable,css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Pessoa.enable,attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Veiculo.enable,css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Veiculo.enable,attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: FuncionarioSolicitante.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: FuncionarioSolicitante.text, attr: { for: FuncionarioSolicitante.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: FuncionarioSolicitante.enable,css: FuncionarioSolicitante.requiredClass, value: FuncionarioSolicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioSolicitante.maxlength, id : FuncionarioSolicitante.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: FuncionarioSolicitante.enable,attr: { id: FuncionarioSolicitante.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: PessoaSolicitante.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PessoaSolicitante.text, attr: { for: PessoaSolicitante.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: PessoaSolicitante.enable,class: PessoaSolicitante.requiredClass, value: PessoaSolicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaSolicitante.maxlength, id : PessoaSolicitante.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: KM.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: KM.text, attr: { for: KM.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: KM.enable,class: KM.requiredClass, value: KM.val, valueUpdate: 'afterkeydown', attr: { maxlength: KM.maxlength, id : KM.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Empresa.enable,css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Empresa.enable,attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Referencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Referencia.text, attr: { for: Referencia.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: Referencia.enable,class: Referencia.requiredClass, value: Referencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Referencia.maxlength, id : Referencia.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="enable: Observacao.enable,value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorProdutos.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorProdutos.text, attr: { for: ValorProdutos.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorProdutos.val, enable: ValorProdutos.enable, attr: { maxlength: ValorProdutos.maxlength, id : ValorProdutos.id} , valueUpdate: 'afterkeydown'" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorServicos.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorServicos.text, attr: { for: ValorServicos.id }"></label>
                                            <input type="text" class="form-control " data-bind="value: ValorServicos.val, enable: ValorServicos.enable, attr: { maxlength: ValorServicos.maxlength, id : ValorServicos.id} , valueUpdate: 'afterkeydown'" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorTotal.val, enable: ValorTotal.enable, attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id} , valueUpdate: 'afterkeydown'" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorDesconto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorDesconto.text, attr: { for: ValorDesconto.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: ValorDesconto.enable,class: ValorDesconto.requiredClass, value: ValorDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDesconto.maxlength, id : ValorDesconto.id}, event : {blur : RatearValorDescontoAosItens}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: PercentualDesconto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PercentualDesconto.text, attr: { for: PercentualDesconto.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: PercentualDesconto.enable,class: PercentualDesconto.requiredClass, value: PercentualDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualDesconto.maxlength, id : PercentualDesconto.id}, event : {blur : RatearPercentualDescontoAosItens}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-end mb-3 ms-1">
                                <button type="button" class="btn btn-labeled btn-default mx-2" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">
                                    <i class="fal fa-eraser "></i><span data-bind="text: Limpar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success mx-2" data-bind="click: Gravar.eventClick, visible: Gravar.visible, attr: { id : Gravar.id}">
                                    <i class="fal fa-save "></i><span data-bind="text: Gravar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-warning mx-3" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { id : Finalizar.id}">
                                    <i class="fal fa-check "></i><span data-bind="text: Finalizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-times "></i><span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-light mx-3" data-bind="click: EnviarEmail.eventClick, visible: EnviarEmail.visible, attr: { id : EnviarEmail.id}">
                                    <i class="fal fa-mail-bulk "></i><span data-bind="text: EnviarEmail.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-light mx-3" data-bind="click: Imprimir.eventClick, visible: Imprimir.visible, attr: { id : Imprimir.id}">
                                    <i class="fal fa-print "></i><span data-bind="text: Imprimir.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="card mb-3" id="knockoutPecasOrdemServico">
                            <div class="card-header">
                                <h3 class="card-title">Peças</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: Produto.visible" id="divSelecaoProduto">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Produto.enable,css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Produto.enable,attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: CodigoItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoItem.text, attr: { for: CodigoItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: CodigoItem.enable,class: CodigoItem.requiredClass, value: CodigoItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoItem.maxlength, id : CodigoItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DescricaoItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoItem.text, attr: { for: DescricaoItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: DescricaoItem.enable,class: DescricaoItem.requiredClass, value: DescricaoItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoItem.maxlength, id : DescricaoItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: Quantidade.enable,value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}, event : {blur : CalcularTotalItem}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorUnitario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: ValorUnitario.enable,value: ValorUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}, event : {blur : CalcularTotalItem}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotalItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotalItem.text, attr: { for: ValorTotalItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: ValorTotalItem.enable,value: ValorTotalItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalItem.maxlength, id : ValorTotalItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 align-self-center" data-bind="visible: SalvarItem.visible">
                                        <button data-bind="enable: SalvarItem.enable,click: SalvarItem.eventClick, attr: { id: SalvarItem.id}, enable: SalvarItem.enable, visible: SalvarItem.visible" class="btn btn-labeled btn-success" type="button">
                                            <i class="fal fa-save"></i>  <span data-bind="text: SalvarItem.text"></span>
                                        </button>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: PecasOrdemServicoVenda.id}, enable: PecasOrdemServicoVenda.enable" cellspacing="0"></table>
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: ValorProdutos.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorProdutos.text, attr: { for: ValorProdutos.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorProdutos.requiredClass, enable: ValorProdutos.enable, value: ValorProdutos.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorProdutos.maxlength, id : ValorProdutos.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorTotal.requiredClass,  enable: ValorTotal.enable, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-end  align-items-center">
                                <button data-bind="click: Gravar.eventClick, attr: { id: Gravar.id}, enable: Gravar.enable, visible: Gravar.visible" class="btn btn-labeled btn-success mb-3 mx-3" type="button">
                                    <i class="fal fa-save "></i><span data-bind="text: Gravar.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="card mb-3" id="knockoutMaoObraOrdemServico">
                            <div class="card-header">
                                <h3 class="card-title">Mão de Obra</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-10" data-bind="visible: Servico.visible" id="divSelecaoServico">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Servico.text, attr: { for: Servico.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Servico.enable,css: Servico.requiredClass, value: Servico.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servico.maxlength, id : Servico.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Servico.enable,attr: { id: Servico.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoServico.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                            <select class="form-control" data-bind="enable: TipoServico.enable,class: TipoServico.requiredClass, options: TipoServico.options, optionsText: 'text', optionsValue: 'value', value: TipoServico.val, attr: { maxlength: TipoServico.maxlength, id : TipoServico.id}, event : {change : TipoServico.eventChange}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: CodigoItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoItem.text, attr: { for: CodigoItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: CodigoItem.enable,class: CodigoItem.requiredClass, value: CodigoItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoItem.maxlength, id : CodigoItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: DescricaoItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoItem.text, attr: { for: DescricaoItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: DescricaoItem.enable,class: DescricaoItem.requiredClass, value: DescricaoItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoItem.maxlength, id : DescricaoItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Funcionario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Funcionario.enable,css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Funcionario.enable,attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Pessoa.enable,css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Pessoa.enable,attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: FuncionarioAuxiliar.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: FuncionarioAuxiliar.text, attr: { for: FuncionarioAuxiliar.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: FuncionarioAuxiliar.enable,css: FuncionarioAuxiliar.requiredClass, value: FuncionarioAuxiliar.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioAuxiliar.maxlength, id : FuncionarioAuxiliar.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: FuncionarioAuxiliar.enable,attr: { id: FuncionarioAuxiliar.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoOrdemServicoVenda.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoOrdemServicoVenda.text, attr: { for: TipoOrdemServicoVenda.id }"></label>
                                            <select class="form-control" data-bind="enable: TipoOrdemServicoVenda.enable, class: TipoOrdemServicoVenda.requiredClass, options: TipoOrdemServicoVenda.options, optionsText: 'text', optionsValue: 'value', value: TipoOrdemServicoVenda.val, attr: { maxlength: TipoOrdemServicoVenda.maxlength, id : TipoOrdemServicoVenda.id}"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="liTabelaValor" style="display: none">
                                    <div class="col-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h4>
                                                    Tabela de Valores
                                                </h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 col-md-2" data-bind="visible: KMInicial.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMInicial.text, attr: { for: KMInicial.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMInicial.enable,class: KMInicial.requiredClass, value: KMInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMInicial.maxlength, id : KMInicial.id}, event : {blur : CalcularTotalKMMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: KMFinal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMFinal.text, attr: { for: KMFinal.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMFinal.enable,class: KMFinal.requiredClass, value: KMFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMFinal.maxlength, id : KMFinal.id}, event : {blur : CalcularTotalKMMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: KMInicial2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMInicial2.text, attr: { for: KMInicial2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMInicial2.enable,class: KMInicial2.requiredClass, value: KMInicial2.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMInicial2.maxlength, id : KMInicial2.id}, event : {blur : CalcularTotalKMMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: KMFinal2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMFinal2.text, attr: { for: KMFinal2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMFinal2.enable,class: KMFinal2.requiredClass, value: KMFinal2.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMFinal2.maxlength, id : KMFinal2.id}, event : {blur : CalcularTotalKMMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: KMTotal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMTotal.text, attr: { for: KMTotal.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMTotal.enable,class: KMTotal.requiredClass, value: KMTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMTotal.maxlength, id : KMTotal.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: ValorKM.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ValorKM.text, attr: { for: ValorKM.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: ValorKM.enable,class: ValorKM.requiredClass, value: ValorKM.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorKM.maxlength, id : ValorKM.id}, event : {blur : CalcularTotalKMMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraInicial.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraInicial.text, attr: { for: HoraInicial.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraInicial.enable,class: HoraInicial.requiredClass, value: HoraInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicial.maxlength, id : HoraInicial.id}, event : {blur : CalcularTotalHoraMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraFinal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraFinal.text, attr: { for: HoraFinal.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraFinal.enable,class: HoraFinal.requiredClass, value: HoraFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraFinal.maxlength, id : HoraFinal.id}, event : {blur : CalcularTotalHoraMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraInicial2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraInicial2.text, attr: { for: HoraInicial2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraInicial2.enable,class: HoraInicial2.requiredClass, value: HoraInicial2.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicial2.maxlength, id : HoraInicial2.id}, event : {blur : CalcularTotalHoraMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraFinal2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraFinal2.text, attr: { for: HoraFinal2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraFinal2.enable,class: HoraFinal2.requiredClass, value: HoraFinal2.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraFinal2.maxlength, id : HoraFinal2.id}, event : {blur : CalcularTotalHoraMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraTotal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraTotal.text, attr: { for: HoraTotal.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraTotal.enable,class: HoraTotal.requiredClass, value: HoraTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraTotal.maxlength, id : HoraTotal.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: HoraTotal2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: HoraTotal2.text, attr: { for: HoraTotal2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: HoraTotal2.enable,class: HoraTotal2.requiredClass, value: HoraTotal2.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraTotal2.maxlength, id : HoraTotal2.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: ValorHora.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ValorHora.text, attr: { for: ValorHora.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: ValorHora.enable,class: ValorHora.requiredClass, value: ValorHora.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorHora.maxlength, id : ValorHora.id}, event : {blur : CalcularTotalHoraMaoObra}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotalHora.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ValorTotalHora.text, attr: { for: ValorTotalHora.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: ValorTotalHora.enable,class: ValorTotalHora.requiredClass, value: ValorTotalHora.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalHora.maxlength, id : ValorTotalHora.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotalKM.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ValorTotalKM.text, attr: { for: ValorTotalKM.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: ValorTotalKM.enable,class: ValorTotalKM.requiredClass, value: ValorTotalKM.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalKM.maxlength, id : ValorTotalKM.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2" data-bind="visible: KMTotal2.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: KMTotal2.text, attr: { for: KMTotal2.id }"></label>
                                                            <input type="text" class="form-control" data-bind="enable: KMTotal2.enable,class: KMTotal2.requiredClass, value: KMTotal2.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMTotal2.maxlength, id : KMTotal2.id}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-2" data-bind="visible: HoraTotalUnidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: HoraTotalUnidade.text, attr: { for: HoraTotalUnidade.id }"></label>
                                            <input type="text" class="form-control" data-bind=" value: HoraTotalUnidade.val, enable: HoraTotalUnidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: HoraTotalUnidade.maxlength, id : HoraTotalUnidade.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: KMTotalUnidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: KMTotalUnidade.text, attr: { for: KMTotalUnidade.id }"></label>
                                            <input type="text" class="form-control" data-bind=" value: KMTotalUnidade.val, enable: KMTotalUnidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: KMTotalUnidade.maxlength, id : KMTotalUnidade.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                            <input type="text" class="form-control" data-bind=" value: Quantidade.val, enable: Quantidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}, event : {blur : CalcularTotalMaoObra}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorUnitario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                                            <input type="text" class="form-control" data-bind=" value: ValorUnitario.val, enable: ValorUnitario.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}, event : {blur : CalcularTotalMaoObra}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotalItem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotalItem.text, attr: { for: ValorTotalItem.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorTotalItem.val, enable: ValorTotalItem.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalItem.maxlength, id : ValorTotalItem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 align-self-center" data-bind="visible: SalvarItem.visible" style="margin-top: 14px">
                                        <button data-bind="click: SalvarItem.eventClick, attr: { id: SalvarItem.id}, enable: SalvarItem.enable, visible: SalvarItem.visible" class="btn btn-labeled btn-success" type="button">
                                            <i class="fal fa-save"></i><span data-bind="text: SalvarItem.text"></span>
                                        </button>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: MaoObraOrdemServicoVenda.id}, enable: MaoObraOrdemServicoVenda.enable" cellspacing="0"></table>
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: ValorServicos.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorServicos.text, attr: { for: ValorServicos.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorServicos.requiredClass, enable: ValorServicos.enable, value: ValorServicos.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorServicos.maxlength, id : ValorServicos.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ValorTotal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorTotal.requiredClass,enable: ValorTotal.enable, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                                        </div>
                                    </div>
                                    <footer class="d-flex justify-content-end mb-1">
                                        <button data-bind="click: Gravar.eventClick, attr: { id: Gravar.id}, enable: Gravar.enable, visible: Gravar.visible" class="btn btn-labeled btn-success" type="button">
                                            <i class="fal fa-save "></i><span data-bind="text: Gravar.text"></span>
                                        </button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script src="~/scripts/ordemServicoVenda"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadOrdemServicoVenda();
    });

</script>

