
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos Venda</li>
    <li class="breadcrumb-item active">Venda Direta</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Venda Direta
    </h1>
</div>

<div id="knockoutPesquisaVendaDireta">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Vendas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroInicial.requiredClass, value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroFinal.requiredClass, value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: StatusPedidoVendaDireta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusPedidoVendaDireta.text, attr: { for: StatusPedidoVendaDireta.id }"></label>
                                    <select class="form-control" data-bind="class: StatusPedidoVendaDireta.requiredClass, options: StatusPedidoVendaDireta.options, optionsText: 'text', optionsValue: 'value', value: StatusPedidoVendaDireta.val, attr: { maxlength: StatusPedidoVendaDireta.maxlength, id : StatusPedidoVendaDireta.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Funcionario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Agendador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Agendador.text, attr: { for: Agendador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Agendador.requiredClass, value: Agendador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agendador.maxlength, id : Agendador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Agendador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FuncionarioValidador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioValidador.text, attr: { for: FuncionarioValidador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FuncionarioValidador.requiredClass, value: FuncionarioValidador.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioValidador.maxlength, id : FuncionarioValidador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioValidador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialVencimentoCertificado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialVencimentoCertificado.text, attr: { for: DataInicialVencimentoCertificado.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialVencimentoCertificado.requiredClass, value: DataInicialVencimentoCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialVencimentoCertificado.maxlength, id : DataInicialVencimentoCertificado.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalVencimentoCertificado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalVencimentoCertificado.text, attr: { for: DataFinalVencimentoCertificado.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalVencimentoCertificado.requiredClass, value: DataFinalVencimentoCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalVencimentoCertificado.maxlength, id : DataFinalVencimentoCertificado.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ProdutoServico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoServico.text, attr: { for: ProdutoServico.id }"></label>
                                    <select class="form-control" data-bind="class: ProdutoServico.requiredClass, options: ProdutoServico.options, optionsText: 'text', optionsValue: 'value', value: ProdutoServico.val, attr: { maxlength: ProdutoServico.maxlength, id : ProdutoServico.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastro de Venda
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutEtapaVendaDireta">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#tab1" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#tab2" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-dollar-sign"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!-- Etapa Selecao Documentos -->
                    <div id="tab1" class="tab-pane fade show active">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Dados da Venda</h3>
                            </div>
                            <div class="card-body row">
                                <!-- Filtro dos Documento -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#tabVendaDireta" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Lançamento da Venda</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tabParcela" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Parcelas</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tabAnexo" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Anexos</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabVendaDireta" role="tabpanel">
                                        <div id="knockoutCadastroVendaDireta" class="row">
                                            <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: Numero.enable, class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: Data.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: Data.enable, class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: Funcionario.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: Funcionario.enable, class: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="enable: Cliente.enable, css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Cliente.enable, attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                                    <select class="form-control" data-bind="enable: Status.enable, class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                                    <select class="form-control" data-bind="enable: Tipo.enable, class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}, event : {change : Tipo.eventChange}"></select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-12">
                                                <div class="card">
                                                    <div class="card-header d-flex align-items-center justify-content-between">
                                                        <h3 class="card-title">Itens</h3>
                                                    </div>
                                                    <div class="card-body row">
                                                        <div class="col-12 col-md-7" data-bind="visible: Produto.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Produto.enable, css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Produto.enable, attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-7" data-bind="visible: Servico.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Servico.text, attr: { for: Servico.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Servico.enable, css: Servico.requiredClass, value: Servico.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servico.maxlength, id : Servico.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Servico.enable, attr: { id: Servico.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: Quantidade.enable, class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}, event : {blur : calcularTotalItemVendaDireta}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-2" data-bind="visible: ValorUnitario.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: ValorUnitario.enable, class: ValorUnitario.requiredClass, value: ValorUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-2" data-bind="visible: ValorDesconto.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ValorDesconto.text, attr: { for: ValorDesconto.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: ValorDesconto.enable, class: ValorDesconto.requiredClass, value: ValorDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDesconto.maxlength, id : ValorDesconto.id}, event : {blur : calcularTotalItemVendaDireta}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-2" data-bind="visible: ValorTotalItem.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ValorTotalItem.text, attr: { for: ValorTotalItem.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: ValorTotalItem.enable, class: ValorTotalItem.requiredClass, value: ValorTotalItem.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalItem.maxlength, id : ValorTotalItem.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-4 mt-4">
                                                                <button class="btn btn-success" type="button" data-bind="enable: SalvarItem.enable, click: SalvarItem.eventClick, attr: { id: SalvarItem.id}">
                                                                    <span data-bind="text: SalvarItem.text"></span>
                                                                </button>
                                                            </div>
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col-12 col-md-2" data-bind="visible: DataAgendamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataAgendamento.text, attr: { for: DataAgendamento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataAgendamento.requiredClass, value: DataAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamento.maxlength, id : DataAgendamento.id}, event : {blur : calcularDataVencimentoCobranca}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoCertificado.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataVencimentoCertificado.text, attr: { for: DataVencimentoCertificado.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataVencimentoCertificado.requiredClass, value: DataVencimentoCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoCertificado.maxlength, id : DataVencimentoCertificado.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoCobranca.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataVencimentoCobranca.text, attr: { for: DataVencimentoCobranca.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataVencimentoCobranca.requiredClass, value: DataVencimentoCobranca.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoCobranca.maxlength, id : DataVencimentoCobranca.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: StatusPedido.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: StatusPedido.text, attr: { for: StatusPedido.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: StatusPedido.requiredClass, options: StatusPedido.options, optionsText: 'text', optionsValue: 'value', value: StatusPedido.val, attr: { maxlength: StatusPedido.maxlength, id : StatusPedido.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: CodigoEmissao1.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: CodigoEmissao1.text, attr: { for: CodigoEmissao1.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: CodigoEmissao1.requiredClass, value: CodigoEmissao1.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoEmissao1.maxlength, id : CodigoEmissao1.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: CodigoEmissao2.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: CodigoEmissao2.text, attr: { for: CodigoEmissao2.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: CodigoEmissao2.requiredClass, value: CodigoEmissao2.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoEmissao2.maxlength, id : CodigoEmissao2.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: TipoAssinatura.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoAssinatura.text, attr: { for: TipoAssinatura.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: TipoAssinatura.requiredClass, options: TipoAssinatura.options, optionsText: 'text', optionsValue: 'value', value: TipoAssinatura.val, attr: { maxlength: TipoAssinatura.maxlength, id : TipoAssinatura.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 col-xl-2" data-bind="visible: TipoCobrancaVendaDireta.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoCobrancaVendaDireta.text, attr: { for: TipoCobrancaVendaDireta.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: TipoCobrancaVendaDireta.requiredClass, options: TipoCobrancaVendaDireta.options, optionsText: 'text', optionsValue: 'value', value: TipoCobrancaVendaDireta.val, attr: { maxlength: TipoCobrancaVendaDireta.maxlength, id : TipoCobrancaVendaDireta.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4" data-bind="visible: Agendador.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Agendador.text, attr: { for: Agendador.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: Agendador.enable, css: Agendador.requiredClass, value: Agendador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agendador.maxlength, id : Agendador.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Agendador.enable, attr: { id: Agendador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4" data-bind="visible: FuncionarioValidador.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: FuncionarioValidador.text, attr: { for: FuncionarioValidador.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: FuncionarioValidador.enable, css: FuncionarioValidador.requiredClass, value: FuncionarioValidador.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioValidador.maxlength, id : FuncionarioValidador.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: FuncionarioValidador.enable, attr: { id: FuncionarioValidador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataValidacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataValidacao.text, attr: { for: DataValidacao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataValidacao.requiredClass, value: DataValidacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataValidacao.maxlength, id : DataValidacao.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: GerarNF.visible">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" data-bind="checked: GerarNF.val, attr: { maxlength: GerarNF.maxlength, name: GerarNF.id, id: GerarNF.id }">
                                                            <label class="custom-control-label" data-bind="text: GerarNF.text, attr: { for: GerarNF.id }"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-12 col-md-2" data-bind="visible: TipoCobrancaServico.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoCobrancaServico.text, attr: { for: TipoCobrancaServico.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: TipoCobrancaServico.requiredClass, options: TipoCobrancaServico.options, optionsText: 'text', optionsValue: 'value', value: TipoCobrancaServico.val, attr: { maxlength: TipoCobrancaServico.maxlength, id : TipoCobrancaServico.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataTreinamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataTreinamento.text, attr: { for: DataTreinamento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataTreinamento.requiredClass, value: DataTreinamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataTreinamento.maxlength, id : DataTreinamento.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4" data-bind="visible: FuncionarioTreinamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: FuncionarioTreinamento.text, attr: { for: FuncionarioTreinamento.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: FuncionarioTreinamento.requiredClass, value: FuncionarioTreinamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioTreinamento.maxlength, id : FuncionarioTreinamento.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioTreinamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: StatusCadastro.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: StatusCadastro.text, attr: { for: StatusCadastro.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: StatusCadastro.requiredClass, options: StatusCadastro.options, optionsText: 'text', optionsValue: 'value', value: StatusCadastro.val, attr: { maxlength: StatusCadastro.maxlength, id : StatusCadastro.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: TipoCliente.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoCliente.text, attr: { for: TipoCliente.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: TipoCliente.requiredClass, options: TipoCliente.options, optionsText: 'text', optionsValue: 'value', value: TipoCliente.val, attr: { maxlength: TipoCliente.maxlength, id : TipoCliente.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: EmitidoDocumentos.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: EmitidoDocumentos.text, attr: { for: EmitidoDocumentos.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: EmitidoDocumentos.requiredClass, options: EmitidoDocumentos.options, optionsText: 'text', optionsValue: 'value', value: EmitidoDocumentos.val, attr: { maxlength: EmitidoDocumentos.maxlength, id : EmitidoDocumentos.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: Pendencia.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Pendencia.text, attr: { for: Pendencia.id }"></label>
                                                        <select class="form-control" data-bind="valueAllowUnset: true, class: Pendencia.requiredClass, options: Pendencia.options, optionsText: 'text', optionsValue: 'value', value: Pendencia.val, attr: { maxlength: Pendencia.maxlength, id : Pendencia.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: Certificado.visible" style="padding: 40px">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" data-bind="checked: Certificado.val, attr: { maxlength: Certificado.maxlength, name: Certificado.id, id: Certificado.id }">
                                                            <label class="custom-control-label" data-bind="text: Certificado.text, attr: { for: Certificado.id }"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-9" data-bind="visible: Observacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorTotal.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: ValorTotal.enable, class: ValorTotal.requiredClass, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabParcela" role="tabpanel">
                                        <div novalidate id="knockoutVendaDiretaParcela">
                                            <div class="row">
                                                <div class="col-12 col-md-2" data-bind="visible: TipoCobranca.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoCobranca.text, attr: { for: TipoCobranca.id }"></label>
                                                        <select class="form-control" data-bind="enable: TipoCobranca.enable, class: TipoCobranca.requiredClass, options: TipoCobranca.options, optionsText: 'text', optionsValue: 'value', value: TipoCobranca.val, attr: { maxlength: TipoCobranca.maxlength, id : TipoCobranca.id}, event : {change : TipoCobranca.eventChange}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-1" data-bind="visible: QuantidadeParcelas.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: QuantidadeParcelas.text, attr: { for: QuantidadeParcelas.id }"></label>
                                                        <select class="form-control" data-bind="enable: QuantidadeParcelas.enable, class: QuantidadeParcelas.requiredClass, options: QuantidadeParcelas.options, optionsText: 'text', optionsValue: 'value', value: QuantidadeParcelas.val, attr: { maxlength: QuantidadeParcelas.maxlength, id : QuantidadeParcelas.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: IntervaloDeDias.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: IntervaloDeDias.text, attr: { for: IntervaloDeDias.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: IntervaloDeDias.enable, class: IntervaloDeDias.requiredClass, value: IntervaloDeDias.val, valueUpdate: 'afterkeydown', attr: { maxlength: IntervaloDeDias.maxlength, id : IntervaloDeDias.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataPrimeiroVencimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataPrimeiroVencimento.text, attr: { for: DataPrimeiroVencimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: DataPrimeiroVencimento.enable, class: DataPrimeiroVencimento.requiredClass, value: DataPrimeiroVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrimeiroVencimento.maxlength, id : DataPrimeiroVencimento.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: TipoArredondamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoArredondamento.text, attr: { for: TipoArredondamento.id }"></label>
                                                        <select class="form-control" data-bind="enable: TipoArredondamento.enable, class: TipoArredondamento.requiredClass, options: TipoArredondamento.options, optionsText: 'text', optionsValue: 'value', value: TipoArredondamento.val, attr: { maxlength: TipoArredondamento.maxlength, id : TipoArredondamento.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 mt-4">
                                                    <button class="btn btn-success" type="button" data-bind="enable: GerarParcelas.enable, click: GerarParcelas.eventClick, attr: { id: GerarParcelas.id}">
                                                        <span data-bind="text: GerarParcelas.text"></span>
                                                    </button>
                                                </div>
                                                <div class="col-12 col-md-6" data-bind="visible: BoletoConfiguracao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: BoletoConfiguracao.enable, css: BoletoConfiguracao.requiredClass, value: BoletoConfiguracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: BoletoConfiguracao.maxlength, id : BoletoConfiguracao.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: BoletoConfiguracao.enable, attr: { id: BoletoConfiguracao.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabAnexo" role="tabpanel">
                                        <div novalidate id="knockoutVendaDiretaAnexo">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="card">
                                                        <div class="card-body row">
                                                            <div class="col-12 col-md-6" data-bind="visible: DescricaoAnexo.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: DescricaoAnexo.text, attr: { for: DescricaoAnexo.id }"></label>
                                                                    <input type="text" class="form-control" data-bind=" enable: DescricaoAnexo.enable, class: DescricaoAnexo.requiredClass, value: DescricaoAnexo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoAnexo.maxlength, id : DescricaoAnexo.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                                                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                                                <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                                                    <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                                                    <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer d-flex align-items-center justify-content-end">
                                                            <button class="btn btn-success" type="button" data-bind="enable: Adicionar.enable, click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                                                <span data-bind="text: Adicionar.text"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer id="knockoutCRUDVendaDireta" class="me-2 mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                            <i class="fal fa-ban"></i>
                                            <span data-bind="text: Cancelar.text"></span>
                                        </button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <button type="button" class="btn btn-labeled btn-info me-2" data-bind="click: Contestar.eventClick, visible: Contestar.visible, attr: { id : Contestar.id}">
                                            <span data-bind="text: Contestar.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-default me-2" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">
                                            <span data-bind="text: Limpar.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                            <i class="fal fa-check"></i>
                                            <span data-bind="text: Atualizar.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success " data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                            <span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <div class="col-12 col-md-12" id="knockoutVendaDiretaBoleto">
                            <div class="card row">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Boletos</h3>
                                    <button class="btn btn-default waves-effect waves-themed" type="button" data-bind="click: AtualizarBoletos.eventClick, attr: { id: AtualizarBoletos.id}, visible: AtualizarBoletos.visible, enable: AtualizarBoletos.enable">
                                        <i class="fal fa-repeat"></i><span data-bind="text: AtualizarBoletos.text"></span>
                                    </button>
                                </div>
                                <div class="card-body row">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                    <div class="col-12 col-md-9" data-bind="visible: Mensagem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="enable: Mensagem.enable, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mt-4">
                                        <button class="btn btn-success" type="button" data-bind="click: EnviarEmail.eventClick, attr: { id: EnviarEmail.id}">
                                            <span data-bind="text: EnviarEmail.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="divDetalheParcelaVendaDireta" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDetalheParcelaVendaDireta" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhe da Parcela</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-4" data-bind="visible: Sequencia.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Sequencia.text, attr: { for: Sequencia.id }"></label>
                        <input type="text" class="form-control" data-bind="enable: Sequencia.enable, class: Sequencia.requiredClass, value: Sequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sequencia.maxlength, id : Sequencia.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                        <input type="text" class="form-control" data-bind="enable: Valor.enable, class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: ValorDesconto.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorDesconto.text, attr: { for: ValorDesconto.id }"></label>
                        <input type="text" class="form-control" data-bind="enable: ValorDesconto.enable, class: ValorDesconto.requiredClass, value: ValorDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDesconto.maxlength, id : ValorDesconto.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DataVencimento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataVencimento.text, attr: { for: DataVencimento.id }"></label>
                        <input type="text" class="form-control" data-bind="enable: DataVencimento.enable, class: DataVencimento.requiredClass, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: FormaTitulo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: FormaTitulo.text, attr: { for: FormaTitulo.id }"></label>
                        <select class="form-control" data-bind="enable: FormaTitulo.enable, class: FormaTitulo.requiredClass, options: FormaTitulo.options, optionsText: 'text', optionsValue: 'value', value: FormaTitulo.val, attr: { maxlength: FormaTitulo.maxlength, id : FormaTitulo.id}"></select>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="enable: SalvarParcela.enable, click: SalvarParcela.eventClick, attr: { id: SalvarParcela.id}">
                        <span data-bind="text: SalvarParcela.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="divContestacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutContestacao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhe da Parcela</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">

                <div class="col-12 col-md-4" data-bind="visible: FuncionarioContestacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="enable: FuncionarioContestacao.enable, text: FuncionarioContestacao.text, attr: { for: FuncionarioContestacao.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="enable: FuncionarioContestacao.enable, css: FuncionarioContestacao.requiredClass, value: FuncionarioContestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioContestacao.maxlength, id : FuncionarioContestacao.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioContestacao.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataContestacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataContestacao.text, attr: { for: DataContestacao.id }"></label>
                        <input type="text" class="form-control" data-bind="class: DataContestacao.requiredClass, value: DataContestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataContestacao.maxlength, id : DataContestacao.id}" />
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tabObservacao" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Observação</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabAnexoContestacao" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Anexos</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabObservacao" role="tabpanel">
                        <div id="knockoutObservacao" class="row">
                            <div class="col-12 col-md-12" data-bind="visible: ObservacaoContestacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ObservacaoContestacao.text, attr: { for: ObservacaoContestacao.id }"></label>
                                    <textarea class="form-control" rows="5" data-bind="value: ObservacaoContestacao.val,,enable: ObservacaoContestacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoContestacao.maxlength, id : ObservacaoContestacao.id }"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tabAnexoContestacao" role="tabpanel">
                        <div novalidate id="knockoutAnexoContestacao">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-body row">
                                            <div class="col-12 col-md-6" data-bind="visible: DescricaoAnexo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DescricaoAnexo.text, attr: { for: DescricaoAnexo.id }"></label>
                                                    <input type="text" class="form-control" data-bind=" enable: DescricaoAnexo.enable, class: DescricaoAnexo.requiredClass, value: DescricaoAnexo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoAnexo.maxlength, id : DescricaoAnexo.id}" />
                                                </div>
                                            </div>
                                            <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                                <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                                    <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                                    <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-end">
                                            <button class="btn btn-success" type="button" data-bind="enable: Adicionar.enable, click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                                <span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="enable: SalvarContestacao.enable, click: SalvarContestacao.eventClick, attr: { id: SalvarContestacao.id}">
                        <span data-bind="text: SalvarContestacao.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/produtoLote"></script>
<script src="~/scripts/vendaDireta"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

        loadVendaDireta();
    });

</script>

