<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="MDFeConsultaSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="MDFeDistribuicaoDFeSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx"
                binding="customBinding" bindingConfiguration="MDFeConsultaSoap12"
                contract="ServicoMDFeConsultaMDF.MDFeConsultaSoap12" name="MDFeConsultaSoap12" />
            <endpoint address="https://mdfe.svrs.rs.gov.br/WS/MDFeDistribuicaoDFe/MDFeDistribuicaoDFe.asmx"
                binding="customBinding" bindingConfiguration="MDFeDistribuicaoDFeSoap12"
                contract="ServicoMDFeDistribuicaoDFe.MDFeDistribuicaoDFeSoap12"
                name="MDFeDistribuicaoDFeSoap12" />
        </client>
    </system.serviceModel>
</configuration>