/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

input[type=text]:disabled, select:disabled, textarea:disabled {
    background: #D8D8DD !important;
}

input[type=text][disabled]:hover, select[disabled]:hover, textarea[disabled]:hover {
    border-color: #BDBDBD !important;
}

.divFiltroPesquisa {
    margin-bottom: 15px;
}

.btnPesquisarFiltroPesquisa {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

@media (min-width:800px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .modal-sm {
        width: 300px;
    }
}


@media (min-width:1000px) {
    .modal-lg {
        width: 1000px;
    }
}

.smart-form .col-7 {
    width: 58.34% !important;
}

.smart-form .col-11 {
    width: 91.67% !important;
}

.smart-form .col-12 {
    width: 100% !important;
}

table.dataTable thead tr th.sorting_disabled_opcao {
    padding-right: 9px !important;
}


.botaoBusca {
    width: 100px;
    padding: 7px;
    margin-top: 24px;
}

.botaoBuscaSomenteLupa {
    width: 30px;
    padding: 7px;
    margin-top: 24px;
}

.botaoAdiconarMultiplosRegistros {
    margin-top: -25px;
    padding: 7px;
}

.botaoDentroSmartAdmimForm {
    padding: 7px;
    min-width: 100px;
}

.botaoGrid {
    padding: 1px;
    min-width: 100px;
}

.botaoTags {
    padding: 3px;
}

.no-padding .insideNoPaddignTable .dataTables_wrapper table tr td:first-child, .no-padding .dataTables_wrapper table tr th:first-child, .no-padding > table tr td:first-child, .no-padding > table tr th:first-child {
    border-left: 1px solid #ccc !important;
}

.no-padding .insideNoPaddignTable .dataTables_wrapper table tr td:last-child, .no-padding .dataTables_wrapper table tr th:last-child, .no-padding > table tr td:last-child, .no-padding > table tr th:last-child {
    border-right: 1px solid #ccc !important;
}

.WizardCarga {
    margin-bottom: 50px;
}

.bootstrapWizard.WizardCarga li#tabTMS:before {
    left: 50%;
    max-width: 50%;
}

.bootstrapWizard.WizardCarga li {
    display: block;
    float: left;
    /*width: 14.28%;*/
    width: 12.5%;
    text-align: center;
    padding-left: 0;
}

.bootstrapWizard.WizardCarga .popover .popover-title {
    color: #222;
}

.bootstrapWizard.WizardCarga .popover .popover-content {
    color: #444;
}



.bootstrapWizard.WizardCarga li.active .step, .bootstrapWizard li.active.complete .step {
    background: #0091d9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E;
}

.bootstrapWizard.WizardCarga li .step.red {
    background: #DB3F27;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparet;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.grey {
    background: #C0C0C0;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparet;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.yellow {
    background: #EDD500;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparet;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.lightgreen {
    background: #A9A9A9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid #006400;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.green {
    background: #269917;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparet;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}


.bootstrapWizard.WizardCarga li .step.orange {
    background: #FFA500;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparet;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.liberado {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid #269917;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.movimentoPlacasRibbon {
    position: absolute;
    right: -5px;
    top: -4px;
    margin-right: -52px;
}

.cargaRibbon {
    position: absolute;
    right: -4px;
    top: -4px;
}

div.dataTableEllipsisRow {
    white-space: nowrap;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.popover.fade.top.in .popover-title {
    padding: 5px !important;
}

.popover.fade.top.in .popover-content {
    padding: 5px !important;
}

.panel-heading .toggle {
    float: left !important;
    margin-top: 5px !important;
}

.panel-heading .withtoggle a {
    margin-left: 50px !important;
}

.disableText {
    color: #ccc;
}


.headerCursor {
    cursor: pointer;
}


.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.drop-hover small {
    color: black;
    font-weight: bold;
}

.selectCargaGestao {
    margin-bottom: auto !important;
    padding: 3px !important;
    height: 25px;
}

.backgroundDropHover {
    background: rgba(254, 254, 254, 1) !important;
}

.selectCargaGestao label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selectCabecalhoAcerto {
    margin-bottom: auto !important;
    padding: 3px !important;
    height: 25px;
}

    .selectCabecalhoAcerto label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


.table {
    table-layout: fixed;
}

    .table th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.datepicker table td {
    white-space: normal;
}

.botaoBuscaReduzido {
    width: 100px;
    padding: 7px;
    margin-top: 23px;
    height: 31px !important;
}


.botaoBuscaReduzidoSomenteLupa {
    width: 30px;
    padding: 7px;
    margin-top: 23px;
    height: 31px !important;
}


.inputReduzido {
    height: 28px !important;
}

/*.ui-spinner-down {
    background-color: #ccc;
}

.ui-spinner-down, .ui-spinner-up{
    background-color: #ccc;
}*/


.svg-map a {
    text-decoration: none;
}

.svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
}

/*Origem e Destino */

.svg-map .origemDestino path {
    fill: #473C8B;
    cursor: default;
}

.svg-map .origemDestino:hover text {
    cursor: default;
}

.svg-map .origemDestinoEnable path {
    fill: #473C8B;
}

.svg-map .origemDestinoEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .origemDestinoEnable:hover path {
        fill: #6959CD !important;
    }



/*destino */

.svg-map .destino path {
    fill: #2F4F4F;
    cursor: default;
}

.svg-map .destino:hover text {
    cursor: default;
}

.svg-map .destinoEnable path {
    fill: #2F4F4F;
}

.svg-map .destinoEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .destinoEnable:hover path {
        fill: #696969 !important;
    }



/*origem */

.svg-map .origem path {
    fill: #0000CD;
    cursor: default;
}

.svg-map .origem:hover text {
    cursor: default;
}

.svg-map .origemEnable path {
    fill: #0000CD;
}

.svg-map .origemEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .origemEnable:hover path {
        fill: #0000FF !important;
    }



/*passagem */

.svg-map .passagem path {
    fill: #228B22;
}

.svg-map .passagem:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .passagem:hover path {
        fill: #00CD00 !important;
    }

.svg-map .default:hover .circle {
    cursor: pointer;
}

/*passagem disable */

.svg-map .passagemDisable path {
    fill: #228B22;
    cursor: default;
}

.svg-map .passagemDisable:hover text {
    cursor: default;
}


/*default Enable*/

.svg-map .defaultEnable path {
    fill: #66CDAA;
}

.svg-map .defaultEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .defaultEnable:hover path {
        fill: #76EEC6 !important;
    }

.svg-map .default:hover .circle {
    cursor: pointer;
}

/*default*/

.svg-map .default path {
    fill: #66CDAA;
    cursor: default;
}

.svg-map .default:hover text {
    cursor: default;
}

.svg-map .default:hover .circle {
    /*fill: #3B8686 !important;*/
    cursor: default;
}

.legendColor {
    width: 18px;
    height: 18px;
    border-radius: 10px;
}


.smart-style-1 .btn-header > :first-child > a {
    background: #0091d9 !important;
    border: 1px solid #0091CF !important;
    color: #fff !important;
    cursor: pointer !important;
}

.smart-style-1 .btn-header > :first-child > a {
    background: #0091d9 !important;
    border: 1px solid #0091CF !important;
    color: #fff !important;
    cursor: pointer !important;
}

.smart-form .label {
    height: 19px;
    overflow: hidden;
}

.no-padding > table, .no-padding .dataTables_wrapper table {
    margin-top: 0px !important;
}

.table-hover > tbody > tr.ui-state-highlight:hover {
    background-color: #bce8f1 !important;
}

.table-hover > tbody > tr.ui-state-disabled:hover {
    background-color: transparent !important;
}

.fieldsetinfo {
    padding: 0px !important;
}

    .fieldsetinfo legend {
        position: absolute;
        margin-top: -37px;
        background-color: transparent;
        padding: 5px;
        border-bottom: none !important;
        width: auto;
    }

    .fieldsetinfo .legendBackGroud {
        position: absolute;
        margin-top: -21px;
        background: #FFF;
        height: 1px;
    }

.tableCursorMove tbody tr {
    cursor: move;
}

.labelReduzido {
    margin-bottom: 0px;
}

.widget-body.no-padding .alert {
    border-width: 0px !important;
    border-left-width: 5px !important;
    margin-bottom: 10px !important;
    margin-top: -15px !important;
}

.margin-top-15 {
    margin-top: 15px;
}

#divModalInformaCaptchaReceita .well {
    padding: 0px !important;
}

.detalhesCarga {
    padding-left: 10px;
    padding-right: 10px;
}

    .detalhesCarga .col {
        margin-bottom: 10px;
    }

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.input-margin-top-25 {
    margin-top: 25px;
}

@media (min-width:1200px) {
    .input-margin-top-25-lg {
        margin-top: 25px;
    }

    .input-margin-top-24-lg {
        margin-top: 24px;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    .input-margin-top-25-md {
        margin-top: 25px;
    }

    .input-margin-top-24-md {
        margin-top: 24px;
    }
}

.DivDetalheFrete section {
    margin-bottom: 10px !important;
}

.iconeMinimizarCargas {
    margin-left: 15px;
    margin-top: -37px;
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*END SCROLLBAR*/

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.well-green {
    background-color: #d1efcb;
    border: solid 1px #89b57e;
    color: #666;
    font-size: 12px;
}

.well-yellow {
    background-color: #fffdc5;
    border: solid 1px #d3d494;
    color: #666;
    font-size: 12px;
}

.well-red {
    background-color: #ffd9d9;
    border: solid 1px #e8a3a3;
    color: #666;
    font-size: 12px;
}

.well-orange {
    background-color: #ffd3a5;
    border: solid 1px #dc9449;
    color: #666;
    font-size: 12px;
}

.well-blue {
    background-color: #c8e8ff;
    border: solid 1px #7fa5b9;
    color: #666;
    font-size: 12px;
}

.well-darkBlue {
    background-color: #acc9d8;
    border: solid 1px #5f7fa0;
    color: #333;
    font-size: 12px;
}

.well-white {
    background-color: #fbfbfb;
    border: solid 1px #dddddd;
    color: #666;
    font-size: 12px;
}

    .well-green:hover,
    .well-yellow:hover,
    .well-red:hover,
    .well-orange:hover,
    .well-blue:hover,
    .well-darkBlue:hover,
    .well-white:hover {
        color: #666;
        opacity: 0.8;
        cursor: pointer;
    }

    .well-green .fc-time,
    .well-yellow .fc-time,
    .well-red .fc-time,
    .well-orange .fc-time,
    .well-blue .fc-time,
    .well-darkBlue .fc-time,
    .well-white .fc-time {
        font-weight: bold;
        font-size: 12px;
    }
