
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">ICMS</li>
    <li class="breadcrumb-item active">Pauta Fiscal</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Pauta Fiscal
    </h1>
</div>

<div id="knockoutPesquisaPautaFiscal">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Pauta Fiscal
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-3" data-bind="visible: Estado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Estado.requiredClass, value: Estado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Estado.text, maxlength: Estado.maxlength, id: Estado.id, name: Estado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Estado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Tarifa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tarifa.text, attr: { for: Tarifa.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Tarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tarifa.maxlength, id : Tarifa.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Pauta Fiscal
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutPautaFiscal">

                    <div class="col-12 col-md-4" data-bind="visible: Estado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Estado.requiredClass, value: Estado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Estado.text, maxlength: Estado.maxlength, id: Estado.id, name: Estado.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Estado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Tarifa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tarifa.text, attr: { for: Tarifa.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Tarifa.requiredClass,value: Tarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tarifa.maxlength, id : Tarifa.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DistanciaKMInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DistanciaKMInicial.text, attr: { for: DistanciaKMInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="css: DistanciaKMInicial.requiredClass,value: DistanciaKMInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DistanciaKMInicial.maxlength, id : DistanciaKMInicial.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DistanciaKMFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DistanciaKMFinal.text, attr: { for: DistanciaKMFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="css: DistanciaKMFinal.requiredClass,value: DistanciaKMFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DistanciaKMFinal.maxlength, id : DistanciaKMFinal.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorTonelada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorTonelada.text, attr: { for: ValorTonelada.id }"></label>
                            <input type="text" class="form-control" data-bind="value: ValorTonelada.val, valueUpdate: 'afterkeydown',enable: ValorTonelada.enable, attr: { maxlength: ValorTonelada.maxlength, id : ValorTonelada.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorViagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorViagem.text, attr: { for: ValorViagem.id }"></label>
                            <input type="text" class="form-control" data-bind="value: ValorViagem.val, valueUpdate: 'afterkeydown',enable: ValorViagem.enable,  attr: { maxlength: ValorViagem.maxlength, id : ValorViagem.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorM3.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorM3.text, attr: { for: ValorM3.id }"></label>
                            <input type="text" class="form-control" data-bind="value: ValorM3.val, valueUpdate: 'afterkeydown',enable: ValorM3.enable, attr: { maxlength: ValorM3.maxlength, id : ValorM3.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorVolumeMST.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorVolumeMST.text, attr: { for: ValorVolumeMST.id }"></label>
                            <input type="text" class="form-control" data-bind="value: ValorVolumeMST.val, valueUpdate: 'afterkeydown',enable: ValorVolumeMST.enable, attr: { maxlength: ValorVolumeMST.maxlength, id : ValorVolumeMST.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Tipo de Carga</h3>
                                <button class="btn btn-primary waves-effect waves-themed botaoAdiconarMultiplosRegistros" type="button" data-bind="attr: { id: AdicionarTipoCarga.idBtnSearch }">
                                    <i class="fal fa-plus"></i><span data-bind="text: AdicionarTipoCarga.text"></span>
                                </button>
                            </div>
                            <div class="card-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridTipoCarga.id }" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>

                </div>
                <footer id="knockoutCRUDPautaFiscal">
                    <div class="row mt-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/pautaFiscal"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPautaFiscal();
    });
</script>