
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">ICMS</li>
    <li class="breadcrumb-item">Regra Extensão</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Regra Extensão
    </h1>
</div>

<div id="knockoutPesquisaRegraExtensao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i>
                    <span>Pesquisar Regra Extensão</span>
                </button>

                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Extensao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Extensao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Extensao.requiredClass, value: Extensao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Extensao.maxlength, id : Extensao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoPropriedade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropriedade.text, attr: { for: TipoPropriedade.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPropriedade.requiredClass, options: TipoPropriedade.options, optionsText: 'text', optionsValue: 'value', value: TipoPropriedade.val, attr: { maxlength: TipoPropriedade.maxlength, id : TipoPropriedade.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Regra Extensão
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutRegraExtensao">
                    <div class="col-12 col-md-4" data-bind="visible: Extensao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Extensao.text"></label>
                            <input type="text" class="form-control" data-bind="class: Extensao.requiredClass, value: Extensao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Extensao.maxlength, id : Extensao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: TipoPropriedade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoPropriedade.text, attr: { for: TipoPropriedade.id }"></label>
                            <select class="form-control" data-bind="class: TipoPropriedade.requiredClass, options: TipoPropriedade.options, optionsText: 'text', optionsValue: 'value', value: TipoPropriedade.val, attr: { maxlength: TipoPropriedade.maxlength, id : TipoPropriedade.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUDRegraExtensao">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                            <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/regraExtensao"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {

        loadRegraExtensao();
    });

</script>
