@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Documentos</li>
    <li class="breadcrumb-item active">Carga CIOT</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Relatório Carga CIOT
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaCargaCIOT">
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Numero.text"></label>
                                <input type="text" class="form-control" data-bind="value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text"></label>
                                <input type="text" class="form-control" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataAberturaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAberturaInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataAberturaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAberturaInicial.maxlength, id : DataAberturaInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataAberturaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAberturaFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataAberturaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAberturaFinal.maxlength, id : DataAberturaFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEncerramentoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEncerramentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoInicial.maxlength, id : DataEncerramentoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEncerramentoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEncerramentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoFinal.maxlength, id : DataEncerramentoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Proprietario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Proprietario.text, attr: { for: Proprietario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Proprietario.requiredClass, value: Proprietario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Proprietario.maxlength, id : Proprietario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Proprietario.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: RegimeTributario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegimeTributario.text, attr: { for: RegimeTributario.id }"></label>
                                <select class="form-control" data-bind="options: RegimeTributario.options, optionsText: 'text', optionsValue: 'value', value: RegimeTributario.val, attr: { id : RegimeTributario.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaCargaCIOTs" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaCargaCIOT" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/cargaCIOT"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadRelatorioCargaCIOT();
    });

</script>
