@using System.Web.Optimization
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Módulos do Cliente
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaClienteModulo">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Módulos do Cliente</h2>
                    </header>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Cliente.text"></b></label>
                                                        <label data-bind="attr: { class: Cliente.requiredClass}">
                                                            <input type="text" data-bind="value: Cliente.val, attr: { maxlength: Cliente.maxlength, id : Cliente.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Cliente.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>

                                                </section>
                                                <section class="col col-4">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Modulo.text"></b></label>
                                                        <label data-bind="attr: { class: Modulo.requiredClass}">
                                                            <input type="text" data-bind="value: Modulo.val, attr: { maxlength: Modulo.maxlength, id : Modulo.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Modulo.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>

                                                </section>
                                                <section data-bind="visible : Descricao.visible" class="col col-4">
                                                    <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                                    <label data-bind="attr: { class: Descricao.requiredClass}">
                                                        <input type="text" data-bind="value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} , valueUpdate: 'afterkeydown'" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible : ModuloExclusivo.visible" class="col col-6">
                                                    <label class="label"><b data-bind="text: ModuloExclusivo.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: ModuloExclusivo.options, optionsText: 'text', optionsValue: 'value', value: ModuloExclusivo.val, attr: { id : ModuloExclusivo.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section data-bind="visible : ModuloBloqueado.visible" class="col col-6">
                                                    <label class="label"><b data-bind="text: ModuloBloqueado.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: ModuloBloqueado.options, optionsText: 'text', optionsValue: 'value', value: ModuloBloqueado.val, attr: { id : ModuloBloqueado.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Formulário de Cadastro</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="knockoutCadastroClienteModulo" class="smart-form">
                            <header>
                                Cadastrar Módulos do Cliente
                            </header>

                            <fieldset>

                                <div class="row">
                                    <section class="col col-4">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: Cliente.text"></b></label>
                                            <label data-bind="attr: { class: Cliente.requiredClass}">
                                                <input type="text" data-bind="value: Cliente.val, attr: { maxlength: Cliente.maxlength, id : Cliente.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="attr: { id: Cliente.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>

                                    </section>
                                    <section class="col col-4">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: Modulo.text"></b></label>
                                            <label data-bind="attr: { class: Modulo.requiredClass}">
                                                <input type="text" data-bind="value: Modulo.val, attr: { maxlength: Modulo.maxlength, id : Modulo.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="attr: { id: Modulo.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>

                                    </section>
                                    <section data-bind="visible : Descricao.visible" class="col col-4">
                                        <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                        <label data-bind="attr: { class: Descricao.requiredClass}">
                                            <input type="text" data-bind="value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} " />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: ModuloExclusivo.visible">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: ModuloExclusivo.val, valueUpdate: 'afterkeydown', attr: { name: ModuloExclusivo.id, id: ModuloExclusivo.id }" />
                                            <i></i> <b data-bind="text: ModuloExclusivo.text"></b>
                                        </label>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: ModuloBloqueado.visible">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: ModuloBloqueado.val, valueUpdate: 'afterkeydown', attr: { name: ModuloBloqueado.id, id: ModuloBloqueado.id }" />
                                            <i></i> <b data-bind="text: ModuloBloqueado.text"></b>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@Scripts.Render("~/scripts/clienteModulo")
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadClienteModulo();
    });

</script>

