@using System.Web.Optimization
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Módulos
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaModulo">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Módulos</h2>
                    </header>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section data-bind="visible : Descricao.visible" class="col col-12">
                                                    <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                                    <label data-bind="attr: { class: Descricao.requiredClass}">
                                                        <input type="text" data-bind="value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} , valueUpdate: 'afterkeydown'" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Formulário de Cadastro</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="knockoutCadastroModulo" class="smart-form">
                            <header>
                                Cadastrar Módulo
                            </header>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-12">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: ModuloPai.text"></b></label>
                                            <label data-bind="attr: { class: ModuloPai.requiredClass}">
                                                <input type="text" data-bind="value: ModuloPai.val, attr: { maxlength: ModuloPai.maxlength, id : ModuloPai.id} , valueUpdate: 'afterkeydown'" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="attr: { id: ModuloPai.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-bind="visible : Descricao.visible" class="col col-12">
                                        <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                        <label data-bind="attr: { class: Descricao.requiredClass}">
                                            <input type="text" data-bind="value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} " />
                                        </label>
                                    </section>
                                    <section data-bind="visible : Icone.visible" class="col col-3">
                                        <label class="label"><b data-bind="text: Icone.text"></b></label>
                                        <label data-bind="attr: { class: Icone.requiredClass}">
                                            <input type="text" data-bind="value: Icone.val, attr: { maxlength: Icone.maxlength, id : Icone.id} " />
                                        </label>
                                    </section>
                                     <section data-bind="visible : IconeNovo.visible" class="col col-3">
                                        <label class="label"><b data-bind="text: IconeNovo.text"></b></label>
                                        <label data-bind="attr: { class: IconeNovo.requiredClass}">
                                            <input type="text" data-bind="value: IconeNovo.val, attr: { maxlength: IconeNovo.maxlength, id : IconeNovo.id} " />
                                        </label>
                                    </section>
                                    <section data-bind="visible : Sequencia.visible" class="col col-2">
                                        <label class="label"><b data-bind="text: Sequencia.text"></b></label>
                                        <label data-bind="attr: { class: Sequencia.requiredClass}">
                                            <input type="text" data-bind="value: Sequencia.val, attr: { maxlength: Sequencia.maxlength, id : Sequencia.id} " />
                                        </label>
                                    </section>
                                    <section data-bind="visible : TipoServico.visible" class="col col-4">
                                        <label class="label"><b data-bind="text: TipoServico.text"></b></label>
                                        <label class="select">
                                            <select data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoServico.val, attr: { id : TipoServico.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 4" title="Todos"></select>
                                        </label>
                                    </section>
                                    <section data-bind="visible : Ativo.visible" class="col col-4">
                                        <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                        <label class="select">
                                            <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section data-bind="visible: TranslationResourcePath.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label class="label"><b data-bind="text: TranslationResourcePath.text"></b></label>
                                        <label data-bind="attr: { class: TranslationResourcePath.requiredClass}">
                                            <input type="text" data-bind="value: TranslationResourcePath.val, valueUpdate: 'afterkeydown', attr: { maxlength: TranslationResourcePath.maxlength, id : TranslationResourcePath.id}" />
                                        </label>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: EmHomologacao.visible">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: EmHomologacao.val, attr: { maxlength: EmHomologacao.maxlength, name: EmHomologacao.id, id: EmHomologacao.id }" />
                                            <i></i> <b data-bind="text: EmHomologacao.text"></b>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@Scripts.Render("~/scripts/modulo")
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadModulo();
    });

</script>

