
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Chamados</li>
    <li class="breadcrumb-item active">Chamado</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Gráfico de Chamados
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Gráfico
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutPesquisaValorMedioFrete">
                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Responsavel.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Responsavel.text, attr: { for: Responsavel.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Responsavel.requiredClass, value: Responsavel.val, valueUpdate: 'afterkeydown', attr: { maxlength: Responsavel.maxlength, id : Responsavel.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Responsavel.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button class="btn btn-primary" data-bind="click: GerarGrafico.eventClick, attr: { id: GerarGrafico.id}" type="button">
                            <i class="fa fa-search"></i>&nbsp;<span data-bind="text: GerarGrafico.text"></span>
                        </button>
                        <button class="btn btn-default" data-bind="click: DownloadGrafico.eventClick, attr: { id: DownloadGrafico.id}" type="button">
                            <i class="fa fa-download"></i>&nbsp;<span data-bind="text: DownloadGrafico.text"></span>
                        </button>
                    </footer>
                </div>
                <div class="row">
                    <div class="col col-2 hidden-sm hidden-xs"></div>
                    <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8" id="divGrafico">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/businessIntelligence/scripts/chamado"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadChamado();
    });

</script>

