
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Canhotos</li>
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Armazenamento</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Local de Armazenamento de Canhotos
    </h1>
</div>
<div id="knockoutPesquisaLocalArmazenamentoCanhoto">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible : Descricao.visible, css: Descricao.cssClass">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : TipoCanhoto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCanhoto.text"></label>
                                    <select class="form-control" data-bind="options: TipoCanhoto.options, optionsText: 'text', optionsValue: 'value', value: TipoCanhoto.val, attr: { id : TipoCanhoto.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Local de Armazenamento de Canhoto
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroLocalArmazenamentoCanhoto">
                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible : Descricao.visible, css: Descricao.cssClass">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind="css:Descricao.requiredClass,value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id} " />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible : TipoCanhoto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoCanhoto.text"></label>
                            <select class="form-control" data-bind="options: TipoCanhoto.options, optionsText: 'text', optionsValue: 'value', value: TipoCanhoto.val, attr: { id : TipoCanhoto.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible : CapacidadeArmazenagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CapacidadeArmazenagem.text"></label>
                            <input type="text" class="form-control" data-bind="css:CapacidadeArmazenagem.requiredClass, value: CapacidadeArmazenagem.val, attr: { maxlength: CapacidadeArmazenagem.maxlength, id : CapacidadeArmazenagem.id} " />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible : DividirEmPacotesDe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DividirEmPacotesDe.text"></label>
                            <input type="text" class="form-control" data-bind="value: DividirEmPacotesDe.val, attr: { maxlength: DividirEmPacotesDe.maxlength, id : DividirEmPacotesDe.id} " />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible : LocalArmazenagemAtual.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: LocalArmazenagemAtual.text"></label>
                            <select class="form-control" data-bind="options: LocalArmazenagemAtual.options, optionsText: 'text', optionsValue: 'value', value: LocalArmazenagemAtual.val, attr: { id : LocalArmazenagemAtual.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible : QuantidadeArmazenada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: QuantidadeArmazenada.text"></label>
                            <input type="text" class="form-control" data-bind="value: QuantidadeArmazenada.val, enable : QuantidadeArmazenada.enable, attr: { maxlength: QuantidadeArmazenada.maxlength, id : QuantidadeArmazenada.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible : Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text"></label>
                            <textarea type="text" rows="5" class="form-control" data-bind="value: Observacao.val, attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick,visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/localArmazenamentoCanhoto"></script>
<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesLocalArmazenamentoCanhoto));

    $(document).ready(function () {
        loadLocalArmazenamentoCanhoto();
    });

</script>

