

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Patrimônio</li>
    <li class="breadcrumb-item active">Transferência Bem</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Transferência de Patrimônios
    </h1>
</div>

<div id="knockoutPesquisaTransferenciaBem">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Transferências de Patrimônios
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Funcionario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataEnvio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEnvio.text, attr: { for: DataEnvio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEnvio.requiredClass, value: DataEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEnvio.maxlength, id : DataEnvio.id}" />
                                </div>
                            </div>
                        </div>


                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>

                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Formulário de Cadastro
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroTransferenciaBem">

                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title"> Cadastrar Transferência de Patrimônio</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary waves-effect waves-themed mb-2" type="button" data-bind="attr: { id: Bem.idBtnSearch, text: Bem.text }">
                                    <i class="fal fa-plus"></i><span data-bind="text: Bem.text"></span>
                                </button>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridBem.id}" cellspacing="0"></table>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4 ">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>
                                    Dados Saída
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-12 col-md-8" data-bind="visible: Funcionario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: DataEnvio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataEnvio.text, attr: { for: DataEnvio.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataEnvio.requiredClass, value: DataEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEnvio.maxlength, id : DataEnvio.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoSaida.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ObservacaoSaida.text, attr: { for: ObservacaoSaida.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="value: ObservacaoSaida.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoSaida.maxlength, id : ObservacaoSaida.id }"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 mt-4 ">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>
                                    Dados Envio
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: Pessoa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Almoxarifado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Almoxarifado.text, attr: { for: Almoxarifado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Almoxarifado.requiredClass, value: Almoxarifado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Almoxarifado.maxlength, id : Almoxarifado.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Almoxarifado.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8" data-bind="visible: FuncionarioEnvio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: FuncionarioEnvio.text, attr: { for: FuncionarioEnvio.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: FuncionarioEnvio.requiredClass, value: FuncionarioEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioEnvio.maxlength, id : FuncionarioEnvio.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioEnvio.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: DataRecebimento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataRecebimento.text, attr: { for: DataRecebimento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataRecebimento.requiredClass, value: DataRecebimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimento.maxlength, id : DataRecebimento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: FuncionarioEnvio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: FuncionarioEnvio.text, attr: { for: FuncionarioEnvio.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="value: FuncionarioEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioEnvio.maxlength, id : FuncionarioEnvio.id }"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUDTransferenciaBem">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-end mb-2 mt-3">
                        <div class="dropdown pull-right  ms-1" data-bind="visible: TermoResponsabilidade.visible() || TermoRecolhimentoMaterial.visible()">
                            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" type="button" aria-expanded="false" id="dropdownMenuButton1">
                                <i class="fal fa-download"></i>Declarações<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" data-bind="visible: TermoResponsabilidade.visible, click: TermoResponsabilidade.eventClick, attr: { id: TermoResponsabilidade.id}">
                                        <i class="fal fa-solid fa-file-code"></i><span class="ms-2" data-bind="text: TermoResponsabilidade.text"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" data-bind="visible: TermoRecolhimentoMaterial.visible, click: TermoRecolhimentoMaterial.eventClick, attr: { id: TermoRecolhimentoMaterial.id}">
                                        <i class="fal fa-solid fa-file-pdf"></i><span class="ms-2" data-bind="text: TermoRecolhimentoMaterial.text"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-labeled btn-success ms-2 mx-2 " data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger  ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>

                    </div>
                   
                </div>

            </footer>

        </div>
    </div>
</div>

<script src="~/scripts/transferenciaBem"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTransferenciaBem();
    });

</script>

