@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Administrativo</li>
        <li class="breadcrumb-item active">Licença</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Licenças
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Pesquisar Licenças
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaLicenca">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoTelaLicenca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoTelaLicenca.text, attr: { for: TipoTelaLicenca.id }"></label>
                                    <select class="form-control" data-bind="options: TipoTelaLicenca.options, optionsText: 'text', optionsValue: 'value', value: TipoTelaLicenca.val, attr: { id : TipoTelaLicenca.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: NumeroLicenca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroLicenca.text, attr: { for: NumeroLicenca.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroLicenca.val, valueUpdate: 'afterkeydown', attr: { id : NumeroLicenca.id}"/>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Licenca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Licenca.text, attr: { for: Licenca.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Licenca.val, valueUpdate: 'afterkeydown', attr: { maxlength: Licenca.maxlength, id : Licenca.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Licenca.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Funcionario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: StatusEntidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusEntidade.text, attr: { for: StatusEntidade.id }"></label>
                                    <select class="form-control" data-bind="options: StatusEntidade.options, optionsText: 'text', optionsValue: 'value', value: StatusEntidade.val, attr: { id : StatusEntidade.id}"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="divConfigRelatorio">
                    </div>

                </form>
                <div class="row mb-3 mt-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaLicenca" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>

                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaLicenca" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/licenca"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioLicenca();
    });

</script>