@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage



<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item active">Guarita TMS</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Relatório de Histórico de Fila de Carregamento
    </h1>
</div>
<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatório
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaFilaCarregamentoHistorico">
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: DataInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: DataLimite.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataLimite.requiredClass, value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: GrupoModeloVeicularCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoModeloVeicularCarga.text, attr: { for: GrupoModeloVeicularCarga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: GrupoModeloVeicularCarga.requiredClass, value: GrupoModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoModeloVeicularCarga.maxlength, id : GrupoModeloVeicularCarga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-12 col-md-4" data-bind="visible: ModeloVeicularCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: MotivoRetiradaFilaCarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MotivoRetiradaFilaCarregamento.text, attr: { for: MotivoRetiradaFilaCarregamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: MotivoRetiradaFilaCarregamento.requiredClass, value: MotivoRetiradaFilaCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoRetiradaFilaCarregamento.maxlength, id : MotivoRetiradaFilaCarregamento.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MotivoRetiradaFilaCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </form>
            <div class="row mb-3">
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <div id="knockoutCRUDFiltrosPesquisaFilaCarregamentoHistorico" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>

                </div>
            </div>

            <div id="divConfigRelatorio"></div>

            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>

            <div id="knockoutCRUDPesquisaFilaCarregamentoHistorico" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/filaCarregamentoHistorico"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadFilaCarregamentoHistorico();
    });

</script>
