.box-search .button-filter {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/AcompanhamentoCarga/assets/icons/btn_Filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.box-search .button-config {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/Icones/gerais/setting.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.box-search .button-config-select {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/Icones/gerais/setting.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #ebfbff;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.filters-action-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .filters-action-buttons .btn {
        border: solid 1px;
        border-radius: 4px;
        font-weight: 600;
    }

.button-outline {
    color: #5B5B5B;
    border-color: #5B5B5B;
}

.button-primary {
    color: white;
    background-color: #5B5B5B;
}

    .button-primary:hover {
        color: white;
        background-color: #2f2f2f;
    }

.button-outline:hover {
    color: #2f2f2f;
    border-color: #01101c;
}

.ghost-button {
    border: none;
    background: none;
    color: #5B5B5B;
    font-weight: 600;
}

    .ghost-button:hover {
        color: #666666;
        background-color: transparent;
    }

.header-filtros {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 8px;
}

    .header-filtros .layout-and-filters {
        display: flex;
        gap: 8px;
        justify-self: flex-start;
    }

    .header-filtros .config-div {
        display: flex;
        gap: 8px;
        justify-self: flex-end;
    }

    .header-filtros .layout-and-filters .button-view-templates {
        width: 160px;
        height: 38px;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #DAE5EB;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        color: #AEAEAE;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .header-filtros .resumos {
        margin: 20px 20px 0 20px;
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

        .header-filtros .resumos .view-selection-items {
            display: flex;
            min-width: max-content;
        }

            .header-filtros .resumos .view-selection-items .view-selection .view-select-button {
                padding: 3px 10px;
                display: flex;
                flex-direction: column;
                min-height: fit-content;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-sizing: unset !important;
            }

                .header-filtros .resumos .view-selection-items .view-selection .view-select-button > span {
                    max-width: 200px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

            .header-filtros .resumos .view-selection-items .view-selection .icon-number {
                font-size: 24px;
                font-weight: 600;
                background: transparent;
                border-radius: 4px;
                padding: 5px;
            }

            .header-filtros .resumos .view-selection-items .view-selection .view-select-button .icon-number {
                font-size: 24px;
                font-weight: 600;
                background: transparent;
                border-radius: 4px;
                padding: 5px;
                color: #38AAE1;
            }

            .header-filtros .resumos .view-selection-items .view-selection .active span {
                color: #616162;
            }

            .header-filtros .resumos .view-selection-items .view-selection .active .icon-number {
                color: #02243D !important;
                background: transparent;
            }


            .header-filtros .carrosel-filtros .carousel-filters .carousel-inner .carousel-item .resumos .active span {
                color: #616162;
            }

            .header-filtros .carrosel-filtros .carousel-filters .carousel-inner .carousel-item .resumos .view-selection-items .view-selection .view-select-button .active .icon-number {
                color: #02243D !important;
                background: transparent;
            }

            .header-filtros .carousel-indicators .indicator-button {
                background-color: #616162;
                border-radius: 100%;
                width: 6px;
                height: 6px;
            }

            .carousel-control-next:hover, .carousel-control-prev:hover {
                background: none;
            }

            .carousel-control-prev > span > i {
                font-weight: 700;
            }

            .carousel-control-prev > span {
                color: #616162;
            }


            .carousel-control-next > span > i {
                font-weight: 700;
            }

            .carousel-control-next > span {
                color: #616162;
            }

            .modal .modal-subtitle {
                font-weight: 600;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin-bottom: 0;
            }
