.container-carga-trajeto {
    background-color: rgb(236, 243, 249);
    height: 120px;
    margin: 15px;
}

.section-carga-trajeto {
    height: 120px;
}

.cabecalho-carga-trajeto {
    border-right: 1px solid #d6e4f1;
    padding-right: 0 !important;
}

.footer-carga-trajeto {
    border-left: 1px solid #d6e4f1;
    padding-left: 0 !important;
}

.container-carga-trajeto .row .section-carga-trajeto {
    height: 120px;
    margin-bottom: 0px;
    text-align: center;
}

.container-carga-trajeto .row section span {
}

.cargas-carga-trajeto {
    padding-top: 30px;
}

.footer-carga-trajeto-principal {
    text-align: center;
}

.km-percorrido {
    text-align: center;
}

.centraliza-vertical {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}