.butonAlert {
    background-color: #35b084;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    float:left;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #35b084;
        -webkit-box-shadow: 0 0 3px #35b084;
    }

    50% {
        background-color: #8BC34A;
        -webkit-box-shadow: 0 0 3px #8BC34A;
    }

    100% {
        background-color: #35b084;
        -webkit-box-shadow: 0 0 3px #35b084;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #35b084;
        -moz-box-shadow: 0 0 3px #35b084;
    }

    50% {
        background-color: #8BC34A;
        -moz-box-shadow: 0 0 3px #8BC34A;
    }

    100% {
        background-color: #35b084;
        -moz-box-shadow: 0 0 3px #35b084;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #35b084;
        box-shadow: 0 0 3px #35b084;
    }

    50% {
        background-color: #8BC34A;
        box-shadow: 0 0 3px #8BC34A;
    }

    100% {
        background-color: #35b084;
        box-shadow: 0 0 3px #35b084;
    }
}

@keyframes glowing {
    0% {
        background-color: #35b084;
        box-shadow: 0 0 3px #35b084;
    }

    50% {
        background-color: #8BC34A;
        box-shadow: 0 0 3px #8BC34A;
    }

    100% {
        background-color: #35b084;
        box-shadow: 0 0 3px #35b084;
    }
}

.butonAlert {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
