.DivConferencia .container-imagens .container-img {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 10px 5px;
}

.DivConferencia .container-imagens .img-canhoto {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    margin-bottom: 10px;
}

.DivConferencia .container-imagens .container-drag {
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: -webkit-grab;
}

    .DivConferencia .container-imagens .container-drag:focus {
        cursor: -webkit-grabbing;
    }

    .DivConferencia .container-imagens .container-drag::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

.DivConferencia .container-imagens .possui-imagem .img-canhoto img {
    width: 100%;
}

.DivConferencia .container-imagens .sem-imagem .img-canhoto,
.DivConferencia .container-imagens .thumb-pdf .img-canhoto {
    background-position: center;
    background-size: contain;
}

.DivConferencia .container-imagens .sem-imagem .img-canhoto {
    background-image: url('../img/sem_foto.jpg');
}

.DivConferencia .container-imagens .thumb-pdf .img-canhoto {
    background-image: url('../img/thumb_pdf.png');
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.DivConferencia .container-imagens .thumb-pdf .img-canhoto:hover {
    opacity: 0.8;
}

.DivConferencia .container-imagens input[type=button] {
    margin: 0 auto !important;
    display: block;
}
