#knoutContainerControleEntrega .title {
    display: inline-block;
    line-height: 35px;
}

.abrir-configuracao-widget {
    margin-right: 10px;
    cursor: pointer;
}

    .abrir-configuracao-widget .fa {
        font-size: 24px;
        vertical-align: middle;
        margin-top: -5px;
        color: #333;
    }

        .abrir-configuracao-widget .fa:hover {
            opacity: .7;
        }

.container-botao-legenda {
    float: right;
}

    .container-botao-legenda button {
        padding: 6px 12px;
    }

.container-fluxo-entrega {
    margin: 0 0 10px 0;
}

    .container-fluxo-entrega .fluxo-entrega {
        margin: 0;
        display: flex;
        align-content: center;
        justify-content: center;
    }

        .container-fluxo-entrega .fluxo-entrega .etapas-scroll {
            padding: 0;
        }

    .container-fluxo-entrega .grid-monitoramento {
        padding: 4px;
        border: 1px solid #ECF3F9;
        border-top: none;
        margin-bottom: 10px;
    }

    .container-fluxo-entrega::after {
        background-color: #ECF3F9;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 0px;
        z-index: 1;
    }

    .container-fluxo-entrega .fluxo-entrega .identificao-fluxo {
        border-right: 2px solid #fff;
        height: 30px;
        width: 140px;
        z-index: 1;
    }

.identificacao-flex {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 5px; 
}

    .identificacao-flex > div {
        margin-right: 10px;
    }

.placa, .imagem-mensagem, .imagem-imprimir, .imagem-alerta {
    display: flex;
    align-items: center; 
}

    .imagem-mensagem img,
    .imagem-imprimir img,
    .imagem-alerta img {
        height: 25px;
        width: 24px; 
    }

.container-fluxo-entrega .fluxo-entrega .identificao-fluxo .identificao {
    background-color: rgb(189, 215, 238);
    height: 100%; 
    text-align: center;
    cursor: pointer;
    padding: 5px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

    .container-fluxo-entrega .fluxo-entrega .identificao-fluxo .identificao.fluxo-sem-carga {
        background-color: #e6dfad;
    }

    .container-fluxo-entrega .fluxo-entrega .identificao-fluxo .identificao.fluxo-carga-cancelada {
        color: #ffffff;
        background-color: #c26565;
    }

        .container-fluxo-entrega .fluxo-entrega .identificao-fluxo .identificao.fluxo-carga-cancelada .tag-cancelada {
            display: block;
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 11px;
            color: #c12c2c;
            background-color: #ffffff;
            padding: 2px 0;
        }

.identificacao-flex > div {
    margin: 0;
}

.imagem-mensagem img,
.imagem-imprimir img,
.imagem-alerta img {
    height: 25px;
    width: auto;
}

.etapa-container.col {
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-between;
    min-width: fit-content;
}

.etapa-container > div {
    min-height: 30px;
}

.etapa-container:not(.etapa-placeholder) > div {
    text-align: center;
}

.etapa-container > div:not(.nome-etapa):not(.bolinha-etapa) {
    border-right: 2px solid #fff;
}

.etapa-container > div.tempo-reprogramado {
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
}

.etapa-container .bolinha-etapa {
    min-height: 30px;
}

.etapa-container .responsavel-chamado {
    position: absolute;
    line-height: 30px;
    width: 30px;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 12px;
}

.etapa-container .bolinha-etapa a > div {
    width: 30px;
    height: 30px;
    position: absolute;
}

.etapa-container .nome-etapa,
.etapa-container .tempo-real,
.etapa-container .tempo-reprogramado,
.etapa-container .tempo-previsto,
.etapa-container .tempo-atraso {
    font-weight: bold;
}

.etapa-container .tempo-certo {
    color: rgb(0, 97, 0);
    background-color: rgb(198, 239, 206);
}

.etapa-container .tempo-incorreto {
    color: rgb(156, 0, 6);
    background-color: rgb(255, 199, 206);
}

.etapa-container.etapa-placeholder {
    font-weight: bold
}

.etapa-container .step-container .step {
    background: #b2b5b9;
    display: inline;
    font-size: 15px;
    padding: 4px 12px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    transition: all .1s linear 0s;
    position: relative;
    z-index: 2;
}

.etapa-container .step-container:before {
    border-top: 1px solid #55606e;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 16px;
    right: 1px;
    width: 100%;
    z-index: 1;
}

.etapa-container .bolinha-etapa .alerta-em-aberto {
    cursor: pointer;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.etapa-container .bolinha-qtd-alertas {
    font-size: 9px;
    color: black;
    clip-path: circle(35% at 50% 50%);
    min-width: 16px;
    background-color: white;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etapas-fluxo .etapa-container:first-child .step-container:before {
    left: 50%;
    max-width: 50%;
}

.etapas-fluxo .etapa-container:last-child .step-container:before {
    max-width: 50%;
    width: 50%;
}

.etapa-placeholder > div {
    padding-left: 5px;
}

.fluxo-com-auditoria.container-etapas {
    margin-top: -22px;
}

small.small-info.previsao {
    color: #31b342;
}

small.small-info.time-diff {
    font-weight: bold;
}

small.small-info.entregue {
    color: #31b342;
}

small.small-info.rejeitado {
    color: #b33131;
}

div.container-fluxo {
    margin-bottom: 5px;
    height: 65px;
    clear: both;
}

    div.container-fluxo:last-child {
        margin-bottom: 0px;
    }

    div.container-fluxo ul > li:last-child .small-info {
        right: 0px;
    }

    div.container-fluxo ul > li {
        position: relative;
    }

        div.container-fluxo ul > li .small-info {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            right: 0;
            top: -2px;
        }

        div.container-fluxo ul > li .info {
            top: -2px;
        }

        div.container-fluxo ul > li .previsao + .info {
            top: -12px;
        }

        div.container-fluxo ul > li .time-diff {
            bottom: -2px;
            top: auto;
        }

.cabecalho-fluxo, .etapas-fluxo {
    margin-bottom: 0px;
}

.carga-detalhes {
    background-color: #ADD8E6;
    height: 61px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
}

    .carga-detalhes.no-pointer {
        cursor: default;
    }

    .carga-detalhes.fluxo-sem-carga {
        background-color: #e6dfad;
    }

    .carga-detalhes.fluxo-carga-cancelada {
        color: #ffffff;
        background-color: #c26565;
    }

    .carga-detalhes .tag-cancelada {
        transform: rotate(-90deg);
        display: block;
        position: absolute;
        left: -8px;
        top: 23px;
        width: 61px;
        font-size: 11px;
        color: #c12c2c;
        background-color: #ffffff;
        padding: 2px;
    }

@media (min-width: 981px) {
    .auditoria-fluxo-patio {
        margin: 0 0 0 19px;
    }

    .carga-detalhes {
        width: 140%;
        border-right: solid 2px #CCC;
    }

    .etapas-fluxo .WizardCarga {
        margin-bottom: 15px;
    }
}

@media (min-width: 980px) {
    div.exibicao-compacta {
        height: 80px;
        margin-bottom: 10px;
    }

    .exibicao-compacta .container-etapas {
        overflow-x: auto;
        height: 80px;
    }

    .exibicao-compacta .etapas-fluxo {
        padding-left: 39px !important;
    }

    .exibicao-compacta .auditoria-fluxo-entrega {
        margin-left: -1.5%;
    }

    .exibicao-compacta .carga-detalhes {
        height: 76px;
    }

    .exibicao-compacta .etapas-fluxo .WizardCarga {
        margin-top: 15px;
    }
}

@media (max-width: 980px) {
    div.container-fluxo {
        margin-bottom: 10px;
    }

    .cabecalho-fluxo {
        margin-bottom: 0px !important;
    }

    .container-etapas {
        overflow-x: auto;
        height: 80px;
    }

    .etapas-fluxo .WizardCarga {
        margin-top: 15px;
        width: 1500px;
    }
}


.well-carga {
    height: 100px;
    margin-right: 5px;
}

    .well-carga:hover {
        opacity: 1 !important;
        background-color: #F0F8FF;
    }

    .well-carga p {
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Arial;
        font-size: 12px;
    }

    .well-carga .footer-well-carga {
        height: 27px !important;
    }

        .well-carga .footer-well-carga button {
            padding: 3px 6px 3px 6px !important;
        }

.well-carga-selecionada {
    height: 100px;
    margin-right: 5px;
    background-color: #669EC6;
    border-color: #006FBF;
    color: #FFF;
}

    .well-carga-selecionada p {
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Arial;
        font-size: 12px;
    }

    .well-carga-selecionada .footer-well-carga {
        height: 27px !important;
    }

        .well-carga-selecionada .footer-well-carga button {
            padding: 3px 6px 3px 6px !important;
        }

    .well-carga-selecionada:hover {
        opacity: 0.8 !important;
    }

.well-green:hover {
    opacity: 0.8 !important;
}

.table-cargas {
    height: 400px;
    margin: 0 5px 0 0px !important;
    padding: 5px 0 0 5px;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    overflow-y: scroll;
}

.liDadosCarga {
    width: 5%;
}

.menuControleEntrega {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    display: none;
    position: absolute;
    z-index: 900;
}

    .menuControleEntrega li a {
        display: block;
        color: #000;
        padding: 8px 0 8px 16px;
        text-decoration: none;
    }

        /* Change the link color on hover */
        .menuControleEntrega li a:hover {
            background-color: #428bca;
            color: white;
        }

.tab-controle-entrega-fotos {
    min-height: 330px;
    padding-top: 20px;
}

.container-controle-entrega-fotos {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

    .container-controle-entrega-fotos .container-imagem-entrega {
        padding: 10px 5px;
    }

        .container-controle-entrega-fotos .container-imagem-entrega .imagem-entrega {
            background-repeat: no-repeat;
            background-position: right center;
            background-size: cover;
            cursor: -webkit-grab;
            height: 200px;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
        }

            .container-controle-entrega-fotos .container-imagem-entrega .imagem-entrega:focus {
                cursor: -webkit-grabbing;
            }

            .container-controle-entrega-fotos .container-imagem-entrega .imagem-entrega::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }

            .container-controle-entrega-fotos .container-imagem-entrega .imagem-entrega img {
                width: 100%;
            }

    .container-controle-entrega-fotos .container-imagem-entrega-download {
        height: 15px;
    }

        .container-controle-entrega-fotos .container-imagem-entrega-download button {
            float: right;
            height: 15px;
            margin-left: 5px;
            width: 20px;
        }

            .container-controle-entrega-fotos .container-imagem-entrega-download button i {
                margin-left: -5px;
                margin-top: -6px;
                position: absolute;
            }


.controle-entrega-produto-container {
    margin-bottom: 10px;
}

.controle-entrega-produto-container-ativo {
}

.controle-entrega-produto-cabecalho {
    background: #fbfbfb;
    border: 1px solid #cfcfcf;
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 15px;
    padding: 7px 15px;
}

    .controle-entrega-produto-cabecalho:hover {
        background: #FDDFB3 !important;
        border: 1px solid #FAA937;
    }

.controle-entrega-produto-cabecalho-descricao {
    float: left;
}

.controle-entrega-produto-cabecalho-pedido {
    color: #008080;
    float: right;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.controle-entrega-produto-conteudo {
    border: 1px solid #FAA937;
    border-top: none;
    display: none;
    padding: 13px;
}

.controle-entrega-produto-container-ativo .controle-entrega-produto-cabecalho {
    background: #FDDFB3 !important;
    border: 1px solid #FAA937;
}

.controle-entrega-produto-container-ativo .controle-entrega-produto-conteudo {
    display: block;
}

.controle-entrega-produto-divisao-capacidade-titulo {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: #232323;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 14px;
    padding: 8px 0;
}

#divModalConfiguracao .category-title {
    margin-bottom: 10px;
}

.aviso-filtragem-dados {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 218px;
    gap: 16px;
}

    .aviso-filtragem-dados div {
        justify-self: center;
    }

        .aviso-filtragem-dados div > i {
            font-size: 90px;
            color: #AEAEAE;
        }



/* Informações Widget */
.etapas-fluxo .info-entrega-container {
    line-height: 30px;
    width: auto;
}

    .etapas-fluxo .info-entrega-container .info-entrega {
        padding: 0 10px;
    }

.etapas-fluxo .last-info {
    margin-right: 15px;
}
