@media(min-width: 1331px) {
    .fluxo-col:first-child {
        padding-right: 0px !important;
    }

    .fluxo-col:last-child {
        padding-left: 0px !important;
    }
}

.container-fluxo-entrega {
    margin-bottom: 50px;
}

.identificao-fluxo {
    padding-top: 24px;
    height: 161px;
}

    .identificao-fluxo .identificao {
        padding: 5px;
        background-color: rgb(189, 215, 238);
        height: 100%;
        text-align: center;
        cursor: pointer;
    }

        .identificao-fluxo .identificao.fluxo-sem-carga {
            background-color: #e6dfad;
        }

        .identificao-fluxo .identificao.fluxo-carga-cancelada {
            color: #ffffff;
            background-color: #c26565;
            position: relative;
        }

            .identificao-fluxo .identificao.fluxo-carga-cancelada .tag-cancelada {
                display: block;
                position: absolute;
                right: 0;
                bottom: 2px;
                width: 100%;
                font-size: 11px;
                color: #c12c2c;
                background-color: #ffffff;
                padding: 2px 0;
            }

.etapa-container.col {
    padding-right: 0px;
    padding-left: 0px;
}

.etapa-container > div {
    min-height: 18px;
    padding: 3px 0;
}

.etapa-container:not(.etapa-placeholder) > div {
    text-align: center;
}

.etapa-container > div:not(.nome-etapa):not(.bolinha-etapa) {
    border: 1px solid #ccc;
}

.etapa-container > div.tempo-reprogramado {
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
}

.etapa-container .bolinha-etapa {
    min-height: 39px;
}

.etapa-container .nome-etapa,
.etapa-container .tempo-real,
.etapa-container .tempo-reprogramado,
.etapa-container .tempo-previsto,
.etapa-container .tempo-atraso {
    font-weight: bold;
}

.etapa-container .tempo-certo {
    color: rgb(0, 97, 0);
    background-color: rgb(198, 239, 206);
}

.etapa-container .tempo-incorreto {
    color: rgb(156, 0, 6);
    background-color: rgb(255, 199, 206);
}

.etapa-container.etapa-placeholder {
    font-weight: bold
}

.etapa-container .step-container .step {
    background: #b2b5b9;
    display: inline;
    font-size: 15px;
    padding: 4px 12px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    transition: all .1s linear 0s;
    position: relative;
    z-index: 2;
}

.etapa-container .step-container:before {
    border-top: 3px solid #55606e;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 16px;
    right: 1px;
    width: 100%;
    z-index: 1;
}

.etapas-fluxo .etapa-container:nth-child(2):not(:last-child) .step-container:before {
    left: 50%;
    max-width: 50%;
}

.etapas-fluxo .etapa-container:last-child .step-container:before {
    max-width: 50%;
    width: 50%;
}

.etapa-placeholder > div {
    padding-left: 5px;
}

@media(max-width: 1330px) {
    .etapas-scroll {
        overflow-x: scroll;
    }

        .etapas-scroll .etapas-fluxo {
            width: 1800px;
        }

    .identificao-fluxo {
        height: auto;
    }
}

/*Antigo*/
/*Antigo*/

.imagens-entrega-container {
}

    .imagens-entrega-container .imagem-entrega {
        margin-bottom: 30px;
        cursor: pointer;
        -webkit-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        transition: all 100ms linear;
    }

        .imagens-entrega-container .imagem-entrega:hover {
            opacity: .8;
        }

        .imagens-entrega-container .imagem-entrega .imagem-background {
            background-size: cover;
            background-position: center;
            background-color: #ececec;
            min-height: 200px;
            border-radius: 3px;
        }


.fluxo-com-auditoria.container-etapas {
    margin-top: -22px;
}

small.small-info.previsao {
    color: #31b342;
}

small.small-info.time-diff {
    font-weight: bold;
}

small.small-info.entregue {
    color: #31b342;
}

small.small-info.rejeitado {
    color: #b33131;
}

div.container-fluxo {
    margin-bottom: 5px;
    height: 65px;
    clear: both;
}

    div.container-fluxo:last-child {
        margin-bottom: 0px;
    }

    div.container-fluxo ul > li:last-child .small-info {
        right: 0px;
    }

    div.container-fluxo ul > li {
        position: relative;
    }

        div.container-fluxo ul > li .small-info {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            right: 0;
            top: -2px;
        }

        div.container-fluxo ul > li .info {
            top: -2px;
        }

        div.container-fluxo ul > li .previsao + .info {
            top: -12px;
        }

        div.container-fluxo ul > li .time-diff {
            bottom: -2px;
            top: auto;
        }

.cabecalho-fluxo, .etapas-fluxo {
    margin-bottom: 0px;
}

.carga-detalhes {
    background-color: #ADD8E6;
    height: 61px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
}

    .carga-detalhes.no-pointer {
        cursor: default;
    }

    .carga-detalhes.fluxo-sem-carga {
        background-color: #e6dfad;
    }

    .carga-detalhes.fluxo-carga-cancelada {
        color: #ffffff;
        background-color: #c26565;
    }

    .carga-detalhes .tag-cancelada {
        transform: rotate(-90deg);
        display: block;
        position: absolute;
        left: -8px;
        top: 23px;
        width: 61px;
        font-size: 11px;
        color: #c12c2c;
        background-color: #ffffff;
        padding: 2px;
    }

@media (min-width: 981px) {
    .auditoria-fluxo-patio {
        margin: 0 0 0 19px;
    }

    .carga-detalhes {
        width: 140%;
        border-right: solid 2px #CCC;
    }

    .etapas-fluxo .WizardCarga {
        margin-bottom: 15px;
    }
}

@media (min-width: 980px) {
    div.exibicao-compacta {
        height: 80px;
        margin-bottom: 10px;
    }

    .exibicao-compacta .container-etapas {
        overflow-x: auto;
        height: 80px;
    }

    .exibicao-compacta .etapas-fluxo {
        padding-left: 39px !important;
    }

    .exibicao-compacta .auditoria-fluxo-entrega {
        margin-left: -1.5%;
    }

    .exibicao-compacta .carga-detalhes {
        height: 76px;
    }

    .exibicao-compacta .etapas-fluxo .WizardCarga {
        margin-top: 15px;
        /*width: 3000px;*/
    }
}

@media (max-width: 980px) {
    div.container-fluxo {
        margin-bottom: 10px;
    }

    .cabecalho-fluxo {
        margin-bottom: 0px !important;
    }

    .container-etapas {
        overflow-x: auto;
        height: 80px;
    }

    .etapas-fluxo .WizardCarga {
        margin-top: 15px;
        width: 1500px;
    }
}


.well-carga {
    height: 100px;
    margin-right: 5px;
}

    .well-carga:hover {
        opacity: 1 !important;
        /*cursor: pointer !important;*/
        background-color: #F0F8FF;
    }

    .well-carga p {
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Arial;
        font-size: 12px;
    }

    .well-carga .footer-well-carga {
        height: 27px !important;
    }

        .well-carga .footer-well-carga button {
            padding: 3px 6px 3px 6px !important;
        }

.well-carga-selecionada {
    height: 100px;
    margin-right: 5px;
    background-color: #669EC6;
    border-color: #006FBF;
    color: #FFF;
}

    .well-carga-selecionada p {
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Arial;
        font-size: 12px;
    }

    .well-carga-selecionada .footer-well-carga {
        height: 27px !important;
    }

        .well-carga-selecionada .footer-well-carga button {
            padding: 3px 6px 3px 6px !important;
        }

    .well-carga-selecionada:hover {
        opacity: 0.8 !important;
    }

.well-green:hover {
    opacity: 0.8 !important;
}

.table-cargas {
    height: 400px;
    margin: 0 5px 0 0px !important;
    padding: 5px 0 0 5px;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    overflow-y: scroll;
}

.liDadosCarga {
    width: 5%;
}