.aviso-filtragem-dados {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 218px;
    gap: 16px;
}

    .aviso-filtragem-dados div {
        justify-self: center;
    }

        .aviso-filtragem-dados div > i {
            font-size: 90px;
            color: #AEAEAE;
        }

.info-title {
    color: #AEAEAE;
}

.aviso-selecionar-registro {
    height: 108px;
    display: grid;
    align-items: center;
    justify-content: center;
}


.color-wrapper {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.input-color {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%);
}

.button-ghost {
    border: none;
    background: none;
    font-weight: 700;
    color: #02243D;
}

    .button-ghost > i {
        font-weight: 500;
        color: #02243D;
        margin: 2px;
    }

.delete-raio-button {
    width: 25px;
    height: 25px;
    float: left;
    background-image: url("../../../../img/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.btn-outline-danger-custom {
    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
}

.btn-danger-custom {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
}

.link-div {
    color: #3EA7DB;
}

    .link-div .link {
        color: #3EA7DB;
    }

.aviso-notificacao-enviada {
    border: solid 1px #37EE8B;
    border-radius: 5px;
    width: 152px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .aviso-notificacao-enviada > i {
        color: #37EE8B;
    }

.titulo-destaque {
    font-size: 1.1rem;
    font-weight: 700; 
    color: #000000; 
    margin-bottom: 15px;
}