* {
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    background: #FAFAFE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Topo */
.container-logotipos {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    min-width: 300px;
    height: 60px;
    z-index: 100;
    background: #202b3e;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.logo-principal {
    position: absolute;
    left: 0px;
    margin: 0px 10px;
    width: 150;
    min-height: 60px;
    color: #FFF;
}

.logo-principal > img {
    height: 60px;
    padding: 10px;
}

.logo-multi {
    position: absolute;
    right: 0px;
    width: 90px;
    color: #FFF;
    overflow: hidden;
    text-indent: -9999px;
    margin: 10px 20px;
    background-image: url(/img/rastreio-entrega/logo-multisoftware.svg);
    background-size: auto 36px;
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;
}

/* Info Pedido */
.info-pedido {
    padding-top: 100px;
}

    .info-pedido p.lead {
        color: #202b3e !important;
        font-size: 20px !important;
        font-weight: 700;
        margin-bottom: 5px !important;
    }

.exibe-endereco {
    color: #456da3 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

/* Etapas */
.exibe-etapas {
    margin: 20px 0px 15px;
}

.container-etapa-01,
.container-etapa-03 {
    float: left;
    width: 100%;
    max-width: 530px;
    background: url(/img/rastreio-entrega/line-etapa-off.png) 0px 38px repeat-x;
}

.container-etapa-01-on,
.container-etapa-03-on {
    float: left;
    width: 100%;
    max-width: 530px;
    background: url(/img/rastreio-entrega/line-etapa-on.png) 0px 38px repeat-x;
}

.etapa-01,
.etapa-02 {
    float: left;
    width: 80px;
}

.etapa-03 {
    float: right;
    width: 80px;
}

.icon-etapa-01,
.icon-etapa-02,
.icon-etapa-03 {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #dae2ff;
}

.icon-etapa-02-on,
.icon-etapa-03-on {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #475999;
}

.icon-etapa-01 {
    background-color: #475999;
}

    .icon-etapa-01 img {
        float: left;
        margin: 23px 0px 0px 23px;
        filter: brightness(100);
        width: 34px;
        height: auto;
    }

.icon-etapa-02 img {
    float: left;
    margin: 23px 0px 0px 22px;
    width: 36px;
    height: auto;
}

.icon-etapa-02-on img {
    float: left;
    margin: 23px 0px 0px 22px;
    filter: brightness(100);
    width: 36px;
    height: auto;
}

.icon-etapa-03 img {
    float: left;
    margin: 22px 0px 0px 26px;
    width: 31px;
    height: auto;
}

.icon-etapa-03-on img {
    float: left;
    margin: 22px 0px 0px 26px;
    filter: brightness(100);
    width: 31px;
    height: auto;
}

.txt-etapa-01,
.txt-etapa-02,
.txt-etapa-03 {
    float: left;
    width: 80px;
}

    .txt-etapa-01 p,
    .txt-etapa-02 p,
    .txt-etapa-03 p {
        font-size: 12px;
        color: #456da3;
        padding: 5px 0px;
        font-weight: bold;
    }

/* Previsão chegada */
.previsao-chegada {
    padding-bottom: 20px;
}

    .previsao-chegada h3 {
        font-size: 15px;
        color: #47599d;
    }

    .previsao-chegada small {
        font-size: 13px;
        font-weight: 600;
        color: #666;
    }

.box-previsao-chegada {
    float: left;
    width: 100%;
    min-height: 30px;
    background: #475999;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.icon-previsao-chegada {
    float: left;
    width: 28px;
    height: 28px;
}

    .icon-previsao-chegada img {
        filter: brightness(100);
    }

.txt-previsao-chegada {
    float: left;
    width: 460px;
    height: 28px;
}

    .txt-previsao-chegada p {
        font-size: 18px;
        font-weight: 700;
        color: #FFF;
    }

/* Abas */
.container-abas {
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 30px;
}

.conteudo-abas {
    padding: 30px;
    min-height: 100px;
}

.nav-tabs {
    background: #475999;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
}

    .nav-tabs a {
        background-color: rgba(255, 255, 255,.3);
        background-size: auto 25px;
        background-position: 8px 7px;
        background-repeat: no-repeat;
        min-width: 220px;
        color: #FFF;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 20px 10px 20px;
        margin-bottom: 0px;
        border-radius: 5px 5px 0px 0px !important;
        margin-right: 5px;
        transition: ease .25s;
        text-align: center;
    }

        .nav-tabs a:hover {
            background-color: rgba(255, 255, 255,.4);
            background-size: auto 25px;
            background-position: 8px 7px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 0px;
            border-left: 0px;
            margin-bottom: 0px;
        }

.aba-icone-01 {
    background-image: url("/img/rastreio-entrega/icon-detalhe-pedido.svg");
}

.aba-icone-02 {
    background-image: url("/img/rastreio-entrega/icon-localizacao.svg");
}

.aba-icone-03 {
    background-image: url("/img/rastreio-entrega/icon-historico.svg");
}

.aba-icone-04 {
    background-image: url("/img/rastreio-entrega/icon-motorista.svg");
}

.aba-icone-05 {
    background-image: url("/img/rastreio-entrega/icon-foto.svg");
}

.nav-tabs .nav-link {
    border: 0px;
}

#detalhe-pedido table {
    width: 100%;
}

    #detalhe-pedido table td {
        padding: 10px;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
    }

        #detalhe-pedido table td.desc-tabela {
            font-size: 12px;
            font-weight: bold;
            color: #475999;
        }
/* Listras */
.table-secondary,
.table-secondary > td,
.table-secondary > th {
    background-color: #EFF1F6;
}

.table-hover tbody tr:hover {
    background-color: rgba(126,138,183,.25);
}

.table-hover .table-secondary:hover {
    background-color: rgba(255,255,255,.25);
}

    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
        background-color: rgba(126,138,183,.25);
    }

/* Mapa Localização */
#localizacao-pedido iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #DDD;
    padding: 1px;
    margin: 10px auto;
}

/* Histórico */
.container-historico {
    padding-right: 30px;
}

.historico-etapa-01,
.historico-etapa-02,
.historico-etapa-03,
.historico-update {
    background-image: url(/img/rastreio-entrega/line-etapa-off.png);
    background-position: 24px 0px;
    background-repeat: repeat-y;
    padding-top: 0px;
}

.historico-etapa-03 {
    background: none;
}
/**/
.bullet-etapa {
    height: 22px;
}

    .bullet-etapa img {
        width: auto;
        height: 22px;
        vertical-align: top !important;
    }

.bullet-update {
    height: 18px;
}

    .bullet-update img {
        width: auto;
        height: 18px;
        margin-left: 2px;
        vertical-align: top !important;
        border: 0px;
        outline: none;
    }

/**/
.status-etapa {
    padding-bottom: 30px;
}

    .status-etapa p {
        font-size: 15px;
        font-weight: bold;
        color: #475999;
        margin-bottom: 0rem;
    }

        .status-etapa p small {
            font-size: 12px;
            color: #1485c8;
            font-weight: 600;
        }

/**/
.detalhes-etapa {
    background: #eff1f6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    /*display: none;*/
}

    .detalhes-etapa p {
        font-size: 15px;
    }

/* Avaliação da entrega */
.box-avalie {
    width: 280px;
    min-height: 45px;
    background: #475999;
    padding: 10px;
    border-radius: 5px;
    margin: 0px auto 20px;
}

.estrela-preenchida {
    background-image: url(/img/rastreio-entrega/star-on.svg) !important;
    background-size: auto 23px !important;
}

.box-avalie a {
    position: relative;
    float: left;
    width: 52px;
    height: 25px;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/img/rastreio-entrega/star-off.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 25px;
    transition: ease .1s;
}

.box-avalie a:hover {
    background-image: url(/img/rastreio-entrega/star-on.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 23px;
}

/* 1199 */
@media only screen and (max-width: 1199px) {
    /* Etapas */
    .container-etapa-01,
    .container-etapa-03,
    .container-etapa-01-on,
    .container-etapa-03-on {
        max-width: 440px;
    }
    /*Previsão Chegada*/
    .txt-previsao-chegada {
        width: 90%;
    }
}

/* 990 */
@media only screen and (max-width: 990px) {
    .container-etapa-01,
    .container-etapa-03,
    .container-etapa-01-on,
    .container-etapa-03-on {
        max-width: 320px;
    }

    /*Abas*/
    .nav-tabs a {
        min-width: 160px;
        font-size: 12px;
    }

    .aba-icone-01,
    .aba-icone-02,
    .aba-icone-03,
    .aba-icone-04,
    .aba-icone-05 {
        background-size: auto 15px !important;
        background-position: 5px 11px !important;
    }
}


/* 780 */
@media only screen and (max-width: 780px) {
    .container-logotipos,
    .info-pedido,
    .exibe-etapas,
    .previsao-chegada,
    .container-abas {
        min-width: 300px;
    }
        /* Info Pedido */
        .info-pedido p.lead {
            font-size: 14px !important;
        }

        .info-pedido p.exibe-endereco {
            font-size: 12px !important;
        }

    /* Etapas */
    .exibe-etapas {
        width: 300px !important;
        margin: 10px auto !important;
    }

    .container-etapa-01,
    .container-etapa-03,
    .container-etapa-01-on,
    .container-etapa-03-on {
        max-width: 125px;
        background-position: 0px 30px;
    }

    .container-etapa-01,
    .container-etapa-01-on {
        margin-left: 5px;
    }

    .etapa-01,
    .etapa-02,
    .etapa-03 {
        width: 60px;
    }

    .icon-etapa-01,
    .icon-etapa-02,
    .icon-etapa-03,
    .icon-etapa-02-on,
    .icon-etapa-03-on {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

        .icon-etapa-01 img,
        .icon-etapa-02 img,
        .icon-etapa-03 img,
        .icon-etapa-02-on img,
        .icon-etapa-03-on img {
            height: 25px;
            width: auto;
        }

        .icon-etapa-01 img {
            margin: 17px 0px 0px 16px;
        }

        .icon-etapa-02 img, .icon-etapa-02-on img {
            margin: 17px 0px 0px 16px;
        }

        .icon-etapa-03 img, .icon-etapa-03-on img {
            margin: 17px 0px 0px 19px;
        }

    .txt-etapa-01,
    .txt-etapa-02,
    .txt-etapa-03 {
        width: 60px;
    }

        .txt-etapa-01 p,
        .txt-etapa-02 p,
        .txt-etapa-03 p {
            font-size: 8px;
        }

    /* Previsão Chegada */
    .txt-previsao-chegada p {
        font-size: 15px;
    }


    /* Abas */
    .nav-tabs li {
        width: 50%;
    }

    .nav-tabs a {
        min-width: 150px;
        width: auto !important;
        font-size: 12px;
        border-radius: 5px 5px 5px 5px !important;
        margin-bottom: 10px;
        padding: 10px 5px 10px 10px;
    }

    .aba-icone-01,
    .aba-icone-02,
    .aba-icone-03,
    .aba-icone-04, 
    .aba-icone-05 {
        background-size: auto 15px !important;
        background-position: 5px 11px !important;
    }

    /* Histórico */

    .status-etapa {
        margin-top: -25px;
        padding-bottom: 15px;
    }

        .status-etapa p {
            margin-left: 40px;
        }

    .detalhes-etapa {
        margin-left: 50px;
    }
}

/* 320 */
@media only screen and (max-width: 320px) {
    .nav-tabs li {
        width: 98%;
    }

    #detalhe-pedido table td {
        font-size: 12px;
    }
}
