.rating {
    border: none;
}

    .rating label {
        display: block;
        height: 17px;
        margin-top: 5px;
        padding: 0 2px;
        font-size: 17px;
        line-height: 4px;
        cursor: pointer;
    }

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > label:last-child:before {
        margin-left: 0;
    }

    .rating > label:first-child:before {
        margin-right: 0;
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    .rating input:disabled + label {
        cursor: default;
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > input:not(:disabled) + label:hover,
    .rating:not(:checked) > input:not(:disabled) + label:hover ~ label {
        color: #FFD700 !important;
    }

    .rating > input:checked:not(:disabled) + label:hover,
    .rating > input:checked:not(:disabled) ~ label:hover,
    .rating > label:hover ~ input:checked:not(:disabled) ~ label,
    .rating > input:checked:not(:disabled) ~ label:hover ~ label {
        color: #FFED85 !important;
    }