/*Fonte*/
/*@font-face {
    font-family: Decker;
    src: url("../fonts/Decker.eot?") format("eot"),url("../fonts/Decker.woff") format("woff"),url("../fonts/Decker.ttf") format("truetype"),url("../fonts/Decker.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}

.botoes-amarelo {
    font-family: 'Decker' !important;
}*/
/*Menu Tabs*/
/*.botoes-amarelo .nav-tabs > li > a.active {
    color: #262626;
    background-color: #ffeb00 !important;
    border: none;
    box-shadow: 0 0 1em black !important;
}

.botoes-amarelo header {
    height: 40px !important;
}

.botoes-amarelo .nav-tabs > li > a {
    text-align: center !important;
    border-radius: 0px;
    border: none;
    width: auto;
}

.botoes-amarelo header:first-child .nav-tabs {
    float: none;
}

.botoes-amarelo header:first-child .nav-tabs li {
    padding-left: 0;
}

.botoes-amarelo header:first-child .nav-tabs li a {
    color: #333;
}

.botoes-amarelo header:first-child .nav-tabs.pull-right li:last-child a {
    margin-right: 0px !important;
    border-right: none !important;
}*/

/*Esconde menu topo*/
/*.botoes-amarelo #header {
    display: none;
}*/

/*Botões*/
/*.botoes-amarelo #botao-logout {
    margin: 20px;
    display:block !important;
}

.botoes-amarelo .btn-success {
    color: #262626;
    background-color: #f4e912;
    border-color: #ffcc00;
    font-weight: bold !important;
}

.botoes-amarelo .modal-busca-entidade .btn-primary {
    color: #262626;
    background-color: #f4e912;
    border-color: #f4e912;
    font-weight: bold;
}

.botoes-amarelo .btn-primary {
    color: #262626;
    background-color: #f4e912;
    border-color: #f4e912;
    font-weight: bold;
}*/
/*Box Bem vindo*/
/*.botoes-amarelo .box-bem-vindo {
    margin: 10px;
    margin-top: 20px;
    height: 80px;
    text-align: center;
    font-size: 16px;
    display: block !important;
}
.botoes-amarelo .box-bem-vindo section {
    background: #FFFF;
    border-radius: 22px;
    padding: 29px;
    text-align: center;
}
.botoes-amarelo .box-bem-vindo span{
    font-weight: bold;
}
.botoes-amarelo .box-bem-vindo .texto {
    text-align: right;
    margin-top: 15px;
}

#left-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 904;
    padding-top: 49px;
}

#left-panel {
    -webkit-transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    -webkit-transform: translate(0px, 0px) translateZ(0px);
}

.botoes-amarelo #left-panel {
    padding: 10px;
}
.botoes-amarelo .box-bem-vindo img {
    width: 35%;
}
.botoes-amarelo .box-bem-vindo .login-img {
    width: 135px;
}*/

/*Menu superior*/

/*.botoes-amarelo nav ul {
    width: 100%;
    padding: 40px 28px 25px 0;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 0.5em;
    list-style: none;
    position: relative;
}

.botoes-amarelo #left-panel {
    background: #f4e912 !important;
}
.botoes-amarelo #left-panel a{
    color: #000000;
}
.botoes-amarelo #left-panel nav ul#ulMenuSistema li.active > a {
    color: #000000 !important;
}
.botoes-amarelo #left-panel a:hover {
    background: #FFF !important;
    border-color: #000000 !important;
    color: #000000 !important;
}

.botoes-amarelo #left-panel nav > ul > li:hover {
    color: #FFF !important;
}

.botoes-amarelo nav > ul ul ul {
    border-top: 1px solid #c7c7c7 !important;
}

.botoes-amarelo nav ul ul, .botoes-amarelo nav ul ul ul {
    display: none !important;
    background: #ffffff !important;
    box-shadow: none;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: inset 0px -4px 0px 0px #bd2a2a;
    -moz-box-shadow: inset 0px -4px 0px 0px #bd2a2a;
    box-shadow: inset 0px -4px 0px 0px #bd2a2a;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border-bottom: 1px solid #BD2A2A;
    border-top: none;
    width: 200px;
    border-radius: 0;
    padding: 3px;
    margin-left: 0px;
}

    .botoes-amarelo nav ul ul, .botoes-amarelo nav ul ul ul {
        background: #2e3e57 !important;
        border: 1px solid transparent;
        padding: 0px;
    }

.botoes-amarelo nav ul ul, .botoes-amarelo nav ul#ulMenuSistema ul ul {
    background: #ffdb4d !important;
}
.botoes-amarelo #left-panel nav > ul#ulMenuSistema > li:hover > a {
    color: #000 !important;
}

.botoes-amarelo #left-panel nav > ul#ulMenuSistema > li:hover {
    background: linear-gradient(to bottom, #e6b800, #ffdb4d 66%);
}

.botoes-amarelo #left-panel nav > ul#ulMenuSistema > li > ul {
    background: #ffdb4d !important;
}
.botoes-amarelo nav ul#ulMenuSistema ul li:hover > a {
    background: #FFF !important;
}

.botoes-amarelo #knockoutAvisoFornecedor {
    display: none;
}

.botoes-amarelo aside#left-panel {
    width: 100% !important;
    max-width: none !important;
    min-height: 0 !important;
    height: auto;
    overflow: visible;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    border-bottom: 1px solid #222;
    border-top: 1px solid #333;
}

.botoes-amarelo aside#left-panel {
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    border-bottom: 1px solid #222;
    border-top: 1px solid #333;
}

.botoes-amarelo aside#left-panel {
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    border-bottom: 1px solid #222;
    border-top: 1px solid #333;
}

.botoes-amarelo aside#left-panel div.page-logo {
    display: none;    
}

    .botoes-amarelo aside#left-panel nav {
        overflow: visible !important;
        display: block;
    }

.botoes-amarelo aside#left-panel nav > ul {
    display: block;
    width: 100%;
}

.botoes-amarelo aside#left-panel nav > ul > li {
    display: block;
    position: relative;
    height: auto !important;
    padding: 0px !important;
    display: inline-block;
    float: left;
    border-right: 1px solid #222;
    border-left: 1px solid #4E4E4E;
    overflow: visible;
}

    .botoes-amarelo aside#left-panel nav > ul > li {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }


.botoes-amarelo nav ul span.menu-item-parent {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.botoes-amarelo .menu-item-parent {
    max-width: 72px;
    min-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 13px;
}

.botoes-amarelo aside#left-panel nav > ul > li:first-child {
    margin-left: 0px;
}

.botoes-amarelo a {
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s !important;
}

.botoes-amarelo nav ul li a {
    padding: 12px 17px 12px 16px;
}

.botoes-amarelo nav ul li a, .botoes-amarelo .login-info strong, .botoes-amarelo .login-info a {
    color: #8b91a0;
}

.botoes-amarelo li.active > a {
    font-weight: bold !important;
}

.botoes-amarelo #left-panel a {
    color: #000000;
}

.botoes-amarelo aside#left-panel nav > ul > li > a {
    display: inline-block;
    height: 68px;
    line-height: 17px;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
    line-height: 22px;
    padding: 10px 9px !important;
}

.botoes-amarelo aside#left-panel nav > ul > li > a {
    text-shadow: none !important;
    font-size: 13px;
    padding: 10px 9px !important;
}

.botoes-amarelo #left-panel nav ul#ulMenuSistema li.active > a {
    color: #000000 !important;
}

.botoes-amarelo nav > ul > li > a > i {
    font-size: 17px;
    vertical-align: 0px;
}

.botoes-amarelo aside#left-panel nav > ul > li > a > i {
    display: block !important;
    margin: 1px 0 4px;
    line-height: inherit;
    width: auto;*/
    /* vertical-align: sub; */
    /*text-align: center;
    font-size: 24px;
    margin-bottom: 2px;
    width: 100%;
}

.botoes-amarelo aside#left-panel nav > ul > li > ul {
    position: absolute !important;
    background: #3a3633;
}

.botoes-amarelo aside#left-panel nav > ul > li:hover > ul {
    display: block !important;
}

.botoes-amarelo aside#left-panel nav > ul > li:hover > a {
    color: #F1F1F1 !important;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.botoes-amarelo nav ul li li {
    border-bottom: none;
    position: relative;
}

.botoes-amarelo nav ul ul li {
    margin: 0;
    padding: 0;
}

.botoes-amarelo nav ul ul li {
    overflow: visible;
}

    .botoes-amarelo nav ul ul li a, .botoes-amarelo nav ul ul ul li a {
        color: #4C4F53;
    }

    .botoes-amarelo nav ul ul li > a {
        text-shadow: 0 1px 1px #000;
        font-size: 13px;
        padding-left: 43px;
        display: block;
        font-weight: 300;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        overflow: hidden;
        text-shadow: none !important;
        color: #646E75;
    }

.botoes-amarelo nav > ul ul li:hover > ul {
    display: block !important;
    position: absolute;
    z-index: 999;
    left: 100%;
    top: -1px;
    background: #333;
}

.botoes-amarelo nav ul ul, .botoes-amarelo nav ul#ulMenuSistema ul ul {
    background: #ffdb4d !important;
}

.botoes-amarelo nav ul ul ul li a {
    padding: 10px 17px 10px 54px !important;
}

    .botoes-amarelo nav ul ul li a {
        padding-left: 10px !important;
        font-size: 13px;
    }

    .botoes-amarelo nav ul ul ul li a {
        padding-left: 10px !important;
        font-size: 13px;
    }*/


    /*Select*/
    /*.botoes-amarelo .select select {
    border: none !important;
    border-bottom: 1px solid !important;
    border-color: #BDBDBD !important;
}*/
    /*Input*/
    /*.botoes-amarelo .input input {
    border: none !important;
    border-bottom: 1px solid !important;
    border-color: #BDBDBD !important;
}*/
    /*table*/
    /*.botoes-amarelo table.table-bordered.dataTable {
    border-collapse: unset !important;
}*/
    /*.botoes-amarelo .table-bordered {
    border: none !important;
}*/
    /*.botoes-amarelo .alterar-senha-portal-retira {
        margin: 20px !important;
    }

.botoes-amarelo .div-pre-box {
    padding: 30px 5px 70px 5px !important;
}*/

.botoes-amarelo .div-pre-box {
    padding: 40px;
    margin: 35px 35px 0px;
    box-shadow: 0px 0px 12px 10px rgb(0 0 0 / 5%);
}

.botoes-amarelo .row.box-bem-vindo {
    height: 80px;
    text-align: center;
    font-size: 16px;
    display: block !important;
}

.botoes-amarelo .box-bem-vindo div.col.col-12 {
    text-align: center;
}

.botoes-amarelo .box-bem-vindo img {
    width: 35%;
}

.botoes-amarelo .box-bem-vindo span {
    font-weight: bold;
}

.botoes-amarelo .btn-primary, .botoes-amarelo .btn-success {
    background-color: #f4e912;
    border-color: #f4e912;
}

.botoes-amarelo .btn-primary:disabled, .botoes-amarelo .btn-success:disabled {
    background-color: #f4e912;
    border-color: #f4e912;
}


.botoes-amarelo .page-logo,
.botoes-amarelo .page-sidebar,
.botoes-amarelo .nav-footer, 
.botoes-amarelo .bg-brand-gradient {
    background-color: #ffffff;
}

.botoes-amarelo .page-logo-text img {
    display: none !important;
}

.botoes-amarelo .page-logo-text img.light {
    display: block !important;
}

.botoes-amarelo h2.text-white {
    color: #556571 !important;
}

.botoes-amarelo #login-form .btn-info {
    color: #556571;
    background-color: #f4e912;
    border-color: #f4e912;
}

.botoes-amarelo div.position-absolute {
    color: #556571 !important;
}

.botoes-amarelo .mensagem-aviso-agendamentos-pendentes-container {
    background-color: #ffe6e6;
    color: #990000;
    display: none;
    margin-bottom: 20px;
    padding: 20px 10px 10px;
}

    .botoes-amarelo .mensagem-aviso-agendamentos-pendentes-container span {
        display: block;
        font-size: 16px;
        font-weight: normal !important;
        line-height: 16px;
        margin-bottom: 10px;
    }

/*PPCE PERU - INICIO*/

.botoes-amarelo-ppce .page-header {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.botoes-amarelo-ppce #search-pages {
    color: #17428c !important;
}

.botoes-amarelo-ppce #search-pages::placeholder {
    color: #17428c !important;
}

.botoes-amarelo-ppce .page-header .header-icon:hover {
    background-color: #ffffff !important;
}

.botoes-amarelo-ppce .profile-image {
    color: #17428c !important;
    filter: grayscale(1) !important;
}

.botoes-amarelo-ppce .div-pre-box {
    padding: 40px;
    margin: 35px 35px 0px;
    box-shadow: 0px 0px 12px 10px rgb(0 0 0 / 5%);
}

.botoes-amarelo-ppce .row.box-bem-vindo {
    height: 80px;
    text-align: center;
    font-size: 16px;
    display: block !important;
}

.botoes-amarelo-ppce .box-bem-vindo div.col.col-12 {
    text-align: center;
}

.botoes-amarelo-ppce .box-bem-vindo img {
    width: 35%;
}

.botoes-amarelo-ppce .box-bem-vindo span {
    font-weight: bold;
}

.botoes-amarelo-ppce .btn-primary, .botoes-amarelo-ppce .btn-success a:hover {
    background-color: #17428c !important;
    border-color: #17428c !important;
    color: #ffffff !important;
}

    .botoes-amarelo-ppce .btn-primary:hover {
        background-color: #17428c !important;
        border-color: #17428c !important;
        color: #ffffff !important;
    }

    .botoes-amarelo-ppce .btn-primary:disabled, .botoes-amarelo-ppce .btn-success:disabled {
        background-color: #17428c !important;
        border-color: #17428c !important;
        color: #ffffff !important;
    }

.botoes-amarelo-ppce .btn-success {
    background-color: #ed0530 !important;
    border-color: #ed0530 !important;
    color: #ffffff !important;
}

.botoes-amarelo-ppce .page-logo,
.botoes-amarelo-ppce .page-sidebar,
.botoes-amarelo-ppce .nav-footer,
.botoes-amarelo-ppce .bg-brand-gradient {
    background-color: #ffffff;
}

.botoes-amarelo-ppce .page-logo-text img {
    display: none !important;
}

    .botoes-amarelo-ppce .page-logo-text img.light {
        display: block !important;
    }

.botoes-amarelo-ppce h2.text-white {
    color: #556571 !important;
}

.botoes-amarelo-ppce #login-form .btn-info {
    color: #ffffff !important;
    background-color: #ff7800;
    border-color: #ff7800;
}

.botoes-amarelo-ppce #btnAzureAD {
    color: #ffffff;
    background-color: #00ADE1 !important;
    border-color: #00ADE1;
}

.botoes-amarelo-ppce div.position-absolute {
    color: #556571 !important;
}

.botoes-amarelo-ppce .mensagem-aviso-agendamentos-pendentes-container {
    background-color: #ffe6e6;
    color: #990000;
    display: none;
    margin-bottom: 20px;
    padding: 20px 10px 10px;
}

    .botoes-amarelo-ppce .mensagem-aviso-agendamentos-pendentes-container span {
        display: block;
        font-size: 16px;
        font-weight: normal !important;
        line-height: 16px;
        margin-bottom: 10px;
    }

.nav-menu li.active > a > i,
.nav-menu li.active > a > b {
    color: white !important;
}

.nav-function-top .page-sidebar .primary-nav .nav-menu-wrapper .nav-menu li > ul li a {
    color: #ffffff !important;
}

.nav-function-top .page-header .header-icon:not(.btn) > [class*='fa-']:first-child, .nav-function-top .page-header .header-icon:not(.btn) > .ni:first-child {
    color: #17428c !important;
    filter: grayscale(1) !important;
}

.nav-function-top .page-sidebar .primary-nav .text-primary {
    color: #17428c !important;
}

.nav-function-top .page-sidebar .primary-nav .nav-menu > li > ul {
    background: #17428c !important;
    color: #ffffff;
}

    .nav-function-top .page-sidebar .primary-nav .nav-menu > li > ul > li > ul {
        background: #17428c !important;
        color: #ffffff;
    }

.nav-menu b.collapse-sign > [class*='fa-'], .nav-menu b.collapse-sign > .ni {
    color: #ffffff !important;
}

.nav-function-top .page-sidebar .primary-nav .nav-menu > li:hover > a {
    color: #17428c !important;
}

.nav-function-top .page-sidebar .primary-nav .nav-menu > li > a > .collapse-sign {
    color: #17428c !important;
}

.nav-function-top .page-sidebar .primary-nav .nav-menu > li > ul:before {
    content: none !important;
    font-family: 'nextgen-icons';
    position: absolute;
    font-size: 5rem;
    color: #68518c;
    overflow: hidden;
    display: block;
    top: -1.7rem;
    left: 0;
}


.nav-function-top .page-sidebar .primary-nav li > a,
.nav-function-top .page-sidebar .primary-nav li > a > i,
.nav-function-top .page-sidebar .primary-nav li > a > b {
    color: #17428c !important;
}

.nav-function-top .page-sidebar .primary-nav li.active > a,
.nav-function-top .page-sidebar .primary-nav li.active > a > i,
.nav-function-top .page-sidebar .primary-nav li.active > a > b {
    color: #17428c !important;
}

.mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark) .nav-menu li.active > a,
.mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark) .nav-menu li.active > a > i,
.mod-skin-light:not(.mod-skin-dark):not(.mod-nav-dark) .nav-menu li.active > a > b {
    color: #17428c !important;
    font-weight: 500 !important;
}

.nav-function-minify .nav-menu li > ul li a > [class*='fa-'] {
    margin-left: 0 !important;
}

.block-ui-custom {
    background-color: #fff;
    border-radius: 8px;
    color: #ff7800 !important;
    padding: 30px;
}

/*PPCE PERU - FIM*/