.wrapper {
    position: relative;
    width: 300px;
    height: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100px;
    background-color: white;
}
