td div.tracking-indicador {
    text-align: center;
    margin: -2px 0;
    height: 20px;
    overflow: hidden;
}

ul.legenda {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.legenda li {
    padding: 2px 0;
    overflow: auto;
    cursor: pointer;
}

ul.legenda li.rota-veiculo {
    margin-left: 23px;
    padding: 0;
    color: #BBB;
    cursor: default;
}

ul.legenda li.rota-veiculo i.fa {
    margin-right: 2px;
}

ul.legenda li.rota-veiculo span.descricao {
    font-size: 11px;
}

ul.legenda li span.linha {
    height: 6px;
    width: 18px;
    margin-top: -3px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: #EEE;
    display: inline-block;
    vertical-align: middle;
}

ul.legenda li.off {
    opacity: 0.2;
}

ul.legenda li span.distancia {
    padding-top: 2px;
    font-style: italic;
    display: inline-block;
    float: right;
    font-size: 10px;
}

div.legenda-rotas-container {
    background-color: #FFF;
    opacity: 0.9;
    z-index: 1;
    position: absolute;
    top: 420px;
    width: 150px;
    margin-left: 12px;
    padding: 5px 12px;
}

#InfoWindowVeiculo div {
    padding-bottom: 10px;
    font-size: 11px;
    width: 320px;
}

#InfoWindowVeiculo div label {
    font-style: italic;
    display: block;
    float: left;
    width: 120px;
}

#InfoWindowVeiculo div span {
    display: block;
    margin-left: 120px;
}

#InfoWindowVeiculo div.placa {
    font-size: 16px;
    font-weight: bold;
}