td.rastreador div {
    text-align: center;
    margin: -2px 0;
    height: 20px;
    overflow: hidden;
}


.box-search .button-filter {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/AcompanhamentoCarga/assets/icons/btn_Filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.box-search .button-config {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/AcompanhamentoCarga/assets/icons/btn_config.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.box-search .button-config-select {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url("../Content/TorreControle/AcompanhamentoCarga/assets/icons/btn_config.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #ebfbff;
    border: 1px solid #DAE5EB;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.filters-action-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .filters-action-buttons .btn {
        border: solid 1px;
        border-radius: 4px;
        font-weight: 600;
    }

.button-outline {
    color: #02243D;
    border-color: #02243D;
}

.button-primary {
    color: white;
    background-color: #02243D;
}

    .button-primary:hover {
        color: white;
        background-color: #01101c;
    }

.button-outline:hover {
    color: #01101c;
    border-color: #01101c;
}

.ghost-button {
    border: none;
    background: none;
    color: #02243D;
    font-weight: 600;
}

    .ghost-button:hover {
        color: #caced1
    }

.header-filtros {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

    .header-filtros .layout-and-filters {
        display: flex;
        gap: 8px;
        justify-self: flex-start;
    }

        .header-filtros .layout-and-filters .button-view-templates {
            width: 160px;
            height: 38px;
            cursor: pointer;
            background-color: #FFFFFF;
            border: 1px solid #DAE5EB;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            color: #AEAEAE;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

    .header-filtros .resumos {
        margin: 20px 20px 0 20px;
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

        .header-filtros .resumos .view-selection-items {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

            .header-filtros .resumos .view-selection-items .view-selection .view-select-button {
                padding: 3px 10px;
                display: flex;
                flex-direction: column;
                min-height: fit-content;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-sizing: unset !important;
            }

                .header-filtros .resumos .view-selection-items .view-selection .view-select-button > span {
                    max-width: 107px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

            .header-filtros .resumos .view-selection-items .view-selection .icon-number {
                font-size: 24px;
                font-weight: 600;
                background: transparent;
                border-radius: 4px;
                padding: 5px;
            }

    .header-filtros .carousel-indicators .indicator-button {
        background-color: #616162;
        border-radius: 100%;
        width: 6px;
        height: 6px;
    }

    .header-filtros .carousel-indicators .indicator-button {
        background-color: #000
    }