/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 * - GRID VIEW
 * - BTN FILE
 * - FILEDSET FOOTER SMART FORM
 */

.padding-13 {
    padding: 15px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

input[type=text]:disabled,
select:disabled,
textarea:disabled,
.smart-form .checkbox input:disabled + i,
.smart-form .radio input:disabled + i {
    background: #D8D8DD !important;
}

input[type=text][disabled]:hover, select[disabled]:hover, textarea[disabled]:hover {
    border-color: #BDBDBD !important;
}

.divFiltroPesquisa {
    margin-bottom: 15px;
}

.btnPesquisarFiltroPesquisa {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

@media (min-width: 800px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}

@media (min-width: 320px) {
    .modal-sm {
        margin: 10px auto;
        width: 300px;
    }
}

@media (min-width: 620px) {
    .modal-md {
        margin: 10px auto;
        width: 600px;
    }
}

@media (min-width: 768px) {
    .modal-lg {
        margin: 10px;
        width: auto;
    }
}

@media (min-width: 1020px) {
    .modal-lg {
        margin: 10px auto;
        width: 1000px;
    }
}

@media (min-width: 992px) {
    .modal-xl {
        width: 990px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        width: 1100px;
    }
}

@media (min-width: 1300px) {
    .modal-xl {
        width: 1200px;
    }
}

@media (min-width: 1400px) {
    .modal-xl {
        width: 1300px;
    }
}

@media (min-width: 1500px) {
    .modal-xl {
        width: 1400px;
    }
}

@media (min-width: 1600px) {
    .modal-xl {
        width: 1500px;
    }
}

@media (min-width: 1700px) {
    .modal-xl {
        width: 1600px;
    }
}

@media (min-width: 1800px) {
    .modal-xl {
        width: 1700px;
    }
}

.smart-form .col-7 {
    width: 58.34% !important;
}

.smart-form .col-11 {
    width: 91.67% !important;
}

.smart-form .col-12 {
    width: 100% !important;
}

table.dataTable thead tr th.sorting_disabled_opcao {
    padding-right: 9px !important;
}

.botaoBusca {
    height: 32px;
    width: 100px;
    padding: 6px 7px;
    margin-top: 24px;
    margin-bottom: -1px;
}

.botaoBusca2 {
    height: 32px;
    width: 100px;
    padding: 6px 7px;
}

.botaoBuscaSomenteLupa {
    height: 32px;
    width: 30px;
    padding: 6px 7px;
    margin-top: 24px;
    margin-bottom: -1px;
}

.botaoBuscaSomenteLupa2 {
    height: 32px;
    width: 30px;
    padding: 6px 7px;
}

.botaoSomenteIcon {
    width: 30px;
    padding: 7px;
}

.botaoAdiconarMultiplosRegistros {
    margin-top: -25px;
    padding: 7px;
}

.botaoDentroSmartAdmimForm {
    padding: 7px;
    min-width: 100px;
}

.botaoTags {
    padding: 3px;
}

.label-btn {
    margin-bottom: 4px !important;
}

.no-padding .insideNoPaddignTable .dataTables_wrapper table tr td:first-child, .no-padding .dataTables_wrapper table tr th:first-child, .no-padding > table tr td:first-child, .no-padding > table tr th:first-child {
    border-left: 1px solid #ccc !important;
}

.no-padding .insideNoPaddignTable .dataTables_wrapper table tr td:last-child, .no-padding .dataTables_wrapper table tr th:last-child, .no-padding > table tr td:last-child, .no-padding > table tr th:last-child {
    border-right: 1px solid #ccc !important;
}

.WizardCarga {
    margin-bottom: 50px;
}

.bootstrapWizard.WizardCarga li#tabTMS:before {
    left: 50%;
    max-width: 50%;
}

.componente-multiplas-entidades {
    width: 45px;
}

.container-componente-multiplas-entidades + label {
    margin-left: -43px;
}

.bootstrapWizard.WizardCarga li {
    display: block;
    float: left;
    /*width: 14.28%;*/
    width: 12.5%;
    text-align: center;
    padding-left: 0;
}

.bootstrapWizard.WizardCarga .popover .popover-title {
    color: #222;
}

.bootstrapWizard.WizardCarga .popover .popover-content {
    color: #444;
}



.bootstrapWizard.WizardCarga li.active .step, .bootstrapWizard li.active.complete .step {
    background: #0091d9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E;
}

.bootstrapWizard.WizardCarga li .step.red {
    background: #DB3F27;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.grey {
    background: #C0C0C0;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.yellow {
    background: #EDD500;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.lightgreen {
    background: #A9A9A9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid #006400;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.green {
    background: #269917;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.cyan {
    background: #66CDAA;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}


.bootstrapWizard.WizardCarga li .step.orange {
    background: #FFA500;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.liberado {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid #269917;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard.WizardCarga li .step.lightsalmon {
    background: #FFA07A;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.etapa-container .step-container .step.red {
    background: #DB3F27;
    color: #fff;
}

.etapa-container .step-container .step.grey {
    background: #C0C0C0;
    color: #fff;
}

.etapa-container .step-container .step.yellow {
    background: #EDD500;
    color: #fff;
}

.etapa-container .step-container .step.lightgreen {
    background: #A9A9A9;
    color: #fff;
}

.etapa-container .step-container .step.green {
    background: #269917;
    color: #fff;
}

.etapa-container .step-container .step.blue {
    background: #0091d9;
    color: #fff;
}


.etapa-container .step-container .step.cyan {
    background: #66CDAA;
    color: #fff;
}


.etapa-container .step-container .step.orange {
    background: #FFA500;
    color: #fff;
}

.etapa-container .step-container .step.lightsalmon {
    background: #FFA07A;
    color: #fff;
}

.bootstrapWizard.WizardCarga li small {
    position: absolute;
    margin-top: -5px;
    margin-left: 30px;
    font-size: 10px;
}

.movimentoPlacasRibbon {
    position: absolute;
    right: -5px;
    top: -4px;
    margin-right: -52px;
}

div.dataTableEllipsisRow {
    white-space: nowrap;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.popover.fade.top.in .popover-title {
    padding: 5px !important;
}

.popover.fade.top.in .popover-content {
    padding: 5px !important;
}

.panel-heading .toggle {
    float: left !important;
    margin-top: 5px !important;
}

.panel-heading .withtoggle a {
    margin-left: 50px !important;
}

.disableText {
    color: #ccc;
}


.headerCursor {
    cursor: pointer;
}


.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.drop-hover small {
    color: black;
    font-weight: bold;
}

.selectCargaGestao {
    margin-bottom: auto !important;
    padding: 3px !important;
    height: 25px;
}

.backgroundDropHover {
    background: rgba(254, 254, 254, 1) !important;
}

.selectCargaGestao label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selectCabecalhoAcerto {
    margin-bottom: auto !important;
    padding: 3px !important;
    height: 25px;
}

    .selectCabecalhoAcerto label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


.table {
    table-layout: fixed;
}

    .table th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.datepicker table td {
    white-space: normal;
}

.botaoBuscaReduzido {
    width: 100px;
    padding: 7px;
    margin-top: 23px;
    height: 31px !important;
}


.botaoBuscaReduzidoSomenteLupa {
    width: 30px;
    padding: 7px;
    margin-top: 23px;
    height: 31px !important;
}


.inputReduzido {
    height: 28px !important;
}

/*.ui-spinner-down {
    background-color: #ccc;
}

.ui-spinner-down, .ui-spinner-up{
    background-color: #ccc;
}*/


.svg-map a {
    text-decoration: none;
}

.svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
}

/*Origem e Destino */

.svg-map .origemDestino path {
    fill: #473C8B;
    cursor: default;
}

.svg-map .origemDestino:hover text {
    cursor: default;
}

.svg-map .origemDestinoEnable path {
    fill: #473C8B;
}

.svg-map .origemDestinoEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .origemDestinoEnable:hover path {
        fill: #6959CD !important;
    }



/*destino */

.svg-map .destino path {
    fill: #2F4F4F;
    cursor: default;
}

.svg-map .destino:hover text {
    cursor: default;
}

.svg-map .destinoEnable path {
    fill: #2F4F4F;
}

.svg-map .destinoEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .destinoEnable:hover path {
        fill: #696969 !important;
    }



/*origem */

.svg-map .origem path {
    fill: #0000CD;
    cursor: default;
}

.svg-map .origem:hover text {
    cursor: default;
}

.svg-map .origemEnable path {
    fill: #0000CD;
}

.svg-map .origemEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .origemEnable:hover path {
        fill: #0000FF !important;
    }



/*passagem */

.svg-map .passagem path {
    fill: #228B22;
}

.svg-map .passagem:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .passagem:hover path {
        fill: #00CD00 !important;
    }

.svg-map .default:hover .circle {
    cursor: pointer;
}

/*passagem disable */

.svg-map .passagemDisable path {
    fill: #228B22;
    cursor: default;
}

.svg-map .passagemDisable:hover text {
    cursor: default;
}


/*default Enable*/

.svg-map .defaultEnable path {
    fill: #66CDAA;
}

.svg-map .defaultEnable:hover {
    cursor: pointer;
    text-decoration: none;
}

    .svg-map .defaultEnable:hover path {
        fill: #76EEC6 !important;
    }

.svg-map .default:hover .circle {
    cursor: pointer;
}

/*default*/

.svg-map .default path {
    fill: #66CDAA;
    cursor: default;
}

.svg-map .default:hover text {
    cursor: default;
}

.svg-map .default:hover .circle {
    /*fill: #3B8686 !important;*/
    cursor: default;
}

.legendColor {
    width: 18px;
    height: 18px;
    border-radius: 10px;
}

.legendColorSquare {
    border-radius: 0;
}

.legendColor-text {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    text-align: center;
}

    .legendColor-text::before {
        content: "Aa";
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
    }

.legendColor-text-text {
    vertical-align: bottom;
    font-weight: bold;
}

.smart-form .legenda-container,
.legenda-container {
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 8px;
}

    .legenda-container label {
        border-radius: 10px;
        height: 18px;
        margin-bottom: 1px;
        width: 18px;
    }

        .legenda-container label.legendColorSquare {
            border-radius: 0;
        }

    .legenda-container div {
        height: 25px;
        overflow: hidden;
    }

    .legenda-container span {
        vertical-align: super;
    }

        .legenda-container span.legenda-item-totalizador {
            color: #b36200;
        }

.smart-form .legenda-container-no-padding,
.legenda-container-no-padding {
    padding: 0;
}

.smart-style-1 .btn-header > :first-child > a {
    background: #0091d9 !important;
    border: 1px solid #0091CF !important;
    color: #fff !important;
    cursor: pointer !important;
}

.smart-style-1 .btn-header > :first-child > a {
    background: #0091d9 !important;
    border: 1px solid #0091CF !important;
    color: #fff !important;
    cursor: pointer !important;
}

.smart-form .label {
    height: 19px;
    overflow: hidden;
}

.no-padding > table, .no-padding .dataTables_wrapper table {
    margin-top: 0px !important;
}

.table-hover > tbody > tr.ui-state-highlight:hover {
    background-color: #bce8f1 !important;
}

.table-hover > tbody > tr.gridDisabled:hover {
    background-color: transparent !important;
}

.table-hover > tbody > tr.gridDisabled.ui-state-highlight:hover {
    background-color: #d9edf7 !important;
}

.fieldsetinfo {
    padding: 0px !important;
}

    .fieldsetinfo legend {
        position: absolute;
        margin-top: -37px;
        background-color: transparent;
        padding: 5px;
        border-bottom: none !important;
        width: auto;
    }

    .fieldsetinfo .legendBackGroud {
        position: absolute;
        margin-top: -21px;
        background: #FFF;
        height: 1px;
    }

.tableCursorMove tbody tr {
    cursor: move;
}

.labelReduzido {
    margin-bottom: 0px;
}

.widget-body.no-padding .alert {
    border-width: 0px !important;
    border-left-width: 5px !important;
    margin-bottom: 10px !important;
    margin-top: -15px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

#divModalInformaCaptchaReceita .well {
    padding: 0px !important;
}

.detalhesCarga {
    padding-left: 10px;
    padding-right: 10px;
}

    .detalhesCarga .col {
        margin-bottom: 10px;
    }

    .detalhesCarga .label-multiplas-rotas {
        display: inline-block;
        margin-bottom: -8px;
        color: #fff;
        padding: 2px 3px 2px;
        cursor: pointer;
    }

#fdsCargas .icone-reentrega {
    background-color: #e5eb64;
    padding: 3px 5px;
    border-radius: 2px;
    margin-right: 5px;
}

.modal.modal-wide .modal-dialog {
    margin: 10px auto;
    width: 90%;
}

.input-margin-top-25 {
    margin-top: 25px;
}

@media (min-width:1200px) {
    .input-margin-top-25-lg {
        margin-top: 25px;
    }

    .input-margin-top-24-lg {
        margin-top: 24px;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    .input-margin-top-25-md {
        margin-top: 25px;
    }

    .input-margin-top-24-md {
        margin-top: 24px;
    }
}

@media (min-width: 768px) {
    .checkbox-col-sm-3 {
        margin-top: 28px;
    }
}

.iconeMinimizarCargas {
    /*margin-left: 15px;
    margin-top: -37px;*/
    cursor: pointer;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*END SCROLLBAR*/

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-side {
    padding: 0 14px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.well {
    background-color: #FFFFFF;
}

.well-aqua {
    background-color: #4dffff;
    border: solid 1px #00b3b3;
    color: #333;
    font-size: 12px;
}

.well-green {
    background-color: #85de7b;
    border: solid 1px #239816;
    color: #333;
    font-size: 12px;
}

.well-darkGreen {
    background-color: #016f65;
    border: solid 1px #008e83;
    color: #FFF;
    font-size: 12px;
}

.well-yellow {
    background-color: #ddd855;
    border: solid 1px #9c982f;
    color: #333;
    font-size: 12px;
}

.well-red {
    background-color: #d13636;
    border: solid 1px #8a0505;
    color: #FFF;
    font-size: 12px;
}

.well-orange {
    background-color: #e29e23;
    border: solid 1px #a16c0c;
    color: #333;
    font-size: 12px;
}

.well-blue,
.well-blue-font-color-red {
    background-color: #c8e8ff;
    border: solid 1px #7fa5b9;
    font-size: 12px;
}

.well-blue {
    color: #666;
}

.well-blue-font-color-red {
    color: #cc0000;
}

.well-darkBlue {
    background-color: #1667c6;
    border: solid 1px #0a3465;
    color: #FFF;
    font-size: 12px;
}

.well-white {
    background-color: #fbfbfb;
    border: solid 1px #dddddd;
    color: #666;
    font-size: 12px;
}

.well-gray {
    background-color: #afb8bf;
    border: solid 1px #929698;
    color: #666;
    cursor: not-allowed !important;
    font-size: 12px;
}

.well-purple {
    background-color: #e699ff;
    border: solid 1px #730099;
    font-size: 12px;
}

.well-burlywood {
    background-color: #e4c49b;
    border: solid 1px #ce954b;
    color: #333;
    font-size: 12px;
}

.well-pink {
    background-color: #e8d8ed;
    border: solid 1px #ce954b;
    font-size: 12px;
}

.well-cammo-green {
    background-color: #baba7b;
    border: solid 1px #ce954b;
    font-size: 12px;
}

.well-pastel-pink {
    background-color: #ffcccc;
    border: solid 1px #ce954b;
    color: #666;
    font-size: 12px;
}

.well-dark-gray {
    background-color: #7a7a7a;
    border: solid 1px #ce954b;
    font-size: 12px;
}

.well-sea-green {
    background-color: #7cbdb7;
    border: solid 1px #407878;
    font-size: 12px;
}

.well-steel-blue {
    background-color: #7eaacd;
    border: solid 1px #396a93;
    color: #666;
    font-size: 12px;
}

    .well-aqua:hover,
    .well-burlywood:hover,
    .well-green:hover,
    .well-yellow:hover,
    .well-orange:hover,
    .well-purple:hover,
    .well-blue:hover,
    .well-pink:hover,
    .well-pastel-pink:hover,
    .well-white:hover,
    .well-sea-green,
    .well-steel-blue:hover {
        color: #666;
        opacity: 0.95;
        cursor: pointer;
    }

.well-blue-font-color-red:hover {
    color: #cc0000;
    opacity: 0.95;
    cursor: pointer;
}

.well-red:hover,
.well-darkBlue:hover,
.well-cammo-green:hover,
.well-dark-gray:hover,
.well-darkGreen:hover {
    color: #FFF;
    opacity: 0.95;
    cursor: pointer;
}

.well-gray:hover {
    color: #666;
    opacity: 0.95;
}

.well-aqua .fc-time,
.well-burlywood .fc-time,
.well-green .fc-time,
.well-yellow .fc-time,
.well-red .fc-time,
.well-orange .fc-time,
.well-purple .fc-time,
.well-blue .fc-time,
.well-blue-font-color-red .fc-time,
.well-darkBlue .fc-time,
.well-darkGreen .fc-time,
.well-white .fc-time,
.well-gray .fc-time,
.well-steel-blue .fc-time {
    font-weight: bold;
    font-size: 12px;
}

.txt-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.txt-bold {
    font-weight: bold !important;
}

input[type=text]::-ms-clear { /*pra no mostrar a porra do xizinho nos input*/
    display: none;
}

.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    /*background: #0091d9;*/
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.spanpin {
    width: 35px;
    height: 30px;
    color: #FFF;
    transform: rotate(45deg);
    margin-top: 13px;
    font-weight: bold;
}


/********** RIBBON ***********/

.ribbon-tms {
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: 1;
    overflow: hidden;
    width: 78px;
    height: 78px;
    text-align: right;
}

    .ribbon-tms span {
        font-size: 12px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg) perspective(1px);
        -webkit-transform: rotate(45deg) perspective(1px);
        width: 104px;
        display: block;
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 21px;
        right: -21px;
        white-space: nowrap;
    }

        .ribbon-tms span::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-bottom: 2px solid transparent;
            border-left: 2px solid #404040;
            border-right: 2px solid transparent;
            border-top: 2px solid #404040;
        }

        .ribbon-tms span::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 100%;
            z-index: -1;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #404040;
            border-top: 2px solid #404040;
        }

.ribbon-tms-red span {
    background-color: #F70505;
}

.ribbon-tms-blue span {
    background-color: #2989d8;
}

.ribbon-tms-gray span {
    background-color: #989eb3;
}

.ribbon-tms-green span {
    background-color: #269917;
}

.ribbon-tms-yellow span {
    background-color: #e1bc05;
}

.ribbon-tms-light-yellow span {
    background-color: #9805fa;
}

.ribbon-tms-blue-violet span {
    background-color: #9805fa;
}

.ribbon-tms-black span {
    background-color: #000000;
}

.ribbon-tms-violet span {
    background-color: #e335e3;
}

.ribbon-tms-orange span {
    background-color: #e69500;
}

.ribbon-tms-orange-red span {
    background-color: #ff571a;
}

.ribbon-tms-light-blue span {
    background-color: #d9dcfd;
    color: #404040;
}

.ribbon-tms-sky-blue span {
    background-color: #7ccae9;
    color: #404040;
}

.ribbon-tms-dark-purple span {
    background-color: #7c3877;
}

.ribbon-tms-lime-green span {
    background-color: #a2f6bd;
    color: #404040;
}

.ribbon-tms-navy span {
    background-color: #000080;
}

.ribbon-tms-dark-slate-gray span {
    background-color: #2f4f4f;
}

/********** FIM RIBBON ***********/

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }



.helpRedMine table {
    margin-top: -50px;
}

    .helpRedMine table tr th {
        text-align: center;
    }


    .helpRedMine table tr td {
        padding: 1px 10px 1px 10px;
    }


.dataTables_wrapper .btn-exportar {
    text-align: center;
    line-height: 34px;
}


.modal-dialog-importacao .table-container {
    overflow: scroll;
    max-height: 500px;
}

@media (min-width: 1550px) {
    .modal-dialog.modal-dialog-importacao {
        width: 1500px;
    }
}

@media (min-width: 1050px) and (max-width: 1550px) {
    .modal-dialog.modal-dialog-importacao {
        width: 1000px;
    }
}



.btn-file-simple {
    position: relative;
    display: inline-block;
    margin: 10px 0 0 5px;
    overflow: hidden;
    cursor: pointer;
}

    .btn-file-simple input[type="file"] {
        opacity: 0.01;
        position: absolute;
        right: 0;
        top: 0;
        height: 31px;
        cursor: pointer;
    }

    .btn-file-simple .btn {
        margin: 0 !important;
    }

    .btn-file-simple:hover .btn-default,
    .btn-file-simple:active .btn-default,
    .btn-file-simple:focus .btn-default,
    .btn-file-simple.active .btn-default {
        color: #333333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .btn-file-simple:hover .btn-primary,
    .btn-file-simple:active .btn-primary,
    .btn-file-simple:focus .btn-primary,
    .btn-file-simple.active .btn-primary {
        background-color: #275b89;
        border-color: #1f496d;
    }

    .btn-file-simple:hover .btn-success,
    .btn-file-simple:active .btn-success,
    .btn-file-simple:focus .btn-success,
    .btn-file-simple.active .btn-success {
        background-color: #5b835b;
        border-color: #4c6e4c;
    }

    .btn-file-simple:hover .btn-warning,
    .btn-file-simple:active .btn-warning,
    .btn-file-simple:focus .btn-warning,
    .btn-file-simple.active .btn-warning {
        background-color: #9b711a;
        border-color: #7d5b15;
    }

    .btn-file-simple:hover .btn-danger,
    .btn-file-simple:active .btn-danger,
    .btn-file-simple:focus .btn-danger,
    .btn-file-simple.active .btn-danger {
        background-color: #77021d;
        border-color: #540114;
    }






/********FILEDSET FOOTER SMART FORM********/
.smart-form > section footer.fieldsetDentroFooter {
    padding: 10px 0 0 0;
}

.smart-form > section footer fieldset {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: inherit;
}

    .smart-form > section footer fieldset section {
        margin-bottom: 0px;
    }

.smart-form > section footer.fieldsetDentroFooter .btn {
    margin: 26px 0 0 0;
}
/*
HTML:
<footer class="fieldsetDentroFooter">
    
    <!-- Fieldset -->
    <fieldset class="col col-sm-6 col-lg-8">
        <div class="row">
            <section class="col col-xs-4 col-sm-5">
                <label class="label"><b data-bind="text: NotificaoPlaca.text"></b></label>
                <label data-bind="attr: { class: NotificaoPlaca.requiredClass}">
                    <input type="text" data-bind="value: NotificaoPlaca.val, attr: { maxlength: NotificaoPlaca.maxlength, id : NotificaoPlaca.id} , valueUpdate: 'afterkeydown'" />
                </label>
            </section>

            <section class="col col-xs-5 col-sm-5">
                <label class="label"><b data-bind="text: NotificaoViagem.text"></b></label>
                <label data-bind="attr: { class: NotificaoViagem.requiredClass}">
                    <input type="text" data-bind="value: NotificaoViagem.val, attr: { maxlength: NotificaoViagem.maxlength, id : NotificaoViagem.id} , valueUpdate: 'afterkeydown'" />
                </label>
            </section>

            <section class="col col-xs-3 col-sm-2">
                <button class="pull-left btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Notificar.eventClick, attr: { id: Notificar.id}, text: Notificar.text" type="button"></button>
            </section>
        </div>
    </fieldset>

    <!-- Botoes de acao -->
    <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
        <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
    </button>
</footer>
*/



/*CORRIGE ALTURA DAS ABAS QUANDO H QUEBRA DE LINHA*/
.jarviswidget header:first-child .nav-tabs li {
    min-height: 33px;
}

.nav-tabs > li.icone-ajuda:focus > a,
.nav-tabs > li.icone-ajuda:hover > a {
    background-color: #eeeeee;
}

.nav-tabs > li.active.icone-ajuda:focus > a,
.nav-tabs > li.active.icone-ajuda:hover > a {
    background-color: #ffffff;
}

.nav-tabs > li.icone-ajuda > a:first-child {
    border-right: 0;
    padding-right: 27px;
}

.nav-tabs > li.icone-ajuda > a:last-child {
    border-left: 0;
    padding: 8px 3px 10px 0;
    position: absolute;
    right: 0;
    top: 0;
}

    .nav-tabs > li.icone-ajuda > a:last-child > i {
        color: #3276b1;
        cursor: pointer;
    }

/* Correo do componente do tipo dateTime */
.bootstrap-datetimepicker-widget .row {
    margin: 0;
}

/*
 * Customizao do carousel
*/

.carousel-control {
    color: transparent;
    max-width: 50px;
    text-shadow: none;
}

    .carousel-control:hover {
        color: #666666;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        -webkit-tap-highlight-color: transparent;
    }

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left {
        margin-left: -15px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -15px;
    }
}

.carousel-control-left {
    left: 0;
    right: auto;
}

.carousel-control-right {
    left: auto;
    right: 0;
}

.carousel-indicators {
    margin-left: -30%;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 10px;
    }
}

.carousel-indicators li {
    background-color: #ffffff;
    border-color: #666666;
}

    .carousel-indicators li.active {
        background-color: #666666;
    }

.carousel-indicators-bottom-position {
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.carousel-container-control,
.carousel-header-control {
    color: #666666 !important;
    width: 30px;
}

.carousel-header-control {
    height: 30px;
}

    .carousel-container-control .glyphicon,
    .carousel-header-control .glyphicon {
        font-size: 20px;
        height: 20px;
        margin-top: -11px;
    }

.carousel-item-title {
    background-color: #eeeeee;
    min-height: 30px;
    padding: 0 30px;
    text-align: center;
}

    .carousel-item-title span {
        font-size: 15px;
        font-weight: bold;
        line-height: 30px;
    }

.no-padding .no-padding-table-fix .dataTables_wrapper table {
    border: 1px solid #ccc !important;
    margin-bottom: 6px !important;
}

    .no-padding .no-padding-table-fix .dataTables_wrapper table tr th:first-child {
        border-left: 0 !important;
    }

    .no-padding .no-padding-table-fix .dataTables_wrapper table tr th:last-child {
        border-right: 0 !important;
    }

.smart-form .toggle i,
.smart-form .toggle:focus i,
.smart-form .toggle:hover i,
.smart-form .toggle:active i,
.smart-form .toggle input:focus + i,
.smart-form .toggle input:checked + i {
    border-color: #bdbdbd;
}

    .smart-form .toggle i:after {
        color: #db3f27;
    }

    .smart-form .toggle i:before {
        background-color: #404040;
    }

    .smart-form .toggle input:checked + i:after {
        color: #269917;
    }

.col-no-padding,
.container-no-padding,
.fieldset-no-padding,
.modal-body-no-padding,
.smart-form-no-padding,
.tab-pane-no-padding,
.well-no-padding,
.widget-body-no-padding {
    padding: 0 !important;
}

.auditoria-container {
    display: inline-block;
    z-index: 1;
}

.auditoria-ocultar .auditoria-container {
    display: none;
}

.auditoria-botao-exibir {
    height: 22px;
    width: 24px;
}

.auditoria-opcoes {
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    color: #cc8100;
    display: none;
    font-size: 14px;
    left: -4px;
    padding: 30px 0 10px;
    position: absolute;
    text-align: left;
    top: -8px;
    width: 210px;
    z-index: 3;
}

.auditoria-opcoes-alinhar-direita {
    left: auto;
    right: -4px;
    text-align: right;
}

.auditoria-opcoes-exibir {
    display: block;
}

.auditoria-opcoes .close {
    position: absolute;
    left: 10px;
    top: 10px;
}

.auditoria-opcoes-alinhar-direita .close {
    left: auto;
    right: 10px;
}

.auditoria-opcoes ul {
    list-style-type: none;
}

.auditoria-opcoes li {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

    .auditoria-opcoes li:focus,
    .auditoria-opcoes li:hover {
        background-color: #ffeccc;
    }

/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation: blinker 0.6s ease-in-out 1s infinite alternate;
    animation: blinker 0.6s ease-in-out 1s infinite alternate
}

.tab-pane-content {
    border: 1px solid #dddddd;
    border-top: none;
}

label.checkbox {
    display: inline-block !important;
}

.grupo-pergunta-container {
    margin-bottom: 30px;
}

.dd-handle {
    cursor: pointer;
}

    .dd-handle:hover + .dd-list .dd-handle-child,
    .dd-handle-child:hover {
        background: #fef5e6 !important;
    }

    .dd-handle.dd-handle-green {
        background: #d9f2e4 !important;
        border: 1px solid #9fdfbc;
    }

        .dd-handle.dd-handle-green:hover {
            background: #c6ecd7 !important;
            border: 1px solid #66cc94;
        }

    .dd-handle.dd-handle-orange {
        background: #feeacd !important;
        border: 1px solid #fcc983;
    }

        .dd-handle.dd-handle-orange:hover {
            background: #fddfb4 !important;
            border: 1px solid #faa937;
        }

    .dd-handle.dd-handle-red {
        background: #ffcccc !important;
        border: 1px solid #ff8080;
    }

        .dd-handle.dd-handle-red:hover {
            background: #ffb3b3 !important;
            border: 1px solid #ff3333;
        }

    .dd-handle .dd-handle-title {
        color: #777;
        font-size: 13px;
    }

    .dd-handle .dd-handle-selection {
        color: #777;
        float: right;
        font-size: 12px;
        height: 20px;
        margin-left: 15px;
        position: relative;
        width: 115px;
    }

        .dd-handle .dd-handle-selection input[type="checkbox"] {
            margin: 0;
            position: absolute;
            top: 3px;
        }

        .dd-handle .dd-handle-selection label {
            left: 16px;
            position: absolute;
            top: 0;
        }

.dd-list .dd-item table.table-bordered {
    box-sizing: border-box;
}

.table-preferences-container {
    border: 1px solid #d0e2e2;
    text-align: justify;
}

.no-padding .table-preferences-container {
    margin-bottom: 5px;
}

.table-preferences-container .table-preferences-container-columns {
    background-color: #eff5f5;
    padding: 5px 0 5px 5px;
    transition: height 2s;
}

.table-preferences-container .table-preferences-container-action {
    padding: 5px;
    background-color: #eff5f5;
}

    .table-preferences-container .table-preferences-container-action a {
        float: right;
        margin-left: 5px;
    }

    .table-preferences-container .table-preferences-container-action .table-preferences-configurations {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        z-index: 1;
    }

        .table-preferences-container .table-preferences-container-action .table-preferences-configurations i {
            font-size: 20px;
        }

.table-preferences-container .table-preferences-container-action-footer {
    border-top: 1px solid #d0e2e2;
    background-color: #e0ebeb;
}

    .table-preferences-container .table-preferences-container-action-footer a i {
        margin-right: 5px;
    }

.table-preferences-container .table-preferences-check-uncheck {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 8px 1px 0;
    padding: 2px 0;
}

    .table-preferences-container .table-preferences-check-uncheck input {
        margin: 0px;
        position: relative;
        top: 2px;
    }

.table-preferences-container .table-preferences-column-toggle {
    border-color: #afcfcf;
    margin: 0 5px 2px 0;
    max-width: 100%;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .table-preferences-container .table-preferences-column-toggle:hover {
        border-color: #80b3b3;
        color: #dfecec;
    }

    .table-preferences-container .table-preferences-column-toggle a {
        cursor: pointer;
        margin-top: 10px;
    }

.table-resize-container-parent {
    clear: both;
    padding: 6px 0;
    position: relative;
}

.table-resize-container {
    margin: 0;
    width: 100%;
}

    .table-resize-container .table-resize-content {
        width: 100%;
    }

        .table-resize-container .table-resize-content > table {
            box-sizing: border-box;
            margin: 0 !important;
        }

        .table-resize-container .table-resize-content > .JCLRgrips {
            box-sizing: border-box;
        }

        .table-resize-container .table-resize-content .dataTables_scroll .dataTables_scrollBody table thead tr th {
            padding: 0 11px 0 10px !important;
        }

.table-resize-container-scroll {
    border: 1px solid #dddddd;
    border-bottom: 0;
    border-top: 0;
    box-sizing: border-box;
    overflow-x: scroll;
}

    .table-resize-container-scroll .table-resize-content table {
        border-left: 0;
        border-right: 0;
    }

        .table-resize-container-scroll .table-resize-content table tr th:first-child,
        .table-resize-container-scroll .table-resize-content table tr td:first-child {
            border-left: 0;
        }

        .table-resize-container-scroll .table-resize-content table tr td:last-child,
        .table-resize-container-scroll .table-resize-content table tr th:last-child {
            border-right: 0;
        }

        .table-resize-container-scroll .table-resize-content table tr td div.btn-group {
            position: inherit;
        }

.bootstrapWizard li:first-child:last-child::before {
    width: 0;
}

.mensagem-alerta-botao-aviso {
    color: #ff8c00;
    cursor: pointer;
}

    .mensagem-alerta-botao-aviso:hover {
        color: #cc7000;
    }

.mensagem-alerta-botao-bloqueio {
    color: #ff3333;
    cursor: pointer;
}

    .mensagem-alerta-botao-bloqueio:hover {
        color: #e60000;
    }

.mensagem-alerta-conteudo-aviso {
    background-color: #ffe8cc;
    border-color: #ff8c00;
    color: #666666;
}

.mensagem-alerta-conteudo-bloqueio {
    background-color: #ffcccc;
    border-color: #ff3333;
    color: #666666;
}

.mensagem-alerta-rodape {
    padding-top: 5px;
}

    .mensagem-alerta-rodape .mensagem-alerta-rodape-botao {
        background-color: transparent;
        border: none;
        height: 34px;
        padding: 0;
        text-align: center;
        user-select: none;
        vertical-align: middle;
        width: 34px;
    }

    .mensagem-alerta-rodape .mensagem-alerta-rodape-botao-confirmar {
        color: #269917;
    }

        .mensagem-alerta-rodape .mensagem-alerta-rodape-botao-confirmar:hover {
            color: #1c6f11;
        }

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-color-pastel-green {
    background-color: #9cbd92;
}

.tag-text-field {
    position: relative;
    display: inline-block;
}

.tag-text-field-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.tag-text-field-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    background-color: #f7f7f7;
    padding: 3px;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .tag-text-field-items div {
        float: left;
        width: 18.7%;
    }

        .tag-text-field-items div:not(:last-child) {
            margin-right: 10px;
        }

        .tag-text-field-items div:first-child {
            margin-left: 6px;
        }

        .tag-text-field-items div input[type=button] {
            border-radius: 4px;
        }

            .tag-text-field-items div input[type=button]:hover {
                background-color: #e1e1e1;
            }

.overflow-visible {
    overflow: visible !important;
}

.modal-scroll-body {
    overflow-y: initial !important;
}

    .modal-scroll-body .modal-body {
        max-height: 620px;
        max-height: 80vh;
        overflow-y: auto;
    }


.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1600px) {
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11 {
        float: left;
    }

    .col-xl-1 {
        width: 8.333333333333332%;
    }

    .col-xl-2 {
        width: 16.666666666666664%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33333333333333%;
    }

    .col-xl-5 {
        width: 41.66666666666667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.333333333333336%;
    }

    .col-xl-8 {
        width: 66.66666666666666%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33333333333334%;
    }

    .col-xl-11 {
        width: 91.66666666666666%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

.jarviswidget > header > :first-child.widget-icon {
    height: 34px;
    line-height: 34px;
}
