
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active">Alteração Arquivo Mercante</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Alterações para Arquivo Mercante
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content" id="knockoutAlteracaoArquivoMercante">
            <ul class="nav nav-tabs">
                <li class="nav-item" id="liTabConferencia">
                    <a href="#tabConferencia" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Conferência</span></a>
                </li>
                <li class="nav-item" id="liTabInformacaoManual">
                    <a href="#tabInformacaoManual" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Informação Manual</span></a>
                </li>
                <li class="nav-item" id="liTabReplicarNumero">
                    <a href="#tabReplicarNumero" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Replicar Número</span></a>
                </li>
                <li class="nav-item" id="liTabArquivoMercante">
                    <a href="#tabArquivoMercante" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Gerar Arquivo Mercante</span></a>
                </li>
                <li class="nav-item" id="liTabImportacaoArquivoMercante">
                    <a href="#tabImportacaoArquivoMercante" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Arquivo Mercante</span></a>
                </li>
                <li class="nav-item" id="liTabIntegracoes" style="display:none">
                    <a href="#tabIntegracoes" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Integrações</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <!-- Conferência -->
                <div id="tabConferencia" class="tab-pane fade active show">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Viagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Viagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Container.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Container.requiredClass, value: Container.val, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NavioTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NavioTransbordo.text, attr: { for: NavioTransbordo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NavioTransbordo.requiredClass, value: NavioTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NavioTransbordo.maxlength, id : NavioTransbordo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NavioTransbordo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PortoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoTransbordo.text, attr: { for: PortoTransbordo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoTransbordo.requiredClass, value: PortoTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoTransbordo.maxlength, id : PortoTransbordo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoTransbordo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroControle.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControle.maxlength, id : NumeroControle.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroBooking.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroCE.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCE.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroCE.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCE.maxlength, id : NumeroCE.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifesto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifesto.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroManifesto.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifesto.maxlength, id : NumeroManifesto.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifestoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifestoTransbordo.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroManifestoTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifestoTransbordo.maxlength, id : NumeroManifestoTransbordo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PossuiTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiTransbordo.text"></label>
                                    <select class="form-control" data-bind="options: PossuiTransbordo.options, optionsText: 'text', optionsValue: 'value', value: PossuiTransbordo.val, attr: { id : PossuiTransbordo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Manifesto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Manifesto.text"></label>
                                    <select class="form-control" data-bind="options: Manifesto.options, optionsText: 'text', optionsValue: 'value', value: Manifesto.val, attr: { id : Manifesto.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CE.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CE.text"></label>
                                    <select class="form-control" data-bind="options: CE.options, optionsText: 'text', optionsValue: 'value', value: CE.val, attr: { id : CE.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ManifestoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ManifestoTransbordo.text"></label>
                                    <select class="form-control" data-bind="options: ManifestoTransbordo.options, optionsText: 'text', optionsValue: 'value', value: ManifestoTransbordo.val, attr: { id : ManifestoTransbordo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Status.val, attr: { id : Status.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCTe.text"></label>
                                    <select class="form-control" data-bind="options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoCTe.val, attr: { id : TipoCTe.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Balsa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Balsa.text, attr: { for: Balsa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Balsa.requiredClass, value: Balsa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Balsa.maxlength, id : Balsa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Balsa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div data-bind="visible: Pesquisa.visible" class="d-flex align-items-center justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                    </form>
                </div>

                <!-- Informação Manual -->
                <div id="tabInformacaoManual" class="tab-pane fade">
                    <form>
                        <div>
                            <h3>Filtros</h3>
                            <hr />
                            <br />
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Viagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Viagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroControle.text"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroControle.requiredClass, value: NumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControle.maxlength, id : NumeroControle.id}" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Campos a serem alterados</h3>
                            <hr />
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroCE.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCE.text"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroCE.requiredClass, value: NumeroCE.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCE.maxlength, id : NumeroCE.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifesto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifesto.text"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroManifesto.requiredClass, value: NumeroManifesto.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifesto.maxlength, id : NumeroManifesto.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroManifestoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroManifestoTransbordo.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroManifestoTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroManifestoTransbordo.maxlength, id : NumeroManifestoTransbordo.id}" />
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                        <span data-bind="text: Atualizar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>

                <!-- Replicar Número -->
                <div id="tabReplicarNumero" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Viagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Viagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroControleAntigo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroControleAntigo.text"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroControleAntigo.requiredClass, value: NumeroControleAntigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControleAntigo.maxlength, id : NumeroControleAntigo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroControleNovo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroControleNovo.text"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroControleNovo.requiredClass, value: NumeroControleNovo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControleNovo.maxlength, id : NumeroControleNovo.id}" />
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                        <span data-bind="text: Atualizar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>

                <!-- Gerar Arquivo Mercante-->
                <div id="tabArquivoMercante" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: PedidoNavioViagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoNavioViagem.text, attr: { for: PedidoNavioViagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoNavioViagem.requiredClass, value: PedidoNavioViagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoNavioViagem.maxlength, id : PedidoNavioViagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoNavioViagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PortoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PortoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoCargaPerigosa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCargaPerigosa.text"></label>
                                    <select class="form-control" data-bind="options: TipoCargaPerigosa.options, optionsText: 'text', optionsValue: 'value', value: TipoCargaPerigosa.val, attr: { id : TipoCargaPerigosa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoTransbordo.text"></label>
                                    <select class="form-control" data-bind="options: TipoTransbordo.options, optionsText: 'text', optionsValue: 'value', value: TipoTransbordo.val, attr: { id : TipoTransbordo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ComConhecimentosCancelados.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ComConhecimentosCancelados.val, attr: { maxlength: ComConhecimentosCancelados.maxlength, name: ComConhecimentosCancelados.id, id: ComConhecimentosCancelados.id }">
                                        <label class="custom-control-label" data-bind="text: ComConhecimentosCancelados.text, attr: { for: ComConhecimentosCancelados.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ManifestoPorBalsa.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ManifestoPorBalsa.val, attr: { maxlength: ManifestoPorBalsa.maxlength, name: ManifestoPorBalsa.id, id: ManifestoPorBalsa.id }">
                                        <label class="custom-control-label" data-bind="text: ManifestoPorBalsa.text, attr: { for: ManifestoPorBalsa.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ManifestoPorBalsa.val">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Balsa.text, attr: { for: Balsa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Balsa.requiredClass, value: Balsa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Balsa.maxlength, id : Balsa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Balsa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" ></div>
                            <div class="form-group col-12 col-md-4 mt-1" data-bind="visible: Arquivo.visible">
                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                <div class="custom-file" data-bind="visible: Arquivo.visible">
                                    <input type="file" class="custom-file-input" id="customFile" data-bind="value: Arquivo.val , attr: {id: Arquivo.id}" readonly>
                                    <label class="custom-file-label" data-bind="text: Arquivo.val() !=``?  Arquivo.val(): `Selecione um arquivo para anexar`" for="customFile"></label>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mt-5">
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Enviar.eventClick, visible: Enviar.visible, attr: { value: Enviar.text, id : Enviar.id}">
                                    <span data-bind="text: Enviar.text"></span>
                                </button>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: GerarArquivoMercante.eventClick,visible: GerarArquivoMercante.visible, attr: { value: GerarArquivoMercante.text, id : GerarArquivoMercante.id}">
                                        <span data-bind="text: GerarArquivoMercante.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>

                <!-- Arquivo Mercante-->
                <div id="tabImportacaoArquivoMercante" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: PedidoViagemDirecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PortoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PortoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoArquivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoArquivo.text"></label>
                                    <select class="form-control" data-bind="options: TipoArquivo.options, optionsText: 'text', optionsValue: 'value', value: TipoArquivo.val, attr: { id : TipoArquivo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: StatusArquivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusArquivo.text"></label>
                                    <select class="form-control" data-bind="options: StatusArquivo.options, optionsText: 'text', optionsValue: 'value', value: StatusArquivo.val, attr: { id : StatusArquivo.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end mb-1">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: SelecionarTodos.text"></span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="enable: Arquivos.enable, attr: { id: Arquivos.idGrid}" cellspacing="0"></table>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div data-bind="visible: EmailEnvio.visible">
                                    <label class="label"><b data-bind="text: EmailEnvio.text"></b></label>
                                    <div class="input-group mb-3 mt-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" data-bind="attr: { class: InformarEmailEnvio.requiredClass}">
                                                <input type="checkbox" data-bind="checked: InformarEmailEnvio.val, enable: InformarEmailEnvio.enable, attr: { maxlength: InformarEmailEnvio.maxlength, name: InformarEmailEnvio.id, id: InformarEmailEnvio.id }">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" data-bind="class: EmailEnvio.requiredClass, value: EmailEnvio.val, enable: EmailEnvio.enable, attr: { maxlength: EmailEnvio.maxlength, id : EmailEnvio.id} ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-warning mx-3" type="button" data-loading-text="Aguarde..." data-bind="click: EnviarPorEmail.eventClick,visible: EnviarPorEmail.visible, attr: { id : EnviarPorEmail.id, name: EnviarPorEmail.id}">
                                        <span data-bind="text: EnviarPorEmail.text"></span>
                                    </button>
                                    <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: DownloadLote.eventClick,visible: DownloadLote.visible, attr: { value: DownloadLote.text, id : DownloadLote.id}">
                                        <span data-bind="text: DownloadLote.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>

                <!-- Integração -->
                <div class="tab-pane fade" id="tabIntegracoes">
                    <ul class="nav nav-tabs" id="tabIntegracoesSub">
                        <li class="nav-item active" id="liIntegraIntercab">
                            <a href="#tabIntegraIntercab" class="nav-link active" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Intercab</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liIntegraPortal">
                            <a href="#tabIntegraPortal" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Portal Cabotagem</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-5">
                        <div class="tab-pane fade active show" id="tabIntegraIntercab" data-el-type="tab-pane-sub">
                            <div>
                                <h4>Intercab</h4>
                                <hr />
                            </div>
                            <div id="tabIntegracoesIntercabConteudo">
                            </div>
                        </div>
                        <div class="tab-pane fade active hide" id="tabIntegraPortal" data-el-type="tab-pane-sub">
                            <div>
                                <h4>Portal Cabotagem</h4>
                                <hr />
                            </div>
                            <div id="tabIntegracoesPortalConteudo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDetalheMensagemRetorno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhe do retorno da Importação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="smart-form" id="contentDetalheMensagemRetorno">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalMotivoProblemaIntegracao" role="dialog" aria-hidden="true">
    <div id="knockoutMotivoProblemaIntegracao" class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Problema integraçãoo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalHistoricoIntegracao" style="z-index:1200" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de integraçãoo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
           
            <div class="modal-body">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracao"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/alteracaoArquivoMercante"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
        loadAlteracaoArquivoMercante();
    });

</script>

