
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active"> Geração de Arquivos Contábeis</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i>  Geração de Arquivos Contábeis
    </h1>
</div>


<div class="panel mt-3">
    <div class="panel-container" id="knockoutArquivoContabil">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabEContab" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> E-Contab</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabEuro" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Euro</span>
                    </a>
                </li>   
                <li class="nav-item">
                    <a href="#tabJB" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> JB</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabQuestor" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Questor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabESocial" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> E-Social</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabExactus" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Exactus</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabPH" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> PH</span>
                    </a>
                </li>
                <li class="nav-item" style="display:none">
                    <a href="#tabMercante" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Mercante</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabContaOeste" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Conta Oeste</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabAlterdata" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet"> Alterdata</span>
                    </a>
                </li>


            </ul>

            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="tabEContab" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row  ">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoEContab.eventClick,visible: GerarArquivoEContab.visible, attr: { id : GerarArquivoEContab.id}">
                                        <span data-bind="text:  GerarArquivoEContab.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabEuro" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text"></label>
                                    <select class="form-control" data-bind="options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { id : TipoMovimento.id}"></select>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: ModeloDocumentoFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumentoFiscal.maxlength, id : ModeloDocumentoFiscal.id},attr: { class: ModeloDocumentoFiscal.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: TipoMovimentoArquivoContabil.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoArquivoContabil.text"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoMovimentoArquivoContabil.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoArquivoContabil.maxlength, id : TipoMovimentoArquivoContabil.id},attr: { class: TipoMovimentoArquivoContabil.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimentoArquivoContabil.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: GerarComCodigoHistoricoTipoMovimento.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarComCodigoHistoricoTipoMovimento.val, attr: { maxlength: GerarComCodigoHistoricoTipoMovimento.maxlength, name: GerarComCodigoHistoricoTipoMovimento.id, id: GerarComCodigoHistoricoTipoMovimento.id }">
                                        <label class="custom-control-label" data-bind="text: GerarComCodigoHistoricoTipoMovimento.text, attr: { for: GerarComCodigoHistoricoTipoMovimento.id }"></label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoEuro.eventClick,visible: GerarArquivoEuro.visible, attr: { id : GerarArquivoEuro.id}">
                                        <span data-bind="text:  GerarArquivoEuro.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabJB" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind=" class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row  ">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoJB.eventClick,visible: GerarArquivoJB.visible, attr: { value: GerarArquivoJB.text, id : GerarArquivoJB.id}">
                                        <span data-bind="text:  GerarArquivoJB.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>

                    </form>
                </div>
                <div class="tab-pane fade" id="tabQuestor" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: TipoArquivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoArquivo.text"></label>
                                    <select class="form-control" data-bind="options: TipoArquivo.options, optionsText: 'text', optionsValue: 'value', value: TipoArquivo.val, attr: { id : TipoArquivo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text"></label>
                                    <select class="form-control" data-bind="options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { id : TipoMovimento.id}"></select>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: TipoMovimentoArquivoContabil.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoArquivoContabil.text"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoMovimentoArquivoContabil.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoArquivoContabil.maxlength, id : TipoMovimentoArquivoContabil.id},attr: { class: TipoMovimentoArquivoContabil.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimentoArquivoContabil.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: TiposMovimentos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TiposMovimentos.text, attr: { for: TiposMovimentos.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TiposMovimentos.val, valueUpdate: 'afterkeydown', attr: { maxlength: TiposMovimentos.maxlength, id : TiposMovimentos.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TiposMovimentos.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: PlanoConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoConta.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="idQuestorNFSEntrada">
                            <div class="col-12 col-md-3" data-bind="visible: DataEntradaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEntradaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataEntradaInicial.requiredClass,value: DataEntradaInicial.val, enable: DataEntradaInicial.enable, attr: { maxlength: DataEntradaInicial.maxlength, id : DataEntradaInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataEntradaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEntradaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataEntradaFinal.requiredClass,value: DataEntradaFinal.val, enable: DataEntradaFinal.enable, attr: { maxlength: DataEntradaFinal.maxlength, id : DataEntradaFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: ModeloDocumentoFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text, attr: { for: ModeloDocumentoFiscal.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumentoFiscal.maxlength, id : ModeloDocumentoFiscal.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ExtensaoCFOP.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExtensaoCFOP.val, attr: { maxlength: ExtensaoCFOP.maxlength, name: ExtensaoCFOP.id, id: ExtensaoCFOP.id }">
                                        <label class="custom-control-label" data-bind="text: ExtensaoCFOP.text, attr: { for: ExtensaoCFOP.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer>
                        <div class="row  ">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">

                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoQuestor.eventClick,visible: GerarArquivoQuestor.visible, attr: { value: GerarArquivoQuestor.text, id : GerarArquivoQuestor.id}">
                                    <span data-bind="text:  GerarArquivoQuestor.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="tab-pane fade" id="tabESocial" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <footer>
                            <div class="row  ">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivo.eventClick,visible: GerarArquivo.visible, attr: { value: GerarArquivo.text, id : GerarArquivo.id}">
                                        <span data-bind="text:  GerarArquivo.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div> 
                <div class="tab-pane fade" id="tabExactus" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer>
                            <div class="row  ">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivo.eventClick,visible: GerarArquivo.visible, attr: { value: GerarArquivo.text, id : GerarArquivo.id}">
                                        <span data-bind="text:  GerarArquivo.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabPH" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, enable: DataInicial.enable, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, enable: DataFinal.enable, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                    <select class="form-control" data-bind="options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { id : TipoMovimento.id}"></select>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-4" data-bind="visible: TipoMovimentoArquivoContabil.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoArquivoContabil.text, attr: { for: TipoMovimentoArquivoContabil.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoMovimentoArquivoContabil.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoArquivoContabil.maxlength, id : TipoMovimentoArquivoContabil.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimentoArquivoContabil.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" data-bind="visible: PlanoConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoConta.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row ">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoPH.eventClick,visible: GerarArquivoPH.visible, attr: { value: GerarArquivoPH.text, id : GerarArquivoPH.id}">
                                        <span data-bind="text:  GerarArquivoPH.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabMercante" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-6" data-bind="visible: PedidoNavioViagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoNavioViagem.text, attr: { for: PedidoNavioViagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: PedidoNavioViagem.requiredClass,value: PedidoNavioViagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoNavioViagem.maxlength, id : PedidoNavioViagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PedidoNavioViagem.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind=" class: Empresa.requiredClass,value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6" data-bind="visible: PortoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: PortoOrigem.requiredClass,value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PortoOrigem.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6" data-bind="visible: PortoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: PortoDestino.requiredClass,value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PortoDestino.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: TerminalOrigem.requiredClass,value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalOrigem.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: TerminalDestino.requiredClass,value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalDestino.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoCargaPerigosa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCargaPerigosa.text, attr: { for: TipoCargaPerigosa.id }"></label>
                                    <select class="form-control" data-bind="options: TipoCargaPerigosa.options, optionsText: 'text', optionsValue: 'value', value: TipoCargaPerigosa.val, attr: { id : TipoCargaPerigosa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoTransbordo.text, attr: { for: TipoTransbordo.id }"></label>
                                    <select class="form-control" data-bind="options: TipoTransbordo.options, optionsText: 'text', optionsValue: 'value', value: TipoTransbordo.val, attr: { id : TipoTransbordo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ComConhecimentosCancelados.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ComConhecimentosCancelados.val, attr: { maxlength: ComConhecimentosCancelados.maxlength, name: ComConhecimentosCancelados.id, id: ComConhecimentosCancelados.id }">
                                        <label class="custom-control-label" data-bind="text: ComConhecimentosCancelados.text, attr: { for: ComConhecimentosCancelados.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0" data-bind="visible: Arquivo.visible">
                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                <div class="custom-file" data-bind="visible: Arquivo.visible">
                                    <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly>
                                    <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Escolher Arquivo</label>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bind="click: Enviar.eventClick, visible: Enviar.visible, attr: { value: Enviar.text, id : Enviar.id}">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>

                    </form>
                    <footer>
                        <div class="row  ">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">

                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoMercante.eventClick,visible: GerarArquivoMercante.visible, attr: { value: GerarArquivoMercante.text, id : GerarArquivoMercante.id}">
                                    <span data-bind="text:  GerarArquivoMercante.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="tab-pane fade" id="tabContaOeste" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                    <select class="form-control" data-bind="options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { id : TipoMovimento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoArquivoContabil.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoArquivoContabil.text, attr: { for: TipoMovimentoArquivoContabil.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoMovimentoArquivoContabil.requiredClass, value: TipoMovimentoArquivoContabil.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimentoArquivoContabil.text, maxlength: TipoMovimentoArquivoContabil.maxlength, id: TipoMovimentoArquivoContabil.id, name: TipoMovimentoArquivoContabil.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimentoArquivoContabil.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: GerarComCodigoHistoricoTipoMovimento.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarComCodigoHistoricoTipoMovimento.val, attr: { maxlength: GerarComCodigoHistoricoTipoMovimento.maxlength, name: GerarComCodigoHistoricoTipoMovimento.id, id: GerarComCodigoHistoricoTipoMovimento.id }">
                                        <label class="custom-control-label" data-bind="text: GerarComCodigoHistoricoTipoMovimento.text, attr: { for: GerarComCodigoHistoricoTipoMovimento.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="idContaOesteNFSEntrada">
                            <div class="col-12 col-md-2" data-bind="visible: DataEntradaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEntradaInicial.text, attr: { for: DataEntradaInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEntradaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEntradaInicial.maxlength, id : DataEntradaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEntradaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEntradaFinal.text, attr: { for: DataEntradaFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEntradaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEntradaFinal.maxlength, id : DataEntradaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloDocumentoFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text, attr: { for: ModeloDocumentoFiscal.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind=" value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': ModeloDocumentoFiscal.text, maxlength: ModeloDocumentoFiscal.maxlength, id: ModeloDocumentoFiscal.id, name: ModeloDocumentoFiscal.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ExtensaoCFOP.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExtensaoCFOP.val, attr: { maxlength: ExtensaoCFOP.maxlength, name: ExtensaoCFOP.id, id: ExtensaoCFOP.id }">
                                        <label class="custom-control-label" data-bind="text: ExtensaoCFOP.text, attr: { for: ExtensaoCFOP.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" data-bind="visible: NaoRemoverCaracteresEspeciaisAcentuados.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoRemoverCaracteresEspeciaisAcentuados.val, attr: { maxlength: NaoRemoverCaracteresEspeciaisAcentuados.maxlength, name: NaoRemoverCaracteresEspeciaisAcentuados.id, id: NaoRemoverCaracteresEspeciaisAcentuados.id }">
                                    <label class="custom-control-label" data-bind="text: NaoRemoverCaracteresEspeciaisAcentuados.text, attr: { for: NaoRemoverCaracteresEspeciaisAcentuados.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: GerarRegistroRetNovaEspecificacao.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: GerarRegistroRetNovaEspecificacao.val, attr: { maxlength: GerarRegistroRetNovaEspecificacao.maxlength, name: GerarRegistroRetNovaEspecificacao.id, id: GerarRegistroRetNovaEspecificacao.id }">
                                    <label class="custom-control-label" data-bind="text: GerarRegistroRetNovaEspecificacao.text, attr: { for: GerarRegistroRetNovaEspecificacao.id }"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer>
                        <div class="row  ">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">

                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarArquivoContaOeste.eventClick,visible: GerarArquivoContaOeste.visible, attr: { value: GerarArquivoContaOeste.text, id : GerarArquivoContaOeste.id}">
                                    <span data-bind="text:  GerarArquivoContaOeste.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="tab-pane fade" id="tabAlterdata" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataFinal.requiredClass,value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                    <select class="form-control" data-bind="options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { id : TipoMovimento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoArquivoContabil.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoArquivoContabil.text, attr: { for: TipoMovimentoArquivoContabil.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoMovimentoArquivoContabil.requiredClass, value: TipoMovimentoArquivoContabil.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimentoArquivoContabil.text, maxlength: TipoMovimentoArquivoContabil.maxlength, id: TipoMovimentoArquivoContabil.id, name: TipoMovimentoArquivoContabil.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimentoArquivoContabil.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: GerarFormatoTXT.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarFormatoTXT.val, attr: { maxlength: GerarFormatoTXT.maxlength, name: GerarFormatoTXT.id, id: GerarFormatoTXT.id }">
                                        <label class="custom-control-label" data-bind="text: GerarFormatoTXT.text, attr: { for: GerarFormatoTXT.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <footer>
                        <div class="row  ">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">

                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..."data-bind="click: GerarArquivoAlterdata.eventClick,visible: GerarArquivoAlterdata.visible, attr: { value: GerarArquivoAlterdata.text, id : GerarArquivoAlterdata.id}">
                                    <span data-bind="text:  GerarArquivoAlterdata.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/arquivoContabil"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

        loadArquivoContabil();
    });

</script>

