
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active">Configuração de Cálculo de Imposto PIS/COFINS</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração de Cálculo de Imposto PIS/COFINS
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Configuração de Cálculo de Imposto PIS/COFINS
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutConfigCalculoPisCofins">
                <div class="row">
                    <div class="col-12 col-md-3" data-bind="visible: CSTPISTributavel.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CSTPISTributavel.text"></label>
                            <select class="form-control" data-bind="options: CSTPISTributavel.options, optionsText: 'text', optionsValue: 'value', value: CSTPISTributavel.val, attr: { id : CSTPISTributavel.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: CSTCOFINSTributavel.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CSTPISNaoTributavel.text"></label>
                            <select class="form-control" data-bind="options: CSTCOFINSTributavel.options, optionsText: 'text', optionsValue: 'value', value: CSTCOFINSTributavel.val, attr: { id : CSTCOFINSTributavel.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: CSTPISNaoTributavel.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CSTCOFINSTributavel.text"></label>
                            <select class="form-control" data-bind="options: CSTPISNaoTributavel.options, optionsText: 'text', optionsValue: 'value', value: CSTPISNaoTributavel.val, attr: { id : CSTPISNaoTributavel.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: CSTCOFINSNaoTributavel.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CSTCOFINSNaoTributavel.text"></label>
                            <select class="form-control" data-bind="options: CSTCOFINSNaoTributavel.options, optionsText: 'text', optionsValue: 'value', value: CSTCOFINSNaoTributavel.val, attr: { id : CSTCOFINSNaoTributavel.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: AliquotaPIS.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AliquotaPIS.text"></label>
                            <input type="text" class="form-control" data-bind="value: AliquotaPIS.val,class: AliquotaPIS.requiredClass ,valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaPIS.maxlength, id : AliquotaPIS.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: AliquotaCOFINS.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AliquotaCOFINS.text"></label>
                            <input type="text" class="form-control" data-bind="value: AliquotaCOFINS.val,class: AliquotaCOFINS.requiredClass , valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaCOFINS.maxlength, id : AliquotaCOFINS.id}" />
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id : Salvar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/calculoPisCofins"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadCalculoPisCofins();
    });

</script>

