
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active">Consulta Valores Pagar</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Valores de Contas a Pagar
    </h1>
</div>

<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutContasAPagar" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Contas a Pagar</span>
                    </a>
                </li>
                
            </ul>
            <div class="tab-content border border-top-0 p-3">
                
                <div class="tab-pane fade active show " id="knockoutContasAPagar" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataPosicao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPosicao.text, attr: { for: DataPosicao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPosicao.requiredClass, value: DataPosicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPosicao.maxlength, id : DataPosicao.id}" />
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: DownloadRelatorioAnalitico.eventClick, visible: DownloadRelatorioAnalitico.visible, attr: { id : DownloadRelatorioAnalitico.id}">
                                    <i class="fal fa-print"></i><span data-bind="text: DownloadRelatorioAnalitico.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/consultaValoresPagar"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadConsultaValoresPagar();
    });

</script>

