
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active">Consulta Valores</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Consulta de Valores
    </h1>
</div>
<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutContasAReceber" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-dollar-sign"></i><span class="hidden-mobile hidden-tablet">Contas a Receber</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPosicaoContasAReceber" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-dollar-sign"></i><span class="hidden-mobile hidden-tablet">Posição do Contas a Receber</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutGeracaoConsultaValores" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-barcode"></i><span class="hidden-mobile hidden-tablet">CT-es a Faturar</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade " id="knockoutGeracaoConsultaValores" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: CTesEmitidos.visible">
                                <label class="form-label" data-bind="text: CTesEmitidos.text, attr: { for: CTesEmitidos.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: CTesCancelados.visible">
                                <label class="form-label" data-bind="text: CTesCancelados.text, attr: { for: CTesCancelados.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: CTesAnulados.visible">
                                <label class="form-label" data-bind="text: CTesAnulados.text, attr: { for: CTesAnulados.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: CTesFaturados.visible">
                                <label class="form-label" data-bind="text: CTesFaturados.text, attr: { for: CTesFaturados.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: PosicaoDoDia.visible">
                                <label class="form-label" data-bind="text: PosicaoDoDia.text, attr: { for: PosicaoDoDia.id }"></label>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6 d-flex justify-content-end">

                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Consultar.eventClick, visible: Consultar.visible, attr: { id : Consultar.id}">
                                        <span data-bind="text: Consultar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade active show" id="knockoutContasAReceber" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-labeled btn-primary me-1" data-bind="click: Pesquisar.eventClick, visible: Pesquisar.visible, attr: { id : Pesquisar.id}">
                                    <i class="fal fa-search"></i>
                                    <span data-bind="text: Pesquisar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-default"  data-bind="click: DownloadRelatorioAnalitico.eventClick, visible: DownloadRelatorioAnalitico.visible, attr: { id : DownloadRelatorioAnalitico.id}">
                                    <i data-bind="css: DownloadRelatorioAnalitico.icon"></i>
                                    <span data-bind="text: DownloadRelatorioAnalitico.text"></span>
                                </button>
                            </div>
                            <div class="col-12 col-md-12 mt-3" data-bind="visible: ValorCTesSemCarga.visible">
                                <label class="form-label" data-bind="text: ValorCTesSemCarga.text, attr: { for: ValorCTesSemCarga.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: CTesNaoFaturados.visible">
                                <label class="form-label" data-bind="text: CTesNaoFaturados.text, attr: { for: CTesNaoFaturados.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ValorFaturaEmAberto.visible">
                                <label class="form-label" data-bind="text: ValorFaturaEmAberto.text, attr: { for: ValorFaturaEmAberto.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ValorTitulosEmAberto.visible">
                                <label class="form-label" data-bind="text: ValorTitulosEmAberto.text, attr: { for: ValorTitulosEmAberto.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ValorOutrosTitulosEmAberto.visible">
                                <label class="form-label" data-bind="text: ValorOutrosTitulosEmAberto.text, attr: { for: ValorOutrosTitulosEmAberto.id }"></label>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ValorTotal.visible">
                                <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade " id="knockoutPosicaoContasAReceber" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataPosicao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPosicao.text, attr: { for: DataPosicao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPosicao.requiredClass, value: DataPosicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPosicao.maxlength, id : DataPosicao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" style="margin-top:31px;">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: DownloadRelatorioAnalitico.eventClick, visible: DownloadRelatorioAnalitico.visible, attr: { id : DownloadRelatorioAnalitico.id}">
                                    <i data-bind="css: DownloadRelatorioAnalitico.icon"></i>
                                    <span data-bind="text: DownloadRelatorioAnalitico.text"></span>
                                </button>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: UtilizarDataBaseLiquidacaoTitulos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarDataBaseLiquidacaoTitulos.val, attr: { maxlength: UtilizarDataBaseLiquidacaoTitulos.maxlength, name: UtilizarDataBaseLiquidacaoTitulos.id, id: UtilizarDataBaseLiquidacaoTitulos.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarDataBaseLiquidacaoTitulos.text, attr: { for: UtilizarDataBaseLiquidacaoTitulos.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/scripts/consultaValores"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadConsultaValores();
    });

</script>

