
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contabils</li>
    <li class="breadcrumb-item active">Controle Arquivo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i>Controle de Arquivos
    </h1>
</div>

<div id="knockoutPesquisaControleArquivo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Controle de Arquivos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataVencimentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVencimentoInicial.text, attr: { for: DataVencimentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVencimentoInicial.requiredClass, value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataVencimentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVencimentoFinal.text, attr: { for: DataVencimentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVencimentoFinal.requiredClass, value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end ,">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container" id="knockoutControleArquivo">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Controle de Arquivos
            </h3>
        </div>
        <div class="panel-content">
            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ControleArquivo.idGrid}" cellspacing="0"></table>
            <div class="d-flex align-items-center justify-content-end mt-3 mb-3">
                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </div>
        </div>

    </div>
</div>



<div id="divModalControleArquivo" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutControleArquivo" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo controle de arquivo </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-5" data-bind="visible: Cliente.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataVencimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataVencimento.text, attr: { for: DataVencimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataVencimento.requiredClass, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: GerouAlertaEmpresa.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerouAlertaEmpresa.val, attr: { maxlength: GerouAlertaEmpresa.maxlength, name: GerouAlertaEmpresa.id, id: GerouAlertaEmpresa.id }">
                                <label class="custom-control-label" data-bind="text: GerouAlertaEmpresa.text, attr: { for: GerouAlertaEmpresa.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: GerouAlertaCliente.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerouAlertaCliente.val, attr: { maxlength: GerouAlertaCliente.maxlength, name: GerouAlertaCliente.id, id: GerouAlertaCliente.id }">
                                <label class="custom-control-label" data-bind="text: GerouAlertaCliente.text, attr: { for: GerouAlertaCliente.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title" data-bind="text: Anexos.text"></h3>

                            </div>
                            <div class="card-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid}" cellspacing="0"></table>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card" data-bind="visible: Anexos.visible">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title" data-bind="text: Anexos.text"></h3>

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: DescricaoAnexo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoAnexo.text, attr: { for: DescricaoAnexo.id }"></label>
                                            <input type="text" class="form-control" data-bind="css: DescricaoAnexo.requiredClass,class: DescricaoAnexo.requiredClass, value: DescricaoAnexo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoAnexo.maxlength, id : DescricaoAnexo.id}" />
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-12" data-bind="visible: Arquivo.visible">
                                        <p class="form-label" data-bind="text: Arquivo.text"></p>
                                        <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                            <input type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.pdf" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                            <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione uma imagem para anexar</label>
                                        </div>
                                    </div>


                                    <div class="card-footer mt-4 d-flex align-items-center justify-content-end">
                                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                            <span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end mt-3 mb-3">
                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id : Salvar.id}">
                        <span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/scripts/controleArquivo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadControleArquivo();
    });

</script>
