
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Contábil</li>
    <li class="breadcrumb-item">IVA</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Imposto sobre Valor Agregado (IVA)
    </h1>
</div>

<div id="knockoutPesquisaImpostoValorAgregado">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i>
                    <span>Pesquisar IVA</span>
                </button>

                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-3" data-bind="visible: CodigoIVA.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIVA.text, attr: { for: CodigoIVA.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoIVA.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIVA.maxlength, id : CodigoIVA.id}, required: CodigoIVA.required" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-9" data-bind="visible: ModeloDocumentoFiscal.visible">
                                <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text, attr: { for: ModeloDocumentoFiscal.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumentoFiscal.maxlength, id : ModeloDocumentoFiscal.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3" data-bind="visible: ImpostoMaiorQueZero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ImpostoMaiorQueZero.text, attr: { for: ImpostoMaiorQueZero.id }"></label>
                                    <select class="form-control" data-bind="options: ImpostoMaiorQueZero.options, optionsText: 'text', optionsValue: 'value', value: ImpostoMaiorQueZero.val, attr: { id : ImpostoMaiorQueZero.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3" data-bind="visible: DestinatarioExterior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DestinatarioExterior.text, attr: { for: DestinatarioExterior.id }"></label>
                                    <select class="form-control" data-bind="options: DestinatarioExterior.options, optionsText: 'text', optionsValue: 'value', value: DestinatarioExterior.val, attr: { id : DestinatarioExterior.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3" data-bind="visible: PermitirInformarManualmente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PermitirInformarManualmente.text, attr: { for: PermitirInformarManualmente.id }"></label>
                                    <select class="form-control" data-bind="options: PermitirInformarManualmente.options, optionsText: 'text', optionsValue: 'value', value: PermitirInformarManualmente.val, attr: { id : PermitirInformarManualmente.id}, required: PermitirInformarManualmente.required"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3" data-bind="visible: UsoMaterial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsoMaterial.text, attr: { for: UsoMaterial.id }"></label>
                                    <select class="form-control" data-bind="options: UsoMaterial.options, optionsText: 'text', optionsValue: 'value', value: UsoMaterial.val, attr: { id : UsoMaterial.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Imposto sobre Valor Agregado
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutImpostoValorAgregado">
                    <div class="col-12 col-md-6 col-xl-3" data-bind="visible: CodigoIVA.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIVA.text, attr: { for: CodigoIVA.id }"></label>
                            <input type="text" class="form-control" data-bind="value: CodigoIVA.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIVA.maxlength, id : CodigoIVA.id}, required: CodigoIVA.required" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-9" data-bind="visible: ModeloDocumentoFiscal.visible">
                        <label class="form-label" data-bind="text: ModeloDocumentoFiscal.text, attr: { for: ModeloDocumentoFiscal.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="value: ModeloDocumentoFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumentoFiscal.maxlength, id : ModeloDocumentoFiscal.id}, required: ModeloDocumentoFiscal.required" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloDocumentoFiscal.idBtnSearch}">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3" data-bind="visible: ImpostoMaiorQueZero.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ImpostoMaiorQueZero.text, attr: { for: ImpostoMaiorQueZero.id }"></label>
                            <select class="form-control" data-bind="options: ImpostoMaiorQueZero.options, optionsText: 'text', optionsValue: 'value', value: ImpostoMaiorQueZero.val, attr: { id : ImpostoMaiorQueZero.id}, required: ImpostoMaiorQueZero.required"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3" data-bind="visible: DestinatarioExterior.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DestinatarioExterior.text, attr: { for: DestinatarioExterior.id }"></label>
                            <select class="form-control" data-bind="options: DestinatarioExterior.options, optionsText: 'text', optionsValue: 'value', value: DestinatarioExterior.val, attr: { id : DestinatarioExterior.id}, required: DestinatarioExterior.required"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3" data-bind="visible: PermitirInformarManualmente.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PermitirInformarManualmente.text, attr: { for: PermitirInformarManualmente.id }"></label>
                            <select class="form-control" data-bind="options: PermitirInformarManualmente.options, optionsText: 'text', optionsValue: 'value', value: PermitirInformarManualmente.val, attr: { id : PermitirInformarManualmente.id}, required: PermitirInformarManualmente.required"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3" data-bind="visible: UsoMaterial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: UsoMaterial.text, attr: { for: UsoMaterial.id }"></label>
                            <select class="form-control" data-bind="options: UsoMaterial.options, optionsText: 'text', optionsValue: 'value', value: UsoMaterial.val, attr: { id : UsoMaterial.id}, required: UsoMaterial.required"></select>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUD_ImpostoValorAgregado">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                            <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/impostoValorAgregado"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadIVA();
    });

</script>
