@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">Rastreabilidade de Volumes</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Rastreabilidade de Volumes
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaRastreabilidadeVolumes">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ProdutoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataPedidoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPedidoInicial.text, attr: { for: DataPedidoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPedidoInicial.requiredClass, value: DataPedidoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPedidoInicial.maxlength, id : DataPedidoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataPedidoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPedidoFinal.text, attr: { for: DataPedidoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPedidoFinal.requiredClass, value: DataPedidoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPedidoFinal.maxlength, id : DataPedidoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataRecebimentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRecebimentoInicial.text, attr: { for: DataRecebimentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRecebimentoInicial.requiredClass, value: DataRecebimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimentoInicial.maxlength, id : DataRecebimentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataRecebimentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRecebimentoFinal.text, attr: { for: DataRecebimentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRecebimentoFinal.requiredClass, value: DataRecebimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimentoFinal.maxlength, id : DataRecebimentoFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaRastreabilidadeVolumes" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaRastreabilidadeVolumes" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/relatorios/scripts/rastreabilidadeVolumes"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioRastreabilidadeVolumes();
    });

</script>

