
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Avarias</li>
    <li class="breadcrumb-item active">Aceite Lote Avaria</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Aceite Lote de Avaria
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(940)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaLotes">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Motivos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: NumeroLote.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroLote.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLote.maxlength, id : NumeroLote.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="knockoutAceiteLoteAvaria" data-bind="id: Codigo.id, fadeVisible: Codigo.visible">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Lote Pendente de Resposta
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">
                    <!-- Avarias -->
                    <div class="col-12 col-md-6">
                        <div class="card" data-bind="visible: Avarias.visible">
                            <div class="card-body">
                                <div class="card-title" data-bind="text: Avarias.text"></div>
                                <hr />
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Avarias.idGrid }" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                    <!-- Anexos -->
                    <div class="col-12 col-md-6">
                        <div class="card" data-bind="visible: Anexos.visible">
                            <div class="card-body">
                                <div class="card-title" data-bind="text: Anexos.text"></div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-success waves-effect waves-themed mb-3" data-bind="click: AdicionarAnexo.eventClick, text: AdicionarAnexo.text, attr: { id: AdicionarAnexo.id }" type="button">
                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarAnexo.text"></span>
                                        </button>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <!-- Detalhes -->
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Detalhes</div>
                                <hr />
                                <div class="row">
                                    <section class="col-12">
                                        <label><b data-bind="text: Criador.text"></b> <span data-bind="text: Criador.val"></span></label>
                                    </section>
                                    <section class="col-12 mt-2">
                                        <label><b data-bind="text: DataGeracao.text"></b> <span data-bind="text: DataGeracao.val"></span></label>
                                    </section>
                                    <section class="col-12 mt-2">
                                        <label><b data-bind="text: Responsaveis.text"></b> <span data-bind="text: Responsaveis.val"></span></label>
                                    </section>
                                    <section class="col-12 mt-2">
                                        <label><b data-bind="text: NumeroLote.text"></b> <span data-bind="text: NumeroLote.val"></span></label>
                                    </section>
                                    <section class="col-12 mt-2">
                                        <label><b data-bind="text: DescricaoSituacao.text"></b> <span data-bind="text: DescricaoSituacao.val"></span></label>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Resposta -->
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Resposta</div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                            <textarea class="form-control" rows="5" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <button type="button" class="btn btn-labeled btn-primary" data-bind="click: Termos.eventClick, text: Termos.text, attr: { id: Termos.id }">
                                            <span data-bind="text: Termos.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: ReprovarLote.eventClick, text: ReprovarLote.text, attr: { id: ReprovarLote.id }">
                                            <span data-bind="text: ReprovarLote.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: AprovarLote.eventClick, text: AprovarLote.text, attr: { id: AprovarLote.id }">
                                            <span data-bind="text: AprovarLote.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modais -->

<div class="modal fade" id="divModalProdutosAvariados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knockoutProdutosAvariados">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: Produtos.text "></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>Produtos</h4>
                <hr />
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Produtos.idGrid }"></table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="divModalGerenciarAnexos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knockoutAnexos">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Anexo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                        <p class="form-label" data-bind="text: Arquivo.text"></p>
                        <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                            <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                            <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val">Selecione uma imagem para anexa</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/aceiteLoteAvaria"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Ocorrencias.Ocorrencia").then(loadAceiteLoteAvaria);
    });

</script>

