
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Avarias</li>
    <li class="breadcrumb-item active">Autorização Avaria</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Autorização de Avaria
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(948)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>


<div id="knockoutPesquisaAvarias">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Pesquisar Avaria</h2>
            </div>
            <div class="panel-content">
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroAvaria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroAvaria.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroAvaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAvaria.maxlength, id : NumeroAvaria.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Produto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: EtapaAutorizacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EtapaAutorizacao.text, attr: { for: EtapaAutorizacao.id }"></label>
                                    <select class="form-control" data-bind="options: EtapaAutorizacao.options, optionsText: 'text', optionsValue: 'value', value: EtapaAutorizacao.val, attr: { id : EtapaAutorizacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Usuario.text, maxlength: Usuario.maxlength, id: Usuario.id, name: Usuario.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    Avarias
                </h3>
            </div>
            <div class="panel-content">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-danger me-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                            <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-danger me-2" type="button" data-bind="click: DelegarAvarias.eventClick, attr: { id: DelegarAvarias.id }, visible: DelegarAvarias.visible">
                            <span data-bind="text: DelegarAvarias.text"></span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                            <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalAvaria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da Avarias</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-container">
                        <div class="panel-content">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item active">
                                    <a href="#knockoutAvaria" class="nav-link active" data-bs-toggle="tab">
                                        <span class="hidden-mobile hidden-tablet">Solicitação</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="liCarga" style="display:none;">
                                    <a href="#knoutCarga" class="nav-link" data-bs-toggle="tab">
                                        <span class="hidden-mobile hidden-tablet">Carga</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="liAnexos" style="display:none;">
                                    <a href="#knockoutAnexos" class="nav-link" data-bs-toggle="tab">
                                        <span class="hidden-mobile hidden-tablet">Anexos</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="liAutorizacao">
                                    <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                                        <span class="hidden-mobile hidden-tablet">Autorização</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="liDelegar" style="display:none;">
                                    <a href="#knockoutDelegar" class="nav-link" data-bs-toggle="tab">
                                        <span class="hidden-mobile hidden-tablet">Delegar</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content border border-top-0 p-3">

                                <!-- Solicitação -->
                                <div class="tab-pane fade active show" id="knockoutAvaria">
                                    <div>
                                        <h4>Detalhes da Avaria</h4>
                                        <hr />
                                    </div>
                                    <div class="row">
                                        <section data-bind="visible: NumeroAvaria.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: NumeroAvaria.text"></b> <span data-bind="text: NumeroAvaria.val"></span></label>
                                        </section>
                                        <section data-bind="visible: ValorAvaria.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: ValorAvaria.text"></b> <span data-bind="text: ValorAvaria.val"></span></label>
                                        </section>
                                        <section data-bind="visible: DataAvaria.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: DataAvaria.text"></b> <span data-bind="text: DataAvaria.val"></span></label>
                                        </section>
                                        <section data-bind="visible: Situacao.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: Situacao.text"></b> <span data-bind="text: Situacao.val"></span></label>
                                        </section>
                                        <section data-bind="visible: CodigoCarga.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: CodigoCarga.text"></b> <span data-bind="text: CodigoCarga.val"></span></label>
                                        </section>
                                        <section data-bind="visible: Veiculos.visible" class="col-12 col-md-4 mb-3">
                                            <label><b data-bind="text: Veiculos.text"></b> <span data-bind="text: Veiculos.val"></span></label>
                                        </section>
                                        <section data-bind="visible: Transportador.visible" class="col-12 col-md-12 mb-3">
                                            <label><b data-bind="text: Transportador.text"></b> <span data-bind="text: Transportador.val"></span></label>
                                        </section>
                                    </div>
                                </div>

                                <!-- Carga -->
                                <div class="tab-pane fade" id="knoutCarga"></div>
    
                                <!-- Anexos -->
                                <div class="tab-pane fade" id="knockoutAnexos">
                                    <div>
                                        <h4>Anexos</h4>
                                        <hr />
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Anexos.idGrid}"></table>
                                </div>

                                <!-- Autorização -->
                                <div class="tab-pane fade" id="knockoutAutorizacao">
                                    <div>
                                        <h4>Regras</h4>
                                        <hr />
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6" data-bind="visible: Justificativa.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                                <textarea class="form-control" rows="5" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3" data-bind="visible: Rejeitar.visible">
                                        <div class="col-12 d-flex justify-content-end">
                                            <button class="btn btn-default waves-effect waves-themed mx-3" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}" type="button">
                                                <span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger waves-effect waves-themed" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}" type="button">
                                                <span data-bind="text: Rejeitar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                                    <div class="row mt-3" data-bind="visible: AprovarTodas.visible">
                                        <div class="col-12 d-flex justify-content-end">
                                            <button class="btn btn-default waves-effect waves-themed mx-3" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}" type="button">
                                                <span data-bind="text: AprovarTodas.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Delegar -->
                                <div class="tab-pane fade" id="knockoutDelegar">
                                    <div>
                                        <h4>Delegar</h4>
                                        <hr />
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: UsuarioDelegado.requiredClass, value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <button class="btn btn-success waves-effect waves-themed" data-bind="click: Delegar.eventClick, attr: { id: Delegar.id}" type="button">
                                                <span data-bind="text: Delegar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalRejeitarAvaria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutRejeicaoAvaria" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar Avarias</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                <textarea class="form-control" rows="5" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-danger" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                    <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divModalDelegarAvaria" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDelegarAvaria" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Cargas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" data-bind="visible: UsuarioDelegado.visible">
                    <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id}" />
                        <div class="input-group-append">
                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="click: Delegar.eventClick, attr: { id : Delegar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Delegar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/autorizacaoAvaria"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAutorizacao();
    });

</script>
