
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Agendamento Entrega Pedido</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Agendamento de Entrega
    </h1>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-search"></i>
                Pesquisar Agendamento de Entrega
            </h3>
        </div>
        <div class="panel-content" id="knockoutPesquisaAgendamentoEntregaPedido">
            <form>
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: DataCarregamentoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataCarregamentoInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataCarregamentoInicial.requiredClass, value: DataCarregamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamentoInicial.maxlength, id : DataCarregamentoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataCarregamentoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataCarregamentoFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataCarregamentoFinal.requiredClass, value: DataCarregamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamentoFinal.maxlength, id : DataCarregamentoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataAgendamentoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAgendamentoInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataAgendamentoInicial.requiredClass, value: DataAgendamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamentoInicial.maxlength, id : DataAgendamentoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataAgendamentoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAgendamentoFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataAgendamentoFinal.requiredClass, value: DataAgendamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamentoFinal.maxlength, id : DataAgendamentoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: SituacaoAgendamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SituacaoAgendamento.text, attr: { for: SituacaoAgendamento.id }"></label>
                            <select class="form-control" data-bind="class: SituacaoAgendamento.requiredClass, options: SituacaoAgendamento.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoAgendamento.val, attr: { maxlength: SituacaoAgendamento.maxlength, id : SituacaoAgendamento.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Todos"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NFe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NFe.text"></label>
                            <input type="text" class="form-control" data-bind="class: NFe.requiredClass, value: NFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NFe.maxlength, id : NFe.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: CanalEntrega.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CanalEntrega.text, attr: { for: CanalEntrega.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CanalEntrega.requiredClass, value: CanalEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: CanalEntrega.maxlength, id : CanalEntrega.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CanalEntrega.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroOrdem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroOrdem.text"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroOrdem.requiredClass, value: NumeroOrdem.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOrdem.maxlength, id : NumeroOrdem.id}" />
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-4" data-bind="visible: UFDestino.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: UFDestino.text, attr: { for: UFDestino.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: UFDestino.requiredClass, value: UFDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: UFDestino.maxlength, id : UFDestino.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UFDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                        <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text"></label>
                                <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataPrevisaoEntregaInicial.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaInicial.requiredClass, value: DataPrevisaoEntregaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaInicial.maxlength, id : DataPrevisaoEntregaInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataPrevisaoEntregaFinal.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaFinal.requiredClass, value: DataPrevisaoEntregaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaFinal.maxlength, id : DataPrevisaoEntregaFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataCriacaoPedidoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCriacaoPedidoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataCriacaoPedidoInicial.requiredClass, value: DataCriacaoPedidoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoPedidoInicial.maxlength, id : DataCriacaoPedidoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataCriacaoPedidoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCriacaoPedidoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataCriacaoPedidoFinal.requiredClass, value: DataCriacaoPedidoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoPedidoFinal.maxlength, id : DataCriacaoPedidoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: PossuiDataTermioCarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PossuiDataTermioCarregamento.text, attr: { for: PossuiDataTermioCarregamento.id }"></label>
                                <select class="form-control" data-bind="class: PossuiDataTermioCarregamento.requiredClass, options: PossuiDataTermioCarregamento.options, optionsText: 'text', optionsValue: 'value', value: PossuiDataTermioCarregamento.val, attr: { maxlength: PossuiDataTermioCarregamento.maxlength, id : PossuiDataTermioCarregamento.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: PossuiDataSugestaoEntrega.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PossuiDataSugestaoEntrega.text, attr: { for: PossuiDataSugestaoEntrega.id }"></label>
                                <select class="form-control" data-bind="class: PossuiDataSugestaoEntrega.requiredClass, options: PossuiDataSugestaoEntrega.options, optionsText: 'text', optionsValue: 'value', value: PossuiDataSugestaoEntrega.val, attr: { maxlength: PossuiDataSugestaoEntrega.maxlength, id : PossuiDataSugestaoEntrega.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: PossuiNotaFiscalVinculada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PossuiNotaFiscalVinculada.text, attr: { for: PossuiNotaFiscalVinculada.id }"></label>
                                <select class="form-control" data-bind="class: PossuiNotaFiscalVinculada.requiredClass, options: PossuiNotaFiscalVinculada.options, optionsText: 'text', optionsValue: 'value', value: PossuiNotaFiscalVinculada.val, attr: { maxlength: PossuiNotaFiscalVinculada.maxlength, id : PossuiNotaFiscalVinculada.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialSugestaoEntrega.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialSugestaoEntrega.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicialSugestaoEntrega.requiredClass, value: DataInicialSugestaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialSugestaoEntrega.maxlength, id : DataInicialSugestaoEntrega.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalSugestaoEntrega.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalSugestaoEntrega.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinalSugestaoEntrega.requiredClass, value: DataFinalSugestaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalSugestaoEntrega.maxlength, id : DataFinalSugestaoEntrega.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SituacaoNotaFiscal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoNotaFiscal.text, attr: { for: SituacaoNotaFiscal.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SituacaoNotaFiscal.requiredClass, value: SituacaoNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: SituacaoNotaFiscal.maxlength, id : SituacaoNotaFiscal.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SituacaoNotaFiscal.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: StatusCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: StatusCarga.text, attr: { for: StatusCarga.id }"></label>
                                <select class="form-control" data-bind="class: StatusCarga.requiredClass, options: StatusCarga.options, optionsText: 'text', optionsValue: 'value', value: StatusCarga.val, attr: { maxlength: StatusCarga.maxlength, id : StatusCarga.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialCriacaoDaCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialCriacaoDaCarga.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicialCriacaoDaCarga.requiredClass, value: DataInicialCriacaoDaCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialCriacaoDaCarga.maxlength, id : DataInicialCriacaoDaCarga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalCriacaoDaCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalCriacaoDaCarga.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinalCriacaoDaCarga.requiredClass, value: DataFinalCriacaoDaCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalCriacaoDaCarga.maxlength, id : DataFinalCriacaoDaCarga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: SenhaEntregaAgendamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SenhaEntregaAgendamento.text"></label>
                                <input type="text" class="form-control" data-bind="class: SenhaEntregaAgendamento.requiredClass, value: SenhaEntregaAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaEntregaAgendamento.maxlength, id : SenhaEntregaAgendamento.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: EntegasComSenhaDeAgendamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EntegasComSenhaDeAgendamento.text, attr: { for: EntegasComSenhaDeAgendamento.id }"></label>
                                <select class="form-control" data-bind="class: EntegasComSenhaDeAgendamento.requiredClass, options: EntegasComSenhaDeAgendamento.options, optionsText: 'text', optionsValue: 'value', value: EntegasComSenhaDeAgendamento.val, attr: { maxlength: EntegasComSenhaDeAgendamento.maxlength, id : EntegasComSenhaDeAgendamento.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-default waves-effect waves-themed me-2" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                                <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Entregas
            </h3>
        </div>
        <div class="panel-content">
            <form>

                <div class="row" id="knockoutAgendamentoEntregaPedido">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                </div>
                <div class="co-l2 mt-12 ms-2" id="knockoutAgendamentoEntregaLegendas" style="display:none">
                    <span><b data-bind="click: ExibirLegendas.eventClick, visible: ExibirLegendas.visible, attr: { value: ExibirLegendas.text, id: ExibirLegendas.id}"></b> </span>
                    <div class="badge legend blue" style="display: none;" title="Aguardando o término do carregamento">
                        <b data-bind="text: AguardandoTerminoCarregamento.text"> </b>

                    </div>
                    <div class="badge legend yellow" title="Aguardando sugestão de data de entrega">
                        <b data-bind="text: AguardandoSugestaoDataEntrega.text"></b>
                    </div>
                    <div class="badge legend green" title="Não exige que as entregas sejam agendadas">
                        <b data-bind="text: NaoExigeQueEntregasSejamAgendadas.text"></b>
                    </div>
                    <div class="badge legend purple" title="Permitido agendar após inicio de viagem">
                        <b data-bind="text: PermiteAgendarAposInicioViagem.text"></b>
                    </div>
                </div>

                <div class="co-l2 mt-12 ms-2 mt-3" id="knockoutAgendamentoRegraCadastroClienteLegendas" style="display:none">
                    <span><b data-bind="click: ExibirLegendas.eventClick, visible: ExibirLegendas.visible, attr: { value: ExibirLegendas.text, id: ExibirLegendas.id}"></b> </span>
                    <div class="badge legend green" title="Até 5 horas em agendamento">
                        <b data-bind="text: Ate5HorasAgendamento.text"> </b>
                    </div>
                    <div class="badge legend yellow" title="De 5 até 10 horas em agendamento">
                        <b data-bind="text: De5Ate10HorasAgendamento.text"></b>
                    </div>
                    <div class="badge legend red" title="Há mais de 10 horas em agendamento">
                        <b data-bind="text: HaMais10HorasAgendamento.text"></b>
                    </div>
                </div>

                <footer>
                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex align-items-center justify-content-end mb-3" id="botao-opcoes-multipla-selecao" style="visibility: hidden;">
                                <div class="dropdown pull-right mt-2">
                                    <button class="btn btn-success waves-effect waves-themed dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" type="button" aria-expanded="false" id="dropdownMenuButton1">
                                        Opções<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="menu-drop-down">
                                        <!-- ko foreach: Opcoes -->
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-bind="attr: { id: id }">
                                                <span data-bind="text: text, click: eventClick, visible: visible" class="ms-2"></span>
                                            </a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<div id="divModalHorarioAgendamentoDescarga" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="knockoutHorarioAgendamentoDescarregamento">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: Titulo.text"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content p-3">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-12" data-bind="visible: NovoHorario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NovoHorario.text"></label>
                                        <input type="text" class="form-control" data-bind="class: NovoHorario.requiredClass, value: NovoHorario.val, valueUpdate: 'afterkeydown', attr: { maxlength: NovoHorario.maxlength, id : NovoHorario.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: ExigeSenhaAgendamento.val">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SenhaEntregaAgendamento.text"></label>
                                        <input type="text" class="form-control" data-bind="class: SenhaEntregaAgendamento.requiredClass, value: SenhaEntregaAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaEntregaAgendamento.maxlength, id : SenhaEntregaAgendamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacoes.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacoes.text, attr: { for: Observacoes.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: Observacoes.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacoes.maxlength, id : Observacoes.id }"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12" data-bind="visible: MotivoReagendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MotivoReagendamento.text, attr: { for: MotivoReagendamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: MotivoReagendamento.requiredClass, value: MotivoReagendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoReagendamento.maxlength, id : MotivoReagendamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MotivoReagendamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: ResponsavelMotivoReagendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ResponsavelMotivoReagendamento.text, attr: { for: ResponsavelMotivoReagendamento.id }"></label>
                                        <select class="form-control" data-bind="class: ResponsavelMotivoReagendamento.requiredClass, options: ResponsavelMotivoReagendamento.options, optionsText: 'text', optionsValue: 'value', value: ResponsavelMotivoReagendamento.val, attr: { maxlength: ResponsavelMotivoReagendamento.maxlength, id : ResponsavelMotivoReagendamento.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: ObservacaoReagendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ObservacaoReagendamento.text, attr: { for: ObservacaoReagendamento.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: ObservacaoReagendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoReagendamento.maxlength, id : ObservacaoReagendamento.id }"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divModalPeriodosAgendamento" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel" data-bind="text: PeriodosDisponiveis.text() + ' ' + DiaSemana.val()"></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body row">
                                        <table width="100%" class="table table-bordered table-hover mt-0" data-bind="attr: { id: PeriodosDisponiveis.idGrid }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3 gap-2">
                    <button class="btn btn-secondary waves-effect waves-themed mr-3" type="button" data-bind="click: Periodos.eventClick, visible: Periodos.visible, attr: { value: Periodos.text, id: Periodos.id}">
                        <span data-bind="text: Periodos.text"></span>
                    </button>
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id: Salvar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalConsultaTransportador" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutConsultaTransportador" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Consulta do Transportador</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridConsultas.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalDataSugestaoEntrega" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDataSugestaoEntrega" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Data de sugestão para entrega</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" data-bind="visible: DataSugestaoEntrega.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataSugestaoEntrega.text"></label>
                        <input type="text" class="form-control" data-bind="class: DataSugestaoEntrega.requiredClass, value: DataSugestaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataSugestaoEntrega.maxlength, id : DataSugestaoEntrega.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id: Salvar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalAgendamentoEntregaHistorico" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAgendamentoEntregaHistorico" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Histórico Datas de Agendamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>

            <div class="modal-body row">

                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridConsultas.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalNotaFiscalSituacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutSituacaoNotaFiscal" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Adicionar Situação Nota Fiscal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-8" data-bind="visible: NotaFiscalSituacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NotaFiscalSituacao.text, attr: { for: NotaFiscalSituacao.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: NotaFiscalSituacao.requiredClass, value: NotaFiscalSituacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscalSituacao.maxlength, id : NotaFiscalSituacao.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NotaFiscalSituacao.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Data.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Data.text"></label>
                        <input type="text" class="form-control" data-bind="class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id: Salvar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalAgendamentoEntregaContato" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAgendamentoEntregaContato" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anexos e Contatos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body row">
                <label><b data-bind="text: NomeTransportador.text"></b> <span data-bind="text: NomeTransportador.val"></span></label>
                <label><b data-bind="text: TelefoneTransportador.text"></b> <span data-bind="text: TelefoneTransportador.val"></span></label>
                <label><b data-bind="text: EmailTransportador.text"></b> <span data-bind="text: EmailTransportador.val"></span></label>
                <label><b data-bind="text: LocalidadeTransportador.text"></b> <span data-bind="text: LocalidadeTransportador.val"></span></label>
                <label><b data-bind="text: Telefone2Transportador.text"></b> <span data-bind="text: Telefone2Transportador.val"></span></label>
                <label><b data-bind="text: ObservacaoTransportador.text"></b> <span data-bind="text: ObservacaoTransportador.val"></span></label>
                <div style="text-align-last: right;">
                    <button class="btn btn-success" type="button" data-bind="click: NotificarTransportadorPorEmail.eventClick, text: NotificarTransportadorPorEmail.text, visible: NotificarTransportadorPorEmail.visible, attr: { id: NotificarTransportadorPorEmail.id}">
                        <span data-bind="text: NotificarTransportadorPorEmail.text"></span>
                    </button>
                </div>
                <div class="mt-2">
                    <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: AnexosTransportador.idGrid }" cellspacing="0"></table>
                </div>
                <div class="col-12" data-bind="visible: Adicionar.visible">
                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Adicionar.eventClick, text: Adicionar.text, visible: Adicionar.visible, attr: { id: Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
                <div class="mt-2">
                    <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="divModalAdicionarAnexoAgendamentoEntrega" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAnexoAgendamentoEntregaAdicionar" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Contato</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="form-group col-12 col-md-12" data-bind="visible: Arquivo.visible">
                    <p class="form-label" data-bind="text: Arquivo.text"></p>
                    <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                        <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                        <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalInformacaoContatoCliente" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInformacaoContatoCliente" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contato Cliente</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: ContatoDescricao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ContatoDescricao.text, attr: { for: ContatoDescricao.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: ContatoDescricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContatoDescricao.maxlength, id : ContatoDescricao.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: AdicionarContatos.eventClick, attr: { value: AdicionarContatos.text, id : AdicionarContatos.id}">
                        <i class="fal fa-check"></i><span data-bind="text: AdicionarContatos.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divInformarDadosAgendamento" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Informar Dados Agendamento</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div id="knockoutInformarDadosAgendamento" class="modal-body">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: NomeResponsavel.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NomeResponsavel.text"></label>
                                        <input type="text" class="form-control" data-bind="class: NomeResponsavel.requiredClass, value: NomeResponsavel.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeResponsavel.maxlength, id : NomeResponsavel.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: SenhaAgendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SenhaAgendamento.text"></label>
                                        <input type="text" class="form-control" data-bind="class: SenhaAgendamento.requiredClass, value: SenhaAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaAgendamento.maxlength, id : SenhaAgendamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: DataAgendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataAgendamento.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataAgendamento.requiredClass, value: DataAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamento.maxlength, id : DataAgendamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: ProtocoloAgendamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ProtocoloAgendamento.text"></label>
                                        <input type="text" class="form-control" data-bind="class: ProtocoloAgendamento.requiredClass, value: ProtocoloAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProtocoloAgendamento.maxlength, id : ProtocoloAgendamento.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success " type="button" data-bind="click: Enviar.eventClick, attr: { id: Enviar.id}">
                        <i class="fa fa-paper-plane"></i><span data-bind="text: Enviar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalEnvioEmailAgendamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutEnvioEmailAgendamento" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: TituloModal.text"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-10" data-bind="visible: ModeloEmail.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ModeloEmail.text, attr: { for: ModeloEmail.id }"></label>
                        <select class="form-control" data-bind="class: ModeloEmail.requiredClass, options: ModeloEmail.options, optionsText: 'text', optionsValue: 'value', value: ModeloEmail.val, attr: { maxlength: ModeloEmail.maxlength, id : ModeloEmail.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-10" data-bind="visible: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.visible">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.val, attr: { maxlength: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.maxlength, name: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.id, id: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.id }">
                            <label class="custom-control-label" data-bind="text: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.text, attr: { for: EnviarEmailParaTodosOsPedidosDoMesmoDestinoECarga.id }"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: EnviarEmail.eventClick, attr: { value: EnviarEmail.text, id : EnviarEmail.id}">
                        <i class="fal fa-check"></i><span data-bind="text: EnviarEmail.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalGravarSenhaAgendamentoEntrega" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutGravarSenhaAgendamentoEntrega" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: TituloModal.text"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: SenhaEntregaAgendamento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SenhaEntregaAgendamento.text"></label>
                        <input type="text" class="form-control" data-bind="class: SenhaEntregaAgendamento.requiredClass, value: SenhaEntregaAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaEntregaAgendamento.maxlength, id : SenhaEntregaAgendamento.id}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick, attr: { value: Salvar.text, id : Salvar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .legenda-item {
        float: left;
        padding: 0;
        margin-top: 5px;
        position: relative;
        width: 100% !important;
    }

    .item-selecionado {
        color: #333333 !important;
        background-color: #bdbdbd !important;
        border-color: #adadad !important;
    }
</style>

<script src="~/scripts/agendamentoEntregaPedido"></script>
<script src="~/scripts/carga"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Cargas.Carga"]).then(loadAgendamentoEntregaPedido);
    });

</script>
