

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Área Veículo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Áreas de Veículos
    </h1>
</div>

<div id="knockoutPesquisaAreaVeiculo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Áreas de Veículos
                </button>
                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroCarregamento.val, enable: CentroCarregamento.enable, attr: { maxlength: CentroCarregamento.maxlength, id: CentroCarregamento.id}, event: { blur: CentroCarregamento.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CentroCarregamento.enable, attr: { id: CentroCarregamento.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex justify-content-end mb-2">
                       
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>

                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel mt-2" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active nav-item">
                    <a href="#tabAreaVeiculoDados" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Dados</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabAreaVeiculoPosicao" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Posições</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabAreaVeiculoTipoRetornoCarga" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Tipos</span>
                    </a>
                </li>
                <li class="nav-item"> 
                    <a href="#tabAreaVeiculoDesenho" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Desenho</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div class="tab-pane fade active show" id="tabAreaVeiculoDados" role="tabpanel">

                    <form novalidate id="knockoutAreaVeiculo">
                        <div class="row">

                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: CentroCarregamento.requiredClass, value: CentroCarregamento.val, enable: CentroCarregamento.enable, attr: { maxlength: CentroCarregamento.maxlength, id: CentroCarregamento.id}, event: { blur: CentroCarregamento.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CentroCarregamento.enable, attr: { id: CentroCarregamento.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: CentroCarregamento.requiredClass, valueAllowUnset: true, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: CentroCarregamento.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="5" type="text" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="tabAreaVeiculoPosicao" role="tabpanel">

                    <div id="knockoutAreaVeiculoPosicao">
                        <button type="button" class="btn btn-primary mb-2  botaoAdiconarMultiplosRegistros" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                        <table width="100%" class="table table-bordered table-hover mt-3" data-bind="attr: {id: ListaPosicao.idGrid }" cellspacing="0"></table>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabAreaVeiculoTipoRetornoCarga" role="tabpanel">

                    <div id="knockoutAreaVeiculoTipoRetornoCarga">
                        <button type="button" class="btn btn-primary mb-2 botaoAdiconarMultiplosRegistros" data-bind="attr: { id: ListaTipoRetornoCarga.idBtnSearch}">
                            <i class="fal fa-plus"></i><span data-bind="text: ListaTipoRetornoCarga.text"></span>
                        </button>
                        <table width="100%" class="table table-bordered table-hover mt-3" data-bind="attr: {id: ListaTipoRetornoCarga.idGrid }" cellspacing="0"></table>
                    </div>
                </div>


                <div class="tab-pane fade" id="tabAreaVeiculoDesenho" role="tabpanel">
                    <h3>Desenho</h3>
                    <div>
                        <canvas id="canvas"></canvas>
                    </div>

                </div>


                <footer id="knockoutCRUDAreaVeiculo" class="mt-2">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                            </button>
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: BaixarQRCode.eventClick, visible: BaixarQRCode.visible, text: BaixarQRCode.text, attr: { id : BaixarQRCode.id}">
                                <i class="fal fa-ban"></i>
                            </button>
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: BaixarTodosQRCode.eventClick, visible: BaixarTodosQRCode.visible, text: BaixarTodosQRCode.text, attr: { id : BaixarTodosQRCode.id}">
                                <i class="fal fa-ban"></i>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger mx-1 mx-sm-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                <i class="fal fa-spinner"></i>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<div id="divModalCadastroAreaVeiculoPosicao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Cargas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="knockoutCadastroAreaVeiculoPosicao">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                    </div>
                </form>

                <footer id="knockoutCRUDCadastroAreaVeiculoPosicao" class="mt-2">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger mx-1 mx-sm-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                <i class="fal fa-spinner"></i>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/areaVeiculo"></script>
<script src="~/scripts/fabric"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAreaVeiculo();
    });

</script>