<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logistica</li>
    <li class="breadcrumb-item active">Associação de Balsa</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-upload"></i>  Associação de Balsa
    </h1>
</div>
<div>
    <div class="panel" id="knockoutImportarAssociacaoBalsa">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3 data-bind="click: Exibir.eventClick, id: Exibir.id">
                    <i class="fal fa-edit"></i>
                    Importar Planilha...
                </h3>
            </div>
            <div class="panel-content" data-bind="id: Exibir.idFade, fadeVisible: Exibir.visibleFade">
                <form>
                    <div class="row">
                        <div class="col col-md-12 mb-3">
                            <a class="color-primary-400" id="#knoutAreaImportacao">
                                <i class="fal fa-download"></i>
                                <span class="hidden-mobile hidden-tablet">Retorno da Importação</span>
                                <div id="knoutAreaImportacao">

                                </div>
                            </a>
                        </div>
                        <div class="form-group col-12 col-md-12" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" multiple="multiple" placeholder="Selecione o(s) arquivo(s) para importação" class="custom-file-input" data-bind="attr: {id: Arquivo.id}, value: Arquivo.val" readonly>
                                <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``?  Arquivo.val(): `Selecione um arquivo para importar`"></label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-success" data-bind="click: Importar.eventClick,visible: Importar.visible, attr: { value: Importar.text, id : Importar.id}" type="button">
                            <span data-bind="text: Importar.text"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel" id="knockoutPesquisaAssociacaoBalsa">
        <div class="panel-container">
            <div class="panel-hdr" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                <h3>
                    <i class="fal fa-search"></i>
                    Pesquisar Importações
                </h3>
            </div>
            <div class="panel-content" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: Planilha.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Planilha.text, attr: { for: Planilha.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Planilha.requiredClass, value: Planilha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Planilha.maxlength, id : Planilha.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Funcionario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-1" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Mensagem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Mensagem.requiredClass, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Booking.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Booking.text"></label>
                                <input type="text" class="form-control" data-bind="class: Booking.requiredClass, value: Booking.val, valueUpdate: 'afterkeydown', attr: { maxlength: Booking.maxlength, id : Booking.id}" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Importações realizadas
                </h3>
            </div>
            <div class="panel-content">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" id="grid-associacao-balsa" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalheRetorno" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class=""></i>Detalhes Importação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="knockoutDetalhesImportacaoAssociacaoBalsa">
                    <table width="100%" class="table table-bordered table-hover" id="grid-detalhe-associacao-balsa" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalImportacaoAssociacaoBalsaColuna" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class=""></i>Colunas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" id="grid-coluna-associacao-balsa" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/associacaoBalsa"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAssociacaoBalsa();
    });

</script>