
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logistica</li>
    <li class="breadcrumb-item active">Config Filial</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Liberar Fila de Carregamento em Filiais
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Filiais Permitidas para Carregamento
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutConfigFiliais">
                <div class="row ">
                    <div class="card mt-3" data-bind="visible: Filiais.visible ">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="card-title">Filiais Permitidas</h3>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary waves-effect waves-themed mb-2" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: Filial.text"></span>
                            </button>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridFilial.id}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </form>

            <footer id="knockoutCRUDFiliaisPermitidas">
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>


<script src="~/scripts/configFiliaisFilaCarregamento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loaConfigFiliaisFilaCarregamento();
    });

</script>
