
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Consolidação Solicitação Gás</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Consolidação de Solicitações
    </h1>
</div>

<div>
    <div class="panel">
        <div class="panel-container" id="knockoutPesquisaConsolidacaoSolicitacaoGas">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisa Consolidação de Solicitações
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-4" data-bind="visible: BaseSatelite.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BaseSatelite.text, attr: { for: BaseSatelite.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: BaseSatelite.requiredClass, value: BaseSatelite.val, valueUpdate: 'afterkeydown', attr: { maxlength: BaseSatelite.maxlength, id : BaseSatelite.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BaseSatelite.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: BaseSupridora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BaseSupridora.text, attr: { for: BaseSupridora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: BaseSupridora.requiredClass, value: BaseSupridora.val, valueUpdate: 'afterkeydown', attr: { maxlength: BaseSupridora.maxlength, id : BaseSupridora.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BaseSupridora.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataSolicitacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataSolicitacao.text, attr: { for: DataSolicitacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataSolicitacao.requiredClass, value: DataSolicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataSolicitacao.maxlength, id : DataSolicitacao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoInicial.text, attr: { for: DataCriacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoInicial.requiredClass, value: DataCriacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoInicial.maxlength, id : DataCriacaoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoFinal.text, attr: { for: DataCriacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoFinal.requiredClass, value: DataCriacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoFinal.maxlength, id : DataCriacaoFinal.id}" />
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="wid-id-4">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Consolidação das Solicitações de Gás
                </h3>
            </div>
            <div class="panel-content" id="knockoutConsolidacaoSolicitacaoGas">
                <div class="row mt-3">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridConsolidacoes.idGrid}" cellspacing="0"></table>
                </div>


                <div class="card mt-3">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="card-title">Quantidades Disponíveis</h3>
                    </div>
                    <div class="card-body">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridQuantidadesDisponiveis.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalConsolidarSolicitacao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Consolidação das Solicitações de Gás</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a href="#tabConsolidar" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Consolidar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabConsolidacoesGeradas" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Consolidações Geradas</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tabConsolidar" class="tab-pane fade active show">
                        <div class="row mt-3" id="knockoutConsolidarSolicitacao">

                            <div class="col-12 col-md-6" data-bind="visible: FilialSolicitante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FilialSolicitante.text, attr: { for: FilialSolicitante.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: FilialSolicitante.requiredClass, value: FilialSolicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: FilialSolicitante.maxlength, id : FilialSolicitante.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: ProdutoSolicitacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoSolicitacao.text, attr: { for: ProdutoSolicitacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ProdutoSolicitacao.requiredClass, value: ProdutoSolicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoSolicitacao.maxlength, id : ProdutoSolicitacao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: BaseSupridora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BaseSupridora.text, attr: { for: BaseSupridora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: BaseSupridora.requiredClass, value: BaseSupridora.val, valueUpdate: 'afterkeydown', attr: { maxlength: BaseSupridora.maxlength, id : BaseSupridora.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BaseSupridora.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <b data-bind="text: QuantidadeDisponivel.text"></b><br />
                                <span data-bind="text: QuantidadeDisponivel.val"></span>
                            </div>

                            <div class="col-12 col-md-2">
                                <b data-bind="text: QuantidadeFaltante.text"></b><br />
                                <span data-bind="text: QuantidadeFaltante.val"></span>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: TipoDeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeCarga.text, attr: { for: TipoDeCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoDeCarga.requiredClass, value: TipoDeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeCarga.maxlength, id : TipoDeCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoDeCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: QuantidadeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeCarga.text, attr: { for: QuantidadeCarga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeCarga.requiredClass, value: QuantidadeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeCarga.maxlength, id : QuantidadeCarga.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Transportadora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportadora.text, attr: { for: Transportadora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportadora.requiredClass, value: Transportadora.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportadora.maxlength, id : Transportadora.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportadora.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: DataCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCarregamento.text, attr: { for: DataCarregamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCarregamento.requiredClass, value: DataCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamento.maxlength, id : DataCarregamento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CargaTrechoAnterior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CargaTrechoAnterior.text, attr: { for: CargaTrechoAnterior.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CargaTrechoAnterior.requiredClass, value: CargaTrechoAnterior.val, valueUpdate: 'afterkeydown', attr: { maxlength: CargaTrechoAnterior.maxlength, id : CargaTrechoAnterior.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CargaTrechoAnterior.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEntrega.text, attr: { for: DataEntrega.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEntrega.requiredClass, value: DataEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEntrega.maxlength, id : DataEntrega.id}" />
                                </div>
                            </div>
                        </div>
                        <footer id="knockoutCRUDConsolidarSolicitacao">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </footer>
                    </div>

                    <div class="tab-pane fade" id="tabConsolidacoesGeradas">
                        <div class="row mt-3" id="knockoutConsolidacoesGeradas">
                            <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: ConsolidacoesGeradas.idGrid }" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSolicitacaoAbastecimentoGas" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Abastecimento de Gás</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="knockoutAbastecimentoGas">
                    <div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="knockoutCRUDAbastecimentoGas">
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/consolidacaoSolicitacaoGas"></script>
<script src="~/scripts/abastecimentoGas"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadConsolidacaoSolicitacaoGas();
        loadModalParcialAbastecimentoGas();
    });

</script>

