

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Logística</li>
        <li class="breadcrumb-item active">Fila Carregamento Reversa</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            Acompanhamento de Reversa
        </h1>
    </div>

    <div id="knockoutPesquisaFilaCarregamentoReversa">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>Pesquisar Filas</span>
                    </button>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div class="smart-form mt-2">
                            <div>
                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: GrupoModeloVeicular.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoModeloVeicular.text, attr: { for: GrupoModeloVeicular.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoModeloVeicular.requiredClass, value: GrupoModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoModeloVeicular.maxlength, id : GrupoModeloVeicular.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataLimite.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataLimite.requiredClass, value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa mb-2" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none fila-carregamento-reversa-container" id="fila-carregamento-reversa-container">
        <div class=" row">
            <div class="co-l2 mb-4">
                <span><b>Legendas:</b> </span>
                <div class="badge legend legenda-cor-ambar">
                    <b> Ag. Descarregamento</b>
                </div>
                <div class="badge legend legenda-cor-azul">
                    <b> Em Descarregamento</b>
                </div>
                <div class="badge legend legenda-cor-verde">
                    <b>Finalizado</b>
                </div>
                <div class="badge legend legenda-cor-vermelha">
                    <b>Cancelada</b>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" id="container-fila-conteudo">
                <div class="panel">
                    <div class="panel-container">
                        <div class="panel-hdr">
                            <h4>
                                <i class="fal fa-edit"></i>
                                Fila de Reversa
                            </h4>
                        </div>
                        <div class="panel-content">
                            <form id="knockoutFilaCarregamentoReversa">
                                <div class="row">
                                    <div class="d-flex justify-content-end mb-2">
                                        <button class="btn btn-success ms-3" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick" type="button">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>

                                    <div class="widget-body" id="container-grid-fila-carregamento">
                                        <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-fila-carregamento-reversa" cellspacing="0"></table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="divModalCadastroFilaCarregamentoReversa" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutCadastroFilaCarregamentoReversa" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-8" data-bind="visible: Veiculo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesFilaCarregamentoReversa" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Reversa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="card-title">Histórico</h3>

                        </div>
                        <div class="card-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: NomeObjeto.idGrid}" cellspacing="0"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDelegarSelecionados" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInicioDescarregamentoFilaCarregamentoReversa" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Iniciar Descarregamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">

                <div class="col-12 col-md-12" data-bind="visible: Local.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Local.text, attr: { for: Local.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind=" enable: Local.enable,css: Local.requiredClass, value: Local.val, valueUpdate: 'afterkeydown', attr: { maxlength: Local.maxlength, id : Local.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Local.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-success" type="button" data-bind="click: Iniciar.eventClick, attr: { value: Iniciar.text, id : Iniciar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Iniciar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/filaCarregamentoReversa"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadFilaCarregamentoReversa();
    });

</script>

<style>
    .legenda-cor-ambar {
        background-color: #ffe699;
        color: #b38600;
    }

    .legenda-cor-azul {
        background-color: #cce6ff;
        color: #0066cc;
    }

    .legenda-cor-verde {
        background-color: #e6ffcc;
        color: #008000;
    }

    .legenda-cor-vermelha {
        background-color: #ff9999;
        color: #b30000;
    }
</style>
