﻿

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Logistica</li>
        <li class="breadcrumb-item active">FilaCarregamento</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            Fila de carregamento
        </h1>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaFilaCarregamento">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i> <span>Pesquisar Filas</span>
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="smart-form mt-2">
                        <div>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: GrupoModeloVeicular.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoModeloVeicular.text, attr: { for: GrupoModeloVeicular.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoModeloVeicular.requiredClass, value: GrupoModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoModeloVeicular.maxlength, id : GrupoModeloVeicular.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataProgramadaInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataProgramadaInicial.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataProgramadaInicial.requiredClass, value: DataProgramadaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramadaInicial.maxlength, id : DataProgramadaInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataProgramadaFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataProgramadaFinal.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataProgramadaFinal.requiredClass, value: DataProgramadaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramadaFinal.maxlength, id : DataProgramadaFinal.id}" />
                                    </div>
                                </div>
                            </div>

                            <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TipoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: EstadoDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: RegiaoDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: RegiaoDestino.text, attr: { for: RegiaoDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: RegiaoDestino.requiredClass, value: RegiaoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: RegiaoDestino.maxlength, id : RegiaoDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: RegiaoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ConfiguracaoProgramacaoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ConfiguracaoProgramacaoCarga.text, attr: { for: ConfiguracaoProgramacaoCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: ConfiguracaoProgramacaoCarga.requiredClass, value: ConfiguracaoProgramacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfiguracaoProgramacaoCarga.maxlength, id : ConfiguracaoProgramacaoCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ConfiguracaoProgramacaoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-default btnPesquisarFiltroPesquisa me-2" data-bind="visible: BuscaAvancada.visible, click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}, visible: BuscaAvancada.id" type="button">
                                <i class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none" id="fila-carregamento-container">
        <div class="panel" id="fila-carregamento-container-grafico">
            <div class="panel-container" id="knockoutFilaCarregamentoResumo">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirDados.eventClick, id: ExibirDados.id">
                        <i class="fal fa-table"></i> <span>Resumo da Fila de Carregamento</span>
                    </button>
                    <div data-bind="id: ExibirDados.idFade, fadeVisible: ExibirDados.visibleFade" class="mt-2">
                        <form>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-12 col-md-8">
                                    <div id="fila-carregamento-resumo-container"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" id="knockoutFilaCarregamentoResumoPorSituacao" data-bind="visible: ExibirResumo.val">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirDados.eventClick, id: ExibirDados.id">
                        <i class="fal fa-table"></i> <span>Resumo</span>
                    </button>
                    <div data-bind="id: ExibirDados.idFade, fadeVisible: ExibirDados.visibleFade" class="mt-2">
                        <table width="100%" class="table table-bordered table-condensed no-footer dataTable JColResizer" cellspacing="0">
                            <thead>
                                <tr role="row" class="font-ambar">
                                    <th></th>
                                    <th class="text-align-center" data-bind="text: Vazio.text, visible: Vazio.visible, attr: { title: Vazio.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoDesatrelar.text, visible: AguardandoDesatrelar.visible() && UtilizarFilaCarregamentoReversa.val(), attr: { title: AguardandoDesatrelar.text }"></th>
                                    <th class="text-align-center" data-bind="text: EmChecklist.text, visible: EmChecklist.visible, attr: { title: EmChecklist.text }"></th>
                                    <th class="text-align-center" data-bind="text: EmReversa.text, visible: EmReversa.visible, attr: { title: EmReversa.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoAceitePreCarga.text, visible: AguardandoAceitePreCarga.visible(), attr: { title: AguardandoAceitePreCarga.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoAceite.text, visible: AguardandoAceite.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: AguardandoAceite.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoConfirmacao.text, visible: AguardandoConfirmacao.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: AguardandoConfirmacao.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoConjuntos.text, visible: AguardandoConjuntos.visible, attr: { title: AguardandoConjuntos.text }"></th>
                                    <th class="text-align-center" data-bind="text: AguardandoCarga.text, visible: AguardandoCarga.visible() && (UtilizarFilaCarregamentoReversa.val() || UtilizarProgramacaoCarga.val()), attr: { title: AguardandoCarga.text }"></th>
                                    <th class="text-align-center" data-bind="text: CargaCancelada.text, visible: CargaCancelada.visible, attr: { title: CargaCancelada.text }"></th>
                                    <th class="text-align-center" data-bind="text: CargaRecusada.text, visible: CargaRecusada.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: CargaRecusada.text }"></th>
                                    <th class="text-align-center" data-bind="text: PerdeuSenha.text, visible: PerdeuSenha.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: PerdeuSenha.text }"></th>
                                    <th class="text-align-center" data-bind="text: EmRemocao.text, visible: EmRemocao.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: EmRemocao.text }"></th>
                                    <th class="text-align-center" data-bind="text: EmViagem.text, visible: EmViagem.visible() && !UtilizarFilaCarregamentoReversa.val(), attr: { title: EmViagem.text }"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="text-align-center">
                                    <td class="fw-bold font-cyan">Total</td>
                                    <td data-bind="text: Vazio.val, visible: Vazio.visible"></td>
                                    <td data-bind="text: AguardandoDesatrelar.val, visible: AguardandoDesatrelar.visible() && UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: EmChecklist.val, visible: EmChecklist.visible"></td>
                                    <td data-bind="text: EmReversa.val, visible: EmReversa.visible"></td>
                                    <td data-bind="text: AguardandoAceitePreCarga.val, visible: AguardandoAceitePreCarga.visible()"></td>
                                    <td data-bind="text: AguardandoAceite.val, visible: AguardandoAceite.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: AguardandoConfirmacao.val, visible: AguardandoConfirmacao.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: AguardandoConjuntos.val, visible: AguardandoConjuntos.visible"></td>
                                    <td data-bind="text: AguardandoCarga.val, visible: AguardandoCarga.visible() && (UtilizarFilaCarregamentoReversa.val() || UtilizarProgramacaoCarga.val())"></td>
                                    <td data-bind="text: CargaCancelada.val, visible: CargaCancelada.visible"></td>
                                    <td data-bind="text: CargaRecusada.val, visible: CargaRecusada.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: PerdeuSenha.val, visible: PerdeuSenha.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: EmRemocao.val, visible: EmRemocao.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                    <td data-bind="text: EmViagem.val, visible: EmViagem.visible() && !UtilizarFilaCarregamentoReversa.val()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="legends align-middle" id="knockoutFilaCarregamentoLegenda">
                <span><b>Legendas:</b> </span>
                <div class="badge legend legenda-cor-verde" data-bind="visible: Vazio.visible()">
                    <span data-bind="text: Vazio.text"></span>
                    <span class="fw-bold" data-bind="text: Vazio.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-verde-mar" data-bind="visible: AguardandoDesatrelar.visible() && UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: AguardandoDesatrelar.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoDesatrelar.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-verde-mar-claro" data-bind="visible: EmChecklist.visible()">
                    <span data-bind="text: EmChecklist.text"></span>
                    <span class="fw-bold" data-bind="text: EmChecklist.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-azul" data-bind="visible: EmReversa.visible()">
                    <span data-bind="text: EmReversa.text"></span>
                    <span class="fw-bold" data-bind="text: EmReversa.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-verde-amarelado" data-bind="visible: AguardandoAceitePreCarga.visible()">
                    <span data-bind="text: AguardandoAceitePreCarga.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoAceitePreCarga.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-oliva" data-bind="visible: AguardandoAceite.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: AguardandoAceite.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoAceite.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-ambar" data-bind="visible: AguardandoConfirmacao.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: AguardandoConfirmacao.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoConfirmacao.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-laranja" data-bind="visible: AguardandoConjuntos.visible()">
                    <span data-bind="text: AguardandoConjuntos.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoConjuntos.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-ambar" data-bind="visible: AguardandoCarga.visible() && (UtilizarFilaCarregamentoReversa.val() || UtilizarProgramacaoCarga.val())">
                    <span data-bind="text: AguardandoCarga.text"></span>
                    <span class="fw-bold" data-bind="text: AguardandoCarga.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-vermelha" data-bind="visible: CargaCancelada.visible()">
                    <span data-bind="text: CargaCancelada.text"></span>
                    <span class="fw-bold" data-bind="text: CargaCancelada.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-purpura" data-bind="visible: CargaRecusada.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: CargaRecusada.text"></span>
                    <span class="fw-bold" data-bind="text: CargaRecusada.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-cinza" data-bind="visible: PerdeuSenha.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: PerdeuSenha.text"></span>
                    <span class="fw-bold" data-bind="text: PerdeuSenha.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-laranja-avermelhada" data-bind="visible: EmRemocao.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: EmRemocao.text"></span>
                    <span class="fw-bold" data-bind="text: EmRemocao.totalItens"></span>
                </div>
                <div class="badge legend legenda-cor-verde-mar-escuro" data-bind="visible: EmViagem.visible() && !UtilizarFilaCarregamentoReversa.val()">
                    <span data-bind="text: EmViagem.text"></span>
                    <span class="fw-bold" data-bind="text: EmViagem.totalItens"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8" id="container-fila-conteudo">
                <div class="panel">
                    <div class="panel-container">
                        <div class="panel-hdr">
                            <h4>
                                <i class="fal fa-edit"></i>
                                Fila de Carregamento
                            </h4>
                        </div>
                        <div class="panel-content">
                            <form id="knockoutFila">
                                <div class="row">
                                    <div class="d-flex justify-content-end mb-2">
                                        <span class="ms-3" data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>
                                        <button class="btn btn-success ms-3" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick" type="button">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>

                                    <div class="widget-body" id="container-grid-fila-carregamento">
                                        <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-fila-carregamento" cellspacing="0"></table>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4" id="container-fila-conteudo-fixar">
                <div id="fila-conteudo-fixar">
                    <div class="panel">
                        <div class="panel-container">
                            <div class="panel-hdr">
                                <h4>
                                    <i class="fal fa-edit"></i>
                                    Em Transição
                                </h4>
                            </div>
                            <div class="panel-content">
                                <form id="knockoutFilaEmTransicao">
                                    <div class="row">
                                        <div class="d-flex justify-content-end mb-2">
                                            <button class="btn btn-success ms-3" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick" type="button">
                                                <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>

                                        <div class="widget-body" id="container-grid-fila-em-transicao">
                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-fila-em-transicao" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel mt-3">
                        <div class="panel-container">
                            <div class="panel-hdr">
                                <h4>
                                    <i class="fal fa-edit"></i>
                                    Motoristas
                                </h4>
                            </div>
                            <div class="panel-content">
                                <form id="knockoutFilaMotorista">
                                    <div class="row">
                                        <div class="d-flex justify-content-end mb-2">
                                            <button class="btn btn-success ms-3" data-bind="Adicionar.visible, click: Adicionar.eventClick" type="button">
                                                <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>

                                        <div class="widget-body" id="container-grid-fila-motorista">
                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-fila-motorista" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalCadastroFila" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar na Fila</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutCadastroFila">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                            <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-8" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Equipamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Equipamento.text, attr: { for: Equipamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Equipamento.requiredClass, value: Equipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Equipamento.maxlength, id : Equipamento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Equipamento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: DataProgramada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataProgramada.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataProgramada.requiredClass, value: DataProgramada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramada.maxlength, id : DataProgramada.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: AreaVeiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AreaVeiculo.text, attr: { for: AreaVeiculo.id }"></label>
                            <select class="form-control" data-bind="class: AreaVeiculo.requiredClass, options: AreaVeiculo.options, optionsText: 'text', optionsValue: 'value', value: AreaVeiculo.val, attr: { maxlength: AreaVeiculo.maxlength, id : AreaVeiculo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="panel">
                            <div class="panel-container">
                                <div class="panel-content" data-bind="visible: UtilizarProgramacaoCarga.val">
                                    <fieldset class="padding-bottom-15">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#tabCadastroFilaDestino" class="nav-link active" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Destinos</span>
                                                </a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="#tabCadastroFilaTiposCarga" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Tipos de Carga</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content border border-top-0 p-3">
                                            <div id="tabCadastroFilaDestino" class="tab-pane active in">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item " id="liTabCadastroFilaEstadosDestino">
                                                        <a href="#tabCadastroFilaEstadosDestino" class="nav-link active" data-bs-toggle="tab">
                                                            <span class="hidden-mobile hidden-tablet">Estados</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" id="liTabCadastroFilaCidadesDestino">
                                                        <a href="#tabCadastroFilaCidadesDestino" class="nav-link " data-bs-toggle="tab">
                                                            <span class="hidden-mobile hidden-tablet">Cidades</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item " id="liTabCadastroFilaRegioesDestino">
                                                        <a href="#tabCadastroFilaRegioesDestino" class="nav-link" data-bs-toggle="tab">
                                                            <span class="hidden-mobile hidden-tablet">Regiões</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                                <div class="tab-content border border-top-0 p-3">

                                                    <div id="tabCadastroFilaEstadosDestino" class="tab-pane active in">
                                                        <div class="mt-3">
                                                            <button type="button" class="btn  btn-primary mb-2" data-bind="attr: { id: EstadoDestino.idBtnSearch}">
                                                                <span data-bind="text: EstadoDestino.text"></span>
                                                            </button>
                                                            <section class="insideNoPaddignTable" style="margin-bottom: 0px;">
                                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: EstadoDestino.idGrid}" cellspacing="0"></table>
                                                            </section>
                                                        </div>
                                                    </div>

                                                    <div id="tabCadastroFilaCidadesDestino" class="tab-pane">
                                                        <div class="mt-3">
                                                            <button type="button" class="btn  btn-primary mb-2" data-bind="attr: { id: Destino.idBtnSearch}">
                                                                <span data-bind="text: Destino.text"></span>
                                                            </button>
                                                            <section class="insideNoPaddignTable" style="margin-bottom: 0px;">
                                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Destino.idGrid}" cellspacing="0"></table>
                                                            </section>
                                                        </div>
                                                    </div>

                                                    <div id="tabCadastroFilaRegioesDestino" class="tab-pane">
                                                        <div class="mt-3">
                                                            <button type="button" class="btn  btn-primary mb-2" data-bind="attr: { id: RegiaoDestino.idBtnSearch}">
                                                                <span data-bind="text: RegiaoDestino.text"></span>
                                                            </button>
                                                            <section class="insideNoPaddignTable" style="margin-bottom: 0px;">
                                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: RegiaoDestino.idGrid}" cellspacing="0"></table>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tabCadastroFilaTiposCarga" class="tab-pane padding-10">
                                                <button type="button" class="btn  btn-primary mb-2 mt-2" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                    <span data-bind="text: TipoCarga.text"></span>
                                                </button>
                                                <section class="insideNoPaddignTable" style="margin-bottom: 0px;">
                                                    <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: {id: TipoCarga.idGrid}" cellspacing="0"></table>
                                                </section>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCadastroFilaEmTransicao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Fila Em Transição</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutCadastroFilaEmTransicao">
                <div class="col-12 col-md-8" data-bind="visible: Veiculo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: Motorista.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCadastroFilaMotorista" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutCadastroFilaMotorista" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Motorista</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Motorista.enable, css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Motorista.enable, attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Veiculo.enable, css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalRemocaoFilaCarregamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutFilaCarregamentoSituacaoRemocao" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remover da Fila</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Remover.eventClick, attr: { value: Remover.text, id : Remover.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesFilaCarregamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutFilaCarregamentoDetalhes" class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico da Fila</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12 text-overflow-hidden mb-3" data-bind="visible: LocalAtual.visible">
                        <label><b data-bind="text: LocalAtual.text"></b></label>
                        <label><span data-bind="text: LocalAtual.val"></span></label>
                    </div>

                    <div class="smart-form">
                        <header class="no-margin mb-2">
                            <h4><i class="fal fa-list-alt"></i> <span>Histórico</span></h4>
                        </header>
                    </div>
                    <div class="dataTables_wrapper form-inline no-footer">
                        <table width="100%" class="table table-bordered table-hover dataTable no-footer" id="grid-detalhes-fila-carregamento" cellspacing="0"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesFilaCarregamentoMotorista" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutFilaCarregamentoDetalhesMotorista" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Motorista</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-6 text-overflow-hidden">
                        <label class="label-fixed-size"><b data-bind="text: Nome.text"></b></label>
                        <label><span data-bind="text: Nome.val"></span></label>
                    </div>
                    <div class="col-12 col-md-6 text-overflow-hidden">
                        <label class="label-fixed-size"><b data-bind="text: Cpf.text"></b></label>
                        <label><span data-bind="text: Cpf.val"></span></label>
                    </div>
                    <div class="col-12 col-md-6 text-overflow-hidden">
                        <label class="label-fixed-size"><b data-bind="text: Telefone.text"></b></label>
                        <label><span data-bind="text: Telefone.val"></span></label>
                    </div>
                    <div class="col-12 col-md-6 text-overflow-hidden">
                        <label class="label-fixed-size"><b data-bind="text: Transportador.text"></b></label>
                        <label><span data-bind="text: Transportador.val"></span></label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalEnvioNotificacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutEnvioNotificacao" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Envio de Notificação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Mensagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Mensagem.requiredClass, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Enviar.eventClick, attr: { value: Enviar.text, id : Enviar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalEnvioNotificacaoSMS" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutEnvioNotificacaoSMS" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Envio de Notificação SMS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Mensagem.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Mensagem.requiredClass, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Mensagem.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Enviar.eventClick, attr: { value: Enviar.text, id : Enviar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalConjuntoMotorista" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutConjuntoMotorista" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Conjunto do Motorista</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalConjuntoVeiculo" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutConjuntoVeiculo" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Conjunto do Veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Tracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tracao.text, attr: { for: Tracao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Tracao.requiredClass, value: Tracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tracao.maxlength, id : Tracao.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tracao.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalInformarEquipamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutInformarEquipamento" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informar equipamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Equipamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Equipamento.text, attr: { for: Equipamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Equipamento.requiredClass, value: Equipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Equipamento.maxlength, id : Equipamento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Equipamento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalLiberacaoSaida" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutLiberacaoSaida" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Liberação de Saída da Fila</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Motivo.requiredClass,enable: Motivo.enable,, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-bind="click: Rejeitar.eventClick, visible: Rejeitar.visible, attr: { value: Rejeitar.text, id : Rejeitar.id}" class="btn btn-danger me-3" />
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Aceitar.eventClick, attr: { value: Aceitar.text, id : Aceitar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalReposicionar" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutReposicionar" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reposicionar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-4" data-bind="visible: Posicao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Posicao.text, attr: { for: Posicao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Posicao.requiredClass, value: Posicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Posicao.maxlength, id : Posicao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-8" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Reposicionar.eventClick, attr: { value: Reposicionar.text, id : Reposicionar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalAlocarCarga" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAlocarCarga" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alocar Carga</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Carga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Alocar.eventClick, attr: { value: Alocar.text, id : Alocar.id}" class="btn btn-labeled btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalAlterarCentroCarregamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAlterarCentroCarregamento" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alterar Centro de Carregamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: CentroCarregamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Alterar.eventClick, attr: { value: Alterar.text, id : Alterar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesCarga" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="smart-form">
                    <fieldset id="fdsCarga" style="background-color: transparent"></fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModaisCarga">
</div>

<div id="ModaisEnviarNotificacaoApp"></div>

<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/configuracaoObservacaoCTe"></script>
<script src="~/scripts/cte"></script>
<script src="~/scripts/controleSaldo"></script>
<script src="~/scripts/dropzone"></script>
<script src="~/scripts/configuracaoEmissaoCTe"></script>
<script src="~/scripts/configuracaoComponentesFrete"></script>
<script src="~/scripts/mapas"></script>
<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/scripts/preCargaDadosParaTransporte"></script>
<script src="~/scripts/posicaoAtualVeiculo"></script>
<script src="~/scripts/filaCarregamento"></script>
<script src="~/scripts/monitorNotificacoesApp"></script>
<script src="~/scripts/tracking"></script>

<script type="text/javascript">

    pageSetUp();

    $("body").addClass("minified");

    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);
    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesFilaCarregamento));

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.Carga").then(loadFilaCarregamento);
    });

</script>

<style>
    @@media (min-width: 768px) {
        .fila-conteudo-fixo {
            position: sticky;
            top: 1.5rem;
        }
    }

    .legenda-cor-ambar {
        background-color: #ffd966;
        color: #b38600;
    }

    .legenda-cor-azul {
        background-color: #91a8ee;
        color: #1c41b0;
    }

    .legenda-cor-cinza {
        background-color: #cccccc;
        color: #737373;
    }

    .legenda-cor-laranja {
        background-color: #ffcc99;
        color: #e67300;
    }

    .legenda-cor-laranja-avermelhada {
        background-color: #ffa280;
        color: #cc3600;
    }

    .legenda-cor-oliva {
        background-color: #ffff99;
        color: #b3b300;
    }

    .legenda-cor-purpura {
        background-color: #ff99ff;
        color: #e600e6;
    }

    .legenda-cor-verde {
        background-color: #80ff80;
        color: #009900;
    }

    .legenda-cor-verde-amarelado {
        background-color: #c2ff66;
        color: #5c9900;
    }

    .legenda-cor-verde-mar {
        background-color: #53c685;
        color: #194d30;
    }

    .legenda-cor-verde-gramado {
        background-color: #c2ff66;
        color: #6bb300;
    }

    .legenda-cor-verde-mar-claro {
        background-color: #92ede8;
        color: #15847e;
    }

    .legenda-cor-verde-mar-escuro {
        background-color: #9fc69f;
        color: #437043;
    }

    .legenda-cor-vermelha {
        background-color: #ff6666;
        color: #b30000;
    }
</style>
