
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logistica</li>
    <li class="breadcrumb-item active">Importação Centro Carregamento Veículo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Importação de Veículos do Centro de carregamento
    </h1>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                Importação
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" >
                    <span>Use o botão a baixo para importar a planilha</span>
                </div>
                <footer class="mt-1"id="knockoutImportacaoCentroCarregamentoVeiculo">
                    <div class="row">
                        <div class="col-6">
                            <div data-bind='component: {name: "import-file", params: { ko: Importar }}'></div>
                        </div>
                        
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/importacaoCentroCarregamentoVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadImportacaoCentroCarregamentoVeiculo();
    });

</script>