
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item">Justificativa de Cancelamento de Agendamento</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Justificativa de Cancelamento de Agendamento
    </h1>
</div>

<div id="knockoutPesquisaJustificativa">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i>
                    <span>Pesquisar Justificativa</span>
                </button>

                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Justificativa
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutJustificativa">

                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                </div>
            </form>
            <footer id="knockoutCRUDJustificativa">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                            <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/justificativaCancelamentoAgendamento"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {

        loadJustificativaCancelamentoAgendamento();
    });

</script>
