
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Monitoramento Posição</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Posições
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Formulário de Cadastro
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutMonitoramentoPosicao">
                    <div class="col-12 col-md-12" data-bind="visible: Local.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind=" text: Local.text, attr: { for: Local.id }"></label>
                            <input type="text" class="form-control" data-bind="class: IDEquipamento.requiredClass, value: Local.val, valueUpdate: 'afterkeydown', attr: {  maxlength: Local.maxlength, id : Local.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: IDEquipamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind=" text: IDEquipamento.text, attr: { for: IDEquipamento.id}"></label>
                            <input type="text" class="form-control" data-bind="class: IDEquipamento.requiredClass,value: IDEquipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: IDEquipamento.maxlength, id : IDEquipamento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Data.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                            <input type="text" class="form-control" data-bind="value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-1" data-bind="visible: Latitude.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Latitude.text, attr: { for: Latitude.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Latitude.requiredClass, value: Latitude.val, valueUpdate: 'afterkeydown', attr: { maxlength: Latitude.maxlength, id : Latitude.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-1" data-bind="visible: Longitude.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Longitude.text, attr: { for: Longitude.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Longitude.requiredClass,value: Longitude.val, valueUpdate: 'afterkeydown', attr: { maxlength: Longitude.maxlength, id : Longitude.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-1" data-bind="visible: Velocidade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Velocidade.text, attr: { for: Velocidade.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Velocidade.requiredClass,value: Velocidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Velocidade.maxlength, id : Velocidade.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-1" data-bind="visible: Temperatura.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Temperatura.text, attr: { for: Temperatura.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Temperatura.requiredClass,value: Temperatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Temperatura.maxlength, id : Temperatura.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-1" data-bind="visible: Ignicao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ignicao.text, attr: { for: Ignicao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Ignicao.requiredClass,value: Ignicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ignicao.maxlength, id : Ignicao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: SensorTemperatura.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SensorTemperatura.text, attr: { for: SensorTemperatura.id }"></label>
                            <input type="text" class="form-control" data-bind="class: SensorTemperatura.requiredClass,value: SensorTemperatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: SensorTemperatura.maxlength, id : SensorTemperatura.id}" />
                        </div>
                    </div>

                </div>
                <footer id="knockoutCRUDMonitoramentoPosicao">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>



<script src="~/scripts/monitoramentoPosicao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMonitoramentoPosicao();
    });

</script>