

<style>
    #exibir-legendas {
        display: block;
        position: absolute;
        right: 90px;
        height: 30px;
        margin-bottom: -30px;
        padding: 8px;
        color: #333;
        text-decoration: none;
    }

    #divModalLegenda .smart-form {
        padding: 20px;
    }

    #divModalLegenda fieldset {
        padding: 0;
        margin-bottom: 20px;
        border: none;
    }

        #divModalLegenda fieldset label {
            font-weight: bold;
            margin-bottom: 5px;
        }

    ul.legenda {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        ul.legenda li {
            padding: 3px 0;
        }

            ul.legenda li span {
                height: 18px;
                width: 18px;
                margin-top: -3px;
                margin-right: 10px;
                border: 1px solid none;
                border-radius: 10px;
                background-color: #EEE;
                display: inline-block;
                vertical-align: middle;
            }

            ul.legenda li.sub {
                padding: 0;
            }

                ul.legenda li.sub span {
                    height: 10px;
                    width: 10px;
                    margin-left: 28px;
                    margin-right: 10px;
                }

    #legenda-totais-container {
        position: absolute;
        display: none;
        width: 177px;
        margin-left: 10px;
        opacity: 0.9;
        top: 45px;
        padding: 5px 12px;
    }

    #InfoWindowVeiculo div {
        padding-bottom: 10px;
        font-size: 11px;
    }

        #InfoWindowVeiculo div label {
            font-style: italic;
            display: block;
            float: left;
            width: 120px;
        }

        #InfoWindowVeiculo div span {
            display: block;
            margin-left: 120px;
        }

        #InfoWindowVeiculo div.placa {
            font-size: 16px;
            font-weight: bold;
        }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Posição Frota 2</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Posição da Frota
    </h1>
</div>

<div id="knockoutPesquisaPosicaoFrota">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade, visible:false">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoModeloVeicular.text, attr: { for: TipoModeloVeicular.id }"></label>
                                    <select class="form-control" data-bind="options: TipoModeloVeicular.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoModeloVeicular.val, attr: { id : TipoModeloVeicular.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-1" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-1" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFim.val, attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { id : Situacao.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Ambas"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-1" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoCargaEmbarcador.val, attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: GrupoStatusViagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoStatusViagem.text, attr: { for: GrupoStatusViagem.id }"></label>
                                    <select class="form-control" data-bind="options: GrupoStatusViagem.options, optionsText: 'text', optionsValue: 'value', selectedOptions: GrupoStatusViagem.val, attr: { id : GrupoStatusViagem.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Nenhum"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: GrupoTipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoTipoOperacao.text, attr: { for: GrupoTipoOperacao.id }"></label>
                                    <select class="form-control" data-bind="options: GrupoTipoOperacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: GrupoTipoOperacao.val, attr: { id : GrupoTipoOperacao.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Nenhum"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoVeiculo.text, attr: { for: SituacaoVeiculo.id }"></label>
                                    <select class="form-control" data-bind="options: SituacaoVeiculo.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoVeiculo.val, attr: { id : SituacaoVeiculo.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Ambas"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: StatusViagemControleEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusViagemControleEntrega.text, attr: { for: StatusViagemControleEntrega.id }"></label>
                                    <select class="form-control" data-bind="options: StatusViagemControleEntrega.options, optionsText: 'text', optionsValue: 'value', value: StatusViagemControleEntrega.val, attr: { id : StatusViagemControleEntrega.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mt-4" data-bind="visible: EmAlvo.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EmAlvo.val, attr: { maxlength: EmAlvo.maxlength, name: EmAlvo.id, id: EmAlvo.id }">
                                        <label class="custom-control-label" data-bind="text: EmAlvo.text, attr: { for: EmAlvo.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: Cliente.enable, css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Cliente.enable, attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CategoriaPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CategoriaPessoa.text, attr: { for: CategoriaPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: CategoriaPessoa.enable, css: CategoriaPessoa.requiredClass, value: CategoriaPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: CategoriaPessoa.maxlength, id : CategoriaPessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: CategoriaPessoa.enable, attr: { id: CategoriaPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: VeiculosComMonitoramento.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: VeiculosComMonitoramento.val, attr: { maxlength: VeiculosComMonitoramento.maxlength, name: VeiculosComMonitoramento.id, id: VeiculosComMonitoramento.id }">
                                            <label class="custom-control-label" data-bind="text: VeiculosComMonitoramento.text, attr: { for: VeiculosComMonitoramento.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: VeiculosComContratoDeFrete.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: VeiculosComContratoDeFrete.val, attr: { maxlength: VeiculosComContratoDeFrete.maxlength, name: VeiculosComContratoDeFrete.id, id: VeiculosComContratoDeFrete.id }">
                                            <label class="custom-control-label" data-bind="text: VeiculosComContratoDeFrete.text, attr: { for: VeiculosComContratoDeFrete.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ClientesComVeiculoEmAlvo.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ClientesComVeiculoEmAlvo.val, attr: { maxlength: ClientesComVeiculoEmAlvo.maxlength, name: ClientesComVeiculoEmAlvo.id, id: ClientesComVeiculoEmAlvo.id }">
                                            <label class="custom-control-label" data-bind="text: ClientesComVeiculoEmAlvo.text, attr: { for: ClientesComVeiculoEmAlvo.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ClientesAlvosEstrategicos.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ClientesAlvosEstrategicos.val, attr: { maxlength: ClientesAlvosEstrategicos.maxlength, name: ClientesAlvosEstrategicos.id, id: ClientesAlvosEstrategicos.id }">
                                            <label class="custom-control-label" data-bind="text: ClientesAlvosEstrategicos.text, attr: { for: ClientesAlvosEstrategicos.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="posicao-frota-container">
    <div class="card" id="mapa-container">
        <div class="card-header">
            <div class="row mb-1">
                <div class="col-6">
                    <div class="card-title"><h4>Mapa</h4></div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a href="javascript:ExibirLegenda()" id="exibir-legendas" class="btn btn-link btn-sm active" role="button" aria-pressed="true">LEGENDAS</a>
                </div>
            </div>
        </div>
        <div class="card-body" id="widget-mapa">
            <div id="legenda-totais-container" class="leaflet-bar leaflet-control leaflet-control-custom">
                <div>
                    <ul id="legenda-totais" class="legenda">
                        <li><span style="background-color:#E06F1F;border-color:#E06F1F"></span>Total</li>
                        <li><span style="background-color:#E06F1F;border-color:#E06F1F"></span>Total</li>
                        <li><span style="background-color:#E06F1F;border-color:#E06F1F"></span>Total</li>
                    </ul>
                </div>
            </div>
            <div class="modal-body no-padding" style="padding:0;">
                <div class="no-padding" style="padding:0;height:100%;">
                    <div id="map" style="width:100%;min-height:650px;height:100%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" id="grid-container">
        <div class="card-header">
            <div class="card-title"><h4>Veículos</h4></div>
        </div>
        <div class="card-body" id="widget-grid">
            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-posicao-frota" cellspacing="0"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalLegenda" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Legendas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <fieldset class="legenda-veiculos">
                    <label>Veículos:</label>
                    <ul class="legenda"></ul>
                </fieldset>
                <fieldset class="legenda-categorias">
                    <label>Categorias dos alvos:</label>
                    <ul class="legenda"></ul>
                </fieldset>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/posicaoFrota2"></script>

<script type="text/javascript">
    pageSetUp();

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    $(document).ready(function () {
        loadPosicaoFrota();
    });
</script>
