
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item">Rota Frete Abastecimento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> {Localize::Logistica.RotaFreteAbastecimento.VincularPreAbastecimentoRota}
    </h1>
</div>



<div id="knockoutPesquisaRotaFreteAbastecimento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    {Localize::Logistica.RotaFreteAbastecimento.PesquisarVinculo}
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: RotaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: RotaEmbarcador.text, attr: { for: RotaEmbarcador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: RotaEmbarcador.enable, css: RotaEmbarcador.requiredClass, value: RotaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaEmbarcador.maxlength, id : RotaEmbarcador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: RotaEmbarcador.enable, attr: { id: RotaEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: ModeloVeicular.enable, css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ModeloVeicular.enable, attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                {Localize::Logistica.RotaFreteAbastecimento.LancamentoVinculos}
                
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutRotaFreteAbastecimento">
                    <div class="col-12 col-md-6" data-bind="visible: RotaEmbarcador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: RotaEmbarcador.text, attr: { for: RotaEmbarcador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: RotaEmbarcador.enable, css: RotaEmbarcador.requiredClass, value: RotaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaEmbarcador.maxlength, id : RotaEmbarcador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: RotaEmbarcador.enable, attr: { id: RotaEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: ModeloVeicular.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: ModeloVeicular.enable, css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ModeloVeicular.enable, attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12" id="knockoutPreAbastecimento">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"><i class="fal fa-map-marker-alt"></i> {Localize::Logistica.RotaFreteAbastecimento.PreAbastecimento}</div>
                        </div>
                        <div class="card-body">
                            <div class="tab-pane fade active show">
                                <div class="row">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                    <div class="col-12 d-flex justify-content-end mt-2">
                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="click: PreAbastecimento.eventClick, visible: PreAbastecimento.visible, attr: { value: PreAbastecimento.text, id : PreAbastecimento.id}">
                                            <i class="fal fa-plus"></i>
                                            <span data-bind="text: PreAbastecimento.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divModalPreAbastecimento" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{Localize::Logistica.RotaFreteAbastecimento.PreAbastecimento}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                                            <i class="fal fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 col-md-2" data-bind="visible: TipoAbastecimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoAbastecimento.text, attr: { for: TipoAbastecimento.id }"></label>
                                                    <select class="form-control" data-bind="enable: TipoAbastecimento.enable, class: TipoAbastecimento.requiredClass, options: TipoAbastecimento.options, optionsText: 'text', optionsValue: 'value', value: TipoAbastecimento.val, attr: { maxlength: TipoAbastecimento.maxlength, id : TipoAbastecimento.id}, event : {change : TipoAbastecimento.eventChange}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Posto.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Posto.text, attr: { for: Posto.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="enable: Posto.enable, css: Posto.requiredClass, value: Posto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Posto.maxlength, id : Posto.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Posto.enable, attr: { id: Posto.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3" data-bind="visible: Produto.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="enable: Produto.enable, css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Produto.enable, attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: Litros.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Litros.text, attr: { for: Litros.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: Litros.enable, class: Litros.requiredClass, value: Litros.val, valueUpdate: 'afterkeydown', attr: { maxlength: Litros.maxlength, id : Litros.id}, event: {blur : calculaLitrosAbascimento}" />
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3" data-bind="visible: ValorUnitario.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: ValorUnitario.enable, class: ValorUnitario.requiredClass, value: ValorUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}, event: {blur : calculaValorUnitarioAbascimento}" />
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3" data-bind="visible: ValorTotal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: ValorTotal.enable, class: ValorTotal.requiredClass, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}, event: {blur : calculaValorTotalAbascimento}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 text-end" data-bind="visible: TanqueCheio.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TanqueCheio.val, attr: { maxlength: TanqueCheio.maxlength, name: TanqueCheio.id, id: TanqueCheio.id }">
                                                        <label class="custom-control-label" data-bind="text: TanqueCheio.text, attr: { for: TanqueCheio.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 d-flex justify-content-end mt-3">
                                                <button type="button" class="btn btn-default waves-effect waves-themed me-2" data-bind="click: CancelarPreAbastecimento.eventClick, visible: CancelarPreAbastecimento.visible, attr: { value: CancelarPreAbastecimento.text, id : CancelarPreAbastecimento.id}">
                                                    <i class="fal fa-ban"></i>
                                                    <span data-bind="text: CancelarPreAbastecimento.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-success waves-effect waves-themed" data-loading-text="Aguarde..." data-bind="click: AdicionarPreAbastecimento.eventClick, visible: AdicionarPreAbastecimento.visible, attr: { value: AdicionarPreAbastecimento.text, id : AdicionarPreAbastecimento.id}">
                                                    <i class="fal fa-check"></i>
                                                    <span data-bind="text: AdicionarPreAbastecimento.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <footer id="knockoutCRUDRotaFreteAbastecimento">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <i class="fal fa-trash"></i>
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/rotaFreteAbastecimento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Logistica.RotaFreteAbastecimento").then(loadRotaFreteAbastecimento);
    });

</script>