<div class="jumbotron">
    <h2>API Roteirização</h2>
    <p class="lead">Api de roteirização utilizanco o core Google.OrTools para algorimos complexos de gráfos.</p>
</div>
<div class="row">
   
    <div class="col-md-4">
        <h2>Traveling Salesman Problem</h2>
        <p>Resolve o problema do caxeiro viajante, otimizando o percurso da rota de acordo com suas posições geográficas respeitando a rede viária.</p>
        <p><a class="btn btn-default" href="https://developers.google.com/optimization/routing/tsp">Leia mais &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Vehicle Routing Problem</h2>
        <p>Serviço para gerar carregamentos de acordo com uma demanda, validando a melhor otimização de ocupação dos veículos, gerando uma rota otimizada de acordo com suas posições geográficas respeitando a rede viária.</p>
        <p><a class="btn btn-default" href="https://developers.google.com/optimization/routing/vrp">Leia mais &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Vehicle Routing Problem Time Windows</h2>
        <p>Serviço para gerar carregamentos de acordo com uma demanda e janelas de atendimentos de cada local, validando a melhor otimização de ocupação dos veículos respeitando a janela de entrega de acordo com o tempo de deslocamento respeitando a rede viária.</p>
        <p><a class="btn btn-default" href="https://developers.google.com/optimization/routing/vrptw">Leia mais &raquo;</a></p>
    </div>
</div>
