
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Escalas</li>
    <li class="breadcrumb-item">  Escalas</li>

</ol>
<div class="subheader">
    <h1>
        Escalas
    </h1>
</div>

<div id="knockoutPesquisaEscalas">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Escalas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Classificacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Classificacao.text, attr: { for: Classificacao.id }"></label>
                                    <select class="form-control" data-bind="options: Classificacao.options, optionsText: 'text', optionsValue: 'value', value: Classificacao.val, attr: { id : Classificacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutEscalas">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Cadastrar Escalas
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Classificacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Classificacao.text, attr: { for: Classificacao.id }"></label>
                                <select class="form-control" data-bind="options: Classificacao.options, optionsText: 'text', optionsValue: 'value', value: Classificacao.val, attr: { id : Classificacao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: CentroCarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroCarregamento.text, maxlength: CentroCarregamento.maxlength, id: CentroCarregamento.id, name: CentroCarregamento.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroCarregamento.idBtnSearch}">
                                            <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: CentroDescarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroDescarregamento.text, attr: { for: CentroDescarregamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: CentroDescarregamento.requiredClass, value: CentroDescarregamento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroDescarregamento.text, maxlength: CentroDescarregamento.maxlength, id: CentroDescarregamento.id, name: CentroDescarregamento.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroDescarregamento.idBtnSearch}">
                                            <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 col-md-9 d-flex justify-content-end">
                                    <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                        <i class="fal fa-trash"></i>
                                        <span data-bind="text: Excluir.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                        <i class="fal fa-check"></i>
                                        <span data-bind="text: Atualizar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                        <span data-bind="text: Adicionar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>


<script src="~/scripts/escalas"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadEscalas();
    });

</script>

