

<style>
    .dt-toolbar {
        display: none;
    }

    .margin-top-54 {
        margin-top: 54px;
    }

    .mensagem-dados-nao-salvos {
        margin: 10px 14px 0;
    }

    .smart-form .col {
        float: left;
    }

    .text-overflow-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .text-overflow-hidden > label > span {
        padding-left: 5px;
    }

    .well {
        background-color: #ffffff;
    }
</style>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Gerar Escalas
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaGerarEscala">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Escalas</h2>
                    </header>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div class="smart-form">
                            <section>
                                <div class="well">
                                    <fieldset>
                                        <!-- Filtros de pesquisa -->
                                        <section data-bind="visible: NumeroEscala.visible" class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <label class="label"><b data-bind="text: NumeroEscala.text"></b></label>
                                            <label data-bind="attr: { class: NumeroEscala.requiredClass}">
                                                <input type="text" data-bind="value: NumeroEscala.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroEscala.maxlength, id : NumeroEscala.id}" />
                                            </label>
                                        </section>
                                        <section data-bind="visible: DataInicio.visible" class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <label class="label"><b data-bind="text: DataInicio.text"></b></label>
                                            <label data-bind="attr: { class: DataInicio.requiredClass}">
                                                <input type="text" data-bind="value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                            </label>
                                        </section>
                                        <section data-bind="visible: DataFim.visible" class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <label class="label"><b data-bind="text: DataFim.text"></b></label>
                                            <label data-bind="attr: { class: DataFim.requiredClass}">
                                                <input type="text" data-bind="value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                            </label>
                                        </section>
                                        <section data-bind="visible: Situacao.visible" class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <label class="label"><b data-bind="text: Situacao.text"></b></label>
                                            <label class="select">
                                                <select data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-xs-12 col-sm-12 col-md-6">
                                            <div class="input-group">
                                                <label class="label"><b data-bind="text: CentroCarregamento.text"></b></label>
                                                <label data-bind="attr: { class: CentroCarregamento.requiredClass}">
                                                    <input type="text" data-bind="value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                                </label>
                                                <div class="input-group-btn">
                                                    <button data-bind="attr: { id: CentroCarregamento.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                        <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                    </button>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="col col-xs-12 col-sm-12 col-md-6">
                                            <div class="input-group">
                                                <label class="label"><b data-bind="text: Produto.text"></b></label>
                                                <label data-bind="attr: { class: Produto.requiredClass}">
                                                    <input type="text" data-bind="value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                                </label>
                                                <div class="input-group-btn">
                                                    <button data-bind="attr: { id: Produto.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                        <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                    </button>
                                                </div>
                                            </div>
                                        </section>
                                    </fieldset>
                                    <footer class="no-padding">
                                        <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                            <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                        </button>
                                    </footer>
                                </div>
                            </section>
                        </div>

                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Lançamento da Escala</h2>
                </header>
                <div class="widget-body widget-body-no-padding" role="content">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="knockoutEtapas" class="row">
                                        <section class="col col-12">
                                            <ul class="bootstrapWizard form-wizard WizardCarga">
                                                <li data-target="#step1" data-bind="style : {width : TamanhoEtapa.val }, visible : EtapaDadosEscala.visible">
                                                    <a href="#tabDadosEscala" data-bind="attr: {id : EtapaDadosEscala.idTab }, click : EtapaDadosEscala.eventClick, visible : EtapaDadosEscala.visible" data-toggle="tab">
                                                        <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : EtapaDadosEscala.tooltip, 'data-original-title' : EtapaDadosEscala.tooltipTitle }, text: EtapaDadosEscala.step"></span>
                                                        <span class="title" data-bind="text: EtapaDadosEscala.text"></span>
                                                    </a>
                                                </li>
                                                <li data-target="#step2" data-bind="style : {width : TamanhoEtapa.val }, visible : EtapaExpedicao.visible">
                                                    <a href="#tabExpedicao" data-bind="attr: {id : EtapaExpedicao.idTab }, click : EtapaExpedicao.eventClick" data-toggle="tab">
                                                        <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : EtapaExpedicao.tooltip, 'data-original-title' : EtapaExpedicao.tooltipTitle }, text: EtapaExpedicao.step"></span>
                                                        <span class="title" data-bind="text: EtapaExpedicao.text"></span>
                                                    </a>
                                                </li>
                                                <li data-target="#step3" data-bind="style : {width : TamanhoEtapa.val }, visible : EtapaVeiculo.visible">
                                                    <a href="#tabVeiculos" data-bind="attr: {id : EtapaVeiculo.idTab }, click : EtapaVeiculo.eventClick" data-toggle="tab">
                                                        <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : EtapaVeiculo.tooltip, 'data-original-title' : EtapaVeiculo.tooltipTitle }, text: EtapaVeiculo.step"></span>
                                                        <span class="title" data-bind="text: EtapaVeiculo.text"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>

                                    <div id="mensagem-dados-nao-salvos" style="display: none;" class="alert alert-warning mensagem-dados-nao-salvos">Alterações não salvas. Para salvar as alterações realizadas clique no botão "Salvar" no final da página</div>

                                    <div class="tab-content">
                                        <!-- Etapa1  -->
                                        <div id="tabDadosEscala" class="tab-pane fade active in">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-xs-12 col-md-6">
                                                        <div class="row">
                                                            <section class="col col-xs-12">
                                                                <div class="well" id="knockouDadosEscala">
                                                                    <header>
                                                                        <i class="fa fa-edit"></i>&nbsp;Dados da Escala
                                                                    </header>
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <section data-bind="visible : DataEscala.visible" class="col col-xs-6 col-lg-4">
                                                                                <label class="label"><b data-bind="text: DataEscala.text"></b></label>
                                                                                <label data-bind="attr: { class: DataEscala.requiredClass}">
                                                                                    <input type="text" data-bind="enable: DataEscala.enable, value: DataEscala.val, attr: { maxlength: DataEscala.maxlength, id : DataEscala.id} " />
                                                                                </label>
                                                                            </section>
                                                                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: Observacao.visible">
                                                                                <label class="label"><b data-bind="text: Observacao.text"></b></label>
                                                                                <label class="input" data-bind="attr: { class: Observacao.requiredClass}">
                                                                                    <textarea style="width: 100%;" rows="5" type="text" data-bind="enable: Observacao.enable, value: Observacao.val, attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                                                                </label>
                                                                            </section>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </section>

                                                            <section class="col col-xs-12 margin-top-15" data-bind="visible : Produto.visible">
                                                                <div class="well" id="knockoutDadosEscalaProduto">
                                                                    <header>
                                                                        <i class="fa fa-cubes"></i>&nbsp;Produtos
                                                                    </header>
                                                                    <fieldset>
                                                                        <section class="insideNoPaddignTable">
                                                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" data-bind="attr: {id: ListaProduto.idGrid}" cellspacing="0"></table>
                                                                        </section>
                                                                    </fieldset>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </section>

                                                    <section class="col col-xs-12 col-md-6">
                                                        <div class="well" id="knockoutModeloRestricaoRodagem">
                                                            <header>
                                                                <i class="fa fa-map-marker"></i>&nbsp;Restrições de Rodagem
                                                            </header>
                                                            <fieldset>
                                                                <section class="insideNoPaddignTable">
                                                                    <table width="100%" class="table table-bordered table-hover table-condensed table-striped" data-bind="attr: {id: ListaModeloRestricaoRodagem.idGrid}" cellspacing="0"></table>
                                                                </section>
                                                            </fieldset>
                                                            <footer data-bind="visible: Adicionar.visible">
                                                                <button data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" type="button">
                                                                    &nbsp; <span data-bind="text: Adicionar.text"></span>  &nbsp;
                                                                </button>
                                                            </footer>
                                                        </div>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <!-- Etapa 2 -->
                                        <div class="tab-pane fade" id="tabExpedicao">
                                            <header>
                                                Expedição
                                            </header>
                                            <fieldset>
                                                <div class="row" id="knockoutExpedicaoEscala">
                                                    <div class="col col-xs-12" data-bind="visible: Adicionar.visible">
                                                        <button type="button" data-bind="click: Adicionar.eventClick, attr: { id : Adicionar.id}" class="btn btn-default btn-success botaoAdiconarMultiplosRegistros margin-top-0 margin-bottom-20">
                                                            <i class="fal fa-plus"></i> &nbsp;<span data-bind="text: Adicionar.text"></span>&nbsp;
                                                        </button>
                                                    </div>

                                                    <!-- ko foreach: ListaExpedicao -->
                                                    <!-- ko if: ($index() % 2) == 0 -->
                                                    <div class="clearfix" />
                                                    <!-- /ko -->
                                                    <section class="col col-xs-12 col-md-6">
                                                        <div class="well">
                                                            <header data-bind="text: CentroCarregamento.val"></header>
                                                            <fieldset class="padding-top-20">
                                                                <div class="row">
                                                                    <section class="col col-xs-12 text-overflow-hidden margin-bottom-5">
                                                                        <label><span data-bind="text: Produto.text"></span></label>
                                                                        <label><b data-bind="text: Produto.val"></b></label>
                                                                    </section>
                                                                    <section class="col col-xs-12 text-overflow-hidden margin-bottom-5">
                                                                        <label><span data-bind="text: Quantidade.text"></span></label>
                                                                        <label><b data-bind="text: Quantidade.val"></b></label>
                                                                    </section>

                                                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 insideNoPaddignTable margin-top-5 margin-bottom-5">
                                                                        <table width="100%" class="table table-bordered table-hover table-condensed table-striped" data-bind="attr: {id: Destinos.idGrid}" cellspacing="0"></table>
                                                                    </section>
                                                                </div>
                                                            </fieldset>
                                                            <footer data-bind="visible: Adicionar.visible">
                                                                <button data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" type="button">
                                                                    &nbsp; <span data-bind="text: Adicionar.text"></span>  &nbsp;
                                                                </button>
                                                                <button data-bind="click: Excluir.eventClick,visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-danger" type="button">
                                                                    &nbsp; <span data-bind="text: Excluir.text"></span>  &nbsp;
                                                                </button>
                                                            </footer>
                                                        </div>
                                                    </section>
                                                    <!-- /ko -->
                                                </div>
                                            </fieldset>
                                        </div>

                                        <!-- Etapa 3 -->
                                        <div class="tab-pane fade" id="tabVeiculos">
                                            <header>
                                                Veículos
                                            </header>
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-xs-12" id="knockoutOrigemDestinoEscala" data-bind="css: { 'col-md-7': EmEdicao.val() }">
                                                        <div class="row">
                                                            <div class="col col-xs-12" data-bind="visible: EmEdicao.val()">
                                                                <button type="button" data-bind="click: SugerirveiculosEscalados.eventClick, attr: { id : SugerirveiculosEscalados.id}" class="btn btn-default btn-success botaoAdiconarMultiplosRegistros margin-top-0 margin-bottom-20">
                                                                    &nbsp;<span data-bind="text: SugerirveiculosEscalados.text"></span>&nbsp;
                                                                </button>
                                                            </div>

                                                            <!-- ko foreach: ListaOrigemDestino -->
                                                            <!-- ko if: ($index() % 2) == 0 -->
                                                            <div class="clearfix" />
                                                            <!-- /ko -->
                                                            <section class="col col-xs-12" data-bind="css: { 'col-md-6': !$parent.EmEdicao.val() }">
                                                                <div class="well">
                                                                    <header>
                                                                        <b><span data-bind="text: DescricaoOrigemDestino"></span>&nbsp;</b>
                                                                        <span style="font-size:12px;" data-bind="text: Produto.val"></span>&nbsp;<span style="font-size:12px;" data-bind="text: DescricaoQuantidade"></span>
                                                                    </header>
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col col-xs-12">
                                                                                <section class="insideNoPaddignTable margin-top-5 margin-bottom-5 container_grid_veiculos_escalados" data-bind="attr: {id: (VeiculosEscalados.idGrid + '_container')}">
                                                                                    <table width="100%" class="table table-bordered table-hover table-condensed table-striped" data-bind="attr: {id: VeiculosEscalados.idGrid}" cellspacing="0"></table>
                                                                                </section>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    <footer data-bind="visible: Adicionar.visible">
                                                                        <button data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" type="button">
                                                                            &nbsp; <span data-bind="text: Adicionar.text"></span>  &nbsp;
                                                                        </button>
                                                                    </footer>
                                                                </div>
                                                            </section>
                                                            <!-- /ko -->
                                                        </div>
                                                    </section>
                                                    <section class="col col-xs-12 col-md-5" id="knockoutVeiculo" data-bind="visible: EmEdicao.val(), css: { 'margin-top-54': EmEdicao.val() }">
                                                        <div class="row">
                                                            <section class="col col-xs-12">
                                                                <div class="well">
                                                                    <header>
                                                                        <h2>Veículos em Escala</h2>
                                                                    </header>
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 insideNoPaddignTable margin-top-5 margin-bottom-5">
                                                                                <table width="100%" class="table table-bordered table-hover table-condensed table-striped tableCursorMove" data-bind="attr: {id: ListaVeiculo.idGrid}" cellspacing="0"></table>
                                                                            </section>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <footer id="knockoutCRUD">
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: GerarExcel.eventClick,visible: GerarExcel.visible, attr: { value: GerarExcel.text, id : GerarExcel.id}" class="btn btn-labeled btn-default pull-left" style="margin-left: 0;" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: GerarPDF.eventClick,visible: GerarPDF.visible, attr: { value: GerarPDF.text, id : GerarPDF.id}" class="btn btn-labeled btn-default pull-left" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: CriarEscala.eventClick,visible: CriarEscala.visible, attr: { value: CriarEscala.text, id : CriarEscala.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: Finalizar.eventClick,visible: Finalizar.visible, attr: { value: Finalizar.text, id : Finalizar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: FinalizarExpedicao.eventClick,visible: FinalizarExpedicao.visible, attr: { value: FinalizarExpedicao.text, id : FinalizarExpedicao.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: AtualizarExpedicao.eventClick,visible: AtualizarExpedicao.visible, attr: { value: AtualizarExpedicao.text, id : AtualizarExpedicao.id}" class="btn btn-labeled btn-warning" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: AtualizarVeiculoEscala.eventClick,visible: AtualizarVeiculoEscala.visible, attr: { value: AtualizarVeiculoEscala.text, id : AtualizarVeiculoEscala.id}" class="btn btn-labeled btn-warning" />
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                        </footer>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<div class="modal fade" id="divModalCadastroModeloRestricaoRodagem" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Restrição de Rodagem</h4>
            </div>
            <div class="modal-body padding-bottom-5">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset class="fieldset-no-padding" id="knockoutCadastroModeloRestricaoRodagem">
                            <section class="col col-xs-12 col-sm-12">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: ModeloVeicularCarga.text"></b></label>
                                    <label data-bind="attr: { class: ModeloVeicularCarga.requiredClass}">
                                        <input type="text" data-bind="enable: ModeloVeicularCarga.enable, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: ModeloVeicularCarga.enable, attr: { id: ModeloVeicularCarga.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section data-bind="visible: HoraInicioRestricao.visible" class="col col-xs-6">
                                <label class="label"><b data-bind="text: HoraInicioRestricao.text"></b></label>
                                <label data-bind="attr: { class: HoraInicioRestricao.requiredClass}">
                                    <input type="text" data-bind="value: HoraInicioRestricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicioRestricao.maxlength, id : HoraInicioRestricao.id}" />
                                </label>
                            </section>
                            <section data-bind="visible: HoraFimRestricao.visible" class="col col-xs-6">
                                <label class="label"><b data-bind="text: HoraFimRestricao.text"></b></label>
                                <label data-bind="attr: { class: HoraFimRestricao.requiredClass}">
                                    <input type="text" data-bind="value: HoraFimRestricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraFimRestricao.maxlength, id : HoraFimRestricao.id}" />
                                </label>
                            </section>
                        </fieldset>
                        <footer id="knockoutCRUDCadastroModeloRestricaoRodagem">
                            <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalCadastroExpedicao" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Expedição</h4>
            </div>
            <div class="modal-body padding-bottom-5">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset class="fieldset-no-padding" id="knockoutCadastroExpedicao">
                            <section class="col col-xs-12 col-sm-12" data-bind="visible: CentroCarregamento.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: CentroCarregamento.text"></b></label>
                                    <label data-bind="attr: { class: CentroCarregamento.requiredClass}">
                                        <input type="text" data-bind="enable: CentroCarregamento.enable, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: CentroCarregamento.enable, attr: { id: CentroCarregamento.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-xs-12 col-sm-12" data-bind="visible: Produto.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: Produto.text"></b></label>
                                    <label data-bind="attr: { class: Produto.requiredClass}">
                                        <input type="text" data-bind="enable: Produto.enable, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: Produto.enable, attr: { id: Produto.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-xs-12 col-sm-12" data-bind="visible: ClienteDestino.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: ClienteDestino.text"></b></label>
                                    <label data-bind="attr: { class: ClienteDestino.requiredClass}">
                                        <input type="text" data-bind="enable: ClienteDestino.enable, value: ClienteDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClienteDestino.maxlength, id : ClienteDestino.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: ClienteDestino.enable, attr: { id: ClienteDestino.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-6" data-bind="visible: Quantidade.visible">
                                <label class="label"><b data-bind="text: Quantidade.text"></b></label>
                                <label data-bind="attr: { class: Quantidade.requiredClass}">
                                    <input type="text" data-bind="value: Quantidade.val, enable: Quantidade.enable, attr: { maxlength: Quantidade.maxlength, id : Quantidade.id} , valueUpdate: 'afterkeydown'" />
                                </label>
                            </section>
                        </fieldset>
                        <footer id="knockoutCRUDCadastroExpedicao">
                            <input type="button" data-bind="click: AtualizarDestino.eventClick, visible: AtualizarDestino.visible, attr: { value: AtualizarDestino.text, id : AtualizarDestino.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: AdicionarDestino.eventClick, visible: AdicionarDestino.visible, attr: { value: AdicionarDestino.text, id : AdicionarDestino.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: ExcluirDestino.eventClick, visible: ExcluirDestino.visible, attr: { value: ExcluirDestino.text, id : ExcluirDestino.id}" class="btn btn-labeled btn-danger" />
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalCadastroVeiculoEscalado" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Informar Veículo</h4>
            </div>
            <div class="modal-body padding-bottom-5">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset class="fieldset-no-padding" id="knockoutCadastroVeiculoEscalado">
                            <section class="col col-xs-12" data-bind="visible: Empresa.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: Empresa.text"></b></label>
                                    <label data-bind="attr: { class: Empresa.requiredClass}">
                                        <input type="text" data-bind="enable: Empresa.enable, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: Empresa.enable, attr: { id: Empresa.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-xs-12" data-bind="visible: Veiculo.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: Veiculo.text"></b></label>
                                    <label data-bind="attr: { class: Veiculo.requiredClass}">
                                        <input type="text" data-bind="enable: Veiculo.enable, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section class="col col-xs-12" data-bind="visible: Motorista.visible">
                                <div class="input-group">
                                    <label class="label"><b data-bind="text: Motorista.text"></b></label>
                                    <label data-bind="attr: { class: Motorista.requiredClass}">
                                        <input type="text" data-bind="enable: Motorista.enable, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                    </label>
                                    <div class="input-group-btn">
                                        <button data-bind="enable: Motorista.enable, attr: { id: Motorista.idBtnSearch }" class="btn btn-default btn-primary botaoBusca" type="button">
                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </section>
                            <section data-bind="visible: HoraCarregamento.visible" class="col col-xs-12 col-sm-6">
                                <label class="label"><b data-bind="text: HoraCarregamento.text"></b></label>
                                <label data-bind="attr: { class: HoraCarregamento.requiredClass}">
                                    <input type="text" data-bind="value: HoraCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraCarregamento.maxlength, id : HoraCarregamento.id}" />
                                </label>
                            </section>
                        </fieldset>
                        <footer id="knockoutCRUDCadastroVeiculoEscalado">
                            <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                            <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/gerarEscalas"></script>

<script type="text/javascript">

    pageSetUp();

    $("body").addClass("minified");

    $(document).ready(function () {
        loadGerarEscala();
    });

</script>

