

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Escalas</li>
    <li class="breadcrumb-item"> Motivos Remoção do Veículo da Escala</li>

</ol>
<div class="subheader">
    <h1>
        Motivos Remoção do Veículo da Escala
    </h1>
</div>

<div id="knockoutPesquisaMotivoRemocaoVeiculoEscala">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Motivos de Remoção do Veículo da Escala
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Cadastrar Motivo de Remoção do Veículo da Escala
                </h3>
            </div>
            <div class="panel-content">
                <form id="knockoutMotivoRemocaoVeiculoEscala">
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>

                </form>
                <footer  id="knockoutCRUDMotivoRemocaoVeiculoEscala">
                    <div class="mt-3 row">
                        
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger mx-1 mx-sm-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                <i class="fal fa-spinner"></i>
                            </button>
                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>
</div>

<script src="~/scripts/motivoRemocaoVeiculoEscala"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMotivoRemocaoVeiculoEscala();
    });

</script>