<div class="margin-top-15">
    <div class="col col-sm-12">
        <div class="well">
            <header>Falha ao obter informações</header>
            <fieldset>
                <div class="row">
                    <section class="col col-12">
                        <div class="alert alert-warning">
                            Não foi possível encontrar a política de privacidade
                        </div>
                    </section>
                </div>
            </fieldset>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#content")
            .removeClass("container-fluid")
            .addClass("container");
    });
</script>