<div class="modal fade" id="modalValidacaoFacial" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Validação Facial</h4>
            </div>
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <section id="webcam-section" class="text-center">
                            <div class="web-cam">
                                <video id="webcam" autoplay playsinline width="320" height="240"></video>
                            </div>
                        </section>
                        <section id="canvas-section" style="display: none;" class="text-center">
                            <canvas id="canvas" class="d-none"></canvas>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-0 text-center">
                            <button type="submit" class="btn btn-success" style="float: none !important;" id="tirar-foto">
                                Tirar foto
                            </button>
                        </section>
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-0 text-center">
                            <button type="submit" class="btn btn-warning" style="float: none !important; display:none;" id="tentar-novamente">
                                Tentar novamente
                            </button>
                            <button type="submit" class="btn btn-success" style="float: none !important;" id="confirmar-foto">
                                Confirmar
                            </button>
                        </section>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>