<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Abastecimento Interno</li>
    <li class="breadcrumb-item active">@Localization.Resources.AbastecimentoInterno.MovimentacaoTanquesDetalhes.DescricaoMovimentacaoTanquesDetalhes</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.AbastecimentoInterno.MovimentacaoTanquesDetalhes.DescricaoMovimentacaoTanquesDetalhes
    </h1>
</div>

<div id="knockoutPesquisaMovimentacaoTanquesDetalhada">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.AbastecimentoInterno.MovimentacaoTanquesDetalhes.PesquisarMovimentacaoTanquesDetalhes
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: LocalArmazenamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: LocalArmazenamento.enable, css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalArmazenamento.enable, attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialMovimentacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialMovimentacao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicialMovimentacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialMovimentacao.maxlength, id : DataInicialMovimentacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalMovimentacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalMovimentacao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinalMovimentacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalMovimentacao.maxlength, id : DataFinalMovimentacao.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutDetalhesMovimentacoes">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <h3>
                    <i class="fal fa-edit"></i>
                    @Localization.Resources.AbastecimentoInterno.MovimentacaoTanquesDetalhes.Detalhes
                </h3>
                <div class="mt-3" data-bind="id: ExibirDetalhesMovimentacoes.id">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ExibirDetalhesMovimentacoes.idGrid }" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/movimentacaoTanquesDetalhes"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("AbastecimentoInterno.MovimentacaoTanquesDetalhes").then(LoadMovimentacaoTanquesDetalhes);

    });

</script>