<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">@Localization.Resources.AbastecimentoInterno.MovimentacaoAbastecimento.AbastecimentoInterno</li>
        <li class="breadcrumb-item active">@Localization.Resources.AbastecimentoInterno.MovimentacaoAbastecimento.MovimentacaoAbastecimentoInterno</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            @Localization.Resources.AbastecimentoInterno.MovimentacaoAbastecimento.MovimentacaoAbastecimentoInterno
        </h1>
    </div>

    <div id="knockoutPesquisaAbastecimento">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        @Localization.Resources.AbastecimentoInterno.MovimentacaoAbastecimento.PesquisarMovimentacaoSaida
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: LocalArmazenamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: LocalArmazenamento.enable, css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalArmazenamento.enable, attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container" id="knockoutCadastroMovimentacaoAbastecimento">
            <div class="panel-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item active" id="liTabAbastecimento">
                        <a href="#tabAbastecimento" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Formulário de Cadastro</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3" id="myTabContent">
                    <div class="tab-pane fade active show" id="tabAbastecimento" role="tabpanel">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: LocalArmazenamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: LocalArmazenamento.enable, css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalArmazenamento.enable, attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Data.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: Data.enable, class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoAbastecimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoAbastecimento.text, attr: { for: TipoAbastecimento.id }"></label>
                                        <select class="form-control" data-bind="enable: TipoAbastecimento.enable, class: TipoAbastecimento.requiredClass, options: TipoAbastecimento.options, optionsText: 'text', optionsValue: 'value', value: TipoAbastecimento.val, attr: { maxlength: TipoAbastecimento.maxlength, id : TipoAbastecimento.id}, event : {change : TipoAbastecimento.eventChange}"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: TipoDeOleo.enable, css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: BombaAbastecimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: BombaAbastecimento.text, attr: { for: BombaAbastecimento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: BombaAbastecimento.enable, css: BombaAbastecimento.requiredClass, value: BombaAbastecimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: BombaAbastecimento.maxlength, id : BombaAbastecimento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: BombaAbastecimento.enable, attr: { id: BombaAbastecimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: TipoDeOleo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoDeOleo.text, attr: { for: TipoDeOleo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: TipoDeOleo.enable, css: TipoDeOleo.requiredClass, value: TipoDeOleo.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeOleo.maxlength, id : TipoDeOleo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: TipoDeOleo.enable, attr: { id: TipoDeOleo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Saldo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Saldo.text, attr: { for: Saldo.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: Saldo.enable, class: Saldo.requiredClass, value: Saldo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Saldo.maxlength, id : Saldo.id}" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: Veiculo.enable, css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Prefixo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Prefixo.text, attr: { for: Prefixo.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: Prefixo.enable, class: Prefixo.requiredClass, value: Prefixo.val, attr: { maxlength: Prefixo.maxlength, id : Prefixo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: QuantidadeLitros.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: QuantidadeLitros.text, attr: { for: QuantidadeLitros.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: QuantidadeLitros.enable, class: QuantidadeLitros.requiredClass, value: QuantidadeLitros.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeLitros.maxlength, id : QuantidadeLitros.id}, event: {blur : calculaLitrosAbascimento}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: QuantidadeArla32.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: QuantidadeArla32.text, attr: { for: QuantidadeArla32.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: QuantidadeArla32.enable, class: QuantidadeArla32.requiredClass, value: QuantidadeArla32.val, attr: { maxlength: QuantidadeArla32.maxlength, id : QuantidadeArla32.id}" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Valor.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: Valor.enable, class: Valor.requiredClass, value: Valor.val, attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Hodometro.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Hodometro.text, attr: { for: Hodometro.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: Hodometro.enable, class: Hodometro.requiredClass, value: Hodometro.val, attr: { maxlength: Hodometro.maxlength, id : Hodometro.id}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <footer>
                    <div class="row">
                        <div class="col-6 mt-2">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end mt-2">

                            <button type="button" class="btn btn-labeled btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                            </button>

                            <button type="button" class="btn btn-success ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                            </button>

                            <button type="button" class="btn btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                <i class="fal fa-spinner"></i>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </div>
</section>

<script src="/scripts/movimentacaoAbastecimento"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("AbastecimentoInterno.MovimentacaoAbastecimento").then(loadMovimentacaoAbastecimento);
    });

</script>

