

<style>
    .content-no-padding > fieldset {
        padding: 20px 0 0 0 !important;
    }

    .content-no-padding > header {
        margin: 0;
        padding: 6px 0 8px 0;
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Autorização de Não Conformidade</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Autorização de Não Conformidade
    </h1>
</div>

<div id="knockoutPesquisaNaoConformidade">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Pesquisar Não Conformidades</h2>
            </div>
            <div class="panel-content">
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroNotaFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroNotaFiscal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroNotaFiscal.val, attr: { maxlength: NumeroNotaFiscal.maxlength, id : NumeroNotaFiscal.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Usuario.text, maxlength: Usuario.maxlength, id: Usuario.id, name: Usuario.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialGeracaoNC.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialGeracaoNC.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialGeracaoNC.requiredClass, value: DataInicialGeracaoNC.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialGeracaoNC.maxlength, id : DataInicialGeracaoNC.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalGeracaoNC.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalGeracaoNC.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalGeracaoNC.requiredClass, value: DataFinalGeracaoNC.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalGeracaoNC.maxlength, id : DataFinalGeracaoNC.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissaoNotaFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissaoNotaFiscal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialEmissaoNotaFiscal.requiredClass, value: DataInicialEmissaoNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissaoNotaFiscal.maxlength, id : DataInicialEmissaoNotaFiscal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissaoNotaFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissaoNotaFiscal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissaoNotaFiscal.requiredClass, value: DataFinalEmissaoNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissaoNotaFiscal.maxlength, id : DataFinalEmissaoNotaFiscal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NumeroCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroPedidoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedidoEmbarcador.text, attr: { for: NumeroPedidoEmbarcador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NumeroPedidoEmbarcador.requiredClass, value: NumeroPedidoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedidoEmbarcador.maxlength, id : NumeroPedidoEmbarcador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NumeroPedidoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ItemNC.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ItemNC.text, attr: { for: ItemNC.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ItemNC.requiredClass, value: ItemNC.val, valueUpdate: 'afterkeydown', attr: { maxlength: ItemNC.maxlength, id : ItemNC.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ItemNC.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroNotas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroNotas.text, attr: { for: NumeroNotas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NumeroNotas.requiredClass, value: NumeroNotas.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNotas.maxlength, id : NumeroNotas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NumeroNotas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Fornecedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroOrdem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOrdem.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroOrdem.requiredClass, value: NumeroOrdem.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOrdem.maxlength, id : NumeroOrdem.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    Não Conformidades
                </h3>
            </div>
            <div class="panel-content">
                <div></div>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible">
                        <span data-bind="text: SelecionarTodos.text"></span>
                    </button>
                </div>
                <div class="col-12 mb-2">
                    <div class="co-l2 mt-6">
                        <span><b>Legendas:</b> </span>
                        <div class="badge legend yellow">
                            <b>Aguardando Tratativa</b>
                        </div>
                        <div class="badge legend green">
                            <b>Concluída</b>
                        </div>
                        <div class="badge legend red">
                            <b>Reprovada</b>
                        </div>
                        <div class="badge legend blue">
                            <b>Aprovada em contigência</b>
                        </div>
                        <div class="badge legend gray">
                            <b>Sem regra de Aprovação</b>
                        </div>
                    </div>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-warning ms-2" type="button" data-bind="click: ReprocessarTodas.eventClick, attr: { id: ReprocessarTodas.id }, visible: ReprocessarTodas.visible">
                        <span data-bind="text: ReprocessarTodas.text"></span>
                    </button>
                    <button class="btn btn-primary ms-2" type="button" data-bind="click: DelegarTodas.eventClick, attr: { id: DelegarTodas.id }, visible: DelegarTodas.visible">
                        <span data-bind="text: DelegarTodas.text"></span>
                    </button>
                    <button class="btn btn-danger ms-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                        <span data-bind="text: RejeitarTodas.text"></span>
                    </button>
                    <button class="btn btn-success ms-2" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                        <span data-bind="text: AprovarTodas.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalNaoConformidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Informações da Não Conformidade
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-container">
                        <div class="panel-content">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item">
                                    <a href="#knockoutNaoConformidade" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Não Conformidade</span></a>
                                </li>
                                <li class="nav-item" id="liAjustarPeso">
                                    <a href="#knockoutAjustarPeso" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Ajuste de Peso</span></a>
                                </li>
                                <li class="nav-item" id="liAjustarNumeroPedido">
                                    <a href="#knockoutAjustarNumeroPedido" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Ajuste de Número de Pedido</span></a>
                                </li>
                                <li class="nav-item" id="liAjustarDeParaProdutos">
                                    <a href="#knockoutAjustarDeParaProdutos" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Ajuste De/Para de Produtos</span></a>
                                </li>
                                <li class="nav-item" id="liAutorizacao">
                                    <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Autorização</span></a>
                                </li>
                                <li class="nav-item" id="liDelegar" style="display:none;">
                                    <a href="#knockoutDelegar" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Delegar</span></a>
                                </li>
                                <li class="nav-item" id="liAnexos">
                                    <a href="#knockoutAutorizacaoNaoConformidadeAnexos" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Anexos</span></a>
                                </li>
                            </ul>
                            <div class="tab-content border border-top-0 p-3">

                                <!-- Não Conformidade -->
                                <div id="knockoutNaoConformidade" class="tab-pane fade active show">
                                    <div class="row row-cols-1 row-cols-md-2">
                                        <div class="col">
                                            <table class="table table-clean table-sm align-self-end">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong data-bind="text: NumeroNotaFiscal.text"></strong>
                                                        </td>
                                                        <td>
                                                            <span data-bind="text: NumeroNotaFiscal.val"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong data-bind="text: ItemNaoConformidadeDescricao.text"></strong>
                                                        </td>
                                                        <td>
                                                            <span data-bind="text: ItemNaoConformidadeDescricao.val"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong data-bind="text: TipoParticipante.text"></strong>
                                                        </td>
                                                        <td>
                                                            <span data-bind="text: TipoParticipante.val"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong data-bind="text: SituacaoDescricao.text"></strong>
                                                        </td>
                                                        <td>
                                                            <span data-bind="text: SituacaoDescricao.val"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button class="btn btn-default ms-1" type="button" data-bind="visible: VincularProdutosFornecedores.visible, click: VincularProdutosFornecedores.eventClick, attr: { id: VincularProdutosFornecedores.id}">
                                            <span data-bind="text: VincularProdutosFornecedores.text"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Ajuste de Peso -->
                                <div id="knockoutAjustarPeso" class="tab-pane fade">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Peso.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Peso.text"></label>
                                                    <input type="text" class="form-control" data-bind="value: Peso.val, attr: { maxlength: Peso.maxlength, id : Peso.id} , valueUpdate: 'afterkeydown'" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button class="btn btn-success ms-1" type="button" data-bind="visible: Ajustar.visible, click: Ajustar.eventClick, attr: { id: Ajustar.id}">
                                            <span data-bind="text: Ajustar.text"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Ajuste de Número de Pedido -->
                                <div id="knockoutAjustarNumeroPedido" class="tab-pane fade">
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button class="btn btn-success ms-1" type="button" data-bind="visible: AprovarConformeCarga.visible, click: AprovarConformeCarga.eventClick, attr: { id: AprovarConformeCarga.id}">
                                            <span data-bind="text: AprovarConformeCarga.text"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Ajuste De/Para de Produtos -->
                                <div id="knockoutAjustarDeParaProdutos" class="tab-pane fade">
                                    <form>
                                        <div class="row">
                                        </div>
                                    </form>
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button class="btn btn-success ms-1" type="button" data-bind="visible: Ajustar.visible, click: Ajustar.eventClick, attr: { id: Ajustar.id}">
                                            <span data-bind="text: Ajustar.text"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Autorização-->
                                <div id="knockoutAutorizacao" class="tab-pane fade">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Motivo.text"></label>
                                                    <textarea type="text" rows="5" class="form-control" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                                                </div>
                                            </div>

                                            <div data-bind="visible: Rejeitar.visible">
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                                                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                                        </button>
                                                        <button class="btn btn-danger me-2" type="button" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                                                            <i class="fal fa-times"></i><span data-bind="text: Rejeitar.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                                            <div class="mt-3" data-bind="visible: (AprovarTodas.visible() || Reprocessar.visible())">
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-success ms-1" type="button" data-bind="visible: AprovarTodas.visible, click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                                        <span data-bind="text: AprovarTodas.text"></span>
                                                    </button>
                                                    <button class="btn btn-warning ms-1" type="button" data-bind="visible: Reprocessar.visible, click: Reprocessar.eventClick, attr: { id: Reprocessar.id}">
                                                        <span data-bind="text: Reprocessar.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-- Delegar -->
                                <div id="knockoutDelegar" class="tab-pane fade">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" data-bind="css: UsuarioDelegado.requiredClass, value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': UsuarioDelegado.text, maxlength: UsuarioDelegado.maxlength, id: UsuarioDelegado.id, name: UsuarioDelegado.id }" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button class="btn btn-success" type="button" data-bind="click: Delegar.eventClick, attr: { id: Delegar.id}">
                                                            <span data-bind="text: Delegar.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </form>
                                </div>

                                <!-- Anexos -->
                                <div id="knockoutAutorizacaoNaoConformidadeAnexos" class="tab-pane fade">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="card" data-bind="visible: Anexos.visible">
                                                    <div class="card-header d-flex align-items-center justify-content-between">
                                                        <h3 class="card-title">Anexos</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card" data-bind="visible: Anexos.visible">
                                                    <div class="card-body row">
                                                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                                                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                                                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                                                <input type="file" class="custom-file-input" data-bind="enable: Arquivo.enable, value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                                                <label class="custom-file-label" data-bind="text: NomeArquivo.val, attr: { for: Arquivo.id }">Selecione uma imagem para anexar</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button class="btn btn-success mb-2 me-2" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                                            <span data-bind="text: Adicionar.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalRejeitarNaoConformidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="knockoutRejeicaoNaoConformidade" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body pb-0">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motivo.text"></label>
                                <textarea type="text" rows="5" class="form-control" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-danger" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                    <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDelegarSelecionados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="knockoutDelegarSelecionados" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Não Conformidade</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body pb-0">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: UsuarioDelegado.requiredClass, value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': UsuarioDelegado.text, maxlength: UsuarioDelegado.maxlength, id: UsuarioDelegado.id, name: UsuarioDelegado.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-success" data-bind="click: Delegar.eventClick, attr: { value: Delegar.text, id : Delegar.id}">
                    <span data-bind="text: Delegar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDetalhesCarga" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="fdsCarga"></div>
            </div>
        </div>
    </div>
</div>

<div id="modalVincularProdutoFornecedor" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vincular produto fornecedor</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body row" id="knockoutVincularProdutoFornecedor">
                <div class="col-12 col-md-6" data-bind="visible: Fornecedor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="enable: Fornecedor.enable, css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Fornecedor.enable, attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: CodigoInterno.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: CodigoInterno.text"></label>
                        <input type="text" class="form-control" data-bind="enable: CodigoInterno.enable, class: CodigoInterno.requiredClass, value: CodigoInterno.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoInterno.maxlength, id : CodigoInterno.id}" />
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: ProdutoEmbarcador.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: Filiais.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Filiais.text, attr: { for: Filiais.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Filiais.requiredClass, value: Filiais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filiais.maxlength, id : Filiais.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filiais.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" id="knockoutCRUDVincularProdutoFornecedor">
                <button type="button" class="btn btn-secondary waves-effect waves-themed" data-bs-dismiss="modal">Fechar</button>
                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick,visible: Salvar.visible,attr: { id: Salvar.id}">
                    <span data-bind="text: Salvar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divModalProdutosNota" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Produtos da Nota Fiscal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body row" id="knockoutProdutosNFe">
                <div data-bind="visible: Grid.visible">
                    <div class="row">
                        <label class="col-12 mt-1 mb-3">
                            <span class="fw-bold fs-6" data-bind="text: Fornecedor.text"></span>
                            <span data-bind="text: Fornecedor.val"></span>
                        </label>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table
                </div>
            </div>
            <div class="modal-footer" id="knockoutCRUDVincularProdutoFornecedor">

            </div>
        </div>
    </div>
</div>

<div id="ModaisCarga"></div>

<script src="~/scripts/autorizacaoNaoConformidade"></script>
<script src="~/scripts/cte"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/dropzone"></script>

<script type="text/javascript">

    pageSetUp();
        _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);

    $(document).ready(function () {
        LoadLocalizationResources(["Cargas.ControleEntrega", "Cargas.Carga", "Cargas.MonitoramentoHistorico", "Chamado.ChamadoOcorrencia", "Ocorrencias.Ocorrencia"]).then(loadAutorizacao);
    });

</script>