

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notas Fiscais</li>
    <li class="breadcrumb-item active">Histórico Não Conformidade</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Histórico de Não Conformidade
    </h1>
</div>

<div id="knockoutHistoricoNaoConformidade">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-search"></i>
                    Buscar Nota
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="col-4" data-bind="visible: NotaFiscal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NotaFiscal.text"></label>
                                <input type="text" class="form-control" data-bind="class: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                            </div>
                        </div>
                        <div class="col-8" style="margin-top: 32px">
                            <button class="btn btn-primary waves-effect waves-themed float-end btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel" data-bind="id: ExibirGridPesquisa.idFade, fadeVisible: ExibirGridPesquisa.visibleFade">
        <div class="panel-container">
            <div class="panel-content">
                <form id="knockoutMoeda">
                    <div class="row">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/historicoNaoConformidade"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadHistoricoNaoConformidade();
    });

</script>
