
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">NotasFiscais</li>
    <li class="breadcrumb-item active">Nota Fiscal Inutilizar</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Inutilizar Nota Fiscal
    </h1>
</div>

<div id="knockoutPesquisaNotaFiscalInutilizar">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Inutilizar Nota Fiscal
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Justificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Inutilizar Nota Fiscal
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroNotaFiscalInutilizar">
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: Modelo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Modelo.text, attr: { for: Modelo.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Modelo.requiredClass,value: Modelo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Modelo.maxlength, id : Modelo.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="css: NumeroInicial.requiredClass,value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="css: NumeroFinal.requiredClass,value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: EmpresaSerie.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: EmpresaSerie.text, attr: { for: EmpresaSerie.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: EmpresaSerie.val, enable: EmpresaSerie.enable, attr: { maxlength: EmpresaSerie.maxlength, id: EmpresaSerie.id}, event: { blur: EmpresaSerie.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : EmpresaSerie.enable, attr: { id: EmpresaSerie.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id }"></textarea>
                        </div>
                    </div>
                    <div class="col-3" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: Empresa.val, enable: Empresa.enable, attr: { maxlength: Empresa.maxlength, id: Empresa.id}, event: { blur: Empresa.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Empresa.enable, attr: { id: Empresa.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">

                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>

    </div>
</div>


<script src="~/scripts/notaFiscalInutilizar"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadNotaFiscalInutilizar();
    });

</script>

