

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notas Fiscais</li>
    <li class="breadcrumb-item active">Serviço</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Serviço
    </h1>
</div>

<div id="knockoutPesquisaServico">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Serviço
                </button>

                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Serviço
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroServico">
                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: DescricaoNFE.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DescricaoNFE.text, attr: { for: DescricaoNFE.id }"></label>
                            <input type="text" class="form-control" data-bind="css: DescricaoNFE.requiredClass,value: DescricaoNFE.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoNFE.maxlength, id : DescricaoNFE.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                            <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: CodigoTributacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoTributacao.text, attr: { for: CodigoTributacao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: CodigoTributacao.requiredClass,value: CodigoTributacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoTributacao.maxlength, id : CodigoTributacao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: ValorVenda.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorVenda.text, attr: { for: ValorVenda.id }"></label>
                            <input type="text" class="form-control" data-bind="css: ValorVenda.requiredClass,value: ValorVenda.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorVenda.maxlength, id : ValorVenda.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: AliquotaISS.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AliquotaISS.text, attr: { for: AliquotaISS.id }"></label>
                            <input type="text" class="form-control" data-bind="css: AliquotaISS.requiredClass,value: AliquotaISS.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaISS.maxlength, id : AliquotaISS.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: CodigoServico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoServico.text, attr: { for: CodigoServico.id }"></label>
                            <select class="form-control" data-bind="options: CodigoServico.options, optionsText: 'text', optionsValue: 'value', value: CodigoServico.val, attr: { id : CodigoServico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: CodigoIntegracao.requiredClass,value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                        </div>
                    </div>
                    <div class="col-4" data-bind="visible: CFOPVendaDentroEstado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CFOPVendaDentroEstado.text, attr: { for: CFOPVendaDentroEstado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: CFOPVendaDentroEstado.val, enable: CFOPVendaDentroEstado.enable, attr: { maxlength: CFOPVendaDentroEstado.maxlength, id: CFOPVendaDentroEstado.id}, event: { blur: CFOPVendaDentroEstado.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CFOPVendaDentroEstado.enable, attr: { id: CFOPVendaDentroEstado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: CFOPVendaForaEstado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CFOPVendaForaEstado.text, attr: { for: CFOPVendaForaEstado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: CFOPVendaForaEstado.val, enable: CFOPVendaForaEstado.enable, attr: { maxlength: CFOPVendaForaEstado.maxlength, id: CFOPVendaForaEstado.id}, event: { blur: CFOPVendaForaEstado.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CFOPVendaForaEstado.enable, attr: { id: CFOPVendaForaEstado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: CFOPCompraDentroEstado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CFOPCompraDentroEstado.text, attr: { for: CFOPCompraDentroEstado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: CFOPCompraDentroEstado.val, enable: CFOPCompraDentroEstado.enable, attr: { maxlength: CFOPCompraDentroEstado.maxlength, id: CFOPCompraDentroEstado.id}, event: { blur: CFOPCompraDentroEstado.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CFOPCompraDentroEstado.enable, attr: { id: CFOPCompraDentroEstado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: CFOPCompraForaEstado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CFOPCompraForaEstado.text, attr: { for: CFOPCompraForaEstado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: CFOPCompraForaEstado.val, enable: CFOPCompraForaEstado.enable, attr: { maxlength: CFOPCompraForaEstado.maxlength, id: CFOPCompraForaEstado.id}, event: { blur: CFOPCompraForaEstado.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CFOPCompraForaEstado.enable, attr: { id: CFOPCompraForaEstado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-container">
                            <div class="panel-hdr">
                                <h3>

                                    Para Nota Fiscal de Serviço (NFS-e)
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: Numero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                            <input type="text" class="form-control" data-bind="css: Numero.requiredClass,value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CNAE.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CNAE.text, attr: { for: CNAE.id }"></label>
                                            <input type="text" class="form-control" data-bind="css: CNAE.requiredClass,value: CNAE.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNAE.maxlength, id : CNAE.id}" />
                                        </div>
                                    </div>
                                    <div class="col-6" data-bind="visible: Localidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Localidade.text, attr: { for: Localidade.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: Localidade.val, enable: Localidade.enable, attr: { maxlength: Localidade.maxlength, id: Localidade.id}, event: { blur: Localidade.eventChange }, valueUpdate: 'afterkeydown'" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Localidade.enable, attr: { id: Localidade.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="value: Empresa.val, enable: Empresa.enable, attr: { maxlength: Empresa.maxlength, id: Empresa.id}, event: { blur: Empresa.eventChange }, valueUpdate: 'afterkeydown'" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Empresa.enable, attr: { id: Empresa.idBtnSearch}">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDServico">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>










<script src="~/scripts/servico"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadServico();
    });

</script>

