
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notas Fiscais</li>
    <li class="breadcrumb-item active">Sped Fiscal</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Sped Fiscal
    </h1>
</div>

<div id="knockoutPesquisaSpedFiscal">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Sped Fiscal
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa " data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container" id="knockoutCadastroSpedFiscal">
        <div class="panel-hdr">
            <h3>
                Geração de Sped Fiscal
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataInventario.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInventario.text, attr: { for: DataInventario.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInventario.requiredClass,  enable: DataInventario.enable, value: DataInventario.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInventario.maxlength, id : DataInventario.id}, event : {change : ComInventario.eventChange}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                            <select class="form-control" data-bind="class: TipoMovimento.requiredClass, options: TipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimento.val, attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataInicialFinalizacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicialFinalizacao.text, attr: { for: DataInicialFinalizacao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicialFinalizacao.requiredClass, value: DataInicialFinalizacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialFinalizacao.maxlength, id : DataInicialFinalizacao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataFinalFinalizacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinalFinalizacao.text, attr: { for: DataFinalFinalizacao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinalFinalizacao.requiredClass, value: DataFinalFinalizacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalFinalizacao.maxlength, id : DataFinalFinalizacao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataInicialEntrada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicialEntrada.text, attr: { for: DataInicialEntrada.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicialEntrada.requiredClass, value: DataInicialEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEntrada.maxlength, id : DataInicialEntrada.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataFinalEntrada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinalEntrada.text, attr: { for: DataFinalEntrada.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinalEntrada.requiredClass, value: DataFinalEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEntrada.maxlength, id : DataFinalEntrada.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: SituacaoDocumentoSPEDFiscal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SituacaoDocumentoSPEDFiscal.text, attr: { for: SituacaoDocumentoSPEDFiscal.id }"></label>
                            <select class="form-control" data-bind="class: SituacaoDocumentoSPEDFiscal.requiredClass, options: SituacaoDocumentoSPEDFiscal.options, optionsText: 'text', optionsValue: 'value', value: SituacaoDocumentoSPEDFiscal.val, attr: { maxlength: SituacaoDocumentoSPEDFiscal.maxlength, id : SituacaoDocumentoSPEDFiscal.id}"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: ComExtensaoCFOP.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComExtensaoCFOP.val, attr: { maxlength: ComExtensaoCFOP.maxlength, name: ComExtensaoCFOP.id, id: ComExtensaoCFOP.id }">
                                <label class="custom-control-label" data-bind="text: ComExtensaoCFOP.text, attr: { for: ComExtensaoCFOP.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: ComNFSePropria.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComNFSePropria.val, attr: { maxlength: ComNFSePropria.maxlength, name: ComNFSePropria.id, id: ComNFSePropria.id }">
                                <label class="custom-control-label" data-bind="text: ComNFSePropria.text, attr: { for: ComNFSePropria.id }"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: ComInventario.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComInventario.val, attr: { maxlength: ComInventario.maxlength, name: ComInventario.id, id: ComInventario.id }, event : {change : ComInventario.eventChange}">
                                <label class="custom-control-label" data-bind="text: ComInventario.text, attr: { for: ComInventario.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ComRessarcimentoICMS.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComRessarcimentoICMS.val, attr: { maxlength: ComRessarcimentoICMS.maxlength, name: ComRessarcimentoICMS.id, id: ComRessarcimentoICMS.id }, event : {change : ComRessarcimentoICMS.eventChange}">
                                <label class="custom-control-label" data-bind="text: ComRessarcimentoICMS.text, attr: { for: ComRessarcimentoICMS.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ComD160.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComD160.val, attr: { maxlength: ComD160.maxlength, name: ComD160.id, id: ComD160.id }, event : {change : ComD160.eventChange}">
                                <label class="custom-control-label" data-bind="text: ComD160.text, attr: { for: ComD160.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ComD170.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComD170.val, attr: { maxlength: ComD170.maxlength, name: ComD170.id, id: ComD170.id }, event : {change : ComD170.eventChange}">
                                <label class="custom-control-label" data-bind="text: ComD170.text, attr: { for: ComD170.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ComBlocoK.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ComBlocoK.val, attr: { maxlength: ComBlocoK.maxlength, name: ComBlocoK.id, id: ComBlocoK.id }, event : {change : ComBlocoK.eventChange}">
                                <label class="custom-control-label" data-bind="text: ComBlocoK.text, attr: { for: ComBlocoK.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: DocumentoEntrada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DocumentoEntrada.text, attr: { for: DocumentoEntrada.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: DocumentoEntrada.requiredClass, value: DocumentoEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoEntrada.maxlength, id : DocumentoEntrada.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DocumentoEntrada.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible : Documentos.visible" class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-success mb-2" type="button" data-bind="attr: { id: Documentos.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: Documentos.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>
                <footer class="mt-2" id="knockoutCRUDMarcaProduto">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">

                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>
<script src="~/scripts/spedFiscal"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadSpedFiscal();
    });

</script>

