@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Compras</li>
        <li class="breadcrumb-item active">Ordem Compra</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Ordem de Compra
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaOrdemCompra">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoInicio.text, attr: { for: DataGeracaoInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataGeracaoInicio.requiredClass, value: DataGeracaoInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoInicio.maxlength, id : DataGeracaoInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoFim.text, attr: { for: DataGeracaoFim.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataGeracaoFim.requiredClass, value: DataGeracaoFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoFim.maxlength, id : DataGeracaoFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoInicio.text, attr: { for: DataPrevisaoInicio.id }"></label>                                    
                                    <input type="text" class="form-control" data-bind="class: DataPrevisaoInicio.requiredClass, value: DataPrevisaoInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoInicio.maxlength, id : DataPrevisaoInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoFim.text, attr: { for: DataPrevisaoFim.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPrevisaoFim.requiredClass, value: DataPrevisaoFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoFim.maxlength, id : DataPrevisaoFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Fornecedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Produto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Operador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-2">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-2 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaOrdemCompra" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaOrdemCompra" class="d-flex justify-content-center justify-content-md-end mt-2">
                    <button class="btn btn-success me-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/ordemCompra"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioOrdemCompra();
    });

</script>
