@using System.Web.Optimization
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Instâncias de Base
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaInstanciaBase">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Instâncias de Base</h2>
                    </header>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section data-bind="visible: Servidor.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label class="label"><b data-bind="text: Servidor.text"></b></label>
                                                    <label data-bind="attr: { class: Servidor.requiredClass}">
                                                        <input type="text" data-bind="value: Servidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servidor.maxlength, id : Servidor.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: Usuario.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label class="label"><b data-bind="text: Usuario.text"></b></label>
                                                    <label data-bind="attr: { class: Usuario.requiredClass}">
                                                        <input type="text" data-bind="value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Formulário de Cadastro</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="knockoutCadastroInstanciaBase" class="smart-form">
                            <header>
                                Cadastrar Instância de Base
                            </header>

                            <fieldset>
                                <div class="row">
                                    <section data-bind="visible: Servidor.visible" class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label class="label"><b data-bind="text: Servidor.text"></b></label>
                                        <label data-bind="attr: { class: Servidor.requiredClass}">
                                            <input type="text" data-bind="value: Servidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servidor.maxlength, id : Servidor.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Usuario.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: Usuario.text"></b></label>
                                        <label data-bind="attr: { class: Usuario.requiredClass}">
                                            <input type="text" data-bind="value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Senha.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: Senha.text"></b></label>
                                        <label data-bind="attr: { class: Senha.requiredClass}">
                                            <input type="text" data-bind="value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Porta.visible" class="col col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                        <label class="label"><b data-bind="text: Porta.text"></b></label>
                                        <label data-bind="attr: { class: Porta.requiredClass}">
                                            <input type="text" data-bind="value: Porta.val, valueUpdate: 'afterkeydown', attr: { maxlength: Porta.maxlength, id : Porta.id}" />
                                        </label>
                                    </section>
                                </div>

                            </fieldset>
                            <footer>
                                <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@Scripts.Render("~/scripts/instanciaBase")
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadInstanciaBase();
    });

</script>

