@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Painel</li>
        <li class="breadcrumb-item active">Carregamentos</li>
    </ol>
    <div class="panel jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-chart-bar"></i>
                    Carregamentos
                </h3>
            </div>

            <!-- widget div-->
            <div class=" panel-content no-padding">
                <div class="widget-body" id="knoutPainelCarregamento">
                    <!-- content -->
                    <div class="tab-content">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-1 mb-3">
                                    <button class="btn btn-default" data-bind="click: ExibirFiltros.eventClick, attr: { id: Pesquisar.id}" type="button">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>


                                <div class="col-12 col-md-12">
                                    <div class="card" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-12 col-md-6" data-bind="visible: Filial.visible, css: { 'col-lg-4': Tipo.visible(), 'col-lg-6': !Tipo.visible() }">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: EtapaFluxoGestaoPatio.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: EtapaFluxoGestaoPatio.text, attr: { for: EtapaFluxoGestaoPatio.id }"></label>
                                                        <select class="form-control" data-bind="class: EtapaFluxoGestaoPatio.requiredClass, options: EtapaFluxoGestaoPatio.options, optionsText: 'text', optionsValue: 'value', value: EtapaFluxoGestaoPatio.val, attr: { maxlength: EtapaFluxoGestaoPatio.maxlength, id : EtapaFluxoGestaoPatio.id}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-12" data-bind="visible: SomenteFluxosAbertos.visible">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteFluxosAbertos.val, attr: { maxlength: SomenteFluxosAbertos.maxlength, name: SomenteFluxosAbertos.id, id: SomenteFluxosAbertos.id }">
                                                            <label class="custom-control-label" data-bind="text: SomenteFluxosAbertos.text, attr: { for: SomenteFluxosAbertos.id }"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="card widget-body">
                                        <div class="card-body">
                                            <h3 class="mt-1">Carregamentos de <span data-bind="text: DataInicial.val"></span> até  <span data-bind="text: DataFinal.val"></span> Filial  <span data-bind="text: Filial.val"></span></h3>
                                            <hr />
                                            <div class="row divheaderCarregamento p-3">
                                                <div class="col-12 col-md-12">
                                                    <div class="row">
                                                        <div class="col w-10">
                                                            <h2><b>CARGA</b></h2>
                                                        </div>
                                                        <div class="col w-5">
                                                            <h2><b>HORA</b></h2>
                                                        </div>
                                                        <div class="col w-15">
                                                            <h2><b>MOTORISTA</b></h2>
                                                        </div>
                                                        <div class="col w-10">
                                                            <h2><b>PLACA</b></h2>
                                                        </div>
                                                        <div class="col w-15">
                                                            <h2><b>AREA VEICULO</b></h2>
                                                        </div>
                                                        <div class="col w-15">
                                                            <h2><b>MODELO VEICULAR</b></h2>
                                                        </div>
                                                        <div class="col w-15">
                                                            <h2><b>DESTINO</b></h2>
                                                        </div>
                                                        <div class="col w-15">
                                                            <h2><b>SITUAÇÃO</b></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divItensCarregamento">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end widget div -->
        </div>
    </div>
</section>


<style type="text/css">

    .divheaderCarregamento {
        margin: 0px;
        border: 1px solid #808080;
        background-color: #FFF;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

        .divheaderCarregamento section h2 {
            color: black;
            padding-top: 10px;
            text-align: center;
        }

    .divbodyCarregamento {
        margin: 0px;
        border-bottom: 1px solid #808080;
        border-right: 1px solid #808080;
        border-left: 1px solid #808080;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

        .divbodyCarregamento section h2 {
            color: black;
            padding-top: 10px;
            text-align: center;
            overflow: hidden;
        }

    .bgBodyDotted {
        background-color: #CCC;
    }
</style>

<script src="~/scripts/carregamento"></script>

<script type="text/javascript">

    pageSetUp();
    $("body").addClass("minified");
    $(document).ready(function () {
        loadPainelCarregamento();
    });

</script>
