@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Painel</li>
        <li class="breadcrumb-item active">Indicadores de Resultados</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-chart-bar"></i> Indicadores de Resultados
        </h1>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div id="divConteudoGrafico">
                    <div id="divGraficoIndicadores"></div>
                </div>
                <div id="VeiculosAtrasados" style="display:none;">
                    <div class="well" style="height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;" id="tituloVeiculo"></h3>
                        <div id="divVeiculosAtrazados"><table width="100%" class="table table-bordered table-hover table-striped" id="tblVeiculosAtrazados" cellspacing="0"></table></div>
                        <div id="divVeiculosEmCarregamento"><table width="100%" class="table table-bordered table-hover table-striped" id="tblVeiculosEmCarregamento" cellspacing="0"></table></div>
                        <div id="divVeiculosAgFaturamento"><table width="100%" class="table table-bordered table-hover table-striped" id="tblVeiculosAgFaturamento" cellspacing="0"></table></div>
                    </div>
                </div>
                <div id="knockoutCargasAtrazadas" style="display:none;">
                    <div class="well" style="height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Cargas Atrasadas</h3>
                        <table width="100%" class="table table-bordered table-hover table-striped" id="tblCargasAtrasadas" cellspacing="0"></table>
                    </div>
                </div>
                <div id="knockoutIndicadoresQuantidadeCarga">
                    <div class="show-stat-microcharts" data-bind="attr: { id :IndicadorQuantidade.id}"></div>
                </div>
                <div id="divGeralGraficoProdutosExpedidos" style="height:300px; margin-bottom:20px; padding:10px; overflow-y:scroll; overflow-x:hidden;">
                    <div id="divGraficoProdutosExpedidos" class="row"></div>
                </div>
                <div id="div-chamados-dados-totais" style="display:none;">
                    <div style="min-height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Chamados - Totalizadores</h3>
                        <div class="text-center" id="divGraficoChamadosDadosGerais"></div>
                    </div>
                </div>
                <div id="div-chamados-chamados-atrasados" style="display:none;">
                    <div style="min-height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Chamados - <span class="titulo-ultimos-chamados"></span></h3>
                        <h4 class="titulo-ultimos-chamados"></h4>
                        <table width="100%" class="table table-bordered table-hover" id="gridUltimosChamados" cellspacing="0"></table>
                    </div>
                </div>
                <div id="div-chamados-valores-por-motivo" style="display:none;">
                    <div style="min-height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Chamados - Valores dos Chamados por Motivo</h3>
                        <div class="text-center" id="divGraficoChamadosValoresPorMotivo"></div>
                    </div>
                </div>
                <div id="div-chamados-relacao-por-usuario" style="display:none;">
                    <div style="min-height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Chamados - Relação de Chamados por Usuário</h3>
                        <div class="text-align-center" id="relacao-por-usuario-container"></div>
                    </div>
                </div>
                <div id="div-chamados-relacao-por-ocorrencia" style="display:none;">
                    <div style="min-height:500px;  margin-bottom:20px;">
                        <h3 style="margin: 0px;">Chamados - Relação de Chamados por Ocorrência</h3>
                        <div class="text-center" id="divGraficoChamadosValoresPorOcorrencia"></div>
                    </div>
                </div>
                @*<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="knockoutChamados" style="display:none;">
                    <div class="smart-form">
                        <div class="well" style="min-height:500px;  margin-bottom:20px;">
                            <header><h3 style="margin: 0px;">Chamados</h3></header>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-6">
                                        <div class="well">
                                            <header>
                                                Valores dos Chamados por Motivo
                                            </header>
                                            <fieldset>
                                                <div class="widget-body">
                                                    <section class="insideNoPaddignTable">
                                                        <table width="100%" class="table table-bordered table-hover" id="gridRelacaoPorMotivo" cellspacing="0"></table>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-6">
                                        <div class="well">
                                            <header>
                                                Relação de Chamados por Usuário
                                            </header>
                                            <fieldset>
                                                <div class="widget-body">
                                                    <section class="insideNoPaddignTable">
                                                        <table width="100%" class="table table-bordered table-hover" id="gridRelacaoPorUsuario" cellspacing="0"></table>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </section>*@
                <div id="knoutSlides" class="d-flex justify-content-center">
                    <button class="btn btn-icon btn-default mx-1" type="button" data-bind="click: Back.eventClick, attr: { id: Back.id}, visible: Back.visible">
                        <i class="fal fa-backward"></i>
                    </button>
                    <button class="btn btn-icon btn-danger mx-1" type="button" data-bind="click: Stop.eventClick, attr: { id: Stop.id}, visible: Stop.visible">
                        <i class="fal fa-pause"></i>
                    </button>
                    <button class="btn btn-icon btn-success mx-1" type="button" data-bind="click: Play.eventClick, attr: { id: Play.id}, visible: Play.visible">
                        <i class="fal fa-play"></i>
                    </button>
                    <button class="btn btn-icon btn-default mx-1" type="button" data-bind="click: Forward.eventClick, attr: { id: Forward.id}, visible: Forward.visible">
                        <i class="fal fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #divGraficoChamadosValoresPorOcorrencia > svg {
        overflow: visible;
    }
    #div-chamados-relacao-por-ocorrencia > .smart-form > .well {
        padding-bottom: 20px;
    }
</style>

<script src="~/scripts/easy-pie-chart"></script>
<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/scripts/indicador"></script>

<script type="text/javascript">

    pageSetUp();
    $("body").addClass("minified");
    $(document).ready(function () {
        loadIndicadores();
    });

</script>
