
<section id="widget-grid" class="">
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Controle de Chamados
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaControleChamadoTMS">
                <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in" id="myTab">
                            <li class="active" id="liTabPesquisa">
                                <a data-toggle="tab" href="#tabPesquisa"><span class="hidden-mobile hidden-tablet">Pesquisa </span><i class="fa fa-search"></i></a>
                            </li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="tabPesquisa">
                                        <header>
                                            Pesquisar Chamados
                                        </header>

                                        <fieldset>
                                            <div class="row">
                                                <section data-bind="visible: NumeroInicial.visible" class="col col-xs-12 col-sm-3 col-lg-2">
                                                    <label class="label"><b data-bind="text: NumeroInicial.text"></b></label>
                                                    <label data-bind="attr: { class: NumeroInicial.requiredClass}">
                                                        <input type="text" data-bind="value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: NumeroFinal.visible" class="col col-xs-12 col-sm-3 col-lg-2">
                                                    <label class="label"><b data-bind="text: NumeroFinal.text"></b></label>
                                                    <label data-bind="attr: { class: NumeroFinal.requiredClass}">
                                                        <input type="text" data-bind="value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: DataInicial.visible" class="col col-xs-12 col-sm-3 col-lg-2">
                                                    <label class="label"><b data-bind="text: DataInicial.text"></b></label>
                                                    <label data-bind="attr: { class: DataInicial.requiredClass}">
                                                        <input type="text" data-bind="value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: DataFinal.visible" class="col col-xs-12 col-sm-3 col-lg-2">
                                                    <label class="label"><b data-bind="text: DataFinal.text"></b></label>
                                                    <label data-bind="attr: { class: DataFinal.requiredClass}">
                                                        <input type="text" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: Carga.visible" class="col col-xs-12 col-sm-3 col-lg-2">
                                                    <label class="label"><b data-bind="text: Carga.text"></b></label>
                                                    <label data-bind="attr: { class: Carga.requiredClass}">
                                                        <input type="text" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: NumeroCTe.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                    <label class="label"><b data-bind="text: NumeroCTe.text"></b></label>
                                                    <label data-bind="attr: { class: NumeroCTe.requiredClass}">
                                                        <input type="text" data-bind="value: NumeroCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCTe.maxlength, id : NumeroCTe.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: Motorista.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <label class="label"><b data-bind="text: Motorista.text"></b></label>
                                                    <div class="input-group">
                                                        <label data-bind="attr: { class: Motorista.requiredClass}">
                                                            <input type="text" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Motorista.idBtnSearch}" class="btn btn-default btn-primary botaoBusca2" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section data-bind="visible: MotivoChamado.visible" class="col col-xs-12 col-sm-6 col-lg-4">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: MotivoChamado.text"></b></label>
                                                        <label data-bind="attr: { class: MotivoChamado.requiredClass}">
                                                            <input type="text" data-bind="value: MotivoChamado.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoChamado.maxlength, id : MotivoChamado.id}" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: MotivoChamado.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section data-bind="visible: Veiculo.visible" class="col col-xs-12 col-sm-6 col-lg-4">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Veiculo.text"></b></label>
                                                        <label data-bind="attr: { class: Veiculo.requiredClass}">
                                                            <input type="text" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Veiculo.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <footer class="no-padding">
                                        <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                            <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                        </button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div class="widget-body">
                        <div class="smart-form">
                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <fieldset>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tabChamados"><span class="hidden-mobile hidden-tablet">Chamados</span></a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane fade active in no-padding-bottom" id="tabChamados">
                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </div>
</section>

<div class="modal fade" id="divModalDocumentoAnalise" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Documento da Análise</h4>
            </div>
            <div class="modal-body">
                <div class="widget-body no-padding">
                    <div class="smart-form" id="knockoutDocumentoAnalise">
                        <div class="well">
                            <fieldset>
                                <section data-bind="visible: DataDocumentoRecebido.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label class="label"><b data-bind="text: DataDocumentoRecebido.text"></b></label>
                                    <label data-bind="attr: { class: DataDocumentoRecebido.requiredClass}">
                                        <input type="text" data-bind="value: DataDocumentoRecebido.val, enable: DataDocumentoRecebido.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataDocumentoRecebido.maxlength, id : DataDocumentoRecebido.id}" />
                                    </label>
                                </section>
                                <section data-bind="visible: ValorRecibo.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label class="label"><b data-bind="text: ValorRecibo.text"></b></label>
                                    <label data-bind="attr: { class: ValorRecibo.requiredClass}">
                                        <input type="text" data-bind="value: ValorRecibo.val, enable: ValorRecibo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorRecibo.maxlength, id : ValorRecibo.id}" />
                                    </label>
                                </section>
                                <section data-bind="visible: NumeroDocumento.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label class="label"><b data-bind="text: NumeroDocumento.text"></b></label>
                                    <label data-bind="attr: { class: NumeroDocumento.requiredClass}">
                                        <input type="text" data-bind="value: NumeroDocumento.val, enable: NumeroDocumento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                    </label>
                                </section>
                                <section data-bind="visible: ObservacaoDocumento.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="label"><b data-bind="text: ObservacaoDocumento.text"></b></label>
                                    <label class="input" data-bind="attr: { class: ObservacaoDocumento.requiredClass}">
                                        <textarea style="width: 100%;" rows="5" type="text" data-bind="value: ObservacaoDocumento.val, enable: ObservacaoDocumento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoDocumento.maxlength, id : ObservacaoDocumento.id}"></textarea>
                                    </label>
                                </section>
                            </fieldset>
                            <footer>
                                <section class="col col-sm-12 col-md-6 col-lg-6">
                                    <button data-bind="click: AnexoDocumento.eventClick, enable: AnexoDocumento.enable, visible: AnexoDocumento.visible, attr: { id: AnexoDocumento.id}" class="btn btn-primary botaoDentroSmartAdmimForm" type="button" style="float:left;">
                                        <i class="fa fa-files-o"></i> &nbsp; <span data-bind="text: AnexoDocumento.text"></span>
                                    </button>
                                </section>
                                <section data-bind="visible: SalvarDocumento.visible" class="col col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-labeled btn-success botaoDentroSmartAdmimForm" data-bind="click: SalvarDocumento.eventClick, attr: { id: SalvarDocumento.id}, enable: SalvarDocumento.enable" type="button" style="float:right;">
                                        <i class="fa fa-save "></i> &nbsp;<span data-bind="text: SalvarDocumento.text"></span>&nbsp;
                                    </button>
                                </section>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalGerenciarAnexosDocumentoAnalise" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Anexos de Documentos</h4>
            </div>
            <div class="modal-body" id="knockoutCadastroAnexosDocumentoAnalise">
                <div class="smart-form">
                    <section data-bind="visible: AnexosDocumentoAnalise.visible">
                        <div class="well">
                            <fieldset>
                                <section data-bind="visible: Descricao.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                    <label data-bind="attr: { class: Descricao.requiredClass}">
                                        <input type="text" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </label>
                                </section>
                                <section data-bind="visible: Arquivo.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label class="label" style="font-weight: bold;" data-bind="text: Arquivo.text"></label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" name="file" accept=".jpg,.jpeg,.png,.pdf,.xls,.xlsx,.doc,.docx" data-bind="value: Arquivo.val, enable : Arquivo.enable, attr: { id: Arquivo.id }" />Selecionar
                                        </div>
                                        <input type="text" placeholder="Selecione uma imagem para anexar" data-bind="value: NomeArquivo.val, enable : Arquivo.enable" readonly />
                                    </label>
                                </section>
                            </fieldset>

                            <footer class="no-padding">
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btnPesquisarFiltroPesquisa btn btn-labeled btn-success" />
                            </footer>
                        </div>
                    </section>
                </div>
                <div class="widget-body">
                    <div class="widget-body no-padding" style="">
                        <div class="smart-form">
                            <header>
                                <h4><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Arquivos Anexados</h4>
                            </header>
                        </div>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : AnexosDocumentoAnalise.idGrid}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/controleChamadoTMS"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadControleChamadoTMS();
    });

</script>
