

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Veiculos</li>
        <li class="breadcrumb-item active">Manutenção Centro Resultado</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-truck"></i> Manutenção de Centro de Resultado
        </h1>
    </div>
    <div id="knockoutPesquisaCentroResultado">
        <div class="panel col-6">
            <div class="panel-container">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: CentroResultado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divPaineis" class="collapse">
        <div class="row">
            <div class="panel col-sm ms-3 me-3" id="knockoutMotoristas">
                <div class="panel-container">
                    <div class="panel-hdr d-flex align-items-center justify-content-between">
                        <h3>
                            <i class="fal fa-users"></i>
                            Motoristas
                        </h3>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="visible: Adicionar.visible, attr: { id : Adicionar.idBtnSearch }">
                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                    <div class="panel-content">
                        <div class="row">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Motoristas.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel col-sm" id="knockoutTracao">
                <div class="panel-container">
                    <div class="panel-hdr d-flex align-items-center justify-content-between">
                        <h3>
                            <i class="fal fa-truck"></i>
                            Trações
                        </h3>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="visible: Adicionar.visible, attr: { id : Adicionar.idBtnSearch }">
                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                    <div class="panel-content">
                        <div class="row">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Tracao.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel col-sm ms-3 me-3" id="knockoutReboques">
                <div class="panel-container">
                    <div class="panel-hdr d-flex align-items-center justify-content-between">
                        <h3>
                            <i class="fal fa-truck"></i>
                            Reboques
                        </h3>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="visible: Adicionar.visible, attr: { id : Adicionar.idBtnSearch }">
                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                    <div class="panel-content">
                        <div class="row">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Reboques.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/manutencaoCentroResultado"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadManutencaoCentroResultado();
    });

</script>