
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Veiculos</li>
    <li class="breadcrumb-item active">Marcas Veículo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i>Marcas de Veículos
    </h1>
</div>


<div id="knockoutPesquisaMarcaVeiculo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Marcas de Veículos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: Modelo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Modelo.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: Modelo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Modelo.maxlength, id : Modelo.id}, attr: { class: Modelo.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Modelo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="panel mt-3">
    <div id="knockoutCadastroMarcaVeiculo" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabMarcaVeiculo" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet"><i class="fal fa-car"></i> Marca de Veículo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabModeloVeiculo" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet"><i class="fal fa-align-justify"></i> Modelos da Marca</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="tabMarcaVeiculo" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoVeiculo.text"></label>
                                    <select class="form-control" data-bind="options: TipoVeiculo.options, optionsText: 'text', optionsValue: 'value', value: TipoVeiculo.val, attr: { id : TipoVeiculo.id}, event : {change : TipoVeiculo.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabModeloVeiculo" role="tabpanel">
                    <div class="insideNoPaddignTable my-3">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Modelos.idGrid}" cellspacing="0"></table>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: DescricaoModelo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DescricaoModelo.text"></label>
                                <input type="text" class="form-control" data-bind="value: DescricaoModelo.val, attr: { maxlength: DescricaoModelo.maxlength, id : DescricaoModelo.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroEixosModelo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroEixosModelo.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroEixosModelo.val, attr: { maxlength: NumeroEixosModelo.maxlength, id : NumeroEixosModelo.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: AtivoModelo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: AtivoModelo.text"></label>
                                <select class="form-control" data-bind="options: AtivoModelo.options, optionsText: 'text', optionsValue: 'value', value: AtivoModelo.val, attr: { id : AtivoModelo.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: TipoCombustivel.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCombustivel.text"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="value: TipoCombustivel.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCombustivel.maxlength, id : TipoCombustivel.id},attr: { class: TipoCombustivel.requiredClass}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoCombustivel.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: MotorArla.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MotorArla.text"></label>
                                <select class="form-control" data-bind="options: MotorArla.options, optionsText: 'text', optionsValue: 'value', value: MotorArla.val, attr: { id : MotorArla.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: MediaPadrao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MediaPadrao.text"></label>
                                <input type="text" class="form-control" data-bind="value: MediaPadrao.val, attr: { maxlength: MediaPadrao.maxlength, id : MediaPadrao.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: MediaMinima.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MediaMinima.text"></label>
                                <input type="text" class="form-control" data-bind="value: MediaMinima.val, attr: { maxlength: MediaMinima.maxlength, id : MediaMinima.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: MediaMaxima.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MediaMaxima.text"></label>
                                <input type="text" class="form-control" data-bind="value: MediaMaxima.val, attr: { maxlength: MediaMaxima.maxlength, id : MediaMaxima.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: CodigoFIPE.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CodigoFIPE.text"></label>
                                <input type="text" class="form-control" data-bind="value: CodigoFIPE.val, attr: { maxlength: CodigoFIPE.maxlength, id : CodigoFIPE.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: MediaPadraoVazio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: MediaPadraoVazio.text"></label>
                                <input type="text" class="form-control" data-bind="value: MediaPadraoVazio.val, attr: { maxlength: MediaPadraoVazio.maxlength, id : MediaPadraoVazio.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: AlturaEmMetros.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: AlturaEmMetros.text"></label>
                                <input type="text" class="form-control" data-bind="class: AlturaEmMetros.requiredClass, value: AlturaEmMetros.val, valueUpdate: 'afterkeydown', attr: { maxlength: AlturaEmMetros.maxlength, id : AlturaEmMetros.id}" />
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success waves-effect waves-themed" data-bind="click: AdicionarModelo.eventClick, visible: AdicionarModelo.visible, attr: { value: AdicionarModelo.text, id : AdicionarModelo.id}">
                                    <i></i>
                                    Adicionar Modelo
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <footer class="my-3">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>





<script src="~/scripts/marcaVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMarcaVeiculo();
    });

</script>

