
<ol class="breadcrumb page-breadcrumb">
	<li class="breadcrumb-item">Bidding</li>
	<li class="breadcrumb-item active">Tipo de Bidding</li>
</ol>
<div class="subheader">
	<h1 class="subheader-title">
		Tipo de Bidding
	</h1>
</div>

<div id="knockoutPesquisaTipoBidding">
	<div class="panel">
		<div class="panel-container">
			<div class="panel-content">
				<button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
					<i class="fal fa-search"></i>
					Pesquisar Tipos de Bidding
				</button>

				<div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
					<form>
						<div class="row">
							<div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
									<input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
								</div>
							</div>
							<div class="col-12 col-md-3" data-bind="visible: Status.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
									<select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
								</div>
							</div>
						</div>
					</form>
					<div class="d-flex align-items-center justify-content-end mb-3">
						<button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
							<i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
						</button>
					</div>
					<table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
	<div class="panel-container">
		<div class="panel-content">
			<div class="tab-content">
				<ul class="nav nav-tabs" id="myTab">
					<li class="nav-item">
						<a href="#tabTipoBidding" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Tipo Bidding</span></a>
					</li>
					<li class="nav-item">
						<a href="#tabAnexos" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Anexos</span></a>
					</li>
				</ul>
				<div class="tab-content border border-top-0 p-3">
					<div id="tabTipoBidding" class="tab-pane fade active show">
						<form>
							<div>
								<h4>Cadastrar Tipo de Bidding</h4>
								<hr />
							</div>
							<div class="row" id="knockoutCadastroTipoBidding">
								<div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
									<div class="form-group">
										<label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
										<input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
									</div>
								</div>
								<div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
									<div class="form-group">
										<label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
										<input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
									</div>
								</div>
								<div class="col-12 col-md-2" data-bind="visible: Status.visible">
									<div class="form-group">
										<label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
										<select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
									</div>
								</div>
								<div class="col-12 col-md-6" data-bind="visible : ExibirRankOfertas.visible">
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" data-bind="checked: ExibirRankOfertas.val, attr: { maxlength: ExibirRankOfertas.maxlength, name: ExibirRankOfertas.id, id: ExibirRankOfertas.id }">
											<label class="custom-control-label" data-bind="text: ExibirRankOfertas.text, attr: { for: ExibirRankOfertas.id }"></label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6" data-bind="visible : NaoIncluirImpostoValorTotalOferta.visible">
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" data-bind="checked: NaoIncluirImpostoValorTotalOferta.val, attr: { maxlength: NaoIncluirImpostoValorTotalOferta.maxlength, name: NaoIncluirImpostoValorTotalOferta.id, id: NaoIncluirImpostoValorTotalOferta.id }">
											<label class="custom-control-label" data-bind="text: NaoIncluirImpostoValorTotalOferta.text, attr: { for: NaoIncluirImpostoValorTotalOferta.id }"></label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6" data-bind="visible : NaoPossuiPedagioFluxoOferta.visible">
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" data-bind="checked: NaoPossuiPedagioFluxoOferta.val, attr: { maxlength: NaoPossuiPedagioFluxoOferta.maxlength, name: NaoPossuiPedagioFluxoOferta.id, id: NaoPossuiPedagioFluxoOferta.id }">
											<label class="custom-control-label" data-bind="text: NaoPossuiPedagioFluxoOferta.text, attr: { for: NaoPossuiPedagioFluxoOferta.id }"></label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6" data-bind="visible : PermitirOfertasComponentes.visible">
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" data-bind="checked: PermitirOfertasComponentes.val, attr: { maxlength: PermitirOfertasComponentes.maxlength, name: PermitirOfertasComponentes.id, id: PermitirOfertasComponentes.id }">
											<label class="custom-control-label" data-bind="text: PermitirOfertasComponentes.text, attr: { for: PermitirOfertasComponentes.id }"></label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-3" data-bind="visible: ComponentesFrete.visible">
									<div class="form-group">
										<label class="form-label" data-bind="text: ComponentesFrete.text, attr: { for: ComponentesFrete.id }"></label>
										<div class="input-group">
											<input type="text" class="form-control" data-bind="css: ComponentesFrete.requiredClass, value: ComponentesFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: ComponentesFrete.maxlength, id : ComponentesFrete.id}" />
											<div class="input-group-append">
												<button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ComponentesFrete.idBtnSearch}" type="button" aria-label="Buscar">
													<i class="fal fa-search"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div id="tabAnexos" class="tab-pane fade mb-2">
						<form>
							<div>
								<h4>Adicionar Anexos</h4>
								<hr />
							</div>
							<div class="row">
								<div class="col-12 col-md-12" id="AnexosConvidadosDiv">
									<div class="card" data-bind="visible: Adicionar.visible" id="knockoutListaAnexos">
										<div class="card-header d-flex align-items-center justify-content-between">
											<h4 class="card-title">Anexos</h4>
										</div>
										<div class="card-body">
											<div class="col-12 d-flex justify-content-end">
												<button class="btn btn-primary waves-effect waves-themed mb-2" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id: Adicionar.id}" type="button">
													<i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
												</button>
											</div>
											<table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<footer id="knockoutCRUDTipoBidding">
						<div class="row">
							<div class="col-6">
								<button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
									<i class="fal fa-ban"></i>
									<span data-bind="text: Cancelar.text"></span>
								</button>
							</div>
							<div class="col-6 d-flex justify-content-end">
								<button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
									<i class="fal fa-trash"></i>
									<span data-bind="text: Excluir.text"></span>
								</button>
								<button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
									<i class="fal fa-check"></i>
									<span data-bind="text: Atualizar.text"></span>
								</button>
								<button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
									<span data-bind="text: Adicionar.text"></span>
								</button>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="divModalAnexo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content" id="knockoutAnexo">
			<div class="modal-header">
				<h4 class="modal-title">Adicionar Anexo</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
					<i class="fal fa-times"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-12 col-md-6" style="margin-top:7px" data-bind="visible: Arquivo.visible">
						<p class="form-label" data-bind="text: Arquivo.text"></p>
						<div class="custom-file-btn" data-bind="visible: Arquivo.visible">
							<input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
							<label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
						</div>
					</div>
					<div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: Descricao.text"></label>
							<input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
					<span data-bind="text: Adicionar.text"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<script src="~/scripts/tipoBidding"></script>
<script type="text/javascript">

	pageSetUp();

	$(document).ready(function () {
		loadTipoBidding();
	});

</script>

