@model Dominio.ObjetosDeValor.Embarcador.DownloadDocumentos.DownloadDocumentosView
@{
    Layout = "~/Views/DownloadDocumentos/DownloadDocumentos.cshtml";
}
<div class="smart-form">
    <fieldset class="main-fieldset">
        <header>
        </header>
        <div class="margin-top-15" style="padding-top: 50px;">
            <div class="col col-sm-12">
                <div class="well">
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                @if (Model.Ativo)
                                {
                                    <strong>Carga com link de acesso já Expirado</strong>
                                }
                                @if (!Model.Ativo)
                                {
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                LoadDownloadDocumentosCargaExterno(@Model.CodigoCarga);
                                            });
                                    </script>
                                    <div class="d-grid gap-lg-2 col-6 mx-auto" id="knockoutDownloadDocumentosCargaExterno" style="text-align: center;">
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteXMLMDFe.eventClick, visible: DownloadLoteXMLMDFe.visible, attr: { value: DownloadLoteXMLMDFe.text, id : DownloadLoteXMLMDFe.id}">
                                            Download Lote XML MDF-e
                                        </button>
                                        <br>
                                        <br>
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteDAMDFE.eventClick, visible: DownloadLoteDAMDFE.visible, attr: { value: DownloadLoteDAMDFE.text, id : DownloadLoteDAMDFE.id}">
                                            Download Lote DAMDFE
                                        </button>
                                        <br>
                                        <br>
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteDocumentosMDFe.eventClick, visible: DownloadLoteDocumentosMDFe.visible, attr: { value: DownloadLoteDocumentosMDFe.text, id : DownloadLoteDocumentosMDFe.id}">
                                            Download Lote Documentos MDF-e
                                        </button>
                                        <br>
                                        <br>
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteXMLCTe.eventClick, visible: DownloadLoteXMLCTe.visible, attr: { value: DownloadLoteXMLCTe.text, id : DownloadLoteXMLCTe.id}">
                                            Download Lote XML CT-e
                                        </button>
                                        <br>
                                        <br>
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteDACTE.eventClick, visible: DownloadLoteDACTE.visible, attr: { value: DownloadLoteDACTE.text, id : DownloadLoteDACTE.id}">
                                            Download Lote DACTE
                                        </button>
                                        <br>
                                        @*<br>
                                        <button class="btn-lg btn-primary" type="button" style="width: 400px;" data-bind="click: DownloadLoteDocumentosCte.eventClick, visible: DownloadLoteDocumentosCte.visible, attr: { value: DownloadLoteDocumentosCte.text, id : DownloadLoteDocumentosCte.id}">
                                            Download Lote Documentos CT-e
                                        </button>*@
                                    </div>
                                }
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<style>
    fieldset.main-fieldset {
        padding-top: 15px;
    }

        fieldset.main-fieldset > header {
            margin-bottom: 15px;
        }

    .questions {
    }

        .questions .question {
            background-color: #f5f5f5;
            padding: 15px;
            margin-bottom: 15px;
        }
</style>