<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConsultarValoresPedagioPendente" type="System.Configuration.NameValueSectionHandler" />
		<section name="GerarIntegracoesValePedagio" type="System.Configuration.NameValueSectionHandler" />
		<section name="GerarIntegracoesCancelamentoValePedagio" type="System.Configuration.NameValueSectionHandler" />
		<section name="VerificarRetornosValePedagio" type="System.Configuration.NameValueSectionHandler" />
		<section name="ProcessarExtratoValePedagioPendentes" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<ConsultarValoresPedagioPendente>
		<add key="Ativa" value="true" />
		<add key="NumeroTheadsParalelas" value="20" />
	</ConsultarValoresPedagioPendente>
	<GerarIntegracoesValePedagio>
		<add key="Ativa" value="true" />
		<add key="NumeroTheadsParalelas" value="20" />
	</GerarIntegracoesValePedagio>
	<GerarIntegracoesCancelamentoValePedagio>
		<add key="Ativa" value="true" />
		<add key="NumeroTheadsParalelas" value="20" />
	</GerarIntegracoesCancelamentoValePedagio>
	<VerificarRetornosValePedagio>
		<add key="Ativa" value="true" />
		<add key="NumeroTheadsParalelas" value="20" />
	</VerificarRetornosValePedagio>
	<ProcessarExtratoValePedagioPendentes>
		<add key="Ativa" value="true" />
		<add key="NumeroTheadsParalelas" value="20" />
	</ProcessarExtratoValePedagioPendentes>

	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=sql-multisoftware-hml.database.windows.net;Initial Catalog=sqldb-loggi-hml;User Id=Desenvolvimento;Password=Dev@MultiSoftware$2021;" />-->
		<add name="ConnectionString" connectionString="Data Source=sql-multisoftware-hml.database.windows.net;Initial Catalog=sqldb-raizen-hml;User Id=Desenvolvimento;Password=Dev@MultiSoftware$2021;" />
	</connectionStrings>
	<appSettings>
		<add key="Host" value="loggi.multihomo.com.br" />
		<add key="CaminhoRelatoriosCrystal" value="C:\Users\Willian\Documents\Projetos\MultiCTe\SGT.WebAdmin\" />
		<add key="CaminhoLogoEmbarcador" value="C:\Arquivos\Logos" />
		<add key="CaminhoRelatoriosEmbarcador" value="C:\Arquivos\Relatorios" />
		<add key="PrefixoMSMQ" value="Homologacao" />
		<add key="DefaultCulture" value="pt-BR" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.CodeDom" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicoBrasilRisk" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="ServicoAX" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXContratoFrete" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXCompensacao" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXPedido" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXOrdemVenda" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXComplemento" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoAXCancelamento" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServicoTotvs" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="Ravex" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="WSTransacionalBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="RequestSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="uCteServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uMDFeServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uNFSeServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FachadaWSSGSSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IConsultaNFe" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IConsultaCNPJ" />
        <binding name="BasicHttpBinding_ICosultaCTe" />
        <binding name="SI_RecebeNotaisFiscaisSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaCteNfseAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaFaturaAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaPreFaturaSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaOcorrenciasAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaConsultaNFSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaCteNfse_SyncBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaFatura_SyncBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="sgrOpentechSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="LogonServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MotoristasServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PefServiceSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ProprietariosServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="VeiculosServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="FaturamentoTransportadoraServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSImportSoap" />
        <binding name="BasicHttpBinding_IEmpresa" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text" />
		  <binding name="TransportSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:03:00" sendTimeout="00:03:00" receiveTimeout="00:03:00" closeTimeout="00:03:00">
			  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSStatusSoap" />
        <binding name="ATMWebSvrBinding" />
        <binding name="IncluirSmSOAP11Binding" />
        <binding name="ServicoELTBinding" />
        <binding name="IntegraGRSoapBinding" />
        <binding name="BasicHttpBinding_IDisponibilidade" />
        <binding name="ExpedicaoSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="IntegracaoSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ConciliacaoSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IEmpresa1" />
        <binding name="IntegraCargasSoap" />
        <binding name="BasicHttpBinding_IValidacao" />
        <binding name="BasicHttpBinding_FreteTMSService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_FreteTMSServiceExtended" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <security mode="Transport" />
        </binding>
        <binding name="IMetodosPHbinding" />
        <binding name="PlanWebServiceBinding" />
        <binding name="IWebAppAverbabinding" />
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="NFeDistribuicaoDFeSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="CTeDistribuicaoDFeSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="RecepcaoEventoSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="NfeDownloadNFSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="NFeRecepcaoEvento4Soap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="MDFeConsultaSoap12">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="MDFeDistribuicaoDFeSoap12">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="CteRecepcaoEventoSoap12">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="DTeRecepcaoSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
		  <binding name="CTeRecepcaoEventoV4Soap12">
			  <textMessageEncoding messageVersion="Soap12" />
			  <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
		  </binding>
		  
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IApplicationIntegrationService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://qa.repom.com.br/repomWS/Conciliacao.asmx" binding="basicHttpBinding" bindingConfiguration="ConciliacaoSoap" contract="ServicoRepom.Conciliacao.ConciliacaoSoap" name="ConciliacaoSoap" />
      <endpoint address="http://qa.repom.com.br/repomws/expedicao.asmx" binding="basicHttpBinding" bindingConfiguration="ExpedicaoSoap" contract="ServicoRepom.Expedicao.ExpedicaoSoap" name="ExpedicaoSoap" />
      <endpoint address="http://qa.repom.com.br/repomintegracaows/integracao/integracao.asmx" binding="basicHttpBinding" bindingConfiguration="IntegracaoSoap" contract="ServicoRepom.Integracao.IntegracaoSoap" name="IntegracaoSoap" />
      <endpoint address="http://www.eltseg01.com.br/ELTAverbaService/ELTAverbaService.svc" binding="basicHttpBinding" bindingConfiguration="ServicoELTBinding" contract="ServicoELT.IELTAverbaService" name="ServicoELTBinding" />
      <endpoint address="http://tstportal.buonny.com.br/portal/soap/buonny_soap" binding="basicHttpBinding" bindingConfiguration="IncluirSmSOAP11Binding" contract="ServicoBuonny.IncluirSmPort" name="IncluirSm" />
      <endpoint address="http://portalnfeqa.avon.com/Infinitri.WebService.ExchangeMessage/ExchangeMessage.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="ServicoAvon.RequestSoap" name="RequestSoap" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uCTeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uCteServiceTSSoap" contract="ServicoCTe.uCteServiceTSSoap" name="uCteServiceTSSoap" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uMDFeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uMDFeServiceTSSoap" contract="ServicoMDFe.uMDFeServiceTSSoap" name="uMDFeServiceTSSoap" />
      <endpoint address="http://192.168.0.125/webservicecte/uNFSeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uNFSeServiceTSSoap" contract="ServicoNFSe.uNFSeServiceTSSoap" name="uNFSeServiceTSSoap" />
      <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding" contract="WsBancoCentral.FachadaWSSGS" name="FachadaWSSGS" />
      <endpoint address="http://localhost:5146/ConsultaNFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaNFe" contract="ConsultaNFe.IConsultaNFe" name="BasicHttpBinding_IConsultaNFe" />
      <endpoint address="http://localhost:5146/CosultaCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICosultaCTe" contract="ConsultaCTe.ICosultaCTe" name="BasicHttpBinding_ICosultaCTe" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfseAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaCteNfseAsync_OBBinding" contract="ServicoNatura.ProcessaCTeNFSe.SI_ProcessaCteNfseAsync_OB" name="HTTP_Port" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFaturaAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaFaturaAsync_OBBinding" contract="ServicoNatura.ProcessaFatura.SI_ProcessaFaturaAsync_OB" name="HTTP_Port2" />
      <endpoint address="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaConsultaNFSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FConsultaNF" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaConsultaNFSync_OBBinding" contract="ServicoNatura.ProcessaConsultaNF.SI_ProcessaConsultaNFSync_OB" name="SI_ProcessaConsultaNFSync_OBPort" />
      <endpoint address="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaOcorrenciasAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.com.br%2Focorrencias" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaOcorrenciasAsync_OBBinding" contract="ServicoNatura.ProcessaOcorrencias.SI_ProcessaOcorrenciasAsync_OB" name="HTTP_Port1" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaPreFaturaSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FpreFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaPreFaturaSync_OBBinding" contract="ServicoNatura.ProcessaPreFatura.SI_ProcessaPreFaturaSync_OB" name="SI_ProcessaPreFaturaSync_OBPort" />
      <endpoint address="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RecebeNotaisFiscaisSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FNotasFiscais" binding="basicHttpBinding" bindingConfiguration="SI_RecebeNotaisFiscaisSync_OBBinding" contract="ServicoNatura.RecebeNotasFiscais.SI_RecebeNotaisFiscaisSync_OB" name="SI_RecebeNotaisFiscaisSync_OBPort" />
      <endpoint address="http://ws.opentechgr.com.br/sgropenteste2/sgropentech.asmx" binding="basicHttpBinding" bindingConfiguration="sgrOpentechSoap" contract="ServicoOpenTech.sgrOpentechSoap" name="sgrOpentechSoap" />
      <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx" binding="customBinding" bindingConfiguration="NFeDistribuicaoDFeSoap" contract="ServicoNFeDistribuicaoDFe.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap" />
      <endpoint address="https://www1.nfe.fazenda.gov.br/ServicoCTeDistribuicaoDFe/CTeDistribuicaoDFe.asmx" binding="customBinding" bindingConfiguration="CTeDistribuicaoDFeSoap" contract="ServicoCTeDistribuicaoDFe.CTeDistribuicaoDFeSoap" name="CTeDistribuicaoDFeSoap" />
	  <endpoint address="https://cte.svrs.rs.gov.br/ws/CTeRecepcaoEventoV4/CTeRecepcaoEventoV4.asmx" binding="customBinding" bindingConfiguration="CTeRecepcaoEventoV4Soap12" contract="CTeRecepcaoEventoV4.CTeRecepcaoEventoV4Soap12" name="CTeRecepcaoEventoV4Soap12" />
      <endpoint address="https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx" binding="customBinding" bindingConfiguration="RecepcaoEventoSoap" contract="ServicoRecepcaoEvento.RecepcaoEventoSoap" name="RecepcaoEventoSoap" />
      <endpoint address="https://www.nfe.fazenda.gov.br/NfeDownloadNF/NfeDownloadNF.asmx" binding="customBinding" bindingConfiguration="NfeDownloadNFSoap" contract="ServicoNFeDownloadNF.NfeDownloadNFSoap" name="NfeDownloadNFSoap" />
      <endpoint address="https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx" binding="customBinding" bindingConfiguration="MDFeConsultaSoap12" contract="ServicoMDFeConsultaMDF.MDFeConsultaSoap12" name="MDFeConsultaSoap12" />
      <endpoint address="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFatura_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaFatura_SyncBinding" contract="ServicoNaturaNovo.ProcessaFatura.SI_ProcessaFatura_Sync" name="HTTPS_Port7" />
      <endpoint address="https://aslx251br.natura.com.br:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfse_Sync&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaCteNfse_SyncBinding" contract="ServicoNaturaNovo.ProcessaCTeNFSe.SI_ProcessaCteNfse_Sync" name="HTTPS_Port6" />
      <endpoint address="http://localhost:5146/SGT.WebService/ConsultaNFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaNFe" contract="ServicoConsultaNFe.IConsultaNFe" name="BasicHttpBinding_IConsultaNFe" />
      <endpoint address="https://dev.efrete.com.br/Services/LogonService.asmx" binding="basicHttpBinding" bindingConfiguration="LogonServiceSoap" contract="ServicoEFrete.Logon.LogonServiceSoap" name="LogonServiceSoap" />
      <endpoint address="https://dev.efrete.com.br/Services/MotoristasService.asmx" binding="basicHttpBinding" bindingConfiguration="MotoristasServiceSoap" contract="ServicoEFrete.Motorista.MotoristasServiceSoap" name="MotoristasServiceSoap" />
      <endpoint address="https://dev.efrete.com.br/Services/PefService.asmx" binding="basicHttpBinding" bindingConfiguration="PefServiceSoap" contract="ServicoEFrete.PEF.PefServiceSoap" name="PefServiceSoap" />
      <endpoint address="https://dev.efrete.com.br/Services/ProprietariosService.asmx" binding="basicHttpBinding" bindingConfiguration="ProprietariosServiceSoap" contract="ServicoEFrete.Proprietario.ProprietariosServiceSoap" name="ProprietariosServiceSoap" />
      <endpoint address="https://dev.efrete.com.br/Services/VeiculosService.asmx" binding="basicHttpBinding" bindingConfiguration="VeiculosServiceSoap" contract="ServicoEFrete.Veiculo.VeiculosServiceSoap" name="VeiculosServiceSoap" />
      <endpoint address="https://dev.efrete.com/Services/FaturamentoTransportadoraService.asmx" binding="basicHttpBinding" bindingConfiguration="FaturamentoTransportadoraServiceSoap" contract="ServicoEFrete.FaturamentoTransportadora.FaturamentoTransportadoraServiceSoap" name="FaturamentoTransportadoraServiceSoap" />
      <endpoint address="http://localhost:5146/ConsultaCNPJ.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCNPJ" contract="ConsultaCNPJ.IConsultaCNPJ" name="BasicHttpBinding_IConsultaCNPJ" />
      <endpoint address="http://www.angellira.com.br:443/webservices/WSImport.asmx" binding="basicHttpBinding" bindingConfiguration="WSImportSoap" contract="WSAngelLira.WSImportSoap" name="WSImportSoap" />
      <endpoint address="https://preproducao.roadcard.com.br/sistemapamcard/services/WSTransacional" binding="basicHttpBinding" bindingConfiguration="WSTransacionalBinding" contract="ServicoPamCard.WSTransacional" name="WSTransacional" />
      <endpoint address="http://192.168.0.125/WebServiceIntegracao/Empresa.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresa" contract="WSEmpresa.IEmpresa" name="BasicHttpBinding_IEmpresa" />
      
		<endpoint address="https://apphom.viafacil.com.br/wsvp/ValePedagio" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="SemPararValePedagio.ValePedagio" name="ValePedagio" />
      <endpoint address="http://www.angellira.com.br:443/webservices/wsstatus.asmx" binding="basicHttpBinding" bindingConfiguration="WSStatusSoap" contract="WSAngelLiraStatus.WSStatusSoap" name="WSStatusSoap" />
      <endpoint address="http://homologaws.averba.com.br/20/index.soap?wsdl" binding="basicHttpBinding" bindingConfiguration="ATMWebSvrBinding" contract="IntegracaoATM.ATMWebSvrPortType" name="ATMWebSvrPort" />
      <endpoint address="http://testes.brasilrisk.com.br/monitoramento/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServicoBrasilRisk" contract="ServicoBrasilRisk.Monitoramento.ServiceSoap" name="ServicoBrasilRisk" />
      <endpoint address="https://www.nfe.fazenda.gov.br/NFeRecepcaoEvento4/NFeRecepcaoEvento4.asmx" binding="customBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="ServicoRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="NFeRecepcaoEvento4Soap" />
      <endpoint address="http://vader.streamsoft.com.br/NOXWebService/IntegraGR.wso" binding="basicHttpBinding" bindingConfiguration="IntegraGRSoapBinding" contract="ServicoNOX.IntegraGRSoapType" name="IntegraGRSoap" />
      <endpoint address="http://localhost:5146/Disponibilidade.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisponibilidade" contract="WSDisponibilidade.IDisponibilidade" name="BasicHttpBinding_IDisponibilidade" />
      <endpoint address="https://dan-brs-app1-t.ortec-hosting.com/CAIS/ApplicationIntegration/DANONE_TEST" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApplicationIntegrationService" contract="AppOrtec.IApplicationIntegrationService" name="WSHttpBinding_IApplicationIntegrationService" />
      <endpoint address="http://localhost:5146/Empresa.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresa1" contract="ServicoSGT.Empresa.IEmpresa" name="BasicHttpBinding_IEmpresa1" />
      <endpoint address="http://190.1.1.31:7075/IntegraCargas.asmx" binding="basicHttpBinding" bindingConfiguration="IntegraCargasSoap" contract="ServicoMinerva.IntegraCargas.IntegraCargasSoap" name="IntegraCargasSoap" />
      <endpoint address="http://localhost:58276/Validacao.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidacao" contract="WSValidacaoCommerce.IValidacao" name="BasicHttpBinding_IValidacao" />
      <endpoint address="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FreteTMSService" contract="ServicoTarget.ValePedagio.FreteTMSService" name="BasicHttpBinding_FreteTMSService" />
      <endpoint address="https://dev.transportesbra.com.br/frete/TMS/FreteService.svc/extended" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FreteTMSServiceExtended" contract="ServicoTarget.ValePedagio.FreteTMSServiceExtended" name="BasicHttpBinding_FreteTMSServiceExtended" />
      <endpoint address="https://mdfe.svrs.rs.gov.br/WS/MDFeDistribuicaoDFe/MDFeDistribuicaoDFe.asmx" binding="customBinding" bindingConfiguration="MDFeDistribuicaoDFeSoap12" contract="ServicoMDFeDistribuicaoDFe.MDFeDistribuicaoDFeSoap12" name="MDFeDistribuicaoDFeSoap12" />
      <endpoint address="http://testes.brasilrisk.com.br/gestaoanalisedeperfil/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServicoBrasilRisk" contract="ServicoBrasilRisk.GestaoAnaliseDePerfil.ServiceSoap" name="ServicoBrasilRisk" />
      <endpoint address="http://www.phnet.com.br/ws/webservice.dll/soap/IMetodosPH" binding="basicHttpBinding" bindingConfiguration="IMetodosPHbinding" contract="ServicoPHContabil.IMetodosPH" name="IMetodosPHPort" />
      <endpoint address="http://preprod.gps-pamcary.com.br/iw-web/PlanWebService" binding="basicHttpBinding" bindingConfiguration="PlanWebServiceBinding" contract="ServicoInfolog.PlanWebService" name="PlanService" />
      <endpoint address="http://servsenigwin.virtuaserver.com.br/wsdl/WebAppAverba.exe/soap/IWebAppAverba" binding="basicHttpBinding" bindingConfiguration="IWebAppAverbabinding" contract="ServicoSenig.IWebAppAverba" name="IWebAppAverbaPort" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTECustomer/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAX" contract="ServicoAX.Transportadora.CustomerService" name="ServicoAX" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalInvoice/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXContratoFrete" contract="ServicoAX.ContratoFrete.PurchaseInvoiceService" name="ServicoAXContratoFrete" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalSettle/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXCompensacao" contract="ServicoAX.Compensacao.VendPaymSettleService" name="ServicoAXCompensacao" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTEJournalPaym/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXPedido" contract="ServicoAX.Pedido.GSWVendPaymJournalService" name="ServicoAXPedido" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MutiCTESalesOrder/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXOrdemVenda" contract="ServicoAX.OrdemVenda.GSWSalesTableIntegrationService" name="ServicoAXOrdemVenda" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTEComplementarySales/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXComplemento" contract="ServicoAX.Complemento.MultiCTECompSalesInvService" name="ServicoAXComplemento" />
      <endpoint address="http://177.184.201.186:5150/MicrosoftDynamicsAXAif60/MultiCTECancel/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="ServicoAXCancelamento" contract="ServicoAX.Cancelamento.GSWMultiCTECancelService" name="ServicoAXCancelamento" />
      <endpoint address="https://teste/ws/cterecepcaoevento/cterecepcaoevento.asmx" binding="customBinding" bindingConfiguration="CteRecepcaoEventoSoap12" contract="ServicoRecepcaoEvento.CteRecepcaoEventoSoap12" name="CteRecepcaoEventoSoap12" />
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="Correios.AtendeCliente" name="AtendeClientePort" />
      <endpoint address="https://dte.infraestrutura.gov.br/ws/DTerecepcao/" binding="customBinding" bindingConfiguration="DTeRecepcaoSoap12" contract="DTeRecepcao.DTeRecepcaoSoap12" name="DTeRecepcaoSoap12" />
      <endpoint address="http://177.55.191.130:8052/wsDataServer" binding="basicHttpBinding" bindingConfiguration="ServicoTotvs" contract="ServicoTotvs.DataServer.IwsDataServer" name="ServicoTotvs" />
      <endpoint address="https://app.ravex.com.br/wsCte_homo/Service.asmx?WSDL" binding="basicHttpBinding" bindingConfiguration="Ravex" contract="Ravex.IntegraCTE.WebServiceCteSoap" name="Ravex" />
		
    </client>
  </system.serviceModel>
  

</configuration>