@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Configuração Contábil</li>
        <li class="breadcrumb-item active">Configuração Centro Resultado</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Configuração Centro de Resultado
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaConfiguracaoCentroResultado">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOcorrencia.text, attr: { for: TipoOcorrencia.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOcorrencia.maxlength, id : TipoOcorrencia.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOcorrencia.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: GrupoProduto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoProduto.text, attr: { for: GrupoProduto.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: GrupoProduto.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoProduto.maxlength, id : GrupoProduto.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoProduto.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: RotaFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: RotaFrete.text, attr: { for: RotaFrete.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: RotaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaFrete.maxlength, id : RotaFrete.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: RotaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event : { change : Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroResultadoContabilizacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultadoContabilizacao.text, attr: { for: CentroResultadoContabilizacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroResultadoContabilizacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoContabilizacao.maxlength, id : CentroResultadoContabilizacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoContabilizacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CentroResultadoEscrituracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultadoEscrituracao.text, attr: { for: CentroResultadoEscrituracao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroResultadoEscrituracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoEscrituracao.maxlength, id : CentroResultadoEscrituracao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoEscrituracao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CentroResultadoICMS.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultadoICMS.text, attr: { for: CentroResultadoICMS.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroResultadoICMS.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoICMS.maxlength, id : CentroResultadoICMS.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoICMS.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CentroResultadoPIS.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultadoPIS.text, attr: { for: CentroResultadoPIS.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind=" value: CentroResultadoPIS.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoPIS.maxlength, id : CentroResultadoPIS.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoPIS.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CentroResultadoCOFINS.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultadoCOFINS.text, attr: { for: CentroResultadoCOFINS.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CentroResultadoCOFINS.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoCOFINS.maxlength, id : CentroResultadoCOFINS.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoCOFINS.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-2">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-2 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaConfiguracaoCentroResultado" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaConfiguracaoCentroResultado" class="d-flex justify-content-center justify-content-md-end mt-2">
                    <button class="btn btn-success me-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/configuracaoCentroResultado"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracaoCentroResultado();
    });

</script>
