


<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Atendimento Cliente
    </h1>
</div>

<div class="page-content">
    <div id="knoutPesquisaAtendimentoCliente">
        <form>
            <div class="row mb-4">
                <div class="col-12 col-md-4" data-bind="visible: CNPJDestinatario.visible">
                    <div class="form-group">
                        <input type="text" placeholder="CNPJ do Destinatário" class="form-control" data-bind="class: CNPJDestinatario.requiredClass, value: CNPJDestinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJDestinatario.maxlength, id : CNPJDestinatario.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: NotaFiscal.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Número da Nota Fiscal" class="form-control" data-bind="class: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Número do Pedido" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Data Inicial Pedido" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Data Final" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="knoutAtendimentoClientePedido" data-bind="attr: { class: classPedidos.cssClass}">
            <div class="row">
                <!-- ko foreach: { data: Pedidos.val, as: 'Card' } -->
                <!-- ko component: {name: "pedido-card-container", params: Card} -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div id="knoutChatAtendimentoPedido" style="display:none " class="col-6 col-md-6">
            <div class="row">
                <div class="col-12 col-md-12" style="float:left">
                    <div class="dadosPedido">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalhes Atendimento</h4>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-file" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Pedido</span>
                                <br />
                                <b><span data-bind="text: DetalhesNumeroCte.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Cliente</span>
                                <br />
                                <b> <span data-bind="text: DetalhesCliente.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-id-card" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>CNPJ</span>
                                <br />
                                <b> <span data-bind="text: DetalhesCNPJCliente.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Destino</span>

                                <br />
                                <b><span data-bind="text: DetalhesDestino.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Emissão</span>

                                <br />
                                <b><span data-bind="text: DetalhesEmissao.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Data Entrega</span>

                                <br />
                                <b><span data-bind="text: DetalhesEntrega.val"></span></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-1">
                                <i class="fa fa-1x fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="col col-sm-10">
                                <span>Contato</span>

                                <br />
                                <b><span data-bind="text: DetalhesContato.val"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="chat">
                            <div class="row">
                                <div data-bind="visible: Mensagem.visible" class="col-12 col-md-12" style="background:none; margin-top:15px">
                                    <div data-bind="attr: { id: Mensagem.id }" class="well" style="height:200px; padding:10px; overflow-y:scroll">

                                    </div>
                                </div>
                            </div>
                            <div class="msgchat">
                                <div data-bind="visible: Mensagem.visible" class="col-12 col-md-11" style="margin-top:10px; float:left; padding-right:0px">
                                    <textarea placeholder="Digite sua mensagem" id="Mensagem" style="width: 100%;" rows="1" type="text" data-bind="value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength}"></textarea>
                                </div>
                                <div data-bind="visible: Mensagem.visible" class="col-12 col-md-1" style="margin-right: 0px; margin-top: 10px; float: right">
                                    <a data-bind="click: EnviarMensagem.eventClick, attr: { id: EnviarMensagem.id}" style="cursor:pointer"> <img src="Content/portal-cliente/public/EnvioMsg.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="background-color: transparent; border: none; padding: 0 0 10px 0;">
        <div id="divPaginationAtendimentoPedidoCliente" style="text-align: center; padding-bottom: 10px;"></div>
    </footer>
</div>

<div class="modal fade" id="divSolicitarNovoAtendimentoChat" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding:30px; border-radius:25px">
            <div class="modal-header">
                <h4 class="modal-title">Deseja solicitar Atendimento?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-6 col-sm-5">
                            <button type="button" class="btn btn-default" onclick="closeSolicitarNovoAtendimento()" style="width:150px; padding:10px">Cancelar</button>
                        </div>
                        <div class="col-6 col-sm-5">
                            <button type="submit" class="btn btn-secondary" onclick="IniciarNovoChat()" style="width:240px; padding:10px">Sim, selecionar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="pedido-card-container" type="text/html">
    <div class="card col-12 col-md-4 pedido-card" data-bind="attr: { id : $data.Codigo}">
        <div class="card-body">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="col col-sm-1 icone">
                        <i class="fal fa-file icone-pedido" aria-hidden="true"></i>
                    </div>
                    <div class="col col-sm-1 icone chamado" style="margin-right: 10px">
                        <a data-bind="click: abrirChamado.bind($data)" style="cursor:pointer"><img src="Content/portal-cliente/public/novo-chamado.png" /></a>
                    </div>
                </div>
                <div class="col-12 col-md-12 text-center">
                    <div class="mb-2">
                        <b>Pedido: </b><span data-bind="text: NumeroPedido"></span>
                    </div>
                    <div>
                        <b>Cliente: </b><span data-bind="text: Destinatario"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-md-12 pedido-data mt-3 text-right">
                    <span data-bind="text: DataCriacao"></span>
                </div>
            </div>
        </div>
    </div>
</script>


<style>


    #content .icone {
        margin-top: 8px;
        width: 55px !important;
    }

    #content .chamado {
        margin-right: 12px !important;
        margin-top: 15px
    }

    .dadosPedido {
        height: 480px;
        background: rgba(241,241,248,1);
        opacity: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        padding: 20px;
        width: 668px
    }


        .dadosPedido .row {
            margin-top: 20px;
        }

    .chat {
        margin-top: 20px;
        float: left;
        height: 370px;
        width: 669px;
        background: rgba(241,241,248,1);
        opacity: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        margin-left: 12px;
    }

    .msgchat {
        padding: 10px;
        height: 72px;
        background: rgba(217,220,232,1);
        opacity: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        margin-top: 75px;
    }

    .pedido-card {
        margin: 5px;
        border: 2px solid #d9dde9;
        border-radius: 10px;
        text-align: center;
        background-color: #fcfcfc;
        padding: 10px 0;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .cardAtivo {
        border-color: #475999;
        background-color: #f1f2f9;
    }

    .pedido-card:hover {
        border-color: #475999;
        background-color: #f1f2f9;
    }

    .pedido-card b {
        padding-right: 5px;
    }

    .icone-pedido {
        padding: 15px;
        background: #fdf1eb;
        color: #f8b395;
        border-radius: 20px;
    }

    .pedido-data {
        bottom: 19px;
        right: 40px;
        color: #c7c7c7;
    }

    .col-md-4 {
        width: 31% !important;
    }
</style>


<script src="~/scripts/atendimentoPedidoCliente"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadAtendimentoCliente();
    });
</script>