
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">EMP</li>
    <li class="breadcrumb-item active">Consulta EMP</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-file-alt m-2 ml-0"></i> Consulta Auditorias EMP
    </h1>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-search"></i>
                Pesquisar Auditorias EMP
            </h3>
        </div>
        <div class="panel-content">
            <div class="mt-3">
                <form id="knockoutAuditoriaEMP">
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Topic.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Topic.text"></label>
                                <input type="text" class="form-control" data-bind="class: Topic.requiredClass, value: Topic.val, valueUpdate: 'afterkeydown', attr: { maxlength: Topic.maxlength, id : Topic.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Booking.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Booking.text"></label>
                                <input type="text" class="form-control" data-bind="class: Booking.requiredClass, value: Booking.val, valueUpdate: 'afterkeydown', attr: { maxlength: Booking.maxlength, id : Booking.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoIntegracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoIntegracao.text, attr: { for: TipoIntegracao.id }"></label>
                                <select class="form-control" data-bind="class: TipoIntegracao.requiredClass, options: TipoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: TipoIntegracao.val, attr: { maxlength: TipoIntegracao.maxlength, id : TipoIntegracao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Justificativa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                <select class="form-control" data-bind="class: Justificativa.requiredClass, options: Justificativa.options, optionsText: 'text', optionsValue: 'value', value: Justificativa.val, attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Fatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Fatura.text"></label>
                                <input type="text" class="form-control" data-bind="class: Fatura.requiredClass, value: Fatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fatura.maxlength, id : Fatura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Boleto.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Boleto.text"></label>
                                <input type="text" class="form-control" data-bind="class: Boleto.requiredClass, value: Boleto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Boleto.maxlength, id : Boleto.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Customer.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Customer.text"></label>
                                <input type="text" class="form-control" data-bind="class: Customer.requiredClass, value: Customer.val, valueUpdate: 'afterkeydown', attr: { maxlength: Customer.maxlength, id : Customer.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2"  data-bind="visible: Schedule.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Schedule.text"></label>
                                <input type="text" class="form-control" data-bind="class: Schedule.requiredClass, value: Schedule.val, valueUpdate: 'afterkeydown', attr: { maxlength: Schedule.maxlength, id : Schedule.id}" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="panel-container">
                    <div class="panel-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#tabEnviado" class="nav-link active" data-bs-toggle="tab">
                                    <span class="hidden-mobile hidden-tablet">Enviado</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tabRecebido" class="nav-link" data-bs-toggle="tab">
                                    <span class="hidden-mobile hidden-tablet">Recebido</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content border border-top-0 p-3">
                            <div class="tab-pane fade active show" id="tabEnviado" role="tabpanel">
                                <div id="knockoutAuditoriaEMPEnvio">
                                    <div class="d-flex align-items-center justify-content-end mb-3">
                                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                            <i class="fal fa-search"></i><span class="" data-bind="text: Pesquisar.text"></span>
                                        </button>
                                    </div>
                                    <div class="widget-body">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="co-l2 mt-2 d-flex justify-content-end mt-2">
                                        <span><b>Legendas:</b> </span>
                                        <div class="badge legend red mx-2">
                                            <b>Not Persist</b>
                                        </div>
                                        <div class="badge legend green me-2">
                                            <b>Integrado</b>
                                        </div>
                                        <div class="badge legend green">
                                            <b>Erro resolvido</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tabRecebido" role="tabpanel">
                                <div id="knockoutAuditoriaEMPRecebido">
                                    <div class="d-flex align-items-center justify-content-end mb-3">
                                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: PesquisarRecebido.eventClick, attr: { id: PesquisarRecebido.id}" type="button">
                                            <i class="fal fa-search"></i><span class="" data-bind="text: PesquisarRecebido.text"></span>
                                        </button>
                                    </div>
                                    <div class="widget-body">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: PesquisarRecebido.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="co-l2 mt-2 d-flex justify-content-end mt-2">
                                        <span><b>Legendas:</b> </span>
                                        <div class="badge legend red mx-2">
                                            <b>Not Persist</b>
                                        </div>
                                        <div class="badge legend green me-2">
                                            <b>Integrado</b>
                                        </div>
                                        <div class="badge legend green">
                                            <b>Erro resolvido</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalInserirJustificativaRecebimento" role="dialog" aria-hidden="true">
    <div id="knockoutInserirJustificativaRecebimento" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inserir Justificativa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-4" data-bind="visible: SituacaoIntegracaoEMPRecebido.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SituacaoIntegracaoEMPRecebido.text, attr: { for: SituacaoIntegracaoEMPRecebido.id }"></label>
                        <select class="form-control" data-bind="class: SituacaoIntegracaoEMPRecebido.requiredClass, options: SituacaoIntegracaoEMPRecebido.options, optionsText: 'text', optionsValue: 'value', value: SituacaoIntegracaoEMPRecebido.val, attr: { maxlength: SituacaoIntegracaoEMPRecebido.maxlength, id : SituacaoIntegracaoEMPRecebido.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: JustificativaRecebido.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: JustificativaRecebido.text, attr: { for: JustificativaRecebido.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: JustificativaRecebido.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaRecebido.maxlength, id : JustificativaRecebido.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: AtualizarJustificativaRecebimento.eventClick, attr: { id: AtualizarJustificativaRecebimento.id}">
                        <i class="fal fa-check"></i><span data-bind="text: AtualizarJustificativaRecebimento.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalInserirJustificativaEnvio" role="dialog" aria-hidden="true">
    <div id="knockoutInserirJustificativaEnvio" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inserir Justificativa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-4" data-bind="visible: SituacaoIntegracaoEMPEnvio.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SituacaoIntegracaoEMPEnvio.text, attr: { for: SituacaoIntegracaoEMPEnvio.id }"></label>
                        <select class="form-control" data-bind="class: SituacaoIntegracaoEMPEnvio.requiredClass, options: SituacaoIntegracaoEMPEnvio.options, optionsText: 'text', optionsValue: 'value', value: SituacaoIntegracaoEMPEnvio.val, attr: { maxlength: SituacaoIntegracaoEMPEnvio.maxlength, id : SituacaoIntegracaoEMPEnvio.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: JustificativaEnvio.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: JustificativaEnvio.text, attr: { for: JustificativaEnvio.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: JustificativaEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaEnvio.maxlength, id : JustificativaEnvio.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: AtualizarJustificativaEnvio.eventClick, attr: { id: AtualizarJustificativaEnvio.id}">
                        <i class="fal fa-check"></i><span data-bind="text: AtualizarJustificativaEnvio.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/auditoriaEMP"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
        LoadAuditoriaEMP();
    });
</script>

