
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pedidos</li>
        <li class="breadcrumb-item active">Booking</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i>  Booking
        </h1>
    </div>

    <div class="panel" id="knockoutPesquisaBooking">
        <div class="panel-container">
            <div class="panel-content" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar EXP
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row mt-3">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroEXP.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroEXP.text, attr: { for: NumeroEXP.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroEXP.requiredClass, value: NumeroEXP.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroEXP.maxlength, id : NumeroEXP.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroBooking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-3">
                                <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item active">
                            <a data-bs-toggle="tab" href="#knockoutCadastroBooking" class="nav-link active">
                                <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet">Cadastro</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" href="#knockoutPlanejamentoControle" class="nav-link">
                                <i class="fal fa-users"></i><span class="hidden-mobile hidden-tablet">Planejamento e Controle</span>
                            </a>
                        </li>
                        <li id="liTabTransporte" class="nav-item">
                            <a data-bs-toggle="tab" href="#knockoutTransporte" class="nav-link">
                                <i class="fal fa-truck"></i><span class="hidden-mobile hidden-tablet">Transporte</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" href="#knockoutOutros" class="nav-link">
                                <i class="fal fa-archive"></i><span class="hidden-mobile hidden-tablet">Outros</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="knockoutCadastroBooking">
                            <div class="row mt-3">
                                <div id="divBookingAguardandoRetorno" class="col col-12" style="display:none">
                                    <div class="alert alert-warning mensagem-alerta-botao-aviso text-center fs-3" role="alert">
                                        <i class="fal fa-exclamation-circle"></i> Registro Booking aguardando retorno, não é possível editá-lo no momento
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Pedido.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pedido.text, attr: { for: Pedido.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Pedido.requiredClass, enable: Pedido.enable, value: Pedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pedido.maxlength, id : Pedido.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pedido.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, enable: Filial.enable, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Importador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Importador.text, attr: { for: Importador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Importador.requiredClass, enable: Importador.enable, value: Importador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Importador.maxlength, id : Importador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Importador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, enable: TipoCarga.enable, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroExp.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroExp.text, attr: { for: NumeroExp.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroExp.requiredClass, enable: NumeroExp.enable, value: NumeroExp.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroExp.maxlength, id : NumeroExp.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoEspecie.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoEspecie.text, attr: { for: CodigoEspecie.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoEspecie.requiredClass, enable: CodigoEspecie.enable, value: CodigoEspecie.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoEspecie.maxlength, id : CodigoEspecie.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DescricaoEspecie.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DescricaoEspecie.text, attr: { for: DescricaoEspecie.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DescricaoEspecie.requiredClass, enable: DescricaoEspecie.enable, value: DescricaoEspecie.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoEspecie.maxlength, id : DescricaoEspecie.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoNCM.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoNCM.text, attr: { for: CodigoNCM.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoNCM.requiredClass,  enable: CodigoNCM.enable, value: CodigoNCM.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoNCM.maxlength, id : CodigoNCM.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Incoterm.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Incoterm.text, attr: { for: Incoterm.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Incoterm.requiredClass, enable: Incoterm.enable, value: Incoterm.val, valueUpdate: 'afterkeydown', attr: { maxlength: Incoterm.maxlength, id : Incoterm.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DescricaoIdentificacaoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DescricaoIdentificacaoCarga.text, attr: { for: DescricaoIdentificacaoCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DescricaoIdentificacaoCarga.requiredClass, value: DescricaoIdentificacaoCarga.val, enable: DescricaoIdentificacaoCarga.enable,  valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoIdentificacaoCarga.maxlength, id : DescricaoIdentificacaoCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoContratoFOB.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoContratoFOB.text, attr: { for: CodigoContratoFOB.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoContratoFOB.requiredClass, value: CodigoContratoFOB.val, enable: CodigoContratoFOB.enable, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoContratoFOB.maxlength, id : CodigoContratoFOB.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="knockoutPlanejamentoControle">
                            <div class="row mt-3">
                                <div class="col-12 col-md-4" data-bind="visible: Remetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass,  enable: Remetente.enable,  value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: StatusEXP.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: StatusEXP.text, attr: { for: StatusEXP.id }"></label>
                                        <select class="form-control" data-bind="class: StatusEXP.requiredClass, options: StatusEXP.options,  enable: StatusEXP.enable, optionsText: 'text', optionsValue: 'value', value: StatusEXP.val, attr: { maxlength: StatusEXP.maxlength, id : StatusEXP.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEstufagem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEstufagem.text, attr: { for: DataPrevisaoEstufagem.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEstufagem.requiredClass,  enable: DataPrevisaoEstufagem.enable, value: DataPrevisaoEstufagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEstufagem.maxlength, id : DataPrevisaoEstufagem.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, enable: Observacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Halal.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: Halal.val, enable: Halal.enable, attr: { maxlength: Halal.maxlength, name: Halal.id, id: Halal.id }">
                                            <label class="custom-control-label" data-bind="text: Halal.text, attr: { for: Halal.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="tab-pane fade" id="knockoutTransporte">
                            <div class="row mt-3">
                                <div class="col-12 col-md-3" data-bind="visible: NumeroBooking.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, enable: NumeroBooking.enable, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIdentificacaoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIdentificacaoCarga.text, attr: { for: CodigoIdentificacaoCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIdentificacaoCarga.requiredClass, enable: CodigoIdentificacaoCarga.enable,  value: CodigoIdentificacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIdentificacaoCarga.maxlength, id : CodigoIdentificacaoCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoCarga.text, attr: { for: CodigoCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoCarga.requiredClass, enable: CodigoCarga.enable, value: CodigoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCarga.maxlength, id : CodigoCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ProtocoloCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ProtocoloCarga.text, attr: { for: ProtocoloCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ProtocoloCarga.requiredClass, enable: ProtocoloCarga.enable, value: ProtocoloCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProtocoloCarga.maxlength, id : ProtocoloCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Armador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Armador.text, attr: { for: Armador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Armador.requiredClass, enable: Armador.enable, value: Armador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Armador.maxlength, id : Armador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Armador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Navio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Navio.text, attr: { for: Navio.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Navio.requiredClass, enable: Navio.enable, value: Navio.val, valueUpdate: 'afterkeydown', attr: { maxlength: Navio.maxlength, id : Navio.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Navio.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroViagem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroViagem.text, attr: { for: NumeroViagem.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroViagem.requiredClass, enable: NumeroViagem.enable, value: NumeroViagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroViagem.maxlength, id : NumeroViagem.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ViaTransporte.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ViaTransporte.text, attr: { for: ViaTransporte.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ViaTransporte.requiredClass, enable: ViaTransporte.enable, value: ViaTransporte.val, valueUpdate: 'afterkeydown', attr: { maxlength: ViaTransporte.maxlength, id : ViaTransporte.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ViaTransporte.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Despachante.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Despachante.text, attr: { for: Despachante.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Despachante.requiredClass, enable: Despachante.enable, value: Despachante.val, valueUpdate: 'afterkeydown', attr: { maxlength: Despachante.maxlength, id : Despachante.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Despachante.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: MetragemCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MetragemCarga.text, attr: { for: MetragemCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: MetragemCarga.requiredClass, enable: MetragemCarga.enable, value: MetragemCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: MetragemCarga.maxlength, id : MetragemCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Temperatura.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Temperatura.text, attr: { for: Temperatura.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Temperatura.requiredClass, enable: Temperatura.enable, value: Temperatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Temperatura.maxlength, id : Temperatura.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataBooking.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataBooking.text, attr: { for: DataBooking.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataBooking.requiredClass, enable: DataBooking.enable, value: DataBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBooking.maxlength, id : DataBooking.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataDeadLineDraf.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataDeadLineDraf.text, attr: { for: DataDeadLineDraf.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataDeadLineDraf.requiredClass,  enable: DataDeadLineDraf.enable, value: DataDeadLineDraf.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDeadLineDraf.maxlength, id : DataDeadLineDraf.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataDeadLineCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataDeadLineCarga.text, attr: { for: DataDeadLineCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataDeadLineCarga.requiredClass, enable: DataDeadLineCarga.enable, value: DataDeadLineCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDeadLineCarga.maxlength, id : DataDeadLineCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETAOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETAOrigem.text, attr: { for: DataETAOrigem.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETAOrigem.requiredClass, enable: DataETAOrigem.enable,  value: DataETAOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETAOrigem.maxlength, id : DataETAOrigem.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETS.text, attr: { for: DataETS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETS.requiredClass, enable: DataETS.enable, value: DataETS.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETS.maxlength, id : DataETS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoInLand.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoInLand.text, attr: { for: TipoInLand.id }"></label>
                                        <select class="form-control" data-bind="class: TipoInLand.requiredClass, enable: TipoInLand.enable, options: TipoInLand.options, optionsText: 'text', optionsValue: 'value', value: TipoInLand.val, attr: { maxlength: TipoInLand.maxlength, id : TipoInLand.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETAOrigemFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETAOrigemFinal.text, attr: { for: DataETAOrigemFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: DataETAOrigemFinal.enable, value: DataETAOrigemFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETAOrigemFinal.maxlength, id : DataETAOrigemFinal.id}" />
                                    </div>
                                </div>                               
                                <div class="col-12 col-md-2" data-bind="visible: DataETASegundoDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETASegundoDestino.text, attr: { for: DataETASegundoDestino.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETASegundoDestino.requiredClass, enable: DataETASegundoDestino.enable, value: DataETASegundoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETASegundoDestino.maxlength, id : DataETASegundoDestino.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: MoedaCapatazia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MoedaCapatazia.text, attr: { for: MoedaCapatazia.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: MoedaCapatazia.requiredClass, value: MoedaCapatazia.val, valueUpdate: 'afterkeydown', attr: { maxlength: MoedaCapatazia.maxlength, id : MoedaCapatazia.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MoedaCapatazia.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: ValorCapatazia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorCapatazia.text, attr: { for: ValorCapatazia.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorCapatazia.requiredClass, enable: ValorCapatazia.enable, value: ValorCapatazia.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorCapatazia.maxlength, id : ValorCapatazia.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: ValorFrete.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorFrete.text, attr: { for: ValorFrete.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorFrete.requiredClass, enable: ValorFrete.enable, value: ValorFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFrete.maxlength, id : ValorFrete.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: FretePrepaid.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: FretePrepaid.text, attr: { for: FretePrepaid.id }"></label>
                                        <select class="form-control" data-bind="class: FretePrepaid.requiredClass, options: FretePrepaid.options, optionsText: 'text', enable: FretePrepaid.enable, optionsValue: 'value', value: FretePrepaid.val, attr: { maxlength: FretePrepaid.maxlength, id : FretePrepaid.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: PortoOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, enable: PortoOrigem.enable, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DescricaoPaisPortoCarregamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DescricaoPaisPortoCarregamento.text, attr: { for: DescricaoPaisPortoCarregamento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DescricaoPaisPortoCarregamento.requiredClass, enable: DescricaoPaisPortoCarregamento.enable, value: DescricaoPaisPortoCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoPaisPortoCarregamento.maxlength, id : DescricaoPaisPortoCarregamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-1" data-bind="visible: SiglaPaisPortoCarregamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SiglaPaisPortoCarregamento.text, attr: { for: SiglaPaisPortoCarregamento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SiglaPaisPortoCarregamento.requiredClass, enable: SiglaPaisPortoCarregamento.enable, value: SiglaPaisPortoCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: SiglaPaisPortoCarregamento.maxlength, id : SiglaPaisPortoCarregamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: PortoDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, enable: PortoDestino.enable, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DescricaoPaisPortoDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DescricaoPaisPortoDestino.text, attr: { for: DescricaoPaisPortoDestino.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DescricaoPaisPortoDestino.requiredClass,  enable: DescricaoPaisPortoDestino.enable, value: DescricaoPaisPortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoPaisPortoDestino.maxlength, id : DescricaoPaisPortoDestino.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-1" data-bind="visible: SiglaPaisPortoDestinoTransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SiglaPaisPortoDestinoTransbordo.text, attr: { for: SiglaPaisPortoDestinoTransbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SiglaPaisPortoDestinoTransbordo.requiredClass, enable: SiglaPaisPortoDestinoTransbordo.enable, value: SiglaPaisPortoDestinoTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: SiglaPaisPortoDestinoTransbordo.maxlength, id : SiglaPaisPortoDestinoTransbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: ModoTransporte.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ModoTransporte.text, attr: { for: ModoTransporte.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ModoTransporte.requiredClass, enable: ModoTransporte.enable, value: ModoTransporte.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModoTransporte.maxlength, id : ModoTransporte.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoTransporte.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoTransporte.text, attr: { for: TipoTransporte.id }"></label>
                                        <select class="form-control" data-bind="class: TipoTransporte.requiredClass, options: TipoTransporte.options, optionsText: 'text', optionsValue: 'value', enable: TipoTransporte.enable, value: TipoTransporte.val, attr: { maxlength: TipoTransporte.maxlength, id : TipoTransporte.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoEnvio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoEnvio.text, attr: { for: TipoEnvio.id }"></label>
                                        <select class="form-control" data-bind="class: TipoEnvio.requiredClass, options: TipoEnvio.options, optionsText: 'text', optionsValue: 'value', enable: TipoEnvio.enable, value: TipoEnvio.val, attr: { maxlength: TipoEnvio.maxlength, id : TipoEnvio.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoProbe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoProbe.text, attr: { for: TipoProbe.id }"></label>
                                        <select class="form-control" data-bind="class: TipoProbe.requiredClass, options: TipoProbe.options, optionsText: 'text', optionsValue: 'value', enable: TipoProbe.enable, value: TipoProbe.val, attr: { maxlength: TipoProbe.maxlength, id : TipoProbe.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroLacre.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroLacre.text, attr: { for: NumeroLacre.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroLacre.requiredClass, value: NumeroLacre.val,  enable: NumeroLacre.enable, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLacre.maxlength, id : NumeroLacre.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TerminalOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: TerminalOrigem.enable, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoContainer.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoContainer.text, attr: { for: TipoContainer.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="enable: TipoContainer.enable, css: TipoContainer.requiredClass, enable: TipoContainer.enable, value: TipoContainer.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoContainer.maxlength, id : TipoContainer.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: TipoContainer.enable, attr: { id: TipoContainer.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Container.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Container.requiredClass, value: Container.val, enable: Container.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NavioTransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NavioTransbordo.text, attr: { for: NavioTransbordo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: NavioTransbordo.requiredClass, enable: NavioTransbordo.enable, value: NavioTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NavioTransbordo.maxlength, id : NavioTransbordo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NavioTransbordo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Transbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Transbordo.text, attr: { for: Transbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Transbordo.requiredClass, enable: Transbordo.enable, value: Transbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transbordo.maxlength, id : Transbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroViagemTransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroViagemTransbordo.text, attr: { for: NumeroViagemTransbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroViagemTransbordo.requiredClass, enable: NumeroViagemTransbordo.enable, value: NumeroViagemTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroViagemTransbordo.maxlength, id : NumeroViagemTransbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: MensagemTransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MensagemTransbordo.text, attr: { for: MensagemTransbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: MensagemTransbordo.requiredClass,  enable: MensagemTransbordo.enable, value: MensagemTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: MensagemTransbordo.maxlength, id : MensagemTransbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETATransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETATransbordo.text, attr: { for: DataETATransbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETATransbordo.requiredClass, enable: DataETATransbordo.enable, value: DataETATransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETATransbordo.maxlength, id : DataETATransbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETSTransbordo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETSTransbordo.text, attr: { for: DataETSTransbordo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETSTransbordo.requiredClass, enable: DataETSTransbordo.enable, value: DataETSTransbordo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETSTransbordo.maxlength, id : DataETSTransbordo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: CargaPaletizada.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: CargaPaletizada.val, enable: CargaPaletizada.enable, attr: { maxlength: CargaPaletizada.maxlength, name: CargaPaletizada.id, id: CargaPaletizada.id }">
                                            <label class="custom-control-label" data-bind="text: CargaPaletizada.text, attr: { for: CargaPaletizada.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: PossuiGenset.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PossuiGenset.val, enable: PossuiGenset.enable, attr: { maxlength: PossuiGenset.maxlength, name: PossuiGenset.id, id: PossuiGenset.id }">
                                            <label class="custom-control-label" data-bind="text: PossuiGenset.text, attr: { for: PossuiGenset.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: JustificativaCancelamento.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: JustificativaCancelamento.val, enable: JustificativaCancelamento.enable, attr: { maxlength: JustificativaCancelamento.maxlength, name: JustificativaCancelamento.id, id: JustificativaCancelamento.id }">
                                            <label class="custom-control-label" data-bind="text: JustificativaCancelamento.text, attr: { for: JustificativaCancelamento.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="knockoutOutros">
                            <div class="row mt-3">
                                <div class="col-12 col-md-2" data-bind="visible: DataDeadLinePedido.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataDeadLinePedido.text, attr: { for: DataDeadLinePedido.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataDeadLinePedido.requiredClass, enable: DataDeadLinePedido.enable, value: DataDeadLinePedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDeadLinePedido.maxlength, id : DataDeadLinePedido.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SegundaDataDeadLineCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SegundaDataDeadLineCarga.text, attr: { for: SegundaDataDeadLineCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SegundaDataDeadLineCarga.requiredClass, enable: SegundaDataDeadLineCarga.enable, value: SegundaDataDeadLineCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: SegundaDataDeadLineCarga.maxlength, id : SegundaDataDeadLineCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SegundaDataDeadLineDraf.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SegundaDataDeadLineDraf.text, attr: { for: SegundaDataDeadLineDraf.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SegundaDataDeadLineDraf.requiredClass, enable: SegundaDataDeadLineDraf.enable, value: SegundaDataDeadLineDraf.val, valueUpdate: 'afterkeydown', attr: { maxlength: SegundaDataDeadLineDraf.maxlength, id : SegundaDataDeadLineDraf.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETASegundaOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETASegundaOrigem.text, attr: { for: DataETASegundaOrigem.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETASegundaOrigem.requiredClass, enable: DataETASegundaOrigem.enable, value: DataETASegundaOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETASegundaOrigem.maxlength, id : DataETASegundaOrigem.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataRetiradaContainerDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataRetiradaContainerDestino.text, attr: { for: DataRetiradaContainerDestino.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataRetiradaContainerDestino.requiredClass, enable: DataRetiradaContainerDestino.enable, value: DataRetiradaContainerDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetiradaContainerDestino.maxlength, id : DataRetiradaContainerDestino.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataETADestinoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETADestinoFinal.text, attr: { for: DataETADestinoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETADestinoFinal.requiredClass, enable: DataETADestinoFinal.enable, value: DataETADestinoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETADestinoFinal.maxlength, id : DataETADestinoFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoRota.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoRota.text, attr: { for: CodigoRota.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoRota.requiredClass, enable: CodigoRota.enable, value: CodigoRota.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoRota.maxlength, id : CodigoRota.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataETADestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataETADestino.text, attr: { for: DataETADestino.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataETADestino.requiredClass, enable: DataETADestino.enable, value: DataETADestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataETADestino.maxlength, id : DataETADestino.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataDepositoContainer.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataDepositoContainer.text, attr: { for: DataDepositoContainer.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataDepositoContainer.requiredClass, enable: DataDepositoContainer.enable, value: DataDepositoContainer.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDepositoContainer.maxlength, id : DataDepositoContainer.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataRetiradaContainer.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataRetiradaContainer.text, attr: { for: DataRetiradaContainer.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataRetiradaContainer.requiredClass, enable: DataRetiradaContainer.enable,  value: DataRetiradaContainer.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetiradaContainer.maxlength, id : DataRetiradaContainer.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataRetiradaVazio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataRetiradaVazio.text, attr: { for: DataRetiradaVazio.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: DataRetiradaVazio.enable,  value: DataRetiradaVazio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetiradaVazio.maxlength, id : DataRetiradaVazio.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataCarregamentoPedido.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataCarregamentoPedido.text, attr: { for: DataCarregamentoPedido.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataCarregamentoPedido.requiredClass, enable: DataCarregamentoPedido.enable, value: DataCarregamentoPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamentoPedido.maxlength, id : DataCarregamentoPedido.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntrega.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEntrega.text, attr: { for: DataPrevisaoEntrega.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEntrega.requiredClass, enable: DataPrevisaoEntrega.enable, value: DataPrevisaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntrega.maxlength, id : DataPrevisaoEntrega.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataConhecimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataConhecimento.text, attr: { for: DataConhecimento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataConhecimento.requiredClass, enable: DataConhecimento.enable, value: DataConhecimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataConhecimento.maxlength, id : DataConhecimento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroBL.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroBL.text, attr: { for: NumeroBL.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroBL.requiredClass, enable: NumeroBL.enable, value: NumeroBL.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBL.maxlength, id : NumeroBL.id}" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <footer id="knockoutCRUDBooking">
                            <div class="d-flex justify-content-end">
                                <span data-bind='component: {name: "import-file", params: { ko: Importar }}, visible: Importar.visible'></span>
                                @*<input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />*@
                                <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-default mx-3" />
                                <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, enable: Atualizar.enable, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-success" />
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalCancelarBooking" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="knockoutJustificativaCancelamentoBooking">
            <div class="modal-header">
                <h4 class="modal-title">Justificativa para Cancelamento do Booking</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-default">
                    <input type="button" data-bind="click: Confirmar.eventClick, attr: { value: Confirmar.text, id : Confirmar.id}" class="btn btn-success ms-3">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/booking"></script>

<script type="text/javascript">
    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    $(document).ready(function () {
        loadBooking();
    });
</script>

