
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pedidos</li>
        <li class="breadcrumb-item active">CancelamentoSaldoReserva</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Cancelamento Saldo Reserva
        </h1>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaCancelamentoSaldoReserva">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Pedidos Saldo Reserva
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFim.requiredClass, value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigosPedidos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosPedidos.text, attr: { for: CodigosPedidos.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigosPedidos.requiredClass, value: CodigosPedidos.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosPedidos.maxlength, id : CodigosPedidos.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosPedidos.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Deposito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Deposito.text, attr: { for: Deposito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Deposito.requiredClass, value: Deposito.val, valueUpdate: 'afterkeydown', attr: { maxlength: Deposito.maxlength, id : Deposito.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Deposito.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigosCanalEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosCanalEntrega.text, attr: { for: CodigosCanalEntrega.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigosCanalEntrega.requiredClass, value: CodigosCanalEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosCanalEntrega.maxlength, id : CodigosCanalEntrega.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosCanalEntrega.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigosLinhaSeparacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosLinhaSeparacao.text, attr: { for: CodigosLinhaSeparacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigosLinhaSeparacao.requiredClass, value: CodigosLinhaSeparacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosLinhaSeparacao.maxlength, id : CodigosLinhaSeparacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosLinhaSeparacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigosTipoDeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosTipoDeCarga.text, attr: { for: CodigosTipoDeCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigosTipoDeCarga.requiredClass, value: CodigosTipoDeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosTipoDeCarga.maxlength, id : CodigosTipoDeCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosTipoDeCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigosProdutos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosProdutos.text, attr: { for: CodigosProdutos.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigosProdutos.requiredClass, value: CodigosProdutos.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosProdutos.maxlength, id : CodigosProdutos.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosProdutos.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: CodigosGrupoProdutos.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigosGrupoProdutos.text, attr: { for: CodigosGrupoProdutos.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CodigosGrupoProdutos.requiredClass, value: CodigosGrupoProdutos.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosGrupoProdutos.maxlength, id : CodigosGrupoProdutos.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosGrupoProdutos.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: EstadosOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EstadosOrigem.text, attr: { for: EstadosOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: EstadosOrigem.requiredClass, value: EstadosOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadosOrigem.maxlength, id : EstadosOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadosOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: EstadosDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EstadosDestino.text, attr: { for: EstadosDestino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: EstadosDestino.requiredClass, value: EstadosDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadosDestino.maxlength, id : EstadosDestino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadosDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: CodigosCategoriaClientes.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigosCategoriaClientes.text, attr: { for: CodigosCategoriaClientes.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CodigosCategoriaClientes.requiredClass, value: CodigosCategoriaClientes.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosCategoriaClientes.maxlength, id : CodigosCategoriaClientes.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosCategoriaClientes.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: CodigosCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigosCarga.text, attr: { for: CodigosCarga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CodigosCarga.requiredClass, value: CodigosCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosCarga.maxlength, id : CodigosCarga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigosCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: GrupoPessoaRemetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoaRemetente.text, attr: { for: GrupoPessoaRemetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoaRemetente.requiredClass, value: GrupoPessoaRemetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoaRemetente.maxlength, id : GrupoPessoaRemetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoaRemetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: GrupoPessoaDestinatario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoaDestinatario.text, attr: { for: GrupoPessoaDestinatario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoaDestinatario.requiredClass, value: GrupoPessoaDestinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoaDestinatario.maxlength, id : GrupoPessoaDestinatario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoaDestinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: IdDemanda.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: IdDemanda.text, attr: { for: IdDemanda.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: IdDemanda.requiredClass, value: IdDemanda.val, valueUpdate: 'afterkeydown', attr: { maxlength: IdDemanda.maxlength, id : IdDemanda.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="d-flex justify-content-end">
                            <button class="btn btn-primary ms-2 mb-3" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                                <i data-bind="attr: { class: BuscaAvancada.icon }"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary ms-2 mb-3" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
        <div class="panel">
            <div class="panel-container" id="knockoutPedidosCancelamentoSaldoReserva">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Pedidos cancelamento saldo reserva
                    </h3>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class=" d-flex justify-content-end">
                            <button class="btn btn-primary ms-2" type="button" data-bind="click: CancelarSaldoReserva.eventClick, attr: { id: CancelarSaldoReserva.id}">
                                <span data-bind="text: CancelarSaldoReserva.text"></span>
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/pedido"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Pedidos.Pedido"]).then(loadCancelamentoSaldoReserva);
    });

</script>

<style type="text/css">

    hr {
        color: #e9e9e9;
    }

    /*.table-preferences-container {
        margin-bottom: 5px;
        border: 1px solid #e9e9e9;*/ /* #d0e2e2;*/
        /*text-align: justify;
    }*/

    .mod-skin-dark hr {
        color: rgba(255, 255, 255, 0.25);
    }

    /*.mod-skin-dark .table-preferences-container {
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    .table-preferences-container-action {
        padding: 5px;*/
        /*background-color: #eff5f5;*/
    /*}

    .table-preferences-container-columns {*/
        /*background-color: #eff5f5;*/
        /*padding: 5px 0 5px 5px;
        transition: height 2s;
    }

    .hidden {
        display: none;
    }*/

    /*.table-preferences-configurations {*/
        /*background-color: transparent;*/
        /*border: none;
        cursor: pointer;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        z-index: 1;
    }

    .table-preferences-container-action a {
        float: right;
        margin-left: 5px;
    }

    .table-preferences-container .table-preferences-container-action .table-preferences-configurations i {
        font-size: 20px;
    }*/
</style>

