
<style>
	.etapa {
		display: inline-block;
		width: 13.5%;
		height: 250px;
		align-items: center;
	}

		.etapa .descricaoEtapa {
			width: 100%;
			height: 40%;
			position: relative;
		}

			.etapa .descricaoEtapa div {
				width: 80%;
				height: 100%;
				position: relative;
				margin: 0 10%;
			}

			.etapa .descricaoEtapa span {
				position: absolute;
				bottom: 10px;
			}

		.etapa .iconeEtapa {
			height: 40%;
		}

		.etapa .line {
			position: relative;
			bottom: 45px;
			left: 50%;
			border: 2px solid #eef617;
			width: 100%;
		}

		.etapa .dataHoraEtapa {
			height: 20%;
		}

		.etapa div span {
			font-size: 16px;
			text-align: center;
			width: 100%;
		}

		.etapa .dataHoraEtapa span {
			display: block;
		}

	.icone {
		background: #FFFFFF;
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border: 2px solid #eef617;
		border-radius: 100%;
		position: relative;
		z-index: 999;
	}

		.icone img {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -25px;
		}

	.iconeEtapa .icone .iconeCheck {
		position: relative;
		font-size: 28px;
		left: 0px;
		top: 55px;
		z-index: 1000;
		color: #85cc00;
	}

	button.botaoRemessa {
		margin-top: 20px;
		padding: 20px;
		border: 1px solid #efefef;
		background-color: #efefef;
	}

		button.botaoRemessa i {
			display: block;
		}

	.divRemessas {
		position: relative;
		width: 60%;
		left: 20%;
		background-color: #efefef;
	}

	.remessa {
		padding: 30px 0;
	}

		.remessa h2 {
			text-align: center;
		}

	button.botaoDetalheRemessa {
		margin: 20px auto 0px auto;
		padding: 10px 20px;
		border: 1px solid #d9d9d9;
		background-color: #d9d9d9;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		button.botaoDetalheRemessa i {
			display: block;
		}

	.containerDetalheRemessa {
		width: 100%;
		background-color: #d9d9d9;
		padding-bottom: 20px;
	}

	.cabecalhoDetalheCarga {
		width: 60%;
		margin: 0 auto;
		padding-top: 20px;
	}

	section .tableDetalheRemessa {
		width: 80%;
		margin: 0 auto;
	}

	.tableDetalheRemessa .table thead th {
		background-color: #838383 !important;
		color: #ffffff !important;
		border-color: #626262;
	}

	.tableDetalheRemessa .dt-toolbar-footer {
		background: #d9d9d9;
	}

	.tableDetalheRemessa .paginate_button a {
		background-color: #c7c7c7;
	}

	.botaoRetorno {
		margin: 20px;
		text-align: center;
	}

		.botaoRetorno button {
			padding: 10px 50px;
		}
</style>
<ol class="breadcrumb page-breadcrumb">
	<li class="breadcrumb-item">Pedidos</li>
	<li class="breadcrumb-item active">Consultar Andamento Pedido</li>
</ol>
<div id="widget-grid">
	<div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
		<div id="knockoutConsultaPedido">
			<div class="smart-form" id="divConsultarPedido" style="display:none">
				<div class="col-12 col-md-12">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							<header>
								<h2>Monitorar Pedido</h2>
							</header>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-md-6" data-bind="visible: NumeroPedido.visible">
									<div class="form-group">
										<label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
										<input type="text" class="form-control" data-bind="value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
									</div>
								</div>
								<div data-bind="visible: BuscarDadosPedido.visible" class="col-12 col-md-2" style="margin-top:15px;">
									<div class="input-group-btn">
										<button data-bind="click: BuscarDadosPedido.eventClick, attr: { id: BuscarDadosPedido.idBtnSearch}" class="btn btn-primary  " style="margin-top:18px" type="button">
											<i class="fal fa-search"></i> Consultar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="divloginInvalido" style="display:none ">
				<header>
					<h2>Atenção </h2>
					<span id="spanMsg"></span>
				</header>
			</div>
		</div>
		<div id="divDadosPedido" style="display:none "></div>
	</div>
</div>
<div class="modal fade" id="divConfirmLogin" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content" id="knockoutLoginUser">
			<div class="modal-header">
				<div class="row">
					<div class="d-flex col-12 col-md-12">
						<h4 class="modal-title col-md-11" id="myModalLabel">Confirmação e-mail</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" style="margin-left:280px;">
							<i class="fal fa-times"></i>
						</button>
					</div>
					<div class="col-12 col-md-12">
						<span> Por favor confirme seu email no campo abaixo para prosseguir</span>
					</div>
				</div>
			</div>
			<div id="divSenha" class="modal-header" style="display:none">
				<button type="button" class="btn-close" data-bs-dismiss="modal">
					<i class="fal fa-times"></i>
				</button>
				<h4 class="modal-title">Bem-Vindo </h4> <b data-bind="text: nomeUsuario.val"></b><span>  Por favor confirme sua senha no campo abaixo para prosseguir</span>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-md-6" data-bind="visible: Email.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: Email.text, attr: { for: Email.id }"></label>
							<input type="text" class="form-control" data-bind="class: Email.requiredClass, value: Email.val, valueUpdate: 'afterkeydown', attr: { maxlength: Email.maxlength, id : Email.id}" />
						</div>
					</div>
					<div class="col-12 col-md-6" data-bind="visible: Senha.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: Senha.text, attr: { for: Senha.id }"></label>
							<input type="password" class="form-control" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
						</div>
					</div>
					<footer class="d-flex justify-content-end">
						<button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: ConfirmarEmail.eventClick, visible: ConfirmarEmail.visible, attr: { id : ConfirmarEmail.id}">
							<span data-bind="text: ConfirmarEmail.text"></span>
						</button>
						<button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: ConfirmarSenha.eventClick, visible: ConfirmarSenha.visible, attr: { id : ConfirmarSenha.id}">
							<span data-bind="text:ConfirmarSenha.text"></span>
						</button>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="divCadastroSenha" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content" id="knockoutNovoCadastro">
			<div class="modal-header">
				<div class="row">
					<div class="d-flex col-12 col-md-12">
						<h4 class="col-md-10 modal-title">Bem-Vindo</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" style="margin-left:300px;">
							<i class="fal fa-times"></i>
						</button>
					</div>
					<div class="col-12 col-md-12">
						<b data-bind="text: nomeUsuario.val"></b><span> Por favor complete os campos e crie uma nova senha para os proximos acessos</span>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-md-12" data-bind="visible: nomeUsuario.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: nomeUsuario.text, attr: { for: nomeUsuario.id }"></label>
							<input type="text" class="form-control" data-bind="class: nomeUsuario.requiredClass, value: nomeUsuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: nomeUsuario.maxlength, id : nomeUsuario.id}" />
						</div>
					</div>
					<div class="col-12 col-md-3" data-bind="visible: email.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: email.text, attr: { for: email.id }"></label>
							<input type="text" class="form-control" data-bind="class: email.requiredClass, value: email.val, valueUpdate: 'afterkeydown', attr: { maxlength: email.maxlength, id : email.id}" />
						</div>
					</div>
					<div class="col-12 col-md-3" data-bind="visible: CPF.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: CPF.text, attr: { for: CPF.id }"></label>
							<input type="text" class="form-control" data-bind="class: CPF.requiredClass, value: CPF.val, valueUpdate: 'afterkeydown', attr: { maxlength: CPF.maxlength, id : CPF.id}" />
						</div>
					</div>
					<div class="col-12 col-md-3" data-bind="visible: Senha.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: Senha.text, attr: { for: Senha.id }"></label>
							<input type="password" class="form-control" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
						</div>
					</div>
					<div class="col-12 col-md-3" data-bind="visible: ConfirmacaoSenha.visible">
						<div class="form-group">
							<label class="form-label" data-bind="text: ConfirmacaoSenha.text, attr: { for: ConfirmacaoSenha.id }"></label>
							<input type="password" class="form-control" data-bind="class: ConfirmacaoSenha.requiredClass, value: ConfirmacaoSenha.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfirmacaoSenha.maxlength, id : ConfirmacaoSenha.id}" />
						</div>
					</div>
					<footer class="d-flex justify-content-end">
						<button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: ConfirmarNovaSenha.eventClick, visible: ConfirmarNovaSenha.visible, attr: { id : ConfirmarNovaSenha.id}">
							<span data-bind="text:ConfirmarNovaSenha.text"></span>
						</button>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.configurations-header {
		padding: 8px 0;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
		font-size: 16px;
		font-weight: 300;
		color: #232323;
		margin: 15px 0;
	}
</style>

<script src="~/scripts/configuracaoObservacaoCTe"></script>
<script src="~/scripts/consultarAndamentoPedido"></script>
<script src="~/scripts/configuracaoEmissaoCTe"></script>
<script src="~/scripts/configuracaoLayoutEDI"></script>
<script src="~/scripts/configuracaoComponentesFrete"></script>


<script type="text/javascript">

	pageSetUp();

	$(document).ready(function () {

		var token = "@ViewBag.token";
		var codUserSap = "@ViewBag.codUserSap";
		var numOv = "@ViewBag.numOv";
		var User = "@ViewBag.NomeUsuario";

		loadConsultaAndamentoPedido(token, codUserSap, numOv, User);

	});

</script>

