<div class="subheader">
    <h1 class="subheader-title">Cotação Especial</h1>
</div>

<div class="page-content">
    <div id="knoutPesquisaCotacao">
        <form>
            <div class="row mb-4">
                <div class="col-12 col-md-2" data-bind="visible: StatusCotacaoEspecial.visible">
                    <div class="form-group">
                        <select class="form-control" data-bind="class: StatusCotacaoEspecial.requiredClass, options: StatusCotacaoEspecial.options, optionsText: 'text', optionsValue: 'value', value: StatusCotacaoEspecial.val, attr: { maxlength: StatusCotacaoEspecial.maxlength, id : StatusCotacaoEspecial.id }"></select>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataCotacaoInicial.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Selecione a data inicial" class="form-control" data-bind="class: DataCotacaoInicial.requiredClass, value: DataCotacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCotacaoInicial.maxlength, id : DataCotacaoInicial.id }" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataCotacaoFinal.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Selecione a data final" class="form-control" data-bind="class: DataCotacaoFinal.requiredClass, value: DataCotacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCotacaoFinal.maxlength, id : DataCotacaoFinal.id }" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Número do Pedido" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id }" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: NumeroCotacao.visible">
                    <div class="form-group">
                        <input type="text" placeholder="Número da Cotação" class="form-control" data-bind="class: NumeroCotacao.requiredClass, value: NumeroCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCotacao.maxlength, id : NumeroCotacao.id }" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: TipoModal.visible">
                    <div class="form-group">
                        <select class="form-control" data-bind="class: TipoModal.requiredClass, options: TipoModal.options, optionsText: 'text', optionsValue: 'value', value: TipoModal.val, attr: { maxlength: TipoModal.maxlength, id : TipoModal.id }"></select>
                    </div>
                </div>
            </div>
        </form>

        <table class="table colog-table" data-bind="attr: { id: Grid.id }"></table>
    </div>
</div>

<div id="knoutSimulacaoCotacao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Simulação Cotação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch }" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch }" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch }" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="d-flex align-items-center">
                        <div data-bind="visible: ValorSimulado.visible">
                            <div class="form-group">
                                <label data-bind="text: ValorSimulado.text, attr: { for: ValorSimulado.id }"></label>
                                <input type="text" class="form-control" data-bind="value: ValorSimulado.val, enable: ValorSimulado.enable, attr: { maxlength: ValorSimulado.maxlength, id: ValorSimulado.id }" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary ms-2" id="btnInformarManualmente" style="min-width: 180px;" onclick="informarManualmenteClick()">Informar valor manualmente</button>
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-default ms-2" id="btnCalcularFrete" style="min-width: 120px;">Calcular Frete</button>
                        <button type="button" class="btn btn-primary ms-2" id="btnConfirmarCotacao" style="min-width: 120px;" onclick="confirmarCotacaoClick()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/cotacaoEspecial"></script>

<script type="text/javascript">
    $(document).ready(function () {
        loadCotacaoEspecial();
    });
</script>
