


<div class="page-title">
    Detalhes da entrega
</div>

<div class="page-content pe-3">
    <div>
        <div class="well" id="knockoutPedidoResumo">
            <div class="mb-0 pb-0">
                <div class="row lista-detalhes">
                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: Cliente.text"></div>
                            <div data-bind="text: Cliente.val"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-address-card"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: DocumentoCliente.text"></div>
                            <div data-bind="text: DocumentoCliente.val"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: Destino.text"></div>
                            <div data-bind="text: Destino.val"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: Contato.text"></div>
                            <div data-bind="text: Contato.val"></div>
                        </div>
                    </div>
                </div>
                <div class="row lista-detalhes">
                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-file"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: CTe.text"></div>
                            <div data-bind="text: CTe.val"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-calendar"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: DataEmissao.text"></div>
                            <div data-bind="text: DataEmissao.val"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 item-detalhe">
                        <div class="item-icone">
                            <i class="fal fa-calendar"></i>
                        </div>
                        <div class="item-texto">
                            <div class="item-label" data-bind="text: DataEntrega.text"></div>
                            <div data-bind="text: DataEntrega.val"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="knockoutEtapaPedido">
            <div>
                <ul class="nav nav-steps">
                    <li data-target="#step1" data-bind="visible: Etapa1.visible">
                        <button class="active" data-bs-target="#knockoutPedido" data-bs-toggle="tab" data-bind="attr: {id: Etapa1.idTab }, click: Etapa1.eventClick, visible: Etapa1.visible">
                            <span class="step" data-bind="attr: {'data-content': Etapa1.tooltip, 'data-original-title': Etapa1.tooltipTitle }">
                                <i class="fal fa-book"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa1.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible: Etapa2.visible">
                        <button data-bs-target="#knockoutTransferencia" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                            <span class="step" data-bind="attr: {'data-content': Etapa2.tooltip, 'data-original-title': Etapa2.tooltipTitle }">
                                <i class="fal fa-download"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa2.text"></span>
                        </button>
                    </li>
                    <li data-target="#step3" data-bind="visible: Etapa3.visible">
                        <button data-bs-target="#knockoutRota" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                            <span class="step" data-bind="attr: {'data-content': Etapa3.tooltip, 'data-original-title': Etapa3.tooltipTitle }">
                                <i class="fal fa-truck"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa3.text"></span>
                        </button>
                    </li>
                    <li data-target="#step4" data-bind="visible: Etapa4.visible">
                        <button data-bs-target="#knockoutEntrega" data-bs-toggle="tab" data-bind="attr: {id : Etapa4.idTab }, click : Etapa4.eventClick">
                            <span class="step" data-bind="attr: {'data-content': Etapa4.tooltip, 'data-original-title': Etapa4.tooltipTitle }">
                                <i class="fal fa-check"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa4.text"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div id="myTabContentEtapa" class="tab-content">
            <div class="tab-pane fade active show" id="knockoutPedido">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well">
                            <table class="table colog-table" data-bind="attr: { id: Grid.id}"></table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="map" style="height: 380px;" data-bind="attr: { id: Mapa.id}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="knockoutTransferencia">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3" data-bind="visible: !PossuiEtapaTransferencia.val()">
                        <div class="well">
                            <div class="text-primary text-center">
                                <strong>Essa entrega não teve etapa de transferência</strong>
                            </div>
                        </div>
                    </div>

                    <div data-bind="visible: PossuiEtapaTransferencia.val" class="col-sm-6">
                        <div class="well" style="overflow: auto;">
                            <div class="col-sm-6">
                                <table class="table colog-table" data-bind="attr: { id: Grid.id}"></table>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="text-primary">Em transferência</h3>

                                <ul class="lista-timeline">
                                    <!-- ko foreach: { data: Ocorrencias.val(), as: 'Ocorrencia' } -->
                                    <li class="timeline-success">
                                        <span data-bind="text: Ocorrencia.DataOcorrencia" class="timeline-date"></span>
                                        <span data-bind="text: Ocorrencia.Descricao"></span>
                                    </li>
                                    <!-- /ko -->
                                    @*<li class="timeline-danger">
                                            <span class="timeline-date">Qua, 12 de abril 21:00</span>

                                            <div>Em direção ao TP de Ubatuba</div>
                                            <div>Em direção ao TP de Ubatuba</div>
                                            <div>Em direção ao TP de Ubatuba</div>
                                            <div>Em direção ao TP de Ubatuba</div>
                                            <div class="timeline-links">
                                                <a href="#">Ocultar detalhes</a>
                                                <a href="#">Solicitar atendimento</a>
                                            </div>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6" data-bind="visible: PossuiEtapaTransferencia.val">
                        <div class="well">
                            <div class="box-map-container">
                                <div class="box-map-header">
                                    <div class="box-map">
                                        <i class="fal fa-clock"></i> Previsão de chegada <strong data-bind="text: DataPrevista.val"></strong>
                                    </div>
                                </div>
                                <div class="map" style="height: 380px;" data-bind="attr: { id: Mapa.id}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="knockoutRota">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well" style="overflow: auto;">
                            <div class="col-sm-6">
                                <table class="table colog-table" data-bind="attr: { id: Grid.id}"></table>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="text-primary">Em rota</h3>

                                <ul class="lista-timeline">
                                    <!-- ko foreach: { data: Ocorrencias.val(), as: 'Ocorrencia' } -->
                                    <li class="timeline-success">
                                        <span data-bind="text: Ocorrencia.DataOcorrencia" class="timeline-date">Qua, 12 de abril 21:00</span>

                                        <span data-bind="text: Ocorrencia.Descricao"></span>
                                    </li>
                                    <!-- /ko -->
                                    @*<li class="timeline-success"></li><li class="timeline-warning"></li><li class="timeline-danger"></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="box-map-container">
                                <div class="box-map-header">
                                    <div class="box-map">
                                        <i class="fal fa-clock"></i> Previsão de chegada <strong data-bind="text: DataPrevista.val"></strong>
                                    </div>
                                </div>
                                <div class="map" style="height: 380px;" data-bind="attr: { id: Mapa.id}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade etapa-entrega" id="knockoutEntrega">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well" style="overflow: auto;">
                            <div class="col-sm-6">
                                <table class="table colog-table" data-bind="attr: { id: Grid.id}"></table>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="text-primary">Entregue</h3>

                                <ul class="lista-timeline">
                                    <!-- ko foreach: { data: Ocorrencias.val(), as: 'Ocorrencia' } -->
                                    <li class="timeline-success">
                                        <span data-bind="text: Ocorrencia.DataOcorrencia" class="timeline-date">Qua, 12 de abril 21:00</span>

                                        <span data-bind="text: Ocorrencia.Descricao"></span>
                                    </li>
                                    <!-- /ko -->
                                    @*<li class="timeline-success"></li><li class="timeline-warning"></li><li class="timeline-danger"></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <div class="box-map-container">
                                <div class="box-map-header">
                                    <div class="box-map">
                                        <i class="fal fa-clock"></i> Previsão de chegada <strong data-bind="text: DataPrevista.val"></strong>
                                    </div>
                                </div>
                                <div class="map" style="height: 380px;" data-bind="attr: { id: Mapa.id}"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <div class="icon-highlight warning pull-left">
                                <i class="fal fa-star"></i>
                            </div>

                            <div class="text-primary">
                                <strong>Avalie sua entrega</strong>
                            </div>
                            <div>
                                <div class="rating" data-bind="attr: { id: Avaliacao.id }">
                                    <!-- ko foreach: Avaliacao.estrelas -->
                                    <input type="radio" name="evaluate" data-bind="checkedValue: $data, checked: $root.Avaliacao.val(), attr: { id: 'star-rate-' + $data }, enable: $root.Avaliacao.enable" />
                                    <label class="full" data-bind="attr: { for: 'star-rate-' + $data }"></label>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="text-muted">Escolha de 1 a 5 estrelas para classificar</div>

                            <div class="clear"></div>

                            <textarea rows="4" class="form-control mt-4" type="text" data-bind="value: Observacao.val, enable: Observacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>

                            <button data-bind="click: Salvar.eventClick, visible: Salvar.visible, text: Salvar.text, attr: { id : Salvar.id}" class="btn btn-primary mt-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="knockoutModalCanhotos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Canhotos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
            </div>
            <div class="modal-body padding-bottom-0">
                <div class="row container-imagens" style="display: block;">
                    <!-- ko foreach: { data: Imagens.val, as: 'imagem' } -->
                    <div class="col col-xs-12 margin-bottom-20">
                        <div data-bind="css: { 'container-img': true, 'possui-imagem': imagem.Miniatura != null, 'sem-imagem': imagem.Miniatura == null }">
                            <div class="img-canhoto">
                                <!-- ko if: imagem.Miniatura != null -->
                                <img class="" data-bind="attr: { src:  'data:image/png;base64,' + imagem.Miniatura }" />
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Compartilhar</button>
                <button type="button" class="btn btn-secondary">Download</button>
            </div>
        </div>
    </div>
</div>

<style>
    .container-imagens .possui-imagem,
    .container-imagens .sem-imagem,
    .container-imagens .thumb-pdf {
        border: 1px solid #d0d0d0;
        border-radius: 3px;
    }

    .container-imagens .thumb-pdf {
        padding: 25px 0;
    }

    .container-imagens .possui-imagem .img-canhoto img {
        width: 100%;
    }

    .container-imagens .sem-imagem .img-canhoto,
    .container-imagens .thumb-pdf .img-canhoto {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
    }

    .container-imagens .sem-imagem .img-canhoto {
        height: 150px;
    }

    .container-imagens .thumb-pdf .img-canhoto {
        height: 100px;
    }

    @@media(max-width: 991px) {
        .container-imagens .sem-imagem .img-canhoto {
            height: 100px;
        }

        .container-imagens .thumb-pdf {
            padding: 20px 0;
        }

            .container-imagens .thumb-pdf .img-canhoto {
                height: 60px;
            }
    }

    .container-imagens .sem-imagem .img-canhoto {
        background-image: url('../img/sem_foto.jpg');
    }

    .container-imagens .thumb-pdf .img-canhoto {
        background-image: url('../img/thumb_pdf.png');
        opacity: 0.45;
    }

    .etapa-entrega .icon-highlight {
        margin-right: 30px;
    }

    .etapa-entrega .container-visualizar-canhotos {
        padding-top: 7px;
    }
</style>

<script src="~/scripts/fontawesomemarkers"></script>
<script src="~/scripts/pedidoCliente"></script>
<script src="~/scripts/detalheEntrega"></script>
<script type="text/javascript">
    var _telaDetalheEntrega = null;
    var _modalCanhotosPedidos = null;

    $(document).ready(function () {
        _telaDetalheEntrega = new DetalheEntrega();
        _telaDetalheEntrega.Load("knockoutModalCanhotos");
        _telaDetalheEntrega.CarregarPorNotificacaoGlogal();
        _modalCanhotosPedidos = new ModalCanhotosPedidos();
        _modalCanhotosPedidos.Load("knockoutModalCanhotos");
    });
</script>
