
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Importacao TakePay</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Importação de planilhas Embarque Certo / No Show 
    </h1>
</div>
<section>

    <div id="knockoutImportarImportacaoTakePay">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr" data-bind="click: Exibir.eventClick, id: Exibir.id">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Importar Planilha...
                    </h3>
                </div>
                <div class="panel-content" data-bind="id: Exibir.idFade, fadeVisible: Exibir.visibleFade">
                    <form>
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center">
                                <span data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-container" id="knockoutPesquisaImportacaoTakePay">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar importações
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Planilha.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Planilha.text, attr: { for: Planilha.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Planilha.requiredClass, value: Planilha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Planilha.maxlength, id : Planilha.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Funcionario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Mensagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Mensagem.requiredClass, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id}" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div id="container-importacao-takepay-conteudo">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Importações realizadas
                    </h3>
                    <div class="mt-3">
                        <form>
                            <div class="row" id="container-importacao-takepay">
                                <table width="100%" class="table table-bordered table-hover table-condensed" id="grid-importacao-takepay" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div id="divModalImportacaoTakePayLinha" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Linhas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped tableCursorMove" id="grid-importacao-takepay-linha" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>


<div id="divModalImportacaoTakePayColuna" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Colunas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped tableCursorMove" id="grid-importacao-takepay-coluna" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/importacaoTakePay"></script>
<script type="text/javascript">
    pageSetUp();
    $(document).ready(function () {
        loadImportacaoTakePay();
    });
</script>

