
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Número Carregamento por Lote</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Marca de Produtos
    </h1>
</div>

<div id="knockoutPesquisaPedidosLoteCarregamento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Lotes e Carregamentos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Lote.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Lote.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Lote.requiredClass, value: Lote.val, valueUpdate: 'afterkeydown', attr: { maxlength: Lote.maxlength, id : Lote.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Carregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carregamento.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Carregamento.requiredClass, value: Carregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carregamento.maxlength, id : Carregamento.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Definir número de carregamento por lote
            </h3>
        </div>
        <div class="panel-content">
            <div class="row" id="knockoutNumeroCarregamentoPorLote">
                <div class="col-12 col-md-6" data-bind="visible: NumeroLote.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NumeroLote.text"></label>
                        <input type="text" class="form-control" data-bind="class: NumeroLote.requiredClass, value: NumeroLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLote.maxlength, id : NumeroLote.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: NumeroCarregamento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NumeroCarregamento.text"></label>
                        <input type="text" class="form-control" data-bind="class: NumeroCarregamento.requiredClass, value: NumeroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarregamento.maxlength, id : NumeroCarregamento.id}" />
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end mb-4">
                    <button type="button" class="btn btn-success waves-effect waves-themed ms-2" data-bind="click: Validar.eventClick, visible: Validar.visible, attr: { value: Validar.text, id : Validar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Validar.text"></span>
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-themed ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
                <div class="widget-body">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Lista.idGrid}" cellspacing="0"></table>
                </div>
                <div class="d-flex align-items-center justify-content-end mt-2">
                    <button class="btn btn-primary" type="button" data-bind="enable: Salvar.enable,click: Salvar.eventClick, attr: { id: Salvar.id}">
                        <span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalEditarNumeroCarregamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutCRUDNumeroCarregamento" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alterar Número Carregamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: NumeroCarregamento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NumeroCarregamento.text"></label>
                        <input type="text" class="form-control" data-bind="class: NumeroCarregamento.requiredClass, value: NumeroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarregamento.maxlength, id : NumeroCarregamento.id}" />
                    </div>
                </div>
            </div>
            <footer class="d-flex align-items-center justify-content-end mb-2">
                <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                    <i class="fal fa-trash"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button class="btn btn-success me-2" type="button" data-bind="click: Confirmar.eventClick, attr: { id: Confirmar.id}">
                    <i class="fal fa-check"></i><span data-bind="text: Confirmar.text"></span>
                </button>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/numeroCarregamentoPorLote"></script>
<script type="text/javascript">

    $(document).ready(function () {
        load();
    });

</script>

