
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Pedido SVM</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Pedido de SVM
    </h1>
</div>

<div id="knockoutPesquisaPedidoSVM">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Pedidos de SVM
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedido.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-10" data-bind="visible: PedidoViagemNavio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemNavio.text, attr: { for: PedidoViagemNavio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PedidoViagemNavio.requiredClass, value: PedidoViagemNavio.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PedidoViagemNavio.text, maxlength: PedidoViagemNavio.maxlength, id: PedidoViagemNavio.id, name: PedidoViagemNavio.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PedidoViagemNavio.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TerminalOrigem.text, maxlength: TerminalOrigem.maxlength, id: TerminalOrigem.id, name: TerminalOrigem.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalOrigem.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TerminalDestino.text, maxlength: TerminalDestino.maxlength, id: TerminalDestino.id, name: TerminalDestino.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalDestino.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Pedido de SVM
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutPedidoSVM">
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroPedido.text"></label>
                            <input type="text" class="form-control" data-bind="value: NumeroPedido.val, enable: NumeroPedido.enable, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataColeta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataColeta.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataColeta.val, enable: DataColeta.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataColeta.maxlength, id : DataColeta.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-8" data-bind="visible: PedidoViagemNavio.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PedidoViagemNavio.text, attr: { for: PedidoViagemNavio.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: PedidoViagemNavio.requiredClass, value: PedidoViagemNavio.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PedidoViagemNavio.text, maxlength: PedidoViagemNavio.maxlength, id: PedidoViagemNavio.id, name: PedidoViagemNavio.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PedidoViagemNavio.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TerminalOrigem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TerminalOrigem.text, maxlength: TerminalOrigem.maxlength, id: TerminalOrigem.id, name: TerminalOrigem.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalOrigem.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TerminalDestino.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TerminalDestino.text, maxlength: TerminalDestino.maxlength, id: TerminalDestino.id, name: TerminalDestino.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TerminalDestino.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text"></label>
                            <textarea type="text" rows="5" class="form-control" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: SomenteCargaPerigosa.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteCargaPerigosa.val, valueUpdate: 'afterkeydown', attr: { name: SomenteCargaPerigosa.id, id : SomenteCargaPerigosa.id}">
                                <label class="custom-control-label" data-bind="text: SomenteCargaPerigosa.text, attr: { for: SomenteCargaPerigosa.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/pedidoSVM"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPedidoSVM();
    });

</script>