
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Regra Tomador</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Configuração de Regras para Tomador
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(1828)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaRegraTomador">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Regras para Tomador
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: OrigemFilial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: OrigemFilial.text, attr: { for: OrigemFilial.id }"></label>
                                    <select class="form-control" data-bind="class: OrigemFilial.requiredClass, options: OrigemFilial.options, optionsText: 'text', optionsValue: 'value', value: OrigemFilial.val, attr: { maxlength: OrigemFilial.maxlength, id : OrigemFilial.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DestinoFilial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DestinoFilial.text, attr: { for: DestinoFilial.id }"></label>
                                    <select class="form-control" data-bind="class: DestinoFilial.requiredClass, options: DestinoFilial.options, optionsText: 'text', optionsValue: 'value', value: DestinoFilial.val, attr: { maxlength: DestinoFilial.maxlength, id : DestinoFilial.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-10" data-bind="visible: Tomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                        <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa mx-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Regra para Tomador
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroRegraTomador">
                    <div class="panel">
                        <div class="panel-container">
                            <div class="panel-hdr">
                                <h3>
                                    Parâmetros
                                </h3>
                            </div>
                            <div class="panel-content">

                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: Remetente.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: OrigemFilial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: OrigemFilial.text, attr: { for: OrigemFilial.id }"></label>
                                            <select class="form-control" data-bind="class: OrigemFilial.requiredClass, options: OrigemFilial.options, optionsText: 'text', optionsValue: 'value', value: OrigemFilial.val, attr: { maxlength: OrigemFilial.maxlength, id : OrigemFilial.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DestinoFilial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DestinoFilial.text, attr: { for: DestinoFilial.id }"></label>
                                            <select class="form-control" data-bind="class: DestinoFilial.requiredClass, options: DestinoFilial.options, optionsText: 'text', optionsValue: 'value', value: DestinoFilial.val, attr: { maxlength: DestinoFilial.maxlength, id : DestinoFilial.id}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-container">
                            <div class="panel-hdr">
                                <h3>
                                    Retornos
                                </h3>
                            </div>
                            <div class="panel-content">
                                <form>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-12 col-md-4" data-bind="visible: TipoTomador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoTomador.text, attr: { for: TipoTomador.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoTomador.requiredClass, options: TipoTomador.options, optionsText: 'text', optionsValue: 'value', value: TipoTomador.val, attr: { maxlength: TipoTomador.maxlength, id : TipoTomador.id }, event: { change : TipoTomador.eventChange }"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Tomador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCadastroRegraTomadorCRUD">
                    <div class="row ">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span data-bind='component: {name: "import-file", params: { ko: Importar }}, visible: Importar.visible'></span>
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-3" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-3" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>

            </form>
        </div>
    </div>
</div>









<script src="~/scripts/regraTomador"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRegraTomador();
    });

</script>

