
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Regras para Planejamento de Frota</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Cadastro de Regras para Planejamento de Frota
    </h1>
</div>

<div id="knockoutPesquisaTabelaFreteCliente">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Regras para Planejamento de Frota
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroSequencial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroSequencial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroSequencial.requiredClass, value: NumeroSequencial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroSequencial.maxlength, id : NumeroSequencial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: VigenciaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: VigenciaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: VigenciaInicial.requiredClass, value: VigenciaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: VigenciaInicial.maxlength, id : VigenciaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: VigenciaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: VigenciaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: VigenciaFinal.requiredClass, value: VigenciaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: VigenciaFinal.maxlength, id : VigenciaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>

                            <!-- Busca Avançada -->
                            <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-4" data-bind="visible: GrupoPessoas.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-4" data-bind="visible: CidadeOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CidadeOrigem.text, attr: { for: CidadeOrigem.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CidadeOrigem.requiredClass, value: CidadeOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: CidadeOrigem.maxlength, id : CidadeOrigem.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CidadeOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-4" data-bind="visible: EstadoOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                            <select class="form-control" data-bind="class: EstadoOrigem.requiredClass, options: EstadoOrigem.options, optionsText: 'text', optionsValue: 'value', value: EstadoOrigem.val, attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}"></select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-4" data-bind="visible: CidadeDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CidadeDestino.text, attr: { for: CidadeDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CidadeDestino.requiredClass, value: CidadeDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: CidadeDestino.maxlength, id : CidadeDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CidadeDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-4" data-bind="visible: EstadoDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                            <select class="form-control" data-bind="class: EstadoDestino.requiredClass, options: EstadoDestino.options, optionsText: 'text', optionsValue: 'value', value: EstadoDestino.val, attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}"></select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoOpercao.text, attr: { for: TipoOpercao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: TipoOpercao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOpercao.maxlength, id : TipoOpercao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoOpercao.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroResultdo.text, attr: { for: CentroResultdo.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: CentroResultdo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultdo.maxlength, id : CentroResultdo.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultdo.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloVeicular.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NivelCooperado.text, attr: { for: NivelCooperado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: NivelCooperado.val, valueUpdate: 'afterkeydown', attr: { maxlength: NivelCooperado.maxlength, id : NivelCooperado.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: NivelCooperado.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa mx-3 waves-effect waves-themed" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i>
                            <span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="tabRegraPlanejamentoFrota">
                <li class="nav-item active" id="liTabCadastroRegraPlanejamentoFrota">
                    <a href="#tabCadastroRegraPlanejamentoFrota" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Paramêtros de entrada</span>
                    </a>
                </li>
                <li class="nav-item active" id="liTabRegras">
                    <a href="#tabCadastroRegra" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Regras</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-1 border-top-0 mt-0 p-3" id="tabRegraPlanejamentoFrotaContent">
                <div class="tab-pane fade active show" id="tabCadastroRegraPlanejamentoFrota">
                    <div id="knockoutCadastroRegraPlanejamentoFrota">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroSequencial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroSequencial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroSequencial.requiredClass, value: NumeroSequencial.val, enable: NumeroSequencial.enable, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroSequencial.maxlength, id : NumeroSequencial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: VigenciaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: VigenciaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: VigenciaInicial.requiredClass, value: VigenciaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: VigenciaInicial.maxlength, id : VigenciaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: VigenciaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: VigenciaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: VigenciaFinal.requiredClass, value: VigenciaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: VigenciaFinal.maxlength, id : VigenciaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorDeDaMercadoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorDeDaMercadoria.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorDeDaMercadoria.requiredClass, value: ValorDeDaMercadoria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDeDaMercadoria.maxlength, id : ValorDeDaMercadoria.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorAteDaMercadoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorAteDaMercadoria.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorAteDaMercadoria.requiredClass, value: ValorAteDaMercadoria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAteDaMercadoria.maxlength, id : ValorAteDaMercadoria.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoFrota.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoFrota.text, attr: { for: TipoFrota.id }"></label>
                                    <select class="form-control" data-bind="class: TipoFrota.requiredClass, options: TipoFrota.options, optionsText: 'text', optionsValue: 'value', value: TipoFrota.val, attr: { maxlength: TipoFrota.maxlength, id : TipoFrota.id}"></select>
                                </div>
                            </div>
                        </div>

                        <!-- Origem e Destino -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Card Origem -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title"><i class="fal fa-map-marker-alt"></i> Origens</div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item active" id="liTabCidadesOrigem">
                                                <a href="#tabCidadesOrigem" class="nav-link active" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Cidades</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabClientesOrigem">
                                                <a href="#tabClientesOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Clientes</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabEstadosOrigem">
                                                <a href="#tabEstadosOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Estados</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabRegioesOrigem">
                                                <a href="#tabRegioesOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Regiões</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabRotasOrigem">
                                                <a href="#tabRotasOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Rotas</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabCEPsOrigem">
                                                <a href="#tabCEPsOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Faixa de CEP</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabPaisesOrigem">
                                                <a href="#tabPaisesOrigem" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Países</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content border border-1 border-top-0 mt-0 p-3">
                                            <!-- Cidades -->
                                            <div class="tab-pane fade active show" id="tabCidadesOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: Origem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Clientes -->
                                            <div class="tab-pane fade" id="tabClientesOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: ClienteOrigem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: ClienteOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridClienteOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Estados -->
                                            <div class="tab-pane fade" id="tabEstadosOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: EstadoOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEstadoOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Regiões -->
                                            <div class="tab-pane fade" id="tabRegioesOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: RegiaoOrigem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: RegiaoOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridRegiaoOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Rotas -->
                                            <div class="tab-pane fade" id="tabRotasOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: RotaOrigem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: RotaOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridRotaOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Faixas de CEP -->
                                            <div class="tab-pane fade" id="tabCEPsOrigem">
                                                <div class="row mb-3">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridCEPOrigem.id}" cellspacing="0"></table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-6" data-bind="visible: CEPOrigemInicial.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: CEPOrigemInicial.text"></label>
                                                            <input type="text" class="form-control" data-bind="value: CEPOrigemInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPOrigemInicial.maxlength, id : CEPOrigemInicial.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6" data-bind="visible: CEPOrigemFinal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: CEPOrigemFinal.text"></label>
                                                            <input type="text" class="form-control" data-bind="value: CEPOrigemFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPOrigemFinal.maxlength, id : CEPOrigemFinal.id}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button class="btn btn-success waves-effect waves-themed" data-bind="click: AdicionarCEPOrigem.eventClick, visible: AdicionarCEPOrigem.visible, attr: { id : AdicionarCEPOrigem.id}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: AdicionarCEPOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Países -->
                                            <div class="tab-pane fade" id="tabPaisesOrigem">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: PaisOrigem.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: PaisOrigem.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridPaisOrigem.id}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Card Destino -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title"><i class="fal fa-map-marker-alt"></i> Destinos</div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item active" id="liTabCidadesDestino">
                                                <a href="#tabCidadesDestino" class="nav-link active" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Cidades</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabClientesDestino">
                                                <a href="#tabClientesDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Clientes</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabEstadosDestino">
                                                <a href="#tabEstadosDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Estados</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabRegioesDestino">
                                                <a href="#tabRegioesDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Regiões</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabRotasDestino">
                                                <a href="#tabRotasDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Rotas</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabCEPsDestino">
                                                <a href="#tabCEPsDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Faixa de CEP</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" id="liTabPaisesDestino">
                                                <a href="#tabPaisesDestino" class="nav-link" data-bs-toggle="tab">
                                                    <span class="hidden-mobile hidden-tablet">Países</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content border border-1 border-top-0 mt-0 p-3">

                                            <!-- Cidades -->
                                            <div class="tab-pane fade active show" id="tabCidadesDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: Destino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Clientes -->
                                            <div class="tab-pane fade" id="tabClientesDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: ClienteDestino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: ClienteDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridClienteDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Estados -->
                                            <div class="tab-pane fade" id="tabEstadosDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: EstadoDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEstadoDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Regiões -->
                                            <div class="tab-pane fade" id="tabRegioesDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: RegiaoDestino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: RegiaoDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridRegiaoDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Rotas -->
                                            <div class="tab-pane fade" id="tabRotasDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: RotaDestino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: RotaDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridRotaDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <!-- Faixas de CEP -->
                                            <div class="tab-pane fade" id="tabCEPsDestino">
                                                <div class="row mb-3">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridCEPDestino.id}" cellspacing="0"></table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-6" data-bind="visible: CEPDestinoInicial.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: CEPDestinoInicial.text"></label>
                                                            <input type="text" class="form-control" data-bind="value: CEPDestinoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPDestinoInicial.maxlength, id : CEPDestinoInicial.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6" data-bind="visible: CEPDestinoFinal.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: CEPDestinoFinal.text"></label>
                                                            <input type="text" class="form-control" data-bind="value: CEPDestinoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPDestinoFinal.maxlength, id : CEPDestinoFinal.id}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6" data-bind="visible: CEPDestinoDiasUteis.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: CEPDestinoDiasUteis.text"></label>
                                                            <input type="text" class="form-control" data-bind="value: CEPDestinoDiasUteis.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPDestinoDiasUteis.maxlength, id : CEPDestinoDiasUteis.id}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button class="btn btn-success waves-effect waves-themed" data-bind="click: AdicionarCEPDestino.eventClick, visible: AdicionarCEPDestino.visible, attr: { id : AdicionarCEPDestino.id}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: AdicionarCEPDestino.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Países -->
                                            <div class="tab-pane fade" id="tabPaisesDestino">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: PaisDestino.idBtnSearch}" type="button">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: PaisDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridPaisDestino.id}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Cards abaixo de Origem e Destino -->
                    <div class="row mt-4">
                        <div class="col-12 col-md-3" id="knockoutGruposPessoasRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Grupos de Pessoas da Carga</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: GrupoPessoa.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutTipoOperacaoRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Tipos de Operação</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: TipoOperacao.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutTiposCargasRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Tipos de Carga dos Pedidos</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: TipoCarga.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutCentroResultadoRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Centros de Resultado</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: CentroResultado.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-3" id="knockoutModeloVeicularCargaRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Modelo Veicular de Carga</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: ModeloVeicularCarga.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutNivelCooperadoRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Nível de Cooperado</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: NivelCooperado.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: NivelCooperado.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabCadastroRegra">

                    <!-- Cards -->
                    <div class="row">
                        <div class="col-12 col-md-3" id="knockoutModeloVeicularCargaTracaoRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Modelos Veiculares de Tração da Carga</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCargaTracao.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: ModeloVeicularCargaTracao.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutModeloVeicularCargaReboqueRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Modelos Veiculares de Reboque da Carga</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCargaReboque.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: ModeloVeicularCargaReboque.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutTecnologiaRastreadorRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Tecnologia do Rastreador</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: TecnologiaRastreador.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: TecnologiaRastreador.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutLicencaRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Tipo de Licença</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: Licenca.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: Licenca.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-3" id="knockoutLiberacaoGRRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Liberação de GR de Motorista</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: LiberacaoGR.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: LiberacaoGR.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" id="knockoutLiberacaoGRVeiculoRegraPlanejamentoFrota">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title"><i class="fal fa-map-marker-alt"></i> Liberação de GR de Veículo</div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade active show">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                            <div class="col-12 d-flex justify-content-end mt-2">
                                                <button class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: LiberacaoGRVeiculo.idBtnSearch}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: LiberacaoGRVeiculo.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" id="knockoutCadastroRegra">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: TipoDePropriedade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDePropriedade.text, attr: { for: TipoDePropriedade.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDePropriedade.requiredClass, options: TipoDePropriedade.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoDePropriedade.val, attr: { maxlength: TipoDePropriedade.maxlength, id : TipoDePropriedade.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDeCarroceria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeCarroceria.text, attr: { for: TipoDeCarroceria.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDeCarroceria.requiredClass, options: TipoDeCarroceria.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoDeCarroceria.val, attr: { maxlength: TipoDeCarroceria.maxlength, id : TipoDeCarroceria.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDeProprietario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeProprietario.text, attr: { for: TipoDeProprietario.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDeProprietario.requiredClass, options: TipoDeProprietario.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoDeProprietario.val, attr: { maxlength: TipoDeProprietario.maxlength, id : TipoDeProprietario.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CategoriaDaCNH.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CategoriaDaCNH.text, attr: { for: CategoriaDaCNH.id }"></label>
                                    <select class="form-control" data-bind="class: CategoriaDaCNH.requiredClass, options: CategoriaDaCNH.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CategoriaDaCNH.val, attr: { maxlength: CategoriaDaCNH.maxlength, id : CategoriaDaCNH.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDaTracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDaTracao.text, attr: { for: TipoDaTracao.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDaTracao.requiredClass, options: TipoDaTracao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoDaTracao.val, attr: { maxlength: TipoDaTracao.maxlength, id : TipoDaTracao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CondicaoParaLicencas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CondicaoParaLicencas.text, attr: { for: CondicaoParaLicencas.id }"></label>
                                    <select class="form-control" data-bind="class: CondicaoParaLicencas.requiredClass, options: CondicaoParaLicencas.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CondicaoParaLicencas.val, attr: { maxlength: CondicaoParaLicencas.maxlength, id : CondicaoParaLicencas.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CondicaoParaLiberacoesGR.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CondicaoParaLiberacoesGR.text, attr: { for: CondicaoParaLiberacoesGR.id }"></label>
                                    <select class="form-control" data-bind="class: CondicaoParaLiberacoesGR.requiredClass, options: CondicaoParaLiberacoesGR.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CondicaoParaLiberacoesGR.val, attr: { maxlength: CondicaoParaLiberacoesGR.maxlength, id : CondicaoParaLiberacoesGR.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeCarga.requiredClass, value: QuantidadeCarga.val, enable: QuantidadeCarga.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeCarga.maxlength, id : QuantidadeCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-1" data-bind="visible: PeriodoQuantidadeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PeriodoQuantidadeCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="class: PeriodoQuantidadeCarga.requiredClass, value: PeriodoQuantidadeCarga.val, enable: PeriodoQuantidadeCarga.enable, valueUpdate: 'afterkeydown', attr: { maxlength: PeriodoQuantidadeCarga.maxlength, id : PeriodoQuantidadeCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-1" data-bind="visible: TipoPeriodoQuantidadeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPeriodoQuantidadeCarga.text, attr: { for: TipoPeriodoQuantidadeCarga.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPeriodoQuantidadeCarga.requiredClass, options: TipoPeriodoQuantidadeCarga.options, optionsText: 'text', optionsValue: 'value', value: TipoPeriodoQuantidadeCarga.val, attr: { maxlength: TipoPeriodoQuantidadeCarga.maxlength, id : TipoPeriodoQuantidadeCarga.id}"></select>
                                </div>
                            </div>
                        </div>
                        <!-- Campos bool -->
                        <div class="col-12 col-md-6" data-bind="visible: ValidarPorQuantidadeMotorista.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ValidarPorQuantidadeMotorista.val, attr: { maxlength: ValidarPorQuantidadeMotorista.maxlength, name: ValidarPorQuantidadeMotorista.id, id: ValidarPorQuantidadeMotorista.id }">
                                    <label class="custom-control-label" data-bind="text: ValidarPorQuantidadeMotorista.text, attr: { for: ValidarPorQuantidadeMotorista.id }"></label>
                                </div>                               
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasTracaoComIdadeMaxima.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasTracaoComIdadeMaxima.val, attr: { maxlength: ApenasTracaoComIdadeMaxima.maxlength, name: ApenasTracaoComIdadeMaxima.id, id: ApenasTracaoComIdadeMaxima.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasTracaoComIdadeMaxima.text, attr: { for: ApenasTracaoComIdadeMaxima.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: IdadeMaximaTracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: IdadeMaximaTracao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: IdadeMaximaTracao.requiredClass, value: IdadeMaximaTracao.val, enable: IdadeMaximaTracao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: IdadeMaximaTracao.maxlength, id : IdadeMaximaTracao.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasReboqueComIdadeMaxima.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasReboqueComIdadeMaxima.val, attr: { maxlength: ApenasReboqueComIdadeMaxima.maxlength, name: ApenasReboqueComIdadeMaxima.id, id: ApenasReboqueComIdadeMaxima.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasReboqueComIdadeMaxima.text, attr: { for: ApenasReboqueComIdadeMaxima.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: IdadeMaximaReboque.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: IdadeMaximaReboque.text"></label>
                                        <input type="text" class="form-control" data-bind="class: IdadeMaximaReboque.requiredClass, value: IdadeMaximaReboque.val, enable: IdadeMaximaReboque.enable, valueUpdate: 'afterkeydown', attr: { maxlength: IdadeMaximaReboque.maxlength, id : IdadeMaximaReboque.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: LimitarPelaAlturaCarreta.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: LimitarPelaAlturaCarreta.val, attr: { maxlength: LimitarPelaAlturaCarreta.maxlength, name: LimitarPelaAlturaCarreta.id, id: LimitarPelaAlturaCarreta.id }">
                                    <label class="custom-control-label" data-bind="text: LimitarPelaAlturaCarreta.text, attr: { for: LimitarPelaAlturaCarreta.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: MetrosAlturaCarreta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MetrosAlturaCarreta.text"></label>
                                        <input type="text" class="form-control" data-bind="class: MetrosAlturaCarreta.requiredClass, value: MetrosAlturaCarreta.val, enable: MetrosAlturaCarreta.enable, valueUpdate: 'afterkeydown', attr: { maxlength: MetrosAlturaCarreta.maxlength, id : MetrosAlturaCarreta.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasComInformacoesDeIscaInformadaNoPedido.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasComInformacoesDeIscaInformadaNoPedido.val, attr: { maxlength: ApenasComInformacoesDeIscaInformadaNoPedido.maxlength, name: ApenasComInformacoesDeIscaInformadaNoPedido.id, id: ApenasComInformacoesDeIscaInformadaNoPedido.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasComInformacoesDeIscaInformadaNoPedido.text,  attr: { for: ApenasComInformacoesDeIscaInformadaNoPedido.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: QuantidadeIsca.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: QuantidadeIsca.text"></label>
                                        <input type="text" class="form-control" data-bind="class: QuantidadeIsca.requiredClass, value: QuantidadeIsca.val, enable: QuantidadeIsca.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeIsca.maxlength, id : QuantidadeIsca.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasComInformacoesDeEscoltaInformadaNoPedido.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasComInformacoesDeEscoltaInformadaNoPedido.val, attr: { maxlength: ApenasComInformacoesDeEscoltaInformadaNoPedido.maxlength, name: ApenasComInformacoesDeEscoltaInformadaNoPedido.id, id: ApenasComInformacoesDeEscoltaInformadaNoPedido.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasComInformacoesDeEscoltaInformadaNoPedido.text, attr: { for: ApenasComInformacoesDeEscoltaInformadaNoPedido.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: QuantidadeEscolta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: QuantidadeEscolta.text"></label>
                                        <input type="text" class="form-control" data-bind="class: QuantidadeEscolta.requiredClass, value: QuantidadeEscolta.val, enable: QuantidadeEscolta.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeEscolta.maxlength, id : QuantidadeEscolta.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: LimitarPelaAlturaCavalo.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: LimitarPelaAlturaCavalo.val, attr: { maxlength: LimitarPelaAlturaCavalo.maxlength, name: LimitarPelaAlturaCavalo.id, id: LimitarPelaAlturaCavalo.id }">
                                    <label class="custom-control-label" data-bind="text: LimitarPelaAlturaCavalo.text, attr: { for: LimitarPelaAlturaCavalo.id }"></label>
                                </div>
                                <div class="col-12 col-md-4 mt-2" data-bind="visible: MetrosAlturaCavalo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MetrosAlturaCavalo.text"></label>
                                        <input type="text" class="form-control" data-bind="class: MetrosAlturaCavalo.requiredClass, value: MetrosAlturaCavalo.val, enable: MetrosAlturaCavalo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: MetrosAlturaCavalo.maxlength, id : MetrosAlturaCavalo.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: ApenasVeiculosComRastreadorAtivo.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasVeiculosComRastreadorAtivo.val, attr: { maxlength: ApenasVeiculosComRastreadorAtivo.maxlength, name: ApenasVeiculosComRastreadorAtivo.id, id: ApenasVeiculosComRastreadorAtivo.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasVeiculosComRastreadorAtivo.text, attr: { for: ApenasVeiculosComRastreadorAtivo.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasVeiculoQuePossuiTravaQuintaRoda.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasVeiculoQuePossuiTravaQuintaRoda.val, attr: { maxlength: ApenasVeiculoQuePossuiTravaQuintaRoda.maxlength, name: ApenasVeiculoQuePossuiTravaQuintaRoda.id, id: ApenasVeiculoQuePossuiTravaQuintaRoda.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasVeiculoQuePossuiTravaQuintaRoda.text, attr: { for: ApenasVeiculoQuePossuiTravaQuintaRoda.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasVeiculoQuePossuiImobilizador.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasVeiculoQuePossuiImobilizador.val, attr: { maxlength: ApenasVeiculoQuePossuiImobilizador.maxlength, name: ApenasVeiculoQuePossuiImobilizador.id, id: ApenasVeiculoQuePossuiImobilizador.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasVeiculoQuePossuiImobilizador.text, attr: { for: ApenasVeiculoQuePossuiImobilizador.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ValidarQuantidadeVeiculoEReboque.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ValidarQuantidadeVeiculoEReboque.val, attr: { maxlength: ValidarQuantidadeVeiculoEReboque.maxlength, name: ValidarQuantidadeVeiculoEReboque.id, id: ValidarQuantidadeVeiculoEReboque.id }">
                                    <label class="custom-control-label" data-bind="text: ValidarQuantidadeVeiculoEReboque.text, attr: { for: ValidarQuantidadeVeiculoEReboque.id }"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <footer id="knockoutCRUDCadastroTabelaFreteCliente" class="mt-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-default waves-effect waves-themed me-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-danger waves-effect waves-themed me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-success waves-effect waves-themed" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-success waves-effect waves-themed" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<style type="text/css">
    #tblValores thead tr th {
        width: 149px !important;
        height: auto;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
        max-height: 50px;
        vertical-align: baseline;
    }

    #tblValores tbody tr td {
        overflow: visible;
    }

        #tblValores tbody tr td .dropdown-toggle, #tblValores .btn {
            padding: 6px 12px !important;
            margin-right: -2px;
        }
</style>

<script src="~/scripts/regraPlanejamentoFrota"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadRegraPlanejamentoFrota();
    });
</script>