
<style>
	.info {
		display: inline;
	}

	.font-bold {
		font-weight: bold !important;
	}
</style>
<section id="widget-grid">
	<ol class="breadcrumb page-breadcrumb">
		<li class="breadcrumb-item">Pedidos</li>
		<li class="breadcrumb-item active">RetiradaProdutoLista</li>
	</ol>
	<div class="panel" id="knockoutPesquisaRetiradaProduto">
		<div class="panel-container">
			<div class="panel-content" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
				@*<button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
				<i class="fal fa-search"></i> Agendamentos
				</button>*@
				<div class="subheader">
					<h1 class="subheader-title">
						<i class="subheader-icon fal fa-file-check"></i>{Localize::Pedidos.RetiradaProdutoLista.Agendamentos}
					</h1>
				</div>
				<div data-bind="id: ExibirFiltros.idFade">
					<form>
						<div class="row mt-3">

							<div class="col-12 col-md-2" data-bind="visible: NumeroPedidoEmbarcador.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: NumeroPedidoEmbarcador.text, attr: { for: NumeroPedidoEmbarcador.id }"></label>
									<input type="text" class="form-control" data-bind="class: NumeroPedidoEmbarcador.requiredClass, value: NumeroPedidoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedidoEmbarcador.maxlength, id : NumeroPedidoEmbarcador.id}" />
								</div>
							</div>

							<div class="col-12 col-md-4" data-bind="visible: Filial.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
									<div class="input-group">
										<input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
										<div class="input-group-append">
											<button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
												<i class="fal fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
									<div class="input-group">
										<input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
										<div class="input-group-append">
											<button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
												<i class="fal fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-2" data-bind="visible: NumeroCarregamento.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: NumeroCarregamento.text, attr: { for: NumeroCarregamento.id }"></label>
									<input type="text" class="form-control" data-bind="class: NumeroCarregamento.requiredClass, value: NumeroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarregamento.maxlength, id : NumeroCarregamento.id}" />
								</div>
							</div>

							<div class="col-12 col-md-2" data-bind="visible: SituacaoCarregamento.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: SituacaoCarregamento.text, attr: { for: SituacaoCarregamento.id }"></label>
									<select class="form-control" data-bind="class: SituacaoCarregamento.requiredClass, options: SituacaoCarregamento.options, optionsText: 'text', optionsValue: 'value', value: SituacaoCarregamento.val, attr: { maxlength: SituacaoCarregamento.maxlength, id : SituacaoCarregamento.id}"></select>
								</div>
							</div>

							<div class="col-12 col-md-2" data-bind="visible: NomeTransportadora.visible">
								<div class="form-group">
									<label class="form-label" data-bind="text: NomeTransportadora.text, attr: { for: NomeTransportadora.id }"></label>
									<input type="text" class="form-control" data-bind="class: NomeTransportadora.requiredClass, value: NomeTransportadora.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeTransportadora.maxlength, id : NomeTransportadora.id}" />
								</div>
							</div>

							<div class="col-12 col-md-2" data-bind="visible: SituacaoAgendamento.visible">
								<div class="form-group">
									<label class="form-label" data-bind="attr: { for: SituacaoAgendamento.id }">@Localization.Resources.Pedidos.RetiradaProdutoLista.SituacaoAgendamento:</label>
									<select class="form-control" data-bind="class: SituacaoAgendamento.requiredClass, options: SituacaoAgendamento.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAgendamento.val, attr: { maxlength: SituacaoAgendamento.maxlength, id : SituacaoAgendamento.id}"></select>
								</div>
							</div>

							<div class="d-flex justify-content-end mb-3">
								<button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
									<i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
								</button>
							</div>
							<table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.configurations-header {
		padding: 8px 0;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
		font-size: 16px;
		font-weight: 300;
		color: #232323;
		margin: 15px 0;
	}
</style>

<script src="~/scripts/configuracaoObservacaoCTe"></script>
<script src="~/scripts/retiradaProduto"></script>
<script src="~/scripts/configuracaoEmissaoCTe"></script>
<script src="~/scripts/configuracaoLayoutEDI"></script>
<script src="~/scripts/configuracaoComponentesFrete"></script>

<script type="text/javascript">

	pageSetUp();

	$(document).ready(function () {
		var gerente = @ViewBag.Gerente;

		LoadLocalizationResources("Pedidos.RetiradaProdutoLista").then(function () {
			loadRetiradaProdutoLista(gerente);
		});

	});

</script>
