@model Dominio.ObjetosDeValor.Embarcador.GerenciadorDeConexoes.MultiClifor.AcessoViaTokenMultiCliforView
@{
    Layout = "~/Views/GerenciadorDeConexoes/MultiClifor/AcessoViaTokenMultiClifor.cshtml";
}
<div class="smart-form">
    <fieldset class="main-fieldset">
        <header>
            <h1 class="h3">Portal MultiClifor</h1>
        </header>
        <div class="margin-top-15">
            <div class="col col-sm-12">
                <div class="well">
                    <header></header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <div class="alert alert-warning">
                                    @if (Model.UsuarioAutenticado)
                                    {
                                        <script type="text/javascript">
                                            location.pathname = "";
                                            location.href = "/#/Home";
                                        </script>
                                    }
                                </div>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
</div>