@{
    Layout = "~/Views/GerenciadorDeConexoes/MultiClifor/AcessoViaTokenMultiClifor.cshtml";
}
<div class="smart-form">
    <fieldset class="main-fieldset">
        <header>
            <h1 class="h3">Portal MultiClifor</h1>
        </header>
        <div class="margin-top-15">
            <div class="col col-sm-12">
                <div class="well">
                    <header>Link de acesso inválido</header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <div class="alert alert-warning">
                                    Não foi possível localizar um Usuário com este Token: <strong>"@Html.Raw(ViewBag.Token)"</strong>
                                </div>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script>
    $(document).ready(function () {
        $("#content")
            .removeClass("container-fluid")
            .addClass("container");
    });
</script>