@{
    ViewBag.Title = "Importação";
}

<h2>
    Importar Dados Bancarios Terceiros Tombini
</h2>
@using (Html.BeginForm("ImportarDadosBancariosTerceiros", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}


<h2>
    Importar Pedidos Simonetti
</h2>
@using (Html.BeginForm("ImportarPedidosSimonetti", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}


<h2>
    Importar Tabelas de Fretes Prosyst
</h2>
@using (Html.BeginForm("ImportarTabelaFrete", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />
    

}  


<h2>
    Importar Transportadores Prosyst
</h2>
@using (Html.BeginForm("ImportarTransportador", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}


<h2>
    Importar Veículos 
</h2>
@using (Html.BeginForm("ImportarVeiculos", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}

<h2>
    Importar Grupos de Produtos
</h2>
@using (Html.BeginForm("ImportarGrupoProduto", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}

<h2>
    Importar Produtos
</h2>
@using (Html.BeginForm("ImportarProduto", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />


}

<h2>
    Pesquisar Distancias
</h2>
@using (Html.BeginForm("BuscarDisntaciasDasAPIs", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="submit" value="Pesquisar Distancias" />


}

<h2>
    Importar Clientes
</h2>
@using (Html.BeginForm("ImportarClientes", "ImportacaoProsyst", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}

