/* Bordas: #d9dde9 */
/* Cor principal: #475999 */
/* Cor fonte: #5a627b */

:root {
    --cor-principal: #475999; /* Cor principal */
    --cor-notifications-principal: #334172;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Roboto-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 111px;
    color: #5a627b;
    /*background-color: #fbfcff;*/
    background: #fbfcff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f9ff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f9ff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f7f9ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f9ff',GradientType=0 );
    min-height: 100vh;
}

.text-muted {
    color: #5a627b !important;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--cor-principal);
    font-weight: bold;
}

.btn-opacity {
    background-color: transparent;
    color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    font-weight: bold;
}

    .btn-opacity:hover,
    .btn-opacity:focus,
    .btn-opacity:not(:disabled):not(.disabled).active,
    .btn-opacity:not(:disabled):not(.disabled):active {
        background-color: rgba(48, 54, 140, .1);
    }

.btn-consultar {
    background-color: #f9763d !important;
    border: none;
}

.bootstrapWizard li {
    position: relative;
}


    .bootstrapWizard li .step.liberado {
        background-color: var(--cor-principal) !important;
    }

    .bootstrapWizard li .step {
        background-color: #dae2ff !important;
    }

    .bootstrapWizard li.active .step,
    .bootstrapWizard li.active.complete .step {
        background-color: #374576 !important;
    }

    .bootstrapWizard li .step .title {
        color: var(--cor-principal);
    }

    .bootstrapWizard li:before {
        margin-top: -5px;
        position: absolute !important;
        top: 50% !important;
        right: 0px !important;
    }

    .bootstrapWizard li:last-child:before {
        left: 0;
    }

    .bootstrapWizard li .step {
        width: 95px;
        height: 95px;
        display: inline-block !important;
        line-height: 90px !important;
        border: none !important;
    }

        .bootstrapWizard li .step i {
            font-size: 25px !important
        }

header.header {
    padding: 30px 0;
    border-bottom: 1px solid #d9dde9;
    background-color: #fefeff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 810;
}

    header.header .header-logo {
        height: 70px;
    }

        header.header .header-logo img {
            height: 100%;
        }

    header.header .search-form form {
        display: block;
        text-align: center;
        line-height: 50px;
    }

    header.header .search-form .search-input {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 500px;
    }

    header.header .search-form .btb-consultar {
        background-color: #f9763d
    }

    header.header .header-actions {
        text-align: right;
        border-left: 1px solid #d9dde9;
        line-height: 50px;
        font-size: 25px;
    }

        header.header .header-actions .dropdown-toggle::after {
            display: none;
        }

        header.header .header-actions.open .dropdown-menu {
            display: block;
            right: calc(-25%);
            left: auto;
        }

        header.header .header-actions i {
            margin: auto 5px;
            color: var(--cor-principal);
        }

        header.header .header-actions a:hover {
            text-decoration: none;
        }


nav.main-nav {
    min-height: 100vh;
}

    nav.main-nav ul {
        padding: 0;
        margin: 0;
    }

    nav.main-nav li {
        list-style: none;
        display: block;
        position: relative;
        margin-bottom: 3px;
    }

        nav.main-nav li a {
            display: inline-block;
            width: 100%;
            padding: 15px 20px;
        }

        nav.main-nav li.active::after,
        nav.main-nav li:hover::after {
            content: '';
            width: 7px;
            height: 100%;
            background-color: var(--cor-principal);
            display: block;
            position: absolute;
            right: -7px;
            top: 0;
            border-radius: 5px;
        }

        nav.main-nav li:hover,
        nav.main-nav li.active {
            background-color: #fcfcfc;
        }

            nav.main-nav li:hover a,
            nav.main-nav li.active a {
                color: var(--cor-principal);
            }

    nav.main-nav a {
        color: #fcfcfc;
    }

        nav.main-nav a:hover {
            text-decoration: none;
        }

    nav.main-nav .menu-icon,
    nav.main-nav .menu-title {
        display: block;
        text-align: center;
    }

    nav.main-nav .menu-icon {
        font-size: 25px;
        margin-bottom: 5px;
    }


body.notifications-open {
    overflow: hidden;
}

.open-notification {
    position: relative;
}

.has-notification:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    right: 14px;
    background-color: #f9763d;
    border-radius: 8px;
}

.notifications-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 998;
}

aside.notifications {
    padding: 40px;
    background-color: var(--cor-notifications-principal);
    color: #fcfcfc;
    width: 40%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    padding-top: 40px;
    z-index: 999;
}

.notifications {
}

    .notifications .close {
        color: #fcfcfc;
        text-shadow: none;
        font-size: 20px;
        position: absolute;
        right: 30px;
        top: 30px;
        opacity: 1;
    }

    .notifications .notifications-list {
        margin-top: 20px;
        padding-right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

        .notifications .notifications-list::-webkit-scrollbar {
            width: 5px;
        }

        .notifications .notifications-list::-webkit-scrollbar-track {
            background-color: darkgrey;
        }

        .notifications .notifications-list::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .notifications .notifications-list a,
        .notifications .notifications-list a:hover {
            color: #5a627b;
            text-decoration: none;
        }

        .notifications .notifications-list .notification {
            background-color: #fcfcfc;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 10px;
            font-size: 14px;
        }

            .notifications .notifications-list .notification.notification-unread {
                background-color: #dee5f7;
            }

            .notifications .notifications-list .notification:hover {
                background-color: #eff1f6;
            }

        .notifications .notifications-list .notification-icon {
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 57px;
            font-size: 10px;
            border-radius: 50%;
        }

        .notifications .notifications-list .notification-icon-success {
            background-color: #dffff6;
            color: #00966d;
        }

        .notifications .notifications-list .notification-icon-danger {
            background-color: #f2e6eb;
            color: #ff83b7;
        }

        .notifications .notifications-list .notification-icon-warning {
            background-color: #fff3d8;
            color: #f9ae0b;
        }

        .notifications .notifications-list .notification-icon-info {
            background-color: #def9ff;
            color: #0096b7;
        }

main {
}

    main #content {
        padding: 10px 15px;
        position: relative;
    }


#content .dt-toolbar-footer {
    width: 100%;
}

#content .jarviswidget > header {
    line-height: 34px !important;
}

    #content .jarviswidget > header > div {
        margin-top: 0 !important;
    }

.modal-open main {
    z-index: inherit;
}



#content .page-title, #content .subheader-title {
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.6rem;
}

#content .page-content {
}


/*Inputs*/
.form-control {
    border-radius: 5px;
    font-size: 16px;
}

label.select {
    width: 100%;
}

/*Lista Detalhes*/
.lista-detalhes {
}

    .lista-detalhes .item-detalhe {
        margin-bottom: 15px;
    }

        .lista-detalhes .item-detalhe:after {
            content: '';
            display: block;
            clear: both;
        }

        .lista-detalhes .item-detalhe .item-icone {
            color: var(--cor-principal);
            float: left;
            width: 50px;
            line-height: 2.7em;
            text-align: center;
        }

            .lista-detalhes .item-detalhe .item-icone:after {
                content: '';
                display: block;
                clear: both;
            }

        .lista-detalhes .item-detalhe .item-label {
            color: #979eb8;
            font-size: 13px;
        }

        .lista-detalhes .item-detalhe .item-texto {
        }

/*Filter Boxes*/
.filter-boxes {
    margin-bottom: 30px;
}

    .filter-boxes .col-box {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .filter-boxes .box {
        border: 2px solid #d9dde9;
        border-radius: 10px;
        text-align: center;
        background-color: #fcfcfc;
        padding: 10px 0;
        cursor: pointer;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .filter-boxes .box:hover,
        .filter-boxes .box.active {
            border-color: var(--cor-principal);
            background-color: #f1f2f9;
        }

    .filter-boxes.with-arrow .box:after {
        content: "\f078";
        font: normal normal normal 18px/1;
        margin-top: 10px;
        display: inline-block;
        font-family: 'Font Awesome 5 Pro';
    }

    .filter-boxes .box .filter-name {
    }

    .filter-boxes .box .filter-number {
        font-size: 28px;
        font-weight: bold;
    }

/*TimeLine*/
.lista-timeline {
    list-style: none;
}

    .lista-timeline li {
        margin-bottom: 15px;
    }

        .lista-timeline li::after {
            content: "";
            display: block;
            clear: both;
        }

        .lista-timeline li::before {
            content: "\2022";
            color: #757575;
            font-size: 25px;
            float: left;
            margin-left: -1em;
            margin-top: -0.35em;
        }

        .lista-timeline li .timeline-date {
            color: #979eb8;
            font-size: 13px;
            float: right;
        }

    .lista-timeline .timeline-success::before {
        color: #b1dfbb;
    }

    .lista-timeline .timeline-warning::before {
        color: #ffdf7e;
    }

    .lista-timeline .timeline-danger::before {
        color: #f1b0b7;
    }

    .lista-timeline .timeline-links {
        text-align: center;
    }

        .lista-timeline .timeline-links a,
        .lista-timeline .timeline-links .link {
            padding: 3px 15px;
            font-size: 13px;
            border-right: 1px solid #dae2ff;
        }

            .lista-timeline .timeline-links a:last-child,
            .lista-timeline .timeline-links .link:last-child {
                border-right-color: transparent;
            }

/*MapBox*/
.box-map-container {
    position: relative;
}

    .box-map-container .map {
    }

    .box-map-container .box-map-header {
        text-align: center;
        margin-top: 10px;
        position: absolute;
        z-index: 99;
        width: 100%;
    }

    .box-map-container .box-map {
        background-color: var(--cor-principal);
        color: #f7f8fc;
        border-radius: .25rem;
        display: inline-block;
        padding: .75rem 1.50rem;
    }

/*Table*/
table.table.colog-table {
    border: 2px solid #d9dde9;
    overflow: inherit;
    border-collapse: separate !important;
    border-radius: 10px;
}

    table.table.colog-table > thead > tr > th {
        padding: 30px 15px !important;
        background-color: #fcfcfc;
        color: #5a627b;
        font-weight: bold;
        font-size: 16px;
        border-bottom: none;
    }

    table.table.colog-table > tbody > tr > td {
        padding: 15px !important;
    }

    table.table.colog-table tbody tr[role="row"]:hover td,
    table.table.colog-table tbody tr[role="row"].shown td {
        background-color: #eff3ff;
        border-color: #a4b8ff;
    }

    table.table.colog-table.dt-row-expandable > tbody > tr[role="row"] > .row-exapand,
    table.table.colog-table.dt-row-clickable > tbody > tr[role="row"] > td:not(.row-exapand) {
        cursor: pointer;
    }

table.table td.row-exapand .expand-row-icon:after {
    content: "\f078";
    font: normal normal normal 18px/1;
    display: inline-block;
    font-family: 'Font Awesome 5 Pro';
}

table.table tr.shown td.row-exapand .expand-row-icon:after {
    content: "\f077";
}


/*IconHighlight*/
.icon-highlight {
    width: 50px;
    height: 50px;
    line-height: 47px;
    border-radius: 50px;
    text-align: center;
}

    .icon-highlight.success {
        background-color: #dffff6;
        color: #00966d;
    }

    .icon-highlight.danger {
        background-color: #f2e6eb;
        color: #ff83b7;
    }

    .icon-highlight.warning {
        background-color: #fff3d8;
        color: #f9ae0b;
    }

    .icon-highlight.info {
        background-color: #def9ff;
        color: #0096b7;
    }

    .icon-highlight + .icon-highlight-title {
        line-height: 47px;
        color: var(--cor-principal);
        font-weight: bold;
        margin-left: 70px;
    }


/*Well*/
.well {
    background-color: #fcfcfc;
    border: 2px solid #eff1f6;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px 10px #eaecf7;
    box-shadow: 0 0 25px 10px #eaecf7;
    padding: 19px;
    margin-bottom: 20px;
}

.well-dark {
    background-color: #f1f2f9;
}

.well .well-title .well-title-icon {
    float: left;
}

    .well .well-title .well-title-icon::after {
        content: '';
        display: block;
        clear: both;
    }

.sub-menu-hidden {
    display: none !important;
}

.sub-menu {
    background-color: #7f80b9;
    margin-top: -3px;
    max-width: 112px;
}

    .sub-menu li {
        color: white;
        padding: 4px 0px 4px 30px;
        font-size: 14px;
    }

        .sub-menu li:hover {
            color: var(--cor-principal);
            cursor: pointer;
        }

    .sub-menu a {
        padding: 0 !important;
    }

/* Relatórios */

.colunas-preferencias-hidden .table-preferences-container {
    display: none !important;
}

div.responsive-container {
    display: flex;
    padding-top: 20px;
}

    div.responsive-container div.nav-container {
        padding-top: 10px;
        width: 110px;
        background-color: var(--cor-principal);
    }

    div.responsive-container div.main-container {
        width: calc(100% - 110px);
        padding-left: 7px;
    }

#content .nav-steps li button .step {
    height: 70px;
    width: 70px;
}

#content .nav-steps li:before, #content .nav-steps li:after {
    top: 35px;
}

#content .nav-steps li button .step {
    background: #dae2ff;
}

    #content .nav-steps li button .step.yellow {
        background-color: var(--cor-principal) !important;
    }

    #content .nav-steps li button .step.liberado {
        background-color: var(--cor-principal) !important;
    }

#content .nav-steps li button.active.complete,
#content .nav-steps li button.complete {
    background-color: #374576 !important;
}

    #content .nav-steps li button.active .step,
    #content .nav-steps li button.active.complete .step {
        background: linear-gradient(to bottom, #ffffff 0%,#f7f9ff 100%) !important;
        color: var(--cor-principal) !important;
        font-weight: bold;
        padding: 7px 13px;
        font-size: 15px;
        border-radius: 50%;
        border: 2px solid var(--cor-principal) !important;
    }


#content .nav-steps li:before, #content .nav-steps li:after {
    border-top: 2px solid #55606e;
}