<section id="widget-grid">
    <div class="container-box">
        <div class="contain-actions">
            <div class="w-100">
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item">Gestão de Pallets</li>
                    <li class="breadcrumb-item active">Controle de Saldos</li>
                </ol>

                <div class="subheader">
                    <h1 class="subheader-title"> Controle de Saldos </h1>
                </div>
            </div>
            <div class="header-search" id="knoutCabecalhoControleSaldo">
                <div class="layout-and-filters">
                    <div class="box-search" style="margin-right:0px">
                        <div class="button-filter" onclick="exibirFiltros()"></div>
                    </div>
                </div>
                <div id="carousel-filters" class="carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">

                        <div class="carousel-item active" id="abaSituacao">
                            <div class="bar-view-config">
                                <span>Situações</span>
                                <div class="view-selection" id="view-select-cards">
                                    <div class="view-select-button" data-bind="click: Todos.eventClick, attr: { id: Todos.id }">
                                        <div class="icon-number" data-bind="text: Todos.val"></div>
                                        <span data-bind="text: Todos.text"></span>
                                    </div>
                                    <div class="vr"></div>
                                    <div class="view-select-button" data-bind="click: Pendente.eventClick, attr: { id: Pendente.id }">
                                        <div class="icon-number" data-bind="text: Pendente.val"></div>
                                        <span data-bind="text: Pendente.text"></span>
                                    </div>
                                    <div class="vr"></div>
                                    <div class="view-select-button" data-bind="click: Devolvido.eventClick, attr: { id: Devolvido.id }">
                                        <div class="icon-number" data-bind="text: Devolvido.val"></div>
                                        <span data-bind="text: Devolvido.text"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center pt-5">
                                <h2>Total de Pallet Pendente: <span data-bind="text: PalettsPendente.val, css: PalettsPendente.requiredClass"></span></h2>
                                <h2>Total de Pallet Disponível: <span data-bind="text: TotalSaldo.val, css: TotalSaldo.requiredClass"></span></h2>
                                <h2>Total de Pallet Reservado: <span data-bind="text: PalettsReservado.val, css: PalettsReservado.requiredClass"></span></h2>
                            </div>
                        </div>

                        <div class="carousel-item" id="abaNotaFiscal">
                            <div class="bar-view-config">
                                <span>Notas Fiscais</span>
                                <div class="view-selection" id="view-select-cards">
                                    <div class="view-select-button" data-bind="click: NotasNoPrazo.eventClick, attr: { id: NotasNoPrazo.id }">
                                        <div class="icon-number" data-bind="text: NotasNoPrazo.val, visible: NotasNoPrazo.visible"></div>
                                        <span data-bind="text: NotasNoPrazo.text, visible: NotasNoPrazo.visible"></span>
                                    </div>
                                    <div class="vr" data-bind="visible: NotasVencido.visible"></div>
                                    <div class="view-select-button" data-bind="click: NotasVencido.eventClick, attr: { id: NotasVencido.id }">
                                        <div class="icon-number" data-bind="text: NotasVencido.val, visible: NotasVencido.visible"></div>
                                        <span data-bind="text: NotasVencido.text, visible: NotasVencido.visible"></span>
                                    </div>
                                    <div class="vr" data-bind="visible: NotasVencido.visible"></div>
                                    <div class="view-select-button" data-bind="click: NotasAgendado.eventClick, attr: { id: NotasAgendado.id }">
                                        <div class="icon-number" data-bind="text: NotasAgendado.val"></div>
                                        <span data-bind="text: NotasAgendado.text"></span>
                                    </div>
                                    <div class="vr"></div>
                                    <div class="view-select-button" data-bind="click: NotasPermuta.eventClick, attr: { id: NotasPermuta.id }">
                                        <div class="icon-number" data-bind="text: NotasPermuta.val"></div>
                                        <span data-bind="text: NotasPermuta.text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" id="abaPallet">
                            <div class="bar-view-config">
                                <span>Pallets</span>
                                <div class="view-selection" id="view-select-cards">
                                    <div class="view-select-button" data-bind="click: PalettsNoPrazo.eventClick, attr: { id: PalettsNoPrazo.id }">
                                        <div class="icon-number" data-bind="text: PalettsNoPrazo.val, visible: PalettsNoPrazo.visible"></div>
                                        <span data-bind="text: PalettsNoPrazo.text, visible: PalettsNoPrazo.visible"></span>
                                    </div>
                                    <div class="vr" data-bind="visible: PalettsVencido.visible"></div>
                                    <div class="view-select-button" data-bind="click: PalettsVencido.eventClick, attr: { id: PalettsVencido.id }">
                                        <div class="icon-number" data-bind="text: PalettsVencido.val, visible: PalettsVencido.visible"></div>
                                        <span data-bind="text: PalettsVencido.text, visible: PalettsVencido.visible"></span>
                                    </div>
                                    <div class="vr" data-bind="visible: PalettsVencido.visible"></div>
                                    <div class="view-select-button" data-bind="click: PalettsAgendado.eventClick, attr: { id: PalettsAgendado.id }">
                                        <div class="icon-number" data-bind="text: PalettsAgendado.val"></div>
                                        <span data-bind="text: PalettsAgendado.text"></span>
                                    </div>
                                    <div class="vr"></div>
                                    <div class="view-select-button" data-bind="click: PalettsPermuta.eventClick, attr: { id: PalettsPermuta.id }">
                                        <div class="icon-number" data-bind="text: PalettsPermuta.val"></div>
                                        <span data-bind="text: PalettsPermuta.text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-filters" data-bs-slide="next">
                            <span><i class="fal fa-chevron-right"></i></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-filters" data-bs-slide="prev">
                            <span><i class="fal fa-chevron-left"></i></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                    <div class="carousel-indicators" style="position:unset !important">
                        <button type="button" data-bs-target="#carousel-filters" data-bs-slide-to="0" class="indicator-button active" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-filters" data-bs-slide-to="1" aria-label="Slide 2" class="indicator-button" aria-current="true"></button>
                        <button type="button" data-bs-target="#carousel-filters" data-bs-slide-to="2" aria-label="Slide 3" class="indicator-button"></button>
                    </div>
                </div>
            </div>

            <div class="grid-panel panel mt-4">
                <div class="panel-container">
                    <div class="panel-container">
                        <div class="panel-content">
                            <table width="100%" class="table table-bordered table-hover" id="grid-gestao-pallet-controle-saldo" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divModalFiltroPesquisaControleSaldo" class="modal fade" role="dialog" aria-hidden="true">
                <div id="knockoutPesquisaControleSaldo" class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Filtrar</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="border p-4">
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: NotaFiscal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NotaFiscal.text, attr: { for: NotaFiscal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3" data-bind="visible: DataInicialCriacaoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicialCriacaoCarga.text, attr: { for: DataInicialCriacaoCarga.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataInicialCriacaoCarga.requiredClass, value: DataInicialCriacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialCriacaoCarga.maxlength, id : DataInicialCriacaoCarga.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3" data-bind="visible: DataFinalCriacaoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataFinalCriacaoCarga.text, attr: { for: DataFinalCriacaoCarga.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataFinalCriacaoCarga.requiredClass, value: DataFinalCriacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalCriacaoCarga.maxlength, id : DataFinalCriacaoCarga.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-2" data-bind="visible: SituacaoPallet.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: SituacaoPallet.text, attr: { for: SituacaoPallet.id }"></label>
                                            <select class="form-control" data-bind="class: SituacaoPallet.requiredClass, options: SituacaoPallet.options, optionsText: 'text', optionsValue: 'value', value: SituacaoPallet.val, attr: { maxlength: SituacaoPallet.maxlength, id : SituacaoPallet.id}"></select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-2" data-bind="visible: SituacaoPalletGestaoDevolucao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: SituacaoPalletGestaoDevolucao.text, attr: { for: SituacaoPalletGestaoDevolucao.id }"></label>
                                            <select class="form-control" data-bind="class: SituacaoPalletGestaoDevolucao.requiredClass, options: SituacaoPalletGestaoDevolucao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoPalletGestaoDevolucao.val, attr: { maxlength: SituacaoPalletGestaoDevolucao.maxlength, id : SituacaoPalletGestaoDevolucao.id}"></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-3" style="gap:8px;">
                                <button class="btn btn-outline-primary waves-effect waves-themed ghost-button" type="button" data-bind="click: CarregarFiltrosPesquisa.eventClick, attr: { id: CarregarFiltrosPesquisa.id}">
                                    <span data-bind="text: CarregarFiltrosPesquisa.text"></span>
                                </button>
                                <button class="btn btn-outline-primary waves-effect waves-themed" type="button" data-bind="click: ConfiguracaoModeloFiltroPesquisa.eventClick, attr: { id: ConfiguracaoModeloFiltroPesquisa.id}">
                                    <span data-bind="text: ConfiguracaoModeloFiltroPesquisa.text"></span>
                                </button>
                                <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalDetalhesControleSaldo" role="dialog" aria-hidden="true" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Detalhes</h1>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                                <i class="fal fa-times"></i>
                            </button>
                        </div>

                        <div class="modal-body pt-0">
                            <div class="tab-content p-2">
                                <div id="knoutDetalhesControleSaldo" class="tab-pane active">
                                    <div class="container">
                                        <h2 class="mb-4">Informações do Controle de Saldo</h2>

                                        <div class="row">
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: SituacaoPallet.text"></span>
                                                <h6 data-bind="text: SituacaoPallet.val, attr: { title: SituacaoPallet.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: Carga.text"></span>
                                                <h6 data-bind="text: Carga.val, attr: { title: Carga.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: Origem.text"></span>
                                                <h6 data-bind="text: Origem.val, attr: { title: Origem.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: Destino.text"></span>
                                                <h6 data-bind="text: Destino.val, attr: { title: Origem.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: QuantidadePallets.text"></span>
                                                <h6 data-bind="text: QuantidadePallets.val, attr: { title: QuantidadePallets.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: NumeroNotaFiscalPermuta.text"></span>
                                                <h6 data-bind="text: NumeroNotaFiscalPermuta.val, attr: { title: NumeroNotaFiscalPermuta.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: SerieNotaFiscalPermuta.text"></span>
                                                <h6 data-bind="text: SerieNotaFiscalPermuta.val, attr: { title: SerieNotaFiscalPermuta.val }"></h6>
                                            </div> 
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: NumeroNotaFiscalDevolucao.text"></span>
                                                <h6 data-bind="text: NumeroNotaFiscalDevolucao.val, attr: { title: NumeroNotaFiscalDevolucao.val }"></h6>
                                            </div>
                                            <div class="col-12 col-md-6 info-inline">
                                                <span data-bind="text: SerieNotaFiscalDevolucao.text"></span>
                                                <h6 data-bind="text: SerieNotaFiscalDevolucao.val, attr: { title: SerieNotaFiscalDevolucao.val }"></h6>
                                            </div>
                                            <div class="col-12 info-inline">
                                                <span data-bind="text: Observacao.text"></span>
                                                <h6 data-bind="text: Observacao.val, attr: { title: Observacao.val }"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="divModalGerenciarAnexos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="knockoutAnexos">
            <div class="modal-header">
                <h4 class="modal-title">Anexos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/gestaoPallet/controleSaldoPallet"></script>
<link rel="stylesheet" href="/css/acompanhamentoCarga" />
<link rel="stylesheet" href="/css/tracking" />


<style type="text/css">

    .page-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 12px;
        color: #24282B;
        margin: 0 0 12px 0;
    }

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 11px;
        color: #4A606B;
        margin: 0 0 12px 0;
    }

    .info-inline {
        margin: 0 0 10px 0;
    }

        .info-inline span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            font-weight: 500;
            color: #9BAFB9;
        }

        .info-inline h6 {
            margin: 6px 0 0 0;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #24282B;
            line-height: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
</style>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(inicializarControleSaldo);
</script>
