
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Geração de CT-e por NF-e
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutCTesGerados">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>CT-es Gerados</h2>
                    </header>
                    <div class="smart-form">
                        <section>
                            <div class="well">
                                <footer class="no-padding left">
                                    <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Atualizar.eventClick, attr: { id: Atualizar.id }" type="button">
                                        <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Atualizar.text"></span>
                                    </button>
                                </footer>
                            </div>
                        </section>
                    </div>
                    <div class="widget-body">
                        <header>
                            <b style="font-size:15px; margin-left:5px;">CT-es Gerados</b>
                        </header>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Atualizar.idGrid }" cellspacing="0"></table>
                    </div>
                </div>
            </div>
            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Formulário de Cadastro</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="knockoutGerarCTePorNFe" class="smart-form">
                            <header>
                                Gerar CT-e
                            </header>
                            <fieldset>
                                <div class="row">
                                    <section data-bind=" visible : ValorFrete.visible" class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="label"><b data-bind="text: ValorFrete.text"></b></label>
                                        <label data-bind="attr: { class: ValorFrete.requiredClass }">
                                            <input type="text" data-bind="value: ValorFrete.val, attr: { maxlength: ValorFrete.maxlength, id : ValorFrete.id }" />
                                        </label>
                                    </section>
                                    <section data-bind=" visible : ValorTotalMercadoria.visible" class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="label"><b data-bind="text: ValorTotalMercadoria.text"></b></label>
                                        <label data-bind="attr: { class: ValorTotalMercadoria.requiredClass }">
                                            <input type="text" data-bind="value: ValorTotalMercadoria.val, attr: { maxlength: ValorTotalMercadoria.maxlength, id : ValorTotalMercadoria.id }" />
                                        </label>
                                    </section>
                                    <section data-bind=" visible : DataEmissao.visible" class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="label"><b data-bind="text: DataEmissao.text"></b></label>
                                        <label data-bind="attr: { class: DataEmissao.requiredClass }">
                                            <input type="text" data-bind="value: DataEmissao.val, attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id }" />
                                        </label>
                                    </section>
                                    <section data-bind=" visible : Observacao.visible" class="col col-12">
                                        <label class="label"><b data-bind="text: Observacao.text"></b></label>
                                        <label class="textarea">
                                            <textarea class="custom-scroll" data-bind="value: Observacao.val, attr: { maxlength: Observacao.maxlength, id : Observacao.id }" />
                                        </label>
                                    </section>
                                    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" data-bind="visible: Arquivos.visible">
                                        <label class="label"><b data-bind="text: Arquivos.text"></b></label>
                                        <label for="file" class="input input-file">
                                            <div class="button">
                                                <input type="file" name="file" accept=".xml" data-bind="value: Arquivos.val, attr: { id: Arquivos.id }" multiple>Selecionar
                                            </div>
                                            <input type="text" placeholder="Selecione os XML de NF-e" data-bind="value: Arquivos.val" readonly>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: GerarCTe.eventClick, attr: { value: GerarCTe.text, id : GerarCTe.id }" class="btn btn-labeled btn-success" />
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script src="~/scripts/gerarCTePorNFe"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadGerarCTePorNFe();
    });

</script>

