<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Importações</li>
        <li class="breadcrumb-item active">Painel de NF-es para Transporte</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i> Painel de NF-es para Transporte
        </h1>
    </div>
    <div id="knockoutPesquisaPainelNFeTransporte">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-search"></i>
                        Pesquisar NF-es para Transporte
                    </h3>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissao.text, attr: { for: DataInicialEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialEmissao.requiredClass, value: DataInicialEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissao.maxlength, id : DataInicialEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissao.text, attr: { for: DataFinalEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissao.requiredClass, value: DataFinalEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissao.maxlength, id : DataFinalEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissaoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissaoCTe.text, attr: { for: DataInicialEmissaoCTe.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialEmissaoCTe.requiredClass, value: DataInicialEmissaoCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissaoCTe.maxlength, id : DataInicialEmissaoCTe.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissaoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissaoCTe.text, attr: { for: DataFinalEmissaoCTe.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissaoCTe.requiredClass, value: DataFinalEmissaoCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissaoCTe.maxlength, id : DataFinalEmissaoCTe.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissaoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissaoCarga.text, attr: { for: DataInicialEmissaoCarga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialEmissaoCarga.requiredClass, value: DataInicialEmissaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissaoCarga.maxlength, id : DataInicialEmissaoCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissaoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissaoCarga.text, attr: { for: DataFinalEmissaoCarga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissaoCarga.requiredClass, value: DataFinalEmissaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissaoCarga.maxlength, id : DataFinalEmissaoCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroInicial.requiredClass, value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroFinal.requiredClass, value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Expedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: NotaFiscal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NotaFiscal.text, attr: { for: NotaFiscal.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NotaFiscal.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Restricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Restricao.text, attr: { for: Restricao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Restricao.requiredClass, value: Restricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Restricao.maxlength, id : Restricao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Restricao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: EstadoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: EstadoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoFatura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoFatura.text, attr: { for: SituacaoFatura.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoFatura.requiredClass, options: SituacaoFatura.options, optionsText: 'text', optionsValue: 'value', value: SituacaoFatura.val, attr: { maxlength: SituacaoFatura.maxlength, id : SituacaoFatura.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoLocalPrestacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoLocalPrestacao.text, attr: { for: TipoLocalPrestacao.id }"></label>
                                    <select class="form-control" data-bind="class: TipoLocalPrestacao.requiredClass, options: TipoLocalPrestacao.options, optionsText: 'text', optionsValue: 'value', value: TipoLocalPrestacao.val, attr: { maxlength: TipoLocalPrestacao.maxlength, id : TipoLocalPrestacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCTe.text, attr: { for: TipoCTe.id }"></label>
                                    <select class="form-control" data-bind="class: TipoCTe.requiredClass, options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', value: TipoCTe.val, attr: { maxlength: TipoCTe.maxlength, id : TipoCTe.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ClassificacaoNFe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ClassificacaoNFe.text, attr: { for: ClassificacaoNFe.id }"></label>
                                    <select class="form-control" data-bind="class: ClassificacaoNFe.requiredClass, options: ClassificacaoNFe.options, optionsText: 'text', optionsValue: 'value', value: ClassificacaoNFe.val, attr: { maxlength: ClassificacaoNFe.maxlength, id : ClassificacaoNFe.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NotasFiscaisSemCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NotasFiscaisSemCarga.text, attr: { for: NotasFiscaisSemCarga.id }"></label>
                                    <select class="form-control" data-bind="class: NotasFiscaisSemCarga.requiredClass, options: NotasFiscaisSemCarga.options, optionsText: 'text', optionsValue: 'value', value: NotasFiscaisSemCarga.val, attr: { maxlength: NotasFiscaisSemCarga.maxlength, id : NotasFiscaisSemCarga.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CargaTransbordo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CargaTransbordo.text, attr: { for: CargaTransbordo.id }"></label>
                                    <select class="form-control" data-bind="class: CargaTransbordo.requiredClass, options: CargaTransbordo.options, optionsText: 'text', optionsValue: 'value', value: CargaTransbordo.val, attr: { maxlength: CargaTransbordo.maxlength, id : CargaTransbordo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacoes.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacoes.text, attr: { for: Situacoes.id }"></label>
                                    <select class="form-control" data-bind="options: Situacoes.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacoes.val, attr: { id : Situacoes.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 20" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoCargaMercante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoCargaMercante.text, attr: { for: SituacaoCargaMercante.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoCargaMercante.requiredClass, options: SituacaoCargaMercante.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCargaMercante.val, attr: { maxlength: SituacaoCargaMercante.maxlength, id : SituacaoCargaMercante.id}" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacoesEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacoesEntrega.text, attr: { for: SituacoesEntrega.id }"></label>
                                    <select class="form-control" data-bind="class: SituacoesEntrega.requiredClass, options: SituacoesEntrega.options, optionsText: 'text', optionsValue: 'value', value: SituacoesEntrega.val, attr: { maxlength: SituacoesEntrega.maxlength, id : SituacoesEntrega.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroPedidoCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedidoCliente.text, attr: { for: NumeroPedidoCliente.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPedidoCliente.requiredClass, value: NumeroPedidoCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedidoCliente.maxlength, id : NumeroPedidoCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: QuantidadeVolumesInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeVolumesInicial.text, attr: { for: QuantidadeVolumesInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeVolumesInicial.requiredClass, value: QuantidadeVolumesInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeVolumesInicial.maxlength, id : QuantidadeVolumesInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: QuantidadeVolumesFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeVolumesFinal.text, attr: { for: QuantidadeVolumesFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeVolumesFinal.requiredClass, value: QuantidadeVolumesFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeVolumesFinal.maxlength, id : QuantidadeVolumesFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialPrevisaoEntregaPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialPrevisaoEntregaPedido.text, attr: { for: DataInicialPrevisaoEntregaPedido.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialPrevisaoEntregaPedido.requiredClass, value: DataInicialPrevisaoEntregaPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialPrevisaoEntregaPedido.maxlength, id : DataInicialPrevisaoEntregaPedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalPrevisaoEntregaPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalPrevisaoEntregaPedido.text, attr: { for: DataFinalPrevisaoEntregaPedido.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalPrevisaoEntregaPedido.requiredClass, value: DataFinalPrevisaoEntregaPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalPrevisaoEntregaPedido.maxlength, id : DataFinalPrevisaoEntregaPedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialInicioViagemPlanejada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialInicioViagemPlanejada.text, attr: { for: DataInicialInicioViagemPlanejada.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialInicioViagemPlanejada.requiredClass, value: DataInicialInicioViagemPlanejada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialInicioViagemPlanejada.maxlength, id : DataInicialInicioViagemPlanejada.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalInicioViagemPlanejada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalInicioViagemPlanejada.text, attr: { for: DataFinalInicioViagemPlanejada.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalInicioViagemPlanejada.requiredClass, value: DataFinalInicioViagemPlanejada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalInicioViagemPlanejada.maxlength, id : DataFinalInicioViagemPlanejada.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PossuiRecebedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiRecebedor.text, attr: { for: PossuiRecebedor.id }"></label>
                                    <select class="form-control" data-bind="class: PossuiRecebedor.requiredClass, options: PossuiRecebedor.options, optionsText: 'text', optionsValue: 'value', value: PossuiRecebedor.val, attr: { maxlength: PossuiRecebedor.maxlength, id : PossuiRecebedor.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PossuiExpedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiExpedidor.text, attr: { for: PossuiExpedidor.id }"></label>
                                    <select class="form-control" data-bind="class: PossuiExpedidor.requiredClass, options: PossuiExpedidor.options, optionsText: 'text', optionsValue: 'value', value: PossuiExpedidor.val, attr: { maxlength: PossuiExpedidor.maxlength, id : PossuiExpedidor.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataPrevisaoCargaEntregaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoCargaEntregaInicial.text, attr: { for: DataPrevisaoCargaEntregaInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPrevisaoCargaEntregaInicial.requiredClass, value: DataPrevisaoCargaEntregaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoCargaEntregaInicial.maxlength, id : DataPrevisaoCargaEntregaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataPrevisaoCargaEntregaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoCargaEntregaFinal.text, attr: { for: DataPrevisaoCargaEntregaFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPrevisaoCargaEntregaFinal.requiredClass, value: DataPrevisaoCargaEntregaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoCargaEntregaFinal.maxlength, id : DataPrevisaoCargaEntregaFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <div class="dropdown pull-right me-3" data-bind="visible: DownloadLoteXML.visible() ||  DownloadLoteDANFE.visible()">
                                    <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" type="button" aria-expanded="false" id="dropdownMenuButton1">
                                        <i class="fal fa-download"></i>Download<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" data-bind="visible: DownloadLoteXML.visible, click: DownloadLoteXML.eventClick, attr: { id: DownloadLoteXML.id}">
                                                <i class="fal fa-solid fa-file-code"></i><span class="ms-2" data-bind="text: DownloadLoteXML.text"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-bind="visible: DownloadLoteDANFE.visible, click: DownloadLoteDANFE.eventClick, attr: { id: DownloadLoteDANFE.id}">
                                                <i class="fal fa-solid fa-file-pdf"></i><span class="ms-2" data-bind="text: DownloadLoteDANFE.text"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-bind="visible: DownloadNotasAPIMerdoLivre.visible, click: DownloadNotasAPIMerdoLivre.eventClick, attr: { id: DownloadNotasAPIMerdoLivre.id}">
                                                <i class="fal fa-solid fa-file-pdf"></i><span class="ms-2" data-bind="text: DownloadNotasAPIMerdoLivre.text"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-default me-2" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                                <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">

                    <table width="100%" class="table table-bordered table-hover" id="grid-painel-nfe-transporte" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="divModalAdicionarCargaNotasPendentesIntegracaoMercadoLivre" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="knoutAdicionarCargaNotasPendentesIntegracaoMercadoLivre">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar cargas com notas pendentes de download Integração Mercado Livre</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-5" data-bind="visible: Carga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, enable: Carga.enable, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-12 col-md-5" data-bind="visible: SituacaoDownload.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SituacaoDownload.text, attr: { for: SituacaoDownload.id }"></label>
                            <select class="form-control" data-bind="class: SituacaoDownload.requiredClass, options: SituacaoDownload.options, optionsText: 'text', optionsValue: 'value', value: SituacaoDownload.val, attr: { maxlength: SituacaoDownload.maxlength, id : SituacaoDownload.id}"></select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end col-12 col-md-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fal fa-link"></i> Cargas com notas pendentes de Download Integração Mercado Livre
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoCarga.text, attr: { for: CodigoCarga.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoCarga.requiredClass, value: CodigoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCarga.maxlength, id : CodigoCarga.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Adicionar.visible ">
                                        <div class="form-group">
                                            <label class="form-label">&nbsp;</label>
                                            <button type="button" class="btn btn-success waves-effect waves-themed" data-loading-text="Aguarde..." data-bind=" click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div> 
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end">
                   
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/PainelNFeTransporte"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas)
        _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Configuracoes));

        loadPainelNFeTransporte();
    });
</script>

