@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatorios</li>
        <li class="breadcrumb-item">CTe</li>
        <li class="breadcrumb-item active">Relatório de Apuração de ICMS</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Apuração de ICMS
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaApuracaoICMS">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Recebedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Recebedor.text, attr: { for: Recebedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Recebedor.requiredClass, value: Recebedor.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Recebedor.text, maxlength: Recebedor.maxlength, id: Recebedor.id, name: Recebedor.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Recebedor.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Expedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Expedidor.text, maxlength: Expedidor.maxlength, id: Expedidor.id, name: Expedidor.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Expedidor.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Remetente.text, maxlength: Remetente.maxlength, id: Remetente.id, name: Remetente.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Remetente.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Destinatario.text, maxlength: Destinatario.maxlength, id: Destinatario.id, name: Destinatario.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Destinatario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Tomador.text, maxlength: Tomador.maxlength, id: Tomador.id, name: Tomador.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Tomador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoRelatorio.text, maxlength: TipoRelatorio.maxlength, id: TipoRelatorio.id, name: TipoRelatorio.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="divConfigRelatorio">  </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaApuracaoICMS" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaApuracaoICMS" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/apuracaoICMS"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadApuracaoICMS();
    });

</script>
