
@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatorios</li>
    <li class="breadcrumb-item">CTe</li>
    <li class="breadcrumb-item active">Relatório de Integrações de CT-es</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Relatório de Integrações de CT-es
    </h1>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutPesquisaCargaCTeIntegracao">
                    <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoRelatorio.text, maxlength: TipoRelatorio.maxlength, id: TipoRelatorio.id, name: TipoRelatorio.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataIntegracaoInicial.text, attr: { for: DataIntegracaoInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataIntegracaoInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataIntegracaoInicial.maxlength, id : DataIntegracaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataIntegracaoFinal.text, attr: { for: DataIntegracaoFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataIntegracaoFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataIntegracaoFinal.maxlength, id : DataIntegracaoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoIntegracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoIntegracao.text, attr: { for: TipoIntegracao.id }"></label>
                            <select class="form-control" data-bind="options: TipoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: TipoIntegracao.val, attr: { id : TipoIntegracao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': GrupoPessoas.text, maxlength: GrupoPessoas.maxlength, id: GrupoPessoas.id, name: GrupoPessoas.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: GrupoPessoas.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Carga.text, maxlength: Carga.maxlength, id: Carga.id, name: Carga.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Carga.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: CTe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CTe.text, attr: { for: CTe.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: CTe.requiredClass, value: CTe.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CTe.text, maxlength: CTe.maxlength, id: CTe.id, name: CTe.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CTe.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divConfigRelatorio"> </div>
            </form>
            <div class="row mb-3">
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <div id="knockoutCRUDFiltrosPesquisaCargaCTeIntegracao" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
            <div id="knockoutCRUDPesquisaCargaCTeIntegracao" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>

            </div>
        </div>
    </div>
</div>
<script src="~/relatorios/scripts/cargaCTeIntegracao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadCargaCTeIntegracao();
    });

</script>
