@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">CTe</li>
    <li class="breadcrumb-item active">NFe CTe Container</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Relatório de NFe x CTe x Container
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaNFeCTeContainer">
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroControle.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroControle.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControle.maxlength, id : NumeroControle.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroCTe.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCTe.maxlength, id : NumeroCTe.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroOS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroOS.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroOS.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOS.maxlength, id : NumeroOS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroBooking.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroNota.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroNota.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroNota.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNota.maxlength, id : NumeroNota.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroSerie.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroSerie.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroSerie.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroSerie.maxlength, id : NumeroSerie.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SituacaoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoCarga.text, attr: { for: SituacaoCarga.id }"></label>
                                <select class="form-control" data-bind="options: SituacaoCarga.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCarga.val, attr: { id : SituacaoCarga.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todas"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SituacaoCargaMercante.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoCargaMercante.text, attr: { for: SituacaoCargaMercante.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoCargaMercante.requiredClass, options: SituacaoCargaMercante.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCargaMercante.val, attr: { maxlength: SituacaoCargaMercante.maxlength, id : SituacaoCargaMercante.id}" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoServico.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                <select class="form-control" data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoServico.val, attr: { id : TipoServico.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoProposta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoProposta.text, attr: { for: TipoProposta.id }"></label>
                                <select class="form-control" data-bind="options: TipoProposta.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoProposta.val, attr: { id : TipoProposta.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: SituacaoCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoCTe.text, attr: { for: SituacaoCTe.id }"></label>
                                <select class="form-control" data-bind="options: SituacaoCTe.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCTe.val, attr: { id : SituacaoCTe.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoModal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoModal.text, attr: { for: TipoModal.id }"></label>
                                <select class="form-control" data-bind="options: TipoModal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoModal.val, attr: { id : TipoModal.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCTe.text, attr: { for: TipoCTe.id }"></label>
                                <select class="form-control" data-bind="options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoCTe.val, attr: { id : TipoCTe.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: FoiAnulado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FoiAnulado.text, attr: { for: FoiAnulado.id }"></label>
                                <select class="form-control" data-bind="options: FoiAnulado.options, optionsText: 'text', optionsValue: 'value', value: FoiAnulado.val, attr: { id : FoiAnulado.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: FoiSubstituido.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FoiSubstituido.text, attr: { for: FoiSubstituido.id }"></label>
                                <select class="form-control" data-bind="options: FoiSubstituido.options, optionsText: 'text', optionsValue: 'value', value: FoiSubstituido.val, attr: { id : FoiSubstituido.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Viagem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Viagem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: PortoOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TerminalOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: PortoDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TerminalDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Container.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Container.requiredClass, value: Container.val, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: GrupoPessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaNFeCTeContainer" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaNFeCTeContainer" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/nfeCTeContainer"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioNFeCTeContainer();
    });

</script>