@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">CTe</li>
    <li class="breadcrumb-item active">Subcontratação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Relatório de CT-es para Subcontratação
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaSubcontratacao">
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicialEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissao.maxlength, id : DataInicialEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFinalEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissao.maxlength, id : DataFinalEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialEmissaoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialEmissaoCarga.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicialEmissaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissaoCarga.maxlength, id : DataInicialEmissaoCarga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissaoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalEmissaoCarga.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFinalEmissaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissaoCarga.maxlength, id : DataFinalEmissaoCarga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialFinalizacaoEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialFinalizacaoEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicialFinalizacaoEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialFinalizacaoEmissao.maxlength, id : DataInicialFinalizacaoEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalFinalizacaoEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalFinalizacaoEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFinalFinalizacaoEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalFinalizacaoEmissao.maxlength, id : DataFinalFinalizacaoEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCTe.text, attr: { for: TipoCTe.id }"></label>
                                <select class="form-control" data-bind="options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoCTe.val, attr: { id : TipoCTe.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Busca Avançada -->
                        <div data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: EstadoOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: EstadoDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCargaEmbarcador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCargaEmbarcador.text"></label>
                                        <input type="text" class="form-control" data-bind="value: NumeroCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCargaEmbarcador.maxlength, id : NumeroCargaEmbarcador.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoServico.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                        <select class="form-control" data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoServico.val, attr: { id : TipoServico.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoCarga.text, attr: { for: SituacaoCarga.id }"></label>
                                        <select class="form-control" data-bind="options: SituacaoCarga.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCarga.val, attr: { id : SituacaoCarga.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todas"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoCargaMercante.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoCargaMercante.text, attr: { for: SituacaoCargaMercante.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoCargaMercante.requiredClass, options: SituacaoCargaMercante.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCargaMercante.val, attr: { maxlength: SituacaoCargaMercante.maxlength, id : SituacaoCargaMercante.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoSEFAZ.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoSEFAZ.text, attr: { for: SituacaoSEFAZ.id }"></label>
                                        <select class="form-control" data-bind="options: SituacaoSEFAZ.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoSEFAZ.val, attr: { id : SituacaoSEFAZ.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todas"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaSubcontratacao" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                    </button>
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaSubcontratacao" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/subcontratacao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadSubcontratacao();
    });

</script>
