@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">CTe</li>
    <li class="breadcrumb-item active">Take Or Pay</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Relatório de Embarque Certo / No Show
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaTakeOrPay">
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialFatura.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicialFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialFatura.maxlength, id : DataInicialFatura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalFatura.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFinalFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalFatura.maxlength, id : DataFinalFatura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroFatura.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFatura.maxlength, id : NumeroFatura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroBoleto.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroBoleto.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroBoleto.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBoleto.maxlength, id : NumeroBoleto.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: SituacaoFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoFatura.text, attr: { for: SituacaoFatura.id }"></label>
                                <select class="form-control" data-bind="options: SituacaoFatura.options, optionsText: 'text', optionsValue: 'value', value: SituacaoFatura.val, attr: { id : SituacaoFatura.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoProposta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoProposta.text, attr: { for: TipoProposta.id }"></label>
                                <select class="form-control" data-bind="options: TipoProposta.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoProposta.val, attr: { id : TipoProposta.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicialPrevisaoSaidaNavio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialPrevisaoSaidaNavio.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicialPrevisaoSaidaNavio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialPrevisaoSaidaNavio.maxlength, id : DataInicialPrevisaoSaidaNavio.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinalPrevisaoSaidaNavio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalPrevisaoSaidaNavio.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFinalPrevisaoSaidaNavio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalPrevisaoSaidaNavio.maxlength, id : DataFinalPrevisaoSaidaNavio.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Busca Avançada -->
                        <div data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: GrupoPessoas.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Viagem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Viagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: PortoOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PortoOrigem.text, attr: { for: PortoOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: PortoOrigem.requiredClass, value: PortoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoOrigem.maxlength, id : PortoOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: PortoDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PortoDestino.text, attr: { for: PortoDestino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: PortoDestino.requiredClass, value: PortoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortoDestino.maxlength, id : PortoDestino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaTakeOrPay" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                    </button>
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaTakeOrPay" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/takeOrPay"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadTakeOrPay();
    });

</script>
