
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Acordo Faturamento Cliente</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Acordos de Faturamento Cliente
    </h1>
</div>
<div id="knockoutPesquisaAcordoFaturamentoCliente">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Acordos de Faturamento Cliente
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, enable: TipoPessoa.enable"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-7" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7" data-bind="visible: GrupoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}, enable: GrupoPessoa.enable" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}, enable: Status.enable"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Formulário de Cadastro
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroAcordoFaturamentoCliente">
                    <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                            <select class="form-control" data-bind="enable: TipoPessoa.enable, class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, enable: TipoPessoa.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-7" data-bind="visible: Pessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Pessoa.enable, css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}, enable: Pessoa.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}, enable: Pessoa.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7" data-bind="visible: GrupoPessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: GrupoPessoa.enable, css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}, enable: GrupoPessoa.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}, enable: GrupoPessoa.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                            <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}, enable: Status.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: FaturamentoPermissaoExclusiva.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: FaturamentoPermissaoExclusiva.val, attr: { maxlength: FaturamentoPermissaoExclusiva.maxlength, name: FaturamentoPermissaoExclusiva.id, id: FaturamentoPermissaoExclusiva.id }, enable: FaturamentoPermissaoExclusiva.enable">
                                <label class="custom-control-label" data-bind="text: FaturamentoPermissaoExclusiva.text, attr: { for: FaturamentoPermissaoExclusiva.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: NaoEnviarEmailFaturaAutomaticamente.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: NaoEnviarEmailFaturaAutomaticamente.val, attr: { maxlength: NaoEnviarEmailFaturaAutomaticamente.maxlength, name: NaoEnviarEmailFaturaAutomaticamente.id, id: NaoEnviarEmailFaturaAutomaticamente.id }, enable: NaoEnviarEmailFaturaAutomaticamente.enable">
                                <label class="custom-control-label" data-bind="text: NaoEnviarEmailFaturaAutomaticamente.text, attr: { for: NaoEnviarEmailFaturaAutomaticamente.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Frete Cabotagem</h3>
                            </div>
                            <div class="card-body">

                                <ul class="nav nav-tabs" id="tabCabotagem">
                                    <li class="nav-item">
                                        <a href="#tabConfiguracaoCabotagem" class="nav-link active" data-bs-toggle="tab">
                                            <i class="fal fa-cogs"></i><span class="hidden-mobile hidden-tablet">Configurações</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tabEmailCabotagem" class="nav-link" data-bs-toggle="tab">
                                            <i class="fal fa-paper-plane"></i><span class="hidden-mobile hidden-tablet">E-mails por CNPJ</span>
                                        </a>
                                    </li>
                                </ul>
                               <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabConfiguracaoCabotagem" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemDiasSemanaFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CabotagemDiasSemanaFatura.text, attr: { for: CabotagemDiasSemanaFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: CabotagemDiasSemanaFatura.requiredClass, options: CabotagemDiasSemanaFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CabotagemDiasSemanaFatura.val, attr: { maxlength: CabotagemDiasSemanaFatura.maxlength, id : CabotagemDiasSemanaFatura.id}" multiple="multiple"></select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemDiasMesFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CabotagemDiasMesFatura.text, attr: { for: CabotagemDiasMesFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: CabotagemDiasMesFatura.requiredClass, options: CabotagemDiasMesFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CabotagemDiasMesFatura.val, attr: { maxlength: CabotagemDiasMesFatura.maxlength, id : CabotagemDiasMesFatura.id}" multiple="multiple"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemTipoPrazoFaturamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CabotagemTipoPrazoFaturamento.text, attr: { for: CabotagemTipoPrazoFaturamento.id }"></label>
                                                    <select class="form-control" data-bind="enable: CabotagemTipoPrazoFaturamento.enable, class: CabotagemTipoPrazoFaturamento.requiredClass, options: CabotagemTipoPrazoFaturamento.options, optionsText: 'text', optionsValue: 'value', value: CabotagemTipoPrazoFaturamento.val, attr: { maxlength: CabotagemTipoPrazoFaturamento.maxlength, id : CabotagemTipoPrazoFaturamento.id}, enable: CabotagemTipoPrazoFaturamento.enable"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemDiasDePrazoFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CabotagemDiasDePrazoFatura.text, attr: { for: CabotagemDiasDePrazoFatura.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: CabotagemDiasDePrazoFatura.requiredClass, value: CabotagemDiasDePrazoFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: CabotagemDiasDePrazoFatura.maxlength, id : CabotagemDiasDePrazoFatura.id}, enable: CabotagemDiasDePrazoFatura.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemEmail.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CabotagemEmail.text, attr: { for: CabotagemEmail.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: CabotagemEmail.requiredClass, value: CabotagemEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: CabotagemEmail.maxlength, id : CabotagemEmail.id}, enable: CabotagemEmail.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemGerarFaturamentoAVista.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CabotagemGerarFaturamentoAVista.val, attr: { maxlength: CabotagemGerarFaturamentoAVista.maxlength, name: CabotagemGerarFaturamentoAVista.id, id: CabotagemGerarFaturamentoAVista.id }, enable: CabotagemGerarFaturamentoAVista.enable">
                                                        <label class="custom-control-label" data-bind="enable: CabotagemGerarFaturamentoAVista.enable, text: CabotagemGerarFaturamentoAVista.text, attr: { for: CabotagemGerarFaturamentoAVista.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CabotagemNaoEnviarEmailFaturaAutomaticamente.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CabotagemNaoEnviarEmailFaturaAutomaticamente.val, attr: { maxlength: CabotagemNaoEnviarEmailFaturaAutomaticamente.maxlength, name: CabotagemNaoEnviarEmailFaturaAutomaticamente.id, id: CabotagemNaoEnviarEmailFaturaAutomaticamente.id }, enable: CabotagemNaoEnviarEmailFaturaAutomaticamente.enable">
                                                        <label class="custom-control-label" data-bind="enable: CabotagemNaoEnviarEmailFaturaAutomaticamente.enable,text: CabotagemNaoEnviarEmailFaturaAutomaticamente.text, attr: { for: CabotagemNaoEnviarEmailFaturaAutomaticamente.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: FaturamentoPermissaoExclusivaCabotagem.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: FaturamentoPermissaoExclusivaCabotagem.val, attr: { maxlength: FaturamentoPermissaoExclusivaCabotagem.maxlength, name: FaturamentoPermissaoExclusivaCabotagem.id, id: FaturamentoPermissaoExclusivaCabotagem.id }, enable: FaturamentoPermissaoExclusivaCabotagem.enable">
                                                        <label class="custom-control-label" data-bind="text: FaturamentoPermissaoExclusivaCabotagem.text, attr: { for: FaturamentoPermissaoExclusivaCabotagem.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabEmailCabotagem" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: PessoaCabotagem.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: PessoaCabotagem.text, attr: { for: PessoaCabotagem.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: PessoaCabotagem.requiredClass, value: PessoaCabotagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaCabotagem.maxlength, id : PessoaCabotagem.id}, enable: PessoaCabotagem.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PessoaCabotagem.idBtnSearch}, enable: PessoaCabotagem.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-9" data-bind="visible: EmailCabotagem.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: EmailCabotagem.text, attr: { for: EmailCabotagem.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: EmailCabotagem.requiredClass, value: EmailCabotagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailCabotagem.maxlength, id : EmailCabotagem.id}, enable: EmailCabotagem.enable" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <div class="col-12 d-flex justify-content-end" style="margin-top:32px">
                                                        <button class="btn btn-success" type="button" data-bind="click: SalvarEmailCabotagem.eventClick, attr: { id: SalvarEmailCabotagem.id}">
                                                            <span >Salvar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEmailsCabotagem.id}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Frete Longo Curso</h3>
                            </div>
                            <div class="card-body">

                                <ul class="nav nav-tabs" id="tabLongoCurso">
                                    <li class="nav-item">
                                        <a href="#tabConfiguracaoLongoCurso" class="nav-link active" data-bs-toggle="tab">
                                            <i class="fal fa-cogs"></i><span class="hidden-mobile hidden-tablet">Configurações</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tabEmailLongoCurso" class="nav-link" data-bs-toggle="tab">
                                            <i class="fal fa-paper-plane"></i><span class="hidden-mobile hidden-tablet">E-mails por CNPJ</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabConfiguracaoLongoCurso" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoDiasSemanaFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: LongoCursoDiasSemanaFatura.text, attr: { for: LongoCursoDiasSemanaFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: LongoCursoDiasSemanaFatura.requiredClass, options: LongoCursoDiasSemanaFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: LongoCursoDiasSemanaFatura.val, attr: { maxlength: LongoCursoDiasSemanaFatura.maxlength, id : LongoCursoDiasSemanaFatura.id}" multiple="multiple"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoDiasMesFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: LongoCursoDiasMesFatura.text, attr: { for: LongoCursoDiasMesFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: LongoCursoDiasMesFatura.requiredClass, options: LongoCursoDiasMesFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: LongoCursoDiasMesFatura.val, attr: { maxlength: LongoCursoDiasMesFatura.maxlength, id : LongoCursoDiasMesFatura.id}" multiple="multiple"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoTipoPrazoFaturamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: LongoCursoTipoPrazoFaturamento.text, attr: { for: LongoCursoTipoPrazoFaturamento.id }"></label>
                                                    <select class="form-control" data-bind="class: LongoCursoTipoPrazoFaturamento.requiredClass, options: LongoCursoTipoPrazoFaturamento.options, optionsText: 'text', optionsValue: 'value', value: LongoCursoTipoPrazoFaturamento.val, attr: { maxlength: LongoCursoTipoPrazoFaturamento.maxlength, id : LongoCursoTipoPrazoFaturamento.id}, enable: LongoCursoTipoPrazoFaturamento.enable"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoDiasDePrazoFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: LongoCursoDiasDePrazoFatura.text, attr: { for: LongoCursoDiasDePrazoFatura.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: LongoCursoDiasDePrazoFatura.requiredClass, value: LongoCursoDiasDePrazoFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: LongoCursoDiasDePrazoFatura.maxlength, id : LongoCursoDiasDePrazoFatura.id}, enable: LongoCursoDiasDePrazoFatura.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoEmail.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: LongoCursoEmail.text, attr: { for: LongoCursoEmail.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: LongoCursoEmail.requiredClass, value: LongoCursoEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: LongoCursoEmail.maxlength, id : LongoCursoEmail.id}, enable: LongoCursoEmail.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoGerarFaturamentoAVista.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: LongoCursoGerarFaturamentoAVista.val, attr: { maxlength: LongoCursoGerarFaturamentoAVista.maxlength, name: LongoCursoGerarFaturamentoAVista.id, id: LongoCursoGerarFaturamentoAVista.id }, enable: LongoCursoGerarFaturamentoAVista.enable">
                                                        <label class="custom-control-label" data-bind="text: LongoCursoGerarFaturamentoAVista.text, attr: { for: LongoCursoGerarFaturamentoAVista.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: LongoCursoNaoEnviarEmailFaturaAutomaticamente.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: LongoCursoNaoEnviarEmailFaturaAutomaticamente.val, attr: { maxlength: LongoCursoNaoEnviarEmailFaturaAutomaticamente.maxlength, name: LongoCursoNaoEnviarEmailFaturaAutomaticamente.id, id: LongoCursoNaoEnviarEmailFaturaAutomaticamente.id }, enable: LongoCursoNaoEnviarEmailFaturaAutomaticamente.enable">
                                                        <label class="custom-control-label" data-bind="text: LongoCursoNaoEnviarEmailFaturaAutomaticamente.text, attr: { for: LongoCursoNaoEnviarEmailFaturaAutomaticamente.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: FaturamentoPermissaoExclusivaLongoCurso.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: FaturamentoPermissaoExclusivaLongoCurso.val, attr: { maxlength: FaturamentoPermissaoExclusivaLongoCurso.maxlength, name: FaturamentoPermissaoExclusivaLongoCurso.id, id: FaturamentoPermissaoExclusivaLongoCurso.id }, enable: FaturamentoPermissaoExclusivaLongoCurso.enable">
                                                        <label class="custom-control-label" data-bind="text: FaturamentoPermissaoExclusivaLongoCurso.text, attr: { for: FaturamentoPermissaoExclusivaLongoCurso.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabEmailLongoCurso" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: PessoaLongoCurso.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: PessoaLongoCurso.text, attr: { for: PessoaLongoCurso.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: PessoaLongoCurso.requiredClass, value: PessoaLongoCurso.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaLongoCurso.maxlength, id : PessoaLongoCurso.id}, enable: PessoaLongoCurso.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PessoaLongoCurso.idBtnSearch}, enable: PessoaLongoCurso.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-9" data-bind="visible: EmailLongoCurso.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: EmailLongoCurso.text, attr: { for: EmailLongoCurso.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: EmailLongoCurso.requiredClass, value: EmailLongoCurso.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailLongoCurso.maxlength, id : EmailLongoCurso.id}, enable: EmailLongoCurso.enable" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <div class="col-12 d-flex justify-content-end" style="margin-top:32px">
                                                        <button class="btn btn-success" type="button" data-bind="click: SalvarEmailLongoCurso.eventClick, attr: { id: SalvarEmailLongoCurso.id}">
                                                            <span>Salvar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEmailsLongoCurso.id}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Custo Extra</h3>
                            </div>
                            <div class="card-body">

                                <ul class="nav nav-tabs" id="tabCustoExtra">
                                    <li class="nav-item">
                                        <a href="#tabConfiguracaCustoExtra" class="nav-link active" data-bs-toggle="tab">
                                            <i class="fal fa-cogs"></i><span class="hidden-mobile hidden-tablet">Configurações</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">   
                                        <a href="#tabEmailCustoExtra" class="nav-link" data-bs-toggle="tab">
                                            <i class="fal fa-paper-plane"></i><span class="hidden-mobile hidden-tablet">E-mails por CNPJ</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabConfiguracaCustoExtra" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraDiasSemanaFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CustoExtraDiasSemanaFatura.text, attr: { for: CustoExtraDiasSemanaFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: CustoExtraDiasSemanaFatura.requiredClass, options: CustoExtraDiasSemanaFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CustoExtraDiasSemanaFatura.val, attr: { maxlength: CustoExtraDiasSemanaFatura.maxlength, id : CustoExtraDiasSemanaFatura.id}" multiple="multiple" ></select>                                                
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraDiasMesFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CustoExtraDiasMesFatura.text, attr: { for: CustoExtraDiasMesFatura.id }"></label>
                                                    <select class="form-control" data-bind="class: CustoExtraDiasMesFatura.requiredClass, options: CustoExtraDiasMesFatura.options, optionsText: 'text', optionsValue: 'value', selectedOptions: CustoExtraDiasMesFatura.val, attr: { maxlength: CustoExtraDiasMesFatura.maxlength, id : CustoExtraDiasMesFatura.id}" multiple="multiple"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraTipoPrazoFaturamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CustoExtraTipoPrazoFaturamento.text, attr: { for: CustoExtraTipoPrazoFaturamento.id }"></label>
                                                    <select class="form-control" data-bind="class: CustoExtraTipoPrazoFaturamento.requiredClass, options: CustoExtraTipoPrazoFaturamento.options, optionsText: 'text', optionsValue: 'value', value: CustoExtraTipoPrazoFaturamento.val, attr: { maxlength: CustoExtraTipoPrazoFaturamento.maxlength, id : CustoExtraTipoPrazoFaturamento.id}, enable: CustoExtraTipoPrazoFaturamento.enable"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraDiasDePrazoFatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CustoExtraDiasDePrazoFatura.text, attr: { for: CustoExtraDiasDePrazoFatura.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: CustoExtraDiasDePrazoFatura.requiredClass, value: CustoExtraDiasDePrazoFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: CustoExtraDiasDePrazoFatura.maxlength, id : CustoExtraDiasDePrazoFatura.id}, enable: CustoExtraDiasDePrazoFatura.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraEmail.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CustoExtraEmail.text, attr: { for: CustoExtraEmail.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: CustoExtraEmail.requiredClass, value: CustoExtraEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: CustoExtraEmail.maxlength, id : CustoExtraEmail.id}, enable: CustoExtraEmail.enable" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraGerarFaturamentoAVista.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CustoExtraGerarFaturamentoAVista.val, attr: { maxlength: CustoExtraGerarFaturamentoAVista.maxlength, name: CustoExtraGerarFaturamentoAVista.id, id: CustoExtraGerarFaturamentoAVista.id }, enable: CustoExtraGerarFaturamentoAVista.enable">
                                                        <label class="custom-control-label" data-bind="text: CustoExtraGerarFaturamentoAVista.text, attr: { for: CustoExtraGerarFaturamentoAVista.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: CustoExtraNaoEnviarEmailFaturaAutomaticamente.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CustoExtraNaoEnviarEmailFaturaAutomaticamente.val, attr: { maxlength: CustoExtraNaoEnviarEmailFaturaAutomaticamente.maxlength, name: CustoExtraNaoEnviarEmailFaturaAutomaticamente.id, id: CustoExtraNaoEnviarEmailFaturaAutomaticamente.id }, enable: CustoExtraNaoEnviarEmailFaturaAutomaticamente.enable">
                                                        <label class="custom-control-label" data-bind="text: CustoExtraNaoEnviarEmailFaturaAutomaticamente.text, attr: { for: CustoExtraNaoEnviarEmailFaturaAutomaticamente.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: FaturamentoPermissaoExclusivaCustoExtra.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: FaturamentoPermissaoExclusivaCustoExtra.val, attr: { maxlength: FaturamentoPermissaoExclusivaCustoExtra.maxlength, name: FaturamentoPermissaoExclusivaCustoExtra.id, id: FaturamentoPermissaoExclusivaCustoExtra.id }, enable: FaturamentoPermissaoExclusivaCustoExtra.enable">
                                                        <label class="custom-control-label" data-bind="text: FaturamentoPermissaoExclusivaCustoExtra.text, attr: { for: FaturamentoPermissaoExclusivaCustoExtra.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabEmailCustoExtra" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12 col-md-12" data-bind="visible: PessoaCustoExtra.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: PessoaCustoExtra.text, attr: { for: PessoaCustoExtra.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: PessoaCustoExtra.requiredClass, value: PessoaCustoExtra.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaCustoExtra.maxlength, id : PessoaCustoExtra.id}, enable: PessoaCustoExtra.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PessoaCustoExtra.idBtnSearch}, enable: PessoaCustoExtra.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-md-9" data-bind="visible: EmailCustoExtra.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: EmailCustoExtra.text, attr: { for: EmailCustoExtra.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: EmailCustoExtra.requiredClass, value: EmailCustoExtra.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailCustoExtra.maxlength, id : EmailCustoExtra.id}, enable: EmailCustoExtra.enable" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <div class="col-12 d-flex justify-content-end" style="margin-top:32px">
                                                        <button class="btn btn-success" type="button" data-bind="click: SalvarEmailCustoExtra.eventClick, attr: { id: SalvarEmailCustoExtra.id}">
                                                            <span>Salvar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEmailsCustoExtra.id}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4" data-bind="visible: ConsiderarParametrosDeFreteCabotagem.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ConsiderarParametrosDeFreteCabotagem.val, attr: { maxlength: ConsiderarParametrosDeFreteCabotagem.maxlength, name: ConsiderarParametrosDeFreteCabotagem.id, id: ConsiderarParametrosDeFreteCabotagem.id }, enable: ConsiderarParametrosDeFreteCabotagem.enable">
                                <label class="custom-control-label" data-bind="text: ConsiderarParametrosDeFreteCabotagem.text, attr: { for: ConsiderarParametrosDeFreteCabotagem.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="fadeVisible: !ConsiderarParametrosDeFreteCabotagem.val()">
                        <div class="col-12 col-md-3" data-bind="visible: TakeOrPayDiasDePrazoFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TakeOrPayDiasDePrazoFatura.text, attr: { for: TakeOrPayDiasDePrazoFatura.id }"></label>
                                <input type="text" class="form-control" data-bind="class: TakeOrPayDiasDePrazoFatura.requiredClass, value: TakeOrPayDiasDePrazoFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: TakeOrPayDiasDePrazoFatura.maxlength, id : TakeOrPayDiasDePrazoFatura.id}, enable: TakeOrPayDiasDePrazoFatura.enable" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="fadeVisible: !ConsiderarParametrosDeFreteCabotagem.val()">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DiasPrazoFaturamentoDnD.text"></label>
                            <input type="text" class="form-control" data-bind="class: DiasPrazoFaturamentoDnD.requiredClass, value: DiasPrazoFaturamentoDnD.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasPrazoFaturamentoDnD.maxlength, id : DiasPrazoFaturamentoDnD.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="fadeVisible: !ConsiderarParametrosDeFreteCabotagem.val()">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DiasPrazoVencimentoNotaDebito.text"></label>
                            <input type="text" class="form-control" data-bind="class: DiasPrazoVencimentoNotaDebito.requiredClass, value: DiasPrazoVencimentoNotaDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasPrazoVencimentoNotaDebito.maxlength, id : DiasPrazoVencimentoNotaDebito.id}" />
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDAcordoFaturamentoCliente">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                                <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success me-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/acordoFaturamentoCliente"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

        loadAcordoFaturamentoCliente();
    });

</script>

