
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Arquivo Importação Nota Fiscal</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Arquivos para Importação de Notas Fiscais
    </h1>
</div>

<div id="knockoutPesquisaArquivoImportacaoNotaFiscal">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Arquivo para Importação de Notas Fiscais
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutCadastro" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Formulário de Cadastro</span></a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutCampo" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Campos do Arquivo</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">

                <!-- Formulário de Cadastro -->
                <div id="knockoutCadastro" class="tab-pane fade active show">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id, class: Descricao.requiredClass}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Campos do Arquivo -->
                <div id="knockoutCampo" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            <div class="col-12 col-md-4" data-bind="visible: TipoPropriedade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropriedade.text"></label>
                                    <select class="form-control" data-bind="options: TipoPropriedade.options, optionsText: 'text', optionsValue: 'value', value: TipoPropriedade.val, attr: { id : TipoPropriedade.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Propriedade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Propriedade.text"></label>
                                    <select class="form-control" data-bind="options: Propriedade.options, optionsText: 'text', optionsValue: 'value', value: Propriedade.val, attr: { id : Propriedade.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Posicao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Posicao.text"></label>
                                    <input type="text" class="form-control" data-bind="css: Posicao.requiredClass, value: Posicao.val, attr: { maxlength: Posicao.maxlength, id: Posicao.id} " />
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/arquivoImportacaoNotaFiscal"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadArquivoImportacaoNotaFiscal();
    });

</script>

