
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Configuração Vtex</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração VTEX
    </h1>
</div>

<div id="knockoutPesquisaConfiguracaoVtex">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Configuração VTEX
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutConfiguracaoVtex" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Configuração VTEX</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div id="knockoutConfiguracaoVtex" class="tab-pane fade active show">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: AccountName.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AccountName.text"></label>
                                        <input type="text" class="form-control" data-bind="css: AccountName.requiredClass, value: AccountName.val, valueUpdate: 'afterkeydown', attr: { maxlength: AccountName.maxlength, id : AccountName.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Environment.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Environment.text"></label>
                                        <input type="text" class="form-control" data-bind="class: Environment.requiredClass, value: Environment.val, valueUpdate: 'afterkeydown', attr: { maxlength: Environment.maxlength, id : Environment.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: XVtexApiAppToken.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: XVtexApiAppToken.text"></label>
                                        <input type="text" class="form-control" data-bind="class: XVtexApiAppToken.requiredClass, value: XVtexApiAppToken.val, valueUpdate: 'afterkeydown', attr: { maxlength: XVtexApiAppToken.maxlength, id : XVtexApiAppToken.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: XVtexApiAppKey.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: XVtexApiAppKey.text"></label>
                                        <input type="text" class="form-control" data-bind="class: XVtexApiAppKey.requiredClass, value: XVtexApiAppKey.val, valueUpdate: 'afterkeydown', attr: { maxlength: XVtexApiAppKey.maxlength, id : XVtexApiAppKey.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: QuantidadeNotificacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: QuantidadeNotificacao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: QuantidadeNotificacao.requiredClass, value: QuantidadeNotificacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeNotificacao.maxlength, id : QuantidadeNotificacao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: EmailsNotificacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EmailsNotificacao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: EmailsNotificacao.requiredClass, value: EmailsNotificacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailsNotificacao.maxlength, id : EmailsNotificacao.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <footer id="knoutCRUDConfiguracaoVtex" class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default ms-1" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-danger ms-1" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button class="btn btn-success ms-1" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button class="btn btn-success ms-1" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoVtex"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracaoVtex();
    });

</script>

