
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Configuração CIOT</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração de CIOT
    </h1>
</div>

<div id="knockoutPesquisaConfiguracaoCIOT">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Configuração
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabConfiguracao" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Configuração</span></a>
                </li>
                <li id="liTabRepom" class="nav-item d-none">
                    <a href="#tabRepom" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Repom</span></a>
                </li>
                <li id="liTabPamcard" class="nav-item d-none">
                    <a href="#tabPamcard" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Pamcard</span></a>
                </li>
                <li id="liTabEFrete" class="nav-item d-none">
                    <a href="#tabEFrete" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">e-Frete</span></a>
                </li>
                <li id="liTabPagbem" class="nav-item d-none">
                    <a href="#tabPagbem" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Pagbem</span></a>
                </li>
                <li id="liTabTarget" class="nav-item d-none">
                    <a href="#tabTarget" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Target</span></a>
                </li>
                <li id="liTabDataFixaVencimentoCiot" class="nav-item">
                    <a href="#tabDataFixaVencimentoCiot" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Data Fixa Para Vencimento de Ciot</span></a>
                </li>
                <li id="liTabExtratta" class="nav-item d-none">
                    <a href="#tabExtratta" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Extratta</span></a>
                </li>
                <li id="liConfiguracaoFinanceira" class="nav-item">
                    <a href="#tabConfiguracaoFinanceira" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Configuração Financeira</span></a>
                </li>
                <li id="liTabAmbipar" class="nav-item d-none">
                    <a href="#tabAmbipar" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Ambipar</span></a>
                </li>
                <li id="liTabRodocred" class="nav-item d-none">
                    <a href="#tabRodocred" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Rodocred</span></a>
                </li>
                <li id="liTabRepomFrete" class="nav-item d-none">
                    <a href="#tabRepomFrete" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">RepomFrete</span></a>
                </li>
                <li id="liTabTruckPad" class="nav-item d-none">
                    <a href="#tabTruckPad" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">TruckPad</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div id="tabConfiguracao" class="tab-pane fade active show">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, css: Descricao.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: OperadoraCIOT.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: OperadoraCIOT.text"></label>
                                    <select class="form-control" data-bind="options: OperadoraCIOT.options, optionsText: 'text', optionsValue: 'value', value: OperadoraCIOT.val, attr: { id : OperadoraCIOT.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TarifaSaque.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TarifaSaque.text"></label>
                                    <input type="text" class="form-control" data-bind="value: TarifaSaque.val, valueUpdate: 'afterkeydown', attr: { maxlength: TarifaSaque.maxlength, id : TarifaSaque.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TarifaTransferencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TarifaTransferencia.text"></label>
                                    <input type="text" class="form-control" data-bind="value: TarifaTransferencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: TarifaTransferencia.maxlength, id : TarifaTransferencia.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: CNPJOperadora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CNPJOperadora.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CNPJOperadora.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJOperadora.maxlength, id : CNPJOperadora.id}" />
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : AbrirCIOTAntesEmissaoCTe.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: AbrirCIOTAntesEmissaoCTe.val, attr: { maxlength: AbrirCIOTAntesEmissaoCTe.maxlength, name: AbrirCIOTAntesEmissaoCTe.id, id: AbrirCIOTAntesEmissaoCTe.id }">
                                            <label class="custom-control-label" data-bind="text: AbrirCIOTAntesEmissaoCTe.text, attr: { for: AbrirCIOTAntesEmissaoCTe.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : ExigeRotaCadastrada.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ExigeRotaCadastrada.val, attr: { maxlength: ExigeRotaCadastrada.maxlength, name: ExigeRotaCadastrada.id, id: ExigeRotaCadastrada.id }">
                                            <label class="custom-control-label" data-bind="text: ExigeRotaCadastrada.text, attr: { for: ExigeRotaCadastrada.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : GerarUmCIOTPorViagem.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: GerarUmCIOTPorViagem.val, attr: { maxlength: GerarUmCIOTPorViagem.maxlength, name: GerarUmCIOTPorViagem.id, id: GerarUmCIOTPorViagem.id }">
                                            <label class="custom-control-label" data-bind="text: GerarUmCIOTPorViagem.text, attr: { for: GerarUmCIOTPorViagem.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : IntegrarMotoristaNoCadastro.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: IntegrarMotoristaNoCadastro.val, attr: { maxlength: IntegrarMotoristaNoCadastro.maxlength, name: IntegrarMotoristaNoCadastro.id, id: IntegrarMotoristaNoCadastro.id }">
                                            <label class="custom-control-label" data-bind="text: IntegrarMotoristaNoCadastro.text, attr: { for: IntegrarMotoristaNoCadastro.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : IntegrarVeiculoNoCadastro.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: IntegrarVeiculoNoCadastro.val, attr: { maxlength: IntegrarVeiculoNoCadastro.maxlength, name: IntegrarVeiculoNoCadastro.id, id: IntegrarVeiculoNoCadastro.id }">
                                            <label class="custom-control-label" data-bind="text: IntegrarVeiculoNoCadastro.text, attr: { for: IntegrarVeiculoNoCadastro.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : ValorPedagioRetornadoIntegradora.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ValorPedagioRetornadoIntegradora.val, attr: { maxlength: ValorPedagioRetornadoIntegradora.maxlength, name: ValorPedagioRetornadoIntegradora.id, id: ValorPedagioRetornadoIntegradora.id }">
                                            <label class="custom-control-label" data-bind="text: ValorPedagioRetornadoIntegradora.text, attr: { for: ValorPedagioRetornadoIntegradora.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : ConsultarFaturas.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ConsultarFaturas.val, attr: { maxlength: ConsultarFaturas.maxlength, name: ConsultarFaturas.id, id: ConsultarFaturas.id }">
                                            <label class="custom-control-label" data-bind="text: ConsultarFaturas.text, attr: { for: ConsultarFaturas.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : EncerrarCIOTManualmente.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: EncerrarCIOTManualmente.val, attr: { maxlength: EncerrarCIOTManualmente.maxlength, name: EncerrarCIOTManualmente.id, id: EncerrarCIOTManualmente.id }">
                                            <label class="custom-control-label" data-bind="text: EncerrarCIOTManualmente.text, attr: { for: EncerrarCIOTManualmente.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : HabilitarConciliacaoFinanceira.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarConciliacaoFinanceira.val, attr: { maxlength: HabilitarConciliacaoFinanceira.maxlength, name: HabilitarConciliacaoFinanceira.id, id: HabilitarConciliacaoFinanceira.id }">
                                            <label class="custom-control-label" data-bind="text: HabilitarConciliacaoFinanceira.text, attr: { for: HabilitarConciliacaoFinanceira.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : GerarTitulosContratoFrete.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: GerarTitulosContratoFrete.val, attr: { maxlength: GerarTitulosContratoFrete.maxlength, name: GerarTitulosContratoFrete.id, id: GerarTitulosContratoFrete.id }">
                                            <label class="custom-control-label" data-bind="text: GerarTitulosContratoFrete.text, attr: { for: GerarTitulosContratoFrete.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: ConfiguracaoMovimentoFinanceiro.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ConfiguracaoMovimentoFinanceiro.val, attr: { maxlength: ConfiguracaoMovimentoFinanceiro.maxlength, name: ConfiguracaoMovimentoFinanceiro.id, id: ConfiguracaoMovimentoFinanceiro.id }">
                                            <label class="custom-control-label" data-bind="text: ConfiguracaoMovimentoFinanceiro.text, attr: { for: ConfiguracaoMovimentoFinanceiro.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : HabilitarDataFixaVencimentoCIOT.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarDataFixaVencimentoCIOT.val, attr: { maxlength: HabilitarDataFixaVencimentoCIOT.maxlength, name: HabilitarDataFixaVencimentoCIOT.id, id: HabilitarDataFixaVencimentoCIOT.id }">
                                            <label class="custom-control-label" data-bind="text: HabilitarDataFixaVencimentoCIOT.text, attr: { for: HabilitarDataFixaVencimentoCIOT.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : UtilizarDataAtualComoInicioTerminoCIOT.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarDataAtualComoInicioTerminoCIOT.val, attr: { maxlength: UtilizarDataAtualComoInicioTerminoCIOT.maxlength, name: UtilizarDataAtualComoInicioTerminoCIOT.id, id: UtilizarDataAtualComoInicioTerminoCIOT.id }">
                                            <label class="custom-control-label" data-bind="text: UtilizarDataAtualComoInicioTerminoCIOT.text, attr: { for: UtilizarDataAtualComoInicioTerminoCIOT.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : HabilitarQuitacaoAutomaticaPagamentosPendentes.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarQuitacaoAutomaticaPagamentosPendentes.val, attr: { maxlength: HabilitarQuitacaoAutomaticaPagamentosPendentes.maxlength, name: HabilitarQuitacaoAutomaticaPagamentosPendentes.id, id: HabilitarQuitacaoAutomaticaPagamentosPendentes.id }">
                                            <label class="custom-control-label" data-bind="text: HabilitarQuitacaoAutomaticaPagamentosPendentes.text, attr: { for: HabilitarQuitacaoAutomaticaPagamentosPendentes.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible : (GerarUmCIOTPorViagem.val && _CONFIGURACAO_TMS.TipoServicoMultisoftware != EnumTipoServicoMultisoftware.MultiTMS)">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteVariosCIOTsAbertos.val, attr: { maxlength: PermiteVariosCIOTsAbertos.maxlength, name: PermiteVariosCIOTsAbertos.id, id: PermiteVariosCIOTsAbertos.id }">
                                            <label class="custom-control-label" data-bind="text: PermiteVariosCIOTsAbertos.text, attr: { for: PermiteVariosCIOTsAbertos.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: (PermiteVariosCIOTsAbertos.val && _CONFIGURACAO_TMS.TipoServicoMultisoftware != EnumTipoServicoMultisoftware.MultiTMS)">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PermiteVariosCIOTsAbertosTipoTerceiro.text"></label>
                                        <select class="form-control" data-bind="options: PermiteVariosCIOTsAbertosTipoTerceiro.options, optionsText: 'text', optionsValue: 'value', value: PermiteVariosCIOTsAbertosTipoTerceiro.val, attr: { id : PermiteVariosCIOTsAbertosTipoTerceiro.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: UtilizarDataAtualComoInicioTerminoCIOT.val">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DiasTerminoCIOT.text"></label>
                                        <input type="text" class="form-control" data-bind="value: DiasTerminoCIOT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasTerminoCIOT.maxlength, id : DiasTerminoCIOT.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text"></label>
                                        <textarea type="text" rows="5" class="form-control" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- REPOM -->
                <div id="tabRepom" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: CodigoCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCliente.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCliente.maxlength, id : CodigoCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: AssinaturaDigital.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: AssinaturaDigital.text"></label>
                                    <input type="text" class="form-control" data-bind="value: AssinaturaDigital.val, valueUpdate: 'afterkeydown', attr: { maxlength: AssinaturaDigital.maxlength, id : AssinaturaDigital.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CNPJIntegrador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CNPJIntegrador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CNPJIntegrador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJIntegrador.maxlength, id : CNPJIntegrador.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoMovimentoINSS.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoMovimentoINSS.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoMovimentoSEST.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMovimentoSEST.maxlength, id : CodigoMovimentoSEST.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoMovimentoIR.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoMovimentoIR.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoMovimentoIR.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMovimentoIR.maxlength, id : CodigoMovimentoIR.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoMovimentoSEST.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoMovimentoSEST.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoMovimentoIR.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMovimentoIR.maxlength, id : CodigoMovimentoIR.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoMovimentoSENAT.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoMovimentoSENAT.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoMovimentoSENAT.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMovimentoSENAT.maxlength, id : CodigoMovimentoSENAT.id}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: DataMovimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataMovimento.text"></label>
                                        <input type="text" class="form-control" data-bind="value: DataMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                                        <br />
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: DownloadMovimentoFinanceiro.eventClick, visible: DownloadMovimentoFinanceiro.visible, attr: { id : DownloadMovimentoFinanceiro.id}">
                                            <i class="fal fa-download"></i>
                                            <span data-bind="text: DownloadMovimentoFinanceiro.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: DownloadMovimentoContabil.eventClick, visible: DownloadMovimentoContabil.visible, attr: { id : DownloadMovimentoContabil.id}">
                                            <i class="fal fa-download"></i>
                                            <span data-bind="text: DownloadMovimentoContabil.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- PAMCARD -->
                <div id="tabPamcard" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Matriz.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Matriz.text, attr: { for: Matriz.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Matriz.requiredClass, value: Matriz.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Matriz.text, maxlength: Matriz.maxlength, id: Matriz.id, name: Matriz.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Matriz.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : AjustarSaldoVencimentoDataEncerramento.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: AjustarSaldoVencimentoDataEncerramento.val, attr: { maxlength: AjustarSaldoVencimentoDataEncerramento.maxlength, name: AjustarSaldoVencimentoDataEncerramento.id, id: AjustarSaldoVencimentoDataEncerramento.id }">
                                        <label class="custom-control-label" data-bind="text: AjustarSaldoVencimentoDataEncerramento.text, attr: { for: AjustarSaldoVencimentoDataEncerramento.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : EnviarQuantidadesMaioresQueZero.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarQuantidadesMaioresQueZero.val, attr: { maxlength: EnviarQuantidadesMaioresQueZero.maxlength, name: EnviarQuantidadesMaioresQueZero.id, id: EnviarQuantidadesMaioresQueZero.id }">
                                        <label class="custom-control-label" data-bind="text: EnviarQuantidadesMaioresQueZero.text, attr: { for: EnviarQuantidadesMaioresQueZero.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : AssociarCartaoMotoristaTransportador.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: AssociarCartaoMotoristaTransportador.val, attr: { maxlength: AssociarCartaoMotoristaTransportador.maxlength, name: AssociarCartaoMotoristaTransportador.id, id: AssociarCartaoMotoristaTransportador.id }">
                                        <label class="custom-control-label" data-bind="text: AssociarCartaoMotoristaTransportador.text, attr: { for: AssociarCartaoMotoristaTransportador.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : UtilizarDataAtualParaDefinirVencimentoSaldo.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarDataAtualParaDefinirVencimentoSaldo.val, attr: { maxlength: UtilizarDataAtualParaDefinirVencimentoSaldo.maxlength, name: UtilizarDataAtualParaDefinirVencimentoSaldo.id, id: UtilizarDataAtualParaDefinirVencimentoSaldo.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarDataAtualParaDefinirVencimentoSaldo.text, attr: { for: UtilizarDataAtualParaDefinirVencimentoSaldo.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- E-FRETE -->
                <div id="tabEFrete" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: CodigoIntegradorEFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegradorEFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoIntegradorEFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegradorEFrete.maxlength, id : CodigoIntegradorEFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: UsuarioEFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioEFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: UsuarioEFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioEFrete.maxlength, id : UsuarioEFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: SenhaEFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SenhaEFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: SenhaEFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaEFrete.maxlength, id : SenhaEFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigoTipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoTipoCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoTipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoTipoCarga.maxlength, id : CodigoTipoCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: MatrizEFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MatrizEFrete.text, attr: { for: MatrizEFrete.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: MatrizEFrete.requiredClass, value: MatrizEFrete.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': MatrizEFrete.text, maxlength: MatrizEFrete.maxlength, id: MatrizEFrete.id, name: MatrizEFrete.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: MatrizEFrete.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: EmissaoGratuita.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EmissaoGratuita.text"></label>
                                    <select class="form-control" data-bind="options: EmissaoGratuita.options, optionsText: 'text', optionsValue: 'value', value: EmissaoGratuita.val, attr: { id : EmissaoGratuita.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPagamento.text"></label>
                                    <select class="form-control" data-bind="options: TipoPagamento.options, optionsText: 'text', optionsValue: 'value', value: TipoPagamento.val, attr: { id : TipoPagamento.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- PAGBEM -->
                <div id="tabPagbem" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: URLPagbem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLPagbem.text"></label>
                                    <input type="text" class="form-control" data-bind="value: URLPagbem.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLPagbem.maxlength, id : URLPagbem.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: UsuarioPagbem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioPagbem.text"></label>
                                    <input type="text" class="form-control" data-bind="value: UsuarioPagbem.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioPagbem.maxlength, id : UsuarioPagbem.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SenhaPagbem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SenhaPagbem.text"></label>
                                    <input type="text" class="form-control" data-bind="value: SenhaPagbem.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaPagbem.maxlength, id : SenhaPagbem.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CNPJEmpresaContratante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CNPJEmpresaContratante.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CNPJEmpresaContratante.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJEmpresaContratante.maxlength, id : CNPJEmpresaContratante.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoFilialContratantePagbem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoFilialContratantePagbem.text"></label>
                                    <select class="form-control" data-bind="options: TipoFilialContratantePagbem.options, optionsText: 'text', optionsValue: 'value', value: TipoFilialContratantePagbem.val, attr: { id : TipoFilialContratantePagbem.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoTolerancia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoTolerancia.text"></label>
                                    <input type="text" class="form-control" data-bind="value: TipoTolerancia.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoTolerancia.maxlength, id : TipoTolerancia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: FreteTipoPeso.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FreteTipoPeso.text"></label>
                                    <input type="text" class="form-control" data-bind="value: FreteTipoPeso.val, valueUpdate: 'afterkeydown', attr: { maxlength: FreteTipoPeso.maxlength, id : FreteTipoPeso.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuebraTipoCobranca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuebraTipoCobranca.text"></label>
                                    <input type="text" class="form-control" data-bind="value: QuebraTipoCobranca.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuebraTipoCobranca.maxlength, id : QuebraTipoCobranca.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuebraTolerancia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuebraTolerancia.text"></label>
                                    <input type="text" class="form-control" data-bind="value: QuebraTolerancia.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuebraTolerancia.maxlength, id : QuebraTolerancia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : NaoIntegrarResponsavelCartaoPagbem.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoIntegrarResponsavelCartaoPagbem.val, attr: { maxlength: NaoIntegrarResponsavelCartaoPagbem.maxlength, name: NaoIntegrarResponsavelCartaoPagbem.id, id: NaoIntegrarResponsavelCartaoPagbem.id }">
                                        <label class="custom-control-label" data-bind="text: NaoIntegrarResponsavelCartaoPagbem.text, attr: { for: NaoIntegrarResponsavelCartaoPagbem.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : IntegrarNumeroRPSNFSE.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: IntegrarNumeroRPSNFSE.val, attr: { maxlength: IntegrarNumeroRPSNFSE.maxlength, name: IntegrarNumeroRPSNFSE.id, id: IntegrarNumeroRPSNFSE.id }">
                                        <label class="custom-control-label" data-bind="text: IntegrarNumeroRPSNFSE.text, attr: { for: IntegrarNumeroRPSNFSE.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : LiberarViagemManualmente.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: LiberarViagemManualmente.val, attr: { maxlength: LiberarViagemManualmente.maxlength, name: LiberarViagemManualmente.id, id: LiberarViagemManualmente.id }">
                                        <label class="custom-control-label" data-bind="text: LiberarViagemManualmente.text, attr: { for: LiberarViagemManualmente.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : UtilizarCnpjContratanteIntegracao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarCnpjContratanteIntegracao.val, attr: { maxlength: UtilizarCnpjContratanteIntegracao.maxlength, name: UtilizarCnpjContratanteIntegracao.id, id: UtilizarCnpjContratanteIntegracao.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarCnpjContratanteIntegracao.text, attr: { for: UtilizarCnpjContratanteIntegracao.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- TARGET -->
                <div id="tabTarget" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: URLWebService.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLWebService.text"></label>
                                    <input type="text" class="form-control" data-bind="value: URLWebService.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLWebService.maxlength, id : URLWebService.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Senha.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Senha.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Token.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Token.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Token.val, valueUpdate: 'afterkeydown', attr: { maxlength: Token.maxlength, id : Token.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : AssociarCartaoMotoristaTransportador.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: AssociarCartaoMotoristaTransportador.val, attr: { maxlength: AssociarCartaoMotoristaTransportador.maxlength, name: AssociarCartaoMotoristaTransportador.id, id: AssociarCartaoMotoristaTransportador.id }">
                                        <label class="custom-control-label" data-bind="text: AssociarCartaoMotoristaTransportador.text, attr: { for: AssociarCartaoMotoristaTransportador.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : ConsultarCartaoMotorista.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ConsultarCartaoMotorista.val, attr: { maxlength: ConsultarCartaoMotorista.maxlength, name: ConsultarCartaoMotorista.id, id: ConsultarCartaoMotorista.id }">
                                        <label class="custom-control-label" data-bind="text: ConsultarCartaoMotorista.text, attr: { for: ConsultarCartaoMotorista.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : UtilizarCiotTarget.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarCiotTarget.val, attr: { maxlength: UtilizarCiotTarget.maxlength, name: UtilizarCiotTarget.id, id: UtilizarCiotTarget.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarCiotTarget.text, attr: { for: UtilizarCiotTarget.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- EXTRATTA -->
                <div id="tabExtratta" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: URLAPI.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLAPI.text"></label>
                                    <input type="text" class="form-control" data-bind="class: URLAPI.requiredClass, value: URLAPI.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLAPI.maxlength, id : URLAPI.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CNPJAplicacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CNPJAplicacao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: CNPJAplicacao.requiredClass, value: CNPJAplicacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJAplicacao.maxlength, id : CNPJAplicacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Token.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Token.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Token.val, valueUpdate: 'afterkeydown', attr: { maxlength: Token.maxlength, id : Token.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PrefixoCampoNumeroControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PrefixoCampoNumeroControle.text"></label>
                                    <input type="text" class="form-control" data-bind="value: PrefixoCampoNumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: PrefixoCampoNumeroControle.maxlength, id : PrefixoCampoNumeroControle.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NomeUsuarioExtratta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NomeUsuarioExtratta.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NomeUsuarioExtratta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeUsuarioExtratta.maxlength, id : NomeUsuarioExtratta.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DocumentoUsuarioExtratta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DocumentoUsuarioExtratta.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DocumentoUsuarioExtratta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoUsuarioExtratta.maxlength, id : DocumentoUsuarioExtratta.id}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.val, attr: { maxlength: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.maxlength, name: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.id, id: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.id }">
                                            <label class="custom-control-label" data-bind="text: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.text, attr: { for: UtilizarCNPJAplicacaoPreenchimentoCNPJEmpresa.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : ForcarCIOTNaoEquiparado.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ForcarCIOTNaoEquiparado.val, attr: { maxlength: ForcarCIOTNaoEquiparado.maxlength, name: ForcarCIOTNaoEquiparado.id, id: ForcarCIOTNaoEquiparado.id }">
                                            <label class="custom-control-label" data-bind="text: ForcarCIOTNaoEquiparado.text, attr: { for: ForcarCIOTNaoEquiparado.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.val, attr: { maxlength: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.maxlength, name: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.id, id: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.id }">
                                            <label class="custom-control-label" data-bind="text: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.text, attr: { for: UtilizarTipoGeracaoCIOTPreenchimentoHabilitarContratoCiotAgregado.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : EnviarQuantidadesMaioresQueZeroExtratta.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarQuantidadesMaioresQueZeroExtratta.val, attr: { maxlength: EnviarQuantidadesMaioresQueZeroExtratta.maxlength, name: EnviarQuantidadesMaioresQueZeroExtratta.id, id: EnviarQuantidadesMaioresQueZeroExtratta.id }">
                                        <label class="custom-control-label" data-bind="text: EnviarQuantidadesMaioresQueZeroExtratta.text, attr: { for: EnviarQuantidadesMaioresQueZeroExtratta.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : NaoRealizarQuitacaoViagemEncerramentoCIOT.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoRealizarQuitacaoViagemEncerramentoCIOT.val, attr: { maxlength: NaoRealizarQuitacaoViagemEncerramentoCIOT.maxlength, name: NaoRealizarQuitacaoViagemEncerramentoCIOT.id, id: NaoRealizarQuitacaoViagemEncerramentoCIOT.id }">
                                        <label class="custom-control-label" data-bind="text: NaoRealizarQuitacaoViagemEncerramentoCIOT.text, attr: { for: NaoRealizarQuitacaoViagemEncerramentoCIOT.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : EnviarCarretaViagemV2.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarCarretaViagemV2.val, attr: { maxlength: EnviarCarretaViagemV2.maxlength, name: EnviarCarretaViagemV2.id, id: EnviarCarretaViagemV2.id }">
                                        <label class="custom-control-label" data-bind="text: EnviarCarretaViagemV2.text, attr: { for: EnviarCarretaViagemV2.id }"></label>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                </form>
                </div>

                <!-- BBC -->
                <div id="tabBBC" class="tab-pane fade">
                    <form>
                        <div class="row">

                        </div>
                    </form>
                </div>

                <!-- AMBIPAR -->

                <div id="tabAmbipar" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: URL.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URL.text"></label>
                                    <input type="text" class="form-control" data-bind="class: URL.requiredClass, value: URL.val, valueUpdate: 'afterkeydown', attr: { maxlength: URL.maxlength, id : URL.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Senha.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Senha.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- RODOCRED -->

                <div id="tabRodocred" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: URL.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URL.text"></label>
                                    <input type="text" class="form-control" data-bind="class: URL.requiredClass, value: URL.val, valueUpdate: 'afterkeydown', attr: { maxlength: URL.maxlength, id : URL.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: IDCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: IDCliente.text"></label>
                                    <input type="text" class="form-control" data-bind="class: IDCliente.requiredClass, value: IDCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: IDCliente.maxlength, id : IDCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Login.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Login.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Login.requiredClass, value: Login.val, valueUpdate: 'afterkeydown', attr: { maxlength: Login.maxlength, id : Login.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ChaveAutenticacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ChaveAutenticacao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ChaveAutenticacao.requiredClass, value: ChaveAutenticacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChaveAutenticacao.maxlength, id : ChaveAutenticacao.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- REPOMFRETE -->
                <div id="tabRepomFrete" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: URLRepomFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLRepomFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: URLRepomFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLRepomFrete.maxlength, id : URLRepomFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: UsuarioRepomFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioRepomFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: UsuarioRepomFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioRepomFrete.maxlength, id : UsuarioRepomFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SenhaRepomFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SenhaRepomFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: SenhaRepomFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaRepomFrete.maxlength, id : SenhaRepomFrete.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PartnerRepomFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PartnerRepomFrete.text"></label>
                                    <input type="text" class="form-control" data-bind="value: PartnerRepomFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: PartnerRepomFrete.maxlength, id : PartnerRepomFrete.id}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : UtilizarMetodosValidacaoCadastros.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarMetodosValidacaoCadastros.val, attr: { maxlength: UtilizarMetodosValidacaoCadastros.maxlength, name: UtilizarMetodosValidacaoCadastros.id, id: UtilizarMetodosValidacaoCadastros.id }">
                                            <label class="custom-control-label" data-bind="text: UtilizarMetodosValidacaoCadastros.text, attr: { for: UtilizarMetodosValidacaoCadastros.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : RealizarEncerramentoAutorizacaoPagamentoSeparado.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: RealizarEncerramentoAutorizacaoPagamentoSeparado.val, attr: { maxlength: RealizarEncerramentoAutorizacaoPagamentoSeparado.maxlength, name: RealizarEncerramentoAutorizacaoPagamentoSeparado.id, id: RealizarEncerramentoAutorizacaoPagamentoSeparado.id }">
                                            <label class="custom-control-label" data-bind="text: RealizarEncerramentoAutorizacaoPagamentoSeparado.text, attr: { for: RealizarEncerramentoAutorizacaoPagamentoSeparado.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible : RealizarCompraValePedagioIntegracaoCIOT.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: RealizarCompraValePedagioIntegracaoCIOT.val, attr: { maxlength: RealizarCompraValePedagioIntegracaoCIOT.maxlength, name: RealizarCompraValePedagioIntegracaoCIOT.id, id: RealizarCompraValePedagioIntegracaoCIOT.id }">
                                            <label class="custom-control-label" data-bind="text: RealizarCompraValePedagioIntegracaoCIOT.text, attr: { for: RealizarCompraValePedagioIntegracaoCIOT.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible : EnviarQuantidadesMaioresQueZeroRepomFrete.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarQuantidadesMaioresQueZeroRepomFrete.val, attr: { maxlength: EnviarQuantidadesMaioresQueZeroRepomFrete.maxlength, name: EnviarQuantidadesMaioresQueZeroRepomFrete.id, id: EnviarQuantidadesMaioresQueZeroRepomFrete.id }">
                                        <label class="custom-control-label" data-bind="text: EnviarQuantidadesMaioresQueZeroRepomFrete.text, attr: { for: EnviarQuantidadesMaioresQueZeroRepomFrete.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UsarDataPagamentoTransportadorTerceiro.val, attr: { maxlength: UsarDataPagamentoTransportadorTerceiro.maxlength, name: UsarDataPagamentoTransportadorTerceiro.id, id: UsarDataPagamentoTransportadorTerceiro.id }">
                                        <label class="custom-control-label" data-bind="text: UsarDataPagamentoTransportadorTerceiro.text, attr: { for: UsarDataPagamentoTransportadorTerceiro.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.val, attr: { maxlength: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.maxlength, name: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.id, id: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.text, attr: { for: UtilizarDataPrevisaoEntregaPedidoParaExpectativaPagamentoSaldo.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- TruckPad -->
                <div id="tabTruckPad" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: URLTruckPadToken.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLTruckPadToken.text"></label>
                                    <input type="text" class="form-control" data-bind="value: URLTruckPadToken.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLTruckPadToken.maxlength, id : URLTruckPadToken.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: URLTruckPad.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: URLTruckPad.text"></label>
                                    <input type="text" class="form-control" data-bind="value: URLTruckPad.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLTruckPad.maxlength, id : URLTruckPad.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: UsuarioTruckPad.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioTruckPad.text"></label>
                                    <input type="text" class="form-control" data-bind="value: UsuarioTruckPad.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioTruckPad.maxlength, id : UsuarioTruckPad.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SenhaTruckPad.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SenhaTruckPad.text"></label>
                                    <input type="text" class="form-control" data-bind="value: SenhaTruckPad.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaTruckPad.maxlength, id : SenhaTruckPad.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: OfficeID.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: OfficeID.text"></label>
                                    <input type="text" class="form-control" data-bind="value: OfficeID.val, valueUpdate: 'afterkeydown', attr: { maxlength: OfficeID.maxlength, id : OfficeID.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- DataFixaVencimentoCiot -->
                <div id="tabDataFixaVencimentoCiot" class="tab-pane fade">
                    <div class="col-12" id="knockoutDataFixaVencimentoCiot">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex justify-content-end mb-2">
                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, enable: Adicionar.enable, attr: { id : Adicionar.id}">
                                            <i class="fal fa-plus"></i>  <span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                    <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: ListaDataFixaVencimentoCiot.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabConfiguracaoFinanceira" class="tab-pane fade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: TipoDoPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDoPagamento.text, attr: { for: TipoDoPagamento.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDoPagamento.requiredClass, options: TipoDoPagamento.options, optionsText: 'text', optionsValue: 'value', value: TipoDoPagamento.val, attr: { maxlength: TipoDoPagamento.maxlength, id : TipoDoPagamento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoParaUso.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoParaUso.text, attr: { for: TipoMovimentoParaUso.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoParaUso.requiredClass, value: TipoMovimentoParaUso.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoParaUso.maxlength, id : TipoMovimentoParaUso.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoParaUso.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoParaReversao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoParaReversao.text, attr: { for: TipoMovimentoParaReversao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoParaReversao.requiredClass, value: TipoMovimentoParaReversao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoParaReversao.maxlength, id : TipoMovimentoParaReversao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoParaReversao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: Adicionar.visible" class="col-12 col-md-12">
                                <button data-bind="enable: Adicionar.enable, attr: { id: Adicionar.idBtnSearch}, click: Adicionar.eventClick" class="btn btn-primary" type="button" style="margin-top: 27px;">
                                    <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                        <div class="insideNoPaddignTable">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
                <footer id="knockoutCRUDConfiguracaoCIOT" class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDataFixaVencimentoCiot" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Período</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="fieldset-padding" id="knockoutCadastroDataFixaVencimentoCiot">
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: DiaInicialEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiaInicialEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="class: DiaInicialEmissao.requiredClass, value: DiaInicialEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiaInicialEmissao.maxlength, id : DiaInicialEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: DiaFinalEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiaFinalEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="class: DiaFinalEmissao.requiredClass, value: DiaFinalEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiaFinalEmissao.maxlength, id : DiaFinalEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: DiaVencimentoCIOT.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiaVencimentoCIOT.text"></label>
                                <input type="text" class="form-control" data-bind="class: DiaVencimentoCIOT.requiredClass, value: DiaVencimentoCIOT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiaVencimentoCIOT.maxlength, id : DiaVencimentoCIOT.id}" />
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end" id="knockoutCRUDDataFixaVencimentoCiot">
                    <button type="button" class="btn btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, enable: Excluir.enable, attr: { id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-success ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, enable: Atualizar.enable, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-success ms-2" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, enable: Adicionar.enable, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoCIOT"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracaoCIOT();
    });

</script>
