
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Pré Planejamento</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configurações de Pré Planejamento
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutConfiguracaoPreCarga">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.text, attr: { for: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.requiredClass, value: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.maxlength, id : DiasParaTransportadorAdicionarFilaCarregamentoVeiculo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.text, attr: { for: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.requiredClass, value: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasTransicaoAutomaticaFilaCarregamentoVeiculo.maxlength, id : DiasTransicaoAutomaticaFilaCarregamentoVeiculo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: TempoAguardarConfirmacaoTransportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TempoAguardarConfirmacaoTransportador.text, attr: { for: TempoAguardarConfirmacaoTransportador.id }"></label>
                                <input type="text" class="form-control" data-bind="class: TempoAguardarConfirmacaoTransportador.requiredClass, value: TempoAguardarConfirmacaoTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoAguardarConfirmacaoTransportador.maxlength, id : TempoAguardarConfirmacaoTransportador.id}" />
                            </div>
                        </div>
                    </div>
                    <div class="row gap-3">
                        <div class="col" data-bind="visible: VincularFilaCarregamentoVeiculoAutomaticamente.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: VincularFilaCarregamentoVeiculoAutomaticamente.val, attr: { maxlength: VincularFilaCarregamentoVeiculoAutomaticamente.maxlength, name: VincularFilaCarregamentoVeiculoAutomaticamente.id, id: VincularFilaCarregamentoVeiculoAutomaticamente.id }">
                                    <label class="custom-control-label" data-bind="text: VincularFilaCarregamentoVeiculoAutomaticamente.text, attr: { for: VincularFilaCarregamentoVeiculoAutomaticamente.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col" data-bind="visible: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.val, attr: { maxlength: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.maxlength, name: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.id, id: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.id }">
                                    <label class="custom-control-label" data-bind="text: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.text, attr: { for: AceitarVinculoFilaCarregamentoVeiculoAutomaticamente.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col" data-bind="visible: VincularPrePlanoSemValidarModeloVeicularCarga.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: VincularPrePlanoSemValidarModeloVeicularCarga.val, attr: { maxlength: VincularPrePlanoSemValidarModeloVeicularCarga.maxlength, name: VincularPrePlanoSemValidarModeloVeicularCarga.id, id: VincularPrePlanoSemValidarModeloVeicularCarga.id }">
                                    <label class="custom-control-label" data-bind="text: VincularPrePlanoSemValidarModeloVeicularCarga.text, attr: { for: VincularPrePlanoSemValidarModeloVeicularCarga.id }"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCrudConfiguracaoPreCarga">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: {value: Atualizar.text, id : Atualizar.id}">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoPreCarga"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracaoPreCarga();
    });

</script>
