
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">{Localize::Gerais.Geral.Configuracoes}</li>
    <li class="breadcrumb-item active">{Localize::Configuracoes.ConfiguracaoControleEntrega.DescricaoConfiguracaoControleEntrega}</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> {Localize::Configuracoes.ConfiguracaoControleEntrega.DescricaoConfiguracaoControleEntrega}
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastro">
                    <div class="col-12 col-md-6" data-bind="visible: TempoInicioViagemAposEmissaoDoc.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TempoInicioViagemAposEmissaoDoc.text"></label>
                            <input type="text" class="form-control" data-bind="value: TempoInicioViagemAposEmissaoDoc.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoInicioViagemAposEmissaoDoc.maxlength, id : TempoInicioViagemAposEmissaoDoc.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TempoInicioViagemAposFinalizacaoFluxoPatio.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TempoInicioViagemAposFinalizacaoFluxoPatio.text"></label>
                            <input type="text" class="form-control" data-bind="value: TempoInicioViagemAposFinalizacaoFluxoPatio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoInicioViagemAposFinalizacaoFluxoPatio.maxlength, id : TempoInicioViagemAposFinalizacaoFluxoPatio.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: MensagemChatAssumirMonitoramentoCarga.visible" id="txtMensagemUsuario">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: MensagemChatAssumirMonitoramentoCarga.text, attr: { for: MensagemChatAssumirMonitoramentoCarga.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: MensagemChatAssumirMonitoramentoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: MensagemChatAssumirMonitoramentoCarga.maxlength, id : MensagemChatAssumirMonitoramentoCarga.id }"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <span>{Localize::Configuracoes.ConfiguracaoControleEntrega.Tags}</span>
                            <button type="button" class="btn btn-sm btn-default mx-1" data-bind="click: TagMotorista.eventClick, visible: TagMotorista.visible, attr: { value: TagMotorista.text, id : TagMotorista.id}">
                                <span data-bind="text: TagMotorista.text"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-bind="click: TagAnalista.eventClick, visible: TagAnalista.visible, attr: { value: TagAnalista.text, id : TagAnalista.id}">
                                <span data-bind="text: TagAnalista.text"></span>
                            </button>
                        </div>
                    </div>

                </div>
                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoControleEntrega"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Configuracoes.ConfiguracaoControleEntrega").then(loadConfiguracaoControleEntrega);
    });

</script>