
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Configuração Conciliação Transportador</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração de Conciliação do Transportador
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastro">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible : HabilitarGeracaoAutomatica.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarGeracaoAutomatica.val, attr: { maxlength: HabilitarGeracaoAutomatica.maxlength, name: HabilitarGeracaoAutomatica.id, id: HabilitarGeracaoAutomatica.id }">
                                    <label class="custom-control-label" data-bind="text: HabilitarGeracaoAutomatica.text, attr: { for: HabilitarGeracaoAutomatica.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: DiasParaContestacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiasParaContestacao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DiasParaContestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasParaContestacao.maxlength, id : DiasParaContestacao.id}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoCnpj.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCnpj.text"></label>
                                    <select class="form-control" data-bind="options: TipoCnpj.options, optionsText: 'text', optionsValue: 'value', value: TipoCnpj.val, attr: { id : TipoCnpj.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Periodicidade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Periodicidade.text"></label>
                                <select class="form-control" data-bind="options: Periodicidade.options, optionsText: 'text', optionsValue: 'value', value: Periodicidade.val, attr: { id : Periodicidade.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: SequenciaPeriodicidade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SequenciaPeriodicidade.text"></label>
                                <select class="form-control" data-bind="options: SequenciaPeriodicidade.options, optionsText: 'text', optionsValue: 'value', value: SequenciaPeriodicidade.val, attr: { id : SequenciaPeriodicidade.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Salvar.eventClick,visible: Salvar.visible, attr: {value: Salvar.text, id : Salvar.id}">
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoConciliacaoTransportador"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracao();
    });

</script>