
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Configuração Diaria Automatica</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Diária automática
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastro">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible : HabilitarDiariaAutomatica.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarDiariaAutomatica.val, attr: { maxlength: HabilitarDiariaAutomatica.maxlength, name: HabilitarDiariaAutomatica.id, id: HabilitarDiariaAutomatica.id }">
                                    <label class="custom-control-label" data-bind="text: HabilitarDiariaAutomatica.text, attr: { for: HabilitarDiariaAutomatica.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: HabilitarDiariaAutomatica.val">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FrequenciaAtualizacao.text"></label>
                                <input type="text" class="form-control" data-bind="value: FrequenciaAtualizacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: FrequenciaAtualizacao.maxlength, id : FrequenciaAtualizacao.id}" />
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: {value: Salvar.text, id : Salvar.id}">
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoDiariaAutomatica"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadDiariaAutomatica();
    });

</script>