@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Configuração Documentação AFRMM</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração para Automatização do AFRMM
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastro">
                    <div class="col-12 col-md-6" data-bind="visible: QuantidadeDiasAposDescarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: QuantidadeDiasAposDescarga.text"></label>
                            <input type="text" class="form-control" data-bind="value: QuantidadeDiasAposDescarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeDiasAposDescarga.maxlength, id : QuantidadeDiasAposDescarga.id}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: EnderecoFTP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EnderecoFTP.text"></label>
                                <input type="text" class="form-control" data-bind="value: EnderecoFTP.val, valueUpdate: 'afterkeydown', attr: { maxlength: EnderecoFTP.maxlength, id : EnderecoFTP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: PortaFTP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PortaFTP.text"></label>
                                <input type="text" class="form-control" data-bind="value: PortaFTP.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortaFTP.maxlength, id : PortaFTP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: DiretorioFTP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiretorioFTP.text"></label>
                                <input type="text" class="form-control" data-bind="value: DiretorioFTP.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiretorioFTP.maxlength, id : DiretorioFTP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: DiretorioFTPSubcontratacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiretorioFTPSubcontratacao.text"></label>
                                <input type="text" class="form-control" data-bind="value: DiretorioFTPSubcontratacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiretorioFTPSubcontratacao.maxlength, id : DiretorioFTPSubcontratacao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: DiretorioFTPRedespacho.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiretorioFTPRedespacho.text"></label>
                                <input type="text" class="form-control" data-bind="value: DiretorioFTPRedespacho.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiretorioFTPRedespacho.maxlength, id : DiretorioFTPRedespacho.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: UsuarioFTP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: UsuarioFTP.text"></label>
                                <input type="text" class="form-control" data-bind="value: UsuarioFTP.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioFTP.maxlength, id : UsuarioFTP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: SenhaFTP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SenhaFTP.text"></label>
                                <input type="text" class="form-control" data-bind="value: SenhaFTP.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaFTP.maxlength, id : SenhaFTP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible : FTPPassivo.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: FTPPassivo.val, attr: { maxlength: FTPPassivo.maxlength, name: FTPPassivo.id, id: FTPPassivo.id }">
                                    <label class="custom-control-label" data-bind="text: FTPPassivo.text, attr: { for: FTPPassivo.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible : SFTP.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: SFTP.val, attr: { maxlength: SFTP.maxlength, name: SFTP.id, id: SFTP.id }">
                                    <label class="custom-control-label" data-bind="text: SFTP.text, attr: { for: SFTP.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible : SSL.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: SSL.val, attr: { maxlength: SSL.maxlength, name: SSL.id, id: SSL.id }">
                                    <label class="custom-control-label" data-bind="text: SSL.text, attr: { for: SSL.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: EmailFalhaEnvio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EmailFalhaEnvio.text"></label>
                                <input type="text" class="form-control" data-bind="value: EmailFalhaEnvio.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailFalhaEnvio.maxlength, id : EmailFalhaEnvio.id}" />
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-default mx-3" data-bind="click: TestarFTP.eventClick, visible: TestarFTP.visible, attr: {value: TestarFTP.text, id: TestarFTP.id}">
                                <i class=""></i>
                                <span data-bind="text: TestarFTP.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: {value: Salvar.text, id : Salvar.id}">
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoDocumentacaoAFRMM"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracao();
    });
</script>