
<style>
    .smart-form .fieldset-padding {
        padding: 25px 0 10px;
    }

    .row > .well-group {
        margin-bottom: 15px;
    }

    .well-group {
        margin: 0 15px;
        padding-top: 15px;
        overflow: auto;
    }
</style>
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Configurações Emissor</li>
        <li class="breadcrumb-item active">Configuração</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Configurações Emissor
        </h1>
    </div>
    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
        <div class="panel" id="divContent">
            <div class="panel-container">
                <div class="panel-content">
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active" id="liGeral">
                                <a href="#divGeral" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Geral</span></a>
                            </li>
                            <li class="nav-item " id="liNSTech" style="display: none;">
                                <a href="#divNSTech" class="nav-link " data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">NSTech</span></a>
                            </li>
                        </ul>

                        <div class="tab-content" id="knockoutConfiguracaoEmissorDocumento">

                            <div id="divGeral" class="tab-pane fade active show">
                                <div class="panel">
                                    <div class="panel-container">
                                        <div class="panel-hdr">
                                            <h3>
                                                Configurações Gerais Emissor Documentos
                                            </h3>
                                        </div>
                                        <div class="panel-content">
                                            <div class="row">
                                                <div class="col-12 col-md-3" data-bind="visible: TipoEmissorDocumentoCTe.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoEmissorDocumentoCTe.text, attr: { for: TipoEmissorDocumentoCTe.id }"></label>
                                                        <select class="form-control" data-bind="class: TipoEmissorDocumentoCTe.requiredClass, options: TipoEmissorDocumentoCTe.options, optionsText: 'text', optionsValue: 'value', value: TipoEmissorDocumentoCTe.val, attr: { maxlength: TipoEmissorDocumentoCTe.maxlength, id : TipoEmissorDocumentoCTe.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: TipoEmissorDocumentoMDFe.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoEmissorDocumentoMDFe.text, attr: { for: TipoEmissorDocumentoMDFe.id }"></label>
                                                        <select class="form-control" data-bind="class: TipoEmissorDocumentoMDFe.requiredClass, options: TipoEmissorDocumentoMDFe.options, optionsText: 'text', optionsValue: 'value', value: TipoEmissorDocumentoMDFe.val, attr: { maxlength: TipoEmissorDocumentoMDFe.maxlength, id : TipoEmissorDocumentoMDFe.id}"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-header d-flex align-items-center justify-content-between" data-bind="if: GrupoResponsavelTecnico.visible">
                                                <h3 class="card-title">Responsável Técnico</h3>
                                            </div>
                                            <div class="card-body row" data-bind="visible: GrupoResponsavelTecnico.visible">
                                                <div class="col-12 col-md-2" data-bind="visible: ResponsavelTecnicoCNPJ.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ResponsavelTecnicoCNPJ.text, attr: { for: ResponsavelTecnicoCNPJ.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ResponsavelTecnicoCNPJ.requiredClass, value: ResponsavelTecnicoCNPJ.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelTecnicoCNPJ.maxlength, id : ResponsavelTecnicoCNPJ.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ResponsavelTecnicoNomeContato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ResponsavelTecnicoNomeContato.text, attr: { for: ResponsavelTecnicoNomeContato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ResponsavelTecnicoNomeContato.requiredClass, value: ResponsavelTecnicoNomeContato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelTecnicoNomeContato.maxlength, id : ResponsavelTecnicoNomeContato.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ResponsavelTecnicoEmail.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ResponsavelTecnicoEmail.text, attr: { for: ResponsavelTecnicoEmail.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ResponsavelTecnicoEmail.requiredClass, value: ResponsavelTecnicoEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelTecnicoEmail.maxlength, id : ResponsavelTecnicoEmail.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: ResponsavelTecnicoTelefone.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ResponsavelTecnicoTelefone.text, attr: { for: ResponsavelTecnicoTelefone.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ResponsavelTecnicoTelefone.requiredClass, value: ResponsavelTecnicoTelefone.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelTecnicoTelefone.maxlength, id : ResponsavelTecnicoTelefone.id}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="divNSTech" class="tab-pane fade">
                                <div class="panel">
                                    <div class="panel-container">
                                        <div class="panel-hdr">
                                            <h3>
                                                Configurações Emissor NSTech
                                            </h3>
                                        </div>
                                        <div class="panel-content">
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlAPICte.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlAPICte.text, attr: { for: NSTechUrlAPICte.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlAPICte.requiredClass, value: NSTechUrlAPICte.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlAPICte.maxlength, id : NSTechUrlAPICte.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlAPIMDFe.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlAPIMDFe.text, attr: { for: NSTechUrlAPIMDFe.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlAPIMDFe.requiredClass, value: NSTechUrlAPIMDFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlAPIMDFe.maxlength, id : NSTechUrlAPIMDFe.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlAPIWebHook.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlAPIWebHook.text, attr: { for: NSTechUrlAPIWebHook.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlAPIWebHook.requiredClass, value: NSTechUrlAPIWebHook.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlAPIWebHook.maxlength, id : NSTechUrlAPIWebHook.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlAPICertificado.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlAPICertificado.text, attr: { for: NSTechUrlAPICertificado.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlAPICertificado.requiredClass, value: NSTechUrlAPICertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlAPICertificado.maxlength, id : NSTechUrlAPICertificado.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlAPILogo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlAPILogo.text, attr: { for: NSTechUrlAPILogo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlAPILogo.requiredClass, value: NSTechUrlAPILogo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlAPILogo.maxlength, id : NSTechUrlAPILogo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechTokenAPIKey.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechTokenAPIKey.text, attr: { for: NSTechTokenAPIKey.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechTokenAPIKey.requiredClass, value: NSTechTokenAPIKey.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechTokenAPIKey.maxlength, id : NSTechTokenAPIKey.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechUrlWebhook.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechUrlWebhook.text, attr: { for: NSTechUrlWebhook.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NSTechUrlWebhook.requiredClass, value: NSTechUrlWebhook.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechUrlWebhook.maxlength, id : NSTechUrlWebhook.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechTokenWebhook.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechTokenWebhook.text, attr: { for: NSTechTokenWebhook.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: NSTechTokenWebhook.enable, class: NSTechTokenWebhook.requiredClass, value: NSTechTokenWebhook.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechTokenWebhook.maxlength, id : NSTechTokenWebhook.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NSTechSubscribeId.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NSTechSubscribeId.text, attr: { for: NSTechSubscribeId.id }"></label>
                                                    <input type="text" class="form-control" data-bind="enable: NSTechSubscribeId.enable, class: NSTechSubscribeId.requiredClass, value: NSTechSubscribeId.val, valueUpdate: 'afterkeydown', attr: { maxlength: NSTechSubscribeId.maxlength, id : NSTechSubscribeId.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer id="knockoutCRUDConfiguracaoEmissorDocumento" class="d-flex justify-content-end mt-2">
                            <button type="button" class="btn  btn-success ms-1" data-bind="click: EnviarCertificadosDigitaisValidos.eventClick, visible: EnviarCertificadosDigitaisValidos.visible, attr: { id : EnviarCertificadosDigitaisValidos.id }">
                                <i class="fal fa-upload"></i>
                                <span data-bind="text: EnviarCertificadosDigitaisValidos.text"></span>
                            </button>
                            <button type="button" class="btn  btn-success ms-1" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id : Salvar.id }">
                                <i class="fal fa-save"></i>
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/configuracaoEmissorDocumento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracaoEmissorDocumento();
    });

</script>

