
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Gerais.Geral.Configuracoes</li>
    <li class="breadcrumb-item active">@Localization.Resources.Configuracoes.ConfiguracaoTemplateWhatsApp.ConfiguracaoDeTemplateDeMensagensViaWhatsApp</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> @Localization.Resources.Configuracoes.ConfiguracaoTemplateWhatsApp.ConfiguracaoDeTemplateDeMensagensViaWhatsApp
    </h1>
</div>

<div id="knockoutPesquisaTemplates">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div class="mt-3">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutMensagemWhatsApp">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label class="form-label">Nome Template</label>
                            <input type="text" class="form-control" data-bind="class: NomeTemplate.requiredClass, enable: NomeTemplate.enable, value: NomeTemplate.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeTemplate.maxlength, id : NomeTemplate.id}" />
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Idioma.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Idioma.text, attr: { for: Idioma.id }"></label>
                                <select class="form-control" data-bind="class: Idioma.requiredClass, enable: NomeTemplate.enable, options: Idioma.options, optionsText: 'text', optionsValue: 'value', value: Idioma.val, attr: { maxlenglabel: Idioma.maxlenglabel, id : Idioma.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TipoTemplate.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoTemplate.text, attr: { for: TipoTemplate.id }"></label>
                                <select class="form-control" data-bind="class: TipoTemplate.requiredClass, enable: NomeTemplate.enable, options: TipoTemplate.options, optionsText: 'text', optionsValue: 'value', value: TipoTemplate.val, attr: { maxlenglabel: TipoTemplate.maxlenglabel, id : TipoTemplate.id}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-bind="visible: CorpoMensagem.visible">
                        <div class="col-12 col-md-12" data-bind="visible: CorpoMensagem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CorpoMensagem.text, attr: { for: CorpoMensagem.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: CorpoMensagem.val, enable: CorpoMensagem.enable, valueUpdate: 'afterkeydown', attr: { maxlength: CorpoMensagem.maxlength, id : CorpoMensagem.id }"></textarea>
                            </div>
                        </div>
                        <span>Tags: </span>
                        <button class="border btn-light" type="button" data-bind="click: TagNumeroPedidoWhatsApp.eventClick, visible: TagNumeroPedidoWhatsApp.visible, text: TagNumeroPedidoWhatsApp.text, attr: { id : TagNumeroPedidoWhatsApp.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagLinkAcompanhamentoEntrega.eventClick, visible: TagLinkAcompanhamentoEntrega.visible, text: TagLinkAcompanhamentoEntrega.text, attr: { id : TagLinkAcompanhamentoEntrega.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagNomeCliente.eventClick, visible: TagNomeCliente.visible, text: TagNomeCliente.text, attr: { id : TagNomeCliente.id}"></button>
                    </div>
                    <div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                    <footer>
                        <div class="row mt-3">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-success m-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                                <button type="button" class="btn btn-primary m-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoTemplateWhatsApp"></script>
<script src="~/scripts/summernote"></script>
<link rel="stylesheet" href="~/css/summernote" />
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {

        LoadLocalizationResources("Configuracoes.ConfiguracaoTemplateWhatsApp").then(loadMensagem);
    });

</script>
