
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Execução Comandos</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Execução de Comandos
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-play"></i>
                Executar Comandos
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutExecucaoComandos">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: AlterarStatusCTeRejeitado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AlterarStatusCTeRejeitado.text, attr: { for: AlterarStatusCTeRejeitado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: AlterarStatusCTeRejeitado.requiredClass, value: AlterarStatusCTeRejeitado.val, valueUpdate: 'afterkeydown', attr: { maxlength: AlterarStatusCTeRejeitado.maxlength, id : AlterarStatusCTeRejeitado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: AlterarStatusCTeRejeitado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarAlterarStatusCTeRejeitado.eventClick, visible: ExecutarAlterarStatusCTeRejeitado.visible, attr: { id : ExecutarAlterarStatusCTeRejeitado.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarAlterarStatusCTeRejeitado.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: AlterarStatusCTeAutorizado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AlterarStatusCTeAutorizado.text, attr: { for: AlterarStatusCTeAutorizado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: AlterarStatusCTeAutorizado.requiredClass, value: AlterarStatusCTeAutorizado.val, valueUpdate: 'afterkeydown', attr: { maxlength: AlterarStatusCTeAutorizado.maxlength, id : AlterarStatusCTeAutorizado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: AlterarStatusCTeAutorizado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarAlterarStatusCTeAutorizado.eventClick, visible: ExecutarAlterarStatusCTeAutorizado.visible, attr: { id : ExecutarAlterarStatusCTeAutorizado.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarAlterarStatusCTeAutorizado.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: AlterarStatusCTeInutilizacaoRejeitado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AlterarStatusCTeInutilizacaoRejeitado.text, attr: { for: AlterarStatusCTeInutilizacaoRejeitado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: AlterarStatusCTeInutilizacaoRejeitado.requiredClass, value: AlterarStatusCTeInutilizacaoRejeitado.val, valueUpdate: 'afterkeydown', attr: { maxlength: AlterarStatusCTeInutilizacaoRejeitado.maxlength, id : AlterarStatusCTeInutilizacaoRejeitado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: AlterarStatusCTeInutilizacaoRejeitado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarAlterarStatusCTeInutilizacaoRejeitado.eventClick, visible: ExecutarAlterarStatusCTeInutilizacaoRejeitado.visible, attr: { id : ExecutarAlterarStatusCTeInutilizacaoRejeitado.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarAlterarStatusCTeInutilizacaoRejeitado.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: ReverterAnulacaoGerencialCTe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ReverterAnulacaoGerencialCTe.text, attr: { for: ReverterAnulacaoGerencialCTe.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ReverterAnulacaoGerencialCTe.requiredClass, value: ReverterAnulacaoGerencialCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: ReverterAnulacaoGerencialCTe.maxlength, id : ReverterAnulacaoGerencialCTe.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ReverterAnulacaoGerencialCTe.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarReverterAnulacaoGerencialCTe.eventClick, visible: ExecutarReverterAnulacaoGerencialCTe.visible, attr: { id : ExecutarReverterAnulacaoGerencialCTe.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarReverterAnulacaoGerencialCTe.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: CancelarCargaNovaNaoFechada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CancelarCargaNovaNaoFechada.text, attr: { for: CancelarCargaNovaNaoFechada.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CancelarCargaNovaNaoFechada.requiredClass, value: CancelarCargaNovaNaoFechada.val, valueUpdate: 'afterkeydown', attr: { maxlength: CancelarCargaNovaNaoFechada.maxlength, id : CancelarCargaNovaNaoFechada.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CancelarCargaNovaNaoFechada.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarCancelarCargaNovaNaoFechada.eventClick, visible: ExecutarCancelarCargaNovaNaoFechada.visible, attr: { id : ExecutarCancelarCargaNovaNaoFechada.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarCancelarCargaNovaNaoFechada.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: ExecutarScriptPreCadastrado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ExecutarScriptPreCadastrado.text, attr: { for: ExecutarScriptPreCadastrado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ExecutarScriptPreCadastrado.requiredClass, value: ExecutarScriptPreCadastrado.val, valueUpdate: 'afterkeydown', attr: { maxlength: ExecutarScriptPreCadastrado.maxlength, id : ExecutarScriptPreCadastrado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ExecutarScriptPreCadastrado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: ExecutarExecutarScriptPreCadastrado.eventClick, visible: ExecutarExecutarScriptPreCadastrado.visible, attr: { id : ExecutarExecutarScriptPreCadastrado.id}" type="button" aria-label="Buscar">
                                        <i class="fal fa-play"></i><span data-bind="text: ExecutarExecutarScriptPreCadastrado.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/execucaoComandos"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadExecucaoComandos();
    });

</script>