<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Configuracoes.LiberacaoIntegracao.Configuracoes</li>
    <li class="breadcrumb-item active">@Localization.Resources.Configuracoes.LiberacaoIntegracao.Integracao</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> @Localization.Resources.Configuracoes.LiberacaoIntegracao.LiberacaoIntegracoes
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div id="knockoutLiberacaoIntegracao">
                <div class="row mx-3 mt-3">
                    <div class="tree" id="divTreeView" data-bind=""></div>
                </div>
            </div>


            <footer id="knockoutCRUDLiberacaoIntegracao">
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/TreeViewLoad"></script>
<script src="~/scripts/LiberacaoIntegracao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Configuracoes.LiberacaoIntegracao").then(loadLiberacaoIntegracao);
    });

</script>

