
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Configurações</li>
    <li class="breadcrumb-item active">Notificação Motorista</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Notificação de SMS(Motorista)
    </h1>
</div>

<div id="knockoutPesquisaConfiguracoesDeNotificacaoMotoristaSMS">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Configurações de Notificação
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value',value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Configurações de Notificação
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroConfiguracoesDeNotificacaoMotoristaSMS">

                    <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoEnvio.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoEnvio.text, attr: { for: TipoEnvio.id }"></label>
                            <select class="form-control" data-bind="class: TipoEnvio.requiredClass, options: TipoEnvio.options, optionsText: 'text', optionsValue: 'value', value: TipoEnvio.val, attr: { maxlength: TipoEnvio.maxlength, id : TipoEnvio.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                            <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 mt-5 align-content-center" data-bind="visible: NotificacaoSuperApp.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: NotificacaoSuperApp.val, attr: { maxlength: NotificacaoSuperApp.maxlength, name: NotificacaoSuperApp.id, id: NotificacaoSuperApp.id }">
                                <label class="custom-control-label" data-bind="text: NotificacaoSuperApp.text, attr: { for: NotificacaoSuperApp.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Mensagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id }"></textarea>
                        </div>
                        <span>Tags: </span>
                        <button class="border btn-light" type="button" data-bind="click: TagDataMensagem.eventClick, visible: TagDataMensagem.visible, text: TagDataMensagem.text, attr: { id : TagDataMensagem.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagCpfMotorista.eventClick, visible: TagCpfMotorista.visible, text: TagCpfMotorista.text, attr: { id : TagCpfMotorista.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagNomeMotorista.eventClick, visible: TagNomeMotorista.visible, text: TagNomeMotorista.text, attr: { id : TagNomeMotorista.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagNumeroCarga.eventClick, visible: TagNumeroCarga.visible, text: TagNumeroCarga.text, attr: { id : TagNumeroCarga.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagPlaca.eventClick, visible: TagPlaca.visible, text: TagPlaca.text, attr: { id : TagPlaca.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagTransportadora.eventClick, visible: TagTransportadora.visible, text: TagTransportadora.text, attr: { id : TagTransportadora.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagCnpjTransportadora.eventClick, visible: TagCnpjTransportadora.visible, text: TagCnpjTransportadora.text, attr: { id : TagCnpjTransportadora.id}"></button>
                        <button class="border btn-light" type="button" data-bind="click: TagDoca.eventClick, visible: TagDoca.visible, text: TagDoca.text, attr: { id : TagDoca.id}"></button>
                    </div>
                </div>
            </form>
            <div class=" d-flex justify-content-end mt-2" id="knockoutCRUDConfiguracoesDeNotificacaoMotoristaSMS">
                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                    <i class="fal fa-ban"></i>
                    <span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                    <i class="fal fa-trash"></i>
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                    <i class="fal fa-check"></i>
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/notificacaoMotoristaSMS"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadNotificacaoMotoristaSMS();
    });

</script>

