@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mensagens de Aviso</title>
</head>
<body>
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h2 class="page-title txt-color-blueDark">
                    Mensagens de Aviso
                </h2>
            </div>
        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="knockoutPesquisaMensagemAviso">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                            <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                            <h2>Pesquisar Mensagens de Aviso</h2>
                        </header>

                        <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                            <div>
                                <div class="smart-form">
                                    <section>
                                        <div class="well">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-4" data-bind="visible: DataInicial.visible">
                                                        <label class="label"><b data-bind="text: DataInicial.text"></b></label>
                                                        <label data-bind="attr: { class: DataInicial.requiredClass}">
                                                            <input type="text" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-4" data-bind="visible: DataFinal.visible">
                                                        <label class="label"><b data-bind="text: DataFinal.text"></b></label>
                                                        <label data-bind="attr: { class: DataFinal.requiredClass}">
                                                            <input type="text" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-4" data-bind="visible: Ativo.visible">
                                                        <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                                        <label class="select">
                                                            <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-12" data-bind="visible: Titulo.visible">
                                                        <label class="label"><b data-bind="text: Titulo.text"></b></label>
                                                        <label data-bind="attr: { class: Titulo.requiredClass}">
                                                            <input type="text" data-bind="value: Titulo.val, attr: { maxlength: Titulo.maxlength, id : Titulo.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <footer class="no-padding">
                                                <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                    <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                                </button>
                                            </footer>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="widget-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jarviswidget" id="wid-id-mensagem-aviso" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Cadastro de Mensagens de Aviso</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="knockoutCadastroMensagemAviso" class="smart-form">
                                <header>
                                    Cadastrar Mensagens de Aviso
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3" data-bind="visible: DataInicial.visible">
                                            <label class="label"><b data-bind="text: DataInicial.text"></b></label>
                                            <label data-bind="attr: { class: DataInicial.requiredClass}">
                                                <input type="text" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                        </section>
                                        <section class="col col-3" data-bind="visible: DataFinal.visible">
                                            <label class="label"><b data-bind="text: DataFinal.text"></b></label>
                                            <label data-bind="attr: { class: DataFinal.requiredClass}">
                                                <input type="text" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                        </section>
                                        <section class="col col-3" data-bind="visible: TipoServicoMultisoftware.visible">
                                            <label class="label"><b data-bind="text: TipoServicoMultisoftware.text"></b></label>
                                            <label class="select">
                                                <select data-bind="options: TipoServicoMultisoftware.options, optionsText: 'text', optionsValue: 'value', value: TipoServicoMultisoftware.val, attr: { id : TipoServicoMultisoftware.id}"></select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3" data-bind="visible: Ativo.visible">
                                            <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                            <label class="select">
                                                <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-12" data-bind="visible: Titulo.visible">
                                            <label class="label"><b data-bind="text: Titulo.text"></b></label>
                                            <label data-bind="attr: { class: Titulo.requiredClass}">
                                                <input type="text" data-bind="value: Titulo.val, attr: { maxlength: Titulo.maxlength, id : Titulo.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-12" data-bind="visible: Mensagem.visible">
                                            <label class="label"><b data-bind="text: Mensagem.text"></b></label>
                                            <label data-bind="attr: { class: Mensagem.requiredClass}">
                                                <textarea style="width:100%" rows="4" data-bind="value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id }"></textarea>
                                            </label>
                                        </section>
                                        <section class="col col-12" data-bind="visible: Observacao.visible">
                                            <label class="label"><b data-bind="text: Observacao.text"></b></label>
                                            <label data-bind="attr: { class: Observacao.requiredClass}">
                                                <textarea style="width:100%" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                            </label>
                                        </section>
                                    </div>
                                    <label class="label"><b>Anexos</b></label>
                                    <div class="row" data-bind="visible: Anexos.visible">
                                        <section class="col col-3" data-bind="visible: Arquivo.visible">
                                            <label class="label"><b data-bind="text: Arquivo.text"></b></label>
                                            <input type="file" accept=".jpg,.jpeg,.png,.pdf" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                                        </section>
                                        <section class="col col-6" data-bind="visible: DescricaoArquivo.visible">
                                            <label class="label"><b data-bind="text: DescricaoArquivo.text"></b></label>
                                            <label data-bind="attr: { class: DescricaoArquivo.requiredClass}">
                                                <input type="text" data-bind="value: DescricaoArquivo.val, attr: { maxlength: DescricaoArquivo.maxlength, id : DescricaoArquivo.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label"><b></b></label>
                                            <label data-bind="attr: { class: DescricaoArquivo.requiredClass}">
                                                <button class="btn btn-success btnPesquisarFiltroPesquisa" data-bind="click: AdicionarArquivo.eventClick, attr: { id: AdicionarArquivo.id}" type="button">
                                                    <span data-bind="text: AdicionarArquivo.text"></span>
                                                </button>
                                        </section>
                                        <section class="col col-12">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                    <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                    <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</body>
</html>

@Scripts.Render("~/scripts/mensagemAviso")
<script type="text/javascript">
    pageSetUp();
    $(document).ready(function () {
        LoadMensagemAviso();
    });
</script>
