
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.GestaoEntregas}</li>
    <li class="breadcrumb-item active">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.ConfiguracaoPortalClientee}</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> {Localize::GestaoEntregas.ConfiguracaoPortalCliente.ConfiguracaoPortalDoCliente}
    </h1>
</div>

<div class="panel" id="divContent">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item active">
                    <a href="#tabConfiguracao" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.Configuracao}</span>
                    </a>
                </li>
                <li class="nav-item" id="tabAvaliacao" style="display:none;">
                    <a href="#knockoutAvalicaoPedido" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.Avaliacao}</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <!-- Configuração -->
                <div class="tab-pane fade active show" id="tabConfiguracao">
                    <div id="knockoutConfiguracaoPortalCliente">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.ConfiguracaoDeExibicao}</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirMapa.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirMapa.val, attr: { maxlength: ExibirMapa.maxlength, name: ExibirMapa.id, id: ExibirMapa.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirMapa.text, attr: { for: ExibirMapa.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirDetalhesPedido.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirDetalhesPedido.val, attr: { maxlength: ExibirDetalhesPedido.maxlength, name: ExibirDetalhesPedido.id, id: ExibirDetalhesPedido.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirDetalhesPedido.text, attr: { for: ExibirDetalhesPedido.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirHistoricoPedido.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirHistoricoPedido.val, attr: { maxlength: ExibirHistoricoPedido.maxlength, name: ExibirHistoricoPedido.id, id: ExibirHistoricoPedido.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirHistoricoPedido.text, attr: { for: ExibirHistoricoPedido.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirDetalhesMotorista.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirDetalhesMotorista.val, attr: { maxlength: ExibirDetalhesMotorista.maxlength, name: ExibirDetalhesMotorista.id, id: ExibirDetalhesMotorista.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirDetalhesMotorista.text, attr: { for: ExibirDetalhesMotorista.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirDetalhesProduto.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirDetalhesProduto.val, attr: { maxlength: ExibirDetalhesProduto.maxlength, name: ExibirDetalhesProduto.id, id: ExibirDetalhesProduto.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirDetalhesProduto.text, attr: { for: ExibirDetalhesProduto.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ExibirProduto.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirProduto.val, attr: { maxlength: ExibirProduto.maxlength, name: ExibirProduto.id, id: ExibirProduto.id }">
                                                <label class="custom-control-label" data-bind="text: ExibirProduto.text, attr: { for: ExibirProduto.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarAvaliacao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarAvaliacao.val, attr: { maxlength: HabilitarAvaliacao.maxlength, name: HabilitarAvaliacao.id, id: HabilitarAvaliacao.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarAvaliacao.text, attr: { for: HabilitarAvaliacao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarPrevisaoEntrega.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarPrevisaoEntrega.val, attr: { maxlength: HabilitarPrevisaoEntrega.maxlength, name: HabilitarPrevisaoEntrega.id, id: HabilitarPrevisaoEntrega.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarPrevisaoEntrega.text, attr: { for: HabilitarPrevisaoEntrega.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarObservacao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarObservacao.val, attr: { maxlength: HabilitarObservacao.maxlength, name: HabilitarObservacao.id, id: HabilitarObservacao.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarObservacao.text, attr: { for: HabilitarObservacao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarNumeroPedidoCliente.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarNumeroPedidoCliente.val, attr: { maxlength: HabilitarNumeroPedidoCliente.maxlength, name: HabilitarNumeroPedidoCliente.id, id: HabilitarNumeroPedidoCliente.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarNumeroPedidoCliente.text, attr: { for: HabilitarNumeroPedidoCliente.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarNumeroOrdemCompra.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarNumeroOrdemCompra.val, attr: { maxlength: HabilitarNumeroOrdemCompra.maxlength, name: HabilitarNumeroOrdemCompra.id, id: HabilitarNumeroOrdemCompra.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarNumeroOrdemCompra.text, attr: { for: HabilitarNumeroOrdemCompra.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PesoLiquido.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PesoLiquido.val, attr: { maxlength: PesoLiquido.maxlength, name: PesoLiquido.id, id: PesoLiquido.id }">
                                                <label class="custom-control-label" data-bind="text: PesoLiquido.text, attr: { for: PesoLiquido.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PesoBruto.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PesoBruto.val, attr: { maxlength: PesoBruto.maxlength, name: PesoBruto.id, id: PesoBruto.id }">
                                                <label class="custom-control-label" data-bind="text: PesoBruto.text, attr: { for: PesoBruto.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeVolumes.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: QuantidadeVolumes.val, attr: { maxlength: QuantidadeVolumes.maxlength, name: QuantidadeVolumes.id, id: QuantidadeVolumes.id }">
                                                <label class="custom-control-label" data-bind="text: QuantidadeVolumes.text, attr: { for: QuantidadeVolumes.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PermitirAdicionarAnexos.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirAdicionarAnexos.val, attr: { maxlength: PermitirAdicionarAnexos.maxlength, name: PermitirAdicionarAnexos.id, id: PermitirAdicionarAnexos.id }">
                                                <label class="custom-control-label" data-bind="text: PermitirAdicionarAnexos.text, attr: { for: PermitirAdicionarAnexos.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarVisualizacaoFotosPortal.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarVisualizacaoFotosPortal.val, attr: { maxlength: HabilitarVisualizacaoFotosPortal.maxlength, name: HabilitarVisualizacaoFotosPortal.id, id: HabilitarVisualizacaoFotosPortal.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarVisualizacaoFotosPortal.text, attr: { for: HabilitarVisualizacaoFotosPortal.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarAcessoPortalMultiCliFor.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarAcessoPortalMultiCliFor.val, attr: { maxlength: HabilitarAcessoPortalMultiCliFor.maxlength, name: HabilitarAcessoPortalMultiCliFor.id, id: HabilitarAcessoPortalMultiCliFor.id }">
                                                <label class="custom-control-label" data-bind="text: HabilitarAcessoPortalMultiCliFor.text, attr: { for: HabilitarAcessoPortalMultiCliFor.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: HabilitarAcessoPortalMultiCliFor.val">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: LinkAcessoPortalMultiCliFor.text"></label>
                                            <input type="text" class="form-control" data-bind="value: LinkAcessoPortalMultiCliFor.val, valueUpdate: 'afterkeydown', attr: { maxlength: LinkAcessoPortalMultiCliFor.maxlength, id : LinkAcessoPortalMultiCliFor.id}" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6" data-bind="visible: LinkAvaliacaoExterna.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: LinkAvaliacaoExterna.text"></label>
                                                <input type="text" class="form-control" data-bind="value: LinkAvaliacaoExterna.val, valueUpdate: 'afterkeydown', attr: { maxlength: LinkAvaliacaoExterna.maxlength, id : LinkAvaliacaoExterna.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: TipoAvaliacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TipoAvaliacao.text, attr: { for: TipoAvaliacao.id }"></label>
                                                <select class="form-control" data-bind="options: TipoAvaliacao.options, optionsText: 'text', optionsValue: 'value', value: TipoAvaliacao.val, attr: { id : TipoAvaliacao.id}"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Configuração de Notificação</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-4" data-bind="visible: EnviarSMS.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarSMS.val, attr: { maxlength: EnviarSMS.maxlength, name: EnviarSMS.id, id: EnviarSMS.id }">
                                                    <label class="custom-control-label" data-bind="text: EnviarSMS.text, attr: { for: EnviarSMS.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: EnviarEmail.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmail.val, attr: { maxlength: EnviarEmail.maxlength, name: EnviarEmail.id, id: EnviarEmail.id }">
                                                    <label class="custom-control-label" data-bind="text: EnviarEmail.text, attr: { for: EnviarEmail.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Avaliação -->
                    <div id="knockoutAvalicaoPedido" class="tab-pane fade">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">{Localize::GestaoEntregas.ConfiguracaoPortalCliente.AvaliacaoPedido}</div>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Titulo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Titulo.text"></label>
                                                    <input type="text" class="form-control" data-bind="value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Ordem.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Ordem.text"></label>
                                                    <input type="text" class="form-control" data-bind="value: Ordem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ordem.maxlength, id : Ordem.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                    <textarea class="form-control" rows="5" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id }"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-default mx-3" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                                    <i class="fal fa-ban"></i>
                                                    <span data-bind="text: Cancelar.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-danger" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                                    <i class="fal fa-trash"></i>
                                                    <span data-bind="text: Excluir.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                                    <i class="fal fa-check"></i>
                                                    <span data-bind="text: Atualizar.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                                    <span data-bind="text: Adicionar.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDConfiguracaoPortalCliente">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success mt-3" data-loading-text="Aguarde..." data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id : Salvar.id}">
                                <span data-bind="text: Salvar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/scripts/configuracaoPortalCliente"></script>
    <script type="text/javascript">

    pageSetUp();

      _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Integracoes));

    $(document).ready(function () {
        LoadLocalizationResources("GestaoEntregas.ConfiguracaoPortalCliente").then(loadConfiguracaoPortalCliente);
    });


    </script>
