

<section id="widget-grid" class="">
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Fluxo de Entrega
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knoutPesquisaFluxoEntrega">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar</h2>
                    </header>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="no-padding">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <fieldset>
                                        <div class="row">
                                            <!-- Campos Filtro -->
                                            <section data-bind="visible: CodigoCargaEmbarcador.visible" class="col col-xs-4 col-sm-4 col-md-2">
                                                <label class="label"><b data-bind="text: CodigoCargaEmbarcador.text"></b></label>
                                                <label data-bind="attr: { class: CodigoCargaEmbarcador.requiredClass}">
                                                    <input type="text" data-bind="value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                                </label>
                                            </section>
                                            <section data-bind="visible: DataInicial.visible" class="col col-xs-4 col-sm-4 col-md-2">
                                                <label class="label"><b data-bind="text: DataInicial.text"></b></label>
                                                <label data-bind="attr: { class: DataInicial.requiredClass}">
                                                    <input type="text" data-bind="value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                </label>
                                            </section>
                                            <section data-bind="visible: DataFinal.visible" class="col col-xs-4 col-sm-4 col-md-2">
                                                <label class="label"><b data-bind="text: DataFinal.text"></b></label>
                                                <label data-bind="attr: { class: DataFinal.requiredClass}">
                                                    <input type="text" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                </label>
                                            </section>
                                            <section data-bind="visible: Placa.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: Placa.text"></b></label>
                                                <label data-bind="attr: { class: Placa.requiredClass}">
                                                    <input type="text" data-bind="value: Placa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                                                </label>
                                            </section>
                                            <section data-bind="visible : EtapaFluxoGestaoEntrega.visible" class="col col-xs-6 col-sm-6 col-md-2">
                                                <label class="label"><b data-bind="text: EtapaFluxoGestaoEntrega.text"></b></label>
                                                <label class="select">
                                                    <select data-bind="options: EtapaFluxoGestaoEntrega.options, optionsText: 'text', optionsValue: 'value', value: EtapaFluxoGestaoEntrega.val, attr: { id : EtapaFluxoGestaoEntrega.id}"></select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section data-bind="visible: Pedido.visible" class="col col-xs-12 col-sm-12 col-md-2">
                                                <label class="label"><b data-bind="text: Pedido.text"></b></label>
                                                <label data-bind="attr: { class: Pedido.requiredClass}">
                                                    <input type="text" data-bind="value: Pedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pedido.maxlength, id : Pedido.id}" />
                                                </label>
                                            </section>
                                            <section data-bind="visible: Situacao.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: Situacao.text"></b></label>
                                                <label class="select">
                                                    <select data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section data-bind="visible: Ordenacao.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: Ordenacao.text"></b></label>
                                                <label class="select">
                                                    <select data-bind="options: Ordenacao.options, optionsText: 'text', optionsValue: 'value', value: Ordenacao.val, attr: { id : Ordenacao.id}"></select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section data-bind="visible: Transportador.visible" class="col col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <div class="input-group">
                                                    <label class="label"><b data-bind="text: Transportador.text"></b></label>
                                                    <label data-bind="attr: { class: Transportador.requiredClass}">
                                                        <input type="text" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                    </label>
                                                    <div class="input-group-btn">
                                                        <button data-bind="attr: { id: Transportador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>
                                            <section data-bind="visible: Destinatario.visible" class="col col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <div class="input-group">
                                                    <label class="label"><b data-bind="text: Destinatario.text"></b></label>
                                                    <label data-bind="attr: { class: Destinatario.requiredClass}">
                                                        <input type="text" data-bind="value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                                    </label>
                                                    <div class="input-group-btn">
                                                        <button data-bind="attr: { id: Destinatario.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>
                                            <section data-bind="visible: Filial.visible" class="col col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <div class="input-group">
                                                    <label class="label"><b data-bind="text: Filial.text"></b></label>
                                                    <label data-bind="attr: { class: Filial.requiredClass}">
                                                        <input type="text" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                    </label>
                                                    <div class="input-group-btn">
                                                        <button data-bind="attr: { id: Filial.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                            <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <footer class="no-padding" style="margin-bottom: -15px;">
                                        <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                            <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                        </button>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false" style="margin-top:-15px;">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Cargas</h2>
                </header>
                <div class="smart-form">
                    <div class="well margin-bottom-15">
                        <header>Fluxo da Gestão de Entrega</header>
                        <fieldset id="knoutContainerFluxoEntrega">
                            <!-- ko foreach: { data: Entregas.val, as: 'Entrega' } -->
                            <!-- ko component: {name: "fluxo-entrega", params: Entrega} --><!-- /ko -->
                            <!-- /ko -->
                        </fieldset>
                        <footer>
                            <div id="paginacao-fluxo-entrega"></div>
                        </footer>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>



<div id="ModaisCarga"></div>

<div id="FluxoEntregaContent"></div>
<div id="FluxoEntregaModal"></div>

<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/mapas"></script>
<script src="~/scripts/fluxoEntrega"></script>
<link rel="stylesheet" href="~/css/fluxoEntrega" />
<script type="text/javascript">
    pageSetUp();

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);
    _PermissoesPersonalizadasFluxoEntrega = @Html.Raw(ViewBag.PermissoesPersonalizadasFluxoEntrega);

    $(document).ready(function () {
       LoadLocalizationResources("Cargas.Carga").then(loadFluxoEntrega);
    });
</script>

