<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ControleCTe" connectionString="Server=192.168.0.125; Database=ControleCTe; User Id=sa; Password=Multi@2016;" />
  </connectionStrings>
  <appSettings>
	  <!-- NAO USAR MAIS .CONFIG, UTILIZAR APPSETTINGS.JSON OU CONFIGURAÇÃO NO BANCO-->  
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="CaminhoRaiz" value="D:\Arquivos\Alianca" />
    <add key="MinutosParaConsultaNatura" value="10" />
    <add key="CodigoEmpresaMultisoftware" value="30688" />
    <add key="FiliaisNatura" value="T990,T113369" />
    <add key="TipoArmazemento" value="ftp" />
    <add key="EnderecoFTP" value="177.5.141.100" />
    <add key="UsuarioFTP" value="natura01" />
    <add key="SenhaFTP" value="natura179092" />
    <add key="CaminhoRaizFTP" value="natura01" />
    <add key="Emails" value="rodrigo@multisoftware.com.br" />
    <add key="FTPPassivo" value="true" />
    <add key="PortaFTP" value="21" />
    <add key="UtilizaSFTP" value="false" />
    <add key="GerarNotFisPorNota" value="false" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="uCteServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uMDFeServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_RecebeNotaisFiscaisSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaCteNfseAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaFaturaAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaPreFaturaSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaOcorrenciasAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaConsultaNFSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaConsultaNFSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FConsultaNF" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaConsultaNFSync_OBBinding" contract="ServicoNatura.ProcessaConsultaNF.SI_ProcessaConsultaNFSync_OB" name="SI_ProcessaConsultaNFSync_OBPort" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfseAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaCteNfseAsync_OBBinding" contract="ServicoNatura.ProcessaCTeNFSe.SI_ProcessaCteNfseAsync_OB" name="HTTP_Port" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFaturaAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaFaturaAsync_OBBinding" contract="ServicoNatura.ProcessaFatura.SI_ProcessaFaturaAsync_OB" name="HTTP_Port2" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaOcorrenciasAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.com.br%2Focorrencias" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaOcorrenciasAsync_OBBinding" contract="ServicoNatura.ProcessaOcorrencias.SI_ProcessaOcorrenciasAsync_OB" name="HTTP_Port1" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaPreFaturaSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FpreFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaPreFaturaSync_OBBinding" contract="ServicoNatura.ProcessaPreFatura.SI_ProcessaPreFaturaSync_OB" name="SI_ProcessaPreFaturaSync_OBPort" />
      <endpoint address="https://transportes.natura.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RecebeNotaisFiscaisSync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FNotasFiscais" binding="basicHttpBinding" bindingConfiguration="SI_RecebeNotaisFiscaisSync_OBBinding" contract="ServicoNatura.RecebeNotasFiscais.SI_RecebeNotaisFiscaisSync_OB" name="SI_RecebeNotaisFiscaisSync_OBPort" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uCTeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uCteServiceTSSoap" contract="ServicoCTe.uCteServiceTSSoap" name="uCteServiceTSSoap" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uMDFeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uMDFeServiceTSSoap" contract="ServicoMDFe.uMDFeServiceTSSoap" name="uMDFeServiceTSSoap" />

    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.21181" newVersion="4.4.0.21181" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.SchemaRegistry" publicKeyToken="34ce5df5fa699c09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
