

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Email</li>
    <li class="breadcrumb-item active">Email Documentação Carga</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        E-mails Documentação da Carga
    </h1>
</div>

<div id="knockoutPesquisaEmailDocumentacaoCarga">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar E-mails Cadastrados
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Emails.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Emails.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Emails.requiredClass, value: Emails.val, valueUpdate: 'afterkeydown', attr: { maxlength: Emails.maxlength, id : Emails.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">

            <ul class="nav nav-tabs">
                <li class="nav-item active" id="litabDetalhes">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item" id="litabTipoOperacao">
                    <a href="#tabTipoOperacao" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Tipo de Operação</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                    <div id="knockoutEmailDocumentacaoCarga" class="row">

                        <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: Emails.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Emails.text"></label>
                                <input type="text" class="form-control" data-bind="class: Emails.requiredClass, value: Emails.val, valueUpdate: 'afterkeydown', attr: { maxlength: Emails.maxlength, id : Emails.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: EnviarCTe.visible">
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarCTe.val, attr: { maxlength: EnviarCTe.maxlength, name: EnviarCTe.id, id: EnviarCTe.id }">
                                    <label class="custom-control-label" data-bind="text: EnviarCTe.text, attr: { for: EnviarCTe.id }"></label>
                                </div>
                            </div>
                            <div class="row ms-4">
                                <div class="col-2" data-bind="fadeVisible: EnviarCTe.val">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarCTeXML.val, attr: { maxlength: EnviarCTeXML.maxlength, name: EnviarCTeXML.id, id: EnviarCTeXML.id }">
                                            <label class="custom-control-label" data-bind="text: EnviarCTeXML.text, attr: { for: EnviarCTeXML.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" data-bind="fadeVisible: EnviarCTe.val">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarCTePDF.val, attr: { maxlength: EnviarCTePDF.maxlength, name: EnviarCTePDF.id, id: EnviarCTePDF.id }">
                                            <label class="custom-control-label" data-bind="text: EnviarCTePDF.text, attr: { for: EnviarCTePDF.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: EnviarMDFe.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarMDFe.val, attr: { maxlength: EnviarMDFe.maxlength, name: EnviarMDFe.id, id: EnviarMDFe.id }">
                                    <label class="custom-control-label" data-bind="text: EnviarMDFe.text, attr: { for: EnviarMDFe.id }"></label>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-6" data-bind="visible: EnviarContratoFrete.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarContratoFrete.val, attr: { maxlength: EnviarContratoFrete.maxlength, name: EnviarContratoFrete.id, id: EnviarContratoFrete.id }">
                                    <label class="custom-control-label" data-bind="text: EnviarContratoFrete.text, attr: { for: EnviarContratoFrete.id }"></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: EnviarCIOT.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarCIOT.val, attr: { maxlength: EnviarCIOT.maxlength, name: EnviarCIOT.id, id: EnviarCIOT.id }">
                                    <label class="custom-control-label" data-bind="text: EnviarCIOT.text, attr: { for: EnviarCIOT.id }"></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: AgruparEnvioEmUmUnicoEmail.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: AgruparEnvioEmUmUnicoEmail.val, attr: { maxlength: AgruparEnvioEmUmUnicoEmail.maxlength, name: AgruparEnvioEmUmUnicoEmail.id, id: AgruparEnvioEmUmUnicoEmail.id }">
                                    <label class="custom-control-label" data-bind="text: AgruparEnvioEmUmUnicoEmail.text, attr: { for: AgruparEnvioEmUmUnicoEmail.id }"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tabTipoOperacao" role="tabpanel">
                    <div id="knockoutTipoOperacao">
                        <button type="button" class="btn btn-primary mb-1 waves-effect waves-themed" data-bind="attr: { id: Tipo.idBtnSearch}">
                            <i class="fal fa-plus"></i>
                            <span data-bind="text: Tipo.text"></span>
                        </button>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>
                <footer id="knockoutCRUDEmailDocumentacaoCarga">
                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                            </button>
                            <button type="button" class="btn btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                            </button>
                            <button type="button" class="btn btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                            </button>
                            <button type="button" class="btn btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>



<script src="~/scripts/emailDocumentacaoCarga"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadEmailDocumentacaoCarga();
    });

</script>
