<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="CaminhoTempArquivosImportacao" value="D:\Arquivos Para Integração" />
    <add key="CaminhoUploadXMLNotasFiscais" value="C:\Notas" />
    <add key="CaminhoArquivosEmpresas" value="C:\Empresas" />
    <add key="ServicoEncerramentoMDFe" value="true" />
    <add key="CaminhoGeradorRelatorios" value="E:\Projetos\EmissaoCTe\EmissaoCTe.Relatorio\bin\Release\EmissaoCTe.Relatorio.exe" />
    <add key="CaminhoRelatorios" value="C:\Relatorios" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConhecimentoDeTransporteEletronico" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="BasicHttpBinding_IConhecimentoDeTransporteEletronico1" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IEmpresa" />
        <binding name="uCteServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uMDFeServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="uNFSeServiceTSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IConhecimentoDeTransporteEletronico2" />
        <binding name="BasicHttpBinding_IIntegracaoCTe" />
        <binding name="BasicHttpBinding_IIntegracaoCTe1" />
        <binding name="BasicHttpBinding_IIntegracaoMDFe" />
        <binding name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais" />
        <binding name="BasicHttpBinding_IImpressaoCTe" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais1" />
        <binding name="BasicHttpBinding_IEmpresa1" />
        <binding name="BasicHttpBinding_IImpressaoCTe1" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IPedidos" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICargas" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IIntegracaoNFSe" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INotaFiscalDeServicoEletronica" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICTe" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMDFe" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICargas1" />
        <binding name="BasicHttpBinding_INFe" />
        <binding name="BasicHttpBinding_IOcorrenciaCTe1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="SI_RecebeNotaisFiscaisSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaConsultaNFSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaCteNfseAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaFaturaAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaPreFaturaSync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_ProcessaOcorrenciasAsync_OBBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICargas2" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICargas3" />
        <binding name="BasicHttpBinding_INFe1" />
        <binding name="BasicHttpBinding_INFe2" />
        <binding name="BasicHttpBinding_ICargas4" />
        <binding name="BasicHttpBinding_ICargas5">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IFretes">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="NFeDistribuicaoDFeSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="RecepcaoEventoSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="NfeDownloadNFSoap">
          <textMessageEncoding messageVersion="Soap12">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1474/Empresa.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresa" contract="ServiceReference2.IEmpresa" name="BasicHttpBinding_IEmpresa" />
      <endpoint address="http://localhost:3521/ConhecimentoDeTransporteEletronico.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConhecimentoDeTransporteEletronico" contract="ServiceReference3.IConhecimentoDeTransporteEletronico" name="BasicHttpBinding_IConhecimentoDeTransporteEletronico" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uCTeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uCteServiceTSSoap" contract="ServicoCTe.uCteServiceTSSoap" name="uCteServiceTSSoap" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uMDFeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uMDFeServiceTSSoap" contract="ServicoMDFe.uMDFeServiceTSSoap" name="uMDFeServiceTSSoap" />
      <endpoint address="http://192.168.0.125/WebServiceCTe/uNFSeServiceTS.asmx" binding="basicHttpBinding" bindingConfiguration="uNFSeServiceTSSoap" contract="ServicoNFSe.uNFSeServiceTSSoap" name="uNFSeServiceTSSoap" />
      <endpoint address="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTe/ConhecimentoDeTransporteEletronico.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConhecimentoDeTransporteEletronico2" contract="WSApti.IConhecimentoDeTransporteEletronico" name="BasicHttpBinding_IConhecimentoDeTransporteEletronico2" />
      <endpoint address="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTe/IntegracaoCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracaoCTe" contract="WSAptiIntegracao.IIntegracaoCTe" name="BasicHttpBinding_IIntegracaoCTe" />
      <endpoint address="http://localhost:3521/IntegracaoCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracaoCTe1" contract="ServiceReference4.IIntegracaoCTe" name="BasicHttpBinding_IIntegracaoCTe1" />
      <endpoint address="http://localhost:3521/IntegracaoMDFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracaoMDFe" contract="IntegracaoMDFe.IIntegracaoMDFe" name="BasicHttpBinding_IIntegracaoMDFe" />
      <endpoint address="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais" contract="MDFe.IManifestoEletronicoDeDocumentosFiscais" name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais" />
      <endpoint address="http://177.0.245.100/WebServiceIntegracao/ConhecimentoDeTransporteEletronico.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConhecimentoDeTransporteEletronico1" contract="ServiceReference1.IConhecimentoDeTransporteEletronico" name="BasicHttpBinding_IConhecimentoDeTransporteEletronico1" />
      <endpoint address="http://localhost:3521/ManifestoEletronicoDeDocumentosFiscais.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais1" contract="WSMDFe.IManifestoEletronicoDeDocumentosFiscais" name="BasicHttpBinding_IManifestoEletronicoDeDocumentosFiscais1" />
      <endpoint address="http://win-tvgf109n8ru/WebServiceIntegracaoLocal/Empresa.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresa1" contract="WSEmpresa.IEmpresa" name="BasicHttpBinding_IEmpresa1" />
      <endpoint address="http://multicteone.cloudapp.net/Apti/WebServiceIntegracaoCTeHomologacao/ImpressaoCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImpressaoCTe1" contract="WSImpressaoAPTI.IImpressaoCTe" name="BasicHttpBinding_IImpressaoCTe1" />
      <endpoint address="http://192.168.0.125/WebServiceIntegracaoLocal/ImpressaoCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImpressaoCTe" contract="WSImpressaoCTe.IImpressaoCTe" name="BasicHttpBinding_IImpressaoCTe" />
      <endpoint address="http://localhost:54743/Pedidos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidos" contract="ServiceReference5.IPedidos" name="BasicHttpBinding_IPedidos" />
      <endpoint address="http://localhost:3521/IntegracaoNFSe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracaoNFSe" contract="ServicoIntegracaoNFSe.IIntegracaoNFSe" name="BasicHttpBinding_IIntegracaoNFSe" />
      <endpoint address="http://localhost:3521/NotaFiscalDeServicoEletronica.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotaFiscalDeServicoEletronica" contract="WSNFSe.INotaFiscalDeServicoEletronica" name="BasicHttpBinding_INotaFiscalDeServicoEletronica" />
      <endpoint address="http://localhost:54743/cargas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargas" contract="ServiceReference6.ICargas" name="BasicHttpBinding_ICargas" />
      <endpoint address="http://localhost:3521/Transportador/CTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTe" contract="ServicoCTeTransportador.ICTe" name="BasicHttpBinding_ICTe" />
      <endpoint address="http://localhost:3521/Transportador/MDFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMDFe" contract="ServicoMDFeTransportador.IMDFe" name="BasicHttpBinding_IMDFe" />
      <endpoint address="http://localhost:54743/NFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INFe" contract="WSNFe.INFe" name="BasicHttpBinding_INFe" />
      <endpoint address="http://localhost:3521/transportador/OcorrenciaCTe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOcorrenciaCTe1" contract="OcorrenciaCTe.IOcorrenciaCTe" name="BasicHttpBinding_IOcorrenciaCTe1" />
      <endpoint address="http://aslx87br.natura.com.br:50200/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=TRANSPORTES&amp;Interface=http%3A%2F%2Fwww.natura.net%2FConsultaNF%5ESI_ProcessaConsultaNFSync_OB" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaConsultaNFSync_OBBinding" contract="ServicoNatura.ProcessaConsultaNF.SI_ProcessaConsultaNFSync_OB" name="SI_ProcessaConsultaNFSync_OBPort" />
      <endpoint address="http://aslx87br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaCteNfseAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FCteNfse" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaCteNfseAsync_OBBinding" contract="ServicoNatura.ProcessaCTeNFSe.SI_ProcessaCteNfseAsync_OB" name="HTTP_Port" />
      <endpoint address="http://aslx87br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaFaturaAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.net%2FFatura" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaFaturaAsync_OBBinding" contract="ServicoNatura.ProcessaFatura.SI_ProcessaFaturaAsync_OB" name="HTTP_Port2" />
      <endpoint address="http://aslx87br.natura.com.br:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=TRANSPORTES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ProcessaOcorrenciasAsync_OB&amp;interfaceNamespace=http%3A%2F%2Fwww.natura.com.br%2Focorrencias" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaOcorrenciasAsync_OBBinding" contract="ServicoNatura.ProcessaOcorrencias.SI_ProcessaOcorrenciasAsync_OB" name="HTTP_Port1" />
      <endpoint address="http://aslx87br.natura.com.br:50200/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=TRANSPORTES&amp;Interface=http%3A%2F%2Fwww.natura.net%2FpreFatura%5ESI_ProcessaPreFaturaSync_OB" binding="basicHttpBinding" bindingConfiguration="SI_ProcessaPreFaturaSync_OBBinding" contract="ServicoNatura.ProcessaPreFatura.SI_ProcessaPreFaturaSync_OB" name="SI_ProcessaPreFaturaSync_OBPort" />
      <endpoint address="http://aslx87br.natura.com.br:50200/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=TRANSPORTES&amp;Interface=http%3A%2F%2Fwww.natura.net%2FNotasFiscais%5ESI_RecebeNotaisFiscaisSync_OB" binding="basicHttpBinding" bindingConfiguration="SI_RecebeNotaisFiscaisSync_OBBinding" contract="ServicoNatura.RecebeNotasFiscais.SI_RecebeNotaisFiscaisSync_OB" name="SI_RecebeNotaisFiscaisSync_OBPort" />
      <endpoint address="http://localhost:54743/Cargas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargas2" contract="SGTCarga.ICargas" name="BasicHttpBinding_ICargas1" />
      <endpoint address="http://localhost:54743/Cargas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargas3" contract="Cargas.ICargas" name="BasicHttpBinding_ICargas2" />
      <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx" binding="customBinding" bindingConfiguration="NFeDistribuicaoDFeSoap" contract="ServicoNFeDistribuicaoDFe.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap" />
      <endpoint address="https://hom.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx" binding="customBinding" bindingConfiguration="RecepcaoEventoSoap" contract="ServicoRecepcaoEvento.RecepcaoEventoSoap" name="RecepcaoEventoSoap" />
      <endpoint address="https://www.nfe.fazenda.gov.br/NfeDownloadNF/NfeDownloadNF.asmx" binding="customBinding" bindingConfiguration="NfeDownloadNFSoap" contract="ServicoNFeDownloadNF.NfeDownloadNFSoap" name="NfeDownloadNFSoap" />
      <endpoint address="http://localhost:5146/NFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INFe1" contract="ServicoNFeNovo.INFe" name="BasicHttpBinding_INFe1" />
      <endpoint address="http://marfrighomo.multiembarcador.com.br/SGT.WebService/NFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INFe2" contract="SGT.WebService.NFe.Homolog.INFe" name="BasicHttpBinding_INFe2" />
      <endpoint address="http://homo.multiembarcador.com.br/SGT.WebService/Cargas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargas4" contract="SGT.WebService.Cargas.Homolog.ICargas" name="BasicHttpBinding_ICargas3" />
      <endpoint address="https://heineken.multiembarcador.com.br/SGT.WebService/Cargas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargas5" contract="Cargas.Ajustado.ICargas" name="BasicHttpBinding_ICargas4" />
      <endpoint address="https://havan.multiembarcador.com.br/SGT.WebService/Fretes.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFretes" contract="WsFreteHavan.IFretes" name="BasicHttpBinding_IFretes" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.21181" newVersion="4.4.0.21181" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.SchemaRegistry" publicKeyToken="34ce5df5fa699c09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.CodeDom" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ControleCTe" connectionString="Data Source=192.168.0.125;Initial Catalog=ControleCTe;User Id=sa;Password=Multi@2013;" />
    <!--<add name="ControleCTe" connectionString="Data Source=PC-RODRIGO\SQLEXPRESS;Initial Catalog=ControleCTe;User Id=sa;Password=guigo@3366;"/>-->
  </connectionStrings>
</configuration>