
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Importações </li>
    <li class="breadcrumb-item active">Importação RPS</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Importações RPS
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Importação RPS
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" >
                    <span>Use o botão a baixo para importar a planilha RPS</span>
                </div>


                <footer id="knockoutImportacaoRPS" class="mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div data-bind='component: {name: "import-file", params: { ko: Importar }}'></div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                          
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/importacaoRPS"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadImportacaoRPS();
    });

</script>