@{
	Layout = "~/Views/GestaoEntregas/Acompanhamento.cshtml";
}
<div class="smart-form">
	<fieldset class="main-fieldset">
		<header>
			<h1 class="h3">@Localization.Resources.GestaoEntregas.Acompanhamento.SuaEntrega</h1>
		</header>
		<div class="margin-top-15">
			<div class="col col-sm-12">
				<div class="well">
					<header>@Localization.Resources.GestaoEntregas.Acompanhamento.RastreioInvalido</header>
					<fieldset>
						<div class="row">
							<section class="col col-12">
								<div class="alert alert-warning">
									@Localization.Resources.GestaoEntregas.Acompanhamento.NaoFoiPossivelEncontrarPedidoComCodigoDeRastreio: <strong>"@Html.Raw(ViewBag.Token)"</strong>
								</div>
							</section>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</fieldset>
</div>

<script>
	$(document).ready(function () {
		$("#content")
			.removeClass("container-fluid")
			.addClass("container");
	});
</script>
