@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView
<style>
    .container-controle-entrega-fotos {
        border: 1px solid #dddddd;
        margin-bottom: 20px;
    }

    .container-controle-entrega-fotos, .container-imagem-entrega {
        padding: 10px;
    }

    .imagem-entrega {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
        cursor: -webkit-grab;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        min-width: fit-content;
    }

        .imagem-entrega:focus {
            cursor: -webkit-grabbing;
        }

        .imagem-entrega::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .container-controle-entrega-fotos, .container-imagem-entrega, .imagem-entrega img {
            width: 100%;
        }

    p {
        font-size: 15px;
        font-weight: bold;
        color: #475999;
    }
</style>

    <div class="tab-pane fade show active table-responsive-md" id="detalhe-pedido" role="tabpanel">

        <div class="container-imagem-entrega">
            @if (Model.CaminhoFotosEntrega != null && Model.CaminhoFotosEntrega.Count() > 0)
            {
                <p>@Localization.Resources.GestaoEntregas.Acompanhamento.FotosEntrega</p>
                <div class="row container-imagem-entrega-dragg">
                    @foreach (var arquivo in Model.CaminhoFotosEntrega)
                    {
                        <div class="col-12 col-md-6">
                            <div class="container-controle-entrega-fotos">
                                <div class="imagem-entrega">
                                    <img src="data:image/png;base64, @arquivo" height="500" width="500" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="container d-flex justify-content-center"><p>@Localization.Resources.GestaoEntregas.Acompanhamento.NaoHaNenhumaFotoDisponivelParaEstaEntrega</p></div>
            }

        </div>


    </div>


