<div class="map-container">
        <div style="width:100%; height:474px" id="map-position"></div>
        <div style="margin-top: 10px; font-weight: bold">@Localization.Resources.GestaoEntregas.Acompanhamento.Endereco: <span id="map-address"></span></div>
    </div>

<script>
    var localidade = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Localizacao));
</script>
