@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView
<div class="tab-pane fade show active table-responsive-md" id="produtos-pedido" role="tabpanel" aria-labelledby="detalhe-produtos-tab">
    <table class="table-hover">
        <thead>


            @{int index = 0; }
            <table class="table">
                <thead>
                    <tr style="text-align:center " class="header-tabela">
                        <th class="col-1 col-md-2 desc-tabela">@Localization.Resources.GestaoEntregas.Acompanhamento.Produtos</th>
                        <th class="col-1 col-md-2 desc-tabela">@Localization.Resources.GestaoEntregas.Acompanhamento.Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Produtos)
                    {
                        string classeLinha = index % 2 == 0 ? "table-secondary" : "table-white";
                        <tr class="@classeLinha linhas">
                            <td class="col-1 col-md-2 desc-tabela text-center">
                                @Html.DisplayFor(modelItem => item.Produto)
                            </td>
                            <td class="col-1 col-md-2 desc-tabela text-center">
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
    </table>
    </thead>
    <script>
        var linhas = document.querySelectorAll("tbody tr");
        linhas.forEach(function (linha, index) {
            if (index % 2 === 0) {
                linha.classList.add("table-secondary");
                linha.classList.remove("table-white");
            } else {
                linha.classList.add("table-white");
                linha.classList.remove("table-secondary");
            }
        });
    </script>
    </table>
</div>


<style>
    .header-tabela {
        font-size: 14px;
        font-weight: bold;
        color: #475999;
    }

    .linhas {
        font-size: 14px;
    }
</style>


