
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notificações</li>
    <li class="breadcrumb-item active">Alertas de e-mail</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Configuração do envio de e-mails do Resumo do Módulo de Controle
    </h1>
</div>
<div id="knockoutPesquisaAlertaEmail">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    Pesquisar Alertas de e-mails
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraInicio.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataHoraInicio.requiredClass, value: DataHoraInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraInicio.maxlength, id : DataHoraInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraFim.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataHoraFim.requiredClass, value: DataHoraFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraFim.maxlength, id : DataHoraFim.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Setor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Portfolio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Portfolio.text, attr: { for: Portfolio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Portfolio.requiredClass, value: Portfolio.val, valueUpdate: 'afterkeydown', attr: { maxlength: Portfolio.maxlength, id : Portfolio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Portfolio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Irregularidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Irregularidade.text, attr: { for: Irregularidade.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Irregularidade.requiredClass, value: Irregularidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Irregularidade.maxlength, id : Irregularidade.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Irregularidade.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">

            <ul class="nav nav-tabs">
                <li class="nav-item active" id="litabDetalhes">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item" id="litabSetor">
                    <a href="#tabSetor" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Setor</span>
                    </a>
                </li>
                <li class="nav-item" id="litabPortfolio">
                    <a href="#tabPortfolio" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Portfólio</span>
                    </a>
                </li>
                <li class="nav-item" id="litabIrregularidade">
                    <a href="#tabIrregularidade" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Irregularidade</span>
                    </a>
                </li>
            </ul>


            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                    <div id="knockoutAlertaEmailDetalhes" class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraInicio.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataHoraInicio.requiredClass, value: DataHoraInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraInicio.maxlength, id : DataHoraInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraFim.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataHoraFim.requiredClass, value: DataHoraFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraFim.maxlength, id : DataHoraFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroRepeticoes.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroRepeticoes.text, attr: { for: NumeroRepeticoes.id }"></label>
                                    <select class="form-control" data-bind="class: NumeroRepeticoes.requiredClass, options: NumeroRepeticoes.options, optionsText: 'text', optionsValue: 'value', value: NumeroRepeticoes.val, attr: { maxlength: NumeroRepeticoes.maxlength, id : NumeroRepeticoes.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PeriodoNotificacoes.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PeriodoNotificacoes.text, attr: { for: PeriodoNotificacoes.id }"></label>
                                    <select class="form-control" data-bind="class: PeriodoNotificacoes.requiredClass, options: PeriodoNotificacoes.options, optionsText: 'text', optionsValue: 'value', value: PeriodoNotificacoes.val, attr: { maxlength: PeriodoNotificacoes.maxlength, id : PeriodoNotificacoes.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Usuários Notificar</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaUsuario.idBtnSearch, text: ListaUsuario.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaUsuario.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaUsuario.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabSetor" role="tabpanel">
                    <div id="knockoutAlertaEmailSetor">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Setores à Notificar</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaSetor.idBtnSearch, text: ListaSetor.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaSetor.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaSetor.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabPortfolio" role="tabpanel">
                    <div id="knockoutAlertaEmailPortfolio">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Portfólios à Notificar</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaPortfolio.idBtnSearch, text: ListaPortfolio.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaPortfolio.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaPortfolio.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="tabIrregularidade" role="tabpanel">
                    <div id="knockoutAlertaEmailIrregularidade">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Irregularidades à Notificar</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaIrregularidade.idBtnSearch, text: ListaIrregularidade.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaIrregularidade.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaIrregularidade.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <footer id="knockoutCRUDAlertaEmail" class="d-flex justify-content-end mt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/alertaEmail"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAlertaEmail();
    });

</script>