
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notificações</li>
    <li class="breadcrumb-item active">Configuracão de NC pendentes</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Configuração para envio de e-mails de NCs pendentes
    </h1>
</div>
<div id="knockoutPesquisaConfiguracaoNCPendente">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    Pesquisar Configurações de e-mails
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Nome.requiredClass, value: Nome.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">

            <ul class="nav nav-tabs">
                <li class="nav-item active" id="litabGeral">
                    <a href="#tabGeral" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Geral</span>
                    </a>
                </li>
                <li class="nav-item" id="litabItemNC">
                    <a href="#tabItemNC" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Item de NC</span>
                    </a>
                </li>
                <li class="nav-item" id="litabTipoOperacao">
                    <a href="#tabTipoOperacao" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Tipo de Operação</span>
                    </a>
                </li>
                <li class="nav-item" id="litabFilial">
                    <a href="#tabFilial" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Filial</span>
                    </a>
                </li>
                <li class="nav-item" id="litabSetor">
                    <a href="#tabSetor" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Setor</span>
                    </a>
                </li>
            </ul>


            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div class="tab-pane fade active show" id="tabGeral" role="tabpanel">
                    <div id="knockoutConfiguracaoNCPendenteGeral" class="row">
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Nome.requiredClass, value: Nome.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: NotificarTransportador.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NotificarTransportador.val, attr: { maxlength: NotificarTransportador.maxlength, name: NotificarTransportador.id, id: NotificarTransportador.id }">
                                        <label class="custom-control-label" data-bind="text: NotificarTransportador.text, attr: { for: NotificarTransportador.id }"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Usuários Notificar</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaUsuario.idBtnSearch, text: ListaUsuario.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaUsuario.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaUsuario.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabItemNC" role="tabpanel">
                    <div id="knockoutConfiguracaoNCPendenteItemNC">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Itens de não conformidade</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaItensNC.idBtnSearch, text: ListaItensNC.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaItensNC.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaItensNC.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabTipoOperacao" role="tabpanel">
                    <div id="knockoutConfiguracaoNCPendenteTipoOperacao">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Tipos de operação</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaTipoOperacao.idBtnSearch, text: ListaTipoOperacao.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaTipoOperacao.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaTipoOperacao.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabFilial" role="tabpanel">
                    <div id="knockoutConfiguracaoNCPendenteFilial">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Filiais</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaFiliais.idBtnSearch, text: ListaFiliais.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaFiliais.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaFiliais.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabSetor" role="tabpanel">
                    <div id="knockoutConfiguracaoNCPendenteSetor">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Setores</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaSetor.idBtnSearch, text: ListaSetor.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaSetor.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaSetor.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer id="knockoutCRUDConfiguracaoNCPendente" class="d-flex justify-content-end mt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoNCPendente"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracaoNCPendente();
    });

</script>