
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Notificações</li>
    <li class="breadcrumb-item active">Mensagens Aviso</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Mensagens de Aviso
    </h1>
</div>
<div id="knockoutPesquisaMensagemAviso">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Mensagens de Aviso
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Titulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Titulo.text, attr: { for: Titulo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Titulo.requiredClass, value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel mt-3">
    <div id="knockoutCadastroMensagemAviso" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="avisoTabs">
                <li class="nav-item active">
                    <a href="#tabAvisoDados" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Dados</span></a>
                </li>
                <li class="nav-item hide" id="liAvisoAnexos">
                    <a href="#tabAvisoAnexos" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Anexos</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="avisoTabsContent">
                <div class="tab-pane fade active show" id="tabAvisoDados" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoServicoMultisoftware.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoServicoMultisoftware.text, attr: { for: TipoServicoMultisoftware.id }"></label>
                                    <select class="form-control" data-bind="class: TipoServicoMultisoftware.requiredClass, options: TipoServicoMultisoftware.options, optionsText: 'text', optionsValue: 'value', value: TipoServicoMultisoftware.val, attr: { maxlength: TipoServicoMultisoftware.maxlength, id : TipoServicoMultisoftware.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Titulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Titulo.text, attr: { for: Titulo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Titulo.requiredClass, value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Mensagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="css:Mensagem.requiredClass,value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id }"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="css:Observacao.requiredClass,value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabAvisoAnexos">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Anexos</h3>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body row">
                                    <div class="col-12 col-md-6" data-bind="visible: DescricaoArquivo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoArquivo.text, attr: { for: DescricaoArquivo.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DescricaoArquivo.requiredClass, value: DescricaoArquivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoArquivo.maxlength, id : DescricaoArquivo.id}" />
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                                        <p class="form-label" data-bind="text: Arquivo.text"></p>
                                        <div class="custom-file" data-bind="visible: Arquivo.visible">
                                            <input type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.pdf" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                                            <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecionar</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end mb-3">
                                    <button class="btn btn-success waves-effect waves-themed btnPesquisarFiltroPesquisa me-2" data-bind="click: AdicionarArquivo.eventClick, attr: { id: AdicionarArquivo.id}" type="button">
                                        <span data-bind="text: AdicionarArquivo.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                    <span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </footer>
        </div>
    </div>
</div>







<script src="~/scripts/mensagemAviso"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadMensagemAviso();
    });

</script>

