@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Frete Terceirizado Vale Pedágio</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Fretes Terceirizados com Vale Pedágios
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaFreteTerceirizadoValePedagio">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Terceiro.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Terceiro.text, attr: { for: Terceiro.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Terceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Terceiro.maxlength, id : Terceiro.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Terceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataEmissaoContratoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoContratoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoContratoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoContratoInicial.maxlength, id : DataEmissaoContratoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataEmissaoContratoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoContratoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoContratoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoContratoInicial.maxlength, id : DataEmissaoContratoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: NumeroContrato.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroContrato.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroContrato.maxlength, id : NumeroContrato.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: NumeroCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroCTe.text"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCTe.maxlength, id : NumeroCTe.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text"></label>
                                <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { id : Situacao.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ModeloVeicular.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Busca Avançada -->
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-2" data-bind="visible: DataAprovacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAprovacaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAprovacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAprovacaoInicial.maxlength, id : DataAprovacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataAprovacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAprovacaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAprovacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAprovacaoFinal.maxlength, id : DataAprovacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEncerramentoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEncerramentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoInicial.maxlength, id : DataEncerramentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEncerramentoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEncerramentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoFinal.maxlength, id : DataEncerramentoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataAberturaCIOTInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAberturaCIOTInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAberturaCIOTInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAberturaCIOTInicial.maxlength, id : DataAberturaCIOTInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataAberturaCIOTFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAberturaCIOTFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAberturaCIOTFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAberturaCIOTFinal.maxlength, id : DataAberturaCIOTFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoCIOTInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEncerramentoCIOTInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEncerramentoCIOTInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoCIOTInicial.maxlength, id : DataEncerramentoCIOTInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEncerramentoCIOTFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEncerramentoCIOTFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEncerramentoCIOTFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramentoCIOTFinal.maxlength, id : DataEncerramentoCIOTFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaFreteTerceirizadoValePedagio" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                    </button>
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaFreteTerceirizadoValePedagio" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>                            

<script src="~/relatorios/scripts/freteTerceirizadoValePedagio"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadFreteTerceirizadoValePedagio();
    });

</script>