
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pallets</li>
        <li class="breadcrumb-item active">CompraPallets</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Compra de Pallet
        </h1>
    </div>
</section>
<div id="knockoutPesquisaCompraPallets" class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Compra de Pallet
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="row mt-3">
                        <!-- Filtros pesquisa -->
                        <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFim.requiredClass, value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Fornecedor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-2">
                            <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                            </button>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <div id="knockoutCompraPallets">
                <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" data-widget-custombutton="false">
                    <div class="panel-container">
                        <div class="panel-content">
                            <div class="row">
                                <h3>
                                    <i class="fal fa-edit"></i>
                                    Compra de Pallet
                                </h3>
                                <div class="col-12" style="margin-bottom: 25px;">
                                    <!-- Importacao -->
                                    <div class="mt-3">
                                        <button class="btn btn-success botaoDentroSmartAdmimForm" data-bind="click: ImportarXML.eventClick" type="button">
                                            <i class="fal fa-plus"></i> <span data-bind="text: ImportarXML.text"></span>
                                        </button>
                                        <div class="hidden" style="display:none">
                                            <input type="file" multiple="multiple" accept=".xml" data-bind="attr: { id: ImportarXML.id }, event: {change: ImportarXML.eventChange}" />
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="css: Resumo.visible() ? 'col col-sm-8' : 'col col-sm-12'">
                                    <div class="row">
                                        <!-- Campos Cadastro -->
                                        <div class="col-12 col-md-4" data-bind="visible: Numero.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: Numero.requiredClass,enable: Numero.enable, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8" data-bind="visible: Fornecedor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: Valor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8" data-bind="visible: Filial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8" data-bind="visible: Transportador.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Setor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-content col col-md-4" data-bind="css: Resumo.visible() ? 'col col-sm-4' : 'd-none'">
                                    <!-- Resumo -->
                                    <div class="card ">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Resumo</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="table table-clean table-sm align-self-end">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: SituacaoResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: SituacaoResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: QuantidadeResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: QuantidadeResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: ValorUnitarioResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: ValorUnitarioResumo.val"></span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: ValorTotalResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: ValorTotalResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: FilialResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: FilialResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: TransportadorResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: TransportadorResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: FornecedorResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: FornecedorResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong data-bind="text: SetorResumo.text"></strong>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: SetorResumo.val"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="d-flex align-items-center justify-content-end mb-3 mt-3">
                                    <button type="button" class="btn btn-labeled btn-default mx-3" data-bind="click: DownloadXML.eventClick, visible: DownloadXML.visible, attr: { id : DownloadXML.id}">

                                        <span data-bind="text: DownloadXML.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { id : Finalizar.id}">

                                        <span data-bind="text: Finalizar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">

                                        <span data-bind="text: Adicionar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-danger ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">

                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-default ms-2" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">

                                        <span data-bind="text: Limpar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/scripts/compraPallets"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadCompraPallets();
    });

</script>
