

<style>
    #knockoutEtapaDevolucaoValePallet .col {
        float: left;
    }

    @@media (max-width: 520px) {
        table th:last-child {
            width: 26px !important;
        }
    }

    @@media (max-width: 600px) {
        table td button .caret {
            display: none;
        }
    }

    table.dataTable.margin-top-0 {
        margin-top: 0 !important;
    }

    .tab-content + .tab-content {
        margin-top: 0;
    }

    @@media (max-width: 767px) {
        .tab-content + .tab-content,
        .well + .well {
            margin-top: 25px;
        }
    }
</style>
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Devolução</li>
        <li class="breadcrumb-item active">Vale Pallet</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Devolução de Vale Pallets
        </h1>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaValePallet">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">Pesquisar Vale Pallets</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataLimite.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataLimite.requiredClass, value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Nfe.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Nfe.text, attr: { for: Nfe.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Nfe.requiredClass, value: Nfe.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nfe.maxlength, id : Nfe.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Filial.enable, css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Filial.enable, attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Cliente.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Cliente.enable, css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Cliente.enable, attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </footer>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="divModalDevolucaoValePallet" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Devolução de Vale Pallets</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div id="knockoutCadastroNfsRetornoReformaPallet">
                    <div class="row">
                        <div id="knockoutEtapaDevolucaoValePallet">
                            <ul class="nav nav-steps">
                                <li data-target="#step1" data-bind="visible : EtapaDadosDevolucao.visible">
                                    <button class="active" data-bs-target="#dadosDevolucaoValePallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaDadosDevolucao.idTab }, click : EtapaDadosDevolucao.eventClick, visible : EtapaDadosDevolucao.visible">
                                        <span class="step" data-bind="attr: {'data-content' : EtapaDadosDevolucao.tooltip, 'data-original-title' : EtapaDadosDevolucao.tooltipTitle }">
                                            <i class="fal fa-file-alt"></i>
                                        </span>
                                        <span class="title" data-bind="text: EtapaDadosDevolucao.text"></span>
                                    </button>
                                </li>
                                <li data-target="#step2" data-bind="visible : EtapaAprovacao.visible">
                                    <button data-bs-target="#aprovacaoDevolucaoValePallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaAprovacao.idTab }, click : EtapaAprovacao.eventClick">
                                        <span class="step" data-bind="attr: {'data-content' : EtapaAprovacao.tooltip, 'data-original-title' : EtapaAprovacao.tooltipTitle }">
                                            <i class="fal fa-link"></i>
                                        </span>
                                        <span class="title" data-bind="text: EtapaAprovacao.text"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="conteudoTransacao">
                            <div class="card mb-3 tab-pane fade active show" id="dadosDevolucaoValePallet">
                                <div class="card-header">
                                    <h3 class="card-title">Devolução</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="knockoutDadosDevolucaoValePallet">
                                        <div class="col-12 col-md-4" data-bind="visible: Numero.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: Numero.enable, sclass: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: NumeroValePallet.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroValePallet.text, attr: { for: NumeroValePallet.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: NumeroValePallet.enable, class: NumeroValePallet.requiredClass, value: NumeroValePallet.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroValePallet.maxlength, id : NumeroValePallet.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Quantidade.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: Quantidade.enable, class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="enable: Filial.enable, css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Filial.enable, attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: Setor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="enable: Setor.enable, css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Setor.enable, attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: DataDevolucao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataDevolucao.text, attr: { for: DataDevolucao.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: DataDevolucao.enable, class: DataDevolucao.requiredClass, value: DataDevolucao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDevolucao.maxlength, id : DataDevolucao.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                <textarea class="form-control" rows="4" data-bind="enable: Observacao.enable, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col tab-pane fade" id="aprovacaoDevolucaoValePallet">
                                <div id="knockoutAprovacaoDevolucaoValePallet">
                                    <div class="row row-cols-1 row-cols-md-2" data-bind="visible: PossuiRegras.val">
                                        <table class="table table-clean table-sm align-self-end">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong data-bind="text: Solicitante.text"></strong>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Solicitante.val"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong data-bind="text: DataSolicitacao.text"></strong>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: DataSolicitacao.val"></span>
                                                    </td>
                                                </tr>
                                                <tr data-bind="visible: AprovacoesNecessarias.visible">
                                                    <td>
                                                        <strong data-bind="text: AprovacoesNecessarias.text"></strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong data-bind="text: Aprovacoes.text"></strong>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Aprovacoes.val"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong data-bind="text: Reprovacoes.text"></strong>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Reprovacoes.val"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong data-bind="text: Situacao.text"></strong>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Situacao.val"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-content" data-bind="visible: PossuiRegras.val">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <h3 class="card-title">Aprovadores</h3>

                                                <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Regras.idGrid}" cellspacing="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" data-bind="visible: !PossuiRegras.val()">
                                        <div class="alert alert-warning">
                                            Não foi encontrada nenhuma regra para aprovar a devolução de vale pallets.<br />
                                            A devolução ficará pendente até existir alguma regra de aprovação. Clique em reprocessar regras para verificar.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer id="knockoutCRUDDevolucaoValePallet">
                            <div class="row">
                                <div class="d-flex align-items-center justify-content-end mb-3 mt-3">
                                    <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click: Baixar.eventClick, visible: Baixar.visible, attr: { id : Baixar.id}">

                                        <span data-bind="text: Baixar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click: ReprocessarRegras.eventClick, visible: ReprocessarRegras.visible, attr: { id : ReprocessarRegras.id}">

                                        <span data-bind="text: ReprocessarRegras.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divModalDetalhesAutorizacao" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Autorização</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-2" id="knockoutDetalheAutorizacao">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Regra.text"></strong>
                                        <span data-bind="text: Regra.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>
                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr data-bind="visible: Usuario.visible">
                                    <td>
                                        <strong data-bind="text: Usuario.text"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Data.text"></strong>
                                        <span data-bind="text: Data.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Motivo.text"></strong>
                                        <span data-bind="text: Motivo.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/devolucaoValePallet"></script>

<script type="text/javascript">

    pageSetUp();

    var _PermissoesPersonalizadasPallets = @Html.Raw(ViewBag.PermissoesPersonalizadasPallets);

    $(document).ready(function () {
        loadDevolucaoValePallet();
    });

</script>

