
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Devolução de Pallets
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(1000)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Entenda a página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle fa-lg"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaPallets">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">

                    <div class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: NumeroDevolucao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroDevolucao.text, attr: { for: NumeroDevolucao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroDevolucao.requiredClass, value: NumeroDevolucao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDevolucao.maxlength, id : NumeroDevolucao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NotaFiscal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NotaFiscal.text, attr: { for: NotaFiscal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NotaFiscal.requiredClass, value: NotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscal.maxlength, id : NotaFiscal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataBaixaInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataBaixaInicial.text, attr: { for: DataBaixaInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataBaixaInicial.requiredClass, value: DataBaixaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixaInicial.maxlength, id : DataBaixaInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataBaixaFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataBaixaFinal.text, attr: { for: DataBaixaFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataBaixaFinal.requiredClass, value: DataBaixaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixaFinal.maxlength, id : DataBaixaFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Motorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-12 col-md-4" data-bind="visible: GrupoPessoas.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Tomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 d-flex justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="divModalDevolucaoPallets" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Devolução de Pallets</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Detalhes</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liTabAnexosDevolucaoPallet">
                        <a href="#tabDetalhesAnexoDevolucaoPallet" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Anexos</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                        <div class="row">
                            <div class="row row-cols-1 row-cols-md-2  row-cols-md-3">
                                <div class="col">
                                    <table class="table table-clean table-sm align-self-end">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: Carga.text"></strong>

                                                    <span data-bind="text: Carga.val"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: NotaFiscal.text"></strong>

                                                    <span data-bind="text: NotaFiscal.val"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: Transportador.text"></strong>

                                                    <span data-bind="text: Transportador.val"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <strong data-bind="text: Veiculo.text"></strong>

                                                    <span data-bind="text: Veiculo.val"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: Motorista.text"></strong>

                                                    <span data-bind="text: Motorista.val"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: NumeroTotalPallets.text"></strong>

                                                    <span data-bind="text: NumeroTotalPallets.val"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: NumeroPallets.text"></strong>

                                                    <span data-bind="text: NumeroPallets.val"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 col-md-2 row" data-bind="visible: DataBaixa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataBaixa.text, attr: { for: DataBaixa.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataBaixa.requiredClass, value: DataBaixa.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixa.maxlength, id : DataBaixa.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Cliente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ko foreach: Situacoes -->
                                <div class="col-12 col-md-4" data-bind="visible: Quantidade.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: ValorUnitario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorUnitario.requiredClass, value: ValorUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: ValorTotal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorTotal.requiredClass, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                                    </div>
                                </div>

                                <!-- /ko -->
                                <div class="col-12 col-md-6" data-bind="visible: ValorTotal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorTotal.requiredClass, value: ValorTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabDetalhesAnexoDevolucaoPallet" class="tab-pane fade">
                        <div class="row">
                            <section class="padding-side">
                                <button class="btn btn-primary" type="button" data-bind="click: AdicionarAnexo.eventClick, visible: AdicionarAnexo.visible, attr: { id : AdicionarAnexo.id}">
                                    <span data-bind="text: AdicionarAnexo.text"></span>
                                </button>
                            </section>
                            <section class="padding-side">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid}" cellspacing="0"></table>
                            </section>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="button" data-bind="click: Baixar.eventClick, visible: Baixar.visible, attr: { value: Baixar.text, id: Baixar.id}" class="btn btn-labeled btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDevolucaoPalletsAnexo" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Anexo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutDevolucaoPalletsAnexo">
                <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                    <p class="form-label" data-bind="text: Arquivo.text"></p>
                    <div class="custom-file" data-bind="visible: Arquivo.visible">
                        <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                        <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione</label>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                    </div>
                </div>
                <footer>
                    <button class="btn btn-primary" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>


<div id="ModalDivDetalhesDevolucao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Devolução</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="KnoutDetalheDevolucao">
                <div class="row padding-side">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <table class="table table-clean table-sm align-self-end">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: NumeroDevolucao.text"></strong>

                                            <span data-bind="text: NumeroDevolucao.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Numero.text"></strong>

                                            <span data-bind="text: Numero.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: DataEmissao.text"></strong>

                                            <span data-bind="text: DataEmissao.val"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong data-bind="text: Valor.text"></strong>

                                            <span data-bind="text: Valor.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Peso.text"></strong>

                                            <span data-bind="text: Peso.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Carga.text"></strong>

                                            <span data-bind="text: Carga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Chave.text"></strong>

                                            <span data-bind="text: Chave.val"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong data-bind="text: NaturezaOP.text"></strong>

                                            <span data-bind="text: NaturezaOP.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Filial.text"></strong>

                                            <span data-bind="text: Filial.val"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <table class="table table-clean table-sm align-self-end">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Emitente.text"></strong>

                                            <span data-bind="text: Emitente.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Destinatario.text"></strong>

                                            <span data-bind="text: Destinatario.val"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong data-bind="text: Empresa.text"></strong>

                                            <span data-bind="text: Empresa.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Motoristas.text"></strong>

                                            <span data-bind="text: Motoristas.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: QuantidadeTotalPallets.text"></strong>

                                            <span data-bind="text: QuantidadeTotalPallets.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: QuantidadePalletsValePallet.text"></strong>

                                            <span data-bind="text: QuantidadePalletsValePallet.val"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong data-bind="text: QuantidadePallets.text"></strong>

                                            <span data-bind="text: QuantidadePallets.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: PesoTotalPallets.text"></strong>

                                            <span data-bind="text: PesoTotalPallets.val"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong data-bind="text: ValorTotalPallets.text"></strong>

                                            <span data-bind="text: ValorTotalPallets.val"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li id="liTabSituacoesDevolucao" class="nav-item">
                        <a href="#tabSituacoesDevolucao" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Situações da devolução</span>
                        </a>
                    </li>
                    <li id="liTabAnexosDevolucaoPalletDetalhes" class="nav-item">
                        <a href="#tabDetalhesAnexoDevolucaoPalletDetalhes" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Anexos</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">

                    <div class="tab-pane fade active show" id="tabSituacoesDevolucao" role="tabpanel">
                        <form novalidate>
                            <div class="row">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: NumeroDevolucao.idGrid}" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tabDetalhesAnexoDevolucaoPalletDetalhes" role="tabpanel">
                        <form novalidate>
                            <div class="row">
                                <table class="table table-bordered table-hover" data-bind="attr: { id: Anexos.id }" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalCancelamentoBaixaPallets" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutCancelamentoBaixaPallets" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancelamento de Baixa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="smart-form">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                            </div>
                        </div>
                        <footer class="text-right">
                            <button class="btn btn-primary" type="button" data-bind="click: Confirmar.eventClick, visible: Confirmar.visible, attr: { id : Confirmar.id}">
                                <span data-bind="text: Confirmar.text"></span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalAtualizarDevolucaoPallets" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutAtualizarDevolucaoPallets" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Atualizar devolução pallets</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body modal-body-no-padding">
                <div class="smart-form">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: QuantidadePallets.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadePallets.text, attr: { for: QuantidadePallets.id }"></label>
                                <input type="text" class="form-control" data-bind="class: QuantidadePallets.requiredClass, value: QuantidadePallets.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadePallets.maxlength, id : QuantidadePallets.id}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer class="text-right">
                        <button class="btn btn-primary" type="button" data-bind="click: Confirmar.eventClick, visible: Confirmar.visible, attr: { id : Confirmar.id}">
                            <span data-bind="text: Confirmar.text"></span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalLiquidacao" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="knoutLiquidacaoPallet">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Devolução</h4>
            </div>
            <div class="modal-body modal-body-no-padding">
                <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in" id="myTab">
                            <li class="active" id="liTabLiquidacao">
                                <a data-toggle="tab" href="#tabLiquidacao"><span class="hidden-mobile hidden-tablet">Vale Pallet</span></a>
                            </li>
                            <li id="liTabIntegracoes">
                                <a data-toggle="tab" href="#tabIntegracoes"><span class="hidden-mobile hidden-tablet">Integrações</span></a>
                            </li>
                        </ul>
                    </header>
                    <div style="border: none;">
                        <div class="widget-body no-padding">
                            <div id="knockoutCadastroUsuario" class="smart-form">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane active fade in padding-10 no-padding-bottom" id="tabLiquidacao">
                                        <label style="margin: 0 0 0.7rem 1.2rem; font-weight: 600;">Valle Pallet Assinado</label>
                                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" id="divDropzone">
                                            <div class="well">

                                                <fieldset>
                                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px">
                                                        <div>
                                                            <form action="/file-upload" data-bind="enable: Dropzone.enable, attr: { id: Dropzone.id}" class="dropzone" style="height:200px; overflow-y:scroll">
                                                                <div class="fallback">
                                                                    <input name="file" type="file" multiple data-bind="enable: Dropzone.enable" />
                                                                </div>
                                                            </form>
                                                            <div class="progress progress-striped" style="visibility:hidden; margin-top:10px; margin-bottom:0px;">
                                                                <div class="progress-bar active bg-color-teal" role="progressbar" data-bind="attr: { id: Dropzone.idTab}" style="width: 0%;"></div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </fieldset>
                                            </div>
                                        </section>

                                    </div>
                                    <div class="tab-pane fade in padding-10 no-padding-bottom" id="tabIntegracoes">
                                        integraçoes

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <footer class="text-right">
                        <input type="button" data-bind="click: Enviar.eventClick, attr: { value: Enviar.text, id : Enviar.id}" class="btn btn-labeled btn-success botaoDentroSmartAdmimForm">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalContestacao" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="knoutContestacao">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Devolução</h4>
            </div>
            <div class="modal-body modal-body-no-padding">
                <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in" id="myTab">
                            <li class="active" id="liTabDetalhesContestacao">
                                <a data-toggle="tab" href="#tabDetalhesContestacao"><span class="hidden-mobile hidden-tablet">Detalhes</span></a>
                            </li>
                            <li id="liTabIntegracoesContestacao">
                                <a data-toggle="tab" href="#tabIntegracaoContestacao"><span class="hidden-mobile hidden-tablet">Integração</span></a>
                            </li>
                        </ul>
                    </header>
                    <div style="border: none;">
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane active fade in padding-10 no-padding-bottom" id="tabDetalhesContestacao">

                                        <section data-bind="visible: MotivoContestacao.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" style="z-index: 2;">
                                            <label class="label"><b data-bind="text: MotivoContestacao.text"></b></label>
                                            <label class="input" data-bind="attr: { class: MotivoContestacao.requiredClass}">
                                                <textarea style="width: 100%;" rows="5" type="text" data-bind="value: MotivoContestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoContestacao.maxlength, id : MotivoContestacao.id}"></textarea>
                                            </label>
                                        </section>

                                        <section class="padding-side text-right" data-bind="visible: Adicionar.visible">
                                            <button type="button" data-bind="click: Adicionar.eventClick, text: Adicionar.text, attr: { id: Adicionar.id}" class="btn btn-primary botaoDentroSmartAdmimForm"></button>
                                        </section>
                                        <section class="padding-side">
                                            <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                        </section>


                                    </div>
                                    <div class="tab-pane fade in padding-10 no-padding-bottom" id="tabIntegracaoContestacao">
                                        integraçoes

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <footer class="text-right">
                        <input type="button" data-bind="click: SolicitarContestacao.eventClick, attr: { value: SolicitarContestacao.text, id : SolicitarContestacao.id}" class="btn btn-labeled btn-success botaoDentroSmartAdmimForm">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalCadastroAnexoContestacao" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> ×</button>
                <h4 class="modal-title">Adicionar anexo</h4>
            </div>
            <div class="modal-body modal-body-no-padding">
                <div class="widget-body">
                    <div class="smart-form" id="knockoutCadastroAnexoContestacao">
                        <fieldset>
                            <div class="row">
                                <section data-bind="visible: Arquivo.visible" class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label" style="font-weight: bold;" data-bind="text: Arquivo.text"></label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" name="file" accept=".jpg,.jpeg,.png,.pdf" data-bind="value: Arquivo.val, enable : Arquivo.enable, attr: { id: Arquivo.id }" />Selecionar
                                        </div>
                                        <input type="text" tabindex="-1" placeholder="Selecione uma arquivo para anexar" data-bind="value: NomeArquivo.val, enable : Arquivo.enable" readonly />
                                    </label>
                                </section>
                                <section data-bind="visible: Descricao.visible" class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label"><b data-bind="text: Descricao.text"></b></label>
                                    <label data-bind="attr: { class: Descricao.requiredClass}">
                                        <input type="text" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success">
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/devolucaoPallets"></script>
<script src="~/scripts/dropzone"></script>

<script type="text/javascript">

    pageSetUp();

    var _PermissoesPersonalizadasPallets = @Html.Raw(ViewBag.PermissoesPersonalizadasPallets);

    $(document).ready(function () {
        LoadDevolucaoPallets();
    });

</script>

