
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pallets</li>
        <li class="breadcrumb-item active">Estoque Filial</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Estoque de Pallets por Filial
        </h1>
    </div>
    <div id="knockoutPesquisaEstoqueFilial">
        <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        Pesquisar Estoque de Pallets
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div class="card-body">
                                    <div class="col-12 col-md-12" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="d-flex justify-content-end mb-3">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                        </button>
                                    </footer>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="~/scripts/estoqueFilial"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadEstoqueFilial();
    });

</script>
