
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pallets</li>
        <li class="breadcrumb-item active">Fechamento Pallets</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Fechamento de Pallets
        </h1>
    </div>
</section>

<div id="knockoutPesquisaFechamentoPallets" class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar Fechamentos
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind=" value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                    <input type="text" class="form-control" data-bind=" class: DataFim.requiredClass, value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <footer class="d-flex justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                        </button>
                    </footer>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Fechamento de Pallets
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutEtapasFechamento" class="row">
                <ul class="nav nav-steps">
                    <li data-target="#step1" data-bind="visible : Etapa1.visible">
                        <button class="active" data-bs-target="#tabDadosFechamento" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa1.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible : Etapa2.visible">
                        <button data-bs-target="#tabComposicaoFechamento" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                <i class="fal fa-unlock-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa2.text"></span>
                        </button>
                    </li>
                    <li data-target="#step3" data-bind="visible : Etapa3.visible">
                        <button data-bs-target="#tabFinalizar" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                <i class="fal fa-check-circle"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa3.text"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <!-- DadosFechamento -->
                <div class="tab-pane fade active show" id="tabDadosFechamento">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title"> Dados do Fechamento</h3>
                            </div>
                            <div class="card-body">
                                <div class="row" id="knockoutDadosFechamento">
                                    <div class="col-12 col-md-4" data-bind="visible: DataInicio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: DataInicio.enable, class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: DataFim.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable: DataFim.enable, class: DataFim.requiredClass, value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ DadosFechamento -->
                <!-- ComposicaoFechamento -->

                <div id="tabComposicaoFechamento" class="tab-pane fade">
                    <h3>
                        Composição do Fechamento
                    </h3>
                    <div class="row mt-4">
                        <div class="row" id="knockoutComposicaoEstoquePallets">
                            <div class="col-12 col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Movimentação Estoque</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoAvaria">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Avaria</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoCompraPallets">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Compra de Pallets</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoDevolucao">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Devolução</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoDevolucaoValePallet">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Devolução de Vale Pallet</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoReforma">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Reforma</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoTransferencia">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Transferência</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="knockoutComposicaoValePallet">
                            <div class="col-12 col-md-12">
                                <div class="card" id="tabComposicaoFechamento">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Vale Pallet</h3>
                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: {id: Grid.id }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ ComposicaoFechamento -->
                <!-- Finalizar -->
                <div id="tabFinalizar" class="tab-pane fade">
                    <h3>
                        Finalizar Fechamento
                    </h3>
                    <div class="row mt-4" id="knockoutFinalizarFechamento">
                        <fieldset>
                            <div class="alert alert-warning" data-bind="visible: Aberto.val">
                                O Fechamento está pendente de ser finalizado.
                            </div>
                            <div class="alert alert-success" data-bind="visible: Fechado.val">
                                O Fechamento já foi finalizado.
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!--/ Finalizar -->
                <footer id="knockoutCRUD">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-end mb-3 mt-3">
                            <button type="button" class="btn btn-labeled btn-default " data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}, enable: Limpar.enable">

                                <span data-bind="text: Limpar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: GerarFechamento.eventClick, visible: GerarFechamento.visible, attr: { id : GerarFechamento.id}, enable: GerarFechamento.enable">

                                <span data-bind="text: GerarFechamento.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { id : Finalizar.id}, enable: Finalizar.enable">

                                <span data-bind="text: Finalizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}, enable: Excluir.enable">

                                <span data-bind="text: Excluir.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>








<style>
    #tabComposicaoFechamento .composicao-container:first-child {
        margin-top: 0px;
    }

    .composicao-container {
        margin-top: 30px;
    }
</style>
<script src="~/scripts/fechamentoPallets"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadFechamentoPallets();
    });
</script>

