

<style>
    #knockoutEtapaTransferenciaPallet .col {
        float: left;
    }

    table.dataTable.margin-top-0 {
        margin-top: 0 !important;
    }

    .label-fixed-size {
        width: 145px;
    }

    @@media (max-width: 767px) {
        .table-content-padding-top {
            padding-top: 20px;
        }
    }

    .tab-content + .tab-content {
        margin-top: 0;
    }

    @@media (max-width: 767px) {
        .tab-content + .tab-content {
            margin-top: 25px;
        }
    }

    .well-padding-top {
        padding-top: 0;
    }

    @@media (max-width: 1199px) {
        .well-padding-top {
            padding-top: 30px;
        }
    }
</style>
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pallets</li>
        <li class="breadcrumb-item active">Transferência</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Transferência de Pallets
        </h1>
    </div>
    <div class="panel" id="knockoutPesquisaTransferenciaPallet">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Vale Pallet
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Numero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataLimite.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataLimite.requiredClass, value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Setor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Turno.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Turno.text, attr: { for: Turno.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Turno.requiredClass, value: Turno.val, valueUpdate: 'afterkeydown', attr: { maxlength: Turno.maxlength, id : Turno.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Turno.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-end mb-2">
                                <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </footer>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Lançamento de Transferência de Pallets
                </h3>
            </div>
            <div class="panel-content">
                <div class="row" id="knockoutResumoTransferenciaPallet">
                    <div data-bind="visible: Numero.visible">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label>
                                        <strong data-bind="text: Numero.text"></strong>
                                        <span data-bind="text: Numero.val"></span>
                                    </label>
                                    <label>
                                        <strong data-bind="text: Data.text"></strong>
                                        <span data-bind="text: Data.val"></span>
                                    </label>
                                    <label>
                                        <strong data-bind="text: Filial.text"></strong>
                                        <span data-bind="text: Filial.val"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label>
                                        <strong data-bind="text: Situacao.text"></strong>
                                        <span data-bind="text: Situacao.val"></span>
                                    </label>
                                    <label>
                                        <strong data-bind="text: Setor.text"></strong>
                                        <span data-bind="text: Setor.val"></span>
                                    </label>
                                    <label>
                                        <strong data-bind="text: Turno.text"></strong>
                                        <span data-bind="text: Turno.val"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <label>
                                        <strong data-bind="text: Quantidade.text"></strong>
                                        <span data-bind="text: Quantidade.val"></span>
                                    </label>
                                    <label>
                                        <strong data-bind="text: Solicitante.text"></strong>
                                        <span data-bind="text: Solicitante.val"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="knockoutEtapaTransferenciaPallet" class="row">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : EtapaSolicitacao.visible">
                            <button class="active" data-bs-target="#solicitacaoTransferenciaPallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaSolicitacao.idTab }, click : EtapaSolicitacao.eventClick, visible : EtapaSolicitacao.visible">
                                <span class="step" data-bind="attr: {'data-content' : EtapaSolicitacao.tooltip, 'data-original-title' : EtapaSolicitacao.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: EtapaSolicitacao.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : EtapaEnvio.visible">
                            <button data-bs-target="#envioTransferenciaPallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaEnvio.idTab }, click : EtapaEnvio.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : EtapaEnvio.tooltip, 'data-original-title' : EtapaEnvio.tooltipTitle }">
                                    <i class="fal fa-shipping-fast"></i>
                                </span>
                                <span class="title" data-bind="text: EtapaEnvio.text"></span>
                            </button>
                        </li>
                        <li data-target="#step3" data-bind="visible : EtapaAprovacao.visible">
                            <button data-bs-target="#aprovacaoTransferenciaPallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaAprovacao.idTab }, click : EtapaAprovacao.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : EtapaAprovacao.tooltip, 'data-original-title' : EtapaAprovacao.tooltipTitle }">
                                    <i class="fal fa-check-circle"></i>
                                </span>
                                <span class="title" data-bind="text: EtapaAprovacao.text"></span>
                            </button>
                        </li>
                        <li data-target="#step3" data-bind="visible : EtapaRecebimento.visible">
                            <button data-bs-target="#recebimentoTransferenciaPallet" data-bs-toggle="tab" data-bind="attr: {id : EtapaRecebimento.idTab }, click : EtapaRecebimento.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : EtapaRecebimento.tooltip, 'data-original-title' : EtapaRecebimento.tooltipTitle }">
                                    <i class="fal fa-box"></i>
                                </span>
                                <span class="title" data-bind="text: EtapaRecebimento.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="conteudoTransacao">
                    <div class="tab-pane fade show active" role="dialog" aria-hidden="true" id="solicitacaoTransferenciaPallet">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h4>Solicitação</h4>
                            </div>
                            <div class="card-body" id="knockoutSolicitacaoTransferenciaPallet">
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Numero.requiredClass, enable: Numero.enable, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Solicitante.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Solicitante.text, attr: { for: Solicitante.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Solicitante.requiredClass, enable: Solicitante.enable, value: Solicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: Solicitante.maxlength, id : Solicitante.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, enable: Filial.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Filial.enable, attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5" data-bind="visible: Setor.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Setor.requiredClass, enable: Setor.enable, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Setor.enable, attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5" data-bind="visible: Turno.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Turno.text, attr: { for: Turno.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Turno.requiredClass, value: Turno.val, enable: Turno.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Turno.maxlength, id : Turno.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Turno.enable, attr: { id: Turno.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, enable: Quantidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="envioTransferenciaPallet">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Envio</h3>
                            </div>
                            <div class="card-body" id="knockoutEnvioTransferenciaPallet">
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Remetente.requiredClass, value: Remetente.val, enable: Remetente.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, enable: Filial.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Filial.enable, attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5" data-bind="visible: Setor.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, enable: Setor.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Setor.enable, attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5" data-bind="visible: Turno.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Turno.text, attr: { for: Turno.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Turno.requiredClass, value: Turno.val, enable: Turno.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Turno.maxlength, id : Turno.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Turno.enable, attr: { id: Turno.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, enable: Quantidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Responsavel.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Responsavel.text, attr: { for: Responsavel.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Responsavel.requiredClass, value: Responsavel.val, enable: Responsavel.enable,  valueUpdate: 'afterkeydown', attr: { maxlength: Responsavel.maxlength, id : Responsavel.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aprovacaoTransferenciaPallet">
                        <div id="knockoutAprovacaoTransferenciaPallet">
                            <div class="row">
                                <div class="col col-sm-12 text-right" data-bind="visible: ExibirAprovadores.visible">
                                    <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click: ExibirAprovadores.eventClick, visible: ExibirAprovadores.visible, attr: { id : ExibirAprovadores.id}">
                                        <span data-bind="text: ExibirAprovadores.text"></span>
                                    </button>
                                </div>
                                <div class="col col-xs-12 col-sm-6 tab-content" data-bind="visible: PossuiRegras.val">
                                    <div class="panel">
                                        <div class="panel-container">
                                            <div class="panel-header">
                                                <div class="panel-hdr">
                                                    <h3>Detalhes</h3>
                                                </div>
                                            </div>
                                            <div class="panel-content">
                                                <div class="row">
                                                    <table class="table table-clean table-sm align-self-end">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Solicitante.text"></strong>
                                                                    <span data-bind="text: Solicitante.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: DataSolicitacao.text"></strong>
                                                                    <span data-bind="text: DataSolicitacao.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: AprovacoesNecessarias.text"></strong>
                                                                    <span data-bind="text: AprovacoesNecessarias.val"></span>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Aprovacoes.text"></strong>
                                                                    <span data-bind="text: Aprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Reprovacoes.text"></strong>
                                                                    <span data-bind="text: Reprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Situacao.text"></strong>
                                                                    <span data-bind="text: Situacao.val"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-xs-12 col-sm-6 tab-content" data-bind="visible: PossuiRegras.val">
                                    <div class="panel">
                                        <div class="panel-container">
                                            <div class="panel-header">
                                                <div class="panel-hdr">
                                                    <h3>Aprovadores</h3>
                                                </div>
                                            </div>
                                            <div class="panel-content">
                                                <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Regras.idGrid}" cellspacing="0"></table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-12" data-bind="visible: !PossuiRegras.val()">
                                    <div class="alert alert-warning">
                                        Não foi encontrada nenhuma regra para aprovar a transferência de pallets.<br />
                                        A transferência ficará pendente até existir alguma regra de aprovação. Clique em reprocessar regras para verificar.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="recebimentoTransferenciaPallet">
                        <div class="row">
                            <div class="col-12 col-md-8" id="knockoutRecebimentoTransferenciaPallet">
                                <div class="panel">
                                    <div class="panel-container">
                                        <div class="panel-header">
                                            <div class="panel-hdr"><h3>Recebimento</h3></div>
                                        </div>
                                        <div class="panel-content">
                                            <div class="row">
                                                <div class="col-12 col-md-6" data-bind="visible: Recebedor.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Recebedor.text, attr: { for: Recebedor.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: Recebedor.enable, class: Recebedor.requiredClass, value: Recebedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Recebedor.maxlength, id : Recebedor.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: Data.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: Data.enable, class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: Quantidade.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: Quantidade.enable, class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="panel">
                                    <div class="panel-container">
                                        <div class="panel-hdr"> <h3>Solicitado X Enviado X Recebido</h3></div>
                                        <div class="panel-content">
                                            <div class="row row-cols-1" id="knockoutCruzamentoInformacoesTransferenciaPallet">
                                                <div class="col">
                                                    <table class="table table-clean table-sm align-self-end">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: QuantidadeSolicitada.text"></strong>
                                                                    <span data-bind="text: QuantidadeSolicitada.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: QuantidadeEnviada.text"></strong>
                                                                    <span data-bind="text: QuantidadeEnviada.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: QuantidadeRecebida.text"></strong>
                                                                    <span data-bind="text: QuantidadeRecebida.val"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDCadastroTransferenciaPallet">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-end ">
                            <button type="button" class="btn btn-labeled btn-default mx-2" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">
                                <i class="fal fa-ban"></i><span data-bind="text: Limpar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success " data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <i class="fal fa-check"></i> <span data-bind="text: Adicionar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-danger ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: ReprocessarRegras.eventClick, visible: ReprocessarRegras.visible, attr: { id : ReprocessarRegras.id}">
                                <span data-bind="text: ReprocessarRegras.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" id="divModalDetalhesAutorizacao" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="knockoutDetalheAutorizacao">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Autorização</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1">
                    <div class="col">
                        <section data-bind="visible: Regra.visible" class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <label><b data-bind="text: Regra.text"></b> <span data-bind="text: Regra.val"></span></label>
                        </section>
                        <section data-bind="visible: Situacao.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b data-bind="text: Situacao.text"></b> <span data-bind="text: Situacao.val"></span></label>
                        </section>

                        <section data-bind="visible: Usuario.visible" class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <label><b data-bind="text: Usuario.text"></b> <span data-bind="text: Usuario.val"></span></label>
                        </section>
                        <section data-bind="visible: Data.visible && Data.val() != ''" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b data-bind="text: Data.text"></b> <span data-bind="text: Data.val"></span></label>
                        </section>

                        <section data-bind="visible: Motivo.visible && Motivo.val() != ''" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label><b data-bind="text: Motivo.text"></b> <span data-bind="text: Motivo.val"></span></label>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/transferencia"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadTransferenciaPallet();
    });

</script>

