

<style>
    .content-no-padding > fieldset {
        padding: 20px 0 0 0 !important;
    }

    .content-no-padding > header {
        margin: 0;
        padding: 6px 0 8px 0;
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Escrituração</li>
    <li class="breadcrumb-item active">Autorização Estorno Provisão</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Autorização de Estorno de Provisão
    </h1>
</div>

<div id="knockoutPesquisaEstornoProvisao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Pesquisar Provisão</h2>
            </div>
            <div class="panel-content">
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: NumeroLote.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroLote.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroLote.requiredClass, value: NumeroLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLote.maxlength, id : NumeroLote.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoLoteInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoLoteInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataGeracaoLoteInicial.requiredClass, value: DataGeracaoLoteInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoLoteInicial.maxlength, id : DataGeracaoLoteInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoLoteFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoLoteFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataGeracaoLoteFinal.requiredClass, value: DataGeracaoLoteFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoLoteFinal.maxlength, id : DataGeracaoLoteFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campos Ocultos -->
                            <div class="col-12 col-md-3" data-bind="visible: NumeroProvisao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroProvisao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroProvisao.requiredClass, value: NumeroProvisao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroProvisao.maxlength, id : NumeroProvisao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    Estorno de Provisões
                </h3>
            </div>
            <div class="panel-content">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible">
                        <span data-bind="text: SelecionarTodos.text"></span>
                    </button>

                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-warning me-2" type="button" data-bind="click: ReprocessarTodas.eventClick, attr: { id: ReprocessarTodas.id }, visible: ReprocessarTodas.visible">
                            <span data-bind="text: ReprocessarTodas.text"></span>
                        </button>
                        <button class="btn btn-danger me-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                            <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                        </button>
                        <button class="btn btn-primary me-2" type="button" data-bind="click: DelegarTodas.eventClick, attr: { id: DelegarTodas.id }, visible: DelegarTodas.visible">
                            <span data-bind="text: DelegarTodas.text"></span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                            <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="divModalRejeitarEstornoProvisao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutRejeicaoEstornoProvisao" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motivo.text"></label>
                                <textarea type="text" rows="5" class="form-control" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-danger" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                    <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDelegarSelecionados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutDelegarSelecionados" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Provisões</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: UsuarioDelegado.requiredClass, value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': UsuarioDelegado.text, maxlength: UsuarioDelegado.maxlength, id: UsuarioDelegado.id, name: UsuarioDelegado.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-success" data-bind="click: Delegar.eventClick, attr: { value: Delegar.text, id : Delegar.id}">
                    <span data-bind="text: Delegar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<div id="divModalEstornoProvisao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da Provisão</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutEstornoProvisao" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Provisão</span>
                        </a>
                    </li>
                    <li class="nav-item " id="liAutorizacao">
                        <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Autorização</span>
                        </a>
                    </li>
                    <li class="nav-item " id="liAnexo">
                        <a href="#knockoutAnexo" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Anexo</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liDelegar">
                        <a href="#knockoutDelegar" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Delegar</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="knockoutEstornoProvisao" class="tab-pane fade active show">
                        <h4>Detalhes da Provisão</h4>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: NumeroProvisao.text"></span><span data-bind="text: NumeroProvisao.val"></span></label>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: Transportador.text"></span><span data-bind="text: Transportador.val"></span></label>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: Filial.text"></span><span data-bind="text: Filial.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: Tomador.text"></span><span data-bind="text: Tomador.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: DataInicial.text"></span><span data-bind="text: DataInicial.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: DataFinal.text"></span><span data-bind="text: DataFinal.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: Carga.text"></span><span data-bind="text: Carga.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: Ocorrencia.text"></span><span data-bind="text: Ocorrencia.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: ValorProvisao.text"></span><span data-bind="text: ValorProvisao.val"></span></label>

                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label"><span data-bind="text: ValorFrete.text"></span><span data-bind="text: ValorFrete.val"></span></label>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutAutorizacao" class="tab-pane fade ">
                        <h4>Regras</h4>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                </div>
                            </div>
                            <div data-bind="visible: Rejeitar.visible">
                                <button class="btn btn-default" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { id: Rejeitar.id}">
                                    <span data-bind="text: Rejeitar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                            <footer data-bind="visible: (AprovarTodas.visible() || Reprocessar.visible())">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-warning me-2" type="button" data-bind="visible: Reprocessar.visible, click: Reprocessar.eventClick, attr: { id: Reprocessar.id}">
                                        <span data-bind="text: Reprocessar.text"></span>
                                    </button>
                                    <button class="btn btn-success" type="button" data-bind="visible: AprovarTodas.visible, click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                        <span data-bind="text: AprovarTodas.text"></span>
                                    </button>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <div id="knockoutAnexo" class="tab-pane fade ">
                        <div class="card">
                            <div class="card-header">
                                <h4>Anexos</h4>
                            </div>
                            <div class="row card-body">
                                <div class="col-12 mb-2">
                                    <div class="custom-file-btn" data-bind="visible: Upload.visible">
                                        <label class="btn btn-primary" data-bind="attr: { for: Upload.idFile }">
                                            <i class="fal fa-upload"></i> Adicionar
                                        </label>
                                        <input type="file" accept=".jpg,.jpeg,.png" data-bind="event: {change: Upload.eventChange}, attr: { id : Upload.idFile, accept: Upload.accept, multiple: true }">
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: AnexosAdicionar.idGrid}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="knockoutDelegar">
                        <h3>Delegar </h3>
                        <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: UsuarioDelegado.requiredClass, value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success" type="button" data-bind="click: Delegar.eventClick, attr: { id: Delegar.id}">
                                <span data-bind="text: Delegar.text"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/autorizacaoEstornoProvisao"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAutorizacaoEstornoProvisao();
    });

</script>