
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Escrituração</li>
    <li class="breadcrumb-item">Configuração de Provisão</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Configuração de Provisão
    </h1>
</div>

<div >
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div class="row" id="knockoutConfiguracaoProvisao">
                        <div class="col-12 col-md-6" data-bind="visible: DiasForaMes.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiasForaMes.text, attr: { for: DiasForaMes.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DiasForaMes.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasForaMes.maxlength, id : DiasForaMes.id}" />
                            </div>
                        </div>
                    </div>
                </form>
                <footer id="knockoutCRUDConfiguracaoProvisao">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success waves-effect waves-themed" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id : Salvar.id}" type="button">
                                <i class="fal fa-check"></i>&nbsp;<span data-bind="text: Salvar.text">Salvar</span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/configuracaoProvisao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracaoProvisao();
    });

</script>

