
<div id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Escrituração</li>
        <li class="breadcrumb-item active">Lancamentos Contábeis</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Lançamentos Contábeis
        </h1>
    </div>
    <div class="panel" id="knockoutPesquisaDocumentos">
        <div class="panel-container">
            <div class="panel-content">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Documentos
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: Nota.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Nota.text, attr: { for: Nota.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Nota.requiredClass, value: Nota.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nota.maxlength, id : Nota.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Nota.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: CTe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CTe.text, attr: { for: CTe.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CTe.requiredClass, value: CTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTe.maxlength, id : CTe.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CTe.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="no-padding col-12 d-flex justify-content-end mb-3">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                    </button>
                                </footer>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wid-id-4" class="jarviswidget container-lancamentos hide" style="display:none;" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Cadastro Lançamentos Contábeis
                    </h3>
                </div>
                <div class="panel-content" id="knockoutLancamentosContabeis">
                    <div class="row">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Chave.text"></strong>
                                        <span data-bind="text: Chave.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Numero.text"></strong>
                                        <span data-bind="text: Numero.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Serie.text"></strong>
                                        <span data-bind="text: Serie.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: DataEmissao.text"></strong>
                                        <span data-bind="text: DataEmissao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Emitente.text"></strong>

                                        <span data-bind="text: Emitente.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Destinatario.text"></strong>
                                        <span data-bind="text: Destinatario.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ko foreach: { data: Lancamentos.val, as: 'Lancamento' } -->
                        <div class="col col-sm-12 col-md-12 col-lg-12 lancamento-container">
                            <div class="h4" data-bind="text: Lancamento.Descricao"></div>
                            <div class="lancamento-border">
                                <div class="well lancamento-container-table">
                                    <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: { id: 'data-grid-' + $index()}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: { id: 'data-grid-' + $index()}" cellspacing="0"></table>
                        <!-- /ko -->
                    </div>
                </div>
                <footer id="knockoutCRUD">
                    <button type="button" class="btn btn-success" data-bind="click: Imprimir.eventClick, visible: Imprimir.visible, text: Imprimir.text, attr: { id : Imprimir.id}">
                        <i class="fal fa-print"></i>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<style>
    .lancamento-container {
        margin-top: 20px;
    }

        .lancamento-container .dt-toolbar-footer {
            display: none;
        }

        .lancamento-container .widget-body {
            padding-bottom: 0;
        }

    .lancamento-border {
        width: 97%;
        float: right;
        padding-left: 20px;
        border-left: 1px solid #ccc;
        margin-top: 10px;
    }

        .lancamento-border::after {
            content: "";
            background-color: #ccc;
            height: 1px;
            width: 20px;
            position: absolute;
            left: 41px;
            top: 50%;
        }

    .lancamento-container-table {
        border-top: 0px;
    }

        .lancamento-container-table::before {
            content: "";
            float: left;
            width: 1px;
        }
</style>

<script src="~/scripts/lancamentosContabeis"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadLancamentosContabeis();
    });

</script>

