
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Escrituração</li>
    <li class="breadcrumb-item"> Regra PisCofins</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Regra Pis/Cofins
    </h1>
</div>

<div id="knockoutRegraPisCofins">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Pis.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pis.text, attr: { for: Pis.id }"></label>
                                <input type="text" class="form-control" data-bind="css:Pis.requiredClass,value: Pis.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pis.maxlength, id : Pis.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Cofins.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Cofins.text, attr: { for: Cofins.id }"></label>
                                <input type="text" class="form-control" data-bind="css:Cofins.requiredClass,value: Cofins.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cofins.maxlength, id : Cofins.id}" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 d-flex justify-content-end mb-3">
                    <button class="btn btn-success waves-effect waves-themed" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}" type="button">
                       <span data-bind="text: Atualizar.text">Atualizar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>













<script src="~/scripts/regraPisCofins"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRegraPisCofins();
    });

</script>
