@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Pessoas</li>
        <li class="breadcrumb-item active">Pessoa</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            @Localization.Resources.Pessoas.Pessoa.Pessoas
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    @Localization.Resources.Pessoas.Pessoa.Relatorio
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaPessoa">
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Localidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Localidade.text, attr: { for: Localidade.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Localidade.requiredClass, value: Localidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Localidade.maxlength, id : Localidade.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Localidade.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Estado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Estado.requiredClass, value: Estado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Estado.maxlength, id : Estado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Estado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Atividade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Atividade.text, attr: { for: Atividade.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Atividade.requiredClass, value: Atividade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Atividade.maxlength, id : Atividade.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Atividade.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ModalidadePessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModalidadePessoa.text, attr: { for: ModalidadePessoa.id }"></label>
                                    <select class="form-control" data-bind="class: ModalidadePessoa.requiredClass, options: ModalidadePessoa.options, optionsText: 'text', optionsValue: 'value', selectedOptions: ModalidadePessoa.val, attr: { maxlength: ModalidadePessoa.maxlength, id : ModalidadePessoa.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 2" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Bloqueado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Bloqueado.text, attr: { for: Bloqueado.id }"></label>
                                    <select class="form-control" data-bind="class: Bloqueado.requiredClass, options: Bloqueado.options, optionsText: 'text', optionsValue: 'value', value: Bloqueado.val, attr: { maxlength: Bloqueado.maxlength, id : Bloqueado.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-4" data-bind="visible: Categoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Categoria.text, attr: { for: Categoria.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Categoria.requiredClass, value: Categoria.val, valueUpdate: 'afterkeydown', attr: { maxlength: Categoria.maxlength, id : Categoria.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Categoria.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: AguardandoConferenciaInformacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: AguardandoConferenciaInformacao.text, attr: { for: AguardandoConferenciaInformacao.id }"></label>
                                    <select class="form-control" data-bind="class: AguardandoConferenciaInformacao.requiredClass, options: AguardandoConferenciaInformacao.options, optionsText: 'text', optionsValue: 'value', value: AguardandoConferenciaInformacao.val, attr: { maxlength: AguardandoConferenciaInformacao.maxlength, id : AguardandoConferenciaInformacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ComGeolocalizacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ComGeolocalizacao.text, attr: { for: ComGeolocalizacao.id }"></label>
                                    <select class="form-control" data-bind="class: ComGeolocalizacao.requiredClass, options: ComGeolocalizacao.options, optionsText: 'text', optionsValue: 'value', value: ComGeolocalizacao.val, attr: { maxlength: ComGeolocalizacao.maxlength, id : ComGeolocalizacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: SomenteSemCodigoIntegracao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteSemCodigoIntegracao.val, attr: { maxlength: SomenteSemCodigoIntegracao.maxlength, name: SomenteSemCodigoIntegracao.id, id: SomenteSemCodigoIntegracao.id }">
                                        <label class="custom-control-label" data-bind="text: SomenteSemCodigoIntegracao.text, attr: { for: SomenteSemCodigoIntegracao.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ExibeSomenteComCodigoIntegracao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExibeSomenteComCodigoIntegracao.val, attr: { maxlength: ExibeSomenteComCodigoIntegracao.maxlength, name: ExibeSomenteComCodigoIntegracao.id, id: ExibeSomenteComCodigoIntegracao.id }">
                                        <label class="custom-control-label" data-bind="text: ExibeSomenteComCodigoIntegracao.text, attr: { for: ExibeSomenteComCodigoIntegracao.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: SomenteSemContaContabil.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteSemContaContabil.val, attr: { maxlength: SomenteSemContaContabil.maxlength, name: SomenteSemContaContabil.id, id: SomenteSemContaContabil.id }">
                                        <label class="custom-control-label" data-bind="text: SomenteSemContaContabil.text, attr: { for: SomenteSemContaContabil.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaPessoa" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaPessoa" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/relatorios/scripts/pessoa"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Pessoas.Pessoa").then(LoadPessoa);
    });

</script>
