
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Acompanhamento Pré-Agrupamento Carga</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Acompanhamento de Pré-Agrupamento de Cargas
    </h1>
</div>

<div id="knockoutPesquisaPreAgrupamentoCarga">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Pré-Agrupamento de Cargas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Agrupamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Agrupamento.text, attr: { for: Agrupamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Agrupamento.requiredClass, value: Agrupamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agrupamento.maxlength, id : Agrupamento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Viagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Viagem.text, attr: { for: Viagem.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Viagem.requiredClass, value: Viagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Viagem.maxlength, id : Viagem.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroNota.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroNota.text, attr: { for: NumeroNota.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroNota.requiredClass, value: NumeroNota.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNota.maxlength, id : NumeroNota.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Emitente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Emitente.text, attr: { for: Emitente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Emitente.requiredClass, value: Emitente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Emitente.maxlength, id : Emitente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Emitente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Recebedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Recebedor.text, attr: { for: Recebedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Recebedor.requiredClass, value: Recebedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Recebedor.maxlength, id : Recebedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Recebedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Expedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEntregaInicial.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaInicial.requiredClass, value: DataPrevisaoEntregaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaInicial.maxlength, id : DataPrevisaoEntregaInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEntregaFinal.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaFinal.requiredClass, value: DataPrevisaoEntregaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaFinal.maxlength, id : DataPrevisaoEntregaFinal.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-default waves-effect waves-themed ms-2" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                            <i class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed ms-2 btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    Pré-Agrupamento de Cargas
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="divModalPreAgrupamentoCargaDetalhe" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutPreAgrupamentoCargaDetalhe" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button class="btn btn-default " data-toggle="dropdown" aria-expanded="false">
                    <i class="fal fa-eye"></i>
                </button>

                <h4 class="modal-title"> Detalhes do Pré-Agrupamento de Carga</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: CodigoAgrupamento.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: CodigoAgrupamento.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: CnpjEmitente.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: CnpjEmitente.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: TipoViagem.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: TipoViagem.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: CodigoViagem.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: CodigoViagem.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr data-bind="visible: Pendencia.visible">
                                    <td>
                                        <strong data-bind="text: Pendencia.text"></strong>
                                    </td>
                                    <td>
                                        <span data-bind="text: Pendencia.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="card-title">Notas Fiscais</h3>

                        </div>
                        <div class="card-body">
                            <table width="100%" class="table table-bordered table-hover dataTable no-footer" id="grid-pre-agrupamento-carga-detalhe" cellspacing="0"></table>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-warning" type="button" data-bind="click: Reenviar.eventClick, attr: { id : Reenviar.id}">
                        <span data-bind="text: Reenviar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/acompanhamentoPreAgrupamentoCarga"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPreAgrupamentoCarga();
    });

</script>
