
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Acompanhamento Entrega Configuração</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração de Tempos - Acompanhamento Entregas
    </h1>
</div>

<div class="panel" id="knoutConfiguracaoAcompanhamentoEntrega">
    <div class="panel-container">
        <div class="panel-hdr">
            <h4><i class="fal fa-edit"></i>&nbsp;Configurar</h4>
        </div>
        <div class="panel-content">
            <!-- Card One -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">No Carregamento/Coleta (tendência do tempo de carregamento, já está no local)</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Está Adiantado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black bg-light mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: SaidaEmTempo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: SaidaEmTempo.text"></label>
                                                <input type="text" class="form-control" data-bind="css: SaidaEmTempo.requiredClass, value: SaidaEmTempo.val, attr: { maxlength: SaidaEmTempo.maxlength, id : SaidaEmTempo.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No Horário -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-greenLight mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: SaidaAtraso1.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: SaidaAtraso1.text"></label>
                                                <input type="text" class="form-control" data-bind="css: SaidaAtraso1.requiredClass, value: SaidaAtraso1.val, attr: { maxlength: SaidaAtraso1.maxlength, id : SaidaAtraso1.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Um pouco atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-orange mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: SaidaAtraso2.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: SaidaAtraso2.text"></label>
                                                <input type="text" class="form-control" data-bind="css: SaidaAtraso2.requiredClass, value: SaidaAtraso2.val, attr: { maxlength: SaidaAtraso2.maxlength, id : SaidaAtraso2.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-grayDark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: SaidaAtraso3.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: SaidaAtraso3.text"></label>
                                                <input type="text" class="form-control" data-bind="css: SaidaAtraso3.requiredClass, value: SaidaAtraso3.val, attr: { maxlength: SaidaAtraso3.maxlength, id : SaidaAtraso3.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Two -->
            <div class="card mt-3" style="display:none;">
                <div class="card-header">
                    <div class="card-title">Em Trânsito (tendêcia do tempo de chegada no local)</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Está Adiantado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black bg-light mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: EmtransitoEmTempo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: EmtransitoEmTempo.text"></label>
                                                <input type="text" class="form-control" data-bind="css: EmtransitoEmTempo.requiredClass, value: EmtransitoEmTempo.val, attr: { maxlength: EmtransitoEmTempo.maxlength, id : EmtransitoEmTempo.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No Horário -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-greenLight mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: EmTrasitoAtraso1.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: EmTrasitoAtraso1.text"></label>
                                                <input type="text" class="form-control" data-bind="css: EmTrasitoAtraso1.requiredClass, value: EmTrasitoAtraso1.val, attr: { maxlength: EmTrasitoAtraso1.maxlength, id : EmTrasitoAtraso1.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Um pouco atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-orange mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: EmTrasitoAtraso2.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: EmTrasitoAtraso2.text"></label>
                                                <input type="text" class="form-control" data-bind="css: EmTrasitoAtraso2.requiredClass, value: EmTrasitoAtraso2.val, attr: { maxlength: EmTrasitoAtraso2.maxlength, id : EmTrasitoAtraso2.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-grayDark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: EmTrasitoAtraso3.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: EmTrasitoAtraso3.text"></label>
                                                <input type="text" class="form-control" data-bind="css: EmTrasitoAtraso3.requiredClass, value: EmTrasitoAtraso3.val, attr: { maxlength: EmTrasitoAtraso3.maxlength, id : EmTrasitoAtraso3.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Three -->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="card-title">No Descarregamento/Entrega (tendência do tempo de descarregameto, já está no local)</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Está Adiantado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black bg-light mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: DestinoEmTempo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DestinoEmTempo.text"></label>
                                                <input type="text" class="form-control" data-bind="css: DestinoEmTempo.requiredClass, value: DestinoEmTempo.val, attr: { maxlength: DestinoEmTempo.maxlength, id : DestinoEmTempo.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No Horário -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-greenLight mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: DestinoAtraso1.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DestinoAtraso1.text"></label>
                                                <input type="text" class="form-control" data-bind="css: DestinoAtraso1.requiredClass, value: DestinoAtraso1.val, attr: { maxlength: DestinoAtraso1.maxlength, id : DestinoAtraso1.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Um pouco atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-orange mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: DestinoAtraso2.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DestinoAtraso2.text"></label>
                                                <input type="text" class="form-control" data-bind="css: DestinoAtraso2.requiredClass, value: DestinoAtraso2.val, attr: { maxlength: DestinoAtraso2.maxlength, id : DestinoAtraso2.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Atrasado -->
                        <div class="col-12 col-md-3">
                            <div class="card text-black txt-color-darken bg-color-grayDark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" data-bind="visible: DestinoAtraso3.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DestinoAtraso3.text"></label>
                                                <input type="text" class="form-control" data-bind="css: DestinoAtraso3.requiredClass, value: DestinoAtraso3.val, attr: { maxlength: DestinoAtraso3.maxlength, id : DestinoAtraso3.id} , valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { value: Salvar.text, id : Salvar.id}" value="Salvar">
                            <span data-bind="text: Salvar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/AcompanhamentoEntrega"></script>
<style type="text/css">

    .quadros {
        min-height: 70px;
        float: left;
        width: 20%;
        border-radius: 10px;
        margin-right: 10px;
        padding-top: 10px
    }

    .bg-color-greenLight {
        background-color: #a3d0a3 !important;
    }

    .bg-color-orange {
        background-color: #f7e3bb !important;
    }

    .bg-color-grayDark {
        background-color: #d7d2d2 !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        loadconfiguracaoacompanhamentoentrega();
    });
</script>