

<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Acompanhamento de Entregas</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-truck"></i> Acompanhamento De Entregas
        </h1>
    </div>

    <div id="knoutPesquisaAcompanhamentoEntrega" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Cargas
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="mt-3">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: CodigocargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigocargaEmbarcador.text, attr: { for: CodigocargaEmbarcador.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigocargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigocargaEmbarcador.maxlength, id : CodigocargaEmbarcador.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Pedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pedido.text, attr: { for: Pedido.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Pedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pedido.maxlength, id : Pedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Veiculos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculos.text, attr: { for: Veiculos.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Veiculos.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculos.maxlength, id : Veiculos.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Veiculos.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Remetente.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Destinatario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: StatusViagemControleEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusViagemControleEntrega.text, attr: { for: StatusViagemControleEntrega.id }"></label>
                                    <select class="form-control" data-bind="options: StatusViagemControleEntrega.options, optionsText: 'text', optionsValue: 'value', value: StatusViagemControleEntrega.val, attr: { id : StatusViagemControleEntrega.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                        <i class="fal fa-search"></i> <span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="controle-entrega-conteudo-resumo" class="panel" style="display:none">
        <div class="panel-container">
            <div class="panel-content">
                <div id="knoutContainerAcompanhamentoEntregaResumo" class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Saída</h4>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-success btn-lg" data-bind="text: ColetasEmTempo.val, click: BuscarDadosEntregaPeloResumo.bind('ColetasEmTempo','ColetasEmTempo')"></button>
                                <button class="btn btn-warning btn-lg" data-bind="text: ColetasAtraso1.val, click: BuscarDadosEntregaPeloResumo.bind('ColetasAtraso1','ColetasAtraso1')"></button>
                                <button class="btn btn-danger btn-lg" data-bind="text: ColetasAtraso2.val, click: BuscarDadosEntregaPeloResumo.bind('ColetasAtraso2','ColetasAtraso2')"></button>
                                <button class="btn btn-info btn-lg" data-bind="text: ColetasAtraso3.val, click: BuscarDadosEntregaPeloResumo.bind('ColetasAtraso3','ColetasAtraso3')"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Em Trânsito</h4>
                            </div>
                            <div class="card-body">
                                <div class="acompanhamento-transito">
                                    <button id="step1" class="emtransito green" data-target="#step1" data-bind="text: EmtransitoOK.val, click: BuscarDadosEntregaPeloResumo.bind('EmtransitoOK','EmtransitoOK')"></button>
                                    <button id="step2" class="emtransito orange" data-target="#step2" data-bind="text: EmtransitoAtraso1.val, click: BuscarDadosEntregaPeloResumo.bind('EmtransitoAtraso1','EmtransitoAtraso1')"></button>
                                    <button id="step3" class="emtransito red" data-target="#step3" data-bind="text: EmtransitoAtraso2.val, click: BuscarDadosEntregaPeloResumo.bind('EmtransitoAtraso2','EmtransitoAtraso2')"></button>
                                    <button id="step4" class="emtransito blue" data-target="#step4" data-bind="text: EmtransitoAtraso3.val, click: BuscarDadosEntregaPeloResumo.bind('EmtransitoAtraso3','EmtransitoAtraso3')"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Destino</h4>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-success btn-lg btn-icon rounded-circle" data-bind="text: DestinoEmTempo.val, click: BuscarDadosEntregaPeloResumo.bind('DestinoEmTempo','DestinoEmTempo')"></button>
                                <button class="btn btn-warning btn-lg btn-icon rounded-circle" data-bind="text: DestinoAtraso1.val, click: BuscarDadosEntregaPeloResumo.bind('DestinoAtraso1','DestinoAtraso1')"></button>
                                <button class="btn btn-danger btn-lg btn-icon rounded-circle" data-bind="text: DestinoAtraso2.val, click: BuscarDadosEntregaPeloResumo.bind('DestinoAtraso2','DestinoAtraso2')"></button>
                                <button class="btn btn-info btn-lg btn-icon rounded-circle" data-bind="text: DestinoAtraso3.val, click: BuscarDadosEntregaPeloResumo.bind('DestinoAtraso3','DestinoAtraso3')"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="controle-entrega-conteudo-container" class="panel" style="display:none">
        <div class="panel-hdr">
            <h2>Cargas</h2>
        </div>
        <div class="panel-container controle-entrega-conteudo">
            <div id="knoutContainerAcompanhamentoEntrega" class="panel-content">
                <!-- ko foreach: Cargas -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="border h-100 rounded-3 p-3" rel="popover-hover" data-html="true" data-bs-placement="top" data-bind="attr:{'data-content' : Tooltip.val, 'data-original-title' : 'Detalhes Carga' }">
                                    <h4><b data-bind="text: Carga.val"></b></h4>
                                    <h4 data-bind="text: ProximoDestino.val"></h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="border h-100 rounded-3 p-3">
                                    <ul class="acompanhamento-entrega">
                                        <li class="caminhao" data-bind="style: { left: LeftCaminhao.val}">
                                            <span><i class="fal fa-truck fa-flip-horizontal"></i></span>
                                        </li>
                                        <!-- ko foreach: Entregas -->
                                        <!-- ko if: $index() === 0 && Coleta.val -->
                                        <li class="saida">
                                            <button data-html="true" data-bs-placement="top" rel="popover-hover" data-bind="attr: {'data-content' : Tooltip.val, 'data-original-title' : 'Detalhes Coleta'}, text: CodigoCliente.val, class: ColetaClass.val"></button>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if: $index() === 0 && !Coleta.val() && ArrayEntrega.val -->
                                        <li class="linha">
                                            <span data-bind="text: Distancia.val, class: LinhaClass.val"></span>
                                        </li>
                                        <li class="entrega">
                                            <button data-html="true" data-bs-placement="top" rel="popover-hover" data-bind="attr: {'data-content' : Tooltip.val, 'data-original-title' : 'Detalhes Entrega'}, class: EntregaClass.val"></button>
                                            <span data-bind="text: CodigoCliente.val"></span>
                                            <span data-bind="text: EstadoCidadeCliente.val"></span>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if: $index() === 0 && !Coleta.val() && !ArrayEntrega.val() -->
                                        <li class="entrega">
                                            <button data-html="true" data-bs-placement="top" rel="popover-hover" data-bind="attr: {'data-content' : Tooltip.val, 'data-original-title' : 'Detalhes Entrega'}, class: EntregaClass.val"></button>
                                            <span data-bind="text: CodigoCliente.val"></span>
                                            <span data-bind="text: EstadoCidadeCliente.val"></span>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if: $index() > 0 -->
                                        <li class="linha">
                                            <span data-bind="text: Distancia.val, class: LinhaClass.val"></span>
                                        </li>
                                        <li class="entrega">
                                            <button data-html="true" data-bs-placement="top" rel="popover-hover" data-bind="attr: {'data-content' : Tooltip.val, 'data-original-title' : 'Detalhes Entrega'}, class: EntregaClass.val"></button>
                                            <span data-bind="text: CodigoCliente.val"></span>
                                            <span data-bind="text: EstadoCidadeCliente.val"></span>
                                        </li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </ul>
                                    <hr/>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: InformacoesCarga.val"></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Monitoramento.val"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="border h-100 rounded-3 p-3">
                                    <h4><b data-bind="text: UtimaEntrega.val"></b></h4>
                                    <h4 data-bind="text: EstadoCidadeUtimaEntrega.val"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <footer>
                    <div id="paginacao-controle-entrega"></div>
                </footer>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/AcompanhamentoEntrega"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

<script type="text/javascript">

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    $(document).ready(function () {
        loadAcompanhamentoEntrega();
    });
</script>