@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">AlterarCentroResultado</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Alterar Centro de Resultado
        </h1>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3><i class="fal fa-edit"></i>Alterar Centro de Resultado</h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutAlterarCentroResultado" class="row">
                        <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: CentroResultadoAtual.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroResultadoAtual.text"></label>
                                <input type="text" class="form-control" data-bind="class: CentroResultadoAtual.requiredClass, value: CentroResultadoAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoAtual.maxlength, id : CentroResultadoAtual.id}" disabled />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: CentroResultadoNovo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroResultadoNovo.text, attr: { for: CentroResultadoNovo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: CentroResultadoNovo.requiredClass, value: CentroResultadoNovo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultadoNovo.maxlength, id : CentroResultadoNovo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultadoNovo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutCRUDAlterarCentroResultado" class="d-flex justify-content-center justify-content-md-end mt-3">
                        <span id="" data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>

                        <button class="btn btn-success waves-effect waves-themed" data-bind="click: Alterar.eventClick, attr: { id: Alterar.id}" type="button">
                            <i class="fal fa-redo"></i><span data-bind="text: Alterar.text"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="~/scripts/alterarcentroresultado"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPesquisaCentroResultado();
    });

</script>
