
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Cancelamento  Carga</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            {Localize::Cargas.CancelamentoCarga.CancelamentoDeCarga}
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(626)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaCancelamento">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-default" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>{Localize::Cargas.CancelamentoCarga.PesquisarCancelamento}</span>
                    </button>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroCTe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCTe.text, attr: { for: NumeroCTe.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCTe.requiredClass, value: NumeroCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCTe.maxlength, id : NumeroCTe.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Operador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Tipo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoPessoa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                        <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.val, attr: { maxlength: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.maxlength, name: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.id, id: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.id }">
                                            <label class="custom-control-label" data-bind="text: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.text, attr: { for: CargasLiberadasParaCancelamentoComRejeicaoIntegracao.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoCancelamentoCargaDocumento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoCancelamentoCargaDocumento.text, attr: { for: TipoCancelamentoCargaDocumento.id }"></label>
                                        <select class="form-control" data-bind="class: TipoCancelamentoCargaDocumento.requiredClass, options: TipoCancelamentoCargaDocumento.options, optionsText: 'text', optionsValue: 'value', value: TipoCancelamentoCargaDocumento.val, attr: { maxlength: TipoCancelamentoCargaDocumento.maxlength, id : TipoCancelamentoCargaDocumento.id}"></select>
                                    </div>
                                </div>

                                <div id="divPesquisaMultimodal" class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: NumeroOS.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroOS.text, attr: { for: NumeroOS.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroOS.requiredClass, value: NumeroOS.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOS.maxlength, id : NumeroOS.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: PedidoViagemDirecao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TerminalOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TerminalDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Origem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-3">
                                <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                {Localize::Cargas.CancelamentoCarga.Cancelamento}
            </h3>
        </div>
        <div class="panel-content">

            <div id="knockoutResumoCancelamento">
                <div class="row row-cols-1 row-cols-md-2  " data-bind="visible: NumeroCarga.visible">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end" data-bind="visible: NumeroCarga.visible">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: NumeroCarga.text"></strong>
                                        <span data-bind="text: NumeroCarga.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>
                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Tipo.text"></strong>
                                        <span data-bind="text: Tipo.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: DataCancelamento.text"></strong>
                                        <span data-bind="text: DataCancelamento.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Remetente.text"></strong>
                                        <span data-bind="text: Remetente.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Origem.text"></strong>
                                        <span data-bind="text: Origem.val"></span>
                                    </td>
                                <tr>
                                    <td>
                                        <strong data-bind="text: MensagemRejeicaoCancelamento.text"></strong>
                                        <span data-bind="text: MensagemRejeicaoCancelamento.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Destinatario.text"></strong>
                                        <span data-bind="text: Destinatario.val"></span>
                                    </td>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Destino.text"></strong>
                                        <span data-bind="text: Destino.val"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="knockoutEtapaCancelamento">
                <ul class="nav nav-steps">
                    <li data-target="#step1" data-bind="visible : Etapa1.visible">
                        <button class="active" data-bs-target="#knockoutCadastroCancelamento" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab, idTab : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa1.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible : Etapa2.visible">
                        <button data-bs-target="#etapaIntegracaoDadosCancelamento" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab, idTab : Etapa2.idTab }, click : Etapa2.eventClick, visible : Etapa2.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa2.text"></span>
                        </button>
                    </li>
                    <li data-target="#step3" data-bind="visible : Etapa3.visible">
                        <button data-bs-target="#knockoutMDFe" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab, idTab : Etapa3.idTab }, click : Etapa3.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                <i class="fal fa-file"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa3.text"></span>
                        </button>
                    </li>
                    <li data-target="#step4" data-bind="visible : Etapa4.visible">
                        <button data-bs-target="#knockoutCTe" data-bs-toggle="tab" data-bind="attr: {id : Etapa4.idTab, idTab : Etapa4.idTab }, click : Etapa4.eventClick">                          
                            <span class="step" data-bind="attr: {'data-content' : Etapa4.tooltip, 'data-original-title' : Etapa4.tooltipTitle }">
                                <i class="fal fa-file"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa4.text"></span>
                        </button>
                    </li>
                    <li data-target="#step5" data-bind="visible : Etapa5.visible">
                        <button data-bs-target="#knockoutCIOT" data-bs-toggle="tab" data-bind="attr: {id : Etapa5.idTab, idTab : Etapa5.idTab }, click : Etapa5.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa5.tooltip, 'data-original-title' : Etapa5.tooltipTitle }">
                                <i class="fal fa-file-edit"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa5.text"></span>
                        </button>
                    </li>
                    <li data-target="#step6" data-bind="visible : Etapa6.visible">
                        <button data-bs-target="#divIntegracoes" data-bs-toggle="tab" data-bind="attr: {id : Etapa6.idTab, idTab : Etapa6.idTab }, click : Etapa6.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa6.tooltip, 'data-original-title' : Etapa6.tooltipTitle }">
                                <i class="fal fa-link"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa6.text"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="knockoutCadastroCancelamento" class="tab-pane fade show active">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">{Localize::Cargas.CancelamentoCarga.CancelamentoAnulação}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="alert alert-info d-none" id="msgInfoCancelamento">
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, enable: Carga.enable, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}, enable: Carga.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: JustificativaCancelamentoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: JustificativaCancelamentoCarga.text, attr: { for: JustificativaCancelamentoCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: JustificativaCancelamentoCarga.requiredClass, enable: JustificativaCancelamentoCarga.enable, value: JustificativaCancelamentoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaCancelamentoCarga.maxlength, id : JustificativaCancelamentoCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: JustificativaCancelamentoCarga.idBtnSearch}, enable: JustificativaCancelamentoCarga.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataCancelamento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataCancelamento.text, attr: { for: DataCancelamento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataCancelamento.requiredClass, value: DataCancelamento.val, enable : DataCancelamento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataCancelamento.maxlength, id : DataCancelamento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: UsuarioSolicitou.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: UsuarioSolicitou.text, attr: { for: UsuarioSolicitou.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: UsuarioSolicitou.requiredClass, value: UsuarioSolicitou.val, enable: UsuarioSolicitou.enable, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioSolicitou.maxlength, id : UsuarioSolicitou.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UsuarioSolicitou.idBtnSearch}, enable: UsuarioSolicitou.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: OperadorResponsavel.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: OperadorResponsavel.text, attr: { for: OperadorResponsavel.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: OperadorResponsavel.requiredClass, value: OperadorResponsavel.val, enable: OperadorResponsavel.enable, valueUpdate: 'afterkeydown', attr: { maxlength: OperadorResponsavel.maxlength, id : OperadorResponsavel.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: OperadorResponsavel.idBtnSearch}, enable: OperadorResponsavel.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: TipoCancelamentoCargaDocumento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCancelamentoCargaDocumento.text, attr: { for: TipoCancelamentoCargaDocumento.id }"></label>
                                            <select class="form-control" data-bind="class: TipoCancelamentoCargaDocumento.requiredClass, enable : TipoCancelamentoCargaDocumento.enable, options: TipoCancelamentoCargaDocumento.options, optionsText: 'text', optionsValue: 'value', value: TipoCancelamentoCargaDocumento.val, attr: { maxlength: TipoCancelamentoCargaDocumento.maxlength, id : TipoCancelamentoCargaDocumento.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CTeParaCancelamento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CTeParaCancelamento.text, attr: { for: CTeParaCancelamento.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CTeParaCancelamento.requiredClass, value: CTeParaCancelamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTeParaCancelamento.maxlength, id : CTeParaCancelamento.id}, enable: CTeParaCancelamento.enable" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CTeParaCancelamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12" data-bind="visible: NaoDuplicarCarga.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: NaoDuplicarCarga.val,enable: NaoDuplicarCarga.enable, attr: { maxlength: NaoDuplicarCarga.maxlength, name: NaoDuplicarCarga.id, id: NaoDuplicarCarga.id }">
                                                <label class="custom-control-label" data-bind="text: NaoDuplicarCarga.text, attr: { for: NaoDuplicarCarga.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, enable: Justificativa.enable, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}, enable: Justificativa.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="css: Motivo.requiredClass, value: Motivo.val,enable: Motivo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-3">
                                        <button class="btn btn-primary ms-2" type="button" data-bind="click: Anexos.eventClick, visible: Anexos.visible, attr: { id: Anexos.id}">
                                            <span data-bind="text: Anexos.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="etapaIntegracaoDadosCancelamento">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Integração dos Dados de Cancelamento</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active">
                                        <a href="#knockoutIntegracaoDadosCancelamentoCarga" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet"><i class="fal fa-edit"></i>Dados Carga</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#knockoutIntegracaoDadosCancelamentoCTe" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet"><i class="fal fa-edit"></i>Dados CTe</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="knockoutIntegracaoDadosCancelamentoCarga">
                                        <div class="row mt-3">
                                            <div class="col-12 col-md-8">
                                                <div class="d-flex">
                                                    <div class="col-12 col-md-6" data-bind="visible: TipoConsultaDadosCancelamento.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: TipoConsultaDadosCancelamento.text, attr: { for: TipoConsultaDadosCancelamento.id }"></label>
                                                            <select class="form-control" data-bind="class: TipoConsultaDadosCancelamento.requiredClass, options: TipoConsultaDadosCancelamento.options, optionsText: 'text', optionsValue: 'value', value: TipoConsultaDadosCancelamento.val, attr: { maxlenglabel: TipoConsultaDadosCancelamento.maxlenglabel, id : TipoConsultaDadosCancelamento.id}"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col col-sm-12">
                                                        <button type="button" class="btn btn-primary waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: ConsultarDadosCancelamento.eventClick, visible: ConsultarDadosCancelamento.visible, attr: { value: ConsultarDadosCancelamento.text, id : ConsultarDadosCancelamento.id}">
                                                            <span data-bind="text: ConsultarDadosCancelamento.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="button" class="btn btn-default waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: EnviarDadosCancelamento.eventClick, visible: EnviarDadosCancelamento.visible, attr: { value: EnviarDadosCancelamento.text, id : EnviarDadosCancelamento.id}">
                                                        <i class="fal fa-arrow-to-right"></i> <span data-bind="text: EnviarDadosCancelamento.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: ArquivosDadosCancelamento.idGrid}" cellspacing="0"></table>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="legends">
                                                    <div class="badge legend green">
                                                        <b data-bind="text: TotalIntegrado.text"></b>
                                                        <span data-bind="text: TotalIntegrado.val()"></span>
                                                    </div>
                                                    <div class="badge legend red">
                                                        <b data-bind="text: TotalProblemaIntegracao.text"></b>
                                                        <span data-bind="text: TotalProblemaIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend blue">
                                                        <b data-bind="text: TotalAguardandoIntegracao.text"></b>
                                                        <span data-bind="text: TotalAguardandoIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend gray">
                                                        <b data-bind="text: TotalGeral.text"></b>
                                                        <span data-bind="text: TotalGeral.val()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="knockoutIntegracaoDadosCancelamentoCTe">
                                        <div class="row mt-3">
                                            <div class="col-12 col-md-8">
                                                <div class="d-flex">
                                                    <div class="col-12 col-md-6" data-bind="visible: TipoConsultaDadosCancelamento.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: TipoConsultaDadosCancelamento.text, attr: { for: TipoConsultaDadosCancelamento.id }"></label>
                                                            <select class="form-control" data-bind="class: TipoConsultaDadosCancelamento.requiredClass, options: TipoConsultaDadosCancelamento.options, optionsText: 'text', optionsValue: 'value', value: TipoConsultaDadosCancelamento.val, attr: { maxlenglabel: TipoConsultaDadosCancelamento.maxlenglabel, id : TipoConsultaDadosCancelamento.id}"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col col-sm-12">
                                                        <button type="button" class="btn btn-primary waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: ConsultarDadosCancelamento.eventClick, visible: ConsultarDadosCancelamento.visible, attr: { value: ConsultarDadosCancelamento.text, id : ConsultarDadosCancelamento.id}">
                                                            <span data-bind="text: ConsultarDadosCancelamento.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="button" class="btn btn-default waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: EnviarDadosCancelamento.eventClick, visible: EnviarDadosCancelamento.visible, attr: { value: EnviarDadosCancelamento.text, id : EnviarDadosCancelamento.id}">
                                                        <i class="fal fa-arrow-to-right"></i> <span data-bind="text: EnviarDadosCancelamento.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: ArquivosDadosCancelamento.idGrid}" cellspacing="0"></table>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="legends">
                                                    <div class="badge legend green">
                                                        <b data-bind="text: TotalIntegrado.text"></b>
                                                        <span data-bind="text: TotalIntegrado.val()"></span>
                                                    </div>
                                                    <div class="badge legend red">
                                                        <b data-bind="text: TotalProblemaIntegracao.text"></b>
                                                        <span data-bind="text: TotalProblemaIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend blue">
                                                        <b data-bind="text: TotalAguardandoIntegracao.text"></b>
                                                        <span data-bind="text: TotalAguardandoIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend gray">
                                                        <b data-bind="text: TotalGeral.text"></b>
                                                        <span data-bind="text: TotalGeral.val()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="knockoutCIOT" class="tab-pane fade">
                    <div class="panel mt-3">
                        <div class="panel-container">
                            <div class="panel-content">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active" id="liCIOT">
                                        <a href="#tabCIOT" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">CIOT</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabCIOT">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarCIOT.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">CIOT</h3>
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarCIOT.eventClick, attr: { id: BuscarCIOT.idBtnSearch, text: BuscarCIOT.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarCIOT.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarCIOT.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" data-bind="visible: !BuscarCIOT.visible()">
                                            <section class="col col-12">
                                                <label><b>{Localize::Cargas.CancelamentoCarga.NãoExistemMDFesParaCancelamento}</b></label>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="knockoutMDFe" class="tab-pane fade">
                    <div class="panel mt-3">
                        <div class="panel-container">
                            <div class="panel-content">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active" id="liMDFes">
                                        <a href="#tabMDFes" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">MDF-e</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liAverbacaoMDFes">
                                        <a href="#tabAverbacaoMDFes" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">{Localize::Cargas.CancelamentoCarga.Averbacao}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabMDFes">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarMDFes.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">MDF-es</h3>

                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarMDFes.eventClick, attr: { id: BuscarMDFes.idBtnSearch, text: BuscarMDFes.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarMDFes.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarMDFes.idGrid}" cellspacing="0"></table>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" data-bind="visible: !BuscarMDFes.visible()">
                                            <section class="col col-12">
                                                <label><b>{Localize::Cargas.CancelamentoCarga.NãoExistemMDFesParaCancelamento}</b></label>
                                            </section>
                                        </div>


                                    </div>
                                    <div class="tab-pane " id="tabAverbacaoMDFes">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarAverbacoes.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">{Localize::Cargas.CancelamentoCarga.Averbacao}<</h3>

                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarAverbacoes.eventClick, attr: { id: BuscarAverbacoes.idBtnSearch, text: BuscarAverbacoes.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarAverbacoes.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarAverbacoes.idGrid}" cellspacing="0"></table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="knockoutCTe" class="tab-pane fade ">
                    <div class="panel mt-3">
                        <div class="panel-container">
                            <div class="panel-content">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active" id="liCTes">
                                        <a href="#tabCTes" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">CT-e</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liAverbacaoCTes">
                                        <a href="#tabAverbacaoCTes" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">{Localize::Cargas.CancelamentoCarga.Averbacao}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liValePedagio">
                                        <a href="#tabValePedagio" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">{Localize::Cargas.CancelamentoCarga.ValePedagio}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabCTes">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarCTes.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">CT-es</h3>

                                                    <div>
                                                        <button class="btn btn-danger ms-2 waves-effect waves-themed" type="button" data-bind="visible: SincronizarTodosDocumento.visible, click: SincronizarTodosDocumento.eventClick, attr: { id: SincronizarTodosDocumento.id}">
                                                            <i class="fal fa-redo"></i> <span data-bind="text: SincronizarTodosDocumento.text"></span>
                                                        </button>
                                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarCTes.eventClick, attr: { id: BuscarCTes.idBtnSearch, text: BuscarCTes.text }">
                                                            <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarCTes.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarCTes.idGrid}" cellspacing="0"></table>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row" data-bind="visible: !BuscarCTes.visible()">
                                            <section class="col col-12">
                                                <label><b>{Localize::Cargas.CancelamentoCarga.NãoExistemCTesParaCancelamento}</b></label>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabAverbacaoCTes">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarAverbacoes.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">{Localize::Cargas.CancelamentoCarga.Averbacao}</h3>

                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarAverbacoes.eventClick, attr: { id: BuscarAverbacoes.idBtnSearch, text: BuscarAverbacoes.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarAverbacoes.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarAverbacoes.idGrid}" cellspacing="0"></table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tabValePedagio">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarValePedagio.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">{Localize::Cargas.CancelamentoCarga.ValePedagio}</h3>

                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: BuscarValePedagio.idBtnSearch, text: BuscarValePedagio.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarValePedagio.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarValePedagio.idGrid}" cellspacing="0"></table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divIntegracoes" class="tab-pane fade ">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">{Localize::Cargas.CancelamentoCarga.Integracoes}</h3>
                            </div>
                            <div class="card-body">
                                <div id="DivIntegracaoCargaCancelamento">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="knockoutCRUDCancelamento" class="d-flex justify-content-end mb-3 me-2">
        <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: AdicionarComoCancelamento.eventClick, visible: AdicionarComoCancelamento.visible, attr: { value: AdicionarComoCancelamento.text, id : AdicionarComoCancelamento.id}" class="btn btn-labeled btn-danger pull-left ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: ReenviarCancelamentoComoAnulacao.eventClick, visible: ReenviarCancelamentoComoAnulacao.visible, attr: { value: ReenviarCancelamentoComoAnulacao.text, id : ReenviarCancelamentoComoAnulacao.id}" class="btn btn-labeled btn-danger pull-left ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: LiberarCancelamentoComAverbacaoMDFeRejeitada.eventClick, visible: LiberarCancelamentoComAverbacaoMDFeRejeitada.visible, attr: { value: LiberarCancelamentoComAverbacaoMDFeRejeitada.text, id : LiberarCancelamentoComAverbacaoMDFeRejeitada.id}" class="btn btn-labeled btn-danger pull-left ms-1" style="margin-left: 5px;" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: LiberarCancelamentoComAverbacaoCTeRejeitada.eventClick, visible: LiberarCancelamentoComAverbacaoCTeRejeitada.visible, attr: { value: LiberarCancelamentoComAverbacaoCTeRejeitada.text, id : LiberarCancelamentoComAverbacaoCTeRejeitada.id}" class="btn btn-labeled btn-danger pull-left ms-1" style="margin-left: 5px;" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: LiberarCancelamentoComValePedagioRejeitado.eventClick, visible: LiberarCancelamentoComValePedagioRejeitado.visible, attr: { value: LiberarCancelamentoComValePedagioRejeitado.text, id : LiberarCancelamentoComValePedagioRejeitado.id}" class="btn btn-labeled btn-danger pull-left ms-1" style="margin-left: 5px;" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: LiberarCancelamentoComCTeNaoInutilizado.eventClick, visible: LiberarCancelamentoComCTeNaoInutilizado.visible, attr: { value: LiberarCancelamentoComCTeNaoInutilizado.text, id : LiberarCancelamentoComCTeNaoInutilizado.id}" class="btn btn-labeled btn-danger pull-left ms-1" style="margin-left: 5px;" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: GerarNovoCancelamento.eventClick, visible: GerarNovoCancelamento.visible, attr: { value: GerarNovoCancelamento.text, id : GerarNovoCancelamento.id}" class="btn btn-labeled btn-default ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: AprovarCancelamento.eventClick,visible: AprovarCancelamento.visible, attr: { value: AprovarCancelamento.text, id : AprovarCancelamento.id}" class="btn btn-labeled btn-success ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: RejeitarCancelamento.eventClick,visible: RejeitarCancelamento.visible, attr: { value: RejeitarCancelamento.text, id : RejeitarCancelamento.id}" class="btn btn-labeled btn-danger ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: ReenviarCancelamento.eventClick,visible: ReenviarCancelamento.visible, attr: { value: ReenviarCancelamento.text, id : ReenviarCancelamento.id}" class="btn btn-labeled btn-success ms-1" />
    </footer>
</div>

<div class="modal fade" id="divModalHistoricoCancelamentoIntegracaoCTe" role="dialog" aria-hidden="true">
    <div id="knockoutRejeicaoCarga" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{Localize::Cargas.CancelamentoCarga.HistoricoIntegraccao}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <section class="insideNoPaddignTable">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoCancelamentoCTe"></table>
                </section>

            </div>
        </div>
    </div>
</div>

<div id="knoutEnviarArquivo" style="display:none">
    <label for="file" class="input input-file">
        <input type="file" accept=".xml" data-bind="attr: { id: Arquivo.id }" name="file" />
    </label>
</div>

<div class="modal fade" id="knockoutCancelamentoCargaAnexo" role="dialog" aria-hidden="true">
    <div id="knockoutRejeicaoCarga" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{Localize::Cargas.CancelamentoCarga.AnexosCancelamentoCarga}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" data-bind="visible: Anexos.visible">
                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                        <p class="form-label" data-bind="text: Arquivo.text"></p>
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" />
                            <label class="custom-file-label mt-1" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``?  Arquivo.val(): `Selecione um arquivo`"></label>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end mb-3">
                        <button type="button" class="btn btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                            <i class="fal fa-spinner"></i>
                        </button>
                    </footer>
                </div>

                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>

                <div class="row" data-bind="visible: Fechar.visible() || Finalizar.visible()">
                    <div class="col-12">
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-default" data-bind="click: Fechar.eventClick, visible: Fechar.visible, text: Fechar.text, attr: { id : Fechar.id}">
                                <i class="fal fa-times"></i>
                            </button>
                            <button type="button" class="btn btn-success ms-2" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, text: Finalizar.text, attr: { id : Finalizar.id}">
                                <i class="fal fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divModalHistoricoIntegracaoDadosCancelamento" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table widlabel="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoDadosCancelamento"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/CancelamentoCarga"></script>

<script type="text/javascript">

    pageSetUp();

    _PermissoesPersonalizadasCancelamentoCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCancelamentoCarga);
    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesCancelamentoCarga));

    $(document).ready(function () {
        LoadLocalizationResources(["Cargas.CancelamentoCarga", "Cargas.Carga"]).then(LoadCancelamento);
    });

</script>
