

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Cancelamento Carga Lote</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i> {Localize::Cargas.CancelamentoCargaLote.CancelamentoDeCargaEmLote}
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>
    <div id="knockoutSelecaoCarga">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>{Localize::Cargas.CancelamentoCargaLote.CancelamentoLote}</h2>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicioEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicioEmissao.text, attr: { for: DataInicioEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicioEmissao.requiredClass, value: DataInicioEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicioEmissao.maxlength, id : DataInicioEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissao.text, attr: { for: DataFinalEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissao.requiredClass, value: DataFinalEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissao.maxlength, id : DataFinalEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoCarga.text"></label>
                                    <select class="form-control" data-bind="options: SituacaoCarga.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoCarga.val, attr: { id : SituacaoCarga.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PedidoViagemDirecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoPropostaMultimodal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropostaMultimodal.text"></label>
                                    <select class="form-control" data-bind="options: TipoPropostaMultimodal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoPropostaMultimodal.val, attr: { id : TipoPropostaMultimodal.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NumeroCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoCarga.text, attr: { for: DataCriacaoCarga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoCarga.requiredClass, value: DataCriacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoCarga.maxlength, id : DataCriacaoCarga.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end" data-bind="visible: Pesquisa.visible">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Cargas.enable, attr: { id: Cargas.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>{Localize::Cargas.CancelamentoCargaLote.Cancelamento}</h3>
        </div>
        <div class="panel-content">
            <div id="knockoutCancelamentoCarga" class="row">
                <div class="col-12 col-md-6" data-bind="visible: JustificativaCancelamentoCarga.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: JustificativaCancelamentoCarga.text, attr: { for: JustificativaCancelamentoCarga.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: JustificativaCancelamentoCarga.requiredClass, value: JustificativaCancelamentoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaCancelamentoCarga.maxlength, id : JustificativaCancelamentoCarga.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: JustificativaCancelamentoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: Justificativa.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: NaoDuplicarCarga.visible">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: NaoDuplicarCarga.val, attr: { maxlength: NaoDuplicarCarga.maxlength, name: NaoDuplicarCarga.id, id: NaoDuplicarCarga.id }">
                            <label class="custom-control-label" data-bind="text: NaoDuplicarCarga.text, attr: { for: NaoDuplicarCarga.id }"></label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3" id="knockoutCRUDCancelamentoLote">
                <button class="btn btn-success" type="button" data-bind="click: GerarCancelamento.eventClick, attr: { id: GerarCancelamento.id }, visible: GerarCancelamento.visible">
                    <span data-bind="text: GerarCancelamento.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/cancelamentoCargaLote"></script>
<script type="text/javascript">

    pageSetUp();

    _PermissoesPersonalizadasCancelamentoCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCancelamentoCarga);
    _PermissoesPersonalizadasCancelamentoCargaLote = @Html.Raw(ViewBag.PermissoesPersonalizadasCancelamentoCargaLote);

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.CancelamentoCargaLote").then(loadCancelamentoCargaLote);
    });

</script>

