
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Carga Data Carregamento Importação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Importação de Data de Carregamento
    </h1>
</div>

<div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Importação</h2>
            </div>
            <div class="panel-content">
                <div class="row">
                    <span>Use o botão a baixo para importar a planilha</span>
                    <footer id="knockoutCargaDataCarregamentoImportacao" class="mt-3">
                        <span data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/cargaDataCarregamentoImportacao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadCargaDataCarregamentoImportacao();
    });

</script>