

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Cargas</li>
    <li class="breadcrumb-item active">Ofertas de Cargas</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">Ofertas de Cargas</h1>
</div>

<div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div id="knockoutPesquisaCargaOferta">
                    <button class="btn btn-default" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> Ofertas
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: CodigosCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigosCarga.text, attr: { for: CodigosCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CodigosCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigosCarga.maxlength, id : CodigosCarga.id}, class: CodigosCarga.requiredClass," />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: CodigosCarga.idBtnSearch }">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control hasDatepicker" data-bind="value: DataInicio.val, enable: DataInicio.enable, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                    <input type="text" class="form-control hasDatepicker" data-bind="value: DataFim.val, enable: DataFim.enable, attr: { maxlength: DataFim.maxlength, id : DataFim.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: SituacaoOferta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoOferta.text, attr: { for: SituacaoOferta.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoOferta.requiredClass, options: SituacaoOferta.options, optionsText: 'text', optionsValue: 'value', value: SituacaoOferta.val, attr: { maxlength: SituacaoOferta.maxlength, id : SituacaoOferta.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: SituacaoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoIntegracao.text, attr: { for: SituacaoIntegracao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoIntegracao.requiredClass, options: SituacaoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoIntegracao.val, attr: { maxlenglabel: SituacaoIntegracao.maxlenglabel, id : SituacaoIntegracao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Filiais.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filiais.text, attr: { for: Filiais.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Filiais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filiais.maxlength, id : Filiais.id}, class: Filiais.requiredClass," />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Filiais.idBtnSearch }">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: ExibirFiltrosAvancados.idFade, fadeVisible: ExibirFiltrosAvancados.visibleFade">
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', enable: TipoOperacao.enable, attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="enable: TipoOperacao.enable, attr: { id: TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: TiposCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TiposCarga.text, attr: { for: TiposCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: TiposCarga.enable, css: TiposCarga.requiredClass, value: TiposCarga.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: TiposCarga.maxlenglabel, id : TiposCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: TiposCarga.enable,attr: { id: TiposCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Transportadores.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportadores.text, attr: { for: Transportadores.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: Transportadores.enable, css: Transportadores.requiredClass, value: Transportadores.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: Transportadores.maxlenglabel, id : Transportadores.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: Transportadores.enable,attr: { id: Transportadores.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="d-flex justify-content-between">
                            <button class="btn btn-default" type="button" data-bind="click: ConfiguracaoModeloFiltroPesquisa.eventClick, attr: { id: ConfiguracaoModeloFiltroPesquisa.id}">
                                <i class="fal fa-cogs"></i><span data-bind="text: ConfiguracaoModeloFiltroPesquisa.text"></span>
                            </button>

                            <div>
                                <button class="btn btn-default waves-effect waves-themed" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                                <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div class="row">
                        <div id="knoutBotoes" class="d-flex justify-content-end align-items-center mb-3 gap-2">
                            <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-themed" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="visible: Acoes.visible, enable: Acoes.enable, click: Acoes.eventClick, attr: { id: Acoes.id}" type="button">
                                <span data-bind="text: Acoes.text"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-bind="text: Ofertar.text, click: Ofertar.eventClick, attr: { id: Ofertar.id }, visible: Ofertar.visible"></a>
                                <a class="dropdown-item" data-bind="text: Cancelar.text, click: Cancelar.eventClick, attr: { id: Cancelar.id }, visible: Cancelar.visible"></a>
                            </div>
                            <button class="btn btn-default waves-effect waves-themed" data-bind="visible: SelecionarTodos.visible, enable: SelecionarTodos.enable, click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}" type="button">
                                <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                            </button>
                        </div>
                    </div>
                    <table id="grid-carga-oferta" width="100%" class="table table-bordered table-hover" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalIntegracaoCargaOferta" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Integrações</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblIntegracaoCargaOferta"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracaoCargaOferta" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoCargaOferta"></table>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/cargaOferta"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
               loadCargaOferta();
    });
</script>
