
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">MDFe Manual</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i> MDFe Manual
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(876)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaCargaMDFeManual" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar MDF-es Emitidos Manualmente
                    </button>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: MDFe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MDFe.text, attr: { for: MDFe.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: MDFe.requiredClass, value: MDFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: MDFe.maxlength, id : MDFe.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: CTe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CTe.text, attr: { for: CTe.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CTe.requiredClass, value: CTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTe.maxlength, id : CTe.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                    <div class="row">

                                        <div class="col-12 col-md-6" data-bind="visible: Origem.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6" data-bind="visible: Destino.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5" data-bind="visible: Motorista.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>
                        <footer class="d-flex justify-content-end mb-3">
                            <div>
                                <button class="btn btn-default btnPesquisarFiltroPesquisa" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-primary btnPesquisarFiltroPesquisa ms-3" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>

                        </footer>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Formulário de Cadastro
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div>
                        <ul class="nav nav-steps" id="knockoutEtapaMDFe">
                            <li data-target="#step1" data-bind="visible : Etapa1.visible">
                                <button class="active" data-bs-target="#knockoutDadosMDFe" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                    <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                        <i class="fal fa-file-alt"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa1.text"></span>
                                </button>
                            </li>
                            <li data-target="#step2" data-bind="visible : Etapa2.visible">
                                <button data-bs-target="#knockoutMDFes" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                    <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                        <i class="fal fa-list"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa2.text"></span>
                                </button>
                            </li>
                            <li data-target="#step3" data-bind="visible : Etapa3.visible">
                                <button data-bs-target="#knockoutImpressao" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                                    <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                        <i class="fal fa-print"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa3.text"></span>
                                </button>
                            </li>
                            <li data-target="#step4" data-bind="visible : Etapa4.visible">
                                <button data-bs-target="#knockoutIntegracoes" data-bs-toggle="tab" data-bind="attr: {id : Etapa4.idTab, idTab : Etapa4.idTab }, click : Etapa4.eventClick">
                                    <span class="step" data-bind="attr: {'data-content' : Etapa4.tooltip, 'data-original-title' : Etapa4.tooltipTitle }">
                                        <i class="fal fa-link"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa4.text"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div id="knockoutDadosMDFe" class="tab-pane fade show active">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">MDF-e Manual</h3>

                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="card-body">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item active">
                                                    <a href="#tabDadosGerais" class="nav-link active " data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Dados Gerais</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" id="liDestinos">
                                                    <a href="#tabDestinos" class="nav-link " data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Destinos</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#tabPercurso" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Percurso</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#tabLacre" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Lacres</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#tabCIOT" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">CIOT</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#tabInformacoesBancarias" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Informações Bancárias</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#tabSeguro" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Seguro</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#tabValePedagio" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Vale Pedágio</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item" id="liTabObservacao">
                                                    <a href="#tabObservacao" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Observação</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content border border-top-0 p-3">
                                                <div class="tab-pane fade active show" id="tabDadosGerais" role="tabpanel">

                                                    <div class="row">
                                                        <div class="col-12 col-md-12" data-bind="visible: UsarDadosCTe.visible">
                                                            <div class="custom-control custom-switch mb-3">
                                                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarDadosCTe.val, attr: { name: UsarDadosCTe.id, id: UsarDadosCTe.id }">
                                                                <label class="custom-control-label" data-bind="text: UsarDadosCTe.text, attr: { for: UsarDadosCTe.id }"></label>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Empresa.enable, css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Empresa.enable, attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Origem.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Origem.enable, css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Origem.enable, attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Destino.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Destino.enable, css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Destino.enable, attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Veiculo.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Veiculo.enable, css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Reboque.visible, css: SegundoReboque.visible() ? 'col-md-6' : 'col-md-12'">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Reboque.enable, css: Reboque.requiredClass, value: Reboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: Reboque.maxlength, id : Reboque.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Reboque.enable, attr: { id: Reboque.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-6" data-bind="visible: SegundoReboque.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: SegundoReboque.text, attr: { for: SegundoReboque.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: SegundoReboque.enable, css: SegundoReboque.requiredClass, value: SegundoReboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: SegundoReboque.maxlength, id : SegundoReboque.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed botaoBusca2" data-bind="attr: { id: SegundoReboque.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12" data-bind="visible: Motorista.visible">
                                                            <div class="card">
                                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                                    <h3 class="card-title"> Motoristas </h3>
                                                                </div>
                                                                <div class="card-body">
                                                                    <button data-bind="enable: AdicionarMotorista.enable, visible: AdicionarMotorista.visible, attr: { id: AdicionarMotorista.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                                        <i class="fal fa-plus"></i> <span data-bind="text: AdicionarMotorista.text"></span>
                                                                    </button>
                                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Motorista.idGrid}" cellspacing="0"></table>
                                                                    <div class="row mt-2" data-bind="hidden: AdicionarMotorista.visible">
                                                                        <div class="col-12 col-md-8" data-bind="visible: NomeMotorista.visible">
                                                                            <div class="form-group">
                                                                                <label class="form-label" data-bind="text: NomeMotorista.text, attr: { for: NomeMotorista.id }"></label>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" data-bind="enable: NomeMotorista.enable, css: NomeMotorista.requiredClass, value: NomeMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeMotorista.maxlength, id : NomeMotorista.id}" />
                                                                                    <div class="input-group-append">
                                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: NomeMotorista.enable, attr: { id: NomeMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                            <i class="fal fa-search"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-md-4" data-bind="visible: PercentualExecucao.visible">
                                                                            <div class="form-group">
                                                                                <label class="form-label" data-bind="text: PercentualExecucao.text, attr: { for: PercentualExecucao.id }"></label>
                                                                                <input type="text" class="form-control" data-bind="enable: PercentualExecucao.enable, class: PercentualExecucao.requiredClass, value: PercentualExecucao.val, valueUpdate: 'afterkeydown', event: { blur: PercentualExecucao.eventChange }, attr: { maxlength: PercentualExecucao.maxlength, id : PercentualExecucao.id}" />
                                                                            </div>
                                                                        </div>

                                                                        <div class="d-flex justify-content-end">

                                                                            <button class="btn btn-success ms-1" type="button" data-bind="visible: AdicionarMotoristaComissao.visible, click: AdicionarMotoristaComissao.eventClick, attr: { id: AdicionarMotoristaComissao.id}">
                                                                                <i class="fal fa-plus"></i> <span data-bind="text: AdicionarMotoristaComissao.text"></span>
                                                                            </button>
                                                                            <button class="btn btn-success ms-1" type="button" data-bind="visible: AtualizarMotoristaComissao.visible, click: AtualizarMotoristaComissao.eventClick, attr: { id: AtualizarMotoristaComissao.id}">
                                                                                <span data-bind="text: AtualizarMotoristaComissao.text"></span>
                                                                            </button>
                                                                            <button class="btn btn-danger ms-1" type="button" data-bind="visible: ExcluirMotoristaComissao.visible, click: ExcluirMotoristaComissao.eventClick, attr: { id: ExcluirMotoristaComissao.id}">
                                                                                <span data-bind="text: ExcluirMotoristaComissao.text"></span>
                                                                            </button>
                                                                            <button class="btn btn-default ms-1" type="button" data-bind="visible: CancelarMotoristaComissao.visible, click: CancelarMotoristaComissao.eventClick, attr: { id: CancelarMotoristaComissao.id}">
                                                                                <span data-bind="text: CancelarMotoristaComissao.text"></span>
                                                                            </button>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12 col-md-12 mt-3" data-bind="visible: AdicionarMotoristaNaCarga.visible">
                                                            <div class="custom-control custom-switch mb-3">
                                                                <input type="checkbox" class="custom-control-input" data-bind="checked: AdicionarMotoristaNaCarga.val, attr: { name: AdicionarMotoristaNaCarga.id, id: AdicionarMotoristaNaCarga.id }">
                                                                <label class="custom-control-label" data-bind="text: AdicionarMotoristaNaCarga.text, attr: { for: AdicionarMotoristaNaCarga.id }"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="tabPercurso" role="tabpanel">
                                                    <form>
                                                        <div class="row">
                                                            <div id="mapaPercursoMDFe" style="padding: 10px;">

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade" id="tabDestinos" role="tabpanel">
                                                    <div class="tab-content">
                                                        <div class="insideNoPaddignTable" id="reorderDestino"></div>
                                                    </div>
                                                    <div class="d-flex justify-content-end">

                                                        <button data-bind="attr: { id: AlterarPercurso.id}, enable: AlterarPercurso.enable, click: AlterarPercurso.eventClick" class="btn btn-success botaoDentroSmartAdmimForm" type="button">
                                                            <i class="fal fa-save"></i><span data-bind="text : AlterarPercurso.text"></span>
                                                        </button>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="tabLacre" role="tabpanel">
                                                    <form>
                                                        <div>
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 col-md-12" data-bind="visible: Numero.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: Numero.enable, class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </form>
                                                    <div class="col-12 col-md-12 d-flex justify-content-end">
                                                        <button class="btn btn-primary waves-effect waves-themed botaoDentroSmartAdmimForm " data-bind="attr: { id: Adicionar.id}, enable: Adicionar.enable, click: Adicionar.eventClick" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="tabCIOT" role="tabpanel">
                                                    <form>
                                                        <div>
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridCIOT.id}" cellspacing="0"></table>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 col-md-6" data-bind="visible: NumeroCIOT.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: NumeroCIOT.text, attr: { for: NumeroCIOT.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: NumeroCIOT.enable, class: NumeroCIOT.requiredClass, value: NumeroCIOT.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCIOT.maxlength, id : NumeroCIOT.id}" pattern="[0-9]{12}" />
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-6" data-bind="visible: ResponsavelCIOT.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ResponsavelCIOT.text, attr: { for: ResponsavelCIOT.id }"></label>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" data-bind="enable: ResponsavelCIOT.enable, css: ResponsavelCIOT.requiredClass, value: ResponsavelCIOT.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelCIOT.maxlength, id : ResponsavelCIOT.id}" />
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ResponsavelCIOT.enable, attr: { id: ResponsavelCIOT.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                <i class="fal fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h5>Dados do Frete</h5>
                                                        <div class="row">
                                                            <div class="col-12 col-md-3" data-bind="visible: FormaPagamento.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: FormaPagamento.text, attr: { for: FormaPagamento.id }"></label>
                                                                    <select class="form-control" data-bind="class: FormaPagamento.requiredClass, options: FormaPagamento.options, optionsText: 'text', optionsValue: 'value', value: FormaPagamento.val, attr: { maxlength: FormaPagamento.maxlength, id : FormaPagamento.id}, event: {change: FormaPagamento.eventChange}"></select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: ValorAdiantamento.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ValorAdiantamento.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ValorAdiantamento.requiredClass, value: ValorAdiantamento.val, valueUpdate: 'afterkeydown', attr: { id : ValorAdiantamento.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: ValorFrete.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ValorFrete.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ValorFrete.requiredClass, value: ValorFrete.val, valueUpdate: 'afterkeydown', attr: { id : ValorFrete.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: DataVencimento.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: DataVencimento.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: DataVencimento.requiredClass, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="col-12 col-md-12 d-flex justify-content-end">
                                                        <button class="btn btn-primary waves-effect waves-themed botaoDentroSmartAdmimForm " data-bind="attr: { id: AdicionarCIOT.id}, enable: AdicionarCIOT.enable, click: AdicionarCIOT.eventClick" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarCIOT.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tabInformacoesBancarias" role="tabpanel">
                                                    <form>
                                                        <h5>Informações de Pagamento</h5>
                                                        <div class="row">
                                                            <div class="col-12 col-md-3" data-bind="visible: TipoPagamento.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                                                                    <select class="form-control" data-bind="class: TipoPagamento.requiredClass, options: TipoPagamento.options, optionsText: 'text', optionsValue: 'value', value: TipoPagamento.val, attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}, event: {change: TipoPagamento.eventChange}"></select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: CNPJInstituicaoPagamento.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: CNPJInstituicaoPagamento.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: CNPJInstituicaoPagamento.requiredClass, value: CNPJInstituicaoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJInstituicaoPagamento.maxlength, id : CNPJInstituicaoPagamento.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: Conta.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: Conta.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: Conta.requiredClass, value: Conta.val, valueUpdate: 'afterkeydown', attr: { maxlength: Conta.maxlength, id : Conta.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: Agencia.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: Agencia.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: Agencia.requiredClass, value: Agencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agencia.maxlength, id : Agencia.id}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: TipoChavePIX.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: TipoChavePIX.text"></label>
                                                                    <select class="form-control" data-bind="class: TipoChavePIX.requiredClass, options: TipoChavePIX.options, optionsText: 'text', optionsValue: 'value', value: TipoChavePIX.val, attr: { maxlength: TipoChavePIX.maxlength, id : TipoChavePIX.id}, event: {change: TipoChavePIX.eventChange}"></select>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-3" data-bind="visible: ChavePIXCPFCNPJ.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ChavePIXCPFCNPJ.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ChavePIXCPFCNPJ.requiredClass, value: ChavePIXCPFCNPJ.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChavePIXCPFCNPJ.maxlength, id : ChavePIXCPFCNPJ.id  }" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: ChavePIXEmail.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ChavePIXEmail.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ChavePIXEmail.requiredClass, value: ChavePIXEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChavePIXEmail.maxlength, id : ChavePIXEmail.id  }" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: ChavePIXCelular.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ChavePIXCelular.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ChavePIXCelular.requiredClass, value: ChavePIXCelular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChavePIXCelular.maxlength, id : ChavePIXCelular.id  }" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-3" data-bind="visible: ChavePIXAleatoria.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ChavePIXAleatoria.text"></label>
                                                                    <input type="text" class="form-control" data-bind="class: ChavePIXAleatoria.requiredClass, value: ChavePIXAleatoria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChavePIXAleatoria.maxlength, id : ChavePIXAleatoria.id  }" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade" id="tabSeguro" role="tabpanel">

                                                    <div class="col-12 col-md-12" data-bind="visible: UsarDadosCTe.visible">
                                                        <div class="custom-control custom-switch mb-3">
                                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UsarDadosCTe.val, attr: { name: UsarDadosCTe.id, id: UsarDadosCTe.id }">
                                                            <label class="custom-control-label" data-bind="text: UsarDadosCTe.text, attr: { for: UsarDadosCTe.id }"></label>
                                                        </div>
                                                    </div>

                                                    <div data-bind="fadeVisible: !UsarDadosCTe.val()">

                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridSeguro.id}" cellspacing="0"></table>

                                                        <div class="row">
                                                            <div class="col-12 col-md-3" data-bind="visible: TipoSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: TipoSeguro.text, attr: { for: TipoSeguro.id }"></label>
                                                                    <select class="form-control" data-bind="enable: TipoSeguro.enable, class: TipoSeguro.requiredClass, options: TipoSeguro.options, optionsText: 'text', optionsValue: 'value', value: TipoSeguro.val, attr: { maxlength: TipoSeguro.maxlength, id : TipoSeguro.id}"></select>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-6" data-bind="visible: CNPJSeguradoraSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: CNPJSeguradoraSeguro.text, attr: { for: CNPJSeguradoraSeguro.id }"></label>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" data-bind="enable: CNPJSeguradoraSeguro.enable, css: CNPJSeguradoraSeguro.requiredClass, value: CNPJSeguradoraSeguro.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJSeguradoraSeguro.maxlength, id : CNPJSeguradoraSeguro.id}" />
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ConsultarCNPJSeguradoraSeguro.enable, attr: { id: ConsultarCNPJSeguradoraSeguro.idBtnSearch }" type="button" aria-label="Buscar">
                                                                                <i class="fal fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-3" data-bind="visible: NomeSeguradoraSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: NomeSeguradoraSeguro.text, attr: { for: NomeSeguradoraSeguro.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: NomeSeguradoraSeguro.enable, class: NomeSeguradoraSeguro.requiredClass, value: NomeSeguradoraSeguro.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeSeguradoraSeguro.maxlength, id : NomeSeguradoraSeguro.id}" />
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-6" data-bind="visible: NomeResponsavelSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: NomeResponsavelSeguro.text, attr: { for: NomeResponsavelSeguro.id }"></label>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" data-bind="enable: NomeResponsavelSeguro.enable, css: NomeResponsavelSeguro.requiredClass, value: NomeResponsavelSeguro.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeResponsavelSeguro.maxlength, id : NomeResponsavelSeguro.id}" />
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ConsultarNomeResponsavelSeguro.enable, attr: { id: ConsultarNomeResponsavelSeguro.idBtnSearch }" type="button" aria-label="Buscar">
                                                                                <i class="fal fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-3" data-bind="visible: ApoliceSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: ApoliceSeguro.text, attr: { for: ApoliceSeguro.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: ApoliceSeguro.enable, class: ApoliceSeguro.requiredClass, value: ApoliceSeguro.val, valueUpdate: 'afterkeydown', attr: { maxlength: ApoliceSeguro.maxlength, id : ApoliceSeguro.id}" />
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-3" data-bind="visible: AverbacaoSeguro.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: AverbacaoSeguro.text, attr: { for: AverbacaoSeguro.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="enable: AverbacaoSeguro.enable, class: AverbacaoSeguro.requiredClass, value: AverbacaoSeguro.val, valueUpdate: 'afterkeydown', attr: { maxlength: AverbacaoSeguro.maxlength, id : AverbacaoSeguro.id}" />
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-12 d-flex justify-content-end" data-bind="fadeVisible: !UsarDadosCTe.val()">
                                                        <button class="btn btn-primary waves-effect waves-themed botaoDentroSmartAdmimForm " data-bind="attr: { id: AdicionarSeguro.id}, enable: AdicionarSeguro.enable, click: AdicionarSeguro.eventClick" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarSeguro.text"></span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="tabValePedagio" role="tabpanel">
                                                    <div>
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridValePedagio.id}" cellspacing="0"></table>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 col-md-6" data-bind="visible: FornecedorValePedagio.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: FornecedorValePedagio.text, attr: { for: FornecedorValePedagio.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: FornecedorValePedagio.enable, css: FornecedorValePedagio.requiredClass, value: FornecedorValePedagio.val, valueUpdate: 'afterkeydown', attr: { maxlength: FornecedorValePedagio.maxlength, id : FornecedorValePedagio.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ConsultarFornecedorValePedagio.enable, attr: { id: ConsultarFornecedorValePedagio.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-6" data-bind="visible: ResponsavelValePedagio.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: ResponsavelValePedagio.text, attr: { for: ResponsavelValePedagio.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: ResponsavelValePedagio.enable, css: ResponsavelValePedagio.requiredClass, value: ResponsavelValePedagio.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelValePedagio.maxlength, id : ResponsavelValePedagio.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ConsultarResponsavelValePedagio.enable, attr: { id: ConsultarResponsavelValePedagio.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-6" data-bind="visible: ComprovanteValePedagio.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: ComprovanteValePedagio.text, attr: { for: ComprovanteValePedagio.id }"></label>
                                                                <input type="text" class="form-control" data-bind="enable: ComprovanteValePedagio.enable, class: ComprovanteValePedagio.requiredClass, value: ComprovanteValePedagio.val, valueUpdate: 'afterkeydown', attr: { maxlength: ComprovanteValePedagio.maxlength, id : ComprovanteValePedagio.id}" />
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-3" data-bind="visible: ValorValePedagio.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: ValorValePedagio.text, attr: { for: ValorValePedagio.id }"></label>
                                                                <input type="text" class="form-control" data-bind="enable: ValorValePedagio.enable, class: ValorValePedagio.requiredClass, value: ValorValePedagio.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorValePedagio.maxlength, id : ValorValePedagio.id}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-12 d-flex justify-content-end">
                                                        <button class="btn btn-primary waves-effect waves-themed botaoDentroSmartAdmimForm " data-bind="attr: { id: AdicionarValePedagio.id}, enable: AdicionarValePedagio.enable, click: AdicionarValePedagio.eventClick" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarValePedagio.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tabObservacao" role="tabpanel">
                                                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoFisco.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ObservacaoFisco.text, attr: { for: ObservacaoFisco.id }"></label>
                                                            <textarea class="form-control" rows="4" data-bind="enable: ObservacaoFisco.enable, value: ObservacaoFisco.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoFisco.maxlength, id : ObservacaoFisco.id }"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoContribuinte.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: ObservacaoContribuinte.text, attr: { for: ObservacaoContribuinte.id }"></label>
                                                            <textarea class="form-control" rows="4" data-bind="enable: ObservacaoContribuinte.enable, value: ObservacaoContribuinte.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoContribuinte.maxlength, id : ObservacaoContribuinte.id }"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="card-body">
                                            <ul class="nav nav-tabs">
                                                <li id="tabCTes" class="nav-item active">
                                                    <a href="#knockoutCTes" class="nav-link active" data-bs-toggle="tab">
                                                        <span>CT-es</span>
                                                    </a>
                                                </li>
                                                <li id="tabCargas" class="nav-item">
                                                    <a href="#knockoutCargas" class="nav-link" data-bs-toggle="tab">
                                                        <span>Cargas</span>
                                                    </a>
                                                </li>
                                                <li id="tabNFes" class="nav-item active">
                                                    <a href="#knockoutNFes" class="nav-link" data-bs-toggle="tab">
                                                        <span>NF-e</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content border border-top-0 p-3">
                                                <div class="tab-pane fade active show" id="knockoutCTes" role="tabpanel">
                                                    <div>
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: CtesInfo.idGrid}" cellspacing="0"></table>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 col-md-12" data-bind="visible: CtesInfo.visible">
                                                            <button data-bind="enable: CtesInfo.enable, visible: CtesInfo.visible, attr: { id: CtesInfo.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                                <i class="fal fa-plus"></i> <span data-bind="text: CtesInfo.text"></span>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="knockoutCargas" role="tabpanel">
                                                    <div>
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: CargasInfo.idGrid}" cellspacing="0"></table>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 col-md-12" data-bind="visible: CargasInfo.visible">
                                                            <button data-bind="enable: CargasInfo.enable, visible: CargasInfo.visible, attr: { id: CargasInfo.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                                <i class="fal fa-plus"></i> <span data-bind="text: CargasInfo.text"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="knockoutNFes" role="tabpanel">
                                                    <div>
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: NFesInfo.idGrid}" cellspacing="0"></table>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 col-md-12" data-bind="visible: NFesInfo.visible">
                                                            <button data-bind="enable: NFesInfo.enable, visible: NFesInfo.visible, attr: { id: NFesInfo.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                                <i class="fal fa-plus"></i> <span data-bind="text: NFesInfo.text"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="knockoutMDFes" class="tab-pane fade">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">MDF-e</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                                <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6" style="margin-top: 27px" data-bind="visible: Status.visible">
                                            <button class="btn btn-primary btnPesquisarFiltroPesquisa ms-3" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}, enable : Pesquisar.enable">
                                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                            <button class="btn btn-primary btnPesquisarFiltroPesquisa ms-3" type="button" data-bind="visible: EmitirNovamenteRejeitados.visible, click: EmitirNovamenteRejeitados.eventClick, attr: { id: EmitirNovamenteRejeitados.id}">
                                                <i class="fal fa-search"></i><span data-bind="text: EmitirNovamenteRejeitados.text"></span>
                                            </button>
                                        </div>

                                        <div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Pesquisar.idGrid}" cellspacing="0"></table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="knockoutImpressao" class="tab-pane fade">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Impressão</h3>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-end" data-bind="visible: EnviarParaImpressao.visible">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="visible: EnviarParaImpressao.visible, click: EnviarParaImpressao.eventClick, attr: { id: EnviarParaImpressao.id}, enable : EnviarParaImpressao.enable">
                                            <i class="fal fa-print"></i><span data-bind="text: EnviarParaImpressao.text"></span>
                                        </button>
                                        <button class="btn btn-success" type="button" data-bind="enable: DownloadLotePDF.enable, click: DownloadLotePDF.eventClick, attr: { id: DownloadLotePDF.idBtnSearch}">
                                            <i class="fal fa-download"></i><span data-bind="text: DownloadLotePDF.text">Download dos Documentos</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="knockoutIntegracoes" class="tab-pane fade ">
                            <div class="col-12 col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Integrações</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="DivIntegracaoMDFeManual">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="knockoutCRUDCargaMDFeManual" class="d-flex justify-content-end mt-3">

                        <button type="button" class="btn btn-default waves-effect waves-themed ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-history"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-default waves-effect waves-themed ms-2" data-bind="click: Emitir.eventClick, visible: Emitir.visible, attr: { id : Emitir.id}">
                            <i class="fal fa-paper-plane"></i><span data-bind="text: Emitir.text"></span>
                        </button>
                        <button type="button" class="btn btn-success waves-effect waves-themed ms-2" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id : Salvar.id}">
                            <i class="fal fa-save"></i><span data-bind="text: Salvar.text"></span>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalRetornoSefaz" style="z-index:1200" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mensagem Retorno Sefaz</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p id="PMensagemRetornoSefaz"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalEncerramentoMDFe" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Encerramento de MDF-e</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutEncerramentoMDFe">
                <div class="row">

                    <div class="col-12 col-md-6" data-bind="visible: DataEncerramento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEncerramento.text, attr: { for: DataEncerramento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataEncerramento.requiredClass, value: DataEncerramento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEncerramento.maxlength, id : DataEncerramento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: HoraEncerramento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: HoraEncerramento.text, attr: { for: HoraEncerramento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: HoraEncerramento.requiredClass, value: HoraEncerramento.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraEncerramento.maxlength, id : HoraEncerramento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: Estado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Estado.requiredClass, value: Estado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Estado.maxlength, id : Estado.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: Localidade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Localidade.text, attr: { for: Localidade.id }"></label>
                            <select class="form-control" data-bind="class: Localidade.requiredClass, options: Localidade.options, optionsText: 'text', optionsValue: 'value', value: Localidade.val, attr: { maxlength: Localidade.maxlength, id : Localidade.id}"></select>
                        </div>
                    </div>

                </div>
                <div class="col-6 d-flex justify-content-end">
                    <input type="button" data-bind="click: EncerrarMDFe.eventClick,visible: EncerrarMDFe.visible, attr: { value: EncerrarMDFe.text, id : EncerrarMDFe.id}" class="btn btn-labeled btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="insideNoPaddignTable">
                        <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracao"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/cargaMDFeManual"></script>
<script src="~/scripts/mapas"></script>
<script type="text/javascript">
    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesTransportador));

    $(document).ready(function () {
        LoadCargaMDFeManual();
    });

</script>

