

<style>
    .detalhe-item {
        padding: 0 14px 5px 14px;
    }

    .table.table-no-background tbody td,
    .table.table-no-background thead th {
        border: none;
    }

    .table.table-no-background thead tr {
        background: none;
    }

    table.table-bordered tbody td:last-child {
        padding: 3px 10px !important;
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Cargas.ControleGeracaoEDI.Cargas</li>
    <li class="breadcrumb-item active">@Localization.Resources.Cargas.ControleGeracaoEDI.ControleGeracao</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.Cargas.ControleGeracaoEDI.ControleDeGeracaoDeCargasPorEDI
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(1054)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutControleGeracaoEDI">
    <div class="panel">
        <div class="panel-container">

            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Cargas.ControleGeracaoEDI.PesquisarArquivo
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">

                        <div class="col-12 col-md-2" data-bind="visible: NumeroDT.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroDT.text, attr: { for: NumeroDT.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroDT.requiredClass, value: NumeroDT.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDT.maxlength, id : NumeroDT.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: HoraInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: HoraInicial.text, attr: { for: HoraInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: HoraInicial.requiredClass, value: HoraInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicial.maxlength, id : HoraInicial.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: HoraFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: HoraFinal.text, attr: { for: HoraFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: HoraFinal.requiredClass, value: HoraFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraFinal.maxlength, id : HoraFinal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: Placa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Placa.text, attr: { for: Placa.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Placa.requiredClass, value: Placa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: NomeArquivo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NomeArquivo.text, attr: { for: NomeArquivo.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NomeArquivo.requiredClass, value: NomeArquivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeArquivo.maxlength, id : NomeArquivo.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: IDOC.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: IDOC.text, attr: { for: IDOC.id }"></label>
                                <input type="text" class="form-control" data-bind="class: IDOC.requiredClass, value: IDOC.val, valueUpdate: 'afterkeydown', attr: { maxlength: IDOC.maxlength, id : IDOC.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="d-flex align-items-center justify-content-end mb-3">

                    <button class="btn btn-default btn-info me-3" data-bind="click: ReenviarComFalhas.eventClick, attr: { id: ReenviarComFalhas.id}, visible: ReenviarComFalhas.visible" type="button">
                        <i class="fal fa-refresh"></i><span data-bind="text: ReenviarComFalhas.text"></span>
                    </button>


                    <button class="btn btn-primary waves-effect waves-themed btnExibirConfiguracao me-3" data-bind="visible : Configuracao.visible, click: Configuracao.eventClick, attr: { id: Configuracao.id}" type="file">
                        <span data-bind="text: Configuracao.text"></span>
                    </button>

                    <div class="me-3" >
                        <div class="custom-file-btn" data-bind="visible: Upload.visible">
                            <label class="btn btn-primary" data-bind="attr: { for: Upload.idFile }">
                                <i class="fal fa-upload"></i> <span data-bind="text: Upload.text"></span>
                            </label>
                            <input type="file" accept="text/plain" data-bind="event: {change: Upload.eventChange}, attr: { id : Upload.idFile, accept: Upload.accept, multiple: true }">
                        </div>
                    </div>

                    <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>

                </div>

                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDetalhesControleGeracaoEDI" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{Localize::Cargas.ControleGeracaoEDI.AlteracoesDeCampos}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-body no-padding">
                    <form id="knockoutDetalheAlteracao">
                        <div class="col-12 col-md-12 text-center mb-2">
                            <label><b data-bind="text: IDOC.text"></b> <span class="text-danger" data-bind="text: IDOC.val"></span></label>
                        </div>
                        <div id="detalhesControleGeracaoEDISlide" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- ko foreach: DetalhesCarga -->
                                <div class="carousel-item" data-bind="css: $index() == 0 ? 'active' : ''">
                                    <div class="detalhe-item">
                                        <section class="col col-12 text-center mb-2">
                                            <label><b data-bind="text: Carga.text"></b> <span class="text-primary" data-bind="text: Carga.val"></span></label>
                                        </section>
                                        <table class="table table-condensed table-no-background">
                                            <thead>
                                                <tr>
                                                    <th>{Localize::Cargas.ControleGeracaoEDI.Item}</th>
                                                    <th>{Localize::Cargas.ControleGeracaoEDI.Anterior}</th>
                                                    <th>{Localize::Cargas.ControleGeracaoEDI.Atual}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{Localize::Cargas.ControleGeracaoEDI.Roteiro}</td>
                                                    <td data-bind="text: RoteiroAnterior.val"></td>
                                                    <td data-bind="text: RoteiroAtual.val"></td>
                                                </tr>
                                                <tr>
                                                    <td>{Localize::Cargas.ControleGeracaoEDI.Placa}</td>
                                                    <td data-bind="text: PlacaAnterior.val"></td>
                                                    <td data-bind="text: PlacaAtual.val"></td>
                                                </tr>
                                                <tr>
                                                    <td>{Localize::Cargas.ControleGeracaoEDI.ModeloVeiculo}</td>
                                                    <td data-bind="text: ModeloVeicularAnterior.val"></td>
                                                    <td data-bind="text: ModeloVeicularAtual.val"></td>
                                                </tr>
                                                <tr>
                                                    <td>{Localize::Cargas.ControleGeracaoEDI.QuantidadeNFS}</td>
                                                    <td data-bind="text: QuantidadeNfsAnterior.val"></td>
                                                    <td data-bind="text: QuantidadeNfsAtual.val"></td>
                                                </tr>
                                                <tr>
                                                    <td>{Localize::Cargas.ControleGeracaoEDI.MeioTransporte}</td>
                                                    <td data-bind="text: MeioTransporteAnterior.val"></td>
                                                    <td data-bind="text: MeioTransporteAtual.val"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- ko if: DetalhesCarga().length > 1 -->
                            <div class="carousel-indicators">
                                <!-- ko foreach: DetalhesCarga -->
                                <button data-bs-target="#detalhesControleGeracaoEDISlide" data-bind="attr: { 'data-bs-slide-to': $index() }, css: $index() == 0 ? 'active' : ''"></button>
                                <!-- /ko -->
                            </div>
                            <button class="carousel-control-prev" href="#detalhesControleGeracaoEDISlide" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">{Localize::Cargas.ControleGeracaoEDI.Previous}</span>
                            </button>
                            <button class="carousel-control-next" href="#detalhesControleGeracaoEDISlide" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">{Localize::Cargas.ControleGeracaoEDI.Next}</span>
                            </button>
                            <!-- /ko -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalConfiguracaoControleGeracaoEDI" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="knockoutCRUDConfiguracaoControleGeracaoEDI">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{Localize::Cargas.ControleGeracaoEDI.ConfiguracoesEDI}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: ProcessarPrioritario.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ProcessarPrioritario.val, attr: { maxlength: ProcessarPrioritario.maxlength, name: ProcessarPrioritario.id, id: ProcessarPrioritario.id }">
                                <label class="custom-control-label" data-bind="text: ProcessarPrioritario.text, attr: { for: ProcessarPrioritario.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Cancelar.eventClick, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-default me-3">
                    <input type="button" data-bind="click: Confirmar.eventClick, attr: { value: Confirmar.text, id : Confirmar.id}" class="btn btn-success">
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/controleGeracaoEDI"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.ControleGeracaoEDI").then(LoadControleGeracaoEDI);
    });

</script>

