
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargasa</li>
    <li class="breadcrumb-item active">Download Documentos</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Download de documentos de cargas
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                Cargas
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutDownloadDocumentos">
                <div class="row" id="">
                    <div class="col-12 d-flex mb-3 justify-content-end">
                        <button type="button" class="btn btn-labeled btn-primary botaoAdiconarMultiplosRegistros" data-bind="visible: Carga.visible, enable: Carga.enable, attr: { id : Carga.idBtnSearch}">
                            <i class="fal fa-plus"></i><span data-bind="text: Carga.text"></span>
                        </button>
                    </div>
                    <div class="row">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Carga.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                    <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Atualizar.eventClick, attr: { id: Atualizar.id}" type="button">
                        <i class="fal fa-download"></i><span data-bind="text: Atualizar.text"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/cargaDownloadDocumentos"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadDownloadDocumentos();
    });

</script>

