
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Fluxo Encerramento Carga</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Encerramento de Carga
        </h1>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaFluxoEncerramentoCarga">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-default" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>Pesquisar Encerramento</span>
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-3">
                                <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Encerramento de Carga
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutResumoFluxoEncerramentoCarga">
                <div class="row row-cols-1 row-cols-md-2" data-bind="visible: NumeroCarga.visible">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end" data-bind="visible: NumeroCarga.visible">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: NumeroCarga.text"></strong>
                                        <span data-bind="text: NumeroCarga.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>
                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: DataEncerramento.text"></strong>
                                        <span data-bind="text: DataEncerramento.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Remetente.text"></strong>
                                        <span data-bind="text: Remetente.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Origem.text"></strong>
                                        <span data-bind="text: Origem.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Destinatario.text"></strong>
                                        <span data-bind="text: Destinatario.val"></span>
                                    </td>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Destino.text"></strong>
                                        <span data-bind="text: Destino.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: MotivoRejeicao.text"></strong>
                                        <span data-bind="text: MotivoRejeicao.val"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="knockoutEtapaFluxoEncerramentoCarga">
                <ul class="nav nav-steps">
                    <li data-target="#step1" data-bind="visible : Etapa1.visible">
                        <button class="active" data-bs-target="#knockoutDetalhesFluxoEncerramentoCarga" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab, idTab : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa1.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible : Etapa2.visible">
                        <button data-bs-target="#documentosFluxoEncerramentoCarga" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab, idTab : Etapa2.idTab }, click : Etapa2.eventClick, visible : Etapa2.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa2.text"></span>
                        </button>
                    </li>
                    <li data-target="#step3" data-bind="visible : Etapa3.visible">
                        <button data-bs-target="#knockoutIntegracoesFluxoEncerramentoCarga" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab, idTab : Etapa3.idTab }, click : Etapa3.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                <i class="fal fa-file"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa3.text"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="knockoutDetalhesFluxoEncerramentoCarga" class="tab-pane fade show active">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Encerramento</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="alert alert-info d-none text-center" id="msgInfoCancelamento">
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, enable: Carga.enable, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}, enable: Carga.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="css: Motivo.requiredClass, value: Motivo.val,enable: Motivo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="documentosFluxoEncerramentoCarga" class="tab-pane fade">
                    <div class="panel mt-3">
                        <div class="panel-container">
                            <div class="panel-content">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" id="liCIOT">
                                        <a href="#tabCIOT" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">CIOT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liMDFe">
                                        <a href="#tabMDFe" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">MDF-e</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade" id="tabCIOT">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarCIOT.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">CIOT</h3>
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarCIOT.eventClick, attr: { id: BuscarCIOT.idBtnSearch, text: BuscarCIOT.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarCIOT.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarCIOT.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabMDFe">
                                        <div class="col-12 col-md-12">
                                            <div class="card" data-bind="visible: BuscarMDFes.visible">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h3 class="card-title">MDF-es</h3>
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: BuscarMDFes.eventClick, attr: { id: BuscarMDFes.idBtnSearch, text: BuscarMDFes.text }">
                                                        <i class="fal fa-repeat-alt"></i><span data-bind="text: BuscarMDFes.text"></span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: BuscarMDFes.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" data-bind="visible: !BuscarMDFes.visible()">
                                            <section class="col col-12">
                                                <label><b>Não existem MDF-es para encerramento</b></label>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="knockoutIntegracoesFluxoEncerramentoCarga" class="tab-pane fade">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Integrações</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active" id="liIntegracaoFluxoEncerramentoCarga">
                                        <a href="#integracaoCarga" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Carga</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-pane fade active show" id="integracaoCarga">
                                    <div class="col-12 col-md-12" data-bind="visible: !PossuiIntegracao.val()">
                                        <div class="alert alert-info text-center mt-2">
                                            Não há integrações disponíveis para este encerramento
                                        </div>
                                    </div>
                                    <div class="row mt-3" id="integracao" data-bind="visible: PossuiIntegracao.val()">
                                        <div class="col-12 col-md-8">
                                            <div class="d-flex">
                                                <div class="col-12 col-md-6" data-bind="visible: Tipo.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlenglabel: Tipo.maxlenglabel, id : Tipo.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col col-sm-12">
                                                    <button type="button" class="btn btn-primary waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: ConsultaFluxoEncerramentoCarga.eventClick, visible: ConsultaFluxoEncerramentoCarga.visible, attr: { value: ConsultaFluxoEncerramentoCarga.text, id : ConsultaFluxoEncerramentoCarga.id}">
                                                        <span data-bind="text: ConsultaFluxoEncerramentoCarga.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-default waves-effect waves-themed ms-3" style="margin-top: 32px" data-bind="click: EnviarIntegracoesFluxoEncerramentoCarga.eventClick, visible: EnviarIntegracoesFluxoEncerramentoCarga.visible, attr: { value: EnviarIntegracoesFluxoEncerramentoCarga.text, id : EnviarIntegracoesFluxoEncerramentoCarga.id}">
                                                    <i class="fal fa-arrow-to-right"></i> <span data-bind="text: EnviarIntegracoesFluxoEncerramentoCarga.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridIntegracoesFluxoEncerramentoCarga.idGrid}" cellspacing="0"></table>
                                        <div class="row mt-2">
                                            <div class="col-12 col-md-6">
                                                <div class="legends">
                                                    <div class="badge legend green">
                                                        <b data-bind="text: TotalIntegrado.text"></b>
                                                        <span data-bind="text: TotalIntegrado.val()"></span>
                                                    </div>
                                                    <div class="badge legend red">
                                                        <b data-bind="text: TotalProblemaIntegracao.text"></b>
                                                        <span data-bind="text: TotalProblemaIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend blue">
                                                        <b data-bind="text: TotalAguardandoIntegracao.text"></b>
                                                        <span data-bind="text: TotalAguardandoIntegracao.val()"></span>
                                                    </div>
                                                    <div class="badge legend gray">
                                                        <b data-bind="text: TotalGeral.text"></b>
                                                        <span data-bind="text: TotalGeral.val()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="knockoutCRUDFluxoEncerramentoCarga" class="d-flex justify-content-end mb-3 me-2">
        <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: GerarNovoFluxoEncerramentoCarga.eventClick, visible: GerarNovoFluxoEncerramentoCarga.visible, attr: { value: GerarNovoFluxoEncerramentoCarga.text, id : GerarNovoFluxoEncerramentoCarga.id}" class="btn btn-labeled btn-default ms-1" />
        <input type="button" data-loading-text="Aguarde..." data-bind="click: ReenviarEncerramento.eventClick, visible: ReenviarEncerramento.visible, attr: { value: ReenviarEncerramento.text, id : ReenviarEncerramento.id}" class="btn btn-labeled btn-success ms-1" />
    </footer>
</div>

<div class="modal fade" id="divModalHistoricoFluxoEncerramentoCargaIntegracao" role="dialog" aria-hidden="true">
    <div id="knockoutFluxoEncerramentoCargaIntegracao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <section class="insideNoPaddignTable">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoFluxoEncerramentoCarga"></table>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/FluxoEncerramentoCarga"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadFluxoEncerramentoCarga();
    });

</script>

