

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Cargas</li>
    <li class="breadcrumb-item active">Gestão de Pedidos</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title"> Gestão de Pedidos </h1>
</div>

<div>
    <div id="knockoutPesquisaGestaoPedido" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i> Pedidos
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="visible: DataInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                <input type="text" class="form-control hasDatepicker" data-bind="value: DataInicio.val, enable: DataInicio.enable, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="visible: DataFim.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                <input type="text" class="form-control hasDatepicker" data-bind="value: DataFim.val, enable: DataFim.enable, attr: { maxlength: DataFim.maxlength, id : DataFim.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="visible: NumeroSessao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroSessao.text, attr: { for: NumeroSessao.id }"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroSessao.val, attr: { maxlength: NumeroSessao.maxlength, id : NumeroSessao.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="css: NumeroCarregamento.cssClass">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroCarregamento.text, attr: { for: NumeroCarregamento.id }"></label>
                                <input type="text" class="form-control" data-bind="value: NumeroCarregamento.val, attr: { maxlength: NumeroCarregamento.maxlength, id : NumeroCarregamento.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlenglabel: Situacao.maxlenglabel, id : Situacao.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4 col-xl-2" data-bind="visible: SituacaoPedido.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoPedido.text, attr: { for: SituacaoPedido.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoPedido.requiredClass, options: SituacaoPedido.options, optionsText: 'text', optionsValue: 'value', value: SituacaoPedido.val, attr: { maxlength: SituacaoPedido.maxlength, id : SituacaoPedido.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}, class: Filial.requiredClass," />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Filial.idBtnSearch }">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: ListaNumeroPedido.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ListaNumeroPedido.text, attr: { for: ListaNumeroPedido.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: ListaNumeroPedido.enable,css: ListaNumeroPedido.requiredClass, value: ListaNumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: ListaNumeroPedido.maxlenglabel, id : ListaNumeroPedido.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: ListaNumeroPedido.enable,attr: { id: ListaNumeroPedido.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="id: ExibirFiltrosAvancados.idFade, fadeVisible: ExibirFiltrosAvancados.visibleFade">
                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: TipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', enable: TipoOperacao.enable, attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="enable: TipoOperacao.enable, attr: { id: TipoOperacao.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: RegiaoDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegiaoDestino.text, attr: { for: RegiaoDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: RegiaoDestino.val, valueUpdate: 'afterkeydown', attr: { id : RegiaoDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: RegiaoDestino.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: GrupoPessoaDestinatario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoaDestinatario.text, attr: { for: GrupoPessoaDestinatario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: GrupoPessoaDestinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoaDestinatario.maxlength, id : GrupoPessoaDestinatario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: GrupoPessoaDestinatario.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: SituacaoComercialPedido.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoComercialPedido.text, attr: { for: SituacaoComercialPedido.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SituacaoComercialPedido.requiredClass, value: SituacaoComercialPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: SituacaoComercialPedido.maxlength, id : SituacaoComercialPedido.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SituacaoComercialPedido.idBtnSearch}" type="button">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: Transportador.enable,css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: Transportador.maxlenglabel, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: Transportador.enable,attr: { id: Transportador.idBtnSearch}" type="button">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: TipoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: TipoCarga.enable, css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: TipoCarga.maxlenglabel, id : TipoCarga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: TipoCarga.enable,attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Vendedor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Vendedor.text, attr: { for: Vendedor.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Vendedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Vendedor.maxlength, id : Vendedor.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Vendedor.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Supervisor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Supervisor.text, attr: { for: Supervisor.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Supervisor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Supervisor.maxlength, id : Supervisor.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Supervisor.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Gerente.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Gerente.text, attr: { for: Gerente.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Gerente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Gerente.maxlength, id : Gerente.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Gerente.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Remetente.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Destino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Destinatario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="cenable: Destinatario.enable,ss: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: Destinatario.maxlenglabel, id : Destinatario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: Destinatario.enable,attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: CanalEntrega.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CanalEntrega.text, attr: { for: CanalEntrega.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="cenable: CanalEntrega.enable,ss: CanalEntrega.requiredClass, value: CanalEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: CanalEntrega.maxlenglabel, id : CanalEntrega.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: CanalEntrega.enable,attr: { id: CanalEntrega.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: EstadoOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: EstadoDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-bind="css: CodigoAgrupamentoCarregamento.cssClass">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CodigoAgrupamentoCarregamento.text, attr: { for: CodigoAgrupamentoCarregamento.id }"></label>
                                <input type="text" class="form-control" data-bind="value: CodigoAgrupamentoCarregamento.val, attr: { maxlength: CodigoAgrupamentoCarregamento.maxlength, id : CodigoAgrupamentoCarregamento.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: SituacaoEstoqueProdutoArmazem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoEstoqueProdutoArmazem.text, attr: { for: SituacaoEstoqueProdutoArmazem.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoEstoqueProdutoArmazem.requiredClass, options: SituacaoEstoqueProdutoArmazem.options, optionsText: 'text', optionsValue: 'value', value: SituacaoEstoqueProdutoArmazem.val, attr: { maxlength: SituacaoEstoqueProdutoArmazem.maxlengthlabel, id : SituacaoEstoqueProdutoArmazem.id }"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: SituacaoRoteirizadorIntegracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoRoteirizadorIntegracao.text, attr: { for: SituacaoRoteirizadorIntegracao.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoRoteirizadorIntegracao.requiredClass, options: SituacaoRoteirizadorIntegracao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoRoteirizadorIntegracao.val, attr: { maxlength: SituacaoRoteirizadorIntegracao.maxlength, id : SituacaoRoteirizadorIntegracao.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Reentrega.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Reentrega.text, attr: { for: Reentrega.id }"></label>
                                <select class="form-control" data-bind="class: Reentrega.requiredClass, options: Reentrega.options, optionsText: 'text', optionsValue: 'value', value: Reentrega.val, attr: { maxlength: Reentrega.maxlength, id : Reentrega.id}"></select>
                            </div>
                        </div>

                        <div class="col-12" data-bind="visible: ExibirResumoPedidosSelecionados.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirResumoPedidosSelecionados.val, valueUpdate: 'afterkeydown', attr: { name: ExibirResumoPedidosSelecionados.id, id : ExibirResumoPedidosSelecionados.id}" />
                                    <label class="custom-control-label" data-bind="text: ExibirResumoPedidosSelecionados.text, attr: { for: ExibirResumoPedidosSelecionados.id }"></label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <footer class="d-flex justify-content-between">
                        <button class="btn btn-default" type="button" data-bind="click: ConfiguracaoModeloFiltroPesquisa.eventClick, attr: { id: ConfiguracaoModeloFiltroPesquisa.id}">
                            <i class="fal fa-cogs"></i><span data-bind="text: ConfiguracaoModeloFiltroPesquisa.text"></span>
                        </button>

                        <div>
                            <button class="btn btn-default waves-effect waves-themed" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="knoutTotalizadores" data-bind="visible: ExibirTotais.val" style="display: none;">
        <div class="panel-container">
            <div class="panel-content mt-2">
                <table width="100%" class="table table-bordered table-condensed no-footer dataTable JColResizer" cellspacing="0">
                    <thead>
                        <tr role="row" class="font-ambar">
                            <th></th>
                            <th class="text-align-center" data-bind="text: TotalPedidosSelecionados.text, attr: { title: TotalPedidosSelecionados.text }"></th>
                            <th class="text-align-center" data-bind="text: PesoTotalSelecionados.text, attr: { title: PesoTotalSelecionados.text }">Peso</th>
                            <th class="text-align-center" data-bind="text: ValorTotalSelecionados.text, attr: { title: ValorTotalSelecionados.text }">Valor</th>
                            <th class="text-align-center" data-bind="text: QuantidadePalletsSelecionados.text, attr: { title: QuantidadePalletsSelecionados.text }">Pallets</th>
                            <th class="text-align-center" data-bind="text: QuantidadeEntregasSelecionados.text, attr: { title: QuantidadeEntregasSelecionados.text }">Entregas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="text-align-center">
                            <td class="fw-bold font-cyan">Total Selecionado</td>
                            <td data-bind="text: TotalPedidosSelecionados.val"></td>
                            <td data-bind="text: PesoTotalSelecionados.val"></td>
                            <td data-bind="text: ValorTotalSelecionados.val"></td>
                            <td data-bind="text: QuantidadePalletsSelecionados.val"></td>
                            <td data-bind="text: QuantidadeEntregasSelecionados.val"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div id="knoutOpcoes" class="d-flex justify-content-end align-items-center mb-3 gap-2">
                        <div class="dropdown box-search" style="margin-left:0px" id="dropdown">
                            <button class="btn btn-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bind="visible: Visivel.visible">
                                <i class="fal fa-list"></i><span class="span">Opções</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-bind="visible: OpcaoCancelarRoteirizacao.visible"><a class="dropdown-item" href="#" data-bind="click: OpcaoCancelarRoteirizacao.eventClick, text: OpcaoCancelarRoteirizacao.text"></a></li>
                                <li data-bind="visible: OpcaoRoteirizacao.visible"><a class="dropdown-item" href="#" data-bind="click: OpcaoRoteirizacao.eventClick, text: OpcaoRoteirizacao.text"></a></li>
                                <li data-bind="visible: OpcaoTrocaFilial.visible"><a class="dropdown-item" href="#" data-bind="click: OpcaoTrocaFilial.eventClick, text: OpcaoTrocaFilial.text, visible: OpcaoTrocaFilial.visible"></a></li>
                            </ul>
                        </div>

                        <button class="btn btn-default waves-effect waves-themed" data-bind="visible: SelecionarTodos.visible, enable: SelecionarTodos.enable, click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}" type="button">
                            <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                        </button>
                    </div>

                    <div id="knockoutLegendaGestaoPedido" class="legends mb-3">
                        <span><b>Legendas</b> </span>
                        <div class="badge legend green" data-bind="visible: IntegradoComSucesso.visible">
                            <b data-bind="text: IntegradoComSucesso.text"></b>
                            <span class="fw-bold" data-bind="text: IntegradoComSucesso.totalItens"></span>
                        </div>
                        <div class="badge legend red" data-bind="visible: IntegracaoCancelada.visible">
                            <b data-bind="text: IntegracaoCancelada.text"></b>
                            <span class="fw-bold" data-bind="text: IntegracaoCancelada.totalItens"></span>
                        </div>
                        <div class="badge legend" style="background-color: #fceaea; color:  #e57373;" data-bind="visible: SemEstoque.visible">
                            <b data-bind="text: SemEstoque.text"></b>
                            <span class="fw-bold" data-bind="text: SemEstoque.totalItens"></span>
                        </div>
                    </div>

                    <table id="grid-gestao-pedidos" width="100%" class="table table-bordered table-hover" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetalhePedido" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Pedido</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>

            <div class="modal-body pt-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knoutDetalhePedido" class="nav-link active" data-bs-toggle="tab" aria-expanded="true">
                            <i class="fal fa-cube"></i>
                            <span class="hidden-mobile hidden-tablet">Detalhes do Pedido</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#knoutDetalhesPedidoProdutos" class="nav-link" data-bs-toggle="tab" aria-expanded="true">
                            <i class="fal fa-cube"></i>
                            <span class="hidden-mobile hidden-tablet">Produtos no Pedido</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content border border-top-0 p-3">
                    <div id="knoutDetalhePedido" class="tab-pane active">
                        <div class="row">
                            <div class="col">
                                <table>
                                    <tbody>
                                        <tr data-bind="visible: SituacaoComercialPedido.visible">
                                            <td> <b data-bind="text: SituacaoComercialPedido.text" /> </td>
                                            <td> <span data-bind="text: SituacaoComercialPedido.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: NumeroPedidoEmbarcador.visible">
                                            <td> <b data-bind="text: NumeroPedidoEmbarcador.text" /> </td>
                                            <td> <span data-bind="text: NumeroPedidoEmbarcador.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Filial.visible">
                                            <td> <b data-bind="text: Filial.text" /> </td>
                                            <td> <span data-bind="text: Filial.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Empresa.visible">
                                            <td> <b data-bind="text: Empresa.text" /> </td>
                                            <td> <span data-bind="text: Empresa.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: DataPrevisaoEntrega.visible">
                                            <td> <b data-bind="text: DataPrevisaoEntrega.text" /> </td>
                                            <td> <span data-bind="text: DataPrevisaoEntrega.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: TipoOperacao.visible">
                                            <td> <b data-bind="text: TipoOperacao.text" /> </td>
                                            <td> <span data-bind="text: TipoOperacao.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: TipoCarga.visible">
                                            <td> <b data-bind="text: TipoCarga.text" /> </td>
                                            <td> <span data-bind="text: TipoCarga.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Origem.visible">
                                            <td> <b data-bind="text: Origem.text" /> </td>
                                            <td> <span data-bind="text: Origem.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Destino.visible">
                                            <td> <b data-bind="text: Destino.text" /> </td>
                                            <td> <span data-bind="text: Destino.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Remetente.visible">
                                            <td> <b data-bind="text: Remetente.text" /> </td>
                                            <td> <span data-bind="text: Remetente.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Destinatario.visible">
                                            <td> <b data-bind="text: Destinatario.text" /> </td>
                                            <td> <span data-bind="text: Destinatario.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Peso.visible">
                                            <td> <b data-bind="text: Peso.text" />  </td>
                                            <td> <span data-bind="text: Peso.val" /> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: PesoTotalPaletes.text" /> </td>
                                            <td> <span data-bind="text: PesoTotalPaletes.val" /> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: TipoPaleteClienteDescricao.text" /> </td>T
                                            <td> <span data-bind="text: TipoPaleteClienteDescricao.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: PesoSaldoRestante.visible">
                                            <td> <b data-bind="text: PesoSaldoRestante.text"></b> </td>
                                            <td> <span data-bind="text: PesoSaldoRestante.val"></span> </td>
                                        </tr>
                                        <tr data-bind="visible: Cubagem.visible">
                                            <td> <b data-bind="text: Cubagem.text"></b> </td>
                                            <td> <span data-bind="text: Cubagem.val"></span> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: ObservacaoCliente.text"></b> </td>
                                            <td> <span data-bind="text: ObservacaoCliente.val"></span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> <b data-bind="text: DescricaoTipoCondicaoPagamento.text"></b> </td>
                                            <td> <span data-bind="text: DescricaoTipoCondicaoPagamento.val"></span> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: DescricaoTipoTomador.text"></b> </td>
                                            <td> <span data-bind="text: DescricaoTipoTomador.val"></span> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: CanalVenda.text"></b> </td>
                                            <td> <span data-bind="text: CanalVenda.val"></span> </td>
                                        </tr>
                                        <tr data-bind="visible: CodigoPedidoCliente.visible">
                                            <td> <b data-bind="text: CodigoPedidoCliente.text" /> </td>
                                            <td> <span data-bind="text: CodigoPedidoCliente.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: DataAgendamento.visible">
                                            <td> <b data-bind="text: DataAgendamento.text" /> </td>
                                            <td> <span data-bind="text: DataAgendamento.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: SenhaAgendamento.visible">
                                            <td> <b data-bind="text: SenhaAgendamento.text" /> </td>
                                            <td> <span data-bind="text: SenhaAgendamento.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: CanalEntrega.visible">
                                            <td> <b data-bind="text: CanalEntrega.text" /> </td>
                                            <td> <span data-bind="text: CanalEntrega.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Vendedor.visible">
                                            <td> <b data-bind="text: Vendedor.text" /> </td>
                                            <td> <span data-bind="text: Vendedor.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Gerente.visible">
                                            <td> <b data-bind="text: Gerente.text" /> </td>
                                            <td> <span data-bind="text: Gerente.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: Supervisor.visible">
                                            <td> <b data-bind="text: Supervisor.text" /> </td>
                                            <td> <span data-bind="text: Supervisor.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: ValorTotalPedido.visible">
                                            <td> <b data-bind="text: ValorTotalPedido.text" /> </td>
                                            <td> <span data-bind="text: ValorTotalPedido.val" /> </td>
                                        </tr>
                                        <tr data-bind="visible: GrupoPessoa.visible">
                                            <td> <b data-bind="text: GrupoPessoa.text"></b> </td>
                                            <td> <span data-bind="text: GrupoPessoa.val"></span> </td>
                                        </tr>
                                        <tr>
                                            <td> <b data-bind="text: CategoriaCliente.text"></b> </td>
                                            <td> <span data-bind="text: CategoriaCliente.val"></span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="mb-3" data-bind="visible: ObservacaoPedido.visible">
                                    <label class="form-label" data-bind="text: ObservacaoPedido.text, attr: { for: ObservacaoPedido.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: ObservacaoPedido.val, enable: ObservacaoPedido.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoPedido.maxlength, id : ObservacaoPedido.id }"></textarea>
                                </div>
                                <div data-bind="visible: ObservacaoInterna.visible">
                                    <label class="form-label" data-bind="text: ObservacaoInterna.text, attr: { for: ObservacaoInterna.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: ObservacaoInterna.val, enable: ObservacaoInterna.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoInterna.maxlength, id : ObservacaoInterna.id }"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 row">
                            <div class="col-12 col-lg-4" data-bind="visible: NumeroPaletesFracionado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPaletesFracionado.text, attr: { for: NumeroPaletesFracionado.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroPaletesFracionado.val, attr: { maxlength: NumeroPaletesFracionado.maxlength, id : NumeroPaletesFracionado.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>

                            <div class="col-12 col-lg-4" data-bind="visible: TipoPaleteCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPaleteCliente.text, attr: { for: TipoPaleteCliente.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPaleteCliente.requiredClass, options: TipoPaleteCliente.options, optionsText: 'text', optionsValue: 'value', value: TipoPaleteCliente.val, attr: { maxlenglabel: TipoPaleteCliente.maxlenglabel, id : TipoPaleteCliente.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-4" data-bind="visible: PesoTotalPaletes.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PesoTotalPaletes.text, attr: { for: PesoTotalPaletes.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: PesoTotalPaletes.val, attr: { maxlength: PesoTotalPaletes.maxlength, id : PesoTotalPaletes.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="knoutDetalhesPedidoProdutos" class="tab-pane fade">
                        <table width="100%" class="table table-bordered table-hover table-condensed table-striped" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>

                <div id="knoutBotoes" class="mt-3 d-flex gap-2 justify-content-end">
                    <button class="btn btn-success" type="button" data-bind="click: Salvar.eventClick, visible: Salvar.visible, text: Salvar.text, attr: { id : Salvar.id}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSaldoGestaoArmazem">
</div>

<div id="divModalIntegracaoGestaoPedido" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração do pedido</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblIntegracaoGestaoPedido"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracaoGestaoPedido" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoGestaoPedido"></table>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #grid-gestao-pedidos.table-hover tbody tr:hover td {
        color: inherit !important;
    }
</style>

<script src="~/scripts/detalhesArmazemProduto"></script>
<script src="~/scripts/gestaoPedido"></script>
<script type="text/javascript">
    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesGestaoPedido));

    $(document).ready(function () {
        LoadLocalizationResources(["Cargas.MontagemCargaMapa", "Cargas.Carga", "Pedidos.Pedido"]).then(loadGestaoPedido);
    });
</script>
