

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Impressão Lote Carga</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Impressão em Lote da Carga
    </h1>

</div>

<div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-bolt"></i>
                    Impressão em Lote
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row" id="knockoutSelecaoCarga">
                        <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: NumeroOS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroOS.text, attr: { for: NumeroOS.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroOS.requiredClass, value: NumeroOS.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOS.maxlength, id : NumeroOS.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-1" data-bind="visible: NumeroFiscal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroFiscal.text, attr: { for: NumeroFiscal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroFiscal.requiredClass, value: NumeroFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFiscal.maxlength, id : NumeroFiscal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-1" data-bind="visible: NumeroControle.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroControle.text, attr: { for: NumeroControle.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroControle.requiredClass, value: NumeroControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroControle.maxlength, id : NumeroControle.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: GrupoPessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: Container.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Container.requiredClass, value: Container.val, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: PedidoViagemDirecao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: TerminalOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: TerminalDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: ProvedorOS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ProvedorOS.text, attr: { for: ProvedorOS.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ProvedorOS.requiredClass, value: ProvedorOS.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProvedorOS.maxlength, id : ProvedorOS.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProvedorOS.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible : TipoPropostaMultimodal.visible, css: TipoPropostaMultimodal.cssClass">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoPropostaMultimodal.text, attr: { for: TipoPropostaMultimodal.id }"></label>
                                <select class="form-control" data-bind="options: TipoPropostaMultimodal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoPropostaMultimodal.val, attr: { id : TipoPropostaMultimodal.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible : TipoServico.visible, css: TipoServico.cssClass">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                <select class="form-control" data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoServico.val, attr: { id : TipoServico.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: FoiAnulado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FoiAnulado.text, attr: { for: FoiAnulado.id }"></label>
                                <select class="form-control" data-bind="class: FoiAnulado.requiredClass, options: FoiAnulado.options, optionsText: 'text', optionsValue: 'value', value: FoiAnulado.val, attr: { maxlength: FoiAnulado.maxlength, id : FoiAnulado.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: FoiSubstituido.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FoiSubstituido.text, attr: { for: FoiSubstituido.id }"></label>
                                <select class="form-control" data-bind="class: FoiSubstituido.requiredClass, options: FoiSubstituido.options, optionsText: 'text', optionsValue: 'value', value: FoiSubstituido.val, attr: { maxlength: FoiSubstituido.maxlength, id : FoiSubstituido.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: ModalEnvio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModalEnvio.text, attr: { for: ModalEnvio.id }"></label>
                                <select class="form-control" data-bind="class: ModalEnvio.requiredClass, options: ModalEnvio.options, optionsText: 'text', optionsValue: 'value', value: ModalEnvio.val, attr: { maxlength: ModalEnvio.maxlength, id : ModalEnvio.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: SituacaoEnvioDocumentacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoEnvioDocumentacao.text, attr: { for: SituacaoEnvioDocumentacao.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoEnvioDocumentacao.requiredClass, options: SituacaoEnvioDocumentacao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoEnvioDocumentacao.val, attr: { maxlength: SituacaoEnvioDocumentacao.maxlength, id : SituacaoEnvioDocumentacao.id}"></select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <div class="d-flex">
                                <button data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible" class="btn btn-default mb-2 ms-2" type="button">
                                    <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                                </button>
                            </div>
                            <div class=" d-flex justify-content-end" data-bind="visible: Pesquisa.visible">
                                <button class="btn btn-primary botaoDentroSmartAdmimForm ms-2 mb-2" type="button" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                        </div>

                        <table width="100%" class="table table-bordered table-hover" data-bind="enable: Conhecimentos.enable, attr: { id: Conhecimentos.idGrid}" cellspacing="0"></table>

                        <div class="col-12 col-md-3" data-bind="visible: FormaEnvioDocumentacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FormaEnvioDocumentacao.text, attr: { for: FormaEnvioDocumentacao.id }"></label>
                                <select class="form-control" data-bind="class: FormaEnvioDocumentacao.requiredClass, options: FormaEnvioDocumentacao.options, optionsText: 'text', optionsValue: 'value', value: FormaEnvioDocumentacao.val, attr: { maxlength: FormaEnvioDocumentacao.maxlength, id : FormaEnvioDocumentacao.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-9">
                            <div data-bind="visible: EmailEnvio.visible">
                                <label class="label"><b data-bind="text: EmailEnvio.text"></b></label>
                                <div class="input-group mb-3 mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" data-bind="attr: { class: InformarEmailEnvio.requiredClass}">
                                            <input type="checkbox" data-bind="checked: InformarEmailEnvio.val, enable: InformarEmailEnvio.enable, attr: { maxlength: InformarEmailEnvio.maxlength, name: InformarEmailEnvio.id, id: InformarEmailEnvio.id }">
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" data-bind="class: EmailEnvio.requiredClass, value: EmailEnvio.val, enable: EmailEnvio.enable, attr: { maxlength: EmailEnvio.maxlength, id : EmailEnvio.id} ">
                                </div>
                            </div>
                        </div>

                    </div>
                    <footer id="knockoutCRUDImpressaoLoteCarga">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-warning" data-loading-text="Aguarde..." data-bind="click: EnviarPorEmail.eventClick, visible: EnviarPorEmail.visible, attr: { value: EnviarPorEmail.text, id : EnviarPorEmail.id}">
                                <span data-bind="text: EnviarPorEmail.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success  ms-3" data-loading-text="Aguarde..." data-bind="click: GerarPDF.eventClick, visible: GerarPDF.visible, attr: { value: GerarPDF.text, id : GerarPDF.id}">
                                <span data-bind="text: GerarPDF.text"></span>
                            </button>
                        </div>
                    </footer>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="~/scripts/impressaoLoteCarga"></script>
<script type="text/javascript">
    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadasImpressaoLoteCarga);
    $(document).ready(function () {
        loadImpressaoLoteCarga();
    });

</script>

