
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Integração de NF-e</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Integração de NF-e
    </h1>
</div>

<div id="knockoutPesquisaIntegracaoNFe">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed mb-2" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Integrações
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Chave.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Chave.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Chave.requiredClass, value: Chave.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chave.maxlength, id : Chave.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedido.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataIntegracaoInicial.requiredClass, value: DataIntegracaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoInicial.maxlength, id : DataIntegracaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataIntegracaoFinal.requiredClass, value: DataIntegracaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoFinal.maxlength, id : DataIntegracaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoIntegracao.text, attr: { for: SituacaoIntegracao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoIntegracao.requiredClass, options: SituacaoIntegracao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoIntegracao.val, attr: { maxlength: SituacaoIntegracao.maxlength, id : SituacaoIntegracao.id}" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoProcessamentoRegistro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoProcessamentoRegistro.text, attr: { for: SituacaoProcessamentoRegistro.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoProcessamentoRegistro.requiredClass, options: SituacaoProcessamentoRegistro.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoProcessamentoRegistro.val, attr: { maxlength: SituacaoProcessamentoRegistro.maxlength, id : SituacaoProcessamentoRegistro.id}" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="panel-grid-integracao">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Integrações
                </h3>
            </div>
            <div class="panel-content">

                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracao"></table>
            </div>
        </div>
    </div>
</div>

<style>
    .img-carregamento {
        border: 1px solid #d0d0d0;
        border-radius: 3px;
    }
</style>

<script src="~/scripts/integracaoNFe"></script>

<script type="text/javascript">

    pageSetUp();

        _ConfiguracaoTMS = @Html.Raw(ViewBag.ConfiguracaoGeral);

    $(document).ready(function () {
        LoadIntegracaoNFe()
    });

</script>