
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Cargas</li>
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Isca</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Isca
    </h1>
</div>

<div id="knockoutPesquisaIsca">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Isca
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar ISCA
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroIsca">
                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind=" css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                            <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text"></label>
                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: CodigoEmpresaIsca.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoEmpresaIsca.text"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoEmpresaIsca.requiredClass, value: CodigoEmpresaIsca.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoEmpresaIsca.maxlength, id : CodigoEmpresaIsca.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Site.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Site.text"></label>
                            <input type="text" class="form-control" data-bind="class: Site.requiredClass, value: Site.val, valueUpdate: 'afterkeydown', attr: { maxlength: Site.maxlength, id : Site.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Login.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Login.text"></label>
                            <input type="text" class="form-control" data-bind="class: Login.requiredClass, value: Login.val, valueUpdate: 'afterkeydown', attr: { maxlength: Login.maxlength, id : Login.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Senha.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Senha.text"></label>
                            <input type="text" class="form-control" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                        </div>
                    </div>

                </div>
                <footer id="knockoutCRUDIsca">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/isca"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadIsca();
    });

</script>

