
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active"> Liberação de Carga em Massa</li>
</ol>

<div class="card mb-3" data-bind="visible: Cargas.visible" id="knockoutCargaParaLiberacao">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <button type="button" class="btn btn-secondary waves-effect waves-themed" data-bind="enable: Cargas.enable, visible: Cargas.visible, attr: { id: Cargas.idBtnSearch}">
                <i class="fal fa-plus"></i>
                <span data-bind="text: Cargas.text"></span>
            </button>
        </div>
        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridCargasParaLiberacao.id}" cellspacing="0"></table>

        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-primary waves-effect waves-themed"  type="button" data-bind="click: LiberarCargas.eventClick, attr: { id: LiberarCargas.id}">
               <span data-bind="text: LiberarCargas.text"></span>
            </button>
        </div>
    </div>
</div>
<script src="~/scripts/liberacaoCargaEmMassa"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
      loadLiberacaoCargaEmMassa();
    });

</script>