
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Manutenção Entrega Carga</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Manutenção de Entregas
    </h1>
</div>

<div id="knockoutManutencaoEntregaCarga">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Formulário de Manutenção
                </h3>
            </div>
            <div class="panel-content">
                <div>
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" style="margin-top: 32px">
                                <button class="btn btn-primary btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}" type="button">
                                    <span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/manutencaoEntregaCarga"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {

        loadManutencaoEntregaCarga();
    });

</script>

