
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Monitoramento Logístico Integração</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Integração de Monitoramento Logístico
    </h1>
</div>

<div id="knockoutPesquisaMonitoramentoLogisticoIntegracao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Monitoramentos Logísticos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialAgendamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialAgendamento.text, attr: { for: DataInicialAgendamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialAgendamento.requiredClass, value: DataInicialAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialAgendamento.maxlength, id : DataInicialAgendamento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataLimiteAgendamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLimiteAgendamento.text, attr: { for: DataLimiteAgendamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataLimiteAgendamento.requiredClass, value: DataLimiteAgendamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimiteAgendamento.maxlength, id : DataLimiteAgendamento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Protocolo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Protocolo.text, attr: { for: Protocolo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Protocolo.requiredClass, value: Protocolo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Protocolo.maxlength, id : Protocolo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CodigoVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoVeiculo.text, attr: { for: CodigoVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigoVeiculo.requiredClass, value: CodigoVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoVeiculo.maxlength, id : CodigoVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigoVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CodigoMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoMotorista.text, attr: { for: CodigoMotorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CodigoMotorista.requiredClass, value: CodigoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMotorista.maxlength, id : CodigoMotorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CodigoMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>                            

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="wid-id-1">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Ordens de Embarque
            </h3>
        </div>
        <div class="panel-content">
            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="grid-ordem-embarque-integracao" cellspacing="0"></table>
        </div>
    </div>
    <div class="co-l2 mt-12 ms-2 mb-3">
        <span><b>Legendas:</b> </span>
        <div class="badge legend green me-2">
            <b>Integrado com Sucesso</b>
        </div>
        <div class="badge legend red me-2">
            <b>Problemas na Integração</b>
        </div>
        <div class="badge legend blue me-2">
            <b>Aguardando Integração</b>
        </div>
        <div class="badge legend yellow me-2">
            <b>Aguardando Retorno</b>
        </div>
        <div class="badge legend orange me-2">
            <b>Cancelada</b>
        </div>
    </div>

</div>

<div id="divModalMonitoramentoLogisticoIntegracaoHistorico" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="grid-ordem-embarque-integracao-historico"></table>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/monitoramentoLogisticoIntegracao"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMonitoramentoLogisticoIntegracao();
    });

</script>
