
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Cargas</li>
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Motivo Avaliação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Motivo Avaliação
    </h1>
</div>

<div id="knockoutPesquisaMotivoAvaliacao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Motivo Avaliação
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Motivo de Avaliação
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutMotivoAvaliacao">
                    <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind="value: Descricao.val,class: Descricao.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text"></label>
                            <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.val, attr: { maxlength: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.maxlength, name: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.id, id: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.id }">
                                <label class="custom-control-label" data-bind="text: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.text, attr: { for: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: GerarAtendimentoAutomaticoQuandoAvalicaoForUmaEstrela.val">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="class: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Motivo.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDMotivoAvaliacao">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/motivoAvaliacao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadMotivoAvaliacao();
    });

</script>