
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Parâmetros de Ofertas</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Parâmetros de Ofertas de Cargas
        </h1>
    </div>

    <div id="knockoutPesquisaParametrosOfertas">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>Pesquisar Parâmetros de Ofertas</span>
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="d-flex align-items-center justify-content-end mb-2">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid }" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-3" id="divParametrosOfertas" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" id="liTabDetalhes">
                        <a href="#knockoutDetalhes" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-edit"></i><span class="hidden-mobile hidden-tablet">Detalhes</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabDadosOferta">
                        <a href="#tabDadosOfertas" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-computer-classic"></i> <span class="hidden-mobile hidden-tablet">Dados da Oferta</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabFilial">
                        <a href="#tabFilial" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-city"></i> <span class="hidden-mobile hidden-tablet">Filial</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabTipoOperacao">
                        <a href="#tabTipoOperacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-cube"></i><span class="hidden-mobile hidden-tablet">Tipo de Operação</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabTipoCarga">
                        <a href="#tabTipoCarga" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-bags-shopping"></i><span class="hidden-mobile hidden-tablet">Tipo de Carga</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabTransportador">
                        <a href="#tabEmpresa" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-truck"></i><span class="hidden-mobile hidden-tablet">Transportador</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabMotorista">
                        <a href="#tabFuncionario" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-user"></i><span class="hidden-mobile hidden-tablet">Motorista</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liTabIntegracoes">
                        <a href="#tabTipoIntegracao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-fw fa-brackets-curly"></i> <span class="hidden-mobile hidden-tablet">Integrações</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liTabGrupoMotoristas">
                        <a href="#tabGrupoMotoristas" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-users"></i> <span class="hidden-mobile hidden-tablet">Grupo de Motoristas</span>
                        </a>
                    </li>
                </ul>
                <div id="divParametrosOfertasConteudo">
                    <div class="tab-content border border-top-0 p-3" id="tabParametrosOfertasContent">

                        <div class="tab-pane fade active show" id="knockoutDetalhes" role="tabpanel">
                            <form novalidate>
                                <div class="row">

                                    <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                            <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>

                            
                        </div>

                        <div class="tab-pane fade" id="tabDadosOfertas" role="tabpanel">
                            <form novalidate>
                                <div class="row" id="knockoutParametrosOfertasDadosOferta">

                                    <div class="col-12 col-md-3" data-bind="visible: DiasSemana.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DiasSemana.text, attr: { for: DiasSemana.id }"></label>
                                            <select class="form-control" data-bind="class: DiasSemana.requiredClass, options: DiasSemana.options, optionsText: 'text', optionsValue: 'value', selectedOptions: DiasSemana.val, attr: { maxlength: DiasSemana.maxlength, id : DiasSemana.id}" multiple="multiple"></select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3" data-bind="visible: HoraInicio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: HoraInicio.text, attr: { for: HoraInicio.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: HoraInicio.requiredClass, value: HoraInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicio.maxlength, id : HoraInicio.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3" data-bind="visible: HoraTermino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: HoraTermino.text, attr: { for: HoraTermino.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: HoraTermino.requiredClass, value: HoraTermino.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraTermino.maxlength, id : HoraTermino.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3" data-bind="visible: Raio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Raio.text"></label>
                                            <input type="text" class="form-control" data-bind="class: Raio.requiredClass, value: Raio.val, valueUpdate: 'afterkeydown', attr: { maxlength: Raio.maxlength, id : Raio.id}" />
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end mt-3">
                                        <button type="button" class="btn btn-primary" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id }">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>

                                    <div class="widget-body mt-3">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                    </div>
                                </div>
                            </form>


                        </div>

                        <div class="tab-pane fade" id="tabFilial" role="tabpanel">
                            <div id="knockoutFiliais">
                                <div class="row">
                                    <div class="col-12 mb-2 mt-2">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Filial.idBtnSearch}, visible: Filial.visible">
                                            <i class="fal fa-plus"></i><span data-bind="text: Filial.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabTipoOperacao" role="tabpanel">
                            <div id="knockoutTipoOperacao">
                                <div class="row">
                                    <div class="col-12 mb-2 mt-2">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: TipoOperacao.idBtnSearch}, visible: TipoOperacao.visible">
                                            <i class="fal fa-plus"></i><span data-bind="text: TipoOperacao.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabTipoCarga" role="tabpanel">
                            <div id="knockoutTiposCarga">
                                <div class="row">
                                    <div class="col-12 mb-2 mt-2">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}, visible: TipoCarga.visible">
                                            <i class="fal fa-plus"></i><span data-bind="text: TipoCarga.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="tabEmpresa" role="tabpanel">
                            <div id="knockoutEmpresas">
                                <div class="row">
                                    <div class="col-12 mb-2 mt-2">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Empresa.idBtnSearch}, visible: Empresa.visible">
                                            <i class="fal fa-plus"></i><span data-bind="text: Empresa.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabFuncionario" role="tabpanel">
                            <div id="knockoutFuncionarios">
                                <div class="row">
                                    <div class="col-12 mb-2 mt-2">
                                        <button class="btn btn-primary" type="button" data-bind="attr: { id: Funcionario.idBtnSearch}, visible: Funcionario.visible, enable: Funcionario.enable">
                                            <i class="fal fa-plus"></i><span data-bind="text: Funcionario.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>     

                        <div class="tab-pane fade" id="tabTipoIntegracao" role="tabpanel">
                            <form novalidate>
                                <div class="row" id="knockoutTipoIntegracao">

                                    <div class="col-12 col-md-12" data-bind="visible: TipoIntegracao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoIntegracao.text, attr: { for: TipoIntegracao.id }"></label>
                                            <select class="form-control" data-bind="class: TipoIntegracao.requiredClass, options: TipoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: TipoIntegracao.val, attr: { id : TipoIntegracao.id }"></select>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end mt-3">
                                        <button type="button" class="btn btn-primary" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>

                                    <div class="col-12 col-md-12 mt-3">
                                        <table class="table table-bordered table-hover" data-bind="attr: { id: Grid.id }" cellspacing="0"></table>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="tabGrupoMotoristas" role="tabpanel">
                            <form novalidate>
                                <div class="row" id="knockoutGrupoMotoristas">

                                    <div class="col-12 col-md-10" data-bind="visible: GrupoMotoristas.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoMotoristas.text, attr: { for: GrupoMotoristas.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="value: GrupoMotoristas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoMotoristas.maxlength, id : GrupoMotoristas.id}, class: GrupoMotoristas.requiredClass," />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button" data-bind="attr: { id: GrupoMotoristas.idBtnSearch }">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <footer id="knockoutCRUDGeral">
                            <div class="row">
                                <div class="d-flex justify-content-end mt-3 gap-2">

                                    <button type="button" class="btn btn-labeled btn-default mr-6" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id }">
                                        <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>

                                    <button type="button" class="btn btn-success ml-6" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id }">
                                        <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                    </button>

                                    <button type="button" class="btn btn-success" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id }">
                                        <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                    </button>

                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="propriedade-informacao-transportador" type="text/html">
    <div class="col-12 col-md-6" data-bind="visible: Propriedade.visible">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" data-bind="checked: Propriedade.val, attr: { maxlength: Propriedade.maxlength, name: Propriedade.id, id: Propriedade.id }">
                <label class="custom-control-label" data-bind="text: Propriedade.text, attr: { for: Propriedade.id }"></label>
            </div>
        </div>
    </div>
</script>


<script id="propriedade-informacao-janela" type="text/html">
    <div class="col-12 col-md-6" data-bind="visible: Propriedade.visible">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" data-bind="checked: Propriedade.val, attr: { maxlength: Propriedade.maxlength, name: Propriedade.id, id: Propriedade.id }">
                <label class="custom-control-label" data-bind="text: Propriedade.text, attr: { for: Propriedade.id }"></label>
            </div>
        </div>
    </div>
</script>
<link rel="stylesheet" href="~/css/summernote" />

<script src="~/scripts/ofertas"></script>
<script src="~/scripts/summernote"></script>

<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Configuracoes));

    $(document).ready(function () {
        LoadParametrosOfertas();
    });

</script>
