
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Sugestões de Pré Planejamentos</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i></i> Sugestões de Pré Planejamentos
        </h1>
    </div>
    <div id="knockoutPesquisaProgramacaoCarga">
        <div class="panel">
            <div id="container-pesquisa-programacao-carga">
                <div class="panel-container">
                    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <div class="panel-content">
                            <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                                <i class="fal fa-filter"></i> <span>Pesquisa</span>
                            </button>
                            <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                                <form>
                                    <div class="row mt-3">
                                        <div class="col-12 col-md-6" data-bind="visible: ConfiguracaoProgramacaoCarga.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ConfiguracaoProgramacaoCarga.text, attr: { for: ConfiguracaoProgramacaoCarga.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: ConfiguracaoProgramacaoCarga.requiredClass, value: ConfiguracaoProgramacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfiguracaoProgramacaoCarga.maxlength, id : ConfiguracaoProgramacaoCarga.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ConfiguracaoProgramacaoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: DataProgramacaoInicial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataProgramacaoInicial.text"></label>
                                                <input type="text" class="form-control" data-bind="class: DataProgramacaoInicial.requiredClass, value: DataProgramacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoInicial.maxlength, id : DataProgramacaoInicial.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: DataProgramacaoFinal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataProgramacaoFinal.text"></label>
                                                <input type="text" class="form-control" data-bind="class: DataProgramacaoFinal.requiredClass, value: DataProgramacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoFinal.maxlength, id : DataProgramacaoFinal.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible : Situacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { id : Situacao.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todas"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Busca Avancada -->
                                    <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: ModeloVeicularCarga.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <footer class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <button class="btn btn-warning waves-effect waves-themed me-2" data-bind="visible: AdicionarSugestao.visible, click: AdicionarSugestao.eventClick, attr: { id: AdicionarSugestao.id}" type="button">
                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarSugestao.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-warning waves-effect waves-themed me-2" data-bind="click: GerarSugestoes.eventClick, visible: GerarSugestoes.visible, attr: { value: GerarSugestoes.text, id : GerarSugestoes.id}">
                                            <i class="fal fa-file-alt"></i><span data-bind="text: GerarSugestoes.text"></span>
                                        </button>
                                    </div>
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-default waves-effect waves-themed me-2" data-bind="click: BuscaAvancada.eventClick, visible: BuscaAvancada.visible, attr: { value: BuscaAvancada.text, id : BuscaAvancada.id}">
                                            <i class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary waves-effect waves-themed me-2" data-bind="click: Pesquisar.eventClick, visible: Pesquisar.visible, attr: { value: Pesquisar.text, id : Pesquisar.id}">
                                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                        </button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none;" id="container-dados-programacao-carga">
            <div class="panel mt-3" data-bind="visible: ResumoProgramacaoCarga.visible">
                <div class="panel-container">
                    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <div class="panel-content">
                            <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirDadosResumo.eventClick, id: ExibirDadosResumo.id">
                                <i class="fal fa-table"></i> <span>Resumo</span>
                            </button>
                            <div data-bind="id: ExibirDadosResumo.idFade, fadeVisible: ExibirDadosResumo.visibleFade" class="mt-3">
                                <div class="smart-form">
                                    <fieldset class="fieldset-no-padding">
                                        <table width="100%" class="table table-bordered table-condensed no-footer dataTable JColResizer" cellspacing="0">
                                            <thead>
                                                <tr class="font-ambar">
                                                    <th class="text-align-center" title="Modelo Veicular">Modelo Veicular</th>
                                                    <th class="text-align-center" title="Tipo de Carga">Tipo de Carga</th>
                                                    <th class="text-align-center" title="Destino">Destino</th>
                                                    <th class="text-align-center" title="Qtde. Sugerida">Qtde. Sugerida</th>
                                                    <th class="text-align-center" title="Qtde. Validada">Qtde. Validada</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- ko foreach: { data: ListaResumoProgramacaoCarga, as: 'Resumo' } -->
                                                <tr class="text-align-center">
                                                    <td data-bind="text: Resumo.ModeloVeicular, attr: { title: Resumo.ModeloVeicular }"></td>
                                                    <td data-bind="text: Resumo.TipoCarga, attr: { title: Resumo.TipoCarga }"></td>
                                                    <td data-bind="text: Resumo.Destino, attr: { title: Resumo.Destino }"></td>
                                                    <td data-bind="text: Resumo.QuantidadeSugerida"></td>
                                                    <td data-bind="text: Resumo.QuantidadeValidada"></td>
                                                </tr>
                                                <!-- /ko -->
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td style="border-right: 0;" colspan="2"></td>
                                                    <td class="text-align-center fw-bold font-cyan">Total</td>
                                                    <td class="text-align-center" data-bind="text: ResumoProgramacaoCarga.totalSugerido"></td>
                                                    <td class="text-align-center" data-bind="text: ResumoProgramacaoCarga.totalValidado"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 mb-4">
                <span><b>Legendas:</b> </span>
                <div class="badge legend legenda-cor-azul">
                    <b>Gerada</b>
                </div>
                <div class="badge legend legenda-cor-verde">
                    <b>Publicada</b>
                </div>
                <div class="badge legend legenda-cor-vermelha">
                    <b>Cancelada</b>
                </div>
            </div>

            <div class="panel">
                <div class="panel-container">
                    <div class="panel-hdr">
                        <h4>
                            <i class="fal fa-table"></i>
                            Pré Planejamentos Sugeridos
                        </h4>
                    </div>
                    <div class="p-3 border-0 shadow-none">
                        <div class="border-0 shadow-none">
                            <div class="row">
                                <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                            <footer class="d-flex justify-content-end mt-3" data-bind="visible: CancelarTodas.visible() || PublicarTodas.visible()">
                                <button data-bind="click: CancelarTodas.eventClick, attr: { id: CancelarTodas.id }, visible: CancelarTodas.visible" class="btn btn-danger" type="button">
                                    <span data-bind="text: CancelarTodas.text"></span>
                                </button>
                                <button data-bind="click: PublicarTodas.eventClick, attr: { id: PublicarTodas.id }, visible: PublicarTodas.visible" class="btn btn-warning ms-3" type="button">
                                    <span data-bind="text: PublicarTodas.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalProgramacaoCargaAdicionar" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Sugestão de Pré Planejamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutProgramacaoCargaAdicionar">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: ModeloVeicularCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: DataProgramacaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataProgramacaoInicial.text, attr: { for: DataProgramacaoInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataProgramacaoInicial.requiredClass, value: DataProgramacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoInicial.maxlength, id : DataProgramacaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: DataProgramacaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataProgramacaoFinal.text, attr: { for: DataProgramacaoFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataProgramacaoFinal.requiredClass, value: DataProgramacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoFinal.maxlength, id : DataProgramacaoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Quantidade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Destinos</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="nav nav-tabs">
                                            <li id="litabProgramacaoCargaAdicionarCidadesDestino" class="nav-item active">
                                                <a href="#tabProgramacaoCargaAdicionarCidadesDestino" data-bs-toggle="tab" class="nav-link active" aria-expanded="true">Cidades</a>
                                            </li>
                                            <li id="litabProgramacaoCargaAdicionarEstadosDestino" class="nav-item">
                                                <a href="#tabProgramacaoCargaAdicionarEstadosDestino" data-bs-toggle="tab" class="nav-link" aria-expanded="false">Estados</a>
                                            </li>
                                            <li id="litabProgramacaoCargaAdicionarRegioesDestino" class="nav-item">
                                                <a href="#tabProgramacaoCargaAdicionarRegioesDestino" data-bs-toggle="tab" class="nav-link" aria-expanded="false">Regiões</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content border border-top-0 p-3">
                                            <div id="tabProgramacaoCargaAdicionarCidadesDestino" class="tab-pane fade active show">
                                                <div class="row">
                                                    <div class="d-flex">
                                                        <button data-bind="attr: { id: AdicionarDestinos.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarDestinos.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: {id: AdicionarDestinos.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <div id="tabProgramacaoCargaAdicionarEstadosDestino" class="tab-pane fade">
                                                <div class="row">
                                                    <div class="d-flex">
                                                        <button data-bind="attr: { id: AdicionarEstadosDestino.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarEstadosDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: AdicionarEstadosDestino.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>

                                            <div id="tabProgramacaoCargaAdicionarRegioesDestino" class="tab-pane fade">
                                                <div class="row">
                                                    <div class="d-flex">
                                                        <button data-bind="attr: { id: AdicionarRegioesDestino.idBtnSearch}" class="btn btn-primary mb-2" type="button">
                                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarRegioesDestino.text"></span>
                                                        </button>
                                                    </div>
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: AdicionarRegioesDestino.idGrid}" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success">
                </footer>
            </div>
        </div>
    </div>
</div>

<div id="divModalProgramacaoCargaGerar" class="modal fade" role="dialog" aria-hidden="true">
    <div id="myModalLabel" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Gerar Sugestões de Pré Planejamento</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutProgramacaoCargaGerar">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: ConfiguracaoProgramacaoCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ConfiguracaoProgramacaoCarga.text, attr: { for: ConfiguracaoProgramacaoCarga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ConfiguracaoProgramacaoCarga.requiredClass, value: ConfiguracaoProgramacaoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfiguracaoProgramacaoCarga.maxlength, id : ConfiguracaoProgramacaoCarga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ConfiguracaoProgramacaoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DataHistoricoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataHistoricoInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataHistoricoInicial.requiredClass, value: DataHistoricoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHistoricoInicial.maxlength, id : DataHistoricoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DataHistoricoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataHistoricoFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataHistoricoFinal.requiredClass, value: DataHistoricoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHistoricoFinal.maxlength, id : DataHistoricoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DataProgramacaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataProgramacaoInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataProgramacaoInicial.requiredClass, value: DataProgramacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoInicial.maxlength, id : DataProgramacaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DataProgramacaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataProgramacaoFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataProgramacaoFinal.requiredClass, value: DataProgramacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoFinal.maxlength, id : DataProgramacaoFinal.id}" />
                        </div>
                    </div>
                </div>

                <footer class="d-flex justify-content-end mt-3">
                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Gerar.eventClick, attr: { value: Gerar.text, id : Gerar.id}" class="btn btn-success">
                </footer>
            </div>
        </div>
    </div>
</div>

<style>
    .legenda-cor-azul {
        background-color: #91a8ee;
        color: #1c41b0;
    }

    .legenda-cor-verde {
        background-color: #80ff80;
        color: #009900;
    }

    .legenda-cor-vermelha {
        background-color: #ff6666;
        color: #b30000;
    }

    .item-selecionado {
        background-color: #bdbdbd !important;
        border-color: #adadad !important;
    }

    .item-selecionado td {
        color: #333333 !important;
    }

    .resumo-programacao-carga-dados-dados {
        padding: 0 15px;
    }
</style>

<script src="~/scripts/programacaoCarga"></script>

<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesProgramacaoCarga));

    $(document).ready(function () {
       loadProgramacaoCarga();
    });

</script>
