
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Redespacho</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Redespacho/Reentrega
    </h1>
</div>

<div id="knockoutPesquisaRedespacho">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Redespacho
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroRedespacho.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroRedespacho.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroRedespacho.val, attr: { maxlength: NumeroRedespacho.maxlength, id : NumeroRedespacho.id}, enable: NumeroRedespacho.enable" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}, enable: DataInicio.enable" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFim.val, attr: { maxlength: DataFim.maxlength, id : DataFim.id}, enable: DataFim.enable" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Expedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, enable: TipoOperacao.enable, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: TipoOperacao.enable, attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Redespacho/Reentrega
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutCadastroRedespacho">
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: NumeroRedespacho.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroRedespacho.text"></label>
                            <input type="text" class="form-control" data-bind="value: NumeroRedespacho.val,enable:NumeroRedespacho.enable, attr: { maxlength: NumeroRedespacho.maxlength, id : NumeroRedespacho.id}, enable: NumeroRedespacho.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, enable: Carga.enable,value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Carga.enable, attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Cargas.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Cargas.text, attr: { for: Cargas.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Cargas.requiredClass, value: Cargas.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cargas.maxlength, id : Cargas.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cargas.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Expedidor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, enable:Expedidor.enable,value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind=" enable:Expedidor.enable,attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <div data-bind="visible: GerarRedespacho.visible">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Pedidos</div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end mb-3">
                                        <button class="btn btn-default" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}" type="button">
                                            <i class="fal fa-check"></i>
                                            <span data-bind="text: SelecionarTodos.text"></span>
                                        </button>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-condensed table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: GerarRedespacho.visible" class="mt-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Dados para carga de Redespacho<span id="headGerarReentrega" style="display:none">/Reentrega</span>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, enable: TipoOperacao.enable, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: TipoOperacao.enable, attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Distancia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Distancia.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Distancia.val, enable: Distancia.enable, attr: { maxlength: Distancia.maxlength, id : Distancia.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TipoRedespacho.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoRedespacho.text, attr: { for: TipoRedespacho.id }"></label>
                                            <select class="form-control" data-bind="options: TipoRedespacho.options, enable: TipoRedespacho.enable, optionsText: 'text', optionsValue: 'value', value: TipoRedespacho.val, attr: { id : TipoRedespacho.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Recebedor.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Recebedor.text, attr: { for: Recebedor.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Recebedor.requiredClass, enable: Recebedor.enable, value: Recebedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Recebedor.maxlength, id : Recebedor.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Recebedor.enable, attr: { id: Recebedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: GerarRedespacho.eventClick, visible: GerarRedespacho.visible, attr: { value: GerarRedespacho.text, id : GerarRedespacho.id}">
                        <span data-bind="text: GerarRedespacho.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/redespacho"></script>
<script type="text/javascript">
    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesRedespacho));

    $(document).ready(function () {
        loadRedespacho();
    });

</script>

