
<style>
    .fieldset-padding {
        padding: 25px 29px 5px !important;
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Retorno Carga Coleta Backhaul</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Retorno de Cargas de Coleta Backhaul
    </h1>
</div>


<div id="knockoutPesquisaRetornoCargaColetaBackhaul">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Retornos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoCargaEmbarcador.val, attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Motorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa mx-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalDetalhesRetornoCargaColetaBackhaul" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knoutRetornoCargaColetaBackhaul">
            <div class="modal-header">
                <h4 class="modal-title">Retorno de Carga</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>Detalhes</h4>
                <hr />
                <form>
                    <div class="row">
                        <section data-bind="visible: Carga.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Carga.text"></b> <span data-bind="text: Carga.val"></span></label>
                        </section>
                        <section data-bind="visible: Filial.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Filial.text"></b> <span data-bind="text: Filial.val"></span></label>
                        </section>
                        <section data-bind="visible: DescricaoSituacao.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: DescricaoSituacao.text"></b> <span data-bind="text: DescricaoSituacao.val"></span></label>
                        </section>
                        <section data-bind="visible: Empresa.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Empresa.text"></b> <span data-bind="text: Empresa.val"></span></label>
                        </section>
                        <section data-bind="visible: Origem.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Origem.text"></b> <span data-bind="text: Origem.val"></span></label>
                        </section>
                        <section data-bind="visible: Destino.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destino.text"></b> <span data-bind="text: Destino.val"></span></label>
                        </section>
                        <section data-bind="visible: Remetente.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Remetente.text"></b> <span data-bind="text: Remetente.val"></span></label>
                        </section>
                        <section data-bind="visible: Destinatarios.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destinatarios.text"></b> <span data-bind="text: Destinatarios.val"></span></label>
                        </section>
                        <section data-bind="visible: Destinatario.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destinatario.text"></b> <span data-bind="text: Destinatario.val"></span></label>
                        </section>
                        <section data-bind="visible: (MotivoCancelamento.val() != '')" class="col-12 col-md-12">
                            <label><b data-bind="text: MotivoCancelamento.text"></b> <span data-bind="text: MotivoCancelamento.val"></span></label>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: CancelarCargaColetaBackhaul.eventClick,visible: CancelarCargaColetaBackhaul.visible, attr: {value: CancelarCargaColetaBackhaul.text, id : CancelarCargaColetaBackhaul.id}">
                    <i class="fal fa-ban"></i><span data-bind="text: CancelarCargaColetaBackhaul.text"></span>
                </button>
                <button type="button" class="btn btn-success" data-bind="click: ConfirmarCargaColetaBackhaul.eventClick,visible: ConfirmarCargaColetaBackhaul.visible, attr: {value: ConfirmarCargaColetaBackhaul.text, id : ConfirmarCargaColetaBackhaul.id}">
                    <span data-bind="text: ConfirmarCargaColetaBackhaul.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalCancelarRetornoCargaColetaBackhaul" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knoutCancelarRetornoCargaColetaBackhaul" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Retorno de Carga</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: MotivoCancelamento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: MotivoCancelamento.text, attr: { for: MotivoCancelamento.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: MotivoCancelamento.requiredClass, value: MotivoCancelamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoCancelamento.maxlength, id : MotivoCancelamento.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MotivoCancelamento.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: Confirmar.eventClick,visible: Confirmar.visible, attr: {value: Confirmar.text, id : Confirmar.id}">
                    <span data-bind="text: Confirmar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/retornoCargaColetaBackhaul"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRetornoCargaColetaBackhaul();
    });

</script>
