
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Retorno Carga</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> {Localize::Cargas.RetornoCarga.RetornoDeCargas}
    </h1>
</div>

<div id="knockoutPesquisaRetornoCarga">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    {Localize::Cargas.RetornoCarga.PesquisarRetornos}
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoCargaEmbarcador.val, attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Motorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa mx-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>             

<div class="modal fade" id="divModalDetalhesRetorno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knoutRetornoCarga">
            <div class="modal-header">
                <h4 class="modal-title">{Localize::Cargas.RetornoCarga.RetornoDeCarga}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>{Localize::Cargas.RetornoCarga.Detalhes}</h4>
                <hr />
                <form>
                    <div class="row">
                        <section data-bind="visible: Carga.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Carga.text"></b> <span data-bind="text: Carga.val"></span></label>
                        </section>
                        <section data-bind="visible: Filial.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Filial.text"></b> <span data-bind="text: Filial.val"></span></label>
                        </section>
                        <section data-bind="visible: DescricaoSituacao.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: DescricaoSituacao.text"></b> <span data-bind="text: DescricaoSituacao.val"></span></label>
                        </section>
                        <section data-bind="visible: Empresa.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Empresa.text"></b> <span data-bind="text: Empresa.val"></span></label>
                        </section>
                        <section data-bind="visible: Origem.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Origem.text"></b> <span data-bind="text: Origem.val"></span></label>
                        </section>
                        <section data-bind="visible: Destino.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destino.text"></b> <span data-bind="text: Destino.val"></span></label>
                        </section>
                        <section data-bind="visible: Remetente.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Remetente.text"></b> <span data-bind="text: Remetente.val"></span></label>
                        </section>
                        <section data-bind="visible: Destinatarios.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destinatarios.text"></b> <span data-bind="text: Destinatarios.val"></span></label>
                        </section>
                        <section data-bind="visible: Destinatario.visible" class="col-12 col-md-6 mb-3">
                            <label><b data-bind="text: Destinatario.text"></b> <span data-bind="text: Destinatario.val"></span></label>
                        </section>
                    </div>
                    <br />
                    <div class="row">
                        <h4>{Localize::Cargas.RetornoCarga.DadosParaRetorno}</h4>
                        <hr />
                        <div class="col-12 col-md-6" data-bind="visible: TipoRetornoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRetornoCarga.text, attr: { for: TipoRetornoCarga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRetornoCarga.requiredClass, value: TipoRetornoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRetornoCarga.maxlength, id : TipoRetornoCarga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRetornoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: PrevisaoChegada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PrevisaoChegada.text"></label>
                                <input type="text" class="form-control" data-bind="class: PrevisaoChegada.requiredClass, value: PrevisaoChegada.val, valueUpdate: 'afterkeydown', attr: { maxlength: PrevisaoChegada.maxlength, id : PrevisaoChegada.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ClienteColeta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ClienteColeta.text, attr: { for: ClienteColeta.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ClienteColeta.requiredClass, value: ClienteColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClienteColeta.maxlength, id : ClienteColeta.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ClienteColeta.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: RetornarSomenteComTracao.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: RetornarSomenteComTracao.val, attr: { maxlength: RetornarSomenteComTracao.maxlength, name: RetornarSomenteComTracao.id, id: RetornarSomenteComTracao.id }">
                                    <label class="custom-control-label" data-bind="text: RetornarSomenteComTracao.text, attr: { for: RetornarSomenteComTracao.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: PontosDeColeta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PontosDeColeta.text, attr: { for: PontosDeColeta.id }"></label>
                                <select class="form-control" data-bind="options: PontosDeColeta.options, optionsText: 'text', optionsValue: 'value', enable: PontosDeColeta.enable, value: PontosDeColeta.val, attr: { id : PontosDeColeta.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Reboque.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind=" value: Reboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: Reboque.maxlength, id : Reboque.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Reboque.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: SegundoReboque.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SegundoReboque.text, attr: { for: SegundoReboque.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SegundoReboque.requiredClass, value: SegundoReboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: SegundoReboque.maxlength, id : SegundoReboque.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SegundoReboque.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: CancelarRetorno.eventClick,visible: CancelarRetorno.visible, attr: {value: CancelarRetorno.text, id : CancelarRetorno.id}">
                    <i class="fal fa-ban"></i><span data-bind="text: CancelarRetorno.text"></span>
                </button>
                <button type="button" class="btn btn-success" data-bind="click: GerarRetorno.eventClick,visible: GerarRetorno.visible, attr: {value: GerarRetorno.text, id : GerarRetorno.id}">
                    <span data-bind="text: GerarRetorno.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>                                                            

<script src="~/scripts/retornoCarga"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        
        LoadLocalizationResources("Cargas.RetornoCarga").then(loadRetornoCarga);
    });

</script>
