
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Tipo de Trecho</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Tipo de Trecho
    </h1>
</div>
<div id="knockoutPesquisaTipoTrecho">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    Pesquisar Tipos de Trecho
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">

            <ul class="nav nav-tabs">
                <li class="nav-item active" id="litabDetalhes">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i> <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item" id="litabTiposOperacao">
                    <a href="#tabTiposOperacao" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-sitemap"></i> <span class="hidden-mobile hidden-tablet">Tipos de Operação</span>
                    </a>
                </li>
                <li class="nav-item" id="litabClientesOrigem">
                    <a href="#tabClientesOrigem" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-user"></i> <span class="hidden-mobile hidden-tablet">Origem</span>
                    </a>
                </li>
                <li class="nav-item" id="litabClientesDestino">
                    <a href="#tabClientesDestino" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-user"></i> <span class="hidden-mobile hidden-tablet">Destino</span>
                    </a>
                </li>
                <li class="nav-item" id="litabCategoriasOrigem">
                    <a href="#tabCategoriasOrigem" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-solid fa-users"></i> <span class="hidden-mobile hidden-tablet">Categorias de Origem</span>
                    </a>
                </li>
                <li class="nav-item" id="litabCategoriasDestino">
                    <a href="#tabCategoriasDestino" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-solid fa-users"></i> <span class="hidden-mobile hidden-tablet">Categorias de Destino</span>
                    </a>
                </li>
                <li class="nav-item" id="litabCategoriasExpedidor">
                    <a href="#tabCategoriasExpedidor" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-solid fa-users"></i> <span class="hidden-mobile hidden-tablet">Categorias de Expedidor</span>
                    </a>
                </li>
                <li class="nav-item" id="litabCategoriasRecebedor">
                    <a href="#tabCategoriasRecebedor" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-solid fa-users"></i> <span class="hidden-mobile hidden-tablet">Categorias de Recebedor</span>
                    </a>
                </li>
                <li class="nav-item" id="litabModelosVeiculares">
                    <a href="#tabModelosVeiculares" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-solid fa-truck"></i> <span class="hidden-mobile hidden-tablet">Modelos Veiculares</span>
                    </a>
                </li>
            </ul>


            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                    <div id="knockoutTipoTrechoDetalhes" class="row">

                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabTiposOperacao" role="tabpanel">
                    <div id="knockoutTipoTrechoTiposOperacao">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Tipos de Operação do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaTiposOperacao.idBtnSearch, text: ListaTiposOperacao.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaTiposOperacao.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaTiposOperacao.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabClientesOrigem" role="tabpanel">
                    <div id="knockoutTipoTrechoClientesOrigem">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Clientes Origem do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaClientesOrigem.idBtnSearch, text: ListaClientesOrigem.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaClientesOrigem.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaClientesOrigem.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabClientesDestino" role="tabpanel">
                    <div id="knockoutTipoTrechoClientesDestino">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Clientes Destino do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaClientesDestino.idBtnSearch, text: ListaClientesDestino.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaClientesDestino.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaClientesDestino.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabCategoriasOrigem" role="tabpanel">
                    <div id="knockoutTipoTrechoCategoriasOrigem">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Categorias de Origem do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaCategoriasOrigem.idBtnSearch, text: ListaCategoriasOrigem.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaCategoriasOrigem.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaCategoriasOrigem.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabCategoriasDestino" role="tabpanel">
                    <div id="knockoutTipoTrechoCategoriasDestino">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Categorias de Destino do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaCategoriasDestino.idBtnSearch, text: ListaCategoriasDestino.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaCategoriasDestino.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaCategoriasDestino.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabCategoriasExpedidor" role="tabpanel">
                    <div id="knockoutTipoTrechoCategoriasExpedidor">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Categorias de Expedidor do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaCategoriasExpedidor.idBtnSearch, text: ListaCategoriasExpedidor.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaCategoriasExpedidor.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaCategoriasExpedidor.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabCategoriasRecebedor" role="tabpanel">
                    <div id="knockoutTipoTrechoCategoriasRecebedor">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Categorias de Recebedor do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaCategoriasRecebedor.idBtnSearch, text: ListaCategoriasRecebedor.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaCategoriasRecebedor.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaCategoriasRecebedor.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabModelosVeiculares" role="tabpanel">
                    <div id="knockoutTipoTrechoModelosVeiculares">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Modelos Veiculares do Tipo de Trecho</h3>

                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ListaModelosVeiculares.idBtnSearch, text: ListaModelosVeiculares.text }">
                                        <i class="fal fa-plus"></i><span data-bind="text: ListaModelosVeiculares.text"></span>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ListaModelosVeiculares.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer id="knockoutCRUDTipoTrecho" class="d-flex justify-content-end mt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tipoTrecho"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadTipoTrecho();
    });

</script>