

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item">Tratativas Ocorrência Entrega</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Tratativas Ocorrência Entrega
    </h1>
</div>

<div id="knockoutPesquisaTratativaOcorrenciaEntrega">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Tratativas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOcorrencia.text, attr: { for: TipoOcorrencia.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoOcorrencia.requiredClass, value: TipoOcorrencia.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoOcorrencia.text, maxlength: TipoOcorrencia.maxlength, id: TipoOcorrencia.id, name: TipoOcorrencia.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoOcorrencia.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Tratativa de Ocorrência de Entrega
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutTratativaOcorrenciaEntrega">
                <div class="row">
                    <div class="col-12 col-md-5" data-bind="visible: Tratativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tratativa.text"></label>
                            <select class="form-control" data-bind="options: Tratativa.options, optionsText: 'text', optionsValue: 'value', value: Tratativa.val, attr: { id : Tratativa.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-5" data-bind="visible : TipoDevolucao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoDevolucao.text"></label>
                            <select class="form-control" data-bind="options: TipoDevolucao.options, optionsText: 'text', optionsValue: 'value', value: TipoDevolucao.val, enable: TipoDevolucao.enable, attr: { id : TipoDevolucao.id}"></select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12" data-bind="visible: TipoOcorrencia.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: TipoOcorrencia.text"></label>
                        <div class="input-group">
                            <input type="text" data-bind="css: TipoOcorrencia.requiredClass, value: TipoOcorrencia.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoOcorrencia.text, maxlength: TipoOcorrencia.maxlength, id: TipoOcorrencia.id, name: TipoOcorrencia.id }" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoOcorrencia.idBtnSearch}">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row mt-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>

        </div>
    </div>
</div>



<script src="~/scripts/tratativaOcorrenciaEntrega"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadTratativaOcorrenciaEntrega();
    });

</script>
