
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pagamentos Motoristas</li>
    <li class="breadcrumb-item active">Pagamento Motorista Tipo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Tipo Pagamento ao Motorista
    </h1>
</div>

<div id="knockoutPesquisaPagamentoMotoristaTipo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Tipo Pagamento
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3">
    <div id="knockoutCadastroRota" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabMovimentoFinanceiro">
                    <a href="#tabMovimentoFinanceiro" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Movimento Financeiro</span>
                    </a>
                </li>
            </ul>
            <div id="knockoutCadastroPagamentoMotoristaTipo">
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                        <form novalidate>
                            <div class="row">
                                <div class="col-12 col-md-10" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                        <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoIntegracaoPagamentoMotorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoIntegracaoPagamentoMotorista.text, attr: { for: TipoIntegracaoPagamentoMotorista.id }"></label>
                                        <select class="form-control" data-bind="class: TipoIntegracaoPagamentoMotorista.requiredClass, options: TipoIntegracaoPagamentoMotorista.options, optionsText: 'text', optionsValue: 'value', value: TipoIntegracaoPagamentoMotorista.val, attr: { maxlength: TipoIntegracaoPagamentoMotorista.maxlength, id : TipoIntegracaoPagamentoMotorista.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracaoTipo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracaoTipo.text, attr: { for: CodigoIntegracaoTipo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracaoTipo.requiredClass, value: CodigoIntegracaoTipo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoTipo.maxlength, id : CodigoIntegracaoTipo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoPagamentoMotorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoPagamentoMotorista.text, attr: { for: TipoPagamentoMotorista.id }"></label>
                                        <select class="form-control" data-bind="class: TipoPagamentoMotorista.requiredClass, options: TipoPagamentoMotorista.options, optionsText: 'text', optionsValue: 'value', value: TipoPagamentoMotorista.val, attr: { maxlength: TipoPagamentoMotorista.maxlength, id : TipoPagamentoMotorista.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: FormaPagamentoMotorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: FormaPagamentoMotorista.text, attr: { for: FormaPagamentoMotorista.id }"></label>
                                        <select class="form-control" data-bind="class: FormaPagamentoMotorista.requiredClass, options: FormaPagamentoMotorista.options, optionsText: 'text', optionsValue: 'value', value: FormaPagamentoMotorista.val, attr: { maxlength: FormaPagamentoMotorista.maxlength, id : FormaPagamentoMotorista.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: AssuntoEmail.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AssuntoEmail.text, attr: { for: AssuntoEmail.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AssuntoEmail.requiredClass, value: AssuntoEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: AssuntoEmail.maxlength, id : AssuntoEmail.id}" />
                                    </div>
                                </div>
                                <section data-bind="visible: AssuntoEmail.visible" class="col col-12" style="margin-top:-10px">
                                    <span>Tags: </span>
                                    <input type="button" data-bind="click: AssuntoTagNumero.eventClick, visible: AssuntoTagNumero.visible, attr: { value: AssuntoTagNumero.text, id : AssuntoTagNumero.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: AssuntoTagFornecedor.eventClick, visible: AssuntoTagFornecedor.visible, attr: { value: AssuntoTagFornecedor.text, id : AssuntoTagFornecedor.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: AssuntoTagValor.eventClick, visible: AssuntoTagValor.visible, attr: { value: AssuntoTagValor.text, id : AssuntoTagValor.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: AssuntoTagMotorista.eventClick, visible: AssuntoTagMotorista.visible, attr: { value: AssuntoTagMotorista.text, id : AssuntoTagMotorista.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: AssuntoTagUsuario.eventClick, visible: AssuntoTagUsuario.visible, attr: { value: AssuntoTagUsuario.text, id : AssuntoTagUsuario.id}" class="btn btn-labeled btn-default botaoTags" />
                                </section>
                                <div class="col-12 col-md-12" data-bind="visible: CorpoEmail.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CorpoEmail.text, attr: { for: CorpoEmail.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: CorpoEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: CorpoEmail.maxlength, id : CorpoEmail.id }"></textarea>
                                    </div>
                                </div>
                                <section data-bind="visible: CorpoEmail.visible" class="col col-12" style="margin-top:-10px">
                                    <span>Tags: </span>
                                    <input type="button" data-bind="click: CorpoTagNumero.eventClick, visible: CorpoTagNumero.visible, attr: { value: CorpoTagNumero.text, id : CorpoTagNumero.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: CorpoTagFornecedor.eventClick, visible: CorpoTagFornecedor.visible, attr: { value: CorpoTagFornecedor.text, id : CorpoTagFornecedor.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: CorpoTagValor.eventClick, visible: CorpoTagValor.visible, attr: { value: CorpoTagValor.text, id : CorpoTagValor.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: CorpoTagMotorista.eventClick, visible: CorpoTagMotorista.visible, attr: { value: CorpoTagMotorista.text, id : CorpoTagMotorista.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: CorpoTagUsuario.eventClick, visible: CorpoTagUsuario.visible, attr: { value: CorpoTagUsuario.text, id : CorpoTagUsuario.id}" class="btn btn-labeled btn-default botaoTags" />
                                    <input type="button" data-bind="click: CorpoTagQuebraLinha.eventClick, visible: CorpoTagQuebraLinha.visible, attr: { value: CorpoTagQuebraLinha.text, id : CorpoTagQuebraLinha.id}" class="btn btn-labeled btn-default botaoTags" />
                                </section>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracaoEfetivacaoAdiantamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracaoEfetivacaoAdiantamento.text, attr: { for: CodigoIntegracaoEfetivacaoAdiantamento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracaoEfetivacaoAdiantamento.requiredClass, value: CodigoIntegracaoEfetivacaoAdiantamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoEfetivacaoAdiantamento.maxlength, id : CodigoIntegracaoEfetivacaoAdiantamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracaoTipoParcelaAdiantamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracaoTipoParcelaAdiantamento.text, attr: { for: CodigoIntegracaoTipoParcelaAdiantamento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracaoTipoParcelaAdiantamento.requiredClass, value: CodigoIntegracaoTipoParcelaAdiantamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoTipoParcelaAdiantamento.maxlength, id : CodigoIntegracaoTipoParcelaAdiantamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracaoImportacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracaoImportacao.text, attr: { for: CodigoIntegracaoImportacao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoIntegracaoImportacao.requiredClass, value: CodigoIntegracaoImportacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoImportacao.maxlength, id : CodigoIntegracaoImportacao.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="tabMovimentoFinanceiro" role="tabpanel">
                        <div class="row">
                            <div class=" ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirMultiplosPagamentosAbertosParaMesmoMotorista.val, attr: { name: PermitirMultiplosPagamentosAbertosParaMesmoMotorista.id, id: PermitirMultiplosPagamentosAbertosParaMesmoMotorista.id }">
                                <label class="custom-control-label" data-bind="text: PermitirMultiplosPagamentosAbertosParaMesmoMotorista.text, attr: { for: PermitirMultiplosPagamentosAbertosParaMesmoMotorista.id }"></label>
                            </div>
                            <div class=" ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: NaoPermitirCancelamento.val, attr: { name: NaoPermitirCancelamento.id, id: NaoPermitirCancelamento.id }">
                                <label class="custom-control-label" data-bind="text: NaoPermitirCancelamento.text, attr: { for: NaoPermitirCancelamento.id }"></label>
                            </div>
                            <div class=" ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarMovimentoAutomatico.val, attr: { name: GerarMovimentoAutomatico.id, id: GerarMovimentoAutomatico.id }">
                                <label class="custom-control-label" data-bind="text: GerarMovimentoAutomatico.text, attr: { for: GerarMovimentoAutomatico.id }"></label>
                            </div>
                            <div data-bind="id: GerarMovimentoAutomatico.idFade, fadeVisible: GerarMovimentoAutomatico.visibleFade" class="row">
                                <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoLancamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimentoLancamento.text, attr: { for: TipoMovimentoLancamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimentoLancamento.requiredClass, value: TipoMovimentoLancamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoLancamento.maxlength, id : TipoMovimentoLancamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoLancamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoReversaoLancamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimentoReversaoLancamento.text, attr: { for: TipoMovimentoReversaoLancamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimentoReversaoLancamento.requiredClass, value: TipoMovimentoReversaoLancamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoReversaoLancamento.maxlength, id : TipoMovimentoReversaoLancamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoReversaoLancamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-2 custom-control col-12 col-md-4 custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarTituloPagar.val, attr: { name: GerarTituloPagar.id, id: GerarTituloPagar.id }">
                                <label class="custom-control-label" data-bind="text: GerarTituloPagar.text, attr: { for: GerarTituloPagar.id }"></label>
                            </div>
                            <div data-bind="id: GerarTituloPagar.idFade, fadeVisible: GerarTituloPagar.visibleFade" class="row">
                                <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoTituloPagar.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimentoTituloPagar.text, attr: { for: TipoMovimentoTituloPagar.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimentoTituloPagar.requiredClass, value: TipoMovimentoTituloPagar.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoTituloPagar.maxlength, id : TipoMovimentoTituloPagar.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoTituloPagar.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: PessoaSeraInformadaGeracaoPagamento.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PessoaSeraInformadaGeracaoPagamento.val, attr: { maxlength: PessoaSeraInformadaGeracaoPagamento.maxlength, name: PessoaSeraInformadaGeracaoPagamento.id, id: PessoaSeraInformadaGeracaoPagamento.id }">
                                            <label class="custom-control-label" data-bind="text: PessoaSeraInformadaGeracaoPagamento.text, attr: { for: PessoaSeraInformadaGeracaoPagamento.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarTarifaAutomatica.val, attr: { name: GerarTarifaAutomatica.id, id: GerarTarifaAutomatica.id }">
                                <label class="custom-control-label" data-bind="text: GerarTarifaAutomatica.text, attr: { for: GerarTarifaAutomatica.id }"></label>
                            </div>
                            <div class="row" data-bind="id: GerarTarifaAutomatica.idFade, fadeVisible: GerarTarifaAutomatica.visibleFade">
                                <div class="col-12 col-md-2" data-bind="visible: PercentualTarifa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PercentualTarifa.text, attr: { for: PercentualTarifa.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: PercentualTarifa.requiredClass, value: PercentualTarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualTarifa.maxlength, id : PercentualTarifa.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5" data-bind="visible: TipoMovimentoTarifa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimentoTarifa.text, attr: { for: TipoMovimentoTarifa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimentoTarifa.requiredClass, value: TipoMovimentoTarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoTarifa.maxlength, id : TipoMovimentoTarifa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoTarifa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5" data-bind="visible: TipoMovimentoReversaoTarifa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimentoReversaoTarifa.text, attr: { for: TipoMovimentoReversaoTarifa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimentoReversaoTarifa.requiredClass, value: TipoMovimentoReversaoTarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoReversaoTarifa.maxlength, id : TipoMovimentoReversaoTarifa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoReversaoTarifa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: NaoAssociarTipoPagamentoNoAcertoDeViagem.val, attr: { name: NaoAssociarTipoPagamentoNoAcertoDeViagem.id, id: NaoAssociarTipoPagamentoNoAcertoDeViagem.id }">
                                <label class="custom-control-label" data-bind="text: NaoAssociarTipoPagamentoNoAcertoDeViagem.text, attr: { for: NaoAssociarTipoPagamentoNoAcertoDeViagem.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarMovimentoEntradaFixaMotorista.val, attr: { name: GerarMovimentoEntradaFixaMotorista.id, id: GerarMovimentoEntradaFixaMotorista.id }">
                                <label class="custom-control-label" data-bind="text: GerarMovimentoEntradaFixaMotorista.text, attr: { for: GerarMovimentoEntradaFixaMotorista.id }"></label>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoPagamentoMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoPagamentoMotorista.text, attr: { for: TipoMovimentoPagamentoMotorista.id }"></label>
                                    <select class="form-control" data-bind="class: TipoMovimentoPagamentoMotorista.requiredClass, options: TipoMovimentoPagamentoMotorista.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimentoPagamentoMotorista.val, attr: { maxlength: TipoMovimentoPagamentoMotorista.maxlength, id : TipoMovimentoPagamentoMotorista.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: GerarTituloAPagarAoMotorista.val, attr: { name: GerarTituloAPagarAoMotorista.id, id: GerarTituloAPagarAoMotorista.id }">
                                <label class="custom-control-label" data-bind="text: GerarTituloAPagarAoMotorista.text, attr: { for: GerarTituloAPagarAoMotorista.id }"></label>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoMovimentoTituloMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoTituloMotorista.text, attr: { for: TipoMovimentoTituloMotorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoTituloMotorista.requiredClass, value: TipoMovimentoTituloMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoTituloMotorista.maxlength, id : TipoMovimentoTituloMotorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoTituloMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: DesabilitarAlteracaoDosPlanosDeContas.val, attr: { name: DesabilitarAlteracaoDosPlanosDeContas.id, id: DesabilitarAlteracaoDosPlanosDeContas.id }">
                                <label class="custom-control-label" data-bind="text: DesabilitarAlteracaoDosPlanosDeContas.text, attr: { for: DesabilitarAlteracaoDosPlanosDeContas.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarAprovacaoAutomaticaCasoOperadorSejaIgualDaAlcada.val, attr: { name: HabilitarAprovacaoAutomaticaCasoOperadorSejaIgualDaAlcada.id, id: HabilitarAprovacaoAutomaticaCasoOperadorSejaIgualDaAlcada.id }">
                                <label class="custom-control-label" data-bind="text: HabilitarAprovacaoAutomaticaCasoOperadorSejaIgualDaAlcada.text, attr: { for: HabilitarAprovacaoAutomaticaCasoOperadorSejaIgualDaAlcada.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirLancarPagamentoContendoAcertoEmAndamento.val, attr: { name: PermitirLancarPagamentoContendoAcertoEmAndamento.id, id: PermitirLancarPagamentoContendoAcertoEmAndamento.id }">
                                <label class="custom-control-label" data-bind="text: PermitirLancarPagamentoContendoAcertoEmAndamento.text, attr: { for: PermitirLancarPagamentoContendoAcertoEmAndamento.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarEstePagamentoParaGeracaoPagamentoValorSaldo.val, attr: { name: UtilizarEstePagamentoParaGeracaoPagamentoValorSaldo.id, id: UtilizarEstePagamentoParaGeracaoPagamentoValorSaldo.id }">
                                <label class="custom-control-label" data-bind="text: UtilizarEstePagamentoParaGeracaoPagamentoValorSaldo.text, attr: { for: UtilizarEstePagamentoParaGeracaoPagamentoValorSaldo.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirLancarComDataRetroativa.val, attr: { name: PermitirLancarComDataRetroativa.id, id: PermitirLancarComDataRetroativa.id }">
                                <label class="custom-control-label" data-bind="text: PermitirLancarComDataRetroativa.text, attr: { for: PermitirLancarComDataRetroativa.id }"></label>
                            </div>
                            <div class="ms-2 custom-control custom-switch mb-3" data-bind="visible: RealizarRateio.visible">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: RealizarRateio.val, attr: { name: RealizarRateio.id, id: RealizarRateio.id }">
                                <label class="custom-control-label" data-bind="text: RealizarRateio.text, attr: { for: RealizarRateio.id }"></label>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoDeDespesa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeDespesa.text, attr: { for: TipoDeDespesa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoDeDespesa.requiredClass, value: TipoDeDespesa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeDespesa.maxlength, id : TipoDeDespesa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoDeDespesa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: NaoPermitirGerarPagamentoMotoristaTerceiro.visible">
                                <div class="custom-control custom-switch mb-3">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoPermitirGerarPagamentoMotoristaTerceiro.val, attr: { name: NaoPermitirGerarPagamentoMotoristaTerceiro.id, id: NaoPermitirGerarPagamentoMotoristaTerceiro.id }">
                                    <label class="custom-control-label" data-bind="text: NaoPermitirGerarPagamentoMotoristaTerceiro.text, attr: { for: NaoPermitirGerarPagamentoMotoristaTerceiro.id }"></label>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: RealizarMovimentoFinanceiroPelaDataPagamento.visible">
                                <div class="custom-control custom-switch mb-3">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: RealizarMovimentoFinanceiroPelaDataPagamento.val, attr: { name: RealizarMovimentoFinanceiroPelaDataPagamento.id, id: RealizarMovimentoFinanceiroPelaDataPagamento.id }">
                                    <label class="custom-control-label" data-bind="text: RealizarMovimentoFinanceiroPelaDataPagamento.text, attr: { for: RealizarMovimentoFinanceiroPelaDataPagamento.id }"></label>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: GerarPendenciaAoMotorista.visible">
                                <div class="custom-control custom-switch mb-3">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: GerarPendenciaAoMotorista.val, attr: { maxlength: GerarPendenciaAoMotorista.maxlength, name: GerarPendenciaAoMotorista.id, id: GerarPendenciaAoMotorista.id }">
                                    <label class="custom-control-label" data-bind="text: GerarPendenciaAoMotorista.text, attr: { for: GerarPendenciaAoMotorista.id }"></label>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ReterImpostoPagamentoMotorista.visible">
                                <div class="custom-control custom-switch mb-3">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ReterImpostoPagamentoMotorista.val, attr: { maxlength: ReterImpostoPagamentoMotorista.maxlength, name: ReterImpostoPagamentoMotorista.id, id: ReterImpostoPagamentoMotorista.id }">
                                    <label class="custom-control-label" data-bind="text: ReterImpostoPagamentoMotorista.text, attr: { for: ReterImpostoPagamentoMotorista.id }"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="knockoutCRUDPagamentoMotoristaTipo" class="mt-2 mb-2">
        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                    <i class="fal fa-ban"></i>
                    <span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                    <i class="fal fa-trash"></i>
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                    <i class="fal fa-check"></i>
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success me-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </div>
        </div>
    </footer>
</div>


<script src="~/scripts/pagamentoMotoristaTipo"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPagamentoMotoristaTipo();
    });
</script>

