
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pagamentos Motoristas</li>
    <li class="breadcrumb-item active">Pagamento Motorista TMS Lote</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Pagamento de Motorista em Lote
    </h1>
</div>

<div id="knockoutPesquisaPagamentoMotoristaTMSLote">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    
                    Lançamento de Pagamento de Motorista em Lote
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPagamento.text, attr: { for: DataPagamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataPagamento.requiredClass, value: DataPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamento.maxlength, id : DataPagamento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoPagamentoMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPagamentoMotorista.text, attr: { for: TipoPagamentoMotorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoPagamentoMotorista.requiredClass, value: TipoPagamentoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamentoMotorista.maxlength, id : TipoPagamentoMotorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoPagamentoMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Valor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PlanoDeContaDebito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoDeContaDebito.text, attr: { for: PlanoDeContaDebito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PlanoDeContaDebito.requiredClass, value: PlanoDeContaDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDeContaDebito.maxlength, id : PlanoDeContaDebito.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PlanoDeContaDebito.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PlanoDeContaCredito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoDeContaCredito.text, attr: { for: PlanoDeContaCredito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PlanoDeContaCredito.requiredClass, value: PlanoDeContaCredito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDeContaCredito.maxlength, id : PlanoDeContaCredito.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PlanoDeContaCredito.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer>
                        <div class="row">
                            <div class="col-6">
                              

                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: SalvarMovimento2.eventClick, attr: { id: SalvarMovimento2.id}">
                                    <i data-bind="attr: { class: SalvarMovimento2.icon}"></i>
                                    <span data-bind="text: SalvarMovimento2.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-default me-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i data-bind="attr: { class: Cancelar.icon}"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-warning " data-bind="click: RatearValores.eventClick, attr: { id: RatearValores.id}">
                                    <i data-bind="attr: { class: RatearValores.icon}"></i>
                                    <span data-bind="text: RatearValores.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Motoristas.enable, attr: { id: Motoristas.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <label data-bind="visible : TotalSelecionado.visible">Selecionados: <span data-bind="text : TotalSelecionado.val"></span></label>
                        <label data-bind="visible : ValorTotal.visible">Valor Total: <span data-bind="text : ValorTotal.val"></span></label>


                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: SalvarMovimento.eventClick, attr: { id: SalvarMovimento.id}">
                                <i data-bind="attr: { class: SalvarMovimento.icon}"></i>
                                <span data-bind="text: SalvarMovimento.text"></span>
                            </button>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/pagamentoMotoristaTMSLote"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPagamentoMotoristaTMSLote();
    });

</script>

