
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pagamentos Motoristas</li>
        <li class="breadcrumb-item active">Pagamento Motorista TMS</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Pagamento ao Motorista
        </h1>

    </div>


    <div id="knockoutPesquisaPagamentoMotorista" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Pagamento ao Motorista
                    </button>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: Etapa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Etapa.text, attr: { for: Etapa.id }"></label>
                                        <select class="form-control" data-bind="class: Etapa.requiredClass, options: Etapa.options, optionsText: 'text', optionsValue: 'value', value: Etapa.val, attr: { maxlength: Etapa.maxlength, id : Etapa.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Operador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="value: TipoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoPagamento.idBtnSearch}">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: Motorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-12 col-md-3" data-bind="visible: TipoPagamentoMotorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoPagamentoMotorista.text, attr: { for: TipoPagamentoMotorista.id }"></label>
                                        <select class="form-control" data-bind="class: TipoPagamentoMotorista.requiredClass, options: TipoPagamentoMotorista.options, optionsText: 'text', optionsValue: 'value', value: TipoPagamentoMotorista.val, attr: { maxlength: TipoPagamentoMotorista.maxlength, id : TipoPagamentoMotorista.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                        <footer class="d-flex justify-content-end mb-3">

                            <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </footer>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Lançamento do Pagamento ao Motorista
                </h3>
            </div>
            <div class="panel-content" id="conteudoPagamentoMotorista">
                <form>
                    <div class="row" data-bind="visible: NumeroPagamentoMotorista.visible" id="knockoutResumoPagamentoMotorista">
                        <section class="col col-md-4">
                            <label> <span data-bind="text: NumeroPagamentoMotorista.text"></span> <span data-bind="text: NumeroPagamentoMotorista.val"></span></label>
                        </section>
                        <section class="col col-md-4 ">
                            <label> <span data-bind="text: NumeroCarga.text"></span> <span data-bind="text: NumeroCarga.val"></span></label>
                        </section>
                        <section class="col  col-md-4 ">
                            <label> <span data-bind="text: DataPagamentoMotorista.text"></span> <span data-bind="text: DataPagamentoMotorista.val"></span></label>
                        </section>
                        <section class="col col-md-4 ">
                            <label> <span data-bind="text: Situacao.text"></span> <span data-bind="text: Situacao.val"></span></label>
                        </section>
                        <section class="col col-md-4 ">
                            <label> <span data-bind="text: TipoPagamentoMotorista.text"></span> <span data-bind="text: TipoPagamentoMotorista.val"></span></label>
                        </section>
                        <section class="col col-md-4" data-bind="visible: ValorPagamentoMotorista.visible">
                            <label> <span data-bind="text: ValorPagamentoMotorista.text"></span> <span data-bind="text: ValorPagamentoMotorista.val"></span></label>
                        </section>
                        <section class="col col-md-4 ">
                            <label> <span data-bind="text: Motorista.text"></span> <span data-bind="text: Motorista.val"></span></label>
                        </section>
                    </div>
                    <div id="knockoutEtapaPagamentoMotorista">
                        <ul class="nav nav-steps">
                            <li data-target="#step1" data-bind="visible : Etapa1.visible">
                                <button class="active" data-bs-target="#tabPagamentoMotorista" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                    <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                        <i class="fal fa-file-alt"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa1.text"></span>
                                </button>
                            </li>
                            <li data-target="#step2" data-bind="visible : Etapa2.visible">
                                <button data-bs-target="#knockoutPagamentoMotoristaAprovacao" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick" disabled>
                                    <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                        <i class="fal fa-file-alt"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa2.text"></span>
                                </button>
                            </li>
                            <li data-target="#step3" data-bind="visible : Etapa3.visible">
                                <button data-bs-target="#tab3" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick" disabled>
                                    <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                        <i class="fal fa-file-alt"></i>
                                    </span>
                                    <span class="title" data-bind="text: Etapa3.text"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade show active" id="tabPagamentoMotorista">
                            <div class="panel-content">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#knockoutCadastroPagamentoMotorista" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Pagamento ao Motorista</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liAnexo">
                                        <a href="#tabAnexos" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Anexos</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="knockoutCadastroPagamentoMotorista" role="tabpanel">
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12 col-md-2" data-bind="visible: NumeroPagamentoMotorista.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: NumeroPagamentoMotorista.text, attr: { for: NumeroPagamentoMotorista.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: NumeroPagamentoMotorista.requiredClass,  enable : NumeroPagamentoMotorista.enable,value: NumeroPagamentoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPagamentoMotorista.maxlength, id : NumeroPagamentoMotorista.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: Chamado.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Chamado.text, attr: { for: Chamado.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: Chamado.requiredClass, enable : Chamado.enable,value: Chamado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chamado.maxlength, id : Chamado.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable : Chamado.enable,attr: { id: Chamado.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable : Carga.enable,css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable : Carga.enable,attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: Motorista.enable,css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}, event: {blur : BuscarSaldoDescontadoMotorista}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Motorista.enable,attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: MoedaCotacaoBancoCentral.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: MoedaCotacaoBancoCentral.text, attr: { for: MoedaCotacaoBancoCentral.id }"></label>
                                                        <select class="form-control" data-bind="enable: MoedaCotacaoBancoCentral.enable, class: MoedaCotacaoBancoCentral.requiredClass, options: MoedaCotacaoBancoCentral.options, optionsText: 'text', optionsValue: 'value', value: MoedaCotacaoBancoCentral.val, attr: { maxlength: MoedaCotacaoBancoCentral.maxlength, id : MoedaCotacaoBancoCentral.id}, event: {blur : CalcularMoedaEstrangeira}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: DataBaseCRT.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataBaseCRT.text, attr: { for: DataBaseCRT.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: DataBaseCRT.enable,class: DataBaseCRT.requiredClass, value: DataBaseCRT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseCRT.maxlength, id : DataBaseCRT.id}, event: {blur : CalcularMoedaEstrangeira}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorMoedaCotacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorMoedaCotacao.text, attr: { for: ValorMoedaCotacao.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorMoedaCotacao.enable, class: ValorMoedaCotacao.requiredClass, value: ValorMoedaCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMoedaCotacao.maxlength, id : ValorMoedaCotacao.id}, event: {blur : ConverterValor}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorOriginalMoedaEstrangeira.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorOriginalMoedaEstrangeira.text, attr: { for: ValorOriginalMoedaEstrangeira.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: ValorOriginalMoedaEstrangeira.enable, class: ValorOriginalMoedaEstrangeira.requiredClass, value: ValorOriginalMoedaEstrangeira.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorOriginalMoedaEstrangeira.maxlength, id : ValorOriginalMoedaEstrangeira.id}, event: {blur : ConverterValor}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataPagamentoMotorista.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataPagamentoMotorista.text, attr: { for: DataPagamentoMotorista.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable : DataPagamentoMotorista.enable,class: DataPagamentoMotorista.requiredClass, value: DataPagamentoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamentoMotorista.maxlength, id : DataPagamentoMotorista.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: TipoPagamentoMotorista.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoPagamentoMotorista.text, attr: { for: TipoPagamentoMotorista.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable : TipoPagamentoMotorista.enable,css: TipoPagamentoMotorista.requiredClass, value: TipoPagamentoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamentoMotorista.maxlength, id : TipoPagamentoMotorista.id}, event: {blur : BuscarSaldoDescontadoMotorista}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable : TipoPagamentoMotorista.enable,attr: { id: TipoPagamentoMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoTituloPagar.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataVencimentoTituloPagar.text, attr: { for: DataVencimentoTituloPagar.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable : DataVencimentoTituloPagar.enable,class: DataVencimentoTituloPagar.requiredClass, value: DataVencimentoTituloPagar.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoTituloPagar.maxlength, id : DataVencimentoTituloPagar.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: Valor.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: Valor.enable,class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}, event: {blur : FuncoesValorBlur}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: SaldoDescontado.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: SaldoDescontado.text, attr: { for: SaldoDescontado.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: SaldoDescontado.enable,class: SaldoDescontado.requiredClass, value: SaldoDescontado.val, valueUpdate: 'afterkeydown', attr: { maxlength: SaldoDescontado.maxlength, id : SaldoDescontado.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: TotalPagamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TotalPagamento.text, attr: { for: TotalPagamento.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: TotalPagamento.enable,class: TotalPagamento.requiredClass, value: TotalPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TotalPagamento.maxlength, id : TotalPagamento.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2" data-bind="visible: SaldoDiariaMotorista.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: SaldoDiariaMotorista.text, attr: { for: SaldoDiariaMotorista.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: SaldoDiariaMotorista.enable,class: SaldoDiariaMotorista.requiredClass, value: SaldoDiariaMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: SaldoDiariaMotorista.maxlength, id : SaldoDiariaMotorista.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: DataEfetivacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataEfetivacao.text, attr: { for: DataEfetivacao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="enable: DataEfetivacao.enable,class: DataEfetivacao.requiredClass, value: DataEfetivacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEfetivacao.maxlength, id : DataEfetivacao.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: Empresa.enable, css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind=" enable: Empresa.enable, attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3" data-bind="visible: ValorINSS.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorINSS.text, attr: { for: ValorINSS.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorINSS.enable,class: ValorINSS.requiredClass, value: ValorINSS.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorINSS.maxlength, id : ValorINSS.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorSEST.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorSEST.text, attr: { for: ValorSEST.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorSEST.enable,class: ValorSEST.requiredClass, value: ValorSEST.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorSEST.maxlength, id : ValorSEST.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorSENAT.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorSENAT.text, attr: { for: ValorSENAT.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorSENAT.enable,class: ValorSENAT.requiredClass, value: ValorSENAT.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorSENAT.maxlength, id : ValorSENAT.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorIRRF.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorIRRF.text, attr: { for: ValorIRRF.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorIRRF.enable,class: ValorIRRF.requiredClass, value: ValorIRRF.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorIRRF.maxlength, id : ValorIRRF.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorLiquido.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorLiquido.text, attr: { for: ValorLiquido.id }"></label>
                                                        <input type="text" class="form-control" data-bind=" enable: ValorLiquido.enable,class: ValorLiquido.requiredClass, value: ValorLiquido.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorLiquido.maxlength, id : ValorLiquido.id}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6" data-bind="visible: PlanoDeContaDebito.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: PlanoDeContaDebito.text, attr: { for: PlanoDeContaDebito.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: PlanoDeContaDebito.enable,css: PlanoDeContaDebito.requiredClass, value: PlanoDeContaDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDeContaDebito.maxlength, id : PlanoDeContaDebito.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoDeContaDebito.enable,attr: { id: PlanoDeContaDebito.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6" data-bind="visible: PlanoDeContaCredito.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: PlanoDeContaCredito.text, attr: { for: PlanoDeContaCredito.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: PlanoDeContaCredito.enable,css: PlanoDeContaCredito.requiredClass, value: PlanoDeContaCredito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDeContaCredito.maxlength, id : PlanoDeContaCredito.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoDeContaCredito.enable,attr: { id: PlanoDeContaCredito.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6" data-bind="visible: PessoaTituloPagar.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: PessoaTituloPagar.text, attr: { for: PessoaTituloPagar.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: PessoaTituloPagar.enable,css: PessoaTituloPagar.requiredClass, value: PessoaTituloPagar.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaTituloPagar.maxlength, id : PessoaTituloPagar.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PessoaTituloPagar.enable,attr: { id: PessoaTituloPagar.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6" data-bind="visible: Terceiro.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Terceiro.text, attr: { for: Terceiro.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="enable: Terceiro.enable,css: Terceiro.requiredClass, value: Terceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Terceiro.maxlength, id : Terceiro.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Terceiro.enable,attr: { id: Terceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="tabAnexos" role="tabpanel">
                                        <form novalidate id="knockoutPagamentoMotoristaAnexo">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="card">
                                                        <div class="card-header d-flex align-items-center justify-content-between">
                                                            <h3 class="card-title">Anexos</h3>

                                                        </div>
                                                        <div class="card-body">
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="card">

                                                        <div class="card-body row">
                                                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                                                <div class="form-group">
                                                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                                </div>
                                                            </div>                                                           
                                                            <div class="form-group col-12 col-md-12" data-bind="visible: Arquivo.visible">
                                                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                                                <div class="custom-file" data-bind="visible: Arquivo.visible">
                                                                    <input type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.pdf" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly>
                                                                    <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer d-flex align-items-center justify-content-end">
                                                            <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                                                <span data-bind="text: Adicionar.text"></span>
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="knockoutPagamentoMotoristaAprovacao" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Autorizacao.visible">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Autorização</h3>

                                        </div>
                                        <div class="card-body">
                                            <label>Não é necessário a autorização para esse pagamento.</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6" data-bind="visible: SituacaoSolicitacao.visible">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Solicitação</h3>

                                        </div>
                                        <div class="card-body row">
                                            <label data-bind="visible: DescricaoSituacao.visible">Situação: <span data-bind="text: DescricaoSituacao.val"></span></label>
                                            <label data-bind="visible: DataSolicitacao.visible">Data da Solicitação: <span data-bind="text: DataSolicitacao.val"></span></label>
                                            <label data-bind="visible: Solicitado.visible">Solicitado: <span data-bind="text: Solicitado.val"></span></label>
                                            <label data-bind="visible: Motorista.visible">Motorista: <span data-bind="text: Motorista.val"></span></label>
                                            <label data-bind="visible: TipoPagamentoMotorista.visible">Tipo do Pagamento: <span data-bind="text: TipoPagamentoMotorista.val"></span></label>
                                            <label data-bind="visible: ValorSolicitado.visible">Valor Solicitado: <span data-bind="text: ValorSolicitado.val"></span></label>
                                            <label data-bind="visible: Observacao.visible">Observação: <span data-bind="text: Observacao.val"></span></label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: MensagemEtapaSemRegra.visible() && !UsuariosAutorizadores.visible()">
                                    <div class="card" data-bind="visible: MensagemEtapaSemRegra.visible">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title" data-bind="text: MensagemEtapaSemRegra.title"></h3>

                                        </div>
                                        <div class="card-body">
                                            <div class="widget-body" data-bind="html: MensagemEtapaSemRegra.text"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: DescricaoSituacao.visible">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Resposta</h3>

                                        </div>
                                        <div class="card-body row">
                                            <label data-bind="visible: !DataRetorno.visible()"><span>Aguardando retorno da solicitação do pagamento.</span></label>

                                            <label data-bind="visible: Creditor.visible">Creditor: <span data-bind="text: Creditor.val"></span></label>
                                            <label data-bind="visible: DataRetorno.visible">Data Retorno: <span data-bind="text: DataRetorno.val"></span></label>
                                            <label data-bind="visible: ValorLiberado.visible">Valor Liberado: <span data-bind="text: ValorLiberado.val"></span></label>
                                            <label data-bind="visible: RetornoSolicitacao.visible">Resposta Solicitação: <span data-bind="text: RetornoSolicitacao.val"></span></label>
                                        </div>
                                        <footer data-bind="visible: ConfirmarPagamentoMotorista.visible">
                                            <div class="col-12">
                                                <button class="btn btn-success" type="button" data-bind="click: ConfirmarPagamentoMotorista.eventClick, attr: { id: ConfirmarPagamentoMotorista.id}">
                                                    <span data-bind="text: ConfirmarPagamentoMotorista.text"></span>
                                                </button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: UsuariosAutorizadores.visible">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Autorizadores do Pagamento ao Motorista</h3>

                                        </div>
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: UsuariosAutorizadores.idGrid}" cellspacing="0"></table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab3">
                            <div class="row" id="divConteudoIntegracao">
                                <ul id="divIntegracao" class="nav nav-tabs">
                                    <li class="nav-item" id="liIntegracaoEnvio">
                                        <a href="#divIntegracaoEnvio" class="nav-link active" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Envio</span>
                                        </a>
                                    </li>
                                    <li id="liIntegracaoRetorno" class="nav-item">
                                        <a href="#divIntegracaoRetorno" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">Retornos</span>
                                        </a>
                                    </li>
                                    <li data-bind="visible: FinalizarEtapa.visible, click: FinalizarEtapa.eventClick, attr: { id: FinalizarEtapa.id}" class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab">
                                            <span data-bind="text: FinalizarEtapa.text" class="hidden-mobile hidden-tablet"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="divIntegracaoEnvio" role="tabpanel">
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-8">
                                                    <div class="form-group">
                                                        <label class="form-label">&nbsp;</label>
                                                        <button type="button" class="btn btn-labeled btn-primary" data-bind="click: Pesquisar.eventClick, visible: Pesquisar.visible, attr: { id : Pesquisar.id}">
                                                            <i class="fal fa-search"></i>
                                                            <span data-bind="text: Pesquisar.text"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-labeled btn-default float-end ms-2" data-bind="click: ReenviarTodos.eventClick, visible: ReenviarTodos.visible, attr: { id : ReenviarTodos.id}">
                                                            <i class="fal fa-mail-forward"></i>
                                                            <span data-bind="text: ReenviarTodos.text"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-labeled btn-default float-end ms-2" data-loading-text="Aguarde..." data-bind="click: AvancarSemIntegracao.eventClick, visible: AvancarSemIntegracao.visible, attr: { id : AvancarSemIntegracao.id}">
                                                            <i class="fal fa-refresh"></i>
                                                            <span data-bind="text: AvancarSemIntegracao.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                                <div class="row pe-0">
                                                    <div class="col-12 mb-1">
                                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: ObterTotais.eventClick, attr: { id: ObterTotais.id}">
                                                            <i class="fal fa-refresh"></i>
                                                            <span data-bind="text: TotalIntegrado.text + ' ' + TotalIntegrado.val()"></span>
                                                        </button>
                                                    </div>

                                                    <div class="col-6 d-flex gap-3">
                                                        <span data-bind="text: TotalProblemaIntegracao.text + ' ' + TotalProblemaIntegracao.val()"></span>
                                                        <span data-bind="text: TotalAguardandoIntegracao.text + ' ' + TotalAguardandoIntegracao.val()"></span>
                                                        <span data-bind="text: TotalGeral.text + ' ' + TotalGeral.val()"></span>
                                                    </div>

                                                    <div class="col-6 d-flex justify-content-end pe-0">
                                                        <div class="co-l2 mt-12">
                                                            <span><b>Legendas:</b> </span>

                                                            <div class="badge legend  green ">
                                                                <b>Finalizado</b>
                                                            </div>
                                                            <div class="badge legend  red ">
                                                                <b>Cancelada</b>
                                                            </div>
                                                            <div class="badge legend  blue">
                                                                <b>Em Descarregamento</b>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="divIntegracaoRetorno" role="tabpanel">
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary mb-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                                    </button>
                                                </div>
                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                            </div>
                                        </form>
                                    </div>

                                </div>



                            </div>
                            <div class="row" id="divNaoPossuiIntegracao" style="display:none">
                                <div class="col-12 col-md-12 ">
                                    <label>Não existem integrações disponíveis para este pagamento.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <footer id="knockoutCRUDCadastroPagamentoMotorista" class="mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div data-bind='component: {name: "import-file", params: { ko: Importar }}'></div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-default me-2" type="button" data-bind="click: Limpar.eventClick,visible: Limpar.visible, attr: { value: Limpar.text, id : Limpar.id}">
                                <span data-bind="text: Limpar.text"></span>
                            </button>
                            <button class="btn btn-success me-2" type="button" data-bind="click: ReprocessarRegras.eventClick,visible: ReprocessarRegras.visible, attr: { value: ReprocessarRegras.text, id : ReprocessarRegras.id}">
                                <span data-bind="text: ReprocessarRegras.text"></span>
                            </button>
                            <button class="btn btn-default me-2" type="button" data-bind="click: GerarNovaPagamentoMotorista.eventClick,visible: GerarNovaPagamentoMotorista.visible, attr: { value: GerarNovaPagamentoMotorista.text, id : GerarNovaPagamentoMotorista.id}">
                                <span data-bind="text: GerarNovaPagamentoMotorista.text"></span>
                            </button>
                            <button class="btn btn-success me-2" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                            <button class="btn btn-success me-2" type="button" data-bind="click: ConfirmarPagamentoMotorista.eventClick,visible: ConfirmarPagamentoMotorista.visible, attr: { value: ConfirmarPagamentoMotorista.text, id : ConfirmarPagamentoMotorista.id}">
                                <span data-bind="text: ConfirmarPagamentoMotorista.text"></span>
                            </button>
                            <button class="btn btn-default me-2" type="button" data-bind="click: ImprimirRecibo.eventClick,visible: ImprimirRecibo.visible, attr: { value: ImprimirRecibo.text, id : ImprimirRecibo.id}">
                                <span data-bind="text: ImprimirRecibo.text"></span>
                            </button>
                            <button class="btn btn-danger me-2" type="button" data-bind="click: Reverter.eventClick,visible: Reverter.visible, attr: { value: Reverter.text, id : Reverter.id}">
                                <span data-bind="text: Reverter.text"></span>
                            </button>
                            <button class="btn btn-danger me-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalHistoricoIntegracao" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracao"></table>
            </div>
        </div>
    </div>
</div>


<div id="modaisPagamentoMotorista">

</div>

<script src="~/scripts/pagamentoMotoristaTMS"></script>
<script type="text/javascript">

    var _ConfiguracaoGeral = @Html.Raw(ViewBag.ConfiguracaoGeral);
    var _ConfiguracaoFinanceiro = @Html.Raw(ViewBag.ConfiguracaoFinanceiro);
    var _ConfiguracaoPaginacaoDataLimite = @Html.Raw(ViewBag.ConfiguracaoPaginacaoDataLimite);
    pageSetUp();

    $(document).ready(function () {
        loadPagamentoMotoristaTMS();
    });

</script>

