
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Checklists</li>
        <li class="breadcrumb-item active">Cadastro Checklist</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            <i class=""></i> Checklist's
        </h1>
    </div>

    <div id="knockoutPesquisaChecklist">
        <div class="panel" id="divContent">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisa de Checklist's
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                        <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            @*<button class="btn btn-primary waves-effect waves-themed mx-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}, visible: BuscaAvancada.id" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>*@
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel mt-3">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs" id="tabsChecklist">
                    <li class="nav-item active" id="liTabChecklist">
                        <a href="#tabChecklist" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Checklist</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liTabPergunta">
                        <a href="#tabPergunta" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Perguntas</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content border border-top-0 p-3" id="tabsChecklistContent">

                    <div class="tab-pane fade active show" id="tabChecklist">
                        <div class="row" id="knockoutChecklist">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                        </div>
                        <footer id="knockoutCRUDChecklist">
                            <div class="row">
                                <div class="d-flex justify-content-end mt-3">
                                    <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}, enable : Atualizar.enable" class="btn btn-labeled btn-success ms-2" />
                                    <input type="button" data-loading-text={Localize::Gerais.Geral.Aguarde} data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}, enable : Adicionar.enable" class="btn btn-labeled btn-success ms-2" />
                                    <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}, enable : Excluir.enable" class="btn btn-labeled btn-danger ms-2" />
                                    <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}, enable : Cancelar.enable" class="btn btn-labeled btn-default ms-2" />
                                </div>
                            </div>
                        </footer>
                    </div>

                    <div class="tab-pane fade" id="tabPergunta">
                        <div class="panel-content">
                            <div id="knockoutChecklistPergunta" class="mt-5">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Perguntas.idGrid}" cellspacing="0"></table>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-2" data-bind="visible: Ordem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Ordem.text"></label>
                                            <input type="text" class="form-control" data-bind="class: Ordem.requiredClass, value: Ordem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ordem.maxlength, id : Ordem.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Descricao.text"></label>
                                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoResposta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoResposta.text, attr: { for: TipoResposta.id }"></label>
                                            <select class="form-control" data-bind="class: TipoResposta.requiredClass, options: TipoResposta.options, optionsText: 'text', optionsValue: 'value', value: TipoResposta.val, attr: { maxlength: TipoResposta.maxlength, id : TipoResposta.id}"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: Obrigatorio.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: Obrigatorio.val, attr: { maxlength: Obrigatorio.maxlength, name: Obrigatorio.id, id: Obrigatorio.id }">
                                                <label class="custom-control-label" data-bind="text: Obrigatorio.text, attr: { for: Obrigatorio.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PermiteOpcaoNaoSeAplica.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteOpcaoNaoSeAplica.val, attr: { maxlength: PermiteOpcaoNaoSeAplica.maxlength, name: PermiteOpcaoNaoSeAplica.id, id: PermiteOpcaoNaoSeAplica.id }">
                                                <label class="custom-control-label" data-bind="text: PermiteOpcaoNaoSeAplica.text, attr: { for: PermiteOpcaoNaoSeAplica.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="visible: Opcoes.visible">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="align-items-center mb-0">
                                                <i class="fal fa-edit"></i>
                                                Opções
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">

                                                <div width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Opcoes.idGrid}" cellspacing="0"></div>
                                                <div class="col-12 col-md-4" data-bind="visible: DescricaoOpcao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DescricaoOpcao.text, attr: { for: DescricaoOpcao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: DescricaoOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoOpcao.maxlength, id : DescricaoOpcao.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: ValorOpcao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorOpcao.text, attr: { for: ValorOpcao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: ValorOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorOpcao.maxlength, id : ValorOpcao.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracaoOpcao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: CodigoIntegracaoOpcao.text, attr: { for: CodigoIntegracaoOpcao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: CodigoIntegracaoOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoOpcao.maxlength, id : CodigoIntegracaoOpcao.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2 mt-5" data-bind="visible: OpcaoImpeditiva.visible">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" data-bind="enable: OpcaoImpeditiva.enable, checked: OpcaoImpeditiva.val, attr: { maxlength: OpcaoImpeditiva.maxlength, name: OpcaoImpeditiva.id, id: OpcaoImpeditiva.id }">
                                                            <label class="custom-control-label" data-bind="text: OpcaoImpeditiva.text, attr: { for: OpcaoImpeditiva.id }"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer text-left">
                                                <div class="row mt-3">
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: CancelarOpcao.eventClick, visible: CancelarOpcao.visible, attr: { id : CancelarOpcao.id}">
                                                            <i class="fal fa-ban"></i>
                                                            <span data-bind="text: CancelarOpcao.text"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col-6 d-flex justify-content-end">
                                                        <button type="button" class="btn btn-labeled btn-danger me-3" data-bind="click: ExcluirOpcao.eventClick, visible: ExcluirOpcao.visible, attr: { id : ExcluirOpcao.id}">
                                                            <i class="fal fa-trash"></i>
                                                            <span data-bind="text: ExcluirOpcao.text"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: AtualizarOpcao.eventClick, visible: AtualizarOpcao.visible, attr: { id : AtualizarOpcao.id}">
                                                            <i class="fal fa-check"></i>
                                                            <span data-bind="text: AtualizarOpcao.text"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: AdicionarOpcao.eventClick, visible: AdicionarOpcao.visible, attr: { id : AdicionarOpcao.id}">
                                                            <span data-bind="text: AdicionarOpcao.text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5" id="knockoutCRUDChecklistPergunta">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                        <i class="fal fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-success ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                        <i class="fal fa-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                        <i class="fal fa-spinner"></i>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-default ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/scripts/cadastroChecklist"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadChecklist();
    });

</script>

