@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView
<div class="tab-pane fade" id="fotos-pedido" role="tabpanel" aria-labelledby="fotos-tab">
    <div class="tab-pane fade show active table-responsive-md" id="detalhe-pedido" role="tabpanel">
        <div class="container-imagem-entrega">
            @if (Model.CaminhoFotosEntrega != null && Model.CaminhoFotosEntrega.Count() > 0 )
            {
                foreach (var arquivo in Model.CaminhoFotosEntrega)
                {
                    string caminhoArquivo = arquivo;

                        <img src="@caminhoArquivo">


                }
            }

        </div>


    </div>
</div>