@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView

<div class="well">
    <header>Histórico</header>
    <fieldset>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var historico in Model.Historico)
                {
                    <tr>
                        <td>@historico.Data</td>
                        <td>@historico.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
