<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.Relatorios}</li>
        <li class="breadcrumb-item">{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.TorreDeControle}</li>
        <li class="breadcrumb-item active">{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.DevolucaoNotasFiscaisLabel}</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.RelatorioDeDevolucaoNotasFiscais}</h1>
    </div>

    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <h3 style="font-weight: bold">{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.FiltrarRelatorio}</h3>
                <h6>{Localize::Relatorios.TorreControle.DevolucaoNotasFiscais.InstrucaoGerarRelatorio}</h6>
                <form>
                    <div id="knockoutPesquisaDevolucaoNotasFiscais">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialEmissaoNFD.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissaoNFD.text, attr: { for: DataInicialEmissaoNFD.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicialEmissaoNFD.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissaoNFD.maxlength, id : DataInicialEmissaoNFD.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalEmissaoNFD.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissaoNFD.text, attr: { for: DataFinalEmissaoNFD.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinalEmissaoNFD.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissaoNFD.maxlength, id : DataFinalEmissaoNFD.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialChamado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialChamado.text, attr: { for: DataInicialChamado.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicialChamado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialChamado.maxlength, id : DataInicialChamado.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalChamado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalChamado.text, attr: { for: DataFinalChamado.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinalChamado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalChamado.maxlength, id : DataFinalChamado.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NotaFiscalDevolucao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NotaFiscalDevolucao.text, attr: { for: NotaFiscalDevolucao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NotaFiscalDevolucao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscalDevolucao.maxlength, id : NotaFiscalDevolucao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NotaFiscalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NotaFiscalOrigem.text, attr: { for: NotaFiscalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: NotaFiscalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: NotaFiscalOrigem.maxlength, id : NotaFiscalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: NotaFiscalOrigem.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: GrupoTipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoTipoOperacao.text, attr: { for: GrupoTipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: GrupoTipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoTipoOperacao.maxlength, id : GrupoTipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: GrupoTipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Carga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Chamado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Chamado.text, attr: { for: Chamado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Chamado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chamado.maxlength, id : Chamado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Chamado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Transportador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Cliente.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PedidoCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoCliente.text, attr: { for: PedidoCliente.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: PedidoCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoCliente.maxlength, id : PedidoCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PedidoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoEmbarcador.text, attr: { for: PedidoEmbarcador.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: PedidoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoEmbarcador.maxlength, id : PedidoEmbarcador.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-2">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-2 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaDevolucaoNotasFiscais" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaDevolucaoNotasFiscais" class="d-flex justify-content-center justify-content-md-end mt-2">
                    <button class="btn btn-success me-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/DevolucaoNotasFiscais"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Relatorios.TorreControle.DevolucaoNotasFiscais"]).then(loadRelatorioDevolucaoNotasFiscais);
    });

</script>

