<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">{Localize::Relatorios.TorreControle.Permanencias.Relatorios}</li>
        <li class="breadcrumb-item">{Localize::Relatorios.TorreControle.Permanencias.TorreDeControle}</li>
        <li class="breadcrumb-item active">{Localize::Relatorios.TorreControle.Permanencias.PermanenciasLabel}</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">{Localize::Relatorios.TorreControle.Permanencias.RelatorioDePermanencias}</h1>
    </div>

    <div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-content">
                <h3 style="font-weight: bold">{Localize::Relatorios.TorreControle.Permanencias.FiltrarRelatorio}</h3>
                <h6>{Localize::Relatorios.TorreControle.Permanencias.InstrucaoGerarRelatorio}</h6>
            <form>
                <div id="knockoutPesquisaPermanencias">
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Carga.val, valueUpdate: 'afterkeydown' , attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataCarregamentoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCarregamentoInicial.text, attr: { for: DataCarregamentoInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataCarregamentoInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataCarregamentoInicial.maxlength, id : DataCarregamentoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataCarregamentoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCarregamentoFinal.text, attr: { for: DataCarregamentoFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataCarregamentoFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataCarregamentoFinal.maxlength, id : DataCarregamentoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Placa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Placa.text, attr: { for: Placa.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Placa.val, valueUpdate: 'afterkeydown' , attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: GrupoPessoas.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: DataCriacaoCargaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCriacaoCargaInicial.text, attr: { for: DataCriacaoCargaInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataCriacaoCargaInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataCriacaoCargaInicial.maxlength, id : DataCriacaoCargaInicial.id}" />
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: DataCriacaoCargaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataCriacaoCargaFinal.text, attr: { for: DataCriacaoCargaFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataCriacaoCargaFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataCriacaoCargaFinal.maxlength, id : DataCriacaoCargaFinal.id}" />
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: DataAgendamentoColetaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAgendamentoColetaInicial.text, attr: { for: DataAgendamentoColetaInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataAgendamentoColetaInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataAgendamentoColetaInicial.maxlength, id : DataAgendamentoColetaInicial.id}" />
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: DataAgendamentoColetaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAgendamentoColetaFinal.text, attr: { for: DataAgendamentoColetaFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataAgendamentoColetaFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataAgendamentoColetaFinal.maxlength, id : DataAgendamentoColetaFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataAgendamentoEntregaInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAgendamentoEntregaInicial.text, attr: { for: DataAgendamentoEntregaInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataAgendamentoEntregaInicial.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataAgendamentoEntregaInicial.maxlength, id : DataAgendamentoEntregaInicial.id}" />
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: DataAgendamentoEntregaFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataAgendamentoEntregaFinal.text, attr: { for: DataAgendamentoEntregaFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="value: DataAgendamentoEntregaFinal.val, valueUpdate: 'afterkeydown' , attr: { maxlength: DataAgendamentoEntregaFinal.maxlength, id : DataAgendamentoEntregaFinal.id}" />
                            </div>
                        </div> 
                        <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Cliente.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoParada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoParada.text, attr: { for: TipoParada.id }"></label>
                                <select class="form-control" data-bind="options: TipoParada.options, optionsText: 'text', optionsValue: 'value', value: TipoParada.val, attr: { id : TipoParada.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-2">
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-2 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <div id="knockoutCRUDFiltrosPesquisaPermanencias" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <div id="divConfigRelatorio"></div>
            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
            <div id="knockoutCRUDPesquisaPermanencias" class="d-flex justify-content-center justify-content-md-end mt-2">
                <button class="btn btn-success me-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/Permanencias"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {        
        LoadLocalizationResources(["Relatorios.TorreControle.Permanencias"]).then(loadRelatorioPermanencias);
    });

</script>

