
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Créditos</li>
    <li class="breadcrumb-item active">Crédito Liberação</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Liberação
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(1578)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>
<div class="col-12">
    <div id="divControleSaldo"></div>
</div>

<div id="knockoutPesquisaCreditoLiberacao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Solicitações
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: NumeroCargaOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCargaOcorrencia.text, attr: { for: NumeroCargaOcorrencia.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCargaOcorrencia.requiredClass, value: NumeroCargaOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCargaOcorrencia.maxlength, id : NumeroCargaOcorrencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: SituacaoSolicitacaoCredito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoSolicitacaoCredito.text, attr: { for: SituacaoSolicitacaoCredito.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoSolicitacaoCredito.requiredClass, options: SituacaoSolicitacaoCredito.options, optionsText: 'text', optionsValue: 'value', value: SituacaoSolicitacaoCredito.val, attr: { maxlength: SituacaoSolicitacaoCredito.maxlength, id : SituacaoSolicitacaoCredito.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Solicitante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Solicitante.text, attr: { for: Solicitante.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Solicitante.requiredClass, value: Solicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: Solicitante.maxlength, id : Solicitante.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Solicitante.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Recebedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Recebedor.text, attr: { for: Recebedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Recebedor.requiredClass, value: Recebedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Recebedor.maxlength, id : Recebedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Recebedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Ocorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ocorrencia.text, attr: { for: Ocorrencia.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Ocorrencia.requiredClass, value: Ocorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ocorrencia.maxlength, id : Ocorrencia.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Ocorrencia.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3" id="wid-id-4" style="display:none">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutCreditoLiberado" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Solicitação</span>
                    </a>
                </li>
                <li class="nav-item" style="display:none">
                    <a href="#knoutCarga" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Carga</span>
                    </a>
                </li>
                <li class="nav-item" style="display:none">
                    <a href="#knockoutCTeComplementar" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">CT-e(s) Complementar(es)</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="knockoutCreditoLiberado" role="tabpanel">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Detalhes da Solicitação</h3>
                            </div>
                            <div class="card-body row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label>Data Solicitação:<span data-bind="text: DataSolicitacao.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: NumeroOcorrencia.visible">
                                            <label>Ocorrência:<span data-bind="text: NumeroOcorrencia.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Situação da Solicitação:<span data-bind="text: DescricaoSituacao.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Solicitante:<span data-bind="text: Solicitante.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Valor Solicitado:<span data-bind="text: ValorSolicitado.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Componente de Frete:<span data-bind="text: ComponenteFrete.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Número CT-es da Carga:<span data-bind="text: NumeroCTesCarga.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Remetente:<span data-bind="text: Remetente.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Destinatário:<span data-bind="text: Destinatario.val"></span></label>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: ParametroTexto.visible">
                                            <label data-bind="text: ParametroTexto.text"><span data-bind="text: ParametroTexto.val"></span></label>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: ParametroDomingo.visible">
                                            <label>Domingo:<span data-bind="text: ParametroDomingo.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroDataInicio.visible">
                                            <label>Parâmetro Data Início:<span data-bind="text: ParametroDataInicio.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroDataFim.visible">
                                            <label>Parâmetro Data Fim:<span data-bind="text: ParametroDataFim.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroPeriodoHoras.visible">
                                            <label>Parâmetro Quantidade de Horas:<span data-bind="text: ParametroPeriodoHoras.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroApenasReboque.visible">
                                            <label>Parâmetro Apenas Reboque:<span data-bind="text: ParametroApenasReboque.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroData1.visible">
                                            <label data-bind="text: ParametroData1.text"><span data-bind="text: ParametroData1.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ParametroData2.visible">
                                            <label data-bind="text: ParametroData2.text"><span data-bind="text: ParametroData2.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Creditor.visible">
                                            <label>Operador:<span data-bind="text: Creditor.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>Motivo da Solicitação:<span data-bind="text: MotivoSolicitacao.val"></span></label>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: DataRetorno.visible">
                                            <label>Data de Retorno:<span data-bind="text: DataRetorno.val"></span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row  mt-3">
                                    <div class="col-12 col-md-3" data-bind="visible: ValorLiberado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorLiberado.text, attr: { for: ValorLiberado.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable : ValorLiberado.enable, class: ValorLiberado.requiredClass, value: ValorLiberado.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorLiberado.maxlength, id : ValorLiberado.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Responsavel.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Responsavel.text, attr: { for: Responsavel.id }"></label>
                                            <select class="form-control" data-bind="enable : Responsavel.enable, class: Responsavel.requiredClass, options: Responsavel.options, optionsText: 'text', optionsValue: 'value', value: Responsavel.val, attr: { maxlength: Responsavel.maxlength, id : Responsavel.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CFOP.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CFOP.text, attr: { for: CFOP.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable : CFOP.enable, class: CFOP.requiredClass, value: CFOP.val, valueUpdate: 'afterkeydown', attr: { maxlength: CFOP.maxlength, id : CFOP.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ContaContabil.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ContaContabil.text, attr: { for: ContaContabil.id }"></label>
                                            <input type="text" class="form-control" data-bind="enable : ContaContabil.enable, class: ContaContabil.requiredClass, value: ContaContabil.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContaContabil.maxlength, id : ContaContabil.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-success" type="button" data-bind="enable: DownloadArquivo.enable, click: DownloadArquivo.eventClick, attr: { id: DownloadArquivo.id}">
                                            <i class="fal fa-download"></i><span data-bind="text: DownloadArquivo.text"></span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-12 mt-2" data-bind="visible: RetornoSolicitacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: RetornoSolicitacao.text, attr: { for: RetornoSolicitacao.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="enable : RetornoSolicitacao.enable, value: RetornoSolicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: RetornoSolicitacao.maxlength, id : RetornoSolicitacao.id }"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="knoutCarga" role="tabpanel">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Detalhes da Carga</h3>
                            </div>
                            <div class="card-body">
                                <div id="fdsCarga"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="knockoutCTeComplementar" role="tabpanel">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">CT-e Complementar</h3>
                                <button class="btn btn-primary" type="button" data-bind="visible: CTesComplementares.visible, click: BuscarNovamenteCTesComplementares.eventClick, attr: { id: BuscarNovamenteCTesComplementares.id}">
                                    <i class="fal fa-repeat"></i><span data-bind="text: BuscarNovamenteCTesComplementares.text"></span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div data-bind="visible: CTesComplementares.visible">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: CTesComplementares.idGrid}" cellspacing="0"></table>
                                </div>
                                <div data-bind="visible: !CTesComplementares.visible()">
                                    <label><b>Não foram emitidos CT-e(s) complementar(es) para a ocorrência.</b></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="knockoutCRUDCreditoLiberado">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 d-flex justify-content-end mt-3 mb-3">
                        <button class="btn btn-success me-2" type="button" data-bind="click: ResponderSolicitacao.eventClick, attr: { id: ResponderSolicitacao.id}">
                            <span data-bind="text: ResponderSolicitacao.text"></span>
                        </button>
                        <button class="btn btn-danger" type="button" data-bind="click: RejeitarSolicitacao.eventClick, attr: { id: RejeitarSolicitacao.id}">
                           <span data-bind="text: RejeitarSolicitacao.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<div id="divModalGerenciarAnexos" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutAnexos" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anexos da Ocorrências</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="card-title">Arquivos Anexados</h3>
                        </div>
                        <div class="card-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Anexos.idGrid}"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="knockoutAlteracaoMoedaCarga"></div>









<script src="~/scripts/creditoLiberacao"></script>
<script src="~/scripts/controleSaldo"></script>
<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/carga"></script>
<script type="text/javascript">

    pageSetUp();
    _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);
    $(document).ready(function () {
        LoadLocalizationResources("Cargas.Carga").then(loadCreditoLiberacao);
    });

</script>

