
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Creditos</li>
    <li class="breadcrumb-item active">Hierarquia Solicitação Crédito</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i>Hierarquia de supervisores para fretes
    </h1>
</div>

<div id="knockoutPesquisaHierarquiaSolicitacaoCredito">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Marca de Produto
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroHierarquiaSolicitacaoCredito">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: Solicitante.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Solicitante.text, attr: { for: Solicitante.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Solicitante.requiredClass, value: Solicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: Solicitante.maxlength, id : Solicitante.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Solicitante.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>


<script src="~/scripts/hierarquiaSolicitacaoCredito"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadHierarquiaSolicitacaoCredito();
    });

</script>

