

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Cargas</li>
    <li class="breadcrumb-item active">Guias de Recolhimento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Guias de Recolhimento
    </h1>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div id="knockoutPesquisaGuias">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i> <span>Pesquisar Guias</span>
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SerieCte.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SerieCte.text, attr: { for: SerieCte.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: SerieCte.requiredClass, value: SerieCte.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieCte.maxlength, id : SerieCte.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NroCte.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NroCte.text, attr: { for: NroCte.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NroCte.requiredClass, value: NroCte.val, valueUpdate: 'afterkeydown', attr: { maxlength: NroCte.maxlength, id : NroCte.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ChaveCte.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ChaveCte.text, attr: { for: ChaveCte.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ChaveCte.requiredClass, value: ChaveCte.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChaveCte.maxlength, id : ChaveCte.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Motorista.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Veiculo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-default waves-effect waves-themed ms-2" type="button" data-bind="visible: ReenviarTodosRejeitados.visible, enable: ReenviarTodosRejeitados.enable, click: ReenviarTodosRejeitados.eventClick, attr: { id: ReenviarTodosRejeitados.id}">
                            <i class="fal fa-redo"></i> <span data-bind="text: ReenviarTodosRejeitados.text"></span>
                        </button>
                        <button class="btn btn-success ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i> <span> Pesquisar</span>
                        </button>
                    </div>
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" id="grid-pesquisa-chamados" cellspacing="0"></table>
                    </div>
                </div>
                <table width="100%" class="table table-bordered table-hover" id="grid-pesquisa-guias" cellspacing="0"></table>
            </div>




        </div>


    </div>
</div>

<div id="divModalVincularGuiaRecolhimento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutGuiaRecolhimento" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vincular Guias e Comprovantes</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <section class="col col-md-12" data-bind="visible: Imagem.visible">
                    <img src="" data-bind="attr: { id: Imagem.id}" class="img-fluid mx-auto d-block img-guia" />
                </section>
                <section class="col col-xs-12" data-bind="visible: SemImagem.val">
                    <div class="sem-imagem-guia"></div>
                </section>
                <section class="col col-xs-12 col-sm-12" data-bind="visible: PDFViewer.visible">
                    <embed data-bind="attr: { id: PDFViewer.id}" src="" style="width: 100%; height: 565px;" width="500" height="565">
                </section>
                <section data-bind="visible: !GuiaRecolhimento.visible()" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b data-bind="text: GuiaRecolhimento.text"></b> <span data-bind="text: GuiaRecolhimento.val"></span>
                </section>
                <div class="d-flex justify-content-end">
                    <div class="col-12 col-md-6 d-flex justify-content-end" data-bind="visible: Confirmar.visible">
                        <button class="btn btn-danger  me-2" type="button" style="max-height: 45px; margin-top: 32px" data-bind="click: Descartar.eventClick, visible: Confirmar.visible, attr: { value: Descartar.text, id : Descartar.id}">
                            <span data-bind="text: Descartar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalValidarManual" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutGuiaRecolhimentoValidarManual" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Validação manual</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
        
                <div class="col-12 col-md-4" data-bind="visible: OCRGuiaValidacaoManual.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: OCRGuiaValidacaoManual.text, attr: { for: OCRGuiaValidacaoManual.id }"></label>
                        <select class="form-control" data-bind="class: OCRGuiaValidacaoManual.requiredClass, options: OCRGuiaValidacaoManual.options, optionsText: 'text', optionsValue: 'value', value: OCRGuiaValidacaoManual.val, attr: { maxlength: OCRGuiaValidacaoManual.maxlength, id : OCRGuiaValidacaoManual.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: OCRComprovanteValidacaoManual.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: OCRComprovanteValidacaoManual.text, attr: { for: OCRComprovanteValidacaoManual.id }"></label>
                        <select class="form-control" data-bind="class: OCRComprovanteValidacaoManual.requiredClass, options: OCRComprovanteValidacaoManual.options, optionsText: 'text', optionsValue: 'value', value: OCRComprovanteValidacaoManual.val, attr: { maxlength: OCRComprovanteValidacaoManual.maxlength, id : OCRComprovanteValidacaoManual.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: ValidadaTodasInformacoesManualmente.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValidadaTodasInformacoesManualmente.text, attr: { for: ValidadaTodasInformacoesManualmente.id }"></label>
                        <select class="form-control" data-bind="class: ValidadaTodasInformacoesManualmente.requiredClass, options: ValidadaTodasInformacoesManualmente.options, optionsText: 'text', optionsValue: 'value', value: ValidadaTodasInformacoesManualmente.val, attr: { maxlength: ValidadaTodasInformacoesManualmente.maxlength, id : ValidadaTodasInformacoesManualmente.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-3">
                    <button class="btn btn-danger" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="click: Confirmar.eventClick, attr: { id: Confirmar.id}">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="knoutEnviarArquivoGuia" style="display:none">
    <label for="file" class="input input-file">
        <input type="file" accept=".jpg,.jpeg,.pdf" data-bind="attr: { id: Arquivo.id }" name="file" />
    </label>
</div>
<div id="knoutEnviarArquivoComprovante" style="display:none">
    <label for="file" class="input input-file">
        <input type="file" accept=".jpg,.jpeg,.pdf" data-bind="attr: { id: Arquivo.id }" name="file" />
    </label>
</div>

<script src="~/scripts/guias"></script>

<script type="text/javascript">
    pageSetUp();

    _ConfiguracoesGuiasRecolhimento = @Html.Raw(ViewBag.ConfiguracoesGuiasRecolhimento);
    _permissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

    $(document).ready(function () {
        loadGuias();
    });
</script>
