
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pessoas</li>
    <li class="breadcrumb-item active">Alterar Senha</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Alterar Minha Senha
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div id="knockoutAlterarSenha">
                <div class="row">
                    <div class="col-12 col-md-3" data-bind=" visible : SenhaAtual.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SenhaAtual.text"></label>
                            <input type="password" class="form-control" data-bind="value: SenhaAtual.val, attr: { maxlength: SenhaAtual.maxlength, id : SenhaAtual.id} " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3" data-bind=" visible : NovaSenha.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NovaSenha.text"></label>
                            <input type="password" class="form-control" data-bind="value: NovaSenha.val, attr: { maxlength: NovaSenha.maxlength, id : NovaSenha.id} " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3" data-bind=" visible : Confirmacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Confirmacao.text"></label>
                            <input type="password" class="form-control" data-bind="value: Confirmacao.val, attr: { maxlength: Confirmacao.maxlength, id : Confirmacao.id}" />
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: AlterarSenha.eventClick, visible: AlterarSenha.visible, attr: { value: AlterarSenha.text, id : AlterarSenha.id}">
                                <span data-bind="text: AlterarSenha.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/usuario"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Pessoas.Usuario"]).then(loadAlterarSenha);
    });

</script>

