
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pessoas</li>
        <li class="breadcrumb-item active">Perfil de Acesso Mobile</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-user"></i> Perfil de Acesso Mobile
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(597)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaPerfil" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Perfis de Acesso Mobile
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="my-3">
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                        <i class="fal fa-search"></i> <span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li id="liTabPerfil" class="nav-item">
                        <a href="#tabPerfil" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-user"></i> <span class="hidden-mobile hidden-tablet">Perfil Mobile</span>
                        </a>
                    </li>
                    <li id="liTabPermissoes" class="nav-item">
                        <a href="#tabPermissoesMobile" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-check-square"></i> <span class="hidden-mobile hidden-tablet">Permissões Mobile</span>
                        </a>
                    </li>
                </ul>
                <div id="knockoutCadastroPerfil">
                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade active show" id="tabPerfil">
                            <h3>Cadastrar Perfil de Acesso Mobile</h3>
                            <form>
                                <div class="row">
                                    <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                            <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tabPermissoesMobile">
                            <h3 class="position-relative">
                                Permissões Mobile <a href="javascript:void(0);" title="Entenda a página" class="card-help" onclick="iniciarAjuda(600)"><i class="fal fa-question-circle"></i></a>
                            </h3>
                            <form id="fildPermissoes">
                                <div class="row">
                                    <div class="col-12" data-bind="visible: PerfilAdministrador.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PerfilAdministrador.val, attr: { maxlength: PerfilAdministrador.maxlength, name: PerfilAdministrador.id, id: PerfilAdministrador.id }">
                                                <label class="custom-control-label" data-bind="text: PerfilAdministrador.text, attr: { for: PerfilAdministrador.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tree" id="divTreeViewMobile" data-bind="fadeVisible: !PerfilAdministrador.val()"></div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                        <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                        <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                        <button class="btn btn-success ms-2" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/scripts/treeviewLoad"></script>
<script src="~/scripts/perfilAcessoMobile"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPerfilAcessoMobile();
    });

</script>

