
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pessoas</li>
        <li class="breadcrumb-item active">Politica Senha</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            @Localization.Resources.Pessoas.PoliticaSenha.PoliticaSenhas
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(642)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>
</section>
<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container p-2">
        <div class="widget-body no-padding">
            <div id="knockoutConfigPoliticaSenha" class="smart-form" style="display:none;">
                <div id="tabs">
                    <ul class="nav nav-tabs" id="tabsPoliticaSenha">
                        <li class="nav-item">
                            <a href="#tabs-0" class="nav-link active" data-bs-toggle="tab" data-bind="visible: TipoServicoMultiSoftwareVisible.visible, text: TipoServicoMultiSoftwareNome.val"></a>
                        </li>
                        <!-- ko if: TipoServicoMultiSoftwareNome.val() != 'Multi TMS' -->
                        <li class="nav-item">
                            <a href="#tabs-1" class="nav-link" data-bs-toggle="tab" data-bind="visible: TipoServicoMultiSoftwareVisible.val">Transportador</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabs-2" class="nav-link" data-bs-toggle="tab" data-bind="visible: TipoServicoMultiSoftwareVisible.val">Cliente</a>
                        </li>
                        <!-- /ko -->
                        <!-- ko if: TipoServicoMultiSoftwareNome.val() == 'Multi TMS' -->
                        <li class="nav-item">
                            <a href="#tabs-1" class="nav-link" data-bs-toggle="tab" data-bind="visible: TipoServicoMultiSoftwareVisible.visible">Cliente</a>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <div class="tab-content border border-top-0 p-3">
                        <!-- ko foreach: PoliticasSenha -->
                        <div class="tab-pane fade" role="tabpanel" data-bind="css: ($index() == 0 ? 'active show' : ''), attr: {id: 'tabs-' + $index()}">
                            <div class="row">
                                <div class="col-4 col-md-12" data-bind="visible: HabilitarPoliticaSenha.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarPoliticaSenha.val, enable: HabilitarPoliticaSenha.enable, attr: { maxlength: HabilitarPoliticaSenha.maxlength, name: HabilitarPoliticaSenha.id, id: HabilitarPoliticaSenha.id }">
                                            <label class="custom-control-label" data-bind="text: HabilitarPoliticaSenha.text, attr: { for: HabilitarPoliticaSenha.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-bind="fadeVisible: HabilitarPoliticaSenha.val">
                                <h3>
                                    @Localization.Resources.Pessoas.PoliticaSenha.Detalhes
                                </h3>
                                <form>
                                    <div class="row">
                                        <div class="col-12 col-md-12" data-bind="visible: ExigirTrocaSenhaPrimeiroAcesso.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ExigirTrocaSenhaPrimeiroAcesso.val, attr: { maxlength: ExigirTrocaSenhaPrimeiroAcesso.maxlength, name: ExigirTrocaSenhaPrimeiroAcesso.id, id: ExigirTrocaSenhaPrimeiroAcesso.id }">
                                                    <label class="custom-control-label" data-bind="text: ExigirTrocaSenhaPrimeiroAcesso.text, attr: { for: ExigirTrocaSenhaPrimeiroAcesso.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.val, attr: { maxlength: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.maxlength, name: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.id, id: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.id }">
                                                    <label class="custom-control-label" data-bind="text: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.text, attr: { for: UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="visible: !UsarCPFUsuarioComoSenhaPadraoPrimeiroAcesso.val()" class="col-12 col-md-6">
                                            <div class="col-12 col-md-6" data-bind="visible:SenhaPadraoPrimeiroAcesso.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: SenhaPadraoPrimeiroAcesso.text, attr: { for: SenhaPadraoPrimeiroAcesso.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: SenhaPadraoPrimeiroAcesso.requiredClass, value: SenhaPadraoPrimeiroAcesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: !SenhaPadraoPrimeiroAcesso.maxlength, id :SenhaPadraoPrimeiroAcesso.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: NaoPermitirAcessosSimultaneos.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoPermitirAcessosSimultaneos.val, attr: { maxlength: NaoPermitirAcessosSimultaneos.maxlength, name: NaoPermitirAcessosSimultaneos.id, id: NaoPermitirAcessosSimultaneos.id }">
                                                    <label class="custom-control-label" data-bind="text: NaoPermitirAcessosSimultaneos.text, attr: { for: NaoPermitirAcessosSimultaneos.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: NumeroMinimoCaracteresSenha.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroMinimoCaracteresSenha.text, attr: { for: NumeroMinimoCaracteresSenha.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: NumeroMinimoCaracteresSenha.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroMinimoCaracteresSenha.maxlength, id : NumeroMinimoCaracteresSenha.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: PrazoExpiraSenha.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: PrazoExpiraSenha.text, attr: { for: PrazoExpiraSenha.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: PrazoExpiraSenha.val, valueUpdate: 'afterkeydown', attr: { maxlength: PrazoExpiraSenha.maxlength, id : PrazoExpiraSenha.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 " data-bind="visible: BloquearUsuarioAposQuantidadeTentativas.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: BloquearUsuarioAposQuantidadeTentativas.text, attr: { for: BloquearUsuarioAposQuantidadeTentativas.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: BloquearUsuarioAposQuantidadeTentativas.val, valueUpdate: 'afterkeydown', attr: { maxlength: BloquearUsuarioAposQuantidadeTentativas.maxlength, id : BloquearUsuarioAposQuantidadeTentativas.id}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3" data-bind="visible: TempoEmMinutosBloqueioUsuario.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TempoEmMinutosBloqueioUsuario.text"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" data-bind="checked: LiberarAcessoMinutos.val, attr: { maxlength: LiberarAcessoMinutos.maxlength, name: LiberarAcessoMinutos.id, id: LiberarAcessoMinutos.id }" />
                                                                <label class="custom-control-label w-0 h-0" data-bind="attr: { for: LiberarAcessoMinutos.id }"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" data-bind="class: TempoEmMinutosBloqueioUsuario.requiredClass,value: TempoEmMinutosBloqueioUsuario.val, enable: LiberarAcessoMinutos.val, attr: { maxlength: TempoEmMinutosBloqueioUsuario.maxlength, id : TempoEmMinutosBloqueioUsuario.id} " />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2 align-self-center" data-bind="visible: QuantasSenhasAnterioresNaoRepetir.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: QuantasSenhasAnterioresNaoRepetir.text, attr: { for: QuantasSenhasAnterioresNaoRepetir.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: QuantasSenhasAnterioresNaoRepetir.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantasSenhasAnterioresNaoRepetir.maxlength, id : QuantasSenhasAnterioresNaoRepetir.id}" />
                                            </div>
                                        </div>
                                        <dkiv class="col-12 col-md-2" data-bind="visible: InativarUsuarioAposDiasSemAcessarSistema.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: InativarUsuarioAposDiasSemAcessarSistema.text"></label>
                                                <input type="text" class="form-control" data-bind="class: InativarUsuarioAposDiasSemAcessarSistema.requiredClass, value: InativarUsuarioAposDiasSemAcessarSistema.val, valueUpdate: 'afterkeydown', attr: { maxlength: InativarUsuarioAposDiasSemAcessarSistema.maxlength, id : InativarUsuarioAposDiasSemAcessarSistema.id}" />
                                            </div>
                                        </dkiv>
                                        <div class="col-12 col-md-12" data-bind="visible: ExigirSenhaForte.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ExigirSenhaForte.val, attr: { maxlength: ExigirSenhaForte.maxlength, name: ExigirSenhaForte.id, id: ExigirSenhaForte.id }">
                                                    <label class="custom-control-label" data-bind="text: ExigirSenhaForte.text, attr: { for: ExigirSenhaForte.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: HabilitarCriptografia.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: HabilitarCriptografia.val, attr: { maxlength: HabilitarCriptografia.maxlength, name: HabilitarCriptografia.id, id: HabilitarCriptografia.id }">
                                                    <label class="custom-control-label" data-bind="text: HabilitarCriptografia.text, attr: { for: HabilitarCriptografia.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: AdicionarPoliticaSenha.eventClick, visible: AdicionarPoliticaSenha.visible, attr: { id : AdicionarPoliticaSenha.id}">
                        <i class="fal fa-check"></i><span data-bind="text: AdicionarPoliticaSenha.text"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>




<script src="~/scripts/politicaSenha"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Pessoas.PoliticaSenha").then(loadPoliticaSenha);
    });

</script>


