@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pagamentos Motoristas</li>
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item active">Pagamento Motorista TMS</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Pagamento ao Motorista
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-search"></i>
                    Relatório
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaPagamentoMotorista">
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: NumeroPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPagamento.text, attr: { for: NumeroPagamento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPagamento.requiredClass, value: NumeroPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPagamento.maxlength, id : NumeroPagamento.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Etapa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Etapa.text, attr: { for: Etapa.id }"></label>
                                    <select class="form-control" data-bind="class: Etapa.requiredClass, options: Etapa.options, optionsText: 'text', optionsValue: 'value', value: Etapa.val, attr: { maxlength: Etapa.maxlength, id : Etapa.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Operador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: TipoPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoPagamento.requiredClass, value: TipoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoPagamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">

                            <div class="col-12 col-md-6" data-bind="visible: Favorecido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Favorecido.text, attr: { for: Favorecido.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Favorecido.requiredClass, value: Favorecido.val, valueUpdate: 'afterkeydown', attr: { maxlength: Favorecido.maxlength, id : Favorecido.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Favorecido.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataEfetivacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEfetivacaoInicial.text, attr: { for: DataEfetivacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEfetivacaoInicial.requiredClass, value: DataEfetivacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEfetivacaoInicial.maxlength, id : DataEfetivacaoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataEfetivacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEfetivacaoFinal.text, attr: { for: DataEfetivacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEfetivacaoFinal.requiredClass, value: DataEfetivacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEfetivacaoFinal.maxlength, id : DataEfetivacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroDocumento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocumento.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: PagamentosSemAcertoViagem.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: PagamentosSemAcertoViagem.val, attr: { maxlength: PagamentosSemAcertoViagem.maxlength, name: PagamentosSemAcertoViagem.id, id: PagamentosSemAcertoViagem.id }">
                                        <label class="custom-control-label" data-bind="text: PagamentosSemAcertoViagem.text, attr: { for: PagamentosSemAcertoViagem.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaMotoristaTMS" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>

                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>

                <div id="knockoutCRUDPesquisaPagamentoMotoristaTMS" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/pagamentoMotoristaTMS"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadPagamentoMotoristaTMS();
    });

</script>
