

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Terceiro</li>
    <li class="breadcrumb-item active">Autorização Pagamento de Contrato de Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-file-alt"></i> Autorização Pagamento de Contrato de Frete
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaAutorizacaoPagamentoContratoFrete" class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                <button class="btn btn-primary" type="button" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar Autorização Pagamento
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Carga.val, enable: Carga.enable, attr: { maxlength: Carga.maxlength, id: Carga.id}, event: { blur: Carga.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Carga.enable, attr: { id: Carga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Usuario.val, enable: Usuario.enable, attr: { maxlength: Usuario.maxlength, id: Usuario.id}, event: { blur: Usuario.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Usuario.enable, attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Empresa.val, enable: Empresa.enable, attr: { maxlength: Empresa.maxlength, id: Usuario.id}, event: { blur: Empresa.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Empresa.enable, attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" data-bind="visible: TransportadorTerceiro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TransportadorTerceiro.text, attr: { for: TransportadorTerceiro.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TransportadorTerceiro.requiredClass, value: TransportadorTerceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: TransportadorTerceiro.maxlength, id : TransportadorTerceiro.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TransportadorTerceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCiotInicial.text, attr: { for: DataCiotInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCiotInicial.val, attr: { maxlength: DataCiotInicial.maxlength, id : DataCiotInicial.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCiotFinal.text, attr: { for: DataCiotFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCiotFinal.val, attr: { maxlength: DataCiotFinal.maxlength, id : DataCiotFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Operadora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Operadora.text, attr: { for: Operadora.id }"></label>
                                    <select class="form-control" data-bind="class: Operadora.requiredClass, options: Operadora.options, optionsText: 'text', optionsValue: 'value', value: Operadora.val, attr: { maxlength: Operadora.maxlength, id : Operadora.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="d-flex justify-content-end mb-3">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </footer>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Formulário de Cadastro
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutEtapaAutorizacaoPagamentoContratoFrete">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#knockoutEtapaSelecaoContratoFrete" data-bs-toggle="tab" type="button" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-box"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#knockoutEtapaPagamentoCIOT" data-bs-toggle="tab" type="button" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                        <li data-target="#step3" data-bind="visible : Etapa3.visible">
                            <button data-bs-target="#knockoutEtapaPagamentoIntegracao" data-bs-toggle="tab" type="button" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa3.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    <!-- Etapa Seleção Contrato Frete -->
                    <div id="knockoutEtapaSelecaoContratoFrete" class="tab-pane fade show active">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Seleção de Contrato de Frete</h3>
                            </div>
                            <div class="card-body">

                                <div class="row" data-bind="visible: Filtro.visible">

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-3" data-bind="visible: TipoPagamento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                                                        <select class="form-control" data-bind="class: TipoPagamento.requiredClass, options: TipoPagamento.options, optionsText: 'text', optionsValue: 'value', value: TipoPagamento.val, attr: { maxlenglabel: TipoPagamento.maxlenglabel, id : TipoPagamento.id}, enable: TipoPagamento.enable"></select>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} , valueUpdate: 'afterkeydown'" />
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} " />
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3" data-bind="visible: Carga.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="value: Carga.val, enable: Carga.enable, attr: { maxlength: Carga.maxlength, id: Carga.id}, event: { blur: Carga.eventChange }, valueUpdate: 'afterkeydown'" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Carga.enable, attr: { id: Carga.idBtnSearch}">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3" data-bind="visible: Usuario.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="value: Usuario.val, enable: Usuario.enable, attr: { maxlength: Usuario.maxlength, id: Usuario.id}, event: { blur: Usuario.eventChange }, valueUpdate: 'afterkeydown'" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Usuario.enable, attr: { id: Usuario.idBtnSearch}">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3" data-bind="visible: Empresa.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="value: Empresa.val, enable: Empresa.enable, attr: { maxlength: Empresa.maxlength, id: Usuario.id}, event: { blur: Empresa.eventChange }, valueUpdate: 'afterkeydown'" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Empresa.enable, attr: { id: Empresa.idBtnSearch}">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: Operadora.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Operadora.text, attr: { for: Operadora.id }"></label>
                                                        <select class="form-control" data-bind="class: Operadora.requiredClass, options: Operadora.options, optionsText: 'text', optionsValue: 'value', value: Operadora.val, attr: { maxlength: Operadora.maxlength, id : Operadora.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6" data-bind="visible: TransportadorTerceiro.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TransportadorTerceiro.text, attr: { for: TransportadorTerceiro.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: TransportadorTerceiro.requiredClass, value: TransportadorTerceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: TransportadorTerceiro.maxlength, id : TransportadorTerceiro.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TransportadorTerceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-primary" type="button" data-bind="click: PesquisarContratoFrete.eventClick, attr: { id: PesquisarContratoFrete.id}">
                                                    <i class="fal fa-search"></i><span data-bind="text: PesquisarContratoFrete.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="mb-1 mt-3" data-bind="visible: SelecionarTodos.visible">
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-default botaoDentroSmartAdmimForm" type="button" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}">
                                                        <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                                                    </button>
                                                </div>
                                            </div>

                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: PesquisarContratoFrete.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end mt-1">
                                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Etapa Pagamento CIOT -->
                    <div id="knockoutEtapaPagamentoCIOT" class="tab-pane fade">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Pagamento CIOT</h3>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlenglabel: Situacao.maxlenglabel, id : Situacao.id}"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-primary" type="button" data-bind="click: PesquisarPagamentoCIOT.eventClick, attr: { id: PesquisarPagamentoCIOT.id}">
                                                <i class="fal fa-search"></i><span data-bind="text: PesquisarPagamentoCIOT.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: PesquisarPagamentoCIOT.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Etapa Pagamento Integracao -->
                    <div id="knockoutEtapaPagamentoIntegracao" class="tab-pane fade">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Pagamento Integração</h3>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlenglabel: Situacao.maxlenglabel, id : Situacao.id}"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-primary" type="button" data-bind="click: PesquisarPagamentoIntegracao.eventClick, attr: { id: PesquisarPagamentoIntegracao.id}">
                                                <i class="fal fa-search"></i><span data-bind="text: PesquisarPagamentoIntegracao.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: PesquisarPagamentoIntegracao.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUD">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-default ms-3" data-bind="click: Limpar.eventClick, visible: Limpar.visible, text: Limpar.text, attr: { id : Limpar.id}">
                            <i class="fal fa-send"></i>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/autorizacaoPagamentoContratoFrete"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Filiais.Filial", "Configuracao.EmissaoCTe"]).then(loadAutorizacaoPagamentoContratoFrete);
    });

</script>
