
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Terceiros</li>
        <li class="breadcrumb-item active">Imposto</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Impostos para Terceiros
        </h1>

    </div>

    <div id="knockoutPesquisaImposto">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Impostos para Terceiro
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Terceiro.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Terceiro.text, attr: { for: Terceiro.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Terceiro.requiredClass, value: Terceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Terceiro.maxlength, id : Terceiro.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Terceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end mb-3">
                                    <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Impostos para Terceiro
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutImposto">
                    <div class="col-12 col-md-4" data-bind="visible: Terceiro.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Terceiro.text, attr: { for: Terceiro.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Terceiro.requiredClass, value: Terceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Terceiro.maxlength, id : Terceiro.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Terceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: TipoTerceiro.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoTerceiro.text, attr: { for: TipoTerceiro.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoTerceiro.requiredClass, value: TipoTerceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoTerceiro.maxlength, id : TipoTerceiro.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoTerceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracaoTributaria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIntegracaoTributaria.text, attr: { for: CodigoIntegracaoTributaria.id }"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoIntegracaoTributaria.requiredClass, value: CodigoIntegracaoTributaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoTributaria.maxlength, id : CodigoIntegracaoTributaria.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                            <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: RegimeTributario.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: RegimeTributario.text, attr: { for: RegimeTributario.id }"></label>
                            <select class="form-control" data-bind="class: RegimeTributario.requiredClass, options: RegimeTributario.options, optionsText: 'text', optionsValue: 'value', value: RegimeTributario.val, attr: { maxlength: RegimeTributario.maxlength, id : RegimeTributario.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: UtilizarBaseCalculoAcumulada.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarBaseCalculoAcumulada.val, attr: { maxlength: UtilizarBaseCalculoAcumulada.maxlength, name: UtilizarBaseCalculoAcumulada.id, id: UtilizarBaseCalculoAcumulada.id }">
                                <label class="custom-control-label" data-bind="text: UtilizarBaseCalculoAcumulada.text, attr: { for: UtilizarBaseCalculoAcumulada.id }"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: UtilizarCalculoIrSobreFaixaValorTotal.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarCalculoIrSobreFaixaValorTotal.val, attr: { maxlength: UtilizarCalculoIrSobreFaixaValorTotal.maxlength, name: UtilizarCalculoIrSobreFaixaValorTotal.id, id: UtilizarCalculoIrSobreFaixaValorTotal.id }">
                                <label class="custom-control-label" data-bind="text: UtilizarCalculoIrSobreFaixaValorTotal.text, attr: { for: UtilizarCalculoIrSobreFaixaValorTotal.id }"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: CalcularPorRaizCNPJ.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: CalcularPorRaizCNPJ.val, attr: { maxlength: CalcularPorRaizCNPJ.maxlength, name: CalcularPorRaizCNPJ.id, id: CalcularPorRaizCNPJ.id }">
                                <label class="custom-control-label" data-bind="text: CalcularPorRaizCNPJ.text, attr: { for: CalcularPorRaizCNPJ.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-content" id="tabImposto">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tabINSS" class="nav-link active" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">INSS</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabIRRF" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">IRRF</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabSEST" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">SEST</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabSENAT" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">SENAT</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabPIS" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">PIS</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabCOFINS" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">COFINS</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade active show" id="tabINSS" role="tabpanel">

                            <div class="row" id="knockoutDadosGeraisINSS">
                                <div class="col-12 col-md-3" data-bind="visible: PercentualBCINSS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PercentualBCINSS.text, attr: { for: PercentualBCINSS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: PercentualBCINSS.requiredClass, value: PercentualBCINSS.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualBCINSS.maxlength, id : PercentualBCINSS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ValorTetoRetencaoINSS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorTetoRetencaoINSS.text, attr: { for: ValorTetoRetencaoINSS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorTetoRetencaoINSS.requiredClass, value: ValorTetoRetencaoINSS.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTetoRetencaoINSS.maxlength, id : ValorTetoRetencaoINSS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: AliquotaINSSPatronal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaINSSPatronal.text, attr: { for: AliquotaINSSPatronal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AliquotaINSSPatronal.requiredClass, value: AliquotaINSSPatronal.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaINSSPatronal.maxlength, id : AliquotaINSSPatronal.id}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="knockoutINSS">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: ValorInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorInicial.text, attr: { for: ValorInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorInicial.requiredClass, value: ValorInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorInicial.maxlength, id : ValorInicial.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ValorFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorFinal.text, attr: { for: ValorFinal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorFinal.requiredClass, value: ValorFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFinal.maxlength, id : ValorFinal.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PercentualAplicar.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PercentualAplicar.text, attr: { for: PercentualAplicar.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: PercentualAplicar.requiredClass, value: PercentualAplicar.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualAplicar.maxlength, id : PercentualAplicar.id}" />
                                        </div>
                                    </div>
                                    <footer>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                    <i class="fal fa-ban"></i>
                                                    <span data-bind="text: Cancelar.text"></span>
                                                </button>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                    <i class="fal fa-trash"></i>
                                                    <span data-bind="text: Excluir.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                    <i class="fal fa-check"></i>
                                                    <span data-bind="text: Atualizar.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                    <span data-bind="text: Adicionar.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div id="tabIRRF" class="tab-pane fade"role="tabpanel">
                            <div class="row" id="knockoutDadosGeraisIRRF">
                                <div class="col-12 col-md-3" data-bind="visible: PercentualBCIR.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PercentualBCIR.text, attr: { for: PercentualBCIR.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: PercentualBCIR.requiredClass, value: PercentualBCIR.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualBCIR.maxlength, id : PercentualBCIR.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: ValorPorDependenteDescontoIRRF.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorPorDependenteDescontoIRRF.text, attr: { for: ValorPorDependenteDescontoIRRF.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorPorDependenteDescontoIRRF.requiredClass, value: ValorPorDependenteDescontoIRRF.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPorDependenteDescontoIRRF.maxlength, id : ValorPorDependenteDescontoIRRF.id}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="knockoutIRRF">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: ValorInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorInicial.text, attr: { for: ValorInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorInicial.requiredClass, value: ValorInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorInicial.maxlength, id : ValorInicial.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ValorFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorFinal.text, attr: { for: ValorFinal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorFinal.requiredClass, value: ValorFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFinal.maxlength, id : ValorFinal.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PercentualAplicar.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PercentualAplicar.text, attr: { for: PercentualAplicar.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: PercentualAplicar.requiredClass, value: PercentualAplicar.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualAplicar.maxlength, id : PercentualAplicar.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ValorDeduzir.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorDeduzir.text, attr: { for: ValorDeduzir.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorDeduzir.requiredClass, value: ValorDeduzir.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDeduzir.maxlength, id : ValorDeduzir.id}" />
                                        </div>
                                    </div>
                                    <footer>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                    <i class="fal fa-ban"></i>
                                                    <span data-bind="text: Cancelar.text"></span>
                                                </button>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                    <i class="fal fa-trash"></i>
                                                    <span data-bind="text: Excluir.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                    <i class="fal fa-check"></i>
                                                    <span data-bind="text: Atualizar.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                    <span data-bind="text: Adicionar.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div id="tabSEST" class="tab-pane fade"role="tabpanel">
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: AliquotaSEST.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaSEST.text, attr: { for: AliquotaSEST.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AliquotaSEST.requiredClass, value: AliquotaSEST.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaSEST.maxlength, id : AliquotaSEST.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabSENAT" class="tab-pane fade" role="tabpanel">
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: AliquotaSENAT.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaSENAT.text, attr: { for: AliquotaSENAT.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AliquotaSENAT.requiredClass, value: AliquotaSENAT.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaSENAT.maxlength, id : AliquotaSENAT.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabPIS" class="tab-pane fade"role="tabpanel">
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: AliquotaPIS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaPIS.text, attr: { for: AliquotaPIS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AliquotaPIS.requiredClass, value: AliquotaPIS.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaPIS.maxlength, id : AliquotaPIS.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabCOFINS" class="tab-pane fade"role="tabpanel">
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: AliquotaCOFINS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaCOFINS.text, attr: { for: AliquotaCOFINS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: AliquotaCOFINS.requiredClass, value: AliquotaCOFINS.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaCOFINS.maxlength, id : AliquotaCOFINS.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer id="knockoutCRUDImposto">
                    <div class="row mt-3">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>

    </div>

</div>






<script src="~/scripts/imposto"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Terceiros.Imposto"]).then(LoadImposto);
    });

</script>
