
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">RegraDescarteLoteProduto</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Regras Autorização Contrato de Frete Terceiro
        </h1>

    </div>

    <div class="panel">
        <div class="panel-container">
            <div id="knockoutPesquisaRegraContratoFreteTerceiro" class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar Regras de autorização
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Aprovador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Aprovador.text, attr: { for: Aprovador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Aprovador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Aprovador.maxlength, id : Aprovador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Aprovador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end mb-3">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>

            </div>

        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tabRegra" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Regra</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabAlcadaValorContrato" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Valor do Contrato</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabAlcadaValorAcrescimo" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Valor de Acréscimo</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabAlcadaValorDesconto" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Valor de Desconto</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabAlcadaTerceiro" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Terceiro</span></a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="tabRegra" class="tab-pane fade active show">
                        <form id="knockoutCadastroRegraContratoFreteTerceiro">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: Descricao.val, class: Descricao.requiredClass,valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Vigencia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Vigencia.text, attr: { for: Vigencia.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: Vigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Vigencia.maxlength, id : Vigencia.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroAprovadores.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroAprovadores.text, attr: { for: NumeroAprovadores.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: NumeroAprovadores.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAprovadores.maxlength, id : NumeroAprovadores.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                        <textarea class="form-control" rows="5" type="text" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card" data-bind="visible: Aprovadores.visible">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Aprovador</h3>
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Aprovadores.idBtnSearch, text: Aprovadores.text }">
                                                <i class="fal fa-plus"></i><span data-bind="text: Aprovadores.text"></span>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Aprovadores.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                   
                    <div id="tabAlcadaValorContrato" class="tab-pane fade">
                        <div id="knockoutAlcadaValorContrato">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorValorContrato.val, attr: { name: UsarRegraPorValorContrato.id, id: UsarRegraPorValorContrato.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorValorContrato.text, attr: { for: UsarRegraPorValorContrato.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: ValorContrato.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorContrato.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: ValorContrato.requiredClass, value: ValorContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorContrato.maxlength, id : ValorContrato.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text">valor do contrato </h3>
                                    <div data-bind="attr: { id: Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabAlcadaValorAcrescimo" class="tab-pane fade">
                        <div id="knockoutAlcadaValorAcrescimo">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorValorAcrescimo.val, attr: { name: UsarRegraPorValorAcrescimo.id, id: UsarRegraPorValorAcrescimo.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorValorAcrescimo.text, attr: { for: UsarRegraPorValorAcrescimo.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: ValorAcrescimo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorAcrescimo.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: ValorAcrescimo.requiredClass, value: ValorAcrescimo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAcrescimo.maxlength, id : ValorAcrescimo.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id: Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabAlcadaValorDesconto" class="tab-pane fade">
                        <div id="knockoutAlcadaValorDesconto">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorValorDesconto.val, attr: { name: UsarRegraPorValorDesconto.id, id: UsarRegraPorValorDesconto.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorValorDesconto.text, attr: { for: UsarRegraPorValorDesconto.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: ValorDesconto.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorDesconto.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: ValorDesconto.requiredClass, value: ValorDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDesconto.maxlength, id : ValorDesconto.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabAlcadaTerceiro" class="tab-pane fade">
                        <div id="knockoutAlcadaTerceiro">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorTerceiro.val, attr: { name: UsarRegraPorTerceiro.id, id: UsarRegraPorTerceiro.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorTerceiro.text, attr: { for: UsarRegraPorTerceiro.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Terceiro.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Terceiro.text, attr: { for: Terceiro.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: Terceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Terceiro.maxlength, id : Terceiro.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Terceiro.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id: Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutCRUDRegras" class="d-flex justify-content-between mt-3">
                        <div class="col-md-6">
                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                            </button>
                           
                        </div>
                        <div class="d-flex col-md-6 justify-content-end">
                            <button class="btn btn-danger me-2" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="~/scripts/regraContratoFreteTerceiro"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadRegraContratoFreteTerceiro();
    });
</script>

