@using System.Web.Optimization
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>
            Bem vindo ao admin de clientes
        </h1>
    </div>
</div>