/* #region Cores de Fonte */

.font-blue {
    color: #4679cc;
}

.font-pink {
    color: #e52d72;
}

.mod-skin-dark .font-blue {
    color: #2196f3;
}

.mod-skin-light .text-muted {
    color: #333639 !important;
}

.mod-skin-dark .text-muted {
    color: #fff !important;
}

.text-muted{
    color: #fff !important;
}
/* #endregion Cores de Fonte */
