@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Logística</li>
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item active">Documento Faturamento</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de CT-es a Receber
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaDocumentoFaturamentos">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicialEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEmissao.text, attr: { for: DataInicialEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialEmissao.requiredClass, value: DataInicialEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEmissao.maxlength, id : DataInicialEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinalEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEmissao.text, attr: { for: DataFinalEmissao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalEmissao.requiredClass, value: DataFinalEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEmissao.maxlength, id : DataFinalEmissao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroInicial.requiredClass, value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroFinal.requiredClass, value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: GruposPessoas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GruposPessoas.text, attr: { for: GruposPessoas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GruposPessoas.requiredClass, value: GruposPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GruposPessoas.maxlength, id : GruposPessoas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GruposPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoPropriedadeVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropriedadeVeiculo.text, attr: { for: TipoPropriedadeVeiculo.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPropriedadeVeiculo.requiredClass, options: TipoPropriedadeVeiculo.options, optionsText: 'text', optionsValue: 'value', value: TipoPropriedadeVeiculo.val, attr: { maxlength: TipoPropriedadeVeiculo.maxlength, id : TipoPropriedadeVeiculo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <select class="form-control" data-bind="class: Filial.requiredClass, options: Filial.options, optionsText: 'text', optionsValue: 'value', value: Filial.val, attr: { maxlength: Filial.maxlength, id : Filial.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOcorrencia.text, attr: { for: TipoOcorrencia.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOcorrencia.requiredClass, value: TipoOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOcorrencia.maxlength, id : TipoOcorrencia.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOcorrencia.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-3" data-bind="visible: DataAutorizacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAutorizacaoInicial.text, attr: { for: DataAutorizacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAutorizacaoInicial.requiredClass, value: DataAutorizacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoInicial.maxlength, id : DataAutorizacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataAutorizacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAutorizacaoFinal.text, attr: { for: DataAutorizacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAutorizacaoFinal.requiredClass, value: DataAutorizacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoFinal.maxlength, id : DataAutorizacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCancelamentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCancelamentoInicial.text, attr: { for: DataCancelamentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCancelamentoInicial.requiredClass, value: DataCancelamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCancelamentoInicial.maxlength, id : DataCancelamentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCancelamentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCancelamentoFinal.text, attr: { for: DataCancelamentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCancelamentoFinal.requiredClass, value: DataCancelamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCancelamentoFinal.maxlength, id : DataCancelamentoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataAnulacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAnulacaoInicial.text, attr: { for: DataAnulacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAnulacaoInicial.requiredClass, value: DataAnulacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAnulacaoInicial.maxlength, id : DataAnulacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataAnulacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAnulacaoFinal.text, attr: { for: DataAnulacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAnulacaoFinal.requiredClass, value: DataAnulacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAnulacaoFinal.maxlength, id : DataAnulacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ValorInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorInicial.text, attr: { for: ValorInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorInicial.requiredClass, value: ValorInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorInicial.maxlength, id : ValorInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ValorFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorFinal.text, attr: { for: ValorFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorFinal.requiredClass, value: ValorFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFinal.maxlength, id : ValorFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: EstadoOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: EstadoDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ModeloDocumento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloDocumento.text, attr: { for: ModeloDocumento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloDocumento.requiredClass, value: ModeloDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloDocumento.maxlength, id : ModeloDocumento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloDocumento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: GruposPessoasDiferente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GruposPessoasDiferente.text, attr: { for: GruposPessoasDiferente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GruposPessoasDiferente.requiredClass, value: GruposPessoasDiferente.val, valueUpdate: 'afterkeydown', attr: { maxlength: GruposPessoasDiferente.maxlength, id : GruposPessoasDiferente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GruposPessoasDiferente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoFaturamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoFaturamento.text, attr: { for: TipoFaturamento.id }"></label>
                                    <select class="form-control" data-bind="class: TipoFaturamento.requiredClass, options: TipoFaturamento.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoFaturamento.val, attr: { maxlength: TipoFaturamento.maxlength, id : TipoFaturamento.id}" multiple="multiple" data-actions-box="false" title="Todas" data-selected-text-format="count > 3"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoLiquidacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoLiquidacao.text, attr: { for: TipoLiquidacao.id }"></label>
                                    <select class="form-control" data-bind="class: TipoLiquidacao.requiredClass, options: TipoLiquidacao.options, optionsText: 'text', optionsValue: 'value', value: TipoLiquidacao.val, attr: { maxlength: TipoLiquidacao.maxlength, id : TipoLiquidacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroPedidoCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedidoCliente.text, attr: { for: NumeroPedidoCliente.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPedidoCliente.requiredClass, value: NumeroPedidoCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedidoCliente.maxlength, id : NumeroPedidoCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroOcorrenciaCliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOcorrenciaCliente.text, attr: { for: NumeroOcorrenciaCliente.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroOcorrenciaCliente.requiredClass, value: NumeroOcorrenciaCliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOcorrenciaCliente.maxlength, id : NumeroOcorrenciaCliente.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOcorrencia.text, attr: { for: NumeroOcorrencia.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroOcorrencia.requiredClass, value: NumeroOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOcorrencia.maxlength, id : NumeroOcorrencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroDocumentoOriginario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocumentoOriginario.text, attr: { for: NumeroDocumentoOriginario.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroDocumentoOriginario.requiredClass, value: NumeroDocumentoOriginario.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoOriginario.maxlength, id : NumeroDocumentoOriginario.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroFatura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFatura.text, attr: { for: NumeroFatura.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroFatura.requiredClass, value: NumeroFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFatura.maxlength, id : NumeroFatura.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DocumentoComCanhotosRecebidos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DocumentoComCanhotosRecebidos.text, attr: { for: DocumentoComCanhotosRecebidos.id }"></label>
                                    <select class="form-control" data-bind="class: DocumentoComCanhotosRecebidos.requiredClass, options: DocumentoComCanhotosRecebidos.options, optionsText: 'text', optionsValue: 'value', value: DocumentoComCanhotosRecebidos.val, attr: { maxlength: DocumentoComCanhotosRecebidos.maxlength, id : DocumentoComCanhotosRecebidos.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DocumentoComCanhotosDigitalizados.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DocumentoComCanhotosDigitalizados.text, attr: { for: DocumentoComCanhotosDigitalizados.id }"></label>
                                    <select class="form-control" data-bind="class: DocumentoComCanhotosDigitalizados.requiredClass, options: DocumentoComCanhotosDigitalizados.options, optionsText: 'text', optionsValue: 'value', value: DocumentoComCanhotosDigitalizados.val, attr: { maxlength: DocumentoComCanhotosDigitalizados.maxlength, id : DocumentoComCanhotosDigitalizados.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataLiquidacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLiquidacaoInicial.text, attr: { for: DataLiquidacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataLiquidacaoInicial.requiredClass, value: DataLiquidacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLiquidacaoInicial.maxlength, id : DataLiquidacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataLiquidacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLiquidacaoFinal.text, attr: { for: DataLiquidacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataLiquidacaoFinal.requiredClass, value: DataLiquidacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLiquidacaoFinal.maxlength, id : DataLiquidacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCTe.text, attr: { for: TipoCTe.id }"></label>
                                    <select class="form-control" data-bind="class: TipoCTe.requiredClass, options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoCTe.val, attr: { maxlength: TipoCTe.maxlength, id : TipoCTe.id}" multiple="multiple" data-actions-box="false" title="Todas" data-selected-text-format="count > 3"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoServico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoServico.text, attr: { for: TipoServico.id }"></label>
                                    <select class="form-control" data-bind="class: TipoServico.requiredClass, options: TipoServico.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoServico.val, attr: { maxlength: TipoServico.maxlength, id : TipoServico.id}" multiple="multiple" data-actions-box="false" title="Todas" data-selected-text-format="count > 3"></select>
                                </div>
                            </div>      
                            <div class="col-12 col-md-3" data-bind="visible: DataBaseLiquidacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBaseLiquidacaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataBaseLiquidacaoInicial.requiredClass, value: DataBaseLiquidacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseLiquidacaoInicial.maxlength, id : DataBaseLiquidacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataBaseLiquidacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBaseLiquidacaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataBaseLiquidacaoFinal.requiredClass, value: DataBaseLiquidacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseLiquidacaoFinal.maxlength, id : DataBaseLiquidacaoFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaDocumentoFaturamento" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaDocumentoFaturamentos" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/relatorios/scripts/documentoFaturamento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioDocumentoFaturamentos();
    });

</script>
