@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Fluxo Caixa</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Fluxo de Caixa
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutFluxoCaixa">
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataVencimentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVencimentoInicial.text, attr: { for: DataVencimentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVencimentoInicial.requiredClass, value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataVencimentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVencimentoFinal.text, attr: { for: DataVencimentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVencimentoFinal.requiredClass, value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: AnaliticoSintetico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: AnaliticoSintetico.text, attr: { for: AnaliticoSintetico.id }"></label>
                                    <select class="form-control" data-bind="class: AnaliticoSintetico.requiredClass, options: AnaliticoSintetico.options, optionsText: 'text', optionsValue: 'value', value: AnaliticoSintetico.val, attr: { maxlength: AnaliticoSintetico.maxlength, id : AnaliticoSintetico.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Provisao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Provisao.text, attr: { for: Provisao.id }"></label>
                                    <select class="form-control" data-bind="class: Provisao.requiredClass, options: Provisao.options, optionsText: 'text', optionsValue: 'value', value: Provisao.val, attr: { maxlength: Provisao.maxlength, id : Provisao.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: TituloPendente.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TituloPendente.val, attr: { maxlength: TituloPendente.maxlength, name: TituloPendente.id, id: TituloPendente.id }">
                                        <label class="custom-control-label" data-bind="text: TituloPendente.text, attr: { for: TituloPendente.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: LimiteConta.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: LimiteConta.val, attr: { maxlength: LimiteConta.maxlength, name: LimiteConta.id, id: LimiteConta.id }">
                                        <label class="custom-control-label" data-bind="text: LimiteConta.text, attr: { for: LimiteConta.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: TipoPagamentoRecebimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPagamentoRecebimento.text, attr: { for: TipoPagamentoRecebimento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoPagamentoRecebimento.requiredClass, value: TipoPagamentoRecebimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamentoRecebimento.maxlength, id : TipoPagamentoRecebimento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoPagamentoRecebimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" >
                                <button class="btn btn-success" style="margin-top:31px;" type="button" data-bind="click: Gerar.eventClick, visible: Gerar.visible, attr: { value: Gerar.text, id : Gerar.id}">
                                    <span data-bind="text: Gerar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="~/relatorios/scripts/fluxoCaixa"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadFluxoCaixa();
    });

</script>

