@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiro</li>
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item active">Liberação Pagamento - Provedor<li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Liberação Pagamento Provedor
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-search"></i>
                    Relatório
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaLiberacaoPagamentoProvedor">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCargaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCargaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCargaInicial.requiredClass, value: DataCargaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCargaInicial.maxlength, id : DataCargaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCargaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCargaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCargaFinal.requiredClass, value: DataCargaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCargaFinal.maxlength, id : DataCargaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroOS.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOS.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroOS.requiredClass, value: NumeroOS.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOS.maxlength, id : NumeroOS.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FilialEmissora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FilialEmissora.text, attr: { for: FilialEmissora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FilialEmissora.requiredClass, value: FilialEmissora.val, valueUpdate: 'afterkeydown', attr: { maxlength: FilialEmissora.maxlength, id : FilialEmissora.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FilialEmissora.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Provedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Provedor.text, attr: { for: Provedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Provedor.requiredClass, value: Provedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Provedor.maxlength, id : Provedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Provedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoLiberacaoPagamentoProvedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoLiberacaoPagamentoProvedor.text, attr: { for: SituacaoLiberacaoPagamentoProvedor.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoLiberacaoPagamentoProvedor.requiredClass, options: SituacaoLiberacaoPagamentoProvedor.options, optionsText: 'text', optionsValue: 'value', value: SituacaoLiberacaoPagamentoProvedor.val, attr: { maxlength: SituacaoLiberacaoPagamentoProvedor.maxlength, id : SituacaoLiberacaoPagamentoProvedor.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDocumentoProvedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDocumentoProvedor.text, attr: { for: TipoDocumentoProvedor.id }"></label>
                                    <select class="form-control" data-bind="class: TipoDocumentoProvedor.requiredClass, options: TipoDocumentoProvedor.options, optionsText: 'text', optionsValue: 'value', value: TipoDocumentoProvedor.val, attr: { maxlength: TipoDocumentoProvedor.maxlength, id : TipoDocumentoProvedor.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: IndicacaoLiberacaoOK.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: IndicacaoLiberacaoOK.text, attr: { for: IndicacaoLiberacaoOK.id }"></label>
                                    <select class="form-control" data-bind="class: IndicacaoLiberacaoOK.requiredClass, options: IndicacaoLiberacaoOK.options, optionsText: 'text', optionsValue: 'value', value: IndicacaoLiberacaoOK.val, attr: { maxlength: IndicacaoLiberacaoOK.maxlength, id : IndicacaoLiberacaoOK.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: EtapaLiberacaoPagamentoProvedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EtapaLiberacaoPagamentoProvedor.text, attr: { for: EtapaLiberacaoPagamentoProvedor.id }"></label>
                                    <select class="form-control" data-bind="class: EtapaLiberacaoPagamentoProvedor.requiredClass, options: EtapaLiberacaoPagamentoProvedor.options, optionsText: 'text', optionsValue: 'value', value: EtapaLiberacaoPagamentoProvedor.val, attr: { maxlength: EtapaLiberacaoPagamentoProvedor.maxlength, id : EtapaLiberacaoPagamentoProvedor.id}"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaLiberacaoPagamentoProvedor" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>

                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>

                <div id="knockoutCRUDPesquisaLiberacaoPagamentoProvedor" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/liberacaoPagamentoProvedor"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLiberacaoPagamentoProvedor();
    });

</script>
