@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item active">Plano Orçamentário</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Relatório de Plano Orçamentário
    </h1>
</div>
<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatório
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPlanoOrcamentario">
                    <div class="row">

                        <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: Gerar.visible">
                            <button class="btn btn-labeled btn-success botaoDentroSmartAdmimForm" style="margin-top: 26px" data-bind="click: Gerar.eventClick, visible: Gerar.visible, attr: { value: Gerar.text, id : Gerar.id}" type="button">
                                <span data-bind="text: Gerar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/relatorios/scripts/planoOrcamentario"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPlanoOrcamentario();
    });

</script>

