@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item active">Retorno Pagamento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Relatório de Retorno de Pagamento
    </h1>
</div>
<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-search"></i>
                Filtros
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaRetornoPagamento">
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: DataInicialImportacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialImportacao.text, attr: { for: DataInicialImportacao.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicialImportacao.requiredClass, value: DataInicialImportacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialImportacao.maxlength, id : DataInicialImportacao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: DataFinalImportacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalImportacao.text, attr: { for: DataFinalImportacao.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinalImportacao.requiredClass, value: DataFinalImportacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalImportacao.maxlength, id : DataFinalImportacao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: DataInicialPagamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialPagamento.text, attr: { for: DataInicialPagamento.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicialPagamento.requiredClass, value: DataInicialPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialPagamento.maxlength, id : DataInicialPagamento.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: DataFinalPagamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalPagamento.text, attr: { for: DataFinalPagamento.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinalPagamento.requiredClass, value: DataFinalPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalPagamento.maxlength, id : DataFinalPagamento.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Titulo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Titulo.text, attr: { for: Titulo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Titulo.requiredClass, value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Titulo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: ConfiguracaoBanco.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ConfiguracaoBanco.text, attr: { for: ConfiguracaoBanco.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ConfiguracaoBanco.requiredClass, value: ConfiguracaoBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfiguracaoBanco.maxlength, id : ConfiguracaoBanco.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ConfiguracaoBanco.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Comando.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Comando.text, attr: { for: Comando.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Comando.requiredClass, value: Comando.val, valueUpdate: 'afterkeydown', attr: { maxlength: Comando.maxlength, id : Comando.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Banco.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Banco.requiredClass, value: Banco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Banco.maxlength, id : Banco.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Banco.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: BancoPessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: BancoPessoa.text, attr: { for: BancoPessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: BancoPessoa.requiredClass, value: BancoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: BancoPessoa.maxlength, id : BancoPessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BancoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <div class="row mb-3">
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <div id="knockoutCRUDFiltrosPesquisaRetornoPagamento" class="col-12 col-md-6 d-flex justify-content-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>

            <div id="divConfigRelatorio"></div>

            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>

            <div id="knockoutCRUDPesquisaRetornoPagamento" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/retornoPagamento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioRetornoPagamento();
    });

</script>

