@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Título Acréscimo Desconto</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Acréscimos e Descontos em Títulos
    </h1>
</div>

<div id="divConteudoRelatorio" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-file-alt"></i>
                Relatórios
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutPesquisaTituloAcrescimoDesconto">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataEmissaoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataEmissaoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataEmissaoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataLiquidacaoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataLiquidacaoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataLiquidacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLiquidacaoInicial.maxlength, id : DataLiquidacaoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataLiquidacaoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataLiquidacaoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataLiquidacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLiquidacaoFinal.maxlength, id : DataLiquidacaoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataBaseLiquidacaoInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataBaseLiquidacaoInicial.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataBaseLiquidacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseLiquidacaoInicial.maxlength, id : DataBaseLiquidacaoInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataBaseLiquidacaoFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataBaseLiquidacaoFinal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataBaseLiquidacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseLiquidacaoFinal.maxlength, id : DataBaseLiquidacaoFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoPessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoPessoa.text"></label>
                                <select class="form-control" data-bind="options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { id : TipoPessoa.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Fatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Fatura.text, attr: { for: Fatura.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Fatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fatura.maxlength, id : Fatura.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fatura.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Busca Avançada -->
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-3" data-bind="visible: Bordero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Bordero.text, attr: { for: Bordero.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Bordero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Bordero.maxlength, id : Bordero.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Bordero.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CTe.text, attr: { for: CTe.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTe.maxlength, id : CTe.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CTe.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoTitulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoTitulo.text"></label>
                                    <select class="form-control" data-bind="options: SituacaoTitulo.options, optionsText: 'text', optionsValue: 'value', value: SituacaoTitulo.val, attr: { id : SituacaoTitulo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoJustificativa.text"></label>
                                    <select class="form-control" data-bind="options: TipoJustificativa.options, optionsText: 'text', optionsValue: 'value', value: TipoJustificativa.val, attr: { id : TipoJustificativa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text"></label>
                                    <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Justificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDeTitulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeTitulo.text"></label>
                                    <select class="form-control" data-bind="options: TipoDeTitulo.options, optionsText: 'text', optionsValue: 'value', value: TipoDeTitulo.val, attr: { id : TipoDeTitulo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mb-3 mt-3">
                <!-- CRUD Configurações -->
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <!-- CRUD Filtro de Pesquisa -->
                <div id="knockoutCRUDFiltrosPesquisaTituloAcrescimoDesconto" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                    </button>
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <!-- Configurações do Relatório -->
            <div id="divConfigRelatorio">
            </div>
            <!-- GRID de Resultados -->
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <!-- Botões Inferiores-->
            <div id="knockoutCRUDPesquisaTituloAcrescimoDesconto" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/relatorios/scripts/tituloAcrescimoDesconto"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadTituloAcrescimoDesconto();
    });

</script>