
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Relatório de CT-es Emitidos
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutRelatorio">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor">
                        <span class="widget-icon">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <h2>Relatório</h2>
                    </header>

                    <div class="smart-form">
                        <section>
                            <div class="well">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="label"><b data-bind="text: DataEmissaoInicial.text"></b></label>
                                            <label class="input">
                                                <input type="text" data-bind="value: DataEmissaoInicial.val, attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                            </label>
                                        </section>
                                        <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="label"><b data-bind="text: DataEmissaoFinal.text"></b></label>
                                            <label class="input">
                                                <input type="text" data-bind="value: DataEmissaoFinal.val, attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                            </label>
                                        </section>
                                        <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="label"><b data-bind="text: DataAutorizacaoInicial.text"></b></label>
                                            <label class="input">
                                                <input type="text" data-bind="value: DataAutorizacaoInicial.val, attr: { maxlength: DataAutorizacaoInicial.maxlength, id : DataAutorizacaoInicial.id}" />
                                            </label>
                                        </section>
                                        <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <label class="label"><b data-bind="text: DataAutorizacaoFinal.text"></b></label>
                                            <label class="input">
                                                <input type="text" data-bind="value: DataAutorizacaoFinal.val, attr: { maxlength: DataAutorizacaoFinal.maxlength, id : DataAutorizacaoFinal.id}" />
                                            </label>
                                        </section>
                                        <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <label class="label"><b data-bind="text: Transportador.text"></b></label>
                                                <label data-bind="attr: { class: Transportador.requiredClass}">
                                                    <input type="text" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                </label>
                                                <div class="input-group-btn">
                                                    <button data-bind="attr: { id: Transportador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                        <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                    </button>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer class="no-padding">
                                    <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: GerarRelatorio.eventClick, attr: { id: GerarRelatorio.id}" type="button">
                                        <i class="fa fa-download"></i>&nbsp;<span data-bind="text: GerarRelatorio.text"></span>
                                    </button>
                                </footer>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script src="~/scripts/ctesEmitidos"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadCTesEmitidos();
    });
</script>