
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios RV</li>
    <li class="breadcrumb-item active">MDFes Não Encerrados</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        MDF-es não Encerrados (após 25 dias) <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(889)"><i class="fa fa-question-circle fa-lg"></i></a>
    </h1>
</div>

<div class="panel" id="knockoutRelatorio">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                MDF-es não Encerrados
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <footer class="col-12 d-flex justify-content-end">
                    <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                        <i class="fal fa-search"></i><span data-bind="text: Atualizar.text"></span>
                    </button>
                </footer>
            </form>
            <h3 class="panel-heading">MDF-es</h3>
            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Atualizar.idGrid}" cellspacing="0"></table>
        </div>
    </div>
</div>


<script src="~/scripts/mdfesNaoEncerrados"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMDFesNaoEncerrados();
    });

</script>