
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatorios RV</li>
    <li class="breadcrumb-item active">MDFes Emitidos</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Relatório de MDF-es Emitidos <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(888)"><i class="fa fa-question-circle fa-lg"></i></a>
    </h1>
</div>

<div class="panel" id="knockoutRelatorio">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Relatório 
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">
                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataEmissaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataAutorizacaoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAutorizacaoInicial.text, attr: { for: DataAutorizacaoInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataAutorizacaoInicial.requiredClass, value: DataAutorizacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoInicial.maxlength, id : DataAutorizacaoInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataAutorizacaoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAutorizacaoFinal.text, attr: { for: DataAutorizacaoFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataAutorizacaoFinal.requiredClass, value: DataAutorizacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoFinal.maxlength, id : DataAutorizacaoFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primary" type="button" data-bind="click: GerarRelatorio.eventClick, attr: { id: GerarRelatorio.id}">
                        <i class="fal fa-download"></i><span data-bind="text: GerarRelatorio.text"></span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/mdfesEmitidos"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadMDFesEmitidos();
    });
</script>