.well {
    background-color: #FFFFFF;
}

.well-aqua {
    background-color: #4dffff;
    border: solid 1px #00b3b3;
    font-size: 12px;
}

.well-green {
    background-color: #85de7b;
    border: solid 1px #239816;
    font-size: 12px;
}

.well-darkGreen {
    background-color: #016f65;
    border: solid 1px #008e83;
    font-size: 12px;
}

.well-yellow {
    background-color: #ddd855;
    border: solid 1px #9c982f;
    font-size: 12px;
}

.well-red {
    background-color: #d13636;
    border: solid 1px #8a0505;
    font-size: 12px;
}

.well-orange {
    background-color: #e29e23;
    border: solid 1px #a16c0c;
    font-size: 12px;
}

.well-blue,
.well-blue-font-color-red {
    background-color: #c8e8ff;
    border: solid 1px #7fa5b9;
    font-size: 12px;
}

.well-darkBlue {
    background-color: #1667c6;
    border: solid 1px #0a3465;
    font-size: 12px;
}

.well-white {
    background-color: #fbfbfb;
    border: solid 1px #dddddd;
    font-size: 12px;
}

.well-gray {
    background-color: #afb8bf;
    border: solid 1px #929698;
    cursor: not-allowed !important;
    font-size: 12px;
}

.well-purple {
    background-color: #e699ff;
    border: solid 1px #730099;
    font-size: 12px;
}

.well-burlywood {
    background-color: #e4c49b;
    border: solid 1px #ce954b;
    font-size: 12px;
}

.well-pink {
    background-color: #e8d8ed;
    border: solid 1px #ce954b;
    font-size: 12px;
}

.well-cammo-green {
    background-color: #baba7b;
    border: solid 1px #75753e;
    font-size: 12px;
}

.well-pastel-pink {
    background-color: #ffcccc;
    border: solid 1px #ff6666;
    font-size: 12px;
}

.well-dark-gray {
    background-color: #7a7a7a;
    border: solid 1px #cccccc;
    font-size: 12px;
}

.well-sea-green {
    background-color: #7cbdb7;
    border: solid 1px #407878;
    font-size: 12px;
}

.well-steel-blue {
    background-color: #7eaacd;
    border: solid 1px #396a93;
    font-size: 12px;
}

.well-aqua,
.well-blue,
.well-burlywood,
.well-cammo-green,
.well-gray,
.well-green,
.well-orange,
.well-pastel-pink,
.well-pink,
.well-purple,
.well-sea-green,
.well-steel-blue,
.well-white,
.well-yellow {
    color: #333 !important;
}

.well-darkBlue,
.well-dark-gray,
.well-darkGreen,
.well-red {
    color: #FFF !important;
}

.well-blue-font-color-red {
    color: #cc0000 !important;
}

.well-aqua:hover,
.well-blue:hover,
.well-blue-font-color-red:hover,
.well-burlywood:hover,
.well-cammo-green:hover,
.well-darkBlue:hover,
.well-darkGreen:hover,
.well-dark-gray:hover,
.well-green:hover,
.well-orange:hover,
.well-pastel-pink:hover,
.well-pink:hover,
.well-purple:hover,
.well-red:hover,
.well-sea-green:hover,
.well-steel-blue:hover,
.well-white:hover,
.well-yellow:hover {
    opacity: 0.95;
    cursor: pointer;
}

.well-aqua:hover,
.well-blue:hover,
.well-burlywood:hover,
.well-cammo-green:hover,
.well-green:hover,
.well-orange:hover,
.well-pastel-pink:hover,
.well-pink:hover,
.well-purple:hover,
.well-sea-green:hover,
.well-steel-blue:hover,
.well-white:hover,
.well-yellow:hover {
    color: #666;
}

.well-darkBlue:hover,
.well-darkGreen:hover,
.well-dark-gray:hover,
.well-red:hover {
    color: #FFF !important;
}

.well-gray:hover {
    color: #666 !important;
    opacity: 0.95;
}

.well-blue-font-color-red:hover {
    color: #cc0000 !important;
}

.well-aqua .fc-time,
.well-burlywood .fc-time,
.well-green .fc-time,
.well-yellow .fc-time,
.well-red .fc-time,
.well-orange .fc-time,
.well-purple .fc-time,
.well-blue .fc-time,
.well-blue-font-color-red .fc-time,
.well-darkBlue .fc-time,
.well-darkGreen .fc-time,
.well-white .fc-time,
.well-gray .fc-time,
.well-steel-blue .fc-time {
    font-weight: bold;
    font-size: 12px;
}
