/* App Theme */
.btn-main.btn-success {
    border: none;
    background-color: #495;
}
.header-container {
    text-align: center;
    margin-bottom: 50px;
}
.btn-main {
    margin-top: 20px;
    padding: 10px 0 10px 0;
    display: inline-block;
    min-width: 95px;
    height: 77px;
}
#btnConverter {
    margin-left: 5px;
}
.btn-main span {
    display: block;
}
.btn-main .btn-icon {
    font-size: 30px;
    margin-bottom: 5px;
}
.main-table {
    border: 2px solid #ccc;
    margin: 0 auto;
    margin-bottom: 0px;
}
.main-table thead tr th {
    border: 2px solid #ccc;
    border-width: 0 0 2px 0;
}
.main-table.empty thead tr {
    height: 37px;
    }
.main-table.empty tbody tr {
    height: 40px;
}
.main-table.empty tbody td {
    border: none;
}
.main-table .table-placeholder {
    text-align: center;
    font-size: 27px;
    color: #ccc;
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.main-table .form-control {
    height: auto;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.main-table tr input.form-control {
    background-color: #f5f5f5;
    min-width: 100px;
}
.main-table tr:hover input.form-control {
    background-color: #fff;
}
.table-container {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-height: 1000px;

	overflow-x: auto;
}
.modal-close .close{
    margin-right: 10px;
    margin-top: 6px;
}
.modal .modal-header {
    text-align: center;
    padding: 10px;
}
.modal .modal-body {
    padding: 30px;
    margin-top: 20px;
}
.modal .modal-body {
    position: relative;
}
.modal .modal-arrows {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 40px;
    color: #ddd;
}
.modal .modal-arrows:hover,
.modal .modal-arrows:focus,
.modal .modal-arrows:active,
.modal .modal-arrows.active {
    color: #bdbcbc;
}
.modal .modal-arrows.arrow-left {
    left: 5px;
}
.modal .modal-arrows.arrow-right {
    right: 5px;
}

.boxes {
    margin: 0;
    padding: 0;
    text-align: center;
}
.boxes li {
    list-style: none;
    display: inline-block;
    width: 20%;
    margin: 0 10px 20px 10px;
}
.boxes .box {
    text-align: center;
    display: block;
    padding: 25px 0;
    background-color: #f3f3f3;
    color: #333;
    border-radius: 6px;
}
.boxes .box:hover,
.boxes .box:focus,
.boxes .box:active,
.boxes .box.active {
    background-color: #a2a2a2;
    color: #fff;
}
.boxes .box .box-icon {
    margin-bottom: 5px;
}
.boxes .box .box-title {
    font-weight: bold;
}
.modal-importacao .modal-dialog {
    width: 600px;
}
.modal-importacao a:hover,
.modal-importacao a:focus,
.modal-importacao a.active {
    text-decoration: none;
}
.modal-tipo-importacao .boxes {
    margin-bottom: 20px;
}

.alert-placeholder-upload {
    margin-top: 20px;
}

.file-upload .file-button,
.file-upload .processar-arquivo {
    margin-bottom: 15px;
    margin-top: 0px;
}
.file-upload .file-name {
    font-weight: bold;
}

.moxie-shim-html5 {
    display: none;
}