/*TAGS*/
div.tfs-tags {
    margin-top: 10px;
    margin-bottom: 6px;
    line-height: 25px;
    margin-left: 5px;
}

div.tags-label-container {
    float: left;
    padding-left: 4px;
    padding-right: 10px;
    font-size: 11px;
    color: #000;
}

div.tags-items-container {
    overflow: hidden;
}

.tags-items-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

    .tags-items-container ul > li {
        display: inline-block;
        margin-right: 5px;
        padding: 0;
        text-align: -webkit-match-parent;
    }

.tag-item-delete-experience {
    white-space: nowrap;
    overflow: hidden;
}

.tag-container-delete-experience {
    cursor: pointer;
}

.tag-container {
    outline: none;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tag-box, .tag-delete {
    cursor: default;
    margin: 0;
    padding-left: 6px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    font-size: 12px;
    color: #4f4f4f;
    background-color: #d7e6f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Segoe UI,Tahoma,Arial,Verdana;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}

.tag-delete {
    padding-left: 9px;
    padding-right: 9px;
    background: url('../images/icon-close-small.png') no-repeat 50% 50%;
    background-color: #d7e6f3;
    border-radius: 0 2px 2px 0;
}

    .tag-delete:focus, .tag-delete:hover {
        cursor: pointer;
        color: #fff;
        background-color: #b4c8d7;
    }
