body {
    padding-bottom: 80px;
}

.page-header {
    padding-bottom: 5px;
    margin: 0 0 10px;
}

h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.default-search {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 5px;
}

.main-menu {
    z-index: 1040;
}
.table .dropdown-menu {
    z-index: 1040;
}
.modal.modal-prioritario.in {
    z-index: 9999!important;
}