@model Dominio.ObjetosDeValor.Embarcador.Ocorrencia.AutorizacaoOcorrenciaAprovadorView

<!DOCTYPE html>
<html lang="pt-br" id="extr-page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet" />
    <title>Ocorrência</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="~/css/fontAwesome" />
    <link rel="stylesheet" href="~/css/bootstrap-rastreio-entrega" />
    <link rel="stylesheet" href="~/css/novoRastreioEntrega" />

    <script src="~/scripts/jquery"></script>
    <script src="~/scripts/toastr"></script>
    <script src="~/scripts/localization"></script>
    <script src="~/scripts/knockout"></script>
    <script src="~/scripts/global"></script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        var page_data = {
            Token: "@Html.Raw(ViewBag.Token)",
            URL: "@Url.Action("feedback", "aprovacao-ocorrencia")"
        };
    </script>
</head>
<body>
    <header id="header" class="container-logotipos">
        <div class="logo-multi">
            <p>Multisoftware</p>
        </div>
    </header>
    <div id="main" role="main">
        <div id="content" class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>