
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Faturas</li>
        <li class="breadcrumb-item active">Fatura Cancelamento Lote</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Cancelamento de Fatura em Lote
        </h1>
    </div>

    <div id="knockoutFaturaCancelamentoLote">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <h2>Cancelamento em Lote</h2>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: PedidoViagemDirecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPropostaMultimodal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropostaMultimodal.text, attr: { for: TipoPropostaMultimodal.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPropostaMultimodal.requiredClass, options: TipoPropostaMultimodal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoPropostaMultimodal.val, attr: { maxlength: TipoPropostaMultimodal.maxlength, id : TipoPropostaMultimodal.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: FaturadoAR.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FaturadoAR.text, attr: { for: FaturadoAR.id }"></label>
                                    <select class="form-control" data-bind="class: FaturadoAR.requiredClass, options: FaturadoAR.options, optionsText: 'text', optionsValue: 'value', value: FaturadoAR.val, attr: { maxlength: FaturadoAR.maxlength, id : FaturadoAR.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: GrupoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Container.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Container.requiredClass, value: Container.val, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Booking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Booking.text, attr: { for: Booking.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Booking.requiredClass, value: Booking.val, valueUpdate: 'afterkeydown', attr: { maxlength: Booking.maxlength, id : Booking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFaturaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFaturaInicial.text, attr: { for: DataFaturaInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFaturaInicial.requiredClass, value: DataFaturaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFaturaInicial.maxlength, id : DataFaturaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFaturaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFaturaFinal.text, attr: { for: DataFaturaFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFaturaFinal.requiredClass, value: DataFaturaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFaturaFinal.maxlength, id : DataFaturaFinal.id}" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mb-2">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">

                </div>
                <div class="panel-content">
                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Faturas.enable, attr: { id: Faturas.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-12 " data-bind="visible: Motivo.visible ">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-end">
                            <button class="btn btn-success " data-bind="click: GerarCancelamento.eventClick, attr: { id: GerarCancelamento.id}" type="button">
                                <i class="fal fa-file-excel"></i><span data-bind="text: GerarCancelamento.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/scripts/faturaCancelamentoLote"></script>
<script type="text/javascript">
    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    $(document).ready(function () {
        loadFaturaCancelamentoLote();
    });

</script>

