
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Faturas</li>
        <li class="breadcrumb-item active">Fatura Lote</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Faturamento em Lote
        </h1>
    </div>

    <div id="knockoutFaturaCancelamentoLote">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <h2>Gerar Fatura em Lote</h2>
                </div>
                <div class="panel-content">

                    <form id="knockoutFaturaLote">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: GrupoPessoas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataFatura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFatura.text, attr: { for: DataFatura.id }"></label>
                                    <input type="text" class="form-control" data-bind="enable: DataFatura.enable, class: DataFatura.requiredClass, value: DataFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFatura.maxlength, id : DataFatura.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroBooking.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>                            
                            <div class="col-12 col-md-2" data-bind="visible : TipoPropostaMultimodal.visible, css: TipoPropostaMultimodal.cssClass">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPropostaMultimodal.text, attr: { for: TipoPropostaMultimodal.id }"></label>
                                    <select class="form-control" data-bind="options: TipoPropostaMultimodal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoPropostaMultimodal.val, attr: { id : TipoPropostaMultimodal.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Todos"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoCTe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCTe.text, attr: { for: TipoCTe.id }"></label>
                                    <select class="form-control" data-bind="class: TipoCTe.requiredClass, options: TipoCTe.options, optionsText: 'text', optionsValue: 'value', value: TipoCTe.val, attr: { maxlength: TipoCTe.maxlength, id : TipoCTe.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PedidoViagemDirecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PedidoViagemDirecao.text, attr: { for: PedidoViagemDirecao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PedidoViagemDirecao.requiredClass, value: PedidoViagemDirecao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PedidoViagemDirecao.maxlength, id : PedidoViagemDirecao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PedidoViagemDirecao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TerminalOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalOrigem.text, attr: { for: TerminalOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalOrigem.requiredClass, value: TerminalOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalOrigem.maxlength, id : TerminalOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TerminalDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TerminalDestino.text, attr: { for: TerminalDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TerminalDestino.requiredClass, value: TerminalDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TerminalDestino.maxlength, id : TerminalDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TerminalDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mb-2">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisa.eventClick, attr: { id: Pesquisa.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisa.text"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ApenasFaturaExclusiva.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ApenasFaturaExclusiva.val, attr: { maxlength: ApenasFaturaExclusiva.maxlength, name: ApenasFaturaExclusiva.id, id: ApenasFaturaExclusiva.id }">
                                    <label class="custom-control-label" data-bind="text: ApenasFaturaExclusiva.text, attr: { for: ApenasFaturaExclusiva.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-2">
                            <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="enable: Conhecimentos.enable, attr: { id: Conhecimentos.idGrid}" cellspacing="0"></table>
                       
                        <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                            </div>
                        </div>
                    </form>
                    <div id="knockoutCRUDFaturaLote" class="d-flex justify-content-center justify-content-md-end mt-2">
                        <button class="btn btn-success me-2" data-bind="visible: GerarFaturaExclusiva.visible, click: GerarFaturaExclusiva.eventClick, attr: { id: GerarFaturaExclusiva.id}" type="button">
                            <i class="fal fa-file-excel"></i><span data-bind="text: GerarFaturaExclusiva.text"></span>
                        </button>
                        <button class="btn btn-success" data-bind="visible: GerarFatura.visible, click: GerarFatura.eventClick, attr: { id: GerarFatura.id}" type="button">
                            <i class="fal fa-file-excel"></i><span data-bind="text: GerarFatura.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/faturaLote"></script>
<script type="text/javascript">

    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    $(document).ready(function () {
        loadFaturaLote();
    });

</script>
