
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Faturas</li>
        <li class="breadcrumb-item active">Justificativa</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Justificativas
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(830)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>
</section>

<div id="knockoutPesquisaJustificativa">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Justificativas
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoJustificativa.text, attr: { for: TipoJustificativa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoJustificativa.requiredClass, options: TipoJustificativa.options, optionsText: 'text', optionsValue: 'value', value: TipoJustificativa.val, attr: { maxlength: TipoJustificativa.maxlength, id : TipoJustificativa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FinalidadeJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FinalidadeJustificativa.text, attr: { for: FinalidadeJustificativa.id }"></label>
                                    <select class="form-control" data-bind="class: FinalidadeJustificativa.requiredClass, options: FinalidadeJustificativa.options, optionsText: 'text', optionsValue: 'value', value: FinalidadeJustificativa.val, attr: { maxlength: FinalidadeJustificativa.maxlength, id : FinalidadeJustificativa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3">
    <div id="knockoutCadastroJustificativa" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item d-none" id="liTabMovimentoFinanceiro">
                    <a href="#tabMovimentoFinanceiro" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Movimento Financeiro</span>
                    </a>
                </li>
                <li class="nav-item d-none" id="liRepom">
                    <a href="#tabRepom" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Repom</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoJustificativa.text, attr: { for: TipoJustificativa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoJustificativa.requiredClass, options: TipoJustificativa.options, optionsText: 'text', optionsValue: 'value', value: TipoJustificativa.val, attr: { maxlength: TipoJustificativa.maxlength, id : TipoJustificativa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FinalidadeJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FinalidadeJustificativa.text, attr: { for: FinalidadeJustificativa.id }"></label>
                                    <select class="form-control" data-bind="class: FinalidadeJustificativa.requiredClass, options: FinalidadeJustificativa.options, optionsText: 'text', optionsValue: 'value', value: FinalidadeJustificativa.val, attr: { maxlength: FinalidadeJustificativa.maxlength, id : FinalidadeJustificativa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: AplicacaoValorContratoFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: AplicacaoValorContratoFrete.text, attr: { for: AplicacaoValorContratoFrete.id }"></label>
                                    <select class="form-control" data-bind="class: AplicacaoValorContratoFrete.requiredClass, options: AplicacaoValorContratoFrete.options, optionsText: 'text', optionsValue: 'value', value: AplicacaoValorContratoFrete.val, attr: { maxlength: AplicacaoValorContratoFrete.maxlength, id : AplicacaoValorContratoFrete.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-5" data-bind="visible: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.val, attr: { maxlength: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.maxlength, name: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.id, id: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.id }">
                                        <label class="custom-control-label" data-bind="text: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.text, attr: { for: UsarDataAutorizacaoParaMovimentoAcrescimoDesconto.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" data-bind="visible: MotivoAvaria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MotivoAvaria.text, attr: { for: MotivoAvaria.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: MotivoAvaria.requiredClass, value: MotivoAvaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: MotivoAvaria.maxlength, id : MotivoAvaria.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MotivoAvaria.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="tabMovimentoFinanceiro" role="tabpanel">
                    <div class="row">
                        <h1 class="col-12 col-md-6">
                            Movimento Financeiro
                        </h1>
                        <div class="col-12 col-md-6 justify-content-end d-flex subheader-help">
                            <button type="button" onclick="iniciarAjuda(381)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-switch ms-2 mb-3">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: GerarMovimentoAutomatico.val, attr: { name: GerarMovimentoAutomatico.id, id: GerarMovimentoAutomatico.id }">
                            <label class="custom-control-label" data-bind="text: GerarMovimentoAutomatico.text, attr: { for: GerarMovimentoAutomatico.id }"></label>
                        </div>
                    </div>
                    <div class="well padding-10" data-bind="id: GerarMovimentoAutomatico.idFade, fadeVisible: GerarMovimentoAutomatico.visibleFade">
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoUsoJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoUsoJustificativa.text, attr: { for: TipoMovimentoUsoJustificativa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoUsoJustificativa.requiredClass, value: TipoMovimentoUsoJustificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoUsoJustificativa.maxlength, id : TipoMovimentoUsoJustificativa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoUsoJustificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoReversaoUsoJustificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoReversaoUsoJustificativa.text, attr: { for: TipoMovimentoReversaoUsoJustificativa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoReversaoUsoJustificativa.requiredClass, value: TipoMovimentoReversaoUsoJustificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoReversaoUsoJustificativa.maxlength, id : TipoMovimentoReversaoUsoJustificativa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoReversaoUsoJustificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabRepom" role="tabpanel">
                    <div class="subheader">
                        <h1 class="subheader-title">
                            Repom
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracaoRepom.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CodigoIntegracaoRepom.text, attr: { for: CodigoIntegracaoRepom.id }"></label>
                                <input type="text" class="form-control" data-bind="class: CodigoIntegracaoRepom.requiredClass, value: CodigoIntegracaoRepom.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoRepom.maxlength, id : CodigoIntegracaoRepom.id}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex mt-2">
                    <button class="btn btn-default" type="button" data-bind="visible: Cancelar.visible, click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                        <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                        <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                        <i class="fal fa-spiner"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>










<script src="~/scripts/justificativa"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadJustificativa();
    });

</script>

