<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
		NAO UTILIZAR WEBCONFIG PARA CONFIGURAÇÕES
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="CaminhoOcorrencias" value="D:\Arquivos\Ocorrencias" />
		<add key="CaminhoOcorrenciasMobiles" value="D:\Arquivos\OcorrenciasMobiles" />
		<add key="CaminhoCanhotos" value="C:\Arquivos\Canhotos" />
		<add key="CaminhoArquivos" value="C:\Arquivos" />
		<add key="CaminhoCanhotosAvulsos" value="C:\Arquivos\CanhotosAvulsos" />
		<add key="CaminhoTempArquivosImportacao" value="D:\Arquivos\TempImportacao" />
		<add key="VersaoAplicativoMobile" value="1.8" />
		<add key="TempoSessao" value="25" />
		<add key="UtilizarHttps" value="true" />
		<add key="APILink" value="https://apipro1.ocr.space/parse/image" />
		<add key="APIKey" value="PKMXB6332888A" />
		<add key="EnviarTodasNotificacoesPorEmail" value="false" />
		<add key="PrefixoMSMQ" value="Homologacao" />
		<add key="CaminhoRelatoriosCrystal" value="C:\Users\Rodrigo\Documents\Projetos\MultiCTe\SGT.WebAdmin" />
		<add key="ValidarSenhaAutomatica" value="SIM" />
		<add key="UtilizaAppTrizy" value="SIM" />-->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_INFe" />
			</basicHttpBinding>
			<webHttpBinding>
				<binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</webHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:5146/NFe.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INFe" contract="NFe.INFe" name="BasicHttpBinding_INFe" />
		</client>
		<services>
			<service behaviorConfiguration="ServiceAutenticacao" name="SGT.Mobile.Autenticacao">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IAutenticacao" />
			</service>
			<service behaviorConfiguration="ServiceCargas" name="SGT.Mobile.Cargas">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.ICargas" />
			</service>
			<service behaviorConfiguration="ServiceCanhotos" name="SGT.Mobile.Canhotos">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.ICanhotos" />
			</service>
			<service behaviorConfiguration="ServiceControleCarregamento" name="SGT.Mobile.ControleCarregamento">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IControleCarregamento" />
			</service>
			<service behaviorConfiguration="ServiceControleEntrega" name="SGT.Mobile.ControleEntrega">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IControleEntrega" />
			</service>
			<service behaviorConfiguration="ServiceFilaCarregamento" name="SGT.Mobile.FilaCarregamento">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IFilaCarregamento" />
			</service>
			<service behaviorConfiguration="ServiceFluxoGestaoPatio" name="SGT.Mobile.FluxoGestaoPatio">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IFluxoGestaoPatio" />
			</service>
			<service behaviorConfiguration="ServiceManobra" name="SGT.Mobile.Manobra">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IManobra" />
			</service>
			<service behaviorConfiguration="ServiceMotorista" name="SGT.Mobile.Motorista">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IMotorista" />
			</service>
			<service behaviorConfiguration="ServiceNotificacao" name="SGT.Mobile.Notificacao">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.INotificacao" />
			</service>
			<service behaviorConfiguration="ServiceOcorrenciaPatio" name="SGT.Mobile.OcorrenciaPatio">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IOcorrenciaPatio" />
			</service>
			<service behaviorConfiguration="ServiceMonitoramento" name="SGT.Mobile.Monitoramento">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.IMonitoramento" />
			</service>
			<service behaviorConfiguration="ServiceMTrackAutenticacao" name="SGT.Mobile.MTrack.V1.Autenticacao">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.IAutenticacao" />
			</service>
			<service behaviorConfiguration="ServiceMTrackCargas" name="SGT.Mobile.MTrack.V1.Cargas">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.ICargas" />
			</service>
			<service behaviorConfiguration="ServiceMTrackColetaEntrega" name="SGT.Mobile.MTrack.V1.ColetaEntrega">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.IColetaEntrega" />
			</service>
			<service behaviorConfiguration="ServiceMTrackNotificacao" name="SGT.Mobile.MTrack.V1.Notificacao">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.INotificacao" />
			</service>
			<service behaviorConfiguration="ServiceMTrackEventos" name="SGT.Mobile.MTrack.V1.Eventos">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.IEventos" />
			</service>
			<service behaviorConfiguration="ServiceMTrackUsuario" name="SGT.Mobile.MTrack.V1.Usuario">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.IUsuario" />
			</service>
			<service behaviorConfiguration="ServiceMTrackLogs" name="SGT.Mobile.MTrack.V1.Logs">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SGT.Mobile.MTrack.V1.ILogs" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceAutenticacao">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceCargas">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceCanhotos">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceControleEntrega">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceControleCarregamento">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceFilaCarregamento">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceFluxoGestaoPatio">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceManobra">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMotorista">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceNotificacao">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceOcorrenciaPatio">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMonitoramento">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>

				<!--Novo app-->
				<behavior name="ServiceMTrackAutenticacao">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackCargas">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackColetaEntrega">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackNotificacao">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackEventos">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackUsuario">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="ServiceMTrackLogs">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.21181" newVersion="4.4.0.21181" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Confluent.SchemaRegistry" publicKeyToken="34ce5df5fa699c09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
