
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frotas</li>
    <li class="breadcrumb-item active">Configuração Abastecimento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Configuração dos Abastecimentos
    </h1>
</div>

<div id="knockoutPesquisaConfiguracaoAbastecimento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Configuração dos Abastecimentos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoImportacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoImportacao.text, attr: { for: TipoImportacao.id }"></label>
                                    <select class="form-control" data-bind="options: TipoImportacao.options, optionsText: 'text', optionsValue: 'value', value: TipoImportacao.val, attr: { id : TipoImportacao.id}"></select>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active" id="liTabConfiguracao">
                    <a href="#tabConfiguracao" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Formulário de Cadastro</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabImportacao">
                    <a href="#tabPlanilha" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Planilha</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutCadastroConfiguracaoAbastecimento">
                <div class="tab-pane fade active show" id="tabConfiguracao" role="tabpanel">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoImportacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoImportacao.text, attr: { for: TipoImportacao.id }"></label>
                                    <select class="form-control" data-bind="options: TipoImportacao.options, optionsText: 'text', optionsValue: 'value', value: TipoImportacao.val, attr: { id : TipoImportacao.id}, event : {change : TipoImportacao.eventChange}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: PostoInterno.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PostoInterno.text, attr: { for: PostoInterno.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PostoInterno.requiredClass, value: PostoInterno.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PostoInterno.text, maxlength: PostoInterno.maxlength, id: PostoInterno.id, name: PostoInterno.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PostoInterno.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: LayoutEDI.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: LayoutEDI.text, attr: { for: LayoutEDI.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: LayoutEDI.requiredClass, value: LayoutEDI.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': LayoutEDI.text, maxlength: LayoutEDI.maxlength, id: LayoutEDI.id, name: LayoutEDI.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: LayoutEDI.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: UtilizarPrecoDaTabelaDeValoresDoFornecedor.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarPrecoDaTabelaDeValoresDoFornecedor.val, attr: { maxlength: UtilizarPrecoDaTabelaDeValoresDoFornecedor.maxlength, name: UtilizarPrecoDaTabelaDeValoresDoFornecedor.id, id: UtilizarPrecoDaTabelaDeValoresDoFornecedor.id }">
                                        <label class="custom-control-label" data-bind="text: UtilizarPrecoDaTabelaDeValoresDoFornecedor.text, attr: { for: UtilizarPrecoDaTabelaDeValoresDoFornecedor.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: NaoImportarAbastecimentoDuplicado.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoImportarAbastecimentoDuplicado.val, attr: { maxlength: NaoImportarAbastecimentoDuplicado.maxlength, name: NaoImportarAbastecimentoDuplicado.id, id: NaoImportarAbastecimentoDuplicado.id }">
                                        <label class="custom-control-label" data-bind="text: NaoImportarAbastecimentoDuplicado.text, attr: { for: NaoImportarAbastecimentoDuplicado.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: NaoGerarMovimentoFinanceiroFechamentoExterno.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoGerarMovimentoFinanceiroFechamentoExterno.val, attr: { maxlength: NaoGerarMovimentoFinanceiroFechamentoExterno.maxlength, name: NaoGerarMovimentoFinanceiroFechamentoExterno.id, id: NaoGerarMovimentoFinanceiroFechamentoExterno.id }">
                                        <label class="custom-control-label" data-bind="text: NaoGerarMovimentoFinanceiroFechamentoExterno.text, attr: { for: NaoGerarMovimentoFinanceiroFechamentoExterno.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: GerarContasAPagarParaAbastecimentoExternos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarContasAPagarParaAbastecimentoExternos.val, attr: { maxlength: GerarContasAPagarParaAbastecimentoExternos.maxlength, name: GerarContasAPagarParaAbastecimentoExternos.id, id: GerarContasAPagarParaAbastecimentoExternos.id }">
                                        <label class="custom-control-label" data-bind="text: GerarContasAPagarParaAbastecimentoExternos.text, attr: { for: GerarContasAPagarParaAbastecimentoExternos.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: TipoMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimento.text, maxlength: TipoMovimento.maxlength, id: TipoMovimento.id, name: TipoMovimento.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimento.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" id="tabPlanilha" role="tabpanel">

                    <div class="row">
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.id}" cellspacing="0"></table>
                        </div>


                        <div class="col-12 col-md-4" data-bind="visible: TipoCampo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCampo.text, attr: { for: TipoCampo.id }"></label>
                                <select class="form-control" data-bind="options: TipoCampo.options, optionsText: 'text', optionsValue: 'value', value: TipoCampo.val, attr: { id : TipoCampo.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: ColunaPlanilha.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ColunaPlanilha.text, attr: { for: ColunaPlanilha.id }"></label>
                                <select class="form-control" data-bind="options: ColunaPlanilha.options, optionsText: 'text', optionsValue: 'value', value: ColunaPlanilha.val, attr: { id : ColunaPlanilha.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Posicao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Posicao.text, attr: { for: Posicao.id }"></label>
                                <select class="form-control" data-bind="options: Posicao.options, optionsText: 'text', optionsValue: 'value', value: Posicao.val, attr: { id : Posicao.id}"></select>
                            </div>
                        </div>

                        <div class="clearfix" />
                        <div class="mb-2">
                            <button type="button" class="btn btn-labeled btn-success botaoDentroSmartAdmimForm" data-bind="click: AdicionarColuna.eventClick, visible: AdicionarColuna.visible, attr: { value: AdicionarColuna.text, id : AdicionarColuna.id}">
                                <i class="fal fa-plus"></i><span data-bind="text: AdicionarColuna.text"></span>
                            </button>
                        </div>

                    </div>

                </div>



            </div>
            <footer>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger mx-1 mx-sm-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                        </button>
                        <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                            <i class="fal fa-spinner"></i>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoAbastecimento"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracaoAbastecimento();
    });

</script>

