
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frotas</li>
    <li class="breadcrumb-item active">Controle KM Reboque</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Controle Vínculo e Desvínculo Reboque
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(184)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaControleKmReboque">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Vínculo e Desvínculo Reboque
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Reboque.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Reboque.requiredClass, value: Reboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: Reboque.maxlength, id : Reboque.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Reboque.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoInicial.text, attr: { for: DataCriacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoInicial.requiredClass, value: DataCriacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoInicial.maxlength, id : DataCriacaoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoFinal.text, attr: { for: DataCriacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoFinal.requiredClass, value: DataCriacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoFinal.maxlength, id : DataCriacaoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataAlteracaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAlteracaoInicial.text, attr: { for: DataAlteracaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAlteracaoInicial.requiredClass, value: DataAlteracaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAlteracaoInicial.maxlength, id : DataAlteracaoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataAlteracaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAlteracaoFinal.text, attr: { for: DataAlteracaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAlteracaoFinal.requiredClass, value: DataAlteracaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAlteracaoFinal.maxlength, id : DataAlteracaoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}, event : {change : Tipo.eventChange}"></select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex align-items-center justify-content-end mb-3">                        
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="divCadastroControleKmReboque">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Controle KM Reboque
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroControleKmReboque">
                    <div class="col-12 col-md-3" data-bind="visible: DataCriacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataCriacao.text, attr: { for: DataCriacao.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataCriacao.enable, class: DataCriacao.requiredClass, value: DataCriacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacao.maxlength, id : DataCriacao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataAlteracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAlteracao.text, attr: { for: DataAlteracao.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataAlteracao.enable, class: DataAlteracao.requiredClass, value: DataAlteracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAlteracao.maxlength, id : DataAlteracao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Veiculo.enable, css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Reboque.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Reboque.enable, css: Reboque.requiredClass, value: Reboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: Reboque.maxlength, id : Reboque.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Reboque.enable, attr: { id: Reboque.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: KM.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: KM.text, attr: { for: KM.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: KM.enable, class: KM.requiredClass, value: KM.val, valueUpdate: 'afterkeydown', attr: { maxlength: KM.maxlength, id : KM.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                            <select class="form-control" data-bind="enable: Tipo.enable, class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}, event : {change : Tipo.eventChange}"></select>
                        </div>
                    </div>
                    <footer>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">                                
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>                                
                            </div>
                        </div>
                    </footer>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/controlekmreboque"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {        
        loadHistoricoVinculoKmReboque();
    });

</script>

