
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frotas</li>
        <li class="breadcrumb-item active">Importação de Pedágio</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Importação de Pedágios
        </h1>
    </div>

    <div id="knockoutImportacaoDePedagio">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Formulário de Importação
                    </h3>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="form-group col-12 col-md-9" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val() !=``? Arquivo.val(): `Selecione um arquivo para anexar`"></label>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" style="margin-top: 27px;" data-bind="visible: Enviar.visible">
                            <button class="btn btn-success" type="button" data-bind="click: Enviar.eventClick, attr: { id: Enviar.id}">
                                <span data-bind="text: Enviar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/importacaoDePedagio"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadImportacaoDePedagio();
    });

</script>

