
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frotas</li>
    <li class="breadcrumb-item active">Reprocessar Abastecimento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Reprocessar Abastecimento
    </h1>
</div>

<div id="knockoutPesquisaReprocessarAbastecimento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Consulta de Abastecimentos</h2>
            </div>
            <div class="panel-content" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                <form>
                    <div class="row">

                        <div class="col-6 col-md-3" data-bind="visible: Veiculo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-3" data-bind="visible: Equipamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Equipamento.text, attr: { for: Equipamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Equipamento.val, enable: Equipamento.enable, attr: { maxlength: Equipamento.maxlength, id: Equipamento.id}, event: { blur: Equipamento.eventChange }, valueUpdate: 'afterkeydown'" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Equipamento.enable, attr: { id: Equipamento.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-2" data-bind="visible: SituacaoAbastecimento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoAbastecimento.text, attr: { for: SituacaoAbastecimento.id }"></label>
                                <select class="form-control" data-bind="options: SituacaoAbastecimento.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAbastecimento.val, attr: { id : SituacaoAbastecimento.id}, event: {change: SituacaoAbastecimento.eventChange}"></select>
                            </div>
                        </div>

                        <div class="col-4 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>

                        <div class="col-4 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id} , valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" type="button" data-bind="enable: SelecionarTodos.enable, click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                </div>

                <table width="100%" class="table table-bordered table-hover" data-bind="enable: Abastecimentos.enable, attr: { id: Abastecimentos.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-primary botaoDentroSmartAdmimForm" type="button" data-bind="click: Reprocessar.eventClick, attr: { id: Reprocessar.id }, visible: Reprocessar.visible">
                        <span data-bind="text: Reprocessar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/reprocessarAbastecimento"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadReprocessarAbastecimento();
    });

</script>