

<script type="text/html" id="html_base_modal_multiples_entities">
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{Localize::Gerais.MasterLayout.MultiplaSelecao}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-12 col-md-4" data-bind="visible: Entidade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Entidade.text, attr: { for: Entidade.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Entidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Entidade.maxlength, id : Entidade.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: 'old_' + Entidade.idBtnSearch }" type="button">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <header>
                        <h4>
                            <i class="fal fa-list-alt"></i>&nbsp;{Localize::Gerais.MasterLayout.ItensSelecionados}
                            <button class="btn btn-success waves-effect waves-themed float-end" data-bind="click: Adicionar.eventClick, attr : { id: Entidade.idBtnSearch }, enable: Adicionar.enable" type="button">
                               <i class="fal fa-plus"></i>&nbsp{Localize::Gerais.Geral.Adicionar}
                            </button>
                        </h4>
                    </header>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Adicionar.idGrid }" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</script>
