
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Integrações</li>
    <li class="breadcrumb-item active"> Controle das Integrações Rest</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Controle das Integrações Rest
    </h1>
</div>

<div id="knockoutControleDasIntegracoes">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <header>
                    <h2>Retornos de Integrações</h2>
                </header>
                <form>
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Integradora.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Integradora.text, attr: { for: Integradora.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Integradora.requiredClass, value: Integradora.val, valueUpdate: 'afterkeydown', attr: { maxlength: Integradora.maxlength, id : Integradora.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Integradora.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Metodo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Metodo.text, attr: { for: Metodo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Metodo.requiredClass, value: Metodo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Metodo.maxlength, id : Metodo.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Metodo.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/controleDasIntegracoes"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadControleDasIntegracoes();
    });

</script>



