
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Integrações</li>
    <li class="breadcrumb-item active">Documento Havan</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Geração de Documentos para a HAVAN
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Formulário de Geração
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutDocumentoHavan">
                    <div class="col-12 col-md-2" data-bind="visible: DataVigencia.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataVigencia.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataVigencia.requiredClass, value: DataVigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVigencia.maxlength, id : DataVigencia.id}" />
                        </div>
                    </div>

                </div>
                <hr />
                <footer id="knockoutCRUDDocumentoHavan">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-sm-start" data-bind="visible: Rota.visible">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Rota.eventClick, attr: { id: Rota.id}, enable: Rota.enable">
                                <span data-bind="text: Rota.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success  ms-3" data-bind="click: Pedagio.eventClick, attr: { id: Pedagio.id}, enable: Pedagio.enable">
                                <span data-bind="text: Pedagio.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success  ms-3" data-bind="click: ValorFreteCargaModeloVeiculo.eventClick, attr: { id: ValorFreteCargaModeloVeiculo.id}, enable: ValorFreteCargaModeloVeiculo.enable">
                                <span data-bind="text: ValorFreteCargaModeloVeiculo.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success  ms-3" data-bind="click: TabelaPagamentoTerceiros.eventClick, attr: { id: TabelaPagamentoTerceiros.id}, enable: TabelaPagamentoTerceiros.enable">
                                <span data-bind="text: TabelaPagamentoTerceiros.text"></span>
                            </button>
                        </div>

                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/documentoHavan"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadDocumentoHavan();
    });

</script>