

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Integrações</li>
    <li class="breadcrumb-item active">Exportação Arquivo Integração</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Exportação de Arquivo
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Exportação de Arquivo
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutExportacaoArquivoIntegracao">
                <div class="row" >
                    <div class="col-12 col-md-2" data-bind="visible: DataEmissao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmissao.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataAberturaCIOT.requiredClass, value: DataEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataAberturaCIOT.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataAberturaCIOT.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataAberturaCIOT.requiredClass, value: DataAberturaCIOT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAberturaCIOT.maxlength, id : DataAberturaCIOT.id}" />
                        </div>
                    </div>
                                      
                </div>
                <hr />
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end" data-bind="visible: Contrato.visible">
                            <button type="button" class="btn btn-labeled btn-success botaoDentroSmartAdmimForm " data-bind="click: Contrato.eventClick, attr: { id: Contrato.id}, enable: Contrato.enable"">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Contrato.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>


<script src="~/scripts/exportacaoArquivoIntegracao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadExportacaoArquivoIntegracao();
    });

</script>