
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Integrações</li>
    <li class="breadcrumb-item active">Integração com Envio Programado</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Integração com Envio Programado
    </h1>
</div>

<div id="knockoutIntegracaoEnvioProgramado">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed mb-2" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Integrações
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroCTE.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroCTE.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroCTE.requiredClass, value: NumeroCTE.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCTE.maxlength, id : NumeroCTE.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOcorrencia.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroOcorrencia.requiredClass, value: NumeroOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOcorrencia.maxlength, id : NumeroOcorrencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoIntegracao.text, attr: { for: SituacaoIntegracao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoIntegracao.requiredClass, options: SituacaoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoIntegracao.val, attr: { maxlength: SituacaoIntegracao.maxlength, id : SituacaoIntegracao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoEntidadeIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoEntidadeIntegracao.text, attr: { for: TipoEntidadeIntegracao.id }"></label>
                                    <select class="form-control" data-bind="class: TipoEntidadeIntegracao.requiredClass, options: TipoEntidadeIntegracao.options, optionsText: 'text', optionsValue: 'value', value: TipoEntidadeIntegracao.val, attr: { maxlength: TipoEntidadeIntegracao.maxlength, id : TipoEntidadeIntegracao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataIntegracaoInicial.requiredClass, value: DataIntegracaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoInicial.maxlength, id : DataIntegracaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataIntegracaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataIntegracaoFinal.requiredClass, value: DataIntegracaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoFinal.maxlength, id : DataIntegracaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataProgramadaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataProgramadaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataProgramadaInicial.requiredClass, value: DataProgramadaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramadaInicial.maxlength, id : DataProgramadaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataProgramadaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataProgramadaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataProgramadaFinal.requiredClass, value: DataProgramadaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramadaFinal.maxlength, id : DataProgramadaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCriacaoCargaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoCargaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoCargaInicial.requiredClass, value: DataCriacaoCargaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoCargaInicial.maxlength, id : DataCriacaoCargaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCriacaoCargaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoCargaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCriacaoCargaFinal.requiredClass, value: DataCriacaoCargaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoCargaFinal.maxlength, id : DataCriacaoCargaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataEmissaoCTEInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoCTEInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEmissaoCTEInicial.requiredClass, value: DataEmissaoCTEInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCTEInicial.maxlength, id : DataEmissaoCTEInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataEmissaoCTEFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoCTEFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEmissaoCTEFinal.requiredClass, value: DataEmissaoCTEFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoCTEFinal.maxlength, id : DataEmissaoCTEFinal.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <button type="button" class="btn btn-info me-2" data-loading-text="Aguarde..." data-bind="click: ReenviarTodasIntegracoesComFalha.eventClick, visible: ReenviarTodasIntegracoesComFalha.visible, text: ReenviarTodasIntegracoesComFalha.text, attr: { id : ReenviarTodasIntegracoesComFalha.id}">
                                <i class="fal fa-spinner"></i>
                            </button>
                            <button class="btn btn-primary btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="container-importacao-feeder-conteudo">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Integrações
                </h3>
            </div>
            <div class="panel-content">

                <table width="100%" id="grid-integracao-envio-programado" class="table table-bordered table-hover" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracaoEnvioProgramado" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoEnvioProgramado"></table>
            </div>
        </div>
    </div>
</div>

<style>
    .img-carregamento {
        border: 1px solid #d0d0d0;
        border-radius: 3px;
    }
</style>

<script src="~/scripts/integracaoEnvioProgramado"></script>

<script type="text/javascript">
    pageSetUp();

    var _tiposOrigemIntegracao = @Html.Raw(ViewBag.TiposEntidadeIntegracao);

    $(document).ready(function () {
        LoadIntegracaoEnvioProgramado()
    });

</script>