

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Torre de Controle</li>
    <li class="breadcrumb-item active">Checklist SuperApp</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Checklist SuperApp
    </h1>
</div>

<div id="knockoutPesquisaChecklistSuperApp">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Exibir Filtros
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Codigo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Codigo.text"></label>
                                <input type="text" class="form-control" data-bind="class: Codigo.requiredClass, value: Codigo.val, attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: IdSuperApp.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: IdSuperApp.text"></label>
                                <input type="text" class="form-control" data-bind="class: IdSuperApp.requiredClass, value: IdSuperApp.val, attr: { maxlength: IdSuperApp.maxlength, id : IdSuperApp.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Titulo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Titulo.text"></label>
                                <input type="text" class="form-control" data-bind="class: Titulo.requiredClass, value: Titulo.val, attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: TipoFluxo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoFluxo.text, attr: { for: TipoFluxo.id }"></label>
                                <select class="form-control" data-bind="class: TipoFluxo.requiredClass, options: TipoFluxo.options, optionsText: 'text', optionsValue: 'value', value: TipoFluxo.val, attr: { maxlength: TipoFluxo.maxlength, id : TipoFluxo.id}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <div class="row">
                        <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Checklist
            </h3>
        </div>
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabChecklistSuperApp" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-pen"></i><span class="hidden-mobile hidden-tablet">Dados</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutChecklistSuperApp">
                <div class="tab-pane fade active show" id="tabChecklistSuperApp" role="tabpanel">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Titulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Titulo.text, attr: { for: Titulo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Titulo.requiredClass, value: Titulo.val, attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoFluxo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoFluxo.text, attr: { for: TipoFluxo.id }"></label>
                                    <select class="form-control" data-bind="class: TipoFluxo.requiredClass, options: TipoFluxo.options, optionsText: 'text', optionsValue: 'value', value: TipoFluxo.val, attr: { maxlength: TipoFluxo.maxlength, id : TipoFluxo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-hdr">
                    <h3>Etapas</h3>
                </div>
                <div class="row mt-3">
                    <div class="panel-header">
                        <h3>Etapas Cadastradas</h3>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridEtapasChecklist.id}" cellspacing="0"></table>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tabDadosEtapaChecklist" class="nav-link active" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Cadastro de Etapa</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade active show" id="tabDadosEtapasChecklist" role="tabpanel">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: TipoEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoEtapaChecklist.text, attr: { for: TipoEtapaChecklist.id }"></label>
                                            <select class="form-control" data-bind="class: TipoEtapaChecklist.requiredClass, options: TipoEtapaChecklist.options, optionsText: 'text', optionsValue: 'value', value: TipoEtapaChecklist.val, attr: { maxlength: TipoEtapaChecklist.maxlength, id : TipoEtapaChecklist.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: TipoEvidencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoEvidencia.text, attr: { for: TipoEvidencia.id }"></label>
                                            <select class="form-control" data-bind="class: TipoEvidencia.requiredClass, options: TipoEvidencia.options, optionsText: 'text', optionsValue: 'value', value: TipoEvidencia.val, attr: { maxlength: TipoEvidencia.maxlength, id : TipoEvidencia.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: TituloEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TituloEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: TituloEtapaChecklist.enable, class: TituloEtapaChecklist.requiredClass, value: TituloEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: TituloEtapaChecklist.maxlength, id : TituloEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: DescricaoEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: DescricaoEtapaChecklist.enable, class: DescricaoEtapaChecklist.requiredClass, value: DescricaoEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoEtapaChecklist.maxlength, id : DescricaoEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: HelperTextEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: HelperTextEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: HelperTextEtapaChecklist.enable, class: HelperTextEtapaChecklist.requiredClass, value: HelperTextEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: HelperTextEtapaChecklist.maxlength, id : HelperTextEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: OrdemEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: OrdemEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: OrdemEtapaChecklist.enable, class: OrdemEtapaChecklist.requiredClass, value: OrdemEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: OrdemEtapaChecklist.maxlength, id : OrdemEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: TipoAlertaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoAlertaEtapaChecklist.text, attr: { for: TipoAlertaEtapaChecklist.id }"></label>
                                            <select class="form-control" data-bind="class: TipoAlertaEtapaChecklist.requiredClass, options: TipoAlertaEtapaChecklist.options, optionsText: 'text', optionsValue: 'value', value: TipoAlertaEtapaChecklist.val, attr: { maxlength: TipoAlertaEtapaChecklist.maxlength, id : TipoAlertaEtapaChecklist.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: TituloAlertaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TituloAlertaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: TituloAlertaEtapaChecklist.enable && TipoAlertaEtapaChecklist.val(), class: TituloAlertaEtapaChecklist.requiredClass, value: TituloAlertaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: TituloAlertaEtapaChecklist.maxlength, id : TituloAlertaEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: DescricaoAlertaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoAlertaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: DescricaoAlertaEtapaChecklist.enable && TipoAlertaEtapaChecklist.val(), class: DescricaoAlertaEtapaChecklist.requiredClass, value: DescricaoAlertaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoAlertaEtapaChecklist.maxlength, id : DescricaoAlertaEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Inicio Tipo NUMBER -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.Number">
                                    <div class="col-12 col-md-6" data-bind="visible: PlaceHolderEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlaceHolderEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: PlaceHolderEtapaChecklist.enable, class: PlaceHolderEtapaChecklist.requiredClass, value: PlaceHolderEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlaceHolderEtapaChecklist.maxlength, id : PlaceHolderEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizarNumerosDecimais.val, attr: { maxlength: UtilizarNumerosDecimais.maxlength, name: UtilizarNumerosDecimais.id, id: UtilizarNumerosDecimais.id }">
                                            <label class="custom-control-label" data-bind="text: UtilizarNumerosDecimais.text, attr: { for: UtilizarNumerosDecimais.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo NUMBER-->
                                <!-- Inicio tipo TEXT -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.Text">
                                    <div class="col-12 col-md-6" data-bind="visible: PlaceHolderEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlaceHolderEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: PlaceHolderEtapaChecklist.enable, class: PlaceHolderEtapaChecklist.requiredClass, value: PlaceHolderEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlaceHolderEtapaChecklist.maxlength, id : PlaceHolderEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: ValidacaoAdicionalTexto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValidacaoAdicionalTexto.text, attr: { for: ValidacaoAdicionalTexto.id }"></label>
                                            <select class="form-control" data-bind="class: ValidacaoAdicionalTexto.requiredClass, options: ValidacaoAdicionalTexto.options, optionsText: 'text', optionsValue: 'value', value: ValidacaoAdicionalTexto.val, attr: { maxlength: ValidacaoAdicionalTexto.maxlength, id : ValidacaoAdicionalTexto.id}"></select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo TEXT -->
                                <!-- Inicio Tipo IMAGE -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.Image">
                                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeMinimaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: QuantidadeMinimaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: QuantidadeMinimaEtapaChecklist.enable, class: QuantidadeMinimaEtapaChecklist.requiredClass, value: QuantidadeMinimaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeMinimaEtapaChecklist.maxlength, id : QuantidadeMinimaEtapaChecklist.id}" oninput="this.value = this.value.replace(/[^0-9]/g,'');" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeMaximaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: QuantidadeMaximaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: QuantidadeMaximaEtapaChecklist.enable, class: QuantidadeMaximaEtapaChecklist.requiredClass, value: QuantidadeMaximaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeMaximaEtapaChecklist.maxlength, id : QuantidadeMaximaEtapaChecklist.id}" oninput="this.value = this.value.replace(/[^0-9]/g,'');" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: GaleriaHabilitadaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: GaleriaHabilitadaEtapaChecklist.val, attr: { maxlength: GaleriaHabilitadaEtapaChecklist.maxlength, name: GaleriaHabilitadaEtapaChecklist.id, id: GaleriaHabilitadaEtapaChecklist.id }">
                                                <label class="custom-control-label" data-bind="text: GaleriaHabilitadaEtapaChecklist.text, attr: { for: GaleriaHabilitadaEtapaChecklist.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="text-primary mt-3">Metadados</h5>
                                            <hr class="mb-2 mt-1" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: MetadadosImagemMostrarLogo.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MetadadosImagemMostrarLogo.val, attr: { maxlength: MetadadosImagemMostrarLogo.maxlength, name: MetadadosImagemMostrarLogo.id, id: MetadadosImagemMostrarLogo.id }">
                                                <label class="custom-control-label" data-bind="text: MetadadosImagemMostrarLogo.text, attr: { for: MetadadosImagemMostrarLogo.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: MetadadosImagemMostrarData.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MetadadosImagemMostrarData.val, attr: { maxlength: MetadadosImagemMostrarData.maxlength, name: MetadadosImagemMostrarData.id, id: MetadadosImagemMostrarData.id }">
                                                <label class="custom-control-label" data-bind="text: MetadadosImagemMostrarData.text, attr: { for: MetadadosImagemMostrarData.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: MetadadosImagemMostrarHora.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MetadadosImagemMostrarHora.val, attr: { maxlength: MetadadosImagemMostrarHora.maxlength, name: MetadadosImagemMostrarHora.id, id: MetadadosImagemMostrarHora.id }">
                                                <label class="custom-control-label" data-bind="text: MetadadosImagemMostrarHora.text, attr: { for: MetadadosImagemMostrarHora.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: MetadadosImagemMostrarLocalizacao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MetadadosImagemMostrarLocalizacao.val, attr: { maxlength: MetadadosImagemMostrarLocalizacao.maxlength, name: MetadadosImagemMostrarLocalizacao.id, id: MetadadosImagemMostrarLocalizacao.id }">
                                                <label class="custom-control-label" data-bind="text: MetadadosImagemMostrarLocalizacao.text, attr: { for: MetadadosImagemMostrarLocalizacao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: MetadadosImagemMostrarNomeMotorista.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MetadadosImagemMostrarNomeMotorista.val, attr: { maxlength: MetadadosImagemMostrarNomeMotorista.maxlength, name: MetadadosImagemMostrarNomeMotorista.id, id: MetadadosImagemMostrarNomeMotorista.id }">
                                                <label class="custom-control-label" data-bind="text: MetadadosImagemMostrarNomeMotorista.text, attr: { for: MetadadosImagemMostrarNomeMotorista.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr class="mb-2 mt-1" />
                                        </div>
                                    </div>

                                </div>
                                <!-- Fim tipo IMAGE -->
                                <!-- Inicio Tipo IMAGE_VALIDATOR -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.ImageValidator">
                                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeMinimaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: QuantidadeMinimaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: QuantidadeMinimaEtapaChecklist.enable, class: QuantidadeMinimaEtapaChecklist.requiredClass, value: QuantidadeMinimaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeMinimaEtapaChecklist.maxlength, id : QuantidadeMinimaEtapaChecklist.id}" oninput="this.value = this.value.replace(/[^0-9]/g,'');" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeMaximaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: QuantidadeMaximaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: QuantidadeMaximaEtapaChecklist.enable, class: QuantidadeMaximaEtapaChecklist.requiredClass, value: QuantidadeMaximaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeMaximaEtapaChecklist.maxlength, id : QuantidadeMaximaEtapaChecklist.id}" oninput="this.value = this.value.replace(/[^0-9]/g,'');" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: ModoValidacaoImagemEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ModoValidacaoImagemEtapaChecklist.text, attr: { for: ModoValidacaoImagemEtapaChecklist.id }"></label>
                                            <select class="form-control" data-bind="class: ModoValidacaoImagemEtapaChecklist.requiredClass, options: ModoValidacaoImagemEtapaChecklist.options, optionsText: 'text', optionsValue: 'value', value: ModoValidacaoImagemEtapaChecklist.val, attr: { maxlength: ModoValidacaoImagemEtapaChecklist.maxlength, id : ModoValidacaoImagemEtapaChecklist.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: TipoProcessamentoImagemEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoProcessamentoImagemEtapaChecklist.text, attr: { for: TipoEtapaChecklist.id }"></label>
                                            <select class="form-control" data-bind="class: TipoProcessamentoImagemEtapaChecklist.requiredClass, options: TipoProcessamentoImagemEtapaChecklist.options, optionsText: 'text', optionsValue: 'value', value: TipoProcessamentoImagemEtapaChecklist.val, attr: { maxlength: TipoProcessamentoImagemEtapaChecklist.maxlength, id : TipoProcessamentoImagemEtapaChecklist.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: ThresholdEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ThresholdEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: ThresholdEtapaChecklist.enable && TipoProcessamentoImagemEtapaChecklist.val() == EnumTipoProcessamentoImagemEtapaChecklistSuperApp.BlackWhite, class: ThresholdEtapaChecklist.requiredClass, value: ThresholdEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: ThresholdEtapaChecklist.maxlength, id : ThresholdEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: UtilizarMascaraImagemValidatorEtapaChecklist.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="enable: UtilizarMascaraImagemValidatorEtapaChecklist.enable, checked: UtilizarMascaraImagemValidatorEtapaChecklist.val, attr: { maxlength: UtilizarMascaraImagemValidatorEtapaChecklist.maxlength, name: UtilizarMascaraImagemValidatorEtapaChecklist.id, id: UtilizarMascaraImagemValidatorEtapaChecklist.id }">
                                                <label class="custom-control-label" data-bind="text: UtilizarMascaraImagemValidatorEtapaChecklist.text, attr: { for: UtilizarMascaraImagemValidatorEtapaChecklist.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo IMAGE_VALIDATOR -->
                                <!-- Inicio Tipo DATE_TIME -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.DateTime">
                                    <div class="col-12 col-md-12" data-bind="visible: UsarDataAtualComoInicial.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarDataAtualComoInicial.val, attr: { maxlength: UsarDataAtualComoInicial.maxlength, name: UsarDataAtualComoInicial.id, id: UsarDataAtualComoInicial.id }">
                                                <label class="custom-control-label" data-bind="text: UsarDataAtualComoInicial.text, attr: { for: UsarDataAtualComoInicial.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo DATE_TIME  -->
                                <!-- Inicio Tipo TIMER -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.Timer">
                                    <div class="col-12 col-md-3" data-bind="visible: TempoEsperaEtapaChecklist.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TempoEsperaEtapaChecklist.text"></label>
                                            <input type="text" class="form-control" data-bind="enable: TempoEsperaEtapaChecklist.enable, class: TempoEsperaEtapaChecklist.requiredClass, value: TempoEsperaEtapaChecklist.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoEsperaEtapaChecklist.maxlength, id : TempoEsperaEtapaChecklist.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: PermitirPausarEtapaChecklist.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirPausarEtapaChecklist.val, attr: { maxlength: PermitirPausarEtapaChecklist.maxlength, name: PermitirPausarEtapaChecklist.id, id: PermitirPausarEtapaChecklist.id }">
                                                <label class="custom-control-label" data-bind="text: PermitirPausarEtapaChecklist.text, attr: { for: PermitirPausarEtapaChecklist.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo TIMER  -->
                                <!-- Inicio Tipo LOCATION -->
                                <div class="row" data-bind="visible: TipoEtapaChecklist.val() === EnumTipoEtapaChecklistSuperApp.Location">
                                    <div class="col-12 col-md-12" data-bind="visible: LocalizacaoBloquearAvancoEtapa.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: LocalizacaoBloquearAvancoEtapa.val, attr: { maxlength: LocalizacaoBloquearAvancoEtapa.maxlength, name: LocalizacaoBloquearAvancoEtapa.id, id: LocalizacaoBloquearAvancoEtapa.id }">
                                                <label class="custom-control-label" data-bind="text: LocalizacaoBloquearAvancoEtapa.text, attr: { for: LocalizacaoBloquearAvancoEtapa.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: LocalizacaoPodeAvancarForaRaio.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: LocalizacaoPodeAvancarForaRaio.val, attr: { maxlength: LocalizacaoPodeAvancarForaRaio.maxlength, name: LocalizacaoPodeAvancarForaRaio.id, id: LocalizacaoPodeAvancarForaRaio.id }">
                                                <label class="custom-control-label" data-bind="text: LocalizacaoPodeAvancarForaRaio.text, attr: { for: LocalizacaoPodeAvancarForaRaio.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: LocalizacaoObrigarImagemComprovacao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: LocalizacaoObrigarImagemComprovacao.val, attr: { maxlength: LocalizacaoObrigarImagemComprovacao.maxlength, name: LocalizacaoObrigarImagemComprovacao.id, id: LocalizacaoObrigarImagemComprovacao.id }">
                                                <label class="custom-control-label" data-bind="text: LocalizacaoObrigarImagemComprovacao.text, attr: { for: LocalizacaoObrigarImagemComprovacao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim tipo LOCATION  -->
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: ObrigatorioEtapaChecklist.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: ObrigatorioEtapaChecklist.val, attr: { maxlength: ObrigatorioEtapaChecklist.maxlength, name: ObrigatorioEtapaChecklist.id, id: ObrigatorioEtapaChecklist.id }">
                                                <label class="custom-control-label" data-bind="text: ObrigatorioEtapaChecklist.text, attr: { for: ObrigatorioEtapaChecklist.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <footer class="mt-2 ">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: CancelarCadastroEtapaChecklist.eventClick, visible: CancelarCadastroEtapaChecklist.visible, attr: { id : CancelarCadastroEtapaChecklist.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: CancelarCadastroEtapaChecklist.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: AtualizarCadastroEtapaChecklist.eventClick, visible: AtualizarCadastroEtapaChecklist.visible, attr: { id : AtualizarCadastroEtapaChecklist.id}">
                                        <i class="fal fa-check"></i>
                                        <span data-bind="text: AtualizarCadastroEtapaChecklist.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: AdicionarCadastroEtapaChecklist.eventClick, visible: AdicionarCadastroEtapaChecklist.visible, attr: { id : AdicionarCadastroEtapaChecklist.id}">
                                        <span data-bind="text: AdicionarCadastroEtapaChecklist.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
            <footer id="knockoutCRUDChecklistSuperApp" style="margin-top: 16px;">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-success m-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success m-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>


<script src="~/scripts/checklistSuperApp"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadChecklistSuperApp();
    });

</script>
