@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">TorreControle</li>
        <li class="breadcrumb-item active">ConsultaPorEntrega</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Torre de Controle
        </h1>
    </div>
    <div class="row" id="divConteudoRelatorio">
        <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>    
                        <i class="fal fa-search"></i>
                            Consulta Por Entrega
                    </h3>
                </div>
                <div class="col-12 col-md-12">
                    <div class="card" id="knockoutPesquisaConsultaPorEntrega">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="card-title">Filtros de Pesquisa</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: DataCriacaoCargaInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataCriacaoCargaInicial.text, attr: { for: DataCriacaoCargaInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataCriacaoCargaInicial.requiredClass, value: DataCriacaoCargaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoCargaInicial.maxlength, id : DataCriacaoCargaInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataCriacaoCargaFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataCriacaoCargaFinal.text, attr: { for: DataCriacaoCargaFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataCriacaoCargaFinal.requiredClass, value: DataCriacaoCargaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoCargaFinal.maxlength, id : DataCriacaoCargaFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEntregaInicial.text, attr: { for: DataPrevisaoEntregaInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaInicial.requiredClass, value: DataPrevisaoEntregaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaInicial.maxlength, id : DataPrevisaoEntregaInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataPrevisaoEntregaFinal.text, attr: { for: DataPrevisaoEntregaFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataPrevisaoEntregaFinal.requiredClass, value: DataPrevisaoEntregaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaFinal.maxlength, id : DataPrevisaoEntregaFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroNota.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroNota.text, attr: { for: NumeroNota.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroNota.requiredClass, value: NumeroNota.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNota.maxlength, id : NumeroNota.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Placa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Placa.text, attr: { for: Placa.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Placa.requiredClass, value: Placa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                        <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Operacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Operacao.text, attr: { for: Operacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Operacao.requiredClass, value: Operacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operacao.maxlength, id : Operacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divConfigRelatorio">
                </div>
                <div class="mt-3 mb-3">
                    <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridConsultaPorEntrega" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</section>








<script src="~/scripts/consultaPorEntrega"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConsultaPorEntrega();
    });

</script>
