

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Torre de Controle</li>
    <li class="breadcrumb-item active">Monitor de integrações do Super App</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Monitor de integrações do Super App
    </h1>
</div>

<div id="knockoutPesquisaMonitorIntegracoesSuperApp">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Exibir Filtros
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataInicioRecebimento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicioRecebimento.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicioRecebimento.requiredClass, value: DataInicioRecebimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicioRecebimento.maxlength, id : DataInicioRecebimento.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFimRecebimento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFimRecebimento.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFimRecebimento.requiredClass, value: DataFimRecebimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFimRecebimento.maxlength, id : DataFimRecebimento.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: SituacaoProcessamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoProcessamento.text, attr: { for: SituacaoProcessamento.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoProcessamento.requiredClass, options: SituacaoProcessamento.options, optionsText: 'text', optionsValue: 'value', value: SituacaoProcessamento.val, attr: { maxlength: SituacaoProcessamento.maxlength, id : SituacaoProcessamento.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoEventoApp.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoEventoApp.text, attr: { for: TipoEventoApp.id }"></label>
                                <select class="form-control" data-bind="class: TipoEventoApp.requiredClass, options: TipoEventoApp.options, optionsText: 'text', optionsValue: 'value', value: TipoEventoApp.val, attr: { maxlength: TipoEventoApp.maxlength, id : TipoEventoApp.id}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutMonitorIntegracoesSuperApp">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/monitorIntegracoesSuperApp"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadMonitorIntegracoesSuperApp();
    });

</script>
