<style>
	.desativado {
		color: #ccc !important;
	}
</style>

<section id="widget-grid">
	<ol class="breadcrumb page-breadcrumb">
		<li class="breadcrumb-item">{Localize::Cargas.ControleEntrega.TorreControle}</li>
		<li class="breadcrumb-item">{Localize::Cargas.ControleEntrega.Configuracoes}</li>
		<li class="breadcrumb-item active">{Localize::Cargas.ControleEntrega.TendenciaPrazoParadas}</li>
	</ol>
	<div class="subheader">
		<h1 class="subheader-title">{Localize::Cargas.ControleEntrega.TendenciaPrazoParadas}</h1>
	</div>

	<div id="knockoutTendenciaParadas">
		<div class="panel">
			<div class="panel-container">
				<div class="panel-content">
					<h4 style="font-weight:bold;">{Localize::Cargas.ControleEntrega.ConfiguracoesGerais}</h4>
					<h5 class="mb-3">{Localize::Cargas.ControleEntrega.EstabelecerConfiguracoesGeraisTendenciaPrazo}</h5>

					<div class="col-12 col-md-4" data-bind="visible: DataReferencia.visible">
						<div class="form-group">
							<label class="form-label mb-0" data-bind="text: DataReferencia.text"></label>
							<select class="form-control" data-bind="class: DataReferencia.requiredClass, options: DataReferencia.options, optionsText: 'text', optionsValue: 'value', value: DataReferencia.val"></select>
						</div>
					</div>

					<div class="col-12 col-md-12" data-bind="visible: ConsiderarDataEntradaComoDestino.visible">
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" data-bind="checked: ConsiderarDataEntradaComoDestino.val, attr: { maxlength: ConsiderarDataEntradaComoDestino.maxlength, name: ConsiderarDataEntradaComoDestino.id, id: ConsiderarDataEntradaComoDestino.id }">
								<label class="custom-control-label" data-bind="text: ConsiderarDataEntradaComoDestino.text, attr: { for: ConsiderarDataEntradaComoDestino.id }"></label>
							</div>
						</div>
					</div>

					<div style="margin-top: 40px">
						<div class="col-12 col-md-12" data-bind="visible: TempoAdiantado.visible">
							<div class="form-group mb-2">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" data-bind="checked: TempoAdiantado.val, attr: { name: TempoAdiantado.id, id: TempoAdiantado.id }">
									<label class="custom-control-label" data-bind="text: TempoAdiantado.text, attr: { for: TempoAdiantado.id }"></label>
								</div>
							</div>
						</div>
						<div class="card" data-bind="visible: TempoAdiantado.visible">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-md-3 d-flex align-items-center">
										<i style="color: #35a5d7; font-size: 1.3rem;" class="fas fa-solid fa-arrow-left" data-bind="css: { desativado: tempoAdiantadoDesativado }"></i>
										<i style="color: #35a5d7; margin-left: 10px; font-size: 1.3rem;" class="far fa-clock" data-bind="css: { desativado: tempoAdiantadoDesativado }"></i>
										<h5 class="mb-0 font-weight-bold" style="color: #35a5d7; margin-left: 1rem; font-size: 1.5rem;" data-bind="css: { desativado: tempoAdiantadoDesativado }">{Localize::Cargas.ControleEntrega.TempoAdiantadoTexto}</h5>
									</div>
									<div class="col-md-9 m-0">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" data-bind="text: TempoAdiantadoColeta.text, attr: { for: TempoAdiantadoColeta.id }"></label>
													<input type="text" class="form-control d-inline-block" data-bind="enable: TempoAdiantadoColeta.enable, class: TempoAdiantadoColeta.requiredClass, value: TempoAdiantadoColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoAdiantadoColeta.maxlength, id : TempoAdiantadoColeta.id}" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" data-bind="text: TempoAdiantadoEntrega.text, attr: { for: TempoAdiantadoEntrega.id }"></label>
													<input type="text" class="form-control d-inline-block" data-bind="enable: TempoAdiantadoEntrega.enable, class: TempoAdiantadoEntrega.requiredClass, value: TempoAdiantadoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoAdiantadoEntrega.maxlength, id : TempoAdiantadoEntrega.id}" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="margin-top: 30px">
						<div class="col-12 col-md-12" data-bind="visible: TempoAtrasado.visible">
							<div class="form-group mb-2">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" data-bind="checked: TempoAtrasado.val, attr: { name: TempoAtrasado.id, id: TempoAtrasado.id }">
									<label class="custom-control-label" data-bind="text: TempoAtrasado.text, attr: { for: TempoAtrasado.id }"></label>
								</div>
							</div>
						</div>
						<div class="card" data-bind="visible: TempoAtrasado.visible">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-md-3 d-flex align-items-center">
										<i style="color: #f89c36; font-size: 1.3rem;" class="fas fa-solid fa-arrow-right" data-bind="css: { desativado: tempoAtrasadoDesativado }"></i>
										<i style="color: #f89c36; margin-left: 10px; font-size: 1.3rem;" class="far fa-clock" data-bind="css: { desativado: tempoAtrasadoDesativado }"></i>
										<h5 class="mb-0 font-weight-bold" style="color: #f89c36; margin-left: 1rem; font-size: 1.5rem;" data-bind="css: { desativado: tempoAtrasadoDesativado }">{Localize::Cargas.ControleEntrega.TempoAtrasadoTexto}</h5>
									</div>
									<div class="col-md-9 m-0">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" data-bind="text: TempoAtrasadoColeta.text, attr: { for: TempoAtrasadoColeta.id }"></label>
													<input type="text" class="form-control d-inline-block" data-bind="enable: TempoAtrasadoColeta.enable, class: TempoAtrasadoColeta.requiredClass, value: TempoAtrasadoColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoAtrasadoColeta.maxlength, id : TempoAtrasadoColeta.id}" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" data-bind="text: TempoAtrasadoEntrega.text, attr: { for: TempoAtrasadoEntrega.id }"></label>
													<input type="text" class="form-control d-inline-block" data-bind="enable: TempoAtrasadoEntrega.enable, class: TempoAtrasadoEntrega.requiredClass, value: TempoAtrasadoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: TempoAtrasadoEntrega.maxlength, id : TempoAtrasadoEntrega.id}" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 10rem">
						<div class="col-12 text-right">
							<button type="button" class="btn btn-dark" data-bind="click: Salvar.eventClick">{Localize::Cargas.ControleEntrega.SalvarConfiguracoes}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<script src="~/scripts/TendenciaParadas"></script>
<script type="text/javascript">

	pageSetUp();

	$(document).ready(function () {
		LoadLocalizationResources(["Cargas.ConfiguracaoAlertaCarga", "Cargas.ControleEntrega"]).then(loadTendenciaParadas);
	});

</script>
