
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Autorização Tabela Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Autorização de Tabela de Frete
    </h1>
</div>
<div id="knockoutPesquisaTabelaFrete">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Pesquisar Tabelas de Frete
                </h3>
            </div>
            <div class="panel-content">
                <form>

                    <div class="mt-3">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible:  Tabela.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text:  Tabela.text, attr: { for:  Tabela.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css:  Tabela.requiredClass, value:  Tabela.val, valueUpdate: 'afterkeydown', attr: { 'aria-label':  Tabela.text, maxlength:  Tabela.maxlength, id:  Tabela.id, name:  Tabela.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id:  Tabela.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible:  TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text:  TipoOperacao.text, attr: { for:  TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css:  TipoOperacao.requiredClass, value:  TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { 'aria-label':  TipoOperacao.text, maxlength:  TipoOperacao.maxlength, id:  TipoOperacao.id, name:  TipoOperacao.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id:  TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible:  Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text:  Usuario.text, attr: { for:  Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id},attr: { class: Usuario.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id:  Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataInicial.requiredClass,value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataLimite.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataLimite.requiredClass,value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>Tabelas de Frete</h3>
            </div>
            <div class="panel-content">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-default ms-2" type="button" data-bind="click: ExportarDetalhes.eventClick, attr: { id: ExportarDetalhes.id }, visible: ExportarDetalhes.visible">
                        <span data-bind="text: ExportarDetalhes.text"></span>
                    </button>
                    <button class="btn btn-primary ms-2" type="button" data-bind="click: DelegarTodas.eventClick, attr: { id: DelegarTodas.id }, visible: DelegarTodas.visible">
                        <span data-bind="text: DelegarTodas.text"></span>
                    </button>
                    <button class="btn btn-danger ms-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                        <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                    </button>
                    <button class="btn btn-success ms-2" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                        <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalTabelaFrete" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da Tabela de Frete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutTabelaFrete" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet"> Tabela de Frete</span>
                        </a>
                    </li>
                    <li id="liVigenciaAnexo" class="nav-item">
                        <a href="#knockoutVigenciaAnexo" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet">Anexos</span>
                        </a>
                    </li>
                    <li id="liValoresAlterados" class="nav-item">
                        <a href="#tabValoresAlterados" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet">Valores Alterados</span>
                        </a>
                    </li>
                    <li id="liAutorizacao" class="nav-item">
                        <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet">Autorização</span>
                        </a>
                    </li>
                    <li id="liDelegar" class="nav-item" style="display:none">
                        <a href="#knockoutDelegar" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet">Delegar</span>
                        </a>
                    </li>
                    <li id="liObservacoes" class="nav-item">
                        <a href="#knockoutObservacoes" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet">Observações</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="knockoutTabelaFrete" class="tab-pane fade active show">
                        <h3>Detalhes  da Tabela de Frete</h3>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr>
                                            <td data-bind="visible: Descricao.visible">
                                                <strong data-bind="text: Descricao.text"></strong>
                                            </td>
                                            <td data-bind="visible: Descricao.visible">
                                                <span data-bind="text: Descricao.val"></span>
                                            </td>
                                            <td data-bind="visible: SituacaoDescricao .visible">
                                                <strong data-bind="text: SituacaoDescricao.text"></strong>
                                            </td>
                                            <td data-bind="visible: SituacaoDescricao .visible">
                                                <span data-bind="text: SituacaoDescricao.val"></span>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutVigenciaAnexo" class="tab-pane fade">
                        <h3>Anexos</h3>
                        <table width="100%" class="table table-bordered table-hover dataTable no-footer" cellspacing="0" id="grid-vigencia-anexo"></table>
                    </div>
                    <div id="tabValoresAlterados" class="tab-pane fade">
                        <h3>Valores Alterados</h3>
                        <table width="100%" class="table table-bordered table-hover dataTable no-footer" id="grid-valores-alterados" cellspacing="0"></table>
                        <div class="row justify-content-center" id="knockoutGerarPlanilhaExcelValoresAlterados">
                            <div class="col-12 col-md-12 ">
                                <button class="btn btn-success me-1" type="button" data-bind="click: GerarPlanilhaExcel.eventClick, attr: { id: GerarPlanilhaExcel.id}">
                                    <i></i><span data-bind="text: GerarPlanilhaExcel.text"></span>
                                </button>
                                <button class="btn btn-primary" type="button" data-bind="click: Preview.eventClick, attr: { id: Preview.id}">
                                    <i></i><span data-bind="text: Preview.text"></span>
                                </button>
                            </div>
                        </div>
                        <div id="divConfigRelatorio" style="display: none;">
                        </div>
                    </div>

                    <div id="knockoutAutorizacao" class="tab-pane fade">
                        <h3>Regras</h3>
                        <div class="row">

                            <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                </div>
                            </div>

                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                                    <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                                    <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="knockoutDelegar" class="tab-pane fade">
                        <h3>Delegar</h3>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: UsuarioDelegado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Delegar.eventClick, attr: { id: Delegar.id}">
                                    <span data-bind="text: Delegar.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>

                    <div id="knockoutObservacoes" class="tab-pane fade">
                        <h3>Observações</h3>
                        <table width="100%" class="table table-bordered table-hover dataTable no-footer" cellspacing="0" id="grid-observacoes"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalRejeitarTabelaFrete" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutRejeicaoTabelaFrete">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                        <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="divModalDelegarSelecionados" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutDelegarSelecionados">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Tabela de Frete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: UsuarioDelegado.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: UsuarioDelegado.text"></label>
                        <div class="input-group">
                            <input type="text" data-bind="value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id},attr: { class: UsuarioDelegado.requiredClass}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="click: Delegar.eventClick, attr: { value: Delegar.text, id : Delegar.id}">
                        <i class="fal fa-ban"></i><span data-bind="text: Delegar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesTabelasSelecionadaUnica" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" id="knockoutTabelaFreteSelecionadasUnicas">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes dos valores das tabelas selecionadas</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                        <i class="fal fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Valores alterados</h3>
                    <table width="100%" class="table table-bordered table-hover" id="grid-valores-alterados-tabelas" cellspacing="0"></table>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success me-1" type="button" data-bind="click: GerarPlanilhaExcel.eventClick, attr: { id: GerarPlanilhaExcel.id}">
                            <i class="fal fa-download"></i><span data-bind="text: GerarPlanilhaExcel.text"></span>
                        </button>  
                        <button class="btn btn-default me-1" type="button" data-bind="click: Preview.eventClick, attr: { id: Preview.id}">
                            <span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="~/scripts/autorizacaoTabelaFrete"></script>

<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Configuracoes));

    $(document).ready(function () {
        loadAutorizacao();
    });

</script>
