

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Bonificação Transportador</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Bonificações aos transportadores
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(869)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaBonificacaoTransportador">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Bonificação
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoDeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeCarga.text, attr: { for: TipoDeCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoDeCarga.requiredClass, value: TipoDeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeCarga.maxlength, id : TipoDeCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoDeCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabBonificacaoTransportador" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Bonificações aos Transportadores</span>
                    </a>
                </li>
                <li class="nav-item" id="liOcorrencias">
                    <a href="#tabOcorrencias" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Tipos de Ocorrências</span>
                    </a>
                </li>
                <li class="nav-item" id="liFiliaisTransportador">
                    <a href="#tabFiliaisTransportador" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Filiais Transportador</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="tabBonificacaoTransportador" role="tabpanel">
                    <div class="panel-hdr">
                        <h3><i class="fal fa-edit"></i> Cadastrar Bonificações aos Transportadores</h3>
                    </div>
                    <div class="row">
                        <div class="panel-content" id="knockoutCadastroBonificacaoTransportador">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: ComponenteFrete.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ComponenteFrete.text, attr: { for: ComponenteFrete.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ComponenteFrete.requiredClass, value: ComponenteFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: ComponenteFrete.maxlength, id : ComponenteFrete.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ComponenteFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: TipoOcorrencia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOcorrencia.text, attr: { for: TipoOcorrencia.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOcorrencia.requiredClass, value: TipoOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOcorrencia.maxlength, id : TipoOcorrencia.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOcorrencia.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Tipo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                        <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Percentual.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Percentual.text"></label>
                                        <input type="text" class="form-control" data-bind="css: Percentual.requiredClass, value: Percentual.val, attr: { maxlength: Percentual.maxlength, id : Percentual.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text"></label>
                                        <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text"></label>
                                        <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                        <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: IncluirBaseCalculoICMS.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: IncluirBaseCalculoICMS.val, attr: { maxlength: IncluirBaseCalculoICMS.maxlength, name: IncluirBaseCalculoICMS.id, id: IncluirBaseCalculoICMS.id }">
                                            <label class="custom-control-label" data-bind="text: IncluirBaseCalculoICMS.text, attr: { for: IncluirBaseCalculoICMS.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: NaoIncluirComponentesFreteCalculoBonificacao.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: NaoIncluirComponentesFreteCalculoBonificacao.val, attr: { maxlength: NaoIncluirComponentesFreteCalculoBonificacao.maxlength, name: NaoIncluirComponentesFreteCalculoBonificacao.id, id: NaoIncluirComponentesFreteCalculoBonificacao.id }">
                                            <label class="custom-control-label" data-bind="text: NaoIncluirComponentesFreteCalculoBonificacao.text, attr: { for: NaoIncluirComponentesFreteCalculoBonificacao.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Filiais</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button type="button" class="btn btn-labeled btn-primary mb-3" data-bind="visible: FiliaisInfo.visible, enable: FiliaisInfo.enable, attr: { id: FiliaisInfo.idBtnSearch}">
                                                        <i class="fal fa-plus"></i>
                                                        <span data-bind="text: FiliaisInfo.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: FiliaisInfo.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Tipos de Carga</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button type="button" class="btn btn-labeled btn-primary mb-3" data-bind="visible: TiposDeCargaInfo.visible, enable: TiposDeCargaInfo.enable, attr: { id: TiposDeCargaInfo.idBtnSearch}">
                                                        <i class="fal fa-plus"></i>
                                                        <span data-bind="text: TiposDeCargaInfo.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: TiposDeCargaInfo.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabOcorrencias" role="tabpanel">
                    <div id="knockoutTipoOcorrenciaBonificacaoTransportador">
                        <button type="button" class="btn btn-labeled btn-success mb-2" data-bind="click: Tipo.eventClick, visible: Tipo.visible, enable: Tipo.enable, attr: { id : Tipo.idBtnSearch}">
                            <i class="fal fa-plus"></i>  <span data-bind="text: Tipo.text"></span>
                        </button>
                        <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabFiliaisTransportador" role="tabpanel">
                    <div id="knockoutFilialTransportador">
                        <button type="button" class="btn btn-labeled btn-success mb-2" data-bind="click: FiliaisDoTransportador.eventClick, visible: FiliaisDoTransportador.visible, enable: FiliaisDoTransportador.enable, attr: { id : FiliaisDoTransportador.idBtnSearch}">
                            <i class="fal fa-plus"></i>  <span data-bind="text: FiliaisDoTransportador.text"></span>
                        </button>
                        <table widlabel="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
            <footer id="knockoutCRUDBonificacaoTransportador">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end mt-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success mx-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/bonificacaoTransportador"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadBonificacaoTransportador();
    });

</script>