
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Componentes Frete</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Componentes de Frete
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(85)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="knockoutPesquisaComponenteFrete">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoComponenteFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoComponenteFrete.text, attr: { for: TipoComponenteFrete.id }"></label>
                                    <select class="form-control" data-bind="options: TipoComponenteFrete.options, optionsText: 'text', optionsValue: 'value',value: TipoComponenteFrete.val, attr: { id : TipoComponenteFrete.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value',value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item d-none" id="liTabMovimentoFinanceiro">
                    <a href="#tabMovimentoFinanceiro" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Movimento Financeiro</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="#tabNFTP" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">NFTP</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="knockoutCadastroComponenteFrete">
                <!-- Detalhes -->
                <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                    <div>
                        <h4>Componente de Frete</h4>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoComponenteFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoComponenteFrete.text, attr: { for: TipoComponenteFrete.id }"></label>
                                <select class="form-control" data-bind="options: TipoComponenteFrete.options, optionsText: 'text', optionsValue: 'value',value: TipoComponenteFrete.val, attr: { id : TipoComponenteFrete.id}, event: {change: TipoComponenteFrete.eventChange}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: CodigoEmbarcador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CodigoEmbarcador.text"></label>
                                <input type="text" class="form-control" data-bind="value: CodigoEmbarcador.val, attr: { maxlength: CodigoEmbarcador.maxlength, id : CodigoEmbarcador.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoCampoAcertoViagem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCampoAcertoViagem.text, attr: { for: TipoCampoAcertoViagem.id }"></label>
                                <select class="form-control" data-bind="options: TipoCampoAcertoViagem.options, optionsText: 'text', optionsValue: 'value',value: TipoCampoAcertoViagem.val, attr: { id : TipoCampoAcertoViagem.id}, event: {change: TipoCampoAcertoViagem.eventChange}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoValor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoValor.text, attr: { for: TipoValor.id }"></label>
                                <select class="form-control" data-bind="options: TipoValor.options, optionsText: 'text', optionsValue: 'value',value: TipoValor.val, attr: { id : TipoValor.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value',value: Ativo.val, attr: { id : Ativo.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div data-bind="visible: DescricaoCTe.visible">
                                <label class="label"><b data-bind="text: DescricaoCTe.text"></b></label>
                                <div class="input-group mb-3 mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" data-bind="attr: { class: DescricaoCTe.requiredClass}">
                                            <input type="checkbox" data-bind="checked: ImprimirOutraDescricaoCTe.val, enable: ImprimirOutraDescricaoCTe.enable, attr: { maxlength: ImprimirOutraDescricaoCTe.maxlength, name: ImprimirOutraDescricaoCTe.id, id: ImprimirOutraDescricaoCTe.id }">
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" data-bind="class: DescricaoCTe.requiredClass, value: DescricaoCTe.val, enable: DescricaoCTe.enable, attr: { maxlength: DescricaoCTe.maxlength, id : DescricaoCTe.id} ">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: TipoComponenteFreteDOCCOB.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoComponenteFreteDOCCOB.text, attr: { for: TipoComponenteFreteDOCCOB.id }"></label>
                                <select class="form-control" data-bind="class: TipoComponenteFreteDOCCOB.requiredClass, options: TipoComponenteFreteDOCCOB.options, optionsText: 'text', optionsValue: 'value', value: TipoComponenteFreteDOCCOB.val, attr: { maxlength: TipoComponenteFreteDOCCOB.maxlength, id : TipoComponenteFreteDOCCOB.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: SomenteParaCargaPerigosa.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteParaCargaPerigosa.val, attr: { maxlength: SomenteParaCargaPerigosa.maxlength, name: SomenteParaCargaPerigosa.id, id: SomenteParaCargaPerigosa.id }">
                                    <label class="custom-control-label" data-bind="text: SomenteParaCargaPerigosa.text, attr: { for: SomenteParaCargaPerigosa.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: ImprimirDescricaoComponenteEmComplementos.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: ImprimirDescricaoComponenteEmComplementos.val, attr: { maxlength: ImprimirDescricaoComponenteEmComplementos.maxlength, name: ImprimirDescricaoComponenteEmComplementos.id, id: ImprimirDescricaoComponenteEmComplementos.id }">
                                    <label class="custom-control-label" data-bind="text: ImprimirDescricaoComponenteEmComplementos.text, attr: { for: ImprimirDescricaoComponenteEmComplementos.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: DescontarValorTotalAReceber.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: DescontarValorTotalAReceber.val, attr: { maxlength: DescontarValorTotalAReceber.maxlength, name: DescontarValorTotalAReceber.id, id: DescontarValorTotalAReceber.id }">
                                    <label class="custom-control-label" data-bind="text: DescontarValorTotalAReceber.text, attr: { for: DescontarValorTotalAReceber.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: AcrescentaValorTotalAReceber.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: AcrescentaValorTotalAReceber.val, attr: { maxlength: AcrescentaValorTotalAReceber.maxlength, name: AcrescentaValorTotalAReceber.id, id: AcrescentaValorTotalAReceber.id }">
                                    <label class="custom-control-label" data-bind="text: AcrescentaValorTotalAReceber.text, attr: { for: AcrescentaValorTotalAReceber.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: SomarComponenteFreteLiquido.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: SomarComponenteFreteLiquido.val, attr: { maxlength: SomarComponenteFreteLiquido.maxlength, name: SomarComponenteFreteLiquido.id, id: SomarComponenteFreteLiquido.id }">
                                    <label class="custom-control-label" data-bind="text: SomarComponenteFreteLiquido.text, attr: { for: SomarComponenteFreteLiquido.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: NaoSomarValorTotalAReceber.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoSomarValorTotalAReceber.val, attr: { maxlength: NaoSomarValorTotalAReceber.maxlength, name: NaoSomarValorTotalAReceber.id, id: NaoSomarValorTotalAReceber.id }">
                                    <label class="custom-control-label" data-bind="text: NaoSomarValorTotalAReceber.text, attr: { for: NaoSomarValorTotalAReceber.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: NaoSomarValorTotalPrestacao.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoSomarValorTotalPrestacao.val, attr: { maxlength: NaoSomarValorTotalPrestacao.maxlength, name: NaoSomarValorTotalPrestacao.id, id: NaoSomarValorTotalPrestacao.id }">
                                    <label class="custom-control-label" data-bind="text: NaoSomarValorTotalPrestacao.text, attr: { for: NaoSomarValorTotalPrestacao.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: NaoIncluirBaseCalculoImpostos.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoIncluirBaseCalculoImpostos.val, attr: { maxlength: NaoIncluirBaseCalculoImpostos.maxlength, name: NaoIncluirBaseCalculoImpostos.id, id: NaoIncluirBaseCalculoImpostos.id }">
                                    <label class="custom-control-label" data-bind="text: NaoIncluirBaseCalculoImpostos.text, attr: { for: NaoIncluirBaseCalculoImpostos.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: NaoDeveIncidirSobreNotasFiscaisPateles.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: NaoDeveIncidirSobreNotasFiscaisPateles.val, attr: { maxlength: NaoDeveIncidirSobreNotasFiscaisPateles.maxlength, name: NaoDeveIncidirSobreNotasFiscaisPateles.id, id: NaoDeveIncidirSobreNotasFiscaisPateles.id }">
                                    <label class="custom-control-label" data-bind="text: NaoDeveIncidirSobreNotasFiscaisPateles.text, attr: { for: NaoDeveIncidirSobreNotasFiscaisPateles.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: DescontarComponenteFreteLiquido.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: DescontarComponenteFreteLiquido.val, attr: { maxlength: DescontarComponenteFreteLiquido.maxlength, name: DescontarComponenteFreteLiquido.id, id: DescontarComponenteFreteLiquido.id }">
                                    <label class="custom-control-label" data-bind="text: DescontarComponenteFreteLiquido.text, attr: { for: DescontarComponenteFreteLiquido.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: DescontarComponenteNotaFiscalServico.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: DescontarComponenteNotaFiscalServico.val, attr: { maxlength: DescontarComponenteNotaFiscalServico.maxlength, name: DescontarComponenteNotaFiscalServico.id, id: DescontarComponenteNotaFiscalServico.id }">
                                    <label class="custom-control-label" data-bind="text: DescontarComponenteNotaFiscalServico.text, attr: { for: DescontarComponenteNotaFiscalServico.id }"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Movimento Financeiro -->
                <div class="tab-pane fade" id="tabMovimentoFinanceiro" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <h4>Movimento Financeiro</h4>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="subheader-help">
                                <button type="button" onclick="iniciarAjuda(376)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarMovimentoAutomatico.val, attr: { name: GerarMovimentoAutomatico.id, id: GerarMovimentoAutomatico.id }">
                        <label class="custom-control-label" data-bind="text: GerarMovimentoAutomatico.text, attr: { for: GerarMovimentoAutomatico.id }"></label>
                    </div>
                    <div data-bind="id: GerarMovimentoAutomatico.idFade, fadeVisible: GerarMovimentoAutomatico.visibleFade">
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoEmissao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoEmissao.text, attr: { for: TipoMovimentoEmissao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoEmissao.requiredClass, value: TipoMovimentoEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoEmissao.maxlength, id : TipoMovimentoEmissao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoEmissao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoCancelamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoCancelamento.text, attr: { for: TipoMovimentoCancelamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoCancelamento.requiredClass, value: TipoMovimentoCancelamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoCancelamento.maxlength, id : TipoMovimentoCancelamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoCancelamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoAnulacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoAnulacao.text, attr: { for: TipoMovimentoAnulacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoAnulacao.requiredClass, value: TipoMovimentoAnulacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoAnulacao.maxlength, id : TipoMovimentoAnulacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoAnulacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.text, attr: { for: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.requiredClass, value: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.maxlength, id : TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoAnulacaoComNotaAnulacaoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabNFTP" role="tabpanel">
                    <div>
                        <h4>Configurações de Charge Code</h4>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: ChargeId.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ChargeId.text"></label>
                                <input type="text" class="form-control" data-bind="css: ChargeId.requiredClass, value: ChargeId.val, attr: { maxlength: ChargeId.maxlength, id : ChargeId.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: ChargeCodeNet.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ChargeCodeNet.text"></label>
                                <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')" 
                                        data-bind="css: ChargeCodeNet.requiredClass, value: ChargeCodeNet.val, attr: { minLength: ChargeCodeNet.minLength, maxlength: ChargeCodeNet.maxlength, id : ChargeCodeNet.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-9" data-bind="visible: ChargeCodeGross.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ChargeCodeGross.text"></label>
                                <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')" data-bind="css: ChargeCodeGross.requiredClass, value: ChargeCodeGross.val, attr: {  minLength: ChargeCodeGross.minLength, maxlength: ChargeCodeGross.maxlength, id : ChargeCodeGross.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: CalcularPISComponente.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: CalcularPISComponente.val, attr: { maxlength: CalcularPISComponente.maxlength, name: CalcularPISComponente.id, id: CalcularPISComponente.id }">
                                    <label class="custom-control-label" data-bind="text: CalcularPISComponente.text, attr: { for: CalcularPISComponente.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: CalcularICMSComponente.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: CalcularICMSComponente.val, attr: { maxlength: CalcularICMSComponente.maxlength, name: CalcularICMSComponente.id, id: CalcularICMSComponente.id }">
                                    <label class="custom-control-label" data-bind="text: CalcularICMSComponente.text, attr: { for: CalcularICMSComponente.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-5" data-bind="visible: EnviarComponenteNFTP.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarComponenteNFTP.val, attr: { maxlength: EnviarComponenteNFTP.maxlength, name: EnviarComponenteNFTP.id, id: EnviarComponenteNFTP.id }">
                                    <label class="custom-control-label" data-bind="text: EnviarComponenteNFTP.text, attr: { for: EnviarComponenteNFTP.id }"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4>Configurações de envio de data</h4>
                        <hr />
                    </div>
                    <div class="row form-group">
                        <div class="col-3 col-md-3">
                            <label class="form-label" data-bind="text: DefinicaoDataEnvioIntegracaoEmbarque.text, attr: { for: DefinicaoDataEnvioIntegracaoEmbarque.id }"></label>
                            <select class="form-control" data-bind="class: DefinicaoDataEnvioIntegracaoEmbarque.requiredClass, options: DefinicaoDataEnvioIntegracaoEmbarque.options, optionsText: 'text', optionsValue: 'value', value: DefinicaoDataEnvioIntegracaoEmbarque.val, attr: { maxlength: DefinicaoDataEnvioIntegracaoEmbarque.maxlength, id : DefinicaoDataEnvioIntegracaoEmbarque.id}"></select>
                        </div>

                        <div class="col-3 col-md-3">
                            <label class="form-label" data-bind="text: DefinicaoDataEnvioIntegracao.text, attr: { for: DefinicaoDataEnvioIntegracao.id }"></label>
                            <select class="form-control" data-bind="class: DefinicaoDataEnvioIntegracao.requiredClass, options: DefinicaoDataEnvioIntegracao.options, optionsText: 'text', optionsValue: 'value', value: DefinicaoDataEnvioIntegracao.val, attr: { maxlength: DefinicaoDataEnvioIntegracao.maxlength, id : DefinicaoDataEnvioIntegracao.id}"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: PossuiBundle.val, attr: { name: PossuiBundle.id, id: PossuiBundle.id }">
                            <label class="custom-control-label" data-bind="text: PossuiBundle.text, attr: { for: PossuiBundle.id }"></label>
                        </div>
                    </div>
                    <div data-bind="id: PossuiBundle.idFade, fadeVisible: PossuiBundle.visibleFade">
                        <div class="col-12 col-md-4" data-bind="visible: ComponenteFreteBundle.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ComponenteFreteBundle.text, attr: { for: ComponenteFreteBundle.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ComponenteFreteBundle.requiredClass, value: ComponenteFreteBundle.val, valueUpdate: 'afterkeydown', attr: { maxlength: ComponenteFreteBundle.maxlength, id : ComponenteFreteBundle.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ComponenteFreteBundle.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default " data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success " data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/componenteFrete"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadComponenteFrete();
    });

</script>
