
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frete</li>
    <li class="breadcrumb-item">Contratos</li>
    <li class="breadcrumb-item active">Configuração de Notificação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração de Aviso Contrato de Frete
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Configuração de Aviso Contrato de Frete
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutConfiguracao">
                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible: Dias.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Dias.text"></label>
                            <input type="text" class="form-control" data-bind="value: Dias.val, valueUpdate: 'afterkeydown', attr: { maxlength: Dias.maxlength, id : Dias.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Emails.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Emails.text"></label>
                            <input type="text" class="form-control" data-bind="value: Emails.val, valueUpdate: 'afterkeydown', attr: { maxlength: Emails.maxlength, id : Emails.id}" />
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">   
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoNotificacaoContrato"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConfiguracao();
    });

</script>

