
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Valores de Descarga do Cliente</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Valores de Descarga do Cliente
    </h1>
</div>

<div id="knockoutPesquisaConfiguracaoDescargaCliente">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i> <span>Pesquisar Valores de Descarga do Cliente</span>
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Cliente.requiredClass, value: Cliente.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Cliente.text, maxlength: Cliente.maxlength, id: Cliente.id, name: Cliente.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Cliente.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value',value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataVigenciaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVigenciaInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVigenciaInicial.requiredClass, value: DataVigenciaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVigenciaInicial.maxlength, id : DataVigenciaInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataVigenciaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataVigenciaFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataVigenciaFinal.requiredClass, value: DataVigenciaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVigenciaFinal.maxlength, id : DataVigenciaFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModelosVeiculares.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModelosVeiculares.text, attr: { for: ModelosVeiculares.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModelosVeiculares.requiredClass, value: ModelosVeiculares.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModelosVeiculares.maxlength, id : ModelosVeiculares.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModelosVeiculares.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: SomenteVigentes.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteVigentes.val, attr: { maxlength: SomenteVigentes.maxlength, name: SomenteVigentes.id, id: SomenteVigentes.id }">
                                        <label class="custom-control-label" data-bind="text: SomenteVigentes.text, attr: { for: SomenteVigentes.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#tabDados" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Dados</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabClientes" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabGrupoCliente" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Grupos de Clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabTipoOperacao" class="nav-link" data-bs-toggle="tab">
                        <span>Tipos de Operação</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabTransportadores" class="nav-link" data-bs-toggle="tab">
                        <span>Transportadores</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="knockoutConfiguracaoDescargaCliente">
                <!-- Dados-->
                <div class="tab-pane fade active show" id="tabDados" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': ModeloVeicular.text, maxlength: ModeloVeicular.maxlength, id: ModeloVeicular.id, name: ModeloVeicular.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloVeicular.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', enable: Situacao.enable, optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoCarga.text, maxlength: TipoCarga.maxlength, id: TipoCarga.id, name: TipoCarga.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Valor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                    <input type="text" data-bind="css: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id: Valor.id, name: Valor.id, 'aria-label': Valor.text }" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorTonelada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorTonelada.text, attr: { for: ValorTonelada.id }"></label>
                                    <input type="text" data-bind="css: ValorTonelada.requiredClass, value: ValorTonelada.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTonelada.maxlength, id: ValorTonelada.id, name: ValorTonelada.id, 'aria-label': ValorTonelada.text }" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorUnidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorUnidade.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorUnidade.requiredClass, value: ValorUnidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnidade.maxlength, id : ValorUnidade.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorPallet.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorPallet.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorPallet.requiredClass, value: ValorPallet.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPallet.maxlength, id : ValorPallet.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: InicioVigencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: InicioVigencia.text, attr: { for: InicioVigencia.id }"></label>
                                    <input type="text" data-bind="css: InicioVigencia.requiredClass, value: InicioVigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: InicioVigencia.maxlength, id: InicioVigencia.id, name: InicioVigencia.id, 'aria-label': InicioVigencia.text }" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: FimVigencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FimVigencia.text, attr: { for: FimVigencia.id }"></label>
                                    <input type="text" data-bind="css: FimVigencia.requiredClass, value: FimVigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: FimVigencia.maxlength, id: FimVigencia.id, name: FimVigencia.id, 'aria-label': FimVigencia.text }" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: ValorDePreDescarga.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ValorDePreDescarga.val, attr: { maxlength: ValorDePreDescarga.maxlength, name: ValorDePreDescarga.id, id: ValorDePreDescarga.id }">
                                        <label class="custom-control-label" data-bind="text: ValorDePreDescarga.text, attr: { for: ValorDePreDescarga.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ValorAjudante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorAjudante.text"></label>
                                    <input type="text" class="form-control" data-bind="value: ValorAjudante.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAjudante.maxlength, id : ValorAjudante.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ComponentePreDescarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ComponentePreDescarga.text, attr: { for: ComponentePreDescarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ComponentePreDescarga.requiredClass, value: ComponentePreDescarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ComponentePreDescarga.maxlength, id : ComponentePreDescarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ComponentePreDescarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Clientes -->
                <div class="tab-pane fade" id="tabClientes" role="tabpanel">
                    <button type="button" class="btn btn-primary mb-2 waves-effect waves-themed" data-bind="visible: AdicionarCliente.visible, attr: { id: AdicionarCliente.idBtnSearch }">
                        <i class="fal fa-plus"></i>
                        <span data-bind="text: AdicionarCliente.text"></span>
                    </button>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Clientes.idGrid}" cellspacing="0"></table>
                </div>

                <!-- Grupos de Clientes -->
                <div class="tab-pane fade" id="tabGrupoCliente" role="tabpanel">
                    <button type="button" class="btn btn-primary mb-2 waves-effect waves-themed" data-bind="visible: AdicionarGrupoCliente.visible, attr: { id: AdicionarGrupoCliente.idBtnSearch }">
                        <i class="fal fa-plus"></i>
                        <span data-bind="text: AdicionarGrupoCliente.text"></span>
                    </button>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GrupoClientes.idGrid}" cellspacing="0"></table>
                </div>

                <!-- Tipos de Operação -->
                <div class="tab-pane fade" id="tabTipoOperacao">
                    <button type="button" class="btn btn-primary mb-2 waves-effect waves-themed" data-bind="attr: { id: Tipo.idBtnSearch}">
                        <i class="fal fa-plus"></i>
                        <span data-bind="text: Tipo.text"></span>
                    </button>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                </div>

                <!-- Transportadores -->
                <div class="tab-pane fade" id="tabTransportadores">
                    <button type="button" class="btn btn-primary mb-2 waves-effect waves-themed" data-bind="attr: { id: Transportadores.idBtnSearch }">
                        <i class="fal fa-plus"></i>
                        <span data-bind="text: Transportadores.text"></span>
                    </button>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Transportadores.idGrid}" cellspacing="0"></table>
                </div>

                <footer>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div data-bind='component: {name: "import-file", params: { ko: Importar }}' class="me-2"></div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-default ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible,  attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button type="button" class="btn btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible,  attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-success ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible,  attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible,  attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/ConfiguracaoDescargaCliente"></script>
<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Configuracoes));

    $(document).ready(function () {
        loadConfiguracaoDescargaCliente();
    });

</script>