
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Consulta Tabela Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-truck"></i> Consulta de Tabelas de Frete
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(165)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-search"></i>
                Consulta
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutPesquisaConsultaTabelaFrete">
                <form>

                    <div class="row">

                        <div class="col-12 col-md-6" data-bind="visible: TabelaFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: TipoRelatorio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: LocalidadeOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: LocalidadeOrigem.text, attr: { for: LocalidadeOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: LocalidadeOrigem.requiredClass, value: LocalidadeOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadeOrigem.maxlength, id : LocalidadeOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadeOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: LocalidadeDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: LocalidadeDestino.text, attr: { for: LocalidadeDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: LocalidadeDestino.requiredClass, value: LocalidadeDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadeDestino.maxlength, id : LocalidadeDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadeDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: RegiaoDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegiaoDestino.text, attr: { for: RegiaoDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: RegiaoDestino.requiredClass, value: RegiaoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: RegiaoDestino.maxlength, id : RegiaoDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: RegiaoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: EstadoOrigem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: EstadoDestino.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>

                        <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="row">

                                <div class="col-12 col-md-6" data-bind="visible: RotaOrigem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: RotaOrigem.text, attr: { for: RotaOrigem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: RotaOrigem.requiredClass, value: RotaOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaOrigem.maxlength, id : RotaOrigem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: RotaOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: RotaDestino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: RotaDestino.text, attr: { for: RotaDestino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: RotaDestino.requiredClass, value: RotaDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaDestino.maxlength, id : RotaDestino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: RotaDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: ModeloReboque.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ModeloReboque.text, attr: { for: ModeloReboque.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ModeloReboque.requiredClass, value: ModeloReboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloReboque.maxlength, id : ModeloReboque.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloReboque.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: ModeloTracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ModeloTracao.text, attr: { for: ModeloTracao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ModeloTracao.requiredClass, value: ModeloTracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloTracao.maxlength, id : ModeloTracao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloTracao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Tomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: TransportadorTerceiro.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TransportadorTerceiro.text, attr: { for: TransportadorTerceiro.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TransportadorTerceiro.requiredClass, value: TransportadorTerceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: TransportadorTerceiro.maxlength, id : TransportadorTerceiro.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TransportadorTerceiro.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: StatusAceiteValor.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: StatusAceiteValor.text, attr: { for: StatusAceiteValor.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: StatusAceiteValor.requiredClass, value: StatusAceiteValor.val, valueUpdate: 'afterkeydown', attr: { maxlength: StatusAceiteValor.maxlength, id : StatusAceiteValor.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: StatusAceiteValor.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: SituacaoAlteracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoAlteracao.text, attr: { for: SituacaoAlteracao.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoAlteracao.requiredClass, options: SituacaoAlteracao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAlteracao.val, attr: { maxlength: SituacaoAlteracao.maxlength, id : SituacaoAlteracao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: ComponentesFrete.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ComponentesFrete.text, attr: { for: ComponentesFrete.id }"></label>
                                        <select class="form-control" data-bind="class: ComponentesFrete.requiredClass, options: ComponentesFrete.options, optionsText: 'text', optionsValue: 'value', value: ComponentesFrete.val, attr: { maxlength: ComponentesFrete.maxlength, id : ComponentesFrete.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: ContratoTransportador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ContratoTransportador.text, attr: { for: ContratoTransportador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ContratoTransportador.requiredClass, value: ContratoTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoTransportador.maxlength, id : ContratoTransportador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoTransportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracaoTabelaFreteCliente.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracaoTabelaFreteCliente.text"></label>
                                        <input type="text" class="form-control" data-bind="value: CodigoIntegracaoTabelaFreteCliente.val, attr: { maxlength: CodigoIntegracaoTabelaFreteCliente.maxlength, id : CodigoIntegracaoTabelaFreteCliente.id} , valueUpdate: 'afterkeydown'" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" data-bind="visible: TabelaComCargaRealizada.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: TabelaComCargaRealizada.val, attr: { maxlength: TabelaComCargaRealizada.maxlength, name: TabelaComCargaRealizada.id, id: TabelaComCargaRealizada.id }">
                                            <label class="custom-control-label" data-bind="text: TabelaComCargaRealizada.text, attr: { for: TabelaComCargaRealizada.id }"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" data-bind="visible: ExibirHistoricoAlteracao.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirHistoricoAlteracao.val, attr: { maxlength: ExibirHistoricoAlteracao.maxlength, name: ExibirHistoricoAlteracao.id, id: ExibirHistoricoAlteracao.id }">
                                            <label class="custom-control-label" data-bind="text: ExibirHistoricoAlteracao.text, attr: { for: ExibirHistoricoAlteracao.id }"></label>
                                        </div>
                                    </div>
                                </div>

                                <div data-bind="fadeVisible: ExibirHistoricoAlteracao.val, id: ExibirHistoricoAlteracao.id + '_fade'" class="col-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-md-3" data-bind="visible: DataInicialAlteracao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataInicialAlteracao.text, attr: { for: DataInicialAlteracao.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataInicialAlteracao.requiredClass, value: DataInicialAlteracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialAlteracao.maxlength, id : DataInicialAlteracao.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: DataFinalAlteracao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataFinalAlteracao.text, attr: { for: DataFinalAlteracao.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataFinalAlteracao.requiredClass, value: DataFinalAlteracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalAlteracao.maxlength, id : DataFinalAlteracao.id}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12" data-bind="visible: SomenteEmVigencia.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteEmVigencia.val, attr: { maxlength: SomenteEmVigencia.maxlength, name: SomenteEmVigencia.id, id: SomenteEmVigencia.id }">
                                            <label class="custom-control-label" data-bind="text: SomenteEmVigencia.text, attr: { for: SomenteEmVigencia.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: SomenteRegistrosComValores.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteRegistrosComValores.val, attr: { maxlength: SomenteRegistrosComValores.maxlength, name: SomenteRegistrosComValores.id, id: SomenteRegistrosComValores.id }">
                                            <label class="custom-control-label" data-bind="text: SomenteRegistrosComValores.text, attr: { for: SomenteRegistrosComValores.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-bind="id: ConfiguracaoRelatorio.idFade, fadeVisible: ConfiguracaoRelatorio.visibleFade">
                        <div id="divConfigRelatorio">

                        </div>
                    </div>
                </form>

                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa me-3" data-bind="click: ConfiguracaoRelatorio.eventClick, attr: { id: ConfiguracaoRelatorio.id}" type="button">
                            <i data-bind="css: ConfiguracaoRelatorio.icon"></i><span data-bind="text: ConfiguracaoRelatorio.text"></span>
                        </button>
                        <button class="btn btn-primary  btnPesquisarFiltroPesquisa me-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-default btnPesquisarFiltroPesquisa me-3 " data-bind="click: LimparFiltros.eventClick, attr: { id: LimparFiltros.id}" type="button">
                            <i class="fal fa-recycle"></i><span data-bind="text: LimparFiltros.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divGridConsultaTabelaFrete">
                    <table class="table table-bordered table-hover dataTable no-footer" data-bind="attr: { id: Preview.idGrid}" width="100%" cellspacing="0"></table>
                </div>
            </div>

            <div id="knockoutCRUDPesquisaConsultaTabelaFrete" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/consultaTabelaFrete"></script>

<style type="text/css">
    .spnTipoValorItem {
        cursor: pointer;
    }
</style>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        _ConfiguracaoTabelaFrete = @Html.Raw(ViewBag.ConfiguracaoTabelaFrete);
        loadConsultaTabelaFrete();
    });

</script>
