
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frete</li>
    <li class="breadcrumb-item active">Contrato de Transportador</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Contrato de Transportador
    </h1>
</div>

<div id="knockoutPesquisaContratoTransporteFrete">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Contrato de Transportador
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroContrato.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroContrato.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroContrato.requiredClass, value: NumeroContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroContrato.maxlength, id : NumeroContrato.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ContratoExternoId.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ContratoExternoId.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ContratoExternoId.requiredClass, value: ContratoExternoId.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoExternoId.maxlength, id : ContratoExternoId.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Categoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Categoria.text, attr: { for: Categoria.id }"></label>
                                    <select class="form-control" data-bind="class: Categoria.requiredClass, options: Categoria.options, optionsText: 'text', optionsValue: 'value', value: Categoria.val, attr: { maxlength: Categoria.maxlength, id : Categoria.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SubCategoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SubCategoria.text, attr: { for: SubCategoria.id }"></label>
                                    <select class="form-control" data-bind="class: SubCategoria.requiredClass, options: SubCategoria.options, optionsText: 'text', optionsValue: 'value', value: SubCategoria.val, attr: { maxlength: SubCategoria.maxlength, id : SubCategoria.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PessoaJuridica.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PessoaJuridica.text, attr: { for: PessoaJuridica.id }"></label>
                                    <select class="form-control" data-bind="class: PessoaJuridica.requiredClass, options: PessoaJuridica.options, optionsText: 'text', optionsValue: 'value', value: PessoaJuridica.val, attr: { maxlength: PessoaJuridica.maxlength, id : PessoaJuridica.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: StatusAprovacaoTransportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusAprovacaoTransportador.text, attr: { for: StatusAprovacaoTransportador.id }"></label>
                                    <select class="form-control" data-bind="class: StatusAprovacaoTransportador.requiredClass, options: StatusAprovacaoTransportador.options, optionsText: 'text', optionsValue: 'value', value: StatusAprovacaoTransportador.val, attr: { maxlength: StatusAprovacaoTransportador.maxlength, id : StatusAprovacaoTransportador.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: StatusAssinaturaContrato.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: StatusAssinaturaContrato.text, attr: { for: StatusAssinaturaContrato.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: StatusAssinaturaContrato.requiredClass, value: StatusAssinaturaContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: StatusAssinaturaContrato.maxlength, id : StatusAssinaturaContrato.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: StatusAssinaturaContrato.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoIntegracao.text, attr: { for: SituacaoIntegracao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoIntegracao.requiredClass, options: SituacaoIntegracao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoIntegracao.val, attr: { maxlength: SituacaoIntegracao.maxlength, id : SituacaoIntegracao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: ReenviarIntegracaoLote.eventClick, attr: { id: ReenviarIntegracaoLote.id}" style="margin-top: 32px">
                                    <i class="fal fa-sync"></i><span data-bind="text: ReenviarIntegracaoLote.text"></span>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: SomenteContratosVigentes.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: SomenteContratosVigentes.val, attr: { maxlength: SomenteContratosVigentes.maxlength, name: SomenteContratosVigentes.id, id: SomenteContratosVigentes.id }">
                                            <label class="custom-control-label" data-bind="text: SomenteContratosVigentes.text, attr: { for: SomenteContratosVigentes.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Contrato de Transportador
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutContratoTransporteFrete">
                <div class="row">
                    <div class="col-12 col-md-3" data-bind="visible: Codigo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Codigo.text"></label>
                            <input type="text" class="form-control" data-bind="class: Codigo.requiredClass, value: Codigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: NumeroContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroContrato.text"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroContrato.requiredClass, value: NumeroContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroContrato.maxlength, id : NumeroContrato.id}, enable:NumeroContrato.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ContratoExternoId.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ContratoExternoId.text"></label>
                            <input type="text" class="form-control" data-bind="class: ContratoExternoId.requiredClass, value: ContratoExternoId.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoExternoId.maxlength, id : ContratoExternoId.id}, enable:ContratoExternoId.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: NomeDoContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NomeDoContrato.text"></label>
                            <input type="text" class="form-control" data-bind="class: NomeDoContrato.requiredClass, value: NomeDoContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeDoContrato.maxlength, id : NomeDoContrato.id}, enable:NomeDoContrato.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: AprovacaoAdiconalRequerida.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AprovacaoAdiconalRequerida.text, attr: { for: AprovacaoAdiconalRequerida.id }"></label>
                            <select class="form-control" data-bind="enable: AprovacaoAdiconalRequerida.enable, class: AprovacaoAdiconalRequerida.requiredClass, options: AprovacaoAdiconalRequerida.options, optionsText: 'text', optionsValue: 'value', value: AprovacaoAdiconalRequerida.val, attr: { maxlength: AprovacaoAdiconalRequerida.maxlength, id : AprovacaoAdiconalRequerida.id}, enable:AprovacaoAdiconalRequerida.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Cluster.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Cluster.text, attr: { for: Cluster.id }"></label>
                            <select class="form-control" data-bind="class: Cluster.requiredClass, options: Cluster.options, optionsText: 'text', optionsValue: 'value', value: Cluster.val, attr: { maxlength: Cluster.maxlength, id : Cluster.id}, enable:Cluster.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Pais.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Pais.text, attr: { for: Pais.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Pais.requiredClass, value: Pais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pais.maxlength, id : Pais.id}, enable:Pais.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pais.idBtnSearch}, enable: Pais.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Network.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Network.text, attr: { for: Network.id }"></label>
                            <select class="form-control" data-bind="class: Network.requiredClass, options: Network.options, optionsText: 'text', optionsValue: 'value', value: Network.val, attr: { maxlength: Network.maxlength, id : Network.id}, enable:Network.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Equipe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Equipe.text, attr: { for: Equipe.id }"></label>
                            <select class="form-control" data-bind="class: Equipe.requiredClass, options: Equipe.options, optionsText: 'text', optionsValue: 'value', value: Equipe.val, attr: { maxlength: Equipe.maxlength, id : Equipe.id}, enable:Equipe.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Categoria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Categoria.text, attr: { for: Categoria.id }"></label>
                            <select class="form-control" data-bind="class: Categoria.requiredClass, options: Categoria.options, optionsText: 'text', optionsValue: 'value', value: Categoria.val, attr: { maxlength: Categoria.maxlength, id : Categoria.id}, enable:Categoria.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: SubCategoria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SubCategoria.text, attr: { for: SubCategoria.id }"></label>
                            <select class="form-control" data-bind="class: SubCategoria.requiredClass, options: SubCategoria.options, optionsText: 'text', optionsValue: 'value', value: SubCategoria.val, attr: { maxlength: SubCategoria.maxlength, id : SubCategoria.id}, enable:SubCategoria.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ModoContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModoContrato.text, attr: { for: ModoContrato.id }"></label>
                            <select class="form-control" data-bind="class: ModoContrato.requiredClass, options: ModoContrato.options, optionsText: 'text', optionsValue: 'value', value: ModoContrato.val, attr: { maxlength: ModoContrato.maxlength, id : ModoContrato.id}, enable:ModoContrato.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}, enable:Transportador.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}, enable:Transportador.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ConformidadeComRSP.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ConformidadeComRSP.text, attr: { for: ConformidadeComRSP.id }"></label>
                            <select class="form-control" data-bind="class: ConformidadeComRSP.requiredClass, options: ConformidadeComRSP.options, optionsText: 'text', optionsValue: 'value', value: ConformidadeComRSP.val, attr: { maxlength: ConformidadeComRSP.maxlength, id : ConformidadeComRSP.id}, enable:ConformidadeComRSP.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: PessoaJuridica.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PessoaJuridica.text, attr: { for: PessoaJuridica.id }"></label>
                            <select class="form-control" data-bind="class: PessoaJuridica.requiredClass, options: PessoaJuridica.options, optionsText: 'text', optionsValue: 'value', value: PessoaJuridica.val, attr: { maxlength: PessoaJuridica.maxlength, id : PessoaJuridica.id}, enable:PessoaJuridica.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: TipoContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoContrato.text, attr: { for: TipoContrato.id }"></label>
                            <select class="form-control" data-bind="class: TipoContrato.requiredClass, options: TipoContrato.options, optionsText: 'text', optionsValue: 'value', value: TipoContrato.val, attr: { maxlength: TipoContrato.maxlength, id : TipoContrato.id}, enable:TipoContrato.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: HubNonHub.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: HubNonHub.text, attr: { for: HubNonHub.id }"></label>
                            <select class="form-control" data-bind="class: HubNonHub.requiredClass, options: HubNonHub.options, optionsText: 'text', optionsValue: 'value', value: HubNonHub.val, attr: { maxlength: HubNonHub.maxlength, id : HubNonHub.id}, enable:HubNonHub.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DominioOTM.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DominioOTM.text, attr: { for: DominioOTM.id }"></label>
                            <select class="form-control" data-bind="class: DominioOTM.requiredClass, options: DominioOTM.options, optionsText: 'text', optionsValue: 'value', value: DominioOTM.val, attr: { maxlength: DominioOTM.maxlength, id : DominioOTM.id}, enable:DominioOTM.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Moeda.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Moeda.text, attr: { for: Moeda.id }"></label>
                            <select class="form-control" data-bind="class: Moeda.requiredClass, options: Moeda.options, optionsText: 'text', optionsValue: 'value', value: Moeda.val, attr: { maxlength: Moeda.maxlength, id : Moeda.id}, enable:Moeda.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}, enable:DataInicial.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}, enable:DataFinal.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ValorPrevistoContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorPrevistoContrato.text"></label>
                            <input type="text" class="form-control" data-bind="class: ValorPrevistoContrato.requiredClass, value: ValorPrevistoContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPrevistoContrato.maxlength, id : ValorPrevistoContrato.id}, enable:ValorPrevistoContrato.enable" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Padrao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Padrao.text, attr: { for: Padrao.id }"></label>
                            <select class="form-control" data-bind="class: Padrao.requiredClass, options: Padrao.options, optionsText: 'text', optionsValue: 'value', value: Padrao.val, attr: { maxlength: Padrao.maxlength, id : Padrao.id}, enable:Padrao.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TermosPagamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TermosPagamento.text, attr: { for: TermosPagamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TermosPagamento.requiredClass, value: TermosPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TermosPagamento.maxlength, id : TermosPagamento.id}, enable:TermosPagamento.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TermosPagamento.idBtnSearch}, enable:TermosPagamento.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: UsuarioContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: UsuarioContrato.text, attr: { for: UsuarioContrato.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: UsuarioContrato.requiredClass, value: UsuarioContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioContrato.maxlength, id : UsuarioContrato.id}, enable:UsuarioContrato.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UsuarioContrato.idBtnSearch}, enable:UsuarioContrato.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ClausulaPenal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ClausulaPenal.text, attr: { for: ClausulaPenal.id }"></label>
                            <select class="form-control" data-bind="class: ClausulaPenal.requiredClass, options: ClausulaPenal.options, optionsText: 'text', optionsValue: 'value', value: ClausulaPenal.val, attr: { maxlength: ClausulaPenal.maxlength, id : ClausulaPenal.id}, enable:ClausulaPenal.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: StatusAprovacaoTransportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: StatusAprovacaoTransportador.text, attr: { for: StatusAprovacaoTransportador.id }"></label>
                            <select class="form-control" data-bind="class: StatusAprovacaoTransportador.requiredClass, options: StatusAprovacaoTransportador.options, optionsText: 'text', optionsValue: 'value', value: StatusAprovacaoTransportador.val, attr: { maxlength: StatusAprovacaoTransportador.maxlength, id : StatusAprovacaoTransportador.id}, enable:StatusAprovacaoTransportador.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: StatusAssinaturaContrato.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: StatusAssinaturaContrato.text, attr: { for: StatusAssinaturaContrato.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: StatusAssinaturaContrato.requiredClass, value: StatusAssinaturaContrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: StatusAssinaturaContrato.maxlength, id : StatusAssinaturaContrato.id}, enable:StatusAssinaturaContrato.enable" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: StatusAssinaturaContrato.idBtnSearch}, enable:StatusAssinaturaContrato.enable" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ProcessoAprovacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ProcessoAprovacao.text, attr: { for: ProcessoAprovacao.id }"></label>
                            <select class="form-control" data-bind="enable: ProcessoAprovacao.enable, class: ProcessoAprovacao.requiredClass, options: ProcessoAprovacao.options, optionsText: 'text', optionsValue: 'value', value: ProcessoAprovacao.val, attr: { maxlength: ProcessoAprovacao.maxlength, id : ProcessoAprovacao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}, enable:Situacao.enable"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }, enable:Observacao.enable"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary ms-2" type="button" data-bind="click: Anexos.eventClick, visible: Anexos.visible, attr: { id: Anexos.id}">
                        <span data-bind="text: Anexos.text"></span>
                    </button>
                </div>
                <hr />
                <footer>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="knockoutContratoTransportadorFreteAnexo" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anexos de Contrato de Transportador</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">

                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>

                <div class="col col-md-12" data-bind="visible: Anexos.visible">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-6" style="margin-top:5px" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label text-truncate" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success waves-effect waves-themed" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" type="button">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracao" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Integração</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracao"></table>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/contratoTransportadorFrete"></script>
<script type="text/javascript">

    pageSetUp();

    var _ObrigarAnexosContratoTransportadorFrete = @Html.Raw(ViewBag.ObrigarAnexosContratoTransportadorFrete);
    var _GerarNumeroContratoTransportadorFreteSequencial = @Html.Raw(ViewBag.GerarNumeroContratoTransportadorFreteSequencial);
    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesContratoTransportadorFrete));
    $(document).ready(function () {
        loadContratoTransportadorFrete();
    });

</script>

