
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Produtos</li>
    <li class="breadcrumb-item active">Exportação da Tabela de Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
       Exportação da Tabela de Frete
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-cloud-download"></i>
                Exportar
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutExportacaoTabelaFrete">
                    <div class="d-flex align-items-center mb-2">
                        <button class="btn btn-primary waves-effect waves-themed mx-2" data-bind="click: ExportarValorFrete.eventClick,visible: ExportarValorFrete.visible" type="button">
                            <i class="fal fa-download"></i><span data-bind="text: ExportarValorFrete.text, attr: {id : ExportarValorFrete.id}"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed mx-2" data-bind="click: ExportarPedagio.eventClick,visible: ExportarPedagio.visible" type="button">
                            <i class="fal fa-download"></i><span data-bind=" text: ExportarPedagio.text, attr: { id : ExportarPedagio.id}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/exportacaoTabelaFrete"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadExportacaoTabelaFrete();
    });

</script>


