
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Licitação</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Licitações
    </h1>
</div>


<div id="knockoutPesquisaLicitacao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Licitações
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TabelaFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item active" id="liTabLicitacao">
                    <a href="#tabLicitacao" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Licitação</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabTransportador">
                    <a href="#tabLicitacaoTransportador" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Transportadores</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabAnexo">
                    <a href="#tabLicitacaoAnexo" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Anexos</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabTabelaFreteCliente" style="display:none;">
                    <a href="#knockoutLicitacaoTabelaFreteCliente" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Tabelas Frete Cliente</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3">
                <!-- Licitação -->
                <div class="tab-pane fade active show" id="tabLicitacao" role="tabpanel">
                    <div>
                        <h4>Cadastrar Licitação</h4>
                        <hr />
                    </div>
                    <div class="row" id="knockoutLicitacao">
                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Numero.text"></label>
                                <input type="text" class="form-control" data-bind="value: Numero.val, enable: Numero.enable, attr: { maxlength: Numero.maxlength, id: Numero.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-10" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, enable: Descricao.enable, attr: { maxlength: Descricao.maxlength, id: Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicio.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataInicio.val, enable: DataInicio.enable, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFim.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataFim.val, enable: DataFim.enable, attr: { maxlength: DataFim.maxlength, id : DataFim.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: TabelaFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SolicitacaoLicitacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SolicitacaoLicitacao.text, attr: { for: SolicitacaoLicitacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SolicitacaoLicitacao.requiredClass, value: SolicitacaoLicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: SolicitacaoLicitacao.maxlength, id : SolicitacaoLicitacao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SolicitacaoLicitacao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                <textarea class="form-control" rows="5" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Transportadores -->
                <div class="tab-pane fade" id="tabLicitacaoTransportador" role="tabpanel">
                    <div>
                        <h4>Transportadores</h4>
                        <hr />
                    </div>
                    <div class="row" id="knockoutLicitacaoTransportador">
                        <div class="col-12 col-md-12" data-bind="visible: LiberarTodosTransportadores.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: LiberarTodosTransportadores.val, attr: { maxlength: LiberarTodosTransportadores.maxlength, name: LiberarTodosTransportadores.id, id: LiberarTodosTransportadores.id }">
                                    <label class="custom-control-label" data-bind="text: LiberarTodosTransportadores.text, attr: { for: LiberarTodosTransportadores.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" data-bind="fadeVisible: !LiberarTodosTransportadores.val()">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button">
                                            <i class="fal fa-plus"></i><span data-bind="text: Transportador.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Anexos -->
                <div class="tab-pane fade" id="tabLicitacaoAnexo" role="tabpanel">
                    <div>
                        <h4>Anexos</h4>
                        <hr />
                    </div>
                    <div class="row" id="knockoutLicitacaoAnexo">
                        <div class="col col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="card" data-bind="visible: Anexos.visible">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-md-6" style="margin-top:5px" data-bind="visible: Arquivo.visible">
                                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                                <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione uma imagem para anexar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <button class="btn btn-success waves-effect waves-themed" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" type="button">
                                                <span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Licitação Tabela Frete Cliente -->
                <div class="tab-pane fade" id="knockoutLicitacaoTabelaFreteCliente" role="tabpanel">
                    <div>
                        <h4>Tabelas de Frete Cliente</h4>
                        <hr />
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFreteCliente.idBtnSearch}" type="button">
                                        <i class="fal fa-plus"></i><span data-bind="text: TabelaFreteCliente.text"></span>
                                    </button>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <footer id="knockoutCRUDLicitacao">
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-danger mx-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>

<script src="~/scripts/licitacao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadLicitacao();
    });

</script>

