

<style>
    #knockoutEtapaLicitacaoParticipacao .col {
        float: left;
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Licitação Participação Avaliação</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Propostas para Licitações
    </h1>
</div>

<div id="knockoutPesquisaLicitacaoParticipacao">

    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Pesquisar Propostas
                </h3>
            </div>
            <div class="panel-content">
                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroLicitacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroLicitacao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroLicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLicitacao.maxlength, id : NumeroLicitacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroLicitacaoParticipacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroLicitacaoParticipacao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroLicitacaoParticipacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLicitacaoParticipacao.maxlength, id : NumeroLicitacaoParticipacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DescricaoLicitacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DescricaoLicitacao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DescricaoLicitacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoLicitacao.maxlength, id : DescricaoLicitacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TabelaFrete.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    Propostas Disponíveis
                </h3>
            </div>
            <div class="panel-content">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-danger me-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                            <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                            <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalLicitacaoParticipacaoAvaliacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Avaliação da Proposta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutResumoLicitacaoParticipacaoAvaliacao">
                <div class="row">
                    <section class="col col-md-6 mb-3">
                        <label><b data-bind="text: Numero.text"></b> <span data-bind="text: Numero.val"></span></label>
                    </section>
                    <section class="col col-md-6 mb-3">
                        <label><b data-bind="text: Descricao.text"></b> <span data-bind="text: Descricao.val"></span></label>
                    </section>
                    <section class="col col-md-6 mb-3">
                        <label><b data-bind="text: Validade.text"></b> <span data-bind="text: Validade.val"></span></label>
                    </section>
                    <section data-bind="visible: Situacao.visible" class="col-6 col-md-6 mb-3">
                        <label><b data-bind="text: Situacao.text"></b> <span data-bind="text: Situacao.val"></span></label>
                    </section>
                    <section data-bind="visible: Transportador.visible" class="col col-md-12 mb-3">
                        <label><b data-bind="text: Transportador.text"></b> <span data-bind="text: Transportador.val"></span></label>
                    </section>
                </div>
                <div class="row" id="knockoutLicitacaoParticipacaoAvaliacao">
                    <table width="100%" class="table table-bordered table-hover dataTable no-footer" id="grid-licitacao-participacao-oferta" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer" id="knockoutCRUDLicitacaoParticipacaoAvaliacao">
                <button type="button" class="btn btn-danger" data-bind="click: Reprovar.eventClick, visible: Reprovar.visible, attr: { value: Reprovar.text, id : Reprovar.id}">
                    <span data-bind="text: Reprovar.text"></span>
                </button>
                <button type="button" class="btn btn-success" data-bind="click: Aprovar.eventClick,visible: Aprovar.visible, attr: { value: Aprovar.text, id : Aprovar.id}">
                    <span data-bind="text: Aprovar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalReprovarLicitacaoParticipacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knockoutReprovarLicitacaoParticipacao">
            <div class="modal-header">
                <h4 class="modal-title">Avaliação da Proposta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="5" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: Reprovar.eventClick, visible: Reprovar.visible, attr: { value: Reprovar.text, id : Reprovar.id}">
                    <span data-bind="text: Reprovar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/licitacaoParticipacaoAvaliacao"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadLicitacaoParticipacaoAvaliacao();
    });

</script>
