
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Simulador Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Simulador de Frete
    </h1>
</div>

<div class="panel mt-3" id="wid-id-4">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="tabSimuladorFrete">
                <li class="nav-item" id="liTabDetalhes">
                    <a href="#knockoutDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabLocalidades">
                    <a href="#knockoutLocalidade" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Localidades</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabRoteirizacao">
                    <a href="#knockoutRoteirizacao" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Mapa</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3 row" id="tabTabelaFreteContent">
                <div class="tab-pane fade active show col-12 col-md-8" id="knockoutDetalhes" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Detalhes</h3>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5" data-bind="visible: Origem.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5" data-bind="visible: ModeloVeicular.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: PesoBruto.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: PesoBruto.text, attr: { for: PesoBruto.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: PesoBruto.requiredClass, value: PesoBruto.val, valueUpdate: 'afterkeydown', attr: { maxlength: PesoBruto.maxlength, id : PesoBruto.id}" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade col-12 col-md-8" id="knockoutLocalidade" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Localidades</h3>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-12 mb-2">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Localidade.idBtnSearch}">
                                                <i class="fal fa-plus"></i><span data-bind="text: Localidade.text"></span>
                                            </button>
                                        </div>
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade col-12 col-md-8" id="knockoutRoteirizacao" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Localidades</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: TipoUltimoPontoRoteirizacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoUltimoPontoRoteirizacao.text, attr: { for: TipoUltimoPontoRoteirizacao.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoUltimoPontoRoteirizacao.requiredClass, options: TipoUltimoPontoRoteirizacao.options, optionsText: 'text', optionsValue: 'value', value: TipoUltimoPontoRoteirizacao.val, attr: { maxlength: TipoUltimoPontoRoteirizacao.maxlength, id : TipoUltimoPontoRoteirizacao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div style="margin-top:27px" class="col-12  d-flex justify-content-end">
                                                    <button class="btn btn-success" type="button" data-bind="click: Roteirizar.eventClick, visible: Roteirizar.visible, attr: { id : Roteirizar.id}">
                                                        <i class="fal fa-cogs"></i><span data-bind="text: Roteirizar.text"></span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <div data-bind="attr : { id : Map.id}" style="width:100%;height:500px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class=" col-12 col-md-4" id="knockoutResultado" role="tabpanel">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Resultado</h3>

                            </div>
                            <div class="card-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.id}" cellspacing="0"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer id="knockoutCRUDSimuladorFrete" class="mt-2">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 d-flex justify-content-end">

                        <button type="button" class="btn btn-labeled btn-default me-2" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { value: Limpar.text, id : Limpar.id}">

                            <span data-bind="text: Limpar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning" data-bind="click: BuscarValores.eventClick, visible: BuscarValores.visible, attr: { id : BuscarValores.id}">
                            <i class="fal fa-repeat"></i>
                            <span data-bind="text: BuscarValores.text"></span>
                        </button>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>

<script src="~/scripts/simuladorFrete"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadSimuladorFrete();
    });

</script>

<style type="text/css">
    .botaoRoteirizar {
        margin-top: 23px;
        float: right;
        padding: 6px 12px;
    }
</style>
