
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Solicitação Licitação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Solicitação de Licitação
    </h1>
</div>

<div id="knockoutPesquisaSolicitacaoLicitacao">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Solicitações de Licitação
                </button>

                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFim.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" data-bind="visible: FuncionarioSolicitante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioSolicitante.text, attr: { for: FuncionarioSolicitante.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FuncionarioSolicitante.requiredClass, value: FuncionarioSolicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioSolicitante.maxlength, id : FuncionarioSolicitante.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioSolicitante.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: FuncionarioCotacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioCotacao.text, attr: { for: FuncionarioCotacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FuncionarioCotacao.requiredClass, value: FuncionarioCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioCotacao.maxlength, id : FuncionarioCotacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioCotacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Solicitação de Licitação
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutEtapasSolicitacaoLicitacao">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#knockoutSolicitacao" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#knockoutCotacao" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-link"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!-- Etapa Solicitação -->
                    <div id="knockoutSolicitacao" class="tab-pane fade show active">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <section data-bind="visible: EnderecoOrigem.visible" class="col col-md-12 mb-3">
                                        <b data-bind="text: EnderecoOrigem.text"></b><span data-bind="text: EnderecoOrigem.val"></span>
                                    </section>
                                    <section data-bind="visible: EnderecoDestino.visible" class="col col-md-12 mb-3">
                                        <b data-bind="text: EnderecoDestino.text"></b><span data-bind="text: EnderecoDestino.val"></span>
                                    </section>
                                    <hr />
                                    <div class="col-12 col-md-12" data-bind="visible: DescricaoCotacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DescricaoCotacao.text, attr: { for: DescricaoCotacao.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: DescricaoCotacao.val, enable: DescricaoCotacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoCotacao.maxlength, id : DescricaoCotacao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoOrigem.text, attr: { for: TipoOrigem.id }"></label>
                                            <select class="form-control" data-bind="options: TipoOrigem.options, enable: TipoOrigem.enable, optionsText: 'text', optionsValue: 'value', value: TipoOrigem.val, attr: { id : TipoOrigem.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ClienteOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ClienteOrigem.text, attr: { for: ClienteOrigem.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: ClienteOrigem.enable, css: ClienteOrigem.requiredClass, value: ClienteOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClienteOrigem.maxlength, id : ClienteOrigem.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ClienteOrigem.enable, attr: { id: ClienteOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: LocalidadeOrigem.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: LocalidadeOrigem.text, attr: { for: LocalidadeOrigem.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: LocalidadeOrigem.requiredClass, value: LocalidadeOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadeOrigem.maxlength, id : LocalidadeOrigem.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadeOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoDestino.text, attr: { for: TipoDestino.id }"></label>
                                            <select class="form-control" data-bind="options: TipoDestino.options, enable: TipoDestino.enable, optionsText: 'text', optionsValue: 'value', value: TipoDestino.val, attr: { id : TipoDestino.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ClienteDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ClienteDestino.text, attr: { for: ClienteDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: ClienteDestino.enable, css: ClienteDestino.requiredClass, value: ClienteDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClienteDestino.maxlength, id : ClienteDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ClienteDestino.enable, attr: { id: ClienteDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: LocalidadeDestino.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: LocalidadeDestino.text, attr: { for: LocalidadeDestino.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: ClienteDestino.enable, css: LocalidadeDestino.requiredClass, value: LocalidadeDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadeDestino.maxlength, id : LocalidadeDestino.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ClienteDestino.enable, attr: { id: LocalidadeDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TipoDeCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoDeCarga.text, attr: { for: TipoDeCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: TipoDeCarga.enable, css: TipoDeCarga.requiredClass, value: TipoDeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeCarga.maxlength, id : TipoDeCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: TipoDeCarga.enable, attr: { id: TipoDeCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Quantidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Quantidade.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Quantidade.val, enable: Quantidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: UnidadeMedida.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: UnidadeMedida.text, attr: { for: UnidadeMedida.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: UnidadeMedida.enable, css: UnidadeMedida.requiredClass, value: UnidadeMedida.val, valueUpdate: 'afterkeydown', attr: { maxlength: UnidadeMedida.maxlength, id : UnidadeMedida.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: UnidadeMedida.enable, attr: { id: UnidadeMedida.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataInicioEmbarque.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicioEmbarque.text"></label>
                                            <input type="text" class="form-control" data-bind="value: DataInicioEmbarque.val, enable: DataInicioEmbarque.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicioEmbarque.maxlength, id : DataInicioEmbarque.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataFimEmbarque.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataFimEmbarque.text"></label>
                                            <input type="text" class="form-control" data-bind="value: DataFimEmbarque.val, enable: DataFimEmbarque.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataFimEmbarque.maxlength, id : DataFimEmbarque.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DataPrazoResposta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataPrazoResposta.text"></label>
                                            <input type="text" class="form-control" data-bind="value: DataPrazoResposta.val, enable: DataPrazoResposta.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrazoResposta.maxlength, id : DataPrazoResposta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Comprimento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Comprimento.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Comprimento.val, enable: Comprimento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Comprimento.maxlength, id : Comprimento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Altura.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Altura.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Altura.val, enable: Altura.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Altura.maxlength, id : Altura.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: Largura.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Largura.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Largura.val, enable: Largura.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Largura.maxlength, id : Largura.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                            <textarea class="form-control" rows="5" data-bind="enable: Observacao.enable, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}, enable: Produto.enable" type="button">
                                                <i class="fal fa-plus"></i><span data-bind="text: Produto.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridProdutos.id}" cellspacing="0"></table>
                                    <div class="col-12 col-md-4" data-bind="visible: Numero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Numero.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Numero.val, enable: false, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8" data-bind="visible: Usuario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Usuario.text"></label>
                                            <input type="text" class="form-control" data-bind="value: Usuario.val, enable: false, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Etapa Cotação -->
                    <div id="knockoutCotacao" class="tab-pane fade">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <section data-bind="visible: Origem.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: Origem.text"></b> <span data-bind="text: Origem.val"></span></label>
                                    </section>
                                    <section data-bind="visible: Destino.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: Destino.text"></b> <span data-bind="text: Destino.val"></span></label>
                                    </section>
                                    <section data-bind="visible: Produto.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: Produto.text"></b> <span data-bind="text: Produto.val"></span></label>
                                    </section>
                                    <section data-bind="visible: Acondicionamento.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: Acondicionamento.text"></b> <span data-bind="text: Acondicionamento.val"></span></label>
                                    </section>
                                    <section data-bind="visible: Quantidade.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: Quantidade.text"></b> <span data-bind="text: Quantidade.val"></span></label>
                                    </section>
                                    <section data-bind="visible: PeriodoEmbarque.visible" class="col col-md-6 mb-3">
                                        <label><b data-bind="text: PeriodoEmbarque.text"></b> <span data-bind="text: PeriodoEmbarque.val"></span></label>
                                    </section>
                                    <section data-bind="visible: Observacao.visible" class="col col-md-12 mb-3">
                                        <label><b data-bind="text: Observacao.text"></b> <span data-bind="text: Observacao.val"></span></label>
                                    </section>
                                    <hr />
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: Empresa.enable, css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Empresa.enable, attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: ModeloVeicularCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="enable: ModeloVeicularCarga.enable, css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ModeloVeicularCarga.enable, attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ValorTrecho.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTrecho.text"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorTrecho.val, enable: ValorTrecho.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTrecho.maxlength, id : ValorTrecho.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ValorTonelada.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTonelada.text"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorTonelada.val, enable: ValorTonelada.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTonelada.maxlength, id : ValorTonelada.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ValorPedagio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorPedagio.text"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorPedagio.val, enable: ValorPedagio.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPedagio.maxlength, id : ValorPedagio.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ValorTotalNotaFiscal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorTotalNotaFiscal.text"></label>
                                            <input type="text" class="form-control" data-bind="value: ValorTotalNotaFiscal.val, enable: ValorTotalNotaFiscal.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalNotaFiscal.maxlength, id : ValorTotalNotaFiscal.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoCotacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCotacao.text, attr: { for: TipoCotacao.id }"></label>
                                            <select class="form-control" data-bind="options: TipoCotacao.options, enable: TipoCotacao.enable, optionsText: 'text', optionsValue: 'value', value: TipoCotacao.val, attr: { id : TipoCotacao.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: UsuarioCotacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: UsuarioCotacao.text"></label>
                                            <input type="text" class="form-control" data-bind="value: UsuarioCotacao.val, enable: false, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioCotacao.maxlength, id : UsuarioCotacao.id}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUDSolicitacaoLicitacao">
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { value: Limpar.text, id : Limpar.id}">
                            <span data-bind="text: Limpar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-danger" data-bind="click: Rejeitar.eventClick, visible: Rejeitar.visible, attr: { value: Rejeitar.text, id : Rejeitar.id}">
                            <span data-bind="text: Rejeitar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { value: Finalizar.text, id : Finalizar.id}">
                            <span data-bind="text: Finalizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Solicitar.eventClick, visible: Solicitar.visible, attr: { value: Solicitar.text, id : Solicitar.id}" >
                            <span data-bind="text: Solicitar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/solicitacaoLicitacao"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadSolicitacaoLicitacao();
    });

</script>

