
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Tabela Frete Comissão Importação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Importação de Frete por Comissão de Produto
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(867)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div class="panel" id="knockoutTabelaFreteComissaoImportacao">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Importar Frete por Comissão de Produtos
            </h3>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-12 col-md-6" data-bind="visible: ContratoFreteTransportadorOrigem.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ContratoFreteTransportadorOrigem.text, attr: { for: ContratoFreteTransportadorOrigem.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: ContratoFreteTransportadorOrigem.requiredClass, value: ContratoFreteTransportadorOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoFreteTransportadorOrigem.maxlength, id : ContratoFreteTransportadorOrigem.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoFreteTransportadorOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: ContratoFreteTransportadorDestino.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ContratoFreteTransportadorDestino.text, attr: { for: ContratoFreteTransportadorDestino.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: ContratoFreteTransportadorDestino.requiredClass, value: ContratoFreteTransportadorDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoFreteTransportadorDestino.maxlength, id : ContratoFreteTransportadorDestino.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoFreteTransportadorDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: Importar.eventClick, visible: Importar.visible, attr: { value: Importar.text, id : Importar.id}">
                        <span data-bind="text: Importar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tabelaFreteComissaoImportacao"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadTabelaFreteComissaoImportacao();
    });

</script>

