
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Tabela Frete Rota</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Tabelas de Frete por Rota
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(691)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="wid-id-6">
    <div id="knockoutTabelaFrete">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>Tabela de Frete</h2>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: TabelaFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divContentTabelaRota" style="display:none;">
    <div class="panel" id="knockoutPesquisaTabelaFreteRota">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Rotas da Tabela
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: CodigoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoEmbarcador.maxlength, id : CodigoEmbarcador.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>



    <div class="panel mt-3" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel-container" id="knockoutPesquisaTabelaFreteRota">
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" id="liTabRota">
                        <a href="#tabRota" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Informar Rota</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liTabTipoCarga">
                        <a href="#tabTipoCarga" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Informar Tipos de Carga</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content border border-top-0 p-3" id="knockoutCadastroTabelaFreteRota">

                    <!-- Informar Rota -->
                    <div class="tab-pane fade active show" id="tabRota" role="tabpanel">
                        <div>
                            <h4>Rota</h4>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Origem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="css: CodigoEmbarcador.requiredClass, value: CodigoEmbarcador.val, attr: { maxlength: CodigoEmbarcador.maxlength, id : CodigoEmbarcador.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: DescricaoDestinos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DescricaoDestinos.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DescricaoDestinos.val, attr: { maxlength: DescricaoDestinos.maxlength, id : DescricaoDestinos.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tipos de Carga-->
                    <div class="tab-pane fade" id="tabTipoCarga" role="tabpanel">
                        <div>
                            <h4>Tipos de Carga</h4>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: TiposCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TiposCarga.text, attr: { for: TiposCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: TiposCarga.requiredClass, value: TiposCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TiposCarga.maxlength, id : TiposCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TiposCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: AdicionarTiposCarga.eventClick, visible: AdicionarTiposCarga.visible, attr: { value: AdicionarTiposCarga.text, id : AdicionarTiposCarga.id}">
                                    <span data-bind="text: AdicionarTiposCarga.text"></span>
                                </button>
                            </div>
                            <div class="well" id="divTiposCargaParent" style="display:none">
                                <div class="panel-group smart-accordion-default" id="DivTiposDeCarga">

                                </div>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="row mt-3">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                    <i class="fal fa-trash"></i>
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tabelaFreteRota"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTabelaFreteRota();
    });

</script>

