
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Tabela Pontuação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Tabela de Pontuação
    </h1>
</div>

<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#knockoutPontuacaoPorTempoAtividade" onclick="tabTempoAtividadeClick()" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-clock"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Tempo de Atividade</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorQuantidadeCarga" onclick="tabQuantidadeCargaClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-cube"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Quantidade de Carga (Mês)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorQuantidadeCargaGanhaCotacao" onclick="tabQuantidadeCargaGanhaCotacaoClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-gavel"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Quantidade de Carga em Cotação Ganhas (Mês)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorTipoOperacao" onclick="tabTipoOperacaoClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-list-ul"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Tipo de Operação</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorTipoCarga" onclick="tabTipoCargaClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-list-alt"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Tipo de Carga</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorModeloCarroceria" onclick="tabModeloCarroceriaClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-list"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Modelo de Carroceria</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutPontuacaoPorPessoaClassificacao" onclick="tabPessoaClassificacaoClick()" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-list-ul"></i><span class="hidden-mobile hidden-tablet">Pontuação Por Tipo de Operação</span> <span class="hidden-mobile hidden-tablet">Pontuação Por Classificação de Cliente</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3">
                <!-- Pontuação Por Tempo de Atividade -->
                <div class="tab-pane fade active show" id="knockoutPontuacaoPorTempoAtividade">
                    <div>
                        <h4>Cadastrar Pontuação por tempo de Atividade</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: AnoInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: AnoInicio.text"></label>
                                <input type="text" class="form-control" data-bind="value: AnoInicio.val, attr: { maxlength: AnoInicio.maxlength, id : AnoInicio.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: AnoFim.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: AnoFim.text"></label>
                                <input type="text" class="form-control" data-bind="value: AnoFim.val, attr: { maxlength: AnoFim.maxlength, id : AnoFim.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
                <!-- Pontuação por quantidade de carga (mês) -->
                <div class="tab-pane fade" id="knockoutPontuacaoPorQuantidadeCarga">
                    <div>
                        <h4>Cadastrar pontuação por quantidade de cargas mês</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: QuantidadeInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadeInicio.text"></label>
                                <input type="text" class="form-control" data-bind="value: QuantidadeInicio.val, attr: { maxlength: QuantidadeInicio.maxlength, id : QuantidadeInicio.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: QuantidadeFim.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadeFim.text"></label>
                                <input type="text" class="form-control" data-bind="value: QuantidadeFim.val, attr: { maxlength: QuantidadeFim.maxlength, id : QuantidadeFim.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
                <!-- Pontuação por quantidade de carga em cotação ganhas (Mês) -->
                <div class="tab-pane fade" id="knockoutPontuacaoPorQuantidadeCargaGanhaCotacao">
                    <div>
                        <h4>Cadastrar pontuação por quantidade de cargas ganhas em cotação</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-4" data-bind="visible: QuantidadeInicio.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadeInicio.text"></label>
                                <input type="text" class="form-control" data-bind="value: QuantidadeInicio.val, attr: { maxlength: QuantidadeInicio.maxlength, id : QuantidadeInicio.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: QuantidadeFim.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadeFim.text"></label>
                                <input type="text" class="form-control" data-bind="value: QuantidadeFim.val, attr: { maxlength: QuantidadeFim.maxlength, id : QuantidadeFim.id} " />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
                <!-- Pontuação por tipo de operação  -->
                <div class="tab-pane fade" id="knockoutPontuacaoPorTipoOperacao">
                    <div>
                        <h4>Cadastrar pontuação por tipo de operação realizada no mês</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: TipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>

                        <button type="button" class="btn btn-labeled btn-dangerms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>

                <!-- Pontuação por tipo de carga-->
                <div class="tab-pane fade" id="knockoutPontuacaoPorTipoCarga">
                    <div>
                        <h4>Cadastrar pontuação por tipo de cargas realizada no mês</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: TipoCarga.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
                <!-- Pontuação por modelo de carroceria -->
                <div class="tab-pane fade" id="knockoutPontuacaoPorModeloCarroceria">
                    <div>
                        <h4>Cadastrar pontuação por modelo de carroceria</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: ModeloCarroceria.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModeloCarroceria.text, attr: { for: ModeloCarroceria.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ModeloCarroceria.requiredClass, value: ModeloCarroceria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloCarroceria.maxlength, id : ModeloCarroceria.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloCarroceria.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
                <!-- Pontuação por classificação de cliente -->
                <div class="tab-pane fade" id="knockoutPontuacaoPorPessoaClassificacao">
                    <div>
                        <h4>Cadastrar pontuação por classificação de Cliente</h4>
                        <hr>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: PessoaClassificacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PessoaClassificacao.text, attr: { for: PessoaClassificacao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: PessoaClassificacao.requiredClass, value: PessoaClassificacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaClassificacao.maxlength, id : PessoaClassificacao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PessoaClassificacao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Pontuacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pontuacao.text"></label>
                                <input type="text" class="form-control" data-bind="css: Pontuacao.requiredClass, value: Pontuacao.val, attr: { maxlength: Pontuacao.maxlength, id : Pontuacao.id} " />
                            </div>
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tabelaPontuacao"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTabelaPontuacao();
    });

</script>

