@model Dominio.ObjetosDeValor.Embarcador.Frete.AutorizacaoTabelaFreteAprovadorView
@{
    Layout = "~/Views/Fretes/TabelaFreteAprovador.cshtml";
}
<div class="smart-form">
    <fieldset class="main-fieldset">
        <header>
            <h1 class="h3">Tabela Frete</h1>
        </header>
        <div class="margin-top-15">
            <div class="col col-sm-12">
                <div class="well">
                    <header></header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <div class="alert alert-warning">
                                    @if (Model.SituacaoAjusteTabelaFreteAutorizacao == Dominio.ObjetosDeValor.Embarcador.Enumeradores.SituacaoAjusteTabelaFreteAutorizacao.Aprovada)
                                    {
                                        <strong>Tabela de Frete já Aprovada</strong>
                                    }
                                    @if (Model.SituacaoAjusteTabelaFreteAutorizacao == Dominio.ObjetosDeValor.Embarcador.Enumeradores.SituacaoAjusteTabelaFreteAutorizacao.Rejeitada)
                                    {
                                        <strong>Tabela de Frete já Reprovada</strong>
                                    }
                                    @if (Model.SituacaoAjusteTabelaFreteAutorizacao == Dominio.ObjetosDeValor.Embarcador.Enumeradores.SituacaoAjusteTabelaFreteAutorizacao.Pendente)
                                    {
                                        <script type="text/javascript">
                                            location.pathname = "";
                                            location.href = "/#GerenciadorDeConexoes/ValidarTokenAcessoTabelaFrete?TOKEN_ACESSO_AUTORIZACAO_TABELA_FRETE=@Model.TokenAcesso";
                                        </script>
                                    }
                                </div>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<style>
    fieldset.main-fieldset {
        padding-top: 15px;
    }

        fieldset.main-fieldset > header {
            margin-bottom: 15px;
        }

    .questions {
    }

        .questions .question {
            background-color: #f5f5f5;
            padding: 15px;
            margin-bottom: 15px;
        }
</style>