
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Tabela Frete Comissão Grupo Produto</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Tabelas de Frete por Comissão de Grupo de Produto
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(866)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div id="wid-id-6">
    <div id="knockoutTabelaFrete">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>Tabela de Frete</h2>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12 col-md-12" data-bind="visible: TabelaFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TabelaFrete.text, attr: { for: TabelaFrete.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: TabelaFrete.requiredClass, value: TabelaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: TabelaFrete.maxlength, id : TabelaFrete.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TabelaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divContentTabelaFreteComissaoProduto">
    <div class="panel" id="knockoutPesquisaTabelaFreteComissaoGrupoProduto">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Fretes
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: ContratoFreteTransportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ContratoFreteTransportador.text, attr: { for: ContratoFreteTransportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ContratoFreteTransportador.requiredClass, value: ContratoFreteTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoFreteTransportador.maxlength, id : ContratoFreteTransportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoFreteTransportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: GrupoProduto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoProduto.text, attr: { for: GrupoProduto.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoProduto.requiredClass, value: GrupoProduto.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoProduto.maxlength, id : GrupoProduto.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoProduto.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="knockoutCadastroTabelaFreteComissaoGrupoProduto">
        <div class="panel-container">
            <div class="panel-content">
                <div>
                    <h4>Comissão por Grupo de Produto</h4>
                    <hr />
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Grupo de Produtos
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-primary mb-3" data-bind="attr: { id: GrupoProduto.idBtnSearch}">
                                    <i class="fal fa-plus"></i>
                                    <span data-bind="text: GrupoProduto.text"></span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridGrupoProduto.id}" cellspacing="0"></table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6" data-bind="visible: ContratoFreteTransportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ContratoFreteTransportador.text, attr: { for: ContratoFreteTransportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ContratoFreteTransportador.requiredClass, value: ContratoFreteTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContratoFreteTransportador.maxlength, id : ContratoFreteTransportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContratoFreteTransportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: GrupoPessoas.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: PercentualValorProduto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PercentualValorProduto.text, attr: { for: PercentualValorProduto.id }"></label>
                            <input type="text" class="form-control" data-bind="css: PercentualValorProduto.requiredClass, value: PercentualValorProduto.val, valueUpdate: 'afterkeydown', event : {blur : PercentualValorProduto.eventBlur}, attr: { maxlength: PercentualValorProduto.maxlength, id : PercentualValorProduto.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tabelaFreteComissaoGrupoProduto"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTabelaFreteComissaoGrupoProduto();
    });

</script>

