
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Fretes</li>
    <li class="breadcrumb-item active">Tempo Espera por Pontuação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Tabela de Tempo de Espera por Pontuação
    </h1>
</div>

<div class="panel" id="knockoutTempoEsperaPorPontuacao">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>Cadastrar Tempo de Espera por Pontuação</h3>
        </div>
        <div class="panel-content">
            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
            <div class="panel  mt-3">
                <div class="panel-container">
                    <div class="panel-content ">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: PontuacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PontuacaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="css: PontuacaoInicial.requiredClass, value: PontuacaoInicial.val, attr: { maxlength: PontuacaoInicial.maxlength, id : PontuacaoInicial.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PontuacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PontuacaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="css: PontuacaoFinal.requiredClass, value: PontuacaoFinal.val, attr: {class: PontuacaoFinal.requiredClass, maxlength: PontuacaoFinal.maxlength, id : PontuacaoFinal.id} " />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TempoEsperaEmMinutos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TempoEsperaEmMinutos.text"></label>
                                    <input type="text" class="form-control" data-bind="css: TempoEsperaEmMinutos.requiredClass, value: TempoEsperaEmMinutos.val, attr: { maxlength: TempoEsperaEmMinutos.maxlength, id : TempoEsperaEmMinutos.id} " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class=" d-flex justify-content-end">
                <button type="button" class="btn btn-labeled btn-default ms-1 " data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                    <span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn  btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </footer>
        </div>
    </div>
</div>


<script src="~/scripts/tempoEsperaPorPontuacao"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTempoEsperaPorPontuacao();
    });

</script>

