

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão Pátio</li>
    <li class="breadcrumb-item active">Anexos Produtor</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Anexos Produtor
    </h1>
</div>

<div id="knockoutPesquisaAnexosProdutorCargas">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Pesquisar Cargas </h2>
            </div>
            <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<div id="modaisFluxoPatio"></div>

<div id="modalFechamentoPesagem"></div>

<did id="knockoutFechamentoPesagem"></did>

<script src="~/scripts/anexosProdutor"></script>
<script src="~/scripts/fechamentoPesagem"></script>
<script src="~/scripts/fluxoPatio"></script>
<script src="~/scripts/documentosPesagem"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAnexosProdutor();
        LoadFechamentoPesagem();
    });

</script>