

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão Pátio</li>
    <li class="breadcrumb-item active">Checklist Opções</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Opção Checklist
    </h1>
</div>

<div id="knockoutPesquisaCheckListOpcoes">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Opção Checklist
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Categoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Categoria.text, attr: { for: Categoria.id }"></label>
                                    <select class="form-control" data-bind="options: Categoria.options, optionsText: 'text', optionsValue: 'value', value: Categoria.val, attr: { id : Categoria.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Aplicacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Aplicacao.text, attr: { for: Aplicacao.id }"></label>
                                    <select class="form-control" data-bind="options: Aplicacao.options, optionsText: 'text', optionsValue: 'value', value: Aplicacao.val, attr: { id : Aplicacao.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: CheckListTipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CheckListTipo.text, attr: { for: CheckListTipo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CheckListTipo.requiredClass, value: CheckListTipo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CheckListTipo.text, maxlength: CheckListTipo.maxlength, id: CheckListTipo.id, name: CheckListTipo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CheckListTipo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: CheckListTipo.id, name: CheckListTipo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Adicionar Opção Checklist
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutCheckListOpcoes">
                    <div class="row">
                        <div class="col-12 col-md-2" data-bind="visible: Ordem.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Ordem.text, attr: { for: Ordem.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Ordem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ordem.maxlength, id : Ordem.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, required: Descricao.required, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: CheckListTipo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CheckListTipo.text, attr: { for: CheckListTipo.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: CheckListTipo.requiredClass, value: CheckListTipo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CheckListTipo.text, maxlength: CheckListTipo.maxlength, id: CheckListTipo.id, name: CheckListTipo.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CheckListTipo.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: Categoria.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Categoria.text, attr: { for: Categoria.id }"></label>
                                <select class="form-control" data-bind="options: Categoria.options, optionsText: 'text', optionsValue: 'value', value: Categoria.val, attr: { id : Categoria.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: Assunto.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Assunto.text, attr: { for: Assunto.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Assunto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Assunto.maxlength, id : Assunto.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: Aplicacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Aplicacao.text, attr: { for: Aplicacao.id }"></label>
                                <select class="form-control" data-bind="options: Aplicacao.options, optionsText: 'text', optionsValue: 'value', value: Aplicacao.val, attr: { id : Aplicacao.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: TipoOpcao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOpcao.text, attr: { for: TipoOpcao.id }"></label>
                                <select class="form-control" data-bind="options: TipoOpcao.options, optionsText: 'text', optionsValue: 'value', value: TipoOpcao.val, attr: { id : TipoOpcao.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: RespostaImpeditiva.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RespostaImpeditiva.text, attr: { for: RespostaImpeditiva.id }"></label>
                                <select class="form-control" data-bind="options: RespostaImpeditiva.options, optionsText: 'text', optionsValue: 'value', value: RespostaImpeditiva.val, attr: { id : RespostaImpeditiva.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Filial.text, maxlength: Filial.maxlength, id: Filial.id, name: Filial.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Filial.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: EtapaCheckList.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EtapaCheckList.text, attr: { for: EtapaCheckList.id }"></label>
                                <select class="form-control" data-bind="class: EtapaCheckList.requiredClass, options: EtapaCheckList.options, optionsText: 'text', optionsValue: 'value', value: EtapaCheckList.val, attr: { maxlength: EtapaCheckList.maxlength, id : EtapaCheckList.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: RelacaoPergunta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RelacaoPergunta.text, attr: { for: RelacaoPergunta.id }"></label>
                                <select class="form-control" data-bind="options: RelacaoPergunta.options, optionsText: 'text', optionsValue: 'value', value: RelacaoPergunta.val, attr: { id : RelacaoPergunta.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: RelacaoCampo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RelacaoCampo.text, attr: { for: RelacaoCampo.id }"></label>
                                <select class="form-control" data-bind="options: RelacaoCampo.options, optionsText: 'text', optionsValue: 'value', value: RelacaoCampo.val, attr: { id : RelacaoCampo.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: TagIntegracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TagIntegracao.text, attr: { for: TagIntegracao.id }"></label>
                                <select class="form-control" data-bind="options: TagIntegracao.options, optionsText: 'text', optionsValue: 'value', value: TagIntegracao.val, attr: { id : TagIntegracao.id}"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Obrigatorio.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: Obrigatorio.val, attr: { maxlength: Obrigatorio.maxlength, name: Obrigatorio.id, id: Obrigatorio.id }">
                                        <label class="custom-control-label" data-bind="text: Obrigatorio.text, attr: { for: Obrigatorio.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoData.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TipoData.val, attr: { maxlength: TipoData.maxlength, name: TipoData.id, id: TipoData.id }">
                                        <label class="custom-control-label" data-bind="text: TipoData.text, attr: { for: TipoData.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoHora.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TipoHora.val, attr: { maxlength: TipoHora.maxlength, name: TipoHora.id, id: TipoHora.id }">
                                        <label class="custom-control-label" data-bind="text: TipoHora.text, attr: { for: TipoHora.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: TipoDecimal.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TipoDecimal.val, attr: { maxlength: TipoDecimal.maxlength, name: TipoDecimal.id, id: TipoDecimal.id }">
                                        <label class="custom-control-label" data-bind="text: TipoDecimal.text, attr: { for: TipoDecimal.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PermiteNaoAplica.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteNaoAplica.val, attr: { maxlength: PermiteNaoAplica.maxlength, name: PermiteNaoAplica.id, id: PermiteNaoAplica.id }">
                                        <label class="custom-control-label" data-bind="text: PermiteNaoAplica.text, attr: { for: PermiteNaoAplica.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ExibirSomenteParaFretesOndeRemetenteForTomador.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirSomenteParaFretesOndeRemetenteForTomador.val, attr: { maxlength: ExibirSomenteParaFretesOndeRemetenteForTomador.maxlength, name: ExibirSomenteParaFretesOndeRemetenteForTomador.id, id: ExibirSomenteParaFretesOndeRemetenteForTomador.id }">
                                        <label class="custom-control-label" data-bind="text: ExibirSomenteParaFretesOndeRemetenteForTomador.text, attr: { for: ExibirSomenteParaFretesOndeRemetenteForTomador.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: Opcoes.visible">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="align-items-center mb-0">
                                        <i class="fal fa-edit"></i>
                                        Opções
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Opcoes.idGrid}" cellspacing="0"></div>
                                        <div class="col-12 col-md-4" data-bind="visible: DescricaoOpcao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DescricaoOpcao.text, attr: { for: DescricaoOpcao.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: DescricaoOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoOpcao.maxlength, id : DescricaoOpcao.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: ValorOpcao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ValorOpcao.text, attr: { for: ValorOpcao.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: ValorOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorOpcao.maxlength, id : ValorOpcao.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracaoOpcao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: CodigoIntegracaoOpcao.text, attr: { for: CodigoIntegracaoOpcao.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: CodigoIntegracaoOpcao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoOpcao.maxlength, id : CodigoIntegracaoOpcao.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-12" data-bind="visible: OpcaoImpeditiva.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="enable: OpcaoImpeditiva.enable, checked: OpcaoImpeditiva.val, attr: { maxlength: OpcaoImpeditiva.maxlength, name: OpcaoImpeditiva.id, id: OpcaoImpeditiva.id }">
                                                    <label class="custom-control-label" data-bind="text: OpcaoImpeditiva.text, attr: { for: OpcaoImpeditiva.id }"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer text-left">
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: CancelarOpcao.eventClick, visible: CancelarOpcao.visible, attr: { id : CancelarOpcao.id}">
                                                    <i class="fal fa-ban"></i>
                                                    <span data-bind="text: CancelarOpcao.text"></span>
                                                </button>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: ExcluirOpcao.eventClick, visible: ExcluirOpcao.visible, attr: { id : ExcluirOpcao.id}">
                                                    <i class="fal fa-trash"></i>
                                                    <span data-bind="text: ExcluirOpcao.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: AtualizarOpcao.eventClick, visible: AtualizarOpcao.visible, attr: { id : AtualizarOpcao.id}">
                                                    <i class="fal fa-check"></i>
                                                    <span data-bind="text: AtualizarOpcao.text"></span>
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: AdicionarOpcao.eventClick, visible: AdicionarOpcao.visible, attr: { id : AdicionarOpcao.id}">
                                                    <span data-bind="text: AdicionarOpcao.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="row mt-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <i class="fal fa-trash"></i>
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="~/scripts/checkListOpcoes"></script>
<script type="text/javascript">

    pageSetUp();

    _relacoesCampo = @Html.Raw(ViewBag.OpcoesRelacaoCampo);
    _TagIntegracao = @Html.Raw(ViewBag.OpcoesTagIntegracao);

    $(document).ready(function () {
        loadCheckListOpcoes();
    });

</script>