
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão de Patio</li>
    <li class="breadcrumb-item active">Configuração Tolerancia Pesagem</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Configuração Tolerancia Pesagem
    </h1>
</div>

<div id="knockoutPesquisaConfiguracaoToleranciaPesagem">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Configurações Tolerancia Pesagem
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Filiais.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filiais.text, attr: { for: Filiais.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filiais.requiredClass, value: Filiais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filiais.maxlength, id : Filiais.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filiais.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoDeCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDeCarga.text, attr: { for: TipoDeCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoDeCarga.requiredClass, value: TipoDeCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoDeCarga.maxlength, id : TipoDeCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoDeCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeicularCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active nav-item">
                    <a href="#tabConfiguracao" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Configuração</span></a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutFilial" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Filial</span></a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutTipoCarga" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Tipo de Carga</span></a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutTipoOperacao" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Tipo de Operação</span></a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutModeloVeicular" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Modelo Veicular</span></a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                <div id="tabConfiguracao" class="tab-pane fade active show">
                    <form id="knockoutCadastroConfiguracaoToleranciaPesagem">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoRegraAutorizacaoToleranciaPesagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRegraAutorizacaoToleranciaPesagem.text, attr: { for: TipoRegraAutorizacaoToleranciaPesagem.id }"></label>
                                    <select class="form-control" data-bind="class: TipoRegraAutorizacaoToleranciaPesagem.requiredClass, options: TipoRegraAutorizacaoToleranciaPesagem.options, optionsText: 'text', optionsValue: 'value', value: TipoRegraAutorizacaoToleranciaPesagem.val, attr: { maxlength: TipoRegraAutorizacaoToleranciaPesagem.maxlength, id : TipoRegraAutorizacaoToleranciaPesagem.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ToleranciaPesoSuperior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ToleranciaPesoSuperior.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ToleranciaPesoSuperior.requiredClass, value: ToleranciaPesoSuperior.val, valueUpdate: 'afterkeydown', attr: { maxlength: ToleranciaPesoSuperior.maxlength, id : ToleranciaPesoSuperior.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ToleranciaPesoInferior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ToleranciaPesoInferior.text"></label>
                                    <input type="text" class="form-control" data-bind="class: ToleranciaPesoInferior.requiredClass, value: ToleranciaPesoInferior.val, valueUpdate: 'afterkeydown', attr: { maxlength: ToleranciaPesoInferior.maxlength, id : ToleranciaPesoInferior.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PercentualToleranciaSuperior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PercentualToleranciaSuperior.text"></label>
                                    <input type="text" class="form-control" data-bind="class: PercentualToleranciaSuperior.requiredClass, value: PercentualToleranciaSuperior.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualToleranciaSuperior.maxlength, id : PercentualToleranciaSuperior.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PercentualToleranciaInferior.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PercentualToleranciaInferior.text"></label>
                                    <input type="text" class="form-control" data-bind="class: PercentualToleranciaInferior.requiredClass, value: PercentualToleranciaInferior.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualToleranciaInferior.maxlength, id : PercentualToleranciaInferior.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="knockoutFilial" role="tabpanel">
                    <form novalidate>
                        <div class="row">

                            <div class="col-12 mb-2 me-1">
                                <button data-bind="attr: { id: Tipo.idBtnSearch}" class="btn btn-primary botaoAdiconarMultiplosRegistros" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Tipo.text"></span>
                                </button>
                            </div>

                            <section class="insideNoPaddignTable">
                                <table class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="knockoutTipoCarga" role="tabpanel">
                    <form novalidate>
                        <div class="row">

                            <div class="col-12 mb-2 me-1">
                                <button data-bind="attr: { id: Tipo.idBtnSearch}" class="btn btn-primary botaoAdiconarMultiplosRegistros" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Tipo.text"></span>
                                </button>
                            </div>

                            <section class="insideNoPaddignTable">
                                <table class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="knockoutTipoOperacao" role="tabpanel">
                    <form novalidate>
                        <div class="row">

                            <div class="col-12 mb-2 me-1">
                                <button data-bind="attr: { id: Tipo.idBtnSearch}" class="btn btn-primary botaoAdiconarMultiplosRegistros" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Tipo.text"></span>
                                </button>
                            </div>

                            <section class="insideNoPaddignTable">
                                <table class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="knockoutModeloVeicular" role="tabpanel">
                    <form novalidate>
                        <div class="row">

                            <div class="col-12 mb-2 me-1">
                                <button data-bind="attr: { id: Tipo.idBtnSearch}" class="btn btn-primary botaoAdiconarMultiplosRegistros" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Tipo.text"></span>
                                </button>
                            </div>

                            <section class="insideNoPaddignTable">
                                <table class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section>

                        </div>
                    </form>
                </div>

                <div id="knockoutCRUDConfiguracao" class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-default " type="button" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Limpar.text"></span>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/configuracaoToleranciaPesagem"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracaoToleranciaPesagem();
    });

</script>