
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão Pátio</li>
    <li class="breadcrumb-item active">Controle Visita</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Controle de Visitas
    </h1>
</div>

<div id="knockoutPesquisaControleVisita">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Visitas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: CPF.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CPF.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CPF.val, valueUpdate: 'afterkeydown', attr: { maxlength: CPF.maxlength, id : CPF.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Nome.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoControleVisita.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoControleVisita.text"></label>
                                    <select class="form-control" data-bind="options: SituacaoControleVisita.options, optionsText: 'text', optionsValue: 'value', value: SituacaoControleVisita.val, attr: { id : SituacaoControleVisita.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Visita
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutControleVisita">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Numero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, enable: Numero.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraEntrada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraEntrada.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataHoraEntrada.val, enable: DataHoraEntrada.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraEntrada.maxlength, id : DataHoraEntrada.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraPrevisaoSaida.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraPrevisaoSaida.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataHoraPrevisaoSaida.val, enable: DataHoraPrevisaoSaida.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraPrevisaoSaida.maxlength, id : DataHoraPrevisaoSaida.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CPF.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CPF.text"></label>
                                    <input type="text" class="form-control" data-bind="css: CPF.requiredClass, value: CPF.val, enable: CPF.enable, valueUpdate: 'afterkeydown', attr: { maxlength: CPF.maxlength, id : CPF.id}, event: {blur : consultarVisitaCPF}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text"></label>
                                    <input type="text" class="form-control" data-bind="css: Nome.requiredClass, value: Nome.val, enable: Nome.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataNascimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataNascimento.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataNascimento.val, enable: DataNascimento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataNascimento.maxlength, id : DataNascimento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Identidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Identidade.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Identidade.val, enable: Identidade.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Identidade.maxlength, id : Identidade.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: OrgaoEmissor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: OrgaoEmissor.text"></label>
                                    <input type="text" class="form-control" data-bind="value: OrgaoEmissor.val, enable: OrgaoEmissor.enable, valueUpdate: 'afterkeydown', attr: { maxlength: OrgaoEmissor.maxlength, id : OrgaoEmissor.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Estado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Estado.requiredClass, value: Estado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Estado.maxlength, id : Estado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Estado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Empresa.val, enable: Empresa.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Autorizador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Autorizador.text, attr: { for: Autorizador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Autorizador.requiredClass, value: Autorizador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Autorizador.maxlength, id : Autorizador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Autorizador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Setor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PlacaVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlacaVeiculo.text"></label>
                                    <input type="text" class="form-control" data-bind="value: PlacaVeiculo.val, enable: PlacaVeiculo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: PlacaVeiculo.maxlength, id : PlacaVeiculo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: ModeloVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeiculo.text"></label>
                                    <input type="text" class="form-control" data-bind="value: ModeloVeiculo.val, enable: ModeloVeiculo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="5" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DataHoraSaida.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataHoraSaida.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataHoraSaida.val, enable: DataHoraSaida.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraSaida.maxlength, id : DataHoraSaida.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="form-group col-12 col-md-12" data-bind="visible: Arquivo.visible">
                                <p class="form-label" data-bind="text: Arquivo.text"></p>
                                <div class="custom-file" data-bind="visible: Arquivo.visible">
                                    <input type="file" accept=".jpg, .jpeg, .bmp, .png" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                    <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione uma Foto</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <div data-bind="visible: VisualizarFoto.visible">
                                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: VisualizarFoto.eventClick, attr: { id: VisualizarFoto.id}, enable: VisualizarFoto.enable">
                                        <i class="fal fa-image"></i>
                                        <span data-bind="text: VisualizarFoto.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-3">
                            <div class="row container-imagens padding-top-10">
                                <!-- ko foreach: { data: ImagensConferencia.val, as: 'imagem' } -->
                                <div class="col col-sm-12 col-md-12 col-lg-12">
                                    <div data-bind="css: { 'container-img': true, 'possui-imagem': imagem.Miniatura != null }">
                                        @*<strong>Foto: </strong><span data-bind="text: imagem.Numero"></span>*@
                                        <!-- ko if: imagem.Miniatura != null -->
                                        <div class="">
                                            <img style="max-width:722px; max-height:580px;" class="rounded border border-primary" data-bind="attr: { src:  'data:image/png;base64,' + imagem.Miniatura }" />
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: ImagensConferencia.val().length == 0 -->
                                <div>
                                    <div style="width:722px; height:580px;" class="rounded border border-dark opacity-15 d-flex justify-content-center">
                                        @*Nenhuma foto selecionada*@
                                        <i style="margin:auto; display:block;" class=" fal fa-camera fa-10x"></i>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6">
                            <div class="dropdown pull-right me-3" data-bind="visible: ImprimirEtiqueta.visible()">
                                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" type="button" aria-expanded="false" id="dropdownMenuButton1">
                                    <i class="fal fa-print"></i>Impressões de Visita<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li data-bind="click: ImprimirEtiqueta.eventClick, visible: ImprimirEtiqueta.visible, attr: { id : ImprimirEtiqueta.id }">
                                        <a class="dropdown-item" href="javascript:void(0);">
                                            <i data-bind="css: ImprimirEtiqueta.icon"></i>
                                            <span data-bind="text: ImprimirEtiqueta.text"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-default mx-3" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/controleVisita"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadControleVisita();
    });

</script>
