
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão Pátio</li>
    <li class="breadcrumb-item active">Disponibilidade Veículo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Disponibilidade de Veículo
    </h1>
</div>

<div id="knockoutPesquisaDisponibilidadeVeiculo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h2>Pesquisar Disponibilidade</h2>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">

                        <div class="col-6 col-md-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: Transportador.val, enable: Transportador.enable, attr: { maxlength: Transportador.maxlength, id: Transportador.id}, event: { blur: Transportador.eventChange }, valueUpdate: 'afterkeydown'" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Transportador.enable, attr: { id: Transportador.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-6 col-md-4" data-bind="visible: ContratoFrete.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ContratoFrete.text, attr: { for: ContratoFrete.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: ContratoFrete.val, enable: ContratoFrete.enable, attr: { maxlength: ContratoFrete.maxlength, id: ContratoFrete.id}, event: { blur: ContratoFrete.eventChange }, valueUpdate: 'afterkeydown'" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : ContratoFrete.enable, attr: { id: ContratoFrete.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>Veículos</h3>
            </div>
            <div class="panel-content">
                
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/disponibilidadeVeiculo"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadDisponibilidadeVeiculo();
    });

</script>