

<div id="widget-grid" class="">
    <div class="row">
        <div class="col col-lg-12">
            @if ((bool)ViewBag.FluxoDePatioComoMonitoramento)
            {
                <h2 class="page-title txt-color-blueDark">
                    Monitoramento <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(1169)"><i class="fa fa-question-circle fa-lg"></i></a>
                </h2>
            }
            else
            {
                <h2 class="page-title txt-color-blueDark">
                    Fluxo de Pátio <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(1169)"><i class="fa fa-question-circle fa-lg"></i></a>
                </h2>
            }
        </div>
    </div>
    <div id="knoutPesquisaFluxoPatio">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                        <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: EtapaFluxoGestaoPatio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: EtapaFluxoGestaoPatio.text, attr: { for: EtapaFluxoGestaoPatio.id }"></label>
                                        <select class="form-control" data-bind="class: EtapaFluxoGestaoPatio.requiredClass, options: EtapaFluxoGestaoPatio.options, optionsText: 'text', optionsValue: 'value', value: EtapaFluxoGestaoPatio.val, attr: { maxlength: EtapaFluxoGestaoPatio.maxlength, id : EtapaFluxoGestaoPatio.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Ordenacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Ordenacao.text, attr: { for: Ordenacao.id }"></label>
                                        <select class="form-control" data-bind="class: Ordenacao.requiredClass, options: Ordenacao.options, optionsText: 'text', optionsValue: 'value', value: Ordenacao.val, attr: { maxlength: Ordenacao.maxlength, id : Ordenacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoCargaEmbarcador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: PreCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PreCarga.text, attr: { for: PreCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: PreCarga.requiredClass, value: PreCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: PreCarga.maxlength, id : PreCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Pedido.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pedido.text, attr: { for: Pedido.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Pedido.requiredClass, value: Pedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pedido.maxlength, id : Pedido.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Placa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Placa.text, attr: { for: Placa.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Placa.requiredClass, value: Placa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Placa.maxlength, id : Placa.id}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Cargas
                </h3>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div>
                        <header>@Html.Raw((bool)ViewBag.FluxoDePatioComoMonitoramento ? "Monitoramento" : "Fluxo da Gestão de Pátio")</header>
                        <fieldset id="knockoutContainerFluxoPatio">
                            <!-- ko foreach: { data: Fluxos.val, as: 'Fluxo' } -->
                            <!-- ko component: {name: "fluxo-patio", params: Fluxo} --><!-- /ko -->
                            <!-- /ko -->
                        </fieldset>
                        <footer>
                            <div id="divPaginationGestaoPatio"></div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="fluxo-patio-template">
    <div class="container-fluxo">

        <div class="row">
            <div class="col col-sm-12 col-md-1 identificao-fluxo fluxo-col">
                <div data-bind="click: Carga.eventClick, css: {'identificao': true, 'fluxo-carga-cancelada': CargaCancelada.val, 'fluxo-sem-carga': (!PossuiCarga.val()) }">
                    <span data-bind="visible: CargaCancelada.val" class="tag-cancelada">Cancelada</span>
                    <div><strong data-bind="text: NumeroCarregamento.val"></strong></div>
                    <div>
                        <strong>
                            <span data-bind="text: Remetente.val"></span>
                            <span data-bind="text: ' x ' + Destinatario.val(), visible: Destinatario.val() != ''"></span>
                        </strong>
                    </div>
                    <div data-bind="text: TipoOperacao.val"></div>
                    <div data-bind="text: Transportador.val"></div>
                    <div data-bind="text: Placas.val"></div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-11 etapas-scroll fluxo-col">
                <div class="etapas-fluxo">
                    <div class="etapa-container col etapa-placeholder" data-bind="style: {width: (100 / (Etapas.val().length + 1)) + '%'}">
                        <div class="nome-etapa"></div>
                        <div class="tempo-real">Real</div>
                        <div class="tempo-reprogramado">Reprogramado</div>
                        <div class="tempo-previsto">Previsto</div>
                        <div class="bolinha-etapa"></div>
                        @*<div class="temperatura">Temperatura</div>*@
                        <div class="tempo-atraso">Atraso</div>
                    </div>
                    <!-- ko foreach: { data: Etapas.val, as: 'Etapa' } -->
                    <div class="etapa-container col" data-bind="style: {width: (100 / ($parent.Etapas.val().length + 1)) + '%'}">
                        <!-- ko component: {name: "etapa-fluxo-patio", params: {Etapa: Etapa, Fluxo: $parent, Index: $index()}} -->
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</script>

<script id="etapa-fluxo-patio-template" type="text/html">
    <div class="nome-etapa" data-bind="text: Descricao.val"></div>
    <div data-bind="text: DataRealizada.val, css: {'tempo-real': true, 'tempo-incorreto': Atrasada.val, 'tempo-certo': (!Atrasada.val() && DataRealizada.val() != '') }"></div>
    <div class="tempo-reprogramado" data-bind="text: DataReprogramada.val"></div>
    <div class="tempo-previsto" data-bind="text: DataPrevista.val"></div>

    <div class="bolinha-etapa step-container">
        <a href="#tabFluxo" data-bind="click: Etapa.eventClick" data-toggle="tab">
            <span rel="popover-hover" data-placement="top" data-bind="css: 'step ' + Etapa.cssClass(), attr: {'data-content' : Tooltip.val, 'data-original-title' : Descricao.val }"></span>
        </a>
    </div>
    @*<div class="temperatura" data-bind="text: Temperatura.val"></div>*@
    <div data-bind="text: TempoAtraso.val, css: {'tempo-atraso': true, 'tempo-incorreto': TempoAtraso.val() != '' }"></div>
</script>

<div id="modaisFluxoPatio"></div>

<div id="ModaisCarga"></div>

<div id="modaisChecklist"></div>

<div id="divContainerObservacaoFluxoPatio"></div>

<div id="ModaisPesagem"></div>

<div id="modaisAvaliacaoDescarga"></div>

<script src="~/scripts/cargaVeiculoContainer"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/cte"></script>
<script src="~/scripts/controleSaldo"></script>
<script src="~/scripts/dropzone"></script>
<script src="~/scripts/configuracaoEmissaoCTe"></script>
<script src="~/scripts/configuracaoComponentesFrete"></script>
<script src="~/scripts/mapas"></script>
<script src="~/scripts/checkListComponent"></script>
<script src="~/scripts/checkList"></script>
<script src="~/scripts/travamentoChave"></script>
<script src="~/scripts/docaCarregamento"></script>
<script src="~/scripts/fluxoPatio"></script>
<script src="~/scripts/observacaoFluxoPatio"></script>
<script src="~/scripts/fluxoPatioPesagem"></script>
<script src="~/scripts/fluxoPatioTable"></script>
<script src="~/scripts/documentosPesagem"></script>
<script src="~/scripts/signaturepad"></script>
<link rel="stylesheet" href="~/css/signaturepad" />

<script type="text/javascript">

    pageSetUp();

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    _PermissoesPersonalizadasCarga = @Html.Raw(ViewBag.PermissoesPersonalizadasCarga);
    _PermissoesPersonalizadasFluxoPatio = @Html.Raw(ViewBag.PermissoesPersonalizadasFluxoPatio);

    var _ConfiguracaoInformarDadosChegadaVeiculoNoFluxoPatio = @Html.Raw(ViewBag.InformarDadosChegadaVeiculoNoFluxoPatio);

    $(document).ready(function () {
        LoadLocalizationResources(["GestaoPatio.FluxoPatio", "Cargas.Carga"]).then(
            function () {
                loadFluxoPatioTable();
                loadObservacaoFluxoPatio();
            })
    });

</script>

<style>
    #tabGuaritaFluxoPatioNFe .dt-toolbar {
        display: none;
    }

    .grupo-adicionar-nfe-chegada-veiculo {
        height: 67px;
        margin-top: 5px;
        position: relative;
    }

        .grupo-adicionar-nfe-chegada-veiculo .grupo-adicionar-nfe-chegada-veiculo-botao {
            padding: 6px 7px;
            position: absolute !important;
            left: 100% !important;
            margin-left: -95px;
            margin-top: 25px !important;
            width: 80px;
        }

        .grupo-adicionar-nfe-chegada-veiculo .grupo-adicionar-nfe-chegada-veiculo-campo {
            left: 15px;
            position: absolute !important;
            right: 100px;
            top: 0;
        }

    @@media(min-width: 1331px) {
        .fluxo-col:first-child {
            padding-right: 0px !important;
        }

        .fluxo-col:last-child {
            padding-left: 0px !important;
        }
    }

    .container-fluxo {
        margin-bottom: 50px;
    }

    .identificao-fluxo {
        padding-top: 24px;
        /*height: 186px;*/
        height: 161px;
    }

        .identificao-fluxo .identificao {
            padding: 5px;
            background-color: rgb(189, 215, 238);
            height: 100%;
            text-align: center;
            cursor: pointer;
        }

            .identificao-fluxo .identificao.fluxo-sem-carga {
                background-color: #e6dfad;
            }

            .identificao-fluxo .identificao.fluxo-carga-cancelada {
                color: #ffffff;
                background-color: #c26565;
                position: relative;
            }

                .identificao-fluxo .identificao.fluxo-carga-cancelada .tag-cancelada {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 2px;
                    width: 100%;
                    font-size: 11px;
                    color: #c12c2c;
                    background-color: #ffffff;
                    padding: 2px 0;
                }

    .etapa-container.col {
        padding-right: 0px;
        padding-left: 0px;
    }

    .etapa-container > div {
        min-height: 18px;
        padding: 3px 0;
    }

    .etapa-container:not(.etapa-placeholder) > div {
        text-align: center;
    }

    .etapa-container > div:not(.nome-etapa):not(.bolinha-etapa) {
        border: 1px solid #ccc;
    }

    .etapa-container > div.tempo-reprogramado {
        border-bottom-width: 0 !important;
        border-top-width: 0 !important;
    }

    .etapa-container > div.temperatura {
        border-bottom-width: 0 !important;
    }

    .etapa-container .bolinha-etapa {
        min-height: 39px;
    }

    .etapa-container .nome-etapa,
    .etapa-container .tempo-real,
    .etapa-container .tempo-reprogramado,
    .etapa-container .tempo-previsto,
    .etapa-container .temperatura,
    .etapa-container .tempo-atraso {
        font-weight: bold;
    }

    .etapa-container .tempo-certo {
        color: rgb(0, 97, 0);
        background-color: rgb(198, 239, 206);
    }

    .etapa-container .tempo-incorreto {
        color: rgb(156, 0, 6);
        background-color: rgb(255, 199, 206);
    }

    .etapa-container.etapa-placeholder {
        font-weight: bold
    }

    .etapa-container .step-container .step {
        background: #b2b5b9;
        display: inline;
        font-size: 15px;
        padding: 4px 12px;
        border: 3px solid transparent;
        border-radius: 50%;
        line-height: 30px;
        transition: all .1s linear 0s;
        position: relative;
        z-index: 2;
    }

    .etapa-container .step-container:before {
        border-top: 3px solid #55606e;
        content: "";
        display: block;
        font-size: 0;
        overflow: hidden;
        position: relative;
        top: 16px;
        right: 1px;
        width: 100%;
        z-index: 1;
    }

    .etapas-fluxo .etapa-container:nth-child(2):not(:last-child) .step-container:before {
        left: 50%;
        max-width: 50%;
    }

    .etapas-fluxo .etapa-container:last-child .step-container:before {
        max-width: 50%;
        width: 50%;
    }

    .etapa-placeholder > div {
        padding-left: 5px;
    }

    @@media(max-width: 1330px) {
        .etapas-scroll {
            overflow-x: scroll;
        }

            .etapas-scroll .etapas-fluxo {
                width: 1800px;
            }

        .identificao-fluxo {
            height: auto;
        }
    }
</style>