

<div>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Gestão Pátio</li>
        <li class="breadcrumb-item active">Separação Mercadoria</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Separações de Mercadorias
        </h1>

    </div>

    <div id="knockoutPesquisaSeparacaoMercadoria">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>Pesquisar Separações de Mercadorias</h2>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover " data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" style="display: none" id="container-separacao-mercadoria">
        <div class="panel-container" id="knockoutSeparacaoMercadoria">
            <div class="panel-hdr">
                <h3>Cargas</h3>
            </div>
            <div class="row mx-2">
                <div class="panel-content">
                    <!-- ko if: (NumeroCarga.val() != '' && NumeroPreCarga.val() != '') -->
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: NumeroPreCarga.text"></b> <span data-bind="text: NumeroPreCarga.val"></span></label>
                    </div>
                    <div class="col-12 col-md-2">
                        <label><b data-bind="text: NumeroCarga.text"></b> <span data-bind="text: NumeroCarga.val"></span></label>
                    </div>
                    <div class="col-12 col-md-2">
                        <label><b data-bind="text: CargaData.text"></b> <span data-bind="text: CargaData.val"></span></label>
                    </div>
                    <div class="col-12 col-md-2">
                        <label><b data-bind="text: CargaHora.text"></b> <span data-bind="text: CargaHora.val"></span></label>
                    </div>

                    <!-- /ko -->
                    <!-- ko if: (NumeroCarga.val() == '' && NumeroPreCarga.val() != '') -->
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: NumeroPreCarga.text"></b> <span data-bind="text: NumeroPreCarga.val"></span></label>
                    </div>
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: CargaData.text"></b> <span data-bind="text: CargaData.val"></span></label>
                    </div>
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: CargaHora.text"></b> <span data-bind="text: CargaHora.val"></span></label>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: (NumeroCarga.val() != '' && NumeroPreCarga.val() == '') -->
                    <div class="col-12 col-md-4">
                        <label><b data-bind="text: NumeroCarga.text"></b> <span data-bind="text: NumeroCarga.val"></span></label>
                    </div>
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: CargaData.text"></b> <span data-bind="text: CargaData.val"></span></label>
                    </div>
                    <div class="col-12 col-md-3">
                        <label><b data-bind="text: CargaHora.text"></b> <span data-bind="text: CargaHora.val"></span></label>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="row">
                    <div class="col col-xs-12 col-sm-6 margin-bottom-10" data-bind="visible: Transportador.visible">
                        <label><b data-bind="text: Transportador.text"></b> <span data-bind="text: Transportador.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-6 margin-bottom-10">
                        <label><b data-bind="text: Veiculo.text"></b> <span data-bind="text: Veiculo.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-6 margin-bottom-10">
                        <label><b data-bind="text: Remetente.text"></b> <span data-bind="text: Remetente.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-6 margin-bottom-10">
                        <label><b data-bind="text: TipoCarga.text"></b> <span data-bind="text: TipoCarga.val"></span></label>
                    </div>
                    <div class="col col-xs-12 col-sm-6 margin-bottom-10">
                        <label><b data-bind="text: TipoOperacao.text"></b> <span data-bind="text: TipoOperacao.val"></span></label>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-8" data-bind="visible: ResponsavelCarregamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ResponsavelCarregamento.text, attr: { for: ResponsavelCarregamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ResponsavelCarregamento.requiredClass, value: ResponsavelCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelCarregamento.maxlength, id : ResponsavelCarregamento.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ResponsavelCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: NumeroCarregadores.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroCarregadores.text, attr: { for: NumeroCarregadores.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroCarregadores.requiredClass, value: NumeroCarregadores.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarregadores.maxlength, id : NumeroCarregadores.id}" />
                            </div>
                        </div>
                        <div class="col-12 my-3 ">
                            <button class="btn btn-primary" type="button" data-bind="click: AdicionarResponsavelSeparacao.eventClick, attr: { id: AdicionarResponsavelSeparacao.id}">
                                <i class="fal fa-plus"></i><span data-bind="text: AdicionarResponsavelSeparacao.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Separadores.idGrid}" cellspacing="0"></table>
                    </div>
                    <footer data-bind="visible: (AvancarEtapa.visible() || (ObservacaoFluxoPatio.val() != ''))">
                        <button class="btn btn-default" type="button" data-bind="click: ExibirObservacao.eventClick, enable: ExibirObservacao.enable, visible: (ObservacaoFluxoPatio.val() != ''), attr: { value: ExibirObservacao.text, id : ExibirObservacao.id}">
                            <span data-bind="text: ExibirObservacao.text"></span>
                        </button>
                        <button class="btn btn-success mb-2" type="button" data-bind="click: AvancarEtapa.eventClick, enable: AvancarEtapa.enable, visible: AvancarEtapa.visible, attr: { value: AvancarEtapa.text, id : AvancarEtapa.id}">
                            <span data-bind="text: ExibirObservacao.text"></span>
                        </button>
                    </footer>
                </div>
            </div>
    </div>


</div>


<div id="divModalResponsavelSeparacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutResponsavelSeparacao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Responsável Separação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" data-bind="visible: Responsavel.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Responsavel.text, attr: { for: Responsavel.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Responsavel.requiredClass, value: Responsavel.val, valueUpdate: 'afterkeydown', attr: { maxlength: Responsavel.maxlength, id : Responsavel.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Responsavel.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: CapacidadeSeparacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: CapacidadeSeparacao.text, attr: { for: CapacidadeSeparacao.id }"></label>
                        <input type="text" class="form-control" data-bind="class: CapacidadeSeparacao.requiredClass, value: CapacidadeSeparacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CapacidadeSeparacao.maxlength, id : CapacidadeSeparacao.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, enable: Adicionar.enable, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divContainerObservacaoFluxoPatio"></div>


<script src="~/scripts/observacaoFluxoPatio"></script>
<script src="~/scripts/separacaoMercadoria"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadSeparacaoMercadoria();
        loadObservacaoFluxoPatio();
    });

</script>