
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Gestao Patio</li>
        <li class="breadcrumb-item active">Solicitação Veiculo</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Solicitações de Veículo
        </h1>
    </div>
    <div id="knockoutPesquisaSolicitacaoVeiculo" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Solicitações de Veículo
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="col-12 col-md-12 mt-3">
                        <div class="row">
                            <!-- Filtros pesquisa -->
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <footer class="no-padding">
                                <div class="col-12 d-flex justify-content-end mb-3">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                    </button>
                                </div>
                            </footer>
                        </div>
                        <div class="widget-body mt-3">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jarviswidget" style="display: none" id="container-solicitacao-veiculo" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" data-widget-custombutton="false">
        <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Solicitação de Veículo
                    </h3>
                </div>
                <div class="panel-content col-12 col-md-12">
                    <div id="knockoutSolicitacaoVeiculoFluxoPatio">
                        <div class="row row-cols-1 row-cols-md-2 p-3">
                            <table class="table table-clean table-sm align-self-end">
                                <tbody>
                                    <!-- ko if: (NumeroCarga.val() != '' && NumeroPreCarga.val() != '') -->
                                    <tr>
                                        <td>
                                            <strong data-bind="text: NumeroPreCarga.text"></strong>

                                            <span data-bind="text: NumeroPreCarga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: NumeroCarga.text"></strong>

                                            <span data-bind="text: NumeroCarga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaData.text"></strong>

                                            <span data-bind="text: CargaData.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaHora.text"></strong>

                                            <span data-bind="text: CargaHora.val"></span>
                                        </td>
                                    </tr>

                                    <!-- /ko -->
                                    <!-- ko if: (NumeroCarga.val() == '' && NumeroPreCarga.val() != '') -->
                                    <tr>
                                        <td>
                                            <strong data-bind="text: NumeroPreCarga.text"></strong>

                                            <span data-bind="text: NumeroPreCarga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaData.text"></strong>

                                            <span data-bind="text: CargaData.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaHora.text"></strong>

                                            <span data-bind="text: CargaHora.val"></span>
                                        </td>
                                    </tr>

                                    <!-- /ko -->
                                    <!-- ko if: (NumeroCarga.val() != '' && NumeroPreCarga.val() == '') -->
                                    <tr>
                                        <td>
                                            <strong data-bind="text: NumeroPreCarga.text"></strong>

                                            <span data-bind="text: NumeroPreCarga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaData.text"></strong>

                                            <span data-bind="text: CargaData.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: CargaHora.text"></strong>

                                            <span data-bind="text: CargaHora.val"></span>
                                        </td>
                                    </tr>
                                    <!-- /ko -->

                                    <tr>
                                        <td>
                                            <strong data-bind="text: Transportador.text"></strong>

                                            <span data-bind="text: Transportador.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Veiculo.text"></strong>

                                            <span data-bind="text: Veiculo.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Remetente.text"></strong>

                                            <span data-bind="text: Remetente.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: TipoCarga.text"></strong>

                                            <span data-bind="text: TipoCarga.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: TipoOperacao.text"></strong>

                                            <span data-bind="text: TipoOperacao.val"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-bind="text: Destinatario.text"></strong>

                                            <span data-bind="text: Destinatario.val"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-default" data-bind="click: VerDetalhes.eventClick, visible: VerDetalhes.visible, text: VerDetalhes.text, attr: { id : VerDetalhes.id}">
                                </button>
                            </div>
                            <footer class="col-6 d-flex justify-content-end" data-bind="visible: (AvancarEtapa.visible() || (ObservacaoFluxoPatio.val() != ''))">
                                <input type="button" data-bind="click: ExibirObservacao.eventClick, enable: ExibirObservacao.enable, visible: (ObservacaoFluxoPatio.val() != ''), attr: { value: ExibirObservacao.text, id : ExibirObservacao.id}" class="btn btn-labeled btn-default pull-left">
                                <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: AvancarEtapa.eventClick, visible: AvancarEtapa.visible, text: AvancarEtapa.text, attr: { id : AvancarEtapa.id}">
                                    <i class=""></i>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="divContainerObservacaoFluxoPatio"></div>


<script src="~/scripts/detalhesPedido"></script>
<script src="~/scripts/observacaoFluxoPatio"></script>
<script src="~/scripts/solicitacaoVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.Carga").then(loadSolicitacaoVeiculoFluxoPatio);
    });

</script>
