

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">NFS</li>
        <li class="breadcrumb-item active"> Autorização de NFS Manual</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i>  Autorização de NFS Manual
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaLancamentos">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar NFS
                    </button>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} " />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-3" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Filial.val, enable: Filial.enable, attr: { maxlength: Filial.maxlength, id: Filial.id}, event: { blur: Filial.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Filial.enable, attr: { id: Filial.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, enable: Transportador.enable, attr: { maxlength: Transportador.maxlength, id: Transportador.id}, event: { blur: Transportador.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Transportador.enable, attr: { id: Transportador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" data-bind="visible: Tomador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Tomador.val, enable: Tomador.enable, attr: { maxlength: Tomador.maxlength, id: Tomador.id}, event: { blur: Tomador.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Tomador.enable, attr: { id: Tomador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Usuario.val, enable: Usuario.enable, attr: { maxlength: Usuario.maxlength, id: Usuario.id}, event: { blur: Usuario.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Usuario.enable, attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                            <div class="col-12 row" id="divPesquisaMultimodalAvancada">
                                <div class="col-12 col-sm-4 col-lg-2" data-bind="visible : NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text, attr: { for: NumeroCarga.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: NumeroCarga.val, attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id} , valueUpdate: 'afterkeydown'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-default waves-effect waves-themed me-2" type="button" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>Lista das NFS para Aprovação/Rejeição</h3>
                </div>
                <div class="panel-content">
                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                    <div class="d-flex justify-content-between mt-3">
                        <div class="d-flex">
                            <button class="btn btn-danger me-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                                <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end">

                            <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                                <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="divModalNFS" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da NFS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutLancamentoNFS" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet"> Solicitação</span>
                        </a>
                    </li>
                    <li id="liAutorizacao" class="nav-item">
                        <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-check"></i><span class="hidden-mobile hidden-tablet"> Autorização</span>
                        </a>
                    </li>
                    <li id="liAnexos" class="nav-item">
                        <a href="#knockoutListaAnexos" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet"> Anexos</span>
                        </a>
                    </li>

                    <li id="liNFSes" class="nav-item" style="display:none">
                        <a href="#knockoutNFSes" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-exchange"></i><span class="hidden-mobile hidden-tablet"> NFS-es</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="knockoutLancamentoNFS" class="tab-pane fade active show">
                        <h3>Detalhes da NFS</h3>
                        <small>Atenção, os valores listados abaixo serão os valores registrados no sistema.</small>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Numero.text"></strong>
                                                <span data-bind="text: Numero.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Serie.text"></strong>
                                                <span data-bind="text: Serie.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: NumeroCarga.text"></strong>
                                                <span data-bind="text: NumeroCarga.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: DataCriacao.visible">
                                            <td>
                                                <strong data-bind="text: DataCriacao.text"></strong>
                                                <span data-bind="text: DataCriacao.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-bind="visible: (Descontos.val() != '')">
                                                <strong data-bind="text: Descontos.text"></strong>
                                                <span data-bind="text: Descontos.val, attr:{ 'data-content': Descontos.popover, id: Descontos.id + '-detalhes' }, click: Descontos.eventClick" data-container="#knockoutLancamentoNFS"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: ValorFrete.text"></strong>
                                                <span data-bind="text: ValorFrete.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: AliquotaISS.text"></strong>
                                                <span data-bind="text: AliquotaISS.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: ValorISS.text"></strong>
                                                <span data-bind="text: ValorISS.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: ValorBaseCalculo.text"></strong>
                                                <span data-bind="text: ValorBaseCalculo.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: PercentualRetencao.text"></strong>
                                                <span data-bind="text: PercentualRetencao.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: ValorRetido.text"></strong>
                                                <span data-bind="text: ValorRetido.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: Transportador.visible">
                                            <td>
                                                <strong data-bind="text: Transportador.text"></strong>
                                                <span data-bind="text: Transportador.val"></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong data-bind="text: Filial.text"></strong>
                                                <span data-bind="text: Filial.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Tomador.text"></strong>
                                                <span data-bind="text: Tomador.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Situacao.text"></strong>
                                                <span data-bind="text: Situacao.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <footer>
                                    <div class="d-flex justify-content-end mt-2">
                                        <button type="button" class="btn btn-labeled btn-default me-2" data-bind="click: DownloadXML.eventClick, visible: DownloadXML.visible, attr: { id : DownloadXML.id}">
                                            <i class="fal fa-download"></i>
                                            <span data-bind="text: DownloadXML.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-default me-2" data-bind="click: DownloadDANFSE.eventClick, visible: DownloadDANFSE.visible, attr: { id : DownloadDANFSE.id}">
                                            <i class="fal fa-download"></i>
                                            <span data-bind="text: DownloadDANFSE.text"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" data-bind="visible: DownloadAnexo.visible, click: DownloadAnexo.eventClick, attr: { id: DownloadAnexo.id}">
                                            <i class="fal fa-download"></i><span data-bind="text: DownloadAnexo.text"></span>
                                        </button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutAutorizacao" class="tab-pane fade">
                        <h3>Regras</h3>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Justificativa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Justificativa.text, maxlength: Justificativa.maxlength, id: Justificativa.id, name: Justificativa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Justificativa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                                </div>
                            </div>
                            <div class="col-12" data-bind="visible: Rejeitar.visible">
                                <div class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-danger me-2" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                        <div class="mt-3" data-bind="visible: AprovarTodas.visible">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                    <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutNFSes" class="tab-pane fade">
                        <h3>Notas de Serviço vinculadas à NFS Manual</h3>
                        <div class="row">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : NFSes.idGrid}"></table>
                        </div>
                        <div class="row">
                            <div class="alert alert-info m-0 p-2" role="alert" style="font-size: 0.950rem ;margin-top: 1rem !important">
                                <i class="fal fa-info-circle me-2"></i>
                                O campo "Aliquota IBS" foi adicionado para atender ás regras de reforma tributária.
                            </div>
                        </div>
                    </div>

                    <div id="knockoutListaAnexos" class="tab-pane fade">
                        <h3>Anexos</h3>

                        <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalRejeitarMultiplasNFS" role="dialog" aria-hidden="true">
    <div id="knockoutRejeicaoMultiplasNFS" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar NFS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Justificativa.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                        <div class="input-group">
                            <input type="text" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Justificativa.text, maxlength: Justificativa.maxlength, id: Justificativa.id, name: Justificativa.id }" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Justificativa.idBtnSearch}">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: Motivo.visible">
                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                        <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/autorizacaoNFS"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAutorizacaoNFSManual();
        loadAnexos();
    });

</script>
