
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Notas Fiscais de Serviços Pendêntes
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaInformarNFSPendentes">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar</h2>
                    </header>

                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Empresa.text"></b></label>
                                                        <label data-bind="attr: { class: Empresa.requiredClass}">
                                                            <input type="text" data-bind="value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Empresa.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                    <div style="border-left:none; border-right:none; border-top:none; height:15px; padding:0;" class="row">

                    </div>
                    <div class="widget-body">
                        <header>
                            <b style="font-size:15px; margin-left:5px;">Notas Fiscais de Serviço Pendêntes</b>
                        </header>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>

                </div>
            </div>

        </article>
    </div>
</section>


<div class="modal fade" id="divModalNFSManual" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title" id="myModalLabel">Informar dados da Nota de Serviço</h4>
            </div>
            <div class="modal-body" id="knoutNFSManual">
                <div>
                    <div>
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <div class="row">
                                        <section data-bind="visible : Numero.visible" class="col col-xs-12 col-sm-4 col-md-2 col-lg-2">
                                            <label class="label"><b data-bind="text: Numero.text"></b></label>
                                            <label data-bind="attr: { class: Numero.requiredClass}">
                                                <input type="text" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : LocalidadePrestacao.visible" class="col col-xs-12 col-sm-8 col-md-5 col-lg-5">
                                            <label class="label"><b data-bind="text: LocalidadePrestacao.text"></b></label>
                                            <label data-bind="attr: { class: LocalidadePrestacao.requiredClass}">
                                                <input type="text" data-bind="value: LocalidadePrestacao.val, attr: { maxlength: LocalidadePrestacao.maxlength, id : LocalidadePrestacao.id}, enable : LocalidadePrestacao.enable " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : Tomador.visible" class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <label class="label"><b data-bind="text: Tomador.text"></b></label>
                                            <label data-bind="attr: { class: Tomador.requiredClass}">
                                                <input type="text" data-bind="value: Tomador.val, attr: { maxlength: Tomador.maxlength, id : Tomador.id}, enable : Tomador.enable " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : ValorFrete.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: ValorFrete.text"></b></label>
                                            <label data-bind="attr: { class: ValorFrete.requiredClass}">
                                                <input type="text" data-bind="value: ValorFrete.val, attr: { maxlength: ValorFrete.maxlength, id : ValorFrete.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : ValorBaseCalculo.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: ValorBaseCalculo.text"></b></label>
                                            <label data-bind="attr: { class: ValorBaseCalculo.requiredClass}">
                                                <input type="text" data-bind="value: ValorBaseCalculo.val, attr: { maxlength: ValorBaseCalculo.maxlength, id : ValorBaseCalculo.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : AliquotaISS.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: AliquotaISS.text"></b></label>
                                            <label data-bind="attr: { class: AliquotaISS.requiredClass}">
                                                <input type="text" data-bind="value: AliquotaISS.val, attr: { maxlength: AliquotaISS.maxlength, id : AliquotaISS.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : ValorISS.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: ValorISS.text"></b></label>
                                            <label data-bind="attr: { class: ValorISS.requiredClass}">
                                                <input type="text" data-bind="value: ValorISS.val, attr: { maxlength: ValorISS.maxlength, id : ValorISS.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : ValorRetido.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: ValorRetido.text"></b></label>
                                            <label data-bind="attr: { class: ValorRetido.requiredClass}">
                                                <input type="text" data-bind="value: ValorRetido.val, attr: { maxlength: ValorRetido.maxlength, id : ValorRetido.id} " />
                                            </label>
                                        </section>
                                        <section data-bind="visible : ValorLiquido.visible" class="col col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                            <label class="label"><b data-bind="text: ValorLiquido.text"></b></label>
                                            <label data-bind="attr: { class: ValorLiquido.requiredClass}">
                                                <input type="text" data-bind="value: ValorLiquido.val, attr: { maxlength: ValorLiquido.maxlength, id : ValorLiquido.id} " />
                                            </label>
                                        </section>
                                    </div>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="button" data-bind="click: SalvarNFSManual.eventClick, visible: SalvarNFSManual.visible, attr: { value: SalvarNFSManual.text, id : SalvarNFSManual.id}" class="btn btn-labeled btn-success" />
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/scripts/informarNFSPendentes"></script>*@
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadInformarNFSPendentes();
    });

</script>

