
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cargas</li>
    <li class="breadcrumb-item active">Faturamento Transportador</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Gráfico de Faturamento por Transportador <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(923)"><i class="fa fa-question-circle fa-lg"></i></a>
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Gráfico
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutPesquisaFaturamentoTransportador">
                <div class="row">
                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: CentroCarregamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroCarregamento.text, attr: { for: CentroCarregamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CentroCarregamento.requiredClass, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroCarregamento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Rota.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Rota.text, attr: { for: Rota.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Rota.requiredClass, value: Rota.val, valueUpdate: 'afterkeydown', attr: { maxlength: Rota.maxlength, id : Rota.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Rota.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: ModeloVeiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeiculo.text, attr: { for: ModeloVeiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ModeloVeiculo.requiredClass, value: ModeloVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary me-2" type="button" data-bind="click: GerarGrafico.eventClick, attr: { id: GerarGrafico.id}">
                                <i class="fal fa-search"></i><span data-bind="text: GerarGrafico.text"></span>
                            </button>
                            <button class="btn btn-default" type="button" data-bind="click: DownloadGrafico.eventClick, attr: { id: DownloadGrafico.id}">
                                <i class="fal fa-download"></i><span data-bind="text: DownloadGrafico.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
            <div id="divGrafico">
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/businessIntelligence/scripts/faturamentoTransportador"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadFaturamentoTransportador();
    });

</script>

