@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section>
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Gráfico de Índice de Atrasos <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(1028)"><i class="fa fa-question-circle fa-lg"></i></a>
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Gráfico</h2>
                    </header>
                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div>
                                        <div>
                                            <div class="smart-form">
                                                <section>
                                                    <div class="well" id="knockoutPesquisaValorMedioFrete">
                                                        <header>Filtros de Pesquisa</header>
                                                        <fieldset>
                                                            <div>
                                                                <div class="row">
                                                                    <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="visible: DataInicial.visible">
                                                                        <label class="label"><b data-bind="text: DataInicial.text"></b></label>
                                                                        <label class="input">
                                                                            <input type="text" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="visible: DataFinal.visible">
                                                                        <label class="label"><b data-bind="text: DataFinal.text"></b></label>
                                                                        <label class="input">
                                                                            <input type="text" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : Filial.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Filial.text"></b></label>
                                                                            <label data-bind="attr: { class: Filial.requiredClass}">
                                                                                <input type="text" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Filial.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : CentroCarregamento.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: CentroCarregamento.text"></b></label>
                                                                            <label data-bind="attr: { class: CentroCarregamento.requiredClass}">
                                                                                <input type="text" data-bind="value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: CentroCarregamento.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible: Rota.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Rota.text"></b></label>
                                                                            <label data-bind="attr: { class: Rota.requiredClass}">
                                                                                <input type="text" data-bind="value: Rota.val, valueUpdate: 'afterkeydown', attr: { maxlength: Rota.maxlength, id: Rota.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Rota.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible: Destinatario.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Destinatario.text"></b></label>
                                                                            <label data-bind="attr: { class: Destinatario.requiredClass}">
                                                                                <input type="text" data-bind="value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Destinatario.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : Operador.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Operador.text"></b></label>
                                                                            <label data-bind="attr: { class: Operador.requiredClass}">
                                                                                <input type="text" data-bind="value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Operador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : Transportador.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Transportador.text"></b></label>
                                                                            <label data-bind="attr: { class: Transportador.requiredClass}">
                                                                                <input type="text" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Transportador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : ModeloVeiculo.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: ModeloVeiculo.text"></b></label>
                                                                            <label data-bind="attr: { class: ModeloVeiculo.requiredClass}">
                                                                                <input type="text" data-bind="value: ModeloVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: ModeloVeiculo.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : TipoCarga.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: TipoCarga.text"></b></label>
                                                                            <label data-bind="attr: { class: TipoCarga.requiredClass}">
                                                                                <input type="text" data-bind="value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: TipoCarga.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <footer class="no-padding">
                                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: GerarGrafico.eventClick, attr: { id: GerarGrafico.id}" type="button">
                                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: GerarGrafico.text"></span>
                                                            </button>
                                                            <button class="btn btn-default btnPesquisarFiltroPesquisa" data-bind="click: DownloadGrafico.eventClick, attr: { id: DownloadGrafico.id}" type="button">
                                                                <i class="fa fa-download"></i>&nbsp;<span data-bind="text: DownloadGrafico.text"></span>
                                                            </button>
                                                        </footer>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-2 hidden-sm hidden-xs"></div>
                                            <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8" id="divGrafico">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/businessIntelligence/scripts/indiceAtraso"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadIndiceAtraso();
    });

</script>
