@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section>
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Gráfico de Quantidades de Cargas Por Rota <a href="javascript:void(0);" title="Entenda a página" style="float:right; margin-right:20px" onclick="iniciarAjuda(1029)"><i class="fa fa-question-circle fa-lg"></i></a>
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Gráfico</h2>
                    </header>
                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div>
                                        <div>
                                            <div class="smart-form">
                                                <section>
                                                    <div class="well" id="knockoutPesquisaQuantidadeRota">
                                                        <header>Filtros de Pesquisa</header>
                                                        <fieldset>
                                                            <div>
                                                                <div class="row">
                                                                    <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="visible: DataInicialCarregamento.visible">
                                                                        <label class="label"><b data-bind="text: DataInicialCarregamento.text"></b></label>
                                                                        <label class="input">
                                                                            <input type="text" data-bind="value: DataInicialCarregamento.val, attr: { maxlength: DataInicialCarregamento.maxlength, id : DataInicialCarregamento.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section class="col col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="visible: DataFinalCarregamento.visible">
                                                                        <label class="label"><b data-bind="text: DataFinalCarregamento.text"></b></label>
                                                                        <label class="input">
                                                                            <input type="text" data-bind="value: DataFinalCarregamento.val, attr: { maxlength: DataFinalCarregamento.maxlength, id : DataFinalCarregamento.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: Filial.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Filial.text"></b></label>
                                                                            <label data-bind="attr: { class: Filial.requiredClass}">
                                                                                <input type="text" data-bind="value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Filial.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible : CentroCarregamento.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: CentroCarregamento.text"></b></label>
                                                                            <label data-bind="attr: { class: CentroCarregamento.requiredClass}">
                                                                                <input type="text" data-bind="value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: CentroCarregamento.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" data-bind="visible: Rota.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Rota.text"></b></label>
                                                                            <label data-bind="attr: { class: Rota.requiredClass}">
                                                                                <input type="text" data-bind="value: Rota.val, valueUpdate: 'afterkeydown', attr: { maxlength: Rota.maxlength, id: Rota.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Rota.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible: Transportador.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Transportador.text"></b></label>
                                                                            <label data-bind="attr: { class: Transportador.requiredClass}">
                                                                                <input type="text" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Transportador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible: Veiculo.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Veiculo.text"></b></label>
                                                                            <label data-bind="attr: { class: Veiculo.requiredClass}">
                                                                                <input type="text" data-bind="value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="attr: { id: Veiculo.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <footer class="no-padding">
                                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: GerarGrafico.eventClick, attr: { id: GerarGrafico.id}" type="button">
                                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: GerarGrafico.text"></span>
                                                            </button>
                                                            <button class="btn btn-default btnPesquisarFiltroPesquisa" data-bind="click: DownloadGrafico.eventClick, attr: { id: DownloadGrafico.id}" type="button">
                                                                <i class="fa fa-download"></i>&nbsp;<span data-bind="text: DownloadGrafico.text"></span>
                                                            </button>
                                                            <button class="btn btn-default btnPesquisarFiltroPesquisa" data-bind="click: ExportarGraficoExcel.eventClick, attr: { id: ExportarGraficoExcel.id}" type="button">
                                                                <i class="fa fa-download"></i>&nbsp;<span data-bind="text: ExportarGraficoExcel.text"></span>
                                                            </button>
                                                        </footer>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div id="divGrafico">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/businessIntelligence/scripts/quantidadePorRota"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadQuantidadesPorRota();
    });

</script>
