
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item">Autorizacao Pagamento Titulo</li>

    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Autorização de Pagamento em Lote
        </h1>
    </div>
    <div id="knockoutPesquisaAutorizacaoPagamentoTitulo">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        Consulta de títulos para a autorização
                    </h3>
                </div>
                <div class="panel-content">
                    <form>
                        <div>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: Fornecedor.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataVencimentoInicial.text, attr: { for: DataVencimentoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataVencimentoInicial.requiredClass, value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataVencimentoFinal.text, attr: { for: DataVencimentoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataVencimentoFinal.requiredClass, value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroTitulo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroTitulo.text, attr: { for: NumeroTitulo.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroDocumento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoAutorizacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoAutorizacao.text, attr: { for: SituacaoAutorizacao.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoAutorizacao.requiredClass, options: SituacaoAutorizacao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAutorizacao.val, attr: { maxlength: SituacaoAutorizacao.maxlength, id : SituacaoAutorizacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: TipoTituloNegociacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoTituloNegociacao.text, attr: { for: TipoTituloNegociacao.id }"></label>
                                        <select class="form-control" data-bind="class: TipoTituloNegociacao.requiredClass, options: TipoTituloNegociacao.options, optionsText: 'text', optionsValue: 'value', value: TipoTituloNegociacao.val, attr: { maxlength: TipoTituloNegociacao.maxlength, id : SituacaoAutorizacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: TipoMovimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                <div class=" row ">
                                    <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: GrupoPessoas.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoPessoas.text, attr: { for: GrupoPessoas.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoPessoas.requiredClass, value: GrupoPessoas.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoas.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TipoDocumento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoDocumento.text, attr: { for: TipoDocumento.id }"></label>
                                            <select class="form-control" data-bind="options: TipoDocumento.options,optionsText: 'text',optionsValue: 'value',selectedOptions: TipoDocumento.val, attr: { id: TipoDocumento.id }" multiple="multiple" data-actions-box="false"> </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: SituacaoBoletoTitulo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: SituacaoBoletoTitulo.text, attr: { for: SituacaoBoletoTitulo.id }"></label>
                                            <select class="form-control" data-bind="class: SituacaoBoletoTitulo.requiredClass, options: SituacaoBoletoTitulo.options, optionsText: 'text', optionsValue: 'value', value: SituacaoBoletoTitulo.val, attr: { maxlength: SituacaoBoletoTitulo.maxlength, id : SituacaoBoletoTitulo.id}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>

                            <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>

                        </div>

                    </footer>
                </div>
            </div>
        </div>



        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>Autorização Pagamento</h3>
                </div>
                <div class="panel-content">
                    <div class="mb-1" data-bind="visible: SelecionarTodos.visible">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary botaoDentroSmartAdmimForm" type="button" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}">
                                <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                            </button>
                        </div>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Titulos.enable, attr: { id: Titulos.idGrid}" cellspacing="0"></table>


                    <div class="d-flex justify-content-between mt-3">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right; margin-top: 10px;">
                            <label><b><span data-bind="text: QuantidadeTitulosSelecionados.text"></span></b> <span data-bind="text: QuantidadeTitulosSelecionados.val, title: QuantidadeTitulosSelecionados.val, attr: { title: QuantidadeTitulosSelecionados.val }"></span></label>
                            <label style="margin-left: 20px;"><b><span data-bind="text: ValorOriginalTitulosSelecionados.text"></span></b> <span data-bind="text: ValorOriginalTitulosSelecionados.val, title: ValorOriginalTitulosSelecionados.val, attr: { title: ValorOriginalTitulosSelecionados.val }"></span></label>
                        </section>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-end " style="margin-top:32px;">

                            <div data-bind="visible: DataAutorizacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAutorizacao.text, attr: { for: DataAutorizacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAutorizacao.requiredClass, value: DataAutorizacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacao.maxlength, id : DataAutorizacao.id}" />
                                </div>
                            </div>
                            <div class="align-self-center mx-2" style="margin-top:12px;">
                                <button class="btn btn-success" type="button" data-bind="click: InformarData.eventClick, attr: { id: InformarData.id}">
                                    <span data-bind="text: InformarData.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</section>

<style>
    .btn-marcar-todos {
        float: right;
        margin-bottom: 10px;
        margin-top: -15px;
    }

    .container-grid {
        background-color: #ffffff;
        border: 1px solid #C2C2C2;
    }

    .content-no-padding fieldset {
        padding: 20px 0 0 0 !important;
    }

    .content-no-padding header {
        margin: 0;
        padding: 6px 0 8px 0;
    }
</style>

<script src="~/scripts/autorizacaoPagamentoTitulo"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadAutorizacaoPagamentoTitulo();
    });

</script>

