

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active"> Autorização de Pagamento Eletrônico</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i>  Autorização de Pagamento Eletrônico
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>
    <div id="knockoutPesquisaPagamentoEletronico">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h2>Pesquisar Pagamento Eletrônico</h2>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, attr: { maxlength: DataInicio.maxlength, id : DataInicio.id} " />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataLimite.val, attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: BoletoConfiguracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: BoletoConfiguracao.val, enable: BoletoConfiguracao.enable, attr: { maxlength: BoletoConfiguracao.maxlength, id: BoletoConfiguracao.id}, event: { blur: BoletoConfiguracao.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : BoletoConfiguracao.enable, attr: { id: BoletoConfiguracao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Usuario.val, enable: Usuario.enable, attr: { maxlength: Usuario.maxlength, id: Usuario.id}, event: { blur: Usuario.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Usuario.enable, attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>Cargas</h3>
                </div>
                <div class="panel-content">
                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-danger ms-1" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                            <span data-bind="text: RejeitarTodas.text"></span>
                        </button>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary ms-1" type="button" data-bind="click: DelegarTodas.eventClick, attr: { id: DelegarTodas.id }, visible: DelegarTodas.visible">
                                <span data-bind="text: DelegarTodas.text"></span>
                            </button>
                            <button class="btn btn-success ms-1" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                                <span data-bind="text: AprovarTodas.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="divModalPagamentoEletronico" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações do Pagamento Eletrônico</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutPagamentoEletronico" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet"> Pagamento Eletrônico</span>
                        </a>
                    </li>
                    <li id="liAutorizacao" class="nav-item">
                        <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-check"></i><span class="hidden-mobile hidden-tablet"> Autorização</span>
                        </a>
                    </li>
                    <li id="liTitulos" class="nav-item">
                        <a href="#knockoutTitulos" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-list-alt"></i><span class="hidden-mobile hidden-tablet"> Titulos</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="knockoutPagamentoEletronico" class="tab-pane fade active show">
                        <h3>Detalhes do Pagamento Eletrônico</h3>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr data-bind="visible: Numero.visible">
                                            <td>
                                                <strong data-bind="text: Numero.text"></strong>
                                                <span data-bind="text: Numero.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: Data.visible">
                                            <td>
                                                <strong data-bind="text: Data.text"></strong>
                                                <span data-bind="text: Data.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: SituacaoDescricao.visible">
                                            <td>
                                                <strong data-bind="text: SituacaoDescricao.text"></strong>
                                                <span data-bind="text: SituacaoDescricao.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: Operador.visible">
                                            <td>
                                                <strong data-bind="text: Operador.text"></strong>
                                                <span data-bind="text: Operador.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: BoletoConfiguracao.visible">
                                            <td>
                                                <strong data-bind="text: BoletoConfiguracao.text"></strong>
                                                <span data-bind="text: BoletoConfiguracao.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: DataGeracao.visible">
                                            <td>
                                                <strong data-bind="text: DataGeracao.text"></strong>
                                                <span data-bind="text: DataGeracao.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: DataGeracao.visible">
                                            <td>
                                                <strong data-bind="text: DataGeracao.text"></strong>
                                                <span data-bind="text: Modalidade.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr data-bind="visible: TipoConta.visible">
                                            <td>
                                                <strong data-bind="text: TipoConta.text"></strong>
                                                <span data-bind="text: TipoConta.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: Finalidade.visible">
                                            <td>
                                                <strong data-bind="text: Finalidade.text"></strong>
                                                <span data-bind="text: Finalidade.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: ValorTotal.visible">
                                            <td>
                                                <strong data-bind="text: ValorTotal.text"></strong>
                                                <span data-bind="text: ValorTotal.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: QtdTitulos.visible">
                                            <td>
                                                <strong data-bind="text: QtdTitulos.text"></strong>
                                                <span data-bind="text: QtdTitulos.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: Empresa.visible">
                                            <td>
                                                <strong data-bind="text: Empresa.text"></strong>
                                                <span data-bind="text: Empresa.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutAutorizacao" class="tab-pane fade">
                        <h3>Regras</h3>
                        <div class="row">
                            <div class="col-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                                </div>
                            </div>
                            <div class="col-12" data-bind="visible: Rejeitar.visible">
                                <div class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-danger ms-1" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                                        <span data-bind="text: Rejeitar.text"></span>
                                    </button>
                                    <button class="btn btn-default ms-1" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                        <div class="mt-3" data-bind="visible: AprovarTodas.visible">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                    <span data-bind="text: AprovarTodas.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutTitulos" class="tab-pane fade">
                        <h3>Títulos</h3>
                        <table width="100%" class="table table-bordered table-hover my-3" data-bind="attr: { id : Titulos.idGrid}"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divModalRejeitarPagamentoEletronico" role="dialog" aria-hidden="true">
    <div id="knockoutRejeicaoPagamentoEletronico" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" data-bind="visible: Motivo.visible">
                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default ms-1" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-danger ms-1" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                        <span data-bind="text: Rejeitar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalDelegarSelecionados" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDelegarSelecionados" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar Infrações</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" data-bind="visible: UsuarioDelegado.visible">
                    <label class="form-label" data-bind="text: UsuarioDelegado.text, attr: { for: UsuarioDelegado.id }"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: UsuarioDelegado.val, valueUpdate: 'afterkeydown', attr: { maxlength: UsuarioDelegado.maxlength, id : UsuarioDelegado.id}" />
                        <div class="input-group-append">
                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: UsuarioDelegado.idBtnSearch}">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default ms-1" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success ms-1" type="button" data-bind="click: Delegar.eventClick, attr: { id : Delegar.id}">
                        <span data-bind="text: Delegar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/autorizacaoPagamentoEletronico"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAutorizacao();
    });

</script>