
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Baixa Titulo Pagar</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Títulos a Pagar
    </h1>
</div>

<div id="knockoutPesquisaTituloPagar">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Baixas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroTitulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroTitulo.text, attr: { for: NumeroTitulo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialVencimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialVencimento.text, attr: { for: DataInicialVencimento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicialVencimento.requiredClass, value: DataInicialVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialVencimento.maxlength, id : DataInicialVencimento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalVencimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalVencimento.text, attr: { for: DataFinalVencimento.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinalVencimento.requiredClass, value: DataFinalVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalVencimento.maxlength, id : DataFinalVencimento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorInicial.text, attr: { for: ValorInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorInicial.requiredClass, value: ValorInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorInicial.maxlength, id : ValorInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorFinal.text, attr: { for: ValorFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorFinal.requiredClass, value: ValorFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFinal.maxlength, id : ValorFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, event : {change : TipoPessoa.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: GrupoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Operador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroDocumentoOriginario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocumentoOriginario.text, attr: { for: NumeroDocumentoOriginario.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroDocumentoOriginario.requiredClass, value: NumeroDocumentoOriginario.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoOriginario.maxlength, id : NumeroDocumentoOriginario.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: TipoBaixa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoBaixa.text, attr: { for: TipoBaixa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoBaixa.requiredClass, options: TipoBaixa.options, optionsText: 'text', optionsValue: 'value', value: TipoBaixa.val, attr: { maxlength: TipoBaixa.maxlength, id : TipoBaixa.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Títulos a Pagar
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutCabecalhoTituloPagar" style="display: none;">
                    <div class="row">
                        <div class="col-12" data-bind="visible: NumeroTitulo.visible">
                            <span class="fw-500" data-bind="text: NumeroTitulo.text"></span> <span data-bind="text: NumeroTitulo.val, title: NumeroTitulo.val, attr: { title: NumeroTitulo.val }"></span>
                        </div>
                        <div class="col-12" data-bind="visible: DescricaoSituacao.visible">
                            <span class="fw-500" data-bind="text: DescricaoSituacao.text"></span> <span data-bind="text: DescricaoSituacao.val, title: DescricaoSituacao.val, attr: { title: DescricaoSituacao.val }"></span>
                        </div>
                        <div class="col-12" data-bind="visible: NomePessoa.visible">
                            <span class="fw-500" data-bind="text: NomePessoa.text"></span> <span data-bind="text: NomePessoa.val, title: NomePessoa.val, attr: { title: NomePessoa.val }"></span>
                        </div>
                        <div class="col-12" data-bind="visible: Detalhe.visible">
                            <span class="fw-500" data-bind="text: Detalhe.text"></span> <span data-bind="text: Detalhe.val, title: Detalhe.val, attr: { title: Detalhe.val }"></span>
                        </div>
                        <div class="col-12" data-bind="visible: TituloDeAgrupamento.visible">
                            <span class="fw-500" data-bind="text: TituloDeAgrupamento.text"></span> <span class="fw-500" data-bind="text: TituloDeAgrupamento.val, title: TituloDeAgrupamento.val, attr: { title: TituloDeAgrupamento.val }"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-3" data-bind=" visible: LimparNovaBaixa.visible">
                        <button class="btn btn-default waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: LimparNovaBaixa.eventClick, visible: LimparNovaBaixa.visible, enable: LimparNovaBaixa.enable, attr: { value: LimparNovaBaixa.text, id : LimparNovaBaixa.id}" type="button">
                            <i class="fal fa-sync"></i><span data-bind="text: LimparNovaBaixa.text"></span>
                        </button>
                    </div>
                </div>
                <div id="knockoutEtapaTituloPagar">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#knockoutCadastroTituloPagar" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#tab2" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-dollar-sign"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>

                        <li data-target="#step3" data-bind="visible : Etapa3.visible">
                            <button data-bs-target="#tab3" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                    <i class="fal fa-link"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa3.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">

                    <div id="knockoutCadastroTituloPagar" class="tab-pane fade show active">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Quitação</h3>

                            </div>
                            <div class="card-body row">

                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Pesquisa de Títulos Pendentes</h3>

                                        </div>
                                        <div class="card-body row">
                                            <div class="col-12 col-md-3" data-bind="visible: TipoPessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options,enable: TipoPessoa.enable, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, event : {change : TipoPessoa.eventChange}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9" data-bind="visible: Pessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, enable: Pessoa.enable, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}, enable: Pessoa.enable" " type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9" data-bind="visible: GrupoPessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, enable: GrupoPessoa.enable, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}, enable: GrupoPessoa.enable" " type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: TitulosDeAgrupamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TitulosDeAgrupamento.text, attr: { for: TitulosDeAgrupamento.id }"></label>
                                                    <select class="form-control" data-bind="class: TitulosDeAgrupamento.requiredClass, options: TitulosDeAgrupamento.options, optionsText: 'text', optionsValue: 'value', value: TitulosDeAgrupamento.val, attr: { maxlength: TitulosDeAgrupamento.maxlength, id : TitulosDeAgrupamento.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: NumeroTitulo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroTitulo.text, attr: { for: NumeroTitulo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, enable: NumeroTitulo.enable, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataInicialVencimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataInicialVencimento.text, attr: { for: DataInicialVencimento.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataInicialVencimento.requiredClass, enable: DataInicialVencimento.enable, value: DataInicialVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialVencimento.maxlength, id : DataInicialVencimento.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataFinalVencimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataFinalVencimento.text, attr: { for: DataFinalVencimento.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataFinalVencimento.requiredClass, enable: DataFinalVencimento.enable, value: DataFinalVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalVencimento.maxlength, id : DataFinalVencimento.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: ValorInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorInicial.text, attr: { for: ValorInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: ValorInicial.requiredClass, value: ValorInicial.val, enable: ValorInicial.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorInicial.maxlength, id : ValorInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: ValorFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorFinal.text, attr: { for: ValorFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: ValorFinal.requiredClass, enable: ValorFinal.enable, value: ValorFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFinal.maxlength, id : ValorFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, enable: DataInicial.enable, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, enable: DataFinal.enable, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: DocumentoEntrada.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DocumentoEntrada.text, attr: { for: DocumentoEntrada.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: DocumentoEntrada.requiredClass, enable: DocumentoEntrada.enable, value: DocumentoEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoEntrada.maxlength, id : DocumentoEntrada.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DocumentoEntrada.idBtnSearch}, enable: DocumentoEntrada.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: NaturezaOperacaoEntrada.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NaturezaOperacaoEntrada.text, attr: { for: NaturezaOperacaoEntrada.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: NaturezaOperacaoEntrada.requiredClass,enable: NaturezaOperacaoEntrada.enable, value: NaturezaOperacaoEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: NaturezaOperacaoEntrada.maxlength, id : NaturezaOperacaoEntrada.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NaturezaOperacaoEntrada.idBtnSearch}, enable: NaturezaOperacaoEntrada.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Portador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Portador.text, attr: { for: Portador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Portador.requiredClass, enable: Portador.enable, value: Portador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Portador.maxlength, id : Portador.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Portador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass,enable: TipoMovimento.enable, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}, enable: TipoMovimento.enable" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: NumeroDocumento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass,enable: NumeroDocumento.enable, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: FormaTitulo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: FormaTitulo.text, attr: { for: FormaTitulo.id }"></label>
                                                    <select class="form-control" data-bind="class: FormaTitulo.requiredClass, options: FormaTitulo.options, enable: FormaTitulo.enable, optionsText: 'text', optionsValue: 'value', value: FormaTitulo.val, attr: { maxlength: FormaTitulo.maxlength, id : FormaTitulo.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: AutorizacaoInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: AutorizacaoInicial.text, attr: { for: AutorizacaoInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: AutorizacaoInicial.requiredClass, value: AutorizacaoInicial.val, enable: AutorizacaoInicial.enable, valueUpdate: 'afterkeydown', attr: { maxlength: AutorizacaoInicial.maxlength, id : AutorizacaoInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: AutorizacaoFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: AutorizacaoFinal.text, attr: { for: AutorizacaoFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: AutorizacaoFinal.requiredClass, value: AutorizacaoFinal.val,enable: AutorizacaoFinal.enable, valueUpdate: 'afterkeydown', attr: { maxlength: AutorizacaoFinal.maxlength, id : AutorizacaoFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: RaizCnpjPessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: RaizCnpjPessoa.text, attr: { for: RaizCnpjPessoa.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: RaizCnpjPessoa.requiredClass,enable: RaizCnpjPessoa.enable, value: RaizCnpjPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: RaizCnpjPessoa.maxlength, id : RaizCnpjPessoa.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="m-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div data-bind='component: {name: "import-file", params: { ko: ImportarPlanilha }}'></div>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">

                                                    <button type="button" class="btn btn-labeled btn-primary" data-loading-text="Aguarde..." data-bind="click: PesquisarTitulosPendentes.eventClick, attr: { id: PesquisarTitulosPendentes.id}, visible: PesquisarTitulosPendentes.visible, enable: PesquisarTitulosPendentes.enable">
                                                        <i class="fal fa-search"></i><span data-bind="text: PesquisarTitulosPendentes.text,  enable: PesquisarTitulosPendentes.enable"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Quitar Título</h3>

                                        </div>
                                        <div class="card-body row">
                                            <label data-bind="visible: ParcelaTitulo.visible"><b><span data-bind="text: ParcelaTitulo.text"> </span></b><span data-bind="text: ParcelaTitulo.val, title: ParcelaTitulo.val, attr: { title: ParcelaTitulo.val }"></span></label>
                                            <label data-bind="visible: DocumentosTitulo.visible"><b><span data-bind="text: DocumentosTitulo.text"> </span></b><span data-bind="text: DocumentosTitulo.val, title: DocumentosTitulo.val, attr: { title: DocumentosTitulo.val }"></span></label>
                                            <label data-bind="visible: ValorPendenteTitulo.visible"><b><span data-bind="text: ValorPendenteTitulo.text"> </span></b><span data-bind="text: ValorPendenteTitulo.val, title: ValorPendenteTitulo.val, attr: { title: ValorPendenteTitulo.val }"></span></label>
                                            <label data-bind="visible: ValorPendenteTituloMoedaEstrangeira.visible"><b><span data-bind="text: ValorPendenteTituloMoedaEstrangeira.text"> </span></b><span data-bind="text: ValorPendenteTituloMoedaEstrangeira.val, title: ValorPendenteTituloMoedaEstrangeira.val, attr: { title: ValorPendenteTituloMoedaEstrangeira.val }"></span></label>
                                            <div class="row">
                                                <div class="col-12 col-md-3" data-bind="visible: MoedaCotacaoBancoCentral.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: MoedaCotacaoBancoCentral.text, attr: { for: MoedaCotacaoBancoCentral.id }"></label>
                                                        <select class="form-control" data-bind="class: MoedaCotacaoBancoCentral.requiredClass,enable: MoedaCotacaoBancoCentral.enable, options: MoedaCotacaoBancoCentral.options, optionsText: 'text', optionsValue: 'value', value: MoedaCotacaoBancoCentral.val, attr: { maxlength: MoedaCotacaoBancoCentral.maxlength, id : MoedaCotacaoBancoCentral.id}"></select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: DataBaseCRT.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataBaseCRT.text, attr: { for: DataBaseCRT.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataBaseCRT.requiredClass, enable: DataBaseCRT.enable, value: DataBaseCRT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseCRT.maxlength, id : DataBaseCRT.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorMoedaCotacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorMoedaCotacao.text, attr: { for: ValorMoedaCotacao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorMoedaCotacao.requiredClass, value: ValorMoedaCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMoedaCotacao.maxlength, id : ValorMoedaCotacao.id},event: {blur:ConverterValor}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3" data-bind="visible: ValorOriginalMoedaEstrangeira.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorOriginalMoedaEstrangeira.text, attr: { for: ValorOriginalMoedaEstrangeira.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorOriginalMoedaEstrangeira.requiredClass, enable: ValorOriginalMoedaEstrangeira.enable, value: ValorOriginalMoedaEstrangeira.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorOriginalMoedaEstrangeira.maxlength, id : ValorOriginalMoedaEstrangeira.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: DataBaixa.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataBaixa.text, attr: { for: DataBaixa.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataBaixa.requiredClass, value: DataBaixa.val, enable: DataBaixa.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixa.maxlength, id : DataBaixa.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3" data-bind="visible: ValorBaixado.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorBaixado.text, attr: { for: ValorBaixado.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorBaixado.requiredClass, value: ValorBaixado.val, enable: ValorBaixado.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorBaixado.maxlength, id : ValorBaixado.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', enable: Observacao.enable, attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Títulos</h3>

                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="visible: Documento.visible, attr: { id: Documento.idBtnSearch}">
                                                <i class="fal fa-search"></i><span data-bind="text: Documento.text"></span>
                                            </button>
                                        </div>

                                        <div class="card-body row">
                                            <div class="d-flex align-items-center justify-content-end mb-3">
                                                <button class="btn btn-default waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="enable: SelecionarTodos.enable, click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}" type="button">
                                                    <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                                                </button>
                                            </div>

                                            <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="enable: TitulosPendentes.enable, attr: { id: TitulosPendentes.idGrid}" cellspacing="0"></table>

                                        </div>
                                        <div class="co-l2 mt-12">
                                            <span><b>Legendas:</b> </span>
                                            <div class="badge legend lightgreen">
                                                <b> Título proveniente de negociação</b>
                                            </div>
                                            <div class="badge legend lightyellow">
                                                <b> Título sem negociação</b>
                                            </div>
                                            <div class="badge legend red">
                                                <b>Título vencido</b>
                                            </div>
                                            <div class="badge legend orange">
                                                <b>Título vencendo hoje</b>
                                            </div>
                                            <div class="badge legend orange">
                                                <b>Título com remessa de pagamento eletrônico</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <div class="row mt-2">
                                        <div class="col-6">

                                        </div>
                                        <div class="col-6 d-flex justify-content-end">

                                            <button type="button" class="btn btn-labeled btn-primary me-2" data-bind="click: SalvarObservacao.eventClick, visible: SalvarObservacao.visible, enable: SalvarObservacao.enable, attr: { value: SalvarObservacao.text, id : SalvarObservacao.id}">

                                                <span data-bind="text: SalvarObservacao.text"></span>
                                            </button>
                                            <button type="button" class="btn btn-labeled btn-danger me-2" data-loading-text="Aguarde..." data-bind="click: CancelarBaixa.eventClick, visible: CancelarBaixa.visible, enable: CancelarBaixa.enable, attr: { value: CancelarBaixa.text, id : CancelarBaixa.id}">
                                                <span data-bind="text: CancelarBaixa.text"></span>
                                            </button>

                                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: BaixarTitulo.eventClick, visible: BaixarTitulo.visible, enable: BaixarTitulo.enable, attr: { value: BaixarTitulo.text, id : BaixarTitulo.id}">

                                                <span data-bind="text: BaixarTitulo.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </footer>

                            </div>
                        </div>


                    </div>

                    <div id="tab2" class="tab-pane fade">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Negociação</h3>

                            </div>
                            <div class="card-body">
                                <div id="contentNegociacaoTituloPagar"></div>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane fade">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Integração</h3>

                            </div>
                            <div class="card-body">
                                <div id="contentIntegracaoTituloPagar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>





<div id="ModaisTituloPagar">
</div>


<div id="divModalCheque" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastro de Cheque</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudoCheque">

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/baixaTituloPagar"></script>
<script src="~/scripts/cheque"></script>
<script type="text/javascript">

    pageSetUp();
    _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);
    $(document).ready(function () {
        loadBaixaTitulosPagar();
    });

</script>

