
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Baixa Titulo Receber Novo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Baixa de Títulos a Receber
    </h1>
</div>

<div id="knockoutPesquisaTituloReceber">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Baixas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: NumeroTitulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroTitulo.text, attr: { for: NumeroTitulo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroFatura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFatura.text, attr: { for: NumeroFatura.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroFatura.requiredClass, value: NumeroFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFatura.maxlength, id : NumeroFatura.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataBaseInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBaseInicial.text, attr: { for: DataBaseInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataBaseInicial.requiredClass, value: DataBaseInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseInicial.maxlength, id : DataBaseInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataBaseFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBaseFinal.text, attr: { for: DataBaseFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataBaseFinal.requiredClass, value: DataBaseFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseFinal.maxlength, id : DataBaseFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoPagamento.requiredClass, value: TipoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoPagamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Operador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Conhecimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Conhecimento.text, attr: { for: Conhecimento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Conhecimento.requiredClass, value: Conhecimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Conhecimento.maxlength, id : Conhecimento.id}"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Conhecimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, event : {change : TipoPessoa.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: GrupoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="col-12 col-md-2" data-bind="visible: NumeroDocOriginario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocOriginario.text, attr: { for: NumeroDocOriginario.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroDocOriginario.requiredClass, value: NumeroDocOriginario.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocOriginario.maxlength, id : NumeroDocOriginario.id}" />
                                </div>
                            </div> 
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">

        <div class="panel-content">
            <form>
                <div class="col-12 col-md-12 row " id="knockoutCabecalhoTituloReceber" style="display: none;">
                    <label data-bind="visible: NumeroTitulo.visible"><b><span data-bind="text: NumeroTitulo.text"></span></b> <span data-bind="text: NumeroTitulo.val, title: NumeroTitulo.val, attr: { title: NumeroTitulo.val }"></span></label>
                    <label data-bind="visible: NumeroFatura.visible"><b><span data-bind="text: NumeroFatura.text"></span></b> <span data-bind="text: NumeroFatura.val, title: NumeroFatura.val, attr: { title: NumeroFatura.val }"></span></label>
                    <label data-bind="visible: DescricaoSituacao.visible"><b><span data-bind="text: DescricaoSituacao.text"></span></b> <span data-bind="text: DescricaoSituacao.val, title: DescricaoSituacao.val, attr: { title: DescricaoSituacao.val }"></span></label>
                    <label data-bind="visible: NomePessoa.visible"><b><span data-bind="text: NomePessoa.text"></span></b> <span data-bind="text: NomePessoa.val, title: NomePessoa.val, attr: { title: NomePessoa.val }"></span></label>
                    <label data-bind="visible: DescricaoGrupoPessoa.visible"><b><span data-bind="text: DescricaoGrupoPessoa.text"></span></b> <span data-bind="text: DescricaoGrupoPessoa.val, title: DescricaoGrupoPessoa.val, attr: { title: DescricaoGrupoPessoa.val }"></span></label>
                    <label data-bind="visible: TituloDeAgrupamento.visible"><b><span data-bind="text: TituloDeAgrupamento.text"></span></b> <span data-bind="text: TituloDeAgrupamento.val, title: TituloDeAgrupamento.val, attr: { title: TituloDeAgrupamento.val }"></span></label>
                    <div class="d-flex align-items-center justify-content-end mb-3" data-bind=" visible: LimparNovaBaixa.visible">
                        <button class="btn btn-default waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: LimparNovaBaixa.eventClick, visible: LimparNovaBaixa.visible, enable: LimparNovaBaixa.enable, attr: { value: LimparNovaBaixa.text, id : LimparNovaBaixa.id}" type="button">
                            <i class="fal fa-sync"></i><span data-bind="text: LimparNovaBaixa.text"></span>
                        </button>
                    </div>
                </div>
                <div id="knockoutEtapaTituloReceber">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#knockoutCadastroTituloReceber" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#knockoutNegociacaoBaixaTituloReceber" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick" disabled>
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-handshake"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>

                        <li data-target="#step3" data-bind="visible : Etapa3.visible">
                            <button data-bs-target="#tab3" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick" disabled>
                                <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                    <i class="fal fa-link"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa3.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <!-- Etapa Selecao Documentos -->
                    <div id="knockoutCadastroTituloReceber" class="tab-pane fade show active">
                        <div data-bind="visible: PercentualProcessadoGeracao.visible">
                            <span class="text">
                                <span data-bind="text: PercentualProcessadoGeracao.text"></span>
                                <span class="pull-right" data-bind="text: PercentualProcessadoGeracao.val"></span>
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" data-bind="style: { width: PercentualProcessadoGeracao.val }"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card mb-3" data-bind="visible: !PercentualProcessadoGeracao.visible()">
                                    <div class="card-header">
                                        <h3 class="card-title">Títulos Pendentes</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-3" data-bind="visible: TipoPessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoPessoa.text, attr: { for: TipoPessoa.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoPessoa.requiredClass, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { maxlength: TipoPessoa.maxlength, id : TipoPessoa.id}, event : {change : TipoPessoa.eventChange}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9" data-bind="visible: GrupoPessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9" data-bind="visible: Pessoa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: TitulosDeAgrupamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TitulosDeAgrupamento.text, attr: { for: TitulosDeAgrupamento.id }"></label>
                                                    <select class="form-control" data-bind="class: TitulosDeAgrupamento.requiredClass, options: TitulosDeAgrupamento.options, optionsText: 'text', optionsValue: 'value', value: TitulosDeAgrupamento.val, attr: { maxlength: TitulosDeAgrupamento.maxlength, id : TitulosDeAgrupamento.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Fatura.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Fatura.text, attr: { for: Fatura.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Fatura.requiredClass, value: Fatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fatura.maxlength, id : Fatura.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fatura.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Conhecimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Conhecimento.text, attr: { for: Conhecimento.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Conhecimento.requiredClass, value: Conhecimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Conhecimento.maxlength, id : Conhecimento.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Conhecimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Carga.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataEmissaoInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataEmissaoInicial.text, attr: { for: DataEmissaoInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataEmissaoInicial.requiredClass, value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataEmissaoFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataEmissaoFinal.text, attr: { for: DataEmissaoFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataEmissaoFinal.requiredClass, value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: NumeroTitulo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroTitulo.text, attr: { for: NumeroTitulo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: NumeroPedido.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: NumeroOcorrencia.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroOcorrencia.text, attr: { for: NumeroOcorrencia.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroOcorrencia.requiredClass, value: NumeroOcorrencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroOcorrencia.maxlength, id : NumeroOcorrencia.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NumeroDocumentoOriginario.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroDocumentoOriginario.text, attr: { for: NumeroDocumentoOriginario.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroDocumentoOriginario.requiredClass, value: NumeroDocumentoOriginario.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoOriginario.maxlength, id : NumeroDocumentoOriginario.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: DataProgramacaoPagamentoInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataProgramacaoPagamentoInicial.text, attr: { for: DataProgramacaoPagamentoInicial.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataProgramacaoPagamentoInicial.requiredClass, value: DataProgramacaoPagamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoPagamentoInicial.maxlength, id : DataProgramacaoPagamentoInicial.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: DataProgramacaoPagamentoFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataProgramacaoPagamentoFinal.text, attr: { for: DataProgramacaoPagamentoFinal.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataProgramacaoPagamentoFinal.requiredClass, value: DataProgramacaoPagamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoPagamentoFinal.maxlength, id : DataProgramacaoPagamentoFinal.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex justify-content-between" data-bind="visible: PesquisarTitulosPendentes.visible">
                                            <div data-bind='component: {name: "import-file", params: { ko: ImportarPlanilha }}'></div>
                                            <button type="button" class="btn btn-primary waves-effect waves-themed" data-loading-text="Aguarde..." data-bind="click: PesquisarTitulosPendentes.eventClick, attr: { id: PesquisarTitulosPendentes.id}, visible: PesquisarTitulosPendentes.visible, enable: PesquisarTitulosPendentes.enable">
                                                <i class="fal fa-search"></i><span data-bind="text: PesquisarTitulosPendentes.text,  enable: PesquisarTitulosPendentes.enable"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Detalhes da Baixa</h3>
                                    </div>
                                    <div class="card-body">
                                        <label data-bind="visible: NumeroFatura.visible"><b><span data-bind="text: NumeroFatura.text"> </span></b><span data-bind="text: NumeroFatura.val, title: NumeroFatura.val, attr: { title: NumeroFatura.val }"></span></label>
                                        <label data-bind="visible: ParcelaTitulo.visible"><b><span data-bind="text: ParcelaTitulo.text"> </span></b><span data-bind="text: ParcelaTitulo.val, title: ParcelaTitulo.val, attr: { title: ParcelaTitulo.val }"></span></label>
                                        <label data-bind="visible: ValorPendenteTitulo.visible"><b><span data-bind="text: ValorPendenteTitulo.text"> </span></b><span data-bind="text: ValorPendenteTitulo.val, title: ValorPendenteTitulo.val, attr: { title: ValorPendenteTitulo.val }"></span></label>
                                        <label data-bind="visible: ValorPendenteTituloMoeda.visible"><b><span data-bind="text: ValorPendenteTituloMoeda.text"> </span></b><span data-bind="text: ValorPendenteTituloMoeda.val, title: ValorPendenteTituloMoeda.val, attr: { title: ValorPendenteTituloMoeda.val }"></span></label>
                                        <div class="mt-2 row">
                                            <div class="col-12 col-md-4" data-bind="visible: DataBaixa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataBaixa.text, attr: { for: DataBaixa.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataBaixa.requiredClass, value: DataBaixa.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixa.maxlength, id : DataBaixa.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: DataBase.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataBase.requiredClass, value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: DataBaseCRT.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataBaseCRT.text, attr: { for: DataBaseCRT.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataBaseCRT.requiredClass, value: DataBaseCRT.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaseCRT.maxlength, id : DataBaseCRT.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Observacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-end">
                                        <div class="me-2" data-bind="visible: SalvarDatas.visible">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: SalvarDatas.eventClick, visible: SalvarDatas.visible, enable: SalvarDatas.enable, attr: { value: SalvarDatas.text, id : SalvarDatas.id}">
                                                <span data-bind="text: SalvarDatas.text"></span>
                                            </button>
                                        </div>
                                        <div data-bind="visible: SalvarObservacao.visible">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: SalvarObservacao.eventClick, visible: SalvarObservacao.visible, enable: SalvarObservacao.enable, attr: { value: SalvarObservacao.text, id : SalvarObservacao.id}">
                                                <span data-bind="text: SalvarObservacao.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12 d-flex justify-content-end" data-bind="visible: SelecionarTodos.visible">
                                            <button class="btn btn-default waves-effect waves-themed" type="button" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: SelecionarTodos.text"></span>
                                            </button>
                                        </div>
                                        <div class="mt-2">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: TitulosPendentes.enable, attr: { id: TitulosPendentes.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: !PercentualProcessadoGeracao.visible()">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger waves-effect waves-themed me-2" data-loading-text="Aguarde..." data-bind="click: CancelarBaixa.eventClick, visible: CancelarBaixa.visible, enable: CancelarBaixa.enable, attr: { value: CancelarBaixa.text, id : CancelarBaixa.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: CancelarBaixa.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-success waves-effect waves-themed" data-bind="click: GerarBaixa.eventClick, visible: GerarBaixa.visible, enable: GerarBaixa.enable, attr: { value: GerarBaixa.text, id : GerarBaixa.id}">
                                        <i class="fal fa-check"></i><span data-bind="text: GerarBaixa.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="knockoutNegociacaoBaixaTituloReceber" class="tab-pane fade">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Negociação</h3>

                            </div>
                            <div class="card-body row">
                                <div id="knockoutProgressFinalizacaoBaixa">
                                    <div class="col-12 col-md-12" data-bind="visible: PercentualProcessadoFinalizacao.visible">
                                        <span class="text">
                                            <span data-bind="text: PercentualProcessadoFinalizacao.text"></span>
                                            <span class="pull-right" data-bind="text: PercentualProcessadoFinalizacao.val"></span>
                                        </span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" data-bind="style: { width: PercentualProcessadoFinalizacao.val }"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" id="knockoutDetalhesNegociacaoBaixa">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Dados da Negociação</h3>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" data-bind="visible: Operador.visible"><span class="fw-500">Operador da Negociação:</span> <span data-bind="text: Operador.val, title: Operador.val, attr: { title: Operador.val }"></span></div>
                                                <div class="col-12" data-bind="visible: DataBaixa.visible"><span class="fw-500">Data da Baixa:</span> <span data-bind="text: DataBaixa.val, title: DataBaixa.val, attr: { title: DataBaixa.val }"></span></div>
                                                <div class="col-12" data-bind="visible: DataBase.visible"><span class="fw-500">Data Base:</span> <span data-bind="text: DataBase.val, title: DataBase.val, attr: { title: DataBase.val }"></span></div>
                                                <div class="col-12" data-bind="visible: NumeroFatura.visible"><span class="fw-500">Número da Fatura:</span> <span data-bind="text: NumeroFatura.val, title: NumeroFatura.val, attr: { title: NumeroFatura.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Valor.visible"><span class="fw-500">Valor dos Títulos:</span> <span data-bind="text: Valor.val, title: Valor.val, attr: { title: Valor.val }"></span></div>
                                                <div class="col-12" data-bind="visible: ValorAcrescimo.visible"><span class="fw-500">Valor de Acréscimos:</span> <span data-bind="text: ValorAcrescimo.val, title: ValorAcrescimo.val, attr: { title: ValorAcrescimo.val }"></span></div>
                                                <div class="col-12" data-bind="visible: ValorDesconto.visible"><span class="fw-500">Valor de Descontos:</span> <span data-bind="text: ValorDesconto.val, title: ValorDesconto.val, attr: { title: ValorDesconto.val }"></span></div>
                                                <div class="col-12" data-bind="visible: ValorTotalAPagar.visible"><span class="fw-500">Valor Total a Pagar:</span> <span data-bind="text: ValorTotalAPagar.val, title: ValorTotalAPagar.val, attr: { title: ValorTotalAPagar.val }"></span></div>
                                                <div class="col-12" data-bind="visible: ValorPago.visible"><span class="fw-500">Valor Pago:</span> <span data-bind="text: ValorPago.val, title: ValorPago.val, attr: { title: ValorPago.val }"></span></div>
                                                <div class="col-12" data-bind="visible: SaldoPendente.visible"><span class="fw-500">Valor Pendente:</span> <span data-bind="text: SaldoPendente.val, title: SaldoPendente.val, attr: { title: SaldoPendente.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Moeda:</span> <span data-bind="text: Moeda.val, title: Moeda.val, attr: { title: Moeda.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor da Cotação da Moeda:</span> <span data-bind="text: ValorCotacaoMoeda.val, title: ValorCotacaoMoeda.val, attr: { title: ValorCotacaoMoeda.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor dos Títulos em Moeda:</span> <span data-bind="text: ValorMoeda.val, title: ValorMoeda.val, attr: { title: ValorMoeda.val }"></span></div>

                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor de Acréscimos em Moeda:</span> <span data-bind="text: ValorAcrescimoMoeda.val, title: ValorAcrescimoMoeda.val, attr: { title: ValorAcrescimoMoeda.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor de Descontos em Moeda:</span> <span data-bind="text: ValorDescontoMoeda.val, title: ValorDescontoMoeda.val, attr: { title: ValorDescontoMoeda.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor Total a Pagar em Moeda:</span> <span data-bind="text: ValorTotalAPagarMoeda.val, title: ValorTotalAPagarMoeda.val, attr: { title: ValorTotalAPagarMoeda.val }"></span></div>

                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Valor Pago em Moeda:</span> <span data-bind="text: ValorPagoMoeda.val, title: ValorPagoMoeda.val, attr: { title: ValorPagoMoeda.val }"></span></div>
                                                <div class="col-12" data-bind="visible: Moeda.visible"><span class="fw-500">Saldo conta adiantamento:</span> <span data-bind="text: SaldoPendenteMoeda.val, title: SaldoPendenteMoeda.val, attr: { title: SaldoPendenteMoeda.val }"></span></div>

                                                <div class="col-12" data-bind="visible: SaldoContaAdiantamento.visible"><span class="fw-500">Saldo Pendente em Moeda:</span> <span data-bind="text: SaldoContaAdiantamento.val, title: SaldoContaAdiantamento.val, attr: { title: SaldoContaAdiantamento.val }"></span></div>
                                                <div class="col-12" data-bind="visible: TipoPagamentoRecebimento.visible"><span class="fw-500" data-bind="text: TipoPagamentoRecebimento.text"></span> <span data-bind="text: TipoPagamentoRecebimento.val, title: TipoPagamentoRecebimento.val, attr: { title: TipoPagamentoRecebimento.val }"></span></div>
                                                <div class="col-12" data-bind="visible: PlanoConta.visible"><span class="fw-500" data-bind="text: PlanoConta.text"></span> <span data-bind="text: PlanoConta.val, title: PlanoConta.val, attr: { title: PlanoConta.val }"></span></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6" id="knockoutParcelasNegociacao">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Parcelas da Negociação</h3>

                                        </div>
                                        <div class="card-body row">
                                            <div class="col-12 col-md-6" data-bind="visible: DataEmissao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataEmissao.text, attr: { for: DataEmissao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataEmissao.requiredClass, value: DataEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: QuantidadeParcelas.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: QuantidadeParcelas.text, attr: { for: QuantidadeParcelas.id }"></label>
                                                    <select class="form-control" data-bind="class: QuantidadeParcelas.requiredClass, options: QuantidadeParcelas.options, optionsText: 'text', optionsValue: 'value', value: QuantidadeParcelas.val, attr: { maxlength: QuantidadeParcelas.maxlength, id : QuantidadeParcelas.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: IntervaloDeDias.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: IntervaloDeDias.text, attr: { for: IntervaloDeDias.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: IntervaloDeDias.requiredClass, value: IntervaloDeDias.val, valueUpdate: 'afterkeydown', attr: { maxlength: IntervaloDeDias.maxlength, id : IntervaloDeDias.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: DataPrimeiroVencimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataPrimeiroVencimento.text, attr: { for: DataPrimeiroVencimento.id }"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataPrimeiroVencimento.requiredClass, value: DataPrimeiroVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrimeiroVencimento.maxlength, id : DataPrimeiroVencimento.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: TipoArredondamento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoArredondamento.text, attr: { for: TipoArredondamento.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoArredondamento.requiredClass, options: TipoArredondamento.options, optionsText: 'text', optionsValue: 'value', value: TipoArredondamento.val, attr: { maxlength: TipoArredondamento.maxlength, id : TipoArredondamento.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 justify-content-end d-flex mb-2">
                                                <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: GerarParcelas.eventClick, enable: GerarParcelas.enable, visible: GerarParcelas.visible, attr: { id : GerarParcelas.id}">
                                                    <span data-bind="text: GerarParcelas.text"></span>
                                                </button>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Parcelas.idGrid}" cellspacing="0"></table>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-md-12 mt-2" id="knockoutChequesNegociacaoBaixaTituloReceber">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Cheques</h3>
                                            <div class="justify-content-end d-flex">
                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable: ChequeBaixa.enable, visible: ChequeBaixa.visible, attr: { id: ChequeBaixa.idBtnSearch}">
                                                    <i class="fal fa-search"></i><span data-bind="text: ChequeBaixa.text"></span>
                                                </button>
                                                <button class="btn btn-success waves-effect waves-themed ms-2" type="button" data-bind="click: AdicionarCheque.eventClick, enable: AdicionarCheque.enable, visible: AdicionarCheque.visible, attr: { value: AdicionarCheque.text, id : AdicionarCheque.id}">
                                                    <i class="fal fa-plus"></i><span data-bind="text: AdicionarCheque.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: Grid.enable, attr: {id: Grid.id}" cellspacing="0"></table>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-12 mt-2" id="knockoutDocumentosNegociacaoBaixaTituloReceber">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Documentos da Negociação</h3>

                                            <div class="justify-content-end d-flex">
                                                <button class="btn btn-warning waves-effect waves-themed me-2" type="button" data-bind="enable: AcrescimoDesconto.enable, click: AcrescimoDesconto.eventClick, enable: AcrescimoDesconto.enable, visible: AcrescimoDesconto.visible, attr: { value: AcrescimoDesconto.text, id : AcrescimoDesconto.id}">
                                                    <i class="fal fa-plus"></i><span data-bind="text: AcrescimoDesconto.text"></span>
                                                </button>

                                                <button class="btn btn-warning waves-effect waves-themed me-2" type="button" data-bind="enable: RatearValorPagoEntreDocumentos.enable, click: RatearValorPagoEntreDocumentos.eventClick, enable: RatearValorPagoEntreDocumentos.enable, visible: RatearValorPagoEntreDocumentos.visible, attr: { value: RatearValorPagoEntreDocumentos.text, id : RatearValorPagoEntreDocumentos.id}">
                                                    <i class="fal fa-dollar-sign"></i><span data-bind="text: RatearValorPagoEntreDocumentos.text"></span>
                                                </button>
                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable: Documento.enable, attr: { id: Documento.idBtnSearch}">
                                                    <i class="fal fa-search"></i><span data-bind="text: Documento.text"></span>
                                                </button>

                                            </div>
                                        </div>
                                        <div class="card-body row">
                                            <div class="col-12 col-md-4" data-bind="visible: Tomador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Tomador.text, attr: { for: Tomador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Tomador.requiredClass, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Tomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: NumeroTitulo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroTitulo.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: NumeroTitulo.requiredClass, value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: DocumentoCTe.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DocumentoCTe.text, attr: { for: DocumentoCTe.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: DocumentoCTe.requiredClass, value: DocumentoCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoCTe.maxlength, id : DocumentoCTe.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DocumentoCTe.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-end">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Documentos.enable, attr: { id: Documentos.idGrid}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                        <footer id="knockoutCRUDNegociacaoBaixaTituloReceber">
                            <div class="justify-content-end col-12 d-flex mt-2">
                                <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: FecharBaixa.eventClick, enable: FecharBaixa.enable, visible: FecharBaixa.visible, attr: { value: FecharBaixa.text, id : FecharBaixa.id}">
                                    <i class="fal fa-check"></i><span data-bind="text: FecharBaixa.text"></span>
                                </button>
                            </div>
                        </footer>
                    </div>
                    <div id="tab3" class="tab-pane fade">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Integração</h3>

                            </div>
                            <div class="card-body">
                                <div id="contentIntegracaoTituloReceber"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="divDetalheParcela" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutDetalheParcela" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhe da Parcela</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">

                <div class="col-12 col-md-4" data-bind="visible: Sequencia.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Sequencia.text"></label>
                        <input type="text" class="form-control" data-bind="class: Sequencia.requiredClass,  enable: Sequencia.enable, value: Sequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sequencia.maxlength, id : Sequencia.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Valor.text"></label>
                        <input type="text" class="form-control" data-bind="class: Valor.requiredClass,  enable: Valor.enable, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: ValorDesconto.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorDesconto.text"></label>
                        <input type="text" class="form-control" data-bind="class: ValorDesconto.requiredClass, enable: ValorDesconto.enable, value: ValorDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDesconto.maxlength, id : ValorDesconto.id}" />
                    </div>
                </div>

                <div class="col-12 col-md-4" data-bind="visible: DataEmissao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataEmissao.text"></label>
                        <input type="text" class="form-control" data-bind="class: DataEmissao.requiredClass, enable: DataEmissao.enable, value: DataEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DataVencimento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataVencimento.text"></label>
                        <input type="text" class="form-control" data-bind="class: DataVencimento.requiredClass,enable: DataVencimento.enable, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: SalvarParcela.eventClick, enable: SalvarParcela.enable, visible: SalvarParcela.visible, attr: { value: SalvarParcela.text, id : SalvarParcela.id}">
                        <span data-bind="text: SalvarParcela.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutRateioValorPagoDocumentos" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ratear valor pago entre os documentos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-4" data-bind="visible: ValorMoeda.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorMoeda.text"></label>
                        <input type="text" class="form-control" data-bind="class: ValorMoeda.requiredClass, value: ValorMoeda.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMoeda.maxlength, id : ValorMoeda.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Valor.text"></label>
                        <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default waves-effect waves-themed me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id: Adicionar.id}">
                        <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutAcrescimoDescontoDocumentos" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDelegarSelecionados" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aplicar Acréscimo/Desconto em todos os documentos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-8" data-bind="visible: Justificativa.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: ValorMoeda.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorMoeda.text"></label>
                        <input type="text" class="form-control" data-bind="class: ValorMoeda.requiredClass, value: ValorMoeda.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMoeda.maxlength, id : ValorMoeda.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Valor.text"></label>
                        <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-default waves-effect waves-themed me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id: Adicionar.id}">
                        <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutAcrescimoDescontoDocumentoNegociacaoBaixaTituloReceber" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Acréscimo/Desconto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-bordered table-hover no-footer" data-bind="attr: { id: Grid.idGrid}" cellspacing="0" role="grid"></table>
                <div class="row mt-3">
                    <div class="col-12 col-md-8" data-bind="visible: Justificativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible:  ValorMoeda.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text:  ValorMoeda.text"></label>
                            <input type="text" class="form-control" data-bind="class:  ValorMoeda.requiredClass, value:  ValorMoeda.val, valueUpdate: 'afterkeydown', attr: { maxlength:  ValorMoeda.maxlength, id :  ValorMoeda.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Valor.text"></label>
                            <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-default waves-effect waves-themed" data-bind="click: Fechar.eventClick, visible: Fechar.visible, attr: { id : Fechar.id}">
                        <i data-bind="css: Fechar.icon"></i>
                        <span data-bind="text: Fechar.text"></span>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-default waves-effect waves-themed" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                        <i data-bind="css: Cancelar.icon"></i>
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-danger waves-effect waves-themed ms-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                        <i data-bind="css: Excluir.icon"></i>
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-themed ms-2" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <i data-bind="css: Atualizar.icon"></i>
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-themed ms-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <i data-bind="css: Adicionar.icon"></i>
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutFechamentoBaixa" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fechamento da Baixa de Títulos a Receber</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: TipoPagamento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: TipoPagamento.text, attr: { for: TipoPagamento.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: TipoPagamento.requiredClass, value: TipoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoPagamento.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success waves-effect waves-themed" type="button" data-bind="click: FinalizarBaixa.eventClick, visible: FinalizarBaixa.visible, attr: { id: FinalizarBaixa.id}">
                        <i class="fal fa-check"></i><span data-bind="text: FinalizarBaixa.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCheque" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastro de Cheque</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudoCheque">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/baixaTituloReceberNovo"></script>
<script src="~/scripts/cheque"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadBaixaTitulosReceber();
    });

</script>