
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Boleto Importar Retorno</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Importação do Arquivo de Retorno
        </h1>
    </div>


    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Formulário de Importação
                </h3>
            </div>
            <div class="panel-content">
                <form id="knockoutImportacaoDeRetorno">
                    <div class="row" id="knockoutCadastroMarcaProduto">

                        <div class="form-group col-12 col-md-5" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione o arquivo do retorno</label>
                            </div>
                        </div>


                        <div class="col-12 col-md-2">
                            <input type="button" data-bind="click: Enviar.eventClick, visible: Enviar.visible, attr: { value: Enviar.text, id : Enviar.id}" class="btn btn-labeled btn-success botaoDentroSmartAdmimForm" style="margin-top: 27px" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/importacaoDeRetorno"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadImportacaoDeRetorno();
    });

</script>

