
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Boleto Configuração</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Configuração de Boleto
        </h1>

    </div>

    <div id="knockoutPesquisaBoletoConfiguracao">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Configurações de Boletos
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-3" data-bind="visible: NumeroAgencia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroAgencia.text, attr: { for: NumeroAgencia.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroAgencia.requiredClass, value: NumeroAgencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAgencia.maxlength, id : NumeroAgencia.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroConta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroConta.text, attr: { for: NumeroConta.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroConta.requiredClass, value: NumeroConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConta.maxlength, id : NumeroConta.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Banco.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                                        <select class="form-control" data-bind="class: Banco.requiredClass, options: Banco.options, optionsText: 'text', optionsValue: 'value', value: Banco.val, attr: { maxlength: Banco.maxlength, id : Banco.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Configuração do Boleto
            </h3>
        </div>
        <div class="panel-content">

            <form id="knockoutCadastroBoletoConfiguracao">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>

                                    Dados do Banco
                                </h3>
                            </div>
                            <div class="panel-content ">

                                <div class="row">
                                    <div class="col-12 col-md-5" data-bind="visible: Banco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                                            <select class="form-control" data-bind="class: Banco.requiredClass, options: Banco.options, optionsText: 'text', optionsValue: 'value', value: Banco.val, attr: { maxlength: Banco.maxlength, id : Banco.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: NumeroBanco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroBanco.text, attr: { for: NumeroBanco.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroBanco.requiredClass, value: NumeroBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBanco.maxlength, id : NumeroBanco.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: DigitoBanco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DigitoBanco.text, attr: { for: DigitoBanco.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DigitoBanco.requiredClass, value: DigitoBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: DigitoBanco.maxlength, id : DigitoBanco.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TagBanco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TagBanco.text, attr: { for: TagBanco.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: TagBanco.requiredClass, value: TagBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: TagBanco.maxlength, id : TagBanco.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: TamanhoMaximoNossoNumero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TamanhoMaximoNossoNumero.text, attr: { for: TamanhoMaximoNossoNumero.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: TamanhoMaximoNossoNumero.requiredClass, value: TamanhoMaximoNossoNumero.val, valueUpdate: 'afterkeydown', attr: { maxlength: TamanhoMaximoNossoNumero.maxlength, id : TamanhoMaximoNossoNumero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ProximoNossoNumero.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ProximoNossoNumero.text, attr: { for: ProximoNossoNumero.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ProximoNossoNumero.requiredClass, value: ProximoNossoNumero.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProximoNossoNumero.maxlength, id : ProximoNossoNumero.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: NomeBanco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NomeBanco.text, attr: { for: NomeBanco.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NomeBanco.requiredClass, value: NomeBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeBanco.maxlength, id : NomeBanco.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: NumeroInicialSequenciaRemessa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroInicialSequenciaRemessa.text, attr: { for: NumeroInicialSequenciaRemessa.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroInicialSequenciaRemessa.requiredClass, value: NumeroInicialSequenciaRemessa.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicialSequenciaRemessa.maxlength, id : NumeroInicialSequenciaRemessa.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CaracteristicaTitulo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CaracteristicaTitulo.text, attr: { for: CaracteristicaTitulo.id }"></label>
                                            <select class="form-control" data-bind="class: CaracteristicaTitulo.requiredClass, options: CaracteristicaTitulo.options, optionsText: 'text', optionsValue: 'value', value: CaracteristicaTitulo.val, attr: { maxlength: CaracteristicaTitulo.maxlength, id : CaracteristicaTitulo.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: ResponsavelEmissao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ResponsavelEmissao.text, attr: { for: ResponsavelEmissao.id }"></label>
                                            <select class="form-control" data-bind="class: ResponsavelEmissao.requiredClass, options: ResponsavelEmissao.options, optionsText: 'text', optionsValue: 'value', value: ResponsavelEmissao.val, attr: { maxlength: ResponsavelEmissao.maxlength, id : ResponsavelEmissao.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Beneficiario.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Beneficiario.text, attr: { for: Beneficiario.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Beneficiario.requiredClass, value: Beneficiario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Beneficiario.maxlength, id : Beneficiario.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Beneficiario.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6" data-bind="visible: Portador.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Portador.text, attr: { for: Portador.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Portador.requiredClass, value: Portador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Portador.maxlength, id : Portador.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Portador.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 ">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>

                                    Dados do Cedente
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">

                                    <div class="col-12 col-md-3" data-bind="visible: NumeroAgencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroAgencia.text, attr: { for: NumeroAgencia.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroAgencia.requiredClass, value: NumeroAgencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAgencia.maxlength, id : NumeroAgencia.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DigitoAgencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DigitoAgencia.text, attr: { for: DigitoAgencia.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroAgencia.requiredClass, value: DigitoAgencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: DigitoAgencia.maxlength, id : DigitoAgencia.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoCedente.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoCedente.text, attr: { for: CodigoCedente.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoCedente.requiredClass, value: CodigoCedente.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCedente.maxlength, id : CodigoCedente.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoTransmissao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoTransmissao.text, attr: { for: CodigoTransmissao.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoTransmissao.requiredClass, value: CodigoTransmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoTransmissao.maxlength, id : CodigoTransmissao.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: NumeroConta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroConta.text, attr: { for: NumeroConta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroConta.requiredClass, value: NumeroConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConta.maxlength, id : NumeroConta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DigitoConta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DigitoConta.text, attr: { for: DigitoConta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DigitoConta.requiredClass, value: DigitoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DigitoConta.maxlength, id : DigitoConta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: NumeroConvenio.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: NumeroConvenio.text, attr: { for: NumeroConvenio.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: NumeroConvenio.requiredClass, value: NumeroConvenio.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConvenio.maxlength, id : NumeroConvenio.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Modalidade.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Modalidade.text, attr: { for: Modalidade.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Modalidade.requiredClass, value: Modalidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Modalidade.maxlength, id : Modalidade.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: TagTitulo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TagTitulo.text, attr: { for: TagTitulo.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: TagTitulo.requiredClass, value: TagTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: TagTitulo.maxlength, id : TagTitulo.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: TipoCarteira.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCarteira.text, attr: { for: TipoCarteira.id }"></label>
                                            <select class="form-control" data-bind="class: TipoCarteira.requiredClass, options: TipoCarteira.options, optionsText: 'text', optionsValue: 'value', value: TipoCarteira.val, attr: { maxlength: TipoCarteira.maxlength, id : TipoCarteira.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: TipoCNAB.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCNAB.text, attr: { for: TipoCNAB.id }"></label>
                                            <select class="form-control" data-bind="class: TipoCNAB.requiredClass, options: TipoCNAB.options, optionsText: 'text', optionsValue: 'value', value: TipoCNAB.val, attr: { maxlength: TipoCNAB.maxlength, id : TipoCNAB.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: TipoLayout.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoLayout.text, attr: { for: TipoLayout.id }"></label>
                                            <select class="form-control" data-bind="class: TipoLayout.requiredClass, options: TipoLayout.options, optionsText: 'text', optionsValue: 'value', value: TipoLayout.val, attr: { maxlength: TipoLayout.maxlength, id : TipoLayout.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DigitoAgenciaConta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DigitoAgenciaConta.text, attr: { for: DigitoAgenciaConta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DigitoAgenciaConta.requiredClass, value: DigitoAgenciaConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DigitoAgenciaConta.maxlength, id : DigitoAgenciaConta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9" data-bind="visible: Sacador.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Sacador.text, attr: { for: Sacador.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Sacador.requiredClass, value: Sacador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sacador.maxlength, id : Sacador.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Sacador.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4 ">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>

                                    Dados do Título
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">

                                    <div class="col-12 col-md-3" data-bind="visible: Aceite.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Aceite.text, attr: { for: Aceite.id }"></label>
                                            <select class="form-control" data-bind="class: Aceite.requiredClass, options: Aceite.options, optionsText: 'text', optionsValue: 'value', value: Aceite.val, attr: { maxlength: Aceite.maxlength, id : Aceite.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: EspecieTitulo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: EspecieTitulo.text, attr: { for: EspecieTitulo.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: EspecieTitulo.requiredClass, value: EspecieTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: EspecieTitulo.maxlength, id : EspecieTitulo.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CarteiraTitulo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CarteiraTitulo.text, attr: { for: CarteiraTitulo.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CarteiraTitulo.requiredClass, value: CarteiraTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CarteiraTitulo.maxlength, id : CarteiraTitulo.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: ValorJurosAoMes.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ValorJurosAoMes.text, attr: { for: ValorJurosAoMes.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: ValorJurosAoMes.requiredClass, value: ValorJurosAoMes.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorJurosAoMes.maxlength, id : ValorJurosAoMes.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DiasProtesto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DiasProtesto.text, attr: { for: DiasProtesto.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DiasProtesto.requiredClass, value: DiasProtesto.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasProtesto.maxlength, id : DiasProtesto.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: PercentualMulta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PercentualMulta.text, attr: { for: PercentualMulta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: PercentualMulta.requiredClass, value: PercentualMulta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualMulta.maxlength, id : PercentualMulta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoBanco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoBanco.text, attr: { for: CodigoBanco.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoBanco.requiredClass, value: CodigoBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoBanco.maxlength, id : CodigoBanco.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoProtesto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoProtesto.text, attr: { for: CodigoProtesto.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoProtesto.requiredClass, value: CodigoProtesto.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoProtesto.maxlength, id : CodigoProtesto.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CodigoMulta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoMulta.text, attr: { for: CodigoMulta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoMulta.requiredClass, value: CodigoMulta.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoMulta.maxlength, id : CodigoMulta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: CaminhoRemessa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CaminhoRemessa.text, attr: { for: CaminhoRemessa.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CaminhoRemessa.requiredClass, value: CaminhoRemessa.val, valueUpdate: 'afterkeydown', attr: { maxlength: CaminhoRemessa.maxlength, id : CaminhoRemessa.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: AcrescimoDiaDataMoraJuros.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: AcrescimoDiaDataMoraJuros.text, attr: { for: AcrescimoDiaDataMoraJuros.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: AcrescimoDiaDataMoraJuros.requiredClass, value: AcrescimoDiaDataMoraJuros.val, valueUpdate: 'afterkeydown', attr: { maxlength: AcrescimoDiaDataMoraJuros.maxlength, id : AcrescimoDiaDataMoraJuros.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: AcrescimoDiaDataMulta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: AcrescimoDiaDataMulta.text, attr: { for: AcrescimoDiaDataMulta.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: AcrescimoDiaDataMulta.requiredClass, value: AcrescimoDiaDataMulta.val, valueUpdate: 'afterkeydown', attr: { maxlength: AcrescimoDiaDataMulta.maxlength, id : AcrescimoDiaDataMulta.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: QuantidadeDiasRecebimentoAposVencimento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: QuantidadeDiasRecebimentoAposVencimento.text, attr: { for: QuantidadeDiasRecebimentoAposVencimento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: QuantidadeDiasRecebimentoAposVencimento.requiredClass, value: QuantidadeDiasRecebimentoAposVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeDiasRecebimentoAposVencimento.maxlength, id : QuantidadeDiasRecebimentoAposVencimento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CodigoInstrucaoMovimento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoInstrucaoMovimento.text, attr: { for: CodigoInstrucaoMovimento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoInstrucaoMovimento.requiredClass, value: CodigoInstrucaoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoInstrucaoMovimento.maxlength, id : CodigoInstrucaoMovimento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: LocalPagamento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: LocalPagamento.text, attr: { for: LocalPagamento.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: LocalPagamento.requiredClass, value: LocalPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalPagamento.maxlength, id : LocalPagamento.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CodigoFinalidadeTED.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoFinalidadeTED.text, attr: { for: CodigoFinalidadeTED.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoFinalidadeTED.requiredClass, value: CodigoFinalidadeTED.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoFinalidadeTED.maxlength, id : CodigoFinalidadeTED.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Instrucao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Instrucao.text, attr: { for: Instrucao.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="value: Instrucao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Instrucao.maxlength, id : Instrucao.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: AssuntoEmail.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: AssuntoEmail.text, attr: { for: AssuntoEmail.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="value: AssuntoEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: AssuntoEmail.maxlength, id : AssuntoEmail.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: AssuntoEmail.visible">
                                        <span>Tags: </span>
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagEmpresaAssuntoEmail.eventClick, visible: TagEmpresaAssuntoEmail.visible, attr: { value: TagEmpresaAssuntoEmail.text, id : TagEmpresaAssuntoEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagClienteAssuntoEmail.eventClick, visible: TagClienteAssuntoEmail.visible, attr: { value: TagClienteAssuntoEmail.text, id : TagClienteAssuntoEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagValorTituloAssuntoEmail.eventClick, visible: TagValorTituloAssuntoEmail.visible, attr: { value: TagValorTituloAssuntoEmail.text, id : TagValorTituloAssuntoEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagDataVencimentoAssuntoEmail.eventClick, visible: TagDataVencimentoAssuntoEmail.visible, attr: { value: TagDataVencimentoAssuntoEmail.text, id : TagDataVencimentoAssuntoEmail.id}" />
                                    </div>
                                    <div class="col-12 col-md-12 mt-3" data-bind="visible: MensagemEmail.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: MensagemEmail.text, attr: { for: MensagemEmail.id }"></label>
                                            <textarea class="form-control" rows="4" data-bind="value: MensagemEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: MensagemEmail.maxlength, id : MensagemEmail.id }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: MensagemEmail.visible">
                                        <span>Tags: </span>
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagEmpresaMensagemEmail.eventClick, visible: TagEmpresaMensagemEmail.visible, attr: { value: TagEmpresaMensagemEmail.text, id : TagEmpresaMensagemEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagClienteMensagemEmail.eventClick, visible: TagClienteMensagemEmail.visible, attr: { value: TagClienteMensagemEmail.text, id : TagClienteMensagemEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagValorTituloMensagemEmail.eventClick, visible: TagValorTituloMensagemEmail.visible, attr: { value: TagValorTituloMensagemEmail.text, id : TagValorTituloMensagemEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagDataVencimentoMensagemEmail.eventClick, visible: TagDataVencimentoMensagemEmail.visible, attr: { value: TagDataVencimentoMensagemEmail.text, id : TagDataVencimentoMensagemEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagQuebraLinhaMensagemEmail.eventClick, visible: TagQuebraLinhaMensagemEmail.visible, attr: { value: TagQuebraLinhaMensagemEmail.text, id : TagQuebraLinhaMensagemEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagNumeroCTeEmail.eventClick, visible: TagNumeroCTeEmail.visible, attr: { value: TagNumeroCTeEmail.text, id : TagNumeroCTeEmail.id}" />
                                        <input class="btn btn-labeled btn-default botaoTags" type="button" data-bind="click: TagNumeroFaturaEmail.eventClick, visible: TagNumeroFaturaEmail.visible, attr: { value: TagNumeroFaturaEmail.text, id : TagNumeroFaturaEmail.id}" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4 ">
                        <div class="panel-container border">
                            <div class="panel-hdr">
                                <h3>

                                    Configuração de Movimentação
                                </h3>
                            </div>
                            <div class="panel-content">
                                <div class="row">

                                    <div class="col-12 col-md-12" data-bind="visible: PlanoConta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: PlanoConta.requiredClass, value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PlanoConta.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimentoLiquidacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoMovimentoLiquidacao.text, attr: { for: TipoMovimentoLiquidacao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoMovimentoLiquidacao.requiredClass, value: TipoMovimentoLiquidacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoLiquidacao.maxlength, id : TipoMovimentoLiquidacao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoLiquidacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimentoBaixa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoMovimentoBaixa.text, attr: { for: TipoMovimentoBaixa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoMovimentoBaixa.requiredClass, value: TipoMovimentoBaixa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoBaixa.maxlength, id : TipoMovimentoBaixa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoBaixa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimentoTarifa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoMovimentoTarifa.text, attr: { for: TipoMovimentoTarifa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoMovimentoTarifa.requiredClass, value: TipoMovimentoTarifa.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoTarifa.maxlength, id : TipoMovimentoTarifa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoTarifa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimentoJuros.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoMovimentoJuros.text, attr: { for: TipoMovimentoJuros.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoMovimentoJuros.requiredClass, value: TipoMovimentoJuros.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoJuros.maxlength, id : TipoMovimentoJuros.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoJuros.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimentoDesconto.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoMovimentoDesconto.text, attr: { for: TipoMovimentoDesconto.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoMovimentoDesconto.requiredClass, value: TipoMovimentoDesconto.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimentoDesconto.maxlength, id : TipoMovimentoDesconto.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimentoDesconto.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: LiquidarComValorIntegral.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: LiquidarComValorIntegral.val, attr: { maxlength: LiquidarComValorIntegral.maxlength, name: LiquidarComValorIntegral.id, id: LiquidarComValorIntegral.id }">
                                                <label class="custom-control-label" data-bind="text: LiquidarComValorIntegral.text, attr: { for: LiquidarComValorIntegral.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: UtilizaConfiguracaoPagamentoEletronico.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: UtilizaConfiguracaoPagamentoEletronico.val, attr: { maxlength: UtilizaConfiguracaoPagamentoEletronico.maxlength, name: UtilizaConfiguracaoPagamentoEletronico.id, id: UtilizaConfiguracaoPagamentoEletronico.id }">
                                                <label class="custom-control-label" data-bind="text: UtilizaConfiguracaoPagamentoEletronico.text, attr: { for: UtilizaConfiguracaoPagamentoEletronico.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-md-12" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>

            <footer>
                <div class="row">
                    <div class="col-6 mt-2">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end mt-2">
                        <button type="button" class="btn btn-labeled btn-danger mx-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <i class="fal fa-trash"></i>
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>























<script src="~/scripts/boletoConfiguracao"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadBoletoConfiguracao();
    });

</script>

