
<section id="widget-grid" class="">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="page-title txt-color-blueDark">
                Borderô
            </h2>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaBordero">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Borderô</h2>
                    </header>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section data-bind="visible: Numero.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: Numero.text"></b></label>
                                                    <label data-bind="attr: { class: Numero.requiredClass}">
                                                        <input type="text" data-bind="value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: Titulo.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: Titulo.text"></b></label>
                                                    <label data-bind="attr: { class: Titulo.requiredClass}">
                                                        <input type="text" data-bind="value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: CTe.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: CTe.text"></b></label>
                                                    <label data-bind="attr: { class: CTe.requiredClass}">
                                                        <input type="text" data-bind="value: CTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTe.maxlength, id : CTe.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: Carga.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: Carga.text"></b></label>
                                                    <label data-bind="attr: { class: Carga.requiredClass}">
                                                        <input type="text" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible : Situacao.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: Situacao.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section data-bind="visible : TipoPessoa.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: TipoPessoa.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { id : TipoPessoa.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section class="col col-xs-12 col-sm-12 col-md-6 col-lg-6" data-bind="visible: Pessoa.visible">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Pessoa.text"></b></label>
                                                        <label data-bind="attr: { class: Pessoa.requiredClass}">
                                                            <input type="text" data-bind="value: Pessoa.val, attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Pessoa.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="col col-xs-12 col-sm-12 col-md-6 col-lg-6" data-bind="visible: GrupoPessoas.visible">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: GrupoPessoas.text"></b></label>
                                                        <label data-bind="attr: { class: GrupoPessoas.requiredClass}">
                                                            <input type="text" data-bind="value: GrupoPessoas.val, attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: GrupoPessoas.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section data-bind="visible: DataEmissaoInicial.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: DataEmissaoInicial.text"></b></label>
                                                    <label data-bind="attr: { class: DataEmissaoInicial.requiredClass}">
                                                        <input type="text" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: DataEmissaoFinal.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: DataEmissaoFinal.text"></b></label>
                                                    <label data-bind="attr: { class: DataEmissaoFinal.requiredClass}">
                                                        <input type="text" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: DataVencimentoInicial.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: DataVencimentoInicial.text"></b></label>
                                                    <label data-bind="attr: { class: DataVencimentoInicial.requiredClass}">
                                                        <input type="text" data-bind="value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: DataVencimentoFinal.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: DataVencimentoFinal.text"></b></label>
                                                    <label data-bind="attr: { class: DataVencimentoFinal.requiredClass}">
                                                        <input type="text" data-bind="value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: ValorACobrarInicial.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: ValorACobrarInicial.text"></b></label>
                                                    <label data-bind="attr: { class: ValorACobrarInicial.requiredClass}">
                                                        <input type="text" data-bind="value: ValorACobrarInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorACobrarInicial.maxlength, id : ValorACobrarInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: ValorACobrarFinal.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: ValorACobrarFinal.text"></b></label>
                                                    <label data-bind="attr: { class: ValorACobrarFinal.requiredClass}">
                                                        <input type="text" data-bind="value: ValorACobrarFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorACobrarFinal.maxlength, id : ValorACobrarFinal.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: ValorTotalACobrarInicial.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: ValorTotalACobrarInicial.text"></b></label>
                                                    <label data-bind="attr: { class: ValorTotalACobrarInicial.requiredClass}">
                                                        <input type="text" data-bind="value: ValorTotalACobrarInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalACobrarInicial.maxlength, id : ValorTotalACobrarInicial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: ValorTotalACobrarFinal.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: ValorTotalACobrarFinal.text"></b></label>
                                                    <label data-bind="attr: { class: ValorTotalACobrarFinal.requiredClass}">
                                                        <input type="text" data-bind="value: ValorTotalACobrarFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotalACobrarFinal.maxlength, id : ValorTotalACobrarFinal.id}" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Borderô</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a id="btnContatoCliente" href="javascript:void(0);" class="button-icon hidden" rel="tooltip" title="Contato" data-placement="bottom" data-original-title="Contato"><i class="fa fa-comments"></i></a>
                    </div>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <div class="padding-10" id="knockoutResumoBordero">
                                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row" data-bind="visible: Numero.visible">
                                                <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="well">
                                                        <fieldset class="padding-top-10">
                                                            <div class="row">
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: Numero.text"></span></b><span data-bind="text: Numero.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: DataEmissao.text"></span></b><span data-bind="text: DataEmissao.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: DataVencimento.text"></span></b><span data-bind="text: DataVencimento.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: Situacao.text"></span></b><span data-bind="text: Situacao.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: ValorACobrar.text"></span></b><span data-bind="text: ValorACobrar.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: ValorTotalAcrescimo.text"></span></b><span data-bind="text: ValorTotalAcrescimo.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: ValorTotalDesconto.text"></span></b><span data-bind="text: ValorTotalDesconto.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-5">
                                                                    <label><b><span data-bind="text: ValorTotalACobrar.text"></span></b><span data-bind="text: ValorTotalACobrar.val"></span></label>
                                                                </section>
                                                                <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                                                                    <label><b><span data-bind="text: Tomador.text"></span></b><span data-bind="text: Tomador.val"></span></label>
                                                                </section>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </section>
                                            </div>
                                        </section>
                                    </div>
                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="knockoutEtapaBordero" class="row">
                                            <section class="col col-12">
                                                <ul class="bootstrapWizard form-wizard WizardCarga" id="tabsBordero">
                                                    <li data-target="#step1" data-bind="style : {width : TamanhoEtapa.val }, visible : Etapa1.visible">
                                                        <a href="#knockoutCadastroBordero" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible" data-toggle="tab">
                                                            <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }, text: Etapa1.step"></span>
                                                            <span class="title" data-bind="text: Etapa1.text"></span>
                                                        </a>
                                                    </li>
                                                    <li data-target="#step2" data-bind="style : {width : TamanhoEtapa.val }, visible : Etapa2.visible">
                                                        <a href="#knockoutTitulos" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick" data-toggle="tab">
                                                            <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }, text: Etapa2.step"></span>
                                                            <span class="title" data-bind="text: Etapa2.text"></span>
                                                        </a>
                                                    </li>
                                                    <li data-target="#step3" data-bind="style : {width : TamanhoEtapa.val }, visible : Etapa3.visible">
                                                        <a href="#knockoutIntegracao" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick" data-toggle="tab">
                                                            <span class="step" rel="popover-hover" data-placement="top" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }, text: Etapa3.step"></span>
                                                            <span class="title" data-bind="text: Etapa3.text"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="knockoutCadastroBordero">
                                                <div class="well">
                                                    <fieldset>
                                                        <div class="well margin-bottom-10">
                                                            <header>
                                                                Borderô
                                                            </header>
                                                            <fieldset>
                                                                <div class="row">
                                                                    <section data-bind="visible: DataEmissao.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                                        <label class="label"><b data-bind="text: DataEmissao.text"></b></label>
                                                                        <label data-bind="attr: { class: DataEmissao.requiredClass}">
                                                                            <input type="text" data-bind="enable: DataEmissao.enable, value: DataEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissao.maxlength, id : DataEmissao.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: DataVencimento.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                                        <label class="label"><b data-bind="text: DataVencimento.text"></b></label>
                                                                        <label data-bind="attr: { class: DataVencimento.requiredClass}">
                                                                            <input type="text" data-bind="enable: DataVencimento.enable, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible : TipoPessoa.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                                        <label class="label"><b data-bind="text: TipoPessoa.text"></b></label>
                                                                        <label class="select">
                                                                            <select data-bind="enable: TipoPessoa.enable, options: TipoPessoa.options, optionsText: 'text', optionsValue: 'value', value: TipoPessoa.val, attr: { id : TipoPessoa.id}"></select>
                                                                            <i></i>
                                                                        </label>
                                                                    </section>
                                                                    <section class="col col-xs-12 col-sm-12 col-md-6 col-lg-6" data-bind="visible: Pessoa.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Pessoa.text"></b></label>
                                                                            <label data-bind="attr: { class: Pessoa.requiredClass}">
                                                                                <input type="text" data-bind="enable: Pessoa.enable, value: Pessoa.val, attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}, valueUpdate: 'afterkeydown'" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="enable: Pessoa.enable, attr: { id: Pessoa.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section class="col col-xs-12 col-sm-12 col-md-6 col-lg-6" data-bind="visible: GrupoPessoas.visible">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: GrupoPessoas.text"></b></label>
                                                                            <label data-bind="attr: { class: GrupoPessoas.requiredClass}">
                                                                                <input type="text" data-bind="enable: GrupoPessoas.enable, value: GrupoPessoas.val, attr: { maxlength: GrupoPessoas.maxlength, id : GrupoPessoas.id}, valueUpdate: 'afterkeydown'" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="enable: GrupoPessoas.enable, attr: { id: GrupoPessoas.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible : Observacao.visible" class="col col-sm-12 col-md-12 col-lg-12">
                                                                        <label class="label"><b data-bind="text: Observacao.text"></b></label>
                                                                        <label data-bind="attr: { class: Observacao.requiredClass}">
                                                                            <textarea rows="4" style="width:100%" type="text" data-bind="value: Observacao.val, enable: Observacao.enable, attr: { maxlength: Observacao.maxlength, id : Observacao.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: ImprimirObservacao.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" data-bind="enable: ImprimirObservacao.enable, checked: ImprimirObservacao.val, valueUpdate: 'afterkeydown', attr: { name: ImprimirObservacao.id, id : ImprimirObservacao.id}" />
                                                                            <i></i> <b data-bind="text: ImprimirObservacao.text"></b>
                                                                        </label>
                                                                    </section>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="well margin-bottom-10">
                                                            <header>
                                                                Dados para Pagamento
                                                            </header>
                                                            <fieldset>
                                                                <div class="row">
                                                                    <section data-bind="visible: Tomador.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Tomador.text"></b></label>
                                                                            <label data-bind="attr: { class: Tomador.requiredClass}">
                                                                                <input type="text" data-bind="enable: Tomador.enable, value: Tomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Tomador.maxlength, id : Tomador.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="enable: Tomador.enable, attr: { id: Tomador.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible: Empresa.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Empresa.text"></b></label>
                                                                            <label data-bind="attr: { class: Empresa.requiredClass}">
                                                                                <input type="text" data-bind="enable: Empresa.enable, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="enable: Empresa.enable, attr: { id: Empresa.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible: Banco.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                        <div class="input-group">
                                                                            <label class="label"><b data-bind="text: Banco.text"></b></label>
                                                                            <label data-bind="attr: { class: Banco.requiredClass}">
                                                                                <input type="text" data-bind="enable: Banco.enable, value: Banco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Banco.maxlength, id : Banco.id}" />
                                                                            </label>
                                                                            <div class="input-group-btn">
                                                                                <button data-bind="enable: Banco.enable, attr: { id: Banco.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section data-bind="visible: Agencia.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                        <label class="label"><b data-bind="text: Agencia.text"></b></label>
                                                                        <label data-bind="attr: { class: Agencia.requiredClass}">
                                                                            <input type="text" data-bind="enable: Agencia.enable, value: Agencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agencia.maxlength, id : Agencia.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: DigitoAgencia.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                        <label class="label"><b data-bind="text: DigitoAgencia.text"></b></label>
                                                                        <label data-bind="attr: { class: DigitoAgencia.requiredClass}">
                                                                            <input type="text" data-bind="enable: DigitoAgencia.enable, value: DigitoAgencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: DigitoAgencia.maxlength, id : DigitoAgencia.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: NumeroConta.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                        <label class="label"><b data-bind="text: NumeroConta.text"></b></label>
                                                                        <label data-bind="attr: { class: NumeroConta.requiredClass}">
                                                                            <input type="text" data-bind="enable: NumeroConta.enable, value: NumeroConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConta.maxlength, id : NumeroConta.id}" />
                                                                        </label>
                                                                    </section>
                                                                    <section data-bind="visible: TipoConta.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                        <label class="label"><b data-bind="text: TipoConta.text"></b></label>
                                                                        <label class="select">
                                                                            <select data-bind="enable: TipoConta.enable, options: TipoConta.options, optionsText: 'text', optionsValue: 'value', value: TipoConta.val, attr: { id : TipoConta.id}"></select>
                                                                            <i></i>
                                                                        </label>
                                                                    </section>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </fieldset>
                                                    <footer data-bind="visible: Salvar.visible()">
                                                        <button type="button" data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id: Salvar.id}" class="btn btn-labeled btn-success">
                                                            <i data-bind="css: Salvar.icon"></i>
                                                            &nbsp;<span data-bind="text: Salvar.text"></span>
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade padding-10 no-padding-bottom" id="knockoutTitulos">
                                                <div class="well">
                                                    <header>
                                                        Títulos
                                                    </header>
                                                    <fieldset>
                                                        <div class="smart-form">
                                                            <section>
                                                                <div class="well">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <section data-bind="visible: Titulo.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                                <label class="label"><b data-bind="text: Titulo.text"></b></label>
                                                                                <label data-bind="attr: { class: Titulo.requiredClass}">
                                                                                    <input type="text" data-bind="value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                                                                </label>
                                                                            </section>
                                                                            <section data-bind="visible: CTe.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                                <label class="label"><b data-bind="text: CTe.text"></b></label>
                                                                                <label data-bind="attr: { class: CTe.requiredClass}">
                                                                                    <input type="text" data-bind="value: CTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: CTe.maxlength, id : CTe.id}" />
                                                                                </label>
                                                                            </section>
                                                                            <section data-bind="visible: Carga.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                                <label class="label"><b data-bind="text: Carga.text"></b></label>
                                                                                <label data-bind="attr: { class: Carga.requiredClass}">
                                                                                    <input type="text" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                                                                </label>
                                                                            </section>
                                                                        </div>
                                                                    </fieldset>
                                                                    <footer class="no-padding">
                                                                        <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, visible: Pesquisar.visible, attr: { id: Pesquisar.id}" type="button">
                                                                            <i data-bind="css: Pesquisar.icon"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                                                        </button>
                                                                        <button data-bind="attr: { id: AdicionarTitulo.idBtnSearch}, visible: AdicionarTitulo.visible" class="btn btn-success btnPesquisarFiltroPesquisa" type="button">
                                                                            <i data-bind="css: AdicionarTitulo.icon"></i>&nbsp;<span data-bind="text: AdicionarTitulo.text"></span>&nbsp;
                                                                        </button>
                                                                    </footer>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="widget-body">
                                                            <section class="insideNoPaddignTable">
                                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                                            </section>
                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade padding-10 no-padding-bottom" id="knockoutIntegracao">
                                                <div class="well">
                                                    <header>Integração</header>
                                                    <fieldset>
                                                        <div class="row" id="divConteudoIntegracao" style="display: none;">
                                                        </div>
                                                        <div class="row" id="divNaoPossuiIntegracao">
                                                            <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <label><b>Não existem integrações disponíveis para este borderô.</b></label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                            <footer id="knockoutCRUDBordero" data-bind="visible: Finalizar.visible() || Liquidar.visible() || Cancelar.visible() || GerarNovoBordero.visible()">
                                <button type="button" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { id: Finalizar.id}" class="btn btn-labeled btn-success">
                                    <i data-bind="css: Finalizar.icon"></i>
                                    &nbsp;<span data-bind="text: Finalizar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Liquidar.eventClick, visible: Liquidar.visible, attr: { id: Liquidar.id}" class="btn btn-labeled btn-default bg-color-yellow">
                                    <i data-bind="css: Liquidar.icon"></i>
                                    &nbsp;<span data-bind="text: Liquidar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Imprimir.eventClick, visible: Imprimir.visible, attr: { id: Imprimir.id}" class="btn btn-labeled btn-info">
                                    <i data-bind="css: Imprimir.icon"></i>
                                    &nbsp;<span data-bind="text: Imprimir.text"></span>
                                </button>
                                <button type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id: Cancelar.id}" class="btn btn-labeled btn-danger">
                                    <i data-bind="css: Cancelar.icon"></i>
                                    &nbsp;<span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button type="button" data-bind="click: GerarNovoBordero.eventClick, visible: GerarNovoBordero.visible, attr: { id: GerarNovoBordero.id}" class="btn btn-labeled btn-default">
                                    <i data-bind="css: GerarNovoBordero.icon"></i>
                                    &nbsp;<span data-bind="text: GerarNovoBordero.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<div class="modal modal-wide fade" id="knockoutBorderoTituloDocumento" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title"><i class="fa fa-dollar"></i>&nbsp;Detalhes do Título</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="smart-form">
                            <fieldset class="padding-top-0">
                                <section class="insideNoPaddignTable">
                                    <button type="button" data-bind="click: Pesquisar.eventClick, visible: Pesquisar.visible, attr: { id: Pesquisar.id}" class="btn btn-labeled btn-primary pull-right" style="padding: 4px 6px;">
                                        <i data-bind="css: Pesquisar.icon"></i>
                                        &nbsp;<span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                                </section>
                            </fieldset>
                            <footer style="margin: 0 -20px -20px -20px;">
                                <button type="button" data-bind="click: Fechar.eventClick, visible: Fechar.visible, attr: { id: Fechar.id}" class="btn btn-labeled btn-info pull-left">
                                    <i data-bind="css: Fechar.icon"></i>
                                    &nbsp;<span data-bind="text: Fechar.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="knockoutAcrescimoDescontoBorderoTituloDocumento" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title"><i class="fa fa-dollar"></i>&nbsp;Acréscimo/Desconto</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="smart-form">
                            <fieldset class="padding-top-0">
                                <section class="insideNoPaddignTable">
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                                </section>
                                <div class="row">
                                    <section data-bind="visible: Justificativa.visible" class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: Justificativa.text"></b></label>
                                            <label data-bind="attr: { class: Justificativa.requiredClass}">
                                                <input type="text" data-bind="enable: Justificativa.enable, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="enable: Justificativa.enable, attr: { id: Justificativa.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-bind="visible: Valor.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="label"><b data-bind="text: Valor.text"></b></label>
                                        <label data-bind="attr: { class: Valor.requiredClass}">
                                            <input type="text" data-bind="value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Observacao.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label class="label"><b data-bind="text: Observacao.text"></b></label>
                                        <label class="input" data-bind="attr: { class: Observacao.requiredClass}">
                                            <textarea style="width: 100%;" rows="5" type="text" data-bind="enable: Observacao.enable, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer style="margin: 0 -20px -20px -20px;">
                                <button type="button" data-bind="click: Fechar.eventClick, visible: Fechar.visible, attr: { id: Fechar.id}" class="btn btn-labeled btn-info pull-left">
                                    <i data-bind="css: Fechar.icon"></i>
                                    &nbsp;<span data-bind="text: Fechar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id: Adicionar.id}" class="btn btn-labeled btn-success">
                                    <i data-bind="css: Adicionar.icon"></i>
                                    &nbsp;<span data-bind="text: Adicionar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id: Atualizar.id}" class="btn btn-labeled btn-success">
                                    <i data-bind="css: Atualizar.icon"></i>
                                    &nbsp;<span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id: Excluir.id}" class="btn btn-labeled btn-danger">
                                    <i data-bind="css: Excluir.icon"></i>
                                    &nbsp;<span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id: Cancelar.id}" class="btn btn-labeled btn-default">
                                    <i data-bind="css: Cancelar.icon"></i>
                                    &nbsp;<span data-bind="text: Cancelar.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="knockoutLiquidarBordero" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title"><i class="fa fa-chevron-down"></i>&nbsp;Liquidar o Borderô</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="smart-form">
                            <fieldset class="padding-top-0">
                                <div class="row">
                                    <section data-bind="visible: DataBase.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: DataBase.text"></b></label>
                                        <label data-bind="attr: { class: DataBase.requiredClass}">
                                            <input type="text" data-bind="value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: DataBaixa.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: DataBaixa.text"></b></label>
                                        <label data-bind="attr: { class: DataBaixa.requiredClass}">
                                            <input type="text" data-bind="value: DataBaixa.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBaixa.maxlength, id : DataBaixa.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: TipoPagamento.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: TipoPagamento.text"></b></label>
                                            <label data-bind="attr: { class: TipoPagamento.requiredClass}">
                                                <input type="text" data-bind="value: TipoPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoPagamento.maxlength, id : TipoPagamento.id}" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="attr: { id: TipoPagamento.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                            <footer style="margin: 0 -20px -20px -20px;">
                                <button type="button" data-bind="click: Fechar.eventClick, visible: Fechar.visible, attr: { id: Fechar.id}" class="btn btn-labeled btn-info pull-left">
                                    <i data-bind="css: Fechar.icon"></i>
                                    &nbsp;<span data-bind="text: Fechar.text"></span>
                                </button>
                                <button type="button" data-bind="click: Liquidar.eventClick, visible: Liquidar.visible, attr: { id: Liquidar.id}" class="btn btn-labeled btn-success">
                                    <i data-bind="css: Liquidar.icon"></i>
                                    &nbsp;<span data-bind="text: Liquidar.text"></span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/contatoCliente"></script>
<script src="~/scripts/bordero"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadBordero();
    });

</script>

