
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Caixa Funcionário</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Caixa do Operador
        </h1>
    </div>

    <div id="knockoutPesquisaCaixaFuncionario">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Caixa
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-2" data-bind="visible: SituacaoCaixa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoCaixa.text, attr: { for: SituacaoCaixa.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoCaixa.requiredClass, options: SituacaoCaixa.options, optionsText: 'text', optionsValue: 'value', value: SituacaoCaixa.val, attr: { maxlength: SituacaoCaixa.maxlength, id : SituacaoCaixa.id}"></select>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="d-flex justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Caixa do Operador
                    </h3>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="card" id="knockoutStatusCaixa">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Status do Caixa</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div data-bind="visible: Operador.visible" class="col-12 col-md-12">
                                                <label><b>Operador:</b></label>
                                                <span data-bind="text: Operador.val, title: Operador.val, attr: { title: Operador.val }"></span>
                                            </div>
                                            <div data-bind="visible: PlanoConta.visible" class="col-12 col-md-12">
                                                <label><b>Plano de Contas:</b></label>
                                                <span data-bind="text: PlanoConta.val, title: PlanoConta.val, attr: { title: PlanoConta.val }"></span>
                                            </div>
                                            <div data-bind="visible: Status.visible" class="col-12 col-md-12">
                                                <label><b>Status:</b></label>
                                                <span data-bind="text: Status.val, title: Status.val, attr: { title: Status.val }"></span>
                                            </div>
                                            <div data-bind="visible: DataAbertura.visible" class="col-12 col-md-12">
                                                <label><b>Data da Abertura:</b></label>
                                                <span data-bind="text: DataAbertura.val, title: DataAbertura.val, attr: { title: DataAbertura.val }"></span>
                                            </div>
                                            <div data-bind="visible: SaldoInicial.visible" class="col-12 col-md-12">
                                                <label><b>Saldo Inicial:</b></label>
                                                <span data-bind="text: SaldoInicial.val, title: SaldoInicial.val, attr: { title: SaldoInicial.val }"></span>
                                            </div>

                                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                    <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end">
                                        <button data-bind="click: AbrirCaixa.eventClick, enable: AbrirCaixa.enable, visible: AbrirCaixa.visible, attr: { id : AbrirCaixa.id}" class="btn btn-success botaoAdiconarMultiplosRegistros" type="button">
                                            <i class="fal fa-play"></i><span data-bind="text:AbrirCaixa.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card" id="knockoutMovimentacoes">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Movimentações</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <ul class="nav nav-tabs" id="myTabMovimentacoes">
                                                <li class="nav-item active" id="liTabMovimentacao">
                                                    <a href="#tabMovimentacao" class="nav-link active" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Movimentações</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" id="liTabMovimentacaoCaixa">
                                                    <a href="#tabMovimentacaoCaixa" class="nav-link" data-bs-toggle="tab">
                                                        <span class="hidden-mobile hidden-tablet">Caixa</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content" id="myTabContentResultado">
                                                <div class="tab-pane fade active show" id="tabMovimentacao">
                                                    <div class="row mt-3">
                                                        <div class="col-12 insideNoPaddignTable">
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Movimentacoes.idGrid}" cellspacing="0"></table>
                                                        </div>

                                                        <div class="col-12" data-bind="visible : Entradas.visible">
                                                            <label><b>Entradas:</b> <span data-bind="text : Entradas.val"></span></label>
                                                        </div>
                                                        <div class="col-12" data-bind="visible : Saidas.visible">
                                                            <label><b>Saídas:</b> <span data-bind="text : Saidas.val"></span></label>
                                                        </div>
                                                        <div class="col-12" data-bind="visible : Saldo.visible">
                                                            <label><b>Saldo:</b> <span data-bind="text : Saldo.val"></span></label>
                                                        </div>
                                                    </div>
                                                    <footer class="d-flex justify-content-end">
                                                        <button type="button" data-loading-text="Aguarde..." data-bind="click: AtualizarMovimento.eventClick, enable: AtualizarMovimento.enable, visible: AtualizarMovimento.visible, attr: { id : AtualizarMovimento.id}" class="btn btn-default">
                                                            <i class="fal fa-sync"></i>
                                                            <span data-bind="text: AtualizarMovimento.text"></span>
                                                        </button>
                                                    </footer>
                                                </div>

                                                <div class="tab-pane fade" id="tabMovimentacaoCaixa">
                                                    <div class="row mt-3">
                                                        <div class="col-12 insideNoPaddignTable">
                                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: MovimentacoesCaixa.idGrid}" cellspacing="0"></table>
                                                        </div>

                                                        <div class="col-12 selectCabecalhoAcerto" data-bind="visible : SaldoCaixa.visible">
                                                            <label><b>Saldo:</b> <span data-bind="text : SaldoCaixa.val"></span></label>
                                                        </div>
                                                    </div>
                                                    <footer class="d-flex justify-content-end">
                                                        <button type="button" data-loading-text="Aguarde..." data-bind="click: AtualizarMovimentoCaixa.eventClick, enable: AtualizarMovimentoCaixa.enable, visible: AtualizarMovimentoCaixa.visible, attr: { id : AtualizarMovimentoCaixa.id}" class="btn btn-default me-3">
                                                            <i class="fal fa-sync"></i>
                                                            <span data-bind="text: AtualizarMovimentoCaixa.text"></span>
                                                        </button>
                                                        <button type="button" data-loading-text="Aguarde..." data-bind="click: AdicionarMovimentoCaixa.eventClick, enable: AdicionarMovimentoCaixa.enable, visible: AdicionarMovimentoCaixa.visible, attr: { id : AdicionarMovimentoCaixa.id}" class="btn btn-success">
                                                            <i class="fal fa-plus"></i>
                                                            <span data-bind="text: AdicionarMovimentoCaixa.text"></span>
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div class="card" id="knockoutResumoCaixa">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Resumo do Caixa</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <div data-bind="visible: SaldoInicial.visible" class="col-12 col-md-12">
                                                    <label><b>Saldo Inicial:</b></label>
                                                    <span data-bind="text: SaldoInicial.val, title: SaldoInicial.val, attr: { title: SaldoInicial.val }"></span>
                                                </div>
                                                <div data-bind="visible: Entradas.visible" class="col-12 col-md-12">
                                                    <label><b>Entradas:</b></label>
                                                    <span data-bind="text: Entradas.val, title: Entradas.val, attr: { title: Entradas.val }"></span>
                                                </div>
                                                <div data-bind="visible: Saidas.visible" class="col-12 col-md-12 selectCabecalhoAcerto">
                                                    <label><b>Saídas:</b></label>
                                                    <span data-bind="text: Saidas.val, title: Saidas.val, attr: { title: Saidas.val }"></span>
                                                </div>
                                                <div data-bind="visible: SaldoFinal.visible" class="col-12 col-md-12">
                                                    <label><b>Saldo Final:</b></label>
                                                    <span data-bind="text: SaldoFinal.val, title: SaldoFinal.val, attr: { title: SaldoFinal.val }"></span>
                                                </div>
                                                <div data-bind="visible: ValoresNoCaixa.visible" class="col-12 col-md-12">
                                                    <label><b>Valores no Caixa:</b></label>
                                                    <span data-bind="text: ValoresNoCaixa.val, title: ValoresNoCaixa.val, attr: { title: ValoresNoCaixa.val }"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button data-bind="click: FecharCaixa.eventClick, enable: FecharCaixa.enable, visible: FecharCaixa.visible, attr: { id : FecharCaixa.id}" class="btn btn-success botaoAdiconarMultiplosRegistros" type="button">
                                                <span data-bind="text:FecharCaixa.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer id="knockoutCadastroCaixaFuncionario" class="d-flex justify-content-end mt-3">
                            <button type="button" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}" class="btn btn-default me-3">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Limpar.text"></span>
                            </button>
                            <div class="btn-group me-3" data-bind="visible: ImprimirDetalhado.visible() || ImprimirResumido.visible">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i>Impressões<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-bind="click: ImprimirDetalhado.eventClick, visible: ImprimirDetalhado.visible, attr: { id : ImprimirDetalhado.id }">
                                        <a class="dropdown-item">
                                            <i data-bind="css: ImprimirDetalhado.icon"></i>
                                            <span data-bind="text: ImprimirDetalhado.text"></span>
                                        </a>
                                    </li>
                                    <li data-bind="click: ImprimirResumido.eventClick, visible: ImprimirResumido.visible, attr: { id : ImprimirResumido.id }">
                                        <a class="dropdown-item">
                                            <i data-bind="css: ImprimirResumido.icon"></i>
                                            <span data-bind="text: ImprimirResumido.text"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" data-bind="click: NovoLancamento.eventClick, visible: NovoLancamento.visible, attr: { id : NovoLancamento.id}" class="btn btn-success">
                                <i class="fal fa-plus"></i>
                                <span data-bind="text: NovoLancamento.text"></span>
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divAdicionarValorCaixa" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Valor no Caixa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutAdicionarValorCaixa">
                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible: Data.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divAdicionarMovimentoFinanceiro" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delegar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutAdicionarMovimentoFinanceiro">
                <div class="row">

                    <div class="col-12 col-md-2" data-bind="visible: DataMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataMovimento.text, attr: { for: DataMovimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataMovimento.requiredClass, value: DataMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataBase.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataBase.requiredClass, value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorMovimento.text, attr: { for: ValorMovimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ValorMovimento.requiredClass, value: ValorMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimento.maxlength, id : ValorMovimento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: TipoDocumento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoDocumento.text, attr: { for: TipoDocumento.id }"></label>
                            <select class="form-control" data-bind="class: TipoDocumento.requiredClass, options: TipoDocumento.options, optionsText: 'text', optionsValue: 'value', value: TipoDocumento.val, attr: { maxlength: TipoDocumento.maxlength, id : TipoDocumento.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: NumeroDocumento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: PlanoDebito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoDebito.text, attr: { for: PlanoDebito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: PlanoDebito.enable, css: PlanoDebito.requiredClass, value: PlanoDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDebito.maxlength, id : PlanoDebito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoDebito.enable, attr: { id: PlanoDebito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: PlanoCredito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoCredito.text, attr: { for: PlanoCredito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: PlanoCredito.enable, css: PlanoCredito.requiredClass, value: PlanoCredito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoCredito.maxlength, id : PlanoCredito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoCredito.enable, attr: { id: PlanoCredito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: CentroResultado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: CentroResultado.enable, css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: CentroResultado.enable, attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/caixaFuncionario"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadCaixaFuncionario();
    });

</script>

