
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Cobrança Simples</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Cobrança Simples
    </h1>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3><i class="fal fa-credit-card"></i>&nbsp;Cobrança Simples</h3>
        </div>
        <div class="panel-content">
            <div id="knockoutEtapaCobrancaSimples">
                <ul class="nav nav-steps">
                    <li data-target="#step1" data-bind="visible : Etapa1.visible">
                        <button class="active" data-bs-target="#tab1" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                            <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                <i class="fal fa-file-alt"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa1.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible : Etapa2.visible">
                        <button data-bs-target="#tab2" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                <i class="fal fa-barcode"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa2.text"></span>
                        </button>
                    </li>
                    <li data-target="#step2" data-bind="visible : Etapa3.visible">
                        <button data-bs-target="#tab3" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                            <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                                <i class="fal fa-paper-plane"></i>
                            </span>
                            <span class="title" data-bind="text: Etapa3.text"></span>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- Seleção de Dados -->
                <div id="tab1" class="tab-pane fade show active">
                    <div class="card" id="knockoutSelecaoDados">
                        <div class="card-header">
                            <div class="card-title">Seleção de Dados</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pessoa.maxlength, id : Pessoa.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: ConfiguracaoBanco.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ConfiguracaoBanco.text, attr: { for: ConfiguracaoBanco.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ConfiguracaoBanco.requiredClass, value: ConfiguracaoBanco.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfiguracaoBanco.maxlength, id : ConfiguracaoBanco.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ConfiguracaoBanco.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataVencimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataVencimento.text"></label>
                                        <input type="text" class="form-control" data-bind="css: DataVencimento.requiredClass, value: DataVencimento.val, enable: Proximo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: ValorTitulo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorTitulo.text"></label>
                                        <input type="text" class="form-control" data-bind="class:ValorTitulo.requiredClass,value: ValorTitulo.val, enable: Proximo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTitulo.maxlength, id : ValorTitulo.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: FormaTitulo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: FormaTitulo.text, attr: { for: FormaTitulo.id }"></label>
                                        <select class="form-control" data-bind="options: FormaTitulo.options, enable: FormaTitulo.enable, optionsText: 'text', optionsValue: 'value', value: FormaTitulo.val, attr: { id : FormaTitulo.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text"></label>
                                        <textarea class="form-control" rows="5" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Proximo.eventClick, visible: Proximo.visible, enable: Proximo.enable, attr: { value: Proximo.text, id : Proximo.id}">
                                        <span data-bind="text: Proximo.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Geração de Boletos -->
                <div class="tab-pane fade" id="tab2">
                    <div class="card" id="knockoutGeracaoBoleto">
                        <div class="card-header">
                            <div class="card-title">Geração de Boletos</div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-labeled btn-default mx-3" data-bind="click: AtualizarBoletos.eventClick, attr: { id: AtualizarBoletos.id}, visible: AtualizarBoletos.visible" type="button">
                                        <i class="fal fa-sync"></i>
                                        <span data-bind="text: AtualizarBoletos.text"></span>
                                    </button>
                                    <button class="btn btn-labeled btn-warning" data-bind="click: GerarBoletosEtapa2.eventClick, attr: { id: GerarBoletosEtapa2.id}, visible: GerarBoletosEtapa2.visible" type="button">
                                        <i class="fal fa-barcode"></i>
                                        <span data-bind="text: GerarBoletosEtapa2.text"></span>
                                    </button>
                                </div>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: TitulosEtapa2.enable, attr: { id: TitulosEtapa2.idGrid}" cellspacing="0"></table>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-labeled btn-success" data-bind="click: Proximo.eventClick, visible: Proximo.visible, enable: Proximo.enable, attr: { value: Proximo.text, id : Proximo.id}" type="button">
                                        <span data-bind="text: Proximo.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Envio de E-mail -->
                <div class="tab-pane fade" id="tab3">
                    <div class="card" id="knockoutEnvioEmail">
                        <div class="card-header">
                            <div class="card-title">Envio de E-mail</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-12" data-bind="visible: MensagemEmail.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MensagemEmail.text, attr: { for: MensagemEmail.id }"></label>
                                        <textarea class="form-control" rows="5" data-bind="value: MensagemEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: MensagemEmail.maxlength, id : MensagemEmail.id }"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-labeled btn-warning" data-bind="click: EnviarEmail.eventClick, attr: { id: EnviarEmail.id}, visible: EnviarEmail.visible" type="button">
                                        <i class="fal fa-paper-plane"></i>
                                        <span data-bind="text: EnviarEmail.text"></span>
                                    </button>
                                </div>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: TitulosParaEnvioEmail.enable, attr: { id: TitulosParaEnvioEmail.idGrid}"></table>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-labeled btn-success" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, enable: Finalizar.enable, attr: { value: Finalizar.text, id : Finalizar.id}" type="button">
                                        <span data-bind="text: Finalizar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/cobrancaSimples"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadSelecaoDado();
    });

</script>

