

<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Conciliação Bancária</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Conciliação Bancária
        </h1>
    </div>

    <div id="knockoutPesquisaConciliacaoBancaria">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Conciliação Bancária
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-6" data-bind="visible: PlanoConta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: PlanoConta.requiredClass, value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PlanoConta.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: SituacaoConciliacaoBancaria.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoConciliacaoBancaria.text, attr: { for: SituacaoConciliacaoBancaria.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoConciliacaoBancaria.requiredClass, options: SituacaoConciliacaoBancaria.options, optionsText: 'text', optionsValue: 'value', value: SituacaoConciliacaoBancaria.val, attr: { maxlength: SituacaoConciliacaoBancaria.maxlength, id : SituacaoConciliacaoBancaria.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: ValorExtratoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorExtratoInicial.text, attr: { for: ValorExtratoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorExtratoInicial.requiredClass, value: ValorExtratoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorExtratoInicial.maxlength, id : ValorExtratoInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: ValorExtratoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorExtratoFinal.text, attr: { for: ValorExtratoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorExtratoFinal.requiredClass, value: ValorExtratoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorExtratoFinal.maxlength, id : ValorExtratoFinal.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: ValorMovimentoInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorMovimentoInicial.text, attr: { for: ValorMovimentoInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorMovimentoInicial.requiredClass, value: ValorMovimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimentoInicial.maxlength, id : ValorMovimentoInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: ValorMovimentoFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ValorMovimentoFinal.text, attr: { for: ValorMovimentoFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: ValorMovimentoFinal.requiredClass, value: ValorMovimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimentoFinal.maxlength, id : ValorMovimentoFinal.id}" />
                                    </div>
                                </div>

                                <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                    <div class="row">

                                        <div class="col-12 col-md-2" data-bind="visible: Operador.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: CodigoTitulo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: CodigoTitulo.text, attr: { for: CodigoTitulo.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: CodigoTitulo.requiredClass, value: CodigoTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoTitulo.maxlength, id : CodigoTitulo.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: DataGeracaoMovimentoFinanceiro.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataGeracaoMovimentoFinanceiro.text, attr: { for: DataGeracaoMovimentoFinanceiro.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataGeracaoMovimentoFinanceiro.requiredClass, value: DataGeracaoMovimentoFinanceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoMovimentoFinanceiro.maxlength, id : DataGeracaoMovimentoFinanceiro.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: NumeroDocumentoMovimentoFinanceiro.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroDocumentoMovimentoFinanceiro.text, attr: { for: NumeroDocumentoMovimentoFinanceiro.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroDocumentoMovimentoFinanceiro.requiredClass, value: NumeroDocumentoMovimentoFinanceiro.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoMovimentoFinanceiro.maxlength, id : NumeroDocumentoMovimentoFinanceiro.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: ValorMovimentoFinanceiroInicial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ValorMovimentoFinanceiroInicial.text, attr: { for: ValorMovimentoFinanceiroInicial.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: ValorMovimentoFinanceiroInicial.requiredClass, value: ValorMovimentoFinanceiroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimentoFinanceiroInicial.maxlength, id : ValorMovimentoFinanceiroInicial.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: ValorMovimentoFinanceiroFinal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ValorMovimentoFinanceiroFinal.text, attr: { for: ValorMovimentoFinanceiroFinal.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: ValorMovimentoFinanceiroFinal.requiredClass, value: ValorMovimentoFinanceiroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimentoFinanceiroFinal.maxlength, id : ValorMovimentoFinanceiroFinal.id}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-default me-3 btnPesquisarFiltroPesquisa mb-2" data-bind="visible: BuscaAvancada.id, click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>

                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa mb-2" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="wid-id-4">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Lançamento de Conciliação Bancária
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row" id="knockoutConciliacaoBancaria">

                        <div class="col-12 col-md-1" data-bind="visible: AnaliticoSintetico.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: AnaliticoSintetico.text, attr: { for: AnaliticoSintetico.id }"></label>
                                <select class="form-control" data-bind="enable: AnaliticoSintetico.enable, class: AnaliticoSintetico.requiredClass, options: AnaliticoSintetico.options, optionsText: 'text', optionsValue: 'value', value: AnaliticoSintetico.val, attr: { maxlength: AnaliticoSintetico.maxlength, id : AnaliticoSintetico.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: PlanoConta.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: PlanoConta.enable, css: PlanoConta.requiredClass, value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoConta.enable, attr: { id: PlanoConta.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3" data-bind="visible: PlanoContaSintetico.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: PlanoContaSintetico.text, attr: { for: PlanoContaSintetico.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: PlanoContaSintetico.enable, css: PlanoContaSintetico.requiredClass, value: PlanoContaSintetico.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoContaSintetico.maxlength, id : PlanoContaSintetico.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoContaSintetico.enable, attr: { id: PlanoContaSintetico.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="enable: DataInicial.enable, class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="enable: DataFinal.enable, class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: RealizarConciliacaoAutomatica.visible" style="margin-top: 27px">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="enable: RealizarConciliacaoAutomatica.enable, checked: RealizarConciliacaoAutomatica.val, attr: { maxlength: RealizarConciliacaoAutomatica.maxlength, name: RealizarConciliacaoAutomatica.id, id: RealizarConciliacaoAutomatica.id }">
                                    <label class="custom-control-label" data-bind="text: RealizarConciliacaoAutomatica.text, attr: { for: RealizarConciliacaoAutomatica.id }"></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" style="margin-bottom: 27px">
                            <button data-bind="click: Processar.eventClick, enable: Processar.enable, visible: Processar.visible, attr: { id : Processar.id}" class="btn btn-default botaoAdiconarMultiplosRegistros" type="button" style="margin-top: 27px">
                                <i class="fal fa-cogs"></i><span data-bind="text:Processar.text"></span>
                            </button>
                        </div>

                        <div class="col-12 col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Extrato Bancário</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-12 col-md-2" data-bind="visible: DataPesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataPesquisaExtrato.text, attr: { for: DataPesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataPesquisaExtrato.requiredClass, value: DataPesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPesquisaExtrato.maxlength, id : DataPesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DataAtePesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataAtePesquisaExtrato.text, attr: { for: DataAtePesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataAtePesquisaExtrato.requiredClass, value: DataAtePesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAtePesquisaExtrato.maxlength, id : DataAtePesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3" data-bind="visible: ValorPesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorPesquisaExtrato.text, attr: { for: ValorPesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorPesquisaExtrato.requiredClass, value: ValorPesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPesquisaExtrato.maxlength, id : ValorPesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3" data-bind="visible: ValorAtePesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorAtePesquisaExtrato.text, attr: { for: ValorAtePesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorAtePesquisaExtrato.requiredClass, value: ValorAtePesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAtePesquisaExtrato.maxlength, id : ValorAtePesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: NumeroDocumentoPesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: NumeroDocumentoPesquisaExtrato.text, attr: { for: NumeroDocumentoPesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: NumeroDocumentoPesquisaExtrato.requiredClass, value: NumeroDocumentoPesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoPesquisaExtrato.maxlength, id : NumeroDocumentoPesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: CodigoLancamentoPesquisaExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: CodigoLancamentoPesquisaExtrato.text, attr: { for: CodigoLancamentoPesquisaExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: CodigoLancamentoPesquisaExtrato.requiredClass, value: CodigoLancamentoPesquisaExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoLancamentoPesquisaExtrato.maxlength, id : CodigoLancamentoPesquisaExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3" data-bind="visible: ObservacaoExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ObservacaoExtrato.text, attr: { for: ObservacaoExtrato.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ObservacaoExtrato.requiredClass, value: ObservacaoExtrato.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoExtrato.maxlength, id : ObservacaoExtrato.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DebitoCreditoExtrato.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DebitoCreditoExtrato.text, attr: { for: DebitoCreditoExtrato.id }"></label>
                                                        <select class="form-control" data-bind="class: DebitoCreditoExtrato.requiredClass, options: DebitoCreditoExtrato.options, optionsText: 'text', optionsValue: 'value', value: DebitoCreditoExtrato.val, attr: { maxlength: DebitoCreditoExtrato.maxlength, id : DebitoCreditoExtrato.id}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3">
                                                    <button data-bind="click: PesquisarExtrato.eventClick, enable: PesquisarExtrato.enable, visible: PesquisarExtrato.visible, attr: { id : PesquisarExtrato.id}" class="btn btn-default botaoAdiconarMultiplosRegistros" type="button" style="margin-top: 27px">
                                                        <i class="fal fa-search"></i><span data-bind="text:PesquisarExtrato.text"></span>
                                                    </button>
                                                </div>


                                                <div class="d-flex justify-content-end mb-2">
                                                    <button data-bind="click: SelecionarTodosExtratos.eventClick, attr: { id: SelecionarTodosExtratos.id}, enable: SelecionarTodosExtratos.enable, visible: SelecionarTodosExtratos.visible" class="btn btn-default botaoAdiconarMultiplosRegistros" type="button">
                                                        <i class="fal fa-check"></i><span data-bind="text: SelecionarTodosExtratos.text"></span>
                                                    </button>
                                                </div>

                                                <div class="insideNoPaddignTable">
                                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Extratos.idGrid}" cellspacing="0"></table>
                                                </div>

                                                <div class="col-12 col-md-12 mt-3">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalDebitoExtrato.visible">
                                                                <label><b>Total Débito Selecionado:</b> <span data-bind="text : ValorTotalDebitoExtrato.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalCreditoExtrato.visible">
                                                                <label><b>Total Crédito Selecionado:</b> <span data-bind="text : ValorTotalCreditoExtrato.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalExtrato.visible">
                                                                <label><b>Total Selecionado:</b> <span data-bind="text : ValorTotalExtrato.val"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralDebitoExtrato.visible">
                                                                <label><b>Total Geral Débito:</b> <span data-bind="text : ValorTotalGeralDebitoExtrato.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralCreditoExtrato.visible">
                                                                <label><b>Total Geral Crédito:</b> <span data-bind="text : ValorTotalGeralCreditoExtrato.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralExtrato.visible">
                                                                <label><b>Total Geral:</b> <span data-bind="text : ValorTotalGeralExtrato.val"></span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-3">
                                                <input type="file" accept=".ret" data-bind="visible: Extrato.visible, value: Extrato.val, attr: { id : Extrato.id}, event: { change: Extrato.eventChange }" />
                                                <button data-bind="click: ImportarExtrato.eventClick, enable: ImportarExtrato.enable, visible: ImportarExtrato.visible, attr: { id : ImportarExtrato.id}" class="btn btn-warning botaoAdiconarMultiplosRegistros me-3" type="button">
                                                    <i class="fal fa-download"></i> <span data-bind="text:ImportarExtrato.text"></span>
                                                </button>
                                                <button data-bind="click: AdicionarLancamento.eventClick, enable: AdicionarLancamento.enable, visible: AdicionarLancamento.visible, attr: { id : AdicionarLancamento.id}" class="btn btn-success botaoAdiconarMultiplosRegistros" type="button">
                                                    <i class="fal fa-plus"></i> <span data-bind="text:AdicionarLancamento.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Movimentação Financeira</h3>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-12 col-md-2" data-bind="visible: DataPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataPesquisaMovimento.text, attr: { for: DataPesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataPesquisaMovimento.requiredClass, value: DataPesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPesquisaMovimento.maxlength, id : DataPesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DataAtePesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DataAtePesquisaMovimento.text, attr: { for: DataAtePesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: DataAtePesquisaMovimento.requiredClass, value: DataAtePesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAtePesquisaMovimento.maxlength, id : DataAtePesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: NumeroDocumentoPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: NumeroDocumentoPesquisaMovimento.text, attr: { for: NumeroDocumentoPesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: NumeroDocumentoPesquisaMovimento.requiredClass, value: NumeroDocumentoPesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumentoPesquisaMovimento.maxlength, id : NumeroDocumentoPesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: ValorPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorPesquisaMovimento.text, attr: { for: ValorPesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorPesquisaMovimento.requiredClass, value: ValorPesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorPesquisaMovimento.maxlength, id : ValorPesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: ValorAtePesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ValorAtePesquisaMovimento.text, attr: { for: ValorAtePesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ValorAtePesquisaMovimento.requiredClass, value: ValorAtePesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAtePesquisaMovimento.maxlength, id : ValorAtePesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: NumeroChequePesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: NumeroChequePesquisaMovimento.text, attr: { for: NumeroChequePesquisaMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: NumeroChequePesquisaMovimento.requiredClass, value: NumeroChequePesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroChequePesquisaMovimento.maxlength, id : NumeroChequePesquisaMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: DebitoCreditoMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: DebitoCreditoMovimento.text, attr: { for: DebitoCreditoMovimento.id }"></label>
                                                        <select class="form-control" data-bind="class: DebitoCreditoMovimento.requiredClass, options: DebitoCreditoMovimento.options, optionsText: 'text', optionsValue: 'value', value: DebitoCreditoMovimento.val, attr: { maxlength: DebitoCreditoMovimento.maxlength, id : DebitoCreditoMovimento.id}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-10" data-bind="visible: ObservacaoMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: ObservacaoMovimento.text, attr: { for: ObservacaoMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: ObservacaoMovimento.requiredClass, value: ObservacaoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoMovimento.maxlength, id : ObservacaoMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: CodigoTituloMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: CodigoTituloMovimento.text, attr: { for: CodigoTituloMovimento.id }"></label>
                                                        <input type="text" class="form-control" data-bind="class: CodigoTituloMovimento.requiredClass, value: CodigoTituloMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoTituloMovimento.maxlength, id : CodigoTituloMovimento.id}" />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2" data-bind="visible: TipoPessoaPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: TipoPessoaPesquisaMovimento.text, attr: { for: TipoPessoaPesquisaMovimento.id }"></label>
                                                        <select class="form-control" data-bind="class: TipoPessoaPesquisaMovimento.requiredClass, options: TipoPessoaPesquisaMovimento.options, enable: TipoPessoaPesquisaMovimento.enable, optionsText: 'text', optionsValue: 'value', value: TipoPessoaPesquisaMovimento.val, attr: { id : TipoPessoaPesquisaMovimento.id}, event : {change : TipoPessoaPesquisaMovimento.eventChange}"></select>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-5" data-bind="visible: PessoaPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: PessoaPesquisaMovimento.text, attr: { for: PessoaPesquisaMovimento.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: PessoaPesquisaMovimento.requiredClass, value: PessoaPesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: PessoaPesquisaMovimento.maxlength, id : PessoaPesquisaMovimento.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PessoaPesquisaMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-5" data-bind="visible: GrupoPessoaPesquisaMovimento.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: GrupoPessoaPesquisaMovimento.text, attr: { for: GrupoPessoaPesquisaMovimento.id }"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-bind="css: GrupoPessoaPesquisaMovimento.requiredClass, value: GrupoPessoaPesquisaMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoaPesquisaMovimento.maxlength, id : GrupoPessoaPesquisaMovimento.id}" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoaPesquisaMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                    <i class="fal fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3">
                                                    <button data-bind="click: PesquisarMovimento.eventClick, enable: PesquisarMovimento.enable, visible: PesquisarMovimento.visible, attr: { id : PesquisarMovimento.id}" class="btn btn-default botaoAdiconarMultiplosRegistros" type="button" style="margin-top: 27px">
                                                        <i class="fal fa-search"></i><span data-bind="text:PesquisarMovimento.text"></span>
                                                    </button>
                                                </div>

                                                <div class="d-flex justify-content-end mb-2">
                                                    <button data-bind="click: SelecionarTodosMovimentos.eventClick, attr: { id: SelecionarTodosMovimentos.id}, enable: SelecionarTodosMovimentos.enable, visible: SelecionarTodosMovimentos.visible" class="btn btn-default botaoAdiconarMultiplosRegistros" type="button">
                                                        <i class="fal fa-check"></i><span data-bind="text: SelecionarTodosMovimentos.text"></span>
                                                    </button>
                                                </div>

                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Movimentos.idGrid}" cellspacing="0"></table>

                                                <div class="col-12 col-md-12 mt-3">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalDebitoMovimento.visible">
                                                                <label><b>Total Débito Selecionado:</b> <span data-bind="text : ValorTotalDebitoMovimento.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalCreditoMovimento.visible">
                                                                <label><b>Total Crédito Selecionado:</b> <span data-bind="text : ValorTotalCreditoMovimento.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalMovimento.visible">
                                                                <label><b>Total Selecionado:</b> <span data-bind="text : ValorTotalMovimento.val"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralDebitoMovimento.visible">
                                                                <label><b>Total Geral Débito:</b> <span data-bind="text : ValorTotalGeralDebitoMovimento.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralCreditoMovimento.visible">
                                                                <label><b>Total Geral Crédito:</b> <span data-bind="text : ValorTotalGeralCreditoMovimento.val"></span></label>
                                                            </div>
                                                            <div class="col-12 col-md-12" data-bind="visible : ValorTotalGeralMovimento.visible">
                                                                <label><b>Total Geral:</b> <span data-bind="text : ValorTotalGeralMovimento.val"></span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-3">
                                                <button data-bind="click: AdicionarMovimento.eventClick, enable: AdicionarMovimento.enable, visible: AdicionarMovimento.visible, attr: { id : AdicionarMovimento.id}" class="btn  btn-success" type="button">
                                                    <i class="fal fa-plus"></i> <span data-bind="text:AdicionarMovimento.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer id="knockoutCRUDConciliacaoBancaria">
                        <div class="col-12 d-flex justify-content-end mt-3">
                            <input type="button" data-bind="click: FecharConciliacaoEContinuar.eventClick, visible: FecharConciliacaoEContinuar.visible, attr: { value: FecharConciliacaoEContinuar.text, id : FecharConciliacaoEContinuar.id}" class="btn btn-warning me-3" />
                            <input type="button" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { value: Limpar.text, id : Limpar.id}" class="btn btn-default me-3" />
                            <input type="button" data-bind="click: EstornarConcilicao.eventClick, visible: EstornarConcilicao.visible, attr: { value: EstornarConcilicao.text, id : EstornarConcilicao.id}" class="btn btn-danger me-3" />
                            <input type="button" data-bind="click: ReAbrirConciliacao.eventClick, visible: ReAbrirConciliacao.visible, attr: { value: ReAbrirConciliacao.text, id : ReAbrirConciliacao.id}" class="btn btn-warning me-3" />
                            <div class="dropdown pull-right me-3" data-bind="visible: ImprimirDetalhado.visible()">
                                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" type="button" aria-expanded="false">
                                    <i class="fal fa-print"></i>Impressões<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li data-bind="click: ImprimirDetalhado.eventClick, visible: ImprimirDetalhado.visible, attr: { id : ImprimirDetalhado.id }">
                                        <a class="dropdown-item">
                                            <i data-bind="css: ImprimirDetalhado.icon"></i><span class="ms-2" data-bind="text: ImprimirDetalhado.text"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="button" data-bind="click: FecharConciliacao.eventClick, visible: FecharConciliacao.visible, attr: { value: FecharConciliacao.text, id : FecharConciliacao.id}" class="btn btn-success" />
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divAdicionarExtratoBancario" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Valor no Extrato Bancário</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutAdicionarExtratoBancario">
                <div class="row">
                    <div class="col-12 col-md-3" data-bind="visible: DataMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataMovimento.text, attr: { for: DataMovimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataMovimento.requiredClass, value: DataMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: Valor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Valor.requiredClass, value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DebitoCredito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DebitoCredito.text, attr: { for: DebitoCredito.id }"></label>
                            <select class="form-control" data-bind="class: DebitoCredito.requiredClass, options: DebitoCredito.options, optionsText: 'text', optionsValue: 'value', value: DebitoCredito.val, attr: { maxlength: DebitoCredito.maxlength, id : DebitoCredito.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: TipoDocumentoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoDocumentoMovimento.text, attr: { for: TipoDocumentoMovimento.id }"></label>
                            <select class="form-control" data-bind="class: TipoDocumentoMovimento.requiredClass, options: TipoDocumentoMovimento.options, optionsText: 'text', optionsValue: 'value', value: TipoDocumentoMovimento.val, attr: { maxlength: TipoDocumentoMovimento.maxlength, id : TipoDocumentoMovimento.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Documento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Documento.text, attr: { for: Documento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Documento.requiredClass, value: Documento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Documento.maxlength, id : Documento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-5" data-bind="visible: PlanoConta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: PlanoConta.requiredClass, value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PlanoConta.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-5" data-bind="visible: ExtratoBancarioTipoLancamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ExtratoBancarioTipoLancamento.text, attr: { for: ExtratoBancarioTipoLancamento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: ExtratoBancarioTipoLancamento.enable, css: ExtratoBancarioTipoLancamento.requiredClass, value: ExtratoBancarioTipoLancamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ExtratoBancarioTipoLancamento.maxlength, id : ExtratoBancarioTipoLancamento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: ExtratoBancarioTipoLancamento.enable, attr: { id: ExtratoBancarioTipoLancamento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: CodigoLancamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoLancamento.text, attr: { for: CodigoLancamento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoLancamento.requiredClass, value: CodigoLancamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoLancamento.maxlength, id : CodigoLancamento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divAdicionarMovimentoFinanceiro" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Lançamento Financeiro</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knoutAdicionarMovimentoFinanceiro">
                <div class="row">

                    <div class="col-12 col-md-2" data-bind="visible: DataMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataMovimento.text, attr: { for: DataMovimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataMovimento.requiredClass, value: DataMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataBase.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataBase.requiredClass, value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: ValorMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorMovimento.text, attr: { for: ValorMovimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ValorMovimento.requiredClass, value: ValorMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimento.maxlength, id : ValorMovimento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoDocumento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoDocumento.text, attr: { for: TipoDocumento.id }"></label>
                            <select class="form-control" data-bind="class: TipoDocumento.requiredClass, options: TipoDocumento.options, optionsText: 'text', optionsValue: 'value', value: TipoDocumento.val, attr: { maxlength: TipoDocumento.maxlength, id : TipoDocumento.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: NumeroDocumento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: TipoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: PlanoDebito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoDebito.text, attr: { for: PlanoDebito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: PlanoDebito.enable, css: PlanoDebito.requiredClass, value: PlanoDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoDebito.maxlength, id : PlanoDebito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoDebito.enable, attr: { id: PlanoDebito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: PlanoCredito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoCredito.text, attr: { for: PlanoCredito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: PlanoCredito.enable, css: PlanoCredito.requiredClass, value: PlanoCredito.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoCredito.maxlength, id : PlanoCredito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: PlanoCredito.enable, attr: { id: PlanoCredito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: CentroResultado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: CentroResultado.enable, css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: CentroResultado.enable, attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/ConciliacaoBancaria"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadConciliacaoBancaria();
    });

</script>

