
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item">Contas Bancárias</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Contas Bancárias
    </h1>
</div>

<div id="knockoutPesquisaContaBancaria">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar contas bancárias
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: ClientePortadorConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ClientePortadorConta.text, attr: { for: ClientePortadorConta.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ClientePortadorConta.requiredClass, value: ClientePortadorConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClientePortadorConta.maxlength, id : ClientePortadorConta.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ClientePortadorConta.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Banco.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Banco.requiredClass, value: Banco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Banco.maxlength, id : Banco.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Banco.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Agencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Agencia.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Agencia.requiredClass, value: Agencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agencia.maxlength, id : Agencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroConta.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroConta.requiredClass, value: NumeroConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConta.maxlength, id : NumeroConta.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoConta.text, attr: { for: TipoConta.id }"></label>
                                    <select class="form-control" data-bind="class: TipoConta.requiredClass, options: TipoConta.options, optionsText: 'text', optionsValue: 'value', value: TipoConta.val, attr: { maxlength: TipoConta.maxlength, id : TipoConta.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>

                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Contas Bancárias
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroContaBancaria">

                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible: ClientePortadorConta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ClientePortadorConta.text, attr: { for: ClientePortadorConta.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ClientePortadorConta.requiredClass, value: ClientePortadorConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClientePortadorConta.maxlength, id : ClientePortadorConta.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ClientePortadorConta.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Banco.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Banco.requiredClass, value: Banco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Banco.maxlength, id : Banco.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Banco.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Agencia.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Agencia.text"></label>
                            <input type="text" class="form-control" data-bind="class: Agencia.requiredClass, value: Agencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Agencia.maxlength, id : Agencia.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Digito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Digito.text"></label>
                            <input type="text" class="form-control" data-bind="class: Digito.requiredClass, value: Digito.val, valueUpdate: 'afterkeydown', attr: { maxlength: Digito.maxlength, id : Digito.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroConta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroConta.text"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroConta.requiredClass, value: NumeroConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroConta.maxlength, id : NumeroConta.id}" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: TipoConta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoConta.text, attr: { for: TipoConta.id }"></label>
                            <select class="form-control" data-bind="class: TipoConta.requiredClass, options: TipoConta.options, optionsText: 'text', optionsValue: 'value', value: TipoConta.val, attr: { maxlength: TipoConta.maxlength, id : TipoConta.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoChavePix.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoChavePix.text, attr: { for: TipoChavePix.id }"></label>
                            <select class="form-control" data-bind="class: TipoChavePix.requiredClass, options: TipoChavePix.options, optionsText: 'text', optionsValue: 'value', value: TipoChavePix.val, attr: { maxlength: TipoChavePix.maxlength, id : TipoChavePix.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ChavePix.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ChavePix.text"></label>
                            <input type="text" class="form-control" data-bind="class: ChavePix.requiredClass, value: ChavePix.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChavePix.maxlength, id : ChavePix.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracaoDadosBancarios.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIntegracaoDadosBancarios.text"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoIntegracaoDadosBancarios.requiredClass, value: CodigoIntegracaoDadosBancarios.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracaoDadosBancarios.maxlength, id : CodigoIntegracaoDadosBancarios.id}" />
                        </div>
                    </div>

                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/scripts/contaBancaria"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadContaBancaria();
    });

</script>