
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item">Despesa Mensal</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Despesa Mensal
    </h1>
</div>
<div id="knockoutPesquisaDespesaMensal">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Despesas Mensais
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-10" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Despesas Mensais
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutDespesaMensal">
                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css:Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DiaProvisao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DiaProvisao.text, attr: { for: DiaProvisao.id }"></label>
                            <input type="text" class="form-control" data-bind="css:DiaProvisao.requiredClass,value: DiaProvisao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiaProvisao.maxlength, id : DiaProvisao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: ValorProvisao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorProvisao.text, attr: { for: ValorProvisao.id }"></label>
                            <input type="text" class="form-control" data-bind="css:ValorProvisao.requiredClass,value: ValorProvisao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorProvisao.maxlength, id : ValorProvisao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Data.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                            <input type="text" class="form-control" data-bind="css:Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text"></label>
                            <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Pessoa.text, maxlength: Pessoa.maxlength, id: Pessoa.id, name: Pessoa.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Pessoa.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoDespesa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoDespesa.text, attr: { for: TipoDespesa.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TipoDespesa.requiredClass, value: TipoDespesa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoDespesa.text, maxlength: TipoDespesa.maxlength, id: TipoDespesa.id, name: TipoDespesa.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoDespesa.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimento.text, maxlength: TipoMovimento.maxlength, id: TipoMovimento.id, name: TipoMovimento.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimento.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoPagamentoRecebimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoPagamentoRecebimento.text, attr: { for: TipoPagamentoRecebimento.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: TipoPagamentoRecebimento.requiredClass, value: TipoPagamentoRecebimento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoPagamentoRecebimento.text, maxlength: TipoPagamentoRecebimento.maxlength, id: TipoPagamentoRecebimento.id, name: TipoPagamentoRecebimento.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoPagamentoRecebimento.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer class="d-flex justify-content-end" id="knockoutCRUDDespesaMensal">
                <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                    <span data-bind="text: Cancelar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </footer>
        </div>
    </div>
</div>








<script src="~/scripts/despesaMensal"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadDespesaMensal();
    });

</script>

