
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Geração Movimento Lote</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Gerar Movimentos em Lote
    </h1>
</div>


<div class="panel" id="knockoutPesquisaGeracaoMovimentoLote">
    <div class="panel-container">
        <div class="panel-hdr" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
            <h4><i class="fal fa-cog"></i> Geração de movimento em lote rateado por motorista</h4>
        </div>
        <div class="panel-content">
            <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoMovimento.maxlength, id : TipoMovimento.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoMovimento.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: ContaDebito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ContaDebito.text, attr: { for: ContaDebito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ContaDebito.requiredClass, value: ContaDebito.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContaDebito.maxlength, id : ContaDebito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContaDebito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: ContaCredito.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ContaCredito.text, attr: { for: ContaCredito.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ContaCredito.requiredClass, value: ContaCredito.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContaCredito.maxlength, id : ContaCredito.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ContaCredito.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataLancamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataLancamento.text"></label>
                            <input type="text" class="form-control" data-bind="css: DataLancamento.requiredClass, value: DataLancamento.val, enable: DataLancamento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataLancamento.maxlength, id : DataLancamento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataMovimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataMovimento.text"></label>
                            <input type="text" class="form-control" data-bind="css: DataMovimento.requiredClass, value: DataMovimento.val, enable: DataMovimento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Valor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Valor.text"></label>
                            <input type="text" class="form-control" data-bind="css: Valor.requiredClass, value: Valor.val, attr: { maxlength: Valor.maxlength, id : Valor.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="col-12 col-md-1" data-bind="visible: Documento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Documento.text"></label>
                            <input type="text" class="form-control" data-bind="value: Documento.val, attr: { maxlength: Documento.maxlength, id : Documento.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoMovimentoEntidade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoMovimentoEntidade.text, attr: { for: TipoMovimentoEntidade.id }"></label>
                            <select class="form-control" data-bind="css: TipoMovimentoEntidade.requiredClass, options: TipoMovimentoEntidade.options, optionsText: 'text', optionsValue: 'value', value: TipoMovimentoEntidade.val, attr: { id : TipoMovimentoEntidade.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text"></label>
                            <input type="text" class="form-control" data-bind="css: Observacao.requiredClass, value: Observacao.val, attr: { maxlength: Observacao.maxlength, id : Observacao.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <button class="btn btn-primary" data-bind="click: SalvarMovimento2.eventClick, attr: { id: SalvarMovimento2.id}" type="button">
                            <i data-bind="attr: { class: SalvarMovimento2.icon}"></i><span data-bind="text: SalvarMovimento2.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-default mx-3" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}" type="button">
                            <i data-bind="attr: { class: Cancelar.icon}"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button class="btn btn-warning" data-bind="click: RatearValores.eventClick, attr: { id: RatearValores.id}" type="button">
                            <i data-bind="attr: { class: RatearValores.icon}"></i><span data-bind="text: RatearValores.text"></span>
                        </button>
                    </div>
                </div>
                <table width="100%" class="table table-bordered table-hover" data-bind="enable: Motoristas.enable, attr: { id: Motoristas.idGrid}" cellspacing="0"></table>
                <div class="row">
                    <div class="col-12 selectCabecalhoAcerto mb-1" data-bind="visible : TotalSelecionado.visible">
                        <label style="margin-left: -2px"><b>Selecionados:</b> <span data-bind="text : TotalSelecionado.val"></span></label>
                    </div>
                    <div class="col-12 selectCabecalhoAcerto" data-bind="visible : ValorTotal.visible">
                        <label style="margin-left: -2px"><b>Valor Total:</b> <span data-bind="text : ValorTotal.val"></span></label>
                    </div>
                </div>
                <footer>
                    <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success waves-effect waves-themed" data-bind="click: SalvarMovimento.eventClick, attr: { id: SalvarMovimento.id}" type="button">
                                <i data-bind="css: SalvarMovimento.icon"></i><span data-bind="text: SalvarMovimento.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/geracaoMovimentoLote"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadGeracaoMovimentoLote();
    });

</script>

