
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Geração Movimento Lote Centro Resultado</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Geração de Movimentação Financeira por Centro de Resultado
    </h1>
</div>


<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item" id="liTabDetalhes">
                    <a href="#knockoutDetalhes" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Dados Gerais</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutCentrosResultado" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Centros de Resultado</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="knockoutDetalhes" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataMovimento.text, attr: { for: DataMovimento.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataMovimento.requiredClass,value: DataMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimento.maxlength, id : DataMovimento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataBase.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataBase.requiredClass,value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorMovimento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorMovimento.text, attr: { for: ValorMovimento.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: ValorMovimento.requiredClass,value: ValorMovimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMovimento.maxlength, id : ValorMovimento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoDocumento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoDocumento.text, attr: { for: TipoDocumento.id }"></label>
                                    <select class="form-control" data-bind="options: TipoDocumento.options, optionsText: 'text', optionsValue: 'value', value: TipoDocumento.val, attr: { id : TipoDocumento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroDocumento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: NumeroDocumento.requiredClass,value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimento.text, maxlength: TipoMovimento.maxlength, id: TipoMovimento.id, name: TipoMovimento.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoMovimento.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoDebito.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="enable: PlanoDebito.enable, value: PlanoDebito.val, attr: { maxlength: PlanoDebito.maxlength, id : PlanoDebito.id}, valueUpdate: 'afterkeydown',attr: { class: PlanoDebito.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="enable: PlanoDebito.enable, attr: { id: PlanoDebito.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoCredito.text"></label>
                                    <div class="input-group">
                                        <input type="text"   data-bind="enable: PlanoCredito.enable, value: PlanoCredito.val, attr: { maxlength: PlanoCredito.maxlength, id : PlanoCredito.id}, valueUpdate: 'afterkeydown',attr: { class: PlanoCredito.requiredClass}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button"  data-bind="enable: PlanoCredito.enable, attr: { id: PlanoCredito.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Pessoa.text, maxlength: Pessoa.maxlength, id: Pessoa.id, name: Pessoa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Pessoa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: GrupoPessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': GrupoPessoa.text, maxlength: GrupoPessoa.maxlength, id: GrupoPessoa.id, name: GrupoPessoa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: GrupoPessoa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="knockoutCentrosResultado" role="tabpanel">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Percentual.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Percentual.text, attr: { for: Percentual.id }"></label>
                                    <input type="text" class="form-control" data-bind="enable: Percentual.enable, value: Percentual.val, valueUpdate: 'afterkeydown', attr: { maxlength: Percentual.maxlength, id : Percentual.id}" />
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-12 col-md-4 my-3">
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <footer id="knockoutCRUDGeracaoMovimentoLoteCentroResultado" class="my2">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/geracaoMovimentoLoteCentroResultado"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {

        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

        LoadGeracaoMovimentoLoteCentroResultado();

    });
</script>
