
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Mensalidade</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Mensalidade
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3><i class="fal fa-barcode"></i> Mensalidade</h3>
        </div>
        <div class="panel-content" id="knockoutMensalidade">
            <div class="row">
                @*filtros*@
            </div>
            <div class="row mb-3">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-primary mx-3" data-bind="click: PesquisarTitulos.eventClick, attr: { id: PesquisarTitulos.id}, visible: PesquisarTitulos.visible, enable: PesquisarTitulos.enable">
                        <i class="fal fa-search"></i>
                        <span data-bind="text: PesquisarTitulos.text"></span>
                    </button>
                </div>
            </div>
            <table width="100%" class="table table-bordered table-hover" data-bind="enable: Titulos.enable, attr: { id: Titulos.idGrid}" cellspacing="0"></table>

            <footer>
                <div class="row mt-2">
                    <div class="col-6">
                        @*botao cancelar*@
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        @*<button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarPDF.eventClick,visible: GerarPDF.visible, attr: { value: GerarPDF.text, id : GerarPDF.id}">
                                <span data-bind="text: GerarPDF.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: GerarExcel.eventClick,visible: GerarExcel.visible, attr: { value: GerarExcel.text, id : GerarExcel.id}">
                                <span data-bind="text: GerarExcel.text"></span>
                            </button>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div style="display:none" id="divConfigRelatorio">

    </div>

</div>

<script src="~/scripts/mensalidade"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadMensalidade();
    });

</script>

