
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Movimentação Conta Pagar Transportador</li>
</ol>

<div id="knockoutPesquisaMovimentacaoContaPagarTransportador">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>  Pesquisar Movimentação Conta a Pagar Transportador
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataCompensacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCompensacaoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCompensacaoInicial.requiredClass, value: DataCompensacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCompensacaoInicial.maxlength, id : DataCompensacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCompensacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCompensacaoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCompensacaoFinal.requiredClass, value: DataCompensacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCompensacaoFinal.maxlength, id : DataCompensacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataDocumentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataDocumentoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataDocumentoInicial.requiredClass, value: DataDocumentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDocumentoInicial.maxlength, id : DataDocumentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataDocumentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataDocumentoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataDocumentoFinal.requiredClass, value: DataDocumentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDocumentoFinal.maxlength, id : DataDocumentoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NumeroDocumento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDocumento.text, attr: { for: NumeroDocumento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: NumeroDocumento.requiredClass, value: NumeroDocumento.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDocumento.maxlength, id : NumeroDocumento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NumeroDocumento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: DocumentoCompensacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DocumentoCompensacao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DocumentoCompensacao.requiredClass, value: DocumentoCompensacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoCompensacao.maxlength, id : DocumentoCompensacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoArquivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoArquivo.text, attr: { for: TipoArquivo.id }"></label>
                                    <select class="form-control" data-bind="class: TipoArquivo.requiredClass, options: TipoArquivo.options, optionsText: 'text', optionsValue: 'value', value: TipoArquivo.val, attr: { maxlength: TipoArquivo.maxlength, id : TipoArquivo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-6" data-bind="visible: TodasFiliaisTransportador.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TodasFiliaisTransportador.val, attr: { maxlength: TodasFiliaisTransportador.maxlength, name: TodasFiliaisTransportador.id, id: TodasFiliaisTransportador.id }">
                                        <label class="custom-control-label" data-bind="text: TodasFiliaisTransportador.text, attr: { for: TodasFiliaisTransportador.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </footer>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/movimentacaoContasPagarTransportador"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadMovimentacaoContaPagarTransportador();
    });

</script>

