
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Pagamento Digital</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Geração do arquivo para pagamento digital
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3><i class="fal fa-barcode"></i> Títulos a Pagar</h3>
        </div>
        <div class="panel-content" id="knockoutGeracaoPagamentoDigital">
            <div class="row">
                <div class="col-12 col-md-4" data-bind="visible: Fornecedor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: GrupoPessoa.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: GrupoPessoa.text, attr: { for: GrupoPessoa.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: GrupoPessoa.requiredClass, value: GrupoPessoa.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoPessoa.maxlength, id : GrupoPessoa.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoPessoa.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: PagamentoEletronico.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: PagamentoEletronico.text, attr: { for: PagamentoEletronico.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: PagamentoEletronico.requiredClass, value: PagamentoEletronico.val, valueUpdate: 'afterkeydown', attr: { maxlength: PagamentoEletronico.maxlength, id : PagamentoEletronico.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PagamentoEletronico.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: TipoDocumento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: TipoDocumento.text, attr: { for: TipoDocumento.id }"></label>
                        <select class="form-control" data-bind="options: TipoDocumento.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoDocumento.val, attr: { id : TipoDocumento.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 1" title="Todos"></select>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoInicial.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataVencimentoInicial.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataVencimentoFinal.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataVencimentoFinal.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoInicial.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataEmissaoInicial.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataEmissaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoInicial.maxlength, id : DataEmissaoInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoFinal.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataEmissaoFinal.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataEmissaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoFinal.maxlength, id : DataEmissaoFinal.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: SituacaoPagamentoEletronico.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SituacaoPagamentoEletronico.text, attr: { for: SituacaoPagamentoEletronico.id }"></label>
                        <select class="form-control" data-bind="options: SituacaoPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: SituacaoPagamentoEletronico.val, attr: { id : SituacaoPagamentoEletronico.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: SituacaoBoletoTitulo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SituacaoBoletoTitulo.text, attr: { for: SituacaoBoletoTitulo.id }"></label>
                        <select class="form-control" data-bind="options: SituacaoBoletoTitulo.options, optionsText: 'text', optionsValue: 'value', value: SituacaoBoletoTitulo.val, attr: { id : SituacaoBoletoTitulo.id}"></select>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataProgramacaoPagamentoInicial.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataProgramacaoPagamentoInicial.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataProgramacaoPagamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoPagamentoInicial.maxlength, id : DataProgramacaoPagamentoInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataProgramacaoPagamentoFinal.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataProgramacaoPagamentoFinal.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataProgramacaoPagamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataProgramacaoPagamentoFinal.maxlength, id : DataProgramacaoPagamentoFinal.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: NumeroTitulo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NumeroTitulo.text"></label>
                        <input type="text" class="form-control" data-bind="value: NumeroTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroTitulo.maxlength, id : NumeroTitulo.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: ValorTitulo.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorTitulo.text"></label>
                        <input type="text" class="form-control" data-bind="value: ValorTitulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTitulo.maxlength, id : ValorTitulo.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: Banco.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Banco.requiredClass, value: Banco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Banco.maxlength, id : Banco.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Banco.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataAutorizacaoInicial.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataAutorizacaoInicial.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataAutorizacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoInicial.maxlength, id : DataAutorizacaoInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataAutorizacaoFinal.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataAutorizacaoFinal.text"></label>
                        <input type="text" class="form-control" data-bind="value: DataAutorizacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAutorizacaoFinal.maxlength, id : DataAutorizacaoFinal.id}" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-primary mx-3" data-bind="click: PesquisarTitulos.eventClick, attr: { id: PesquisarTitulos.id}, visible: PesquisarTitulos.visible, enable: PesquisarTitulos.enable">
                        <i class="fal fa-search"></i>
                        <span data-bind="text: PesquisarTitulos.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible, enable: SelecionarTodos.enable">
                        <i class="fal fa-check"></i>
                        <span data-bind="text: SelecionarTodos.text"></span>
                    </button>
                </div>
            </div>
            <table width="100%" class="table table-bordered table-hover" data-bind="enable: Titulos.enable, attr: { id: Titulos.idGrid}" cellspacing="0"></table>
        
            <footer>
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Arquivo.eventClick,visible: Arquivo.visible, attr: { value: Arquivo.text, id : Arquivo.id}">
                            <span data-bind="text: Arquivo.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<div class="modal fade" id="divGerarRemessa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="knoutGerarRemessa">
            <div class="modal-header">
                <h4 class="modal-title">Gerar remessa para pagamento digital</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <section class="col-12 col-md-12 mb-3">
                        <label><b data-bind="text: QuantidadeTitulos.text"></b> <span data-bind="text: QuantidadeTitulos.val"></span></label>
                    </section>
                    <section class="col-12 col-md-12 mb-3">
                        <label><b data-bind="text: ValorTotal.text"></b> <span data-bind="text: ValorTotal.val"></span></label>
                    </section>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: BoletoConfiguracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: BoletoConfiguracao.requiredClass, value: BoletoConfiguracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: BoletoConfiguracao.maxlength, id : BoletoConfiguracao.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BoletoConfiguracao.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataPagamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataPagamento.text"></label>
                            <input type="text" class="form-control" data-bind="css: DataPagamento.requiredClass, value: DataPagamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamento.maxlength, id : DataPagamento.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ModalidadePagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModalidadePagamentoEletronico.text, attr: { for: ModalidadePagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: ModalidadePagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: ModalidadePagamentoEletronico.val, attr: { id : ModalidadePagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: TipoContaPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoContaPagamentoEletronico.text, attr: { for: TipoContaPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: TipoContaPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: TipoContaPagamentoEletronico.val, attr: { id : TipoContaPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: FinalidadePagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FinalidadePagamentoEletronico.text, attr: { for: FinalidadePagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: FinalidadePagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: FinalidadePagamentoEletronico.val, attr: { id : FinalidadePagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: TipoServicoPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoServicoPagamentoEletronico.text, attr: { for: TipoServicoPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: TipoServicoPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: TipoServicoPagamentoEletronico.val, attr: { id : TipoServicoPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: FormaLancamentoPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FormaLancamentoPagamentoEletronico.text, attr: { for: FormaLancamentoPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: FormaLancamentoPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: FormaLancamentoPagamentoEletronico.val, attr: { id : FormaLancamentoPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DescricaoUsoEmpresaPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DescricaoUsoEmpresaPagamentoEletronico.text, attr: { for: DescricaoUsoEmpresaPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: DescricaoUsoEmpresaPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: DescricaoUsoEmpresaPagamentoEletronico.val, attr: { id : DescricaoUsoEmpresaPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: GerarRemessa.eventClick, visible: GerarRemessa.visible, attr: { value: GerarRemessa.text, id : GerarRemessa.id}, enable: GerarRemessa.enable">
                    <span data-bind="text: GerarRemessa.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/pagamentoDigital"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPagamentoDigital();
    });

</script>

