
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item">  Plano Orçamentário</li>

</ol>
<div class="subheader">
    <h1>
        Plano Orçamentário
    </h1>
</div>
<div id="knockoutPesquisaPlanoOrcamentario">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Plano Orçamentário
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-10" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataBase.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">

                <li class="nav-item ">

                <li class="nav-item">

                    <a href="#tabCadastro" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Formulário de Cadastro</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabConta" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Contas</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="tabCadastro">
                    <form id="knockoutCadastroPlanoOrcamentario">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: Codigo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Codigo.text, attr: { for: Codigo.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Codigo.val, enable: Codigo.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataBase.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataBase.text, attr: { for: DataBase.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: DataBase.requiredClass,value: DataBase.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataBase.maxlength, id : DataBase.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Observacao.requiredClass,value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Valor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Valor.requiredClass,value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Repetir.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: Repetir.val, enable: Repetir.enable, attr: { maxlength: Repetir.maxlength, name: Repetir.id, id: Repetir.id }, event : {change : Repetir.eventChange}">
                                        <label class="custom-control-label" data-bind="text: Repetir.text, attr: { for: Repetir.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Dividir.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: Dividir.val, enable: Dividir.enable, attr: { maxlength: Dividir.maxlength, name: Dividir.id, id: Dividir.id }, event : {change : Dividir.eventChange}">
                                        <label class="custom-control-label" data-bind="text: Dividir.text, attr: { for: Dividir.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Periodicidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Periodicidade.text, attr: { for: Periodicidade.id }"></label>
                                    <select class="form-control" data-bind="options: Periodicidade.options, enable: Periodicidade.enable, optionsText: 'text', optionsValue: 'value', value: Periodicidade.val, attr: { id : Periodicidade.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: NumeroOcorrencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroOcorrencia.text, attr: { for: NumeroOcorrencia.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroOcorrencia.val,class: NumeroOcorrencia.requiredClass, enable: NumeroOcorrencia.enable, attr: { maxlength: NumeroOcorrencia.maxlength, id : NumeroOcorrencia.id}, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <footer>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                            <i class="fal fa-ban"></i>
                                            <span data-bind="text: Cancelar.text"></span>
                                        </button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                            <i class="fal fa-trash"></i>
                                            <span data-bind="text: Excluir.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                            <i class="fal fa-check"></i>
                                            <span data-bind="text: Atualizar.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                            <span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabConta" role="tabpanel">

                    <form id="knockoutContaPlanoOrcamentario">

                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Conta.id}" cellspacing="0"></table>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: PlanoConta.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PlanoConta.requiredClass,value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoConta.maxlength, id : PlanoConta.id} " />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoConta.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Percentual.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Percentual.text, { for: Percentual.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Percentual.requiredClass,value: Percentual.val, valueUpdate: 'afterkeydown', attr: { maxlength: Percentual.maxlength, id : Percentual.id}, event : {change : Percentual.eventChange}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Valor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Valor.requiredClass,value: Percentual.val, valueUpdate: 'afterkeydown', attr: { maxlength: Percentual.maxlength, id : Percentual.id}, event : {change : Percentual.eventChange}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: AtualizarConta.eventClick, visible: AtualizarConta.visible, attr: { value: AtualizarConta.text, id : AtualizarConta.id}">
                                    <span data-bind="text: AtualizarConta.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success mx-3" data-bind="click:AdicionarConta.eventClick, visible: AdicionarConta.visible, attr: { value: AdicionarConta.text, id : AdicionarConta.id}">
                                    <span data-bind="text: AdicionarConta.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-danger" data-bind="click:  ExcluirConta.eventClick, visible: ExcluirConta.visible, attr: { value: ExcluirConta.text, id : ExcluirConta.id}">
                                    <span data-bind="text: ExcluirConta.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-default" data-loading-text="Aguarde..." data-bind="CancelarConta.eventClick, visible: CancelarConta.visible, attr: { value: CancelarConta.text, id : CancelarConta.id}">
                                    <span data-bind="text: CancelarConta.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </div>

    </div>
</div>



<script src="~/scripts/planoOrcamentario"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPlanoOrcamentario();
    });

</script>

