
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item"> Plano de Conta</li>

</ol>
<div class="subheader">
    <h1>
        Plano de Conta
    </h1>
</div>
<div id="knockoutPesquisaPlanoConta">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Plano de Contas Gerenciais
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Codigo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Codigo.text, attr: { for: Codigo.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Codigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Plano.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Plano.text, attr: { for: Plano.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Plano.val, valueUpdate: 'afterkeydown', attr: { maxlength: Plano.maxlength, id : Plano.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ReceitaDespesa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ReceitaDespesa.text, attr: { for: ReceitaDespesa.id }"></label>
                                    <select class="form-control" data-bind="options: ReceitaDespesa.options, optionsText: 'text', optionsValue: 'value', value: ReceitaDespesa.val, attr: { id : ReceitaDespesa.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: GrupoDeResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: GrupoDeResultado.text, attr: { for: GrupoDeResultado.id }"></label>
                                    <select class="form-control" data-bind="options: GrupoDeResultado.options, optionsText: 'text', optionsValue: 'value', value: GrupoDeResultado.val, attr: { id : GrupoDeResultado.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Plano Conta Gerencial
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroPlanoConta">
                    <div class="col-12 col-md-5" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind=" css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: Plano.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Plano.text, attr: { for: Plano.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Plano.requiredClass, value: Plano.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Plano.text, maxlength: Plano.maxlength, id: Plano.id, name: Plano.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Plano.idBtnSearch}">
                                        <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: PlanoContaSintetico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoContaSintetico.text, attr: { for: PlanoContaSintetico.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: PlanoContaSintetico.Enable, value: PlanoContaSintetico.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoContaSintetico.maxlength, id : PlanoContaSintetico.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: PlanoContabilidade.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PlanoContabilidade.text, attr: { for: PlanoContabilidade.id }"></label>
                            <input type="text" class="form-control" data-bind="value: PlanoContabilidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: PlanoContabilidade.maxlength, id : PlanoContabilidade.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: AnaliticoSintetico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AnaliticoSintetico.text, attr: { for: AnaliticoSintetico.id }"></label>
                            <select class="form-control" data-bind="options: AnaliticoSintetico.options, optionsText: 'text', optionsValue: 'value', value: AnaliticoSintetico.val, attr: { id : AnaliticoSintetico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ReceitaDespesa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ReceitaDespesa.text, attr: { for: ReceitaDespesa.id }"></label>
                            <select class="form-control" data-bind="options: ReceitaDespesa.options, optionsText: 'text', optionsValue: 'value', value: ReceitaDespesa.val, attr: { id : ReceitaDespesa.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: GrupoDeResultado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: GrupoDeResultado.text, attr: { for: GrupoDeResultado.id }"></label>
                            <select class="form-control" data-bind="options: GrupoDeResultado.options, optionsText: 'text', optionsValue: 'value', value: GrupoDeResultado.val, attr: { id : GrupoDeResultado.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: SaldoInicialConciliacaoBancaria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SaldoInicialConciliacaoBancaria.text, attr: { for: SaldoInicialConciliacaoBancaria.id }"></label>
                            <input type="text" class="form-control" data-bind="value: SaldoInicialConciliacaoBancaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: SaldoInicialConciliacaoBancaria.maxlength, id : SaldoInicialConciliacaoBancaria.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: SaldoFinalConciliacaoBancaria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SaldoFinalConciliacaoBancaria.text, attr: { for: SaldoFinalConciliacaoBancaria.id }"></label>
                            <input type="text" class="form-control" data-bind="value: SaldoFinalConciliacaoBancaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: SaldoFinalConciliacaoBancaria.maxlength, id : SaldoFinalConciliacaoBancaria.id}" />
                        </div>
                    </div>
                    <footer>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span id="" data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>

                                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <i class="fal fa-trash"></i>
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                               

                            </div>
                        </div>
                    </footer>

                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/scripts/PlanoConta"></script>
<script src="~/scripts/configuracaoLayoutEDI"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadPlanoConta();
    });
</script>