
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item"> Regras de Entrada por Documento</li>

</ol>
<div class="subheader">
    <h1>
        Regras de Entrada por Documento
    </h1>
</div>
<div id="knockoutPesquisaRegraEntradaDocumento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Regras de Entrada por Documento
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Pessoa.text, maxlength: Pessoa.maxlength, id: Pessoa.id, name: Pessoa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Pessoa.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NCM.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NCM.text, attr: { for: NCM.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NCM.val, valueUpdate: 'afterkeydown', attr: { maxlength: NCM.maxlength, id : NCM.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: NaturezaDaOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NaturezaDaOperacao.text, attr: { for: NaturezaDaOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: NaturezaDaOperacao.requiredClass, value: NaturezaDaOperacao.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': NaturezaDaOperacao.text, maxlength: NaturezaDaOperacao.maxlength, id: NaturezaDaOperacao.id, name: NaturezaDaOperacao.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: NaturezaDaOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CFOPDentro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CFOPDentro.text, attr: { for: CFOPDentro.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CFOPDentro.requiredClass, value: CFOPDentro.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CFOPDentro.text, maxlength: CFOPDentro.maxlength, id: CFOPDentro.id, name: CFOPDentro.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CFOPDentro.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CFOPFora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CFOPFora.text, attr: { for: CFOPFora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CFOPFora.requiredClass, value: CFOPFora.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CFOPFora.text, maxlength: CFOPFora.maxlength, id: CFOPFora.id, name: CFOPFora.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CFOPFora.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, class: Descricao.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active" id="liTabCadastro">
                    <a href="#tabCadastro" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Formulário de Cadastro </span>
                    </a>
                </li>
                <li class="nav-item" id="liTabNCM">
                    <a href="#tabNCM" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">NCM's</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabFornecedores">
                    <a href="#tabFornecedores" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Fornecedores</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutCadastroRegraEntradaDocumento">
                <div class="tab-pane fade active show" id="tabCadastro" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val,class: Descricao.requiredClass ,valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: IndicadorPagamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: IndicadorPagamento.text, attr: { for: IndicadorPagamento.id }"></label>
                                    <select class="form-control" data-bind="options: IndicadorPagamento.options, optionsText: 'text', optionsValue: 'value', value: IndicadorPagamento.val, attr: { id : IndicadorPagamento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Pessoa.text, maxlength: Pessoa.maxlength, id: Pessoa.id, name: Pessoa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Pessoa.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: NaturezaDaOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NaturezaDaOperacao.text, attr: { for: NaturezaDaOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: NaturezaDaOperacao.requiredClass, value: NaturezaDaOperacao.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': NaturezaDaOperacao.text, maxlength: NaturezaDaOperacao.maxlength, id: NaturezaDaOperacao.id, name: NaturezaDaOperacao.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: NaturezaDaOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CFOPDentro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CFOPDentro.text, attr: { for: CFOPDentro.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CFOPDentro.requiredClass, value: CFOPDentro.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CFOPDentro.text, maxlength: CFOPDentro.maxlength, id: CFOPDentro.id, name: CFOPDentro.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CFOPDentro.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CFOPFora.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CFOPFora.text, attr: { for: CFOPFora.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CFOPFora.requiredClass, value: CFOPFora.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CFOPFora.text, maxlength: CFOPFora.maxlength, id: CFOPFora.id, name: CFOPFora.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CFOPFora.idBtnSearch}">
                                                <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: ObrigarInformarVeiculo.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ObrigarInformarVeiculo.val, attr: { maxlength: ObrigarInformarVeiculo.maxlength, name: ObrigarInformarVeiculo.id, id: ObrigarInformarVeiculo.id }">
                                        <label class="custom-control-label" data-bind="text: ObrigarInformarVeiculo.text, attr: { for: ObrigarInformarVeiculo.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: FinalizarFaturarNotaAutomaticamente.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: FinalizarFaturarNotaAutomaticamente.val, attr: { maxlength: FinalizarFaturarNotaAutomaticamente.maxlength, name: FinalizarFaturarNotaAutomaticamente.id, id: FinalizarFaturarNotaAutomaticamente.id }">
                                        <label class="custom-control-label" data-bind="text: FinalizarFaturarNotaAutomaticamente.text, attr: { for: FinalizarFaturarNotaAutomaticamente.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: TributarICMS.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: TributarICMS.val, attr: { maxlength: TributarICMS.maxlength, name: TributarICMS.id, id: TributarICMS.id }">
                                        <label class="custom-control-label" data-bind="text: TributarICMS.text, attr: { for: TributarICMS.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: MultiplosFornecedores.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: MultiplosFornecedores.val, attr: { maxlength: MultiplosFornecedores.maxlength, name: MultiplosFornecedores.id, id: MultiplosFornecedores.id }, event : {change : MultiplosFornecedores.eventChange}">
                                        <label class="custom-control-label" data-bind="text: MultiplosFornecedores.text, attr: { for: MultiplosFornecedores.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.val, attr: { maxlength: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.maxlength, name: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.id, id: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.id }">
                                        <label class="custom-control-label" data-bind="text: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.text, attr: { for: NaoFinalizarQuandoArlaEstiverAssociadaReboqueEquipamento.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: NaoFinalizarQuandoArlaTiverQuantidadeSuperior.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoFinalizarQuandoArlaTiverQuantidadeSuperior.val, valueUpdate: 'afterkeydown', attr: { name: NaoFinalizarQuandoArlaTiverQuantidadeSuperior.id, id : NaoFinalizarQuandoArlaTiverQuantidadeSuperior.id}">
                                        <label class="custom-control-label" data-bind="text: NaoFinalizarQuandoArlaTiverQuantidadeSuperior.text, attr: { for: NaoFinalizarQuandoArlaTiverQuantidadeSuperior.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: FinalizarFaturarNotaAutomaticamente.val">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoFinalizarDocumentoSemProdutoPreCadastrado.val, valueUpdate: 'afterkeydown', attr: { name: NaoFinalizarDocumentoSemProdutoPreCadastrado.id, id : NaoFinalizarDocumentoSemProdutoPreCadastrado.id}">
                                        <label class="custom-control-label" data-bind="text: NaoFinalizarDocumentoSemProdutoPreCadastrado.text, attr: { for: NaoFinalizarDocumentoSemProdutoPreCadastrado.id }"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: QuantidadeSuperiorArla.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeSuperiorArla.text"></label>
                                    <input type="text" class="form-control" data-bind="value: QuantidadeSuperiorArla.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeSuperiorArla.maxlength, id : QuantidadeSuperiorArla.id}" />
                                </div>
                            </div>


                        </div>


                    </form>
                </div>

                <div class="tab-pane fade" id="tabNCM">

                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Lista de NCM</h3>
                            </div>
                            <div class="card-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: ListaNCM.idGrid}" cellspacing="0"></table>
                                <div class="col-12 col-md-6" data-bind="visible: NCM.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NCM.text, attr: { for: NCM.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: NCM.val, valueUpdate: 'afterkeydown', attr: { maxlength: NCM.maxlength, id : NCM.id}" />
                                    </div>
                                </div>
                                <div class=" mt-3 col-md-3">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: AdicionarNCM.eventClick, visible: AdicionarNCM.visible, attr: { value: AdicionarNCM.text, id : AdicionarNCM.id}" type="button">
                                        <span data-bind="text: AdicionarNCM.text">AdicionarNCM</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabFornecedores">
                    <div class="col-12 col-md-12">
                        <div class="card" >
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h3 class="card-title">Lista de Fornecedores</h3>

                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                                    <i class="fal fa-search"></i>
                                    Filtro De Pesquisa
                                </button>
                            </div>
                            <div class="card-body row">
                                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">

                                    <div class="row">
                                        <div class="col-12 col-md-4" data-bind="visible: FornecedorFiltro.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: FornecedorFiltro.text, attr: { for: FornecedorFiltro.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" data-bind="css: FornecedorFiltro.requiredClass, value: FornecedorFiltro.val, valueUpdate: 'afterkeydown', attr: { maxlength: FornecedorFiltro.maxlength, id : FornecedorFiltro.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: FornecedorFiltro.idBtnSearch}">
                                                            <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: FornecedorCNPJFiltro.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: FornecedorCNPJFiltro.text, attr: { for: FornecedorCNPJFiltro.id }"></label>
                                                <input type="text" class="form-control" data-bind="value: FornecedorCNPJFiltro.val, valueUpdate: 'afterkeydown', attr: { maxlength: FornecedorCNPJFiltro.maxlength, id : FornecedorCNPJFiltro.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end mb-3">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: ListaFornecedor.idGrid}" cellspacing="0"></table>
                                <div class="col-12 col-md-6" data-bind="visible: Fornecedor.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Fornecedor.text"></label>
                                        <div class="input-group">
                                            <input type="text" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Fornecedor.idBtnSearch}">
                                                    <i class="fal fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-top:30px">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: AdicionarFornecedor.eventClick, visible: AdicionarFornecedor.visible, attr: { value: AdicionarFornecedor.text, id : AdicionarFornecedor.id}" type="button">
                                        <span data-bind="text: AdicionarFornecedor.text"></span>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row mt-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/regraEntradaDocumento"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadRegraEntradaDocumento();
    });

</script>

