
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item">Remessa de Pagamento</li>

</ol>

<h1>
    Remessa de Pagamento
</h1>

<div id="knockoutPesquisaRemessaPagamento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Remessas de Pagamento
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="mt-3 col-md-4" data-bind="visible: BoletoConfiguracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: BoletoConfiguracao.requiredClass, value: BoletoConfiguracao.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': BoletoConfiguracao.text, maxlength: BoletoConfiguracao.maxlength, id: BoletoConfiguracao.id, name: BoletoConfiguracao.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: BoletoConfiguracao.idBtnSearch}">
                                                <i class="fal fa-search"></i>  
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 col-md-4" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: BoletoConfiguracao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>  
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 col-12 col-md-2" data-bind="visible: DataPagamentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPagamentoInicial.text, attr: { for: DataPagamentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataPagamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamentoInicial.maxlength, id : DataPagamentoInicial.id}" />
                                </div>
                            </div>
                            <div class="mt-3 col-12 col-md-2" data-bind="visible: DataPagamentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPagamentoFinal.text, attr: { for: DataPagamentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataPagamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamentoFinal.maxlength, id : DataPagamentoFinal.id}" />
                                </div>
                            </div>
                            <div class=" col-md-4" data-bind="visible: PagamentoEletronico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PagamentoEletronico.text, attr: { for: PagamentoEletronico.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PagamentoEletronico.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PagamentoEletronico.text, maxlength: PagamentoEletronico.maxlength, id: PagamentoEletronico.id, name: PagamentoEletronico.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PagamentoEletronico.idBtnSearch}">
                                                <i class="fal fa-search"></i>  
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" data-bind="visible: Titulo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Titulo.text, attr: { for: Titulo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Titulo.requiredClass, value: Titulo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Titulo.text, maxlength: Titulo.maxlength, id: Titulo.id, name: Titulo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Titulo.idBtnSearch}">
                                                <i class="fal fa-search"></i>  
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-3" data-bind="visible: Pessoa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pessoa.text, attr: { for: Pessoa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Pessoa.requiredClass, value: Pessoa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Pessoa.text, maxlength: Pessoa.maxlength, id: Pessoa.id, name: Pessoa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Pessoa.idBtnSearch}">
                                                <i class="fal fa-search"></i>  
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoAutorizacaoPagamentoEletronico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoAutorizacaoPagamentoEletronico.text, attr: { for: SituacaoAutorizacaoPagamentoEletronico.id }"></label>
                                    <select class="form-control" data-bind="options: SituacaoAutorizacaoPagamentoEletronico.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAutorizacaoPagamentoEletronico.val, attr: { id : SituacaoAutorizacaoPagamentoEletronico.id}"></select>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Remessa de Pagamento
            </h3>
        </div>
        <div class="panel-content">

            <form id="knockoutCadastroRemessaPagamento">

                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                            <input type="text" class="form-control" data-bind="value: Numero.val, enable: Numero.enable, attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataPagamento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataPagamento.text, attr: { for: DataPagamento.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataPagamento.val, enable: DataPagamento.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataPagamento.maxlength, id : DataPagamento.id}" />
                        </div>
                    </div>
                    <div class=" col-md-4" data-bind="visible: BoletoConfiguracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: BoletoConfiguracao.requiredClass, value: BoletoConfiguracao.val, enable: BoletoConfiguracao.enable, valueUpdate: 'afterkeydown', attr: { 'aria-label': BoletoConfiguracao.text, maxlength: BoletoConfiguracao.maxlength, id: BoletoConfiguracao.id, name: BoletoConfiguracao.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: BoletoConfiguracao.idBtnSearch}">
                                        <i class="fal fa-search"></i>  
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4" data-bind="visible: Usuario.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Usuario.requiredClass, value: Usuario.val, enable: Usuario.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Usuario.idBtnSearch}">
                                        <i class="fal fa-search"></i>  
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DataGeracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataGeracao.text, attr: { for: DataGeracao.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataGeracao.val, enable: DataGeracao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracao.maxlength, id : DataGeracao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ModalidadePagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModalidadePagamentoEletronico.text, attr: { for: ModalidadePagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: ModalidadePagamentoEletronico.options, enable: ModalidadePagamentoEletronico.enable, optionsText: 'text', optionsValue: 'value', value: ModalidadePagamentoEletronico.val, attr: { id : ModalidadePagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: TipoContaPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoContaPagamentoEletronico.text, attr: { for: TipoContaPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: TipoContaPagamentoEletronico.options, enable: TipoContaPagamentoEletronico.enable, optionsText: 'text', optionsValue: 'value', value: TipoContaPagamentoEletronico.val, attr: { id : TipoContaPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: FinalidadePagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FinalidadePagamentoEletronico.text, attr: { for: FinalidadePagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: FinalidadePagamentoEletronico.options, enable: FinalidadePagamentoEletronico.enable, optionsText: 'text', optionsValue: 'value', value: FinalidadePagamentoEletronico.val, attr: { id : FinalidadePagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: SituacaoAutorizacaoPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: SituacaoAutorizacaoPagamentoEletronico.text, attr: { for: SituacaoAutorizacaoPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: SituacaoAutorizacaoPagamentoEletronico.options, enable: SituacaoAutorizacaoPagamentoEletronico.enable, optionsText: 'text', optionsValue: 'value', value: SituacaoAutorizacaoPagamentoEletronico.val, attr: { id : SituacaoAutorizacaoPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: ValorTotal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorTotal.text, attr: { for: ValorTotal.id }"></label>
                            <input type="text" class="form-control" data-bind="value: ValorTotal.val,enable: ValorTotal.enable, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTotal.maxlength, id : ValorTotal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: QuantidadeTitulos.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: QuantidadeTitulos.text, attr: { for: QuantidadeTitulos.id }"></label>
                            <input type="text" class="form-control" data-bind="value: QuantidadeTitulos.val,enable: QuantidadeTitulos.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeTitulos.maxlength, id : QuantidadeTitulos.id}" />
                        </div>
                    </div>
                    <div class=" col-md-3" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val,enable: Empresa.enable, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                        <i class="fal fa-search"></i>  
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" data-bind="visible: DescricaoUsoEmpresaPagamentoEletronico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DescricaoUsoEmpresaPagamentoEletronico.text, attr: { for: DescricaoUsoEmpresaPagamentoEletronico.id }"></label>
                            <select class="form-control" data-bind="options: DescricaoUsoEmpresaPagamentoEletronico.options, enable: DescricaoUsoEmpresaPagamentoEletronico.enable, optionsText: 'text', optionsValue: 'value', value: DescricaoUsoEmpresaPagamentoEletronico.val, attr: { id : DescricaoUsoEmpresaPagamentoEletronico.id}"></select>
                        </div>
                    </div>
                    <footer>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-12 col-md-6  d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-warning me-2" data-bind="click: ReprocessarRegra.eventClick, visible: ReprocessarRegra.visible, attr: { value: ReprocessarRegra.text, id : ReprocessarRegra.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: ReprocessarRegra.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success me-2" data-bind="click: SolicitarNovaGeracao.eventClick, visible: SolicitarNovaGeracao.visible, attr: { value: SolicitarNovaGeracao.text, id : SolicitarNovaGeracao.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: SolicitarNovaGeracao.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success me-2" data-bind="click: DownloadRemessa.eventClick, visible: DownloadRemessa.visible, attr: { value: DownloadRemessa.text, id : DownloadRemessa.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: DownloadRemessa.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-info me-2" data-bind="click: DownloadRelatorio.eventClick, visible: DownloadRelatorio.visible, attr: { value: DownloadRelatorio.text, id : DownloadRelatorio.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: DownloadRelatorio.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-danger " data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <i class="fal fa-trash"></i>
                                    <span data-bind="text: Excluir.text"></span>
                                </button>

                            </div>
                        </div>
                    </footer>

                </div>
            </form>

        </div>
    </div>

</div>




<script src="~/scripts/remessaPagamento"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadRemessaPagamento();
    });

</script>

