
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Retorno Pagamento</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Importação do Arquivo de Retorno do Pagamento Digital
    </h1>
</div>

<div id="knockoutRetornoPagamento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h4><i class="fal fa-edit"></i> Formulário de Importação</h4>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="form-group col-12 col-md-6 mt-2" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label" data-bind="text: Arquivo.val, attr: { for: Arquivo.id }">Selecione o arquivo do retorno</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-5" data-bind="visible: BoletoConfiguracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: BoletoConfiguracao.val, valueUpdate: 'afterkeydown', attr: { class: BoletoConfiguracao.requiredClass, maxlength: BoletoConfiguracao.maxlength, id : BoletoConfiguracao.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BoletoConfiguracao.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-1">
                            <button class="btn btn-success waves-effect waves-themed" style="margin-top:32px" data-bind="click: Enviar.eventClick, visible: Enviar.visible, attr: { value: Enviar.text, id : Enviar.id}" type="button">
                                <span data-bind="text: Enviar.text"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/retornoPagamento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRetornoPagamento();
    });

</script>

