
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Financeiros</li>
        <li class="breadcrumb-item active">Situação Lancamento Documento Entrada</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Status do Lancamento dos Documentos de Entrada
        </h1>
    </div>
</section>
<div id="knockoutPesquisaSituacaoLancamentoDocumentoEntrada" class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar Status do Lancamento Financeiro
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="row mt-3">
                        <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                            </div>
                        </div>
                        <footer class="no-padding d-flex justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">Pesquisar</span>
                            </button>
                        </footer>
                    </div>
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Situação do Documento de Entrada
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroSituacaoLancamentoDocumentoEntrada">
                    <div class="row">
                        <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                <select class="form-control" data-bind="class: Ativo.requiredClass, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { maxlength: Ativo.maxlength, id : Ativo.id}"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="knockoutCRUDSituacaoLancamentoDocumentoEntrada" class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                        <i class="fal fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                        <i class="fal fa-spinner"></i>
                    </button>
                    <button type="button" class="btn btn-danger mx-1 mx-sm-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                        <i class="fal fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                        <i class="fal fa-ban"></i>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>











<script src="~/scripts/situacaoLancamentoDocumentoEntrada"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadSituacaoLancamentoDocumentoEntrada();
    });

</script>

