

<style>
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin: 1rem 0;
    }

    .totalizador {
        background: #424242;
        color: #ffff;
        padding: 0.5rem;
    }

    .cardTermoHide {
        height: 0;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .cardTermoShow {
        height: auto;
        opacity: 1;
        transition: all 0.5s ease;
    }
</style>
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiros</li>
    <li class="breadcrumb-item active">Termo Quitação</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Termo Quitação
    </h1>
</div>

<div id="knockoutPesquisaTermoQuitacaoFinanceiro">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i>
                    Pesquisar Termo Quitacao
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroDeTermo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroDeTermo.text"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroDeTermo.requiredClass, value: NumeroDeTermo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroDeTermo.maxlength, id : NumeroDeTermo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ProvisaoPendente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProvisaoPendente.text, attr: { for: ProvisaoPendente.id }"></label>
                                    <select class="form-control" data-bind="class: ProvisaoPendente.requiredClass, options: ProvisaoPendente.options, optionsText: 'text', optionsValue: 'value', value: ProvisaoPendente.val, attr: { maxlength: ProvisaoPendente.maxlength, id : ProvisaoPendente.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SituacaoTermoQuitacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoTermoQuitacao.text, attr: { for: SituacaoTermoQuitacao.id }"></label>
                                    <select class="form-control" data-bind="class: SituacaoTermoQuitacao.requiredClass, options: SituacaoTermoQuitacao.options, optionsText: 'text', optionsValue: 'value', value: SituacaoTermoQuitacao.val, attr: { maxlength: SituacaoTermoQuitacao.maxlength, id : SituacaoTermoQuitacao.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: AprovacaoPendente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: AprovacaoPendente.text, attr: { for: AprovacaoPendente.id }"></label>
                                    <select class="form-control" data-bind="class: AprovacaoPendente.requiredClass, options: AprovacaoPendente.options, optionsText: 'text', optionsValue: 'value', value: AprovacaoPendente.val, attr: { maxlength: AprovacaoPendente.maxlength, id : AprovacaoPendente.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <button class="btn btn-default" type="button" data-bind="click: CriarTermo.eventClick, attr: { id: CriarTermo.id}">
                            <span data-bind="text: CriarTermo.text"></span> <i class="fal fa-file-plus"></i>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card cardTermoHide" id="cardTermo">
    <div class="card-body">
        <div id="knockoutEtapaTermoQuitacaoFinanceiro">
            <ul class="nav nav-steps">
                <li data-target="#step1" data-bind="visible : Etapa1.visible">
                    <button class="active" data-bs-target="#TermoQuitacaoEtapa1" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                        <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                            <i class="fal fa-file-alt"></i>
                        </span>
                        <span class="title" data-bind="text: Etapa1.text"></span>
                    </button>
                </li>
                <li data-target="#step2" data-bind="visible : Etapa2.visible">
                    <button data-bs-target="#etapaAprovacaoProvisao" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                        <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                            <i class="fal fa-box"></i>
                        </span>
                        <span class="title" data-bind="text: Etapa2.text"></span>
                    </button>
                </li>
                <li data-target="#step3" data-bind="visible : Etapa3.visible">
                    <button data-bs-target="#etapaTermoQuitacaoTransportador" data-bs-toggle="tab" data-bind="attr: {id : Etapa3.idTab }, click : Etapa3.eventClick">
                        <span class="step" data-bind="attr: {'data-content' : Etapa3.tooltip, 'data-original-title' : Etapa3.tooltipTitle }">
                            <i class="fal fa-check-circle"></i>
                        </span>
                        <span class="title" data-bind="text: Etapa3.text"></span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                Resumo termo de quitação
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <!-- Etapa 1 -->
                    <div id="TermoQuitacaoEtapa1" class="tab-pane fade show active">
                        <div class="panel-content row">
                            <div class="col-12 col-md-6">
                                <div class="p-2 border my-2">
                                    <b><label data-bind="text: NumeroTermo.text" class="mb-2"></label></b>
                                    <span data-bind="text: NumeroTermo.val"></span>
                                </div>
                                <div class="card">
                                    <div class="card-body row">
                                        <div class="col-12 " data-bind="visible: Transportador.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val,enable: Transportador.enable , valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Filiais.idGrid}" cellspacing="0"></table>
                                        <div class="col-12">
                                            <button class="btn btn-success" type="button" data-bind="visible: AdicionaRemoverContaPagar.visible, click: AdicionaRemoverContaPagar.eventClick, attr: { id: AdicionaRemoverContaPagar.id}">
                                                <span data-bind="text: AdicionaRemoverContaPagar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card m-2 p-2">
                                    <div class="card-body row">
                                        <div class="col-12 col-md-6 ">
                                            <div class="col-12 col-md-12" data-bind="visible: DataInicial.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataInicial.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass,enable: DataInicial.enable, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="col-12 col-md-12" data-bind="visible: DataFinal.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: DataFinal.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, enable: DataFinal.enable,valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-0 m-2">
                                    <div class="card-body">
                                        <ul>
                                            <li class="d-flex justify-content-between">
                                                <span> Pagamento Efetivo</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span data-bind="text: PagamentosEDescontosViaCreditoEmConta.text"></span>
                                                <span data-bind="text: PagamentosEDescontosViaCreditoEmConta.val"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span data-bind="text: PagamentosEDescontosViaConfiming.text"></span>
                                                <span data-bind="text: PagamentosEDescontosViaConfiming.val"></span>
                                            </li>
                                            <li class="d-flex justify-content-between totalizador">
                                                <span data-bind="text: CreditoEmConta.text"></span>
                                                <span data-bind="text: CreditoEmConta.val"></span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="card p-0 m-2">
                                    <div class="card-body">
                                        <ul>
                                            <li class="d-flex justify-content-between">
                                                <span data-bind="text: TotalAdiantamento.text"></span>
                                                <span data-bind="text: TotalAdiantamento.val"></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span data-bind="text: NotasCompensadasAdiantamentos.text"></span>
                                                <span data-bind="text: NotasCompensadasAdiantamentos.val"></span>
                                            </li>
                                            <li class="d-flex justify-content-between totalizador">
                                                <span data-bind="text: SaldoAdiantamentoEmAberto.text"></span>
                                                <span data-bind="text: SaldoAdiantamentoEmAberto.val"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card p-2 m-2 totalizador">
                                    <div class="card-body d-flex justify-content-between">
                                        <span data-bind="text: TotalGeralPagamento.text"></span>
                                        <span data-bind="text: TotalGeralPagamento.val"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">

                                <div class="col-6">
                                    <div class="d-flex justify-content-start">
                                        <button class="btn btn-primary" type="button" data-bind="click: Anexos.eventClick, attr: { id: Anexos.id}">
                                            <i class="fal fa-file-alt"></i><span data-bind="text: Anexos.text"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="d-flex gap-2 px-3 justify-content-end">
                                        <button class="btn btn-default" type="button" data-bind="click: ExportarTermo.eventClick, attr: { id: ExportarTermo.id}">
                                            <i class="fal fa-download"></i><span data-bind="text: ExportarTermo.text"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" data-bind="click: ExportarResumo.eventClick, attr: { id: ExportarResumo.id}">
                                            <i class="fal fa-download"></i><span data-bind="text: ExportarResumo.text"></span>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bind="visible: Avancar.visible, click: Avancar.eventClick, attr: { id: Avancar.id}">
                                            <span data-bind="text: Avancar.text"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Etapa 2 -->
                    <div id="etapaAprovacaoProvisao" class="tab-pane fade">
                        <div class="row" id="knockoutAprovacaoProvisao">
                            <div class="col-12 col-md-6" data-bind="visible: PossuiRegras.val()">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">  Detalhes</h3>

                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="row row-cols-1 row-cols-md-2 ">

                                                <div class="col-12 col-md-6 ">
                                                    <table class="table table-clean table-sm align-self-end">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Solicitante.text"></strong>

                                                                    <span data-bind="text: Solicitante.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: DataSolicitacao.text"></strong>

                                                                    <span data-bind="text: DataSolicitacao.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: AprovacoesNecessarias.text"></strong>

                                                                    <span data-bind="text: AprovacoesNecessarias.val"></span>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Aprovacoes.text"></strong>

                                                                    <span data-bind="text: Aprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Reprovacoes.text"></strong>

                                                                    <span data-bind="text: Reprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Situacao.text"></strong>

                                                                    <span data-bind="text: Situacao.val"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 " data-bind="visible: PossuiRegras.val()">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">  Aprovadores</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">


                                            <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Regras.idGrid}" cellspacing="0"></table>

                                        </div>
                                        @*<div class="col col-xs-12 col-sm-12" data-bind="visible: !PossuiSituacoes.val()">
                                                <div class="alert alert-warning">
                                                    Não foi encontrada nenhuma regra para aprovar a avaria.<br />
                                                    A avaria ficará pendente até existir alguma regra de aprovação. Clique em reprocessar regras para verificar.
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-12 col-sm-12" data-bind="visible: !PossuiRegras.val()">
                                <div class="alert alert-warning">
                                    Não foi encontrada nenhuma regra para aprovar o Termo de Quitação.<br />
                                    O Termo de Quitação ficará pendente até existir alguma regra de aprovação. Clique em reprocessar regras para verificar.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Etapa 3 -->
                    <div id="etapaTermoQuitacaoTransportador" class="tab-pane fade">
                        <div class="row" id="knockoutAprovacaoTransportador">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between" id="knoutCRUDTermoQuitacao">
                <button class="btn btn-danger" type="button" data-bind="visible: Cancelar.visible,click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                    <i class="fal fa-x"></i><span data-bind="text: Cancelar.text"></span>
                </button>
                <button class="btn btn-primary" type="button" data-bind="visible: Reprocessar.visible,click: Reprocessar.eventClick, attr: { id: Reprocessar.id}">
                    <i class="fal fa-sync"></i><span data-bind="text: Reprocessar.text"></span>
                </button>

            </div>
        </div>
    </div>
</div>


<div id="divModalDetalhesAutorizacaoProvisao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDetalheAutorizacaoProvisao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Autorização</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Regra.text"></strong>

                                        <span data-bind="text: Regra.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>

                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Usuario.text"></strong>

                                        <span data-bind="text: Usuario.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Data.text"></strong>

                                        <span data-bind="text: Data.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Motivo.text"></strong>

                                        <span data-bind="text: Motivo.val"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalDetalhesAutorizacaoTransportador" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDetalheAutorizacaoTransportador" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Autorização</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Regra.text"></strong>

                                        <span data-bind="text: Regra.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>

                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Usuario.text"></strong>

                                        <span data-bind="text: Usuario.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Data.text"></strong>

                                        <span data-bind="text: Data.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Motivo.text"></strong>

                                        <span data-bind="text: Motivo.val"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="divModalNovoTermo" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutNovoTermoQuitacaoFinanceiro" class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0">
                <h4>    Informe os dados para gerar termo de quitação:</h4>
            </div>
            <div class="modal-body row pt-0">
                <div class="col-12  " data-bind="visible: Transportador.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: DataInicial.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataInicial.text"></label>
                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: DataFinal.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataFinal.text"></label>
                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-between mt-4">
                    <button class="btn btn-default" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                        <i class="fal fa-x"></i><span data-bind="text: Cancelar.text"></span>
                    </button>

                    <button class="btn btn-primary" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                        <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divModalGerenciarAnexos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anexos do Termo de Quitação</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutCadastroAnexos">
                <form class="mb-3" data-bind="visible: Anexos.visible">
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                            <label class="form-label" data-bind="text: Arquivo.text"></label>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" name="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.pdf,.xls,.xlsx,.doc,.docx" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                                <label data-bind="text: NomeArquivo.val, attr: { for: Arquivo.id }" class="custom-file-label"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                            </div>
                        </div>
                    </div>
                </form>
                <h4>@Localization.Resources.Gerais.Geral.ArquivosAnexados</h4>
                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Anexos.idGrid}"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalAdicionarMovimentacoes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar/Remover Contas a Pagar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row" id="knockoutMovimentacoesContaPagar">
                <table width="100%" class="col-12 table table-bordered table-hover" data-bind="attr: { id : Movimentacoes.idGrid}"></table>

                <div class="col-12 d-flex justify-content-between ">
                    <button class="btn btn-danger" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <div>
                        <button class="btn btn-default" type="button" data-bind="enable: AdicionarMovimentacoes.enable,click: AdicionarMovimentacoes.eventClick, attr: { id: AdicionarMovimentacoes.id}">
                            <span data-bind="text: AdicionarMovimentacoes.text"></span>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="enable: Atualizar.enable,click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                            <span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button class="btn btn-success" type="button" data-bind="enable: AtualizarTransportador.enable,click: AtualizarTransportador.eventClick, attr: { id: AtualizarTransportador.id}">
                            <span data-bind="text: AtualizarTransportador.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalNovasMovimentacaoes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Contas a Pagar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row" id="knockoutAdicionarMovimentacao">
                <div class="col-12 my-2 mx-0 d-flex justify-content-end">
                    <button class="btn btn-default ms-2" type="button" data-bind="visible: SelecionarTodos.visible, click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}">
                        <span data-bind="text: SelecionarTodos.text"></span>
                    </button>
                </div>
                <table width="100%" class="col-12 table table-bordered table-hover" data-bind="attr: { id : Movimentacoes.idGrid}"></table>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                        <i class="fal fa-x"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                        <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/termoQuitacaoFinanceiro"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadTermoQuitacaoFinanceiro();
    });

</script>
