
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Financeiro</li>
    <li class="breadcrumb-item active">Tipos de Movimentos</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Tipos de Movimentos
    </h1>
</div>

<div id="knockoutPesquisaTipoMovimento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Tipo de Movimento
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PlanoDebito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoDebito.text, attr: { for: PlanoDebito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PlanoDebito.requiredClass, value: PlanoDebito.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoDebito.text, maxlength: PlanoDebito.maxlength, id: PlanoDebito.id, name: PlanoDebito.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoDebito.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: PlanoCredito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PlanoCredito.text, attr: { for: PlanoCredito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: PlanoCredito.requiredClass, value: PlanoCredito.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoCredito.text, maxlength: PlanoCredito.maxlength, id: PlanoCredito.id, name: PlanoCredito.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoCredito.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item active" id="liTabCadastro">
                    <a href="#tabCadastro" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Formulário de Cadastro</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabCentroResultado">
                    <a href="#tabCentroResultado" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Centro de Resultado</span>
                    </a>
                </li>
                <li class="nav-item" style="display:none" id="liTabTipoDespesa">
                    <a href="#tabTipoDespesa" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Tipo de Despesa</span>
                    </a>
                </li>
                <li class="nav-item d-none" id="liTabExportacao">
                    <a href="#tabExportacao" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Exportação</span>
                    </a>
                </li>
            </ul>

            <div>
                <div id="tabsTipoMovimento">
                    <div class="tab-content border border-top-0 p-3">
                        <!-- Cadastro -->
                        <div class="tab-pane fade active show" id="tabCadastro" role="tabpanel">
                            <form id="knockoutCadastroTipoMovimento" novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                            <input type="text" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id: Descricao.id, name: Descricao.id, 'aria-label': Descricao.text }" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Ativo.text"></label>
                                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: PlanoDebito.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoDebito.text, attr: { for: PlanoDebito.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: PlanoDebito.requiredClass, value: PlanoDebito.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoDebito.text, maxlength: PlanoDebito.maxlength, id: PlanoDebito.id, name: PlanoDebito.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: PlanoDebito.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: PlanoCredito.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoCredito.text, attr: { for: PlanoCredito.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: PlanoCredito.requiredClass, value: PlanoCredito.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoCredito.text, maxlength: PlanoCredito.maxlength, id: PlanoCredito.id, name: PlanoCredito.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoCredito.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: PlanoDebitoSintetico.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoDebitoSintetico.text, attr: { for: PlanoDebitoSintetico.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: PlanoDebitoSintetico.requiredClass, value: PlanoDebitoSintetico.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoDebitoSintetico.text, maxlength: PlanoDebitoSintetico.maxlength, id: PlanoDebitoSintetico.id, name: PlanoDebitoSintetico.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoDebitoSintetico.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: PlanoCreditoSintetico.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoCreditoSintetico.text, attr: { for: PlanoCreditoSintetico.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: PlanoCreditoSintetico.requiredClass, value: PlanoCreditoSintetico.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoCreditoSintetico.text, maxlength: PlanoCreditoSintetico.maxlength, id: PlanoCreditoSintetico.id, name: PlanoCreditoSintetico.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoCreditoSintetico.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: FinalidadeTipoMovimento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: FinalidadeTipoMovimento.text"></label>
                                            <select class="form-control" data-bind="options: FinalidadeTipoMovimento.options, optionsText: 'text', optionsValue: 'value', value: FinalidadeTipoMovimento.val, attr: { id : FinalidadeTipoMovimento.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: Finalidades.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Finalidades.text"></label>
                                            <select class="form-control" data-bind="options: Finalidades.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Finalidades.val, attr: { id : Finalidades.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Banco.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Banco.text, attr: { for: Banco.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: Banco.requiredClass, value: Banco.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Banco.text, maxlength: Banco.maxlength, id: Banco.id, name: Banco.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Banco.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoHistorico.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoHistorico.text, attr: { for: CodigoHistorico.id }"></label>
                                            <input type="text" data-bind="css: CodigoHistorico.requiredClass, value: CodigoHistorico.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoHistorico.maxlength, id: CodigoHistorico.id, name: CodigoHistorico.id, 'aria-label': CodigoHistorico.text }" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                            <input type="text" data-bind="css: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id: CodigoIntegracao.id, name: CodigoIntegracao.id, 'aria-label': CodigoIntegracao.text }" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                            <textarea type="text" rows="5" class="form-group" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id: Observacao.id, name: Observacao.id, 'aria-label': Observacao.text }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: Exportar.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: Exportar.val, attr: { maxlength: Exportar.maxlength, name: Exportar.id, id: Exportar.id }">
                                                <label class="custom-control-label" data-bind="text: Exportar.text, attr: { for: Exportar.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12" data-bind="visible: NaoGerarRateioDeDespesaPorVeiculo.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: NaoGerarRateioDeDespesaPorVeiculo.val, attr: { maxlength: NaoGerarRateioDeDespesaPorVeiculo.maxlength, name: NaoGerarRateioDeDespesaPorVeiculo.id, id: NaoGerarRateioDeDespesaPorVeiculo.id }">
                                                <label class="custom-control-label" data-bind="text: NaoGerarRateioDeDespesaPorVeiculo.text, attr: { for: NaoGerarRateioDeDespesaPorVeiculo.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CodigoFinalidadeTED.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoFinalidadeTED.text, attr: { for: CodigoFinalidadeTED.id }"></label>
                                            <input type="text" data-bind="css: CodigoFinalidadeTED.requiredClass, value: CodigoFinalidadeTED.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoFinalidadeTED.maxlength, id: CodigoFinalidadeTED.id, name: CodigoFinalidadeTED.id, 'aria-label': CodigoFinalidadeTED.text }" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Centro Resultado-->
                        <div class="tab-pane fade" id="tabCentroResultado" role="tabpanel">

                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: CentroResultado.idGrid}" cellspacing="0"></table>

                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="button" data-bind="click: AdicionarCentroResultado.eventClick, visible: AdicionarCentroResultado.visible, attr: { id : AdicionarCentroResultado.id}">
                                                <span data-bind="text: AdicionarCentroResultado.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Tipo Despesa -->
                        <div class="tab-pane fade" id="tabTipoDespesa" role="tabpanel">

                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>

                            <form novalidate>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button data-bind="attr: { id: TipoDespesa.idBtnSearch}, visible: TipoDespesa.visible" class="btn btn-success botaoAdiconarMultiplosRegistros" type="button">
                                                <i class="fal fa-plus"></i> &nbsp;<span data-bind="text: TipoDespesa.text"></span>&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Exportação -->
                        <div class="tab-pane fade" id="tabExportacao" role="tabpanel">

                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>

                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Tipo.text"></label>
                                            <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: ContaContabil.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ContaContabil.text, attr: { for: ContaContabil.id }"></label>
                                            <input type="text" data-bind="css: ContaContabil.requiredClass, value: ContaContabil.val, valueUpdate: 'afterkeydown', attr: { maxlength: ContaContabil.maxlength, id: ContaContabil.id, name: ContaContabil.id, 'aria-label': ContaContabil.text }" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: PlanoConta.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: PlanoConta.text, attr: { for: PlanoConta.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: PlanoConta.requiredClass, value: PlanoConta.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': PlanoConta.text, maxlength: PlanoConta.maxlength, id: PlanoConta.id, name: PlanoConta.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: PlanoConta.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                            <div class="input-group">
                                                <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2" data-bind="visible: CodigoCentroResultado.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoCentroResultado.text, attr: { for: CodigoCentroResultado.id }"></label>
                                            <input type="text" data-bind="css: CodigoCentroResultado.requiredClass, value: CodigoCentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCentroResultado.maxlength, id: CodigoCentroResultado.id, name: CodigoCentroResultado.id, 'aria-label': CodigoCentroResultado.text }" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <footer id="knockoutCRUDTipoMovimento">
                    <div class="row mt-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div data-bind='component: {name: "import-file", params: { ko: Importar }}'></div>
                            <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/TipoMovimento"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadTipoMovimento();
    });

</script>

