
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gerenciamento de Irregularidades</li>
    <li class="breadcrumb-item active">Definição de Tratativa de Irregularidade</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Definições das Tratativas de Irregularidades
    </h1>
</div>

<div id="knockoutPesquisaDefinicaoTratativaIrregularidade">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Definições
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-5" data-bind="visible: PortfolioModuloControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortfolioModuloControle.text, attr: { for: PortfolioModuloControle.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortfolioModuloControle.requiredClass, value: PortfolioModuloControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortfolioModuloControle.maxlength, id : PortfolioModuloControle.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortfolioModuloControle.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-5" data-bind="visible: Irregularidade.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Irregularidade.text, attr: { for: Irregularidade.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Irregularidade.requiredClass, value: Irregularidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Irregularidade.maxlength, id : Irregularidade.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Irregularidade.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid }" cellspacing="0"></table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Definir Tratativas
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutDefinicaoTratativaIrregularidade" class="row">

                <div class="col-12 col-md-4" data-bind="visible: PortfolioModuloControle.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: PortfolioModuloControle.text, attr: { for: PortfolioModuloControle.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: PortfolioModuloControle.requiredClass, value: PortfolioModuloControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortfolioModuloControle.maxlength, id : PortfolioModuloControle.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortfolioModuloControle.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4" data-bind="visible: Irregularidade.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Irregularidade.text, attr: { for: Irregularidade.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Irregularidade.requiredClass, value: Irregularidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Irregularidade.maxlength, id : Irregularidade.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Irregularidade.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                    </div>
                </div>

                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">

                            <h3 class="card-title">Tratativas da Irregularidade</h3>

                        </div>
                        <div class="card-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: TratativasIrregularidade.idGrid }" cellspacing="0"></table>
                        </div>

                        <button class="btn btn-primary waves-effect waves-themed align-self-end col-2 m-3" type="button" data-bind="click: AdicionarTratativa.eventClick, enable: AdicionarTratativa.enable, visible: AdicionarTratativa.visible, attr: { id : AdicionarTratativa.id}">
                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarTratativa.text"></span>
                        </button>
                    </div>
                </div>

            </div>

            <footer id="knockoutCRUDDefinicaoTratativaIrregularidade">
                <div class="row mt-4">
                    <div class="col-6 justify-content-start">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Salvar.eventClick, visible: Salvar.visible, attr: { id : Salvar.id}">
                            <span data-bind="text: Salvar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<div class="modal fade" id="divAdicionarTratativa" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Definir Tratativa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutTratativasIrregularidade">

                    <ul class="nav nav-tabs">
                        <li class="active nav-item">
                            <a href="#tabDetalhes" class="nav-link active" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Detalhes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabAcoes" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Ações</span>
                            </a>
                        </li>
                        <li class="nav-item" data-bind="fadeVisible: TratativaIrregularidadeMotivos.required">
                            <a href="#tabMotivos" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet">Motivos</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade active show" id="tabDetalhes" role="tabpanel">
                            <form>
                                <div class="row">

                                    <div class="col-12 col-md-2" data-bind="visible: Sequencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Sequencia.text"></label>
                                            <input type="text" class="form-control" data-bind="class: Sequencia.requiredClass, value: Sequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sequencia.maxlength, id : Sequencia.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4" data-bind="visible: Setor.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Setor.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-2" data-bind="visible: ProximaSequencia.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: ProximaSequencia.text"></label>
                                            <input type="text" class="form-control" data-bind="class: ProximaSequencia.requiredClass, value: ProximaSequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProximaSequencia.maxlength, id : ProximaSequencia.id}" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4" data-bind="visible: GrupoOperacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoOperacao.text, attr: { for: GrupoOperacao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoOperacao.requiredClass, value: GrupoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoOperacao.maxlength, id : GrupoOperacao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12" data-bind="visible: InformarMotivo.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: InformarMotivo.val, attr: { maxlength: InformarMotivo.maxlength, name: InformarMotivo.id, id: InformarMotivo.id }">
                                                <label class="custom-control-label" data-bind="text: InformarMotivo.text, attr: { for: InformarMotivo.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="tabAcoes" role="tabpanel">
                            <h5 class="mb-3"> Ações permitidas para a Irregularidade informada: </h5>

                            <div class="row">
                                <!-- ko foreach: { data: TratativaIrregularidadeAcoes, as: 'Acao' } -->
                                <div class="col-12 col-md-6" data-bind="visible: Acao.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: Acao.val, attr: { maxlength: Acao.maxlength, name: Acao.id, id: Acao.id }">
                                            <label class="custom-control-label" data-bind="text: Acao.text, attr: { for: Acao.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tabMotivos" role="tabpanel">
                            <div class="col-12 col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">

                                        <h3 class="card-title">Motivos da Irregularidade</h3>
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TratativaIrregularidadeMotivos.idBtnSearch, text: TratativaIrregularidadeMotivos.text }">
                                            <i class="fal fa-plus"></i><span data-bind="text: TratativaIrregularidadeMotivos.text"></span>
                                        </button>

                                    </div>
                                    <div class="card-body">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: TratativaIrregularidadeMotivos.idGrid }" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 justify-content-end d-flex">
                            <button type="button" class="btn btn-primary" data-bind=" enable: Adicionar.enable, visible: Adicionar.visible, click: Adicionar.eventClick, attr: { id: Adicionar.idBtnSearch }">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                            <button type="button" class="btn btn-primary" data-bind="enable: Atualizar.enable, visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.idBtnSearch }">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/definicaoTratativasIrregularidade"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        LoadDefinicaoTratativaIrregularidade();
    });
</script>