
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gerenciamento de Irregularidades</li>
    <li class="breadcrumb-item">Irregularidades</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Irregularidade
    </h1>
</div>

<div id="knockoutPesquisaIrregularidade">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i>
                    <span>Pesquisar Irregularidade</span>
                </button>

                <div class="mt-2" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Sequencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Sequencia.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Sequencia.requiredClass, value: Sequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sequencia.maxlength, id : Sequencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                                    <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: PortfolioModuloControle.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortfolioModuloControle.text, attr: { for: PortfolioModuloControle.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: PortfolioModuloControle.requiredClass, value: PortfolioModuloControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortfolioModuloControle.maxlength, id : PortfolioModuloControle.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortfolioModuloControle.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: SeguirAprovacaoTranspPrimeiro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SeguirAprovacaoTranspPrimeiro.text, attr: { for: SeguirAprovacaoTranspPrimeiro.id }"></label>
                                    <select class="form-control" data-bind="class: SeguirAprovacaoTranspPrimeiro.requiredClass, options: SeguirAprovacaoTranspPrimeiro.options, optionsText: 'text', optionsValue: 'value', value: SeguirAprovacaoTranspPrimeiro.val, attr: { maxlength: SeguirAprovacaoTranspPrimeiro.maxlength, id : SeguirAprovacaoTranspPrimeiro.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Irregularidade
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutIrregularidade">
                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text"></label>
                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Sequencia.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Sequencia.text"></label>
                            <input type="text" class="form-control" data-bind="class: Sequencia.requiredClass, value: Sequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Sequencia.maxlength, id : Sequencia.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: CodigoIntegracao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoIntegracao.text"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoIntegracao.requiredClass, value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: PortfolioModuloControle.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PortfolioModuloControle.text, attr: { for: PortfolioModuloControle.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: PortfolioModuloControle.requiredClass, value: PortfolioModuloControle.val, valueUpdate: 'afterkeydown', attr: { maxlength: PortfolioModuloControle.maxlength, id : PortfolioModuloControle.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PortfolioModuloControle.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                            <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Gatilho.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Gatilho.text, attr: { for: Gatilho.id }"></label>
                            <select class="form-control" data-bind="class: Gatilho.requiredClass, options: Gatilho.options, optionsText: 'text', optionsValue: 'value', value: Gatilho.val, attr: { maxlength: Gatilho.maxlength, id : Gatilho.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: PercentualTolerancia.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PercentualTolerancia.text"></label>
                            <input type="text" class="form-control" data-bind="class: PercentualTolerancia.requiredClass, value: PercentualTolerancia.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualTolerancia.maxlength, id : PercentualTolerancia.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: ValorTolerancia.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorTolerancia.text"></label>
                            <input type="text" class="form-control" data-bind="class: ValorTolerancia.requiredClass, value: ValorTolerancia.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorTolerancia.maxlength, id : ValorTolerancia.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: SeguirAprovacaoTranspPrimeiro.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: SeguirAprovacaoTranspPrimeiro.val, attr: { maxlength: SeguirAprovacaoTranspPrimeiro.maxlength, name: SeguirAprovacaoTranspPrimeiro.id, id: SeguirAprovacaoTranspPrimeiro.id }">
                                <label class="custom-control-label" data-bind="text: SeguirAprovacaoTranspPrimeiro.text, attr: { for: SeguirAprovacaoTranspPrimeiro.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer id="knockoutCRUDIrregularidade">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger me-2" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                            <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="~/scripts/irregularidade"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {

        loadIrregularidade();
    });

</script>
