body {
    background-color: #fefeff;
    color: #5a627b;
}

.text-primary {
    color: #475999 !important;
}

.text-default {
    color: #fcfcfc !important;
}

.font-weight-bold {
    font-weight: bold;
}