:root {
    --cor-primaria-login-container: #475999;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Roboto-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #f9faff;
    font-family: 'Roboto', sans-serif;
}

.container-login {
    color: #fcfcfc;
}

    .container-login h1 {
        font-weight: bold;
        margin: 0;
    }

    .container-login h2 {
        margin: 10px 0;
    }

    .container-login > div {
        width: 100%;
    }

    .container-login .form-control {
        margin: 20px 0;
        padding: 10px;
        border-radius: 9px;
    }

    .container-login .btn-sign-in {
        background-color: transparent;
        border: 1px solid #fcfcfc;
        display: block;
        width: 50%;
    }

.login-container {
    background: linear-gradient(to left, var(--cor-primaria-login-container) 50%, #f1f2f9 50%);
    height: 100vh;
}

    .login-container > .container,
    .login-container > .container .row {
        height: 100%;
    }

@media(max-width: 767px) {
    .login-container {
        background: #f1f2f9;
        padding-top: 50px;
        height: auto;
    }

    .container-login {
        background: var(--cor-primaria-login-container);
        margin: 50px 0;
        padding: 25px;
        border-radius: 9px;
    }
}


.page-info-container {
    min-height: 100vh;
    padding: 100px 0;
}

    .page-info-container .text-about-container {
        margin: 50px 0;
    }

    .page-info-container .about-images-malha {
        float: right;
    }

    .page-info-container .container-about-images img {
        margin: 5px;
    }

@media(max-width: 991px) {
    .page-info-container .text-about-container {
        margin-bottom: 25px;
    }

    .page-info-container .container-about-images {
        margin-bottom: 25px;
        display: inline-block;
    }

    .page-info-container .about-images-malha {
        float: none;
    }
}

.page-info-container .boxes {
    margin: 50px 0;
}

.page-info-container .box {
    background-color: var(--cor-primaria-login-container);
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 30px 15px;
    min-height: 330px;
}

@media(max-width: 1199px) {
    .page-info-container .box {
        min-height: 355px;
    }
}

@media(max-width: 991px) {
    .page-info-container .box {
        min-height: initial;
    }
}

@media(max-width: 767px) {
    .page-info-container {
        padding: 50px 0 0 0;
    }

        .page-info-container .boxes {
            margin: 15px 0;
        }
}

.page-info-container .box-image {
    text-align: center;
    width: 90px;
    height: 90px;
    background-color: #EFF3FF;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 85px;
}

.page-info-container .box-name {
    margin: 15px 0;
}



.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fefeff;
    padding: 15px 0;
}

@media(max-width: 767px) {
    .footer-fixed {
        position: initial;
        text-align: center;
    }
}
