<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Operacional</li>
        <li class="breadcrumb-item">Configuração Operadores</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Configuração de Operadores
        </h1>
    </div>
    <div class="panel row" id="divConteudoRelatorio">
        <div class="panel-container ">
            <div>
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div>
                                        <div>
                                            <div class="smart-form">
                                                <section>
                                                    <div class="well">
                                                        <div class="panel-hdr">
                                                            <h3>Filtros de Pesquisa</h3>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div id="knockoutPesquisaConfiguracaoOperadores">
                                                                <div class="row">
                                                                    @*FILTROS PESQUISA*@
                                                                    <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Usuario.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: TipoCarga.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="divConfigRelatorio">
                                                            </div>
                                                            <footer class="no-padding">
                                                                <div class="row">
                                                                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-3">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                                                                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="knockoutCRUDFiltrosPesquisaConfiguracaoOperadores" class="col-12 col-md-9 d-flex justify-content-md-end">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                                                                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div>
                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                                        </div>
                                    </div>
                                    <div>
                                        <footer class="no-padding">
                                            <div id="knockoutCRUDPesquisaConfiguracaoOperadores" class="d-flex justify-content-md-end mt-3 mb-3 me-3">
                                                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                                                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                                                </button>
                                                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                                                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                                                </button>
                                            </div>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/configuracaoOperadores"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConfiguracaoOperadores();
    });

</script>