
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Transportadores</li>
        <li class="breadcrumb-item active">Alteração Massa</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Alteração em Massa
        </h1>
    </div>

    <div id="knockoutAlteracaoMassa">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-truck"></i>
                        Transportadores
                    </h3>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <button class="btn btn-primary waves-effect waves-themed mb-2" type="button" data-bind="attr: { id: AdicionarTransportador.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: AdicionarTransportador.text"></span>
                            </button>
                            <table width="100%" data-bind="attr: { id: Transportadores.idGrid }" class="table table-bordered table-hover" cellspacing="0"></table>
                        </div>
                        <div class="col-12 col-md-12 mt-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        Alterações
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-12" data-bind="visible: LiberacaoParaPagamentoAutomatico.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: LiberacaoParaPagamentoAutomatico.val, attr: { maxlength: LiberacaoParaPagamentoAutomatico.maxlength, name: LiberacaoParaPagamentoAutomatico.id, id: LiberacaoParaPagamentoAutomatico.id }">
                                                    <label class="custom-control-label" data-bind="text: LiberacaoParaPagamentoAutomatico.text, attr: { for: LiberacaoParaPagamentoAutomatico.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-3">
                        <span data-bind='component: {name: "import-file", params: { ko: ImportarPlanilha }}' class="pull-left" style="margin-left: 5px;"></span>
                        <button type="button" class="btn btn-labeled btn-default ms-2" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-2" data-bind="click: Enviar.eventClick, visible: Enviar.visible, attr: { id : Enviar.id}">
                            <i class="fal fa-check"></i>
                            <span data-bind="text: Enviar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/alteracaoMassa"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadAlteracaoMassa();
    });
</script>

