

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Gestão Transportador</li>
    <li class="breadcrumb-item active">Autorização de Token</li>
</ol>
<div class="subheader">
    <h1 id="lblTitle" class="subheader-title">
        Autorização de Token
    </h1>
</div>


<div id="knockoutPesquisaAutorizacaoToken">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i><span data-bind="text:ExibirFiltros.text"></span>
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <div class="row">
                        <div class="col-12 col-md-3" data-bind="visible: NumeroProtocolo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NumeroProtocolo.text"></label>
                                <input type="text" class="form-control" data-bind="class: NumeroProtocolo.requiredClass, value: NumeroProtocolo.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroProtocolo.maxlength, id : NumeroProtocolo.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataInicioVigencia.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicioVigencia.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicioVigencia.requiredClass, value: DataInicioVigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicioVigencia.maxlength, id : DataInicioVigencia.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFimVigencia.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFimVigencia.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFimVigencia.requiredClass, value: DataFimVigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFimVigencia.maxlength, id : DataFimVigencia.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: EtapaAutorizacao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EtapaAutorizacao.text, attr: { for: EtapaAutorizacao.id }"></label>
                                <select class="form-control" data-bind="class: EtapaAutorizacao.requiredClass, options: EtapaAutorizacao.options, optionsText: 'text', optionsValue: 'value', value: EtapaAutorizacao.val, attr: { maxlength: EtapaAutorizacao.maxlength, id : EtapaAutorizacao.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Prioridade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Prioridade.text, attr: { for: Prioridade.id }"></label>
                                <select class="form-control" data-bind="class: Prioridade.requiredClass, options: Prioridade.options, optionsText: 'text', optionsValue: 'value', value: Prioridade.val, attr: { maxlength: Prioridade.maxlength, id : Prioridade.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: Usuario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="subheader">
    <h1 id="lblTitle" class="subheader-title">
        Tokens
    </h1>
</div>
<div id="knockoutAutorizacacoesToken">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <div class="row">
                    <div class="col-12">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: TokensGrid.idGrid}" cellspacing="0"></table>
                    </div>
                    <div class="d-flex gap-2 justify-content-end">

                        <button class="btn btn-danger " data-bind="visible: Rejeitar.visible, click: Rejeitar.eventClick, attr: { id: Rejeitar.id}" type="button">
                            <span data-bind="text: Rejeitar.text"></span>
                        </button>
                        <button class="btn btn-primary " data-bind="visible: Autorizar.visible, click: Autorizar.eventClick, attr: { id: Autorizar.id}" type="button">
                            <span data-bind="text: Autorizar.text"></span>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div id="divModalDetalheToken" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da Solicitação do Token</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutDetalhesToken" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Token</span>
                        </a>
                    </li>
                    <li class="nav-item " id="liTransportadoresAutorizacao">
                        <a href="#knockoutTransportadoresAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Transportadores</span>
                        </a>
                    </li>
                    <li class="nav-item " id="liAutorizacao">
                        <a href="#knockoutAutorizacaoToken" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Autorização</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="knockoutDetalhesToken" class="tab-pane fade active show">
                        <h4>Detalhes</h4>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <b class="pe-1" data-bind="text: NumeroProtocolo.text"></b>
                                <span data-bind="text: NumeroProtocolo.val"></span>
                            </div>

                            <div class="col-12 col-md-6">
                                <b class="pe-1" data-bind="text: EtapaAutorizacao.text"></b>
                                <span data-bind="text: EtapaAutorizacao.val"></span>
                            </div>


                            <div class="col-12 col-md-6">
                                <b class="pe-1" data-bind="text: DataInicioVigencia.text"></b>
                                <span data-bind="text: DataInicioVigencia.val"></span>
                            </div>

                            <div class="col-12 col-md-6">
                                <b class="pe-1" data-bind="text: DataFimVigencia.text"></b>
                                <span data-bind="text: DataFimVigencia.val"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="col-12 col-md-12">
                            <h4>Métodos Solicitados</h4>
                            <div class="row">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridMetodosSolicitados.id }" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutTransportadoresAutorizacao" class="tab-pane fade">
                        <h4>Transportadores</h4>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.id}" cellspacing="0"></table>
                    </div>
                    <div id="knockoutAutorizacaoToken" class="tab-pane fade ">
                        <h4>Regras</h4>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                                </div>
                            </div>
                            <div data-bind="visible: Rejeitar.visible">
                                <button class="btn btn-default" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { id: Rejeitar.id}">
                                    <span data-bind="text: Rejeitar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>
                            <footer data-bind="visible: (AprovarTodas.visible())">
                                <div class="col-12 d-flex justify-content-end">

                                    <button class="btn btn-success" type="button" data-bind="visible: AprovarTodas.visible, click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                        <span data-bind="text: AprovarTodas.text"></span>
                                    </button>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
                </div>
            </div>
      </div>
</div>

<div class="modal fade" id="divModalMotivoRejeicaoAutorizacao" role="dialog" aria-hidden="true">
    <div id="knockoutMotivoRejeicaoAutorizacao" class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Motivo Rejeição</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Motivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Adicionar.eventClick, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/scripts/tokenTransportador"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        LoadTokenTransportador()
    });

</script>
