
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Transportadores</li>
    <li class="breadcrumb-item active">Dados Transportador</li>
</ol>

<div class="subheader">
    <h1 id="lblTitle" class="subheader-title">
    </h1>
</div>


<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastro Transportador
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroTransportador">

                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: RazaoSocial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RazaoSocial.text, attr: { for: RazaoSocial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: RazaoSocial.requiredClass, value: RazaoSocial.val, valueUpdate: 'afterkeydown', attr: { maxlength: RazaoSocial.maxlength, id : RazaoSocial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: NomeFantasia.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NomeFantasia.text, attr: { for: NomeFantasia.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NomeFantasia.requiredClass, value: NomeFantasia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeFantasia.maxlength, id : NomeFantasia.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TipoEmpresa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoEmpresa.text, attr: { for: TipoEmpresa.id }"></label>
                                <select class="form-control" data-bind="enable: TipoEmpresa.enable, class: TipoEmpresa.requiredClass, options: TipoEmpresa.options, optionsText: 'text', optionsValue: 'value', value: TipoEmpresa.val, attr: { maxlength: TipoEmpresa.maxlength, id : TipoEmpresa.id}, event : {change : TipoEmpresa.eventChange}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: InscricaoEstadual.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: InscricaoEstadual.text, attr: { for: InscricaoEstadual.id }"></label>
                                <input type="text" class="form-control" data-bind="class: InscricaoEstadual.requiredClass, value: InscricaoEstadual.val, valueUpdate: 'afterkeydown', attr: { maxlength: InscricaoEstadual.maxlength, id : InscricaoEstadual.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: InscricaoMunicipal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: InscricaoMunicipal.text, attr: { for: InscricaoMunicipal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: InscricaoMunicipal.requiredClass, value: InscricaoMunicipal.val, valueUpdate: 'afterkeydown', attr: { maxlength: InscricaoMunicipal.maxlength, id : InscricaoMunicipal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible : RegistroANTT.visible, attr: { class: RegistroANTT.cssClass}">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegistroANTT.text, attr: { for: RegistroANTT.id }"></label>
                                <input type="text" class="form-control" data-bind="class: RegistroANTT.requiredClass, value: RegistroANTT.val, valueUpdate: 'afterkeydown', attr: { maxlength: RegistroANTT.maxlength, id : RegistroANTT.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: Localidade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Localidade.text, attr: { for: Localidade.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Localidade.requiredClass, value: Localidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Localidade.maxlength, id : Localidade.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Localidade.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Endereco.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Endereco.text, attr: { for: Endereco.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Endereco.requiredClass, value: Endereco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Endereco.maxlength, id : Endereco.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Bairro.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Bairro.text, attr: { for: Bairro.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Bairro.requiredClass, value: Bairro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Bairro.maxlength, id : Bairro.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Complemento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Complemento.text, attr: { for: Complemento.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Complemento.requiredClass, value: Complemento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Complemento.maxlength, id : Complemento.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Telefone.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Telefone.text, attr: { for: Telefone.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Telefone.requiredClass, value: Telefone.val, valueUpdate: 'afterkeydown', attr: { maxlength: Telefone.maxlength, id : Telefone.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: CEP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CEP.text, attr: { for: CEP.id }"></label>
                                <input type="text" class="form-control" data-bind="class: CEP.requiredClass, value: CEP.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEP.maxlength, id : CEP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Contato.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Contato.text, attr: { for: Contato.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Contato.requiredClass, value: Contato.val, valueUpdate: 'afterkeydown', attr: { maxlength: Contato.maxlength, id : Contato.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TelefoneContato.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TelefoneContato.text, attr: { for: TelefoneContato.id }"></label>
                                <input type="text" class="form-control" data-bind="class: TelefoneContato.requiredClass, value: TelefoneContato.val, valueUpdate: 'afterkeydown', attr: { maxlength: TelefoneContato.maxlength, id : TelefoneContato.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: NomeContador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NomeContador.text, attr: { for: NomeContador.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NomeContador.requiredClass, value: NomeContador.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeContador.maxlength, id : NomeContador.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: TelefoneContador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TelefoneContador.text, attr: { for: TelefoneContador.id }"></label>
                                <input type="text" class="form-control" data-bind="class: TelefoneContador.requiredClass, value: TelefoneContador.val, valueUpdate: 'afterkeydown', attr: { maxlength: TelefoneContador.maxlength, id : TelefoneContador.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: CRCContador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CRCContador.text, attr: { for: CRCContador.id }"></label>
                                <input type="text" class="form-control" data-bind="class: CRCContador.requiredClass, value: CRCContador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CRCContador.maxlength, id : CRCContador.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: CNAE.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CNAE.text, attr: { for: CNAE.id }"></label>
                                <input type="text" class="form-control" data-bind="class: CNAE.requiredClass, value: CNAE.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNAE.maxlength, id : CNAE.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Suframa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Suframa.text, attr: { for: Suframa.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Suframa.requiredClass, value: Suframa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Suframa.maxlength, id : Suframa.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: FusoHorario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FusoHorario.text, attr: { for: FusoHorario.id }"></label>
                                <select class="form-control" data-bind="class: FusoHorario.requiredClass, options: FusoHorario.options, optionsText: 'text', optionsValue: 'value', value: FusoHorario.val, attr: { maxlength: FusoHorario.maxlength, id : FusoHorario.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Setor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Setor.text, attr: { for: Setor.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Setor.requiredClass, value: Setor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Setor.maxlength, id : Setor.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: RegimenTributario.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegimenTributario.text, attr: { for: RegimenTributario.id }"></label>
                                <select class="form-control" data-bind="class: RegimenTributario.requiredClass, options: RegimenTributario.options, optionsText: 'text', optionsValue: 'value', value: RegimenTributario.val, attr: { maxlength: RegimenTributario.maxlength, id : RegimenTributario.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: RegimeEspecial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegimeEspecial.text, attr: { for: RegimeEspecial.id }"></label>
                                <select class="form-control" data-bind="class: RegimeEspecial.requiredClass, options: RegimeEspecial.options, optionsText: 'text', optionsValue: 'value', value: RegimeEspecial.val, attr: { maxlength: RegimeEspecial.maxlength, id : RegimeEspecial.id}"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: OptanteSimplesNacional.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: OptanteSimplesNacional.val, attr: { maxlength: OptanteSimplesNacional.maxlength, name: OptanteSimplesNacional.id, id: OptanteSimplesNacional.id }">
                                        <label class="custom-control-label" data-bind="text: OptanteSimplesNacional.text, attr: { for: OptanteSimplesNacional.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: Email.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Email.text, attr: { for: Email.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Email.requiredClass, value: Email.val, valueUpdate: 'afterkeydown', attr: { maxlength: Email.maxlength}" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EnviarEmail.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmail.val, attr: { maxlength: EnviarEmail.maxlength, name: EnviarEmail.id, id: EnviarEmail.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmail.text, attr: { for: EnviarEmail.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: EmailAdministrativo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EmailAdministrativo.text, attr: { for: EmailAdministrativo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EmailAdministrativo.requiredClass, value: EmailAdministrativo.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailAdministrativo.maxlength }" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EmailAdministrativo.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmailAdministrativo.val, attr: { maxlength: EnviarEmailAdministrativo.maxlength, name: EnviarEmailAdministrativo.id, id: EnviarEmailAdministrativo.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmailAdministrativo.text, attr: { for: EnviarEmailAdministrativo.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: EmailContador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EmailContador.text, attr: { for: EmailContador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EmailContador.requiredClass, value: EmailContador.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailContador.maxlength }" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EmailContador.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmailContador.val, attr: { maxlength: EnviarEmailContador.maxlength, name: EnviarEmailContador.id, id: EnviarEmailContador.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmailContador.text, attr: { for: EnviarEmailContador.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <footer id="knockoutCRUDTransportador" class="mt-2 ">
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6 d-flex justify-content-end ">
                            <button class="btn btn-default me-2" type="button" data-bind="visible: Cancelar.visible, click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-bind="visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/dadosTransportador"></script>
<script type="text/javascript">

    pageSetUp();

    _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.ConfiguracoesTransportador));

    $(document).ready(function ()
    {LoadLocalizationResources(["Transportadores.Transportador", "Transportadores.FTP"]).then(loadDadosCadastraisTransportador);
    });
</script>

<style>
    .smart-form .input-file .botao-arquivo input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100px;
    }

    .smart-form .input-file-botao-arquivo {
        float: left;
        margin-right: 5px;
    }

    .img-empresa {
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        max-width: 100%;
    }

    .sem-imagem .img-empresa {
        height: 116px;
        background-image: url('img/sem_foto.jpg');
        background-position: center;
        background-size: contain;
        max-width: 175px;
    }

    .clasEditar {
        color: #373737;
        font-weight: 500;
    }

        .clasEditar:hover {
            color: #616161;
        }
</style>
