
<div style="width: 0 !important; height: 0 !important; opacity: 0 !important; overflow: hidden !important;">
    <input id="txtValidacaoAutocompleteGoogleChrome1" type="email">
    <input id="txtValidacaoAutocompleteGoogleChrome2" type="text">
    <input id="txtValidacaoAutocompleteGoogleChrome3" type="password">
</div>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Transportadores</li>
    <li class="breadcrumb-item active">Gestão Transportador</li>
</ol>
<div class="subheader">
    <h1 id="lblTitle" class="subheader-title">
    </h1>
</div>
<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs" id="tabTransportador">
                <li class="nav-item" id="liTabCadastro">
                    <a href="#tabTransportadorContent #knockoutCadastroTransportador" class="nav-link active" data-bs-toggle="tab">
                        <i class="fas fa-edit"></i><span class="hidden-mobile hidden-tablet">Transportador</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabCertificado">
                    <a href="#tabTransportadorContent #tabCertificado" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-certificate"></i><span class="hidden-mobile hidden-tablet">Certificado</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabSeguros">
                    <a href="#tabTransportadorContent #tabSeguros" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-lock-alt"></i><span class="hidden-mobile hidden-tablet">Seguros</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabCTEMDF">
                    <a href="#tabTransportadorContent #tabCTEMDF" class="nav-link" data-bs-toggle="tab">
                        <i class="fas fa-cog"></i><span class="hidden-mobile hidden-tablet"> CT-e / MDF-e</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabConfiguracaoNFSe">
                    <a href="#tabTransportadorContent #tabConfiguracaoNFSe" class="nav-link" data-bs-toggle="tab">
                        <i class="fas fa-code"></i><span class="hidden-mobile hidden-tablet">NFS-e</span>
                    </a>
                </li>
                <li class="nav-item" id="liTabSeries">
                    <a href="#tabTransportadorContent #tabCadastroSerie" class="nav-link" data-bs-toggle="tab">
                        <i class="fas fa-list-ul"></i><span class="hidden-mobile hidden-tablet">Series</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content border border-top-0 p-3" id="tabTransportadorContent">
                <div class="tab-pane fade show active" id="knockoutCadastroTransportador" role="tabpanel">
                    <div class="panel-heading">
                        <h4>Cadastrar Transportador</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" data-bind="visible: RazaoSocial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RazaoSocial.text, attr: { for: RazaoSocial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: RazaoSocial.requiredClass, value: RazaoSocial.val, valueUpdate: 'afterkeydown', attr: { maxlength: RazaoSocial.maxlength, id : RazaoSocial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: NomeFantasia.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NomeFantasia.text, attr: { for: NomeFantasia.id }"></label>
                                <input type="text" class="form-control" data-bind="class: NomeFantasia.requiredClass, value: NomeFantasia.val, valueUpdate: 'afterkeydown', attr: { maxlength: NomeFantasia.maxlength, id : NomeFantasia.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: CNPJ.visible()">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CNPJ.text, attr: { for: CNPJ.id }"></label>
                                <input type="text" class="form-control" data-bind="enable: CNPJ.enable, class: CNPJ.requiredClass, value: CNPJ.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJ.maxlength, id : CNPJ.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: InscricaoEstadual.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: InscricaoEstadual.text, attr: { for: InscricaoEstadual.id }"></label>
                                <input type="text" class="form-control" data-bind="class: InscricaoEstadual.requiredClass, value: InscricaoEstadual.val, valueUpdate: 'afterkeydown', attr: { maxlength: InscricaoEstadual.maxlength, id : InscricaoEstadual.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: InscricaoMunicipal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: InscricaoMunicipal.text, attr: { for: InscricaoMunicipal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: InscricaoMunicipal.requiredClass, value: InscricaoMunicipal.val, valueUpdate: 'afterkeydown', attr: { maxlength: InscricaoMunicipal.maxlength, id : InscricaoMunicipal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible : RegistroANTT.visible, attr: { class: RegistroANTT.cssClass}">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: RegistroANTT.text, attr: { for: RegistroANTT.id }"></label>
                                <input type="text" class="form-control" data-bind="class: RegistroANTT.requiredClass, value: RegistroANTT.val, valueUpdate: 'afterkeydown', attr: { maxlength: RegistroANTT.maxlength, id : RegistroANTT.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Localidade.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Localidade.text, attr: { for: Localidade.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Localidade.requiredClass, value: Localidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Localidade.maxlength, id : Localidade.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Localidade.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Endereco.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Endereco.text, attr: { for: Endereco.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Endereco.requiredClass, value: Endereco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Endereco.maxlength, id : Endereco.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Bairro.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Bairro.text, attr: { for: Bairro.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Bairro.requiredClass, value: Bairro.val, valueUpdate: 'afterkeydown', attr: { maxlength: Bairro.maxlength, id : Bairro.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Complemento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Complemento.text, attr: { for: Complemento.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Complemento.requiredClass, value: Complemento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Complemento.maxlength, id : Complemento.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: Telefone.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Telefone.text, attr: { for: Telefone.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Telefone.requiredClass, value: Telefone.val, valueUpdate: 'afterkeydown', attr: { maxlength: Telefone.maxlength, id : Telefone.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: CEP.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: CEP.text, attr: { for: CEP.id }"></label>
                                <input type="text" class="form-control" data-bind="class: CEP.requiredClass, value: CEP.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEP.maxlength, id : CEP.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: Email.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Email.text, attr: { for: Email.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Email.requiredClass, value: Email.val, valueUpdate: 'afterkeydown', attr: { maxlength: Email.maxlength}" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EnviarEmail.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmail.val, attr: { maxlength: EnviarEmail.maxlength, name: EnviarEmail.id, id: EnviarEmail.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmail.text, attr: { for: EnviarEmail.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: EmailAdministrativo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EmailAdministrativo.text, attr: { for: EmailAdministrativo.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EmailAdministrativo.requiredClass, value: EmailAdministrativo.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailAdministrativo.maxlength }" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EmailAdministrativo.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmailAdministrativo.val, attr: { maxlength: EnviarEmailAdministrativo.maxlength, name: EnviarEmailAdministrativo.id, id: EnviarEmailAdministrativo.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmailAdministrativo.text, attr: { for: EnviarEmailAdministrativo.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: EmailContador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: EmailContador.text, attr: { for: EmailContador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: EmailContador.requiredClass, value: EmailContador.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailContador.maxlength }" />
                                    <div class="input-group-append">
                                        <div data-bind="visible: EmailContador.visible">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarEmailContador.val, attr: { maxlength: EnviarEmailContador.maxlength, name: EnviarEmailContador.id, id: EnviarEmailContador.id }">
                                                    <label class="custom-control-label  w-0 h-0" data-bind="text: EnviarEmailContador.text, attr: { for: EnviarEmailContador.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabCertificado" role="tabpanel">
                    <div class="panel-heading">
                        <h4>Cadastrar Certificado</h4>
                    </div>
                    <div class="row" id="knockoutCertificado">
                        <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible" style="margin-top: 5px;">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val">Selecione um Certificado Digital</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: SerieCertificado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SerieCertificado.text, attr: { for: SerieCertificado.id }"></label>
                                <input type="text" class="form-control" data-bind="class: SerieCertificado.requiredClass, value: SerieCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieCertificado.maxlength, id : SerieCertificado.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Senha.visible" style="margin-top: 7px;">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 0px; margin-top: 1px;" data-bind="text: Senha.text"></label>
                                <input type="password" class="form-control" style="margin-top: 0px;" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <button class="btn btn-success" type="button" data-bind="click: Enviar.eventClick, attr: { id: Enviar.id}, visible: Enviar.visible">
                                    <span data-bind="text: Enviar.text"></span>
                                </button>
                                <button class="btn btn-success" type="button" data-bind="click: Baixar.eventClick, attr: { id: Baixar.id}, visible: Baixar.visible">
                                    <span data-bind="text: Baixar.text"></span>
                                </button>
                                <button class="btn btn-danger" type="button" data-bind="click: Remover.eventClick, attr: { id: Remover.id}, visible: Remover.visible">
                                    <span data-bind="text: Remover.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabSeguros" role="tabpanel">
                    <div class="panel-heading">
                        <h4>Cadastrar Tipo de Operações e suas Averbações</h4>
                    </div>
                    <div class="row" id="knockoutSeguros" role="tabpanel">
                        <div class="row" id="anexo-container">

                            <div class="custom-control custom-switch mb-3 ms-3 mt-2">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarTipoOperacaoApolice.val, attr: { name: UsarTipoOperacaoApolice.id, id: UsarTipoOperacaoApolice.id }">
                                <label class="custom-control-label" data-bind="text: UsarTipoOperacaoApolice.text, attr: { for: UsarTipoOperacaoApolice.id }"></label>
                            </div>
                            <div class="row" data-bind="fadeVisible: UsarTipoOperacaoApolice.val()">
                                <div class="col-12 col-md-6" data-bind="fadeVisible: UsarTipoOperacaoApolice.val()">
                                    <div class="card" data-bind="visible: Apolices.visible">
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Apolices.idGrid }" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="fadeVisible: UsarTipoOperacaoApolice.val()">
                                    <div class="card">
                                        <div class="card-body row">
                                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Apolice.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Apolice.text, attr: { for: Apolice.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Apolice.requiredClass, value: Apolice.val, valueUpdate: 'afterkeydown', attr: { maxlength: Apolice.maxlength, id : Apolice.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Apolice.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <button class="btn btn-success" type="button" data-loading-text="Aguarde" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                                    <span data-bind="text: Adicionar.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabCTEMDF" role="tabpanel">
                    <div class="row" id="knockoutCtemdfe">
                        <div class="col-12 col-md-4" data-bind="visible: SerieIntraestadual.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SerieIntraestadual.text, attr: { for: SerieIntraestadual.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SerieIntraestadual.requiredClass, value: SerieIntraestadual.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieIntraestadual.maxlength, id : SerieIntraestadual.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SerieIntraestadual.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SerieInterestadual.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SerieInterestadual.text, attr: { for: SerieInterestadual.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SerieInterestadual.requiredClass, value: SerieInterestadual.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieInterestadual.maxlength, id : SerieInterestadual.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SerieInterestadual.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: SerieMDFe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SerieMDFe.text, attr: { for: SerieMDFe.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: SerieMDFe.requiredClass, value: SerieMDFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieMDFe.maxlength, id : SerieMDFe.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SerieMDFe.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: documentoFretes.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: documentoFretes.text, attr: { for: documentoFretes.id }"></label>
                                <select class="form-control" data-bind="class: documentoFretes.requiredClass, options: documentoFretes.options, optionsText: 'text', optionsValue: 'value', value: documentoFretes.val, attr: { maxlength: documentoFretes.maxlength, id : documentoFretes.id}"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: tempoEmissao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: tempoEmissao.text"></label>
                                <input type="text" class="form-control" data-bind="class: tempoEmissao.requiredClass, value: tempoEmissao.val, valueUpdate: 'afterkeydown', attr: { maxlength: tempoEmissao.maxlength, id : tempoEmissao.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: aliquotaPIS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: aliquotaPIS.text"></label>
                                <input type="text" class="form-control" data-bind="class: aliquotaPIS.requiredClass, value: aliquotaPIS.val, valueUpdate: 'afterkeydown', attr: { maxlength: aliquotaPIS.maxlength, id : aliquotaPIS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: aliquotaCOFINS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: aliquotaCOFINS.text"></label>
                                <input type="text" class="form-control" data-bind="class: aliquotaCOFINS.requiredClass, value: aliquotaCOFINS.val, valueUpdate: 'afterkeydown', attr: { maxlength: aliquotaCOFINS.maxlength, id : aliquotaCOFINS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: fraseNFS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: fraseNFS.text"></label>
                                <input type="text" class="form-control" data-bind="class: fraseNFS.requiredClass, value: fraseNFS.val, valueUpdate: 'afterkeydown', attr: { maxlength: fraseNFS.maxlength, id : fraseNFS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: senhaPrefeitura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: senhaPrefeitura.text"></label>
                                <input type="password" class="form-control" data-bind="class: senhaPrefeitura.requiredClass, value: senhaPrefeitura.val, valueUpdate: 'afterkeydown', attr: { maxlength: senhaPrefeitura.maxlength, id : senhaPrefeitura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: quantidadeEmailRPS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: quantidadeEmailRPS.text"></label>
                                <input type="text" class="form-control" data-bind="class: quantidadeEmailRPS.requiredClass, value: quantidadeEmailRPS.val, valueUpdate: 'afterkeydown', attr: { maxlength: quantidadeEmailRPS.maxlength, id : quantidadeEmailRPS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: aliquotaICMS.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: aliquotaICMS.text"></label>
                                <input type="text" class="form-control" data-bind="class: aliquotaICMS.requiredClass, value: aliquotaICMS.val, valueUpdate: 'afterkeydown', attr: { maxlength: aliquotaICMS.maxlength, id : aliquotaICMS.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: observacaoCTe.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: observacaoCTe.text, attr: { for: observacaoCTe.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: observacaoCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: observacaoCTe.maxlength, id : observacaoCTe.id }"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabConfiguracaoNFSe" role="tabpanel">
                    <div class="tab-pane fade active show" id="tabConfiguracaoNFSeAutomatico" role="tabpanel">
                        <div class="panel-content" id="knockoutPesquisaConfiguracaoNFE">
                            <h4 class="panel-heading d-flex align-items-center">
                                <i class="fal fa-search"></i>
                                Pesquisa Configuração NFS-e
                            </h4>
                            <form>
                                <div class="row">
                                    <div class="col-12 col-md-6" data-bind="visible: Servico.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Servico.text, attr: { for: Servico.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: Servico.requiredClass, value: Servico.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servico.maxlength, id : Servico.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Servico.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: LocalidadePrestacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: LocalidadePrestacao.text, attr: { for: LocalidadePrestacao.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: LocalidadePrestacao.requiredClass, value: LocalidadePrestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadePrestacao.maxlength, id : LocalidadePrestacao.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadePrestacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <div class="row">
                                        <div class="col-6">

                                        </div>
                                        <div class="col-6 d-flex justify-content-end">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </footer>
                            </form>
                        </div>
                        <div class="row" id="knoutConfiguracaoNFSe">
                            <div class="panel-heading"> <h4>Configuração NFS-e</h4></div>
                            <table class="table table-bordered table-hover" data-bind="attr: {id: Grid.idGrid}" cellspacing="0"></table>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: LocalidadePrestacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: LocalidadePrestacao.text, attr: { for: LocalidadePrestacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: LocalidadePrestacao.requiredClass, value: LocalidadePrestacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadePrestacao.maxlength, id : LocalidadePrestacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadePrestacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: SerieNFSe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SerieNFSe.text, attr: { for: SerieNFSe.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: SerieNFSe.requiredClass, value: SerieNFSe.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieNFSe.maxlength, id : SerieNFSe.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SerieNFSe.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: SerieRPS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SerieRPS.text, attr: { for: SerieRPS.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SerieRPS.requiredClass, value: SerieRPS.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieRPS.maxlength, id : SerieRPS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: ServicoNFSe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ServicoNFSe.text, attr: { for: ServicoNFSe.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ServicoNFSe.requiredClass, value: ServicoNFSe.val, valueUpdate: 'afterkeydown', attr: { maxlength: ServicoNFSe.maxlength, id : ServicoNFSe.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ServicoNFSe.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: NaturezaNFSe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NaturezaNFSe.text, attr: { for: NaturezaNFSe.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: NaturezaNFSe.requiredClass, value: NaturezaNFSe.val, valueUpdate: 'afterkeydown', attr: { maxlength: NaturezaNFSe.maxlength, id : NaturezaNFSe.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: NaturezaNFSe.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: AliquotaISS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: AliquotaISS.text, attr: { for: AliquotaISS.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: AliquotaISS.enable, class: AliquotaISS.requiredClass, value: AliquotaISS.val, valueUpdate: 'afterkeydown', attr: { maxlength: AliquotaISS.maxlength, id : AliquotaISS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: RetencaoISS.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: RetencaoISS.text, attr: { for: RetencaoISS.id }"></label>
                                        <input type="text" class="form-control" data-bind="enable: RetencaoISS.enable, class: RetencaoISS.requiredClass, value: RetencaoISS.val, valueUpdate: 'afterkeydown', attr: { maxlength: RetencaoISS.maxlength, id : RetencaoISS.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: ClienteTomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ClienteTomador.text, attr: { for: ClienteTomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ClienteTomador.requiredClass, value: ClienteTomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ClienteTomador.maxlength, id : ClienteTomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ClienteTomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: GrupoTomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoTomador.text, attr: { for: GrupoTomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoTomador.requiredClass, value: GrupoTomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoTomador.maxlength, id : GrupoTomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoTomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: LocalidadeTomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: LocalidadeTomador.text, attr: { for: LocalidadeTomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: LocalidadeTomador.requiredClass, value: LocalidadeTomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalidadeTomador.maxlength, id : LocalidadeTomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalidadeTomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: UFTomador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: UFTomador.text, attr: { for: UFTomador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: UFTomador.requiredClass, value: UFTomador.val, valueUpdate: 'afterkeydown', attr: { maxlength: UFTomador.maxlength, id : UFTomador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UFTomador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: URLPrefeitura.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: URLPrefeitura.text, attr: { for: URLPrefeitura.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: URLPrefeitura.requiredClass, value: URLPrefeitura.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLPrefeitura.maxlength, id : URLPrefeitura.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: LoginSitePrefeitura.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: LoginSitePrefeitura.text, attr: { for: LoginSitePrefeitura.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: LoginSitePrefeitura.requiredClass, value: LoginSitePrefeitura.val, valueUpdate: 'afterkeydown', attr: { maxlength: LoginSitePrefeitura.maxlength, id : LoginSitePrefeitura.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: SenhaSitePrefeitura.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SenhaSitePrefeitura.text, attr: { for: SenhaSitePrefeitura.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: SenhaSitePrefeitura.requiredClass, value: SenhaSitePrefeitura.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaSitePrefeitura.maxlength, id : SenhaSitePrefeitura.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: FraseSecreta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: FraseSecreta.text, attr: { for: FraseSecreta.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: FraseSecreta.requiredClass, value: FraseSecreta.val, valueUpdate: 'afterkeydown', attr: { maxlength: FraseSecreta.maxlength, id : FraseSecreta.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: IncluirISSBaseCalculo.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: IncluirISSBaseCalculo.val, attr: { maxlength: IncluirISSBaseCalculo.maxlength, name: IncluirISSBaseCalculo.id, id: IncluirISSBaseCalculo.id }">
                                            <label class="custom-control-label" data-bind="text: IncluirISSBaseCalculo.text, attr: { for: IncluirISSBaseCalculo.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: PermiteAnular.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteAnular.val, attr: { maxlength: PermiteAnular.maxlength, name: PermiteAnular.id, id: PermiteAnular.id }">
                                            <label class="custom-control-label" data-bind="text: PermiteAnular.text, attr: { for: PermiteAnular.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: PrazoCancelamento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: PrazoCancelamento.text, attr: { for: PrazoCancelamento.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: PrazoCancelamento.requiredClass, value: PrazoCancelamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: PrazoCancelamento.maxlength, id : PrazoCancelamento.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: DiscriminacaoNFSe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DiscriminacaoNFSe.text, attr: { for: DiscriminacaoNFSe.id }"></label>
                                        <textarea class="form-control" rows="4" data-bind="value: DiscriminacaoNFSe.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiscriminacaoNFSe.maxlength, id : DiscriminacaoNFSe.id }"></textarea>
                                    </div>
                                </div>
                                <div data-bind="visible: DiscriminacaoNFSe.visible">
                                    <h3>Tags:</h3>
                                    <label class="border btn-light" data-bind="click: TagCodigoDestinatario.eventClick, visible: TagCodigoDestinatario.visible, attr: { value: TagCodigoDestinatario.text, id : TagCodigoDestinatario.id}"><span class="my-1 mx-1" data-bind="text: TagCodigoDestinatario.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagCodigoRemetente.eventClick, visible: TagCodigoRemetente.visible, attr: { value: TagCodigoRemetente.text, id : TagCodigoRemetente.id}"><span class="my-1 mx-1" data-bind="text: TagCodigoRemetente.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagDataCarga.eventClick, visible: TagDataCarga.visible, attr: { value: TagDataCarga.text, id : TagDataCarga.id}"><span class="my-1 mx-1" data-bind="text: TagDataCarga.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagDestino.eventClick, visible: TagDestino.visible, attr: { value: TagDestino.text, id : TagDestino.id}"><span class="my-1 mx-1" data-bind="text: TagDestino.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagOrigem.eventClick, visible: TagOrigem.visible, attr: { value: TagOrigem.text, id : TagOrigem.id}"><span class="my-1 mx-1" data-bind="text: TagOrigem.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagNotasFiscais.eventClick, visible: TagNotasFiscais.visible, attr: { value: TagNotasFiscais.text, id : TagNotasFiscais.id}"><span class="my-1 mx-1" data-bind="text: TagNotasFiscais.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagTipoCarga.eventClick, visible: TagTipoCarga.visible, attr: { value: TagTipoCarga.text, id : TagTipoCarga.id}"><span class="my-1 mx-1" data-bind="text: TagTipoCarga.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagPesoCarga.eventClick, visible: TagPesoCarga.visible, attr: { value: TagPesoCarga.text, id : TagPesoCarga.id}"><span class="my-1 mx-1" data-bind="text: TagPesoCarga.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagCnpjRemetente.eventClick, visible: TagCnpjRemetente.visible, attr: { value: TagCnpjRemetente.text, id : TagCnpjRemetente.id}"><span class="my-1 mx-1" data-bind="text: TagCnpjRemetente.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagNomeRemetente.eventClick, visible: TagNomeRemetente.visible, attr: { value: TagNomeRemetente.text, id : TagNomeRemetente.id}"><span class="my-1 mx-1" data-bind="text: TagNomeRemetente.text"></span></label>
                                    <label class="border btn-light" data-bind="click: TagCnpjDestinatario.eventClick, visible: TagCnpjDestinatario.visible, attr: { value: TagCnpjDestinatario.text, id : TagCnpjDestinatario.id}"><span class="my-1 mx-1" data-bind="text: TagCnpjDestinatario.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagNomeDestinatario.eventClick, visible: TagNomeDestinatario.visible, attr: { value: TagNomeDestinatario.text, id : TagNomeDestinatario.id}"><span class="my-1 mx-1" data-bind="text: TagNomeDestinatario.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagValorMercadoria.eventClick, visible: TagValorMercadoria.visible, attr: { value: TagValorMercadoria.text, id : TagValorMercadoria.id}"><span class="my-1 mx-1" data-bind="text: TagValorMercadoria.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagPlacaVeiculo.eventClick, visible: TagPlacaVeiculo.visible, attr: { value: TagPlacaVeiculo.text, id : TagPlacaVeiculo.id}"><span class="my-1 mx-1" data-bind="text: TagPlacaVeiculo.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagNomeMotorista.eventClick, visible: TagNomeMotorista.visible, attr: { value: TagNomeMotorista.text, id : TagNomeMotorista.id}"><span class="my-1 mx-1" data-bind="text: TagNomeMotorista.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagNumeroCarga.eventClick, visible: TagNumeroCarga.visible, attr: { value: TagNumeroCarga.text, id : TagNumeroCarga.id}"><span class="my-1 mx-1" data-bind="text: TagNumeroCarga.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagNumeroPedidoEmbarcador.eventClick, visible: TagNumeroPedidoEmbarcador.visible, attr: { value: TagNumeroPedidoEmbarcador.text, id : TagNumeroPedidoEmbarcador.id}"><span class="my-1 mx-1" data-bind="text: TagNumeroPedidoEmbarcador.text"></span></label>
                                    <label class="border btn-light mt-1" data-bind="click: TagCPFMotorista.eventClick, visible: TagCPFMotorista.visible, attr: { value: TagCPFMotorista.text, id : TagCPFMotorista.id}"><span class="my-1 mx-1" data-bind="text: TagCPFMotorista.text"></span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mt-4">
                                    <button class="btn btn-success" type="button" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                        <span data-bind="text: Adicionar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tabCadastroSerie" role="tabpanel">
                    <div class="panel-heading">
                        <h4>Cadastrar Série</h4>
                    </div>
                    <div class="row" id="knockoutCadastroSerie">
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.idGrid}" cellspacing="0"></table>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-success" type="button" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                        <span data-bind="text: Adicionar.text">Adicionar</span>
                                    </button>
                                    <button class="btn btn-success" type="button" data-bind="visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                                        <span data-bind="text: Atualizar.text"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" data-bind="visible: Cancelar.visible, click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="knockoutCRUDTransportador" class="mt-2 ">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-success" type="button" data-bind="visible: ReenviarDadosAcessoaCliente.visible, click: ReenviarDadosAcessoaCliente.eventClick, attr: { id: ReenviarDadosAcessoaCliente.id}">
                <span data-bind="text: ReenviarDadosAcessoaCliente.text"></span>
            </button>
        </div>
        <div class="col-6 d-flex justify-content-end ">
            <button class="btn btn-success" type="button" data-bind="visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.id}">
                <span data-bind="text: Atualizar.text"></span>
            </button>
        </div>
    </div>
</footer>

<script src="~/scripts/treeviewLoad"></script>
<script src="~/scripts/gestaoTransportador"></script>
<script src="~/scripts/configuracaoLayoutEDI"></script>
<script type="text/javascript">

    $(document).ready(function () {
        loadGestaoTransportador();
    });
</script>

<style>
    .smart-form .input-file .botao-arquivo input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100px;
    }

    .smart-form .input-file-botao-arquivo {
        float: left;
        margin-right: 5px;
    }

    .img-empresa {
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        max-width: 100%;
    }

    .sem-imagem .img-empresa {
        height: 116px;
        background-image: url('img/sem_foto.jpg');
        background-position: center;
        background-size: contain;
        max-width: 175px;
    }

    .clasEditar {
        color: #373737;
        font-weight: 500;
    }

        .clasEditar:hover {
            color: #616161;
        }
</style>