

<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Transportadores</li>
        <li class="breadcrumb-item active">Importação Veículo</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-truck"></i> Importação de Veículos entre Transportadores
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(836)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div id="knockoutRelatorio" class="panel-content">
                <div>
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TransportadorOrigem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TransportadorOrigem.text, attr: { for: TransportadorOrigem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TransportadorOrigem.requiredClass, value: TransportadorOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: TransportadorOrigem.maxlength, id : TransportadorOrigem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TransportadorOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TransportadorDestino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TransportadorDestino.text, attr: { for: TransportadorDestino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TransportadorDestino.requiredClass, value: TransportadorDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: TransportadorDestino.maxlength, id : TransportadorDestino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TransportadorDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Importar.eventClick, attr: { id: Importar.id}" type="button">
                                    <i class="fal fa-download"></i><span data-bind="text: Importar.text"></span>
                                </button>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/importacaoVeiculo"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadImportacaoVeiculo();
    });
</script>
