
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Transportadores</li>
        <li class="breadcrumb-item active">Campos Obrigatórios para o Motorista</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Campos Obrigatórios para o Motorista
        </h1>

    </div>

    <div>
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <h2>
                        Cadastrar Campos Obrigatórios para o Motorista
                    </h2>
                       
                  
                    <form id="knockoutMotoristaCampoObrigatorio">
                        <div class="row ">
                            <div class="card mt-3" data-bind="visible: Campos.visible ">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Campos Obrigatórios</h3>
                                </div>
                                <div class="card-body">
                                    <button class="btn btn-primary waves-effect waves-themed mb-2" type="button" data-bind="attr: { id: Campo.idBtnSearch}">
                                        <i class="fal fa-plus"></i><span data-bind="text: Campo.text"></span>
                                    </button>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: GridCampo.id}" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer id="knockoutCRUDMotoristaCampoObrigatorio">

                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </footer>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/scripts/motoristaCampoObrigatorio"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadMotoristaCampoObrigatorio();
    });

</script>
