
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Transportadores</li>
    <li class="breadcrumb-item active">Certificado do Transportador</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> Certificado do Transportador
    </h1>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutTransportadorCertificado">
                    <div class="row">
                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                            <p class="form-label" data-bind="text: Arquivo.text"></p>
                            <div class="custom-file-btn" data-bind="visible: Arquivo.visible">
                                <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: {id: Arquivo.id}" readonly>
                                <label class="custom-file-label" data-bind="attr: {for: Arquivo.id}, text: Arquivo.val">{Localize::Transportadores.Transportador.SelecioneCertificadoDigital}</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: SenhaCertificado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SenhaCertificado.text, attr: { for: SenhaCertificado.id }"></label>
                                <input type="text" class="form-control" data-bind="class: SenhaCertificado.requiredClass, value: SenhaCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: SenhaCertificado.maxlength, id : SenhaCertificado.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataInicialCertificado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicialCertificado.text, attr: { for: DataInicialCertificado.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicialCertificado.requiredClass, value: DataInicialCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialCertificado.maxlength, id : DataInicialCertificado.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataFinalCertificado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinalCertificado.text, attr: { for: DataFinalCertificado.id }"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinalCertificado.requiredClass, value: DataFinalCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalCertificado.maxlength, id : DataFinalCertificado.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: SerieCertificado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SerieCertificado.text, attr: { for: SerieCertificado.id }"></label>
                                <input type="text" class="form-control" data-bind="class: SerieCertificado.requiredClass, value: SerieCertificado.val, valueUpdate: 'afterkeydown', attr: { maxlength: SerieCertificado.maxlength, id : SerieCertificado.id}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-success" type="button" data-bind="click: Enviar.eventClick, attr: { id: Enviar.id}">
                                        <span data-bind="text: Enviar.text"></span>
                                    </button>
                                    <button class="btn btn-success" type="button" data-bind="click: Baixar.eventClick, attr: { id: Baixar.id}">
                                        <span data-bind="text: Baixar.text"></span>
                                    </button>
                                    <button class="btn btn-danger" type="button" data-bind="click: Remover.eventClick, attr: { id: Remover.id}">
                                        <span data-bind="text: Remover.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/transportadorCertificado"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function ()
    {
        LoadLocalizationResources(["Transportadores.Transportador"]).then(loadTransportadorCertificado);
    });
</script>