@using System.Web.Optimization
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                Clientes
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaCliente">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar Clientes</h2>
                    </header>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section data-bind="visible: RazaoSocial.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label class="label"><b data-bind="text: RazaoSocial.text"></b></label>
                                                    <label data-bind="attr: { class: RazaoSocial.requiredClass}">
                                                        <input type="text" data-bind="value: RazaoSocial.val, valueUpdate: 'afterkeydown', attr: { maxlength: RazaoSocial.maxlength, id : RazaoSocial.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: CNPJ.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label class="label"><b data-bind="text: CNPJ.text"></b></label>
                                                    <label data-bind="attr: { class: CNPJ.requiredClass}">
                                                        <input type="text" data-bind="value: CNPJ.val, valueUpdate: 'afterkeydown', attr: { maxlength: CNPJ.maxlength, id : CNPJ.id}" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tabCadastroCliente"><span class="hidden-mobile hidden-tablet">Cadastrar Cliente</span>&nbsp;<i class="fa fa-user"></i></a>
                        </li>
                        <li id="liTabAdicionais">
                            <a data-toggle="tab" href="#knockoutConfiguracaoCliente"><span class="hidden-mobile hidden-tablet">Configuração do Cliente</span>&nbsp;<i class="fa fa-bars"></i></a>
                        </li>
                    </ul>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <div class="tab-content">
                                <div id="divMotivoBloqueioGrupoPessoas" class="alert alert-danger hidden" style="margin: 15px 15px -10px 15px !important;">
                                    <i class="fa-fw fa fa-ban"></i>
                                    <strong>O grupo de pessoas está bloqueado! Motivo: </strong><strong id="txtMotivoBloqueio"></strong>
                                </div>
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="tabCadastroCliente">
                                    <header>
                                        Cadastrar Cliente
                                    </header>
                                    <fieldset id="knockoutCadastroCliente">
                                        <div class="row">
                                            <section data-bind="visible : RazaoSocial.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="label"><b data-bind="text: RazaoSocial.text"></b></label>
                                                <label data-bind="attr: { class: RazaoSocial.requiredClass}">
                                                    <input type="text" data-bind="value: RazaoSocial.val, attr: { maxlength: RazaoSocial.maxlength, id : RazaoSocial.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : CNPJ.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label class="label"><b data-bind="text: CNPJ.text"></b></label>
                                                <label data-bind="attr: { class: CNPJ.requiredClass}">
                                                    <input type="text" data-bind="value: CNPJ.val, attr: { maxlength: CNPJ.maxlength, id : CNPJ.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : IE.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label class="label"><b data-bind="text: IE.text"></b></label>
                                                <label data-bind="attr: { class: IE.requiredClass}">
                                                    <input type="text" data-bind="value: IE.val, attr: { maxlength: IE.maxlength, id : IE.id} " />
                                                </label>
                                            </section>

                                            <section data-bind="visible : NomeFantasia.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="label"><b data-bind="text: NomeFantasia.text"></b></label>
                                                <label data-bind="attr: { class: NomeFantasia.requiredClass}">
                                                    <input type="text" data-bind="value: NomeFantasia.val, attr: { maxlength: NomeFantasia.maxlength, id : NomeFantasia.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Telefone.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label class="label"><b data-bind="text: Telefone.text"></b></label>
                                                <label data-bind="attr: { class: Telefone.requiredClass}">
                                                    <input type="text" data-bind="value: Telefone.val, attr: { maxlength: Telefone.maxlength, id : Telefone.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Email.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label class="label"><b data-bind="text: Email.text"></b></label>
                                                <label data-bind="attr: { class: Email.requiredClass}">
                                                    <input type="text" data-bind="value: Email.val, attr: { maxlength: Email.maxlength, id : Email.id} " />
                                                </label>
                                            </section>

                                            <section data-bind="visible : Site.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="label"><b data-bind="text: Site.text"></b></label>
                                                <label data-bind="attr: { class: Site.requiredClass}">
                                                    <input type="text" data-bind="value: Site.val, attr: { maxlength: Site.maxlength, id : Site.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Ativo.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                                <label class="select">
                                                    <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section data-bind="visible: TipoOperadora.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="label"><b data-bind="text: TipoOperadora.text"></b></label>
                                                <label class="select">
                                                    <select data-bind="options: TipoOperadora.options, optionsText: 'text', optionsValue: 'value', value: TipoOperadora.val, attr: { id : TipoOperadora.id}"></select>
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section data-bind="visible : Logradouro.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="label"><b data-bind="text: Logradouro.text"></b></label>
                                                <label data-bind="attr: { class: Logradouro.requiredClass}">
                                                    <input type="text" data-bind="value: Logradouro.val, attr: { maxlength: Logradouro.maxlength, id : Logradouro.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Bairro.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: Bairro.text"></b></label>
                                                <label data-bind="attr: { class: Bairro.requiredClass}">
                                                    <input type="text" data-bind="value: Bairro.val, attr: { maxlength: Bairro.maxlength, id : Bairro.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : CEP.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: CEP.text"></b></label>
                                                <label data-bind="attr: { class: CEP.requiredClass}">
                                                    <input type="text" data-bind="value: CEP.val, attr: { maxlength: CEP.maxlength, id : CEP.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Complemento.visible" class="col col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                                <label class="label"><b data-bind="text: Complemento.text"></b></label>
                                                <label data-bind="attr: { class: Complemento.requiredClass}">
                                                    <input type="text" data-bind="value: Complemento.val, attr: { maxlength: Complemento.maxlength, id : Complemento.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : Numero.visible" class="col col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                                <label class="label"><b data-bind="text: Numero.text"></b></label>
                                                <label data-bind="attr: { class: Numero.requiredClass}">
                                                    <input type="text" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} " />
                                                </label>
                                            </section>

                                            <section data-bind="visible : MobileURL.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="label"><b data-bind="text: MobileURL.text"></b></label>
                                                <label data-bind="attr: { class: MobileURL.requiredClass}">
                                                    <input type="text" data-bind="value: MobileURL.val, attr: { maxlength: MobileURL.maxlength, id : MobileURL.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : MobileURLHomologacao.visible" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="label"><b data-bind="text: MobileURLHomologacao.text"></b></label>
                                                <label data-bind="attr: { class: MobileURLHomologacao.requiredClass}">
                                                    <input type="text" data-bind="value: MobileURLHomologacao.val, attr: { maxlength: MobileURLHomologacao.maxlength, id : MobileURLHomologacao.id} " />
                                                </label>
                                            </section>

                                            <section data-bind="visible : Logo.visible" class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <label class="label"><b data-bind="text: Logo.text"></b></label>
                                                <label data-bind="attr: { class: Logo.requiredClass}">
                                                    <input type="text" data-bind="value: Logo.val, attr: { maxlength: Logo.maxlength, id : Logo.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : LogoLight.visible" class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <label class="label"><b data-bind="text: LogoLight.text"></b></label>
                                                <label data-bind="attr: { class: LogoLight.requiredClass}">
                                                    <input type="text" data-bind="value: LogoLight.val, attr: { maxlength: LogoLight.maxlength, id : LogoLight.id} " />
                                                </label>
                                            </section>
                                            <section data-bind="visible : HeightLogo.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                <label class="label"><b data-bind="text: HeightLogo.text"></b></label>
                                                <label data-bind="attr: { class: HeightLogo.requiredClass}">
                                                    <input type="text" data-bind="value: HeightLogo.val, attr: { maxlength: HeightLogo.maxlength, id : HeightLogo.id} " />
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section data-bind="visible: BloquearLoginVersaoAntiga.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="checkbox">
                                                    <input type="checkbox" data-bind="checked: BloquearLoginVersaoAntiga.val, valueUpdate: 'afterkeydown', attr: { name: BloquearLoginVersaoAntiga.id, id : BloquearLoginVersaoAntiga.id}" />
                                                    <i></i> <b data-bind="text: BloquearLoginVersaoAntiga.text"></b>
                                                </label>
                                            </section>
                                            <section data-bind="visible: URLAutenticadaViaCodigoDeIntegracaoDoUsuarioParaPortalMultiClifor.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="checkbox">
                                                    <input type="checkbox" data-bind="checked: URLAutenticadaViaCodigoDeIntegracaoDoUsuarioParaPortalMultiClifor.val, valueUpdate: 'afterkeydown', attr: { name: URLAutenticadaViaCodigoDeIntegracaoDoUsuarioParaPortalMultiClifor.id, id : URLAutenticadaViaCodigoDeIntegracaoDoUsuarioParaPortalMultiClifor.id}" />
                                                    <i></i> <b data-bind="text: URLAutenticadaViaCodigoDeIntegracaoDoUsuarioParaPortalMultiClifor.text"></b>
                                                </label>
                                            </section>
                                        </div>

                                    </fieldset>
                                </div>

                                <div id="knockoutConfiguracaoCliente" class="tab-pane fade in padding-10 no-padding-bottom">
                                    <header>
                                        Configuração do Cliente
                                    </header>
                                    <fieldset>
                                        <div class="well">
                                            <header>
                                                Produção
                                            </header>
                                            <fieldset>
                                                <div class="row">
                                                    <section data-bind="visible : ProducaoBase.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label class="label"><b data-bind="text: ProducaoBase.text"></b></label>
                                                        <label data-bind="attr: { class: ProducaoBase.requiredClass}">
                                                            <input type="text" data-bind="value: ProducaoBase.val, attr: { maxlength: ProducaoBase.maxlength, id : ProducaoBase.id} " />
                                                        </label>
                                                    </section>
                                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <div class="input-group">
                                                            <label class="label"><b data-bind="text: ProducaoInstanciaBase.text"></b></label>
                                                            <label data-bind="attr: { class: ProducaoInstanciaBase.requiredClass}">
                                                                <input type="text" data-bind="value: ProducaoInstanciaBase.val, attr: { maxlength: ProducaoInstanciaBase.maxlength, id : ProducaoInstanciaBase.id}, valueUpdate: 'afterkeydown'" />
                                                            </label>
                                                            <div class="input-group-btn">
                                                                <button data-bind="attr: { id: ProducaoInstanciaBase.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section data-bind="visible: ProducaoTipoServico.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label class="label"><b data-bind="text: ProducaoTipoServico.text"></b></label>
                                                        <label class="select">
                                                            <select data-bind="options: ProducaoTipoServico.options, optionsText: 'text', optionsValue: 'value', value: ProducaoTipoServico.val, attr: { id : ProducaoTipoServico.id}"></select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div><br />

                                        <div class="well">
                                            <header>
                                                Homologação
                                            </header>
                                            <fieldset>
                                                <div class="row">
                                                    <section data-bind="visible : HomologacaoBase.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label class="label"><b data-bind="text: HomologacaoBase.text"></b></label>
                                                        <label data-bind="attr: { class: HomologacaoBase.requiredClass}">
                                                            <input type="text" data-bind="value: HomologacaoBase.val, attr: { maxlength: HomologacaoBase.maxlength, id : HomologacaoBase.id} " />
                                                        </label>
                                                    </section>
                                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <div class="input-group">
                                                            <label class="label"><b data-bind="text: HomologacaoInstanciaBase.text"></b></label>
                                                            <label data-bind="attr: { class: HomologacaoInstanciaBase.requiredClass}">
                                                                <input type="text" data-bind="value: HomologacaoInstanciaBase.val, attr: { maxlength: HomologacaoInstanciaBase.maxlength, id : HomologacaoInstanciaBase.id}, valueUpdate: 'afterkeydown'" />
                                                            </label>
                                                            <div class="input-group-btn">
                                                                <button data-bind="attr: { id: HomologacaoInstanciaBase.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section data-bind="visible: HomologacaoTipoServico.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label class="label"><b data-bind="text: HomologacaoTipoServico.text"></b></label>
                                                        <label class="select">
                                                            <select data-bind="options: HomologacaoTipoServico.options, optionsText: 'text', optionsValue: 'value', value: HomologacaoTipoServico.val, attr: { id : HomologacaoTipoServico.id}"></select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </fieldset>
                                </div>
                                <footer id="knockoutCRUDCliente">
                                    <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                    <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                    <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                    <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                                </footer>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

@Scripts.Render("~/scripts/cliente")
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadCliente();
        loadClienteConfiguracao();
    });

</script>