@using System.Web.Optimization
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h2 class="page-title txt-color-blueDark">
                URL de Acesso do Cliente
            </h2>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div id="knockoutPesquisaClienteURLAcesso">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <header class="headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-search"></i> </span>
                        <h2>Pesquisar URL de Acesso de Clientes</h2>
                    </header>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div class="well">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="input-group">
                                                        <label class="label"><b data-bind="text: Cliente.text"></b></label>
                                                        <label data-bind="attr: { class: Cliente.requiredClass}">
                                                            <input type="text" data-bind="value: Cliente.val, attr: { maxlength: Cliente.maxlength, id : Cliente.id}, valueUpdate: 'afterkeydown'" />
                                                        </label>
                                                        <div class="input-group-btn">
                                                            <button data-bind="attr: { id: Cliente.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                                <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section data-bind="visible: URLAcesso.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: URLAcesso.text"></b></label>
                                                    <label data-bind="attr: { class: URLAcesso.requiredClass}">
                                                        <input type="text" data-bind="value: URLAcesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLAcesso.maxlength, id : URLAcesso.id}" />
                                                    </label>
                                                </section>
                                                <section data-bind="visible: TipoServico.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                    <label class="label"><b data-bind="text: TipoServico.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', value: TipoServico.val, attr: { id : TipoServico.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section data-bind="visible : Ativo.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                    <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                                    <label class="select">
                                                        <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="no-padding">
                                            <button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: Pesquisar.text"></span>
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Formulário de Cadastro para URL</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="knockoutCadastroClienteURLAcesso" class="smart-form">
                            <header>
                                Cadastrar URL de Acesso do Cliente
                            </header>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="input-group">
                                            <label class="label"><b data-bind="text: Cliente.text"></b></label>
                                            <label data-bind="attr: { class: Cliente.requiredClass}">
                                                <input type="text" data-bind="value: Cliente.val, attr: { maxlength: Cliente.maxlength, id : Cliente.id}, valueUpdate: 'afterkeydown'" />
                                            </label>
                                            <div class="input-group-btn">
                                                <button data-bind="attr: { id: Cliente.idBtnSearch}" class="btn btn-default btn-primary botaoBusca" type="button">
                                                    <i class="fa fa-search"></i> &nbsp; Buscar &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-bind="visible: TipoServico.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: TipoServico.text"></b></label>
                                        <label class="select">
                                            <select data-bind="options: TipoServico.options, optionsText: 'text', optionsValue: 'value', value: TipoServico.val, attr: { id : TipoServico.id}"></select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section data-bind="visible: URLAcesso.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: URLAcesso.text"></b></label>
                                        <label data-bind="attr: { class: URLAcesso.requiredClass}">
                                            <input type="text" data-bind="value: URLAcesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLAcesso.maxlength, id : URLAcesso.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible : Ativo.visible" class="col col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <label class="label"><b data-bind="text: Ativo.text"></b></label>
                                        <label class="select">
                                            <select data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section data-bind="visible: URLSistemaEmissaoCte.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="label"><b data-bind="text: URLSistemaEmissaoCte.text"></b></label>
                                        <label data-bind="attr: { class: URLSistemaEmissaoCte.requiredClass}">
                                            <input type="text" data-bind="value: URLSistemaEmissaoCte.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLSistemaEmissaoCte.maxlength, id : URLSistemaEmissaoCte.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: URLWebServiceConsultaCte.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="label"><b data-bind="text: URLWebServiceConsultaCte.text"></b></label>
                                        <label data-bind="attr: { class: URLWebServiceConsultaCte.requiredClass}">
                                            <input type="text" data-bind="value: URLWebServiceConsultaCte.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLWebServiceConsultaCte.maxlength, id : URLWebServiceConsultaCte.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: URLWebServiceOracle.visible" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="label"><b data-bind="text: URLWebServiceOracle.text"></b></label>
                                        <label data-bind="attr: { class: URLWebServiceOracle.requiredClass}">
                                            <input type="text" data-bind="value: URLWebServiceOracle.val, valueUpdate: 'afterkeydown', attr: { maxlength: URLWebServiceOracle.maxlength, id : URLWebServiceOracle.id}" />
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section data-bind="visible: Layout.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: Layout.text"></b></label>
                                        <label data-bind="attr: { class: Layout.requiredClass}">
                                            <input type="text" data-bind="value: Layout.val, valueUpdate: 'afterkeydown', attr: { maxlength: Layout.maxlength, id : Layout.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Logo.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: Logo.text"></b></label>
                                        <label data-bind="attr: { class: Logo.requiredClass}">
                                            <input type="text" data-bind="value: Logo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Logo.maxlength, id : Logo.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: CorFuncionario.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: CorFuncionario.text"></b></label>
                                        <label data-bind="attr: { class: CorFuncionario.requiredClass}">
                                            <input type="text" data-bind="value: CorFuncionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: CorFuncionario.maxlength, id : CorFuncionario.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: Icone.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: Icone.text"></b></label>
                                        <label data-bind="attr: { class: Icone.requiredClass}">
                                            <input type="text" data-bind="value: Icone.val, valueUpdate: 'afterkeydown', attr: { maxlength: Icone.maxlength, id : Icone.id}" />
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section data-bind="visible: LayoutLogin.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: LayoutLogin.text"></b></label>
                                        <label data-bind="attr: { class: LayoutLogin.requiredClass}">
                                            <input type="text" data-bind="value: LayoutLogin.val, valueUpdate: 'afterkeydown', attr: { maxlength: LayoutLogin.maxlength, id : LayoutLogin.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: LogoLogin.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: LogoLogin.text"></b></label>
                                        <label data-bind="attr: { class: LogoLogin.requiredClass}">
                                            <input type="text" data-bind="value: LogoLogin.val, valueUpdate: 'afterkeydown', attr: { maxlength: LogoLogin.maxlength, id : LogoLogin.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: CorFuncionarioLogin.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: CorFuncionarioLogin.text"></b></label>
                                        <label data-bind="attr: { class: CorFuncionarioLogin.requiredClass}">
                                            <input type="text" data-bind="value: CorFuncionarioLogin.val, valueUpdate: 'afterkeydown', attr: { maxlength: CorFuncionarioLogin.maxlength, id : CorFuncionarioLogin.id}" />
                                        </label>
                                    </section>
                                    <section data-bind="visible: IconeLogin.visible" class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <label class="label"><b data-bind="text: IconeLogin.text"></b></label>
                                        <label data-bind="attr: { class: IconeLogin.requiredClass}">
                                            <input type="text" data-bind="value: IconeLogin.val, valueUpdate: 'afterkeydown', attr: { maxlength: IconeLogin.maxlength, id : IconeLogin.id}" />
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section data-bind="visible: PossuiFila.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: PossuiFila.val, valueUpdate: 'afterkeydown', attr: { name: PossuiFila.id, id : PossuiFila.id}" />
                                            <i></i> <b data-bind="text: PossuiFila.text"></b>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section data-bind="visible: URLHomologacao.visible" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: URLHomologacao.val, valueUpdate: 'afterkeydown', attr: { name: URLHomologacao.id, id : URLHomologacao.id}" />
                                            <i></i> <b data-bind="text: URLHomologacao.text"></b>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" class="btn btn-labeled btn-success" />
                                <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-labeled btn-danger" />
                                <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-default" />
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@Scripts.Render("~/scripts/clienteURLAcesso")
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadClienteURLAcesso();
    });

</script>

