@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Avarias</li>
        <li class="breadcrumb-item active">Analítico</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-truck"></i> Relatório de Avarias
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaAvaria">
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: NumeroAvaria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroAvaria.text, attr: { for: NumeroAvaria.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroAvaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAvaria.maxlength, id : NumeroAvaria.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: SituacaoAvaria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoAvaria.text, attr: { for: SituacaoAvaria.id }"></label>
                                    <select class="form-control" multiple data-bind="options: SituacaoAvaria.options, optionsText: 'text', optionsValue: 'value', selectedOptions: SituacaoAvaria.val, attr: { id : SituacaoAvaria.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: CodigoCargaEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                </div>
                            </div>


                            <div class="col col-md-3">

                                <div class="row">

                                    <div class="col-md-6" data-bind="visible: DataSolicitacaoInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataSolicitacaoInicial.text, attr: { for: DataSolicitacaoInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: DataSolicitacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataSolicitacaoInicial.maxlength, id : DataSolicitacaoInicial.id}" />
                                        </div>
                                    </div>

                                    <div class="col-md-6" data-bind="visible: DataSolicitacaoFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataSolicitacaoFinal.text, attr: { for: DataSolicitacaoFinal.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: DataSolicitacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataSolicitacaoFinal.maxlength, id : DataSolicitacaoFinal.id}" />
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Solicitante.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Solicitante.text, attr: { for: Solicitante.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Solicitante.val, valueUpdate: 'afterkeydown', attr: { maxlength: Solicitante.maxlength, id : Solicitante.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Solicitante.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">

                            <div class="col-12 col-md-2" data-bind="visible: Etapa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Etapa.text, attr: { for: Etapa.id }"></label>
                                    <select class="form-control" data-bind="options: Etapa.options, optionsText: 'text', optionsValue: 'value', value: Etapa.val, attr: { id : Etapa.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoLoteInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoLoteInicial.text, attr: { for: DataGeracaoLoteInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataGeracaoLoteInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoLoteInicial.maxlength, id : DataGeracaoLoteInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataGeracaoLoteFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataGeracaoLoteFinal.text, attr: { for: DataGeracaoLoteFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataGeracaoLoteFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoLoteFinal.maxlength, id : DataGeracaoLoteFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataIntegracaoLoteInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoLoteInicial.text, attr: { for: DataIntegracaoLoteInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataIntegracaoLoteInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoLoteInicial.maxlength, id : DataIntegracaoLoteInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataIntegracaoLoteFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataIntegracaoLoteFinal.text, attr: { for: DataIntegracaoLoteFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataIntegracaoLoteFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataIntegracaoLoteFinal.maxlength, id : DataIntegracaoLoteFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divConfigRelatorio">
                    </div>

                </form>
                <div class="row mb-3 mt-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaAvaria" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>

                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaAvaria" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/avarias"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadAvaria();
    });

</script>
