@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Pedidos</li>
    <li class="breadcrumb-item active">Booking</li>
</ol>
<div id="widget-grid" class="">
    <div class="row">
        <div class="subheader">
            <h1 class="subheader-title">
                EXPs
            </h1>
        </div>
    </div>
</div>
<div class="row" id="divConteudoRelatorio" style="display: none;">
    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-file-alt"></i>
                        Relatório de Booking
                    </h3>
                </div>
                <div class="panel-content">
                    <div class="smart-form">
                        <div id="knockoutPesquisaBooking">
                            <div class="row">
                                @*FILTROS PESQUISA*@
                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroEXP.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroEXP.text"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroEXP.requiredClass, value: NumeroEXP.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroEXP.maxlength, id : NumeroEXP.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroBooking.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroBooking.text"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCarga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCarga.text"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCarga.requiredClass, value: NumeroCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCarga.maxlength, id : NumeroCarga.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Origem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Destino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: TipoRelatorio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* FILTROS AVANÇADOS: *@
                            @*<div class="row">
                                    <div data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">

                                    </div>
                                </div>*@

                        </div>
                        <div id="divConfigRelatorio">
                        </div>

                        <div class="row mb-3">

                            <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                                <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                                    <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                                </button>
                            </div>

                            <div id="knockoutCRUDFiltrosPesquisaBooking" class="col-12 col-md-6 d-flex justify-content-end">
                                <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                                </button>
                                <!-- BUSCA AVANÇADA -->
                                @*<button class="btn btn-default btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i>&nbsp;<span data-bind="text: BuscaAvancada.text"></span>
                                    </button>*@
                            </div>

                        </div>

                        <div>
                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                        </div>
                    </div>
                    <div>
                        <footer class="no-padding mt-2">
                            <div id="knockoutCRUDPesquisaBooking" class="d-flex justify-content-end">
                                <button class="btn btn-primary waves-effect waves-themed btn-success mx-1" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                                </button>
                                <button class="btn btn-primary waves-effect waves-themed btn-success mx-1" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                                </button>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/relatorios/scripts/booking"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadBooking();
    });

</script>