
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Faturamentos Mensais</li>
    <li class="breadcrumb-item active">Grupos do Faturamento Mensal</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Grupos do Faturamento Mensal
    </h1>
</div>

<div id="knockoutPesquisaFaturamentoMensalGrupo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Grupos do Faturamento Mensal
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Grupo
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroFaturamentoMensalGrupo">
                <div class="row">
                    <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                            <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: TipoObservacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoObservacao.text, attr: { for: TipoObservacao.id }"></label>
                            <select class="form-control" data-bind="options: TipoObservacao.options, optionsText: 'text', optionsValue: 'value', value: TipoObservacao.val, attr: { id : TipoObservacao.id}"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: FaturamentoAutomatico.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: FaturamentoAutomatico.val, attr: { maxlength: FaturamentoAutomatico.maxlength, name: FaturamentoAutomatico.id, id: FaturamentoAutomatico.id},event : {change : FaturamentoAutomatico.eventChange }">
                                <label class="custom-control-label" data-bind="text: FaturamentoAutomatico.text, attr: { for: FaturamentoAutomatico.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div id="divFaturamentoAutomatico" class="row d-none">

                        <div class="col-12 col-md-3" data-bind="visible: DiaFatura.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiaFatura.text, attr: { for: DiaFatura.id }"></label>
                                <input type="text" class="form-control" data-bind="css: DiaFatura.requiredClass,value: DiaFatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiaFatura.maxlength, id : DiaFatura.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-9" data-bind="visible: Servico.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Servico.text, attr: { for: Servico.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: Servico.requiredClass, value: Servico.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Servico.text, maxlength: Servico.maxlength, id: Servico.id, name: Servico.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Servico.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: NaturezaDaOperacaoDentroEstado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NaturezaDaOperacaoDentroEstado.text, attr: { for: NaturezaDaOperacaoDentroEstado.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: NaturezaDaOperacaoDentroEstado.requiredClass, value: NaturezaDaOperacaoDentroEstado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': NaturezaDaOperacaoDentroEstado.text, maxlength: NaturezaDaOperacaoDentroEstado.maxlength, id: NaturezaDaOperacaoDentroEstado.id, name: NaturezaDaOperacaoDentroEstado.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: NaturezaDaOperacaoDentroEstado.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: NaturezaDaOperacaoForaEstado.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: NaturezaDaOperacaoForaEstado.text, attr: { for: NaturezaDaOperacaoForaEstado.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: NaturezaDaOperacaoForaEstado.requiredClass, value: NaturezaDaOperacaoForaEstado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': NaturezaDaOperacaoForaEstado.text, maxlength: NaturezaDaOperacaoForaEstado.maxlength, id: NaturezaDaOperacaoForaEstado.id, name: NaturezaDaOperacaoForaEstado.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: NaturezaDaOperacaoForaEstado.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: TipoMovimento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoMovimento.text, attr: { for: TipoMovimento.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: TipoMovimento.requiredClass, value: TipoMovimento.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoMovimento.text, maxlength: TipoMovimento.maxlength, id: TipoMovimento.id, name: TipoMovimento.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoMovimento.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: BoletoConfiguracao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: BoletoConfiguracao.text, attr: { for: BoletoConfiguracao.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: BoletoConfiguracao.requiredClass, value: BoletoConfiguracao.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': BoletoConfiguracao.text, maxlength: BoletoConfiguracao.maxlength, id: BoletoConfiguracao.id, name: BoletoConfiguracao.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: BoletoConfiguracao.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" data-bind="visible: ObservacaoAdesao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ObservacaoAdesao.text, attr: { for: ObservacaoAdesao.id }"></label>
                                <textarea class="form-control" rows="4" data-bind="value: ObservacaoAdesao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoAdesao.maxlength, id : ObservacaoAdesao.id }"></textarea>
                            </div>
                        </div>
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: ObservacaoAdesao.visible">
                            <span>Tags: </span>
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagNomeGrupo.eventClick, visible: TagNomeGrupo.visible, attr: { value: TagNomeGrupo.text, id : TagNomeGrupo.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagQtdTotalDocumentos.eventClick, visible: TagQtdTotalDocumentos.visible, attr: { value: TagQtdTotalDocumentos.text, id : TagQtdTotalDocumentos.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagQtdNFe.eventClick, visible: TagQtdNFe.visible, attr: { value: TagQtdNFe.text, id : TagQtdNFe.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagQtdNFSe.eventClick, visible: TagQtdNFSe.visible, attr: { value: TagQtdNFSe.text, id : TagQtdNFSe.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagQtdBoleto.eventClick, visible: TagQtdBoleto.visible, attr: { value: TagQtdBoleto.text, id : TagQtdBoleto.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagQtdTitulo.eventClick, visible: TagQtdTitulo.visible, attr: { value: TagQtdTitulo.text, id : TagQtdTitulo.id}">
                            <input class="btn-default btn-xs" type="button" data-bind="click: TagMesAnoPeriodo.eventClick, visible: TagMesAnoPeriodo.visible, attr: { value: TagMesAnoPeriodo.text, id : TagMesAnoPeriodo.id}">
                        </section>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6 mt-2">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>



<script src="~/scripts/faturamentoMensalGrupo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadFaturamentoMensalGrupo();
    });

</script>

