
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Faturamentos Mensais</li>
    <li class="breadcrumb-item active">Plano Emissão Faturamento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Plano de Emissão
    </h1>
</div>
<div id="knockoutPesquisaPlanoEmissaoFaturamento">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Plano de Emissão
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel mt-3">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabPlanoEmissaoFaturamento" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet">Plano de Emissão</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabValores" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-dollar-sign"></i><span class="hidden-mobile hidden-tablet">Valores</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutCadastroPlanoEmissaoFaturamento">
                <div class="tab-pane fade active show" id="tabPlanoEmissaoFaturamento" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-7" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ValorAdesao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorAdesao.text, attr: { for: ValorAdesao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: ValorAdesao.requiredClass,value: ValorAdesao.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorAdesao.maxlength, id : ValorAdesao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoObservacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoObservacao.text, attr: { for: TipoObservacao.id }"></label>
                                    <select class="form-control" data-bind="options: TipoObservacao.options, optionsText: 'text', optionsValue: 'value', value: TipoObservacao.val, attr: { id : TipoObservacao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CobrancaNFe.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CobrancaNFe.val, attr: { maxlength: CobrancaNFe.maxlength, name: CobrancaNFe.id, id: CobrancaNFe.id }">
                                        <label class="custom-control-label" data-bind="text: CobrancaNFe.text, attr: { for: CobrancaNFe.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CobrancaNFSe.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CobrancaNFSe.val, attr: { maxlength: CobrancaNFSe.maxlength, name: CobrancaNFSe.id, id: CobrancaNFSe.id }">
                                        <label class="custom-control-label" data-bind="text: CobrancaNFSe.text, attr: { for: CobrancaNFSe.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CobrancaBoleto.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CobrancaBoleto.val, attr: { maxlength: CobrancaBoleto.maxlength, name: CobrancaBoleto.id, id: CobrancaBoleto.id }">
                                        <label class="custom-control-label" data-bind="text: CobrancaBoleto.text, attr: { for: CobrancaBoleto.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CobrancaTitulo.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CobrancaTitulo.val, attr: { maxlength: CobrancaTitulo.maxlength, name: CobrancaTitulo.id, id: CobrancaTitulo.id }">
                                        <label class="custom-control-label" data-bind="text: CobrancaTitulo.text, attr: { for: CobrancaTitulo.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="tabValores" role="tabpanel">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: ValoresPlano.idGrid}" cellspacing="0"></table>
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeInicial.text, attr: { for: QuantidadeInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: QuantidadeInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeInicial.maxlength, id : QuantidadeInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeFinal.text, attr: { for: QuantidadeFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: QuantidadeFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeFinal.maxlength, id : QuantidadeFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Valor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Valor.text, attr: { for: Valor.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Valor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Valor.maxlength, id : Valor.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: DescricaoValor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DescricaoValor.text, attr: { for: DescricaoValor.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DescricaoValor.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoValor.maxlength, id : DescricaoValor.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoObservacaoValor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoObservacaoValor.text, attr: { for: TipoObservacaoValor.id }"></label>
                                    <select class="form-control" data-bind="options: TipoObservacaoValor.options, optionsText: 'text', optionsValue: 'value', value: TipoObservacaoValor.val, attr: { id : TipoObservacaoValor.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-10" data-bind="visible: ObservacaoValor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ObservacaoValor.text, attr: { for: ObservacaoValor.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: ObservacaoValor.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoValor.maxlength, id : ObservacaoValor.id}" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: AdicionarValor.eventClick, visible: AdicionarValor.visible, attr: { id : AdicionarValor.id}">
                            <span data-bind="text: AdicionarValor.text"></span>
                        </button>
                    </form>
                </div>
                <footer class="d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>



<script src="~/scripts/planoEmissaoFaturamento"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPlanoEmissaoFaturamento();
    });

</script>

