
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Faturamentos Mensais</li>
        <li class="breadcrumb-item active">Validação Faturamento Mensal</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Novos Cadastros do Faturamento Mensal
        </h1>
    </div>


    <div class="panel" id="knockoutPesquisaValidacaoFaturamentoMensal">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Validação de Novos Cadastros Para o Faturamento Mensal
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">

                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-12 col-md-12" data-bind="visible: GrupoFaturamento.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: GrupoFaturamento.text, attr: { for: GrupoFaturamento.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoFaturamento.requiredClass, value: GrupoFaturamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoFaturamento.maxlength, id : GrupoFaturamento.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoFaturamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <div class="col-6">
                                        <button class="btn btn-success btnPesquisarFiltroPesquisa" data-bind="click: SalvarClientes2.eventClick, attr: { id: SalvarClientes2.id}" type="button" style="float: left">
                                            <i data-bind="attr: { class: SalvarClientes2.icon}" class="fal fa-plus"></i><span data-bind="text: SalvarClientes2.text"></span>
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-default btnPesquisarFiltroPesquisa me-3" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}" type="button">
                                            <i data-bind="attr: { class: Cancelar.icon}" class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                        </button>
                                        <button class="btn btn-warning btnPesquisarFiltroPesquisa" data-bind="click: BuscarClientes.eventClick, attr: { id: BuscarClientes.id}" type="button">
                                            <i data-bind="attr: { class: BuscarClientes.icon}" class="fal fa-plus"></i><span data-bind="text: BuscarClientes.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="insideNoPaddignTable mt-3">
                    <table width="100%" class="table table-bordered table-hover" data-bind="enable: Empresas.enable, attr: { id: Empresas.idGrid}" cellspacing="0"></table>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-default btnPesquisarFiltroPesquisa me-3" data-bind="click: GerarRelatorio.eventClick, attr: { id: GerarRelatorio.id}" type="button">
                        <i data-bind="attr: { class: GerarRelatorio.icon}" class="fal fa-plus"></i><span data-bind="text: GerarRelatorio.text"></span>
                    </button>
                    <button class="btn btn-success btnPesquisarFiltroPesquisa" data-bind="click: SalvarClientes.eventClick, attr: { id: SalvarClientes.id}" type="button">
                        <i data-bind="attr: { class: SalvarClientes.icon}" class="fal fa-plus"></i><span data-bind="text: SalvarClientes.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/validacaoFaturamentoMensal"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadValidacaoFaturamentoMensal();
    });

</script>

