@{
    ViewBag.Title = "Importação";
}

<h2>
    Importar Veículos
</h2>
@using (Html.BeginForm("ImportarVeiculos", "ImportacaoBenner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}



<h2>
    Importar Cidades
</h2>
@using (Html.BeginForm("ImportarLocalidades", "ImportacaoBenner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}

<h2>
    Importar Pessoas
</h2>
@using (Html.BeginForm("ImportarPessoas", "ImportacaoBenner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}

<h2>
    Importar Outro Endereço Cliente
</h2>
@using (Html.BeginForm("ImportarOutroEnderecoCliente", "ImportacaoBenner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}

<h2>
    Importar Motoristas
</h2>
@using (Html.BeginForm("ImportarMotoristas", "ImportacaoBenner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Importar" />

}

