#content {
    padding: 0px !important;
}

#divAcompanhamentoCarga h1, #divAcompanhamentoCarga h2, #divAcompanhamentoCarga h3, #divAcompanhamentoCarga h4, #divAcompanhamentoCarga h5, #divAcompanhamentoCarga h6 {
    letter-spacing: 0px !important;
}

