
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">EDI</li>
    <li class="breadcrumb-item active">Layout EDI</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Layout EDI
    </h1>
</div>
<div id="knockoutPesquisaLayoutEDI">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Layout EDI
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel mt-3">
    <div id="knockoutCadastroRota" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item" id="liTabTipoCarga">
                    <a href="#knockoutCadastroLayoutEDI" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Layout EDI </span><i class="fal fa-file"></i>
                    </a>
                </li>
                <li class="nav-item" id="liModeloVeicular">
                    <a href="#knockoutCadastroCamposEDI" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Campos Layout EDI </span><i class="fal fa-sitemap"></i>
                    </a>
                </li>
                <li class="nav-item" id="liDadosCamposEDI">
                    <a href="#knockoutDadosCamposEDI" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Importar/Exportar </span><i class="fal fa-upload"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="knockoutCadastroLayoutEDI" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { id : Tipo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: QuantidadeNotasSequencia.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeNotasSequencia.text, attr: { for: QuantidadeNotasSequencia.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeNotasSequencia.requiredClass, value: QuantidadeNotasSequencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeNotasSequencia.maxlength, id : QuantidadeNotasSequencia.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Separador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Separador.text, attr: { for: Separador.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Separador.requiredClass, value: Separador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Separador.maxlength, id : Separador.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: SeparadorDecimal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SeparadorDecimal.text, attr: { for: SeparadorDecimal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: SeparadorDecimal.requiredClass, value: SeparadorDecimal.val, valueUpdate: 'afterkeydown', attr: { maxlength: SeparadorDecimal.maxlength, id : SeparadorDecimal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mt-5" data-bind="visible: SeparadorInicialFinal.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: SeparadorInicialFinal.val, attr: { maxlength: SeparadorInicialFinal.maxlength, name: SeparadorInicialFinal.id, id: SeparadorInicialFinal.id }">
                                        <label class="custom-control-label" data-bind="text: SeparadorInicialFinal.text, attr: { for: SeparadorInicialFinal.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Encoding.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Encoding.text, attr: { for: Encoding.id }"></label>
                                    <select class="form-control" data-bind="class: Encoding.requiredClass, options: Encoding.options, optionsText: 'text', optionsValue: 'value', value: Encoding.val, attr: { maxlength: Encoding.maxlength, id : Encoding.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: EmailLeitura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EmailLeitura.text, attr: { for: EmailLeitura.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: EmailLeitura.requiredClass,value: EmailLeitura.val, valueUpdate: 'afterkeydown', attr: { maxlength: EmailLeitura.maxlength, id : EmailLeitura.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Nomenclatura.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nomenclatura.text, attr: { for: Nomenclatura.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Nomenclatura.requiredClass, value: Nomenclatura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nomenclatura.maxlength, id : Nomenclatura.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ExtensaoArquivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ExtensaoArquivo.text, attr: { for: ExtensaoArquivo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ExtensaoArquivo.requiredClass, value: ExtensaoArquivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ExtensaoArquivo.maxlength, id : ExtensaoArquivo.id}" />
                                </div>
                            </div>
                        </div>
                        <span id="EtiquetaTags">Tags: </span>
                        <input type="button" data-bind="click: TagTransportadoraCNPJ.eventClick, visible: TagTransportadoraCNPJ.visible, attr: { value: TagTransportadoraCNPJ.text, id : TagTransportadoraCNPJ.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagCNPJCliente.eventClick, visible: TagCNPJCliente.visible, attr: { value: TagCNPJCliente.text, id : TagCNPJCliente.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagFinalCNPJCliente.eventClick, visible: TagFinalCNPJCliente.visible, attr: { value: TagFinalCNPJCliente.text, id : TagFinalCNPJCliente.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagAno.eventClick, visible: TagAno.visible, attr: { value: TagAno.text, id : TagAno.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagAnoAbreviado.eventClick, visible: TagAnoAbreviado.visible, attr: { value: TagAnoAbreviado.text, id : TagAnoAbreviado.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagMes.eventClick, visible: TagMes.visible, attr: { value: TagMes.text, id : TagMes.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagDia.eventClick, visible: TagDia.visible, attr: { value: TagDia.text, id : TagDia.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagHora.eventClick, visible: TagHora.visible, attr: { value: TagHora.text, id : TagHora.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagMin.eventClick, visible: TagMin.visible, attr: { value: TagMin.text, id : TagMin.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagSeg.eventClick, visible: TagSeg.visible, attr: { value: TagSeg.text, id : TagSeg.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagNumero.eventClick, visible: TagNumero.visible, attr: { value: TagNumero.text, id : TagNumero.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagNumeroCarregamento.eventClick, visible: TagNumeroCarregamento.visible, attr: { value: TagNumeroCarregamento.text, id : TagNumeroCarregamento.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagIdRegistro.eventClick, visible: TagIdRegistro.visible, attr: { value: TagIdRegistro.text, id : TagIdRegistro.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagCodigoEmpresa.eventClick, visible: TagCodigoEmpresa.visible, attr: { value: TagCodigoEmpresa.text, id : TagCodigoEmpresa.id}" class="btn btn-labeled btn-default botaoTags" />
                        <input type="button" data-bind="click: TagCodigoEstabelecimento.eventClick, visible: TagCodigoEstabelecimento.visible, attr: { value: TagCodigoEstabelecimento.text, id : TagCodigoEstabelecimento.id}" class="btn btn-labeled btn-default botaoTags mt-1" />
                        <input type="button" data-bind="click: TagNumeroFatura.eventClick, visible: TagNumeroFatura.visible, attr: { value: TagNumeroFatura.text, id : TagNumeroFatura.id}" class="btn btn-labeled btn-default botaoTags mt-1" />
                        <input type="button" data-bind="click: TagProtocoloCarga.eventClick, visible: TagProtocoloCarga.visible, attr: { value: TagProtocoloCarga.text, id : TagProtocoloCarga.id}" class="btn btn-labeled btn-default botaoTags mt-1" />
                        <input type="button" data-bind="click: TagTipoOcorrencia.eventClick, visible: TagTipoOcorrencia.visible, attr: { value: TagTipoOcorrencia.text, id : TagTipoOcorrencia.id}" class="btn btn-labeled btn-default botaoTags mt-1" />
                        <div class="row mt-3">
                            <div class="col-12 col-md-3" data-bind="visible: ValidarRota.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ValidarRota.val, attr: { maxlength: ValidarRota.maxlength, name: ValidarRota.id, id: ValidarRota.id }">
                                        <label class="custom-control-label" data-bind="text: ValidarRota.text, attr: { for: ValidarRota.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: ValidarNumeroReferenciaEDI.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ValidarNumeroReferenciaEDI.val, attr: { maxlength: ValidarNumeroReferenciaEDI.maxlength, name: ValidarNumeroReferenciaEDI.id, id: ValidarNumeroReferenciaEDI.id }">
                                        <label class="custom-control-label" data-bind="text: ValidarNumeroReferenciaEDI.text, attr: { for: ValidarNumeroReferenciaEDI.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: RemoverDiacriticos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: RemoverDiacriticos.val, attr: { maxlength: RemoverDiacriticos.maxlength, name: RemoverDiacriticos.id, id: RemoverDiacriticos.id }">
                                        <label class="custom-control-label" data-bind="text: RemoverDiacriticos.text, attr: { for: RemoverDiacriticos.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: CamposPorIndices.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: CamposPorIndices.val, attr: { maxlength: CamposPorIndices.maxlength, name: CamposPorIndices.id, id: CamposPorIndices.id }">
                                        <label class="custom-control-label" data-bind="text: CamposPorIndices.text, attr: { for: CamposPorIndices.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: GerarEDIEmOcorrencias.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: GerarEDIEmOcorrencias.val, attr: { maxlength: GerarEDIEmOcorrencias.maxlength, name: GerarEDIEmOcorrencias.id, id: GerarEDIEmOcorrencias.id }">
                                        <label class="custom-control-label" data-bind="text: GerarEDIEmOcorrencias.text, attr: { for: GerarEDIEmOcorrencias.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: IncluirCNPJEmitenteArquivoEDI.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: IncluirCNPJEmitenteArquivoEDI.val, attr: { maxlength: IncluirCNPJEmitenteArquivoEDI.maxlength, name: IncluirCNPJEmitenteArquivoEDI.id, id: IncluirCNPJEmitenteArquivoEDI.id }">
                                        <label class="custom-control-label" data-bind="text: IncluirCNPJEmitenteArquivoEDI.text, attr: { for: IncluirCNPJEmitenteArquivoEDI.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ConsiderarDadosExpedidorECTe.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ConsiderarDadosExpedidorECTe.val, attr: { maxlength: ConsiderarDadosExpedidorECTe.maxlength, name: ConsiderarDadosExpedidorECTe.id, id: ConsiderarDadosExpedidorECTe.id }">
                                        <label class="custom-control-label" data-bind="text: ConsiderarDadosExpedidorECTe.text, attr: { for: ConsiderarDadosExpedidorECTe.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: BuscarNotaSemChaveDosDocumentosDestinados.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: BuscarNotaSemChaveDosDocumentosDestinados.val, attr: { maxlength: BuscarNotaSemChaveDosDocumentosDestinados.maxlength, name: BuscarNotaSemChaveDosDocumentosDestinados.id, id: BuscarNotaSemChaveDosDocumentosDestinados.id }">
                                        <label class="custom-control-label" data-bind="text: BuscarNotaSemChaveDosDocumentosDestinados.text, attr: { for: BuscarNotaSemChaveDosDocumentosDestinados.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: AgruparNotasFiscaisDosCTesParaSubcontratacao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: AgruparNotasFiscaisDosCTesParaSubcontratacao.val, attr: { maxlength: AgruparNotasFiscaisDosCTesParaSubcontratacao.maxlength, name: AgruparNotasFiscaisDosCTesParaSubcontratacao.id, id: AgruparNotasFiscaisDosCTesParaSubcontratacao.id }">
                                        <label class="custom-control-label" data-bind="text: AgruparNotasFiscaisDosCTesParaSubcontratacao.text, attr: { for: AgruparNotasFiscaisDosCTesParaSubcontratacao.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade " id="knockoutCadastroCamposEDI" role="tabpanel">
                    <div class="col-sm-12">
                    <div id="reorderSelector" ></div>

                    </div>
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: IdentificadorRegistro.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: IdentificadorRegistro.text, attr: { for: IdentificadorRegistro.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: IdentificadorRegistro.requiredClass, value: IdentificadorRegistro.val, valueUpdate: 'afterkeydown', attr: { maxlength: IdentificadorRegistro.maxlength, id : IdentificadorRegistro.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: IdentificadorRegistroPai.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: IdentificadorRegistroPai.text, attr: { for: IdentificadorRegistroPai.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: IdentificadorRegistroPai.requiredClass, value: IdentificadorRegistroPai.val, valueUpdate: 'afterkeydown', attr: { maxlength: IdentificadorRegistroPai.maxlength, id : IdentificadorRegistroPai.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Tipo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Tipo.text, attr: { for: Tipo.id }"></label>
                                    <select class="form-control" data-bind="class: Tipo.requiredClass, options: Tipo.options, optionsText: 'text', optionsValue: 'value', value: Tipo.val, attr: { maxlength: Tipo.maxlength, id : Tipo.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3" data-bind="visible: PropriedadeObjeto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PropriedadeObjeto.text, attr: { for: PropriedadeObjeto.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: PropriedadeObjeto.requiredClass, value: PropriedadeObjeto.val, valueUpdate: 'afterkeydown', attr: { maxlength: PropriedadeObjeto.maxlength, id : PropriedadeObjeto.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: PropriedadeObjetoPai.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PropriedadeObjetoPai.text, attr: { for: PropriedadeObjetoPai.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: PropriedadeObjetoPai.requiredClass, value: PropriedadeObjetoPai.val, valueUpdate: 'afterkeydown', attr: { maxlength: PropriedadeObjetoPai.maxlength, id : PropriedadeObjetoPai.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Objeto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Objeto.text, attr: { for: Objeto.id }"></label>
                                    <select class="form-control" data-bind="class: Objeto.requiredClass, options: Objeto.options, optionsText: 'text', optionsValue: 'value', value: Objeto.val, attr: { maxlength: Objeto.maxlength, id : Objeto.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Condicao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                    <select class="form-control" data-bind="class: Condicao.requiredClass, options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { maxlength: Condicao.maxlength, id : Condicao.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Mascara.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Mascara.text, attr: { for: Mascara.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Mascara.requiredClass, value: Mascara.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mascara.maxlength, id : Mascara.id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Alinhamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Alinhamento.text, attr: { for: Alinhamento.id }"></label>
                                    <select class="form-control" data-bind="class: Alinhamento.requiredClass, options: Alinhamento.options, optionsText: 'text', optionsValue: 'value', value: Alinhamento.val, attr: { maxlength: Alinhamento.maxlength, id : Alinhamento.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Indice.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Indice.text, attr: { for: Indice.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Indice.requiredClass, value: Indice.val, valueUpdate: 'afterkeydown', attr: { maxlength: Indice.maxlength, id : Indice.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeCaracteres.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeCaracteres.text, attr: { for: QuantidadeCaracteres.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeCaracteres.requiredClass, value: QuantidadeCaracteres.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeCaracteres.maxlength, id : QuantidadeCaracteres.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeInteiros.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeInteiros.text, attr: { for: QuantidadeInteiros.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeInteiros.requiredClass, value: QuantidadeInteiros.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeInteiros.maxlength, id : QuantidadeInteiros.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadeDecimais.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadeDecimais.text, attr: { for: QuantidadeDecimais.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: QuantidadeDecimais.requiredClass, value: QuantidadeDecimais.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeDecimais.maxlength, id : QuantidadeDecimais.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorFixo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorFixo.text, attr: { for: ValorFixo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: ValorFixo.requiredClass, value: ValorFixo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorFixo.maxlength, id : ValorFixo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2 mt-5" data-bind="visible: Repetir.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: Repetir.val, attr: { maxlength: Repetir.maxlength, name: Repetir.id, id: Repetir.id }">
                                        <label class="custom-control-label" data-bind="text: Repetir.text, attr: { for: Repetir.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Expressao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expressao.text, attr: { for: Expressao.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Expressao.requiredClass, value: Expressao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expressao.maxlength, id : Expressao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: NaoEscreverRegistro.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: NaoEscreverRegistro.val, attr: { maxlength: NaoEscreverRegistro.maxlength, name: NaoEscreverRegistro.id, id: NaoEscreverRegistro.id }">
                                        <label class="custom-control-label" data-bind="text: NaoEscreverRegistro.text, attr: { for: NaoEscreverRegistro.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: RemoverCaracteresEspeciais.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: RemoverCaracteresEspeciais.val, attr: { maxlength: RemoverCaracteresEspeciais.maxlength, name: RemoverCaracteresEspeciais.id, id: RemoverCaracteresEspeciais.id }">
                                        <label class="custom-control-label" data-bind="text: RemoverCaracteresEspeciais.text, attr: { for: RemoverCaracteresEspeciais.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="d-flex justify-content-end">
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="tab-pane fade" id="knockoutDadosCamposEDI" role="tabpanel">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered table-hover" cellspacing="0"></table>
                    </div>
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: DadosCampos.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DadosCampos.text, attr: { for: DadosCampos.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: DadosCampos.val, valueUpdate: 'afterkeydown', attr: { id : DadosCampos.id }"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Exportar.eventClick, visible: Exportar.visible, text: Exportar.text, attr: { id : Exportar.id}">
                        </button>
                        <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Importar.eventClick, visible: Importar.visible, text: Importar.text, attr: { id : Importar.id}">
                        </button>
                    </footer>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3" id="knockoutCRUDLayoutEDI">
                <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                </button>
                <button type="button" class="btn btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                </button>
                <button type="button" class="btn btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                </button>
                <button type="button" class="btn btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                </button>
            </div>
        </div>
    </div>
</div>



<script src="~/scripts/layoutEDI"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadLayoutEDI();
    });

</script>

