
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Produtos</li>
        <li class="breadcrumb-item active">Alteração Produto</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Alteração de dados dos Produtos
        </h1>
    </div>

    <div class="row">
        <div id="knockoutPesquisaProduto" class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                            <i class="fal fa-search"></i> Dados de Produtos
                        </button>
                        <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                            <div class="row">
                                <div class="col-12 col-md-5" data-bind="visible: GrupoImposto.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoImposto.text, attr: { for: GrupoImposto.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoImposto.requiredClass, value: GrupoImposto.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoImposto.maxlength, id : GrupoImposto.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoImposto.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoNCM.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoNCM.text, attr: { for: CodigoNCM.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoNCM.requiredClass, value: CodigoNCM.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoNCM.maxlength, id : CodigoNCM.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoBarrasEAN.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoBarrasEAN.text, attr: { for: CodigoBarrasEAN.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: CodigoBarrasEAN.requiredClass, value: CodigoBarrasEAN.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoBarrasEAN.maxlength, id : CodigoBarrasEAN.id}" />
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-end mb-3 ">
                                <button class="btn btn-default  ms-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                                    <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                </button>
                                <button class="btn btn-warning  ms-2" type="button" data-bind="click: BuscarProdutos.eventClick, attr: { id: BuscarProdutos.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: BuscarProdutos.text"></span>
                                </button>
                                <button class="btn btn-success ms-2" type="button" data-bind="click: SalvarProdutos2.eventClick, attr: { id: SalvarProdutos2.id}">
                                    <i class="fal fa-check"></i><span data-bind="text: SalvarProdutos2.text"></span>
                                </button>
                            </footer>
                            <div class="row">
                                <div class="col-12 col-md-10" data-bind="visible: GrupoImpostoAlterar.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: GrupoImpostoAlterar.text, attr: { for: GrupoImpostoAlterar.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: GrupoImpostoAlterar.requiredClass, value: GrupoImpostoAlterar.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoImpostoAlterar.maxlength, id : GrupoImpostoAlterar.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoImpostoAlterar.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 align-self-center mt-1">
                                    <button class="btn btn-success " type="button" data-bind="click: AtualizarGrupoImposto.eventClick, attr: { id: AtualizarGrupoImposto.id}">
                                        <span data-bind="text: AtualizarGrupoImposto.text"></span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" data-bind="click: SelecionarTodos.eventClick, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible" class="btn btn-labeled btn-default botaoAdiconarMultiplosRegistros" style="float:right; margin-top:-7px;" type="button">
                                    <span data-bind="text: SelecionarTodos.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="enable: Produtos.enable, attr: { id: Produtos.idGrid}" cellspacing="0"></table>
                            <div>
                                <button class="btn btn-success" data-bind="click: SalvarProdutos.eventClick, attr: { id: SalvarProdutos.id}, visible: SalvarProdutos.visible" type="button">
                                    <i class="fal fa-check"></i><span data-bind="text: SalvarProdutos.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script src="~/scripts/alteracaoProduto"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadAlteracaoProduto();
    });

</script>

