
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Produtos</li>
    <li class="breadcrumb-item active">Conversão de Unidade</li>
</ol>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="far fa-exchange"></i>
                Conversão de Unidade
            </h3>
        </div>
        <div class="panel-content" id="knoutConversaoDeUnidades">
            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
            <div class="row py-2">
                <div class="col-12 col-md-1" data-bind="visible: SiglaDe.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SiglaDe.text"></label>
                        <input type="text" class="form-control" data-bind="class: SiglaDe.requiredClass, value: SiglaDe.val, valueUpdate: 'afterkeydown', attr: { maxlength: SiglaDe.maxlength, id : SiglaDe.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DescricaoDe.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DescricaoDe.text"></label>
                        <input type="text" class="form-control" data-bind="class: DescricaoDe.requiredClass, value: DescricaoDe.val, valueUpdate: 'afterkeydown', attr: { maxlength: DescricaoDe.maxlength, id : DescricaoDe.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-1" data-bind="visible: SiglaPara.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: SiglaPara.text"></label>
                        <input type="text" class="form-control" data-bind="class: SiglaPara.requiredClass,enable: SiglaPara.enable, value: SiglaPara.val, valueUpdate: 'afterkeydown', attr: { maxlength: SiglaPara.maxlength, id : SiglaPara.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: UnidadePara.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: UnidadePara.text, attr: { for: UnidadePara.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: UnidadePara.requiredClass, value: UnidadePara.val, valueUpdate: 'afterkeydown', attr: { maxlength: UnidadePara.maxlength, id : UnidadePara.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UnidadePara.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-2 d-flex justify-content-center align-items-center mt-2">
                    <button class="btn btn-secondary waves-effect waves-themed" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>

            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick, attr: { id: Salvar.id}">
                    <span data-bind="text: Salvar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/conversaoDeUnidades"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadConversaoDeUnidades();
    });

</script>