
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Produtos</li>
    <li class="breadcrumb-item active">Produto Opentech</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Produto Opentech
    </h1>
</div>

<div id="knockoutPesquisaProdutoOpentech">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Produto
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-5" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id},  class: TipoOperacao.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" data-bind="visible: Apolice.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Apolice.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: Apolice.val, valueUpdate: 'afterkeydown', attr: { maxlength: Apolice.maxlength, id : Apolice.id}, class: Apolice.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Apolice.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Estado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Estado.text"></label>
                                    <select class="form-control" data-bind="options: Estado.options, optionsText: 'text', optionsValue: 'value', value: Estado.val, attr: { id : Estado.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-9" data-bind="visible: TipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel mt-3">
    <div id="knockoutCadastroRota" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutProdutoOpentech" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Detalhes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutEstado" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Estado</span>
                    </a>
                </li>
                <li class="nav-item" id="ConsideraLocalidade"  data-bind="visible: ConsiderarLocalidadeProdutoIntegracaoEntrega.visible">
                    <a href="#knockoutLocalidade" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">Localidade</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="knockoutProdutoOpentech" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id},  class: TipoOperacao.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoOperacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: TipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Apolice.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Apolice.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: Apolice.val, valueUpdate: 'afterkeydown', attr: { maxlength: Apolice.maxlength, id : Apolice.id}, class: Apolice.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Apolice.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoOpentech.text"></label>
                                    <select class="form-control" data-bind="options: ProdutoOpentech.options, optionsText: 'text', optionsValue: 'value', value: ProdutoOpentech.val, attr: { id : ProdutoOpentech.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorDe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorDe.text"></label>
                                    <input type="text" class="form-control" data-bind="value: ValorDe.val, valueUpdate: 'afterkeydown', enable: ValorDe.enable, attr: { maxlength: ValorDe.maxlength, id : ValorDe.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: ValorAte.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ValorAte.text"></label>
                                    <input type="text" class="form-control" data-bind="value: ValorAte.val, valueUpdate: 'afterkeydown', enable: ValorAte.enable, attr: { maxlength: ValorAte.maxlength, id : ValorAte.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: CodigoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoEmbarcador.val, valueUpdate: 'afterkeydown', enable: CodigoEmbarcador.enable, attr: { maxlength: CodigoEmbarcador.maxlength, id : CodigoEmbarcador.id}" />
                                </div>
                            </div>
                        </div>
                        <footer >
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                        <i class="fal fa-ban"></i>
                                        <span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                        <i class="fal fa-trash"></i>
                                        <span data-bind="text: Excluir.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                        <i class="fal fa-check"></i>
                                        <span data-bind="text: Atualizar.text"></span>
                                    </button>
                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                        <span data-bind="text: Adicionar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
                <div class="tab-pane fade" id="knockoutEstado" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3 my-3">
                                <button class="btn btn-primary waves-effect waves-themed botaoAdiconarMultiplosRegistros " data-bind="attr: { id: Estado.idBtnSearch}" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Estado.text"></span> 
                                </button>
                            </div>
                            <section class="insideNoPaddignTable">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="knockoutLocalidade" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-3 my-3">
                                <button class="btn btn-primary waves-effect waves-themed botaoAdiconarMultiplosRegistros " data-bind="attr: { id: Localidade.idBtnSearch}" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Localidade.text"></span>
                                </button>
                            </div>
                             <section class="insideNoPaddignTable">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </section> 
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/produtoOpentech"></script>

<script type="text/javascript">

    pageSetUp();

     _CONFIGURACAO_TMS = $.extend({}, _CONFIGURACAO_TMS, @Html.Raw(ViewBag.Configuracoes));
    $(document).ready(function () {
        loadProdutoOpentech();
    });

</script>

