;

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Produtos</li>
    <li class="breadcrumb-item active">Vincular produtos do fornecedor por NF-e</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i></i>  Vincular produtos do fornecedor por NF-e
    </h1>
</div>

<div id="knockoutImportacaoXMLNFe">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                            <label class="form-label" data-bind="text: Arquivo.text"></label>
                            <div class="custom-file" data-bind="visible: Arquivo.visible">
                                <input type="file" accept="text/xml" class="custom-file-input" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly />
                                <label data-bind="text: NomeArquivo.val, attr: { for: Arquivo.id }" class="custom-file-label"></label>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="d-flex justify-content-end mt-5">
                                <button class="btn btn-default ms-3" type="button" data-bind="click: Limpar.eventClick, attr: { id: Limpar.id}">
                                    <i class="fal fa-redo"></i><span data-bind="text: Limpar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="knockoutProdutosNFe">
    <div class="panel" data-bind="visible: Grid.visible">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div class="row">
                        <label class="col-12 mt-1 mb-3">
                            <span class="fw-bold fs-6" data-bind="text: Fornecedor.text"></span>
                            <span data-bind="text: Fornecedor.val"></span>
                        </label>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Grid.idGrid}" cellspacing="0"></table>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalVincularProdutoFornecedor" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vincular produto fornecedor</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body row" id="knockoutVincularProdutoFornecedor">
                <div class="col-12 col-md-6" data-bind="visible: Fornecedor.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="enable: Fornecedor.enable, css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Fornecedor.enable, attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: CodigoInterno.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: CodigoInterno.text"></label>
                        <input type="text" class="form-control" data-bind="enable: CodigoInterno.enable, class: CodigoInterno.requiredClass, value: CodigoInterno.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoInterno.maxlength, id : CodigoInterno.id}" />
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: ProdutoEmbarcador.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" data-bind="visible: Filiais.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Filiais.text, attr: { for: Filiais.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Filiais.requiredClass, value: Filiais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filiais.maxlength, id : Filiais.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filiais.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" id="knockoutCRUDVincularProdutoFornecedor">
                <button type="button" class="btn btn-secondary waves-effect waves-themed" data-bs-dismiss="modal">Fechar</button>
                <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="click: Salvar.eventClick,visible: Salvar.visible,attr: { id: Salvar.id}">
                    <span data-bind="text: Salvar.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/vincularProdutosFornecedorEmbarcadorPorNFe"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadVincularProdutosFornecedorEmbarcadorPorNFe();
    });
</script>
                    
