@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item active">Pneu Custo Estoque</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
    Relatório de Pneus - Custos e Estoque
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaPneuCustoEstoque">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataAquisicaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAquisicaoInicial.text, attr: { for: DataAquisicaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAquisicaoInicial.requiredClass, value: DataAquisicaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAquisicaoInicial.maxlength, id : DataAquisicaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataAquisicaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAquisicaoFinal.text, attr: { for: DataAquisicaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataAquisicaoFinal.requiredClass, value: DataAquisicaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAquisicaoFinal.maxlength, id : DataAquisicaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Vida.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Vida.text, attr: { for: Vida.id }"></label>
                                    <select class="form-control" data-bind="class: Vida.requiredClass, options: Vida.options, optionsText: 'text', optionsValue: 'value', value: Vida.val, attr: { maxlength: Vida.maxlength, id : Vida.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: EstadoPneu.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: EstadoPneu.text, attr: { for: EstadoPneu.id }"></label>
                                    <select class="form-control" data-bind="class: EstadoPneu.requiredClass, options: EstadoPneu.options, optionsText: 'text', optionsValue: 'value', selectedOptions: EstadoPneu.val, attr: { maxlength: EstadoPneu.maxlength, id : EstadoPneu.id}" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Almoxarifado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Almoxarifado.text, attr: { for: Almoxarifado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Almoxarifado.requiredClass, value: Almoxarifado.val, valueUpdate: 'afterkeydown', attr: { maxlength: Almoxarifado.maxlength, id : Almoxarifado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Almoxarifado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: BandaRodagem.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: BandaRodagem.text, attr: { for: BandaRodagem.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: BandaRodagem.requiredClass, value: BandaRodagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: BandaRodagem.maxlength, id : BandaRodagem.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: BandaRodagem.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Dimensao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Dimensao.text, attr: { for: Dimensao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Dimensao.requiredClass, value: Dimensao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Dimensao.maxlength, id : Dimensao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Dimensao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Marca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Marca.text, attr: { for: Marca.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Marca.requiredClass, value: Marca.val, valueUpdate: 'afterkeydown', attr: { maxlength: Marca.maxlength, id : Marca.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Marca.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Modelo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Modelo.text, attr: { for: Modelo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Modelo.requiredClass, value: Modelo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Modelo.maxlength, id : Modelo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Modelo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Pneu.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pneu.text, attr: { for: Pneu.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Pneu.requiredClass, value: Pneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pneu.maxlength, id : Pneu.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ServicoVeiculoFrota.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ServicoVeiculoFrota.text, attr: { for: ServicoVeiculoFrota.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ServicoVeiculoFrota.requiredClass, value: ServicoVeiculoFrota.val, valueUpdate: 'afterkeydown', attr: { maxlength: ServicoVeiculoFrota.maxlength, id : ServicoVeiculoFrota.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ServicoVeiculoFrota.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaPneuCustoEstoque" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaPneuCustoEstoque" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/relatorios/scripts/pneuCustoEstoque"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadPneuCustoEstoque();
    });

</script>