<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item">Pneu</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Pneus
        </h1>
    </div>
    <div class="panel row" id="divConteudoRelatorio" style="display: none;">
        <div class="panel-container ">
            <div>
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div>
                                        <div>
                                            <div class="smart-form">
                                                <section>
                                                    <div class="well">
                                                        <div class="panel-hdr">
                                                            <h3>Filtros de Pesquisa</h3>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div id="knockoutPesquisaPneu">
                                                                <div class="row">
                                                                    @*FILTROS PESQUISA*@
                                                                    <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Pneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Pneu.text, attr: { for: Pneu.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Pneu.requiredClass, value: Pneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pneu.maxlength, id : Pneu.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Pneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: ModeloPneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: ModeloPneu.text, attr: { for: ModeloPneu.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: ModeloPneu.requiredClass, value: ModeloPneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloPneu.maxlength, id : ModeloPneu.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloPneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: MarcaPneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: MarcaPneu.text, attr: { for: MarcaPneu.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: MarcaPneu.requiredClass, value: MarcaPneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaPneu.maxlength, id : MarcaPneu.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaPneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-2" data-bind="visible: TipoBandaRodagem.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoBandaRodagem.text, attr: { for: TipoBandaRodagem.id }"></label>
                                                                            <select class="form-control" data-bind="class: TipoBandaRodagem.requiredClass, options: TipoBandaRodagem.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoBandaRodagem.val, attr: { maxlength: TipoBandaRodagem.maxlength, id : TipoBandaRodagem.id}" multiple="multiple" title="Todas"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-2" data-bind="visible: StatusPneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: StatusPneu.text, attr: { for: StatusPneu.id }"></label>
                                                                            <select class="form-control" data-bind="class: StatusPneu.requiredClass, options: StatusPneu.options, optionsText: 'text', optionsValue: 'value', value: StatusPneu.val, attr: { maxlength: StatusPneu.maxlength, id : StatusPneu.id}"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-2" data-bind="visible: Movimentacao.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Movimentacao.text, attr: { for: Movimentacao.id }"></label>
                                                                            <select class="form-control" data-bind="class: Movimentacao.requiredClass, options: Movimentacao.options, optionsText: 'text', optionsValue: 'value', value: Movimentacao.val, attr: { maxlength: Movimentacao.maxlength, id : Movimentacao.id}"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-2" data-bind="visible: VidaUtil.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: VidaUtil.text, attr: { for: VidaUtil.id }"></label>
                                                                            <select class="form-control" data-bind="class: VidaUtil.requiredClass, options: VidaUtil.options, optionsText: 'text', optionsValue: 'value', value: VidaUtil.val, attr: { maxlength: VidaUtil.maxlength, id : VidaUtil.id}"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="divConfigRelatorio">
                                                            </div>
                                                            <footer class="no-padding">
                                                                <div class="row">
                                                                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-3">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                                                                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="knockoutCRUDFiltrosPesquisaPneu" class="col-12 col-md-9 d-flex justify-content-md-end">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                                                                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                                                                        </button>
                                                                        <!-- BUSCA AVANÇADA -->
                                                                        <!-- <button class="btn btn-default btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button"> -->
                                                                        <!-- <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i>&nbsp;<span data-bind="text: BuscaAvancada.text"></span> -->
                                                                        <!-- </button> -->
                                                                    </div>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div>
                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                                        </div>
                                    </div>
                                    <div>
                                        <footer class="no-padding">
                                            <div id="knockoutCRUDPesquisaPneu" class="d-flex justify-content-md-end mt-3 mb-3 me-3">
                                                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                                                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                                                </button>
                                                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                                                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                                                </button>
                                            </div>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/pneu"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadPneuRelatorio();
    });

</script>