<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item">Pneu por Veículo</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Pneus por Veículo
        </h1>
    </div>
    <div class="panel row" id="divConteudoRelatorio">
        <div class="panel-container ">
            <div>
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <div>
                        <div>
                            <div class="smart-form">
                                <section>
                                    <div>
                                        <div>
                                            <div class="smart-form">
                                                <section>
                                                    <div class="well">
                                                        <div class="panel-hdr">
                                                            <h3>Filtros de Pesquisa</h3>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div id="knockoutPesquisaPneuPorVeiculo">
                                                                <div class="row">
                                                                    @*FILTROS PESQUISA*@
                                                                    <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4 mt-5" data-bind="visible: MostrarSomentePosicoesVazias.visible">
                                                                        <div class="form-group">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MostrarSomentePosicoesVazias.val, attr: { maxlength: MostrarSomentePosicoesVazias.maxlength, name: MostrarSomentePosicoesVazias.id, id: MostrarSomentePosicoesVazias.id }">
                                                                                <label class="custom-control-label" data-bind="text: MostrarSomentePosicoesVazias.text, attr: { for: MostrarSomentePosicoesVazias.id }"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6" data-bind="visible: Motorista.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6" data-bind="visible: ModeloVeicular.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: MarcaPneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: MarcaPneu.text, attr: { for: MarcaPneu.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: MarcaPneu.requiredClass, value: MarcaPneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaPneu.maxlength, id : MarcaPneu.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaPneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: ModeloPneu.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: ModeloPneu.text, attr: { for: ModeloPneu.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: ModeloPneu.requiredClass, value: ModeloPneu.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloPneu.maxlength, id : ModeloPneu.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloPneu.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-4" data-bind="visible: Reboque.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Reboque.requiredClass, value: Reboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: Reboque.maxlength, id : Reboque.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Reboque.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6" data-bind="visible: Segmento.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: Segmento.text, attr: { for: Segmento.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: Segmento.requiredClass, value: Segmento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Segmento.maxlength, id : Segmento.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Segmento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6" data-bind="visible: CentroResultado.visible">
                                                                        <div class="form-group">
                                                                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                                                        <i class="fal fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="divConfigRelatorio">
                                                            </div>
                                                            <footer class="no-padding">
                                                                <div class="row">
                                                                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-3">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                                                                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="knockoutCRUDFiltrosPesquisaPneuPorVeiculo" class="col-12 col-md-9 d-flex justify-content-md-end">
                                                                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                                                                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div>
                                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped" id="gridPreviewRelatorio" cellspacing="0"></table>
                                        </div>
                                    </div>
                                    <div>
                                        <footer class="no-padding">
                                            <div id="knockoutCRUDPesquisaPneuPorVeiculo" class="d-flex justify-content-md-end mt-3 mb-3 me-3">
                                                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                                                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                                                </button>
                                                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                                                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                                                </button>
                                            </div>
                                        </footer>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/pneuPorVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadPneuPorVeiculo();
    });

</script>