@{
    Layout = "~/Views/GestaoEntregas/NovoRastreioEntrega/RastreioEntrega.cshtml";
}
<div class="margin-top-15" style="margin-top: 80px">
    <div class="col col-sm-12">
        <div class="well">
            <header>Rastreio Inválido</header>
            <fieldset>
                <div class="row">
                    <section class="col col-12">
                        <div class="alert alert-warning">
                            Não foi possível encontrar a entrega com o código de rastreio: <strong>"@Html.Raw(ViewBag.Token)"</strong>
                        </div>
                    </section>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#content")
            .removeClass("container-fluid")
            .addClass("container");
    });
</script>