@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Acerto Viagem</li>
    <li class="breadcrumb-item active">Bonificação Acerto Viagem</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Bonificação Acerto de Viagem
    </h1>
</div>




<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Relatório Bonificação Acerto de Viagem
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutPesquisaBonificacaoAcertoViagem">
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', class: Motorista.requiredClass, attr: { maxlength: Motorista.maxlength, id : Motorista.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataInicialAcerto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicialAcerto.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataInicialAcerto.val, valueUpdate: 'afterkeydown', class: DataInicialAcerto.requiredClass, attr: { maxlength: DataInicialAcerto.maxlength, id : DataInicialAcerto.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataFinalAcerto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinalAcerto.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataFinalAcerto.val, valueUpdate: 'afterkeydown', class: DataFinalAcerto.requiredClass, attr: { maxlength: DataFinalAcerto.maxlength, id : DataFinalAcerto.id }" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: NumeroAcerto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroAcerto.text"></label>
                            <input type="text" class="form-control" data-bind="value: NumeroAcerto.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAcerto.maxlength, id : NumeroAcerto.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoRelatorio.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', class: TipoRelatorio.requiredClass, attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch }">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoBonificacao.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: TipoBonificacao.val, class: TipoRelatorio.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: TipoBonificacao.maxlength, id : TipoBonificacao.id }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoBonificacao.idBtnSearch }">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataInicialBonificacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicialBonificacao.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataInicialBonificacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialBonificacao.maxlength, id : DataInicialBonificacao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataFinalBonificacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinalBonificacao.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataFinalBonificacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalBonificacao.maxlength, id : DataFinalBonificacao.id}" />
                        </div>
                    </div>

                </div>
                <div id="divConfigRelatorio">
                </div>

                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id }" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaBonificacaoAcertoViagem" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id }" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>

            </form>
            <div>
                <table width="100%" class="table table-bordered table-hover table-condensed " id="gridPreviewRelatorio" cellspacing="0"></table>
            </div>
            <footer class="d-flex align-items-center justify-content-end mb-3 my-3" id="knockoutCRUDPesquisaBonificacaoAcertoViagem">
                <div>
                    <button class="btn btn-primary waves-effect waves-themed btn-success mx-2" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id }" type="button">
                        <i></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary waves-effect waves-themed btn-success " data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id }" type="button">
                        <i></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                </div>

            </footer>
        </div>
    </div>
</div>







<script src="~/relatorios/scripts/BonificacaoAcertoViagem"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadBonificacaoAcertoViagem();
    });

</script>
