@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Acerto Viagem</li>
    <li class="breadcrumb-item active">Comissão Acerto Viagem</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Comissão do Acerto de Viagem
    </h1>
</div>




<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Relatório Comissão do Acerto de Viagem
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutPesquisaComissaoAcertoViagem">
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" s />
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: AcertoViagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AcertoViagem.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: AcertoViagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: AcertoViagem.maxlength, id : AcertoViagem.id}, class: AcertoViagem.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: AcertoViagem.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id},  class: Motorista.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataVencimentoInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataVencimentoInicial.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataVencimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoInicial.maxlength, id : DataVencimentoInicial.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataVencimentoFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataVencimentoFinal.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataVencimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimentoFinal.maxlength, id : DataVencimentoFinal.id}" />
                        </div>
                    </div>



                    <div class="col-12 col-md-4" data-bind="visible: Segmento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Segmento.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Segmento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Segmento.maxlength, id : Segmento.id}, class: Segmento.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: Segmento.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoRelatorio.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}, class: TipoRelatorio.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-4" data-bind="visible: ExibirOcorrencias.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirOcorrencias.val, attr: { maxlength: ExibirOcorrencias.maxlength, name: ExibirOcorrencias.id, id: ExibirOcorrencias.id }">
                                <label class="custom-control-label" data-bind="text: ExibirOcorrencias.text, attr: { for: ExibirOcorrencias.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divConfigRelatorio">
                </div>


                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaComissaoAcertoViagem" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>


            </form>
            <div>
                <table width="100%" class="table table-bordered table-hover table-condensed " id="gridPreviewRelatorio" cellspacing="0"></table>
            </div>
            <footer class="d-flex align-items-center justify-content-end mb-3 my-3" id="knockoutCRUDPesquisaComissaoAcertoViagem">
                <div>
                    <button class="btn btn-primary waves-effect waves-themed btn-success mx-2" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary waves-effect waves-themed btn-success " data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>

            </footer>

        </div>
    </div>
</div>














<script src="~/relatorios/scripts/comissaoAcertoViagem"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioComissaoAcertoViagem();
    });

</script>