@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Relatórios</li>
    <li class="breadcrumb-item">Acerto Viagem</li>
    <li class="breadcrumb-item active">Despesa Acerto Viagem</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> Despesa Acerto Viagem
    </h1>
</div>




<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Relatório Despesa Acerto Viagem
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutPesquisaDespesaAcertoViagem">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text"></label>
                            <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text"></label>
                            <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: AcertoViagem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: AcertoViagem.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: AcertoViagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: AcertoViagem.maxlength, id : AcertoViagem.id}, class: AcertoViagem.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: AcertoViagem.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}, class: Motorista.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeiculo.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: ModeloVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id},class: ModeloVeiculo.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ModeloVeiculo.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: Justificativa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Justificativa.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id},  class: Justificativa.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Justificativa.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: VeiculoTracao.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: VeiculoTracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: VeiculoTracao.maxlength, id : VeiculoTracao.id}, class: VeiculoTracao.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: VeiculoTracao.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: Produto.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Produto.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}, class: Produto.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Produto.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoRelatorio.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id, class: TipoRelatorio.requiredClass }" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: VeiculoReboque.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: VeiculoReboque.text"></label>
                            <div class="input-group">
                                <input type="text" data-bind="value: VeiculoReboque.val, valueUpdate: 'afterkeydown', attr: { maxlength: VeiculoReboque.maxlength, id : VeiculoReboque.id, class: VeiculoReboque.requiredClass}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: VeiculoReboque.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                        <div class="col-12 col-md-6" data-bind="visible: Pais.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Pais.text"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="value: Pais.val, valueUpdate: 'afterkeydown', attr: { maxlength: Pais.maxlength, id : Pais.id, class: Pais.requiredClass}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Pais.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="row mb-3">
                <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                        <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                    </button>
                </div>
                <div id="knockoutCRUDFiltrosPesquisaDespesaAcertoViagem" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                        <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                    </button>
                    <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                        <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                    </button>
                </div>
            </div>
            <div id="divConfigRelatorio"></div>
            <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
            <div id="knockoutCRUDPesquisaDespesaAcertoViagem" class="d-flex justify-content-center justify-content-md-end mt-3">
                <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                    <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                </button>
                <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                    <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                </button>
            </div>
        </div>
    </div>
</div>








<script src="~/relatorios/scripts/despesaAcertoViagem"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioDespesaAcertoViagem();
    });

</script>