
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Rateios</li>
    <li class="breadcrumb-item active">Rateio Fórmula</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Fórmulas para Rateio
    </h1>
</div>

<div id="knockoutPesquisaRateioFormula">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Fórmulas para Rateio
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind=" visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Formula para Rateio
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroRateioFormula">
                <div class="row">
                    <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind=" visible : ParametroRateioFormula.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ParametroRateioFormula.text"></label>
                            <select class="form-control" data-bind="options: ParametroRateioFormula.options, optionsText: 'text', optionsValue: 'value', value: ParametroRateioFormula.val, attr: { id : ParametroRateioFormula.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: PercentualAcrescentarPesoTotalCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PercentualAcrescentarPesoTotalCarga.text"></label>
                            <input type="text" class="form-control" data-bind="class: PercentualAcrescentarPesoTotalCarga.requiredClass, value: PercentualAcrescentarPesoTotalCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: PercentualAcrescentarPesoTotalCarga.maxlength, id : PercentualAcrescentarPesoTotalCarga.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: RatearPrimeiroIgualmenteEntrePedidos.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: RatearPrimeiroIgualmenteEntrePedidos.val, attr: { maxlength: RatearPrimeiroIgualmenteEntrePedidos.maxlength, name: RatearPrimeiroIgualmenteEntrePedidos.id, id: RatearPrimeiroIgualmenteEntrePedidos.id }">
                                <label class="custom-control-label" data-bind="text: RatearPrimeiroIgualmenteEntrePedidos.text, attr: { for: RatearPrimeiroIgualmenteEntrePedidos.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: ArredondarParaNumeroParMaisProximo.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ArredondarParaNumeroParMaisProximo.val, attr: { maxlength: ArredondarParaNumeroParMaisProximo.maxlength, name: ArredondarParaNumeroParMaisProximo.id, id: ArredondarParaNumeroParMaisProximo.id }">
                                <label class="custom-control-label" data-bind="text: ArredondarParaNumeroParMaisProximo.text, attr: { for: ArredondarParaNumeroParMaisProximo.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: RatearEmBlocoDeEmissao.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: RatearEmBlocoDeEmissao.val, attr: { maxlength: RatearEmBlocoDeEmissao.maxlength, name: RatearEmBlocoDeEmissao.id, id: RatearEmBlocoDeEmissao.id }">
                                <label class="custom-control-label" data-bind="text: RatearEmBlocoDeEmissao.text, attr: { for: RatearEmBlocoDeEmissao.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: ExigirConferenciaManual.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: ExigirConferenciaManual.val, attr: { maxlength: ExigirConferenciaManual.maxlength, name: ExigirConferenciaManual.id, id: ExigirConferenciaManual.id }">
                                <label class="custom-control-label" data-bind="text: ExigirConferenciaManual.text, attr: { for: ExigirConferenciaManual.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end">
                    <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                        <span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                        <span data-bind="text: Excluir.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                        <span data-bind="text: Atualizar.text"></span>
                    </button>
                    <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
<script src="~/scripts/rateioFormula"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRateioFormula();
    });

</script>

