Conta confirmada com sucesso! Você será redirecionado para a página de acesso ao sistema em 5 segundos
<br />
<br />
<a href="/login">Se você não foi redirecionado, clique aqui para ir para a página de acesso ao sistema</a>

<script>
    setTimeout(() => {
        window.location = '/login';
    }, 5000);
</script>