@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Cargas</li>
        <li class="breadcrumb-item active">Agendamento Entrega Pedido</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-truck"></i> Relatório de Agendamento Entrega Pedido
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaAgendamentoEntregaPedido">
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: DataCarregamentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCarregamentoInicial.text, attr: { for: DataCarregamentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCarregamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamentoInicial.maxlength, id : DataCarregamentoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCarregamentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCarregamentoFinal.text, attr: { for: DataCarregamentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCarregamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarregamentoFinal.maxlength, id : DataCarregamentoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataAgendamentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAgendamentoInicial.text, attr: { for: DataAgendamentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAgendamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamentoInicial.maxlength, id : DataAgendamentoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataAgendamentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataAgendamentoFinal.text, attr: { for: DataAgendamentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataAgendamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataAgendamentoFinal.maxlength, id : DataAgendamentoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: SituacaoAgendamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoAgendamento.text, attr: { for: SituacaoAgendamento.id }"></label>
                                    <select class="form-control" data-bind="options: SituacaoAgendamento.options, optionsText: 'text', optionsValue: 'value', value: SituacaoAgendamento.val, attr: { id : SituacaoAgendamento.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: Carga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Cliente.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Cliente.text, attr: { for: Cliente.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Cliente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Cliente.maxlength, id : Cliente.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Cliente.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoEntregaInicial.text, attr: { for: DataPrevisaoEntregaInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataPrevisaoEntregaInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaInicial.maxlength, id : DataPrevisaoEntregaInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataPrevisaoEntregaFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataPrevisaoEntregaFinal.text, attr: { for: DataPrevisaoEntregaFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataPrevisaoEntregaFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataPrevisaoEntregaFinal.maxlength, id : DataPrevisaoEntregaFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoPedidoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoPedidoInicial.text, attr: { for: DataCriacaoPedidoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCriacaoPedidoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoPedidoInicial.maxlength, id : DataCriacaoPedidoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataCriacaoPedidoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCriacaoPedidoFinal.text, attr: { for: DataCriacaoPedidoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataCriacaoPedidoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCriacaoPedidoFinal.maxlength, id : DataCriacaoPedidoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataInicialSugestaoEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialSugestaoEntrega.text, attr: { for: DataInicialSugestaoEntrega.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicialSugestaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialSugestaoEntrega.maxlength, id : DataInicialSugestaoEntrega.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataFinalSugestaoEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalSugestaoEntrega.text, attr: { for: DataFinalSugestaoEntrega.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinalSugestaoEntrega.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalSugestaoEntrega.maxlength, id : DataFinalSugestaoEntrega.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: PossuiDataTermioCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiDataTermioCarregamento.text, attr: { for: PossuiDataTermioCarregamento.id }"></label>
                                    <select class="form-control" data-bind="options: PossuiDataTermioCarregamento.options, optionsText: 'text', optionsValue: 'value', value: PossuiDataTermioCarregamento.val, attr: { id : PossuiDataTermioCarregamento.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: PossuiDataSugestaoEntrega.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PossuiDataSugestaoEntrega.text, attr: { for: PossuiDataSugestaoEntrega.id }"></label>
                                    <select class="form-control" data-bind="options: PossuiDataSugestaoEntrega.options, optionsText: 'text', optionsValue: 'value', value: PossuiDataSugestaoEntrega.val, attr: { id : PossuiDataSugestaoEntrega.id}"></select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: ExibirCargasAgrupadas.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirCargasAgrupadas.val, attr: { maxlength: ExibirCargasAgrupadas.maxlength, name: ExibirCargasAgrupadas.id, id: ExibirCargasAgrupadas.id }">
                                        <label class="custom-control-label" data-bind="text: ExibirCargasAgrupadas.text, attr: { for: ExibirCargasAgrupadas.id }"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="divConfigRelatorio">
                    </div>

                </form>
                <div class="row mb-3 mt-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaAgendamentoEntregaPedido" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>

                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaAgendamentoEntregaPedido" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/AgendamentoEntregaPedido"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadAgendamentoEntregaPedido();
    });

</script>
