

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Cotações</li>
    <li class="breadcrumb-item active">Cotação Frete</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Cotações
    </h1>
</div>

<div id="knockoutPesquisaCotacaoFrete">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Cotações
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-2" data-bind="visible: DataCotacaoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCotacaoInicial.text, attr: { for: DataCotacaoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCotacaoInicial.requiredClass, value: DataCotacaoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCotacaoInicial.maxlength, id : DataCotacaoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataCotacaoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCotacaoFinal.text, attr: { for: DataCotacaoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCotacaoFinal.requiredClass, value: DataCotacaoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCotacaoFinal.maxlength, id : DataCotacaoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Expedidor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Destino.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCotacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCotacao.text, attr: { for: NumeroCotacao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCotacao.requiredClass, value: NumeroCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCotacao.maxlength, id : NumeroCotacao.id}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-default waves-effect waves-themed me-2" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cotação de Frete
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutEtapaCotacaoFrete">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#tab1" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#tab2" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="tab1">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Origem e Destino</h3>

                                    </div>
                                    <div class="card-body row" id="knockoutCadastroCotacaoFrete">
                                        <div class="col-12 col-md-12" data-bind="visible: Expedidor.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: Destinatario.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3" data-bind="attr: {title: EnderecoExpedidor.val}">
                                            <span data-bind="text: EnderecoExpedidor.text"></span><span data-bind="text: EnderecoExpedidor.val"></span>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: CEPDestino.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: CEPDestino.text, attr: { for: CEPDestino.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: CEPDestino.requiredClass, value: CEPDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: CEPDestino.maxlength, id : CEPDestino.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: ValorNotaFiscal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ValorNotaFiscal.text, attr: { for: ValorNotaFiscal.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: ValorNotaFiscal.requiredClass, value: ValorNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorNotaFiscal.maxlength, id : ValorNotaFiscal.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                                <select class="form-control" data-bind="class: TipoOperacao.requiredClass, options: TipoOperacao.options, optionsText: 'text', optionsValue: 'value', value: TipoOperacao.val, attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Mercadorias</h3>


                                    </div>
                                    <div class="card-body row" id="knockoutMercadoria">
                                        <table width="100%" class="table table-bordered table-hover mb-2" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                        <div class="col-12 col-md-6" data-bind="visible: Produto.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}, enable: Produto.enable" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}, enable: Produto.enable" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: TipoProduto.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TipoProduto.text, attr: { for: TipoProduto.id }"></label>
                                                <select class="form-control" data-bind="class: TipoProduto.requiredClass, options: TipoProduto.options, optionsText: 'text', optionsValue: 'value', value: TipoProduto.val, attr: { maxlength: TipoProduto.maxlength, id : TipoProduto.id}"></select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Quantidade.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Peso.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Peso.text"></label>
                                                <input type="text" class="form-control" data-bind="class: Peso.requiredClass, value: Peso.val, valueUpdate: 'afterkeydown', attr: { maxlength: Peso.maxlength, id : Peso.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Largura.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Largura.text"></label>
                                                <input type="text" class="form-control" data-bind="class: Largura.requiredClass, value: Largura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Largura.maxlength, id : Largura.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Comprimento.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Comprimento.text"></label>
                                                <input type="text" class="form-control" data-bind="class: Comprimento.requiredClass, value: Comprimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Comprimento.maxlength, id : Comprimento.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Altura.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Altura.text"></label>
                                                <input type="text" class="form-control" data-bind="class: Altura.requiredClass, value: Altura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Altura.maxlength, id : Altura.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12" data-bind="visible: GrupoProduto.visible">
                                            <label class="form-label" data-bind="text: GrupoProduto.text"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: GrupoProduto.requiredClass, value: GrupoProduto.val, valueUpdate: 'afterkeydown', attr: { maxlength: GrupoProduto.maxlength, id : GrupoProduto.id}, enable: GrupoProduto.enable" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: GrupoProduto.idBtnSearch}, enable: GrupoProduto.enable" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-end" id="knockoutCRUDMercadoria">
                                        <footer>
                                            <div class="row">
                                                <div class="col-md-6 col-12">

                                                </div>
                                                <div class="col-md-6 col-12 d-flex justify-content-end">
                                                    <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                        <i class="fal fa-trash"></i>
                                                        <span data-bind="text: Excluir.text"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                        <i class="fal fa-check"></i>
                                                        <span data-bind="text: Atualizar.text"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                        <span data-bind="text: Adicionar.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <footer id="knockoutCRUDCotacaoFrete" class="mt-2">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { id : Limpar.id}">
                                            <i class="fal fa-ban"></i>
                                            <span data-bind="text: Limpar.text"></span>
                                        </button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">

                                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Continuar.eventClick, visible: Continuar.visible, attr: { id : Continuar.id}">
                                            <span data-bind="text: Continuar.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </footer>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="tab2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Selecione uma cotação</h3>
                                <button class="card-help" onclick="iniciarAjuda(964)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Entenda a página" aria-label="Entenda a página">
                                    <i class="fal fa-question-circle"></i>
                                </button>
                            </div>
                            <div id="knockoutTransportador" class="card-body">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                            </div>
                            <footer id="knockoutCRUDTransportador" class="m-2">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="enable: Voltar.enable, click: Voltar.eventClick, visible: Voltar.visible, attr: { value: Voltar.text, id : Voltar.id}">
                                            <span data-bind="text: Voltar.text"></span>
                                        </button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <button type="button" class="btn btn-labeled btn-success " data-bind="click: GerarCotacao.eventClick, visible: GerarCotacao.visible, attr: { id : GerarCotacao.id }">

                                            <span data-bind="text: GerarCotacao.text"></span>
                                        </button>

                                    </div>
                                </div>
                            </footer>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="knockoutDetalheCotacaoFreteTransportador" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Cotação de Frete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="smart-form">
                        <fieldset class="no-padding">
                            <div class="row mb-3">
                                <div class="col-auto">
                                    <b data-bind="text: CodigoIntegracaoTabelaFreteCliente.text" class="margin-right-5"></b><span data-bind="text: CodigoIntegracaoTabelaFreteCliente.val"></span>
                                </div>
                                <div class="col-auto">
                                    <b data-bind="text: Transportador.text" class="margin-right-5"></b><span data-bind="text: Transportador.val"></span>
                                </div>
                                <div class="col-auto">
                                    <b data-bind="text: DistanciaRaioKM.text" class="margin-right-5"></b><span data-bind="text: DistanciaRaioKM.val"></span>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-3">
                                    <div class="mb-1">
                                        <b data-bind="text: ValorFrete.text" class="margin-right-5"></b><span data-bind="text: ValorFrete.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: ValorFreteTotal.text" class="margin-right-5"></b><span data-bind="text: ValorFreteTotal.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: ValorTotalCotacao.text" class="margin-right-5"></b><span data-bind="text: ValorTotalCotacao.val"></span>
                                    </div>

                                </div>

                                <div class="col-3">
                                    <!-- ko foreach: Componentes -->
                                    <div class="mb-1">
                                        <b data-bind="text: Descricao" class="margin-right-5"></b><span data-bind="text: Valor"></span>
                                    </div>
                                    <!-- /ko -->
                                </div>

                                <div class="col-3">
                                    <div class="mb-1">
                                        <b data-bind="text: Aliquota.text" class="margin-right-5"></b><span data-bind="text: Aliquota.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: ValorICMS.text" class="margin-right-5"></b><span data-bind="text: ValorICMS.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: BaseCalculo.text" class="margin-right-5"></b><span data-bind="text: BaseCalculo.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: ValorISS.text" class="margin-right-5"></b><span data-bind="text: ValorISS.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: ValorISSRetido.text" class="margin-right-5"></b><span data-bind="text: ValorISSRetido.val"></span>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="mb-1">
                                        <b data-bind="text: DataColetaPrevista.text" class="margin-right-5"></b><span data-bind="text: DataColetaPrevista.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: DataPrazoEntrega.text" class="margin-right-5"></b><span data-bind="text: DataPrazoEntrega.val"></span>
                                    </div>
                                    <div class="mb-1">
                                        <b data-bind="text: PrazoEntrega.text" class="margin-right-5"></b><span data-bind="text: PrazoEntrega.val"></span>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="knockoutDetalheCotacaoFreteTransportador" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Cotação de Frete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" data-bind="visible: UsuarioDelegado.visible">
                    <div class="row">
                        <div class="col col-12 margin-bottom-5">
                            <b data-bind="text: Transportador.text" class="margin-right-5"></b><span data-bind="text: Transportador.val"></span>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: DataColetaPrevista.text" class="margin-right-5"></b><span data-bind="text: DataColetaPrevista.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: DataPrazoEntrega.text" class="margin-right-5"></b><span data-bind="text: DataPrazoEntrega.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: PrazoEntrega.text" class="margin-right-5"></b><span data-bind="text: PrazoEntrega.val"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: ValorFrete.text" class="margin-right-5"></b><span data-bind="text: ValorFrete.val"></span>
                        </div>
                        <!-- ko foreach: Componentes -->
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: Descricao" class="margin-right-5"></b><span data-bind="text: Valor"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="row">
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: BaseCalculo.text" class="margin-right-5"></b><span data-bind="text: BaseCalculo.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: Aliquota.text" class="margin-right-5"></b><span data-bind="text: Aliquota.val"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: ValorICMS.text" class="margin-right-5"></b><span data-bind="text: ValorICMS.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: ValorISS.text" class="margin-right-5"></b><span data-bind="text: ValorISS.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: ValorISSRetido.text" class="margin-right-5"></b><span data-bind="text: ValorISSRetido.val"></span>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: ValorTotalCotacao.text" class="margin-right-5"></b><span data-bind="text: ValorTotalCotacao.val"></span>
                        </div>
                        <div class="col col-4 margin-bottom-5">
                            <b data-bind="text: DistanciaRaioKM.text" class="margin-right-5"></b><span data-bind="text: DistanciaRaioKM.val"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/cotacaoFrete"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadCotacaoFrete();
    });

</script>