
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Containers</li>
        <li class="breadcrumb-item active">Conferência Container</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Conferências de Containers
        </h1>
    </div>
    <div id="knockoutPesquisaConferenciaContainer">
        <div class="panel">
            <div class="panel-container" id="container-pesquisa-conferencia-container">
                <div class="panel-content">
                    <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                        <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                            <i class="fal fa-search"></i> Pesquisar Conferências de Containers
                        </button>

                        <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                            <form>
                                <div class="row">
                                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: CodigoCargaEmbarcador.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                            <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-edit"></i>
                        Cargas
                    </h3>
                </div>
                <div class="panel-content">
                    <form>

                        <table class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid }" cellspacing="0"></table>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="legends col-xs-12 mb-4">

        <div class="badge legend  white">
            <span>Aguardando Container</span>
        </div>
        <div class="badge legend orange">

            <span>Aguardando Conferência</span>
        </div>
        <div class="badge legend green">

            <span>Conferência Aprovada</span>
        </div>

    </div>


</section>


<div id="divModalConferenciaContainerAprovacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutConferenciaContainerAprovacao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Conferência de Container</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                        <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                    </div>
                </div>


                <div class="d-flex justify-content-end mt-3">

                    <button class="btn btn-success" type="button" data-bind="click: Aprovar.eventClick, attr: { id : Aprovar.id}">
                        <i class="fal fa-check"></i><span data-bind="text: Aprovar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>







<script src="~/scripts/conferenciaContainer"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        if (!$("body").hasClass("menu-on-top"))
            $("body").addClass("minified");

        loadConferenciaContainer();
    });

</script>
