
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Containers</li>
        <li class="breadcrumb-item active">Controle Container</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Controle Containers
        </h1>
    </div>


    <div id="knockoutPesquisaContainer">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-2" data-bind="visible: DataInicialColeta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicialColeta.text, attr: { for: DataInicialColeta.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicialColeta.requiredClass, value: DataInicialColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialColeta.maxlength, id : DataInicialColeta.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataFinalColeta.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinalColeta.text, attr: { for: DataFinalColeta.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinalColeta.requiredClass, value: DataFinalColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalColeta.maxlength, id : DataFinalColeta.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-4" data-bind="visible: StatusContainer.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: StatusContainer.text, attr: { for: StatusContainer.id }"></label>
                                        <select class="form-control" data-bind="class: StatusContainer.requiredClass, options: StatusContainer.options, optionsText: 'text', optionsValue: 'value', value: StatusContainer.val, attr: { maxlength: StatusContainer.maxlength, id : StatusContainer.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DiasPosseInicio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DiasPosseInicio.text, attr: { for: DiasPosseInicio.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DiasPosseInicio.requiredClass, value: DiasPosseInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasPosseInicio.maxlength, id : DiasPosseInicio.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DiasPosseFim.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DiasPosseFim.text, attr: { for: DiasPosseFim.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DiasPosseFim.requiredClass, value: DiasPosseFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasPosseFim.maxlength, id : DiasPosseFim.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataEmbarqueNavioInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmbarqueNavioInicial.text, attr: { for: DataEmbarqueNavioInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmbarqueNavioInicial.requiredClass, value: DataEmbarqueNavioInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarqueNavioInicial.maxlength, id : DataEmbarqueNavioInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataEmbarqueNavioFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataEmbarqueNavioFinal.text, attr: { for: DataEmbarqueNavioFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataEmbarqueNavioFinal.requiredClass, value: DataEmbarqueNavioFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarqueNavioFinal.maxlength, id : DataEmbarqueNavioFinal.id}" />
                                    </div>
                                </div>

                                <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                    <div class="row">

                                        <div class="col-12 col-md-3" data-bind="visible: CodigoCargaEmbarcador.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroContainer.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroContainer.text, attr: { for: NumeroContainer.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroContainer.requiredClass, value: NumeroContainer.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroContainer.maxlength, id : NumeroContainer.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroPedido.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroBooking.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroBooking.text, attr: { for: NumeroBooking.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroBooking.requiredClass, value: NumeroBooking.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroBooking.maxlength, id : NumeroBooking.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroEXP.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroEXP.text, attr: { for: NumeroEXP.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroEXP.requiredClass, value: NumeroEXP.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroEXP.maxlength, id : NumeroEXP.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: TipoContainer.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: TipoContainer.text, attr: { for: TipoContainer.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: TipoContainer.requiredClass, value: TipoContainer.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoContainer.maxlength, id : TipoContainer.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoContainer.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: LocalEsperaVazio.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: LocalEsperaVazio.text, attr: { for: LocalEsperaVazio.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: LocalEsperaVazio.requiredClass, value: LocalEsperaVazio.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalEsperaVazio.maxlength, id : LocalEsperaVazio.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalEsperaVazio.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: FilialAtual.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: FilialAtual.text, attr: { for: FilialAtual.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: FilialAtual.requiredClass, value: FilialAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: FilialAtual.maxlength, id : FilialAtual.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FilialAtual.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: DataUltimaMovimentacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataUltimaMovimentacao.text, attr: { for: DataUltimaMovimentacao.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataUltimaMovimentacao.requiredClass, value: DataUltimaMovimentacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataUltimaMovimentacao.maxlength, id : DataUltimaMovimentacao.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-2" data-bind="visible: DataEmbarque.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataEmbarque.text, attr: { for: DataEmbarque.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataEmbarque.requiredClass, value: DataEmbarque.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarque.maxlength, id : DataEmbarque.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: LocalAtual.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: LocalAtual.text, attr: { for: LocalAtual.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: LocalAtual.requiredClass, value: LocalAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalAtual.maxlength, id : LocalAtual.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalAtual.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: LocalColeta.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: LocalColeta.text, attr: { for: LocalColeta.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: LocalColeta.requiredClass, value: LocalColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalColeta.maxlength, id : LocalColeta.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalColeta.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end">
                            <button class="btn btn-default waves-effect waves-themed me-3" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                            </button>
                            <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="controle-container">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Controle Containers
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row" id="container-grid-controle-container">
                        <table width="100%" class="table table-bordered table-hover table-condensed" id="grid-controle-container" cellspacing="0"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="divModalMapa" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Visualizar no mapa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div role="heading">
                        <ul class="nav nav-tabs" id="myTab">
                            <li id="liTabModalMapaMapa" class="nav-item active">
                                <a data-bs-toggle="tab" class="nav-link active" href="#tabModalMapaMapa"><i class="fal fa-map"></i><span class="hidden-mobile hidden-tablet">Mapa</span></a>
                            </li>
                            <li id="liTabModalMapaParadas" class="nav-item">
                                <a data-bs-toggle="tab" class="nav-link" href="#tabModalMapaParadas"><i class="fal fa-hand-paper"></i><span class="hidden-mobile hidden-tablet">Paradas</span></a>
                            </li>
                        </ul>
                    </div>
                    <div role="contentinfo" class="smart-form">
                        <div id="myTabContent" class="tab-content">
                            <div id="tabModalMapaMapa" class="tab-pane active row">
                                <div class="smart-form p-3" id="DetalhesMapa">
                                    <div class="legenda-rotas-container" style="margin-top: 70px">
                                        <strong>Rotas</strong>
                                        <ul id="legenda-rotas-mapa" class="legenda">
                                            <li class="rota-planejada"><span class="linha"></span><span class="descricao">Planejada</span><span class="distancia"></span></li>
                                            <li class="rota-ate-origem"><span class="linha"></span><span class="descricao">Até origem</span><span class="distancia"></span></li>
                                            <li class="rota-ate-destino"><span class="linha"></span><span class="descricao">Até destino</span><span class="distancia"></span></li>
                                            <li class="rota-realizada"><span class="linha"></span><span class="descricao">Realizada</span><span class="distancia"></span></li>
                                        </ul>
                                    </div>
                                    <div class="no-padding">
                                        <div id="map" style="width:100%;height:600px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="tabModalMapaParadas" class="tab-pane">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12 p-3">
                                        <div id="container-grid-mapa-paradas">
                                            <table width="100%" class="table table-bordered table-hover table-condensed" id="grid-mapa-paradas" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalHistoricos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico Container</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body padding-bottom-5">
                <div class="row">
                    <div role="contentinfo" class="smart-form">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div id="grid-content-historicos">
                                    <table width="100%" class="table table-bordered table-hover table-condensed" id="grid-historicos" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalJustificativa" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="knockoutAlterarJustificativa">
            <div class="modal-header">
                <h4 class="modal-title">Justificativa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body padding-bottom-5">
                <div role="contentinfo" class="smart-form">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div id="grid-content-historicos">
                                <table width="100%" class="table table-bordered table-hover table-condensed" id="grid-historicos-justificativas" cellspacing="0"></table>
                            </div>
                        </div>

                        <div class="col-12 col-md-8" data-bind="visible: Justificativa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Justificativa.text, attr: { for: Justificativa.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Justificativa.requiredClass, value: Justificativa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Justificativa.maxlength, id : Justificativa.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Justificativa.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: StatusContainer.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: StatusContainer.text, attr: { for: StatusContainer.id }"></label>
                                <select class="form-control" data-bind="class: StatusContainer.requiredClass, options: StatusContainer.options, optionsText: 'text', optionsValue: 'value', value: StatusContainer.val, attr: { maxlength: StatusContainer.maxlength, id : StatusContainer.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-12" data-bind="visible: JustificativaDescritiva.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: JustificativaDescritiva.text, attr: { for: JustificativaDescritiva.id }"></label>
                                <input type="text" class="form-control" data-bind="class: JustificativaDescritiva.requiredClass, value: JustificativaDescritiva.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaDescritiva.maxlength, id : JustificativaDescritiva.id}" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-success" />
                    <input type="button" data-bind="click: Confirmar.eventClick, visible: Confirmar.visible, attr: { value: Confirmar.text, id : Confirmar.id}" class="btn btn-success" />
                    <input type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { value: Excluir.text, id : Excluir.id}" class="btn btn-danger" />
                    <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalMovimentarContainer" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="knockoutMovimentarContainer">
            <div class="modal-header">
                <h4 class="modal-title">Movimentar Container</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="enable: Situacao.enable, class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: DataMovimentacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataMovimentacao.text, attr: { for: DataMovimentacao.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataMovimentacao.enable, class: DataMovimentacao.requiredClass, value: DataMovimentacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataMovimentacao.maxlength, id : DataMovimentacao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: DataEmbarque.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmbarque.text, attr: { for: DataEmbarque.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataEmbarque.enable, class: DataEmbarque.requiredClass, value: DataEmbarque.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarque.maxlength, id : DataEmbarque.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DataEmbarqueNavio.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmbarqueNavio.text, attr: { for: DataEmbarqueNavio.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataEmbarqueNavio.requiredClass, value: DataEmbarqueNavio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarqueNavio.maxlength, id : DataEmbarqueNavio.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: LocalAtual.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: LocalAtual.text, attr: { for: LocalAtual.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: LocalAtual.enable, css: LocalAtual.requiredClass, value: LocalAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalAtual.maxlength, id : LocalAtual.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalAtual.enable, attr: { id: LocalAtual.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: LocalEmbarque.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: LocalEmbarque.text, attr: { for: LocalEmbarque.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: LocalEmbarque.enable, css: LocalEmbarque.requiredClass, value: LocalEmbarque.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalEmbarque.maxlength, id : LocalEmbarque.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalEmbarque.enable, attr: { id: LocalEmbarque.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: CargaExpRetirada.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CargaExpRetirada.text, attr: { for: CargaExpRetirada.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: CargaExpRetirada.enable, css: CargaExpRetirada.requiredClass, value: CargaExpRetirada.val, valueUpdate: 'afterkeydown', attr: { maxlength: CargaExpRetirada.maxlength, id : CargaExpRetirada.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: CargaExpRetirada.enable, attr: { id: CargaExpRetirada.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mt-2" data-bind="visible: TransferirContainerOutraCarga.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: TransferirContainerOutraCarga.val, attr: { maxlength: TransferirContainerOutraCarga.maxlength, name: TransferirContainerOutraCarga.id, id: TransferirContainerOutraCarga.id }">
                                <label class="custom-control-label" data-bind="text: TransferirContainerOutraCarga.text, attr: { for: TransferirContainerOutraCarga.id }"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: TransferirContainerOutraCarga.val()">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CargaTransferida.text, attr: { for: CargaTransferida.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: CargaTransferida.enable, css: CargaTransferida.requiredClass, value: CargaTransferida.val, valueUpdate: 'afterkeydown', attr: { maxlength: CargaTransferida.maxlength, id : CargaTransferida.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: CargaTransferida.enable, attr: { id: CargaTransferida.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: BuscarCargaExp.visible">
                            <button class="btn btn-primary pull-left" style="padding: 6px 12px; margin-left:15px" data-bind="click: BuscarCargaExp.eventClick, attr: { id: BuscarCargaExp.id}" type="button">
                                <i class="fa fa-search"></i>&nbsp;<span data-bind="text: BuscarCargaExp.text"></span>
                            </button>
                        </section>*@
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: ConfirmarMovimentacao.eventClick, attr: { value: ConfirmarMovimentacao.text, id : ConfirmarMovimentacao.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalColetaContainer" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="knockoutAlterarColetaContainer">
            <div class="modal-header">
                <h4 class="modal-title">Controle Container - <b data-bind="text: Carga.val"></b></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: Container.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Container.text, attr: { for: Container.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Container.enable, css: Container.requiredClass, value: Container.val, valueUpdate: 'afterkeydown', attr: { maxlength: Container.maxlength, id : Container.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Container.enable, attr: { id: Container.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" data-bind="visible: LocalColeta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: LocalColeta.text, attr: { for: LocalColeta.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: LocalColeta.enable, css: LocalColeta.requiredClass, value: LocalColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalColeta.maxlength, id : LocalColeta.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalColeta.enable, attr: { id: LocalColeta.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: StatusContainer.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: StatusContainer.text, attr: { for: StatusContainer.id }"></label>
                            <select class="form-control" data-bind="enable: StatusContainer.enable, class: StatusContainer.requiredClass, options: StatusContainer.options, optionsText: 'text', optionsValue: 'value', value: StatusContainer.val, attr: { maxlength: StatusContainer.maxlength, id : StatusContainer.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DiasFreeTime.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DiasFreeTime.text, attr: { for: DiasFreeTime.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DiasFreeTime.enable, class: DiasFreeTime.requiredClass, value: DiasFreeTime.val, valueUpdate: 'afterkeydown', attr: { maxlength: DiasFreeTime.maxlength, id : DiasFreeTime.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: ValorDiaria.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ValorDiaria.text, attr: { for: ValorDiaria.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: ValorDiaria.enable, class: ValorDiaria.requiredClass, value: ValorDiaria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorDiaria.maxlength, id : ValorDiaria.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataColeta.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataColeta.text, attr: { for: DataColeta.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataColeta.enable, class: DataColeta.requiredClass, value: DataColeta.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataColeta.maxlength, id : DataColeta.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataEmbarque.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataEmbarque.text, attr: { for: DataEmbarque.id }"></label>
                            <input type="text" class="form-control" data-bind="enable: DataEmbarque.enable, class: DataEmbarque.requiredClass, value: DataEmbarque.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmbarque.maxlength, id : DataEmbarque.id}" />
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" data-bind="click: Salvar.eventClick, attr: { value: Salvar.text, id : Salvar.id}" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/controlecontainer"></script>
<script src="~/scripts/canvg"></script>
<script src="~/scripts/d3js"></script>
<script src="~/scripts/chartjs"></script>
<script src="~/scripts/carga"></script>
<script src="~/scripts/tracking"></script>

<link rel="stylesheet" href="~/css/tracking" />

<script type="text/javascript">
    pageSetUp();

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    _PermissoesPersonalizadasControleContainer = @Html.Raw(ViewBag.PermissoesPersonalizadasControleContainer)

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.Carga").then(loadControleContainer);
    });

</script>