
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Planejamentos</li>
        <li class="breadcrumb-item active">PlanejamentoFrota</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Planejamento
        </h1>
    </div>

    <div id="knoutPesquisaPlanejamentoFrota">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motorista.maxlength, id : Motorista.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoDaFrota.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoDaFrota.text, attr: { for: SituacaoDaFrota.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoDaFrota.requiredClass, options: SituacaoDaFrota.options, optionsText: 'text', optionsValue: 'value', value: SituacaoDaFrota.val, attr: { maxlength: SituacaoDaFrota.maxlength, id : SituacaoDaFrota.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: SituacaoDoConjunto.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: SituacaoDoConjunto.text, attr: { for: SituacaoDoConjunto.id }"></label>
                                        <select class="form-control" data-bind="class: SituacaoDoConjunto.requiredClass, options: SituacaoDoConjunto.options, optionsText: 'text', optionsValue: 'value', value: SituacaoDoConjunto.val, attr: { maxlength: SituacaoDoConjunto.maxlength, id : SituacaoDoConjunto.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Origem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="id: BuscaAvancada.idFade, fadeVisible: BuscaAvancada.visibleFade">
                                <div class="row">
                                    <div class="col-12 col-md-4" data-bind="visible: VeiculoNecessitaManutencao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: VeiculoNecessitaManutencao.val, attr: { maxlength: VeiculoNecessitaManutencao.maxlength, name: VeiculoNecessitaManutencao.id, id: VeiculoNecessitaManutencao.id }">
                                                <label class="custom-control-label" data-bind="text: VeiculoNecessitaManutencao.text, attr: { for: VeiculoNecessitaManutencao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: VeiculoComCarga.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: VeiculoComCarga.val, attr: { maxlength: VeiculoComCarga.maxlength, name: VeiculoComCarga.id, id: VeiculoComCarga.id }">
                                                <label class="custom-control-label" data-bind="text: VeiculoComCarga.text, attr: { for: VeiculoComCarga.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4" data-bind="visible: MotoristaNecessitaIrCasa.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: MotoristaNecessitaIrCasa.val, attr: { maxlength: MotoristaNecessitaIrCasa.maxlength, name: MotoristaNecessitaIrCasa.id, id: MotoristaNecessitaIrCasa.id }">
                                                <label class="custom-control-label" data-bind="text: MotoristaNecessitaIrCasa.text, attr: { for: MotoristaNecessitaIrCasa.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">

                                <button class="btn btn-primary me-2 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                                    <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                                </button>
                                <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="panel">
                <div class="card" id="knoutContainerPlanejamentoCarga">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-12 col-md-10 p-0">
                                <div class="d-flex">
                                    <div class="text-right">
                                        <button type="button" data-bind="click: DataCarga.diminuirData, enable: DataCarga.enable" class="btn btn-default botaoDentroSmartAdmimForm mx-2" style="margin-top: 19px">
                                            <i class="fal fa-chevron-left"></i>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: DataCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind=" attr: { for: DataCarga.id }"></label>
                                            <input type="text" class="form-control" data-bind="value: DataCarga.val, enable: DataCarga.enable, valueUpdate: 'afterkeydown', attr: { maxlength: DataCarga.maxlength, id : DataCarga.id}, event: {change : DataCarga.eventChange}" />
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" data-bind="click: DataCarga.aumentarData, enable: DataCarga.enable" class="btn btn-default botaoDentroSmartAdmimForm ms-2" style="margin-top: 19px">
                                            <i class="fal fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1" style="margin-top: 19px; margin-right: 30px">
                                <div class="button-filter" data-bind="click: ExibirFiltros.eventClick, attr: { id: ExibirFiltros.id}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row scrollable overflow-auto table-cargas" data-bind="event: { scroll: Total.eventChange }" id="divCargas">
                            <!-- ko foreach: { data: Cargas.val, as: 'Carga' } -->
                            <div data-bind="attr: {'id': Codigo.id}" class="col-12 col-md-12">
                                <div data-bind="attr:  {'id': 'carga_' + Codigo.val()}" class="carga-over well margin-bottom-10">
                                    <div class="row p-2" data-bind="click: VisualizarDadosCarga.eventClick">
                                        <div class="col-12" style="text-align:center;">
                                            <div>
                                                <!-- ko if: LogoGrupoPessoas.val() == "" -->
                                                <div class="col-12 col-md-12"><strong data-bind="text: 'Carga:'"></strong></div>
                                                <div class="col-12 col-md-12"><span data-bind="text: CodigoCargaEmbarcador.val"></span></div>
                                                <!-- /ko -->
                                                <!-- ko if: LogoGrupoPessoas.val() != "" -->
                                                <img class="img-logo" data-bind="attr: { src: 'data:image/png;base64,' + LogoGrupoPessoas.val() }" align="bottom" border="0" width="150" style="border:0;" />
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="col-12 col-md-12 mb-3" style="text-align:center"><strong><b><i><span data-bind="text: OrigemEDestino.val" aria-hidden="true"></span></i></b></strong></div>
                                            <hr />
                                            <div class="col-12 col-md-12"><strong data-bind="text: DataCarregamento.text"></strong>&ensp;<span data-bind="text: DataCarregamento.val"></span></div>
                                            <div class="col-12 col-md-12"><strong data-bind="text: ModeloVeicular.text"></strong>&ensp;<span data-bind="text: ModeloVeicular.val"></span></div>
                                            <div class="col-12 col-md-12"><strong data-bind="text: ValorFrete.text"></strong>&ensp;<span data-bind="text: ValorFrete.val"></span></div>
                                        </div>
                                    </div>
                                    <div data-bind="attr: {'id': Codigo.id + '_detalhes'}" style="display:none; cursor:auto;">
                                        <div class="row">
                                            <div class="col-12 col-md-9 ms-2">
                                                <div class="col-12 col-md-12"><strong data-bind="text: Origem.text"></strong>&ensp;<span data-bind="text: Origem.val"></span></div>
                                                <div class="col-12 col-md-12"><strong data-bind="text: Destino.text"></strong>&ensp;<span data-bind="text: Destino.val"></span></div>
                                                <div class="col-12 col-md-12"><strong data-bind="text: DataInicioCarregamento.text"></strong>&ensp;<span data-bind="text: DataInicioCarregamento.val"></span></div>
                                                <div class="col-12 col-md-12"><strong data-bind="text: DataFimCarregamento.text"></strong>&ensp;<span data-bind="text: DataFimCarregamento.val"></span></div>
                                                <div class="col-12 col-md-12"><strong data-bind="text: Peso.text"></strong>&ensp;<span data-bind="text: Peso.val"></span></div>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-10 margin-bottom-10">
                                            <div class="col-12 col-md-12" style="margin-left:65px" data-bind="visible : SituacaoComprometimentoCarga.val() == 1"><i class="fal fa-exclamation-triangle" aria-hidden="true" style="color:red"></i>&nbsp;&nbsp;<span> Veículo foi alterado em programações anteriores</span></div>
                                        </div>
                                        <div class="row carga-detalhes">
                                            <div class="divider-hr"></div>
                                            <div class="col-12 col-md-12 text-center">
                                                <strong> <span> Frota Programada</span></strong>
                                            </div>
                                            <!-- ko foreach: { data: Frotas.val, as: 'Frota' } -->
                                            <div class="col-12 col-md-12">
                                                <div class="card-item-small">
                                                    <div class="close-button" data-bind="click: RemoverFrotaCarga.eventClick" title="Remover frota programada" style="float:right"></div>
                                                    <div class="info-inline">
                                                        <div class="item-info">
                                                            <span>Placa</span>
                                                            <h5 data-bind="text: Placas.val"></h5>
                                                        </div>
                                                    </div>
                                                    <div class="divider-hr"></div>
                                                    <div class="info-inline">
                                                        <div class="item-info">
                                                            <span>Motorista</span>
                                                            <h5 data-bind="text: Motorista.val"></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: Frotas.val().length == 0 -->
                                            <div class="col-12 col-md-12">
                                                <p class="fw-bold text-center">
                                                    Nenhum registro.
                                                </p>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: Cargas.val().length == 0 -->
                            <div class="col-12 col-md-12">
                                <p class="fw-bold" style="text-align: center;">
                                    Nenhuma carga encontrada na data.
                                </p>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <div class="panel">
                <div id="knoutContainerPlanejamentoFrota">
                    <div class="configuracaoVisual d-flex justify-content-end">
                        <div class="opcoesVisual">
                            <div data-bind="click: MostrarTipoCard.eventClick ">
                                <i class="fal fa-th-large" aria-hidden="true"></i>
                            </div>
                            <div data-bind="click: MostrarTipoGrid.eventClick ">
                                <i class="fal fa-list" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span>
                            <i class="fal fa-cog" aria-hidden="true"></i>
                        </span>
                    </div>
                    <!-- ko if: TipoVisual.val() == "Card" -->
                    <div class="grid-card px-3 pb-3">
                        <!-- ko foreach: { data: Frotas.val, as: 'CardFrota' } -->
                        <div data-bind="attr: {'id': 'card_' + CodigoFrota.val()}, click: VisualizarDados.eventClick " class="card-item" style="box-shadow: 0 3px 10px #ccc;">
                            <div class="info-inline">
                                <div class="item-info">
                                    <h5 data-bind="text: Veiculos.val " style="margin-top: 2px"></h5>
                                </div>
                            </div>
                            <div class="info-inline" style="justify-content:center;">
                                <div class="item-info" data-bind="visible: DistanciaKM.val()" style="width:220px; margin-right:0px">
                                    <i class="fal fa-clock" style="float:left; width:20px;"> </i> <h5 data-bind="text: DataDisponivelCarregamento.val" style="float:left; margin-top: 2px"></h5><h5 data-bind="text: DistanciaKM.val" style="float: right; margin-top: 2px"></h5>
                                </div>
                            </div>
                            <div class="info-inline" data-bind="visible: LocalPlanejamentoFormatado.val()" style="justify-content:center">
                                <div class="item-info" style="width:500px">
                                    <img src="~/img/planejamentoFrota/local.png" />
                                    <h5 data-bind="text: LocalPlanejamentoFormatado.val" style="margin-top:10px; text-align:center"></h5>
                                </div>
                                <div class="item-info" style="width:75px;float:right" data-bind="visible: ImagePaisPath.val()">
                                    <img data-bind="attr:{src: ImagePaisPath.val }" />
                                </div>
                            </div>
                            <div class="info-inline" style="justify-content:center;">
                                <div class="item-info info2" style="margin-top:8px;" data-bind="visible: DataUltimaPosicao.val()">
                                    <span>Última Posição: </span><span data-bind="text: DataUltimaPosicao.val() ? '' + DataUltimaPosicao.val() : ''"></span>
                                    <div class="label-alert" style="font-size:12px" data-bind="text: DataUltimaPosicao.val() ? '' + PosicaoAtual.val() : ''"></div>
                                </div>
                            </div>
                            <div class="info-inline" style="justify-content:center;">
                                <div class="item-info" style="width: 500px; margin-top: 10px">
                                    <h5 data-bind="text: DescricaoStatus.val" style="text-align: center"></h5>
                                </div>
                                <div class="item-info" style="width:75px; float:right" data-bind="visible: ManutencaoExpirada.val()">
                                    <img src="~/img/planejamentoFrota/setting_Nok.png" />
                                </div>
                                <div class="item-info" style="width:75px; float:right" data-bind="visible: ExisteManutencaoProxima.val() && !ManutencaoExpirada.val()">
                                    <img src="~/img/planejamentoFrota/setting_ok.png" />
                                </div>
                            </div>

                            <div class="divider-hr"></div>

                            <div class="info-inline">
                                <div class="item-info">
                                    <span style="margin-bottom: 10px">Modelo Veicular</span>
                                    <h5 data-bind="text: ModeloVeicularFormatado.val"></h5>
                                </div>
                            </div>
                            <div class="info-inline">
                                <div class="item-info">
                                    <span style="margin-bottom: 10px">Motorista</span>
                                    <h5 data-bind="text: NomeMotoristaPrincipal.val"></h5>
                                </div>
                                <div class="item-info" data-bind="visible: PossuiProgramacaoFutura.val()" style="float:right; margin-top:15px">
                                    <img src="~/img/planejamentoFrota/boxes.png" />
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->

                        <div class="col-12 col-md-12">
                            <div style="background-color: transparent; border: none; padding: 0 0 10px 0;">
                                <div id="divPaginacaoCards" style="text-align: center; padding-bottom: 10px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: TipoVisual.val() == "Grid" -->
                    <div class="px-3 pb-3">
                        <table class="table table-bordered table-hover" style="position: relative" data-bind="attr:{id: Grid.id}" cellspacing="0"></table>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>

<div id="divFiltrosCarga" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Redefina sua busca</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutfiltroPesquisaCarga">
                <div class="row">
                    <div class="col-12 col-md-2" data-bind="visible: CodigoCargaEmbarcador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CodigoCargaEmbarcador.text, attr: { for: CodigoCargaEmbarcador.id }"></label>
                            <input type="text" class="form-control" data-bind="class: CodigoCargaEmbarcador.requiredClass, value: CodigoCargaEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoCargaEmbarcador.maxlength, id : CodigoCargaEmbarcador.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroPedido.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroPedido.text, attr: { for: NumeroPedido.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroPedido.requiredClass, value: NumeroPedido.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroPedido.maxlength, id : NumeroPedido.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: NumeroNotaFiscal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroNotaFiscal.text, attr: { for: NumeroNotaFiscal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroNotaFiscal.requiredClass, value: NumeroNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNotaFiscal.maxlength, id : NumeroNotaFiscal.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: FuncionarioVendedor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FuncionarioVendedor.text, attr: { for: FuncionarioVendedor.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: FuncionarioVendedor.requiredClass, value: FuncionarioVendedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioVendedor.maxlength, id : FuncionarioVendedor.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioVendedor.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Expedidor.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Expedidor.text, attr: { for: Expedidor.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Expedidor.requiredClass, value: Expedidor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Expedidor.maxlength, id : Expedidor.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Expedidor.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Origem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Origem.text, attr: { for: Origem.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Origem.requiredClass, value: Origem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Origem.maxlength, id : Origem.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Origem.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Destino.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Destino.text, attr: { for: Destino.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Destino.requiredClass, value: Destino.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destino.maxlength, id : Destino.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destino.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: EstadoOrigem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: EstadoOrigem.text, attr: { for: EstadoOrigem.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: EstadoOrigem.requiredClass, value: EstadoOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoOrigem.maxlength, id : EstadoOrigem.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: EstadoDestino.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: EstadoDestino.text, attr: { for: EstadoDestino.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: EstadoDestino.requiredClass, value: EstadoDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: EstadoDestino.maxlength, id : EstadoDestino.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: EstadoDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: ResponsavelVeiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ResponsavelVeiculo.text, attr: { for: ResponsavelVeiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ResponsavelVeiculo.requiredClass, value: ResponsavelVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ResponsavelVeiculo.maxlength, id : ResponsavelVeiculo.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ResponsavelVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: FronteiraRotaFrete.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FronteiraRotaFrete.text, attr: { for: FronteiraRotaFrete.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: FronteiraRotaFrete.requiredClass, value: FronteiraRotaFrete.val, valueUpdate: 'afterkeydown', attr: { maxlength: FronteiraRotaFrete.maxlength, id : FronteiraRotaFrete.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FronteiraRotaFrete.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: PaisOrigem.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PaisOrigem.text, attr: { for: PaisOrigem.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: PaisOrigem.requiredClass, value: PaisOrigem.val, valueUpdate: 'afterkeydown', attr: { maxlength: PaisOrigem.maxlength, id : PaisOrigem.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PaisOrigem.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: PaisDestino.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: PaisDestino.text, attr: { for: PaisDestino.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: PaisDestino.requiredClass, value: PaisDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: PaisDestino.maxlength, id : PaisDestino.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: PaisDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: TipoOperacaoDiferenteDe.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: TipoOperacaoDiferenteDe.text, attr: { for: TipoOperacaoDiferenteDe.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: TipoOperacaoDiferenteDe.requiredClass, value: TipoOperacaoDiferenteDe.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacaoDiferenteDe.maxlength, id : TipoOperacaoDiferenteDe.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacaoDiferenteDe.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-success" data-loading-text="Aguarde..." data-bind="click: PesquisarCargas.eventClick, visible: PesquisarCargas.visible, text: PesquisarCargas.text, attr: { id : PesquisarCargas.id}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-selected {
        background: #F4FAFD !important;
        border: 1px solid #18A3EE !important;
    }

    .close-button {
        width: 25px;
        height: 25px;
        background-image: url('Content/TorreControle/AcompanhamentoCarga/assets/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        -webkit-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;
        cursor: pointer;
    }

        .close-button:hover {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: 500ms ease-in-out;
            transition: 500ms ease-in-out;
        }

    .carga-selected {
        background: #F4FAFD !important;
        border: 1px solid #18A3EE !important;
    }

    .carga-over {
        cursor: pointer;
    }

        .carga-over:hover {
            background: #F4FAFD !important;
            border: 1px solid #18A3EE !important;
        }

    .carga-detalhes {
        text-align: center;
        padding: 10px
    }

        .carga-detalhes .divider-hr {
            background: #DDDCDC;
            width: 98%;
            height: 2px;
            margin-left: 5px;
            margin-bottom: 10px;
        }

    .button-filter {
        width: 38px;
        height: 38px;
        margin-left: 0px;
        padding-right: 20px;
        cursor: pointer;
        background-image: url('../../Content/TorreControle/AcompanhamentoCarga/assets/icons/btn_Filter.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        background-color: #FFFFFF;
        border: 1px solid #DAE5EB;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .img-logo {
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        max-width: 180px;
        margin-bottom: 5px;
    }

    .table-cargas {
        height: 605px;
        margin: 0 !important;
        padding: 4px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow-y: scroll;
    }

    .grid-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 11px;
        -webkit-transition: 700ms;
        transition: 200ms;
        min-height: 715px;
    }

    .card-item {
        position: relative;
        float: left;
        margin: 8px;
        width: 240px;
        -webkit-transition: 200ms;
        transition: 200ms;
        height: 308px;
        background: #FFFFFF;
        border: 1px solid #DAE5EB;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 10px;
    }

        .card-item .divider-hr {
            background: #FAFAFA;
            width: 100%;
            height: 2px;
            margin: 4px 0;
        }

        .card-item .info-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 0 0 5px 0;
        }

            .card-item .info-inline .item-info .label-alert {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 12px;
                letter-spacing: -0.02em;
                color: #1C75BA;
                margin: 8px 0 0 0;
            }

            .card-item .info-inline .item-info {
                margin-right: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
            }

                .card-item .info-inline .item-info img {
                    float: left;
                    margin-right: 5px;
                    margin-top: 5px;
                    width: 20px;
                    height: 20px;
                }

                .card-item .info-inline .item-info span {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: -0.02em;
                    color: #9BAFB9;
                    margin: 0 0 4px 0;
                }

                .card-item .info-inline .item-info h5 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    color: #24282B;
                    line-height: 15px;
                }


    .card-item-small {
        position: relative;
        float: left;
        margin: 8px;
        width: 96%;
        -webkit-transition: 200ms;
        transition: 200ms;
        height: 115px;
        background: #FFFFFF;
        border: 1px solid #DAE5EB;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 10px;
        margin-left: 7px;
        box-shadow: 0 3px 10px #ccc;
    }

        .card-item-small .divider-hr {
            background: #FAFAFA;
            width: 100%;
            height: 2px;
            margin: 4px 0;
        }

        .card-item-small .info-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

            .card-item-small .info-inline .item-info {
                margin-right: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
            }

                .card-item-small .info-inline .item-info img {
                    float: left;
                    margin-right: 5px;
                    margin-top: 2px;
                }

                .card-item-small .info-inline .item-info span {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: -0.02em;
                    color: #9BAFB9;
                    margin: 0 0 4px 0;
                }

                .card-item-small .info-inline .item-info h5 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    color: #24282B;
                    line-height: 13px;
                }


    .backgroundDropHover {
        background: #ccc !important;
    }

    .configuracaoVisual {
        padding: 0.5rem 0.8rem 0 0;
        position: relative;
        font-size: 1.3em;
        cursor: pointer;
    }

    .opcoesVisual {
        display: flex;
        right: 100%;
        gap: 0.5rem;
        padding: 0 0.5rem;
        font-size: 0;
        z-index: 5;
    }

    .configuracaoVisual:hover .opcoesVisual {
        font-size: 1em;
        transition: 0.3s all ease;
    }

    .opcoesVisual div:hover {
        color: #0091d9;
    }

    .ui-draggable-dragging {
        position: relative !important;
    }
</style>

<script src="~/scripts/planejamentoFrota"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadPlanejamentoFrota();
    });

</script>
