
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">CTe</li>
        <li class="breadcrumb-item active">Conhecimento Eletrônico</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Conhecimento de Frete Eletrônico
        </h1>
    </div>

    <div class="panel" id="knockoutPesquisaConhecimentoEletronico">
        <div class="panel-container jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
            <div class="panel-hdr headerCursor" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                <h3>
                    <i class="fal fa-barcode"></i>
                    Pesquisar Conhecimento de Frete Eletrônico
                </h3>
            </div>

            <div class="panel-content" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroInicial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroInicial.text, attr: { for: NumeroInicial.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroInicial.requiredClass, value: NumeroInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroInicial.maxlength, id : NumeroInicial.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: NumeroFinal.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: NumeroFinal.text, attr: { for: NumeroFinal.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: NumeroFinal.requiredClass, value: NumeroFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroFinal.maxlength, id : NumeroFinal.id}" />
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: Finalidade.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Finalidade.text, attr: { for: Finalidade.id }"></label>
                                                <select class="form-control" data-bind="class: Finalidade.requiredClass, options: Finalidade.options, optionsText: 'text', optionsValue: 'value', value: Finalidade.val, attr: { maxlength: Finalidade.maxlength, id : Finalidade.id}"></select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                                <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-8" data-bind="visible: Destinatario.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4" data-bind="visible: ChaveCTe.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: ChaveCTe.text, attr: { for: ChaveCTe.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: ChaveCTe.requiredClass, value: ChaveCTe.val, valueUpdate: 'afterkeydown', attr: { maxlength: ChaveCTe.maxlength, id : ChaveCTe.id}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <button class="btn btn-success me-3" data-bind="click: NovoConhecimentoEletronico.eventClick, attr: { id: NovoConhecimentoEletronico.id}" type="button">
                                        <i data-bind="attr: { class: NovoConhecimentoEletronico.icon}" class="fal fa-plus"></i><span data-bind="text: NovoConhecimentoEletronico.text"></span>
                                    </button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle botaoDentroSmartAdmimForm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fal fa-upload"></i>Importar<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item btn-file"  data-bind="id: ArquivoNFe.val, attr: { id : ArquivoNFe.id}" >
                                                    <i class="fal fa-file-alt me-1"></i>
                                                    <span>XML de NF-e</span>
                                                </a>
                                            </li>
                                            <li style="display:none">
                                                <a class="dropdown-item" data-bind="click: CTeImportarNFeSEFAZ.eventClick, attr: { id: CTeImportarNFeSEFAZ.id}">
                                                    <i class="fal fa-link me-1"></i><span>NF-e da SEFAZ</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <button class="btn btn-primary ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="widget-body mt-3">
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div style="display:none" id="divConfigRelatorio">

    </div>
</section>

<div id="divModalSolicitarCancelamento" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutSolicitarCancelamento" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Solicitar o Cancelamento/Inutilização do CTe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="4" data-bind="css: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-bind="click: ConfirmarCancelamento.eventClick,visible: ConfirmarCancelamento.visible, attr: { value: ConfirmarCancelamento.text, id : ConfirmarCancelamento.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCTeImportarXMLNFe" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Importação de XML de NF-e</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-bordered table-condensed table-hover" id="tblXMLNFeImportar">
                        <thead>
                            <tr>
                                <th style="width: 10%;">#</th>
                                <th style="width: 50%;"><i class="fal fa-edit"></i>Arquivo</th>
                                <th style="width: 10%;">Tamanho</th>
                                <th style="width: 30%;"><i class="fal fa-info-circle"></i>Situação</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-bind="click: CTeImportarXMLNFe.eventClick,visible: CTeImportarXMLNFe.visible, attr: { value: CTeImportarXMLNFe.text, id : CTeImportarXMLNFe.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalCTeImportarNFeSEFAZ" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Importação de NF-e da SEFAZ</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Chave.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Chave.text, attr: { for: Chave.id }"></label>
                            <input type="text" class="form-control" data-bind="class: Chave.requiredClass, value: Chave.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chave.maxlength, id : Chave.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="" id="imgCaptchaSEFAZ" alt="Captcha" style="margin-top: 7px;" />
                        <button type="button" tabindex="-1" data-bind="click: GerarNovoCaptcha.eventClick, visible: GerarNovoCaptcha.visible, attr: { value: GerarNovoCaptcha.text, id : GerarNovoCaptcha.id}" class="btn btn-link"><span class="fal fa-refresh"></span>Gerar novo captcha</button>
                    </div>

                    <div class="col-12 col-md-12">
                        <table class="table table-bordered table-condensed table-hover" id="tblNFeSEFAZ">
                            <thead>
                                <tr>
                                    <th style="width: 15%;">Número</th>
                                    <th style="width: 40%;">Chave</th>
                                    <th style="width: 15%;">Peso</th>
                                    <th style="width: 15%;">Valor</th>
                                    <th style="width: 15%;" class="text-align-center">Opções</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="button" data-bind="click: GerarCTe.eventClick,visible: GerarCTe.visible, attr: { value: GerarCTe.text, id : GerarCTe.id}" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .is-dragover {
        opacity: 0.4;
    }
</style>

<script src="~/scripts/cte"></script>
<script src="~/scripts/conhecimentoEletronico"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadConhecimentoEletronico();
    });

</script>

