
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">Autorização de Descartes de Lote</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-file-alt"></i> Autorização de Descartes de Lote
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(960)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaDescartes">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>
                        <i class="fal fa-search"></i>
                        Pesquisar Descartes de Lote
                    </h3>
                </div>
                <div class="panel-content">
                    <form>
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Numero.val, attr: { maxlength: Numero.maxlength, id : Numero.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicial.val, attr: { maxlength: DataInicial.maxlength, id : DataInicial.id} " />
                                </div>
                            </div>
                            <div class="col-4 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}, event: {change: Situacao.eventChange}"></select>
                                </div>
                            </div>
                            <div class="col-md-3" data-bind="visible: Produto.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Produto.val, enable: Produto.enable, attr: { maxlength: Produto.maxlength, id: Produto.id}, event: { blur: Produto.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Produto.enable, attr: { id: Produto.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" data-bind="visible: Usuario.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Usuario.val, enable: Usuario.enable, attr: { maxlength: Usuario.maxlength, id: Usuario.id}, event: { blur: Usuario.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Usuario.enable, attr: { id: Usuario.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h3>Descarte Lote</h3>
                </div>
                <div class="panel-content">
                    <div class="d-flex justify-content-end mb-2">
                        <button class="btn btn-primary" type="button" data-bind="click: SelecionarTodos.eventClick, text: SelecionarTodos.text, attr: { id: SelecionarTodos.id}, visible: SelecionarTodos.visible"></button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex">
                            <button class="btn btn-danger me-2" type="button" data-bind="click: RejeitarTodas.eventClick, attr: { id: RejeitarTodas.id }, visible: RejeitarTodas.visible">
                                <i class="fal fa-times"></i><span data-bind="text: RejeitarTodas.text"></span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end">

                            <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id }, visible: AprovarTodas.visible">
                                <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="divModalDescarteLote" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações do Descarte</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#knockoutDescarte" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-info-circle"></i><span class="hidden-mobile hidden-tablet"> Descarte</span>
                        </a>
                    </li>
                    <li id="liAnexos" class="nav-item" style="display:none">
                        <a href="#knockoutAnexos" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-info-file"></i><span class="hidden-mobile hidden-tablet"> Anexos </span>
                        </a>
                    </li>
                    <li id="liAutorizacao" class="nav-item">
                        <a href="#knockoutAutorizacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-check"></i><span class="hidden-mobile hidden-tablet"> Autorização</span>
                        </a>
                    </li>

                </ul>
                <div class="tab-content border border-top-0 p-3" id="myTabContent">
                    <div id="knockoutDescarte" class="tab-pane fade active show">
                        <h3>Detalhes da Carga</h3>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Situacao.text"></strong>
                                                <span data-bind="text: Situacao.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: DataDescarte.text"></strong>
                                                <span data-bind="text: DataDescarte.val"></span>
                                            </td>
                                        </tr>
                                        <tr data-bind="visible: QuantidadeDescartada.visible">
                                            <td>
                                                <strong data-bind="text: QuantidadeDescartada.text"></strong>
                                                <span data-bind="text: QuantidadeDescartada.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Numero.text"></strong>
                                                <span data-bind="text: Numero.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: DataVencimento.text"></strong>
                                                <span data-bind="text: DataVencimento.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: QuantidadeLote.text"></strong>
                                                <span data-bind="text: QuantidadeLote.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-clean table-sm align-self-end">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: QuantidadeAtual.text"></strong>
                                                <span data-bind="text: QuantidadeAtual.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: CodigoBarras.text"></strong>
                                                <span data-bind="text: CodigoBarras.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: DepositoPosicao.text"></strong>
                                                <span data-bind="text: DepositoPosicao.val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: ProdutoEmbarcador .text"></strong>
                                                <span data-bind="text: ProdutoEmbarcador .val"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong data-bind="text: Motivo.text"></strong>
                                                <span data-bind="text: Motivo.val"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="knockoutAnexos" class="tab-pane fade">
                        <h3>Anexos</h3>


                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Anexos.idGrid }"></table>

                    </div>
                    <div id="knockoutAutorizacao" class="tab-pane fade">
                        <h3>Regras</h3>
                        <div class="row">
                            <div class="col-12" data-bind="visible: Motivo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                                </div>
                            </div>
                            <div class="col-12" data-bind="visible: Rejeitar.visible">
                                <div class="d-flex justify-content-end mb-3">
                                    <button class="btn btn-danger me-2" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                                        <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id : Regras.idGrid}"></table>

                        <div class="mt-3" data-bind="visible: AprovarTodas.visible">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="button" data-bind="click: AprovarTodas.eventClick, attr: { id: AprovarTodas.id}">
                                    <i class="fal fa-check"></i><span data-bind="text: AprovarTodas.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="divModalRejeitarDescarteLote" role="dialog" aria-hidden="true">
    <div id="knockoutRejeicaoDescarteLote" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejeitar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" data-bind="visible: Motivo.visible">
                    <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                    <textarea class="form-control" rows="5" type="text" data-bind="value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                        <i class="fal fa-times"></i><span data-bind="text: Cancelar.text"></span>
                    </button>
                    <button class="btn btn-danger" type="button" data-bind="click: Rejeitar.eventClick, attr: { id : Rejeitar.id}">
                        <i class="fal fa-ban"></i><span data-bind="text: Rejeitar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>










<script src="~/scripts/autorizacaoDescarteLote"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadAutorizacao();
    });

</script>
