
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">Depósito</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-boxes"></i> Depósito
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(1318)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div id="knockoutPesquisaNivelDeposito" class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Endereço
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="mt-3">
                        <div class="row">
                            <div class="col-12 col-md-6" data-bind="visible: Deposito.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Deposito.text, attr: { for: Deposito.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Deposito.val, valueUpdate: 'afterkeydown', attr: { maxlength: Deposito.maxlength, id : Deposito.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Deposito.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Rua.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Rua.text, attr: { for: Rua.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Rua.val, valueUpdate: 'afterkeydown', attr: { maxlength: Rua.maxlength, id : Rua.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Rua.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Bloco.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Bloco.text, attr: { for: Bloco.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Bloco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Bloco.maxlength, id : Bloco.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Bloco.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Posicao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Posicao.text, attr: { for: Posicao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Posicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Posicao.maxlength, id : Posicao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" data-bind="attr: { id: Posicao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: Abreviacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Abreviacao.text, attr: { for: Abreviacao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Abreviacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Abreviacao.maxlength, id : Abreviacao.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i> <span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-hdr">
            <h2>Formulário de Cadastro</h2>
        </div>
        <div class="panel-container">
            <div class="panel-content">
                <form>
                    <ul id="knockoutBreadcrumbs" class="nav nav-steps">
                        <li data-bind="click: Etapa1.eventClick, attr: {id: Etapa1.id}">
                            <button class="active" data-bs-target="#step-deposito" data-bs-toggle="tab">
                                <span class="step">1</span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-bind="click: Etapa2.eventClick, attr: {id: Etapa2.id}">
                            <button data-bs-target="#step-rua" data-bs-toggle="tab">
                                <span class="step">2</span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                        <li data-bind="click: Etapa3.eventClick, attr: {id: Etapa3.id}">
                            <button data-bs-target="#step-bloco" data-bs-toggle="tab">
                                <span class="step">3</span>
                                <span class="title" data-bind="text: Etapa3.text"></span>
                            </button>
                        </li>
                        <li data-step="4" data-target=".step-posicao" data-bind="click: Etapa4.eventClick, attr: {id: Etapa4.id}">
                            <button data-bs-target="#step-posicao" data-bs-toggle="tab">
                                <span class="step">4</span>
                                <span class="title" data-bind="text: Etapa4.text"></span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="step-deposito" class="tab-pane active">
                            <div id="knockoutDeposito">
                                <h3>Depósitos</h3>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Depositos.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="col col-lg-6">
                                        <h4>Cadastro</h4>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: CodigoIntegracao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3" data-bind="visible: Ativo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: NumeroUnidadeImpressao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: NumeroUnidadeImpressao.text, attr: { for: NumeroUnidadeImpressao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: NumeroUnidadeImpressao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroUnidadeImpressao.maxlength, id : NumeroUnidadeImpressao.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                                            <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                                            <button class="btn btn-default ms-2" type="button" data-bind="click: Etiqueta.eventClick, visible: Etiqueta.visible, text: Etiqueta.text, attr: { id : Etiqueta.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-rua" class="tab-pane">
                            <div id="knockoutRua">
                                <h3>Rua</h3>
                                <div class="row">
                                    <div class="col-12">
                                        <table>
                                            <tbody>
                                                <tr data-bind="visible: Deposito.visible">
                                                    <td>
                                                        <b>Depósito:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Deposito.text"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Ruas.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="well margin-bottom-10">
                                            <h4>Cadastro</h4>
                                            <div class="row">
                                                <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                        <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                                        <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                                                <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                                                <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                                                <button class="btn btn-success ms-2" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-bloco" class="tab-pane">
                            <div id="knockoutBloco">
                                <h3>Bloco</h3>
                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-12">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Depósito:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Deposito.text"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Rua:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Rua.text"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Blocos.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h4>Cadastro</h4>
                                        <div class="row">
                                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                                            <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-posicao" class="tab-pane">
                            <div id="knockoutPosicao">
                                <h3>Posição</h3>
                                <div class="row">
                                    <div class="col-12">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Depósito:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Deposito.text"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Rua:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Rua.text"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Bloco:</b>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: Bloco.text"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Posicoes.idGrid}" cellspacing="0"></table>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h4>Cadastro</h4>
                                        <div class="row">
                                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8" data-bind="visible: ProdutoEmbarcador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                                                        <div class="input-group-append">
                                                            <button  class="btn btn-primary" type="button" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: QuantidadePaletsMaximo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: QuantidadePaletsMaximo.text, attr: { for: QuantidadePaletsMaximo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: QuantidadePaletsMaximo.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadePaletsMaximo.maxlength, id : QuantidadePaletsMaximo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: MetroCubicoMaximo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: MetroCubicoMaximo.text, attr: { for: MetroCubicoMaximo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: MetroCubicoMaximo.val, valueUpdate: 'afterkeydown', attr: { maxlength: MetroCubicoMaximo.maxlength, id : MetroCubicoMaximo.id}" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: PesoMaximo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: PesoMaximo.text, attr: { for: PesoMaximo.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: PesoMaximo.val, valueUpdate: 'afterkeydown', attr: { maxlength: PesoMaximo.maxlength, id : PesoMaximo.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                                            <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                                            <button class="btn btn-primary ms-2" type="button" data-bind="click: Etiqueta.eventClick, visible: Etiqueta.visible, text: Etiqueta.text, attr: { id : Etiqueta.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                                            <button class="btn btn-success ms-2" type="button" data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer id="knockoutNavegacao"></footer>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    /*CORRECAO DE CSS*/
    .fuelux .wizard .steps-container {
        border-radius: 4px 4px 0 0;
        overflow: hidden;
    }

    .fuelux .wizard .step-content {
        border-top: 1px solid #cccccc;
        padding: 10px;
        float: left;
        width: 100%;
    }
</style>
<script src="~/scripts/wmsdeposito"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadInitDeposito();
    });

</script>

