
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">Recebimento Mercadoria</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Recebimento de Mercadorias
        </h1>
    </div>

    <div id="knockoutPesquisaRecebimentoMercadoria">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar Recebimento de Mercadorias
                    </button>
                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-3" data-bind="visible: Data.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Carga.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: MDFe.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: MDFe.text, attr: { for: MDFe.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: MDFe.requiredClass, value: MDFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: MDFe.maxlength, id : MDFe.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MDFe.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: TipoRecebimento.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TipoRecebimento.text, attr: { for: TipoRecebimento.id }"></label>
                                        <select class="form-control" data-bind="class: TipoRecebimento.requiredClass, options: TipoRecebimento.options, optionsText: 'text', optionsValue: 'value', value: TipoRecebimento.val, attr: { maxlength: TipoRecebimento.maxlength, id : TipoRecebimento.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: ProdutoEmbarcador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroNota.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroNota.text, attr: { for: NumeroNota.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroNota.requiredClass, value: NumeroNota.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNota.maxlength, id : NumeroNota.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Usuario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}" />
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <div class="widget-body">
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-3" id="wid-id-4">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item" id="liTabRecebimentoMercadoria">
                        <a href="#tabRecebimentoMercadoria" class="nav-link active" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Principal</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liTabMercadoria">
                        <a href="#tabMercadoria" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Mercadorias</span>
                        </a>
                    </li>
                    <li class="nav-item" id="litabVolume" style="display: none">
                        <a href="#tabVolume" class="nav-link" data-bs-toggle="tab">
                            <span class="hidden-mobile hidden-tablet">Volumes</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabRecebimentoMercadoria" role="tabpanel">
                        <form novalidate class="row" id="knockoutCadastroRecebimentoMercadoria">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Situacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id},enable: Situacao.enable"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: TipoRecebimento.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoRecebimento.text, attr: { for: TipoRecebimento.id }"></label>
                                                    <select class="form-control" data-bind="class: TipoRecebimento.requiredClass, options: TipoRecebimento.options, optionsText: 'text', optionsValue: 'value', value: TipoRecebimento.val, attr: { maxlength: TipoRecebimento.maxlength, id : TipoRecebimento.id},enable: TipoRecebimento.enable"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Veiculo.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id},enable: Veiculo.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Usuario.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Usuario.text, attr: { for: Usuario.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Usuario.requiredClass, value: Usuario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Usuario.maxlength, id : Usuario.id}, enable: Usuario.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Usuario.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: ProdutoEmbarcador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id} ,enable: ProdutoEmbarcador.enable"/>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Carga.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}, enable: Carga.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: MDFe.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: MDFe.text, attr: { for: MDFe.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: MDFe.requiredClass, value: MDFe.val, valueUpdate: 'afterkeydown', attr: { maxlength: MDFe.maxlength, id : MDFe.id}, enable: MDFe.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MDFe.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Empresa.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlength: Empresa.maxlength, id : Empresa.id}, enable: Empresa.enable" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }, enable: Observacao.enable"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12" data-bind="visible: Chave.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Chave.text, attr: { for: Chave.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: Chave.requiredClass, value: Chave.val, valueUpdate: 'afterkeydown', attr: { maxlength: Chave.maxlength, id : Chave.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-success waves-effect waves-themed" data-bind="attr: { id: Chave.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-6" id="divDropzone">
                                <div class="card">

                                    <div class="card-body">
                                        <div action="/file-upload" data-bind="enable: Dropzone.enable, attr: { id: Dropzone.id}" class="dropzone" style="height:200px; overflow-y:scroll">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple data-bind="enable: Pedido.enable" />
                                            </div>
                                        </div>
                                        <div class="progress progress-striped" style="visibility:hidden; margin-top:10px; margin-bottom:0px;">
                                            <div class="progress-bar active bg-color-teal" role="progressbar" data-bind="attr: { id: Dropzone.idTab}" style="width: 0%;"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tabMercadoria" role="tabpanel">
                        <form novalidate id="knockoutMercadoria">
                            <div class="row">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.idGrid}" cellspacing="0"></table>

                                <div class="col-12">
                                    <div class="form-group">
                                        <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}, enable: Adicionar.enable">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tabVolume" role="tabpanel">
                        <form novalidate id="knockoutVolume">
                            <div class="row">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.idGrid}" cellspacing="0"></table>
                                <div class="col-12 col-md-6" data-bind="visible: CodigoBarras.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoBarras.text, attr: { for: CodigoBarras.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: CodigoBarras.requiredClass, value: CodigoBarras.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoBarras.maxlength, id : CodigoBarras.id}, enable: CodigoBarras.enable" />

                                            <div class="input-group-append" data-bind="visible: LerCodigoBarrasCamera.visible">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: LerCodigoBarrasCamera.eventClick, enable: LerCodigoBarrasCamera.enable" type="button" aria-label="Buscar">
                                                    <i class="fal fa-camera"></i>
                                                </button>
                                            </div>

                                            <div class="input-group-append" data-bind="visible: CodigoBarras.visible">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: CodigoBarras.eventClick, enable: CodigoBarras.enable" type="button" aria-label="Buscar">
                                                    <i class="fal fa-plus"></i> Conferir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="col-12 d-flex justify-content-end" style="margin-top:27px">
                                        <button class="btn btn-primary me-2" type="button" data-bind="click: AdicionarVolume.eventClick, visible: AdicionarVolume.visible, attr: { value: AdicionarVolume.text, id : AdicionarVolume.id}, enable: AdicionarVolume.enable">
                                            <span data-bind="text: AdicionarVolume.text"></span>
                                        </button>
                                        <button class="btn btn-warning me-2" type="button" data-bind="click: ImprimirEtiquetas.eventClick, visible: ImprimirEtiquetas.visible, attr: { value: ImprimirEtiquetas.text, id : ImprimirEtiquetas.id}">
                                            <span data-bind="text: ImprimirEtiquetas.text"></span>
                                        </button>
                                        <button class="btn btn-danger me-2" type="button" data-bind="click: AutorizarVolumes.eventClick, visible: AutorizarVolumes.visible, attr: { value: AutorizarVolumes.text, id : AutorizarVolumes.id}, enable: AutorizarVolumes.enable">
                                            <span data-bind="text: AutorizarVolumes.text"></span>
                                        </button>
                                        <button class="btn btn-default me-2" type="button" data-bind="click: VolumesFaltantes.eventClick, visible: VolumesFaltantes.visible, attr: { value: VolumesFaltantes.text, id : VolumesFaltantes.id}">
                                            <span data-bind="text: VolumesFaltantes.text"></span>
                                        </button>

                                        <button class="btn btn-default me-2" type="button" data-bind="click: ImprimirEtiquetaPallet.eventClick, visible: ImprimirEtiquetaPallet.visible, attr: { value: ImprimirEtiquetaPallet.text, id : ImprimirEtiquetaPallet.id}">
                                            <span data-bind="text: ImprimirEtiquetaPallet.text"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3" id="knockoutCRUDRecebimentoMercadoria">
                    <div class="d-flex">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i>
                        </button>
                    </div>

                    <div class="d-flex justify-content-end">

                        <button type="button" class="btn btn-success me-2" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                            <i class="fal fa-spinner"></i>
                        </button>
                        <button class="btn btn-warning" type="button" data-bind="click: Finalizar.eventClick, visible: Finalizar.visible, attr: { value: Finalizar.text, id : Finalizar.id}">
                            <span data-bind="text: Finalizar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="divAdicionarMercadoria" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutAdicionarMercadoria" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Lançamento de Mercadoria </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: NumeroLote.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: NumeroLote.text, attr: { for: NumeroLote.id }"></label>
                        <input type="text" class="form-control" data-bind="class: NumeroLote.requiredClass, value: NumeroLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroLote.maxlength, id : NumeroLote.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: CodigoBarras.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: CodigoBarras.text, attr: { for: CodigoBarras.id }"></label>
                        <input type="text" class="form-control" data-bind="class: CodigoBarras.requiredClass, value: CodigoBarras.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoBarras.maxlength, id : CodigoBarras.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DataVencimento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataVencimento.text, attr: { for: DataVencimento.id }"></label>
                        <input type="text" class="form-control" data-bind="class: DataVencimento.requiredClass, value: DataVencimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataVencimento.maxlength, id : DataVencimento.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: ValorUnitario.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorUnitario.text, attr: { for: ValorUnitario.id }"></label>
                        <input type="text" class="form-control" data-bind="class: ValorUnitario.requiredClass, value: ValorUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorUnitario.maxlength, id : ValorUnitario.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: QuantidadeLote.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: QuantidadeLote.text, attr: { for: QuantidadeLote.id }"></label>
                        <input type="text" class="form-control" data-bind="class: QuantidadeLote.requiredClass, value: QuantidadeLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeLote.maxlength, id : QuantidadeLote.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: QuantidadePalet.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: QuantidadePalet.text, attr: { for: QuantidadePalet.id }"></label>
                        <input type="text" class="form-control" data-bind="class: QuantidadePalet.requiredClass, value: QuantidadePalet.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadePalet.maxlength, id : QuantidadePalet.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: MetroCubico.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: MetroCubico.text, attr: { for: MetroCubico.id }"></label>
                        <input type="text" class="form-control" data-bind="class: MetroCubico.requiredClass, value: MetroCubico.val, valueUpdate: 'afterkeydown', attr: { maxlength: MetroCubico.maxlength, id : MetroCubico.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: Peso.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Peso.text, attr: { for: Peso.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Peso.requiredClass, value: Peso.val, valueUpdate: 'afterkeydown', attr: { maxlength: Peso.maxlength, id : Peso.id}" />
                    </div>
                </div>

                <div class="col-12 col-md-4" data-bind="visible: Produto.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: ProdutoEmbarcador.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: ProdutoEmbarcador.requiredClass, value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DepositoPosicao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DepositoPosicao.text, attr: { for: DepositoPosicao.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: DepositoPosicao.requiredClass, value: DepositoPosicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DepositoPosicao.maxlength, id : DepositoPosicao.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DepositoPosicao.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer row">
                <div class="col-12 justify-content-end d-flex">
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}, enable: Adicionar.enable">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div> 
        </div>
    </div>
</div>

<div id="divAdicionarVolume" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knoutAdicionarVolume" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lançamento de Volume </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 col-md-12" data-bind="visible: FilialEmissora.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: FilialEmissora.text, attr: { for: FilialEmissora.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: FilialEmissora.requiredClass,enable: FilialEmissora.enable, value: FilialEmissora.val, valueUpdate: 'afterkeydown', attr: { maxlength: FilialEmissora.maxlength, id : FilialEmissora.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FilialEmissora.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: Remetente.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Remetente.text, attr: { for: Remetente.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Remetente.requiredClass, enable: Remetente.enable, value: Remetente.val, valueUpdate: 'afterkeydown', attr: { maxlength: Remetente.maxlength, id : Remetente.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Remetente.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-bind="visible: Destinatario.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Destinatario.text, attr: { for: Destinatario.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: Destinatario.requiredClass,enable: Destinatario.enable, value: Destinatario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Destinatario.maxlength, id : Destinatario.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Destinatario.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: Descricao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass,enable: Descricao.enable, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Numero.requiredClass,enable: Numero.enable, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: Serie.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Serie.text, attr: { for: Serie.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Serie.requiredClass,enable: Serie.enable, value: Serie.val, valueUpdate: 'afterkeydown', attr: { maxlength: Serie.maxlength, id : Serie.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: DataEmissaoNF.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DataEmissaoNF.text, attr: { for: DataEmissaoNF.id }"></label>
                        <input type="text" class="form-control" data-bind="class: DataEmissaoNF.requiredClass,enable: DataEmissaoNF.enable, value: DataEmissaoNF.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataEmissaoNF.maxlength, id : DataEmissaoNF.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: DepositoPosicao.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: DepositoPosicao.text, attr: { for: DepositoPosicao.id }"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="css: DepositoPosicao.requiredClass,enable: DepositoPosicao.enable, value: DepositoPosicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: DepositoPosicao.maxlength, id : DepositoPosicao.id}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DepositoPosicao.idBtnSearch}" type="button" aria-label="Buscar">
                                    <i class="fal fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: QuantidadeLote.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: QuantidadeLote.text, attr: { for: QuantidadeLote.id }"></label>
                        <input type="text" class="form-control" data-bind="class: QuantidadeLote.requiredClass,enable: QuantidadeLote.enable, value: QuantidadeLote.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeLote.maxlength, id : QuantidadeLote.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: QuantidadeConferida.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: QuantidadeConferida.text, attr: { for: QuantidadeConferida.id }"></label>
                        <input type="text" class="form-control" data-bind="class: QuantidadeConferida.requiredClass, enable: QuantidadeConferida.enable, value: QuantidadeConferida.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeConferida.maxlength, id : QuantidadeConferida.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: QuantidadeFaltante.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: QuantidadeFaltante.text, attr: { for: QuantidadeFaltante.id }"></label>
                        <input type="text" class="form-control" data-bind="class: QuantidadeFaltante.requiredClass, enable: QuantidadeFaltante.enable, value: QuantidadeFaltante.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeFaltante.maxlength, id : QuantidadeFaltante.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: Peso.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Peso.text, attr: { for: Peso.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Peso.requiredClass, enable: Peso.enable, value: Peso.val, valueUpdate: 'afterkeydown', attr: { maxlength: Peso.maxlength, id : Peso.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: Altura.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Altura.text, attr: { for: Altura.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Altura.requiredClass,enable: Altura.enable, value: Altura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Altura.maxlength, id : Altura.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: Largura.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Largura.text, attr: { for: Largura.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Largura.requiredClass,enable: Largura.enable, value: Largura.val, valueUpdate: 'afterkeydown', attr: { maxlength: Largura.maxlength, id : Largura.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: Comprimento.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: Comprimento.text, attr: { for: Comprimento.id }"></label>
                        <input type="text" class="form-control" data-bind="class: Comprimento.requiredClass,enable: Comprimento.enable, value: Comprimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Comprimento.maxlength, id : Comprimento.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-3" data-bind="visible: MetroCubico.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: MetroCubico.text, attr: { for: MetroCubico.id }"></label>
                        <input type="text" class="form-control" data-bind="class: MetroCubico.requiredClass,enable: MetroCubico.enable, value: MetroCubico.val, valueUpdate: 'afterkeydown', attr: { maxlength: MetroCubico.maxlength, id : MetroCubico.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-4" data-bind="visible: TipoUnidade.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: TipoUnidade.text, attr: { for: TipoUnidade.id }"></label>
                        <input type="text" class="form-control" data-bind="class: TipoUnidade.requiredClass,enable: TipoUnidade.enable, value: TipoUnidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoUnidade.maxlength, id : TipoUnidade.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: PesoBruto.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: PesoBruto.text, attr: { for: PesoBruto.id }"></label>
                        <input type="text" class="form-control" data-bind="class: PesoBruto.requiredClass, enable: PesoBruto.enable, value: PesoBruto.val, valueUpdate: 'afterkeydown', attr: { maxlength: PesoBruto.maxlength, id : PesoBruto.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: PesoLiquido.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: PesoLiquido.text, attr: { for: PesoLiquido.id }"></label>
                        <input type="text" class="form-control" data-bind="class: PesoLiquido.requiredClass, enable: PesoLiquido.enable, value: PesoLiquido.val, valueUpdate: 'afterkeydown', attr: { maxlength: PesoLiquido.maxlength, id : PesoLiquido.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: ValorMercadoria.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorMercadoria.text, attr: { for: ValorMercadoria.id }"></label>
                        <input type="text" class="form-control" data-bind="class: ValorMercadoria.requiredClass, enable: ValorMercadoria.enable, value: ValorMercadoria.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorMercadoria.maxlength, id : ValorMercadoria.id}" />
                    </div>
                </div>
                <div class="col-12 col-md-2" data-bind="visible: ValorNF.visible">
                    <div class="form-group">
                        <label class="form-label" data-bind="text: ValorNF.text, attr: { for: ValorNF.id }"></label>
                        <input type="text" class="form-control" data-bind="class: ValorNF.requiredClass,enable: ValorNF.enable, value: ValorNF.val, valueUpdate: 'afterkeydown', attr: { maxlength: ValorNF.maxlength, id : ValorNF.id}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
           
                    <button class="btn btn-success" type="button" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}, enable: Adicionar.enable">
                        <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de leitura de código de barras -->
<div id="livestream_scanner" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Leitor de código de barras</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="body-modal-camera">
                <canvas id="canvas-camera" hidden style="width: 100%;"></canvas>
                <div id="interactive" class="viewport"></div>
                <div class="error" id="erro-camera"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js" integrity="sha512-bCsBoYoW6zE0aja5xcIyoCDPfT27+cGr7AOCqelttLVRGay6EKGQbR6wm6SUcUGOMGXJpj+jrIpMS6i80+kZPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>

<script src="~/scripts/dropzone"></script>
<script src="~/scripts/recebimentoMercadoria"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRecebimentoMercadoria();
    });

</script>


