
<section>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">WMS</li>
        <li class="breadcrumb-item active">RegraDescarteLoteProduto</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Regras Autorização Descarte Lote Produto
        </h1>

    </div>

    <div class="panel">
        <div class="panel-container">
            <div id="knockoutPesquisaRegraDescarteLoteProduto" class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i> Pesquisar Regras de autorização
                </button>
                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind=" css: Descricao.requiredClassvalue,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-4" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-4" data-bind="visible: DataFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4" data-bind="visible: Aprovador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Aprovador.text, attr: { for: Aprovador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Aprovador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Aprovador.maxlength, id : Aprovador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Aprovador.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end mb-3">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>

            </div>

        </div>
    </div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tabRegra" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Regra</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasProdutoEmbarcador" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Produto Embarcador</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasDeposito" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Depósito Armazenamento</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasRua" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Rua Armazenamento</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasBloco" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Bloco Armazenamento</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasPosicao" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Posição Armazenamento</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabRegrasQuantidade" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">Quantidade </span></a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div id="tabRegra" class="tab-pane fade active show">
                        <form id="knockoutCadastroRegraDescarteLoteProduto">
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: Descricao.val, class: Descricao.requiredClass,valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: Vigencia.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Vigencia.text, attr: { for: Vigencia.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: Vigencia.val, valueUpdate: 'afterkeydown', attr: { maxlength: Vigencia.maxlength, id : Vigencia.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-3" data-bind="visible: NumeroAprovadores.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroAprovadores.text, attr: { for: NumeroAprovadores.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: NumeroAprovadores.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroAprovadores.maxlength, id : NumeroAprovadores.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                        <textarea class="form-control" rows="5" type="text" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card" data-bind="visible: GridAprovadores.visible">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h3 class="card-title">Aprovador</h3>
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: GridAprovadores.idBtnSearch, text: GridAprovadores.text }">
                                                <i class="fal fa-plus"></i><span data-bind="text: GridAprovadores.text"></span>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridAprovadores.idGrid}" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="tabRegrasProdutoEmbarcador" class="tab-pane fade">
                        <div id="knockoutRegraProdutoEmbarcador">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorProdutoEmbarcador.val, attr: { name: UsarRegraPorProdutoEmbarcador.id, id: UsarRegraPorProdutoEmbarcador.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorProdutoEmbarcador.text, attr: { for: UsarRegraPorProdutoEmbarcador.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: ProdutoEmbarcador.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ProdutoEmbarcador.text, attr: { for: ProdutoEmbarcador.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: ProdutoEmbarcador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ProdutoEmbarcador.maxlength, id : ProdutoEmbarcador.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: ProdutoEmbarcador.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabRegrasDeposito" class="tab-pane fade padding-10 no-padding-bottom">
                        <div id="knockoutRegraDeposito">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorDeposito.val, attr: { name: UsarRegraPorDeposito.id, id: UsarRegraPorDeposito.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorDeposito.text, attr: { for: UsarRegraPorDeposito.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Deposito.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Deposito.text, attr: { for: Deposito.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: Deposito.val, valueUpdate: 'afterkeydown', attr: { maxlength: Deposito.maxlength, id : Deposito.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Deposito.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabRegrasRua" class="tab-pane fade padding-10 no-padding-bottom">
                        <div id="knockoutRegraRua">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorRua.val, attr: { name: UsarRegraPorRua.id, id: UsarRegraPorRua.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorRua.text, attr: { for: UsarRegraPorRua.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Rua.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Rua.text, attr: { for: Rua.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: Rua.val, valueUpdate: 'afterkeydown', attr: { maxlength: Rua.maxlength, id : Rua.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Rua.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabRegrasBloco" class="tab-pane fade padding-10 no-padding-bottom">
                        <div id="knockoutRegraBloco">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorBloco.val, attr: { name: UsarRegraPorBloco.id, id: UsarRegraPorBloco.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorBloco.text, attr: { for: UsarRegraPorBloco.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Bloco.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Bloco.text, attr: { for: Bloco.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: Bloco.val, valueUpdate: 'afterkeydown', attr: { maxlength: Bloco.maxlength, id : Bloco.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Bloco.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabRegrasPosicao" class="tab-pane fade padding-10 no-padding-bottom">
                        <div id="knockoutRegraPosicao">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorPosicao.val, attr: { name: UsarRegraPorPosicao.id, id: UsarRegraPorPosicao.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorPosicao.text, attr: { for: UsarRegraPorPosicao.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12" data-bind="visible: Posicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Posicao.text, attr: { for: Posicao.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="value: Posicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Posicao.maxlength, id : Posicao.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Posicao.idBtnSearch}">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabRegrasQuantidade" class="tab-pane fade padding-10 no-padding-bottom">
                        <div id="knockoutRegraQuantidade">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: UsarRegraPorQuantidade.val, attr: { name: UsarRegraPorQuantidade.id, id: UsarRegraPorQuantidade.id }">
                                <label class="custom-control-label" data-bind="text: UsarRegraPorQuantidade.text, attr: { for: UsarRegraPorQuantidade.id }"></label>
                            </div>
                            <hr />
                            <div class="row exchange" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                                <div class="col-12 col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-md-6" data-bind="visible: Condicao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Condicao.text, attr: { for: Condicao.id }"></label>
                                                    <select class="form-control" data-bind="options: Condicao.options, optionsText: 'text', optionsValue: 'value', value: Condicao.val, attr: { id : Condicao.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6" data-bind="visible: Juncao.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Juncao.text, attr: { for: Juncao.id }"></label>
                                                    <select class="form-control" data-bind="options: Juncao.options, optionsText: 'text', optionsValue: 'value', value: Juncao.val, attr: { id : Juncao.id}"></select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-12" data-bind="visible: Quantidade.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: Quantidade.text"></label>
                                                    <input type="text" class="form-control" data-bind="class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                                <i class="fal fa-times"></i><span data-bind="text: Excluir.text"></span>
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                                            </button>
                                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="form-label" data-bind="text: Regras.text"></h3>
                                    <div data-bind="attr: { id:Alcadas.idGrid}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="knockoutCRUDRegras" class="d-flex justify-content-between mt-3">
                        <div class="col-md-6">
                            <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                            </button>
                           
                        </div>
                        <div class="d-flex col-md-6 justify-content-end">
                            <button class="btn btn-danger me-2" type="button" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <i class="fal fa-check"></i><span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


























<script src="~/scripts/regraDescarteLoteProduto"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRegraDescarteLoteProduto();

    });

</script>

