
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Compras</li>
        <li class="breadcrumb-item active"> Ordem Compra</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Ordem de Compra
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(1743)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>


    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaOrdem">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Ordem de Compra
                    </button>

                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataGeracaoInicio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataGeracaoInicio.text, attr: { for: DataGeracaoInicio.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataGeracaoInicio.requiredClass, value: DataGeracaoInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoInicio.maxlength, id : DataGeracaoInicio.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataGeracaoFim.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataGeracaoFim.text, attr: { for: DataGeracaoFim.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataGeracaoFim.requiredClass, value: DataGeracaoFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataGeracaoFim.maxlength, id : DataGeracaoFim.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataRetornoInicio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataRetornoInicio.text, attr: { for: DataRetornoInicio.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataRetornoInicio.requiredClass, value: DataRetornoInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetornoInicio.maxlength, id : DataRetornoInicio.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataRetornoFim.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataRetornoFim.text, attr: { for: DataRetornoFim.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataRetornoFim.requiredClass, value: DataRetornoFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetornoFim.maxlength, id : DataRetornoFim.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-6" data-bind="visible: Fornecedor.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Operador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Operador.text, attr: { for: Operador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Operador.requiredClass, value: Operador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Operador.maxlength, id : Operador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Operador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Produto.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroCotacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroCotacao.text, attr: { for: NumeroCotacao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroCotacao.requiredClass, value: NumeroCotacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroCotacao.maxlength, id : NumeroCotacao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: NumeroRequisicao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: NumeroRequisicao.text, attr: { for: NumeroRequisicao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: NumeroRequisicao.requiredClass, value: NumeroRequisicao.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroRequisicao.maxlength, id : NumeroRequisicao.id}" />
                                    </div>
                                </div>
                            </div>
                            <footer class="d-flex justify-content-between mb-3">
                                <div class="d-flex justify-content-start">
                                    <button class="btn btn-success me-2" type="button" data-bind="click: LoteOrdemCompra.eventClick, attr: { id: LoteOrdemCompra.id}">
                                        <i class="fal fa-plus"></i><span data-bind="text: LoteOrdemCompra.text"></span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-default ms-2" type="button" data-bind="click: ImportarLicenca.eventClick, attr: { id: ImportarLicenca.id}">
                                        <i class="fal fa-plus"></i><span data-bind="text: ImportarLicenca.text"></span>
                                    </button>
                                    <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                        <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                    </button>
                                    <button data-bind="visible: ImportarRequisicao.visible, enable: ImportarRequisicao.enable, attr: { id : ImportarRequisicao.idBtnSearch}" class="btn btn-success btnPesquisarFiltroPesquisa ms-2" type="button">
                                        <i class="fal fa-copy"></i><span data-bind="text: ImportarRequisicao.text"></span>
                                    </button>
                                    <button class="btn btn-success ms-2" type="button" data-bind="click: NovaOrdem.eventClick, attr: { id: NovaOrdem.id}">
                                        <i class="fal fa-plus"></i><span data-bind="text: NovaOrdem.text"></span>
                                    </button>
                                </div>
                            </footer>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>

                        </form>
                    </div>

                </div>
            </div>



        </div>

    </div>
</section>

<div id="ModaisOrdemCompra">
</div>


<script src="~/scripts/ordemCompra"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        _PermissoesPersonalizadas = @Html.Raw(ViewBag.PermissoesPersonalizadas);

        loadTelaOrdemCompra();
    });

</script>

