
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Compras</li>
        <li class="breadcrumb-item active"> Requisição Mercadoria</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Requisição de Mercadoria
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(1741)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>


    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaRequisicaoMercadoria">
                <div data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
                    <button class="btn btn-primary" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i> Pesquisar Requisições
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade" class="mt-3">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataInicio.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: DataFim.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFim.text, attr: { for: DataFim.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFim.requiredClass, value: DataFim.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFim.maxlength, id : DataFim.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Motivo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: FuncionarioRequisitado.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: FuncionarioRequisitado.text, attr: { for: FuncionarioRequisitado.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: FuncionarioRequisitado.requiredClass, value: FuncionarioRequisitado.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioRequisitado.maxlength, id : FuncionarioRequisitado.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioRequisitado.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-bind="visible: Veiculo.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mb-3">
                                <button class="btn btn-primary ms-2" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                                </button>
                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="wid-id-4" class="panel" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Requisição de Mercadoria
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div id="knockoutEtapasRequisicao">
                    <ul class="nav nav-steps">
                        <li data-target="#step1" data-bind="visible : Etapa1.visible">
                            <button class="active" data-bs-target="#tabRequisicao" data-bs-toggle="tab" data-bind="attr: {id : Etapa1.idTab }, click : Etapa1.eventClick, visible : Etapa1.visible">
                                <span class="step" data-bind="attr: {'data-content' : Etapa1.tooltip, 'data-original-title' : Etapa1.tooltipTitle }">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa1.text"></span>
                            </button>
                        </li>
                        <li data-target="#step2" data-bind="visible : Etapa2.visible">
                            <button data-bs-target="#knockoutAprovacao" data-bs-toggle="tab" data-bind="attr: {id : Etapa2.idTab }, click : Etapa2.eventClick">
                                <span class="step" data-bind="attr: {'data-content' : Etapa2.tooltip, 'data-original-title' : Etapa2.tooltipTitle }">
                                    <i class="fal fa-check-circle"></i>
                                </span>
                                <span class="title" data-bind="text: Etapa2.text"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <!-- Mercadorias -->
                    <div id="tabRequisicao" class="tab-pane fade show active">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title">Mercadorias</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="knockoutRequisicao">
                                        <div class="col-12 col-md-2" data-bind="visible: Numero.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Numero.text, attr: { for: Numero.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: Numero.enable,class: Numero.requiredClass, value: Numero.val, valueUpdate: 'afterkeydown', attr: { maxlength: Numero.maxlength, id : Numero.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Colaborador.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Colaborador.text, attr: { for: Colaborador.id }"></label>
                                                <input type="text" class="form-control" data-bind="enable: Colaborador.enable,class: Colaborador.requiredClass, value: Colaborador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Colaborador.maxlength, id : Colaborador.id}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3" data-bind="visible: Filial.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: FuncionarioRequisitado.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: FuncionarioRequisitado.text, attr: { for: FuncionarioRequisitado.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: FuncionarioRequisitado.requiredClass, value: FuncionarioRequisitado.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioRequisitado.maxlength, id : FuncionarioRequisitado.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioRequisitado.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Motivo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Motivo.text, attr: { for: Motivo.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Motivo.requiredClass, value: Motivo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Motivo.maxlength, id : Motivo.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Motivo.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Veiculo.maxlength, id : Veiculo.id}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Veiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                            <i class="fal fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2" data-bind="visible: Data.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Data.text, attr: { for: Data.id }"></label>
                                                <input type="text" class="form-control" data-bind="class: Data.requiredClass, value: Data.val, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    <h3 class="card-title">Produtos</h3>
                                                </div>
                                                <div class="card-body" id="knockoutMercadorias">
                                                    <div class="row">
                                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Produtos.id}" cellspacing="0"></table>
                                                        <div class="col-12 col-md-4" data-bind="visible: Produto.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Produto.text, attr: { for: Produto.id }"></label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" data-bind="enable: Produto.enable,css: Produto.requiredClass, value: Produto.val, valueUpdate: 'afterkeydown', attr: { maxlength: Produto.maxlength, id : Produto.id}" />
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Produto.idBtnSearch}" type="button" aria-label="Buscar">
                                                                            <i class="fal fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-1" data-bind="visible: Produto.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                                                                <input type="text" class="form-control" data-bind="enable: Produto.enable,class: Quantidade.requiredClass, value: Quantidade.val, valueUpdate: 'afterkeydown', attr: { maxlength: Quantidade.maxlength, id : Quantidade.id}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-2" data-bind="visible: Produto.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: CustoUnitario.text, attr: { for: CustoUnitario.id }"></label>
                                                                <input type="text" class="form-control" data-bind=" enable: Produto.enable,class: CustoUnitario.requiredClass, value: CustoUnitario.val, valueUpdate: 'afterkeydown', attr: { maxlength: CustoUnitario.maxlength, id : CustoUnitario.id}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-2" data-bind="visible: Produto.visible">
                                                            <div class="form-group">
                                                                <label class="form-label" data-bind="text: CustoTotal.text, attr: { for: CustoTotal.id }"></label>
                                                                <input type="text" class="form-control" data-bind=" enable: Produto.enable,class: CustoTotal.requiredClass, value: CustoTotal.val, valueUpdate: 'afterkeydown', attr: { maxlength: CustoTotal.maxlength, id : CustoTotal.id}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-3" data-bind="visible: Produto.visible">
                                                        <div class="d-flex">
                                                            <button type="button" class="btn btn-labeled btn-default" data-bind="enable: Produto.enable,click: Cancelar.eventClick, visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}">
                                                                <i class="fal fa-ban"></i>
                                                            </button>
                                                        </div>

                                                        <div class="d-flex justify-content-end">
                                                            <button type="button" class="btn btn-danger mx-1 mx-sm-3" data-bind="enable: Produto.enable,click: Excluir.eventClick, visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}">
                                                                <i class="fal fa-trash"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-success ms-2" data-bind="enable: Produto.enable,click: Atualizar.eventClick, visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}">
                                                                <i class="fal fa-check"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-success ms-2" data-loading-text="Aguarde..." data-bind="enable: Produto.enable,click: Adicionar.eventClick, visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}">
                                                                <i class="fal fa-spinner"></i>
                                                            </button>
                                                            <button data-bind="attr: { id: BuscarEstoqueMinimo.idBtnSearch}, visible: BuscarEstoqueMinimo.visible" class="pull-right botaoDentroSmartAdmimForm btn btn-default ms-2">
                                                                <i class="fal fa-barcode"></i> <span data-bind="text: BuscarEstoqueMinimo.text"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 my-3" data-bind="visible: LocalArmazenamento.visible">
                                                        <div class="form-group">
                                                            <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" data-bind="css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                                        <i class="fal fa-search"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="knockoutObservacaoRequisicao">
                                        <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                            <div class="form-group">
                                                <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                                <textarea class="form-control" rows="4" data-bind="value: Observacao.val,enable: Observacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--/ Mercadorias -->
                    <!-- Aprovacao -->
                    <!--/ Mercadorias -->
                    <!-- Aprovacao -->

                    <div class="tab-pane fade" id="knockoutAprovacao">
                        <div class="row">
                            <!-- Exibir Aprovadores -->
                            <div class="col col-sm-12 text-right" data-bind="visible: ExibirAprovadores.visible">
                                <input type="button" data-bind="click: ExibirAprovadores.eventClick, attr: { value: ExibirAprovadores.text, id : ExibirAprovadores.id}" class="botaoDentroSmartAdmimForm btn btn-labeled btn-default margin-bottom-10">
                            </div>
                            <!--/ Exibir Aprovadores  -->
                            <!-- Detalhes -->

                            <div class="col-12 col-md-6" data-bind="visible: PossuiRegras.val">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h3 class="card-title">Detalhes</h3>


                                    </div>
                                    <div class="card-body ">

                                        <div class="row">
                                            <div class="row row-cols-1 col ">
                                                <div class="col">
                                                    <table class="table table-clean table-sm align-self-end">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Solicitante.text"></strong>
                                                                    <span data-bind="text: Solicitante.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: DataSolicitacao.text"></strong>
                                                                    <span data-bind="text: DataSolicitacao.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: AprovacoesNecessarias.text"></strong>
                                                                    <span data-bind="text: AprovacoesNecessarias.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Aprovacoes.text"></strong>
                                                                    <span data-bind="text: Aprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Reprovacoes.text"></strong>
                                                                    <span data-bind="text: Reprovacoes.val"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong data-bind="text: Situacao.text"></strong>
                                                                    <span data-bind="text: Situacao.val"></span>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <!--/ Detalhes -->
                            <!-- Aprovadores -->
                            <div class="col-12 col-md-6" data-bind="visible: PossuiRegras.val">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Regras.idGrid}" cellspacing="0"></table>
                            </div>
                            <!--/ Aprovadores -->
                            <!-- MensagemPadrao -->
                            <div class="col-12 col-md-6" data-bind="visible: !PossuiRegras.val()">
                                <div class="alert alert-warning">
                                    Não foi encontrada nenhuma regra para aprovar a requisição.<br />
                                    A requisição ficará pendente até existir alguma regra de aprovação. Clique em reprocessar regras para verificar.
                                </div>
                            </div>
                            <!--/ MensagemPadrao -->
                        </div>


                        <footer>
                            <input type="button" data-bind="click: ReprocessarRegras.eventClick, visible: !PossuiRegras.val(), attr: { value: ReprocessarRegras.text, id : ReprocessarRegras.id}" class="btn btn-labeled btn-warning" />
                        </footer>



                    </div>

                    <!--/ Aprovacao -->


                    <footer id="knockoutCRUD" class="col-12 d-flex justify-content-end mb-3 mt-3">
                        <input type="button" data-bind="click: Limpar.eventClick, visible: Limpar.visible, attr: { value: Limpar.text, id : Limpar.id}" class="btn btn-labeled btn-default ms-2" />
                        <input type="button" data-bind="click: GerarRequisicao.eventClick, visible: GerarRequisicao.visible, attr: { value: GerarRequisicao.text, id : GerarRequisicao.id}" class="btn btn-labeled btn-success ms-2" />
                        <input type="button" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { value: Cancelar.text, id : Cancelar.id}" class="btn btn-labeled btn-danger ms-2" />
                        <button data-bind="click: Imprimir.eventClick, attr: { id: Imprimir.id}, visible: Imprimir.visible" class="btn btn-labeled btn-primary ms-2" type="button">
                            <i class="fal fa-print"></i><span data-bind="text: Imprimir.text"></span>&nbsp;
                        </button>
                        <input type="button" data-bind="click: AtualizarProdutos.eventClick, visible: AtualizarProdutos.visible, attr: { value: AtualizarProdutos.text, id : AtualizarProdutos.id}" class="btn btn-labeled btn-success ms-3" />
                    </footer>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="divModalDetalhesAutorizacao" class="modal fade" role="dialog" aria-hidden="true">
    <div id="knockoutDetalheAutorizacao" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Autorização</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1">
                    <div class="col">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Regra.text"></strong>
                                        <span data-bind="text: Regra.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Situacao.text"></strong>
                                        <span data-bind="text: Situacao.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Usuario.text"></strong>
                                        <span data-bind="text: Usuario.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Data.text"></strong>
                                        <span data-bind="text: Data.val"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong data-bind="text: Motivo.text"></strong>
                                        <span data-bind="text: Motivo.val"></span>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/requisicaoMercadoria"></script>

<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadRequisicaoMercadoria();
    });

</script>

