@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Pallets</li>
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item active">Controle Reforma Pallet</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Relatório de Controle de Reforma de Pallet
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-search"></i>
                    Relatório
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaControleReformaPallet">
                        <div class="row">

                            <div class="col-12 col-md-3" data-bind="visible: DataInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicio.text, attr: { for: DataInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataInicio.requiredClass, value: DataInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicio.maxlength, id : DataInicio.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: DataLimite.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataLimite.text, attr: { for: DataLimite.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataLimite.requiredClass, value: DataLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataLimite.maxlength, id : DataLimite.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: DataRetornoInicio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRetornoInicio.text, attr: { for: DataRetornoInicio.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRetornoInicio.requiredClass, value: DataRetornoInicio.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetornoInicio.maxlength, id : DataRetornoInicio.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: DataRetornoLimite.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRetornoLimite.text, attr: { for: DataRetornoLimite.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRetornoLimite.requiredClass, value: DataRetornoLimite.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetornoLimite.maxlength, id : DataRetornoLimite.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Nfe.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nfe.text, attr: { for: Nfe.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Nfe.requiredClass, value: Nfe.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nfe.maxlength, id : Nfe.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: NfeRetorno.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NfeRetorno.text, attr: { for: NfeRetorno.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: NfeRetorno.requiredClass, value: NfeRetorno.val, valueUpdate: 'afterkeydown', attr: { maxlength: NfeRetorno.maxlength, id : NfeRetorno.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" data-bind="visible: Fornecedor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" data-bind="visible: ExibirNfs.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ExibirNfs.val, attr: { maxlength: ExibirNfs.maxlength, name: ExibirNfs.id, id: ExibirNfs.id }">
                                        <label class="custom-control-label" data-bind="text: ExibirNfs.text, attr: { for: ExibirNfs.id }"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="row mb-3">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaControleReformaPallet" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">

                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>

                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>

                <div id="knockoutCRUDPesquisaControleReformaPallet" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/controleReformaPallet"></script>

<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadControleReformaPallet();
    });

</script>
