
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frota</li>
    <li class="breadcrumb-item active">Contorle Tacógrafo</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Controle de Tacógrafos
    </h1>
</div>

<div id="knockoutPesquisaControleTacografo">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Controle de Tacógrafos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-2" data-bind="visible: Codigo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Codigo.text, attr: { for: Codigo.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Codigo.requiredClass, value: Codigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataRecebimentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRecebimentoInicial.text, attr: { for: DataRecebimentoInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRecebimentoInicial.requiredClass,  value: DataRecebimentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimentoInicial.maxlength, id : DataRecebimentoInicial.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-2" data-bind="visible: DataRecebimentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataRecebimentoFinal.text, attr: { for: DataRecebimentoFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: DataRecebimentoFinal.requiredClass, value: DataRecebimentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimentoFinal.maxlength, id : DataRecebimentoFinal.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Excesso.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Excesso.text, attr: { for: Excesso.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Excesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: Excesso.maxlength, id : Excesso.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-3" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>

                            <div class="col-6 col-md-6" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Veiculo.requiredClass, value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-6" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="class: Motorista.requiredClass, value: Motorista.val, enable: Motorista.enable, attr: { maxlength: Motorista.maxlength, id: Motorista.id}, event: { blur: Motorista.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Motorista.enable, attr: { id: Motorista.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Cadastrar Controle de Tacógrafo
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row" id="knockoutCadastroControleTacografo">
                    <div class="col-12 col-md-2" data-bind="visible: Codigo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Codigo.text, attr: { for: Codigo.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Codigo.requiredClass, enable: Codigo.enable, value: Codigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2" data-bind="visible: DataRecebimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataRecebimento.text, attr: { for: DataRecebimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataRecebimento.requiredClass, value: DataRecebimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRecebimento.maxlength, id : DataRecebimento.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: DataRetorno.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataRetorno.text, attr: { for: DataRetorno.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataRetorno.requiredClass, value: DataRetorno.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataRetorno.maxlength, id : DataRetorno.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                        </div>
                    </div>

                    <div class="col-6 col-md-4" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="class: Motorista.requiredClass, value: Motorista.val, enable: Motorista.enable, attr: { maxlength: Motorista.maxlength, id: Motorista.id}, event: { blur: Motorista.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Motorista.enable, attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="class: Veiculo.requiredClass, value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                            <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 my-2 " data-bind="visible: Excesso.visible">
                        <div class="form-group">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: Excesso.val, valueUpdate: 'afterkeydown', attr: { name: Excesso.id, id : Excesso.id}">
                                <label class="custom-control-label" data-bind="text: Excesso.text, attr: { for: Excesso.id }"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-md-12">
                        <div class="form-group" data-bind="visible: Observacao.visible">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="5" type="text" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                        </div>
                    </div>

                </div>
                <footer id="knockoutCRUDControleTacografo">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-default ms-2" data-bind="click: GerarLoteTacografo.eventClick, visible: GerarLoteTacografo.visible, attr: { id : GerarLoteTacografo.id}">
                                <span data-bind="text: GerarLoteTacografo.text"></span>
                            </button>
                            
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger me-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-primary waves-effect waves-themed ms-3" data-bind="click: GerarEtiqueta.eventClick, visible: GerarEtiqueta.visible, attr: { id : GerarEtiqueta.id}">
                                <span data-bind="text: GerarEtiqueta.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="knockoutLoteControleTacografo" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lançamento de Lote de Tacógrafo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataRecebimento.text, attr: { for: DataRecebimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataRecebimento.requiredClass, enable: Motorista.enable, value: DataRecebimento.val, attr: { maxlength: DataRecebimento.maxlength, id : DataRecebimento.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>

                    <div class="col-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Quantidade.text, attr: { for: Quantidade.id }"></label>
                            <input type="text" class="form-control" data-bind=" class: Quantidade.requiredClass, enable: Motorista.enable, value: Quantidade.val, attr: { maxlength: Quantidade.maxlength, id : Quantidade.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                            <select class="form-control" data-bind="options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { id : Situacao.id}"></select>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="class: Motorista.requiredClass, value: Motorista.val, enable: Motorista.enable, attr: { maxlength: Motorista.maxlength, id: Motorista.id}, event: { blur: Motorista.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Motorista.enable, attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="class: Veiculo.requiredClass, value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-md-12">
                        <div class="form-group" data-bind="visible: Observacao.visible">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="5" type="text" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex">
                        <button class="btn btn-default me-2" type="button" data-bind="click: Cancelar.eventClick, attr: { id : Cancelar.id}">
                            <span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-labeled btn-success me-2" type="button" data-bind="click: Gerar.eventClick, attr: { id : Gerar.id}">
                            <span data-bind="text: Gerar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/scripts/controleTacografo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadControleTacografo();
    });

</script>

