
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item active">Geração Frota Automatizada</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            Configurações para Geração Automatizada
        </h1>
    </div>

    <div id="knockoutPesquisaConfiguracoesGeracaoAutomatizada">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>Pesquisar Configurações para Geração Automatizada</span>
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-3">
        <div class="panel-container">
            <div class="panel-content" id="knockoutConfiguracoesGeracaoAutomatizada">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tabConfiguracao" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-edit"></i><span class="hidden-mobile hidden-tablet">Configuração</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabFiliais" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-map-marker-alt"></i><span class="hidden-mobile hidden-tablet">Filiais</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabTipoOperacao" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-cog"></i><span class="hidden-mobile hidden-tablet">Tipos de Operação</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#liTabModeloVeicular" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-truck"></i><span class="hidden-mobile hidden-tablet">Modelos Veiculares</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabConfiguracao" role="tabpanel">
                        <form novalidate>
                            <div class="row">
                                <div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="tabFiliais" role="tabpanel">
                        <form novalidate>
                            <button class="btn btn-primary" type="button" data-bind=" attr: { id: Filiais.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: Filiais.text"></span>
                            </button>
                            <div class="mt-2">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Filiais.idGrid}" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="tabTipoOperacao" role="tabpanel">
                        <form novalidate>
                            <button class="btn btn-primary" type="button" data-bind=" attr: { id: TipoOperacoes.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: TipoOperacoes.text"></span>
                            </button>
                            <div class="mt-2">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: TipoOperacoes.idGrid}" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="liTabModeloVeicular" role="tabpanel">
                        <form novalidate>
                            <button class="btn btn-primary" type="button" data-bind="attr: { id: ModeloVeicular.idBtnSearch}">
                                <i class="fal fa-plus"></i><span data-bind="text: ModeloVeicular.text"></span>
                            </button>
                            <div class="mt-2">
                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: ModeloVeicular.idGrid}" cellspacing="0"></table>
                            </div>
                        </form>
                    </div>
                </div>
                <footer class="row mt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                            <i class="fal fa-ban"></i><span data-bind="text: Cancelar.text"></span>
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                            <i class="fal fa-trash"></i><span data-bind="text: Excluir.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                            <i class="fal fa-check"></i><span data-bind="text: Atualizar.text"></span>
                        </button>
                        <button type="button" class="btn btn-labeled btn-success ms-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                            <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>

<div id="divModalGeracaoSugestaoMensal" class="modal fade" role="dialog" aria-hidden="true">
    <div id="myModalLabel" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Gerar Lista Mensal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutGeracaoSugestaoMensal">
                <div class="row">
                    <div class="col-12" data-bind="visible: Ano.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ano.text"></label>
                            <input type="text" class="form-control" data-bind="class: Ano.requiredClass, value: Ano.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ano.maxlength, id : Ano.id}" />
                        </div>
                    </div>
                    <div class="col-12" data-bind="visible: Mes.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Mes.text, attr: { for: Mes.id }"></label>
                            <select class="form-control" data-bind="class: Mes.requiredClass, options: Mes.options, optionsText: 'text', optionsValue: 'value', value: Mes.val, attr: { maxlength: Mes.maxlength, id : Mes.id}"></select>
                        </div>
                    </div>
                </div>

                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Gerar.eventClick, attr: { id : Gerar.id}" class="btn btn-success">
                        <span data-bind="text: Gerar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/geracaoFrotaAutomatizada"></script>
<script type="text/javascript">
    pageSetUp();

    $(document).ready(function () {
        loadGeracaoFrotaAutomatizada();
    });

</script>

