
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item active">Importação Pedágio</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            Importação de Planilhas de Pedágio
        </h1>

    </div>

    <div id="knockoutImportarImportacaoPedagio">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <h3 class="waves-effect waves-themed" data-bind="click: Exibir.eventClick, id: Exibir.id">
                        <i class="fal fa-edit"></i>
                        Importar Planilha...
                    </h3>
                </div>
                <div class="panel-content" data-bind="id: Exibir.idFade, fadeVisible: Exibir.visibleFade">
                    <form>
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center">
                                <span data-bind='component: {name: "import-file", params: { ko: Importar }}'></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="knockoutPesquisaImportacaoPedagio">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-primary waves-effect waves-themed mb-3" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-search"></i>
                        Pesquisar importações
                    </button>
                    <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-2" data-bind="visible: Planilha.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Planilha.text, attr: { for: Planilha.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Planilha.requiredClass, value: Planilha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Planilha.maxlength, id : Planilha.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-3" data-bind="visible: Funcionario.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Funcionario.text, attr: { for: Funcionario.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="css: Funcionario.requiredClass, value: Funcionario.val, valueUpdate: 'afterkeydown', attr: { maxlength: Funcionario.maxlength, id : Funcionario.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Funcionario.idBtnSearch}" type="button" aria-label="Buscar">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-1" data-bind="visible: Situacao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                        <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-2" data-bind="visible: Mensagem.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Mensagem.text, attr: { for: Mensagem.id }"></label>
                                        <input type="text" class="form-control" data-bind="class: Mensagem.requiredClass, value: Mensagem.val, valueUpdate: 'afterkeydown', attr: { maxlength: Mensagem.maxlength, id : Mensagem.id}" />
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="panel">
        <div class="panel-container" id="container-importacao-pedagio-conteudo">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-edit"></i>
                    Importações Realizadas
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div class="row">
                        <div class="widget-body" id="container-importacao-pedido">

                            <table width="100%" class="table table-bordered table-hover" id="grid-importacao-pedagio" cellspacing="0"></table>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</section>

<div id="divModalImportacaoPedagioLinha" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Linhas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="widget-body" id="container-grid-importacao-pedagio-linha">
                            <table width="100%" class="table table-bordered table-hover" id="grid-importacao-pedagio-linha" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalImportacaoPedagioColuna" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Colunas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-body no-padding">
                    <div class="20-content">
                        <div class="widget-body no-padding-bottom" id="container-grid-importacao-pedagio-coluna">
                            <table width="100%" class="table table-bordered table-hover table-condensed table-striped tableCursorMove" id="grid-importacao-pedagio-coluna" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/importacaoPedagio"></script>
<script type="text/javascript">
    pageSetUp();
    $(document).ready(function () {
        loadImportacaoPedagio();
    });
</script>

