

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frota</li>
    <li class="breadcrumb-item active">Lista Diária</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Lista Diária
    </h1>
</div>

<div id="knockoutPesquisaListaDiaria">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-filter"></i> <span data-bind="text: ExibirFiltros.text"></span>
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="row">
                        <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataInicial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataInicial.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: DataFinal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataFinal.text"></label>
                                <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
            <div class="form-group">
                <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                <div class="input-group">
                    <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                    <div class="input-group-append">
                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                            <i class="fal fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
                        <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                <select class="form-control" data-bind="class: Status.requiredClass, options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { maxlength: Status.maxlength, id : Status.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-2" data-bind="visible: SituacaoRota.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: SituacaoRota.text, attr: { for: SituacaoRota.id }"></label>
                                <select class="form-control" data-bind="class: SituacaoRota.requiredClass, options: SituacaoRota.options, optionsText: 'text', optionsValue: 'value', value: SituacaoRota.val, attr: { maxlength: SituacaoRota.maxlength, id : SituacaoRota.id}"></select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Rodizio.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <label class="form-label">&nbsp;</label><p></p>
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: Rodizio.val, valueUpdate: 'afterkeydown', attr: { name: Rodizio.id, id : Rodizio.id}" />
                                    <label class="custom-control-label" data-bind="text: Rodizio.text, attr: { for: Rodizio.id }"></label>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="divVeiculos" style="display: none;">
    <div class="panel-container">
        <div class="panel-hdr">
            <h4>
                <i class="fal fa-table"></i>
                <span id="tab-Veiculos">Veículos</span>
            </h4>
        </div>
        <div class="p-3 border-0 shadow-none">
            <div class="border-0 shadow-none">
                <div class="" id="knockoutPesquisaListaDiariaVeiculos">
                    <button data-bind="visible: AdicionarVeiculo.visible, enable: AdicionarVeiculo.enable, attr: { id: AdicionarVeiculo.idBtnSearch}" class="btn btn-primary mb-3" type="button">
                        <i class="fal fa-plus"></i>
                        <span data-bind="text: AdicionarVeiculo.text"></span>
                    </button>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: AdicionarVeiculo.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalJustificativa" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title">Informar Justificativa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutModalJustificativa">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: JustificativaDeIndisponibilidadeDeFrota.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: JustificativaDeIndisponibilidadeDeFrota.text, attr: { for: JustificativaDeIndisponibilidadeDeFrota.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: JustificativaDeIndisponibilidadeDeFrota.requiredClass, value: JustificativaDeIndisponibilidadeDeFrota.val, valueUpdate: 'afterkeydown', attr: { maxlength: JustificativaDeIndisponibilidadeDeFrota.maxlength, id : JustificativaDeIndisponibilidadeDeFrota.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: JustificativaDeIndisponibilidadeDeFrota.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Confirmar.eventClick, attr: { id : Confirmar.id}" class="btn btn-success">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>


@*Modal Replicar placa para todos os dias do mes ou intervalo de dias:*@

<div class="modal fade" id="divModalReplicar" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloModalReplicar">Replicar veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutModalReplicarVeiculo">
                <div class="row">

                    <div class="col-6 col-md-6" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>

                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Confirmar.eventClick, attr: { id : Confirmar.id}" class="btn btn-success">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>


@*Modal Excluir: *@

<div class="modal fade" id="divModalExcluir" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloModalExcluir">Excluir veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutModalExcluir">
                <div class="row">

                    <div class="col-6 col-md-6" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>

                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Confirmar.eventClick, attr: { id : Confirmar.id}" class="btn btn-success">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>



@* Modal Editar (observação): *@

<div class="modal fade" id="divModalEditar" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title">Editar veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutModalEditar">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoTransportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ObservacaoTransportador.text, attr: { for: ObservacaoTransportador.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ObservacaoTransportador.requiredClass, value: ObservacaoTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoTransportador.maxlength, id : ObservacaoTransportador.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoMarfrig.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ObservacaoMarfrig.text, attr: { for: ObservacaoMarfrig.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ObservacaoMarfrig.requiredClass, value: ObservacaoMarfrig.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoMarfrig.maxlength, id : ObservacaoMarfrig.id}" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: RotaDeConhecimento.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: RotaDeConhecimento.text, attr: { for: RotaDeConhecimento.id }"></label>
                            <input type="text" class="form-control" data-bind="class: RotaDeConhecimento.requiredClass, value: RotaDeConhecimento.val, valueUpdate: 'afterkeydown', attr: { maxlength: RotaDeConhecimento.maxlength, id : RotaDeConhecimento.id}" />
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Confirmar.eventClick, attr: { id : Confirmar.id}" class="btn btn-success">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/listaDiariaFrota"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadListaDiaria();
    });

</script>

