
<style>
    #knockoutProgramacaoVeiculo.ocultarPaginacao .dt-toolbar-footer {
        display: none
    }
</style>
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frota</li>
    <li class="breadcrumb-item active">Porgramação Veículo TMS</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Programação de Veículo
    </h1>
</div>

<div>
    <div class="panel" id="knockoutPesquisaProgramacaoVeiculoTMS">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Veículos
                </button>
                <div data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row mt-3">
                            <div class="col-4 col-md-2">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NumeroFrota.text, attr: { for: NumeroFrota.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: NumeroFrota.val, attr: { maxlength: NumeroFrota.maxlength, id : NumeroFrota.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-3" data-bind="visible: Reboque.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Reboque.text, attr: { for: Reboque.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Reboque.val, enable: Reboque.enable, attr: { maxlength: Reboque.maxlength, id: Reboque.id}, event: { blur: Reboque.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Reboque.enable, attr: { id: Reboque.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-3" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ModeloVeicular.val, enable: ModeloVeicular.enable, attr: { maxlength: ModeloVeicular.maxlength, id: ModeloVeicular.id}, event: { blur: ModeloVeicular.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : ModeloVeicular.enable, attr: { id: ModeloVeicular.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: ProgramacaoSituacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProgramacaoSituacao.text, attr: { for: ProgramacaoSituacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: ProgramacaoSituacao.val, enable: ProgramacaoSituacao.enable, attr: { maxlength: ProgramacaoSituacao.maxlength, id: ProgramacaoSituacao.id}, event: { blur: ProgramacaoSituacao.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : ProgramacaoSituacao.enable, attr: { id: ProgramacaoSituacao.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Motorista.val, enable: Motorista.enable, attr: { maxlength: Motorista.maxlength, id: Motorista.id}, event: { blur: Motorista.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Motorista.enable, attr: { id: Motorista.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-4" data-bind="visible: Estado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Estado.text, attr: { for: Estado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Estado.val, enable: Estado.enable, attr: { maxlength: Estado.maxlength, id: Estado.id}, event: { blur: Estado.eventChange }, valueUpdate: 'afterkeydown'" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Estado.enable, attr: { id: Estado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: FuncionarioResponsavelCavalo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioResponsavelCavalo.text, attr: { for: FuncionarioResponsavelCavalo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FuncionarioResponsavelCavalo.requiredClass, value: FuncionarioResponsavelCavalo.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioResponsavelCavalo.maxlength, id : FuncionarioResponsavelCavalo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioResponsavelCavalo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: MarcaCavalo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MarcaCavalo.text, attr: { for: MarcaCavalo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: MarcaCavalo.requiredClass, value: MarcaCavalo.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaCavalo.maxlength, id : MarcaCavalo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaCavalo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCadastroPlanejamentoInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCadastroPlanejamentoInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCadastroPlanejamentoInicial.requiredClass, value: DataCadastroPlanejamentoInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCadastroPlanejamentoInicial.maxlength, id : DataCadastroPlanejamentoInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataCadastroPlanejamentoFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataCadastroPlanejamentoFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataCadastroPlanejamentoFinal.requiredClass, value: DataCadastroPlanejamentoFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataCadastroPlanejamentoFinal.maxlength, id : DataCadastroPlanejamentoFinal.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataDisponibilidadeInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataDisponibilidadeInicial.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataDisponibilidadeInicial.requiredClass, value: DataDisponibilidadeInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDisponibilidadeInicial.maxlength, id : DataDisponibilidadeInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DataDisponibilidadeFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataDisponibilidadeFinal.text"></label>
                                    <input type="text" class="form-control" data-bind="class: DataDisponibilidadeFinal.requiredClass, value: DataDisponibilidadeFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataDisponibilidadeFinal.maxlength, id : DataDisponibilidadeFinal.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" id="knockoutProgramacaoVeiculoTMS">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>Veículo</h3>
            </div>
            <div class="panel-content">
                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: ProgramacaoVeiculo.idGrid}" cellspacing="0"></table>

                    <div class="d-flex justify-content-end mt-3 mb-3">
                        <button class="btn btn-success" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                           <span data-bind="text: Adicionar.text"></span>
                        </button>
                    </div>

                    <div class="tab-content border p-3">
                        <div id="knockoutCarga" class="tab-pane fade active show">
                            <h3>Sumarizadores</h3>
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <table class="table table-clean table-sm align-self-end">
                                        <tbody>
                                            <!-- ko foreach: Status -->
                                            <tr>
                                                <td>
                                                    <strong data-bind="text: $data.Descricao"></strong>
                                                </td>
                                                <td>
                                                    <span data-bind="text: $data.Quantidade"></span>
                                                </td>
                                            </tr>
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="divModalProgramacaoVeiculoTMS" role="dialog" aria-hidden="true">
    <div id="knoutProgramacaoVeiculoTMS" class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Programação do Veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-md-6" data-bind="visible: Veiculo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: Veiculo.val, enable: Veiculo.enable, attr: { maxlength: Veiculo.maxlength, id: Veiculo.id}, event: { blur: Veiculo.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Veiculo.enable, attr: { id: Veiculo.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: Motorista.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: Motorista.val, enable: Motorista.enable, attr: { maxlength: Motorista.maxlength, id: Motorista.id}, event: { blur: Motorista.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : Motorista.enable, attr: { id: Motorista.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: CidadeEstado.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: CidadeEstado.text, attr: { for: CidadeEstado.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: CidadeEstado.val, enable: CidadeEstado.enable, attr: { maxlength: CidadeEstado.maxlength, id: CidadeEstado.id}, event: { blur: CidadeEstado.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : CidadeEstado.enable, attr: { id: CidadeEstado.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" data-bind="visible: ProgramacaoSituacao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ProgramacaoSituacao.text, attr: { for: ProgramacaoSituacao.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="value: ProgramacaoSituacao.val, enable: ProgramacaoSituacao.enable, attr: { maxlength: ProgramacaoSituacao.maxlength, id: ProgramacaoSituacao.id}, event: { blur: ProgramacaoSituacao.eventChange }, valueUpdate: 'afterkeydown'" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable : ProgramacaoSituacao.enable, attr: { id: ProgramacaoSituacao.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataDisponivelInicio.text, attr: { for: DataDisponivelInicio.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataDisponivelInicio.val, attr: { maxlength: DataDisponivelInicio.maxlength, id : DataDisponivelInicio.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataDisponivelFim.text, attr: { for: DataDisponivelFim.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DataDisponivelFim.val, attr: { maxlength: DataDisponivelFim.maxlength, id : DataDisponivelFim.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>

                    <div class="col-4 col-md-6">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Folga.text, attr: { for: Folga.id }"></label>
                            <input type="text" class="form-control" data-bind="value: Folga.val, attr: { maxlength: Folga.maxlength, id : Folga.id} , valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="form-group" data-bind="visible: Observacao.visible">
                            <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                            <textarea class="form-control" rows="5" type="text" data-bind="class: Observacao.requiredClass, value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success me-2" type="button" data-bind="click: Salvar.eventClick, attr: { id : Salvar.id}">
                       <span data-bind="text: Salvar.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/programacaoVeiculoTMS"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadProgramacaoVeiculoTMS();
    });

</script>