

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Frota</li>
    <li class="breadcrumb-item active">Rodízio de Placas</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        Rodízio de Placas
    </h1>
</div>

<div id="knockoutPesquisaRodizio">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    Pesquisar Rodízio de Placas
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="row">
                        <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2" data-bind="visible: FinalDaPlaca.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: FinalDaPlaca.text"></label>
                                <input type="text" class="form-control" data-bind="class: FinalDaPlaca.requiredClass, value: FinalDaPlaca.val, valueUpdate: 'afterkeydown', attr: { maxlength: FinalDaPlaca.maxlength, id : FinalDaPlaca.id}" />
                            </div>
                        </div>
                      
                        <div class="col-12 col-md-2" data-bind="visible: DiaDaSemana.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DiaDaSemana.text, attr: { for: DiaDaSemana.id }"></label>
                                <select class="form-control" data-bind="class: DiaDaSemana.requiredClass, options: DiaDaSemana.options, optionsText: 'text', optionsValue: 'value', value: DiaDaSemana.val, attr: { maxlength: DiaDaSemana.maxlength, id : DiaDaSemana.id}"></select>
                            </div>
                        </div>


                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" id="divEditarRodizio" style="display: none;">
    <div class="panel-container">
    
        <div class="panel-content border border-top-0">
            <div class="tab-pane fade show active in padding-10 no-padding-bottom" id="knockoutEditarRodizio" role="tabpanel" aria-labelledby="tab-Rodizio">

                <div class="row">

                    <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: DiaDaSemana.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DiaDaSemana.text, attr: { for: DiaDaSemana.id }"></label>
                            <select class="form-control" data-bind="class: DiaDaSemana.requiredClass, options: DiaDaSemana.options, optionsText: 'text', optionsValue: 'value', value: DiaDaSemana.val, attr: { maxlength: DiaDaSemana.maxlength, id : DiaDaSemana.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: FinaisPlacas.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: FinaisPlacas.text"></label>
                            <input type="text" class="form-control" data-bind="class: FinaisPlacas.requiredClass, value: FinaisPlacas.val, valueUpdate: 'afterkeydown', attr: { maxlength: FinaisPlacas.maxlength, id : FinaisPlacas.id}" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <div class="panel-footer p-3 d-flex justify-content-end gap-3" id="knockoutCRUDEditarRodizio">
                <button class="btn btn-secondary" type="button" data-bind="visible: Cancelar.visible, click: Cancelar.eventClick, attr: { id: Cancelar.id}">
                    <span data-bind="text: Cancelar.text"></span>
                </button>

                <button class="btn btn-danger" type="button" data-bind="visible: Excluir.visible, click: Excluir.eventClick, attr: { id: Excluir.id}">
                    <span data-bind="text: Excluir.text"></span>
                </button>

                <button class="btn btn-info" type="button" data-bind="visible: Salvar.visible, click: Salvar.eventClick, attr: { id: Salvar.id}">
                    <span data-bind="text: Salvar.text"></span>
                </button>
            </div>
        </footer>
    </div>
</div>

<script src="~/scripts/rodizioPlacas"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadRodizioPlacas();
    });

</script>

