
<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Frota</li>
        <li class="breadcrumb-item active">Sugestão Mensal</li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            Sugestão Mensal
        </h1>
    </div>

    <div id="knockoutPesquisaSugestaoMensal">
        <div class="panel">
            <div class="panel-container">
                <div class="panel-content">
                    <button class="btn btn-default waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                        <i class="fal fa-filter"></i> <span>Pesquisar Sugestão</span>
                    </button>

                    <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                        <form class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Filial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2" data-bind="visible: Ano.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ano.text"></label>
                                    <input type="text" class="form-control" data-bind="class: Ano.requiredClass, value: Ano.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ano.maxlength, id : Ano.id}" />
                                </div>
                            </div>
                            <div class="col-6 col-md-2" data-bind="visible: Mes.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Mes.text, attr: { for: Mes.id }"></label>
                                    <select class="form-control" data-bind="class: Mes.requiredClass, options: Mes.options, optionsText: 'text', optionsValue: 'value', value: Mes.val, attr: { maxlength: Mes.maxlength, id : Mes.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Transportador.requiredClass, value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOperacao.text, attr: { for: TipoOperacao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoOperacao.requiredClass, value: TipoOperacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoOperacao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeicular.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeicular.text, attr: { for: ModeloVeicular.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloVeicular.requiredClass, value: ModeloVeicular.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicular.maxlength, id : ModeloVeicular.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicular.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: Situacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Situacao.text, attr: { for: Situacao.id }"></label>
                                    <select class="form-control" data-bind="class: Situacao.requiredClass, options: Situacao.options, optionsText: 'text', optionsValue: 'value', value: Situacao.val, attr: { maxlength: Situacao.maxlength, id : Situacao.id}"></select>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <button class="btn btn-warning ms-2" type="button" data-bind="visible: AdicionarSugestaoMensal.visible, click: AdicionarSugestaoMensal.eventClick, attr: { id: AdicionarSugestaoMensal.id}">
                                <i class="fal fa-plus"></i><span data-bind="text: AdicionarSugestaoMensal.text"></span>
                            </button>
                            <button class="btn btn-primary ms-2 waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                                <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                            </button>
                        </div>
                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;" id="container-dados-sugestao-mensal">
        <div class="col-xs-12 mb-4">
            <span><b>Legendas:</b> </span>
            <div class="badge legend legenda-cor-azul">
                <b>Pendente</b>
            </div>
            <div class="badge legend legenda-cor-verde">
                <b>Confirmado</b>
            </div>
            <div class="badge legend legenda-cor-vermelha">
                <b>Rejeitado</b>
            </div>
        </div>

        <div class="panel">
            <div class="panel-container">
                <div class="panel-hdr">
                    <h4>
                        <i class="fal fa-table"></i>
                        Veículos
                    </h4>
                </div>
                <div class="p-3 border-0 shadow-none">
                    <div class="border-0 shadow-none">
                        <div class="" id="knockoutSugestaoMensal">
                            <button data-bind="enable: Veiculo.enable, attr: { id: Veiculo.idBtnSearch}" class="btn btn-primary mb-3" type="button">
                                <i class="fal fa-plus"></i>
                                <span data-bind="text: Veiculo.text"></span>
                            </button>

                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                        </div>
                        <footer class="d-flex justify-content-end mt-3" id="knockoutCRUDSugestaoMensal">
                            <button class="btn btn-secondary ms-2" type="button" data-bind="visible: CancelarAlteracoes.visible, click: CancelarAlteracoes.eventClick, attr: { id: CancelarAlteracoes.id}">
                                <span data-bind="text: CancelarAlteracoes.text"></span>
                            </button>
                            <button class="btn btn-info ms-2" type="button" data-bind="visible: PublicarParaEmbarcador.visible, click: PublicarParaEmbarcador.eventClick, attr: { id: PublicarParaEmbarcador.id}">
                                <span data-bind="text: PublicarParaEmbarcador.text"></span>
                            </button>
                            <button class="btn btn-info ms-2" type="button" data-bind="visible: PublicarParaTransportador.visible, click: PublicarParaTransportador.eventClick, attr: { id: PublicarParaTransportador.id}">
                                <span data-bind="text: PublicarParaTransportador.text"></span>
                            </button>
                            <button class="btn btn-warning ms-2" type="button" data-bind="visible: GerarListaDiaria.visible, click: GerarListaDiaria.eventClick, attr: { id: GerarListaDiaria.id}">
                                <span data-bind="text: GerarListaDiaria.text"></span>
                            </button>
                            <button class="btn btn-success ms-2" type="button" data-bind="visible: SalvarAlteracoes.visible, click: SalvarAlteracoes.eventClick, attr: { id: SalvarAlteracoes.id}">
                                <span data-bind="text: SalvarAlteracoes.text"></span>
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Modal Editar: *@

<div class="modal fade" id="divModalEditar" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content well-no-padding">
            <div class="modal-header">
                <h4 class="modal-title">Editar veículo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutModalEditar">
                <div class="row">
                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoMarfrig.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ObservacaoMarfrig.text, attr: { for: ObservacaoMarfrig.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ObservacaoMarfrig.requiredClass, value: ObservacaoMarfrig.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoMarfrig.maxlength, id : ObservacaoMarfrig.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12" data-bind="visible: ObservacaoTransportador.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ObservacaoTransportador.text, attr: { for: ObservacaoTransportador.id }"></label>
                            <input type="text" class="form-control" data-bind="class: ObservacaoTransportador.requiredClass, value: ObservacaoTransportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: ObservacaoTransportador.maxlength, id : ObservacaoTransportador.id}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6" data-bind="visible: Rejeitar.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <p></p>
                                <input type="checkbox" class="custom-control-input" data-bind="checked: Rejeitar.val, valueUpdate: 'afterkeydown', attr: { name: Rejeitar.id, id : Rejeitar.id}" />
                                <label class="custom-control-label" data-bind="text: Rejeitar.text, attr: { for: Rejeitar.id }"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Confirmar.eventClick, attr: { id : Confirmar.id}" class="btn btn-success">
                        <span data-bind="text: Confirmar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<div id="divModalSugestaoMensalAdicionar" class="modal fade" role="dialog" aria-hidden="true">
    <div id="myModalLabel" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Sugestão Mensal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="knockoutSugestaoMensalAdicionar">
                <div class="row">
                    <div class="col-12 col-lg-6" data-bind="visible: Filial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Filial.text, attr: { for: Filial.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Filial.requiredClass, value: Filial.val, valueUpdate: 'afterkeydown', attr: { maxlength: Filial.maxlength, id : Filial.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Filial.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6" data-bind="visible: ModeloVeicularCarga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ModeloVeicularCarga.text, attr: { for: ModeloVeicularCarga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: ModeloVeicularCarga.requiredClass, value: ModeloVeicularCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeicularCarga.maxlength, id : ModeloVeicularCarga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeicularCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: Ano.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Ano.text"></label>
                            <input type="text" class="form-control" data-bind="class: Ano.requiredClass, value: Ano.val, valueUpdate: 'afterkeydown', attr: { maxlength: Ano.maxlength, id : Ano.id}" />
                        </div>
                    </div>
                    <div class="col-6" data-bind="visible: Mes.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Mes.text, attr: { for: Mes.id }"></label>
                            <select class="form-control" data-bind="class: Mes.requiredClass, options: Mes.options, optionsText: 'text', optionsValue: 'value', value: Mes.val, attr: { maxlength: Mes.maxlength, id : Mes.id}"></select>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="card-title">Veículos</h3>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn  btn-primary mb-2 mt-2" data-bind="attr: { id: Veiculo.idBtnSearch}">
                            <span data-bind="text: Veiculo.text"></span>
                        </button>
                        <section class="insideNoPaddignTable" style="margin-bottom: 0px;">
                            <table width="100%" class="table table-bordered table-hover table-condensed" data-bind="attr: {id: Veiculo.idGrid}" cellspacing="0"></table>
                        </section>
                    </div>
                </div>

                <footer class="d-flex justify-content-end mt-3">
                    <button type="button" data-bind="click: Adicionar.eventClick, attr: { id : Adicionar.id}" class="btn btn-success">
                        <span data-bind="text: Adicionar.text"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModalRetornoSugestaoMensalAdicionarVeiculo" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Retorno dos Veículos Adicionados</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="widget-body">
                        <table width="100%" class="table table-bordered table-hover" id="grid-sugestao-mensal-retorno-adicionar-veiculo" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .legenda-cor-azul {
        background-color: #91a8ee;
        color: #1c41b0;
    }

    .legenda-cor-verde {
        background-color: #80ff80;
        color: #009900;
    }

    .legenda-cor-vermelha {
        background-color: #ff6666;
        color: #b30000;
    }

    .item-selecionado {
        background-color: #bdbdbd !important;
        border-color: #adadad !important;
    }

        .item-selecionado td {
            color: #333333 !important;
        }
</style>

<script src="~/scripts/sugestaoMensal"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadSugestaoMensal();
    });

</script>

