@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item">Frotas</li>
        <li class="breadcrumb-item active">Manutenção Veículo</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-truck"></i> Relatório Manutenção de Veículos
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    Relatórios
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaManutencaoVeiculo">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Veiculo.text, maxlength: Veiculo.maxlength, id: Veiculo.id, name: Veiculo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Veiculo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Servico.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Servico.text, attr: { for: Servico.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Servico.requiredClass, value: Servico.val, valueUpdate: 'afterkeydown', attr: { maxlength: Servico.maxlength, id : Servico.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Servico.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: LocalManutencao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: LocalManutencao.text, attr: { for: LocalManutencao.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: LocalManutencao.requiredClass, value: LocalManutencao.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalManutencao.maxlength, id : LocalManutencao.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: LocalManutencao.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoManutencao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoManutencao.text, attr: { for: TipoManutencao.id }"></label>
                                    <select class="form-control" data-bind="class: TipoManutencao.requiredClass, options: TipoManutencao.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TipoManutencao.val, attr: { maxlength: TipoManutencao.maxlength, id : TipoManutencao.id}" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Equipamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Equipamento.text, attr: { for: Equipamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Equipamento.requiredClass, value: Equipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: Equipamento.maxlength, id : Equipamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Equipamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoRelatorio.maxlength, id : TipoRelatorio.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoRelatorio.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-2" data-bind="visible: KMAtual.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: KMAtual.text, attr: { for: KMAtual.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: KMAtual.requiredClass, value: KMAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: KMAtual.maxlength, id : KMAtual.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: HorimetroAtual.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: HorimetroAtual.text, attr: { for: HorimetroAtual.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: HorimetroAtual.requiredClass, value: HorimetroAtual.val, valueUpdate: 'afterkeydown', attr: { maxlength: HorimetroAtual.maxlength, id : HorimetroAtual.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloVeiculo.text, attr: { for: ModeloVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloVeiculo.requiredClass, value: ModeloVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloVeiculo.maxlength, id : ModeloVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: MarcaVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MarcaVeiculo.text, attr: { for: MarcaVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: MarcaVeiculo.requiredClass, value: MarcaVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaVeiculo.maxlength, id : MarcaVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: SegmentoVeiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SegmentoVeiculo.text, attr: { for: SegmentoVeiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: SegmentoVeiculo.requiredClass, value: SegmentoVeiculo.val, valueUpdate: 'afterkeydown', attr: { maxlength: SegmentoVeiculo.maxlength, id : SegmentoVeiculo.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: SegmentoVeiculo.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: ModeloEquipamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ModeloEquipamento.text, attr: { for: ModeloEquipamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: ModeloEquipamento.requiredClass, value: ModeloEquipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: ModeloEquipamento.maxlength, id : ModeloEquipamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: ModeloEquipamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: MarcaEquipamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MarcaEquipamento.text, attr: { for: MarcaEquipamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: MarcaEquipamento.requiredClass, value: MarcaEquipamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: MarcaEquipamento.maxlength, id : MarcaEquipamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: MarcaEquipamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: FuncionarioResponsavel.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: FuncionarioResponsavel.text, attr: { for: FuncionarioResponsavel.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: FuncionarioResponsavel.requiredClass, value: FuncionarioResponsavel.val, valueUpdate: 'afterkeydown', attr: { maxlength: FuncionarioResponsavel.maxlength, id : FuncionarioResponsavel.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: FuncionarioResponsavel.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroResultado.maxlength, id : CentroResultado.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CentroResultado.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: VisualizarSomenteVeiculosAtivos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizarSomenteVeiculosAtivos.val, attr: { maxlength: VisualizarSomenteVeiculosAtivos.maxlength, name: VisualizarSomenteVeiculosAtivos.id, id: VisualizarSomenteVeiculosAtivos.id }">
                                        <label class="custom-control-label" data-bind="text: VisualizarSomenteVeiculosAtivos.text, attr: { for: VisualizarSomenteVeiculosAtivos.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: VisualizarServicosPendentesManutencao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizarServicosPendentesManutencao.val, attr: { maxlength: VisualizarServicosPendentesManutencao.maxlength, name: VisualizarServicosPendentesManutencao.id, id: VisualizarServicosPendentesManutencao.id }">
                                        <label class="custom-control-label" data-bind="text: VisualizarServicosPendentesManutencao.text, attr: { for: VisualizarServicosPendentesManutencao.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: VisualizarSomenteServicosExecutadosAnteriormente.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizarSomenteServicosExecutadosAnteriormente.val, attr: { maxlength: VisualizarSomenteServicosExecutadosAnteriormente.maxlength, name: VisualizarSomenteServicosExecutadosAnteriormente.id, id: VisualizarSomenteServicosExecutadosAnteriormente.id }">
                                        <label class="custom-control-label" data-bind="text: VisualizarSomenteServicosExecutadosAnteriormente.text, attr: { for: VisualizarSomenteServicosExecutadosAnteriormente.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: VisualizarVeiculosEquipamentosAcoplados.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizarVeiculosEquipamentosAcoplados.val, attr: { maxlength: VisualizarVeiculosEquipamentosAcoplados.maxlength, name: VisualizarVeiculosEquipamentosAcoplados.id, id: VisualizarVeiculosEquipamentosAcoplados.id }">
                                        <label class="custom-control-label" data-bind="text: VisualizarVeiculosEquipamentosAcoplados.text, attr: { for: VisualizarVeiculosEquipamentosAcoplados.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa ms-1" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaManutencaoVeiculo" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary ms-1 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa ms-1" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaManutencaoVeiculo" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success ms-1" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success ms-1" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/manutencaoVeiculo"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        loadRelatorioManutencaoVeiculo();
    });

</script>