@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage

<section id="widget-grid" class="">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">{Localize::Relatorios.Frotas.Motorista.Relatorios}</li>
        <li class="breadcrumb-item">{Localize::Relatorios.Frotas.Motorista.Frotas}</li>
        <li class="breadcrumb-item active">{Localize::Gerais.Geral.Motorista}</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            {Localize::Relatorios.Frotas.Motorista.RelatorioMotorista}
        </h1>
    </div>
    <div id="divConteudoRelatorio" class="panel">
        <div class="panel-container">
            <div class="panel-hdr">
                <h3>
                    <i class="fal fa-file-alt"></i>
                    {Localize::Relatorios.Frotas.Motorista.Relatorios}
                </h3>
            </div>
            <div class="panel-content">
                <form>
                    <div id="knockoutPesquisaMotorista">
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Motorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Motorista.text, attr: { for: Motorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Motorista.requiredClass, value: Motorista.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Motorista.text, maxlength: Motorista.maxlength, id: Motorista.id, name: Motorista.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Motorista.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text, attr: { for: Nome.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Nome.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: CPF.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CPF.text, attr: { for: CPF.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: CPF.val, valueUpdate: 'afterkeydown', attr: { maxlength: CPF.maxlength, id : CPF.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Veiculo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Veiculo.text, attr: { for: Veiculo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Veiculo.requiredClass, value: Veiculo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Veiculo.text, maxlength: Veiculo.maxlength, id: Veiculo.id, name: Veiculo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Veiculo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Codigo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Codigo.text, attr: { for: Codigo.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Codigo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Codigo.maxlength, id : Codigo.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoMotorista.text, attr: { for: TipoMotorista.id }"></label>
                                    <select class="form-control" data-bind="class: TipoMotorista.requiredClass, options: TipoMotorista.options, optionsText: 'text', optionsValue: 'value', value: TipoMotorista.val, attr: { maxlength: TipoMotorista.maxlength, id : TipoMotorista.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: SituacaoColaborador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: SituacaoColaborador.text, attr: { for: SituacaoColaborador.id }"></label>
                                    <select class="form-control" data-bind="options: SituacaoColaborador.options, optionsText: 'text', optionsValue: 'value', value: SituacaoColaborador.val, attr: { id : SituacaoColaborador.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Licenca.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Licenca.text, attr: { for: Licenca.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Licenca.requiredClass, value: Licenca.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Licenca.text, maxlength: Licenca.maxlength, id: Licenca.id, name: Licenca.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Licenca.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: CentroResultado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CentroResultado.text, attr: { for: CentroResultado.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: CentroResultado.requiredClass, value: CentroResultado.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': CentroResultado.text, maxlength: CentroResultado.maxlength, id: CentroResultado.id, name: CentroResultado.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroResultado.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Aposentadoria.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Aposentadoria.text, attr: { for: Aposentadoria.id }"></label>
                                    <select class="form-control" data-bind="options: Aposentadoria.options, optionsText: 'text', optionsValue: 'value', value: Aposentadoria.val, attr: { id : Aposentadoria.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: TipoRelatorio.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoRelatorio.text, attr: { for: TipoRelatorio.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoRelatorio.requiredClass, value: TipoRelatorio.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoRelatorio.text, maxlength: TipoRelatorio.maxlength, id: TipoRelatorio.id, name: TipoRelatorio.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoRelatorio.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="id: Visible.idFade, fadeVisible: Visible.visibleFade">
                            <div class="col-12 col-md-4" data-bind="visible: CargoMotorista.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CargoMotorista.text, attr: { for: CargoMotorista.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: CargoMotorista.val, valueUpdate: 'afterkeydown', attr: { maxlength: CargoMotorista.maxlength, id : CargoMotorista.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: CargoMotorista.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Transportador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Transportador.text, attr: { for: Transportador.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="value: Transportador.val, valueUpdate: 'afterkeydown', attr: { maxlength: Transportador.maxlength, id : Transportador.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Transportador.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Gestor.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Gestor.text, attr: { for: Gestor.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: Gestor.requiredClass, value: Gestor.val, valueUpdate: 'afterkeydown', attr: { maxlength: Gestor.maxlength, id : Gestor.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Gestor.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: Bloqueado.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Bloqueado.text, attr: { for: Bloqueado.id }"></label>
                                    <select class="form-control" data-bind="options: Bloqueado.options, optionsText: 'text', optionsValue: 'value', value: Bloqueado.val, enable: Bloqueado.enable,  attr: { id : Bloqueado.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: UsuarioMobile.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UsuarioMobile.text, attr: { for: UsuarioMobile.id }"></label>
                                    <select class="form-control" data-bind="class: UsuarioMobile.requiredClass, options: UsuarioMobile.options, optionsText: 'text', optionsValue: 'value', value: UsuarioMobile.val, attr: { maxlength: UsuarioMobile.maxlength, id : UsuarioMobile.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: NaoBloquearAcessoSimultaneo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: NaoBloquearAcessoSimultaneo.text, attr: { for: NaoBloquearAcessoSimultaneo.id }"></label>
                                    <select class="form-control" data-bind="class: NaoBloquearAcessoSimultaneo.requiredClass, options: NaoBloquearAcessoSimultaneo.options, optionsText: 'text', optionsValue: 'value', value: NaoBloquearAcessoSimultaneo.val, attr: { maxlength: NaoBloquearAcessoSimultaneo.maxlength, id : NaoBloquearAcessoSimultaneo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row ">
                    <div id="knockoutCRUDConfiguracaoRelatorio" class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="enable: ExibirConfiguracoes.enable, click: ExibirConfiguracoes.eventClick, attr: { id: ExibirConfiguracoes.id}" type="button">
                            <i data-bind="css: ExibirConfiguracoes.icon"></i><span data-bind="text: ExibirConfiguracoes.text"></span>
                        </button>
                    </div>
                    <div id="knockoutCRUDFiltrosPesquisaMotorista" class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <button class="btn btn-primary me-3 btnPesquisarFiltroPesquisa" data-bind="click: BuscaAvancada.eventClick, attr: { id: BuscaAvancada.id}" type="button">
                            <i data-bind="attr: { class: BuscaAvancada.icon}" class="fal fa-plus"></i><span data-bind="text: BuscaAvancada.text"></span>
                        </button>
                        <button class="btn btn-primary btnPesquisarFiltroPesquisa" data-bind="click: Preview.eventClick, attr: { id: Preview.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Preview.text"></span>
                        </button>
                    </div>
                </div>
                <div id="divConfigRelatorio"></div>
                <table id="gridPreviewRelatorio" class="table table-bordered table-hover table-condensed table-striped" width="100%" cellspacing="0"></table>
                <div id="knockoutCRUDPesquisaMotorista" class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-success me-3" data-bind="click: GerarRelatorioExcel.eventClick, attr: { id: GerarRelatorioExcel.id}" type="button">
                        <i class="fal fa-file-excel"></i><span data-bind="text: GerarRelatorioExcel.text"></span>
                    </button>
                    <button class="btn btn-success" data-bind="click: GerarRelatorioPDF.eventClick, attr: { id: GerarRelatorioPDF.id}" type="button">
                        <i class="fal fa-file-pdf"></i><span data-bind="text: GerarRelatorioPDF.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/relatorios/scripts/motorista"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Relatorios.Frotas.Motorista").then(loadRelatorioMotorista);
    });

</script>

